[2015-04-24 15:54] rothskeller opened #1 "<input size="10"> is not big enough to hold 10 characters"
Try UH4ACP0150 as example input to see this.
Reported from CI Manager USB Key generator, http://crauth.usa.hp.com/cim-usb-key/

[2015-04-24 16:12] rothskeller opened #2 "Need FormField attribute for optional/required"
Users of the [CI Manager USB Key Generator](http://crauth.usa.hp.com/cim-usb-key/) are requesting visual indication of which fields are required and which are optional.  FormField should have an attribute for this that triggers appropriate styling (whatever you decide that is).

[2015-04-25 00:54] rothskeller opened #3 "npm install doesn't work on Windows"
Several folks mentioned to me that the dependency on native builds had been removed so that Grommet could now be successfully installed on Windows.  However, it still fails for me with current Grommet bits (a715b48).  node-sass requires a native build.

[2015-04-26 18:04] rothskeller opened #4 "Need instructions for setting up Grommet dev env"
People building apps on top of Grommet will want to leverage its Flux architecture, router, etc., as well as its build infrastructure.  I believe that was the design intent?  However, there are currently no instructions or examples for how to do so.

[2015-04-26 18:10] rothskeller opened #5 "grommet/examples only work inside the grommet source tree"
Presuming that grommet/examples are intended to be examples that people can copy and modify, they must be standalone, able to be built outside the Grommet source tree, targeting only a Grommet distribution.

Looking at Tour specifically, I see several problems preventing it from being standalone:
- Its gulpfile.js has relative references that assume it's being built along with Grommet.
- Its packa

[2015-04-26 18:12] rothskeller opened #6 "gulp-tasks.js is not included in the Grommet distribution"
A project gulpfile that requires grommet/utils/gulp-tasks, as the examples do, fails because that path does not exist in the Grommet distribution.

[2015-05-01 17:42] rothskeller opened #8 "sudo npm install -g grommet doesn't create /usr/bin/grommet symlink"
Tested on CentOS 6.6.  Console output:

[code]

Note that the equivalent does work for gulp.  The first line shows the creation of the symlink:

[code]

[2015-05-01 18:17] rothskeller opened #9 "unable to use HPE styles in consumer build"
With a consumer build environment set up by "grommet init", I can successfully run "gulp dist" and get a site using default Grommet styles.  But I get problems when trying to use HPE styles.  I attempted this by editing src/scss/init.scss and changing the import from grommet/scss/grommet-core/index.scss to grommet/scss/hpe/index.scss.  Here's the resulting "gulp dist" output:

[code]

[2015-05-01 18:24] #8 closed, assigned to nobody

[2015-05-01 18:25] #6 closed, assigned to nobody

[2015-05-01 18:25] #4 closed, assigned to nobody

[2015-05-01 20:58] donwise opened #10 "Unable to install sample app using npm on windows"
I was able to install grommet successfully on Windows 7, but when I try to build the sample app using npm, I get these build errors:

VCBUILD : error Message:  [c:\Tutorials & Examples\grommet\sample-app\node_modu
les\webpack-dev-server\node_modules\socket.io\node_modules\engine.io\node_modul
es\ws\build\binding.sln]
VCBUILD : error Message:  [c:\Tutorials & Examples\grommet\sample-app\node_modu
l

[2015-05-01 22:32] lx3leong opened #11 "Unable to perform bower step in Getting Started"
I’m trying the Get Started process and I can’t perform the 3. Install Grommet step of the Bower section.
1.  I can install bower using the npm command.
2.  I skipped the proxy step because I am on the intranet using Pulse.
3.  When I execute the Install Grommet step I get the following error:

[code]
4.  So to get around this I manually edited my path in the Node.js command box to add the Git libr

[2015-05-04 13:21] #10 closed, assigned to nobody

[2015-05-05 22:13] coltonw opened #12 "No enforced code style"
Literally the first file I looked at in grommet had mixed spaces and tabs. :sob:

I would seriously consider adding an [.editorconfig](http://editorconfig.org/) file and would **DEFINITELY** add a [.jscsrc](http://jscs.info/) file to enforce consistant code style for contributors.

Just my 2 cents.  Feel free to close this if I am out of line here.

[2015-05-06 18:38] #9 closed, assigned to nobody

[2015-05-13 22:10] #11 closed, assigned to nobody

[2015-05-15 15:57] morphy76 opened #14 "Blocking issue building Grommet components on server side with node"
Hi there

it seems that Grommet as node module fails to refer to React node module

my environment is a little bit messed up:
I was not able to install grommet using npm because my workplace is out of HP network then I used bower. Once gathered grommet with bower I moved it under node_modules and executed 'npm init' to have a package.json file. Finally I edited the package.json file to refer React

[2015-05-15 20:37] #14 closed, assigned to nobody

[2015-05-16 09:03] manotoshsil opened #15 "Gulp fails with 'libsass` bindings not found. Try reinstalling `node-sass`"
Facing issue in building grommet on local windows.

Followed the steps in https://github.com/HewlettPackard/grommet/wiki/Building-Grommet & most of it seemed successfull

But when i tried running  " gulp dev-hpe "  inside the docs  it fails with :--

<pre>[gulp-chug](docs\hpe\gulpfile.tmp.1431766288152.js) [webpack-dev-server] started
: Browse to http://localhost:8003/webpack-dev-server/
[gulp-chu

[2015-05-19 12:25] Thylossus opened #16 "Donut ignores CSS classes assigned to it"
Hi,

the "Donut" component ignores CSS classes assigned to it, e.g. `<Donut className="my-donut-class" series={...} />` will be rendered without the CSS class "my-donut-class".

The Donut's render function doesn't check for CSS classes provided as a property. Most of grommet's components use the following code to take care of the `className` property in their render function:

    if (this.props.c

[2015-05-27 18:29] #5 closed, assigned to nobody

[2015-05-27 18:31] #3 closed, assigned to nobody

[2015-05-28 15:12] tobias-flitsch opened #21 "App css and flush property will bring up scroll bars."
Hi,

the App component has a css property `overflow: auto;`, which will bring up the browser scroll bars if content is too large. As far as I experienced it, this is always the case when setting the `flush={true}` property, e.g. with the Tiles component.

Can we change the `overflow: auto;` to `overflow: hidden;`?

Sorry if this is negligible, I am new to this community.

[2015-05-28 21:11] marlonpp opened #22 "Problem with jslint when executing "gulp dev""
I'm having a problem with jslint when executing `gulp dev`  inside a fresh generated project using `grommet init`.
It's complaining from things like:
/Users/marlon/Workspace/HP/grommet/sample-app/src/js/index.js: line 1, col 29, Strings must use singlequote. (W109)

After some research about JSHint I got this from their docs:

What's happening is that the generated project does not have its own `.

[2015-05-29 18:12] #22 closed, assigned to marlonpp

[2015-06-01 19:24] #12 closed, assigned to nobody

[2015-06-04 00:04] alansouzati opened #27 "gulp tasks fails at scsslint task"
After I've updated my gem scss_lint to version 0.39.0 I can't run gulp tasks anymore. The task fails at the scsslint level with the following log:

[code]

If I revert scss_lint to version 0.38 everything works fine.

[2015-06-04 00:10] marlonpp commented on #27
+1

[2015-06-04 04:27] hpjcu opened #28 ""Cannot read property 'trim' of undefined" while installing the new tour (medium-app)"
Hi Alan, I am having trouble installing the new Tour.

After figuring out that I needed to use a new app name after reading the change log (might want to change the Tour install instructions), I was able to properly export the directory using:

             $ grommet export medium-app sample-app

However, after attempting to run "npm install" in my new "sample-app" directory, I received the follow

[2015-06-04 04:50] alansouzati commented on #28
Thanks for pointing out the issue with the outdated wiki. I've updated that already.

Also, thanks for such detailed logs, great description on the issue. Based on your logs I see you are still using the `grommet.usa.hp.com` server, could you please run the follow command and try again?

`npm config set registry http://registry.npmjs.org/`

[2015-06-04 05:18] hpjcu commented on #28
Alan,

Thanks for the quick reply.

I emailed my response so I could attach the full debug log. It seems to almost get to the end but fails at “webpack”.

Thanks.

Juan

From: Alan Souza [mailto:notifications@github.com]
Sent: Wednesday, June 03, 2015 11:50 PM
To: HewlettPackard/grommet
Cc: Uriarte, Juan (EB IT)
Subject: Re: [grommet] "Cannot read property 'trim' of undefined" while installing the

[2015-06-04 15:29] alansouzati commented on #28
You're welcome to join [Slack](https://grommet.slack.com). For any communication around Grommet.

[2015-06-04 15:30] alansouzati commented on #27
juanfran/gulp-scss-lint#34

[2015-06-04 15:31] alansouzati commented on #27
This was due to an outdated version of gulp-scss-lint. I've updated the package.json accordingly.

[2015-06-04 15:31] #27 closed

[2015-06-04 18:15] alansouzati commented on #28
Also, I believe you are having a proxy issue. Can you try to leave a proxied network and try again?

If you are on Windows you can set the proxy like this `set HTTPS_PROXY=https://server:port`.

[2015-06-04 19:50] hpjcu commented on #28
Hi Alan,

Tried it both ways, no dice (using “set HTTP_PROXY”).

I have also tried it from home where there is no proxy, and then through the VPN to HP, and it didn’t work either.

Note in the debug log (attached), this time it failed prior to “webpack”, when it reached “inuit-clearfix”.  But it IS failing consistently at that file – I tried it several times.

BTW, it didn’t like HTTPS_PROXY at al

[2015-06-04 20:45] alansouzati commented on #28
Yeah, we still have a lot of documentation/features to cover, specially around workflows and patterns. We are in early stages of development, you are welcome to send Pull Request with updated documentation.

I can't see your logs, if you are replying the email you are receiving from GitHub, I believe they don't support attachments. Feel free to ping me on Slack if you need help debugging this issu

[2015-06-05 12:07] nanndoj opened #30 "The default search component is closing fast when mouseup"
The default search functionality

    <Search />

Is open when clicking (mousedown) on search icon, but it's closing fast when the "mouseup" event occur. So we're no able to type in the search input.

Tested on Firefox 38.0.5
Chrome 43.0.2357.81
Internet Explorer 11

[2015-06-05 16:38] alansouzati commented on #28
I found an issue very similar to yours here npm/npm#7984.

Based on my readings there, it seems to be related to an issue with Node version `0.12.2`.

They said that downgrading to `0.12.1` works. But, I also tried with `0.12.4` and it works fine.

[2015-06-05 18:40] manotoshsil commented on #15
I deleted the global node_modules folder & installed grommet from scratch

Now the HPE sample website is up on my local :+1:

[2015-06-05 18:40] #15 closed

[2015-06-05 20:00] mattfarina opened #32 "Enable compression on the website"
The Grommet website could use some compression (gzip/deflate). According to [PageSpeed](https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.grommet.io%2Fdocs%2F&tab=mobile), there is savings to be had on the website.

![image 2015-06-05 at 4 00 10 pm](https://cloud.githubusercontent.com/assets/62991/8014117/fec677f8-0b9b-11e5-84a8-d26e4c36e173.png)

[2015-06-05 20:04] mattfarina opened #33 "Make Slack accessible to everyone"
Right now [Slack access is limited to those with a @hp.com email address](https://grommet.slack.com/signup). Please open this up to all users if it will be the primary form of chat listed in the Readme.

[2015-06-05 20:32] mattfarina opened #34 "Example Server Fails to work"
The server in `examples/server` fails to work. There are several things going on.

1. The README points to an `examples/tour` directory that isn't present. Is that supposed to do something?
2. When you run `gulp dev` and the server starts and you go to `localhost:8000` it tries to redirect to `localhost:8000/docs` which displays the error:

        Error: ENOENT, stat '/docs/dist/index.html'

[2015-06-05 21:23] alansouzati commented on #34
Thanks for sharing that, I will add a wiki page on how to run the server.

[2015-06-05 23:37] nanndoj commented on #30
The problem is fixed by putting `layer: false` on file **src/js/components/Search.js** line 45. But I couldn't find any information about this property on search docs. What would be the impact of this change?

[2015-06-05 23:37] alansouzati commented on #34
Hopefully this is going to be helpful:

https://github.com/HewlettPackard/grommet/wiki/Running-the-example-server

[2015-06-05 23:37] alansouzati commented on #34
FYI, I've fixed the not found issues with the assets.

[2015-06-05 23:39] alansouzati commented on #32
Thanks for your PR @mattfarina

[2015-06-05 23:39] #32 closed

[2015-06-05 23:40] alansouzati commented on #30
@ericsoderberghp, can you provide insight here?

[2015-06-05 23:41] alansouzati commented on #28
As per our talk earlier, updating to `0.12.4` works. So, I'm closing this issue for now.

[2015-06-05 23:41] #28 closed

[2015-06-08 14:23] mattfarina commented on #34
Aside from the issues I listed on the other issue I'm also finding:

1. `gulp-util`, `deprecated`, `vinyl-fs`, `prelude-ls`, `deep-is`, `fast-levenshtein`, `wordwrap`, `type-check`, `event-stream`, `dargs`, `pretty-data`, `xml2js`, `right-align`, `center-align`, `assert`, `buffer`, `console-browserify`, `constants-browserify`, `crypto-browserify`, `domain-browser`, `events`, `http-browserify`, `ht

[2015-06-08 17:50] alansouzati commented on #34
Thanks for the feedbacks @mattfarina. We will work on updating the README of the server app, that's definitely a good idea.

Also, to run the `medium-app` inside the examples folder you need to run an `npm link`. We will work on adding a wiki page that explains how to run the medium-app inside Grommet environment. You can [export](https://github.com/HewlettPackard/grommet/wiki/Exporting-examples-f

[2015-06-09 02:05] alansouzati commented on #34
I've just pushed some changes to the way example apps are handled. Basically I've removed the need to npm link it.

Following your suggestion, I've added a README.md for every sample app we provide.

 Can you try again? Thanks!

[2015-06-10 09:48] DanielZhu opened #38 "Grommet Button cannot be used correctly in the Hello World page"
Hi Grommet Team,

I cloned the project and try to play with the demo 'Hello World'. But during my study time, I met some issues after I modified some simple codes on 'grommet\examples\hello-world\index.html'.
[code]

Case 1 & 2 works fine, but case 3 & 4 cannot display the button. And gave me the error messages in the console(screenshot attached).

![grommet error](https://cloud.githubusercontent.

[2015-06-10 15:44] alansouzati commented on #38
Hi @DanielZhu, thanks for your finding. We have fixed this issue, can you test it again?

By default the button has a `disabled` state if no `onClick` callback is provided.

If you want the button to be active, please add the following:

`<Grommet.Button label="Action" primary={true} strong={true} onClick={this._onClick}></Grommet.Button>`

[2015-06-10 15:52] tobias-flitsch opened #39 "Meter, vertical breaks in mobile view"
When using the `<Meter type={arc|circle} vertical={true}/>` component it is not displayed correctly in mobile device view, width ~330px. The value is not centered any more and the ledgend is messed up.

Can we include some conditional display of the ledgend, i.e.
[code]
or switch to the horizontal display mode if the width is too small.

[2015-06-10 16:17] tobias-flitsch commented on #39
This actually helped in file _objects.meter.scss

[code]

[2015-06-10 16:25] ericsoderberghp commented on #39
Our general mobile approach right now is to show the legend for Meters, primarily since we cannot rely on the hover behavior to indicate the value per segment, where applicable. We'd rather put the legend below the graphic. I'll take a look at it today. Thanks for pointing it out.

[2015-06-10 17:33] ericsoderberghp commented on #39
I've updated the Meter styling to handle mobile responsiveness better.

[2015-06-10 17:33] #39 closed

[2015-06-10 19:49] mattfarina commented on #34
Two quick things:

1. Is the server example an example or simply a dependency for the other examples? If it's a dependency it could be useful to explicitly say that.
2. When I tried to run the medium app two things happened. First, I didn't have to go beyond the `gulp dev` step in the README.md. Step 2 was just not required. Second, it brought me to a login screen and I don't know the user/pass. I

[2015-06-10 20:06] alansouzati commented on #34
Good point. I will update the README.md properly.

[2015-06-10 20:18] alansouzati commented on #34
BTW, you do need the Step 2 for the login operation.

[2015-06-11 02:39] DanielZhu commented on #38
Thanks your quick response, @alansouzati

I tested it again and it has been fixed. Cool.
I think you can close this issue.

[2015-06-11 02:42] alansouzati commented on #38
Thanks for reporting in the first place.

[2015-06-11 02:42] #38 closed

[2015-06-12 18:55] tobias-flitsch opened #40 "Meter .legend__item-value width causes line-break"
The css properties defined in _objects.legend.scss:

[code]

will cause the labels to do a line break if they are larger than 3 digits and if 2-character units are specified. Removing this property or doubling the value will remove the issue.

Assuming that most values will be within 0-999 and most units being 2-characters, doubling the width should be fine.

[2015-06-16 21:39] cssberries opened #42 "gulp dist fails at 'test' task"
PROJECTS/grommet (master)
$ gulp dist
[00:24:04] Using gulpfile c:\PROJECTS\grommet\gulpfile.js
[00:24:04] Starting 'dist-preprocess'...
[00:24:04] Starting 'preprocess'...
[00:24:04] Starting 'clean'...
[00:24:04] Finished 'clean' after 307 ms
[00:24:04] Starting 'copy'...
[00:24:04] Finished 'copy' after 9.08 ms
[00:24:04] Starting 'jslint'...
[00:24:09] Finished 'jslint' after 5.05 s
[00:24:09]

[2015-06-16 21:43] alansouzati commented on #42
Hi @cssberries, can you describe more about your environment? Are you using es6 syntax at all?

I'm wondering if `const children = el._childNodes;` is coming from your app or from a dependency we use.

[2015-06-16 21:55] cssberries commented on #42
I'm running on Windows 7 64bit.
I'm going though the steps shown in the video.

[2015-06-16 21:58] alansouzati commented on #42
Ok thanks. So probably is a dependency of ours using ES6 format.

I will investigate that on windows. I was not expecting this issue. Let me get back to you soon.

[2015-06-16 23:16] alansouzati commented on #33
Please use this link to join without hp domain http://grommet.io/slackin.

The Slack badge has been updated to point to this URL as well.

[![Slack](http://alansouzati.github.io/artic/img/slack-badge.svg)](http://grommet.io/slackin)

[2015-06-16 23:16] #33 closed

[2015-06-16 23:44] alansouzati commented on #42
Hi @cssberries , I've just tried in the same environment and using Windows 7 as well and I'm not able to reproduce this issue.

![screen shot 2015-06-16 at 4 42 47 pm](https://cloud.githubusercontent.com/assets/1207250/8196961/d1ff266c-1446-11e5-9413-508df3d5ef6e.png)

Can you confirm the Node and NPM version you are using?

I'm using Node v0.12.4 and npm 2.10.1.

[2015-06-17 06:55] cssberries commented on #42
Updating Node to v0.12.4 solves the issue.

Now I have Warning when running "coverage" task.
Should I open a new issue for that?

[09:47:10] Finished 'test' after 7.37 s
[09:47:10] Starting 'coverage'...
Done! You can checkout the report at test/coverage.html.
[09:47:13] Finished 'coverage' after 2.93 s
Warning: owner-based and parent-based contexts differ (values: `undefined` vs `pt-BR`) for key

[2015-06-17 13:14] mattfarina opened #43 "slackin error"
When visiting *http://grommet.io/slackin* I see the error:
[code]

Note, I noticed *https://grommet.io/slackin* doesn't work. Is that intentional?

[2015-06-17 14:52] bryanjacquot commented on #43
Thanks.  We saw this yesterday and restarted service.  Have now found the exception in Slackin, but aren't sure why yet.

[code]

[2015-06-17 16:38] alansouzati commented on #43
It seems to be related to sending invite requests without a Channel. I added a safety check on our end and I will submit a Pull Request to Slackin today to get it fixed, hopefully :smile:

I believe this issue is fixed not, so I'm going to close it. If it happens again, feel free to reopen.

[2015-06-17 16:38] #43 closed

[2015-06-17 16:42] alansouzati commented on #42
Well this warning is expected as part of React version 0.13. We are waiting for the release of React 0.14 to get this warning gone. You should not worry about it. But I would not expect your test to fail.

Based on the logs it seems to be related to a network issue. `Error: connect ECONNREFUSED`.

Are you under a proxied network?

[2015-06-17 17:40] cssberries commented on #42
I am behind a proxy server but NPM is configured as expected.

New issue:
I managed to run the "dev" task successfully but when I navigate to "http://localhost:9000/webpack-dev-server/" - nothing happens.

$ gulp dev
[20:29:19] Using gulpfile c:\PROJECTS\grommet\gulpfile.js
[20:29:19] Starting 'preprocess'...
[20:29:19] Starting 'clean'...
[20:29:19] Finished 'clean' after 124 ms
[20:29:19] Starti

[2015-06-17 17:53] bryanjacquot commented on #42
It's a bit hidden, but this line is the key thing

[code]

If you point your browser at **http://localhost:undefined/webpack-dev-server/**you should see the app you're running.

[2015-06-17 18:05] cssberries commented on #42
Well, it takes me to the google's search result page.

[2015-06-17 18:32] bryanjacquot commented on #42
I should have looked closer, the "port" part of the URL is "undefined".  I'll need Alan to look at that.

[2015-06-17 18:54] alansouzati commented on #42
The default port is 9000, I'm not sure why yours is showing as undefined. In your `gulpfile.js` could you please make sure you have the following entry in your `opts`:

[code]

If you have it there, your dev server should be available at http://localhost:9000/webpack-dev-server/

[2015-06-17 18:55] alansouzati commented on #42
If you see the Grommet logo loading forever you might be experience the webpack problem. I'm going to create a separate issue for this and post it here so that you understand.

[2015-06-17 18:56] alansouzati opened #44 "After gulp dev my Grommet app keeps loading forever"
I can run `gulp dev` but when I try to access the dev server the Grommet loading icon is there forever.

[2015-06-17 18:59] alansouzati commented on #44
Recently, webpack released version 1.9.11 which is presenting issue with the dev server.

Please refer to this to understand the issue better: webpack/webpack#1177.

To fix that update Grommet to version **0.2.4** by running `npm update grommet -g`. If you are running Grommet locally, also run `npm update` inside your project.

If you don't want to update Grommet at this point, open you `package.j

[2015-06-17 19:00] alansouzati commented on #42
#44

[2015-06-17 19:11] #44 closed

[2015-06-17 19:15] cssberries commented on #42
Nope, I don't have the "devServerPort: 9000" entry.
I added it and got this:

![image](https://cloud.githubusercontent.com/assets/2432131/8216291/47324188-153e-11e5-8c19-0e1b446c3d6b.png)

[2015-06-17 19:21] alansouzati commented on #42
Hum, interesting. I guess I know what's going on. Where are you trying to run `gulp dev`? At grommet root folder?

I believe you need to run `gulp dev` inside the `docs` folder. I remember you trying to watch the video on How to Contribute to Grommet, and I believe I mention that in the video. There is no UI to be server for the grommet root folder, that's why I think you are getting the not found

[2015-06-17 19:25] bryanjacquot commented on #42
Alan, would it make sense to change the gulp dev task in the root folder to instruct them where the right place to run 'gulp dev'.

[2015-06-17 19:26] alansouzati commented on #42
Good point. Will work on that.

[2015-06-17 19:43] alansouzati commented on #42
Done!

https://github.com/HewlettPackard/grommet/commit/f44c6b8bc04c302c3e9db6f0d62a21ef1f3a572a

@cssberries, if you sync your Fork you should be able to see the message now.

[2015-06-17 19:43] cssberries commented on #42
Finally I can see the right screen!

And some errors from Chrom's console:
GET http://localhost:8002/favicon.ico 404 (Not Found)
dev-server.js?b7b7:57 [HMR] Waiting for update signal from WDS...
warning.js?8bc8:48 Warning: Failed propType: Invalid prop `handler` of type `object` supplied to `Route`, expected `function`.
warning.js?8bc8:48 Warning: Invalid undefined `handler` of type `object` suppl

[2015-06-17 19:45] alansouzati commented on #42
Cool, I can see possible Pull Requests here. :+1:

[2015-06-17 19:50] #42 closed

[2015-06-17 20:50] cssberries opened #45 "Buttons are jumping on hover."
Probably because of the different border widths - normal 2px on hover 3px.
Can be solved by using shadows (multiple insets ) instead of borders.
Or by changing the design to fixed border width.

I think that second option is better.

[2015-06-17 20:55] alansouzati commented on #45
Thanks for pointing this our @cssberries. Would be willing to send a PR for this?

[2015-06-17 20:56] alansouzati commented on #45
Also, I would like to invite you to our chat tool :smile:

[![Slack](http://alansouzati.github.io/artic/img/slack-badge.svg)](http://grommet.io/slackin)

[2015-06-17 22:36] tobias-flitsch commented on #45
Does box-sizing help instead of playing around with shadows?

[2015-06-17 23:12] cssberries commented on #45
Actually, it happens only with the buttons on the home page and caused by larger padding size on hover state.

[2015-06-17 23:23] ericsoderberghp commented on #45
FYI, we are revamping the Button styles across the board at the moment.

[2015-06-18 00:33] alansouzati commented on #34
Hey @mattfarina any news on this guy? Do you think we can close this issue?

[2015-06-18 00:34] alansouzati commented on #45
Fixed by #46

[2015-06-18 00:34] #45 closed

[2015-06-18 07:20] samogami opened #47 "unable to access web page from network (non 127.0.0.1)"
1. Followed the npm instructions on [grommet Getting Started](http://grommet.io/docs/documentation/get-started) page.
2. Ran __gulp dev__
3. Everything works fine from the command line, can access the webpage from local computer. I am not able to access the webpage from a remote computer browser.

I have also tested this on the server running grommet and can connect successfully connect with  __te

[2015-06-18 15:16] alansouzati commented on #47
Hi,

  Thanks for finding this issue. It turns out that `gulp dev` was only listening to **localhost**.

  I've added `devServerHost` key to the gulpfile `opts`. Use that key to specify a different host rather than localhost (e.g. the IP address of the remote machine you are trying to access).

  This will be part of Grommet 0.2.5, if you want to have early access to this configuration open your `

[2015-06-19 20:44] mattfarina commented on #34
I've started to poke at this again. The README in the medium-app didn't work when I just tried them. I'll walk though the wiki guide next week.

[2015-06-21 19:23] codehexss opened #48 "No Photoshop assets."
The grommet.io homepage says "All the resources you could possibly need! Sticker sheets, Stencils, PSDs, and more. Simply click the app you use to get started." But the downloads section doesn't have psd assets.

All assets(except photoshop psds)  are available.

They are also not available in the design folder in the repo.

[2015-06-22 15:26] #34 closed

[2015-06-22 20:38] bryanjacquot opened #50 "Broken link to assets"
The link on download page to the AI sticker sheet is broken:
http://grommet.io/assets/latest/grommet_sticker_sheet.ai

`Cannot GET /assets/latest/grommet_sticker_sheet.ai`

Other download assets also appear to be broken.

[2015-06-22 20:54] alansouzati commented on #50
Sorry about that. This has been fixed by [d82ffb](https://github.com/HewlettPackard/grommet/commit/d82ffb3bf172e4147d571fa09709d9df96f15321).

[2015-06-22 20:54] #50 closed

[2015-06-22 22:56] bryanjacquot commented on #48
This is on our backlog; we just wrapped up a major revision of the AI file, and will now turn our attention to updating and creating the other formats.  Thanks for your interest.  If you are willing to contribute a PSD file, please let us know.  Others have expressed interest in this as well.

[2015-06-23 16:44] mattfarina commented on #1
@rothskeller A couple quick questions...

1. What is the context for `<input size="10">`? I don't see that in the grommet codebase.
2. The link you shared is not publicly accessible. Do you have an example that is publicly accessible?

[2015-06-23 17:11] rothskeller commented on #1
I reported this while generating a web tool using grommet (not publicly accessible, as you noted).  The tool presents a Form, and one of the FormFields accepts a serial number.  The serial number is 10 characters, all in uppercase, and I used size="10" in order to make the entry field an appropriate size.  However, when 10 uppercase characters were entered in it, only 8½ actually fit.  There was a

[2015-06-23 17:17] bryanjacquot commented on #1
@ericsoderberghp I just looked at the form fields in the documentation and the form fields don't have a size parameter.  I set a size value on the input field by editing the HTML in the browser, and it seemed to be ignored.  I'm wondering if the new Form layouts render this no longer an issue as the forms seem to respond to the display appropriately.

[2015-06-23 17:19] ericsoderberghp commented on #1
@bryanjacquot you are correct. The FormField controls the size of the input. Currently, all inputs are the same width.

[2015-06-23 17:22] rothskeller commented on #1
OK, then in that case this issue is outdated.

[2015-06-23 17:22] #1 closed

[2015-06-24 06:06] Thylossus opened #51 "adjustBackground() is called even if there is no background image defined (Login Component)"
Hi,

the function `adjustBackground()` of the [Login Component](https://github.com/HewlettPackard/grommet/blob/master/src/js/components/Login.js) is called even if there is no background image defined. This results in a JavaScript error `Uncaught TypeError: Cannot read property 'getDOMNode' of undefined`.

The problem is that the `adjustBackground`is bound to the window's resize event without chec

[2015-06-24 06:12] alansouzati commented on #51
Hi @Thylossus thanks for reporting this. I believe we haven't solved that one yet. So, feel free to send a pull request.

[2015-06-24 06:40] alansouzati commented on #51
Solved by #52

[2015-06-24 06:51] #51 closed

[2015-06-24 07:29] Thylossus opened #53 "Submitting form by pressing Enter in a form field"
Hi,

I think there is an issue with submitting forms when pressing enter in a form field when there are two buttons (a submit button and a cancel button). I was able to reproduce this issue using the [FullForm](https://github.com/HewlettPackard/grommet/blob/master/docs/src/documentation/components/samples/FullForm.js) example from the docs.

If the user presses enter within a form, the form is not

[2015-06-24 21:09] tvmj02 opened #55 "Can't generate test coverage on windows."
Hi,

I'm trying to generate the test coverage on my windows machine, but every time I run **gulp coverage** I get the error:

[code]

The tests run Ok, but it doesn't generate the coverage report.

[2015-06-24 21:53] mattfarina opened #57 "0 bytes grommet-hpinc.min.css with bower"
When I include grommet in an application and use `bower install` it downloads grommet which includes minified versions of the css files. The grommet-hpinc.min.css file is 0 bytes which isn't usable.

[2015-06-24 23:29] alansouzati commented on #55
Fixed by #56

[2015-06-24 23:29] #55 closed

[2015-06-24 23:29] alansouzati commented on #47
Hey @samogami did you have a change to validate the fix for this issue?

[2015-06-25 21:17] samogami commented on #47
Not yet working on getting grommet 0.2.5 to work first.

[2015-06-26 08:27] klausb opened #60 "grommet export tool does not export outside references"
When using the export tool (export medium-app) the resulting app includes references folders outside the exported app, which are not included in the export. As a result the app does not run.

[2015-06-26 17:42] tran2519 opened #62 "gulp dist"
My environment is windows, nodejs version is 0.12.4.  I ran into this problem when running 'gulp dist':

module.js:338
    throw err;
          ^
Error: Cannot find module './lib/install'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (C:\

[2015-07-01 16:22] tran2519 commented on #62
Thanks @TiagoJustino for helping me solve the issues.
I can bring up the examples/medium-app locally.  But still got problems to bring up the server. Here is the error when I run grommet/examples/server gulp dev:

trankim1@TRANKIM11 ~/git/grommet/examples/server
$ gulp dev
[08:57:21] Using gulpfile ~\git\grommet\examples\server\gulpfile.js
[08:57:21] Starting 'dev'...
[08:57:21] Finished 'dev' aft

[2015-07-01 16:22] tran2519 commented on #62
Thanks @TiagoJustino for helping me solve the issues.
I can bring up the examples/medium-app locally.  But still got problems to bring up the server. Here is the error when I run grommet/examples/server gulp dev:

trankim1@TRANKIM11 ~/git/grommet/examples/server
$ gulp dev
[08:57:21] Using gulpfile ~\git\grommet\examples\server\gulpfile.js
[08:57:21] Starting 'dev'...
[08:57:21] Finished 'dev' aft

[2015-07-01 16:24] alansouzati commented on #62
Hi, I need to tweak the example server to avoid running `gulp dev` there. It is not supported.

Please refer to [Running Example Server](https://github.com/HewlettPackard/grommet/wiki/Running-the-example-server) to learn how to start the example server.

[2015-07-01 16:28] bryanjacquot commented on #62
@alansouzati would it make sense to provide a `gulp dev` task in examples/server to simply run the `node server` command?  I use this quite a bit.  Using the same command (even if it does different things under the covers) in each area/example would be beneficial.

[2015-07-01 16:30] alansouzati commented on #62
Cool, i will work on that and update both the wiki and the code.

[2015-07-01 16:54] tran2519 commented on #62
Thanks, @bryanjacquot and @alansouzati.
'node server' shows me all the rest calls.  By the browser  (chrome, IE11) throws this error:
Proxy error. Could not proxy to content base target!
cannot proxy to http://localhost:8000 (socket hang up)
 Note:  I do not use Proxy server in my browser LAN Settings.  I use automatic configuration scrips http://autocache.hp.com

![grommet](https://cloud.githubus

[2015-07-01 16:55] alansouzati commented on #62
Could you please make sure that your node server is running? if you run `node server`, this is a blocking process, meaning if you close the command line, it will stop the server.

[2015-07-01 17:00] tran2519 commented on #62
@alansouzati  After a couple of minutes, the browser refreshed itself and it works .  Thanks.

[2015-07-01 17:01] #62 closed

[2015-07-02 13:37] mattfarina opened #70 "Update Intl"
The `intl` package now has 1.0.0 release candidates. If I use `npm install intl` it installs the release candidate. Something changed so that if you have a 1.0.0 release candidate things break. Should likely update sometime in the near future.

[2015-07-02 15:49] mattfarina opened #72 "Bower broken font path"
The font path in the css files begins with a `~`. For example `~grommet/scss/hpinc/font/hps-me-w27-regular-woff.woff`.

[2015-07-02 16:32] alansouzati commented on #72
Thanks for reporting that, we have it fixed in the master now, it should be part of the next version. In the mean time you can use the fonts CDN paths:

**Metric font**: http://hpefonts.s3.amazonaws.com/MetricWeb-Regular.woff

**HPSimplified font**: http://hpincfonts.s3.amazonaws.com/hps-me-w27-regular-woff.woff

[2015-07-02 18:19] alansouzati commented on #70
Will take a look on that.

[2015-07-05 07:01] manotoshsil opened #74 "Gulp Build fails : " Unexpected token < You may need an appropriate loader to handle this file type.""
Hello,

I have been trying out grommet since couple of weeks back . I had initial build problems but was able to resolve and Start the Example apps.

Recently I cloned the latest grommet source code into a new directory on my local.
Next I followed steps mention in "https://github.com/HewlettPackard/grommet/wiki/Building-Grommet"

Now it fails with errors.   docs , examples all fail with same erro

[2015-07-06 14:57] mattfarina commented on #72
I'm a sucker for _https_. It might be worth updating those URLs for the default. Especially if an app is going to be used behind https. Just thinking of a sane default.

[2015-07-06 15:10] klipinski opened #75 "Datepicker - selected date differs one day from shown date"
URL: http://grommet.io/docs/hpe/develop/calendar
Trying the example on this page, the shown date in the framed box at the bottom of the page is not the selected date from the datepicker. It is always the day before. This bug can be observed with different browsers (IE, FF, Chrome).

[2015-07-06 17:49] bryanjacquot commented on #75
I took a look at this using IE and Chrome on Windows and Chrome on Mac and all work correctly.  I'm wondering if there's something going on with your browser/system locale.  What is your primary language set to on your computer/browser?

[2015-07-06 18:06] ericsoderberghp commented on #75
It sounds like it might be a timezone issue.

[2015-07-07 08:40] klipinski commented on #75
Language is English, timezone is UTC+01:00. I changed also to German, makes no difference. A colleague here in Germany could observe the same, so it is not related only to my machine. Checked it on my machine with Chrome 43.0, Firefox 38.0, Opera 30.0, IE11 in combination with Win7. Also with Android 4.4.2 and Chrome (language in that case German). All show the same effect.

[2015-07-07 08:53] klipinski commented on #75
The effect can only be observed in one direction:
1) change the day in the input field, call the datepicker and look to the calendar: the correct date is marked in green. In that direction it works.
2) Other direction: call the datepicker, choose a date and close the calendar: the input field shows the day before the selected day.

There is a JS-warning: "ReferenceError: reference to undefined pro

[2015-07-07 09:04] klipinski commented on #75
Firebug output while executing like described before (case 2):
ReferenceError: reference to undefined property e.fromElement index.js:16:30404
ReferenceError: reference to undefined property r[e] index.js:2:19826
ReferenceError: reference to undefined property r._dispatchListeners index.js:16:22899
ReferenceError: reference to undefined property t[2] index.js:49:3775
ReferenceError: reference to u

[2015-07-07 09:19] klipinski commented on #75
Eric, you're right! I changed the timezone to Pacific Time (UTC-08:00). And now it works ... !

[2015-07-07 21:53] alansouzati commented on #72
Fixed by #76.

[2015-07-07 21:53] #72 closed

[2015-07-07 23:27] alansouzati commented on #74
This should be fixed now, could you please run `npm update` inside your project and try again? Thanks!

[2015-07-07 23:27] alansouzati commented on #57
Fixed

[2015-07-07 23:27] #57 closed

[2015-07-07 23:28] alansouzati commented on #47
Hey sam, could you please try with 0.3.0? I believe this should be working now.

[2015-07-07 23:29] alansouzati commented on #60
This should be fixed as part of version 0.3.0. Could you please run `npm update` inside your project and try again?

[2015-07-08 09:21] tobias-flitsch opened #77 "Fonts are not loaded over https"
If the server is running over https, the fonts are not loaded as the client fails with, e.g.:

[code]

The fonts are also provided over https, e.g. https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGPS42wKzre0cxmO5m5GyTsY.ttf change the links in `_settings.font.scss`

[2015-07-08 09:27] manotoshsil commented on #74
Thanks. Its fixed now :-)

[2015-07-08 12:20] winkler1 opened #79 "online demo please :)?"
Hi-
 Seems like a potentially interesting framework -- is there a representative demo app built with it online? Would like to add it to react.rocks, thanks.

[2015-07-08 14:29] bryanjacquot commented on #79
Hi @winkler1.  Thanks for your interest in Grommet.  We have some online demos, but they aren't linked into the site as they should.  We'll fix that.  Until then, feel free to check these out:

 * http://grommet.io - the site itself is using the Grommet framework

 * http://grommet.io/medium-app - an example type of a "medium sized" application using Grommet.  Login with any email address and any

[2015-07-08 14:49] mattfarina opened #80 "Server Side Grommet?"
One of the nice features about React is the virtual DOM. Because of that you can create React apps server side, render them to html, and serve that. This is useful for search engines when your building a site for the general public rather than an app you're logged into.

Grommet 0.2.4 let me build an app like that. Grommet 0.3.0 doesn't. The reason for that is the direct references to the document

[2015-07-09 14:47] bryanjacquot commented on #79
Hello again @winkler1.  I've updated the README for each of the example apps to include a links to the live demos.   Would be cool to have Grommet added to react.rocks.  I'd suggest using either the grommet.io site itself, or the medium-app as the example demo app.  Thanks!

[2015-07-09 14:57] winkler1 commented on #79
Looks good. http://grommet.io/medium-app/login has some nice stuff -- could the login page say any username/password, or even default them so user just has to click? Otherwise, the funnel dropoff would likely be pretty high.

[2015-07-10 04:52] samogami commented on #47
This works now for me.

[2015-07-10 04:53] #47 closed

[2015-07-10 14:31] mattfarina opened #82 "Main menu usability?"
When the main menu comes in from the side it's triggered by clicking on the logo. This is different from using something like a hamburger icon to trigger the main menu. My question, is using the logo as a method to trigger the menu finable for most users?

_Note, I understand the ideal is to have the menu not be collapsed like this. [Luke Wroblewski wrote about just this earlier this year](http://

[2015-07-10 22:00] #74 closed

[2015-07-12 02:46] simpleofac opened #83 "Table.js get error _onResize when scrollable is false"
when scrollable is false, mirror is null,

var mirrorElement = this.refs.mirror.getDOMNode(); has below error.
Uncaught TypeError: Cannot read property 'getDOMNode' of undefinedTable.js:73 _alignMirrorTable.js:57 _onResize

[2015-07-14 13:54] mattfarina opened #85 "microdata properties"
It would be useful to support microdata so things like schema.org could be integrated. [React itself supports microdata properties](https://facebook.github.io/react/docs/tags-and-attributes.html#html-attributes).

Consider this a feature request that I may get to or others may get to first.

[2015-07-16 15:14] mattfarina commented on #80
Wanted to give some more background...

**SEO Problem:** If you're building a public website you need to consider SEO. Aside from Google, which in the US has ~67% of the search market, we don't know of other search engines processing all JavaScript.

To solve the front-end built pages while providing SEO tools like [Discourse](http://www.discourse.org/) will serve raw HTML in a `noscript` tag for

[2015-07-16 16:16] mattfarina commented on #80
Testing the pattern on #88.

[2015-07-17 20:49] billbr opened #90 "Getting Started page on grommet.io is lacking"
I am trying to follow the getting started page and have found several challenges.
I have found the following on Debian 8:
1. When following the instructions, "node" is not found, which is required for grommet.  I found that creating a symbolic link for node pointing to /usr/bin/nodejs makes grommet seem to work.
2. 'grommet init sample-app' must have permission to write the sample app. In my case

[2015-07-20 16:26] Deklin opened #91 "Scrollbar missing on the logon page"
When using <Logon or <LogonForm, there is no scrollbar present.

[2015-07-20 16:28] alansouzati commented on #80
I believe the main issue before was using `document` inside render function. I've updated the `App` component to move DOM manipulation from `render` to `componentDidMount`. :smile:

This should be part of the next release but, in the meantime, you can use the [stable](https://github.com/HewlettPackard/grommet/tree/stable) distribution.

[code]

And in your package.json:

[code]

Stable means: last

[2015-07-20 17:02] bryanjacquot commented on #91
Hey @Deklin, could you provide some more information about this issue?  In what cases do you need a scrollbar on a login page?  That component has been designed to respond to any screen size without requiring a scroll bar.

[2015-07-20 17:06] ericsoderberghp commented on #91
There's a problem in that resizing the Login page doesn't provide scrolling/responsiveness when it should. You can see this here if you resize your browser window: http://grommet.io/medium-app/login

[2015-07-20 18:21] Deklin commented on #91
Thanks Eric (this is Steve Btw)

Bryan;
What Eric said is the same issue we have. On the logon page we need to add footer information about product version # etc. That is scrolling off screen and no scrollbar is appearing. Even without that if the size is too small no scroll appears.

[2015-07-20 22:14] pgoodrich7 opened #92 "The name and/or id elements can not be added to login button for test automation"
The login page form has the following: "<button class="button button--primary login-form__submit" data-reactid=".0.$=10:0.1.0.4">Log In</button>" but developer can not add a name or id so can be used for test automation.  The class element could be used but has potential for changes and not fun to find a specific one in the list each time.

[2015-07-20 22:41] tran2519 opened #93 "Selected item from the main menu is cut in half"
This issue is found on  Samsung S4 (horizontal direction), and desktop with browser set to phone size:

![phone-selecteditem](https://cloud.githubusercontent.com/assets/13039669/8789254/cc76e756-2ef5-11e5-8255-3a2e2986f002.jpg)

[2015-07-20 22:48] Deklin commented on #92
It would be helpful if each grommet component had a data-debug-id field for test automation to use for testing.

[2015-07-20 22:50] tran2519 opened #94 "Clicking on the green round icon (above the enclosure name) does not display the related details"
Tested on Samsung S4:
In vertical mode, clicking on the green round icon above the enclosure name will display related details
In horizontal mode, no detail is displayed.

![image](https://cloud.githubusercontent.com/assets/13039669/8789399/f1590a30-2ef6-11e5-8f3b-4734b8b1ec77.png)

[2015-07-20 23:06] tran2519 opened #95 "Search box is too short, search term is hidden unnecesssarily."
![image](https://cloud.githubusercontent.com/assets/13039669/8789590/e64d721e-2ef8-11e5-9842-3aa54ead899c.png)

[2015-07-20 23:18] tran2519 opened #96 "Search result panel (1) and the detail panel (2) should be in sync"
If the result panel is empty, the detail panel should also be empty (or displaying text 'No details').
If the result is not empty, then one item in the result set should be selected by default, and the detailed panel  should show related info.

![image](https://cloud.githubusercontent.com/assets/13039669/8789759/bae64dd8-2efa-11e5-817b-b0ba382d1ad2.png)

[2015-07-20 23:27] tran2519 opened #97 "Search box covers the main icon"
This issue is seen on phone (both horizontal and vertical mode), or desktop browser set to phone size.

The main menu icon is seen at first:

![image](https://cloud.githubusercontent.com/assets/13039669/8789875/d77d6cb4-2efb-11e5-9063-ad44224c84c0.png)

When clicking on the search box, the main menu icon is no longer visible:
![image](https://cloud.githubusercontent.com/assets/13039669/8789888/ef6

[2015-07-21 13:30] mattfarina commented on #80
@alansouzati thanks, I'll take a look. I noticed the `document` object is still referenced in `App.js`. node may still have an issue with an object that's not defined there.

[2015-07-21 14:56] alansouzati commented on #80
I think it is ok to have document references outside render function. I tested isomorphic react with todo-app-modular and it works just fine. We do have other references to document elsewhere.

[2015-07-21 17:35] pgoodrich7 commented on #92
The data-debug-id could be used if static and include a unique id to component but I have not seen this used consistently by developers.  Sometimes this id is of a dynamic object id which is not helpful since we can not know beforehand.

[2015-07-21 20:30] bryanjacquot opened #98 "Uncaught TypeError: Cannot read property 'toUpperCase' of undefined"
The grommet.js (and minified version) is missing many components from the list of components which causes this error.
[code]
Components such as Calendar, Chart, Distribution, and probably others are missing which causes the error above.

[2015-07-21 20:48] ericsoderberghp commented on #98
Added these in e2aaede7d207009eb55f470bb585013bd19b31d6

[2015-07-21 20:48] #98 closed

[2015-07-22 20:10] ickedude opened #99 "Table does not handle onSelection property as documented"
If you pass a onSelection callback to Table and select a row, nothing happens.
In the code is no propType defined and no onSelection call present.

[2015-07-23 04:52] ickedude commented on #99
In medium-app the Activity uses a table, where the onSelect prop is used. But there Table is a child of IndexTable is a child of Index is a child of Activity and onSelect is implemented in IndexTable.

[2015-07-23 15:36] ickedude commented on #99
fixed with the above commits

[2015-07-23 15:36] #99 closed

[2015-07-23 22:34] tran2519 opened #103 "Issue with displaying data at the near ends of grahp"
Data at the near ends is either missing, or the space between them are not the same:
![image](https://cloud.githubusercontent.com/assets/13039669/8863746/3a528b16-3150-11e5-99f0-030cec90051f.png)

[2015-07-27 13:56] ickedude opened #105 "IndexQuery wrong if colon is used in search box"
1. using a Index component
2. add onQuery callback
3. console.log query argument
4. type a search term with colon in the search box

Result:
[code]

Expected:
[code]

Fast fix: To differentiate filter selection and search text colons, you can define that search text colons are translated to two colons:
[code]

Better fix: Use two query parameter: q for search terms and f for filter selection.

[2015-07-27 16:10] tran2519 opened #106 "IE 11: the 'Enclosure' detailed page has format issues."
![image](https://cloud.githubusercontent.com/assets/13039669/8911064/0433f244-343f-11e5-9ddd-4a691ec3c0ac.png)

Chrome displays it correctly:

![image](https://cloud.githubusercontent.com/assets/13039669/8911099/3d7de898-343f-11e5-9f6d-e5381539191d.png)

[2015-07-27 17:34] tran2519 opened #107 "Search filters and search input do not coordinate"
Set filters to "Error" and "Warning", 10 items are displayed as expected, and the search input does not show any filters.  Should it also display the search terms?
![image](https://cloud.githubusercontent.com/assets/13039669/8912908/8f35f7ce-344a-11e5-86e3-83a7b1926394.png)

Type 'ok' into the search input.  The filter is still '2', but the result displayed 4 errors
![image](https://cloud.githubus

[2015-07-27 17:43] afong94 opened #108 "Distributions causing errors with values that are 0"
When assigning any values for distributions to 0, the text gets corrupted and shows up outside of the rendered distribution, and overall causes issues that affect the view of the distribution.

[2015-07-27 17:51] bryanjacquot commented on #79
@winkler1, we've updated the Medium App to not require a login.  From the session menu, can logout to return to the Login Page for those who want to interact with it.  Let me know when React.rocks has been updated and we'll promote it.

http://grommet.io/medium-app/

[2015-07-27 17:51] #79 closed

[2015-07-28 21:00] josephalhamad opened #111 "colorIndex"
The colorIndex attribute in Section and Box attribute doesn't work with all the colors that are on http://grommet.io/docs/hpe/design/basics#color. Only neutral colors worked with indexes 1 to 3 and graph colors but the order was not the same as the one on the Docs. Also, I think there should be 5 colors in neutral colors, the HPE-styling shows that there is HPE gray and white.

![neutralcolors](ht

[2015-07-30 21:46] alansouzati commented on #108
Fixed and it should be available in Grommet stable.

[2015-07-30 21:46] #108 closed

[2015-07-30 22:31] antoine-voiry opened #112 "Issue installing grommet on centos"
All
I am getting following issues using grommet
npm install -g gulp
npm install -g grommet
grommet init sample-app

The last command fails with beloz error in /home/centos/sample-app/npm-debug.log
		 info it worked if it ends with ok
		1 verbose cli [ 'node', '/usr/bin/npm', 'install' ]
		2 info using npm@1.3.6
		3 info using node@v0.10.36
		4 error install Couldn't read dependencies
		5 error Fai

[2015-07-30 22:37] alansouzati commented on #112
Can you try to update your node and npm? I'm using Node 0.12 and NPM 2.7.5. Npm 1.3.x seems not to be supported.

[2015-07-31 01:02] TiagoJustino opened #113 "SkipLinks not being update on route changing."
The list of links in the SkipLinks component is not being update when the route changes.

Example 1:
If you open grommet.io the SkipLinks component is create with two links, "Main Content" and "Footer", which is correct. If you now click on the "Design" link (upper right corner), the list of links in the SkipLinks component continues the same, which is not correct because there is no SkipLinkAncho

[2015-07-31 05:14] #113 closed

[2015-07-31 18:17] alansouzati commented on #106
Fixed. Thanks for reporting this @tran2519

[2015-07-31 18:17] #106 closed

[2015-07-31 20:52] alansouzati commented on #95
I've tried testing this today and it seems to be working. Could you please try again?

[2015-08-01 00:15] alansouzati commented on #94
Fixed. Thanks for reporting this!

[2015-08-01 00:15] #94 closed

[2015-08-01 00:16] alansouzati commented on #80
Closing this issue for now. Please reopen if you still need help with server-side grommet.

[2015-08-01 00:16] #80 closed

[2015-08-01 00:17] alansouzati commented on #60
Closing this issue for now. Please reopen if you are still facing issues.

[2015-08-01 00:17] #60 closed

[2015-08-01 15:24] cssberries opened #116 "grommet-hpe-icons.ai organization"
It would be great if we could have each icon in separate, named group or layer.
Or, even better, to have them in separate SVG files.

I tried to extract all the icons with this script: https://github.com/iconic/illustrator-svg-exporter but it requires the icons to be grouped and named in specific way.

[2015-08-03 14:19] novecento opened #117 "Accordion Control"
Hi guys,
thank you for all your work.

I'm designing three concept based on Accordion Menu functionality and when I talked about Grommet to my manager he was very interested so: have you planned the implementation of this control?

[2015-08-03 20:45] tran2519 opened #118 "Format issue, seen in Firefox version 39"
![image](https://cloud.githubusercontent.com/assets/13039669/9047304/dfc248fa-39e5-11e5-8a06-f637d4fe26a7.png)

[2015-08-03 20:47] tran2519 commented on #95
It works now.  Thanks.

[2015-08-03 20:47] #95 closed

[2015-08-03 22:30] ericsoderberghp commented on #117
We do not currently have an accordion style Menu in plan. Can you share a sketch showing the context of where and how you would use it? I ask because we might have existing components that could work in a slightly different way.

[2015-08-04 08:27] novecento commented on #117
Hi Eric, this is my general idea:
![untitled-1](https://cloud.githubusercontent.com/assets/1419568/9056403/1c873b80-3a93-11e5-8d22-d826bc19c71f.jpg)
I'd like dynamic resizing as well.. :-P

[2015-08-04 16:16] tran2519 commented on #118
The format issue is also seen in Chrome and IE11

[2015-08-04 16:17] ericsoderberghp commented on #117
Thanks for the graphic. Can you send an entire page/screen context showing where this would be used?

[2015-08-04 16:18] afong94 opened #119 "Distribution not covering text"
For a distribution with 1 item, the box isn't filled with color and only shows a small bar.
![capture](https://cloud.githubusercontent.com/assets/5715687/9065938/a4c01ff8-3a89-11e5-9948-1dba829c358e.PNG)

[2015-08-04 16:43] tran2519 opened #120 "Width issue"
Chrome and IE 11
![image](https://cloud.githubusercontent.com/assets/13039669/9066489/d795c768-3a8c-11e5-9d49-41ba8c5c8321.png)

Firefox
![image](https://cloud.githubusercontent.com/assets/13039669/9066540/29430cc4-3a8d-11e5-90ab-17dfed3322b2.png)

[2015-08-04 17:02] tran2519 opened #121 "Detailed page is blank when resize to phone size"
The same issue is also observed on real phone (android samsung s4).  Clicking on the arc meter will load the corresponding page for a second, then the page turns blank (all browsers)
![image](https://cloud.githubusercontent.com/assets/13039669/9067020/e048819a-3a8f-11e5-9e49-98bd73aab799.png)

[2015-08-04 17:10] ericsoderberghp commented on #119
This has been fixed in commit 49a36620b7ef515392d5422790aae7b29f81c005.

[2015-08-04 17:10] #119 closed

[2015-08-04 17:53] alansouzati commented on #118
I believe this should be fixed, I was not able to reproduce in the first place, but I guess I know what is going on. Could you please check it again? Thanks for reporting this.

[2015-08-04 18:27] tran2519 commented on #118
It's fixed.  Thanks.

[2015-08-04 18:27] #118 closed

[2015-08-04 18:28] tran2519 commented on #121
Issue no longer exists.

[2015-08-04 18:28] #121 closed

[2015-08-05 04:40] sudesh-gama commented on #120
.box--pad-horizontal-medium {
    padding-left: 16px;
    padding-right: 16px;
}
default padding is 24px reduced to 16px hope this is the right solution

[2015-08-05 09:32] ickedude opened #124 "deprecation and dependency warning while initializing sample app"
following output while executing
[code]

Is it possible to remove the deprecation warning?
What does the dependency warning mean?

[2015-08-05 14:08] ericsoderberghp commented on #120
The medium padding is 24px (actually $inuit-base-spacing-unit) throughout to ensure that everything aligns well. Changing just this location to 16px will break the alignment elsewhere. I think we need a different solution for this issue.

[2015-08-05 23:25] ericsoderberghp commented on #40
Fixed in 81d17f069c0fddf27fd6485cb6af46dafe02ea16.

[2015-08-05 23:25] #40 closed

[2015-08-06 09:24] sudesh-gama commented on #120
Hi All,
<Grommet.Menu direction is not working inside <Grommet.Header>, what is the reason.? is there any other way to put inline menu in the Grommet Header

[2015-08-06 09:43] sudesh-gama commented on #120
hi all,

Inside the <Grommet.Header/> <Grommet.Menu> alignment is not working, what is the reason, is there any other way to do it

[2015-08-06 09:50] sudesh-gama commented on #120
hi all indie grommet.header menu alignment is not working any specific reason, or is there any other way to use it.

Regards,
Sudesh

[2015-08-06 15:20] tran2519 opened #126 "[Medium App] URI creation is different between Chrome and IE11"
Click on the Active Alert critical arc meter, the landing page has different url between chrome and IE11.
Chrome has all the required parameters: 'http://grommet.io/medium-app/activity?q=state%3AActive%20status%3AWarning'

![image](https://cloud.githubusercontent.com/assets/13039669/9115405/c0806410-3c13-11e5-83d1-e4470a0a4e60.png)

IE 11 does not have any parameters: "http://grommet.io/medium-app

[2015-08-06 15:39] ericsoderberghp commented on #120
Sudesh, is your question about Header Menu alignment part of this issue or a separate issue? If it is separate, can you add a new issue, along with a screenshot and more detail?

[2015-08-06 18:56] stephanbochet opened #127 "Clicking on the SearchInput component suggestions does not update the SearchInput value"
Steps for recreating the issue:

1) Click on the Example SearchInput in the following link : http://grommet.io/docs/develop/searchinput
2) Insert the letter  "f" into the search box.
3) Click on the suggestion "four".

Clicking on the four will not update the value of the SearchInput component.

![image](https://cloud.githubusercontent.com/assets/13683178/9120599/23658902-3c4b-11e5-98aa-1cb71f8edc

[2015-08-06 19:05] ericsoderberghp commented on #127
Fixed in 098924e8b9d1cbdc8796c4a54e09d5a321edc9ec.

[2015-08-06 19:05] #127 closed

[2015-08-06 21:45] dwaynewolff opened #129 "The links to download sticker sheets on the Resources page do not work."
The links to download the various sticker sheets do not work on the Grommet/Design/Resources page (http://grommet.usa.hp.com/docs/hpe/design/resources)

[2015-08-07 09:26] mirsilstan commented on #75
The bug is caused by the method toISOString, which returns a string representation of a date having the timezone zero UTC offset, as denoted by the suffix "Z".
On the other hand, the calendar is populated with dates having the timezone of the user's machine.
That's why Tue Jul 07 2015 00:00:00 GMT+0300 becomes 2015-07-06T21:00:00.000Z.
I replaced date.toISOString().slice(0, 10) with moment(date).f

[2015-08-07 10:56] sudesh-gama opened #130 "Indside the grommet header menu alignment is not working."
![errormenu](https://cloud.githubusercontent.com/assets/13653637/9134338/d668253e-3d20-11e5-8489-cd34a26c25c2.png)

![jscript](https://cloud.githubusercontent.com/assets/13653637/9134428/acdd21aa-3d21-11e5-8c48-da85ec9e5862.png)

[2015-08-07 15:30] bryanjacquot commented on #75
thanks @mirsilstan, would you mind submitting a PR with your fix?

[2015-08-07 17:15] tran2519 opened #131 "[Medium App] box-shadow does not have top ele."
![image](https://cloud.githubusercontent.com/assets/13039669/9141299/781c27d4-3cec-11e5-9577-9223b33ad836.png)

![image](https://cloud.githubusercontent.com/assets/13039669/9141347/e428646a-3cec-11e5-8502-580ff76c824e.png)

[2015-08-07 17:31] tran2519 opened #132 "[Medium App] Width of the menu-drop log out item is too big"
Seen on phone screen as well as desktop screen:
![image](https://cloud.githubusercontent.com/assets/13039669/9141665/470b8fb0-3cef-11e5-9cd4-cb7839d8e2cb.png)

![image](https://cloud.githubusercontent.com/assets/13039669/9141676/58fc9156-3cef-11e5-911f-02f8df1c942c.png)

[2015-08-10 12:08] mirsilstan commented on #75
Sure, no problem, I created the pull request #133.

[2015-08-10 14:43] #75 closed

[2015-08-10 17:51] kylebyerly-hp opened #134 "_renderActive for arc and bar meters with thresholds stacks on mouseover"
The  mouseover of non-zero index segments on a threshold arc graph result in a stack trace (Uncaught TypeError: Cannot read property 'value' of undefined).

You can see this on any bar or arc with thresholds if you mouse over the whole arc.
http://grommet.io/docs/develop/meter
Bar, Min, Max, Units, Threshold
Arc, Min, Max, Units, Thresholds

[code]

[2015-08-10 17:57] kylebyerly-hp opened #135 "Color for bar and arc does not change as expected when threshold is singular"
Reproduction
http://grommet.io/docs/develop/meter

Set the value at the bottom of the page to 77, and look at
Bar, Min, Max, Units, Thresholds, Vertical
or
Arc, Min, Max, Units, Thresholds, Vertical

I would have expected the rest of the arc/bar to turn red. When thresholds={[]} is used the colors change, when threshold={} is used it does not.

As an aside, there doesn't seem to be a bar example o

[2015-08-10 18:05] kylebyerly-hp opened #136 "(minor) pointer icon when doing mouseover on meter sections when click does nothing"
http://grommet.io/docs/develop/meter

Nothing specifies onClick in the examples, yet the mouseover has a pointer cursor. I would not expect that if onClick is undefined.

[2015-08-10 18:12] kylebyerly-hp opened #137 "on screens with width less than 720 layer does not overlay"
When the screen is less than 720 in width the layers move to the top of the screen, and are not overlays.

This is in chrome
![layer overlay](https://cloud.githubusercontent.com/assets/13527666/9179307/d8b3f720-3f58-11e5-9c37-68c6194c3ed2.png)

Also has the same behavior on mobile device (nexus 5)

[2015-08-10 18:16] kylebyerly-hp opened #138 "resizing with layer up results in layer disappearing"
http://grommet.io/docs/develop/layer

Example 1
Start at over 720 pixels, resize to under 720, see layer still there (but no longer modal).
Go under 620, watch layer completely disappear.

Example 2
Start under 620px width,
resize over 620px, watch layer completely disappear.

[2015-08-10 19:20] kylebyerly-hp opened #139 "close 'X' overlaps scrollbar on layer edit"
http://grommet.io/docs/develop/layer

If you click edit left or right with vertical pixel less than the height of the box you will see that the X overlaps the scrollbar.

[2015-08-10 19:29] kylebyerly-hp opened #140 "Form in layer leaves search dropDown behind"
http://grommet.io/docs/develop/layer
If you have a dropDown visible (from the search on say Edit, left) and then click outside the layer, the dropDown is left behind.

Furthermore, it isn't possible to get the dropDown to go away. By clicking one of the options or clicking outside of the option.

Reproduced in IE11 and chrome. Resizing the window moves it to the top-left.

Chrome
![dropdown visibl

[2015-08-10 19:39] kylebyerly-hp opened #141 "theme: IE11 drop-down for form is inconsistent"
In IE11 the theme and behavior for dropDowns is odd.

Theme looks a little odd with some weird IE overlay thing
![dropdown - ie11 -1](https://cloud.githubusercontent.com/assets/13527666/9181798/32117d64-3f64-11e5-85e4-e13370469ea7.png)

After selection the item is browser highlighted (isn't on chrome of firefox).
![dropdown - ie11 -2](https://cloud.githubusercontent.com/assets/13527666/9181905/bfa

[2015-08-10 19:41] kylebyerly-hp opened #142 "Form alignment is off for drop downs"
http://grommet.io/docs/develop/form

Alignment with a drop down is different than dates and input boxes. Same on IE, firefox, and mobile android.
![alignment](https://cloud.githubusercontent.com/assets/13527666/9182025/6632890c-3f65-11e5-9a94-a1e60996d392.png)

[2015-08-10 19:45] kylebyerly-hp opened #143 "X overlay on search input in IE11"
in IE11 there is a x overlay to clear (from the browser) that is unclickable, and overlaps the search icon.

![ie11 - x overlay on search](https://cloud.githubusercontent.com/assets/13527666/9182066/bcdac1ac-3f65-11e5-8de9-fbc07ede6af2.png)

[2015-08-10 19:58] kylebyerly-hp opened #144 "Ticker sometimes does odd redraw"
I haven't quite narrowed this one down. But it does fix itself after a whole 'normal' width worth has been drawn all scrunched up, usually.

It'll scrunch the existing data all to the left, and then start updating far to the right. I don't usually see it on a refresh of the page, usually only when pages other than chart have been loaded. I have only seen it on chrome.

![ticker weirdness](https://

[2015-08-10 20:02] kylebyerly-hp opened #145 "(minor) on ticker update the update steals focus from current mouseover"
On ticker update the value overlay is updated on the far right, even if I'm currently moused over a column.

It will not resume the mouseover number unless I move out of the vertical column and back.

http://grommet.io/docs/develop/chart
Ticker

[2015-08-10 20:11] kylebyerly-hp opened #147 "Form on Role example has odd bouncing"
On the Role example in Form, selecting Full instead of specialized results in the checkboxes bouncing.

This behavior is seen on chrome, firefox, and IE11. It is much more pronounced in IE11.

Middle of the bounce.
![bouncing](https://cloud.githubusercontent.com/assets/13527666/9182862/042811c4-3f69-11e5-8ffc-87b1f8d03503.png)

After this is slides up smoothly, as expected (since the select behavi

[2015-08-11 14:34] scottshaffer opened #148 "Spiral Meter doesn't seem to work?"
The spiral Meter doesn't look to be working in the latest build.  The exact example off the sample page doesn't work while all the other Meters do.  Maybe there is more setup required for spiral than is listed on the sample page?

[2015-08-11 15:20] alansouzati commented on #148
Sorry about that @scottshaffer. When you say latest build, is this the stable build, or Grommet version 0.3.1? Can you paste here your `package.json` dependencies?

[2015-08-11 17:51] scottshaffer commented on #148
Yes this is 0.3.1 which I thought was the stable build.  At least I attempted to pull stable and this is what I got.

  "name": "grommet",
  "version": "0.3.1",

  "dependencies": {
    "intl": "^0.1.4",
    "inuit-box-sizing": "~0.2.0",
    "inuit-clearfix": "^0.2.1",
    "inuit-defaults": "~0.2.1",
    "inuit-functions": "~0.2.0",
    "inuit-headings": "~0.3.0",
    "inuit-images": "~0.3.3",

[2015-08-11 17:57] alansouzati commented on #148
Sorry I guess i was not clear on what I meant. Can you paste here your application package.json. I just want to double check how are you pulling the stable build.

Sent from my iPhone

[2015-08-11 18:01] tran2519 opened #149 "[Medium App] Unable to load all 150 resources"
Spinning for a couple of mins to load 150 server hardware and server profiles (all browsers)
Loading enclosure is fine.

![image](https://cloud.githubusercontent.com/assets/13039669/9205103/14689264-4015-11e5-9d68-db933ac4e2f6.png)

[2015-08-11 18:44] scottshaffer commented on #148
Ah - here is what I have:

  "dependencies": {
    "react": "^0.13.1",
    "grommet": "^0.3.1"
  },

[2015-08-11 18:59] alansouzati commented on #148
Yeah, this is not the stable build. Can you replace by this:

[code]

0.3.1 is an actual release.

We need to update the docs page to inform that Spiral only works for stable builds.

Alan

[2015-08-11 19:07] scottshaffer commented on #148
OK thanks - you can close this issue.

[2015-08-11 19:07] #148 closed

[2015-08-13 03:19] sudesh-gama opened #151 "vertical scrollbar is not appearing if the content is more in the page using grommet."
i have created a login form using grommet library, but the problem is if the content is more in the page scroll bar is not appearing on the screen, please refer to the screen shot, i am using firefox browser to run the page, is there any other way to use it.
Please find the screen shots of js file and front screen for more details,
![scroll-issue](https://cloud.githubusercontent.com/assets/1365363

[2015-08-13 04:34] ericsoderberghp commented on #147
Fixed in commit ddc6555fe9a37561d9f2bee6e583342a3babbdc5.

[2015-08-13 04:34] #147 closed

[2015-08-13 13:43] Deklin opened #152 "type=email for login form is causing invalidation error on firefox"
<input id="username" ref="username" type="email" /> is what is listed in LoginForm.js this is causing a validation error on firefox. This value either needs to be configurable, or back to text.

[2015-08-13 14:07] ericsoderberghp commented on #152
Agreed. Configurable sounds good. Pull requests welcome, otherwise we'll add it to our backlog.

[2015-08-17 13:44] ieugen commented on #90
+1 for the things above.
[code]

[2015-08-17 14:14] bryanjacquot commented on #90
Thanks for the feedback.  We will refine these instructions.  If you follow the button that says "Start Project", you'll see there are a few steps required when setting up your first project to get the dependencies in place.

http://grommet.io/docs/develop/get-started

[2015-08-17 16:35] ieugen commented on #90
I did that.

[2015-08-17 16:40] alansouzati commented on #90
Hi @ieugen, could you please confirm the path where your global packages get's installed?

Personally, I haven't tested Grommet on top of io.js.

[2015-08-17 17:05] ieugen commented on #90
Hi,

I've been using this setup for a few months and I had no other problems:

[code]

[2015-08-17 17:20] alansouzati commented on #90
I understand, I'm sorry about that. There is where we look for possible installed version of Grommet:

[code]

Where NODE_PATH takes priority over the others. Can you confirm what is set in your NODE_PATH?

If it is not `.nvm/versions/io.js/v2.2.1/lib/node_modules/grommet/` can you set that?

[2015-08-17 18:54] afong94 opened #156 "Distribution resize?"
Hi, I've developed a dashboard for our team with grommet, and I was wondering if there was a way to resize the Distribution, as the text doesn't seem to conform or affect the size of the distribution. I've already set the large flag to true as well. The problem can be seen at the bottom of this page: http://sdnreporter.rose.hp.com/flaredashboard.html.

Thanks so much!

[2015-08-17 20:55] afong94 opened #157 "chart data must be reversed for data to work?"
I am trying to create a chart and I assigned values to the x axis, however, it seems like the data values must be listed in reverse order, otherwise when hovering over the graph, it shows the reverse data point (e.g. when hovering over value 1, it shows value 16).

With the values listed like this, it has the issue:
xAxis={[
            {"label": "16 wks ago", "value": 1},
            {"label": "1

[2015-08-18 17:06] alansouzati commented on #129
Fixed

[2015-08-18 17:06] #129 closed

[2015-08-18 17:06] alansouzati commented on #70
Updated! :+1:

[2015-08-18 17:06] #70 closed

[2015-08-18 17:07] alansouzati commented on #70
Now we are integrated with David to keep track of our dependencies state.

[![Dependency Status](https://david-dm.org/hewlettpackard/grommet.svg)](https://david-dm.org/hewlettpackard/grommet)  [![devDependency Status](https://david-dm.org/hewlettpackard/grommet/dev-status.svg)](https://david-dm.org/hewlettpackard/grommet#info=devDependencies)

[2015-08-19 16:01] bryanjacquot commented on #77
Resolved with [#78](https://github.com/HewlettPackard/grommet/pull/78)

[2015-08-19 16:01] #77 closed

[2015-08-19 23:24] markswindoll opened #162 "Split responsive state variable doesn't match CSS media queries"
Splits go from single to multiple column at 600px, but media queries switch from mobile styles to desktop at 45em (720px). This causes awkward looking pages between 600px and 720px width for apps that use Split's responsive state variable.

[2015-08-20 08:21] ieugen commented on #90
Hi,

I've ran the following:
[code]
This creates the project, however, it builds a lot of native libraries while building the process. This should not happen while creating a sample project.

The result however is not very usable:
[code]

Regards,

[2015-08-20 12:51] Don-Altobello opened #163 "Getting started with grommet on Ubuntu"
When I follow the steps as described on http://grommet.io/docs/develop/get-started
 the step
 `grommet init sample-app`
Freezes after a while.  The cursor keeps spinning forever.
![image](https://cloud.githubusercontent.com/assets/12054354/9383450/6f245676-4749-11e5-848d-f9ca230f6a67.png)

`my OS: Ubuntu precise (12.04.3 LTS)`

`developer@cwb-dev:~/UX/sample-app$ node -v
v0.12.7`

`developer@cwb-d

[2015-08-20 14:34] bryanjacquot commented on #90
Believe it or not, this is progress.  You've now hit a defect that we fixed with the latest release of Grommet.  Can you run the following command to pickup the latest version?

**As admin or using sudo:**
[code]

[2015-08-20 17:01] alansouzati commented on #163
Hi @Don-Altobello thanks for reporting this. I don't see anything wrong with your installation. It takes time initially because all the dependencies needs to be downloaded from the NPM central repository. Once you have local cache, installation will be much faster. I would suggest installing again and report back in case you get any error logs.

[2015-08-20 17:27] alansouzati commented on #53
Fixed

[2015-08-20 17:27] #53 closed

[2015-08-20 19:11] ieugen commented on #90
Yes. it works now. The node path is still needed. So far grommet is the only app that needs this. I've added
https://github.com/HewlettPackard/grommet/pull/166 to give more information about the issue.

[2015-08-20 22:22] ericsoderberghp commented on #162
Fixed in 564a5cccda6309bc19fb383e423e3b95589cb63a.

[2015-08-20 22:22] #162 closed

[2015-08-20 22:36] ericsoderberghp commented on #157
@afong94: can you include a sample of your actual data as well? I'm looking at the series and xAxis data at the top of ChartDoc.js for the examples and I can't see anything that looks incorrect.

[2015-08-21 15:08] Don-Altobello commented on #163
@alansouzati  ,
Thanks for the advice. Today I installed all components again and let it run for a couple of hours. I might have been too impatient before caused by the scripting which doesn't show progress.
Today I have a working grommet setup.

[2015-08-21 15:08] #163 closed

[2015-08-21 18:06] afong94 commented on #157
hi @ericsoderberghp, my data is output in the format [[16,x],[15,x],[14,x]......], So i guess that currently the xaxis must be configured to follow that format as well. I was under the impression that the order shouldn't matter as much, that a user can enter data values in another order and that the data points could be properly mapped to the xaxis values as well.

[2015-08-21 23:07] #141 closed

[2015-08-21 23:18] kylebyerly-hp commented on #142
This may need a bigger fix than simple CSS to work on all browsers.

[2015-08-24 18:29] rtspotts opened #168 "[people-finder] project issues with eslint"
Installed the people finder example app using 'grommet init people-finder' and ran 'npm install' in the people-finder directory.  When trying to get the dev environment running with 'gulp dev' there is an error thrown in the eslint process:

Error: Definition for rule 'react/jsx-max-props-per-line' was not found.
at C:\Users\RTS\Grommet_Apps\people-finder\node_modules\eslint\lib\eslint.js
:647:27

[2015-08-24 18:47] alansouzati commented on #168
Thanks @rtspotts for submitting this.

If you are using Grommet version `< 0.3.2` then your package.json has the dependency set like this:

[code]

This means that we are using the latest stable branch (every commit that passed the CI build). As we are in early stages, this is sometimes extremely useful because it allows you to get the latest bits from Grommet without waiting for an actual release

[2015-08-26 16:53] stephanbochet opened #172 "Table Component Selection cannot be unselected"
When a Row is selected in a Table components it cannot be unselected.   Using the selection parameters will set the selection to a row index but will not remove the selection.

[2015-08-26 20:07] ericsoderberghp commented on #172
Added selectable="multiple" to Table in commit 20f5d19b37efc013afa9881b831799dac1b20efe.

[2015-08-26 20:07] #172 closed

[2015-08-26 20:10] ericsoderberghp commented on #156
I think there are some things you can change to your page to get the Distribution to take the full width. It looks like the Distribution is inside a Tile, which is constraining its width. Can you try it without putting it in a Tile?

[2015-08-26 20:13] ericsoderberghp commented on #120
The Grommet site was changed a while ago to not have separate scroll regions for the documentation.

[2015-08-26 20:13] #120 closed

[2015-08-26 20:30] ericsoderberghp commented on #145
Fixed in 396724fbcb34f23bfcd59493eabe71b7f01861c2.

[2015-08-26 20:30] #145 closed

[2015-08-26 20:32] ericsoderberghp commented on #144
This was caused by the Ticker data initializing on app load but the data adjustments only coming once you navigated to the Chart page. This was fixed in 0e0a6b3ac5c9c6bbd696b1256410eed123737d24.

[2015-08-26 20:32] #144 closed

[2015-09-01 21:17] samogami opened #178 "unable to find ruby and scss-lint in gulp"
In windows when I run commands like `gulp dist` in grommet, gulp is unable to find scss-lint

from the command line running `gulp dist`:
...
[code]
....

ruby and scss-lint are installed.
[code]

[2015-09-03 10:35] mattfarina opened #179 "Isomorphic React and todo-app-modular example failing"
Following the directions in the [Readme](https://github.com/HewlettPackard/grommet/tree/master/examples/todo-app-modular), everything was working until I reached step 4. Then I get the following error,

[code]

I've tried this with both an exported and un-exported example.

Am I doing something wrong or is there a bug here?

[2015-09-03 15:55] alansouzati commented on #168
Hi @rtspotts any news here?

[2015-09-03 15:57] alansouzati commented on #179
I believe this is a bug, investigating it soon! sorry about that :(

[2015-09-03 18:54] rtspotts commented on #168
Hi @alansouzati, your info above got me sorted, thanks.

[2015-09-03 18:54] #168 closed

[2015-09-05 01:59] alansouzati commented on #178
Thanks for reporting that!

Fixed by https://github.com/HewlettPackard/grommet/commit/9aacf42771d522714ed3b17c64c0ec894933e772

It will be part of the next version of Grommet.

[2015-09-05 01:59] #178 closed

[2015-09-09 00:13] alansouzati commented on #179
It is fixed by https://github.com/HewlettPackard/grommet/commit/8a82f1e22ed07b12e5535c17970a1dfa2908bd46.

If you are using inside Grommet source code, you should be able to run that immediately.

If you have exported the todo-app-modular and you are using the stable version, just run `npm update` inside your project and it should work.

It will be part of the next release of Grommet.

Thanks for

[2015-09-09 00:13] #179 closed

[2015-09-10 18:30] Kdedoshka opened #182 "Meter's have odd styling in IE 11"
Meter components display extra padding in IE 11 between the meter graphic and the number indicators.

![screenshot](https://cloud.githubusercontent.com/assets/6174085/9797301/3f1da254-57af-11e5-9721-041390720732.png)

[2015-09-11 18:18] snowymike opened #184 "clicking enter in password field should log in"
most login pages perform the default form submit action when a user presses enter/return on their keyboard while in the password field.  if a user clicks return while in the 'password' input of the grommet login page, i'd expect that to be equivalent to manually clicking the Log In button

[2015-09-12 11:18] Deklin commented on #184
+1

[2015-09-14 19:39] bryanjacquot commented on #184
Fixed in https://github.com/HewlettPackard/grommet/commit/89a164aa6e90cd709dcac287c3124a22225b5fd6

[2015-09-14 19:39] #184 closed

[2015-09-18 18:41] samogami opened #190 "Meter - Arc labels and threshold reversed in svg"
Looking at Grommet [Meter Doc](http://grommet.io/docs/hpe/develop/meter)  The meter that is under heading "Arc, Min, Max, Units, Thresholds, Vertical" The top and bottom labels are reversed.
[Screen Capture of meter component with arrows pointing to reversed labels](https://www.dropbox.com/s/b2cghpbq8p4syzx/2015-09-18_11-35-08-grommet-meter.png?dl=0)

[2015-09-18 22:37] jaitthomas opened #191 "IE11 Layout doesn't look as good as chrome for http://grommet.io/docs/hpe/develop/get-started"
Layout in IE 11 for the page http://grommet.io/docs/hpe/develop/get-started doesn't look as good as chrome.

[2015-09-22 14:57] Deklin opened #194 "When is next release planned"
We are waiting to pull down the login page submit fix, any comment on when the next release is planned?

[2015-09-24 19:06] alansouzati commented on #194
Hi @Deklin, we're working on this and we should have a new release the end of this week, or early next week.

In the meantime, you can use Grommet stable, which gets updated every time a successful build is pushed to the master. To get that, update your `package.json` like follows:

[code]

Hopefully this will allow you to get the features you are looking for.

Just remember to run `npm update` to

[2015-09-28 09:17] Spy-Seth opened #197 "Use grommet as a library"
First of all guys: I :heart: your UI!

I trying to use it as a dependent library of my project: `var Dashboard = require('grommet').Dashboard`. But right now it's impossible, you do not provide a compiled version of the source in the npm package.

Is it possible to distribute builded source with your next (or next next) release?

The SCSS files will to be compiled to CSS too.

[2015-09-28 16:20] alansouzati commented on #197
hi @Spy-Seth, thanks for the kind words about Grommet.

The browser version of Grommet (compiled scss and js) can be found on Bower: `bower install grommet`.

The NPM distribution is dependent on React and JSX. I believe you are facing issues like `module react not found`? We don't have planned to add compiled version in NPM itself, do you have examples of other projects doing that for us to evalu

[2015-09-28 17:36] Spy-Seth commented on #197
Nop a syntax error. The JSX compiler (Babel) do not apply on files located in the `node_modules` directory.

Bower was originally made to mange front package while NPM manage nodejs package. But nowadays, NPM is also use with front package (mainly to avoid to mange to dependency manager). Lot's of library distribute itself on both. For example: https://github.com/twbs/bootstrap (only with the styl

[2015-09-28 18:02] alansouzati commented on #197
Are you using webpack? Can you add grommet to your babel configuration? If you are using the Grommet developer environment this configuration comes by default to you.

We are concerned about providing the compiled version for NPM at this point. One of the reasons being performance optimizations.

We would rather have `require('grommet/components/Meter')` as opposed to `require('grommet').Meter`.

[2015-09-28 18:26] alansouzati commented on #194
Grommet 0.3.7 :+1:

[2015-09-28 18:26] #194 closed

[2015-09-29 07:53] Spy-Seth commented on #197
I'm using browserify.

Adding grommet to my babel configuration is not a long term solution. Imagine if every package on npm ask to do it: the build time for a project will huge! And the configuration of our build process will be extremely complicated.

I've look into the Grommet build process. The `dist-bower` task is really close to a `dist-npm` task.

I really think adding a compiled version is

[2015-09-29 16:17] alansouzati commented on #197
Thanks for your explanation. I agree with this part:

 I have some ideas around this that I want to explore.

 I will get back to you on this.

[2015-10-01 18:00] josephalhamad opened #198 "LoginForm/Form conflict with Tile"
There seems to be a conflict between the Form and Tile styles. Also, the LoginForm Since it is essentially a Form. When a Form is placed within a Tile the input fields (FormField) and button extend beyond the containing box.

![loginform_intile](https://cloud.githubusercontent.com/assets/8975095/10228770/940cfd5c-6842-11e5-86d9-648f5aae3431.JPG)

[2015-10-04 23:25] bdharris08 opened #200 "Getting Started page instructions and windows"
I had a few problems installing grommet sample app on a windows 7 x64 desktop machine.
- [Getting started page](http://grommet.io/docs/hpinc/develop/get-started) does not list all of the dependencies for installing the sample app on a windows machine.
  - Listed: Git, node.js
  - Missing: [Python 2.7](https://www.python.org/ftp/python/2.7.10/python-2.7.10.msi), [Microsoft Windows SDK for Windows S

[2015-10-05 04:02] #200 closed

[2015-10-05 13:49] Dinesh-Ramakrishnan commented on #198
+1
![image](https://cloud.githubusercontent.com/assets/1124909/10282007/f470b73c-6b95-11e5-84f8-d237c757817e.png)

[2015-10-05 13:49] Dinesh-Ramakrishnan commented on #198
<Grommet.Tiles fill={true} flush={false}>
            <Grommet.Tile align="center">
              <Grommet.Meter series={[
                getLabel('Fix Now', tasksMap.error, 'error'),
                getLabel('Remember', tasksMap.warning, 'warning'),
                getLabel('Enjoy', tasksMap.ok, 'ok')
              ]} type="circle" />
            </Grommet.Tile>
            <Grommet.Tile>

[2015-10-05 13:57] Dinesh-Ramakrishnan commented on #198
Dirty Fix I have made is as follows

.login-form fieldset>* {
    max-width: 86%;
    display: block;
}

Set the max width to 86%

and in the following class

login-form__submit {
    margin-top: 24px;
    width: 80%;
}

set the width to 80%

With this fix I was able to achieve the snap below

![image](https://cloud.githubusercontent.com/assets/1124909/10282177/0e79af0c-6b97-11e5-9d00-03c335398e44

[2015-10-07 06:49] mirsilstan opened #203 "Login rest call in Actions is hardcoded to request /rest on the webserver"
I created a webapp deployed in Tomcat out of a Grommet app built with gulp dist . Unfortunately the REST call in Actions.js /rest/login-sessions does not work, as it does not include the webapp root context.
A context should be added to all the REST calls in Actions.js and IndexActions.js, as not every Grommet app will be located in the webserver's root directory.

[2015-10-07 19:22] FMCalisto opened #204 "Join"
How can I join to HP Organization so that I can contribute with OS ideas for this project?

[2015-10-07 20:56] bryanjacquot commented on #204
Hello @FMCalisto, thanks for your interest in contributing to Grommet.  You do not need to join the HP organization to contribute.  You can follow the content in this video to contribute to Grommet:

https://vimeo.com/129681048

[2015-10-08 14:27] mattbrewer-educredu commented on #197
I'd also love it if you guys made a compiled version of grommet available. I came across Grommet a few weeks ago while looking for some react charting components and found a few other components and that I didn't realize I needed.

I've compiled my own local versions of the Grommet components, but it was a little more work than I would have liked, and I'm probably limiting myself because I don't p

[2015-10-08 16:21] #204 closed

[2015-10-08 16:26] alansouzati commented on #197
Hi @mattbrewer-educredu, thanks for the extra input here. I have this issue as one of my items to tackle in the next days or so. So expect to hear news about that soon.

Thanks for sharing React UI builder with us, will definitely take a look into that.

There is no Grommet blog at this point, sorry about that. We are working on it. In the meantime I invite you to join our [Slack channel](http://g

[2015-10-08 20:36] samogami opened #205 "Unique titles for Grommet documentation"
In Grommets documentation all pages have the same title value. "Grommet - User Experience for the Enterprise".  Each page should have a unique / descriptive title.

Examples:
For: http://grommet.io/docs/hpe/develop/accessibility
The `title` element could be: Accessibility - Grommet Development Documentation

For: http://grommet.io/docs/hpe/develop/layer
The `title` element could be: Layer - Gromme

[2015-10-08 23:56] alansouzati commented on #197
Thanks for the feedback folks. I've fixed that here: https://github.com/HewlettPackard/grommet/commit/7f806d61b260a07a570d0f8ac7636538b61f60f4.

It will be available in the next release. In the meantime you can use grommet [stable](https://github.com/HewlettPackard/grommet/tree/stable) to immediately get these changes. Keep in mind that grommet stable gets updated every time that someone commits s

[2015-10-09 08:38] Spy-Seth commented on #197
I can't test it this week, but that a greet news!

![:+1:](https://media.giphy.com/media/MTclfCr4tVgis/giphy.gif)

[2015-10-12 21:16] tran2519 opened #209 "The green background color of selected item is mostly covered, only a thin line is displayed"
![image](https://cloud.githubusercontent.com/assets/13039669/10438959/b28cf780-70eb-11e5-9ebf-e9b79defe328.png)

[2015-10-12 21:34] ericsoderberghp commented on #209
This is part of the new brand guidelines. We've switching from having a full background color to changing the text color and adding the right border.

[2015-10-12 21:34] #209 closed

[2015-10-13 08:17] Spy-Seth commented on #197
Hum I cannot completely test it. My application is a isomorphic react app. And the Grommet code is not isomorphic:  it depend directly on browser API.

[code]

I will have another look later.

[2015-10-13 15:09] alansouzati commented on #197
We should support isomorphic. This is definitely an issue to be solved!

[2015-10-13 15:16] Spy-Seth commented on #197
I'm glad you said this :+1:

[2015-10-13 15:58] tran2519 opened #210 "Format issue: text overflow"
![image](https://cloud.githubusercontent.com/assets/13039669/10460316/959f32da-7188-11e5-8c6d-bdca957b173b.png)

[2015-10-13 18:56] alansouzati commented on #197
Hi @Spy-Seth that is really strange. Is there any place calling `Cookie.get` in your app?

In theory it should be ok to have this code in side NPM and serve-side as long as you are only invoking inside a `componentDidMount` for example.

Let me know if this call is coming from a Grommet component somehow...

[2015-10-14 07:02] Spy-Seth commented on #197
Ho I haven't put the full stack trace. My bad.

[code]

We can see that in the session store initialization you do a lot of `Cookie.get`: https://github.com/grommet/grommet/blob/581840f3e29c9d2ed531261ef5c4182fd15c4e60/src/js/stores/SessionStore.js#L23-L26

[2015-10-15 22:32] primozs commented on #197
To make it work like a library I needed grommet stable and
[code]
also root setting in webpack
[code]
cheers

[2015-10-16 16:13] samogami opened #213 "button element does not show any visual focus."
No visual indication on `button` element when focused if `button` is used and not `Button` component.

Example focus not working:
[Grommet Docs Layers](http://grommet.io/docs/hpe/develop/layer)

Correct button focus:
[Grommet Docs Button](http://grommet.io/docs/hpe/develop/button)

[2015-10-17 00:15] samogami opened #214 "Layer component focus order not working"
When an overlay layer is displayed elements outsite the layer are still focusable and should not be.

Example: http://grommet.io/docs/develop/layer

[2015-10-19 18:38] josephalhamad opened #215 "Align center and SearchInput"
I need the text to be centered and the searchInput element to be stretched across (width: 960px just like appCentered). However, I think the align="center" attribute isn't working properly with SearchInput component. Align center shrinks the width of SearchInput. Same behavior in Section and Box components.

A screenshot before align="center" is applied. produced using this code:

       var Searc

[2015-10-19 19:02] AngusMackHPE commented on #197
@primozs - can you send a sample of your complete webpack config and component file please? I'm stuck getting this to work.

[2015-10-19 19:43] josephalhamad opened #216 "Strong={true} in header tags"
Making header tags bold using strong={true} isn't working.

Without strong={true}. using

             <h1>Search search</h1>

![without_strong](https://cloud.githubusercontent.com/assets/8975095/10589013/04a22e2e-7677-11e5-99ff-eaac57360c03.JPG)

With strong={true}.  using

              <h1 strong={true} >Search search</h1>

![with_strong](https://cloud.githubusercontent.com/assets/8975095/10589

[2015-10-19 20:01] jhawthor opened #217 "Using Article in a Box causes text wrapping issues in IE 11"
When using the following code in IE 11 the contents does not wrap.  It does wrap correctly in Chrome and the Chrome Mobile simulator.

[code]
If I use align="left" instead of align="center" it will wrap in IE 11.

[2015-10-19 20:33] primozs commented on #197
@AngusMackHPE
To get everything to work, I installed stable branch. Check also all the dependencies that usual grommet application need. This will also not work with React 0.14.0 only with 0.13.3. When I tried Grommet "react14" branch I again could not require Grommet components, my webpack config was not working.

[code]

It looks to me that somehow minimum dependencies for client app would be so

[2015-10-20 19:25] jhawthor opened #219 "Menu not justified to "end""
Hi,  I have the following Application Header and Menu, but the menu is not being justified to the "end" which should be "aligned to the far right".

[code]

![image](https://cloud.githubusercontent.com/assets/12467142/10618556/a1f7818e-773e-11e5-8158-48d6f5403b6d.png)

[2015-10-20 19:36] alansouzati commented on #219
I believe you need the justify between option in your Header. Something along these lines:

[code]

[2015-10-21 02:58] mingfang commented on #197
+1 to get grommet working with React 0.14 and Webpack

[2015-10-21 14:02] jhawthor commented on #219
Hi, well that works but not the look I was striving for.  Everything is aligned right.  I just want the menu aligned right, while the icon was left aligned.  Thanks for the code.  I'll play around with it.

[2015-10-21 14:02] #219 closed

[2015-10-21 16:46] kylebyerly-hp opened #220 "gulp dist should exit with errorcode on build error"
Found while changing node version.

Anytime that you change node version you have to rebuild any item with node-gyp.

Similar reproduction without having to change node-version for easy fix

[code]

[2015-10-22 22:33] kylebyerly-hp opened #221 "(minor) Padding on Form is broken/inconsistent with other components"
//Works as expected
[code]
//Stacks
[code]

[2015-10-23 04:49] mingfang opened #222 "error using grommet in a project with webpack"
I trying to use grommet in a project with webpack and am getting this error
[code]

[2015-10-23 05:07] mingfang commented on #222
Never mind.
Changing to the "next" dependency fixed it, https://github.com/grommet/grommet/wiki/Grommet-Next-and-React-0.14

[2015-10-23 05:07] #222 closed

[2015-10-27 00:51] mingfang opened #224 "How do I disable SkipLinks?"

[2015-10-27 01:02] mingfang commented on #224
Nevermind.
It disappears after I included the grommet.css file properly.
But I think I would still love to see some documentation on SkipLinks

[2015-10-27 01:02] #224 closed

[2015-10-27 05:15] alansouzati commented on #224
Hi @mingfang, we do touch a little bit on accessibility in the website, including SkipLinks.

Please refer to this link for more information: http://grommet.io/docs/develop/accessibility

But I agree with you, the content could be more extensive. We would love to see a PR for an enhanced version of that.

[2015-10-30 02:14] ivandurst commented on #152
It looks like this may have been updated - you can now add ` usernameType="text"` or any other value directly to a `<LoginForm />` component.

[2015-10-30 02:23] ivandurst commented on #151
I believe this issue was fixed in https://github.com/grommet/grommet/pull/211.

[2015-10-30 13:16] Dinesh-Ramakrishnan opened #226 "Installation via Bower is broken."
Installation via Bower is Broken,
It used to work earlier, but now it is not. Please find the log below

`
$ bower install grommet
bower                            retry Request to https://bower.herokuapp.com/packages/grommet failed with ECONNRESET, r
etrying in 1.7s
bower                            retry Request to https://bower.herokuapp.com/packages/grommet failed with ECONNRESET, r
etrying in

[2015-10-30 18:58] alansouzati commented on #226
This seems like a proxy issue for me. Could you please make sure to add the proxy settings if you are inside a corporate network?

[2015-10-30 20:40] AngusMackHPE commented on #197
@primozs thanks for your detailed reply and sorry it has taken a while to get back. I got this working relatively easily in the end. I used the react-rocket-boilerplate project as a base and was able to use grommet as a lib for my project.

Had to keep react dependency at ^0.13.0 which is a bit of a pain as would like to move to 14 for some other dependent libs but all in all good so far.

[2015-11-02 22:29] ivandurst commented on #91
Thanks @Deklin. This is fixed in https://github.com/grommet/grommet/pull/211.

[2015-11-02 22:50] #152 closed

[2015-11-03 17:19] #156 closed

[2015-11-03 17:19] #182 closed

[2015-11-03 17:19] #198 closed

[2015-11-03 17:19] #210 closed

[2015-11-03 17:19] #213 closed

[2015-11-03 17:19] #217 closed

[2015-11-03 17:19] #221 closed

[2015-11-03 23:33] shaiksphere opened #228 "0.4.0 Documentation pages have incorrect code snippets"
For example: http://www.grommet.io/docs/hpe/develop/get-started (or http://www.grommet.io/docs/develop/get-started)

Incorrect: {'npm config set proxy http://\{host\}:\{port\}'}

Correct: npm config set proxy http://{host}:{port}

The escape characters are getting printed as well.

Same is the case with http://www.grommet.io/docs/develop/tutorial and so on.

[2015-11-04 17:15] samogami opened #230 "Jumping to top of page when elements get focus."
In Chrome go to http://www.grommet.io/docs/develop/button
Then press the tab key to bring focus to the button element.
The page keeps jumping back to top of page each time the focus changes to a differnt button.

I have tested Chrome 46.0.2490.80 m for windows and also on Mac

I do not see the same behavior in FF 41.0.2 or IE 11.096

[2015-11-05 13:13] AngusMackHPE opened #231 "Select box styling in IE"
Is anyone else seeing this issue on (tested on IE11, Windows 8.1) where the system drop down arrow is also showing as well as the background image?

![image](https://cloud.githubusercontent.com/assets/14290536/10969194/a8c3e732-83be-11e5-8b87-a89c89fdd441.png)

Works fine in latest Chrome on Windows 8.1.

![image](https://cloud.githubusercontent.com/assets/14290536/10969251/f7fae080-83be-11e5-909d

[2015-11-05 22:36] shaiksphere opened #232 "Calendar component needs a 'size' attribute"
Currently, the 'Calendar' component is of fixed size and becomes disproportionate to the enclosing UI.

An attribute, such as 'size' would greatly help in making sure the component fits well with it's neighbours.

[2015-11-06 01:26] ericsoderberghp commented on #232
Currently, the Calendar drop down aligns its width to the form field context it is in. Could you elaborate a bit more on what you mean by "disproportionate"?

[2015-11-06 16:35] abenson337 opened #233 "% Width scaling of charts does not work properly anymore"
I am using a modified css file with different sizes for chart rendering, and using 100% width to span the charts to the full width of their containers and now with the most recent changes (Some time this month) the charts are not being scaled properly.

Instead of the true width of the SVG being 100% width in PX, its a static width, and its just stretching the width of the chart instead.

None of

[2015-11-06 16:38] primozs opened #234 "Layer and context"
If you pass some Container with redux store or other context into Layer it seams context is not properly passed trough Layer to Container container even router does not seam to work.
Anyone else had this problem?
Cheers

Versions:
"grommet": "0.4.0",
"react": "0.14.1",
"react-dom": "0.14.1",
"react-router": "1.0.0-rc4", or "react-router": "1.0.0-rc3",

[2015-11-06 17:36] abenson337 commented on #233
It works properly in the bower compiled .3.7 but every version after that its not working.

https://github.com/grommet/grommet-bower/blob/3b537f0118de5ca1d8ae79e9060885dafd0145d8/grommet.js (Valid and working)

[2015-11-06 18:00] ericsoderberghp commented on #233
@abenson337: Can you give me a simplified HTML + CSS snippet that illustrates the issue? I'm not seeing the issue here: http://www.grommet.io/docs/hpe/develop/chart
because the Chart is auto-sizing itself to its container's width. I'm wondering why it isn't auto-sizing to fill the container in your case.

[2015-11-06 18:24] abenson337 commented on #233
From my modified grommet.css =>

.chart__graphic {
    width: 100%;
    height: 192px;
    max-height: calc(100vh - 144px); }
.chart--small .chart__graphic {
    height: 128px; }
  .chart--large .chart__graphic {
    height: 256px; }

From my actual content.css (from the page its displayed from)

.content-right
{
	float: left;
	min-width: 320px;
	width: calc(100% - 230px);
}

content-right is insi

[2015-11-06 18:36] abenson337 commented on #233
*updated info in previous commment*

[2015-11-08 23:39] thiagoc7 commented on #197
@alansouzati thanks for this amazing library!
I git it a try using gaearon's [boilerplate](https://github.com/gaearon/react-transform-boilerplate), react 0.14, and it is working just fine, no issues at all.
[here](https://github.com/thiagoc7/react-grommet-todo) the repo I created, it's the official todo using webpack and alt.

Thanks!

[2015-11-08 23:42] thiagoc7 opened #238 "callback for Meter's hover state"
Hi, do you have any plan for this feature?

Or do you accept a PR with suggestions?

[2015-11-09 10:51] Spy-Seth commented on #197
@alansouzati I've converted my project to browserify that I know better, I will give another try on it in the next week.

[2015-11-09 16:27] alansouzati commented on #197
cool stuff @thiagoc7! It is interesting that you also add `alt` containers with store on that example. Good job!

[2015-11-09 16:27] alansouzati commented on #197
@Spy-Seth looking forward to hearing more about integration with Browserify! ;)

[2015-11-09 16:35] alansouzati commented on #238
Hey @thiagoc7, this is an interesting question. Can you please provide us with an example where the callback for the Meter's hover is going to be used?

And yes, we definitely accept PR. But I would like first to understand where this is going to be applied.

If we apply that to the Meter, that would be good to explore other components that might need this feature as well.

[2015-11-09 17:19] thiagoc7 commented on #238
One example would be filtering the todos when you hover over the status arc.
In this case, we just need a callback with the `getLabel()` result that originated the arc.

[2015-11-09 17:27] alansouzati commented on #238
What if you use the `onClick` callback instead of the `hover`?

If you rely on the hover state for actions, how you make that work in a mobile device? Also, how you guarantee that people with disabilities will use your system to the fullest extent?

Another aspect that worries me is: while you are just moving the mouse around and accidentally hover over the meter paths, the UI starts reacting to i

[2015-11-09 17:41] thiagoc7 commented on #238
you are right... we could use `onPress`, and abstract both `onClick` and `onTouch...` events.

[2015-11-09 17:42] alansouzati commented on #238
Awesome, I like the `onPress` idea :+1:

[2015-11-09 17:51] thiagoc7 commented on #238
The `Meter` component is very complex, so I think It would be better if I wait for your call before touching the code.

Maybe in a future version you could think about a set of charts where we have a main `chart container`, and the elements are just regular `children`.
This could open the framework for more UX complexity. Like, I could trigger the `onPress` event from another component, or when sa

[2015-11-09 21:20] kylebyerly-hp opened #239 "Title in Header is cut off in IE11"
http://www.grommet.io/docs/hpe/develop/header
Look at any example except for the first 2, the e on Title is cut off.
Looks fine in chrome and firefox

![title cutoff on ie11](https://cloud.githubusercontent.com/assets/13527666/11046504/1821a11c-86eb-11e5-8779-c9dd4367058e.PNG)

[2015-11-09 21:22] kylebyerly-hp commented on #239
Also, looks like the icon is hidden/invisible.

[2015-11-09 21:44] kylebyerly-hp opened #240 "UIs are very bouncy in IE11"
Using IE11 you see a very bouncy UI. You can see this throughout the docs. Perhaps most noticeable on Form.

It takes about 1.7 seconds for the rather noticeable bouncing of the UI to be done with IE11 on http://www.grommet.io/docs/hpe/develop/form

[2015-11-09 23:12] kylebyerly-hp opened #241 "input type="range" doesn't update value in IE11"
If you use the slider in the 'Another section' form in http://www.grommet.io/docs/hpe/develop/form on IE11 it doesn't update the value as it does on chrome and firefox.

I believe IE does things different for the range value...

[2015-11-09 23:36] kylebyerly-hp opened #242 "Input fields bounce up and down as user edits or selects in IE11"
If you edit text in a input field it bounces up and down as you type.

It also bounces as you select or deselect (in an inconsistent manner). The gif below exhibits the behavior.

![input-bounce-loop](https://cloud.githubusercontent.com/assets/13527666/11050001/98fbda3c-86ff-11e5-9548-1fa5a96dd03f.gif)

[2015-11-09 23:42] kylebyerly-hp commented on #240
Here's a big video -> low color gif so you can see the behavior. Gif is a 5 second loop.
![form-bouncing-20-loop](https://cloud.githubusercontent.com/assets/13527666/11050144/a219be3a-8700-11e5-9ce3-9c9d10eabf4c.gif)

[2015-11-10 00:29] ericsoderberghp commented on #240
This is the dreaded Flash of Unstyled Text:

[2015-11-10 09:49] Plonk42 opened #243 "Status.Warning does not have a square viewbox"
On [Warning.js, l.25](https://github.com/grommet/grommet/blob/54a850ba909f34e51bf8ee6327539f97d5eb5afc/src/js/components/icons/status/Warning.js#L25), we have: ```viewBox="0 0 27 24"``` (notice the '27'). In all other status icons, we have ```viewBox="0 0 24 24"```.

This has been introduced in [370d4a3e](https://github.com/grommet/grommet/commit/370d4a3eae0e270325b09abc320848b64991dc59#diff-42a2b

[2015-11-10 20:53] kylebyerly-hp commented on #240
Hmm. Curiously it looks like if you dev locally (either dist w/ server or dev) the flash is non-existent after the first load. And way less on first load. Which does support the fonts slowing things down.

[2015-11-10 22:29] kylebyerly-hp opened #245 "Sparklines are 300px wide in IE11 and 49px wide in chrome/firefox"
Sparklines are
49 wide in firefox and chrome
300 wide in IE11

chrome
![image](https://cloud.githubusercontent.com/assets/13527666/11077904/b196387e-87bf-11e5-8cad-264957e4b7c2.png)

IE11
![image](https://cloud.githubusercontent.com/assets/13527666/11077891/9d1751b2-87bf-11e5-858a-13e4e999d61d.png)

[2015-11-10 22:44] kylebyerly-hp opened #246 "Tables are not selectable in IE11"
Table rows cannot be selected in IE11, either multi-select or single select. The single select table cat at least be initialized with a selected row, as in http://localhost:8002/docs/hpe/develop/distribution

[2015-11-10 23:01] kylebyerly-hp opened #247 "Layer does not work at all in IE11"
Clicking on any of the Layer options in http://www.grommet.io/docs/develop/layer results in nothing happening.

[2015-11-10 23:05] kylebyerly-hp opened #248 "List itemDirection="column" in IE11 has a broken layout"
In IE11 the Layout as column looks like this

![image](https://cloud.githubusercontent.com/assets/13527666/11078699/d6f026e8-87c4-11e5-981d-5ceedf415fbe.png)

[2015-11-10 23:17] kylebyerly-hp opened #249 "Menu doesn't work when a dropDown in IE11"
In IE11 it is not possible to select a dropDown and see the items in it as on http://www.grommet.io/docs/develop/menu

[2015-11-10 23:19] kylebyerly-hp opened #250 "Simple Layer is now full vertical"
In 0.3.x the simple layer was a small item at the top of the screen, not full vertical.

[2015-11-10 23:43] kylebyerly-hp opened #251 "remove x on Search and SearchInput in IE11"
Need to add the following to get rid of the clear x in IE. This was already done for form-field inputs.

[code]

May be worth abstracting out so all input types get this

[2015-11-10 23:44] kylebyerly-hp commented on #143
I believe this is fixed

[2015-11-10 23:45] kylebyerly-hp opened #252 "SearchInput does not allow select of suggestions in IE11"
Selecting an item in the suggestions dropDown in IE11 results in no change to the display value.

[2015-11-10 23:54] kylebyerly-hp opened #253 "Tabs do not work in chrome, firefox, or IE11"
Chrome and FIrefox give an Error in the console that looks like the following. Chrome and Firefox do give the appearance of the selected item being different (even though it hasn't).

16:48:58.047 Error: Invariant Violation: findComponentRoot(..., .1cs4bk69g5c.1.1.1.1.1:1:3.2.0.1.0.0): Unable to find element. This probably means the DOM was unexpectedly mutated (e.g., by the browser), usually due

[2015-11-10 23:56] kylebyerly-hp commented on #239
Probably related, the Title itself is odd in IE11. seems to do something odd with the svg icon.

![image](https://cloud.githubusercontent.com/assets/13527666/11079789/fbe1847c-87cb-11e5-8d99-e3d4dd378471.png)

[2015-11-11 06:30] ericsoderberghp commented on #250
Fixed in 1ff03596ddb98bf7979de0b108b5a12590a0272c

[2015-11-11 06:30] #250 closed

[2015-11-11 06:35] ericsoderberghp commented on #234
@primozs: How is the redux store being put into the context in the first place?  Any "router" and "intl" in the context should be getting passed through, via line #31 here: https://github.com/grommet/grommet/blob/master/src/js/components/Layer.js

[2015-11-11 06:47] ericsoderberghp commented on #231
I cannot reproduce the behavior on my IE11 for the select box on this page: http://www.grommet.io/docs/hpe/develop/form

[2015-11-11 06:52] ericsoderberghp commented on #216
The current guidance is to use a `<strong>` element within the `<h*>` element to achieve that.

[2015-11-11 06:52] #216 closed

[2015-11-11 06:59] alansouzati commented on #253
Very weird issue that started after we migrated to React 0.14 and React-Intl 2.0. I did a work around in commit https://github.com/grommet/grommet/commit/ae14e9f81ec5cd89cd58dd69f46cd64407e09c26.

Also, I've submitted an issue with react-intl project: https://github.com/yahoo/react-intl/issues/212

[2015-11-11 07:01] ericsoderberghp commented on #243
Thanks for catching this. It is fixed in b145b40379a4cf2362ac5be2bbf97faa6ed5b082.

[2015-11-11 07:01] #243 closed

[2015-11-11 16:35] kylebyerly-hp commented on #231
Formfield explicitly has
[code]
in `_objects.form.field.scss`. If you are not in a formfield you won't get this currently.
This could be globally changed/fixed in relation to https://github.com/grommet/grommet/issues/251 and all the IE overrides moved to `_base.input.scss`.

[2015-11-11 16:40] ericsoderberghp commented on #231
Thanks @kylebyerly-hp. What we really need is a page in the grommet docs showing the base DOM elements so we can see how they are styled when outside of a Grommet context.

[2015-11-11 19:59] primozs commented on #234
@ericsoderberghp Hello,
Store is being set by Provider.

[code]

The same container receives state if I don't wrap it with Layer container as a child.

[code]

[2015-11-11 21:19] ericsoderberghp commented on #234
@primozs: Got it. Thanks. The trick is how to have the Layer know which context properties to transfer across. I think it's doable though.

[2015-11-12 07:38] AngusMackHPE commented on #231
I am using it outside FormField and had a chance yesterday to confirm this behaviour. And thank you for highlighting the CSS that needs applying to fix this. I will confirm it is fixed using this style.

[2015-11-12 08:35] primozs commented on #234
@ericsoderberghp I did not check why `intl` and `router` is being explicitly set in Layer context but if I understand correctly it should be automatic. Is it possible that context settings in Layer are overwriting the rest of the context?

[2015-11-12 18:24] ericsoderberghp commented on #234
@primozs the context transfer is indeed automatic as long as you remain within the DOM component hierarchy of the top level render(). The Grommet Layer has to break out of that hierarchy in order to create a separate root/layer in the DOM and thus has to explicitly transfer child context objects.

I've submitted a change to Layer to transfer the 'store' child context across. I'm hoping this will w

[2015-11-12 20:00] primozs commented on #234
@ericsoderberghp Thank you, I will try it out.

[2015-11-15 20:03] primozs commented on #234
@ericsoderberghp I have tried the stable branch and now Component is no longer complaining about state and context, so this seams to be ok. "Routers history" on the other hand is somehow not working.
In this component that I am using as a child of Layer, i am importing Link
[code]
it is the same issue as before, if my component is not a child of Layer it works other wise on the clikck of Link I ge

[2015-11-15 20:33] primozs commented on #234
@ericsoderberghp I have added the history object to Layer and LayerContents context and it works.
History object is now required by router.

[2015-11-16 17:05] jaitthomas commented on #253
Is there is any workaround for this issue or any timeline for this fix? This issue is preventing us from leveraging the tab component.

[2015-11-16 21:19] tobias-flitsch opened #258 "Table mirror is positioned to first positioned element."
The table mirror is positioned to the first positioned element, which should be the root div element `.table--selectable`. However this div element is not positioned (refer to _objects.table.scss). Adding the following code should help.

[code]

But I am not sure if the table is always positioned like that. I assume if anyone would want to position the table differently, they would specify the pos

[2015-11-16 21:59] ericsoderberghp commented on #258
Thanks for submitting. Fixed in 506a5e9f4840c39e03d588d515eb1a45b02b91ca.

[2015-11-16 21:59] #258 closed

[2015-11-16 22:20] ericsoderberghp commented on #234
@primozs Would you be willing to submit a pull request for your history changes?

[2015-11-16 23:11] jaitthomas commented on #253
When will we release 0.4.1, as we are dependent on it?

[2015-11-17 10:27] AngusMackHPE commented on #231
For my current project I was able to set the appropriate styling for my select boxes and it works fine in IE and Chrome now.
Thank you for the assistance.

[2015-11-17 13:37] primozs commented on #234
@ericsoderberghp I have created pull request but from master branch. Is this ok? How is stable branch being generated currently?

[2015-11-17 17:40] alansouzati commented on #234
Stable branch gets updated as soon as changes are merged successfully to Grommet master repository.

In your case, as soon as your PR is approved and passes the CI build it will be automatically moved to the stable branch.

[2015-11-17 17:59] alansouzati commented on #253
The release is going to happen this week, in the meantime stable branch will unblock you.

[2015-11-17 18:03] primozs commented on #234
Thank You, Cheers

[2015-11-17 18:03] #234 closed

[2015-11-23 10:49] bungcip opened #261 "reduce grommet dependencies on windows to ease the instalation"
I am curious why i need to install python and windows SDK to try grommet on windows.  As old fashioned developer, I only know about jquery and knockout, so I want to refresh my knowledge on JS frontside. For now, I still learning how to use react and babel to create some SPA. Then I found out about grommet and want to try it. However the dependency of grommet is too much for me , running  `npm ins

[2015-12-01 15:13] Rakshaki opened #262 "Pagination control"
Is there a Pagination control built using Grommet? Can you give us an example?

[2015-12-01 18:01] alansouzati commented on #262
Hi @Rakshaki good question. Can you describe more on what you are trying to achieve with the pagination component.

I'm guessing you are trying to add long list with paging capabilities. If this is the case, have you considered doing infinity scrolling?

[grommet-index](https://github.com/grommet/grommet-index) offers a set of components that helps with rendering mass quantities of data. Check the

[2015-12-02 21:10] ivandurst opened #263 "Horizontal scrollbars on grommet site"
There is a horizontal scrollbar on the homepage:

![scrollbars](https://cloud.githubusercontent.com/assets/2073918/11544314/192529fe-98f6-11e5-871e-5a358e065f00.png)

[2015-12-04 21:47] jaitthomas commented on #253
I am currently unblocked with the stable branch. Just curious when the next release will be?

[2015-12-05 22:49] alansouzati commented on #253
Fixed in 0.4.1

[2015-12-05 22:49] #253 closed

[2015-12-05 22:51] jaitthomas commented on #253
np..Thank you Alan.

[2015-12-07 21:58] josephalhamad opened #265 "Tiles has "justify-content: flex-start" by default and doesn't have Box's flex properties"
Tiles has "justify-content: flex-start" by default which makes everything shift to the left.
.tiles {
  width: 100%;
  padding: halve($inuit-base-spacing-unit);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

Tiles, unlike Tile, doesn't have access to Box's flex properties. So, that prevents me from changing the justify property.

var Tiles = React.createClass({
propTypes: {

[2015-12-07 22:18] ericsoderberghp commented on #265
Tiles is meant to be a bit more controlled than Box. Could you elaborate a bit more on what you are trying to achieve?

[2015-12-08 02:35] josephalhamad commented on #265
I am trying to have 2 buttons side by side to have the same size and align them in the center of the page.

[2015-12-08 14:09] ericsoderberghp commented on #265
Would it work to put the Buttons inside a Box instead of using Tiles?

[2015-12-08 21:26] stephanbochet opened #266 "Bar Charts xAxis ({ Placement: Bottom }) not working correctly"
The Bar Charts  xAxis ({ Placement: Bottom }) not working correctly.

The Bars should be translated in the Y position to the top so that it aligns with threshold and all other components.

Example of issue:
http://codepen.io/anon/pen/bENObX

I fixed the issue on my local files by adding the following code to the Chart.js component ->  renderBars: () {

    _renderBars: function () {
    //Code

[2015-12-09 10:24] ibha opened #267 "Select box color"
![chrome](https://cloud.githubusercontent.com/assets/11291084/11682912/a8f2d468-9e8d-11e5-8714-064ba3e02532.png)
![mozilla](https://cloud.githubusercontent.com/assets/11291084/11682911/a8f1c078-9e8d-11e5-8b1f-c04a1228e937.png)

Select box has blue border in Chrome and black in Firefox

[2015-12-09 21:46] alansouzati commented on #266
Thank you so much for adding a codepen to illustrate the issue. It helped me a lot to see what is going on.

I tried the fix you suggested and it works just fine. Would be kind enough to send a Pull Request with this contribution?

[2015-12-09 21:49] stephanbochet commented on #266
Yes, I will do that.

[2015-12-10 04:08] #266 closed

[2015-12-17 10:46] eabay opened #270 "Locale.getCurrentLocale() always returns fallbackLocale"
Hi,

Thanks for this great UI framework!

I am evaluating Grommet to use in a local project but Locale is kind of broken I think.

In people-finder repo `locale` is [set](https://github.com/grommet/grommet-people-finder/blob/28db5988a3069cf5614433fede2763d6b8f0d66a/src/js/index.js#L14) from `Locale.getCurrentLocale()` but this method always [returns](https://github.com/grommet/grommet/blob/8009f8b

[2015-12-17 17:26] alansouzati commented on #270
Thanks for submitting this issue @eabay!

If you use Locale while in server side mode, we are currently using the default Locale. This seems wrong to me, but I'm not fully sure how to solve the Locale running on top of node. Feel free to send a PR to fix this issue if you have something in mind that will be able to load the current locale when running in the context of Node. If you run locale in t

[2015-12-17 23:52] eabay commented on #270
Better to discuss over PR #271

[2015-12-17 23:52] #270 closed

[2015-12-17 23:59] eabay commented on #261
I suggest you to take a look at [docker](https://www.docker.com/docker-toolbox). There are lots of ready-to-use node images in [hub](https://hub.docker.com).

[2015-12-18 09:51] shuangshan opened #272 "Rest throw Origin is not allowed by Access-Control-Allow-Origin"
Does anyone know how to resolve "Origin is not allowed by Access-Control-Allow-Origin" when use Rest get information from other website?

[2015-12-18 10:43] eabay commented on #272
This is not something about Grommet Rest.

Maybe you should take a look at [this](http://www.html5rocks.com/en/tutorials/cors/).

[2015-12-21 08:50] shuangshan commented on #272
eabay,thanks for your valuable tips.

[2015-12-21 08:50] #272 closed

[2015-12-21 18:50] eabay opened #274 "Type of title and secondaryText in LoginForm"
Type of those two properties is `React.PropTypes.string` although it can safely be `React.PropTypes.node`. Forcing `string` causes warning messages when `FormattedMessage` passed as value.

I can send a PR if it's OK for you.

[2015-12-21 18:59] alansouzati commented on #274
I faced similar issues in the past with exact situations as you are describing.

I agree with you that it is safe to have these properties as node, but it feels wrong to me.

Can you use the `intl` context variable to translate your content?

You can find in [here](https://github.com/grommet/grommet/blob/master/src/js/components/Tabs.js#L51) how I fixed the issues with `FormattedMessage`.

I don't

[2015-12-21 19:48] eabay commented on #274
Actually I've tried your suggestion before opening the issue but it doesn't feel right somehow.

I would push little bit more if I have good arguments other than personal but I don't :)

Thanks for your time!

[2015-12-21 19:48] #274 closed

[2015-12-21 20:50] #263 closed

[2015-12-21 21:48] marlonpp opened #275 "Problem with Hot Reload"
Hi guys,
I'm having problems with Hot Reload on dev mode.
After applying a change I'm getting this error:

[code]

It's possible to reproduce using grommet-todo application.

I will work on a fix and send a PR.

[2015-12-22 14:16] #275 closed

[2015-12-23 11:38] eabay opened #278 "Exporting with `module.exports` in ES6 modules"
I see you guys switching to ES6 syntax but still using `module.exports` to export modules instead of `export`. Is this intentional?

[code]

[2015-12-23 11:44] ericsoderberghp commented on #278
That was not intentional. We were focused on the React Component class aspects. Your suggestion  is a good one. Pull requests gladly accepted.

[2015-12-23 12:03] eabay commented on #278
And one more before getting my hands dirty...

What about static properties?

http://babeljs.io/blog/2015/06/07/react-on-es6-plus/
https://github.com/jeffmo/es-class-fields-and-static-properties

[code]

[2015-12-23 12:11] ericsoderberghp commented on #278
Take a look at Button.js to see how React propTypes and defaultProps are handled.

[2015-12-23 12:29] eabay commented on #278
I know. I just suggested to move them up inside class declaration and wanted to know how you think about that.

I deep dive into the codebase and trying to understand internals and your intentions.

Another thing is that you prefer to create bindings to class methods in constructor. Using ES7 function bind syntax would help to reduce work to accomplish the same but it's still experimental although

[2015-12-23 12:37] ericsoderberghp commented on #278
We were intentional about adopting ES6 but holding off on ES7 until it solidified more. I agree that the function binding stuff in constructor() is annoying boilerplate.

[2015-12-23 14:03] eabay commented on #278
That was the thing I want to hear!

I'll send a PR.

Thanks.

[2015-12-23 14:03] #278 closed

[2015-12-24 22:02] eabay opened #281 "LoginForm initial values"
It is not possible to give initial values to the fields of LoginForm component. It would be useful to make remember me field turned on by default and preserve the value of username between re-renders.

Any plan to make it possible? Idea how to implement?

[2015-12-24 22:13] eabay opened #282 "LoginForm component remember me field value"
It is easy to create a remember me field in LoginForm but no way to [set a default](281) or read value.

Feels like value should be passed to `onSubmit` prop as an argument?

[2015-12-28 03:26] alansouzati commented on #281
Good point.

If I were to implement this, I would add a prop `data` to LoginForm as in:

[code]

Then, inside LoginForm `data` property would be used as provided to pre-fill the form fields. Both of them would be optional.

What about you? How would you implement this?

@ericsoderberghp would love your insights here.

[2015-12-28 03:34] alansouzati commented on #282
I've added a comment in https://github.com/grommet/grommet/issues/281 that I believe will address the default value issue.

For the read value, you could use the `remembeMe` property of LoginForm:

[code]

Please let me know if I'm missing something...

[2015-12-28 20:12] eabay commented on #281
I would use the same approach except the name of prop. I personally prefer `defaultValues` or `values` but `data` would be the choice regarding conventions used in grommet.

[2015-12-28 20:35] eabay commented on #282
I am sorry, I think I failed to express the situation.

Passing a `rememberMe` property perfectly renders a checkbox but renderer component has no control on it like initially turning it on or getting the value when form is submitted. Initial value issue will be solved after #281 but accessing value should be considered as well.

Having a function signature like this on `onSubmit` would be the cho

[2015-12-28 21:02] eabay opened #284 "Using `label` prop in Menu to create a aria-label causes errors thrown by react-intl"
I am using person name for `label`. Menu component uses it for translation and `react-intl` module throws lots of errors like this:

[code]

![image](https://cloud.githubusercontent.com/assets/158772/12025278/ca304b4c-adb5-11e5-8cb8-76badff5a936.png)

[code]

Using the same approach like in #274 can solve the problem and give a more uniform experience.

[2015-12-29 20:11] alansouzati commented on #284
Agreed. Are you going to work on this or you want me to go ahead and change this?

[2015-12-29 20:12] alansouzati commented on #282
Fully agree. Let me know if you want me to fix this, or if you are going to send a PR for that.

[2015-12-30 21:53] eabay commented on #282
I'll send a PR as soon as I get the chance.

[2015-12-30 22:07] eabay commented on #284
I'll try when I get time

[2016-01-04 17:32] #284 closed

[2016-01-07 09:26] Rakshaki opened #287 "SubMenu within Menus"
![image](https://cloud.githubusercontent.com/assets/16102795/12166844/b50c1200-b54e-11e5-9d0b-de6be96174c7.png)

Hi,

I need to have SubMenus within Menu. Can you let me know if that can be done?

Thanks
Rakshaki

[2016-01-08 07:12] Abhijitforu commented on #157
I am new to grommet and i have created chart using it, and i run gulp dist after that i can see html and js pages in gulp dist directory now  i can use this chart but how i can make it dynamic from external java script or anything

[2016-01-11 14:48] Waize opened #289 "Calendar format should be editable"
Hi,

I want to use the calendar-component for a german web application.
Therefore I need to change the date format to "dd.MM.yyyy" and the week to start on monday.

Is it possible to make these settings to component-props?

[2016-01-11 15:25] alansouzati commented on #289
This seems like a reasonable request. I will add that to our backlog of items.

In the meantime, feel free to send Pull Requests for this.

[2016-01-11 19:06] stephanbochet opened #290 "Save Icon (Floppy Disk)"
Are there any plans on adding the Floppy Disk icon?

[2016-01-12 00:36] shaiksphere commented on #228
Page http://www.grommet.io/docs/hpe/develop/get-started (and http://www.grommet.io/docs/develop/get-started) seem to be fixed.

While http://www.grommet.io/docs/hpe/develop/tutorial (or http://www.grommet.io/docs/develop/tutorial) does not seem to exist anymore.

[2016-01-12 00:36] #228 closed

[2016-01-12 13:47] Waize opened #292 "User Icon lost"
After updating grommet from 0.4.1 to 0.5.1 is my application complaining that the User-Icon is gone.
Can you bring it back?
Found only the user.svg-file in your directories.

[2016-01-12 13:56] alansouzati commented on #292
Sorry to hear that @Waize. I tried looking here and I was able to find the user icon.

Are you importing like this?

[code]

[2016-01-12 14:00] Waize commented on #292
I'm doing this:

    import UserIcon from "grommet/components/icons/base/User";
    <UserIcon className="control-icon--small logo" colorIndex="grey-4"/>

And as I wrote, the file even does not exist in the icons-directory anymore :(

[2016-01-12 14:01] alansouzati commented on #292
Interesting. Let me check that real quick.

[2016-01-12 14:03] eabay commented on #292
@Waize I think you are using Grommet directly from git repo.

Icons are not available unless you build them by yourself with `gulp generate-index-icons` if you clone repo.

[2016-01-12 14:07] alansouzati commented on #292
thanks @eabay.

Yeah, I can't seem to reproduce this. If you look in the stable branch you will see the icon is there.

https://github.com/grommet/grommet/blob/stable/components/icons/base/User.js

[2016-01-12 14:20] Waize commented on #292
I am using npm and as it seems, the icons are there missing. The building process semmed to stopped after Trigger (for example the trophy-Icon is also missing).
I deleted all npm files and caches locally, but that does not help.
![trigger](https://cloud.githubusercontent.com/assets/16035154/12265878/00995a62-b940-11e5-993f-03048dad26c3.PNG)

[2016-01-12 14:24] alansouzati commented on #292
Thanks for the extra info @Waize. Can you describe how you are using Grommet? Please specify your NPM and Node version.

Also, looking at your path I see a temp folder with a `package.tar`. Can you describe your installation process?

[2016-01-12 14:31] Waize commented on #292
OS is win7,
npm version 3.4.1
node verion 4.2.2

The path you are seeing is just in my local cache-data. That explains the package.tar.
My installation is done with maven:
    --- frontend-maven-plugin:0.0.26:npm (npm install) @ Webapplic ---
    [INFO] Found proxies: [proxy{protocol='http', host='proxy.data-experts.de', port=8080}]
    [INFO] Running 'npm install --color=false in   D:\...
etc.

S

[2016-01-12 14:34] alansouzati commented on #292
I know that it is probably unrelated, but can you try running `npm install grommet -g` and check if the icon is present in your global installation ?

[2016-01-12 14:41] cschlipf opened #293 "Sticker sheet Checkbox style can be confused with radio button and tri-state checkboxes"
A square within a check box usually meand that there are checked and unchecked sub items (e.g. when using check boxes in a tree or when used as a select-all checkbox in a list like Gmail is doing it) or that the state is undefined.

Another issure is that the the style can also be confused with a radio button.

The Grommet implementation is still using a check mark and the sticker sheet should fol

[2016-01-12 14:43] Waize commented on #292
Unfortunately it's still the same issue.

[2016-01-12 14:58] alansouzati commented on #292
I can't reproduce this issue. Did you run `npm cache clean` ?

Can you try to update your Node to 5.1 ?

[2016-01-12 15:29] Waize commented on #292
Updated Node to 5.1.0, deleted every chache from npm, installed everything new... but I still just have the Icons until "Trigger.js".

Building process doesn't throw any errors.

[2016-01-12 17:31] jaitthomas opened #294 "Tabs appears distorted in Safari 8"
Tabs and grommet site layout appears distorted in Safari 8. Try the tabs link below in Safari 8.

http://www.grommet.io/docs/hpe/develop/tabs

[2016-01-13 03:25] zjufish opened #296 "do we support sortable table?"

[2016-01-13 07:13] Waize commented on #292
https://registry.npmjs.org/grommet/-/grommet-0.5.1.tgz

[2016-01-13 07:22] Waize commented on #292
@bryanjacquot can you please reopen the issue?
It is not solved yet.
Thanks.

[2016-01-13 12:58] eabay commented on #281
Maybe we should ping @ericsoderberghp

[2016-01-13 14:25] alansouzati commented on #292
Yeah, by downloading this tgz i was able to see that the some icons are actually missing.

We are not creating this compressed file, I wonder if this could be a bug in NPM.

I will try and investigate this. In the meantime you can use grommet stable which is very close to 0.5.1.

In your package.json change grommet version to the following:

[code]

[2016-01-13 14:41] alansouzati commented on #296
sorting is not supported at this point. PR welcome!

[2016-01-13 15:31] Waize commented on #292
Hey,
thanks for your support, i really appreciate it. I will try it with the stable version as long the package in npm isn't fixed.
So this issue can be closed.
On Mi., Jan. 13, 2016 at 3:25 nachm., Alan Souza < notifications@github.com [notifications@github.com] > wrote:
Yeah, by downloading this tgz i was able to see that the some icons are actually
missing.

We are not creating this compressed

[2016-01-15 00:54] larryhengl opened #298 "grommet init and babel setup"
Just stumbled onto grommet, looks really good.  Nice work and thanks for sharing it!

In the process of installing grommet and setting up my sample-app, I got babel related errors when running ```gulp dev```.

I played with the settings mods found in the wiki page [here](https://github.com/grommet/grommet/wiki/Grommet-0.5.0-and-Babel-6), but it didn't work.  So here's what I did to get it to all w

[2016-01-15 02:26] alansouzati commented on #298
Thanks for reporting this. I tried the sample app without adding the presets and worked normally. But you are not the first one to report this very same issue. Maybe I had the presets in the global context.

Sorry you had to face this issue. I will add the presets and plugin to the init commands.

[2016-01-15 16:39] larryhengl commented on #298
Cool , np, and thanks!  Feel free to close this puppy if you've already addressed this issue.

Side Q while I've got your ear:

Regarding the [Examples](https://github.com/grommet/grommet/wiki/Exporting-examples-from-Grommet)...is the Exporting idea now deprecated in lieu of a separate repo or subdirectory?  Or is that still in-progress, and I should fire up the example server in the meantime...to

[2016-01-15 17:02] tran2519 opened #299 "[Ferret] Resize to tablet width. The 'Server Hardware' dashboard first column is not displayed properly"
![image](https://cloud.githubusercontent.com/assets/13039669/12359335/afba40ec-bb66-11e5-93ba-092e56486a65.png)

[2016-01-15 21:55] tran2519 opened #300 "[ferret.grommet.io] Unable to load ferret on IE11. No error message seen from the debugger console"
![image](https://cloud.githubusercontent.com/assets/13039669/12366336/57b7222e-bb8f-11e5-82ba-b580c3091a4e.png)

[2016-01-17 19:55] simpleofac opened #301 "search input has issue when input special chars like : (%3A)"
In the Ferret search screen, eg search service profile screen
http://ferret.grommet.io/server-profiles

if I input 8, I will get 2 records,  url will become
http://ferret.grommet.io/server-profiles?q=8

if I input a special char, for example :  (colon), the url will become
http://ferret.grommet.io/server-profiles?q=8%3A

If i input any chars,  the search input will become empty and the url will be

[2016-01-18 20:57] #282 closed

[2016-01-19 02:49] zzl1 opened #302 "Bug of tiles when resizing window"
See attachment.
[Bug of tiles when resizing window.pdf](https://github.com/grommet/grommet/files/95265/Bug.of.tiles.when.resizing.window.pdf)

[2016-01-19 03:00] zzl1 commented on #302
### Tested browsers:
Firefox 43.0.4
Chromium V47.0.2526.80
Opera 34.0

### Grommet Version:
react: '^0.14.2',
grommet: '^0.5.2'

### Reproduce step
1.	Enter *http://172.17.0.2/test/* (browser window max)
2.	Resize window to make it like a smart phone.
3.	Resize window to original (max)
4.	Click arrow “-->”. The expected result is this arrow “-->” should be moved to the left of the page (as below).

[2016-01-19 17:51] #281 closed

[2016-01-20 13:23] ashispaik opened #304 "Table alignment Issue, always center aligned"
Whenever i populate a Table within a tile it's always center aligned.
How can i shift it to left.
Now i am getting this kind of layout in my mockup pages.

![untitled12](https://cloud.githubusercontent.com/assets/15069148/12449720/423e1320-bfa5-11e5-9c44-fd23af40ee7f.png)

Below is the Source Code:

![cap](https://cloud.githubusercontent.com/assets/15069148/12449916/6e381e02-bfa6-11e5-8428-7c1c610

[2016-01-22 00:26] jaitthomas opened #305 "Tabs doesn't retain the value while navigating"
In http://www.grommet.io/docs/hpe/develop/tabs, enter some value in "Your Name" in first tab. Navigate to the second tab. Navigate back to the the first tab. Value entered in the first tab is lost.

Tab doesn't retain values during navigation. If the values are to be restored in tab, there is no direct way to retain it. If Tab can have attribute such as 'retain=true|false' it will be helpful in de

[2016-01-22 18:40] bryanjacquot opened #306 "Enhance Box with more flexbox properties."
Add "stretch" as a value to align.
Add ability to set align-content via a new property.

[2016-01-23 14:18] zjufish opened #307 "chart sparkline is too small"
as in the http://www.grommet.io/docs/develop/chart
the sparkline chart is tiny even with size=large, anyway to get it larger?

[2016-01-23 23:33] alansouzati commented on #305
hi @jaitthomas I believe it is better to handle this scenario using react state. Check out this code pen: http://codepen.io/alansouzati/pen/KVQomV?editors=0010.

[code]

In this case the input test will retain value because we are using react state.

[2016-01-25 09:42] schlauergerd opened #310 "NumberInput: buttons ignore disabled-property"
Example from the develop guide:
```<NumberInput id="item4" name="item4" label="Item 4" disabled={true} />```

The input field itself is disabled. The add and the subtract buttons are not disabled, but they should be.

[2016-01-25 22:12] #310 closed

[2016-01-26 08:33] eabay commented on #306
+1

Using [react-layout-pane](/tomkp/react-layout-pane) while waiting for this.

[2016-01-26 08:47] eabay opened #311 "Stateless functions"
In Grommet codebase most of the components can be [stateless functions](https://facebook.github.io/react/docs/reusable-components.html#stateless-functions).

Right now, there is not much to gain but as they [stated](https://facebook.github.io/react/blog/2015/09/10/react-v0.14-rc1.html#stateless-function-components), they'll make performance optimizations specific to these components.

What do you

[2016-01-26 14:48] alansouzati commented on #311
Interesting concept. Thanks for checking this. I see a lot of components in Grommet that are a map of its props, so yes I like the idea of converting possible candidates (Anchor, Button, Form ...) to stateless components.

[2016-01-26 15:57] alansouzati commented on #292
Hi @Waize can you try this again with Grommet 0.5.3? I've updated NPM and Node and released a new version of Grommet. It seems now that all icons are present inside the compressed file.

[2016-01-26 18:01] #292 closed

[2016-01-26 21:01] jldzcxlxn2 opened #312 "The Table header moves when using scrollable option"
Description:

When using the Table component with the scrollable = {true } and the user scrolls the page, the header moves down and appears twice .

Grommet Version:

react: 0.14.6,
grommet: 0.5.3

![errorexample](https://cloud.githubusercontent.com/assets/16906452/12594729/dc567676-c44d-11e5-80d7-ccbbf2eed083.png)

[2016-01-26 21:28] eabay commented on #311
I am glad you agree. And I've started with `Anchor`, #313, and want to know what you think about if.

[2016-01-27 06:46] Waize commented on #292
Hi @alansouzati,
the new package seems to be fine!
Thanks!

[2016-01-27 16:25] localhosted opened #315 "Set icon custom dimensions"
How can I set an icons dimensions? Using the `style` property won't work:

    <Grommet.Icons.Base.CaretUp colorIndex="brand" style={{height: 12, width: 12}} />

With the above code, the icons continue with their 24px width and height.

[2016-01-27 18:00] rothskeller opened #316 "How to support old versions?"
Today I had a need to make a bug fix in a Grommet application I wrote months ago (on Grommet 0.3.6).  I checked out the code of my application, ran npm install, made my change — and gulp dist failed because of new jslint checks that weren't there when the application was originally built.

It is essential, when supporting an old application, to be able to rebuild it *exactly* the way it was origin

[2016-01-27 18:31] kylebyerly-hp commented on #316
You probably got hit by a transitive or a direct dependency using any of the fun version range type options (>, >=, ~, ^, etc)

`npm shrinkwrap` seems to be one way to do lock down specific versions of direct and transitive dependencies for production and reproducability. Of course, this doesn't help you getting an unshrinkwrapped project going again.
Adding `--dev` saves the dev deps too.

Combin

[2016-01-27 18:38] alansouzati commented on #316
Thanks @kylebyerly-hp for great explanation.

@rothskeller I would take a look in any `eslint` dependency you have with `^` or `~` and remove it as you don't want to keep updating your dependencies.

I would replace `"gulp-eslint": "^1.0.0",`  with `"gulp-eslint": "1.0.0",`. In this case version 1.1.0 may add/remove roles and it is considered a minor change. There are more eslint dependencies in y

[2016-01-27 19:03] alansouzati commented on #315
In general we don't enable custom styling. Instead we provide normalized sizes (small, large). The smallest size we enable for icons is 24px. I'm wondering if we should add small(12px), medium (24px), large(48px). Can you share the environment where you want to render a 12px icon?

[2016-01-27 20:32] localhosted commented on #315
When setting a tables order, usually there are up/down carets that signify the direction being ordered and availability of a column to be ordered. Like in: http://carlosrocha.github.io/react-data-components/

But, even then, I'm not actually sure having those smaller would fit.

[2016-01-27 20:42] alansouzati commented on #315
I agree we should support a smaller icon version. I will add that to our backlog, PR gladly appreciated :+1:

In the meantime you can use Sass and override the icon size.

[code]

[2016-01-28 19:42] maple10001 commented on #111
Same issue appears when I trying to use colorIndex in <Header> component.

More if setting fixed={true} in Header, some working colorIndexs like "grey-3" is not working in large viewport, eg: when the width is larger than 700px.

[2016-01-28 21:11] ericsoderberghp commented on #111
@maple10001: Can you clarify what your width issue is, perhaps with a screenshot? The bulk of this issue has been fixed for many months. I've just added the brand color to round it out. You can now see all of the colorIndex values be example here: http://www.grommet.io/docs/hpe/develop/box

[2016-01-29 00:09] maple10001 commented on #111
I am trying to use `<Header colorIndex='brand' fixed={true}>hello</Header>`. The colorIndex works fine. screenshot:
![image](https://cloud.githubusercontent.com/assets/8744187/12662974/c7c00ab0-c5d8-11e5-93ae-a2010659d32c.png)
After I added `[fixed={true}` to the code `<Header colorIndex='brand' fixed={true}>hello</Header>,` the color is gone. screenshot:
![image](https://cloud.githubusercontent.c

[2016-01-29 11:37] Waize commented on #290
Hey,

I can suggest the following SVG:

[code]

[2016-01-29 22:00] bryanjacquot opened #341 "Page templates"
Take elements of peopleFinder and other apps and strip the content for reuse by other teams.  Publish on grommet.io

[2016-01-29 22:26] JeffAMcGee opened #342 "Sparkline is very wide if x values are not consecutive integers"
The width of a sparkline is seven times the difference between the maximum x value and the minimum x value.  As an extreme example, this will create a 7000 pixel wide sparkline:

[code]

The difference between the two times is one second, or 1000 miliseconds. `1000 * (SPARKLINE_STEP_WIDTH + SPARKLINE_BAR_PADDING)` gives you a 7000 pixel wide element. As best I can tell, there isn't a way to change

[2016-01-29 22:49] bryanjacquot opened #343 "Add touch control and swipe to Carousel"

[2016-02-01 18:19] #111 closed

[2016-02-01 18:22] bryanjacquot opened #344 "Grommet Training 2: Backend"
Topics as voted by audience (in priority order):

 * Backend
  * REST API interaction
  * Routing
  * Redux

[2016-02-01 18:23] bryanjacquot opened #345 "Grommet Training 3: UI 201"
* Localization
* Accessiblity

[2016-02-01 18:24] bryanjacquot opened #346 "Grommet Training 4: Testing"

[2016-02-01 18:25] bryanjacquot opened #347 "Grommet Training 1: Getting Started"
* Installation of dev environment
* ES6
* Creating Sample App

[2016-02-02 06:45] Waize opened #349 "Calendar: accept empty values and disabled didn't work"
Hey,

if you put an empty value (" ") into the calendar component, it will create the date of today.
Is it possible to put and get empty values too?
For example using this for "get it done until ..." and you can leave it empty if it doesn't matter when it will be done. :)

And the second one:
You cannot disable the input field of the component.

[2016-02-02 06:59] NerdGGuy opened #350 "max-width for Sidebar?"
On Chome: Sidebar size="small" has no effect in the case below. The split is in the middle of the page

[code]

adding max-width seems to solve the issue.

[2016-02-02 12:33] C5197328 opened #351 "Tabs are always aligned to center of the page"
Is there a way to align the tabs to left rather than default to center?

[2016-02-02 23:54] maple10001 opened #353 "import Locale from 'grommet/utils/Locale'; undefined issue"
trying to use Locale from grommet utils, eg: `var locale = Locale.getCurrentLocale();`
when I using `import Locale from 'grommet/utils/Locale'`; I got
`Uncaught TypeError: Cannot read property 'getCurrentLocale' of undefined`
But it working when using `var Locale = require('grommet/utils/Locale');`

[2016-02-02 23:57] eabay commented on #353
[code]

[2016-02-03 14:13] #315 closed

[2016-02-03 14:15] localhosted opened #356 "Does Grommet have a "loading indicator" component?"
Does Grommet have a general purpose loading indicator? I see that the graph seem to have a loader when there is no data, and I wanted to add something similar to tables and lists.

[2016-02-03 15:21] ericsoderberghp commented on #105
This issue really belongs in grommet-index. Fixed there.

[2016-02-03 15:21] #105 closed

[2016-02-03 16:47] alansouzati commented on #356
[code]

You can see it live here: http://www.grommet.io/docs/hpe/design/basics#icons

[2016-02-03 16:47] #356 closed

[2016-02-03 16:53] alansouzati commented on #351
Currently this is not supported. PR gladly welcome. This should not be difficult to implement.

[2016-02-03 18:21] alansouzati commented on #350
Take a look on the flex option in here: http://www.grommet.io/docs/hpe/develop/split

You need to specify that your flexible container is the one on the right. By default, the split uses flex both.

[code]

I've created a codepen to illustrate your scenario. http://codepen.io/alansouzati/pen/KVxMEJ?editors=0010

[2016-02-03 21:20] NerdGGuy commented on #350
Thanks!

[2016-02-03 21:20] #350 closed

[2016-02-03 23:17] bryanjacquot opened #357 "Write a "why react" page for Grommet blog"

[2016-02-04 14:04] elronalds opened #360 "Add hover property to Chart Legend"
When using the overlay legend position the legend is always docked to the important property when the chart first loads.  This blocks the initial view of chart data points.  Due to this we should add a property to the legend called hoverOverlay that only shows the chart legend when the data points are hovered.

[2016-02-04 14:22] elronalds opened #362 "Improve Chart Legend UI"
It would be a nice enhancement if the chart legend didn't block most of the chart.  The showcase shows a good solution to this issue, where a tooltip could be shown at the top of the chart and doesn't block the actual chart data points, as shown below.  This could be more aligned to the top of the chart though.

![image](https://cloud.githubusercontent.com/assets/1728513/12817510/1f77c8ea-cb9e-11e

[2016-02-04 17:44] bryanjacquot commented on #362
@elronalds we've found this example works well when the data point is in the lower 2/3 of the graph, but when values reach the top of the graph, they extend beyond the top of the graph which could be near the top of the page.  So we're left asking if we pad graphs on the tap to account for this.  Hence our current direction.  We continue to make improvements in this area, but in the example here,

[2016-02-04 18:00] fjwood1 opened #363 "Chart browser console errors when value/series data is 0."
I seem to get a lot of “NaN” errors in the browser console when my Chart dataset has 0 values.
My chart seems to display OK though.
It seems to help when the chart min={0} is set, but if the chart has "points" configured you will still get the errors.

Below are 2 examples of the types of errors I get…

#1) For charts without “points” set:

My code:

      <Chart type="area" smooth series={[

[2016-02-04 23:00] bryanjacquot opened #365 "Add localization support for right-to-left reading"

[2016-02-05 02:45] elronalds commented on #362
@bryanjacquot If the chart is at the top of the page then couldn't the tooltip just be shown extending down at the bottom of the chart.  Just like how the legend tooltip changes left/right directions at the moment?  I think showing the legend outside the graph area is the way to go forward.

[2016-02-05 03:41] elronalds opened #366 "Chart smoothing algorithm issue"
There seems to be an issue with the chart smoothing algorithm for line and area charts as shown below:

![image](https://cloud.githubusercontent.com/assets/1728513/12837387/f85c69ee-cc0d-11e5-83ae-b6a90e0df5d3.png)

There is three data points at the start of this chart with values 0, 9, 11 and between the 9 and 11 data points there is a dimple in the chart smoothing that shouldn't be there.

[2016-02-05 17:36] bryanjacquot opened #367 "Allow Form to set action= attribute and use via old-school web form submittal"
Needed by internal HPE team.

[2016-02-05 17:36] bryanjacquot opened #368 "Use *Actions*.listen() instead of createStore in tests."
IndexActions.getItems.completed.listen(function ...)
      Reflux.createStore({
        listenables: IndexActions,
        onGetItemsCompleted: function(data, params) {
          expect(data).toExist();
          expect(params).toNotExist();
          done();
        },
        onGetItemsFailed: function() {
          should.fail('Expected the getItems to succeed.');
        }
      });

[2016-02-05 17:37] bryanjacquot opened #369 "Enhance grommet command line utility to support command line args for the type of app and theme"

[2016-02-05 17:38] bryanjacquot opened #370 "Create example application from markdown loader"

[2016-02-05 17:39] bryanjacquot opened #371 "Create generic marketing site app"
Include isomorphic and basic navigation

[2016-02-05 17:41] bryanjacquot opened #372 "Add initial set of integration tests for Grommet developer environments"
- Validate npm install works on Windows and Linux
  - Validate webpack hot-loader works on linux and windows

[2016-02-05 17:42] bryanjacquot opened #373 "Update for Sass Linter that doesn't require Ruby"

[2016-02-05 17:43] bryanjacquot opened #374 "Add generator for index.js and bower distribution to ensure valid components are available."

[2016-02-05 17:43] bryanjacquot opened #375 "Convert Grommet blog to use Grommet"

[2016-02-05 17:44] bryanjacquot opened #376 "Expand Grommet Architecture Page"
-  Style – application uses just the CSS, keeping existing code and technology platforms
  -  Component – leverage of the React components and CSS styling.  This model is useful for:
    - A legacy application wanting to begin using React components as legacy portions of the UI are replaced (e.g. Flex or Java applets).
  - AngularJS applications wanting to leverage the React components.
  - A new

[2016-02-05 17:45] bryanjacquot opened #377 "Horizontal option for bar charts"

[2016-02-06 00:59] alansouzati commented on #373
right now this is not possible. there are issues with the sass-lint (node only tool).

See here: https://github.com/tonyganch/gonzales-pe/issues/115
And here: https://github.com/sasstools/sass-lint/issues/222

[2016-02-08 06:15] C5197328 opened #379 "Can we open grommet application from piano application?"
Hi,
   Is it possible to initiate a grommet application in a new window as a link from piano application?

[2016-02-08 18:26] bryanjacquot opened #380 "Enable right-to-left locales"

[2016-02-08 18:30] #357 closed

[2016-02-08 18:34] alansouzati commented on #312
Fixed in https://github.com/grommet/grommet/pull/364

[2016-02-10 17:29] tracybarmore opened #383 "Edit HPE design resources with new HPEMetric font"
Updating Metric to MetricHPE font for:
- HPE sticker sheet (sketch/AI/Axure/PDF)
- HPE Data sticker sheet (sketch/AI/PDF)
- HPE App Templates (sketch/AI/PDF)
- HPE Functional Icons (AI/PDF)

[2016-02-10 17:46] tracybarmore opened #384 "Update HPE Axure sticker sheet to v0.9.4"
HPE Axure sticker sheet is missing styles from the most recent AI/Sketch sticker sheets.

[2016-02-11 04:28] techPackets opened #386 "Unable to disable autocomplete for search input box in firefox & chrome browser"
The autocomplete="off" doesn't work for `<SearchInput placeHolder=""" suggestions={this.state.suggestions} ...> `for both firefox & chrome.

I've tried the solutions provided on web, none of them seem to work
I've also tried putting autocomplete="off" at the form & input field level. Still it doesn't work.

I am trying to implement an autosuggest autocomplete feature for my search module. On typin

[2016-02-11 18:44] saumildharia opened #390 "Search input drop down list gets displaced when resized"
When the search input drop down list is open, if we try to re-size the browser  to 600 X 960 or till we get rid of the left pane, the drop down list gets displaced and appears to the left top of the screen.

![image](https://cloud.githubusercontent.com/assets/9210001/12986442/23e05556-d0ac-11e5-95ee-608890c8b273.png)

[2016-02-11 21:02] tomtosi opened #391 "Filter "Not inline" radio button"
Can the draft version of the Filter "Not inline" with checkboxes (http://index.grommet.io/docs/grommet-index/filter) be adapted to create a version of the same control using radio buttons (i.e. single-select)?
![image](https://cloud.githubusercontent.com/assets/17185641/12990518/d0aa4310-d0d8-11e5-814c-c3653d261e41.png)

[2016-02-12 00:51] tracybarmore opened #392 "Repo/HPE URL for MetricHPE-Desktop"
Will there be a URL to give download access to the new MetricHPE-Desktop font?

Currently our HPE sticker sheet has a the MetricHPE-Web URL (https://github.com/grommet/grommet/tree/master/src/scss/hpe/font)

[2016-02-12 18:06] #392 closed

[2016-02-12 22:35] #383 closed

[2016-02-12 22:35] #384 closed

[2016-02-12 22:37] #312 closed

[2016-02-12 22:38] #347 closed

[2016-02-16 09:03] primozs opened #395 "SearchInput className, icon change"
Hello,
What is your opinion on InputSearch modification so it would support icon change from the props and className prop merge? I am also wondering when should one use Search and SearchInput?
Cheers
Primoz

[2016-02-17 14:24] ericsoderberghp commented on #395
Could you provide an example of when you would want to change the icon?

Originally, Search was meant for more standalone scenarios, such as global site search in a banner/header while SearchInput was meant as an enhanced means of filling our an input field in a form. Over time their functionality has merged a bit. One area where they still differ is that Search will handle responsive situations b

[2016-02-17 17:37] primozs commented on #395
Thank you for explanation. For the use case: with fixed "suggestions", SearchInput looks a lot like nice "advanced" select box or "search select" box but icon should be replaceable. Icon could be "down", "caret-down" or something else ...

[2016-02-17 18:53] tran2519 opened #396 "Search Input: selected item should be highlighted in the drop down menu"
Selected item 'three', close the drop down menu.
Open it again.  Expect to see 'three' highlighted in the drop down menu
![image](https://cloud.githubusercontent.com/assets/13039669/13120895/a3aaaf40-d564-11e5-9dcb-f9390bf81293.png)

[2016-02-17 18:55] tran2519 opened #397 "Search input: there is no 'x' icon to delete entire input."
Should we provide an option where users can add a delete icon next to the search one?

[2016-02-17 19:09] tran2519 opened #398 "Search input: should we have counter?"
If the search results in a large number of items, should we limit the number of displayed items?
If we do, then should we have a counter listed how many items found, and how many are displayed?

[2016-02-17 19:16] maple10001 opened #399 "legend option not working in Meter component"
In Meter component ([http://www.grommet.io/docs/develop/meter](url)), setting the legend option as: `legend={{"placement": "inline", "total": false}}`. In the page, meter still has the total in the legend.

[2016-02-17 19:19] maple10001 opened #400 "font with background color contrast issue in Meter Componet"
In meter component, font color of the label has contrast issue with background color.
![image](https://cloud.githubusercontent.com/assets/8744187/13121681/37dc4a2c-d568-11e5-9a22-5aa74be7555b.png)

[2016-02-17 19:37] tracybarmore opened #401 "Edit HPE sticker sheet footers (text links and removal of pipe symbol)"
HPE sticker sheet updates of AI/PDF/SKETCH:
- Update links in all footers to match links in Text Links section
- Remove Pipe symbol ( | ) in Application Footers

[2016-02-17 21:36] tran2519 opened #402 "Search input: scrollbar is not available"
![image](https://cloud.githubusercontent.com/assets/13039669/13125613/596b24ac-d57b-11e5-8993-895d3ae01ca2.png)

[2016-02-17 21:49] tran2519 opened #403 "Search input: Long label without spaces will introduce horizontal scroll bar"
Should we have a max width and wrap the rest to the next line instead of introducing horizontal scrollbar?
Also notice that there is no padding between value (first) and sub(alpha)

![image](https://cloud.githubusercontent.com/assets/13039669/13125956/17a9b11c-d57d-11e5-8f75-10f885e87baa.png)

[2016-02-17 22:02] tran2519 opened #404 "Search input: disabled input"
Is there an option to disable the input?  We need this feature  since we have a use case where  a certain fields in the form need to be filled before the search input is populated with corresponding data.

[2016-02-17 22:16] tran2519 opened #405 "Search input: click on the input field does not open the menu"
Click and hold will open the menu.  Click only will not.  Wonder if it's a feature or it's a defect.  I seldom run into any web pages where I need to click and hold to see the drop down menu though.

[2016-02-17 23:33] tran2519 opened #407 "Search input: can the drop down menu formatted as a table"
We have a use case where the menu list is a table, as shown below.  I wonder if grommet search input  can be done that way.
![image](https://cloud.githubusercontent.com/assets/13039669/13128602/cfcd0632-d58b-11e5-858a-fea2c92c5401.png)

[2016-02-18 16:15] josephalhamad opened #412 "NumberInput in IE"
NumberInput component doesn't work (doesn't increase or decrease) in IE11.
http://www.grommet.io/docs/hpe/develop/numberinput

[2016-02-21 23:31] bryanjacquot opened #414 "Status component seems to have been removed but docs and sample app still have it"
The Status component is still documented but is not included in the distribution.  The Sample app from `grommet init sample-app` still refers to it as well.

http://www.grommet.io/docs/develop/status

[2016-02-21 23:32] bryanjacquot opened #415 "Grommet sample app is out-of-date"
The Grommet sample app is referring to Grommet version 0.3.x and uses components that are out-of-date.

[2016-02-23 21:16] bryanjacquot commented on #414
By fixing issue 415, this will be resolved.

[2016-02-23 21:16] #414 closed

[2016-02-23 21:21] bryanjacquot commented on #407
We'd like to explore ways to provide this feature without requiring a table in a search combo.  Suggest using a `ListItem` with a `justify="between"` parameter.

[2016-02-23 21:22] bryanjacquot commented on #412
We've verified this is an issue.

[2016-02-23 21:28] bryanjacquot commented on #405
Can you clarify what component where you're seeing this issue and what browser you're using?

[2016-02-23 21:30] bryanjacquot commented on #404
We'd recommend not showing the form field until the preconditions have been made.  This follows the progressive disclosure principle we advocate.

[2016-02-23 21:34] bryanjacquot commented on #403
In this case, the consumer of the component can structure suggestions as components and control rendering and layout as desired.   In this example, the content wasn't structured for a better layout.

[2016-02-23 21:35] #403 closed

[2016-02-23 21:36] bryanjacquot commented on #402
Confirmed this is an issue.

[2016-02-23 21:36] bryanjacquot commented on #400
Confirmed issue.

[2016-02-23 21:43] bryanjacquot commented on #399
![2016-02-23_14-42-21](https://cloud.githubusercontent.com/assets/6393696/13267681/cc464280-da3b-11e5-8f6d-0cdd2193a01e.png)

[2016-02-23 21:47] bryanjacquot commented on #398
We'd like to avoid adding the counter to keep the content to a minimum.  If there's a specific scenario where we must have the counter, then we'd like to discuss further.

[2016-02-23 21:50] bryanjacquot commented on #397
Since putting focus in the search input selects all the text in the field, the backspace key can easily be used to clear the entire field.  If there's a specific scenario where there's a need to add another control, please let us know.

[2016-02-23 21:51] bryanjacquot commented on #396
Agree.  The selection should be highlighted.

[2016-02-23 21:54] bryanjacquot commented on #395
If the set of suggestions is fixed, have you considered using a standard HTML `<select>` control?  That control uses a down icon.  You can examples on the form page: http://www.grommet.io/docs/hpe/develop/form

[2016-02-23 21:57] bryanjacquot commented on #391
@tomtosi, can you please submit this issue against the grommet-index project?  https://github.com/grommet/grommet-index/issues/new

[2016-02-23 21:57] #391 closed

[2016-02-23 22:00] bryanjacquot commented on #386
We will turn off autocomplete for SearchInput, Search, and NumberInput.

[2016-02-23 22:03] primozs commented on #395
@bryanjacquot Beside select options to have also autocomplete options, I had in mind something like this. https://github.com/JedWatson/react-select To make an example for myself I modified SearchInput to change icon. The next thing would be "x" button to remove current selection!

[2016-02-24 19:50] tran2519 opened #418 "Search input: the input goes under and visible through the search icon"
![image](https://cloud.githubusercontent.com/assets/13039669/13298708/bd01916a-daec-11e5-8fc6-71ede195f5ff.png)

[2016-02-24 22:08] tran2519 commented on #398
We currently have use cases where the search results in a list of more than a hundred items.  We just display 50 out of total, and load more pages when users scroll down.

[2016-02-25 00:20] tracybarmore opened #421 "Edit HPE Sticker Sheet dark theme slider component"
HPE sticker sheet updates of AI/PDF/SKETCH:
- Need to update slider in dark theme. Slider knob is currently transparent and cannot automatically take on background color.
- Find solution that ties well with toggle.

[2016-02-25 00:33] JetLim opened #422 "Search input"
On clicking the search icon control, a drop down menu opens with the focus selector remaining on the search icon control. However a search text cannot be entered. Is this intentional?

It would be great if the user can type into the field while the menu is open. (Similar to Piano)

reference
[http://www.grommet.io/docs/hpe/develop/searchinput](url)
##

When on the control, do we allow using a [dow

[2016-02-25 05:23] jwijay commented on #351
Hi @C5197328 ! We've implemented a justify option for the Tabs component.
The updated Docs page is here:
http://www.grommet.io/docs/develop/Tabs

If you leave the responsive option to true (default), then for smaller screen sizes, the tabs will stack into a centered column. If you set responsive to false, in smaller screen sizes, the tabs will continue to wrap, and remain left (or right) justified

[2016-02-25 05:23] #351 closed

[2016-02-25 05:35] ericsoderberghp commented on #412
Fixed in commit 101a03d656f775e871cbc085c9aa8da2bf4372cb.

[2016-02-25 05:35] #412 closed

[2016-02-25 05:38] ericsoderberghp commented on #252
Similar to issue #412. This is caused by IE11 not supporting "new Event".

[2016-02-25 05:41] ericsoderberghp commented on #247
Cannot reproduce.

[2016-02-25 05:41] #247 closed

[2016-02-25 05:47] ericsoderberghp commented on #252
Fixed in commit 12ef611743605b3bfbbd5540c620e9c9251e34ec.

[2016-02-25 05:47] #252 closed

[2016-02-25 05:48] ericsoderberghp commented on #143
Cannot reproduce anymore.

[2016-02-25 16:50] ericsoderberghp opened #424 "Header in IE11 does not honor align="center" correctly"
<img width="927" alt="screen shot 2016-02-25 at 8 49 36 am" src="https://cloud.githubusercontent.com/assets/11637956/13326964/c85e674e-db9c-11e5-855a-a90dec19d2e4.png">

[2016-02-25 17:19] kylebyerly-hp commented on #247
It does appear to work now

[2016-02-25 17:24] kylebyerly-hp commented on #143
Not quite in all cases.
http://www.grommet.io/docs/develop/searchinput
![image](https://cloud.githubusercontent.com/assets/13527666/13328064/e9920b34-dba9-11e5-9b91-38d26064f07d.png)

Click into the SearchInput and you'll see the x appear.

Also
http://www.grommet.io/docs/develop/search
![image](https://cloud.githubusercontent.com/assets/13527666/13328078/f9c3fe36-dba9-11e5-8b91-bbcf93ec8d40.png)

[2016-02-25 17:27] kylebyerly-hp commented on #424
May also be related to Title in Header is cut off in IE11 #239

[2016-02-25 17:32] kylebyerly-hp opened #425 "IE11 Layer does not turn off all scrollbars"
At least until you leave focus for a certain amount of time.
![image](https://cloud.githubusercontent.com/assets/13527666/13328261/fa48d6e6-dbaa-11e5-84d4-d22ab6dc504e.png)

Steps to reproduce.
Mouse over section with a scrollbar, click a layer button.

[2016-02-25 23:54] ericsoderberghp commented on #424
This is only an issue with IE11. Cannot reproduce on Edge 13.

[2016-02-25 23:54] ericsoderberghp commented on #242
This is only an issue with IE11. Cannot reproduce on Edge 13.

[2016-02-25 23:55] ericsoderberghp commented on #251
This is only an issue with IE11. Cannot reproduce on Edge 13.

[2016-02-25 23:56] ericsoderberghp commented on #143
This is only an issue with IE11. Cannot reproduce on Edge 13.

[2016-02-25 23:57] ericsoderberghp commented on #239
This is only an issue with IE11. Cannot reproduce on Edge 13.

[2016-02-25 23:58] ericsoderberghp commented on #248
Cannot reproduce on Edge 13.

[2016-02-25 23:59] ericsoderberghp commented on #249
Cannot reproduce on Edge 13.

[2016-02-26 00:04] ericsoderberghp commented on #425
Cannot reproduce on IE11.

[2016-02-26 00:04] #425 closed

[2016-02-26 00:06] ericsoderberghp commented on #248
Cannot reproduce on IE11.

[2016-02-26 00:06] #248 closed

[2016-02-26 00:10] ericsoderberghp commented on #249
Cannot reproduce on IE11.

[2016-02-26 00:10] #249 closed

[2016-02-26 00:27] ericsoderberghp commented on #239
Fixed in grommet commit f4962e8a28dbefb336dfda2633d36f712f0b7e41.

[2016-02-26 00:27] #239 closed

[2016-02-26 00:45] ericsoderberghp commented on #251
Duplicate of issues #143

[2016-02-26 00:45] #251 closed

[2016-02-26 00:49] ericsoderberghp commented on #143
Fixed in c1b7afd01e5405496c86a4da41102f9e4ecf510c.

[2016-02-26 00:49] #143 closed

[2016-02-26 09:33] christinHP opened #427 "FormField required parameter doesn't work."
I use FormField with "required" parameter, it doesn't work. The grommet.js has "--required" function, but the css files grommet-aruba.css, grommet-hpe.css, grommet-hpinc.css, grommet.css don't work for "--required" function.

[2016-02-26 14:34] ericsoderberghp commented on #424
Fixed in 901ff1ccefd928228737598987b0ab93c25c6a66 and in grommet-index 7a0f66a22cad6b5d46018167d1a4a9c2457d9700.

[2016-02-26 14:34] #424 closed

[2016-02-26 15:12] DeanKooiman opened #428 "Grommet distributable is very large on file system"
The grommet framework with all its dependencies is massive on the file system.  I believe this is due to the build infrastructure and utilities that are also included in the base distribution.  Delivering the grommet utilities and build chain as a separate package should drastically shrink the size of the repository.

Additionally on later versions of NodeJS (I am on v4.2.0), developers have to in

[2016-02-26 15:21] ericsoderberghp commented on #428
Agreed. Alan Souza, along with Derek Ahn have been looking into separating out the build tasks from grommet.

[2016-02-26 16:19] alansouzati commented on #428
Thanks for reporting this issue @DeanKooiman ! I have it in my short list of things to fix. I will keep you posted.

[2016-02-26 17:39] ericsoderberghp commented on #242
Fixed in bc9e4baaad0f4ad37a4828cc0163ccba1e2b3eac.

[2016-02-26 17:39] #242 closed

[2016-02-26 23:01] L0ZZI opened #429 "Grommet Blog Design"
Update Grommet Blog design.

[2016-02-26 23:02] #343 closed

[2016-02-27 00:42] ericsoderberghp opened #430 "Add Columns component."

[2016-02-27 01:24] JetLim opened #431 "Grommet 'Search input' and 'Search form fields'"
![search_input3](https://cloud.githubusercontent.com/assets/16657091/13369237/58e32484-dca7-11e5-8a81-02cfdda43257.png)

Search
http://www.grommet.io/docs/hpe/develop/search

Search input
http://www.grommet.io/docs/hpe/develop/searchinput

On the onset the form field with 'search' icon control for both Search and Search input looks the same. However, it behaves differently. For Search input, the u

[2016-02-28 01:35] #430 closed

[2016-02-28 01:48] ericsoderberghp commented on #402
Fixed in 71b6a73d2375d21b9e0f426a83cba0d5e0ba1525.

[2016-02-28 01:48] #402 closed

[2016-02-29 22:25] ericsoderberghp opened #432 "Don't include all icons in every caller's project."
Having Button and Anchor accept a string name for a icon is causing all bundles to include all icons, even if only one is being used. The cost of this is ~500KB.

[2016-02-29 22:53] ericsoderberghp commented on #432
Fixed in 9f120d7826790fc89ce373083c3d4939f35a93bc.

[2016-02-29 22:53] #432 closed

[2016-03-02 03:01] jwijay commented on #405
resolved in PR: https://github.com/grommet/grommet/pull/433

[2016-03-02 03:01] jwijay commented on #396
PR: https://github.com/grommet/grommet/pull/435

[2016-03-02 03:02] jwijay commented on #390
resolved in PR: https://github.com/grommet/grommet/pull/433

[2016-03-02 17:20] #396 closed

[2016-03-02 17:21] #405 closed

[2016-03-02 23:03] jwijay commented on #215
Hello @josephalhamad.

Are you trying to use SearchInput within a form, or standalone? If you want standalone search functionality, I would recommend using the Search component with the "fill" option set to true to get the desired appearance. See here for an example: http://www.grommet.io/docs/develop/Search

[2016-03-04 00:58] jwijay commented on #306
Resolved by PR: https://github.com/grommet/grommet/pull/438

[2016-03-04 00:58] #306 closed

[2016-03-04 01:00] #390 closed

[2016-03-04 01:09] jwijay commented on #267
This no longer appears to be an issue in Firefox or Chrome.

[2016-03-04 01:09] #267 closed

[2016-03-07 17:14] bryanjacquot opened #440 "Search component when used in header lacks padding between logo and search input"

[2016-03-07 19:32] #386 closed

[2016-03-08 01:55] tearsofphoenix opened #441 "Warning: Failed Context Types: Invalid context `router` of type `object` supplied to `NavBar`"
Warning: Failed Context Types: Invalid context `router` of type `object` supplied to `NavBar`, expected `function`. Check the render method of `Connect(NavBar)`.

[code]

grommet: 0.5.3
react: 0.14.2
react-router: 2.0.0
npm: 3.8.0
node: 5.7.1

[2016-03-08 01:56] tearsofphoenix commented on #440
I prepare to use `Search` in the `Header`.

[2016-03-08 01:58] tearsofphoenix commented on #431
+1

[2016-03-08 02:02] tearsofphoenix commented on #427
some other `bool` field also not work in several components, such as `Header`. It seems grommet not fit with latest babel syntax.

[2016-03-08 02:04] tearsofphoenix commented on #418
+1

[2016-03-08 18:00] ibhag opened #442 "Select box items not visible with classic background"
Hi,
Select box items are not visible as text color is white and background is also white. Please see under
http://www.grommet.io/docs/hpe/develop/form#Inverse item7 drop down.
Also is it possible to replace the background image of drop down with Icon.
Thanks

[2016-03-08 18:15] ericsoderberghp commented on #442
Can you provide more context on what browser you are using, and perhaps a screenshot? I am not seeing the problem when I look at it.

[2016-03-09 02:42] jwijay commented on #136
When onClick is not specified in the series options object, the pointer cursor will not be shown on mouseover. This issue seems resolved.

[2016-03-09 02:42] #136 closed

[2016-03-09 03:13] ibhag commented on #442
I works fine in Firefox, but is reproducible on Chrome and IE.
PFA screen shot
![selectboxissue](https://cloud.githubusercontent.com/assets/17637919/13624325/f369fc2e-e5d2-11e5-9ace-33bf70809717.png)

[2016-03-09 03:38] jwijay commented on #134
Implementation has been updated in Meter.js to to check for active item in series before populating fields object with value/label. Mouseover issue seems resolved.

[2016-03-09 03:38] #134 closed

[2016-03-09 17:39] bryanjacquot opened #444 "Investigate alternative to moment.js"
Moment.js consumes 420.68 KB (before compression) in Grommet apps.  Need to find a lighter-weight alternative.  Possibly https://github.com/taylorhakes/fecha

[2016-03-09 17:46] bryanjacquot commented on #415
Had to remove and re-install the latest `grommet` command and then the sample app was the up-to-date.

[2016-03-09 17:46] #415 closed

[2016-03-09 20:05] localhosted opened #445 "New version release?"
Is there going to be a newer release anytime soon? I didn't want to have to maintain a Grommet package with the latest changes, but 0.5.3 is missing several components, like Column, and the structure is different from the docs.

[2016-03-09 23:21] ericsoderberghp opened #446 "NumberInput validation error styling is broken"
When using min/max with NumberInput, the error styling doesn't match the way other FormField errors are styled.

Firefox:

![screen shot 2016-03-09 at 3 20 01 pm](https://cloud.githubusercontent.com/assets/11637956/13654078/7c25b2e2-e60a-11e5-9c9f-7a04aa2d822f.png)

It doesn't work at all on Chrome/Safari:

![screen shot 2016-03-09 at 3 20 26 pm](https://cloud.githubusercontent.com/assets/11637956

[2016-03-10 00:06] jwijay commented on #418
Resolved with PR: https://github.com/grommet/grommet/pull/437

[2016-03-10 00:06] #418 closed

[2016-03-10 01:11] ericsoderberghp commented on #446
Fixed in 49180f28789230723c3713aecbe20ad1c234c6b1.

[2016-03-10 01:11] #446 closed

[2016-03-10 04:46] jwijay commented on #139
Closing this issue, as it appears resolved when testing Left/Right opening Layer in Chrome, Firefox, and Safari.

[2016-03-10 04:46] #139 closed

[2016-03-10 04:54] jwijay commented on #140
Closing this issue, since it appears resolved when testing in Chrome, Firefox, and Safari. Dropdown no longer lingers when clicking outside the Layer and resizing the window.

[2016-03-10 04:54] #140 closed

[2016-03-10 06:52] tearsofphoenix commented on #445
+1

[2016-03-10 18:21] bryanjacquot opened #447 "Create list of open source dependencies for each build"
Need to create list of all OS dependencies that are part of the built grommet package for open source compliance.  Differences should be flagged and sent via Slack or email.

[2016-03-10 18:23] bryanjacquot opened #448 "Create zip of of source code for all open source dependencies for each Grommet release"
For each Grommet release, create a zip of all dependencies delivered in a Grommet app for open source compliance and licensing.

[2016-03-10 18:36] alansouzati commented on #445
We are still in the process of fixing few things before releasing grommet 0.5.4. I'm hoping we will be able to release next Tuesday. In the meantime we can use the stable branch, in your package.json add that:

[code]

[2016-03-11 06:15] ibhag opened #449 "Chart xaxis overlap each other when labels are long"
xAxis overlap when labels are long. With time charts, mostly the labels will be long and should be readable. May be we can wrap the labels as d3 does. You can see the same
in http://codepen.io/ibhag/pen/YqWqJy if you make the window smaller.

![test](https://cloud.githubusercontent.com/assets/17637919/13694756/893983bc-e77e-11e5-98c0-76aee4fc600a.png)

[2016-03-11 20:39] jwijay commented on #137
Closing this issue, since it appears resolved when testing with screens < 720px in Chrome, Firefox, Safari, and Android.

[2016-03-11 20:39] #137 closed

[2016-03-13 21:30] localhosted commented on #445
This works for now, but after awhile, having to keep track of versions changing on an old application will be quite challenging. Would be nice if there where a faster release schedule.

[2016-03-13 21:30] #445 closed

[2016-03-13 21:39] localhosted opened #450 "Lack of passing props to children in components"
Several components don't pass props to their children, making reuse a very hard job. One case is the Calendar component, not passing on onBlur, making it necessary to create a component wrapping it up, and then modifying the CSS so it fits inside the FormField.

Would be nice if passing props was the default behavior.

[2016-03-16 08:18] ibhag opened #451 "Chart x axis not evenly spaced"
x axis labels are not evenly spaced. Please see http://codepen.io/ibhag/pen/YqWqJy.
Thanks

[2016-03-17 10:36] eabay opened #453 "`Object.assign` causes issues in webpack loaders when `gulp dev` executed"
`Object.assign` is not enough to merge custom options in dev mode. After upgrading to the latest version, the following error showed up when `gulp dev` is executed.

[code]

Here is the contents of my gulpfile.js

[code]

This should be something deep cloning of the object comes with custom options. I suggest to use a small library like [deep-assign](https://github.com/sindresorhus/deep-assign).

[2016-03-18 16:00] HeidiTosi opened #455 "Breadcrumb widget needed"
A breadcrumb widget appears in the sticker sheet. We would like to use this widget in our app, but one does not appear in the current set of widgets.

[2016-03-18 16:12] HeidiTosi opened #456 "Rings disappear when meter total count equals zero."
We are using the Meter: Circle, Series, Legend widget in our app. When the total count=1 for at least one item, all of the rings/dials appear regardless of count. When the total count=zero, all of the rings/dials disappear. We would like the rings/dials to remain in the display.

[2016-03-18 17:15] jwijay commented on #400
Resolved by PR: https://github.com/grommet/grommet/pull/443

[2016-03-18 17:15] #400 closed

[2016-03-18 17:16] jwijay commented on #399
Resolved by PR: https://github.com/grommet/grommet/pull/443

[2016-03-18 17:16] #399 closed

[2016-03-18 19:15] alansouzati commented on #455
Thanks for reporting this. We currently don't have a Breadcrumb in the develop side of things.

PR gladly welcome.

[2016-03-20 22:25] eabay opened #458 "Empty span tag in Layer causes layout changes despite it's not being displayed"
If Layer is mounted in Header component for example, It reserves some space with empty span tag and causes rearrangements in flex layout.

![untitled](https://cloud.githubusercontent.com/assets/158772/13907605/93186be0-eefa-11e5-8913-f5cea3745e94.gif)

`display: none` solves the problem but I don't know if this should be the way to do that.

[2016-03-21 12:04] primozs opened #459 "Input type range slider widget dissapear"
After chrome update to Version 49.0.2623.87
widget to move - change the input value disappeared. Problem is also visible in documentation example.
http://www.grommet.io/docs/develop/form

[2016-03-21 12:41] linde12 commented on #197
Any news about this? I wish to use grommet as a library so i can use all the components in my projects with browserify and babel.

Right now i do something like:

[code]

What i would expect is:
`import {App, Header} from 'grommet';`

I also don't get the css included by doing this(obviously).

Maybe the grommet components could be a separate repo which grommet depends on? I'm not sure what's best

[2016-03-21 13:27] primozs commented on #197
@linde12
Hi, maybe this helps?
https://github.com/primozs/react-hello/tree/step4-grommet

[2016-03-21 15:29] alansouzati commented on #197
Hi @linde12 both

[code]

and

[code]

should be supported.

Our recommended approach is to use like this `import Header from 'grommet/components/Header';` so you save size in your final bundle. Regardless if you are using Browserify or Webpack, if you do: `import {App, Header} from 'grommet';` you load the entire grommet library and then filter it down to App and Header.

I would say this issue i

[2016-03-21 21:09] linde12 commented on #197
@alansouzati
@primozs

Thanks for the quick replies. I tried using the ES6 `import {A, B} from 'C'` in my app but didn't manage to get it working. I will try tomorrow again and get back at you if i still encounter the problems. Most likely it's bad usage on my part.

@primozs
Is it okay to clone your lib and use it as a base? It's pretty much exactly what i want. Redux, Grommet, React, ES6... Then

[2016-03-21 21:21] primozs commented on #197
@linde12 sure you can use it however you want. Cheers

[2016-03-22 08:42] Spy-Seth commented on #197
@alansouzati Sorry to not answer you sooner. My project that start using grommet was canceled. I'm still fan of this lib, I will give it another try when I can.

[2016-03-22 13:22] linde12 commented on #197
@alansouzati

Ah, today i tried again and the `import {App, Header} from 'grommet';` still doesn't work but it seems it's due to another error i get when importing some other components that uses icons:
`
Cannot resolve 'file' or 'directory' ./icons/base/Up in /path/to/project/node_modules/grommet/components @ ./~/grommet/components/Article.js 47:10-36`

Before i ran browserify and thought that mi

[2016-03-22 13:36] primozs commented on #197
@linde12 To se see how to import something I am often using:
http://www.grommet.io/docs/develop
http://www.grommet.io/docs/develop/icon
http://www.grommet.io/docs/develop/app
https://github.com/grommet/grommet-docs (source of the previous link, very useful)

for app and icon it should be imported like this:
[code]

[2016-03-22 14:50] linde12 commented on #197
@primozs Ah, yes, sorry for not being clear. I'm trying to use the `Article` component which, in it's turn, seems to be importing `./icons/base/Up` but doesn't manage to import it properly.

It's basically what we've got over at [http://www.grommet.io/docs/develop/sidebar](the docs for Sidebar)

So when i do `import Article from 'grommet/components/Article';` i get the error mentioned in the previ

[2016-03-22 15:55] alansouzati commented on #197
I see, i'm not that much familiar with Browserify. I guess it is failing to recognize `./`. I'm not sure if this is a webpack-specific approach to refer to local folders. Are you guys familiar with Browserify? Do you think this could present issues?

You don't need a special loader for `./icons/base/Up`, you can see it [here](https://github.com/grommet/grommet/blob/stable/components/icons/base/Up.

[2016-03-22 16:05] linde12 commented on #197
@alansouzati Ah i see, then it should be no problem at all... Hmm! Regarding browserify it should work right off the bat then. I also tried with webpack but i get the same error. I will give a detailed error message once i'm home in a few minutes!

Thanks for all the help so far!

[2016-03-22 16:22] linde12 commented on #197
[Here is a picture](http://i.imgur.com/SHEQ9QI.png) where you can see some of the code(basically just the `import` that is interesting) and the error message i receive afterwards.

[2016-03-22 17:57] alansouzati commented on #197
Really weird,

   Can you verify this file is actually present?

`/home/linde/go/src/ioboxrevel/public/node_modules/grommet/components/icons/base/Up.js`

If it is there, I'm afraid that could be some configuration issue with Browserify.

I will try soon to get grommet working with Browserify, but I'm not sure how soon. :smile:

[2016-03-22 18:05] zalmoxisus commented on #197
I confirm the same error with Webpack. The file really doesn't exist. It should be `/icons/Up.js`.

Can send a PR to fix it, if you don't mind.

[2016-03-22 18:11] linde12 commented on #197
@alansouzati I'm afraid it's as @zalmoxisus suggests! `stat /home/linde/go/src/ioboxrevel/public/node_modules/grommet/components/icons/base/Up.js` gave me a `No such file or directory` error!

However it exists at icons/Up.js

[2016-03-22 18:41] alansouzati commented on #197
Cool glad we are getting down to the issue.

It is really weird to be missing. I remember we had this issue in the past, can you confirm your Node and NPM versions? Also can you confirm the Grommet version you are trying to install?

The one at `icons/Up` is deprecated and we will be removing it in the next version.

If you look here: https://github.com/grommet/grommet/blob/stable/components/icons

[2016-03-22 18:52] linde12 opened #460 "Responsive Split causes re-render & re-fetch of data"
Hello!

I've encountered a problem using `Split`.

Wrapping a component, `<C1 />`, inside a `<Split onResponsive={this._onResponsive.bind(this);}></Split>` causes `C1` to unmount and then remount(causing me to fetch data two times in `componentWillMount`) since `_onResponsive` updates the responsive-state & if the menu should be shown or not.

Do you have any solution on how to do this without re-

[2016-03-22 18:56] linde12 commented on #197
@alansouzati Yeah, getting there! :)

I'm using node v5.6.0, npm 3.6.0.

I installed grommet from npm via `npm install --save grommet` and `./node_modules/grommet/bin/grommet.js --version` yields 0.5.4

[2016-03-22 19:30] alansouzati commented on #197
https://github.com/grommet/grommet/issues/292

[2016-03-22 19:30] alansouzati commented on #197
https://github.com/npm/npm/issues/11135

[2016-03-22 19:35] linde12 commented on #197
Ah, i see! Weird! Is there anything i can do manually to retrieve the icons?

[2016-03-22 19:38] alansouzati commented on #197
Let me investigate it further, I will release 0.5.5 to fix that, even if it means I will have do to it manually :smile:

[2016-03-22 19:40] linde12 commented on #197
Oh! Hope it's not too much trouble, heh!

[2016-03-22 19:46] alansouzati commented on #197
I've release 0.5.5 with NPM can you give it a try again ?

[2016-03-22 19:47] linde12 commented on #197
On it..!

[2016-03-22 19:51] linde12 commented on #197
Wohoo! Now everything works! :) Both `import * as Grommet from 'grommet';`(even though i won't be using it) and the `Article` import doesn't yield errors! Works fine with Browserify.

Success, hehe!

[2016-03-22 19:54] alansouzati commented on #197
Cool! I'm going to close the issue (for now) ahahha

[2016-03-22 19:54] #197 closed

[2016-03-22 21:29] linde12 commented on #460
For clarification i made a [fiddle](https://jsfiddle.net/1kph3mLv/1/) of the problem. The problem is the same i have when i use Grommet.

Open the console and toggle the button and you'll see that the children get's unmounted and mounted every toggle instead of just being re-rendered or "moved"

[2016-03-22 21:39] alansouzati commented on #460
Have you considered using a Flux architecture for your data fetching layer?

There are handful options that implements that, Grommet as of this moment is using Redux: http://redux.js.org/index.html

There are few open-source source apps done on top of Grommet using Redux. Take a look at http://ferret.grommet.io.

Source code is available here: https://github.com/grommet/grommet-ferret

[2016-03-22 21:43] eabay commented on #460
Another problematic use case is when you use a statedul form and resize the
window, boom, form is reset and changes are gone. I switched to use Layer
after facing the same problem.
On 22 Mar 2016 Sal at 23:39, Alan Souza <notifications@github.com> wrote:

[2016-03-22 21:46] alansouzati commented on #460
I see, you can keep your form data in your React state for your given component. You still face the same issue when you keep your form data in a state?

[2016-03-22 22:11] alansouzati commented on #460
Actually this is an interesting issue...

https://jsfiddle.net/alansouzati/1kph3mLv/2/

I did a change by moving the sub up on level, but I guess this is not the real fix for the problem

[2016-03-22 22:12] eabay commented on #460
It's OK if you store data in a redux state, data will be kept between mount/unmount cycle. But it wasn't desirable in our case to sync temporary data in a central store just to prevent this to happen. We preferred to use Layer and give the control to the user to lose filled data by closing it rather than losing it by chance just because of a resize.

Anyway, I just wanted to point it out while spe

[2016-03-22 22:16] alansouzati commented on #460
yeah yeah, thanks for chiming in.

[2016-03-22 22:18] alansouzati commented on #460
good news I think i fixed the issue, it was just a matter of removing props.children from within the if clause.

https://jsfiddle.net/alansouzati/1kph3mLv/3/

Would any of you be kind enough to submit a PR to fix that in Grommet :smile:

@linde12 up to your first PR?

[2016-03-23 01:18] jwijay commented on #459
PR pending: https://github.com/grommet/grommet/pull/461

[2016-03-23 07:08] linde12 commented on #460
@alansouzati
@eabay

Sorry for getting back to you so late. Damned timezones.

Anyway, the problem is as @eabay describes it. Since the props are conditionally rendered they seem to always be remounted.

If you look at the `DocSplit` of the grommet-docs repo [here](https://github.com/grommet/grommet-docs/blob/master/src/DocsSplit.js#L151-L154) you are using it the same way as i did(as i had a look

[2016-03-23 14:54] linde12 commented on #460
@alansouzati Oh and the DocSplit component had the same problem as described above, so unfortunately the fix to the fiddle won't fix the problem else i'd be happy to contribute. As it looks now the `{this.props.children}` have to be wrapped in a if-statement. :(

[2016-03-23 17:13] linde12 commented on #460
Looking at the `Split` component [over here](https://github.com/grommet/grommet/blob/master/src/js/components/Split.js#L103-L117) we can see that it's always conditional and will be remounted every time. I updated your fiddle to mirror the conditions in the render method of `Split`. See [here](https://jsfiddle.net/1kph3mLv/5/)

[2016-03-23 21:27] linde12 commented on #460
I think i've got a fix for this coming up tomorrow hopefully. It involves some CSS and isn't perfect but it works. If we didn't have to take `priority` into account it'd be an easy fix but now i have to hide elements.

I'll get back to you tomorrow!

[2016-03-24 11:06] zalmoxisus commented on #197
@alansouzati, thanks for fixing the problem with icons! Could you also push the changes corresponding to the version tag? I don't see [these changes](https://github.com/grommet/grommet/commit/48dafc14c165ead3c9cbde14d9731ff3e19999a4) in `grommet@0.5.5`, though it correspond to `v0.5.5` tag.

So, I get the following behaviour:
<img width="494" alt="screen shot 2016-03-24 at 1 03 11 pm" src="https:/

[2016-03-24 12:52] linde12 commented on #460
My fix wraps the elements that shouldn't be visible in a div with a css display property set to none. Works perfectly for me. No more remounting. And when in `responsive=single` mode i pop a `Layer` to show the menu.

I'm not sure if we want to merge this "fix" or not since it changes the behavior of `Split` to not remount.

What do you think @alansouzati?

[2016-03-25 11:26] geshenyi opened #464 "cannot install grommet via NPM"
**I am trying to install grommet via NPM but just failed with following error message.
I couldn't figure out what the problem is...**

npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 a

[2016-03-25 14:05] alansouzati commented on #464
It seems you are ina proxied network. Do you have your proxy settings configured with NPM?

Alan

[2016-03-25 15:32] rlbradey opened #465 "Increase Default Color Contrast for Icons"
The default color contrast  for icons is 2.85 and ideally should be 4.5.

[2016-03-25 15:44] geshenyi commented on #464
there is no proxy server...but i just installed it on my mac successfully...Can i just copy the grommet folder of node_modules to my win7 laptop and directly use it?

[2016-03-25 22:08] AngusMackHPE commented on #231
Was using this outside a formfield element. Using it inside one resolves this issue.

[2016-03-25 22:08] #231 closed

[2016-03-25 23:10] edvinh opened #466 "Spinning component missing"
The Spinning component is missing in the latest version, but it's still in the docs. Is the spinning component removed or is it a bug?

[2016-03-25 23:34] alansouzati commented on #466
Thanks for reporting this, actually in the docs it seems we don't have the import commands, are you trying like this:

`var Spinning = require('grommet/components/icons/Spinning')`

or

`import Spinning from 'grommet/components/icons/Spinning';`

I'm to update the docs page to include these commands.

[2016-03-26 10:14] linde12 commented on #466
Having the imports in the docs would be great!

Should we create a separate issue in the docs-repo and close this one?

[2016-03-26 11:52] linde12 commented on #460
@alansouzati Can you have a look at [this merge](https://github.com/linde12/grommet/pull/1/commits/3298bbb3e2c1528f47ccd8a4f6516850684661c6) when you have time?

It solves the problem of the components remounting(thus refetching data, resetting state etc.) but introduces another problem when `Split` is used with **3 or more** children.

The flex breaks since the children are wrapped in two separat

[2016-03-27 08:32] primozs opened #467 "CheckBox onClick event"
CheckBox would need onClick event or props transfer.
If you want to use CheckBox in a TableRow you can not stop propagation for click event and table row clicks fires before CheckBox onChange happens.

Example: Use CheckBox for multi select and table row click for detail view.
![screen shot 2016-03-27 at 10 24 14](https://cloud.githubusercontent.com/assets/1006789/14064519/76648270-f406-11e5-91bc-

[2016-03-27 15:14] eabay opened #468 "Selected value is not being displayed in a select element under Layer while it is focused"
Here is the codepen: http://codepen.io/anon/pen/GZEQVd?editors=1010

The problem is the padding value applied in focused state:
https://github.com/grommet/grommet/blob/cbfce2b8665528bec320a2ba617f42d34006a1bc/src/scss/grommet-core/_base.input.scss#L23

[2016-03-27 15:18] eabay commented on #311
It appeared that stateless functions broke things and they need to be improved somehow...

[2016-03-27 15:18] #311 closed

[2016-03-27 15:21] eabay commented on #453
Any comment on this?

[2016-03-27 15:23] eabay commented on #458
Do yo guys agree with the quick fix?

[2016-03-28 16:27] alansouzati commented on #453
Yeah, I'm sorry this is a bug I must fix.

Let me work on that today.