[2020-12-08 02:22] ericsoderberghp commented on #4754
Tied to https://github.com/grommet/hpe-design-system/issues/1306

[2020-12-08 02:39] #4796 closed

[2020-12-08 02:40] ShimiSun commented on #4796
@ArrayKnight thanks for reporting, the issue is fixed, we'll release it officially shortly.

[2020-12-08 15:11] REX500 commented on #4812
@ShimiSun will do!

[2020-12-09 15:29] benschiefer opened #4818 "Broken Select with async options"
Commit https://github.com/grommet/grommet/commit/98368af6395a3f6e36fab23c111b5d517cffc9d3 has broken select with async options

When a select is rendered with options populated asynchronously (ie: after initial render), the selected value is not rendered in the input (it does show as selected in the option layer when it is opened)

### Expected Behavior

Select should behave as it did before this

[2020-12-09 15:44] halocline commented on #4792
I have written tests for:
1. search+multiple select
1. lazy load more options and select

Will be working on fix today.

[2020-12-09 16:14] #4610 closed

[2020-12-09 17:54] #4784 closed

[2020-12-09 20:58] jcfilben commented on #4811
Hi @tromgy I filed a PR [here](https://github.com/grommet/grommet/pull/4820) that updates the Menu/ItemWithIcon story so that it no longer has a warning. Based on the [grommet documentation](https://v2.grommet.io/menu#children), children of Menu should be passed in as a function through the prop `children` and button props can be passed to the children function. Thanks for raising this issue so th

[2020-12-09 23:05] jcfilben commented on #4544
Hi @Zodiase just checking in to see if Ian's solution fits your needs. If so I think we should be able to close this issue

[2020-12-09 23:18] jcfilben commented on #3654
I think this issue can be closed, Grid now has both `border` and `pad` props available

[2020-12-09 23:56] ShimiSun commented on #3654
Thank you @jcfilben !

[2020-12-09 23:56] #3654 closed

[2020-12-09 23:57] ShimiSun commented on #4544
I'll be closing this issue, feel free to reopen if still relevant.

[2020-12-09 23:57] #4544 closed

[2020-12-09 23:58] ShimiSun commented on #4652
I'll be closing this issue, feel free to reopen with more details in case still relevant

[2020-12-09 23:58] #4652 closed

[2020-12-10 00:00] ShimiSun commented on #4354
I'll be closing the issue, feel free to reopen and add the requested details to help navigate for a solution.

[2020-12-10 00:00] #4354 closed

[2020-12-10 00:01] LiveFreeAndRoam commented on #4559
FYI, this multiple rendering of the TextInput field is also mentioned in Issue #3935 .

[2020-12-10 00:02] LiveFreeAndRoam commented on #3935
FYI, the same issue seems to have been reported as #4559.

[2020-12-10 16:34] ShimiSun commented on #4811
We should change the documentation to allow both `node` and `children` as types, similarly to how it is done for the Button. Fix will go on Menu/doc.js if anyone is interested in making a contribution.

[2020-12-10 20:57] ShimiSun commented on #4803
I'll be closing this issue, feel free to reopen once all content is available for us to reproduce.

[2020-12-10 20:57] #4803 closed

[2020-12-11 19:51] jlarso11 opened #4826 "Infinite Scroll is missing key property."
Adding column with a Menu component in the render property of the data table should not throw a console error.

Console error is thrown.   Key property missing with-in the DataTable component

https://codesandbox.io/s/grommetgrommet-sandbox-forked-ibpl3?file=/src/DataTable.js

Console error:

Warning: Each child in a list should have a unique "key" prop.

Check the render method of `Header`. See h

[2020-12-12 03:17] tromgy commented on #4811
@ShimiSun, you meant `node` and `func`, right?

[2020-12-12 15:24] netochaves commented on #4768
Please @ShimiSun correct me if I'm wrong, Accordion works creating a single context for each child usually an `AccordionPanel`.  and each one of these will look on his respective context to get the `active` state.

In your case you have a single child `InfinityScroll` so you also have a single context and all `AccordionPanel` will get the same `active` value.

One solution I could think of is to a

[2020-12-13 03:30] #4792 closed

[2020-12-13 03:30] #4802 closed

[2020-12-13 03:30] #4818 closed

[2020-12-14 17:28] ShimiSun commented on #4826
I could make you sandbox work and reproduce the problem, I've isolated it to a smaller sandbox https://codesandbox.io/s/datatable-warning-9wuhc?file=/index.js. Feel free fork and add what is needed for the sandbox to work and reproduce the problem properly so we could take a look.

[2020-12-14 17:52] jlarso11 commented on #4826
This one should work now and be simplified: https://codesandbox.io/s/datatable-warning-forked-hlcjz?file=/index.html

[2020-12-14 18:34] digitalmonad commented on #3572
I've solved it in the "render props" way:

<Anchor
        as={(props) => (
          <Link {...props} to='/some-url'>
            Click me!
          </Link>
        )}
      />

This approach works well with the "<NavLink />" too.

[2020-12-14 19:02] ericsoderberghp commented on #4826
Thanks for the example. I took a look at it and I think the reason there is no key is because the column rendering the Menu has no `property` defined for it. If I change that column definition to the following, the warning doesn't appear.
[code]

[2020-12-14 20:00] jlarso11 commented on #4826
That removes it for me as well.  Thanks!

[2020-12-14 20:00] #4826 closed

[2020-12-14 22:09] sindhoora-r opened #4829 "Select with search is broken"
### Expected Behavior
When I search for an option in the Select field and select a particular option, it should be displayed in the Select Field.

### Actual Behavior

When we search for an option in the Select Field and select a option 'A' a different option is populated in the field.

### URL, screen shot, or Codepen exhibiting the issue
https://storybook.grommet.io/?path=/story/input-select--se

[2020-12-15 00:30] ShimiSun commented on #4829
Fixed and officially released on grommet v2.16.2. Thanks for reporting.

[2020-12-15 00:30] #4829 closed

[2020-12-16 18:27] #4805 closed

[2020-12-16 20:59] ShimiSun commented on #4811
@tromgy yes. I'll edit my answer to make it more clear.

[2020-12-17 01:14] g4rry420 commented on #4783
Can I work on this issue ?

[2020-12-17 01:31] g4rry420 commented on #4783
I am sorry, Can you please tell me how to start the application locally ? @jjalonso

[2020-12-17 02:57] kenjdavidson commented on #3089
Came across this while trying to figure out my own issue, after spending some time looking at the code (I'm posting for my own info when I login tomorrow) but it looks like

On change the selected values can be reduced into a string and provided to the Select as

valueLabel={value.map().reduce()}

This being provided should skip inputValue.

Since the comments say passing a value of react element

[2020-12-17 15:12] kenjdavidson commented on #3089
Just a follow up, this works well, although there are a couple things:

- `valueLabel` is not placed in an input, which leads its look to be different (padding/spacing) when placed within a `Form` and `FormField`.  It should probably be wrapped in `SelectInputText` within the component itself?
- Wrapping it in `valueLabel={<TextInput readonly plain value={reducedValue}/>}` works perfectly, except

[2020-12-18 03:36] jjalonso commented on #3642
that permanent focus outline is definitely the most hated feature xD
We should have a way to default opt out in theme.

[2020-12-20 18:05] mattoni opened #4840 "Unable to type form values"
### Expected Behavior

I should be able to pass a generic type to the form, i.e. `<Form<FormValueType>>`, in order to get proper typing for `onSubmit` etc

### Actual Behavior

It's not possible to type the form, and passing in external onSubmit handlers have type errors if you attempt to type the params manually.

### URL, screen shot, or Codepen exhibiting the issue

<img width="492" alt="image"

[2020-12-21 17:21] tromgy opened #4842 "Typo in the sample code on grommet.io"
The sample code for the `<Form>` component contains a typo

### Expected Behavior

The sample code at https://v2.grommet.io/form should say:
[code]

### Actual Behavior

The code contains a typo:

[code]

The property should be spelled **htmlFor**, not **htmlfor**

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/12632548/102803761-c5e91e80-

[2020-12-21 23:56] ArrayKnight opened #4843 "ResponsiveContext doesn't match CSS media queries on mobile devices"
When loading a page on a mobile device or device emulation, and that content lays out wider than the initial (default) breakpoint, the JS breakpoint and CSS breakpoint stop matching each other

**But what causes this?**

Because Grommet uses medium as it's default breakpoint (_I have read this in comments but haven't found it documented_), on initial load its possible to have a component layout ho

[2020-12-22 02:23] jkkealii opened #4844 "TextInputProps type definition missing onSuggestionSelect"
### Expected Behavior

TextInputProps should include `onSuggestionSelect`

### Actual Behavior

`onSuggestionSelect` is missing from the `index.d.ts` file for TextInput

### URL, screen shot, or Codepen exhibiting the issue

https://github.com/grommet/grommet/blob/master/src/js/components/TextInput/index.d.ts#L26

### Steps to Reproduce

N/A

### Your Environment

- Grommet version: 2.16.2
- Brows

[2020-12-22 17:48] REX500 commented on #4812
Seems to be fixed so Im closing the isssue!

[2020-12-22 17:48] #4812 closed

[2020-12-23 15:07] leossantiago commented on #4842
It seems component usage examples are handled directly on  [grommet/grommet-site](https://github.com/grommet/grommet-site). That being said, it can't be fixed from this repo.

[2020-12-23 17:01] tromgy commented on #4842
Ah, thanks. That's why I couldn'd find the code here. I'll submit a PR there.

[2020-12-23 17:01] #4842 closed

[2020-12-25 13:27] kenjdavidson commented on #4840
You need to create a typed form. Don't mind my comments, but it took a while.

[code]

But it works great.

[2020-12-26 12:12] Samuel-Lewis opened #4846 "Button.onMouseOut is applied to the children of the button (icon/text) not to the button itself"
When using the Button's event listener `onMouseOut`, it seems to be applied to all of the children of the button, causing errant calls.

Eg: For a text with an icon and label, mousing "out" of just the label (while staying within the button bounds) will fire `onMouseOut`. Similarly, moving over SVG elements of an icon will also trigger the change.

### Expected Behavior

Expect `onMouseOut` to onl

[2020-12-26 12:14] Samuel-Lewis commented on #4846
It's also possible that I have just misunderstood the difference between `onMouseOut` and `onMouseLeave`. But I would assume applying the `onMouseOut` to the Button would only apply it to the button layer, and not the children.

On the flip side, `onMouseLeave` never seems to fire 😢 . I'll make a seperate issue for that if needed.

[2020-12-29 19:42] mattoni opened #4849 "Table placeholder property is typed wrong"
### Expected Behavior

Adding a component as a placeholder to a table doesn't fail

### Actual Behavior

Fails with a typescript error. This appears to be because it's inheriting the default table element placeholder type, so it should be omitted from the properties.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/5110855/103309747-c313ac8

[2020-12-29 20:00] mattoni commented on #4849
Ah it appears the placeholder property only exists on the DataTable component, not the regular table.

[2021-01-04 17:55] ShimiSun commented on #4783
@g4rry420 How is it going? Let us know if you need any help with the direction and PR.

[2021-01-04 18:24] ShimiSun commented on #4781
The new prop `defaultSuggestion` is added to grommet, the only piece that is missing is documenting it by adding it to the doc.js file. I'll keep this issue open until then.

[2021-01-04 18:37] ShimiSun commented on #4849
I think that might be it. Where have you seen documentation that supposed to support your issue as a valid behavior that is currently not working?

[2021-01-04 18:50] mattoni commented on #4849
I mixed up with Table vs DataTable, my fault!

[2021-01-04 18:50] #4849 closed

[2021-01-04 19:08] mattoni commented on #4840
That does indeed work, though it seems a bit redundant to do instead of what most other libraries do, i.e. `Form<FormProps>`. I've opened a PR to allow that method, in case there is more interest.  #4841

[2021-01-04 19:50] #4811 closed

[2021-01-04 20:38] ddohler commented on #4781
@ShimiSun Sorry for missing that in the initial PR -- I've opened #4852 to cover this.

[2021-01-04 21:03] ShimiSun commented on #4781
@ddohler Thank you for your contributions buddy ❤️

[2021-01-04 21:03] #4781 closed

[2021-01-04 21:50] MikeKingdom opened #4854 "Chart type=area renders points in reverse order every other render"
When the Chart component renders a set of points in type=area mode it generates a closed SVG path of the points but on every other render it renders the path in reverse order.

This makes it a bit unpredictable which direction it draw the points. This is a problem for automated tests which could fail oddly.

### Expected Behavior

The drawn area should be consistent and predictable for the same po

[2021-01-04 21:54] padmacnu opened #4855 "Custom Select - Select with a custom Footer"
@ShimiSun We have requirement where we want to customize the Select component to render something at bottom. I have mocked the Grommet select to show the requirement. It's not an option, should be outside `Select` element. Similar to `Search bar`

![image](https://user-images.githubusercontent.com/6428437/103583245-3ff3ca00-4e94-11eb-8fc2-dcaeca7e6379.png)

[2021-01-05 17:04] ericsoderberghp commented on #4855
Can you provide a real world example of what you would like to put there? That will help us ensure that we don't miss something. Of note, are you thinking the custom JSX might affect the width of the drop?

[2021-01-05 17:04] MikeWalrath commented on #4854
#4856

[2021-01-05 17:11] MikeKingdom commented on #4854
Fixed by PR #4856

[2021-01-05 17:11] #4854 closed

[2021-01-05 18:38] padmacnu commented on #4855
@ericsoderberghp Here is screenshot of live example:
![image](https://user-images.githubusercontent.com/6428437/103685438-14c7b400-4f42-11eb-97b3-667119461bf4.png)

[2021-01-05 19:43] MikeKingdom opened #4858 "Chart component type=bar/line modifies the passed in colors property if its an array (gradient)"
When the Chart component type=bar/line renders gradients it modifies the order of the array of colors.

This makes it a bit unpredictable what the id and mask are. This is a problem for automated tests which could fail oddly.

Expected Behavior
The id and mask should be consistent and predictable for the same colors.

Actual Behavior
On first render id and mask are named with colors in the origina

[2021-01-05 20:20] TylerKienVu opened #4860 "Datatable theme header targets not working"
I am trying to customize the DataTable component with a theme. The specific target I am trying to use is `dataTable.header.color`. My goal is to use the header theme targets in order to customize the header for the data table.

I have found that some of the header targets do not seem to work properly. I am trying to use `dataTable.header.font.weight` specifically to make the headers bold.

This is

[2021-01-05 21:17] ShimiSun commented on #4860
Seems to work as expected for me, https://deploy-preview-4862--sad-tereshkova-173d07.netlify.app/?path=/story/visualizations-datatable--custom

Please take a look at my example and let me know if I'm missing anything.

[2021-01-05 21:36] TylerKienVu commented on #4860
Thank you @ShimiSun for helping me investigate this issue! I ended up realizing that the way that I was defining the header columns in the column definitions was the issue. Instead of providing a string for the header I was supplying a <Text> tag like so:

[code]

Changing the column header to `header: 'Phone'` fixed the issue. Thank you again for the help!

[2021-01-05 21:36] #4860 closed

[2021-01-06 15:58] #4858 closed

[2021-01-06 16:30] jcfilben commented on #4844
Looks like [this PR](https://github.com/grommet/grommet/pull/4848) has fixed the issue. I think this issue can be closed

[2021-01-06 18:14] jcfilben commented on #4846
Hi @Samuel-Lewis, `onMouseOut` should fire when the mouse leaves the element or moves out of one of the children of the element, so `onMouseOut` for button is working as expected. `onMouseLeave` should only fire when the mouse leaves the element not when it leaves a child of the element. However, Button doesn't currently have an `onMouseLeave` event which is why it is not firing

[2021-01-06 18:31] canyongrace opened #4863 "Form intermittently doesn't acknowledge reset button when validation on blur fails"
### Expected Behavior

I expect that after entering an invalid value in a form input and clicking reset, that the reset will occur. The input field and any errors should be cleared.

### Actual Behavior

I'm occasionally seeing an odd "timing" issue when working on a Form that has a validation on blur for an input field. Sometimes when I enter an invalid value in an input with a "blur" validation

[2021-01-06 21:05] #4844 closed

[2021-01-07 02:05] g4rry420 commented on #4783
I am facing some testing errors before while I am try to commit.

[2021-01-07 09:00] Jam42 opened #4865 "Tooltip showing on disabled button with custom label"
When using Tip with disabled Button with custom label tooltip still appears

### Expected Behavior

Tooltip shouldn't appear

### Actual Behavior

Tooltip is appearing – and not hiding when mouse leave it

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-wlr22?file=/index.js

### Steps to Reproduce

1. Add Button with custom label and disab

[2021-01-07 15:25] jpmazza opened #4866 "Get theme colors"
Once I define my custom theme I would like to get the colors of my custom theme in some components, for example, to use my brand color in a StyleSheet. I want to apply the brand color in non-grommet components.

Chakra has the [`useTheme` hook](https://chakra-ui.com/docs/hooks/use-theme) which is useful in these cases.

Does grommet have something similar?

### Expected Behavior

Get my brand colo

[2021-01-07 15:43] MikeKingdom opened #4867 "TextInput renders styled placeholders even when there is a value"
A TextInput that has a styled placeholder (`placeholder={<someJSX>}` rather than `placeholder="somestring"`) renders the placeholder even when the textinput has a value, at least until another render happens.

### Expected Behavior

If a TextInput has a value (either from a value prop or by typing text in the input), the placeholder should not be shown.

### Actual Behavior

One first render the p

[2021-01-07 15:55] MikeKingdom commented on #4866
That's what ThemeContext is for.

[code]

[2021-01-07 16:21] #4866 closed

[2021-01-07 16:57] ShimiSun commented on #4783
@g4rry420 feel free to share with us what you are facing in case you'd like the help.

[2021-01-07 16:58] ShimiSun commented on #4865
I think the issue is with onMouseLeave of Button, and not with the Tip itself.

[2021-01-07 16:59] ShimiSun opened #4868 "Select stories improvements"
A few thoughts from just looking at Storybook:
1. How about combining "Themed" and "Custom search"?
2. How about splitting disabled out of "Simple"?
3. How about aligning story names more with property names, such as "Children render" -> "Children"?
4. Can we remove "Object options with search and multiple" since it isn't focused on one property?
5. Can we simplify "Clear"? It seems a bit too comp

[2021-01-07 17:16] ShimiSun commented on #4867
Might be related to https://github.com/grommet/grommet/pull/3659

[2021-01-07 18:57] ShimiSun commented on #4855
Hi @padmacnu, thanks for filing this issue, the requested functionality could currently be achieved by Select `children`, please take a look at a POC I've prepared and let me know what you think https://deploy-preview-4869--sad-tereshkova-173d07.netlify.app/?path=/story/input-select--footer-option

[2021-01-07 21:12] ericsoderberghp commented on #4855
For the example provided, I think `searchPlaceholder` would be a more appropriate way to approach providing the "Type ..." guidance on using the search control within Select. Did you consider that?

[2021-01-07 21:17] jasnross opened #4870 "Ability to provide search value to Select"
### Expected Behavior

I would like to have a way to control the search value for the Select component so that I can ensure that the search term is controlled (controlled as in a "controlled input") and always in sync with my external state that is tracking the search term.

For example, it would be nice if we could do:

[code]

One use-case for this is being able to clear the search term accordin

[2021-01-07 22:04] MikeWalrath opened #4871 "HTML Component"
Explore creating a new grommet <Html /> component that could contain any valid HTML markup. This is intended for inline help content. The HTML elements would be styled according to the theme using something like styled.div(' h1 {} ...')

- [ ] include styling for  h1-h6, p, a, button, ul, ol, li, table (and related) elements
- [ ] do not include styling for fonts, background, and text colors, thos

[2021-01-08 13:29] the-spyke commented on #2855
I've [published](https://www.npmjs.com/package/@spyke/react-hook-router-link) extracted hooks from the `react-router` code. They allow you to use the `Anchor` or any other component without `as` or other tricks and with the same behavior which `react-router`'s Link components do:

[code]

Or more advanced:

[code]

[2021-01-08 18:26] ShimiSun commented on #4776
Thank you for your contribution buddy, the site should be up to date!

[2021-01-08 18:26] #4776 closed

[2021-01-12 11:14] myasul commented on #4438
Why is this closed? It is still an issue. The DateInput component is not being disabled even if the FormField wrapping it is disabled nor is there any prop that can be passed to disable the component.

[2021-01-12 16:57] ShimiSun commented on #4438
@ypinneka can you share your insights for closing the issue?
@myasul If you think this is a merely typescript issue,  feel free to file a dedicated issue for it.

[2021-01-12 17:03] #3771 closed

[2021-01-12 17:39] taysea opened #4875 "TextInput with suggestions with keyboard skips every other suggestion"
### Expected Behavior

Using down arrow with textinput + suggestions should go through each suggestion.

### Actual Behavior

Down arrow goes to every other suggestion (skipping every other one).

### URL, screen shot, or Codepen exhibiting the issue
https://storybook.grommet.io/?path=/story/input-textinput--suggestions

### Steps to Reproduce

1. Click into text input
2. Use down arrow to navigat

[2021-01-13 16:13] halocline opened #4877 "Harden Grommet Site static site build and deploy"
This issue should probably live under the grommet-site repo, but that isn't apart of the project board yet. Filing here for visibility and prioritization.

- [ ] Confirm root cause of Grommet site failure when deploying static site
- [ ] Make recommendations to harden build process

[2021-01-14 00:05] taysea commented on #4863
I don't have a solution yet, but I wanted to document some of the investigation I've done.

It seems to come down to the order of when the mousedown, mouseup, click, and blur events are called.

As can is demonstrated in [this CodePen](https://codepen.io/mudassir0909/pen/eIHqB). When an input has focus and a button is subsequently clicked, the events called are:

1. mousedown event
2. input blur (

[2021-01-14 15:47] chloesun commented on #2216
Hello , is this still under consideration? I think it would be nice to have NavAnchor and NavButton

[2021-01-14 23:01] kariwhitcomb opened #4880 "Setting background on DataTable overrides hover/focus background styling"
### Expected Behavior
Default hover and focus behavior of DataTable should still be applied when background prop is set

### Actual Behavior
Unless the background value is semi-transparent, the hover/focus styling is lost.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/zealous-sun-o6jni?file=/src/App.js

### Steps to Reproduce
Tested using the HPE theme
<DataTable

[2021-01-15 17:09] kariwhitcomb opened #4881 "DataTable has lag showing hover style with large number of rendered rows"
### Expected Behavior
DataTable's hover styling should be applied consistently fast, even with a large amount of data being shown

### Actual Behavior
Using DataTable with onClickRow and large number of rendered rows (ex 200) experiences noticeable lag in showing the hover style.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/dark-hooks-ctdl3?file=/src/App.js

![Sc

[2021-01-15 17:19] halocline commented on #4881
Tagging potentially related https://github.com/grommet/grommet/issues/4559 & https://github.com/grommet/grommet/issues/3935.

[2021-01-15 17:32] taysea opened #4882 "Input inside of Form without name does not receive value"
### Expected Behavior

Selecting a value of an input within a Form should show that value. For example, selecting an option from select should show that option.

### Actual Behavior

Right now, if no `name` is on the Select, for example, then no value is displayed when selected. Potentially related to https://github.com/grommet/grommet/pull/4817

Demonstrated here: https://designer.grommet.io/?id=

[2021-01-15 19:38] RyanCCollins opened #4883 "Fullscreen Video broken in Safari"
### Expected Behavior
- Video full screen works in Safari browser.

### Actual Behavior
- Video full screen does not work in Safari

### URL, screen shot, or Codepen exhibiting the issue
TBD

### Steps to Reproduce
1. Create a video using Grommet video component.
2. Try to launch into full screen in Safari.

- Grommet version: Latest
- Browser Name and version: Safari 13.1
- Operating System and v

[2021-01-15 19:46] #4883 closed

[2021-01-20 11:33] smartnexus opened #4887 "Datatable thead not aligned with tbody when overflow is set to true"
### Expected Behavior
When I set the size of Datatable to a fixed height, it automatically fits table data to the fixed height adding an overflow bar(as html by default), but when that scroll bar is being displayed table tbody width reduces and thead does not reduces with the same anchor.

### Actual Behavior
Datatable does not resize thead to keep the columns aligned.

### URL, screen shot, or Co

[2021-01-20 17:50] #4867 closed

[2021-01-21 01:21] jeferson-sb commented on #4739
@ShimiSun I believe this somewhat related to this function
https://github.com/grommet/grommet/blob/6e68e5039bf467eaababd42110e382da3cbe97a5/src/js/utils/DOM.js#L118

[2021-01-21 21:32] ShimiSun commented on #4739
@joelachance thanks for reporting. I'm guessing it is because you are using a modal Layer, have you tried `modal={false}` and see if it works for you?
Also, Select had gone through lots of changes on the last few releases, can you please verify that you still see the problem on grommet v2.16.2?

[2021-01-21 21:42] ShimiSun commented on #4887
Thank you for reporting!

[2021-01-22 15:42] taysea opened #4891 "Revisit DataTable single clickable cell implementation"
A clickable cell should be able to take up the entirety of the cell, not obstructed by padding, etc.

We should revisit this as it was raised as a question https://grommet.slack.com/archives/C04LMJWQT/p1611253520007200

[2021-01-22 15:46] ericsoderberghp commented on #4891
One suggestion would be to add `plain` to DataTable `columns` objects.

[2021-01-22 16:12] dpolant commented on #3049
I settled on this for the use case of assigning different colors to different heading levels:

`const theme = {
  heading: {
    extend: ({ level, theme }) => {
      const colors = {
        '3': 'accent-4'
      };
      const color = colors[level];
      return {
        color: theme.global.colors[color]
      };
    }
  }
};`

Then inject that into your top level grommet container as usual:

`

[2021-01-22 20:21] ShimiSun opened #4894 "Replace dependency of awesome-typescript-loader"
### Expected Behavior
awesome-typescript-loader is archived and no longer maintained.
We should replace this dependency with other alternatives so we wouldn't receive unmaintained warnings.

### Actual Behavior
awesome-typescript-loader is currently throwing a peer-dependency warning during installation

### Steps to Reproduce

1.  run `yarn install` and see the warning

### Your Environment

- Gr

[2021-01-22 21:20] Ericky14 commented on #3642
This can be fixed by using this css style:

[code]

[2021-01-22 21:25] halocline commented on #4647
Closing this issue as prototypes are included in this PR https://github.com/grommet/grommet/pull/4646

[2021-01-22 21:25] #4647 closed

[2021-01-23 02:23] jjalonso commented on #3642
i have in my theme: inside globals

focus: {
border: {
color: 'transparent',
}, }

On Fri, 22 Jan 2021 at 21:21, Ericky14 <notifications@github.com> wrote:

[2021-01-23 15:32] netochaves commented on #4875
This problem is because `onUp` and `onDown` is called two times
First here:
https://github.com/grommet/grommet/blob/8a0fd52b8ae330a245525033b2f72c2ab1b09bbb/src/js/components/TextInput/TextInput.js#L265-L268

And here:
https://github.com/grommet/grommet/blob/8a0fd52b8ae330a245525033b2f72c2ab1b09bbb/src/js/components/TextInput/TextInput.js#L395-L415

I can open a PR to remove one of this but which

[2021-01-24 01:46] jeferson-sb opened #4895 "Grommet fails to run with snowpack"
I have a pretty simple application with Grommet, Styled Components and Snowpack installed
But when I start the app I'm getting the following message:

![image](https://user-images.githubusercontent.com/30840709/105618861-d0a23380-5dca-11eb-9298-f7523513a892.png)

I tried to install a different version of styled-components (above 5.1) but it also doesn't work.
Snowpack with styled-components alone

[2021-01-24 14:55] smartnexus commented on #4887
What is the expected time to solve this?

[2021-01-25 13:58] joelachance commented on #4739
I also thought it was also due to using a Layer, but moving it outside of the Layer didn't seem to change this behavior.
I'm currently using 2.16.2 and still seeing this issue.

@ShimiSun thanks for taking a look!

[2021-01-25 15:05] ericsoderberghp commented on #4887
We are always ready to review pull requests. :)

[2021-01-25 18:24] #4882 closed

[2021-01-25 18:56] padmacnu commented on #4855
Thanks for the POC!

[2021-01-25 18:56] #4855 closed

[2021-01-25 18:57] padmacnu commented on #4855
I will check with Scott, thanks @ericsoderberghp

[2021-01-25 20:08] ShimiSun commented on #4895
Were you able to make it work with only snowpack & styled-components, to make sure this issue is caused by using grommet?

[2021-01-25 21:54] ShimiSun commented on #4780
I think there are many ways to achieve it that are not component related, you can always create a button that flips the order of the list or sort it differently,  and that will control the order of the items.
One more popular option is to use Filtering on the list, see if any of the examples here are helpful https://design-system.hpe.design/templates/filtering.

Either way, I think this functional

[2021-01-25 22:15] jeferson-sb commented on #4895
@ShimiSun Yes, it does work with only snowpack & styled-components
I have a example [here](https://codesandbox.io/s/snowpack-styled-components-react-jdx3w?file=/src/components/Button/styles.js)

[2021-01-25 22:34] garrettlr commented on #4895
@ShimiSun @jeferson-sb can also confirm this issue, and that importing styled-components directly works fine.

[2021-01-25 23:01] jcfilben commented on #3089
As @kenjdavidson said, `valueLabel` can be used to get the desired behavior, but will look different than a regular input. Full example [here ](https://codesandbox.io/s/grommet-v2-template-forked-zdpxg?file=/index.js) with some styling of `valueLabel`. I think this issue can be closed.

[2021-01-26 16:08] halocline commented on #4780
Rephrasing to see if I understand the request. Would this be a fair representation? "In effort to minimize extensive scrolling through a long list, I would like the ability for a user to 'jump to' the first or last index in a list. Even better, I would like the ability to 'jump to' any index I specify."

If that is accurate, List has a `show` prop which accepts an integer representing which index

[2021-01-26 17:44] ShimiSun commented on #4895
@garrettlr thanks for the inputs! Do you have any resources to learn about the issue? why did you get the impression it causes the problem?

[2021-01-26 20:32] #3089 closed

[2021-01-26 23:21] halocline commented on #4875
@ShimiSun I had just started looking into this but saw that you had assigned yourself.

Based on running `git bisect` I believe this was introduced in [this commit](https://github.com/grommet/grommet/pull/4864).

![Screen Shot 2021-01-26 at 4 17 41 PM](https://user-images.githubusercontent.com/1756948/105919228-75528a00-5ff2-11eb-9f95-b938a3806680.png)

I will shift focus to another issue.

[2021-01-27 01:06] ShimiSun commented on #4875
@netochaves Thank you!! Please review my associated PR and let me know what you think. I took the opportunity to do some cleanups along with the fix.

@halocline just saw your comment, feel free to read the analysis of the root cause on my associated PR.

[2021-01-27 01:17] #4754 closed

[2021-01-27 02:45] nomadus opened #4902 "DataChart labels are not aligned"
I created a simple DataChart and I can't have the labels center aligned, see in the picture below

`<DataChart
    data={values}
    series={["date", "value"]}
    axis={{x: {property: "date", granularity: "fine"}}}/>`

![image](https://user-images.githubusercontent.com/3382143/105935268-decaab00-607b-11eb-94f4-0874e087f222.png)

[2021-01-27 16:56] ShimiSun commented on #4902
Can you please provide more information, which version of grommet are you using? Is the DataChart placed in a Box or under the Grommet component? are you using a theme?

Attaching a reproducible environment code such as sandbox usually help us to speed up the issue solution.

[2021-01-27 17:08] nomadus commented on #4902
Hi, you can see it in the Storybook, the labels are not consistently aligned
![image](https://user-images.githubusercontent.com/3382143/106026809-7835a380-60f4-11eb-9f15-96e079b2bfad.png)

[2021-01-27 17:27] ShimiSun commented on #4902
Quick link https://storybook.grommet.io/?path=/story/visualizations-datachart--axis

[2021-01-28 13:18] moodele opened #4906 "DateInput missing a range props"
### Expected Behavior

Both range of date i.e start date and end date should show in the date input text

### Actual Behavior

DateInput with value of an array only shows the first date in the date input text

[2021-01-28 13:19] #4906 closed

[2021-01-28 18:47] #4881 closed

[2021-01-29 03:55] ShimiSun opened #4908 "InfiniteScroll tests fail due to race conditions"
### Expected Behavior
Tests of InfiniteScroll should not fail.

### Actual Behavior
InfiniteScroll tests fail due to race conditions

Root cause ideas for the race conditions - animation, latency, needing to wait for the component to load.

### URL, screen shot, or Codepen exhibiting the issue

[code]

### Steps to Reproduce

Run tests locally, it reproduces inconsistently

### Your Environment

-

[2021-01-29 16:46] garrettlr commented on #4895
@ShimiSun give me an hour or two and I'll find a few github posts that helped, but here's my process:

1. Start up any, react + snowpack app - a simple "hello world" is enough.
2. Bring in Grommet + dependencies, then import that into your app.
3. At this point, you should see the above error.
4. (the magic) pick any random Grommet component, Comment out the 'if' statement from the above snippet,

[2021-01-29 17:08] ShimiSun commented on #4887
Thanks for reporting, the fix will be available in the coming release.

[2021-01-29 17:08] #4887 closed

[2021-01-29 20:21] #4863 closed

[2021-01-30 17:10] wiltsu commented on #4895
`Uncaught TypeError: (0 , _styledComponents.css) is not a function`
I'm having almost the same issue...

[2021-01-31 04:37] ShimiSun opened #4912 "List `pad` console warning"
### Expected Behavior
No errors when using object for actual pixel size, for example:
`pad={{ vertical: '0' }}`

### Actual Behavior
[code]

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Use `<List ... pad={{ vertical: '0' }}>...`
2. open console log to see the error

### Your Environment

- Grommet version: 2.16.2
- Browser Name and version: any
- Operating Sys

[2021-02-01 23:35] simonv3 opened #4915 "In Select component: TypeError: setting getter-only property "target""
When using the `Select` component and choosing an option, the error `TypeError: setting getter-only property "target"` at Select.js:168

### Expected Behavior

In the select dropdown I should be able to select an option.

### Actual Behavior

An TypeError gets thrown.

### URL, screen shot, or Codepen exhibiting the issue

[code]

### Steps to Reproduce

![grommet](https://user-images.githubuserco

[2021-02-02 01:31] #4908 closed

[2021-02-02 13:14] yzalvov opened #4917 "Question. Callback for onClickOutside in <DateInput dropProps={{ onClickOutside }} />"
### Context
The `DateInput` with range and `format`  is what I need ([link to the story](https://storybook.grommet.io/?path=/story/input-dateinput--range-format)). I would like to reset the input state when a user selects a range but doesn't submit the selection (I have a separate submit button).

I would use `buttonProps: { onClose: myCallback }` but it is not possible if `format` is used ([link

[2021-02-02 14:39] yzalvov commented on #4917
As a work around

[code]

[2021-02-02 16:00] #3540 closed

[2021-02-02 16:18] ShimiSun commented on #4917
Instead of using `buttonProps`, have you tried using `inputProps`?

[2021-02-02 17:14] joaoGabriel55 commented on #4894
Nice @ShimiSun, I will take a look

[2021-02-02 17:38] ShimiSun commented on #4288
Thank you buddy for both reporting and fixing the issue! The fix should be available on the upcoming release (anything later than ^2.16.2)

[2021-02-02 17:50] ShimiSun commented on #4894
@joaoGabriel55 awesome buddy, let us know how it goes

[2021-02-02 17:52] joaoGabriel55 commented on #4894
I trying now to replace `awesome-typescript-loader` to `ts-loader`.

[2021-02-03 11:47] joaoGabriel55 commented on #4902
Hello @ShimiSun, can I work on this?

[2021-02-03 13:43] joaoGabriel55 commented on #4902
Hello again @ShimiSun.
I looked into the code bellow, and I think it could have a way to align the labels from XAxis accordingly to the generated chart type, like bar, line, etc. For example, in a Bar chart, each bar would have its own label instead of having a different div with display flex that aligns the labels disregarding the columns positions.

![image](https://user-images.githubusercontent

[2021-02-03 14:15] joaoGabriel55 commented on #4870
Can I work on this? I think found a good solution

[2021-02-03 19:54] joaoGabriel55 commented on #4870
Almost done guys...

[2021-02-03 20:34] jcfilben opened #4922 "TextInput placeholder duplicated"
### Expected Behavior
Placeholder text should not be duplicated.

### Actual Behavior
Placeholder text shows up twice

### URL, screen shot, or Codepen exhibiting the issue
<img width="456" alt="Screen Shot 2021-02-03 at 1 31 16 PM" src="https://user-images.githubusercontent.com/54560994/106805572-19a48400-6624-11eb-9cb1-8dd74952f60f.png">

https://storybook.grommet.io/?path=/story/input-textinput

[2021-02-03 23:24] #4922 closed

[2021-02-04 01:54] #4912 closed

[2021-02-04 09:32] Waize opened #4926 "Migrating to v2 - Split component"
Hey there,

I'm planning to upgrade our existing Projects from v1 to v2.
After reading the migration docs and Checking the components which needs to be replaced, I stumbled over the [Split-Component](https://v1.grommet.io/docs/split) from Version 1.

Is there any recommended Component to migrate to or any other ideas?
Do we have to implement a Split on our own?

The answer should be added to the [

[2021-02-04 09:51] iicfcii opened #4927 "RangeSelector selected bar can't reach ends if dragged very fast and range is large"
### Expected Behavior
When the middle bar is selected and dragged very fast towards one end, the bar should reach the end.

### Actual Behavior
If the range is large(about 100) and the bar is dragged quickly to one end, the bar cannot reach the end. If dragged slowly, it can reach the end.

### URL, screen shot, or Codepen exhibiting the issue
This is easily reproducible using Thin RangeSelector i

[2021-02-04 21:38] andrewthamcc opened #4928 "Typings on Text component are incorrect on the latest release"
The latest release of Grommet [(2.16.3)](https://github.com/grommet/grommet/releases/tag/v2.16.3) includes new additional sizes for the Text component. The typings for these new sizes are incorrect in that these properties are not optional.

[code]

These sizes should be optional. The optional property should not be within the string value of the key.

### Actual Behavior

### URL, screen shot, or

[2021-02-04 21:41] ShimiSun commented on #4926
Hi, thanks for reaching out.
Split is opinionated and depends on the use case, in the v1 docs example, it demonstrates a sidebar, so we'll recommend using the Sidebar component in a layout context, see some examples here https://design-system.hpe.design/templates/page-layouts

Let me know if that helps,
Shimi

[2021-02-04 21:53] ShimiSun commented on #4928
hi buddy, that latest release is 2.16.3, are you sure about the version you have listed 2.15.2?

[2021-02-04 21:57] andrewthamcc commented on #4928
That's copied from my `package.json` file. The carat is a semver range which will update to anything less than 3.0.0

[semver](https://docs.npmjs.com/cli/v6/using-npm/semver)

[2021-02-04 22:06] ShimiSun commented on #4927
hi buddy, do you want to file a PR with your potential fix? It will help us speed up the fix process.

[2021-02-04 22:12] ShimiSun commented on #4928
Thanks, feel free to make a contribution, this feature was introduced on 2.16.3 so that will be the explicit version of the issue for whoever tries to fix it.

[2021-02-04 22:34] #4928 closed

[2021-02-05 05:55] Waize commented on #4926
Thank you for the quick response!

Great idea, thanks for the link :)

[2021-02-05 05:55] #4926 closed

[2021-02-05 12:48] joaoGabriel55 commented on #4915
Can I work on this?

[2021-02-05 16:53] taysea commented on #4875
Closing this issue since it was solved in the recent release: https://github.com/grommet/grommet/pull/4901

[2021-02-05 16:53] #4875 closed

[2021-02-05 17:08] ShimiSun commented on #4928
Thank you for reporting and fixing the issue 💟

[2021-02-05 18:30] andrewthamcc commented on #4928
My pleasure! It was a simple fix. I was especially motivated because the latest release broke our Builds and CI/CD at work.  We just rolled our versions back.

[2021-02-05 18:44] #2556 closed

[2021-02-05 18:46] rabaut commented on #4895
Thank you for doing that @garrettlr ! I'll be using your fork until this is fixed.

[2021-02-05 20:16] #4415 closed

[2021-02-05 20:21] joaoGabriel55 commented on #4915
Hello @simonv3! I simulate your error on codesandbox (https://codesandbox.io/s/tender-borg-sm114?file=/src/App.tsx) and I do not had your error, quoted above. Can you explain more about your problem?

[2021-02-05 22:24] #4927 closed

[2021-02-05 23:20] ShimiSun commented on #4902
@joaoGabriel55  thank you for jumping on this buddy, go for it and file a PR so we can discuss your solution further.

[2021-02-05 23:21] TylerKienVu opened #4934 "DataTable InfiniteScroll onMore isn't being called when data resets"
When resetting the `data` on the `DataTable` after the `DataTable` has already called `onMore` from scrolling down at least once, the `DataTable` will no longer call `onMore`.

### Expected Behavior

The DataTable should still have the same behavior of calling `onMore` when it scrolls to the bottom.

### Actual Behavior

The DataTable stops calling `onMore` when it scrolls to the bottom after a da

[2021-02-05 23:39] ShimiSun commented on #4915
@joaoGabriel55 Definitely! Go for it

[2021-02-06 22:07] wguerram opened #4935 "RadioButtonGroup Options Text Color"
How do I change the text color?

I can't find in the documentation how to change the RadioButtonGroup text color

The text is not changing color no matter what I try.

### Steps to Reproduce

Simple put a RadioButtonGroup, I can't find a way to change the text color.

### Your Environment

Windows 10

- Grommet version: 2
- Browser Name and version: Chrome 88.0.4324.146
- Operating System and vers

[2021-02-08 04:53] ryanadhibit commented on #4935
[code]

this one would do it, right?

[2021-02-08 05:56] leossantiago commented on #4934
Addressed :) #4936

My only concern is that this is a really specific use case. I wonder if we should support dynamic changes to the data of a DataTable with `onMore`. I'd love to hear some inputs on that.

[2021-02-08 16:39] jcfilben commented on #4935
It may also help to take a look at [this storybook example](https://storybook.grommet.io/?path=/story/input-radiobuttongroup--custom-radio-button-group) that shows RadioButtonGroup with a custom theme to customize the colors. You can look at the RadioButton documentation to learn more about the theme options https://v2.grommet.io/radiobutton.

[2021-02-08 16:51] jcfilben commented on #4894
I think this issue can be closed since #4918 was merged

[2021-02-08 17:28] #4894 closed

[2021-02-08 17:45] ShimiSun opened #4937 "Upgrade major jest dependencies"
Upgrade to the latest major release of jest, including all plugin and sub jest dependencies.

[2021-02-08 17:46] ShimiSun opened #4938 "Upgrade to major React release"
Upgrade to react 17.0.1 including all react plugins and sub dependencies.

[2021-02-08 18:46] TylerKienVu commented on #4934
Thank you for working on this!

The main reason that we are using this in the project that I'm working on is to "refresh" the data once a mutation happens that would result in needing to requery the data for the table. Our data query works in increments so that would mean grabbing the first page again and starting from the beginning. I'm not sure how many other people encounter this use case but d

[2021-02-08 22:24] ypinneka opened #4939 "Add onChange validation for Form"
Currently, Grommet Form does validation via 'onBlur' & 'onSubmit'.

Can we also add a minor enhancement where validation will happen 'onChange'.

[2021-02-08 23:46] ypinneka commented on #4939
https://github.com/grommet/grommet/pull/4940

Looks like a straight forward change, do let me know if I am missing anything.

[2021-02-09 00:22] ShimiSun opened #4943 "Storybook - Remove the OTHERS package"
Looking good, I don't think we need the "Others" package anymore, we can move the one last item of "Theme" to utils and remove the "Others" package. we can do it on a separate PR though.

_Originally posted by @ShimiSun in https://github.com/grommet/grommet/issues/4941#issuecomment-775556749_

[2021-02-09 00:30] #4935 closed

[2021-02-09 00:39] wguerram commented on #4935
Thanks @ryanadhibit and @jcfilben

[2021-02-09 00:43] ShimiSun commented on #4935
@jcfilben just modified the storybook example to demonstrate your request on the storybook source code, you can see it live now https://storybook.grommet.io/?path=/story/input-radiobuttongroup-custom-theme--custom-radio-button-group

[2021-02-09 03:27] simonv3 commented on #4915
@joaoGabriel55 thanks for trying to reproduce. I've unfortunately moved on from using Grommet because I needed a framework that I could work with. I wonder if it's somehow related to using React vs Preact? But the type error is being thrown by Grommet, so that seems odd to me.

[2021-02-09 04:29] ericsoderberghp opened #4944 "Spinner component"
Add a `<Spinner />` component. Something along the lines of:
[code]

Should this be called "Spinner" or perhaps "BusyIndicator", to help clarify its use?

Design: https://www.figma.com/file/feIeYk1zX36y9E7e7rprc2/HPE-Loading-Indicator-Component?node-id=221%3A10424

[2021-02-09 04:57] ShimiSun commented on #4598
Trying to reproduce the issue on the grommet site, the TextInput (search) works as expected.
By design, the drop of the suggestion shouldn't close unless you take away its focus by clicking outside of the component or use the keyboard of `onEsc` to close the drop.
Regarding the position issue you've mentioned, of describing the drop hanging on the page, it might be an  additional style from your a

[2021-02-09 08:59] joybh98 commented on #4943
if no one else has shown interest, I'll be happy to work on it

[2021-02-09 16:15] ShimiSun commented on #4943
@joybh98 go for it buddy! Good to see you see back

[2021-02-09 16:57] ericsoderberghp opened #4945 "Enhance RangeInput for keyboard entry"
It could be interesting to explore allowing numeric keyboard input when the RangeInput has focus. Some initial thoughts:
- when the user types the first numeric character, the down arrow, or the space bar while the RangeInput has focus, a Drop is automatically added with a MaskedInput that ties in to min/max.
- the user can then type a specific value and the visual knob tracks along with it
- Esc

[2021-02-09 17:21] taysea commented on #4739
@joelachance Just to confirm I understand your scenario, the theme you're referencing is a Shopify theme that is relying on `aria-hidden` to decide the styling of certain things?

[2021-02-09 17:53] joelachance commented on #4739
Corret @taysea

[2021-02-09 19:16] taysea commented on #4739
Just summarizing my understanding of what is happening. The situation is centered around how Grommet toggles `aria-hidden` for elements in the DOM. Currently, `aria-hidden` values in the DOM are controlled by two functions: `makeNodeFocusable` (sets aria-hidden to false) and `makeNodeUnfocusable` (sets aria-hidden to true). These functions are called by `FocusedContainer` which is only used by Dro

[2021-02-10 11:55] ShimiSun commented on #4840
@mattoni Thank you for your contribution, the fix will be available on our next release (later than v2.16.3)

[2021-02-10 11:55] #4840 closed

[2021-02-10 12:03] SubhrajyotiShaseni opened #4946 "Grommet V1 Toast is not supporting localization"
I'm trying to localize the message of a Toast component and I'm unable to do it.

The code I'm using like below
 let toastMessage = ( <FormattedMessage id="hf.unsupported.message" defaultMessage="default We have detected"/> );
<Toast status='warning' >{toastMessage}</Toast>
Here "hf.unsupported.message" is the key I'm using for the different localized message in json file.

Is there any limitation

[2021-02-10 21:16] ShimiSun opened #4947 "Remove double focus on some FormField components"
### Expected Behavior
Each FormField component should have a single focus on the Formfield itself rather than both the input field and the FormField itself. Similarly to how TextInput works inside FormField.

The issue should be fixed for:
* RadioButton
* CheckBox
* Group components
* RangeInput
* Select

### Actual Behavior
Each FormField component has two focus indicators, one for the FormField

[2021-02-11 02:37] brandly commented on #4288
@bdesouza good work on the PR! I updated grommet and pressing a key selects the first item that starts with that key!

However, on long lists where this is especially useful, it's still not fully functional. The list doesn't scroll the item into view, so although it selects an item, you can't see what's selected! Maybe we can reopen this open or open a new one since this is still a divergence from

[2021-02-11 06:20] jlilly opened #4950 "Tip component ignoring global theme text color"
Text in the Tip component does not use the global theme text color, and simply uses black.

### Expected Behavior
Text in the Tip component should be the color specified in the theme.

### Actual Behavior
See above. It does not matter if you wrap the content in a Text tag.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-402ly

### Your Env

[2021-02-11 16:14] ericsoderberghp opened #4951 "micro front end POC"
Create a proof of concept for using grommet in a micro front end context.

Here's a reference for the context: https://medium.com/better-programming/6-steps-to-create-a-multi-version-react-application-1c3e5b5df7e9

## deliverables

- [ ] create a single repository in the grommet workspace on GitHub
- [ ] 4 sites within that repository: container, global navigation header, two apps
- [ ] apps using

[2021-02-11 16:15] ericsoderberghp commented on #4951
Depends on https://github.com/grommet/grommet/issues/4938

[2021-02-11 18:47] anoopadvaitha opened #4952 "Child component for DataTable component"
I was looking at having a sub component for the Datatable rows. At HPE we use tables a lot and this is one of the requirement for us. It is something available in majority of Table components available outside Grommet.

### Expected Behavior
Option to have a childComponent to a Datatable row.

### Actual Behavior
No way to provide a chidComponent.

### URL, screen shot, or Codepen exhibiting the i

[2021-02-11 21:17] nakaz opened #4953 "SkipLinks component tab functionality only works on Chrome browser"
### Expected Behavior

When tabbing from the address bar in a browser, the SkipLinks component should be rendered.

This only works on the Chrome browser but not Firefox and Safari

### Actual Behavior

On Firefox and Safari, the component is never triggered or rendered.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Go to https://v2.grommet.io/skiplinks on the

[2021-02-11 21:19] ShimiSun commented on #4953
Thanks for reporting!

[2021-02-11 21:22] ShimiSun commented on #4946
Hello, we are no longer extending functionalities for grommet v1, please see the templates provided for Toast and Notification on grommet v2 https://codesandbox.io/s/9jpz0z2ym4

Cheers

[2021-02-11 21:22] #4946 closed

[2021-02-11 21:23] #4937 closed

[2021-02-11 23:55] mgh5 opened #4955 "grommet to supports showing a link at the end of table scroll"
This is to support displaying a "Load more..." option at the end of table scrolling.

The current behavior supports infinite scroll; this will be an added feature.  Need the ability to disable the link after it has been clicked a number of times.

[2021-02-13 00:14] jaynammodi commented on #3330
how do i animate the background image's position using the hoverIndicator prop? it should be possible but isnt clear enough in the docs

[2021-02-13 00:41] versoworks opened #4957 "Change TextInput password reveal icon color"
HowTo: Change the color of the TextInput type=password reveal icon?

[2021-02-13 23:15] jaynammodi opened #4958 "Regarding the Card Component's hoverIndicator prop."
I haven't been able to figure out how to use the hoverIndicator to animate a linearGradient by changing its position, the docs are incomplete as mentioned in #3330. Please help by providing an example of the same.

<iframe src="https://codesandbox.io/embed/buttonhoverindicatorprop-forked-849pn?fontsize=14&hidenavigation=1&theme=dark"
     style="width:100%; height:500px; border:0; border-radius: 4

[2021-02-14 08:46] anoopadvaitha commented on #4952
I have managed to implement something in these lines. Is it open for a PR ?
Will share the storybook link soon

[2021-02-15 12:46] worst-developer opened #4962 "optional text props types is not applied to latest 2.16.3 version"
**The problem:** [commit]( https://github.com/grommet/grommet/commit/e48684ed4898bf0155e84bea3ff70938068d73a1
) is not applied to the same version that I am installing from npm (2.16.3 )

### Expected Behavior
Use text types schema same as in master branch

 `"2xl"?` instead of `"2xl?"` and so on 3,4,5,6

### Actual Behavior
My local version of grommet is `2.16.3` but it is still using old text ty

[2021-02-16 01:02] ShimiSun commented on #4962
Hi buddy, thank you for reporting, this issue was already fixed on https://github.com/grommet/grommet/pull/4929. The next official release will include this fix. In the meanwhile, you can use the stable branch to include the fix locally.  https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F

[2021-02-16 01:02] #4962 closed

[2021-02-16 01:11] ShimiSun commented on #4958
Thanks for reporting and sharing the codesandbox.
There are a couple of issues with the code sandbox you shared:
1. You are missing the onClick behavior, from WCAG considerations, in order for `hoverIndicator` to work, it requires the `onClick` function. So please add `onClick={()=>{}}` and it should do the trick.
2. In your case, since you are placing a background image, the hover is being hidden

[2021-02-16 06:00] anoopadvaitha commented on #4952
Please find the link for the storybook
Let me know if this is acceptable for you.
https://www.chromatic.com/component?appId=602aa3d849721200238dcf29&name=Visualizations%2FDataTable%2FchildComponent&buildNumber=2

[2021-02-16 19:11] raywong-fb opened #4964 "FormField error size theme property not documented"
### Expected Behavior

The documentation for [formField](https://github.com/grommet/grommet/blob/master/src/js/components/FormField/doc.js) should include an entry for `formField.error.size`.

### Actual Behavior

There is no documentation for the theme field `formField.error.size` even though it appears to work.

- Grommet version: 2
- Browser Name and version: all
- Operating System and version

[2021-02-16 21:02] bdesouza opened #4965 "Select breaks with keypress when using labelKey option"
In Grommet 2.16.3, a change was introduced to support option selection based on keypress. Unfortunately, in cases where labelKey is set, the Select breaks.

### Expected Behavior
Select should work. The option should be selected based on the labelKey configuration.

### Actual Behavior
The Select component breaks with the following error.
[code]

### Steps to Reproduce

1. Create Select with optio

[2021-02-16 22:18] ericsoderberghp commented on #4952
I would use this story as the basic design direction: https://storybook.grommet.io/?path=/story/visualizations-datatable-grouped--grouped-data-table
I think we can restrict that you cannot group and have row detail rendering in the same DataTable.
I am open to a pull request for this functionality.

[2021-02-17 10:23] anoopadvaitha commented on #4952
@ericsoderberghp  Thanks for the input will try to address your comments and open a PR.

[2021-02-17 11:59] alanpilloud opened #4967 "Is there a way to trigger validation on demand ?"
I am using a Form component with FormFields and various fields. I use react-albus to manage steps in my form.
I need to trigger a validation for each step. This means that I can't use the blur or submit validation method.

Is there a way to trigger validation on demand so I can use it in my navigation events ?

### Expected Behavior

Actual behaviour is fine, I just can't find how to do it, or it

[2021-02-17 17:26] ShimiSun opened #4969 "MDN links on docs"
It would be good to come up with a way to document this sort of thing better. Perhaps we should have a link in the documentation to the MDN page for the intrinsic element?

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/3325#discussion_r575546317_

[2021-02-17 17:32] #2535 closed

[2021-02-17 17:57] jcfilben commented on #4846
Here is a codesandbox using grommet v2.16.3 showing onMouseLeave and onMouseOut working as expected for button https://codesandbox.io/s/grommet-v2-template-forked-7nl1y?file=/index.js. I think this issue can be closed.

[2021-02-17 18:36] ShimiSun commented on #4967
Super fresh, we just added functionality that the validation could happen on 'change'. I should be available on our upcoming release, you can try it on the [stable branch ](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F).
Please let me know if it answers your needs https://storybook.grommet.io/?path=/story/input-form-validate-on-change--validate-on-change

[2021-02-17 18:41] ShimiSun commented on #3071
A new FileInput component is now avilable on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F). It will be available on our next release, thanks for reporting.

[2021-02-17 18:41] #3071 closed

[2021-02-17 18:44] ShimiSun commented on #2535
A new FileInput component is now available on the[ stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F). It will be officially available on our next release, thanks for reporting.

[2021-02-17 19:07] #4865 closed

[2021-02-17 19:16] #4846 closed

[2021-02-17 19:40] alanpilloud commented on #4967
I will have a look tomorrow, that looks like it's exactly what I need !

[2021-02-17 23:13] shreyashah7 opened #4972 "Async function is not working as expected in validate prop of Form field."
Formfield's validate prop is not working as expected when provided an async function or even a set-timeout/delay. I have a requirement where i am making a backend api call for an input field validation. I am passing that function to validate prop. Sometimes, I do see the red box on the input field, but it is not showing the error message ever.

Expected Behavior
Async function should behave in sim

[2021-02-18 02:09] shen6653 commented on #4743
@ShimiSun @ericsoderberghp Here is another use case for this issue. We are having dynamic form fields to show or hide based on the radio button group selection. when user toggle between radio buttons, the old form values and errors are not cleared out. Would you please consider to merge in @halocline 's PR that addresses this problem?

For the wizard use case where we want to retain the error mess

[2021-02-18 07:11] anoopadvaitha commented on #4952
@ericsoderberghp Regarding the restriction of not allowing both group and childComponent. I'm thinking of going with an approach of ignoring the childComponent if groupBy prop is provided rather than throwing the error. Please let me know your thoughts will change accordingly

[2021-02-18 11:37] AlexandrChebotar opened #4976 "[TS] Layer prop `background` doesn't work"
I see prop `background` in Layer component documentation - https://v2.grommet.io/layer#background. But it's not work at all. Please fix it or at least update documentation.

### Expected Behavior

Layer prop `background` should change LayerContainer background

### Actual Behavior

LayerContainer background provided only over theme

### URL, screen shot, or Codepen exhibiting the issue

That prop

[2021-02-18 12:57] ShimiSun commented on #4957
If I understand the question correctly, you are interested in changing the icon color when TextInput is using a password.
Placing an icon prop on the icon you are using could do the trick.

Here is a code example:
[code]

If you had other question in mind, let us know.

[2021-02-18 15:37] #4965 closed

[2021-02-18 15:41] britt6612 commented on #4976
@AlexandrChebotar can you share a code snippet of how you were trying to use the `background`

https://codesandbox.io/s/layer-background-gfg7p

I created a quick example of using a pink background. I agree this should be in the type declarations I can add that.

[2021-02-18 16:00] alanpilloud commented on #4967
@ShimiSun This is a really nice feature, but not what I need. I will find another way.

Thanks for your help !

[2021-02-18 16:23] ericsoderberghp commented on #4950
Hmm... something doesn't feel quite right here in setting the text color even though `plain` has been passed in to Drop. `plain` typically indicates that the caller will take care of any styling. I think we should instead revisit how Tip is behaving and ensure it is setting up the styling. I'm inclined to say that if Tip is called with `plain`, that works as it does today. If Tip is not called wit

[2021-02-18 18:09] abnersajr commented on #4976
The prop background is supposed to be inherited from `JSX.IntrinsicElements['div']`.
However if you are extending the `LayerProps` interface you will not have access to this prop. Because the `Union` between `LayerProps` and `JSX.IntrinsicElements` it's defined on the `declare` scope.

You can see a similar issue where one prop didn't exist in the `<Component>Props` if you try to extend it.
https:

[2021-02-18 18:27] abnersajr opened #4978 "[TS]: Fix Component Props declarations"
Pay attention to rules for migration at the end of the issue.

### Expected Behavior

Be able to import and extend the `<component>Props` correctly, bringing the ` JSX.IntrinsicElements` props together.

### Actual Behavior

Components have theirs on `<component>Props` combined with ` JSX.IntrinsicElements` being exported using the `declare` block. The import of `<component>Props` doesn't have all

[2021-02-18 20:00] Isaius commented on #4978
How about we make an list of components that need be changed, for a better track of them?
This would help anyone interested in make these changes choose one to work on.

[2021-02-18 20:03] abnersajr commented on #4978
Sure. This is the idea of the Roadmap. But it takes some time. If you have time available you can do it.
In case you can't edit the Original Post, add the components in a comment and I add to the post.

[2021-02-18 20:07] Isaius commented on #4978
I can't edit. I'll search a bit and then edit this comment to add them.

[2021-02-18 20:14] AlexandrChebotar commented on #4976
@ShimiSun @britt6612 @abnersajr sorry, my bad... something was wrong with my updates. I saw version 2.16.3 in yarn.lock, but behavior was the same. So I have created this issue and passed background to container this way - `style={{ background: "transparent" }}`
I have now reinstalled dependencies and all ok.

[2021-02-18 20:14] #4976 closed

[2021-02-18 20:54] versoworks commented on #4957
@ShimiSun thanks for the reply. I figured out the reveal icon for password inputs is displayed by the web browser, not grommet, so I apologise for the misunderstanding.

[2021-02-18 20:54] #4957 closed

[2021-02-18 22:48] mgh5 opened #4980 "DataTable border="bottom" option does not extend the row's bottom border under checkboxes for selectable tables"
DataTable  border="bottom" option does not extend the row's bottom border under checkboxes for selectable tables

Row bottom border should go all the way through.

- Grommet version:   "grommet": "2.15.2"

[2021-02-18 23:19] abnersajr commented on #4978
Thank you @Isaius for the contribution. The list was added to the issue. Just to not bloat the discussion, could you delete it please?

[2021-02-19 01:20] Isaius commented on #4978
Trying to make a test, figured out that in order to implements these changes, the way to extend the `JSX.IntrinsecElements['div']` is:

[code]

TypeScript don't allow extend directly as in your example.

[2021-02-19 04:42] abnersajr commented on #4978
@Isaius thanks for the inputs. Looking around the codebase I se some places implementing the nomeclature of `<component>Type` for `export type <Component>Type = ...`
I updated the pattern and in case of multiple extends you will have:

[code]

About the `JSX.IntrinsicElements` being extended twice, It's not a problem. If for some reason the `BoxProps` stops extending in their component, or we deci

[2021-02-19 04:43] abnersajr commented on #4978
@ericsoderberghp @ShimiSun and other contributors. I would like to hear your 10 cents about the pattern suggested.

[2021-02-19 11:10] joaoGabriel55 commented on #4945
It would be a nice enhancement.

[2021-02-19 16:54] joaoGabriel55 commented on #4945
I am working on this

[2021-02-19 16:54] joaoGabriel55 commented on #4945
I am working on this

[2021-02-19 18:51] ericsoderberghp commented on #4743
Can you provide a bit more detail on this, perhaps with some code snippets, to elaborate a bit more?

[2021-02-20 02:32] ShimiSun commented on #4980
It will be nice to see a markup or a codesandbox that reproduces the issue.

[2021-02-20 04:36] ericsoderberghp commented on #4978
I believe that we need to revisit the approach taken in #4909 . If there are existing callers who have extended the current ComponentProps to add some instrinsic properties, I think their code will break due to the new properties already existing. I'm thinking we should preserve the existing behavior and add a new export for the extension:
[code]

[2021-02-21 00:08] g4rry420 commented on #4964
Can I work on this issue ?

[2021-02-22 13:00] abnersajr commented on #4978
Thank you for your input, @ericsoderberghp. Definitely, we need to take care of backward compatibility.
IMO, we could use your suggestion about adding new exports and signal users about this.
Can we add some tag of discussion, draft on the issue, please.

[2021-02-22 15:02] ShimiSun commented on #4978
@abnersajr thanks for owning this important enhancement buddy! This could improve the Grommet + TS experience.
I think our next step will be to add the Extended support to TextInput and roll back the changes from #4909 to be backward compatible.

[2021-02-22 15:54] #4939 closed

[2021-02-22 15:58] #4743 closed

[2021-02-22 15:59] ShimiSun commented on #4939
Thank you for your contribution!

[2021-02-22 16:04] #4843 closed

[2021-02-22 16:42] ericsoderberghp opened #4987 "analyze web components"
Evaluate web components again to determine if/when grommet should be available via web components instead of React. Suggest a combination of research on the current state, other component libraries being built with it, and perhaps a proof of concept.

[2021-02-22 16:46] alexmirrington commented on #4978
Just to jump in on the discussion, and perhaps provide a bit of perspective about what current users of the library might be doing, I'll provide an example of the custom component I was working on today: a heading component with a linear gradient. Today was my first day with React + Grommet + TypeScript. I'm a newbie and noticed that importing `HeadingProps` from Grommet didn't include any informa

[2021-02-22 16:56] ericsoderberghp commented on #4972
I’d like to get some UX thoughts on how to show “busy” in cases where the message is slow to come. I could see something along the lines of:
- < 100ms, just show the message when it arrives
- > 100ms, put a spinner/loading, etc. to indicate that the validation is in progress

[2021-02-22 19:49] ypinneka opened #4988 "Grommet stable tarball seems to be corrupt"
Getting this error now, when trying to do `npm i` while pointing grommet to `https://github.com/grommet/grommet/tarball/stable`

npm WARN tarball tarball data for grommet@https://github.com/grommet/grommet/tarball/stable (sha512-MEDE183OmgHdMTjvFNwuSEa1/9hfNWoxfxQN2mqCNt/v2A580eB97skRjMGfV0JVgwtHh4jNQSWwBBqsanSkzg==) seems to be corrupted. Trying again.
npm WARN tarball tarball data for grommet@ht

[2021-02-22 19:50] ypinneka commented on #4988
Hi @ericsoderberghp,
any idea about this ?

[2021-02-22 20:12] #4988 closed

[2021-02-22 20:27] ShimiSun commented on #4988
You need to update your hash of grommet-stable, clean cache and rebuild the grommet stable dependency.
If you are using yarn it would be something like:
[code]

*****
`npm cache clean --force`

[2021-02-22 20:36] ypinneka commented on #4988
Thanks, Got it !

[2021-02-22 21:35] canyongrace opened #4989 "Missing FormField errors on empty required fields with validate on blur and fast keyboard movement"
### Expected Behavior

That the required error would show up on a FormField when it is empty and has been blurred, no matter how fast the operation.

### Actual Behavior

We just upgraded to Grommet 2.16.3 and are noticing a timing issue. This problem occurs when tabbing quickly while using the keyboard, and also during tests. I first discovered it during automated testing, I assume because of how

[2021-02-22 22:23] ShimiSun commented on #4953
@nakaz, I took a look at the issue and the functionality seems to work as expected.

I tried to understand what you might be experiencing, and if you are using a MAC [this might be your issue](https://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox):

HINT:

Restart your FF and that should do the trick.

Here is a quick video from running it on FF and verifying

[2021-02-22 22:28] #4943 closed

[2021-02-22 23:30] ShimiSun commented on #4978
@alexmirrington thanks for your inputs!

For your example, our thoughts were to allow export of "HeadingExtendedProps" in addition to exporting the existing "HeadingProps" that were already exported.
Feel free to make a contribution on Heading/index.d.ts to allow this type.

[2021-02-23 06:59] abnersajr commented on #4978
@ShimiSun @ericsoderberghp I've updated the ticket with the patterns discussed here.
I'm thinking in close this ticket and open a new one fresh, to better keep tracking the process.
About the [Rules for Migration](#rules-for-migration), do you agree?

[2021-02-23 13:23] alexmirrington commented on #4978
@ShimiSun I started working on implementing `HeadingExtendedProps` today, but ran into an issue that will pop up for other components and requires a bit of design:

For the `HeadingProps` example above, we can easily do something like the following:

[code]

I'd rather avoid creating an intermediate type that is not used, or at least I would like to move those types to some common area of the code

[2021-02-23 16:57] ericsoderberghp commented on #4972
Discussed this with Mandy and Scott this morning. Agreed on keeping the duration below 500ms. Implement and evaluate how it feels between 200-500ms.

[2021-02-23 16:57] ShimiSun commented on #4989
@ericsoderberghp , does this PR already solves the issue? #4982

[2021-02-23 16:58] ericsoderberghp commented on #4989
I don't think so. But, maybe?

[2021-02-23 17:06] ShimiSun commented on #4978
I agree and rooting for a new ticket to keep this one less bloatedd. Just make sure to link the TextInputProps PR and this issue to it.

[2021-02-23 17:53] Alkindi42 commented on #4273
Hello,

You can use [Controller component](https://react-hook-form.com/api/#Controller):

[code]

It's not a perfect solution but it works.

[2021-02-23 22:48] nakaz commented on #4953
Confirmed that it was due to lack of accessibility options set via the machine/client/user. Component appears to work as expected.

[2021-02-23 22:48] #4953 closed

[2021-02-24 10:39] amagee opened #4997 "Dark/light detection doesn't work when referring to colours by name"
Grommet appears to detect a button's background color in order to determine whether to use a light or dark font color on it. This works as expected if I use a hex code to define the color but not if I use a named color like "purple".

### Expected Behavior

If the background color is defined as "purple", the text color should be light.

### Actual Behavior

The text color is dark. But if I change

[2021-02-24 15:22] abnersajr opened #4998 "[TS]: Extended types export"
Pay attention to rules for migration at the end of the issue.
This is a tracking ticket for #4978
### Expected Behavior

Be able to import and extend the `<component>Props` correctly, bringing the ` JSX.IntrinsicElements` props together.

### Actual Behavior

Components have theirs on `<component>Props` combined with ` JSX.IntrinsicElements` being exported using the `declare` block. The import of

[2021-02-24 15:25] abnersajr commented on #4978
Closed in favor of #4998

[2021-02-24 15:25] #4978 closed

[2021-02-24 22:02] jlarso11 opened #5000 "DataTable: Size of column with select boxes in it"
### What should happen

Checkbox column width should either be customizable by the consumer or the width of the checkbox

### What does happen

The width is set automatically and Can lead to extra white space as shown below

https://codesandbox.io/s/grommet-v2-template-forked-vp81p?file=/index.js

### Your Environment

- Grommet version: 2.16.1
- Browser Name and version: Chrome 88

[2021-02-24 22:13] jlarso11 opened #5001 "Feature request: label and toggle alignment"
### Expected Behavior

We would like a way to add space between the label and the toggle when they are in reverse.  This way, when added many toggles in a row, we do not see a ragged line of toggles that are dependent on the length of the label.

Designed:
![image](https://user-images.githubusercontent.com/14100034/109072850-d2556480-76b2-11eb-8757-172b8724aa49.png)

Actual:
![image](https://user-

[2021-02-24 22:31] jlarso11 commented on #5000
https://github.com/grommet/grommet/pull/4822

[2021-02-24 22:38] versoworks opened #5002 "MaskedInput not accepting input"
Using the sample at https://v2.grommet.io/maskedinput with either the latest versions of Chrome or Edge, the MaskedInput does not accept input. Either typing or with the mouse selecting an option from the drop list.

[2021-02-24 23:12] #4868 closed

[2021-02-24 23:23] taysea commented on #4989
I think this could be related to the work done on https://github.com/grommet/grommet/pull/4898. We had to set a small timeout to allow click events to complete before onBlur validation ran (otherwise the validation error may cause the button to shift and the click would not complete), but that same timeout may be causing the issue being noted here.

[2021-02-25 18:55] #4739 closed

[2021-02-25 20:14] shen6653 opened #5004 "Need a new prop to Form so that Form can trigger validation after first time Form is rendered"
### Expected Behavior

When Form is used in Wizard step, if user types something wrong, they go back to previous step then go back the same step again, they are expecting to see a validation error.

### Actual Behavior
No validation error is displayed.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name a

[2021-02-25 21:04] ShimiSun commented on #4997
Interesting feedback!! Thinking about this issue, here are my thoughts:
Our color detection algorithm is adaptable to HEX colors and the defined colors of the theme, the color that is being used in your code example is not defined on your theme colors, so grommet assumes you would just like to fall back to the browser's default color of `purple`, and there is no way for grommet to detect what colo

[2021-02-25 21:14] ShimiSun commented on #5002
This is probably just an issue on the website example, all the MaskedInput on our storybook works as expected
https://storybook.grommet.io/?path=/story/input-maskedinput-date--date-masked-input

Unless you think the component itself has an issue, I'll move this issue to the grommet-site repo.

[2021-02-25 21:22] versoworks commented on #5002
@ShimiSun I can confirm the storybook examples work. The reason for raising the issue is we're experiencing it within our own implementation of MaskedInput and can not pinpoint the cause. Any advice as to the cause ?

[2021-02-25 23:03] ericsoderberghp commented on #4989
I wonder if this is related to how `pendingValidation` is managed. Since we only allow one value, and replace any existing value on blur, we will miss validation. I think we should consider adding to pendingValidation where we set it, rather than just replacing it entirely.

[2021-02-26 00:58] mgh5 opened #5006 "Support allowing a way for cells in a column to get scope="row" without acting as 'primary' column"
Currently, data table allows a way to define a 'primary' column and/or have a 'primaryKey'.  If both 'primary' and 'primaryKey' are defined, primaryKey should take precedence.  With the current implementation, 'primary' takes precedence.  This means in selectable tables, the selection array would contain values from 'primary' column (which may not be unique) even if both 'primaryKey' and 'primary'

[2021-02-26 01:12] nakaz opened #5007 "Video component does not work in Safari"
### Expected Behavior

Video component should be rendered and usable on the browser (Safari)

### Actual Behavior

Does not display any video content. Some values are `NaN`

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/2155125/109240189-eae57d80-778b-11eb-999a-71bf6dd7a834.png)

### Steps to Reproduce

1. Navigate to https://v2.grommet.io

[2021-02-26 01:29] amagee commented on #4997
If I'm not mistaken the named browser colours are standard across browsers (eg. "purple" is always `#800080`) so it would be possible for grommet to do the transform and have things just work. The npm package `color-name` appears to be a good option for doing this - it's basically just a big mapping of color names to hex codes ([see here](https://github.com/colorjs/color-name/blob/master/index.js)

[2021-02-26 01:42] ShimiSun commented on #5007
Works as expected on Safari for me, please provide more details in case we are missing something.

https://user-images.githubusercontent.com/6320236/109242516-7d8c1980-7798-11eb-832f-58ce6cb98dbc.mov

[2021-02-26 01:55] ShimiSun commented on #4997
Our overall inclination is not to add more packages to our dependencies, so we can keep our package tidy.
 We will take a look into it though.

[2021-02-26 02:11] amagee commented on #4997
Yeah, that's understandable. For what it's worth, that `color-name` package is only a couple of kb and it has no dependencies of its own. I feel like supporting named colours would save a bunch of confusion (it took me a while to figure out *why* the text colour wasn't behaving as expected). So while it's definitely not a must-have feature as such, having it would avoid that experience.

[2021-02-26 04:08] ShimiSun commented on #5002
Can you share a code sandbox of what you are trying to do? The issue is probably with how the value is being updated. Here is a template of grommet you can use to share your code more easily https://codesandbox.io/s/m7mml8l0zj

[2021-02-26 04:11] ShimiSun commented on #5006
Any changes of the current default behavior should be considered as a breaking change unless it is an actual bug.

[2021-02-26 06:25] versoworks commented on #5002
@ShimiSun thanks for the tip; the issue was indeed caused by how the value was being updated.

[2021-02-26 06:25] #5002 closed

[2021-02-26 19:23] RyanCCollins commented on #5007
Works for me as well.

[2021-02-26 20:28] mgh5 opened #5011 "Selectable data tables, header checkbox not aligning correctly with body checkboxes"
Upgrade to Grommet version: 2.16.3, is causing header checkbox in selectable tables not to align correctly with the body checkboxes.  Please see screen shot.

<img width="142" alt="Screen Shot 2021-02-26 at 12 00 30 PM" src="https://user-images.githubusercontent.com/78939064/109351397-11f48b80-782e-11eb-9880-bee05aca311a.png">

[2021-02-26 20:34] shreyashah7 opened #5012 "Form's valid prop inside onValidate() callback not returning accurate value for checkbox"
I have a form with some required input fields and required checkbox. onValidate() callback is not returning correct value for checkbox and it always returns false. If i remove checkbox, it works fine.

### Expected Behavior

Needs to check checkbox and return correct value

### Actual Behavior

Not returning correct value

CC: @ypinneka

[2021-02-26 21:55] ShimiSun commented on #5007
@nakaz Feel free to reopen the issue once you have a reproducible code for us to troubleshoot.

[2021-02-26 21:55] #5007 closed

[2021-02-26 21:56] ypinneka commented on #5012
https://github.com/grommet/grommet/pull/5014

[2021-02-26 22:07] halocline commented on #5011
I believe this is related to the HPE Theme, and should be filed at this repository https://github.com/grommet/grommet-theme-hpe/issues.  @mgh5, would you be able to file the issue there?

[2021-02-26 22:18] ericsoderberghp commented on #4997
I tend to agree with @ShimiSun on this. There are a lot of small packages we could add for non-80% use cases that we avoid to keep the size of our dependencies down. We are more oriented towards creating a theme for a particular brand or style and naming the colors within that, where the HEX values are, rather than just using the web color palette names.

[2021-02-26 23:27] amagee commented on #4997
If you really don't want to support these colours I would suggest at least having some kind of warning to save people from having to do a bunch of trial & error debugging to figure out *why* their colours aren't working, especially since people are most likely to try using named colours when they're doing some initial fiddling around with the framework and are least familiar with how things work.

[2021-02-26 23:29] ericsoderberghp commented on #4997
That's a reasonable suggestion. A scenario I've seen before is where there's a typo between the color name in the theme and it being used in the code.

[2021-02-27 01:21] shen6653 opened #5015 "Allow app to specify validations that are triggered locally versus globally"
The current behavior is: when onBlur or onChange validations are triggered, it always run through validations for all the form fields that have been touched by user before. In majority of the use case, the change to the current form field are not impacting other form fields, so it's unnecessary to repeatly run through all the validations. Performance may become a problem with the current behavior

[2021-03-01 05:51] darwinarugayvpi commented on #2177
Same issue, when I created a component and received the 'src' attribute as a props this cause me an issue using nextjs Image

[2021-03-01 17:02] jcfilben commented on #4783
I think this issue can be closed since #4983 was merged

[2021-03-01 17:10] jcfilben commented on #4915
In Grommet's storybook, Select has a typescript example [here](https://storybook.grommet.io/?path=/story/input-select-create-option--create-option) that is working correctly and not giving any errors where you choose an option. Since we care unable to reproduce the issue I think this can be closed

[2021-03-01 17:24] mgh5 commented on #5011
Filed issue #170 with HPE Theme.  Thanks.

[2021-03-01 17:36] jcfilben commented on #4567
I think this issue can be closed

[2021-03-01 17:41] #5011 closed

[2021-03-01 17:42] ShimiSun commented on #5011
Correct link https://github.com/grommet/grommet-theme-hpe/issues/170, I'll close this issue.

[2021-03-01 22:08] ericsoderberghp commented on #5006
Unfortunately, as @ShimiSun said, we cannot change the behavior of `columns[].primary` and `primaryKey`. I'm having difficulty coming up with an alternative term for the `scope="row"` aspect. However, I think adding `selectKey` as the key to use for `select` and `onSelect` would be consistent.

[2021-03-02 03:40] vincentl opened #5023 "FileInput onChange event not called when files are removed"
### Expected Behavior

The new FileInput component (introduced from issue #2535) `onChange` event should be called when files are removed so client code can responded to removal.

### Actual Behavior

`onChange` is only called when files are added.

[2021-03-02 13:03] varungupta85 opened #5024 "Box don't take up all the available space when flex is set to true"
I add a `Box` with `flex` set to `true` and I expect it to take up all the available space. But it only takes up the space required by the contents inside the `Box`. When I inspect the components tree in Chrome. I see that a `Context.Provider` component is added which reduced the height of the box to fit the contents in the box. Please see attached screenshots. The first screenshot displays that t

[2021-03-03 00:17] #4989 closed

[2021-03-03 03:47] lfelipevc opened #5027 "Custom components to Input Form acess nested properties value - FormContext.Provider not override"
I'm trying to create new inputs component  for grommet `Form` and didn't understood how uncontrolled form sends input value to it's child.  It's seems that `Form` uses a `FormContext` to pass down this value.
Setting new value for a `FormContext.Provider`, to override the actual value of this context, not working. Still passes down the value generated on `Form` to `TextInput .

If create new Compo

[2021-03-03 04:21] abnersajr commented on #5023
Good call @vincentl. I think to be more flexible we can add a callback `onRemove`  to be triggered when you remove a file using the button.

[2021-03-03 04:23] ericsoderberghp commented on #5023
Agreed. This shouldn't be too hard to create a pull request for. Any takers?

[2021-03-03 04:53] abnersajr commented on #5023
@ericsoderberghp I'm doing. Will add `onRemove`  and `onRemoveAll`

[2021-03-03 04:55] ericsoderberghp commented on #5023
I think leveraging `onChange` would be sufficient. Just have it reflect the current set of files. The callee already has to track when multiple files are added sequentially. Removing would mirror in reverse.

[2021-03-03 05:01] abnersajr commented on #5023
IMO,  Give to the user the possibility to declare a specific callback for `remove` and `removeAll`  would be nice, in case he wants he can simply pass the same function used in the `onChange`  to these callbacks.

One possibility is to add the `onChange`  as default. In case the user doesn't pass callbacks to `onRemove`  and `onRemoveAll` by default we can use the `onChange` if it exists.
Adding t

[2021-03-03 05:26] abnersajr commented on #5023
Opening the PR and thinking in the backward compatibility, only leveraging the `onChange` function, might lead users to unexpected behaviors.
The addition of a new callback does not impact old users that don't want this behavior.

[2021-03-03 05:47] ericsoderberghp commented on #5023
Part of my point was we don't have `onAdd`, when adding a subsequent file to a multiple file input. Also, Select that allows multiple options being selected only indicates changes to the selected options via `onChange`. I think it is more consistent to stay with just `onChange`.

[2021-03-03 05:58] g4rry420 commented on #4008
@ShimiSun Can I work on this issue ?

[2021-03-03 06:07] versoworks commented on #5024
@varungupta85 it appears the issue is caused by not using the `Grommet `component on the top level. Based on the supplied codesandbox example, the following change resolves the issue;

[code]

[2021-03-03 06:31] abnersajr commented on #5023
Cool. PR is opened.

[2021-03-03 12:53] sebringrose commented on #4461
It's been a while since this issue was raised but I would like preact support. However, I appreciate that it won't be needed by the vast majority of users. I just started a preact project and would have liked to use grommet components but no big deal :)

[2021-03-03 14:55] ericsoderberghp commented on #4008
A couple of thoughts:
- we cannot remove props without breaking backward compatibility
- DateInput already works as discussed here and is compatible with FormField, is there a reason to not just use it?

[2021-03-03 15:08] varungupta85 commented on #5024
@versoworks Thanks for your reply. Could you also please explain the difference between `flex` and `fill` properly that can be applied on a `Box`. I am seeing mixed results when these properties are applied. For example, sometimes applying `flex` to a `Box` does take up whole space but sometimes it doesn't. For example, the supplied sandbox, if I apply `flex` to the `Box`, it doesn't take up the w

[2021-03-03 16:45] #4952 closed

[2021-03-03 18:48] jcfilben commented on #4272
I think this issue can be closed since #5025 was merged

[2021-03-03 19:04] #4272 closed

[2021-03-03 20:49] jcfilben commented on #5024
Hi @versoworks take at look at `fill` and `flex` in the grommet [Box documentation](https://v2.grommet.io/box#fill). You can also look at more information about how [flex-grow](https://www.w3schools.com/cssref/css3_pr_flex-grow.asp) and [flex-shrink](https://www.w3schools.com/cssref/css3_pr_flex-shrink.asp) work. In general if you want a box to take up the full space of its container use `fill`. I

[2021-03-03 20:56] g4rry420 commented on #4008
Hey @ericsoderberghp , Can you think of any possible solution for this ?

[2021-03-03 21:00] ericsoderberghp commented on #4008
Perhaps enhance `date` to support the full set of possible types?

[2021-03-03 21:00] #4938 closed

[2021-03-03 21:02] g4rry420 commented on #4008
okay, I will take a look into this and let you know if I need any help.

[2021-03-03 21:48] jcfilben commented on #3046
I think this issue can be closed since #4464 was merged

[2021-03-03 22:15] jcfilben commented on #2997
Yes, I think this issue can be closed. The Tip component was added recently which could also be used to accomplish this.

[2021-03-03 22:36] jcfilben commented on #2827
This issue was fixed in #4644 so I think this issue can be closed

[2021-03-03 22:58] jcfilben commented on #3133
I think this issue can be closed since #4371 has been merged

[2021-03-04 00:28] kid-icarus commented on #4809
@ShimiSun @jcfilben I just looked at https://storybook.grommet.io/?path=/story/layout-layer-notification--notification-layer and I'm not seeing any exit animations being run. I am also unable to see any exit animations with the Layer component in general.

[2021-03-04 18:23] Isaius commented on #4947
this still unsolved @ShimiSun ? The #4930 seems to be solving this, but the last update was a few weeks ago.

[2021-03-04 18:27] varungupta85 commented on #5024
@jcfilben Thanks for your reply.

[2021-03-04 18:27] #5024 closed

[2021-03-05 07:47] sabarnix opened #5031 "Ability to make table headers sticky"
### Expected Behavior

Table can accept sticky header as a prop and add position sticky to header tableCells.

I am creating a PR but not sure how to pass the top value. Should that be on cell level or table level.
Also for table with multiple level table header is more difficult to handle.

### Actual Behavior

No support for table headers sticky

### URL, screen shot, or Codepen exhibiting the i

[2021-03-05 10:10] aldirrix opened #5032 "Box alignContent prop value doesn't map to proper css"
### Expected Behavior

When using a `Box` component with alignContent prop set to between or around, etc. It should align content accordingly

### Actual Behavior

It injects invalid value to `align-content` property for that component.

### URL, screen shot, or Codepen exhibiting the issue
Using the following code we get the css:
[code]
![image](https://user-images.githubusercontent.com/12806880/

[2021-03-05 16:00] ericsoderberghp commented on #5031
Have you taken a look at: https://v2.grommet.io/datatable#pin ?

[2021-03-05 16:08] sabarnix commented on #5031
I understand the behavior can be achieved using dataTable. But sticky headers in the table also make sense. Btw, why do we need both?

[2021-03-05 16:14] ericsoderberghp commented on #5031
Table, TableRow, etc. are very rudimentary table elements. One could argue that we could have omitted them and just had DataTable. Is there a reason DataTable doesn't work for you?

[2021-03-05 16:18] NRamasamy82 opened #5033 "Dateinput fields border focus/highlighting for 2 controls on the same form at the sometime (setting/resetting focus not working properly)"
Dateinput fields border focus/highlighting for 2 Dateinput controls on the same form at the same time (setting/resetting focus not working properly).

### Expected Behavior

Should be highlight/focus 1 control on a form at any point in time.

### Actual Behavior

highlighting/focusing more than one DateInput field on the same form at the same time.

### URL, screenshot, or Codepen exhibiting the i

[2021-03-05 16:30] sabarnix commented on #5031
Since my requirement is a fixed table with no dynamic data. Rudimentary table elements make it kind of more readable. It can definitely be replaced by datatable though.

[2021-03-05 16:37] sabarnix commented on #5031
https://github.com/grommet/grommet/pull/4430/files#diff-3c607ce17d65f5520f60a0b3ad2154f7d906796eb228bd0a0ebb076090a9286bR127
Is there any problem making this part of TableCell?

[2021-03-05 22:32] ericsoderberghp commented on #4972
This is the current approach I am considering for how this would be used:
[code]
The fetch() url is totally random and just here to show where the URL goes.
The `abort` allows for validation requests that haven't completed to be aborted prior to starting a new one.

Feedback appreciated.

[2021-03-05 23:28] shreyashah7 opened #5034 "Switching between Radio Button is not changing the value of form valid prop from onValidate() callback"
I have a radio-button group with two radio options on whose selection we show/hide some components. Now when i selected 1st radio option and enter all the valid value in the fields, my valid prop from onValidate callback returns true which is correct. Then i switch to 2nd radio option, which un-mounts the previous inputs and mount a new set of input. The new input rendered is a required field. So

[2021-03-06 00:59] ypinneka commented on #5034
https://github.com/grommet/grommet/pull/5035

@shreyashah7  Please review the PR !

[2021-03-07 09:01] jonasostrom opened #5036 "Make it possible to have leading zeroes on dates"
Hi,

Is it possible to add the option have leading zeroes on DateInputs?

![no-leading-zero](https://user-images.githubusercontent.com/4511851/110234680-1c004380-7f2c-11eb-84a3-1b2843227942.png)

[2021-03-07 14:54] sabarnix commented on #5031
Can be easily done using theme ``table.header.extend``

[2021-03-07 14:54] #5031 closed

[2021-03-08 03:51] shanteadam opened #5038 "v2 Box round prop to receive an array of corner objects"
It would be nice to set the corner rounding for each corner of the box component.

### Expected Behavior

Allow the round property of the box component to take an object with a "corners" property that includes the corners that are desired to be rounded. Example:

[code]

### Actual Behavior

Can only set the rounding size of all corners, a single corner, or pairs of corners (i.e. "top", "bottom",

[2021-03-08 18:16] #3133 closed

[2021-03-08 18:17] #2827 closed

[2021-03-08 18:17] #2997 closed

[2021-03-08 18:17] #3046 closed

[2021-03-08 18:18] #4567 closed

[2021-03-08 18:20] ShimiSun commented on #4915
Hello @simonv3 ,  thanks for reporting. As @jcfilben suggested, please find a reliable reproducible code so we can troubleshoot the problem. Feel free o reopen the issue if you find it still relevant.

[2021-03-08 18:20] #4915 closed

[2021-03-08 18:20] #4783 closed

[2021-03-08 22:46] g4rry420 commented on #4947
#4930 resolves only for the checkbox. I think similar logic can be applied to resolve another components also.

[2021-03-08 22:49] ShimiSun commented on #4997
If the user is using the browser color intentionally, I don't think it will be fair to spam their console with warnings. what am I missing?

[2021-03-09 01:20] aaroncraigongithub opened #5041 "[TS] List::onClickItem should expose generic for item parameter"
The `onClickItem` method for `<List />` has `event: { item?: {}, index?: number }) => void` as a possible handler signature. This seems to disallow strongly typing the `item` parameter, for instance:

[code]

This throws a TS error: `Types of parameters 'event' and 'event' are incompatible.`

Instead, I should be able to somehow type this (and we can get `data` as well). Something like:

[code]
sh

[2021-03-09 02:28] varungupta85 opened #5043 "React has detected a change in the order of Hooks called by InfiniteScroll while rendering List"
I see following error when I render a list. There are no if/else in the component which usually lead to such problem. Although the app works fine, I would still like to resolve the warning from React.
[code]

The code structure in the component is something like below:

[code]

The warning seems to be arising from the `InfiniteScroll` component. I am sorry I am not able to provide a reproduction i

[2021-03-09 03:51] dcshernandez opened #5044 "Attempted import error: 'Spinner' is not exported from 'grommet'."
I cannot use the Spinner component because the module is not found

### Expected Behavior
Show a Spinner component

### Actual Behavior
Importing Spinner throws an error

### URL, screen shot, or Codepen exhibiting the issue
here's the screenshot of error from my app
![image](https://user-images.githubusercontent.com/20904356/110414695-548a5380-80cb-11eb-91d4-92d27a35958e.png)
and here's the error

[2021-03-09 04:21] britt6612 commented on #5044
@dcshernandez  The FileInput, Pagination and Spinner components will be officially released on the next grommet v2.17.0. At the moment we are still exploring those and its open to the community to send feedback on https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F. You will need to just change your version of Grommet! Hope that helps

[2021-03-09 04:29] #5044 closed

[2021-03-09 04:56] ShimiSun commented on #5012
Thanks for the contribution @ypinneka , can we close this issue?  Or are there more functionalities that are expected as part of this issue?

[2021-03-09 07:50] g4rry420 commented on #2747
Can I work on this issue ?

[2021-03-09 18:23] kariwhitcomb opened #5045 "TextInput icon misaligned when used in box with direction=row-responsive"
### Expected Behavior
TextInput's icon should be inside the TextInput's border even when parent box is using direction='row-responsive' and screen is small.

### Actual Behavior
The icon seems to be using much more vertical height (maybe equal to the width of the textinput) than needed when responsive mode is triggered.

### URL, screen shot, or Codepen exhibiting the issue

Codepen: https://codes

[2021-03-09 20:05] ericsoderberghp commented on #4997
Hmm... good point.

[2021-03-09 21:24] amagee commented on #4997
I doubt anyone is going to want dark text on a purple background intentionally.

The issue is that the colours do not work properly, and additionally it is impossible for someone to discover why their colours are not working properly without doing a bunch of trial & error debugging and guessing.

I still think ideally they would just work properly, but failing that, informing the user why their co

[2021-03-09 21:59] allen-munsch commented on #2590
@shai32 see : https://stackoverflow.com/a/63665601/2026508

Basically instead of passing the entire event to `debounce` just pass the `event.target.value` to the debounced function.

[2021-03-10 17:33] ademey opened #5051 "Slack Invite Email with Subdomain"
The Slack invite email input (https://slack-invite.grommet.io/) does not accept an email with a subdomain.

### Expected Behavior

I would expect to be able to get a slack invite using an email like "myname@us.company.com".

### Actual Behavior

The input only allows for one period after the "@".

### URL, screen shot, or Codepen exhibiting the issue

![grommet-email](https://user-images.githubuse

[2021-03-10 19:42] ShimiSun commented on #5051
Thanks for reporting!

[2021-03-11 10:32] REX500 opened #5054 "Input element is not fully controlled"
Input element doesn't reset it's internal value when new value is changed from a string to null

### Expected Behavior

Input should show the same value that we pass to it.

### Actual Behavior

When input value set from a string to null, input keeps showing the old value... You would think that it's uncontrolled but it isn't!
Inputs should either be controlled or uncontrolled. Grommet is probably

[2021-03-11 19:51] #4950 closed

[2021-03-11 19:56] ShimiSun commented on #5051
Thank you for reporting and helping us improve the slack-invite experience! ❤️  The issue is fixed.

[2021-03-11 19:58] #5051 closed

[2021-03-12 03:46] ericsoderberghp commented on #5045
I think this is an issue with how the parent Box of the TextInput is structured. Because it has a `basis="medium"`, that is being carried over to the responsive column layout case. This is causing the TextInput to fill the space of that Box. I think the right way to manage this is to not set the `basis` when the parent has `direction="row-responsive"`, because that isn't the desired behavior. I th

[2021-03-12 21:39] jcfilben commented on #4809
Hi @kid-icarus thanks for letting us know the exit animation isn't working anymore. It looks like this was caused when we upgraded react-dom from v16 to v17. Here is a [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-mijxy?file=/index.js) showing the animation working correctly when react-dom is set to v16.14.0 if you switch it to v17 the animation will not longer work. I am in th

[2021-03-13 15:43] #4964 closed

[2021-03-13 15:44] #4944 closed

[2021-03-13 22:59] versoworks opened #5057 "Select Drop not extendable"
Using a `Select` component, the `Drop` component cannot be extended using the documented theme properties. Specifically, trying to customise the scrollbars of the `Drop` container cannot be achieved. Properties tried include;

- global.drop.extend
- select.options.container

Viewing the source, we see the `Select` is rendering the Options container with a class `SelectContainer__OptionsBox-sc-1wi0

[2021-03-14 03:57] versoworks opened #5059 "Form validate warning"
Both the docs and storybook show the `validate` property of a `Form` component accepts `change` as one of the options. Setting this results in the following warning;

Failed prop type: Invalid prop `validate` of value `change` supplied to `Form`, expected one of ["blur","submit"].

Edit: I see it's been fixed in the source here on github, and we have the latest v2.16.3. When will the next release

[2021-03-15 04:53] leossantiago commented on #5057
What about `select.container.extend` ? This points to `StyledContainer` which seems to be `OptionsBox`'s parent.

[2021-03-15 05:01] versoworks commented on #5057
@leossantiago just tried; doesn't work.

[2021-03-15 14:18] AlbertoTonegari commented on #2765
I don't know why this issue was closed. I agree with what @a-type said.  I think it's extremely confusing that the FormField component is modifying the styles of its children. Right now, in the project that I am working on, this implementation is destroying the design because the components that goes inside the FormField looks completely different than outside of the FormField.

[2021-03-15 15:51] ericsoderberghp commented on #5004
Instead of adding a new prop, Mandy, Yash, Scott, Mike, and I decided on tying it to when validation is "blur" or "change" and only on fields that have a value.  This aligns with the overall design approach when disabling the submit button if the form cannot be submitted. In that approach, we want invalid fields to always be indicated as such in some way. Required fields already have an annotation

[2021-03-15 15:51] #5004 closed

[2021-03-15 15:56] ericsoderberghp commented on #5015
Not as much of an issue until https://github.com/grommet/grommet/issues/4972 is resolved.

[2021-03-15 18:26] vavalos5 opened #5063 "Multi-Select component variation"
### Expected Behavior
Add Multi-select component to Grommet. Designs could be found here: https://www.figma.com/file/EcLSFz5L7EwmOadmEYGshZ/Multi-Select-Component?node-id=0%3A1

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or

[2021-03-15 19:20] ShimiSun commented on #5057
I also think `select.container.extend` should do the trick.

Can you please share your end-goal and a reproducible code of how you are trying to achieve it without luck?

[2021-03-15 20:31] versoworks commented on #5057
@ShimiSun I'd like to customise the scrollbar of a Select's Drop container. I've had no issue customising the scrollbar of other grommet components so far.

I created an example on [codesanbox](https://codesandbox.io/s/determined-fog-md0v0) demonstrating the issue.

[2021-03-15 21:03] sathishiva opened #5064 "Avatar size could have 'xxlarge' size to match UX"
Please provide 'xxlarge' size for Avatar component. Right now it supports only till 'xlarge' (https://v2.grommet.io/avatar).

### Expected Behavior

`<Avatar size='xxlarge' />`

### Actual Behavior

`<Avatar size='xlarge' />
`

[2021-03-15 21:17] ShimiSun commented on #5064
According to our predefined `baseSpacing`, here are the larger Avatar sizing:
[code]
So if I remember correctly, and just to verify, `xxlarge` won't be efficient for you, you'll need a size of `5xlarge`, correct?

[2021-03-15 21:23] sathishiva commented on #5064
3xlarge: '144px', is the size as per the UX. But it would be good to keep up to '5xlarge' if any use case comes in the future.

[2021-03-16 01:07] taysea opened #5067 "Enhance DataTable to allow `groupBy` and `select` at the same time"
### Expected Behavior

User should be able to group and apply selections to DataTable data. Some work will need to by considered around where the checkboxes will appear when data is under a group/how indeterminate behavior will function when selecting a subset of a group.

Motivated by designs coming from Financial Services.

### Actual Behavior

User must choose one or the other. Applying both in

[2021-03-16 20:07] taysea opened #5070 "DataTable onSelect does not pin header checkbox"
### Expected Behavior

If caller provides `pin` on DataTable while also using `onSelect` or `select`, the checkbox in the header of the table should remain fixed with the rest of the header cells.

### Actual Behavior

The checkbox scrolls away and does not stay pinned/

### URL, screen shot, or Codepen exhibiting the issue

https://user-images.githubusercontent.com/12522275/111372635-215e3c00-865

[2021-03-16 23:09] mgh5 opened #5072 "DataTable on selectable tables, when there are no rows header checkbox gets selected"
DataTable on selectable tables, when there are no rows header checkbox gets selected.
"grommet": "2.16.3"

[2021-03-17 02:40] ericsoderberghp commented on #5070
Alex is working on this ...

[2021-03-17 03:08] #5064 closed

[2021-03-17 04:52] AkshayChoulwar commented on #5070
Hi @taysea , @ericsoderberghp and @ShimiSun

https://user-images.githubusercontent.com/17611765/111416771-8a9e8780-870a-11eb-8818-756622f1eec6.mov

I tried it on latest master branch and looks like it's not reproducible at my side. I have attached the video which contains functionality and code. Please let me know if I'm missing anything.

[2021-03-17 12:38] leossantiago commented on #5057
So, we already know that `StyledContainer` and `OptionsBox` are two different things.

This is your approach:

[code]

This 'extend' applies styling directly to `StyledContainer`, and using `&::-webkit...` also applies styling to the component itself. However, the scroll is part of `OptionsBox`, that's why it doesn't work.

I can suggest three working approaches:

1. `& ::-webkit-scrollbar`
2. `&

[2021-03-17 19:34] versoworks commented on #5057
@leossantiago thankyou for the explanation & solution.

Quick ?; to my mind, the `global.drop.extend` property should have applied the styling, why is that not the case in this instance?

[2021-03-17 19:41] ShimiSun commented on #5063
Are we sure this issue is grommet and not design-system reltaed? @vavalos5 @MikeWalrath

[2021-03-17 21:00] taysea commented on #5070
@AkshayChoulwar Thanks for attaching the video. Interesting find. If the user sets the `size` on DataTable (as you have), then all is fine. However, in my implementation I had the DataTable wrapped in a Box with height="medium" and overflow and that's where I see the checkbox scrolling away:
[code]
I would expect that either implementation would still pin the checkbox. What do you think? @ericsode

[2021-03-17 21:36] leifg opened #5076 "Range Selector not draggable on mobile"
### Expected Behavior

When I have a range selector that I use on a mobile device I expect to drag the endpoints like I would with a mouse curser

### Actual Behavior

On a mobile device (I tested with an iPhone) I am not able to drag the endpoints. Instead I tap where I want the individual endpoints to be.

### URL, screenshot, or Codepen exhibiting the issue

- [Codepen example](https://codesand

[2021-03-18 01:18] maryjufang commented on #4352
Issue is not fully fixed.
Clicked Feb 1st, still returns Feb 2nd. (User in EST timezone)
![dateOffOneDay](https://user-images.githubusercontent.com/9951106/111558991-25787f80-8766-11eb-814f-1d81a89a5c97.png)

[2021-03-18 10:27] mihai-ro opened #5079 "Allow the option to make the Carousel component controlled"
**Background**:
The current implementation of the Carousel is that it is an uncontrolled component, where a list of slides should be provided as children, and the internal logic of the Carousel hooks up all the actions. There is also a prop that acts as an eventListener called onChild, but it is more about informing outside components when a slide changes.

**Issue**
The Carousel component is unco

[2021-03-18 14:26] goodmorninggoaway commented on #4352
@taysea I think the problem may be that the user selects a date (not a date+time) in local time, but the value is internally handled and returned as ISO 8601 UTC date+time. The extra precision seems to be what causes the inaccuracy. If it returned simply an ISO-8601 Date (no time, just date), then the consumer can easily choose how they want to interpret it. That change may not be backward-compati

[2021-03-18 17:48] taysea commented on #5070
Thanks for confirming @ericsoderberghp. @AkshayChoulwar are you good to still work on this?

[2021-03-18 19:00] taysea commented on #4352
Thanks @goodmorninggoaway for explaining that. I'm going to take a look into it.

[2021-03-19 13:46] alexmirrington commented on #4998
These last five PRs should cover the rest of the components in the list above, as well as a few extras that should be using `React.FC` instead of `React.ComponentClass` for the component type. When doing these last few issues, I noticed lots of components like `Card` etc. use `BoxTypes` directly, since they are essentially boxes. Should we be adding aliases like `CardProps` and `CardExtendedProps`

[2021-03-19 14:25] Yoruba opened #5086 "Pagination folder is missing in the NPM package grommet": "2.16.3""
After removing and downloading NPM package "grommet": "2.16.3" multiple times there is no Pagination folder in the node_modules/grommet/components.

A temp fix for me was to build the package by my self and copy the folder into the right folder.

Thanks, Yoruba

[2021-03-19 17:20] ShimiSun commented on #5086
Hello, and thank you for your interest in the new Pagination component!
The Pagination component is still under exploration and hadn't been released yet officially, It is available on our [grommet-stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) in case you'd like to explore it and send us feedback.
We are planning on releasing it officially in th

[2021-03-19 17:20] #5086 closed

[2021-03-19 17:29] exromany opened #5087 "[TS] FormField should accept type of component props"
I'm trying to use `FormField` with custom component and pass it's own prop
[code]
But TS swears at unknown prop `myExtraProp`

### Expected Behavior

I suppose `FormField` should be generic type
I suppose it is necessary to pass type of component props in generic
[code]

### Actual Behavior

There is no way to pass component's props type to `FormField`

[2021-03-19 17:30] ShimiSun commented on #4998
How would adding the aliases make our work more consistent? Can you share an example on how you think the current approach could be improved?

[2021-03-19 21:52] taysea commented on #4352
Hi all @goodmorninggoaway @maryjufang. It appears that Grommet is behaving as it is documented it should (date is returned in ISO 8601 UTC date+time). Given that, in your application you can take the current return value in UTC and convert it back to the user's local timezone. Let me know if all is working correctly with that.

In the future, I imagine a valid enhancement to Calendar would be to a

[2021-03-20 18:30] ImSolitude opened #5090 "How to only disable selecting past dates on Calendar?"
I'm trying to figure out how can I not only disable selecting past dates but also highlight them on the calendar itself, Is this doable?

[2021-03-22 14:55] goodmorninggoaway commented on #4352
@taysea thanks, it looks correct in storybook - we _may_ be using 2.15.x and it appears this fix went into 2.16.0. Webpack and multiple versions installed, etc.

[2021-03-22 16:49] ShimiSun opened #5092 "Grommet RELEASE! 🎸"
React 17
3 New components
Extended TS Support

[2021-03-22 17:09] rolule opened #5093 "Carousel shows different image on mount"
When you mount a Carousel component containing images (probably also with other children) it shows the last image for a brief moment before displaying the first image (initialChild has to be set to 0).

### Expected Behavior
Show the first image instantly without a fading animation.

### Actual Behavior
Shows the last image for a brief moment before showing the first image.

### URL, screen shot,

[2021-03-22 18:28] taysea commented on #4352
Perfect thanks for the update there. I'm going to close this issue for now then.

[2021-03-22 18:28] #4352 closed

[2021-03-23 08:03] versoworks opened #5095 "Select: Warning Maximum update depth exceeded."
Updated to the latest v2.17 and am seeing the following warning when opening the `Drop` on a `Select` component;

`Warning: Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or one of the dependencies changes on every render.
    at InfiniteScroll (https://p86yu.csb.app/node_modules/grommet/es6/com

[2021-03-23 11:35] brucedonovan opened #5096 "TextInput placeholder shows over value when input is decimal number"
### Expected Behavior

The placeholder should not obscure the input text when a number is entered.

### Actual Behavior

When entering a number followed by a decimal point, the placeholder shows.

### URL, screen shot, or Codepen exhibiting the issue

<img width="335" alt="Screenshot 2021-03-23 at 11 21 38" src="https://user-images.githubusercontent.com/5603206/112139322-88d13a00-8bca-11eb-9f81-12

[2021-03-23 12:55] alexmirrington commented on #4998
@ShimiSun Consider the `Card` component for example; the `index.d.ts` file for the `Card` component contains the following:

[code]

Since the `Card` component has type `React.FC<BoxTypes>`, users of Grommet will be inclined to import `BoxTypes` directly wen extending the `Card` component to fit their needs. For example, if someone wanted to extend the `Card` component to support a linear gradient

[2021-03-23 14:46] ShimiSun commented on #5092
It's READY https://github.com/grommet/grommet/releases

[2021-03-23 14:46] #5092 closed

[2021-03-23 15:40] ShimiSun commented on #5095
Thanks for reporting.

Notes:
1. The warning appears when trying to open Select.
2. The `fill` prop on the Grommet isn't valid and throwing warning as well - `fill` could be removed.

[2021-03-23 15:50] ShimiSun commented on #5090
Can you share what you have so far and your use case? it will help speed up the discussion.

[2021-03-23 17:14] halocline commented on #5095
Investigation Update:
It looks like this might have been introduced in:
![Screen Shot 2021-03-23 at 11 13 10 AM](https://user-images.githubusercontent.com/1756948/112188791-ec5a6800-8bc8-11eb-987e-322be449ade8.png)

[2021-03-23 17:19] ShimiSun commented on #5095
Thanks, @halocline. I'll tag @leossantiago for awareness and potential insights.

[2021-03-23 18:02] halocline commented on #5095
These two useEffects seem to be entering into an infinite loop. Each have dependencies of `pendingLength` which gets set in each, which then satisfies the dependency condition as well as the checks within the useEffects. Seems like we need to add an additional condition around `pendingLength`.
![Screen Shot 2021-03-23 at 11 46 26 AM](https://user-images.githubusercontent.com/1756948/112195437-93da

[2021-03-24 08:10] rolule commented on #5093
The issue seems to exist still after upgrading to grommet v2.17.0

[2021-03-24 14:24] ShimiSun commented on #5093
Thanks for confirming, I'll update the grommet version on the PR description.

[2021-03-24 18:06] leossantiago commented on #5095
Thanks for the inputs @ShimiSun and @halocline . I'll definitely take a look at this later today. Hope we can have a fix out ASAP 😄

[2021-03-24 18:19] halocline commented on #5095
@leossantiago It looks like you originally had a check for `items.length === 0` which would prevent the infinite loop.

I believe with that approach, it assumes the caller would always be resetting their data to an empty array. Something just feels a bit off about assuming that is what the caller would want to do.

I was exploring some other approaches to see if we could avoid that assumption, but

[2021-03-24 19:08] ShimiSun commented on #5095
I'd be curious to understand why `items.length === 0` was removed from the first place, and which purpose did removing it served.

[2021-03-24 19:17] halocline commented on #5095
Here's the related comment: https://github.com/grommet/grommet/pull/4936#discussion_r572226929

By reading the comment, I am not entirely clear. My interpretation is that it may have been a similar concern to not wanting to assume to which value items would be reset.

[2021-03-24 19:37] jcfilben commented on #5096
Hi @brucedonovan I am having a hard time reproducing this.
Here is the code I used for the TextInput: `<TextInput name="name" plain type="number" placeholder="Enter value" />`.
I tried typing a number with a decimal point but it showed up correctly for me. You mentioned that this happens when the decimal is the opposite of the system default decimal so I tried typing commas (my system default is p

[2021-03-24 20:28] #4809 closed

[2021-03-24 20:33] ShimiSun commented on #5059
Upgrade to grommet v2.17.0 it should solve the problem, feel free to reopen the issue if still relevant.

[2021-03-24 20:33] #5059 closed

[2021-03-24 23:52] taysea commented on #5054
@REX500 I don't think this is a Grommet bug but instead an implementation pattern that React would not recommend. I recreated the codesandbox you shared locally in storybook (thanks for such detailed steps, it was really helpful). When I opened the DevTools, I first noticed this warning that "`value` prop on input should not be null, change to empty string or undefined instead":
<img width="337" a

[2021-03-25 10:33] brucedonovan commented on #5096
Hi @ShimiSun thanks for your time. After some very superficial experimenting - It seems to be related more to the **region** rather than the decimal divider used. The issue presents itself with the default settings for european regions such as Portugal, Spain, France.

<img width="351" alt="Screenshot 2021-03-25 at 10 24 35" src="https://user-images.githubusercontent.com/5603206/112458528-cd88dc80

[2021-03-25 13:52] FrozenKub opened #5099 "Tab - Threre is no option 'color'"
I can't change color of Tab text neither by color option, nor by my own styles.

Is it possible to add color=''?

[2021-03-25 14:33] ShimiSun commented on #5099
You have multiple examples how to control the text color of tab/s via the theme here is one example out of many https://storybook.grommet.io/?path=/story/controls-tabs-align-controls--align-controls

[2021-03-25 14:33] #5099 closed

[2021-03-25 20:43] britt6612 commented on #5043
@varungupta85

I took some of your code snippets and tried recreating this scenario in CodeSandbox. I was not able to reproduce this warning because I didn't have context for many of your implementation details (such as redux, other components, etc.). This made it difficult to recreate an accurate scenario of what is triggering the various hooks in your application.

Is there any way you can repli

[2021-03-25 23:22] leifg commented on #356
It does since 2.17.0: https://v2.grommet.io/spinner

[2021-03-25 23:58] halocline commented on #5095
@ShimiSun I was thinking about how this might have been caught sooner. Thinking a Select Jest test similar to this https://gist.github.com/halocline/d8d7d11aca684eaa624f840d6c703106 would be beneficial to add and might have identified this issue sooner.

[2021-03-26 15:49] ShimiSun opened #5102 "Grommet Release - Hotfix"
Hotfix for 2.17.0 For TS + InfiniteScroll issue

[2021-03-26 16:58] ShimiSun opened #5300 "Add Cypress testing"
The DS site has a reach infrastructure for visual regression testing via test-cafe. Yet, it hadn't yielded any regression findings of the theme or the grommet releases preliminary to official releases - so we need to beef it up more with adding tests!

Also, some of the frustration around the DS solutions is that we are not showing real user data in our examples and that our designs are not solvin

[2021-03-26 17:31] ShimiSun commented on #5095
@halocline , perfect - thank you, feel free to add the test, the tricky thing will be to simulate the `onMore` scenario and rest, but we should have examples for that. I'd love it if you can run the test on grommet 2.17 to verify you see the error, I'll be releasing 2.17.1 today with the fix for it.

[2021-03-26 17:35] ShimiSun commented on #4998
Fantastic work team!! It was a pleasure working & learning from you all ❤️
Obrigada!

[2021-03-26 17:35] #4998 closed

[2021-03-26 17:47] ypinneka opened #5103 "Snapshots failing when upgraded to grommet v2.17.0"
Reverted the below line in PR (https://github.com/grommet/grommet/pull/4959/files) & tests are passing as usual.

 Earlier: setResponsive(getBreakpoint(window.innerWidth, theme));
 Now: setResponsive(getBreakpoint(document.body.clientWidth, theme));

[2021-03-26 19:29] jcfilben commented on #5096
Even after switching the region to Spain I am still unable to reproduce this. I tested in both safari and chrome and both of them were working as expected. There was a [similar issue](https://github.com/grommet/grommet/issues/4922) with the TextInput placeholder that has been resolved since version 2.16.3. Can you just confirm that you are using the latest version of grommet? If you are using the

[2021-03-26 19:52] sbytnar opened #5104 "sort"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2021-03-26 20:07] sbytnar opened #5105 "DataTable: when a header has line break (or spaces in it) and the viewport is small, the sort & search icons overflow into the next column and are sometimes unusable"
The Grommet storybook for DataTable demonstrates the problem.
Resize it so the view is about 800 pixels wide or smaller.
https://storybook.grommet.io/?path=/story/visualizations-datatable-sort--sort
My actual use case is to have a very large number of columns in the table, but it happens in the smaller tables too.

### Expected Behavior

When search & sort are enabled on columns, those button elem

[2021-03-26 20:17] #5104 closed

[2021-03-26 20:17] sbytnar commented on #5104
Delete this.

[2021-03-26 21:43] ShimiSun commented on #5043
@britt6612 Can you please add the code sandbox you were working on to your comment, it will help the author of the issue lift your work and tweak it according to his/her use case and will potentially yield a quicker outcome.

[2021-03-26 21:49] ShimiSun commented on #5095
The issue is fixed and released in grommet v2.17.1, Thank you for reporting!!

[2021-03-26 21:49] #5095 closed

[2021-03-26 22:02] mRcSchwering opened #5106 "Cant select options from Select in Layer"
Not sure if I'm missing something here but I am trying to place a select in a layer like this:

[code]

The select renders but when I click on it for seeing and choosing another option nothing happens.
I tried it on chromium and firefox.

### Your Environment

- Grommet version:"2.16.3"
- Browser Name and version: Chromium 89.0.4389.90 (Official Build) snap (64-bit)
- Operating System and version

[2021-03-26 22:08] mRcSchwering commented on #5106
Shit now that I wrote this I noticed the `{ zIndex: "9999999" }`. I removed that line and now the options show up again.

But then I would have another question.
I added `{ zIndex: "9999999" }` because I needed the `Layer` to lay over a leaflet app.
And without setting that z-index the leaflet app is always on top of the layer.
Is there a better way to do this?

[2021-03-26 22:18] mRcSchwering commented on #5106
`layer: { zIndex: "9999999" }`....

[2021-03-26 22:18] #5106 closed

[2021-03-26 23:10] andrewthamcc opened #5107 "Calendar HeaderProps has wrong typings"
The `HeaderProps` for the Calendar were recently changed (https://github.com/grommet/grommet/pull/5074) and the props for  `previousInBound` and `nextInBound` are incorrect.

[code]

According to the [documentation](https://v2.grommet.io/calendar) for the calendar component both `previousInBound` and `nextInBound` should be of type `Boolean`

### Actual Behavior

Currently the type of `previousInB

[2021-03-26 23:16] andrewthamcc opened #5108 "MaskedInput prop type focusIndicator"
According to the release notes for [2.17.0](https://github.com/grommet/grommet/releases/tag/v2.17.0) `focusIndicator ` was corrected for the MaskedInput component but the typings are missing the prop `focusIndicator`

### Expected Behavior

The typings should contain:
[code]

### Actual Behavior

This prop is currently missing as seen here: https://github.com/grommet/grommet/blob/master/src/js/com

[2021-03-28 04:57] bcbrian commented on #3826
Would a partial solution to the latter part of this issue be treating a `label === children`? I just spent 2-3hrs debugging why styling was not working when I excluded plain(plain === undefined) and had children and no label.
`<Button>Submit</Button>` should inherit default styles, unless it is an intentional design system decision.
I am willing to help just need some help to know which direction

[2021-03-28 09:05] alexmirrington opened #5111 "[TS] Add TypeScript unit testing pipeline"
## Motivation

In the last few weeks, I've noticed a lot of issues outlining discrepancies between actual component bahaviour (outlined in `.js` files) and the types defined in `index.d.ts` files. I propose either migrating existing tests to `.ts` files, or adding TypeScript-specific tests alongside existing tests to help improve the Grommet TypeScript experience for users.

I'd like this issue to

[2021-03-28 21:37] samuelgoff opened #5112 "Spinner is missing from CodeSandBox linked in docs"
### Expected Behavior

CodeSandBox linked from [Spinner docs](https://v2.grommet.io/spinner) should correctly demonstrate the usage of Spinner component.

### Actual Behavior
Spinner is currently missing in the [CodeSandBox](https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=/spinner&module=%2Fsrc%2FSpinner.js) linked in [Spinner docs](https://v2.grommet.io/spinner), displaying th

[2021-03-29 01:57] jeznag opened #5113 "Bug: cannot properly theme buttons"
### Expected Behavior

I should be able to change the background and border color of a secondary button.

### Actual Behavior

When I try and style secondary buttons I get really unexpected behaviour. The background color property seems to be ignored. Instead it uses the color prop

![image](https://user-images.githubusercontent.com/1034890/112780405-7f494580-9094-11eb-837f-713c0464229d.png)

![im

[2021-03-29 15:01] kariwhitcomb commented on #5045
makes sense.  thanks

[2021-03-29 15:01] #5045 closed

[2021-03-29 15:05] #5102 closed

[2021-03-29 15:17] #5034 closed

[2021-03-29 16:50] jcfilben commented on #5072
I think this issue can be closed since #5073 was merged

[2021-03-29 18:16] britt6612 commented on #5113
@jeznag I believe this is because you are also using `active` in the secondary buttons. If you look at this story
https://storybook.grommet.io/?path=/story/controls-button-custom--custom
you can see that the background color is different depending on `active` `disabled` etc...

Now if I understand you correctly you want to set the border and background of the active secondary button.
to do so I wo

[2021-03-29 19:43] jcfilben commented on #5033
Looks like this issue was fixed in 2.16.2. [This codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-yqo8r?file=/index.js) demonstrates it working from v2.16.2 and above. If you switch the version to v2.16.1 or earlier it will show the original bug. I think this issue can be closed.

[2021-03-29 21:21] ypinneka commented on #5103
https://codesandbox.io/s/react-testing-library-demo-forked-2vzce?file=/src/__tests__/hello.js

[2021-03-30 03:17] dvdprr6 opened #5118 "Grommet global theme for formField complains that 'side' is incompatible (TypeScript)"
### Expected Behavior

The theme prop added to the `Grommet` component should recognize the key `side` in `BorderType` when configuration global theme for formField

### Actual Behavior

I am trying to set a global theme for my formField where the border is displayed all around the TextInput. This is my theme configuration, which I took from the story book found here: https://storybook.grommet.io/

[2021-03-30 05:49] oskari commented on #5111
There really is much to desire for the TypeScript experience. Even new features have issues when using with TS. Grommet really should have first-class TypeScript support.

[2021-03-30 06:55] jeznag commented on #5113
Hi Britt,
I don't believe I am using active secondary. My codesandbox did not include that.

The fork still has the same two problems.
1. If you add a color to the secondary button, the background color changes. Please refer to https://codesandbox.io/s/themed-button-v2130-with-active-secondary-b92bg

2. The primary button styles are gone - I want to use the same primary styling as I get if I don't

[2021-03-30 15:53] ShimiSun commented on #5103
I think the PR you pointed out is a fix that is important for Grommet to support a better responsive behavior on mobile. So the snapshot changes might make sense and I don't think it is a bug at this point.

Please elaborate what are the snapshots changes you are experiencing on your end with more details.

[2021-03-30 16:29] ShimiSun commented on #5112
Fixed thanks to @britt6612 PR linked above.

[2021-03-30 16:29] #5112 closed

[2021-03-30 16:54] ShimiSun commented on #5111
@alexmirrington THANK YOU! As we are not field experts on Typescript, we are always welcome to feedback and suggestions from the community of TS specialists.
Grommet v2.17.0 that was released recently, had massive TS improvements thanks to the community pushing for it, and we need the community's support to help us improve in the future as well.
Feel free to file any POC PRs that demonstrate how w

[2021-03-30 20:39] britt6612 commented on #5113
@jeznag I think you are correct, the docs have not been updated since the new `default` button got added to Grommet. I will update the `color` prop to match the current behavior:
When `button.default` is not defined in theme, color refers to `fill color for primary, label color for plain, border-color otherwise.`

If `button.default` is defined in the theme, then the color prop will affect the bac

[2021-03-30 20:45] jeznag commented on #5113
Hi Britt,
Yes that was my conclusion too. Would be great if we can update the docs accordingly.

I still have the problem that I can get the secondary button styled as I want but I can't get the primary button to remain the way it is originally. Do you have a suggestion for what to pass in for theme.button.primary to get it to work the same way as it was before?

[2021-03-30 21:26] britt6612 commented on #5113
I updated the docs so hopefully, that will make more sense! Thank you for bringing that up!

Does this help with your wanting the primary button to have the same default look. I added in `button.primary.color` and used that orange color you had for the default button
https://codesandbox.io/s/themed-button-v2130-with-active-secondary-forked-cw8rx

[2021-03-30 21:54] shreyashah7 opened #5122 "Validate/onChange Function on Formfield not getting trigger when used with Select"
I have a select field which is wrapped with formfield. I have provided my function in validate prop of that formfield which validations happening onChange. My function is not getting triggered at all even when a select any of the option from select field.

### Expected Behavior

It should trigger validate function on formfield when selecting options from select field

### Actual Behavior

Not gett

[2021-03-30 22:24] taysea commented on #5054
Going to close this issue since the above provides explanation of why it's not a Grommet bug and provides steps to resolve any errors/warnings.

[2021-03-30 22:24] #5054 closed

[2021-03-31 02:14] alexmirrington commented on #5111
@ShimiSun What are your thoughts on an achievable direction for improving the grommet-ts experience? There are a few directions to head, some of which are more difficult/time consuming than others:

1. First class TypeScript support, converting all existing `*.js` files to `*.ts`
  - This is by far the best option in terms of pure TS experience, but time consuming to implement and will mak eit dif

[2021-03-31 04:18] shen6653 commented on #5103
Is it the expected behavior if document.body.clientWidth is 0?

[2021-03-31 09:15] TPK2002 opened #5123 "DataTable TypeError when Data Array is empty with `paginate`"
### Expected Behavior
When data array is empty, the table should display no rows but the header.

### Actual Behavior
This perfectly works in most cases, but one. When I set the paginate prop in combination with the onClickRow Prop it crashes on empty data array.

### URL, screen shot, or Codepen exhibiting the issue

Error reproduced in Codesandbox
https://codesandbox.io/s/datatable-empty-data-bu

[2021-03-31 11:42] jzarzeckis opened #5125 "Paginate prop in types added to ColumnConfig instead of DataTableProps"
https://github.com/grommet/grommet/blob/7c363d5850bf3344bef355b6fdf1d6c74b05bfa5/src/js/components/DataTable/index.d.ts#L44

Shouldn't this have been added to `DataTableProps` instead?

[2021-03-31 13:23] britt6612 commented on #5125
Yes, this should be under`DataTableProps` There is an open PR for this issue.
Thank you for reporting
https://github.com/grommet/grommet/pull/5121

[2021-03-31 15:56] ShimiSun commented on #5123
For troubleshooting, I think the root cause of this issue is the `paginate` prop, as this functionality seems to work in the past.

[2021-03-31 16:09] ShimiSun commented on #5125
Thanks for reporting, this issue is fixed!

[2021-03-31 16:09] #5125 closed

[2021-03-31 16:19] ShimiSun commented on #5111
Thank you @alexmirrington, Great discussion!!

1. We had discussions on #1 in the past, taking this approach will drive a major release with breaking changes, which is not something we would like to commit at this point in terms of efforts and resources.
2. I like this idea and I'm willing to give it a try! Feel free to file a POC PR to start the conversation in depth.
3. We currently have the inf

[2021-03-31 16:25] ShimiSun commented on #5103
@shen6653 I wouldn't know because I'm not sure how your tests have configured and build, and I'm not sure what you are trying to test so I can't tell.
Did anything on the actual app change? Are you actually seeing breaking changes on the app? Sounds like it might be the way you are taking the snapshots, and the way they are configured.

[2021-03-31 19:50] #5041 closed

[2021-03-31 20:31] #5072 closed

[2021-03-31 20:40] ShimiSun commented on #5108
Thank you for reporting, the issue is fixed!

[2021-03-31 20:40] #5108 closed

[2021-03-31 20:44] jcfilben commented on #5090
Hi @ImSolitude I am confused by what you are trying to achieve here. I understand the past dates being disabled but not sure how you are trying to highlighting them? Could you share more details or an image of what you are trying to do?

[2021-03-31 20:47] ShimiSun commented on #5036
[code]
Attached a snippet to demonstrate the problem.

[2021-03-31 21:50] ericsoderberghp commented on #5111
I also like option #2, perhaps focused more on API surface than on detailed interaction sequences. This seems like it would be easy to incrementally add to, start small and grow as needed.

[2021-03-31 22:30] #5067 closed

[2021-04-01 02:46] NRamasamy82 commented on #5033
Hey, I will test it tomorrow and close it.

Thank you

On Tue, Mar 30, 2021 at 11:27 AM Shimi ***@***.***> wrote:

--
Thanks & Regards

Nallathambi Ramasamy

[2021-04-01 04:14] britt6612 commented on #5107
I think this issue can be closed since PR got merged

[2021-04-01 06:30] shen6653 commented on #5103
@ShimiSun  our tests start failing because they are now being rerendered in mobile screen size. before picking up this new grommet version, our tests are rendered in desktop size. By default, testing library sets the window size to desktop size and sets document body size to 0. wondering if Grommet should try to compute app container size based on document body size only if it has been set to a no

[2021-04-01 06:55] alexmirrington commented on #5111
The above PR adds support for unit tests in `.tsx` files, as per my second point. If you're happy with these changes, the way forward is to create a separate tracking issue that will allow us to refactor all `.js` unit tests to `.tsx` files. This will be tedious, but essential for improved TS support. We will also come across a lot of bugs regarding prop types, etc. that will need to be addressed

[2021-04-01 11:24] jayant246 opened #5128 "Icons are not positioned in front in Accordion Panel"
https://codesandbox.io/s/grommet-accordion-icon-size-and-color-9o140

I want to build this UI design, but how to position the icons in front:
https://www.uidesigndaily.com/posts/figma-accordion-day-1242

[2021-04-01 14:03] #5107 closed

[2021-04-01 15:46] ShimiSun commented on #5103
@shen6653 In grommet we run comprehensive test suits, and we have not experienced this issue with any of our snapshot environments, so neither jest, react-testing, or chromatic identified a problem on Grommet v2.17.0.
Without technical details on how you are creating the snapshots and what are your configurations, I can't really understand the root cause of the problem or help further.

[2021-04-01 15:51] ShimiSun commented on #5128
You can use the `header` prop of the Accordion Panel.
https://v2.grommet.io/accordion?#props
https://storybook.grommet.io/?path=/story/controls-accordion-header--header

[2021-04-01 15:51] #5128 closed

[2021-04-01 16:38] jayant246 commented on #5128
I got it. Thanks for the answer.

[2021-04-01 18:16] MikeKingdom opened #5129 "Layer with plain set now produces elevation shadow"
A Layer with the `plain` property set now puts a box shadow on its container div and the `elevation` property on the container is leaking through to the `<div>` in the DOM.

### Expected Behavior

The plain property should result in no extra border or elevation on the layer.

### Actual Behavior

`<Layer plain>` results in:

![image](https://user-images.githubusercontent.com/12054362/113336281-67b

[2021-04-01 18:33] shen6653 commented on #5103
@ShimiSun in our test library, if we explicitly set document body size to desktop window size for all our snapshot tests, the tests are all passing. the problem is with the default grommet container size. It was default to desktop size (window size), now it's default to mobile size.

[2021-04-01 18:48] NRamasamy82 commented on #5033
Thank you all !!! The issue is resolved in 2.17.0.

[2021-04-01 19:04] ShimiSun commented on #5103
@shen6653 How can you ensure that your default window size for tests is desktop and not mobile? what is your configuration?

[2021-04-01 19:46] taysea opened #5130 "Enhance DataTable to support pinning multiple columns"
### Expected Behavior

If multiple columns are pinned, they will stay fixed to their position if there is horizontal scroll.

### Actual Behavior

Columns scroll to the left until they hit the left edge of the DataTable which causes multiple pinned columns to stack on top of each other.

### URL, screen shot, or Codepen exhibiting the issue

View when screen === 'small':

https://codesandbox.io/s/

[2021-04-01 19:54] shen6653 commented on #5103
@ShimiSun we didn't have any configuration. Looks like by default, jest sets the window size and leaves the document body size as 0? After experiencing this problem, we added test setup configuration to explicitly set document body size, and that has fixed the test regressions.

[2021-04-01 20:24] ShimiSun commented on #5103
Let's keep this issue open to see if any other users from the community are experiencing window size issues after upgrading and could share their context.

[2021-04-01 20:53] #5129 closed

[2021-04-01 22:11] ericsoderberghp opened #5132 "Enhance Text with truncate to use Tip when truncating text"

[2021-04-01 22:12] ericsoderberghp opened #5133 "Enhance DataTable to indicate that particular columns should not be truncated."

[2021-04-01 22:29] jasnross opened #5134 "TypeScript: Select is missing `ref` from its props type"
### Expected Behavior

A ref property should exist in the props typings for the `Select` component.

### Actual Behavior

Passing a `ref` of any kind results in a type error since `ref` is not defined.

![image](https://user-images.githubusercontent.com/1895462/113360623-24278500-9318-11eb-96ae-fd536e1140e9.png)

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/headl

[2021-04-02 17:08] ShimiSun commented on #5134
Would love to see a contribution @jasnross ❤️

[2021-04-02 17:10] britt6612 commented on #5132
@ericsoderberghp
Would `tooltip`  always appear when truncate is set to `true` or would we add a value to be passed into truncate for example `truncate="tip"`

[2021-04-02 17:32] ShimiSun commented on #5133
Moving the discussion forward to help anyone who'd like to contribute.

Since 'truncate' isn't a prop or a column prop of DataTable, how were you thinking it should be built-it the API?
Currently, we use `truncate` on the Text component within the column render function, were you thinking it should be its own boolean property of column? something like...
[code]

[2021-04-02 17:44] ericsoderberghp commented on #5132
Hmm... I'm leaning towards a separate `tip` prop, to align with Button.

[2021-04-02 17:59] britt6612 commented on #5132
That sounds good Ill look into that!

[2021-04-02 19:44] varungupta85 commented on #5043
@britt6612 @ShimiSun Sorry, I missed the notification that you guys have left a message. I have created a sandbox that replicates the problem. https://codesandbox.io/s/sleepy-haibt-gmrpb?file=/src/App.js . Tap on `New Category`, give a name and a color and tap Save and see the issue. Ideally, it should have just added the new category to the state and displayed that as well but it throws a hooks e

[2021-04-02 21:22] jasnross commented on #5134
Sounds good, just created a PR for it. Thanks!

[2021-04-02 21:37] britt6612 commented on #5043
@varungupta85 yes I can now see the problem thank you for recreating this I will have a look! 👍

[2021-04-04 12:08] ahlechandre opened #5141 "DataTable - Aggregation should allow callbacks in addition to default values"
### Expected Behavior
Columns prop of **DataTable** component should accept aggregation callbacks in order to user customisation:
[code]

### Actual Behavior
When defining columns we can set aggregate by "avg", "max", "min" or "sum" but if the column values are formatted, e.g:
[code]
then the aggregation becomes `R$ NaN`.

### URL, screen shot, or Codepen exhibiting the issue

![Screen Shot 2021-0

[2021-04-04 12:30] ahlechandre opened #5142 "Enhance resizable DataTable to truncate text and expand horizontal scroll when needed"
### Expected Behavior
User could resize columns limitless. When collapsing text truncate automatically and when expanding a horizontal scrollbar appears.

### Actual Behavior
1. Text truncate is fixed size because of `Text` needs a `Box` outer:
![Screen Shot 2021-04-04 at 08 24 05](https://user-images.githubusercontent.com/7119058/113508679-56570380-951f-11eb-8451-8d1d12613c4e.png)

2. I can only

[2021-04-05 15:17] #5134 closed

[2021-04-05 15:25] ShimiSun commented on #5132
This issue might already be a WIP by @kid-icarus , FYI

[2021-04-05 16:08] britt6612 commented on #5132
Thank you I saw the PR. I can review PR once ready!

[2021-04-05 16:21] meekrhino opened #5143 "FileInput -- Call onChange when file is removed"
The `FileInput ` component calls `onChange` when file(s) are added, providing the complete list of files in the callback.  However, this behavior is not replicated when a file is removed from the list by the user.  In order for consumers of `FileInput` to accurately track the list of files, `onChange` should be called any time the list of files changes.

### Expected Behavior

`onChange` is called

[2021-04-05 16:28] meekrhino opened #5144 "FileInput -- Add prop to limit number of files"
The `FileInput` component cannot be operated in a controlled mode, so currently there is no way to limit the number of flies allowed in the list in `multiple` mode.  The easiest solution to this would be to add a new prop for `maximumCount` or similar.  This is distinct from `aggregateThreshhold` which only limits the files displayed, not the number in the list.

### Expected Behavior

There is no

[2021-04-05 20:01] q-oh opened #5145 "Enhance RangeInput with thumb Label and dynamic track color based on a prop value"
This is not an issue. Either Grommet doesn't support or I can't seem to figure out.
Currently looking to add the following:
1. Thumb label
2. Dynamic track color based on a prop value (range input value)

Image:
![image](https://user-images.githubusercontent.com/81991460/113619180-8250b280-960d-11eb-80e1-85e8c9ea4390.png)

### Expected Behavior

- Be able to add an element/string/number to a prop

[2021-04-05 23:10] #5123 closed

[2021-04-06 00:45] varungupta85 commented on #5043
👍

[2021-04-06 03:22] britt6612 commented on #5043
@varungupta85

I spent today looking and understanding the codesandbox that you had linked. After spending some time looking at `infinite scroll` there was nothing that stood out to me so I went back to your code and noticed that when I commented out these lines in app.js

[code]
Everything worked fine. So this led to thinking there was something with how setting state was being done.
In the `Alar

[2021-04-06 07:38] varungupta85 commented on #5043
@britt6612 Thanks for your detailed response and solution to the problem. I guess that. means that whenever I am rendering a list, I should make sure that the list's children are not calling any hooks or I specify the children in-line and return the component like you have done above?

[2021-04-06 13:58] britt6612 commented on #5043
@varungupta85 You should not setState within the callback. They should be called within a component.
So in the beginning when you were calling `AlarmsByCatagorySummary` it  was essentially setting the state within the children
[code]
so this was inside of the callback which is not correct. When these are moved to the new component  `AlarmCard`  the setState is not within the component and no longe

[2021-04-06 15:51] MikeKingdom opened #5146 "FormField loses focus on validation"
This seems to be a regression from 2.16.3 to 2.17.1. The problem does not happen in 2.16.3

When trying to enter text in a required TextInput in a FormField and the field is marked invalid, entering the first character causes the field to switch to valid but the character never appears and the focus shifts elsewhere. You have to click back in the input and before you can enter more text.

### Expe

[2021-04-06 17:40] ShimiSun commented on #5113
I'll be closing this issue thanks to @britt6612 contribution, feel free to reopen or let us know if you have any related issues.

[2021-04-06 17:42] ShimiSun commented on #5096
I'll be closing this issue as it is not reproducible, please let us know if we can help in any other way.

[2021-04-06 17:42] #5096 closed

[2021-04-06 17:55] ericsoderberghp commented on #5063
I see a couple of things to explore on this issue:
- whether to offer checkboxes as an alternative visual indicator for selection
- whether to add the footer variation of the clear action, as well as the view toggle

[2021-04-06 18:55] bear-bibeault opened #5147 "Select component does not trigger enclosing Form's onChange"
When embedded in a Form, a Select component does not trigger the onChange callback of the enclosing form when its value is changed.

### Expected Behavior

The Form's onChange callback is triggered when the Select's value is changed.

### Actual Behavior

The onChange callback is not triggered

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-fork

[2021-04-06 19:48] ShimiSun commented on #5090
Hello, I'll be closing this issue due to a lack of details, feel free to elaborate and reopen if it is still relevant. Thank you!

[2021-04-06 19:48] #5090 closed

[2021-04-06 19:53] ShimiSun commented on #5147
You are simply missing the binding of `name` prop from the component to the FormField.
Add the following to your Select:
[code]

[2021-04-06 19:57] bear-eden commented on #5147
Doh!

[2021-04-06 20:44] #5147 closed

[2021-04-06 20:49] raywong-fb opened #5149 "Using Tip with Checkbox gives unexpected results"
### Expected Behavior

Wrapping a Checkbox component with a Tip generates a tooltip when user hovers over the checkbox.

### Actual Behavior

The tooltip does not display on hover. However, it sometimes displays when the checkbox is clicked.

### URL, screen shot, or Codepen exhibiting the issue

Here's a sandbox example:
https://codesandbox.io/s/grommet-v2-template-forked-d33rx?file=/index.js

##

[2021-04-06 21:51] jeznag commented on #5113
@britt6612 thanks for updating the docs. I looked at your fork and it's not really what I want. I've forked your sandbox https://codesandbox.io/s/themed-button-v2130-with-active-secondary-forked-7oue3?file=/index.js showing the difference between the original theme and the new theme. The original theme behaviour with primary buttons behaves nicely and I want to preserve that. I only want to change

[2021-04-07 01:24] britt6612 commented on #5113
@jeznag I think originally I misunderstand what you wanted.
I took a look at the link you sent I think you're correct with the behavior. Let me just make sure I have it correct. So when you pass a `color` prop to your `primary` button you want it to be applied to the whole background.

This is what your expecting:
<img width="211" alt="Screen Shot 2021-04-06 at 7 13 18 PM" src="https://user-images

[2021-04-07 03:30] varungupta85 commented on #5043
Makes sense @britt6612. Good lesson learnt.

[2021-04-07 03:30] #5043 closed

[2021-04-07 14:27] britt6612 commented on #5113
Tagging @ericsoderberghp to make sure this is not the behavior that  is intended:

I created a simpler codesandbox to show the behavior.

I think before I did not realize that when passing in the  `color` prop to a primary button in your example was only changing the `label` color to whatever you were passing in and not filling the background.

Without defining `button.primary.background` color pr

[2021-04-07 17:43] MikeWalrath opened #5301 "Initial Visual Regression tests investigation"
Any examples that broke during releases from product teams should be tested explicitly.
- Select
- Form

[2021-04-07 18:00] ericsoderberghp commented on #5145
Look at how we support gradients with Chart to see if we can do something similar.
https://storybook.grommet.io/?path=/story/visualizations-chart-gradient--gradient-charts
https://v2.grommet.io/chart#color

[2021-04-07 19:11] ShimiSun commented on #5012
I think this issue could be closed. Feel free to reopen if needed.

[2021-04-07 19:11] #5012 closed

[2021-04-07 19:13] #5000 closed

[2021-04-07 22:25] taysea commented on #5122
Documenting what I have found so far. It seems that the `onChange` function being called in Select is being registered as an `click`/`keyDown` event type as opposed to `change` like other components such as TextInput or CheckBox. Because of this, the Form is not receiving any notice that the `onChange` happened and therefore does not run the validation.

Looking into how a `change` event may be ab

[2021-04-07 22:42] #5036 closed

[2021-04-08 00:16] ShimiSun commented on #5149
This issue is resulted from the lack of React event propagation to Checkbox, and not related to the Tip directly.
Running this snippet would reproduce the issue as onMouseEnter/Over/Leave/Out are not triggered on Checkbox.

[code]

[2021-04-08 08:30] B-Esmaili opened #5151 "Select component ref is not compatible with typescript."
### Expected Behavior

Typescript should not show an error for ref passed to `Select` component.

### Actual Behavior

When i pass a ref to `Select` component it gives me ` Property 'ref' does not exist on type 'IntrinsicAttributes & SelectProps & { children?: ReactNode; }`

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/fervent-hoover-9o8ue?file=/src/App.tsx

[2021-04-08 15:35] samuelgoff opened #5152 "Button tip string should be used for a11yTitle default value if none provided"
`Buttons` and icon `Buttons` quite often need a `tip` value and `a11yTitle` value that is (or could suitably be) identical. The result is you end up repeating yourself, or declaring a `const` just so you only have to repeat the reference rather than the literal (or derivation), but it's still redundant.

### Expected Behavior

If `Button` `tip` attribute is populated with a string but `a11yTitle`

[2021-04-08 16:01] MikeKingdom commented on #5146
This only happens with the hpe theme on grommet 2.17.0 or later.
It seems like something about the styling from the theme causes the TextInput to be re-created (ie. the [focus, setFocus] = useState() in the component is reset to undefined again which should only be possible if the TextInput is newly created. All setFocus() calls pass either true or false)

[2021-04-08 17:35] phinch opened #5154 ""Selected" style is not applied to Select options when using custom children"
Hello! I'm using the Select input and passing in a custom `children` argument to render a custom label. When I render the custom label, the "hover" and "active" styles from the Select input get applied automatically, so I get the theme's hover/active background/color for free, which is great; but the "selected" style from Select does not seem to get applied to my custom label.

### Expected Behavi

[2021-04-08 19:22] ShimiSun commented on #5146
@MikeKingdom Can you confirm it's also reproducing with hpe-theme stable branch? we haven't released it lately so it might already contain a fix.

[2021-04-08 19:53] bbansalWolfPack commented on #5122
I am also facing the same issue, do we have any ETA on the fix?

[2021-04-08 20:00] samuelgoff commented on #5152
Thanks Shimi, I already have it done & PR ready, but the battery on my laptop died before I could submit. Trekking home from getting the COVID vaccine, then I’ll be able to plug in & submit the PR.

Thanks,

Sam

Sent from my iPhone

[2021-04-08 20:26] MikeKingdom commented on #5146
Confirmed it happens with the hpe-theme stable branch.

It doesn't appear to be a change in the theme that's the problem. The problem is looking like how FormField applies `formField: { error: { background: { color: 'validation-critical' }}}` causes the TextInput to get re-created (and therefore loses its state).

[2021-04-08 22:16] MikeKingdom commented on #5146
The root cause is #4801 how Box.js line 126 inserts a ThemeContext.provider if a background is added.

[2021-04-08 22:24] ShimiSun commented on #5151
Thank you, the issue is fixed by @jasnross and will be available on grommet v2.17.2

[2021-04-08 22:24] #5151 closed

[2021-04-09 00:54] samuelgoff commented on #5152
Hi @ShimiSun, hopefully this works for you.

[2021-04-09 04:28] g4rry420 commented on #5144
Can I work on this issue ?

[2021-04-09 14:40] britt6612 commented on #5144
@g4rry420 of course! 👍 Feel free to file a PR!

[2021-04-09 22:00] Tbhesswebber opened #5160 "`gridArea` should support non-named areas"
### Expected Behavior

The CSS specification supports multiple ways of positioning elements within a grid.  While I don't find it necessary to support everything within the grid spec, I would expect to find the ability to place based on at least the start and end column/row

[CodeSandbox](https://codesandbox.io/s/brave-bush-ownqw?file=/src/App.tsx)

### Actual Behavior

TypeScript yells at me for

[2021-04-10 22:46] woss commented on #4895
i'm facing the same thing with snowpack. any update on this?

[2021-04-11 03:46] ericsoderberghp commented on #5113
I think the primary being background colored and the secondary being border colored is an artifact of the earlier approach to Button styling. With the later `kind` approach, we want themes to have more flexibility. So, the primary button might have no background and a border and the secondary might have a background and no border. Or, they each might have both background and border. They might als

[2021-04-12 04:38] leossantiago commented on #5130
Just opened a PR addressing that. Would love your review on that @taysea.
By the way, introducing multiple pinning also increases the chances of cases where pinned content will take the entire available space. I know this depends heavily on the user rather than Grommet, but still makes me wonder if we should worry about those situations. Should we also introduce, for instance, use cases where only

[2021-04-12 08:05] woss commented on #4895
I also noticed that snowpack bundles the snowpack differently  when i use grommet and when i dont. here is the [gist](https://gist.github.com/woss/aa8c42b795efd010fefd0179aa7a2682) that shows this in action. notice the LAST lines in both files, the issue is that when bundles with grommet it doesn't  have `default` export. i'd say it has to do with the way grommet-icons are built using babel, it's

[2021-04-12 16:29] ShimiSun commented on #5160
@Tbhesswebber sounds like a nice enhancement! would you like to try and come up with a contribution?

[2021-04-12 16:32] #5146 closed

[2021-04-12 16:46] ShimiSun commented on #5154
We've made recent changes on Select and overall focus behavior on grommet v2.17.1, we'll need to make sure the issue as described is still relevant on this recent version.

[2021-04-12 17:16] taysea commented on #5130
Thanks @leossantiago I've dropped some initial comments. I agree that pinning multiple columns could increase the chances that columns will take up the entire width, but I think that would be on the user to know their data table content and make a design decision around how many columns would be pinned.

Re: only show on sticky column at a time, I think we should leave that for a separate discussi

[2021-04-13 00:24] q-oh commented on #5145
Hi @ericsoderberghp - would it be possible to get an ETA? Trying to plan for our project release. Thanks

[2021-04-13 01:23] Shannor opened #5162 "[TS] DateInput type definition is missing disabled prop"
### Expected Behavior

Should be able to disable the DateInput while using typescript

### Actual Behavior

If using typescript you will get an error that disabled doesn't exist on DateInput

### URL, screen shot, or Codepen exhibiting the issue
 Here is a link with someone stating the solution https://github.com/grommet/grommet/issues/4438

### Steps to Reproduce
Use the DateInput and try to disa

[2021-04-13 09:13] versoworks opened #5163 "Form with validate='change' not validating when Select option changes"
Using Grommet v2.17.1. Here's a [Codesandbox](https://codesandbox.io/s/elated-proskuriakova-p86yu) example demonstrating when the value of a `Select` component changes, the Form's `onValidate` does not fire, despite its validate property set to `change`.

[2021-04-13 16:36] taysea opened #5164 "DateInput with range of dates doesn't work if value starts as undefined"
### Expected Behavior

DateInput with desired format of mm/dd/yyyy - mm/dd/yyyy should be able to be initialized with no value. and then when a user interacts, they can select a range.

### Actual Behavior

When no value is set, the user is only ever able to select the first date of the range. After which, the Calendar closes and the end date cannot be selected.

This is because DateInput checks t

[2021-04-14 17:23] MikeWalrath opened #5166 "Grommet - 2.17.2 Release"

[2021-04-14 17:37] ericsoderberghp commented on #5145
This isn't at the top of the grommet team's work list: https://github.com/orgs/grommet/projects/10?fullscreen=true

Would you be interested in contributing the changes for it?

[2021-04-14 20:43] taysea opened #5167 "Select `id` doesn't get placed on `input`, can't associate with label in Form"
### Expected Behavior

Caller should be able to specify an `id` on their Select component that will be placed on the underlying `input`. Right now, `id` only gets put on the DropButton. Having an `id` on the input is necessary for the Select to become properly associated with a FormField `htmlFor`. See below for backwards compatibility concerns/discussion.

### Actual Behavior

Currently, to pass

[2021-04-14 22:53] jcfilben commented on #4895
I am looking into this issue, just making a post of my findings so far.

As @garrettlr pointed out, the require statements for to docs are causing a problem because ESM syntax only uses import and export. Import should be used instead of require and mixing both import and require is generally a bad idea. More info in this article: https://kentcdodds.com/blog/misunderstanding-es6-modules-upgrading-

[2021-04-14 23:02] ericsoderberghp commented on #4895
Good notes. Just in case it helps, our longer term direction is to remove the `react-desc` way of documenting within the code and just putting the documentation directly in `grommet-site`. So, if that approach would also address this issue, more reason to head that way sooner. I think we could get there with a day or two's worth of work if we put our minds to it.

[2021-04-14 23:04] jcfilben commented on #5163
Related to #5122

[2021-04-14 23:15] jcfilben commented on #4895
Yes, moving the docs to be contained within the grommet-site instead of grommet repo would solve at least the first part of this issue. From what I can tell, the docs are the only thing using `require` statements.

[2021-04-15 07:27] Krishnasuma commented on #4347
@ShimiSun Still I'm able to see the issue even after updating to 2.15.2. Here is the Codepen link https://codesandbox.io/s/grommet-v2-template-forked-2d1qo?file=/package.json

[2021-04-15 15:38] woss opened #5168 "QUESTION: do you guys have a figma template for faster design?"
Hi, having a figma template would be of huge help designing the app built on the grommet.
Icons are not essential but the bazse component yes.

[2021-04-15 17:32] kariwhitcomb commented on #5146
can you role a patch release with this fix?  It is currently breaking our e2e tests preventing us from updating to the latest grommet.

[2021-04-15 19:57] #5001 closed

[2021-04-16 03:41] ShimiSun commented on #5168
Not sure if we do, @L0ZZI do we have figma assets for Grommet?

[2021-04-16 04:05] #5122 closed

[2021-04-16 04:06] ShimiSun commented on #5163
Thank you for reporting, this issue will be fixed in the coming release 2.17.2, and is currently available on the [grommet stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F).

[2021-04-16 04:06] #5163 closed

[2021-04-16 05:17] versoworks opened #5170 "Form with `validate='change'` changes focus when displaying error/info/help content."
Using Grommet v2.17.1. When a `Form` with the property `validate='change'` containing a `TextInput` is used, if you pause whilst typing and the `Form` displays the `Invalid` error for example, the `TextInput` loses focus, so you cannot resume typing without resetting focus on the `TextInput` control.

[2021-04-16 05:29] MikeKingdom commented on #5170
If the theme being used changes the `FormField` background color when a field is invalid (like `grommet-theme-hpe`) this issue is likely fixed by PR #5158

[2021-04-16 05:33] versoworks commented on #5170
@MikeKingdom  cheers for the info. Looks like v2.17.2 is going to squash quite a few niggling bugs.

[2021-04-16 05:33] #5170 closed

[2021-04-18 04:33] versoworks opened #5172 "`CheckBox` `fill` property is broken"
Using Grommet v2.17.1. Setting the `fill` property on a `CheckBox` doesn't perform as designed, and also raises an error in the console;

`Warning: Received 'true'  for a non-boolean attribute 'fill'.`

See the [Codesandbox](https://codesandbox.io/s/elated-proskuriakova-p86yu) example.

[2021-04-19 15:10] britt6612 commented on #5172
@versoworks @leossantiago
The `fill` prop was added on the stable branch you will not see these changes until the next release. So this codesandbox would not be up to date can you maybe check stable branch ?

[2021-04-19 15:23] leossantiago commented on #5172
@britt6612 even though the codesandbox might not be up to date, I was able to reproduce both issues with the master branch. Thanks for the heads up! 😄

[2021-04-19 17:43] ShimiSun commented on #5172
Related to #5153.

[2021-04-19 18:08] #5172 closed

[2021-04-19 18:09] ShimiSun commented on #5172
Fixed and available on grommet stable, and on future release grommet 2.17.2

[2021-04-19 20:43] #5152 closed

[2021-04-19 21:59] ericsoderberghp commented on #5103
In the ResponsiveContext PR we are adding, the snapshot shows that the jest environment indicates a "medium" size.

[2021-04-19 22:19] ericsoderberghp commented on #4951
It's looking good to me. Nice job!

[2021-04-19 22:31] ypinneka opened #5178 "When JSX Element is passed as an option to Select, it gives an error !"
Issue reproducible, https://codesandbox.io/s/cool-cherry-4r1f0?file=/src/App.js
Error shows up intermittently.

When search option is present in Select, there is no error.
<img width="1318" alt="Screen Shot 2021-04-19 at 3 25 27 PM" src="https://user-images.githubusercontent.com/60210530/115311258-35e49700-a124-11eb-9745-958582adae32.png">

[2021-04-20 17:21] #5103 closed

[2021-04-20 17:52] ShimiSun commented on #3826
@bcbrian Thanks for the feedback, sorry you had to spend time debugging it.
Currently, we have a style disclaimer on the docs when using `children` of Button - as follows:

Is there anything else we can add to make it clearer in your opinion?

[2021-04-21 17:08] #5070 closed

[2021-04-21 17:20] #5164 closed

[2021-04-21 20:29] jcfilben commented on #5178
Steps to reproduce:
1. Select the JSX element
2. Try typing in the select
3. Should get "label.charAt is not a function"

[2021-04-21 21:42] taysea commented on #5167
Summarizing some considerations that may influence the direction we take, but some more thought it needed. So far no ideas are standing out as "great options". The overall goal of future changes would be that the `id` prop would be applied to the underlying input element -- allowing the input to associate with form labels when in a form the same way that the rest of our input components work.

Cur

[2021-04-22 07:12] B-Esmaili opened #5185 "Accordion component causes a warning in console about usage of useLayoutEffect which causes SSR issue."
When I use Accordion component in my next-js application it shows a warnning in console which looks like following :

[code]
I thought it worth reporting to the great `grommet` team. Thanks for your life-saving library by the way.

[2021-04-22 17:03] MikeKingdom commented on #5185
This is a duplicate of #4765 and should be addressed by PR #5157.

Thanks for the kind words!

[2021-04-22 17:03] #5185 closed

[2021-04-23 03:37] #4765 closed

[2021-04-23 06:42] daniel-parlapan commented on #4967
@alanpilloud did you find another way?

[2021-04-23 07:40] alanpilloud commented on #4967
@daniel-parlapan Not really, I validate on submit. Each page has a submit button.
Then, I control what the submit really does (going through the steps, or finally submit the data) using onSubmit on Form.

[2021-04-23 16:19] #4951 closed

[2021-04-25 22:39] RyanCCollins opened #5189 "Select component a11yTitle not forward to DropButton"
### Expected Behavior
When an `a11yTitle` prop is passed to the Select component, I expect that it will propagate to the rendered button so that a screen reader user has context of the control.  Currently, a screen reader will read a select as "Open Drop, Button" even when `a11yTitle` is passed in.

### URL, screen shot, or Codepen exhibiting the issue
See below

### Steps to Reproduce
1. Visit ht

[2021-04-26 15:38] #5178 closed

[2021-04-26 17:39] jcfilben commented on #5162
Looks like this issue can be closed since #5165 was merged

[2021-04-26 17:54] jcfilben commented on #5087
I think this issue can be closed since #5088 was merged

[2021-04-26 18:28] Shannor commented on #5162
Cool. Closing now. Thanks!

[2021-04-26 18:28] #5162 closed

[2021-04-26 19:00] #5087 closed

[2021-04-27 17:53] taysea opened #5193 "Enhance Button to have `badge` prop"
### Expected Behavior

Enhance Button with a badge prop to allow "badge" behavior out of the box. Right now this behavior can be achieved with Stack but it requires a heavy bit of JSX, handling via a prop would be convenient as this is a common pattern. Some use cases to consider:
<img width="130" alt="Screen Shot 2021-04-27 at 10 51 15 AM" src="https://user-images.githubusercontent.com/12522275/1

[2021-04-27 22:19] ypinneka opened #5194 "VALID flag of Form's validation results callback is not accurate"
When validate prop of form is set to `change` or `blur` & validation is run when the form is mounted, the valid flag always returns true.

Reason:
In Form.js, line 126, the validations are run before the required fields are set.

[2021-04-27 23:10] samuelgoff opened #5196 "inconsistent primary & secondary Button styling"
`Button`s with `primary` or `secondary` appear completely different depending on whether they have contents defined through the `label`, `icon`, or wrapped (child) text.

### Expected Behavior

`Button` `font-weight`, `color`, `padding`, `outline`, & `hover` states should be consistent, regardless of how the contents of the Button are populated, whether this is through the `label` or `icon` prop,

[2021-04-28 17:26] ShimiSun opened #5197 "Testing - Refactor the usage of `renderer.create` to `render`"
### Expected Behavior
In our grommet testing, we shouldn't use `renderer.create` from
[code]
Instead, we should use `render` by
[code]

### Actual Behavior
Some tests are still using the legacy API.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Go to tests that use the older API
2. Replace it with the better practice API suggested above.

### Your Environment

[2021-04-28 19:12] ShimiSun commented on #5196
The `secondary` prop isn't available on themes that don't have `button.default` defined - in your codesandbox example you are using the grommet theme which doesn't use `button.default`. The hope theme is currently the only theme we publish with `button.default`.
Do you think we should improve documentation to clear this functionality better?

[2021-04-28 22:52] halocline commented on #5166
https://github.com/grommet/grommet/pull/5195 - will unblock the release.

[2021-04-28 22:57] halocline opened #5198 "Investigate PR merge despite ESLint warnings"
### Expected Behavior

CI checks should catch any ESLint warnings which are present on a PR prior to merging.

### Actual Behavior

https://github.com/grommet/grommet/pull/5187 snuck by despite having ESLint warnings for missing useEffect dependencies.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name a

[2021-04-29 17:09] ShimiSun commented on #4349
This issue is fixed as part of the Tip component.https://storybook.grommet.io/?path=/story/controls-tip-caret--caret

[2021-04-29 17:09] #4349 closed

[2021-04-29 17:15] ShimiSun commented on #2720
I'll be closing this issue due to a lack of community interest. Feel free to make a contribution or start a discussion around implementation for this issue in case its still relevant.

[2021-04-29 17:15] #2720 closed

[2021-04-29 17:32] vavalos5 commented on #2853
It looks like in the theme we define `hover `as `active`. Do we have to have a` hover` prop defined as the same color as we do for `active`?

[2021-04-29 18:09] jcfilben commented on #5154
I don't think this issue is relevant anymore since #5148 was merged

[2021-04-29 19:04] #5166 closed

[2021-04-29 20:39] britt6612 commented on #5154
This is actually still relevant using this on stable branch you can see the issue
[code]

[2021-04-29 21:57] MikeKingdom commented on #4108
Changing the FormField to render as a `fieldset` and `legend` would require styling from the theme to make the legend look like a regular formfield label. Since the goal is accessibility more than styling, I think a better solution would be to change CheckBoxGroup and RadioButtonGroup to set `role="group"` and `role="radiogroup"` respectively on the `div` containing the group contents. The you cou

[2021-04-29 22:21] LiveFreeAndRoam opened #5199 "Select with Scroll Bar is not responding to PgDn/PgUp keys"
When a Select list has a scroll bar, it used to respond to PgDn/PgUp.

It works in Grommet 2.15.2, and is broken in 2.17.2.

### Actual Behavior

It no longer responds to PgDn/PgUp.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/select-pguppgdown-issue-3tsrr?file=/src/App.js

### Steps to Reproduce

Render a Select options list that is long enough to be scrollable

[2021-04-30 05:55] samuelgoff commented on #5196
Hey @ShimiSun, I'm confused. Both `primary` and `secondary` are demonstrated as **working** with whatever theme is included with the codesandbox (note the subtle red arrows below) -- but **_only_** when the `label` prop is used to provide content:
![Screen Shot 2021-04-27 at 6 00 37 PM copy](https://user-images.githubusercontent.com/2007084/116653380-aa051300-a94c-11eb-9ed2-28f03df9ac43.png)

From

[2021-04-30 14:37] andrewthamcc opened #5200 "Layer component stays rendered in test suites"
### Expected Behavior

When testing the `Layer` component with React-Testing-Library each instance of test should render a new component.

### Actual Behavior

The Layer component remains rendered to the testing DOM despite providing a cleanup function `afterEach(cleanup)`. This causes tests to fail as duplicates of the component are found.

### URL, screen shot, or Codepen exhibiting the issue

h

[2021-04-30 15:04] britt6612 opened #5201 "If Value in select is set to a string this is not displayed"
If "value" is a string, it is no longer being displayed, though it is being set correctly.
I did some digging on this and found that the change was linked with this PR:
https://github.com/grommet/grommet/pull/3870
### Expected Behavior
The value should be displayed

### Actual Behavior
The Value is no longer being displayed after 2.11.3

There is nothing being displayed on the `select`
### URL, sc

[2021-04-30 16:36] #4653 closed

[2021-04-30 16:43] #4340 closed

[2021-04-30 22:40] jcfilben commented on #5200
Hi @andrewthamcc I am wondering if you could reproduce this with a jest test within grommet since codesandbox is having issue with jest tests. I tried to reproduce using the tests from your codesandbox but the tests were behaving as expected. Also, I would think the Layer tests that we currently have wouldn't be passing if the Layer was persisting between tests.

[2021-04-30 22:57] jcfilben opened #5204 "Chromatic snapshots number deviation"
### Expected Behavior
The chromatic snapshots were around 320 before the latest release

<img width="863" alt="Screen Shot 2021-04-30 at 2 23 32 PM" src="https://user-images.githubusercontent.com/54560994/116761172-27279b00-a9d4-11eb-9dba-9b7697925ab9.png">

### Actual Behavior
The snapshot numbers jumped to 406 and include tests that have `parameters = { chromatic: { disable: true }, };` specifie

[2021-05-01 13:54] nateq314 opened #5205 "Custom sizes don't work with Anchor"
### Expected Behavior

This should work fine, same as with `Text`:

[code]

### Actual Behavior

Throws an error.

### URL, screen shot, or Codepen exhibiting the issue

<img width="1053" alt="Screen Shot 2021-05-01 at 9 52 44 AM" src="https://user-images.githubusercontent.com/1175921/116784587-0c503780-aa63-11eb-9396-aa22c8ecd605.png">
<img width="576" alt="Screen Shot 2021-05-01 at 9 52 53 AM" s

[2021-05-02 04:00] ShimiSun commented on #5204
@jcfilben GREAT catch!! we need to take a look into this... it doesn't look right.

[2021-05-03 08:37] idanhaviv opened #5206 "selecting a suggestion in TextInput doesn't close the suggestions drop"
### Expected Behavior
After selecting a suggestion, I expect no more suggestions will be presented.

### Actual Behavior
The selected suggestion is still presented in the suggestions drop, after selecting it for the 1st time.
Only after selecting that suggestion for the 2nd time, the drop closes.

### URL, screen shot, or Codepen exhibiting the issue
This can be experienced in the official Grommet

[2021-05-03 14:29] ericsoderberghp commented on #5189
Related to https://github.com/grommet/grommet/issues/5167

[2021-05-03 15:19] ShimiSun commented on #5206
Toda @idanhaviv ! We'll take a look at the issue and will keep this issue up to date.

[2021-05-03 15:24] #5194 closed

[2021-05-03 15:31] halocline opened #5207 "Supplement release notes with any areas which might benefit from greater context or clarity"
https://github.com/grommet/grommet/wiki/Release

Add clarification or supplement with example for the following release process steps:
- Pre-reqs
  - Step 2 - NPM permissions not necessary since publishing is triggered via Github, not via npm publish command
  - Step 3 - Elaborate on Grommet's flavor of SemVer
  - Step 4 - Provide annotated minutes so that a viewer can jump to relevant content are

[2021-05-03 15:41] ShimiSun commented on #2853
@vavalos5 , that is correct, currently, both colors are defined the same way, and due to the backward compatibility of the theme, we do not have the flexibility to change those at the moment.

That being said, we have extended the `active` and `hover` theme props per component so components will have the flexibility to custom these colors as fit.
The base theme is also supporting the following col

[2021-05-03 15:41] #2853 closed

[2021-05-03 15:53] ShimiSun commented on #4175
@jcfilben Please take a look and confirm whether this issue is still relevant. We have done many TS improvements and I think we might have solved it already. Thanks!

[2021-05-03 15:58] ShimiSun commented on #2595
We haven't seen community enthusiasm to support this feature, and we are keeping in mind that Anchor is not a component that is intended to drive Layout so `pad` shouldn't be necessary.
I'll be closing this issue unless an interest will rise.

[2021-05-03 15:58] #2595 closed

[2021-05-03 16:02] ShimiSun commented on #2966
We have elaborated on the docs and on storybook with the requested examples. Feel free to let us know if anything else might be missing.

[2021-05-03 16:02] #2966 closed

[2021-05-03 16:34] #2855 closed

[2021-05-03 16:54] ShimiSun opened #5208 "Tests - DateInput snapshot tests were failing when a new month starts"
DateInput snapshot tests were failing because it is a new month. For now I just updated the snapshots but eventually these tests should be rewritten so that the snapshots don't fail at the start of every new month. The UI test differences are also related to the month change

_Originally posted by @jcfilben in https://github.com/grommet/grommet/issues/5202#issuecomment-831388261_

[2021-05-03 16:59] #2785 closed

[2021-05-03 17:02] ShimiSun commented on #2776
@jcfilben Please take a look and let me know what you think should be the action items for this issue. It's been a while since the issue was filed and Chart had gone through many changes/enhancements during this time, so it might no longer be relevant -- but please confirm.

[2021-05-03 17:31] jcfilben commented on #2811
Here is a [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-95vrz?file=/index.js) showing the issue.

**I just want to confirm, the desired behavior would be that row-responsive keeps the main axis as the 'row' (the horizontal axis)?**

Right now the way basis is set up, basis is a fixed or relative size along the containers main axis. When direction='row-responsive' and we are in

[2021-05-03 19:35] #4108 closed

[2021-05-03 20:09] MikeWalrath opened #5215 "Enhance List to support user re-ordering of data items"
First pass at Ordering of Items using [Option 4](https://www.figma.com/file/TonE8uQ33e5QJRPknZx36q/Ordering-Of-Items?node-id=493%3A16973)

Initial plan is to add `onOrder` to List. See the linked Figma design.

[2021-05-03 20:16] jcfilben commented on #2776
This issue is still relevant. Currently the opacity prop for Chart is defined in the docs as:
[code]
The opacity can either be a string value of 'weak', medium', or 'strong'. Or it could be a boolean value of true or false.

Box and Meter opacity both have similar documentation. When opacity is set to true in Box or Meter the opacity defaults to the "medium" value. As shown in this [codesandbox](h

[2021-05-03 23:28] jcfilben commented on #4175
This issue is still relevant, here is an updated [codesandbox](https://codesandbox.io/s/grommet-sandbox-forked-r99sb?file=/src/Select.js).
That being said, I agree with what was said above about not wanting to sanitize inputs and that if a user passes `undefined` it shouldn't be changed into an empty string by default.

[2021-05-04 11:58] idanhaviv commented on #4796
@ShimiSun hey, any updates on this?

[2021-05-04 13:31] emonakov opened #5214 "Pagination module is missing from the latest version"
https://v2.grommet.io/pagination

### Expected Behavior

It creates a pagination element

### Actual Behavior

Module '"grommet"' has no exported member 'Pagination'.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/1624819/117010952-3f096280-ace5-11eb-9714-b209d207ccde.png)

### Steps to Reproduce

1. Create grommet project
2. Import Pagin

[2021-05-04 16:49] ShimiSun commented on #5214
I think you should try cleaning up your lock files and re-install your dependencies.

[2021-05-04 18:06] MikeKingdom commented on #5206
@idanhaviv Thanks for reporting this issue.

What's happening is `<TextInput>` will pop up the suggestions drop if it the `suggestions` property changes and the input still has focus. (This was a change a couple months ago to improve how it behaves in general.) The Grommet Storybook example https://storybook.grommet.io/?path=/story/input-textinput-custom-suggestions--custom-suggestions does change

[2021-05-04 22:02] ShimiSun commented on #4368
@taysea can you please confirm whether this issue is still relevant with the recent drop enhancements and 'dropAlign'.

[2021-05-05 04:22] alexmirrington commented on #5111
@ShimiSun Any updates on the PR? Would love to get a second pair of eyes on the PR so we can start improving Grommet's TS support through test migrations :)

[2021-05-05 14:43] Tbhesswebber opened #5221 "CheckBox and CheckBoxGroup should accept children"
In terms of intent, a raw HTML checkbox group is a radio group that allows multiple selections. Given this, the API for the two should be the same when it comes to rendering.

### Expected Behavior

In our forms, we need non-dropdown interfaces for multiple and single selections - i.e. checkbox groups and radio groups.  To support this, we have the following component for the radio button (it's no

[2021-05-05 14:46] Tbhesswebber commented on #5160
I would love to in the future, but I work for a stealth-mode startup and won't really have the time to contribute until our Alpha release later this year. 😭

[2021-05-05 16:00] taysea commented on #5200
Wondering if it has anything to do with this Layer change from `useEffect` to `useLayoutEffect` when we upgraded react versions? https://github.com/grommet/grommet/pull/5097

maybe if project is pointing to an older react version then this will cause issues in tests? @jcfilben any thoughts here?

[2021-05-05 16:49] jcfilben commented on #5200
In react-dom v17 `useEffect` is changed to run asynchronously, so we switched Layer to use `useLayoutEffect` which runs synchronously which is the old behavior of `useEffect`. This change fixed an issue with the Layer animation but it don't think it would be related to how the tests are being run and I don't think it would cause the Layer to persist between tests.

I did notice in the codesandbox

[2021-05-05 20:14] jcfilben commented on #5204
I had a discussion with a member of the Chromatic team and their response was:

So the additional tests from stories with `chromatic: { disabled: true }` are not actually being tested. They will still show up as tests but there isn't anything that can be done about this on our side.

[2021-05-05 22:00] NRamasamy82 opened #5224 "DateInput - format issue"
<FormField name="value" label="value" required>
<DateInput name="value" value={this.state.testDate} format="mm/dd/yyyy" />
</FormField>

![image](https://user-images.githubusercontent.com/32128534/117214231-2458eb80-adc2-11eb-894d-cebe20ab2ca6.png)

<img width="198" alt="DateInputformatt" src="https://user-images.githubusercontent.com/32128534/117214307-42265080-adc2-11eb-86f6-5055e385460f.PNG">

[2021-05-05 22:43] charupasternak25 opened #5225 "RadioButtons: check.background.color is being applied to all the radio buttons and not just the checked radio button"
### Expected Behavior: When I set a background color for checked radio button, only the currently checked radio button should change the color and other should be default grey.

### Actual Behavior: For the code here:
`radioButton: {
    check: {
      color: '#fff',
      background:{
        color: '#3b5ed8'
      }
    }
  }`

all the radio buttons show the blue background color and not just th

[2021-05-05 23:03] versoworks opened #5226 "`Layer` `position` property not respected on lower resolutions"
Using Grommet v2.17.2, when specifying the `position` property on a `Layer` component, the property is respected on high resolutions and not on lower ones. See the [Codesandbox](https://codesandbox.io/s/yabba-dabba-doo-30610-p86yu) example, where the `Layer`s `position` property is set to `right`. If you open the sample in a new window, the content box appears on the right, but on lower resolution

[2021-05-05 23:32] halocline commented on #5226
Hi @versoworks, by resolution I am assuming you are speaking to the width of the window dimension. Anyway, Layer has a [property called `responsive`](https://v2.grommet.io/layer#responsive) which default value is `true`. This property says "when at the 'small' breakpoint, fill the screen."

The behavior you are witnessing at narrower window widths is this responsive behavior. If you'd like to disa

[2021-05-05 23:42] versoworks commented on #5226
@halocline yes, that resolves the issue.

Prior to posting here, I did double check the documentation and nothing under the responsive property indicates this behaviour as a side effect. May I suggest the documentation be improved by listing properties affected by the `responsive` property when `true`  (i.e. _when `true`, the `position` property is overridden_, or something to that effect) or the

[2021-05-06 04:19] versoworks opened #5228 "`AccordianPanel` icon position with truncated label issue"
Using Grommet v2.17.2 when the `AccordianPanel`s label is truncated, the drop icon is pushed outside the bounds of its parent. We have implemented a temporary fix which is commented out in the [Codesandbox ](https://codesandbox.io/s/woof-72015z-b7cmq) example demonstrating the issue, and am hoping the issue can be addressed in the next release.

[2021-05-06 15:06] halocline commented on #5226
The description of `responsive` intends to communicate that at a mobile viewport size, the Layer will fill the height and width of the screen. This was designed to present Layer content in a mobile friendly format. As a point of clarification, the `position` isn't being overwritten, rather the Layer now occupies the entirety of its container. Would you be willing to draft a description for the `re

[2021-05-06 15:06] #5226 closed

[2021-05-06 17:28] g4rry420 commented on #5197
I am working on it.

[2021-05-06 17:54] g4rry420 commented on #5197
Shall I also remove package `react-test-renderer` ?

[2021-05-06 18:25] gbernalmulti commented on #3060
any update?

[2021-05-06 20:39] g4rry420 commented on #5197
Some of the test are using utility functions such as `findAllByType`. I believe those tests should remain the same. Because if I change them then I also have to change the utility functions, which might be used in other areas of repository. Need your inputs.

[2021-05-06 21:11] taysea commented on #5200
Hi @andrewthamcc I've checked our Layer test for 'Layer unmounts from DOM' and it is behaving correctly. I have also checked the Dev Tools in our storybook to confirm that Layer unmounts from the DOM.

Here is a screenshot of a jest test debug showing that the Layer is no longer present in the DOM after it has been set to not show:
[code]
<img width="480" alt="Screen Shot 2021-05-06 at 1 59 25 PM"

[2021-05-07 03:38] britt6612 opened #5231 "Select Scroll keyboard"
The scroll is not working when you use keyboard on `select`
### Expected Behavior
The container on `select` should scroll up or down when you use keyboard arrows

### Actual Behavior
The container does not move

### URL, screen shot, or Codepen exhibiting the issue

https://user-images.githubusercontent.com/42451602/117394327-31093c80-aeb3-11eb-97e3-9308e3805e13.mov

### Steps to Reproduce

1. Go

[2021-05-07 04:51] crashuniverse commented on #5214
We made you https://codesandbox.io/s/peaceful-rhodes-61rgi?file=/src/App.js so that you can look at a very simple example, sometimes away from complex projects lets us see problems in isolation and clarity.

[2021-05-07 05:58] B-Esmaili opened #5232 "Unable to change page from parent component in Pagination component."
### Expected Behavior

When I change the page property of the Pagination component it should re-render according to the changed page.

### Actual Behavior

It does not re-render and stay in the previous state.

CodeSandbox for demonstrating the issue: https://codesandbox.io/s/bold-flower-6ic42

[2021-05-07 06:22] B-Esmaili commented on #5232
I see it is fixed in version 2.17.2.

[2021-05-07 06:22] #5232 closed

[2021-05-07 11:53] emonakov commented on #5214
@ShimiSun @crashuniverse Removing node_modules and reinstalling worked
Thanks for the help!

[2021-05-07 11:53] #5214 closed

[2021-05-07 13:24] pdp5210 opened #5233 "Does grommet has grouped bar chart component"
I could find chart component in grommet but we have a requirement to display 3 bars together for each month for a year(Jan to Dec)
### Expected Behavior
![image](https://user-images.githubusercontent.com/17842632/117455541-ea483080-af0c-11eb-9322-fabfe1d31415.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/17842632/117455899-3eebab80-af0d-11eb-8aa7-d511b89ff41b.png)

#

[2021-05-07 13:59] ericsoderberghp commented on #5233
Not available at the moment. However, a reasonable request.

[2021-05-07 23:20] bojan88 commented on #3173
I just verified this. It is fixed in `v2.17.2` with 518373864c2608df9faf4a6de8900ef5a55d8f20
Note that `event.target.value === event.value` for single selection only.

If `multiple` prop is set these 2 values will not be equal. In that case `event.target.value` will hold previous value, and `event.value` will be an array. In my opinion `event.target.value` should be avoided when `multiple` prop is

[2021-05-08 06:00] crashuniverse commented on #5224
I could not reproduce this. I tried this at https://codesandbox.io/s/peaceful-rhodes-61rgi?file=/src/App.js
@NRamasamy82 can you help me understand 1st step to reproduce well, do we keep this input inside a formfield - is it a different tag that i used `<form>`? If you could edit the sandbox, save, share, it helps troubleshoot.

[2021-05-09 03:18] brianbancroft opened #5236 "Layer component does not animate in mobile"
### Expected Behaviour

On mobile devices (or simulated), I would expect the Layer component to animate with the following props provided:

[code]

### Actual Behaviour

Only animates in desktop [when the size in `ResponsiveContext` is not "small"]

https://codesandbox.io/s/grommet-layer-no-animate-mobile-hl9cr?file=/src/Layout.js&resolutionWidth=320&resolutionHeight=675

I am unsure whether this

[2021-05-10 15:02] ericsoderberghp commented on #4871
Closing for now, until demand returns.

[2021-05-10 15:02] #4871 closed

[2021-05-10 16:42] taysea opened #5239 "Layer places `id` onto multiple DOM nodes"
### Expected Behavior

`id` should only be placed on a single DOM node.

### Actual Behavior

`id` is being placed on 2 DOM nodes (StyledContainer, StyledLayer). This is causing errors on Design System accessibility tests that flag when multiple elements have the same id tag.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Create a Layer with `id`
2. Run accessib

[2021-05-10 20:25] serp777 opened #5240 "DataTable groupBy throws typescript exception on use"
Greetings. I've got a data table of 10 items, one of which is a server model. I want to group items in the table by the server model, which is a property in my row/column configs.

Group By should perform as shown in the storybook/not throw an exception.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/10540204/117719774-082ac500-b19b-11eb-9

[2021-05-10 22:46] taysea commented on #5200
Hey Andrew! Thanks so much for putting the repo together and documenting this so clearly. @jcfilben, @britt6612, and I have been looking into this today, and I wanted to summarize our findings for you here:

1. Since portals render outside of the root div in jest tests, we need to explicitly clear them beforeEach test involving them because the react testing library `cleanup` function doesn't hand

[2021-05-11 11:03] chesleyratliff commented on #3911
@ShimiSun This issue was from over a year ago, so I don't really have a good idea of what it was. I do know that if its that old we have figured out a workaround by now.

[2021-05-11 18:14] #5200 closed

[2021-05-11 19:06] andrewthamcc opened #5247 "DateInput does not behave as a controlled component"
### Expected Behavior

The `value` prop on the `DateInput` component passes an ISO date string to the component. I would expect that updating the prop would also update the display on the component.

### Actual Behavior

Updating the `value` prop and there is no change to the UI. However, when opening the `DateInput` the calendar displays the correct date that the displayed value should be.

### U