[2019-03-23 19:01] ShimiSun commented on #2971
@oorestisime we need to figure out what is the right approach for this one. I think we should change grommet-icons to point to global.icons. thoughts?

[2019-03-23 19:47] Timunas commented on #2901
I'm also facing this issue on electron. The Infinite scroll loads the inital items but then the onMore function is not being triggered.

[2019-03-23 20:48] markjackson02 opened #2973 "Ability to unselect / clear selected value with <Select>"
Currently there is no built-in way for a user to unselect an option after selecting (resetting to original state). Proposed enhancement would be to add a "clearValue" prop that adds a grey "x" on the right side of the Select input to clear the current value.

My current workaround is to put the first option as a blank string, but this doesn't look great from a UI perspective.

[2019-03-23 21:00] oorestisime commented on #2971
yes i agree that grommet icons need updating to point to `global.icon`

[2019-03-23 21:03] oorestisime commented on #2973
hm, maybe the solution here is to approach the selection closer to the select multiple handling. In multiple when you re-select the option it will unselect it. Unselecting all the selected values clears all the values.

[2019-03-23 21:44] oorestisime commented on #2961
There is a bigger issue here i think. The selected indexes are wrong when there is a search involved. It reflects the index relative to the search and not the absolute index.

[2019-03-23 21:50] oorestisime commented on #2961
And `options.indexOf(v)` for each value can return -1 if the value  is not in the search container.

[2019-03-24 02:30] ShimiSun commented on #2961
Yea, I noticed the same type of behavior and hence labeled the issue as `arch` (i.e architectural problem).
whether you had previous values selected before the search, the values won't be available on the `options` array due to filtered options resulted from the search, hence you'll be losing their indexes. An idea I had was that we need a helper method that will be called after the search and bef

[2019-03-24 15:40] midnightcodr commented on #2949
Border styles of the buttons are different: button using label attribute has a rounded corner box while the one using Text as a child component does not.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Orestis Ioannou <notifications@github.com>
Sent: Friday, March 22, 2019 10:11 PM
To: grommet/grommet
Cc: Rico Chen; State change
Subject: Re: [grommet/grommet] No

[2019-03-24 15:42] midnightcodr commented on #2949
Forgive me I forgot to wrap Text with Button but even if I do it renders still without borders.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Rico Chen <ricochen27@gmail.com>
Sent: Sunday, March 24, 2019 11:40 AM
To: grommet/grommet; grommet/grommet
Cc: State change
Subject: Re: [grommet/grommet] Not able to change global font size (#2949)

Border styles of th

[2019-03-25 15:23] ShimiSun commented on #2641
shimi [11:36 AM]
@alansouzati @oorestisime I’m curios to know if you have tried `emotion` yourself and can list the the advantages it offers comparing to `styled-components`? or any other motivation reasons to pursue this direction.

alansouzati [11:36 AM]
https://github.com/styled-components/styled-components/issues/2418
this issue answers that

oorestisime [11:36 AM]
never tried

alansouzati [11

[2019-03-25 15:24] ShimiSun commented on #2641
oorestisime [7:51 AM]
wow emotion is catching up reaaaaaaaaally fast https://npmcharts.com/compare/styled-components,emotion?interval=30

[2019-03-25 16:51] bytewoopy commented on #2966
I actually did not notice the description. I tend to jump down to the props to see what is available, I guess I saw children mentioned in some components like this one https://v2.grommet.io/select so might have expected the same on others. Might just be me though:😁

[2019-03-25 17:05] ShimiSun commented on #2966
We should have a `children` prop to Button docs and add the example there.
Improve the example of select `children` as well.

[2019-03-25 17:07] MaxMillington opened #2975 "Add `plain` prop to FormField"
### Expected Behavior

I would like there to be a `plain` prop in the `FormField` component which will remove the default underline from the FormField

### Actual Behavior

Currently, there is no way to remove the underline from a FormField without removing it from every FormField

[2019-03-25 17:23] #2959 closed

[2019-03-25 17:33] ericsoderberghp opened #2976 "refactor documentation to remove react-desc"
We can have issues in our documentation due to `react-desc` trying to combine `propTypes` with documentation and not always working well on either side. For example, we cannot reference propTypes from react-desc in other components due to how they are decorated. And, we need the ability to provide richer example syntaxes that don't work with the more simplified propType derived approach.

A sugges

[2019-03-25 17:34] alansouzati commented on #2216
both

I think we should make the changes consistent in both Button and Anchor, specially because we have RoutedAnchor and RoutedButton. Any reason as to why not adding to Anchor as well?

[2019-03-25 17:42] ericsoderberghp commented on #2216
How would you style an anchor differently for `active`? I'm just wanting a tangible example for reference.

[2019-03-25 17:43] ShimiSun opened #2977 "RadioButtonGroup to remove hover when using keyboard"
### Expected Behavior
Not having hover functionality when using keyboard navigation in RadioButtonGroup.
More like how select is working

### Actual Behavior
hover is still being displayed when using keyboard

### URL, screen shot, or Codepen exhibiting the issue
https://storybook.grommet.io/?path=/story/radiobuttongroup--simple

### Steps to Reproduce

1. 2. 3.

### Your Environment
any

- Gromme

[2019-03-25 17:46] ShimiSun opened #2978 "CircleCI - validate publication by verifying new release in an app"
### Expected Behavior
currently CircleCI is publishing the release but not testing whether it is working.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
https://github.com/grommet/grommet/blob/2bd52dd23ea76e15bc1a5684d579ddbeb1db1c0e/.circleci/config.yml#L72

### Steps to Reproduce

1. 2. 3.

### Your Environment
any

- Grommet version: 2.6.5
- Browser Name and version

[2019-03-25 18:19] alansouzati commented on #2216
In anchor `label` prop can be an element and you have freedom to style it however you want. I've seen cases where active anchors change colors and font weight. You can always use a Button and render it as Anchor, but I feel we should be consistent here without making too many assumptions on how people would consume Anchor/Button.

[2019-03-25 18:27] oorestisime commented on #2978
How should the release be tested?

[2019-03-25 18:29] oorestisime commented on #2976
How about we just write the proptypes in the component directly?
Should remove some friction of working on grommet (having to open multiple files for the same component currently the X.js, doc.js, index.d.ts and maybe propTypes.js)

[2019-03-25 18:30] oorestisime commented on #2926
@MaxMillington what are your thoughts here as well?

[2019-03-25 18:39] oorestisime commented on #2949
We only apply border if we control the label. If you are rendering the button the way you wish (meaning controlling the children and its appearance) then we don't do any styling for you besides handling onclick event hovering etc.

[2019-03-25 18:58] ericsoderberghp commented on #2216
I'm just wondering if all of the styling would be more Button-ish. For example, I could see Anchor having active if the only indicator was underline. I tend to think of Anchor as being used for inline cases, like in Paragraph. But, Button used for navigation things like sidebars, top menus, tab-ish things, etc.

[2019-03-25 20:09] alansouzati commented on #2216
That's fine if you want to make that assumption, I don't have a strong opinion here.

Generally speaking I like to see Grommet as a middle ground where we don't make these kind of assumptions. Up to you though.

[2019-03-25 22:14] ericsoderberghp commented on #2216
I think what I'm trying to say is that `<Button href="" />` is an `<a />` DOM element, so from that standpoint, it is an "anchor". Because of that, we had said that the `Button` component was to be used to drive visual styling to look "button-ish", which I tend to think of as how `active` would be used. The `Anchor` component was to be used for inline text contexts, such as anchors in markdown. Pe

[2019-03-25 22:41] ShimiSun commented on #2959
Thanks for filing the issue! we fixed the storybook example, and thanks again for the grommet-site PR. 🎉

[2019-03-26 03:21] MindyKeith opened #2979 "Test"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2019-03-26 03:21] #2979 closed

[2019-03-26 04:22] atanasster commented on #2976
Great to see some thiught given finally to take out react-desc. It has been truly a problem for code completion, debugging and overall complexity.

I agree the propTypes should be in the component file and remove the complexities introduced with doc.js files because of react-desc once and for all.

However i suggest completely removing react-desc - not just for prop types, but also for documenting

[2019-03-26 17:09] ShimiSun commented on #2864
@Ranguro looks like it is fixed, can you confirm closing the issue?

[2019-03-26 21:04] oorestisime commented on #2961
Another solution would be to store initial options in the state something like:

[code]

and then calculate the selected with regards to that

[2019-03-27 03:23] ShimiSun commented on #2978
@oorestisime working on a PR now, I was thinking a simple `yarn build` on a cloned repo with the newly released version should be enough. what did you have in mind?

[2019-03-27 03:30] bytewoopy commented on #2856
I was looking for a similar behaviour to make a calendar type system. I was hoping this was already possible.

[2019-03-27 07:47] oorestisime commented on #2978
Well i hope once we get monorepo we build all the patterns in every PR or every master push to netlify. but yes probably linking the release in a cloned repo could be enough now.

[2019-03-27 10:08] nikitavoloboev opened #2980 "RangeInput: Add support to add ticks at intervals with optional titles"
### Expected Behavior

New prop to [RangeInput](https://v2.grommet.io/rangeinput) that would allow to add ticks at certain intervals inside the input slider with optional labels.

### Actual Behavior

No such prop and thus no way to do it.

### Your Environment

- Grommet version: 2.5.5
- Browser Name and version: Safari/Chrome
- Operating System and version (desktop or mobile): macOS 10.14.3

[2019-03-27 10:17] nikitavoloboev commented on #2980
I would like to contribute to this issue in form of PR if this is something you agree on is useful too.

Currently I am trying to find another slider that accepts this use case but ideally I use Grommet's RangeInput component.

[2019-03-27 10:45] ericsoderberghp commented on #2980
A quick way to do this, which would allow a great degree of customization, would be to do something like:

[2019-03-27 13:49] nikitavoloboev commented on #2980
How can I make the ticks start correctly at the first instance of the slider?

I am not sure what I should edit from above code to do that.

[2019-03-27 16:49] cristiandley opened #2981 "FormField component prop without proper type"
FormField expects a function as a component.

### Expected Behavior

Render without issues and warnings

### Actual Behavior

Renders ok but presents warnings

[code]

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/4rrnnop2m4

### Your Environment

- Grommet version: 2.6.x
- Browser Name and version: Firefox
- Operating System and version (desktop or mobile): Mac M

[2019-03-27 18:11] ShimiSun commented on #2981
Thanks for filing the issue @cristiandley! will you be will to make an open-source contribution? https://github.com/grommet/grommet/blob/5bd6c2c41731e4b29565e867ca47c7ec315a853a/src/js/components/FormField/doc.js#L20

[2019-03-27 18:31] ShimiSun commented on #2980
@nikitavoloboev play with the initial value, e.g. https://v2.grommet.io/rangeinput?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAbwChFEIEBnKRAbQDd1cR8AaRO-KAGrtOAXUQBeRACV86aADoQfAMpR0UIgAZiAbiqIATvxAGkhfdQA8quQGtEAcxAwAJjDAOAwgAsYuF+IARLjoDIEAfBbUiJYAQnCoiMB+uIjY6AFkZIgARnBQUHCYAFyIgaiodJjsuIGIAL71iG5G0PBgQQZwAO51AFZKsMAAnkE5-N34+GB17DAOHYEQ0xoGEVHR5EwAjDwATDwAzDwALDwArCLy1diEAJIS4YiEcQmItvijZHdN6ZnZhW

[2019-03-27 23:52] krainboltgreene commented on #2641
Just FYI, it's https://npmcharts.com/compare/styled-components,emotion,@emotion/core?interval=30

[2019-03-28 00:49] alansouzati commented on #2641
Although I feel number of install is nice, I don't think it should be that important.

I've tried to [compare](https://www.youtube.com/watch?v=AqFqduEEw7A&t=19s) both emotion and styled-components, they are relatively similar in terms of performance.

emotion is in fact faster but I'm still trying to find examples where emotion significantly excels over styled-components.

Both of them don't suppo

[2019-03-28 01:00] chrischen commented on #2641
Bundle size is also much smaller: https://bundlephobia.com/result?p=@emotion/core@10.0.10 <https://bundlephobia.com/result?p=@emotion/core@10.0.10> vs https://bundlephobia.com/result?p=styled-components@4.2.0 <https://bundlephobia.com/result?p=styled-components@4.2.0>

[2019-03-28 04:09] ShimiSun commented on #2978
@oorestisime agree. eric had a nice idea that I've implemented and it didn't require cloning. let me know  what you think on the PR ☝️

[2019-03-28 04:11] ShimiSun commented on #2953
@oorestisime yep, I think you are right.

[2019-03-28 04:11] #2953 closed

[2019-03-28 06:27] hugomn commented on #2901
I have the same issue. For me, Infinite Scroll is not working in Internet Explorer. Tested with Internet Explorer 11, using this codesandbox: https://storybook.grommet.io/?path=/story/select--lots-of-options

[2019-03-28 12:14] midnightcodr opened #2983 "Why simple props like onBlur is not available on Components like TextField?"
I don't know if this is a design intention but I find it hard to believe that form components like `TextField` lack props such as `onBlur`. This is just another reason that I can't use Grommet for my projects as I am using [Formik](https://github.com/jaredpalmer/formik) to handle my forms.

Also if you try this [modified example](https://v2.grommet.io/textinput?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAo

[2019-03-28 12:40] oorestisime commented on #2983
They are available as part of the intrinsic elements of the field. We don't expose them because we don't use them. So you can use them without any problem.
I modified your example [to fix your issue with onChange](https://v2.grommet.io/textinput?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAbwChFEIEBnKRAbQDd1cR8AaRO-KAGrtOAXUQBeRACV86aADoQfAMpR0UIgHJNxANxVEAJ34hDSQgeoAeACr5UUAJJhsIKJeqI8c-AAs4uAAm+IbiAE

[2019-03-28 13:26] midnightcodr commented on #2983
Ok my bad, I actually did try `onBlur` before your comment @oorestisime  but it didn't work maybe I didn't type it right. Thanks!

[2019-03-28 13:26] #2983 closed

[2019-03-28 15:21] ShimiSun commented on #2864
it is working for me hence I'll be closing the issue. feel free to reopen if you still encounter the problem

[2019-03-28 15:21] #2864 closed

[2019-03-28 17:22] MaxMillington commented on #2926
@oorestisime I think that is a good point about the Drop. @alansouzati thoughts?

But the need for it in Menu is pretty obv/straightforward in my opinion.

[2019-03-28 20:38] rjain15 opened #2984 "Menu on Open - DropButton Icon"
When you open the Menu, the DropButton Icon is same as the MenuIcon (or Menu icon).

Code sandbox for the menu https://codesandbox.io/s/l7nyp5697 (when you have responsive behavior, and change the size to small)

Suggestion: I don't know exactly which code to change, if it is Menu.js and the DropButton component, where I can specify the Icon? If yes, I would like to submit a PR.

(https://github.c

[2019-03-28 20:54] oorestisime commented on #2984
Hello,

are you maybe looking for https://v2.grommet.io/menu#menu.icons.down ?

[2019-03-28 21:10] rjain15 commented on #2984
I don't think so, maybe I am wrong..

I have this in my code, but I want to change the icon from MenuIcon to Cross, when the menu opens up.

Where do I set the menu.icons.down, and how does this impact the behavior on Open.

          <Menu
            dropAlign={{ right: "right", top: "top" }}
            icon={<MenuIcon/>}
            items={[
              { label: "Activity", href: "#" },

[2019-03-28 21:32] oorestisime commented on #2984
You set this in the theme. Have a look at this codesandbox https://codesandbox.io/s/216vvpmlqj and specifically the way it overrides the theme (the theme.js file)

[2019-03-29 01:11] mrebb commented on #2656
@ShimiSun One possible solution to avoid overflow on Firefox could be `table-layout: fixed` along with `width:inherit`. This fixes the overflow issue but keeps each cell width same across table.

[2019-03-29 01:22] mrebb commented on #2656
Here is the final solution and this should fix the problem on FF:
[code]

[2019-03-29 01:46] ShimiSun commented on #2656
@mrebb sounds like a PR is coming! 🎉
I also liked the example @Ganevru suggested, we should consider to leverage it for storybook's regression testings.

[2019-03-29 02:34] ShimiSun commented on #2984
@rjain15 I agree with @oorestisime that the icon is controlled by the theme, I added to the theme.js file the following:
[code]
so the menu will show the '+' icon instead of the usual menu down icon. https://codesandbox.io/s/rjx8lpw09q

If I understand right, you are also requesting that the icon will be switched when closed vs open? this functionality currently doesn't exist and sounds like a fun

[2019-03-29 18:49] #2978 closed

[2019-03-30 15:42] oorestisime commented on #2877
@MikeWalrath maybe to discuss this at some point, i think it might be a good idea to expose the Overlay as a component. So that people could use it and for this case combine the drop with the overlay to reach the desired UI instead of changing the way layer works to support more positions.

[2019-03-31 18:04] #2937 closed

[2019-03-31 21:56] oorestisime commented on #2712
Closing this. from some tests it adds a lot of overhead. visual testing is more needed.

[2019-03-31 21:56] #2712 closed

[2019-04-01 16:44] italomlp opened #2991 "Could we port Grommet to React Native using primitives?"
### Expected Behavior

Hi there! I'm thinking in last days about to port Grommet to work on React Native too. Searching in the google, I found a way that can be used.
- Grommet uses styled-components :heavy_check_mark: (half way over)
- What I would do (or someone else interested in it), is to adapt Grommet to use `styled-components/primitives` and `react-primitives`, so having universal and reusa

[2019-04-01 18:54] oorestisime commented on #2991
Hello,

This is an interesting use case. I am not familiar with RN nor with the burden that would require to support this. I am wondering how things like Layer would work. Is there a chance you could list some actionable items on what needs to be done? Seems quite vague to me and some questions i have in mind are:

- are all the css props valid in RN?
- how about the react api and react hooks. wou

[2019-04-01 20:34] italomlp commented on #2991
Well, let's see. About Layer component, I think that it can be ported, but with more manually work. About de questions:
- React Native has Stylesheet to use most of the css properties, but with lowerCamelCase. Luckily, styled-components for RN already has a parser ([css-to-react-native](https://github.com/styled-components/css-to-react-native)) to avoid it.
- Beginning in RN 0.59.x, React Hooks ar

[2019-04-01 22:23] ericsoderberghp commented on #2991
Back in v1, we created an initial native version of grommet in the `grommet-native` repository and built a few apps with it. Back then, there were enough differences in how the components would be composed, with interaction being separate react-native components from visual  structure components, that except for extremely simple cases, it would be unlikely to build a single grommet based app that

[2019-04-01 23:06] italomlp commented on #2991
I think that it's possible.

Buuuuut... Some minutes ago, I got me thinking of instead of to readapt/port all Grommet for work with RN. we could use an already RN Ui framework that accepts theming, and only "inject" Grommet styles (or most of them) with a theme on it. An example is [NativeBase](https://github.com/GeekyAnts/NativeBase), where we can change colors and styles of its components.

This

[2019-04-02 03:43] taleschaves opened #2993 "Can't remove margin from EdgeControl of the RangeSelector component"
Can't remove margin from EdgeControl of the RangeSelector component

### Expected Behavior
A way (either through theme or prop) to fully customize the edge controls of the range input

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/3v0kmv31v6

### Steps to Reproduce
Inspect controls of the range selector from the code sandbox above and check that there's a margin ap

[2019-04-02 13:51] mrebb commented on #2991
There are certain differences when it comes to React Native and React. Crucial part is playing around DOM elements since there is no DOM/HTML support on mobile. I am sure there would be lot of tweaks and re-writing of code required to make it work for both React and RN. Most styled components from `Grommet` need special handling to deal with some of the DOM elements that RN doesn't support, like `

[2019-04-03 04:10] 2manoj1 opened #2994 "With Mouse wheel Select search component not auto adjusted with viewport, user not able view list"
- When form come with scrollbar if user open Select component at edge of window, user cant see list after scroll with mouse wheel.

### Expected Behavior

- should close the select options or re-render with new height

### Actual Behavior
- Not re-render select options after mouse wheel scroll.
- User not able to view the options.

### URL, screen shot, or Codepen exhibiting the issue
- Open Selec

[2019-04-03 04:30] italomlp commented on #2991
Of course, there are many differences between web and native. What I told is maybe react primitives and styled-components/primitives be a way to make it works.

However, like I said in the last comment, I was thinking about make a "theme", with colors, spacements and more details that can be made, for NativeBase.

[2019-04-03 12:17] ShimiSun commented on #2994
can you please help out with a sandbox example or a markup for reproducing the problem?

[2019-04-03 20:54] joehandzik opened #2997 "Support onMouseOver,onMouseOut event in Select component"
I'm porting a React application from React Semantic UI to Grommet, and one stumbling block I've encountered is to find something analogous to React Semantic UI's [Popup component](https://react.semantic-ui.com/modules/popup/). In an attempt to emulate that, I found [this](https://storybook.grommet.io/?path=/story/drop--tooltip) Storybook entry, which relies on the onMouseOver and onMouseOut events

[2019-04-03 21:46] oorestisime commented on #2997
Hello,

I haven't tested this but generally speaking we forward all the events to the component. This is why we are not documenting these props.
I don't think grommet will provide a component for tooltips since those kind of components tend to be quite opinionated.
Where are you trying to add the tooltip? I mean is it on mouse over of an option or the select itself? And when you say no luck with S

[2019-04-03 21:55] joehandzik commented on #2997
@oorestisime That makes sense, and is good to know going forward. I'm not to the point of actually adding the tooltip, I just added a method for onMouseOver to echo some text into the browser console when the event method gets called. I was seeing events on on InputText component but not on my Select component.

[2019-04-03 22:02] atanasster commented on #2997
Not directly related to this topic, but I would suggest to not use statements like:
"I don't think grommet will provide a component for XXX since those kind of components tend to be quite opinionated. Instead we will provide usage templates that do XXX", where XXX is Tooltip (promised by Alan a year ago), Header, Sidebar, Toolbar and a few other components that are part of most other react UI libr

[2019-04-03 22:29] oorestisime commented on #2997
Well i stated my personal opinion not anybody else and i don't see why i shouldn't say my opinion! Didn't mean to sound like it was the team's opinion sorry if it sounded like this. Not talking about other components but tooltip for me is quite opinionated and almost always you end up customizing the look of it. If the idea is to provide a tooltip which just adds a drop I personally think it is of

[2019-04-03 22:55] atanasster commented on #2997
Strangely enough, its word for word a repeat of someone else’s ‘opinion’ since v2 development started 2 years ago. This message here is just the last in a series that i saw repeating this same ‘opinion’ in the last month or so about various component requests.

Its the word ‘opinionated’ that makes me cringe - it does not have any definition and is purely speculative - a way of looking like some o

[2019-04-03 23:03] oorestisime commented on #2997
My experience with tooltips from other libraries is that i tend to heavily modifying them, and its almost always more painful to modify than probably start one from scratch. i am no native english to know but i understand that this is the definition of opinionated. I don't say it should not be part of any UI library. I guess that for libraries that follow specific designs then it probably makes se

[2019-04-03 23:12] atanasster commented on #2997
Tooltip definitely does not fit your definition.

grommet v1 does have a Tooltip component and you can check how many requests there had been for any style change/modifications.

Or requests for ‘heavily modifications’ in any other librray’s Tooltip component.

Slack is fine to continue the discussion (tag me as i am not following as much) - feel free to  show me your own ‘heavily modified’ versio

[2019-04-04 04:23] 2manoj1 commented on #2994
@ShimiSun https://codesandbox.io/s/vnzr231185 for  above issue

[2019-04-05 02:31] #2656 closed

[2019-04-05 06:00] 2manoj1 opened #2999 "Need a help to implement Select options component to load pagination api data"
How load a pagination data in Select options?

### Your Environment

- Grommet version: 2.4.0
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2019-04-05 06:11] oorestisime commented on #2999
Hello,

please provide some more information with the issue you are facing this is too broad.where do you have your data, did you try sometihng and you are facing an error?

[2019-04-05 06:14] 2manoj1 commented on #2999
For Example: In Select component we need load 50 options in initially after scroll reach end we again call API and load another 50 options.

[2019-04-05 13:30] shivamsingha commented on #2999
Here's an example.
https://storybook.grommet.io/?path=/story/infinitescroll--onmore

This one doesn't use api. You'll have to implement it yourself in the `onMore` function.

[2019-04-05 19:32] jamstooks opened #3000 "Calendar date doesn't seem to match prop"
Providing dates to and receiving dates from seem to be one day off.

### Expected Behavior

Providing `"2019-04-05"` should highlight the 5th of April.

### Actual Behavior

It highlights the 4th of April. Incidentally, it works fine for `2019-04-05T12:00:00.000Z` but not for `2019-04-05T01:00:00.000Z` which makes me think there might be some sort of timezone issue.

### URL, screen shot, or Codep

[2019-04-05 21:11] ShimiSun commented on #3000
I think the date you chose is missing the timezone offset, I didn't take a deep look into it yet, but try to have a look at this example where it does work https://codesandbox.io/s/k5pp0r3y2v, and let me know what you think. (make sure you are using grommet ^2.6.5 as it includes bug fixes for this component, please note that I've updated sandbox on my fork)

[2019-04-05 23:09] JustMaier commented on #576
Here's a quick and dirty `NavLink` replacement that uses `Anchor` and exposes an `activeColor` property:

[code]

[2019-04-06 03:03] spencerkordecki commented on #2794
@atanasster I did some digging into this and the first margin property is being set from the `${genericStyles}` call in `StyledText.js` which means that any margins set on the text property are going through both `${genericStyles}` and `marginStyle()` in `StyledText.js`. The call to `${genericStyles}` utilizes `edgeStyle` so there wouldn't need to be logic added to `StyledText.js`

I've taken out

[2019-04-06 06:13] resdevd commented on #2981
I had the same console error, however looks like using like this is getting rid of error.

`   <FormField
                            label="Comment"
                            name="comment"
                            component={()=><TextArea rows="6"/>}
                        />`

[2019-04-06 15:48] luvsharma19 opened #3003 "Design Enhancement - Changed the order of add and subtract button on the date time widget for complete aesthetic and user centered design reason"
The add button is currently positioned at the bottom of the date time select input and the subtract button is positioned at its top.
### Expected Behavior
The add button should be positioned at the top of the date time select input and the subtract button at its bottom for complete aesthetic and user centered design reason. An end user generally expects an add button positioned on the top of the d

[2019-04-06 15:51] luvsharma19 commented on #3003
@alansouzati  @ShimiSun @oorestisime @ericsoderberghp  The below PR is the fix for this issue. Kindly have a look. Thanks!
https://github.com/grommet/grommet/pull/3002

[2019-04-06 21:26] atanasster commented on #2794
@spencerkordecki fantastic - that's what I had in mind indeed

[2019-04-07 13:31] oorestisime commented on #2794
@spencerkordecki yes go ahead open the PR :)

[2019-04-07 16:23] spencerkordecki commented on #2794
@oorestisime @atanasster PR opened, let me know if there's anything that needs to be changed.

[2019-04-08 06:29] 2manoj1 commented on #2999
@shivamsingha in Select component need it. Can you give me small example with Select where options list will load with infinitescroll

[2019-04-08 12:40] berndschimmer opened #3005 "Please add selected prop to radio button extend"
Please add the selected state to the radio button extend field (as the checked state is in the checkbox).

### Expected Behavior

[code]
Should render the label of the radio button in red.

### Actual Behavior

```${selected} ```
is undefined.

### All Environments

- Grommet version: 2.6.5

[2019-04-08 14:35] jamstooks commented on #3000
Strange, I'm still seeing the same result with your fork: :confused:

![Screenshot from 2019-04-08 07-32-57](https://user-images.githubusercontent.com/585436/55732334-a8b4c680-59d0-11e9-8dbf-67f70b7929e4.png)

I clicked the 11th, but the date was set to 12th...

[2019-04-08 14:42] srallen opened #3006 "DataTable accessibility breaks when size prop is defined"
### Expected Behavior
VoiceOver should be able to read out all of the columns and rows of the table.

### Actual Behavior
When the size prop on the DataTable component is defined, VoiceOver no longer reads out the rows:

<img width="658" alt="Screen Shot 2019-04-08 at 3 39 31 PM" src="https://user-images.githubusercontent.com/5016731/55732826-8e9cd780-5a14-11e9-9697-51678adc24f3.png">

You can see

[2019-04-09 05:18] 2manoj1 opened #3008 "drop down Menu auto dropAlign according to screen position"
In Menu default list come at bottom position if scroll-able screen is reached to window screen then automatically list should display at top.
Also change automatically when the user scrolls or resizes window.

Currently we have dropAlign props to set the position of Menu but how I decide to set drop Align when Menu in scrollable list and scrollable list dynamic nature.

### Expected Behavior

- If

[2019-04-09 07:14] oorestisime commented on #3008
Onopen callback seems to be a nice addition for menu

[2019-04-09 15:22] shivamsingha commented on #2999
Sorry my bad!
I'm not sure if it's possible with select.

[2019-04-09 17:46] dallas opened #3009 "Feature request: Can we get HSL color parsing?"
I use `hsl(…)` colors extensively in my theming but doing so means that they are currently not properly calculated as being “dark”.

### Expected Behavior

I would expect that if I have a `global.colors.text` of `{ light: "black", dark: "white" }` and a primary button background color of `hsl(100, 3%, 18%)`, that it would have white text.

### Actual Behavior

It has black text because there is cu

[2019-04-09 18:50] dallas commented on #3009
I’d be happy to try my hand at contributing something for this, although I’m eyeing the use of tools like [`color-string`](https://www.npmjs.com/package/color-string) (to convert CSS string notation to something JavaScript can use) and [`color-convert`](https://www.npmjs.com/package/color-convert) to do the actual conversion from whatever it is to RGB. Would such dependencies be welcomed?

[2019-04-09 18:58] oorestisime commented on #3009
Hello and thanks for jumping up on this.
Bundlephobia says:

- https://bundlephobia.com/result?p=color-convert@2.0.0
- https://bundlephobia.com/result?p=color-string@1.5.3

which equals to around 7kb minified and gzipped which is around 10% of the current size.
Is there a chance we could enable this as per user requested feature?

[2019-04-09 20:56] dallas commented on #3009
@oorestisime:
Ahh, yeah … probably not a worthwhile expense for incorporating those libraries, then.

What would it mean to have it be enabled as a per user requested feature?

[2019-04-09 20:59] dallas commented on #3009
What if we just add the piece we need to go from HSL to RGB?

https://github.com/kayellpeee/hsl_rgb_converter/blob/master/converter.js

[2019-04-09 21:04] oorestisime commented on #3009
lets wait a bit to hear from the rest of the team! didn't mean to say no we shouldn't add these libraries.
Not sure if this is possible but to structure the code in a way if the user installs those libraries then to make use of it, otherwise just keep current flow. I am not sure if this is possible though.
For example in python i would do :

[code]

i haven't explroed these in JS, so this is just

[2019-04-09 21:12] dallas commented on #3009
Could be like a configurable provider of sorts with the default just being the simple hex & rgb only code that is currently there. Even if all that the provided library needed to adhere to was `convertToRGB(...args)`.

Although, I was kind of curious about the actual threshold for what is considered light vs. dark. I don’t know how much configuration Grommet wants to have, but it might be nice to

[2019-04-09 21:46] dallas opened #3010 "Minor repo documentation edits"
Not much of an issue, per se, but while reading through some of the GitHub repo documentation I noticed a few typos, awkward phrasings, inconsistent capitalizations of things like “Grommet” or “GitHub.” I’m just wondering if I spruce it up as I read along and make a pull request at the end, would that be useful and worthwhile? It’s really little things, but I’m the kind of person that likes to tid

[2019-04-09 21:53] oorestisime commented on #3010
Yes feel free to help us improve documentation even for typos! :)

[2019-04-09 21:58] dallas commented on #3010
Cool. Thanks for getting back so quick (again), @oorestisime! I noticed that the Slack community is mentioned quite a bit in the `CONTRIBUTING.md` file. Would you like those to be links to someplace where people can actually join that Slack workspace?

[2019-04-09 22:06] oorestisime commented on #3010
Hm, there's the join the community slack badge on `README.md`. do you think we need to link on every mention? no opinion on the matter.

[2019-04-09 22:06] dallas commented on #3010
Probably not… It just feels like there are a lot of calls-to-action to join the Slack community on this page and no instructions on how to do so.

[2019-04-10 11:30] #2794 closed

[2019-04-10 16:15] ShimiSun commented on #3010
@dallas I agree with your last comment, feel free to add it where you believe is helpful.

[2019-04-10 18:19] mrebb commented on #2918
@Resalith added an example story to cover this scenario as part of PR #3012 . I spent time almost fixing it using a different approach but later realized that example provided in code sandbox is actually causing the issue. Please take a look at #3012 for example and let me know if you still see the issue. Creating dropContent inside render function is causing component to remount and loosing focus

[2019-04-10 18:59] jamstooks commented on #3000
Since the `Calendar` returns a naive date string, I guess it's really on the user to handle it correctly.

If `onSelect` returns `'2019-04-11'` for example, regular parsing with javascript behaves like this (in my timezone):

[code]

It would be nice if `onSelect` could return a localized `Date`, but given issues like this with `Date` I don't blame you. I'll just work around it...

[2019-04-10 20:47] austencm opened #3013 "Improve icon search on icons.grommet.io"
This is nit-picky and low priority but I wanted to put it on the radar at least! Thank you for the awesome framework.

### Expected Behavior

When typing something like "view" in the search box I would expect the results to include all icons that have "view" in their name. For instance:

- FormViewHide
- FormView
- View
- Overview
- StreetView

Additionally—and it seems like this has been implemen

[2019-04-10 20:49] austencm commented on #3013
Just realized there's a separate repo for icons! Will move this there.

[2019-04-10 20:49] #3013 closed

[2019-04-11 04:45] josiahdahl commented on #2699
@ShimiSun @mirshko I ran into this issue today and found the explanation in an issue in the `styled-components` repo. https://github.com/styled-components/styled-components/issues/1981#issuecomment-419287003

Here's the diagram from that issue
[code]
The way the `Box` component is rendered follows the second path, which I've simplified below, as well as a minimal example to replicate the issue.

[

[2019-04-11 06:40] luvsharma19 commented on #3003
@ShimiSun  Hi! any update on this? Thank you!

[2019-04-11 13:00] srallen opened #3015 "Make the gap between Button's icon and label configurable"
### Expected Behavior
Add support in the theme and as a prop to set the gap size between the Button component's icon and label

### Actual Behavior
The gap size between the icon and label is set and non-configurable.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3. N/A

### Your Environment

- Grommet version: 2.5.5
- Browser Name and version:
- Operating Sy

[2019-04-11 21:20] MaxMillington opened #3017 "Select button breaks if html suppllied to `icon` prop"
Currently, there is an icon prop that you can supply to the `<Select />` component to provide a custom icon instead of the normal arrow. However, if you provide an html element instead of a grommet icon, the component fi

What should happen is that grommet should render anything I provide in the icon prop. I have a design requirement like so, and I want to just provide a custom built circle to sat

[2019-04-11 23:15] RohitoOo commented on #1496
Is anyone able to get Toast Messages working for v2.grommet ? The v1 .grommet has it working fine but the v2 does not have this functionality.

[2019-04-11 23:19] oorestisime commented on #1496
Here's a pattern for toasts notifications popovers https://codesandbox.io/s/9jpz0z2ym4

[2019-04-12 00:02] RohitoOo commented on #1496
@oorestisime Thanks for your Quick Response. I was able to use v2.grommet's <Layer/> component to fulfil the requirement of the notification.

[2019-04-12 00:20] dallas commented on #2045
Just as an update, it looks like `justify-self` now has roughly the same browser compatibility support as `align-self` has:

`justify-self` support: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-self#Browser_compatibility

`align-self` support: https://developer.mozilla.org/en-US/docs/Web/CSS/align-self#Browser_compatibility

[2019-04-12 00:36] dallas commented on #2045
Hmm … might need to consider beefing up the support for `align-self` as well, actually. Looking at all of the [different values & situations](https://developer.mozilla.org/en-US/docs/Web/CSS/align-self#Syntax) it should allow for vs. the [quite limited values](https://github.com/grommet/grommet/blob/master/src/js/utils/styles.js#L238) that Grommet currently allows for. I’m not sure how to fix it,

[2019-04-12 03:28] ShimiSun commented on #2918
Thank you for the collaboration guys! @mrebb thanks for taking a look and resolving it

[2019-04-12 03:28] #2918 closed

[2019-04-12 03:52] ShimiSun commented on #3017
I like the generic approach, I'll take a look at it.

[2019-04-12 18:24] alansouzati commented on #2971
i don't think we intended to add `global.icon` in the first place. it is a problem in the README. the right property is `theme.icon`.

[2019-04-13 08:36] papswell commented on #2870
Hi there,

I think i have the exact same issue, using the `<Link />`from react-router.
Here is the exact markup i use :
[code]

Everything works, as the link is displayed as a box, and the routing is correct. But there are warnings about invalid props for DOM element, as shown below :
[code]

Props that react complains about are :
- directionProp
- elevationProp
- fillProp
- overflowProp
- wrapPro

[2019-04-14 23:02] oorestisime commented on #3000
Closing this, feel free to reopen if you think there's any improvement we could do.

[2019-04-14 23:02] #3000 closed

[2019-04-14 23:03] oorestisime commented on #2999
I am not sure how this would work. how can we know what is selected when the options are not all there yet?
having a hard time seeing the use case

[2019-04-14 23:07] oorestisime commented on #2973
I ve been thinking about this a bit. not sure this should be supported on the core library. there are so many ways of doing this (handle re-clicking, adding a checkbox, adding a close icon, adding an empty...) it will end up not being generic enough.
We could have an example with a few ways of doing this though.

[2019-04-16 00:22] milanvdm opened #3021 "Parcel's tree-shaking breaks when using Grommet"
I made a simple repo to reproduce this behaviour: https://github.com/milanvdm/parcel-grommet

When you run `yarn run build` which is set to `parcel build ./public/index.html --experimental-scope-hoisting` it will throw the following exception:

[code]

[2019-04-16 04:16] #3010 closed

[2019-04-16 12:23] bowdeng opened #3022 "Box background opacity property incorrectly reports numbers as bad input"
When using the background property in <Box> and setting an opacity to something other than what is described in the docs "weak", "medium", "strong" or True, the javascript console reports:

Warning: Failed prop type: Invalid prop `background` supplied to `Box`.

However, it works fine and would be more appropriate to accept the value without complaining. The validation and the docs will need updat

[2019-04-16 14:45] ShimiSun commented on #3022
source https://codesandbox.io/s/xz9xjlq3kw

[2019-04-16 16:40] shivamsingha commented on #2999
How about loading all options at once?

[2019-04-16 16:58] oorestisime commented on #2999
then you can handle this at a higher level. like getting them in one of the lifecycle method.

[2019-04-16 17:47] #3022 closed

[2019-04-16 23:07] ShimiSun commented on #2754
@atanasster loved the flexbox simulator, thanks!

[2019-04-16 23:07] #2754 closed

[2019-04-17 05:10] 2manoj1 commented on #2999
@shivamsingha for performance related issue we cant load all at once. API not providing all data.

[2019-04-17 21:32] ShimiSun commented on #2999
@2manoj1
Select includes out of the box InfiniteScroll, you can see the implementation of SelectContainer here https://github.com/grommet/grommet/blob/390c3862bb2b43711534318273ecf832b63770cc/src/js/components/Select/SelectContainer.js#L393
Have you tried leveraging the `theme.select.step` to determine how many items to render at a time?
I suggest playing with InfiniteScroll and after getting it d

[2019-04-18 13:48] LucianBuzzo opened #3030 "An Icon only button doesn't have a border"
### Expected Behavior

The `<Button>` component should have a border if an the `icon` property is used and the `label` and `children` are not present. I would expect the border to be gone only if I have used the `plain` property.

### Actual Behavior

If only the `icon` property is used, the button will have no border, and the border radius from the theme is not applied. The exception to this is i

[2019-04-18 13:52] LucianBuzzo commented on #3030
It seems that this behaviour comes from https://github.com/grommet/grommet/blob/master/src/js/components/Button/Button.js#L134 which treats icon-only buttons as a `plain` by default.

[2019-04-18 17:57] guschnwg opened #3031 "Label color to plain button"
When I want a `plain` <Button />, I would like to choose the label color based on Button's `color` property, as it does nothing when Button is `plain`

### Expected Behavior

`color` property's value must set css's `color` property to the given button

### Actual Behavior

Actual Button's `color` property for a `plain` Button does nothing.

Behaviour can be seen at: https://codesandbox.io/embed/py

[2019-04-18 18:46] alansouzati commented on #3017
I think there is a use case to render a custom box that mimics an icon. I sent a pr that allows for that (changing the proptypes for Select). I've changed this issue back to an enhancement since `icon={<div>hey</div>}` is an invalid prop for icon.

FWIW, in your case I would still do `<Select icon={false} />` and render the badge inside the select value. In your case I don't believe you want to re

[2019-04-18 18:55] #2962 closed

[2019-04-18 21:03] #3017 closed

[2019-04-18 23:41] oorestisime opened #3035 "Suggestion: Always fire onMore when reaching scroll end"
Right now there's a lot of confusion around when the onMore is fired with regards to steps.
This also creates a few issues:

- a total of 50 items with a step of 25. We load first 25 and then the rest of 50. but as soon as we reach the end we don't get to really load data from server
- we render 25 items and scroll to the end. user gives onMore callback but it never gets fired even if you set the

[2019-04-19 02:58] ShimiSun commented on #2994
Also reproducible on storybook https://storybook.grommet.io/?path=/story/form--all
![Screen Shot 2019-04-18 at 8 58 06 PM](https://user-images.githubusercontent.com/6320236/56402962-afd3a400-621c-11e9-90f4-2beec7cb9a24.png)

[2019-04-19 03:15] ShimiSun commented on #2994
Thank you for the collaboration! Fix will be available on our next release.

[2019-04-19 14:06] dgennetten commented on #2661
@lozzi @yuriyKovalchuk  What is needed here is more generic -- and I believe warrants a new prop.  The idea is to not hide groups where there is only one element.

That is, for this table ('Simple DataTable' in Storybook):
![image](https://user-images.githubusercontent.com/3402646/56427552-8f860280-6279-11e9-8a4d-c41cd2106209.png)

Rather than this collapsed view:
![image](https://user-images.gith

[2019-04-19 16:09] dallas commented on #3009
@oorestisime: How about using [`tinycolor2`](https://github.com/bgrins/TinyColor) instead. It’s [only 5kb](https://bundlephobia.com/result?p=tinycolor2@1.4.1) and would also provide the ability to brighten, lighten/darken, (de)saturate, as well as asking if a color `isLight()` or `isDark()`, something that the Grommet code in question is already doing.

[2019-04-19 16:15] dallas commented on #3009
Looks like `tinycolor2` uses the exact same formula for calculating a color’s brightness, the main difference is that it considers a value `< 128` as dark, while the current Grommet code considers a value `< 125` as dark.

[2019-04-20 02:21] binkymilk opened #3037 "Font-family on global theme does not apply on input"
Setting the font-family on the global theme does not affect the font-family for the input elements.

### Expected Behavior

Setting the font-family on the global theme should affect all components.

### Actual Behavior

Here's a demonstration on the current behavior: https://codesandbox.io/embed/jjl10q2749
Changing the font-size works across all components, but the font-family doesn't. As a workar

[2019-04-20 08:25] oorestisime commented on #3009
@ericsoderberghp @alansouzati would love your input here as well.

[2019-04-21 09:17] faizi23 opened #3038 "grommet not working properly with IE 11 browser"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2019-04-21 10:02] #3038 closed

[2019-04-21 12:48] atoy40 commented on #2855
I'm new to grommet, but what i've coded to replace the deprecated component is this :

[code]

[2019-04-22 02:26] ShimiSun commented on #2855
@atoy40 thanks for sharing with the community!
Feel free to check how we replaced RoutedButton in the following pattern https://codesandbox.io/s/216vvpmlqj
and of course feel free to share a pattern yourself, we'd love more live examples :)

[2019-04-22 02:30] #2958 closed

[2019-04-22 02:45] ShimiSun commented on #1496
@RohitoOo feel free to share with us the example/codesandbox, I bet it will help more on the community.

[2019-04-22 02:56] ShimiSun commented on #2699
@josiahdahl Thank you for diving deep on this one, this is great info, and will help us get to the next step.
Moving the label to 'discussion', so we can discuss in the team whether we would like to make the effort of supporting the current behavior on our codebase.

[2019-04-22 03:06] ShimiSun commented on #3008
Since Menu uses DropButton, and I think you already filed a similar issue of Select #2994 that is also using DropButton and was fixed on [PR](https://github.com/grommet/grommet/pull/3028). I suspect we can close this issue, would you like to verify? @mrebb I think you can also contribute to the conversation :)

[2019-04-22 03:26] ShimiSun commented on #2661
Just to make a side note, I published this issue on grommet-slack, Thursday, April 4th and we didn't receive any additional feedback or votes on this issue. https://grommet.slack.com/archives/C04LMHN59/p1554433031094300

[2019-04-22 06:00] 2manoj1 commented on #2999
@ShimiSun I am not find any callback function from where I trigger API call and update the options data. Current implementations of Select provide load all options at a time and play with step. Is it possible providing callback function when 'ismore' or similar type props value true and options reach current length.

[2019-04-22 06:30] 2manoj1 commented on #3008
@ShimiSun After Next release I will test and update the ticket otherwise provide the environment where will test  below codesandbox. https://codesandbox.io/s/llq6x53x99

[2019-04-22 07:16] oorestisime commented on #3035
I think i found out my implementation was wrong.
When using hooks, useState and pushing data in an array you need to make sure the setArray is working properly. Something like:

[code]

hope this helps somebody else. closing the issue

[2019-04-22 07:16] #3035 closed

[2019-04-22 11:16] atoy40 commented on #2855
@ShimiSun looks very similar using the withRouter() HOC :) very cool sample apps to learn grommet btw 👍

[2019-04-22 11:37] mrebb commented on #3008
@2manoj1,  as @ShimiSun mentioned this should be automatically resolved as part of [PR](https://github.com/grommet/grommet/pull/3028) since both Select and Menu use DropButton. You can pull `master` branch and test locally if you plan to test before next release.

[2019-04-22 22:43] #2981 closed

[2019-04-22 22:53] ShimiSun commented on #2981
Thanks for reporting! I moved your sandbox example to include typescript so it will be easier to notice issues. https://github.com/grommet/grommet/pull/3041, you can leverage this sandbox template for future TS issues that you'd like to report.

Thanks to your example, I noticed an issue with the types of Heading levels, hence fixed as well
https://github.com/grommet/grommet/pull/3041

[2019-04-23 05:53] 2manoj1 commented on #3008
@mrebb @ShimiSun Tested this in locally with latest master branch and update the storybook with my example, I got below result
![image](https://user-images.githubusercontent.com/15128569/56557728-d6496480-65b9-11e9-8f80-b081fef15704.png)

Look like this issue not fixed.

- Below file contains example of list with Menu
[menu.stories.js.zip](https://github.com/grommet/grommet/files/3106015/menu.stor

[2019-04-23 07:02] 2manoj1 commented on #2994
@ShimiSun @mrebb I am not able to test this in storybook
![image](https://user-images.githubusercontent.com/15128569/56560908-53c5a280-65c3-11e9-8a67-901a6009d5dc.png)

Also trying to test in local storybook but error occur with below component (Select imported from grommet)
`<FormField
            label="dummy6"
            name="dummy6"
            component={Select}
            options={["small

[2019-04-23 07:48] mrebb commented on #3008
@2manoj1 Here is the [video](http://recordit.co/5mhwlbyd8p) and I don't see the issue with same example. Do you see the below code as part of DropContainer.js?

[2019-04-23 09:57] mrebb commented on #2994
Looks like this is an existing issue on production. Let me log a issue for this.

<img width="831" alt="Screen Shot 2019-04-23 at 3 25 04 PM" src="https://user-images.githubusercontent.com/24405156/56572120-099ceb00-65dc-11e9-95c1-4382311e12ec.png">

[2019-04-23 10:27] mrebb opened #3043 "Form story is not working"
Form story is broken and shows error.

### Expected Behavior
Should show the form without any errors.

### Actual Behavior
Error: Cannot read property 'map' of undefined

### URL, screen shot, or Codepen exhibiting the issue
<img width="831" alt="Screen Shot 2019-04-23 at 3 25 04 PM" src="https://user-images.githubusercontent.com/24405156/56573864-9d23eb00-65df-11e9-8aa5-6495b1e3bf03.png">

### St

[2019-04-23 10:40] 2manoj1 commented on #3008
@mrebb this is correct, this issue was different. see at end of scroll or check the last list item, open the menu its not auto adjusted, no space in below so I want auto flip the menu to top.

I take latest master branch code and run storybook with my example.

[2019-04-23 10:55] mrebb commented on #3043
Figured out that PR #3034 changed the way formField is rendered.

[2019-04-23 12:33] pawelsas opened #3044 "ResponsiveContext doesn't work with Gatsby SSR"
I know this issue looks like a duplicate, but #2311 differs from this bug.

Steps to reproduce:

1. Install a Gatsby starter of your choice (default is fine)
2. Add Grommet and wrap the root file, e.g. index.js or layout.js (theme doesn't matter)
3. Add `ResponsiveContext.Consumer`
4. Print the current `size` to the screen
5. Run `npm run develop` and resize the screen. Like expected the `size` va

[2019-04-23 12:38] oorestisime commented on #3044
Do you have gatsby-plugin-styled-components installed?

[2019-04-23 12:47] pawelsas commented on #3044
Yes, current version.

[2019-04-23 12:49] oorestisime commented on #3044
And i guess you have it in the gatsby config? this is a weird error, i have multiple gatsby sites and haven't run into this issue just yet. any chance you could provide a full fledged reproduction?

[2019-04-23 13:05] pawelsas commented on #3044
I'm new to Gatsby and Grommet so this is likely my fault but I have no clue what is wrong. A weird thing I noticed: when I run `npm run serve` it works as well.

I'm going to create an example repo.

[2019-04-23 13:06] oorestisime commented on #3044
My guess is that you don't have `gatsby-plugin-styled-components` in your `gatsby-config.js` file. if you have a repo i could take a look

[2019-04-23 13:12] pawelsas commented on #3044
Here we go: https://github.com/pawelsas/gatsby-grommet-example

[2019-04-23 14:08] pawelsas commented on #3044
@oorestisime I've cloned your gatsby-source-instagram project. It looks like I have the same issue with your project. ResponsiveContext and media are not working in build.

I'm really confused right now...

[2019-04-23 14:14] oorestisime commented on #3044
sorry i haven't had time to check this out yet. but jsut to be on the same page. During ssr it will always be medium. as soon as the page is loaded then it will change. the medium is just the default there. does this make sense?
Here https://gatsby-src-instagram.netlify.com/ you can see the builded version and play with responsive design mode.

[2019-04-23 14:22] pawelsas commented on #3044
Yeah, but in my case it's always 'medium'. Maybe I miss something? After building I just open the index.html from public folder in my browser?!

[2019-04-23 14:57] pawelsas commented on #3044
Please forget the example Repo. It had another issue.
I will upload the actual project ASAP.

[2019-04-23 16:12] dallas opened #3046 "Should Box gap use the same tag as its parent Box?"
### Expected Behavior

I would expect the gap elements within a `Box` component to have the same tag as the `Box` itself (e.g. `<Box as="span" gap="small">…</Box>` would also use `<span>` for each of the gaps).

### Actual Behavior

Instead, `Box` gaps are always `div` elements. This isn’t normally an issue, but since an `Anchor` with an icon uses an `"inline-flex"` `Box` component with a gap, it

[2019-04-23 16:15] dallas commented on #3030
Hey, @LucianBuzzo, I think this behavior is by design. Check out [these stories](https://storybook.grommet.io/?path=/story/button--icon-plain) from the official Grommet Storybook to see the 3 different options you can pass to the `plain` prop for icon-only buttons.

[2019-04-23 16:21] dallas commented on #3030
And [here’s a forked version](https://codesandbox.io/s/0060mwxpkv) of your Code Sandbox showing the 3 different states as well.

[2019-04-23 16:29] dallas commented on #3015
The only way to configure the gap is to change the theme’s `global.edgeSize.small` value since that’s the gap size that `Button` uses when it has an icon + label. It’s also the same way for `Anchor` components that have an icon.

[2019-04-23 16:37] dallas commented on #3031
I think the [color declaration line](https://github.com/grommet/grommet/blob/master/src/js/components/Button/StyledButton.js#L82) in `StyledButton.js` would need to be changed to something like this:

[code]

[2019-04-23 17:44] harunurhan commented on #2976
Having only `index.d.ts`, even going further by having `TypeScript` typings inside the component files (does not require migrating whole codebase to `TypeScript`) would be much better, IMHO.

Because:
- `TypeScript` is more expressive and powerful when it comes to defining types, compared to `prop-types`, even to `flow`.
- It has tooling for generating docs.
- You get build time static type checki

[2019-04-24 00:35] ht4963 commented on #576
@jvatic, Thanks for the typescript code. It works great!

[2019-04-24 06:03] brodybits commented on #2641
I hope to give this a try in the near future (no promise right now). I wonder if this should target a new major release to avoid the risk of potentially nasty compatibility issues?

[2019-04-24 08:42] LucianBuzzo commented on #3030
Thanks for the clarification @dallas

*TLDR*: Setting plain to `false` explicitly will give an icon-only button padding and a border
[code]

[2019-04-24 08:42] #3030 closed

[2019-04-24 18:44] chancesmith opened #3049 "How do I custom style Grommet components?"
In the docs I see [`ThemeContext`](https://v2.grommet.io/themecontext). Is this the way to style the components or is there a different way?

I'm just clear on how to add custom styles to all components and one single component.

[2019-04-24 23:59] josiahdahl commented on #3049
Hey @chancesmith, I've been working through some of these same questions and here's a short overview of what I've found so far. I hope to contribute to the documentation a bit, as I find it lacking as well.

All of the available theme settings are listed here https://github.com/grommet/grommet/blob/master/src/js/themes/index.d.ts (auto-generated). Line 70 is where the component style descriptions

[2019-04-25 00:12] markjackson02 commented on #2769
I would like to use the Menu component as a hamburger menu in my header, but I don't see a way to provide an `href` property so when I hover over the Menu item, user can see where the link is going. It doesn't seem this is possible currently?

[2019-04-25 00:47] ericsoderberghp commented on #2769
The `items` property of Menu takes all Button properties: https://v2.grommet.io/menu?#items , which includes `href`.

[2019-04-25 06:09] oorestisime commented on #3049
ThemeContext is great when you want to custom style components locally. meaning not to alter the components globally.
When you want all your anchors to have a [weight of 1000](https://v2.grommet.io/anchor#anchor.fontWeight)  then you want to pass this custom theme into the grommet top level component. https://v2.grommet.io/grommet
You will want to wrap `<Grommet theme={customTheme}><App/></Grommet

[2019-04-25 07:25] josiahdahl commented on #3049
@oorestisime thanks for clarifying! I do use the Grommet component to pass the theme globally but had a brain fart. I've updated my comment to reflect using `Grommet`

[2019-04-25 07:32] jasnross opened #3050 "TypeScript: React.ComponentClass props typing issues"
It looks like #2786 fixed issues with styled-components and TypeScript (which is great!) but also may have had the unintended side-effect of making it more difficult to decorate components by passing props down in `React.FunctionComponent`s.

### Expected Behavior

The following sample TypeScript code should compile:

[code]

### Actual Behavior

The following error is reported during compilation:

[2019-04-25 07:39] oorestisime commented on #3049
So does my comment respond to this issue? I am not sure if you are looking for any more info

[2019-04-25 17:45] jhlabs opened #3052 "Type definitions DropButton do not contain label prop"
The type definitions for the DropButton do not contain the label prop.

### Expected Behavior

Label should be part of the type definitions.

### Actual Behavior

Label is not defined in the type definition.

### Steps to Reproduce

Check the definitions file.

### Your Environment

- Grommet version: 2.6.5

[2019-04-26 03:03] #3015 closed

[2019-04-26 03:16] #3043 closed

[2019-04-26 14:53] ShimiSun commented on #3050
Thanks for reporting @jasnross, it will be helpful for us if you can reproduce the problem with codesandbox. this is a [codesandbox template of Grommet + typescript](https://codesandbox.io/s/6x2n6zxm63), this way we can verify it is (or isn't) a grommet issue.

[2019-04-26 15:13] jamstooks opened #3059 "Inconsistent DataTable display in firefox"
I'm finding an odd issue in Firefox, where `DataTable`s extend beyond their containing `Box`.

### Expected Behavior

Contents of table should stay within `Box`:

![Screenshot from 2019-04-26 08-09-20](https://user-images.githubusercontent.com/585436/56817563-ae950f00-67fa-11e9-8af6-00189abaa8c6.png)

### Actual Behavior

Table header expands and table extends beyond `Box`.

![Screenshot from 2019

[2019-04-26 18:39] wbrickner opened #3060 "Form not submitting"
[code]

### Expected Behavior

When I click the submit button, the form should post it's contents to `/auth`.

### Actual Behavior

Nothing happens at all.

I'm guessing this is a design choice, and I need the form to submit.  How can I enable conventional form behavior?

[2019-04-26 20:30] ShimiSun commented on #3060
I think your Form is missing the `onSubmit`, hence it's not sure what it should do on submitting.
Try to use this example as a reference
https://storybook.grommet.io/?path=/story/form--all

[2019-04-26 21:13] brantleyenglish opened #3061 "Select field - pass in objects as data"
Desiring a similar appearance/functionality as the 'Seasons' select field on  Grommet storybook using an object model for options.

More details on stack overflow:
https://stackoverflow.com/questions/55857945/react-grommet-select-passing-in-object-data-as-options

[2019-04-27 01:19] jasnross commented on #3050
@ShimiSun thanks for the template, that's helpful!

Here is an example on codesandbox showing the problem: https://codesandbox.io/s/o4y5ymvwy

[2019-04-27 04:11] ShimiSun commented on #3021
Thanks for taking the time to file the issue. The error isn't pointing at grommet itself, and it is not reproducible on other Parcel+Grommet apps I've tested with, hence I suspect it is specific to your local repo.
See for example https://github.com/ShimiSun/grommet-parcel-app, the project is running Parcel + Grommet + tree-shaking and it works as expected.
Let me know if you are able to isolate t

[2019-04-27 06:49] milanvdm commented on #3021
Thanks for looking into this!

It seems that after some fiddling around, it seems that my `tsconfig` file for reason is causing this error message.

I'll close this issue as it is as you said, not related to Grommet :)

[2019-04-27 06:49] #3021 closed

[2019-04-27 12:09] faizi23 opened #3063 "Datatable should support step so that onMore takes it into account."
firstly I was not able to use onMore prop of the data table but after a lot of effort I found out it works for data which is greater than 50 in the count.
If this is the case it is not written anywhere that data length should of greater than 50.

Why the value is set to greater than 50?
it should be customizable

### Steps to Reproduce
1. Document onMore of Data table Prop properly
2. Make sure th

[2019-04-27 17:09] 4face-studi0 opened #3064 "FormField as TextArea that supports markdown"
_Premise: I am an Android developer, just working on my personal website in my spare time, so forgive me about my noobness here_

### Expected Behavior

I successfully used a `TextArea` in my `Form` as following:
[code]
Now I'd like to add support to markdown to that Component.

### Actual Behavior 👇

🥴

[2019-04-29 14:27] atoy40 opened #3065 "DataTable into a Box with scrolling"
Datatable scrolling

### Expected Behavior

When I reach the end of displayed data it must display more data

### Actual Behavior

My datatable is inside a box with an overflow "auto" so the scrollbar are not on "window" but on the Box. But when I reach the bottom of the Box (and so the end of displayed data), it seems it's not detected and data are not appended at the end. I've seen in the source

[2019-04-29 15:37] #3037 closed

[2019-04-29 15:40] ShimiSun commented on #3065
Hi @atoy40 , will you be able to share a codesandbox that reproduces the problem?

[2019-04-29 15:41] atoy40 commented on #3065
Yes, I'm working on :) but the problem seems to be because my all layout fit into a "filled" box.

[2019-04-29 15:56] #3059 closed

[2019-04-29 18:37] #3009 closed

[2019-04-29 18:51] dallas commented on #3009
Awesome! Thank you, @ericsoderberghp! 😄

[2019-04-29 20:35] atoy40 commented on #3065
https://codesandbox.io/s/q60y69oyj

Here is a code sandbox demonstrating the problem. If you go at the bottom, it never load the missing values. If you remove the fill={true} of the first Box, it works (but the layout is not the desired one)

Anthony.

[2019-04-29 20:44] ericsoderberghp commented on #3065
1) I think you want the Box containing the right panel, with the Hello World Heading, to have `flex={true}` instead of `fill={true}`. I think you want the right panel to take all remaining space in the containing Box, which is different than attempting to fill all of the containing Box.
2) I think you want `flex={false}` on the Box containing the DataTable.

[2019-04-29 20:45] oorestisime commented on #3063
have you tried adjusting the step property?

[2019-04-29 21:25] #3031 closed

[2019-04-29 21:29] oorestisime commented on #3044
@pawelsas  Any news here?

[2019-04-29 21:46] atoy40 commented on #3065
@ericsoderberghp whooo, just thoses two fixes and the infinitescroll works ! :) thanks ! So, what in my sample prevent datatable to detect the scroll end marker ?
Anthony

Thanks again :)

[2019-04-30 01:17] ShimiSun commented on #2993
Hi buddy, thanks for raising the issue. while allowing to customize the margin may help as a workaround, there was still a fundamental alignment issue with the way margin was used on the edge-controls that caused the problem you raised.
This alignment issue was fixed on #3066 along with the enhancement of allowing custom nodes of edge controls.
I believe that your issue is fixed; you won't need to

[2019-04-30 02:24] guschnwg opened #3067 "Fill property of button should also allow axis"
Box has the option to choose one or both axios to fill parent.
I would like the same behaviour to Button, so i can fill parent horizontally or vertically without wrapping into a Box

### Expected Behavior

[code]

### Actual Behavior

[code]

### Steps to Reproduce

Actual behaviour: https://codesandbox.io/s/rk3kn9ry4
Desired code with the same behaviour as actually: https://codesandbox.io/s/61xqy

[2019-04-30 02:48] buoyantair commented on #2513
@silltho Heya, just wanted to ping if you're still looking to work on this, if not I will go forward :)

[2019-04-30 03:47] ShimiSun commented on #2926
Since we addressed the enhancement for Menu I'll be closing the issue. @MaxMillington if you still feel like this feature is needed for Drop regardless of the concerns raised by @oorestisime, feel free to reopen the issue. Thank you all for collaborating.

[2019-04-30 03:47] #2926 closed

[2019-04-30 04:25] ShimiSun commented on #3065
I'm labeling this one as a `discussion` to see if there is anything we can improve on the documentation to avoid misuse of the component.

[2019-04-30 04:31] ShimiSun commented on #3064
I might be missing something, why not using Markdown? something along this lines https://codesandbox.io/s/qkyko6k39

[2019-04-30 04:35] ShimiSun commented on #2641
It most likely will be targeted to a new major release.

[2019-04-30 04:43] ShimiSun commented on #3030
Late for the party, but thank you @dallas for providing the right information to help the community -- spot on!!
thank you guys for the collaboration.

[2019-04-30 04:44] ShimiSun commented on #2513
@buoyantair go for it 👍

[2019-04-30 07:07] mrebb commented on #2994
@2manoj1 Issue is resolved on https://storybook.grommet.io/?path=/story/form--all. Could you please test and update this thread. Currently updated fix is in review to handle edge cases when dropdown is too close to bottom of window. You can run storybook from forked repo branch [fix/issue-2994](https://github.com/mrebb/grommet/tree/fix/issue-2994) meanwhile.

[2019-04-30 08:05] 4face-studi0 commented on #3064
Because it's a `Form`. Using a `Markdown` inside the `FormField`, form field can't handle the text inside the `Markdown`

[2019-04-30 11:12] djm158 opened #3069 "Duplicate key error when RadioButtonGroup option has value of 1"
It appears that RadioButtonGroup creates several Box components wrapping the RadioButton components it creates based on the `options` prop. Because Box components create `StyledBoxGap`s that are keyed off of the `index` of the rendered children, we get a duplicate key if you have an `option` where the `value` = `"1"` in RadioButtonGroup. Should probably be able to specify keys in the options prop

[2019-04-30 12:22] buoyantair commented on #2513
Looks like StyledPlaceholder & StyledSuggestions already have the extend functionality implemented.

[2019-04-30 12:46] chancesmith commented on #3049
What is the differnce between the Grommet component and ThemeContext?

[2019-04-30 13:03] buoyantair commented on #3049
Hi, @chancesmith Grommet component internally makes use of ThemeContext. Grommet is generally used at the root of the application to setup the Grommet UI (for example event handlers to keep track of website size for responsive web design etc). ThemeContext is basically this:
https://github.com/styled-components/styled-components/blob/4115a1f8e4814b3843d781ce84d686c998ddfd3e/packages/styled-compone

[2019-04-30 13:30] oorestisime commented on #3049
spot on @buoyantair !
i may also add you should have only one Grommet component as the top level of your application.
Then you can use as many times as you want the ThemeContext to change the theme locally (i.e change the color of the anchor only in one component etc).

[2019-04-30 14:41] chancesmith commented on #3049
Thank helps. Yet, from global Grommet, how do I give styles and colors to all `<Heading/>`'s, and other sub-components?

I made a repo asking about wrapping a styled-component `<ThemeProvider/>` and `<Grommet/>` around the full app. I'm trying to style `<Heading/>` and a HTML `<hr/>`.
https://github.com/sodiumhalogenteam/grommet-global-theme-example

Am I heading in a good direction?
What is the b

[2019-04-30 14:58] oorestisime commented on #3049
So few comments:

- you don't need to rewrite all the theme. only the parts you want to override.
- for `<hr/>` you will need to create your own styled component. i think grommet doesn't provide an hr component. have a look in the docs for more info https://www.styled-components.com/docs/basics#getting-started
- to style the existing components you need to use the theme. what i am personally doing

[2019-04-30 15:49] chancesmith commented on #3049
1. Okay, I'll only overwrite what I need.

2. Eeek. I usually use the styled-components [createGlobalStyle](https://www.styled-components.com/docs/api#createglobalstyle).

3. I need many CustomGrommetComponents? I thought I could modify the theme colors to modify the colors of any Grommet component.

[2019-04-30 16:46] oorestisime commented on #3049
Yeah you could do with global style although i don't think is that idiomatic to the whole component reasoning. Your application your call!

Usually you can set most from the theme. I cant check this right now but probably heading gets the color also from the theme. you might want to check colors->text
Maybe we should update the docs for this. @ShimiSun might have a clearer view as well on this.

[2019-04-30 17:38] faizi23 commented on #3063
@oorestisime yes I have, it is not making any difference, onMore is still working for data length greater than 50
I don't think step prop is supported by Data Table

[2019-04-30 17:44] Faizan-Khurshid opened #3071 "Button With type file not supported"
<Button type="file" />
not working
what should I use for browsing files on my local computer?
Is there any alternate method?

### Your Environment

"dependencies": {
"axios": "^0.18.0",
"browser-router": "^0.2.0",
"chart.js": "^2.8.0",
"enzyme": "^3.9.0",
"enzyme-adapter-react-16": "^1.9.1",
"grommet": "^2.5.5",
"grommet-icons": "^4.2.0",
"react": "^16.8.2",
"react-chartjs-2": "^2.7.4",
"react-dom

[2019-04-30 19:26] oorestisime commented on #3071
For the moment only "button""reset""submit" are supported. You might be interested in creating a dropzone (#2535).
I personnaly use https://react-dropzone.js.org/

[2019-04-30 19:28] oorestisime commented on #3063
Yeah indeed it isnt listed. Mind re-wording the title to reflect this? Datatable should support step so that onMore takes it into account.

[2019-04-30 19:30] oorestisime commented on #3064
But why just a textarea isn't enough? Are you searching for syntax highlight or?

[2019-04-30 20:00] 4face-studi0 commented on #3064
@oorestisime yep, I'd like to support **markdown**'s syntax highlights into a `TextArea`, part of a `Form`.
As I said Js and Front-end is not my field, so maybe I'm just making a mess 😅

[2019-04-30 20:05] oorestisime commented on #3064
No worries, i was just trying to understand your need. Well there is no component like this in grommet right now and i am not sure it is getting one soon. You are probably looking for a web based text editor like ace https://github.com/securingsincity/react-ace or maybe https://github.com/facebook/draft-js .
For example for forms with yaml i use ace at work.

[2019-04-30 20:11] 4face-studi0 commented on #3064
I think a could achieve something similar with just a `TextArea` + `Markdown`, isn't it? But then I'll have the same problem for "link" it to my form I guess... So I should take care of the validation of all my fields by myself, without taking advantage of the `Form` component, is that right?

[2019-04-30 20:13] oorestisime commented on #3064
you could have your markdown component subscribing to the textarea and just presenting the value. It would serve as a preview lets say. let me know if you want me to create a sandbox with this.

[2019-04-30 20:22] 4face-studi0 commented on #3064
Thanks, I'd love a code example if you could.
That my actual field, maybe the twill save you some time:
[code]

[2019-04-30 20:32] oorestisime commented on #3064
Put this up really fast so ignore styling ;) https://codesandbox.io/s/019qm7jpll
The idea is to have a controlled textarea and then use the value to provide the markdown component and see a live change. I am not sure this is what you are looking for! let me know if i didn't get what you are aiming for.

[2019-04-30 20:37] 4face-studi0 commented on #3064
Thank you very much! Not exactly my primary idea, but a nice workaround if is not possible to do better in an easy way. I could use a checkbox for enable the preview only for "markdown users". Just checked the result as now, since I'm from smartphone, I'll check the code tomorrow. Thank you very much again!

[2019-04-30 20:38] oorestisime commented on #3064
if you an example of what you are looking for i would love to take a look

[2019-04-30 20:40] 4face-studi0 commented on #3064
I'd just like to see the "real-time syntax highlight" in the same field where writing. So, a normal field that bold my text when I type the double '*'

[2019-04-30 20:41] oorestisime commented on #3064
Right, check this https://draftjs.org/ as well.

[2019-04-30 20:44] 4face-studi0 commented on #3064
Ok, thank you for you time, you gave me enough hints 🙂 tomorrow I'll find the best solution and I'll update my main post. You can close the issue.

[2019-05-01 04:25] ShimiSun commented on #3064
Thank you for collaborating! good luck @4face-studi0

[2019-05-01 04:25] #3064 closed

[2019-05-01 04:30] ShimiSun commented on #2984
@rjain15 can you please confirm my thoughts and the overall approach? is this the functionality you are seeking?

[2019-05-01 06:11] kaioduarte opened #3072 "CRA's tree-shaking is not working"
I made this CodeSandbox that reproduces the problem, tree-shaking doesn't work at all, the imported components are `undefined`:

https://codesandbox.io/embed/ollrq023v6

[2019-05-01 07:42] oorestisime commented on #3072
You forgot to add `{ }` for the second import.

[2019-05-01 07:42] #3072 closed

[2019-05-01 17:24] #2901 closed

[2019-05-01 17:51] faizi23 commented on #3063
yeah sure

[2019-05-01 18:20] mrebb commented on #3069
@djm158 Another thought is to use `label` and `value` combination as key for `RadioButtonGroup` component and this new combination key would be no longer same as `index` value assigned to `StyledBoxGap` key.

[2019-05-01 19:48] #2908 closed

[2019-05-01 21:08] #2993 closed

[2019-05-01 21:27] #3067 closed

[2019-05-02 10:24] silltho commented on #2513
@bnoguchi yeah my bad I couldn't find any time to implement this.

[2019-05-02 11:44] faizi23 opened #3076 "No Tree Structure Component Available in grommet v2"

[2019-05-02 12:04] oorestisime commented on #3076
What do you call a tree component? an example would help

[2019-05-02 12:29] atanasster commented on #3076
You can use devexpress react grid, here is an example http://grommet-nextjs.herokuapp.com/template/dx-grid/tree-data

[2019-05-02 17:45] buoyantair commented on #3046
@ShimiSun Can I take this? :)

[2019-05-02 18:47] ShimiSun commented on #3046
@buoyantair you got it buddy!

[2019-05-02 20:45] rjain15 commented on #2984
I am staying with the default Menu behavior, the change is trivial but I am not sure if this is the right thing for community. I can submit the change PR if it makes sense and doesn't break any tests.

[2019-05-02 20:45] #2984 closed

[2019-05-02 22:16] mrebb commented on #3006
It looks like it is possible to have either `size` or fix accessibility issue on DataTable. Main reason behind `voice over` not detecting the number of rows or columns is, based on how table headers and body style is updated when `size` prop is provided in current logic (StyledDataTable.js). If we fix the table elements to make it compatible for accessibility then we mostly likely lose the main pu

[2019-05-02 22:31] erick2014 commented on #3052
I want to work on this issue, but I have a question, what do u mean with type definitions? do you expect to this component to receive a label prop or something?

Regards

[2019-05-03 00:52] flaurida opened #3079 "How to change focus outline color?"
I would like to change the focus outline color from the default green, but cannot figure out how to do so. I tried changing the accent colors in my theme to no avail.

I would expect changing some color property would change the focus outline color, but I cannot find it. Please help? Shown below is the screenshot of the outline that I want to change the color of.

<img width="1209" alt="Screen Sho

[2019-05-03 02:57] thomasin commented on #3079
It is `global.focus.border.color`

[2019-05-03 03:19] #2971 closed

[2019-05-03 03:30] ShimiSun commented on #3079
Check this example to get an idea of how it is done https://codesandbox.io/s/m3qp1q15z9.
Let me know if you need any further help.

[2019-05-03 03:48] ShimiSun commented on #3052
@erick2014 I think he means that the index.d.ts file isn't supporting the acceptance of label prop.
So if a typescript user is consuming a label within DropButton, he'll get a TS error.
This is a sandbox template of Grommet with typescript if you'd like to reproduce the problem https://codesandbox.io/s/olxj16ox66
and this is the file
https://github.com/grommet/grommet/blob/master/src/js/components

[2019-05-03 03:51] ShimiSun commented on #3076
Can you please share with us a design idea of what you'd like to achieve?

[2019-05-03 03:52] #3069 closed

[2019-05-03 04:04] #3003 closed

[2019-05-03 04:07] #2952 closed

[2019-05-03 04:23] ShimiSun commented on #2973
@JetLim what do you think of a template example for this one?
@MikeWalrath can you add it to out templates list.

[2019-05-03 08:01] mrebb commented on #2994
@ShimiSun we can close this one as this issue is fixed and tested. Waiting for PR #3045 to get approved.

[2019-05-03 08:26] FlyingUnicornSF opened #3080 "Button gap in typescript getting error"
<Button icon={<Ascend />} label="Last Saved" alignSelf='end' gap="large" onClick={() => {}} />
in tsx file.
it's getting error
``Property 'gap' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Component<ButtonProps & Pick<DetailedHTMLProps<ButtonHTMLAttributes<HTMLButtonElement>, HTMLButtonElement>, "ref" | "key" | "defaultChecked" | ... 261 more ... | "value">, any, any>> &

[2019-05-03 08:32] oorestisime commented on #3080
can you share the exact grommet version please?

[2019-05-03 08:33] oorestisime commented on #3080
oh this was fixed in master https://github.com/grommet/grommet/pull/3057 . upcoming release will have the fix.

[2019-05-03 08:33] #3080 closed

[2019-05-03 12:57] flaurida commented on #3079
beautiful, thanks solved it! for my reference, is [this](https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation) the current documentation on how to update theme?

[2019-05-03 12:57] #3079 closed

[2019-05-03 14:19] srallen commented on #2660
I did a bit of investigating yesterday and found that the `FocusedContainer` is the reason the child button gets a `tabIndex` of -1. The `DropContainer` is wrapped by it:

https://github.com/grommet/grommet/blob/001cd59bc1ee792019a88646589fd223c87e2cdb/src/js/components/Drop/DropContainer.js#L320-L328

The `FocusContainer` calls a function on mount that ends up calling this utility function:

http

[2019-05-03 14:33] #2980 closed

[2019-05-03 14:33] nikitavoloboev commented on #2980
Thank you

[2019-05-03 14:50] #2994 closed

[2019-05-03 14:50] #3008 closed

[2019-05-03 16:55] JetLim commented on #2973
@oorestisime
We'll discuss this with a checklist of possible selector solutions.

@ShimiSun
@MikeWalrath

[2019-05-03 17:14] alansouzati commented on #2660
I agree with the intent of removing tabIndex -1 from the target container. it makes sense.

[2019-05-03 17:34] #2948 closed

[2019-05-03 19:12] britt6612 opened #3081 "No space between tabs"
In the storybook tabs plain there is no space between the tab tiles
### Expected Behavior

They should be spaced out
### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
<img width="520" alt="Screen Shot 2019-05-03 at 1 08 43 PM" src="https://user-images.githubusercontent.com/42451602/57160084-02789880-6da5-11e9-9c94-e9a2f3b2c129.png">

### Steps to Reproduce
go to storybook

[2019-05-03 19:21] ericsoderberghp commented on #3081
I believe this is intentional. Plain tabs are meant to be completely styled by the caller, which includes any margin and padding.

[2019-05-03 19:23] britt6612 commented on #3081
okay makes sense now that I see that plain was being called since you can use the tab.margin for a custom theme! Thank you for clarifying

[2019-05-03 19:26] #3081 closed

[2019-05-03 21:24] MaxMillington opened #3083 "Invalid prop `as` supplied to `Text`"
Currently, if you use the property `as` in a theme, e.g.

[code]

You will get the following error:

![Screen Shot 2019-05-03 at 1 40 39 PM](https://user-images.githubusercontent.com/11064595/57166355-c813f900-6dae-11e9-9aca-4c3b855ccc15.png)

This doesn't appear to be a Text specific issue, it should be supported across the board. There is just an invalid propType definition, eg: https://github.c

[2019-05-03 22:49] ypinnek1 opened #3084 "Select drop-down missing clear button FF"
Select drop-down missing clear button FF (close button in the input)

This issue exists only in FF. Other browser does have the clear button. We need to make this consistent across all browser.

[2019-05-04 07:23] oorestisime commented on #3084
I think this is a duplicate of #2973

[2019-05-04 16:30] faizi23 commented on #3076
![Capture](https://user-images.githubusercontent.com/32761668/57181989-bf591b00-6eb3-11e9-936e-55f6405a421e.PNG)

Something Like this

[2019-05-06 05:02] 2manoj1 commented on #2994
@mrebb Thanks. Its working fine.

[2019-05-06 20:36] ShimiSun commented on #3084
Spot on @oorestisime.
@ypinnek1 feel free to add any more info if you feel like anything is missing from issue #2973

[2019-05-06 20:36] #3084 closed

[2019-05-07 18:10] sahithikol commented on #2975
Is some one working on this
I can work on this if noone is working on it

[2019-05-07 18:21] oorestisime commented on #2975
Doesnt seem so! go for it :)

[2019-05-07 18:26] sahithikol commented on #2975
how can i assign this to my self?

[2019-05-07 18:56] srallen opened #3088 "Mobile safari does not restrict scroll"
### Expected Behavior

When the body is set to `overflow: hidden` by `FocusedContainer`, then it should not allow the browser to scroll. `FocusedContainer` wraps the `Layer` component, so this affects modals.

### Actual Behavior

Mobile safari allows scroll when modals are open that use `Layer`

### URL, screen shot, or Codepen exhibiting the issue

This stack overflow post describes this as a kn

[2019-05-07 19:29] srallen commented on #3088
This issue may be more complicated as it seems the styles to prevent scroll vary depending on mobile Safari version and may have other unintended consequences: https://stackoverflow.com/a/24727026/5372931

Some report adding `position: relative` is the fix, while others say `position: fixed` but the latter only works if the modal content fits in the window and may cause a scroll back to the top of

[2019-05-07 19:37] chancesmith opened #3089 "Possible to have a multiple Select message for single selection?"
### Expected Behavior

If my multiple Select fields only has one option selected, I'd like the placeholder text to remain as the default.

### Actual Behavior

The single option selected is now the placeholder text. 😔

![Screenshot 2019-05-07 14 30 21](https://user-images.githubusercontent.com/4466585/57327742-43d6b400-70d5-11e9-8262-9b94923a18e1.png)

### ideal

Maybe...

[code]

[2019-05-07 20:30] oorestisime commented on #2975
It seems you cant. and i cant find you in the list either! but go for it don't worry!

[2019-05-08 12:28] Zyclotrop-j opened #3091 "v2: Heading.props.size errors with an arbitrary size"
The docs allow for arbitrary CSS sizes (`string`) to be passed to the size prop of the Heading component. However this leads to a null-ref error cause by
https://github.com/grommet/grommet/blob/master/src/js/components/Heading/StyledHeading.js#L15

### Expected Behavior

Font size is applied correctly

### Actual Behavior
null-reference error causes React to defer to the closes error boundary

###

[2019-05-08 17:36] ShimiSun commented on #3089
Can we get a little more context of what the [X] is intending? and what will you show on the placeholder if nothing was selected?

[2019-05-08 21:53] ShimiSun commented on #2999
@2manoj1 , I think I'm missing something with your desired functionality, and why using `step` is not enough to leverage the lazy loading behavior. To call your API, have you tried adding a callback on the onMore function? you can do something like `onMore={() => load()}` and put a callback on `load()` to call the API, will that work?
if not, can you elaborate what will be the expected behavior in

[2019-05-08 22:06] #2513 closed

[2019-05-08 22:33] ShimiSun commented on #3063
Thank you for reporting! fixed, and will be available on our next release.

[2019-05-08 22:33] #3063 closed

[2019-05-09 04:48] 2manoj1 commented on #2999
@ShimiSun I trying your approach but cant found solution. PFA

Example: https://codesandbox.io/s/6ljr40mjpr
![image](https://user-images.githubusercontent.com/15128569/57427898-92a25c00-7243-11e9-8105-4f2bcc39c2ef.png)

Can you make update storybook where we found example for this issue.

[2019-05-09 07:13] oorestisime commented on #2999
Yeah there is no onMore callback on the select field and it is not forwarded on InfiniteScroll right now. A PR to fix this would help you ;)

[2019-05-09 10:50] pawelsas commented on #3044
The bug occured due to `i18next-xhr-backend` module. So I think this here can be closed. Thanks!

[2019-05-09 10:50] #3044 closed

[2019-05-09 19:25] ShimiSun commented on #3044
@pawelsas thanks for the update!

[2019-05-09 19:56] britt6612 opened #3094 "Meter size not taking a font as string"
The size for meter is not taking in a font size as a string
### Expected Behavior
The size for meter can be set to either 'xsmall' or you should also be able to use '24px'

The meter size should take into account a font size being passed in as a string
### Actual Behavior
An Type error that
fontAsString is undefined

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/j

[2019-05-09 20:01] ShimiSun commented on #3094
According to the docs, Meter should accept a `string` i.e. custom size. so I'd mark this one as a bug.

[2019-05-10 16:23] #3094 closed

[2019-05-10 20:47] britt6612 opened #3097 "Icon in TextInput storybook does not match the reveal of text"
using the password text input in the storybook it reveals the password on the lock icon not the eye icon
### Expected Behavior
The text should be hidden when the lock icon is clicked and shown when the eye icon is clicked

switch the reveal of the text to match the icon
### Actual Behavior
the reveal of the text is opposite

### URL, screen shot, or Codepen exhibiting the issue

https://storybook.

[2019-05-11 06:50] jim-king-2000 opened #3099 "Crash when rendering accordion on server side"
### Expected Behavior
Render accordion successfully on server side.

### Actual Behavior
Crash on SSR in production mode with the error message below.

### URL, screen shot, or Codepen exhibiting the issue
None.

### Steps to Reproduce

1. Download the repro: "https://github.com/jim-king-2000/nextbugrepro".
2. Open shell and type the following command
[code]
3. Open browser and access "localhost:3

[2019-05-11 09:50] a-peltier commented on #3052
I wanted to contribute and fix that issue, but I found that consuming a label within DropButton does not give a TS error, as shown in this sandbox : https://codesandbox.io/embed/q9nvqqmwx6

That is because the the DropButton component is typed to accept both DropButtonProps and the ButtonProps interfaces (and ButtonProps does contain the "label" prop):

`declare const DropButton: React.ComponentCl

[2019-05-13 12:28] buoyantair commented on #2513
@silltho It's okay! Life happens!

[2019-05-13 22:46] ypinnek1 opened #3102 "Issue with **"Responsive Context .Consumer"**"
Issue with **"Responsive Context .Consumer"**

Cannot perform full screen on any videos after browser is resized/less than full viewport

When we are embedding a video in iframe, and when the browser is resized, the iframe is being reset due to DOM manipulation.
Either the elements containing the iframe are being destroyed and regenerated, or the elements are being moved to a different parent elem

[2019-05-14 09:29] MrunalShidurkar opened #3103 "Issue with **open** prop of Select component"
An issue with **"Select"** component on opening select option programmatically.

### Expected Behavior

When we try to open the select component programmatically, it should open the select-options

### Actual Behavior

Set initial **open** prop to **false** and try to change it to true, which fails to open the select component

### URL

[https://stackblitz.com/edit/grommet-270-selectbox-issue?file

[2019-05-14 23:42] ericsoderberghp opened #3104 "Form not calling onChange"
### Expected Behavior

According to the documentation, Form should be calling `onChange` whenever the value is changed within the Form.
https://v2.grommet.io/form#onChange

### Actual Behavior

A Form containing a FormField does not call the function passed in the onChange property of Form when the input is updated.

An inspection of the code reveals that `this.update()` inside Form.js doesn't cal

[2019-05-15 11:55] AndreyKovanov commented on #3065
Hi @ericsoderberghp
what conditions should we follow to scroll works properly?

In our case, we try to use DataTable into Grid. Link to a sandbox:
https://codesandbox.io/s/92m58kj3wr?fontsize=14

[2019-05-15 19:43] chrisstpierre opened #3106 "DataTable InfiniteScroll has stops intermittently"
### Expected Behavior
When the bottom line of a DataTable with many rows of data is reached, the subsequent rows are supposed to load, and this is supposed to happen continuously until the end of the table.

### Actual Behavior

The scrolling works until some line of data is reached ( like line 150 - 300), and then scrolling stops. This seems to occur only when some row contains multi-line data.

[2019-05-15 21:52] #3097 closed

[2019-05-15 22:04] oorestisime commented on #3099
I think the problem might not be in grommet directly. i haven't used a lot next.js but it seems there is something wrong with the context api. The value of the consumer is `undefined`. Do you know if next.js supports this?

[2019-05-15 22:07] oorestisime commented on #3099
@atanasster if i recall correctly you use often next.js. if you could provide an insight on this would be nice! You seem to have accordion in grommet-next this is why i am asking.

[2019-05-15 22:08] oorestisime commented on #3102
Can you elaborate a bit more here? Where do you think we should remove the consumer?

[2019-05-15 22:10] oorestisime commented on #3060
@wbrickner friendly ping :) did you solve your issue?

[2019-05-16 03:18] ypinnek1 commented on #3102
The problem is with the consumer wrapper.
On using it, everytime the browser is resized the DOM elements are reloaded.
Due to which, if I am playing a video via iframe & browser is resized, the iframe element is loaded again (player is loaded again, need to again click play).
Also when browser is not in its 100% viewport, video will not go fullscreen due the problem mentioned above

[2019-05-16 04:44] jim-king-2000 commented on #3099
Hi @oorestisime , thanks for the replay. I'll report the bug to Next.js if you could show some hints that "Accordion" is innocent. By the way, the other components of Grommet can work perfectly with Next.js. That's why I decided to fire the bug here.

[2019-05-16 05:41] oorestisime commented on #3102
Yes but at the same time the consumer enables the library to be reactive based on the screen width in case of resizing etc. I am going to investigate a bit.

[2019-05-16 05:42] oorestisime commented on #3099
Lets wait for atanas to provide his opinion before. I just don't see anything done in the grommet code that would explain having a provider not correctly initialised. i haven't investigated a lot though.

[2019-05-16 07:44] jsina commented on #380
I don’t understand is the an RTL style or not on v2?

[2019-05-16 11:33] mrebb commented on #3106
As discussed on Slack, Improving InfiniteScroll feature and fixing some of possible bugs is in progress. Will reference PR soon.

[2019-05-16 18:16] brantleyenglish commented on #3089
The [X] is to remove the option from the multi-select field. That part isn't really related to Grommet.

The placeholder text. Ex: "Cost"

[code]

[2019-05-16 19:21] chancesmith commented on #3089
I looked at the Select.js component. There are quite a few of IF() statements. I got a bit lost in there.

I understand a Select box with a single option selected should show the new value selected. The way you guys have the component made makes sense.

**In my case**, I'm displaying the options selected as labels/tags under the Select box. The placeholder text should never change after a option(s

[2019-05-17 00:12] Mohtashim-Sonasoft opened #3107 "How would I use my custom font styling ?"
I wanna use my custom font styling instead of grommet font styling and also wanna edit grommet styling .

[2019-05-17 16:07] chancesmith commented on #3089
Here is the example of the UI:

![grommet-select-tags](https://user-images.githubusercontent.com/4466585/57941207-f48e4180-7893-11e9-9178-90ed590427f6.gif)

[2019-05-18 07:12] wbrickner commented on #3060
Sorry for the delay.  I ended up using the `onSubmit` property, and using `XHR` to authenticate.  Ideally the form would just submit, like a regular HTML form.  I suspect some Grommet JS is doing `preventDefault` somewhere, so this doesn't happen.

Am I confused?  Is this actually idiomatic Grommet?  I couldn't figure out how to make the form submit properly.

[2019-05-18 12:12] atanasster commented on #3099
Hi @jim-king-2000 , seems its a next.js 8.1.0 issue: https://github.com/zeit/next.js/issues/7167

for now, you can install `"next": "^8.1.1-canary.33",`

[2019-05-20 02:27] jim-king-2000 commented on #3099
Hi @atanasster , thank you very much and sorry for the bothering.

[2019-05-20 02:27] #3099 closed

[2019-05-20 12:39] oorestisime commented on #3060
well not sure what you mean idiomatic Grommet but isn't this with all the react forms you build?
In any case if you use the form component from Grommet your form becomes controlled and you need to handle the submit with a handler. If you are looking for a totally uncontrolled component (without any validation etc) you might not be needing the Form component.
Hope this helps :)

[2019-05-20 13:48] chancesmith commented on #3089
I found a workaround...

[code]

..., but I'm not able to see a match after the first item is selected. It seems the `value.id` of an object is not matched by the `options[0].id`.

![grommet-select-value-no-match](https://user-images.githubusercontent.com/4466585/58026258-ae2b2380-7adb-11e9-90d8-9490c51bef37.gif)

@ShimiSun, thoughts?

[2019-05-20 20:38] wbrickner commented on #3060
I think this a bad design, if I wanted a form-like thing that didn't submit, I wouldn't use a `form` element/component.

In any case, how can I get the form to submit using the `onSubmit` handler?

[2019-05-20 21:00] ericsoderberghp commented on #3060
I think it's a reasonable request to allow using grommet's Form and FormField without validation and have it automatically submit via the `action` property. It's more aligned with a server-side rendering approach, but I would hope it's possible.

[2019-05-20 21:16] ericsoderberghp opened #3109 "add margin property to FormField"
### Expected Behavior

It would be handy if FormField had the same `margin` property as many of the other grommet components, especially since it has a bottom margin by default, which isn't always desirable.

[2019-05-20 21:33] #3091 closed

[2019-05-20 22:24] ShimiSun commented on #3103
@MrunalShidurkar thanks for reporting! fixed, and will be available on our next release

[2019-05-20 22:24] #3103 closed

[2019-05-20 22:31] ShimiSun commented on #3107
This should do the trick https://codesandbox.io/s/customfont-ndtnd

I wasn't sure if you mean custom font as a none standard font family, so this should help as well https://github.com/grommet/grommet-theme-hpe/issues/5

Let me know if you need any more info.

[2019-05-21 19:18] #3104 closed

[2019-05-21 19:40] ShimiSun commented on #3109
@halocine

[2019-05-21 21:07] cmmartin opened #3111 "Virtualize DataTable"
DataTable currently supports pagination with `onMore`. However, rendering the DOM is a much more common bottleneck than the network.

It's fairly fast to load 1,000 rows worth of data over a network. But rendering 1,000 rows in the DOM pretty much never works and will block the thread and degrade the experience substantially.

It's a much better experience to scroll through a preloaded virtual lis

[2019-05-21 21:21] ericsoderberghp commented on #3106
I have tried to reproduce this independently using grommet's storybook. While I could not get the scrolling to stop, it did get slower and slower, due to re-rendering so many rows. I think what is needed is to include the `replace` property from InfiniteScroll in DataTable as well. That would allow the caller to control that aspect of the InfiniteScroll within DataTable. Also, the DataTable `step`

[2019-05-22 03:41] joybhallaa commented on #3109
I'm learning react, and will like to contribute to this project? Can I pick up this issue?

[2019-05-22 07:35] chrisstpierre commented on #3106
I managed to fix the issue myself. I'm going to submit a pull request but I'm still thinking about what code to submit.

The problem is the way it is being determined when rendering should start. Right now its based on current scroll position and page height, but isn't necessarily right if the page has varying content. I changed it to use scrollParent.scrollHeight and keep track of pages based on

[2019-05-22 14:48] ShimiSun commented on #3109
@joybhallaa sure thing, go ahead :ok:

[2019-05-22 15:29] c3s4 commented on #2851
Hi, I have same issue with Text component, also with the same error by typescript. I write here because I think is the same problem.

[2019-05-22 15:57] ShimiSun commented on #2851
@c3s4 thanks for bringing it up! will you be willing to file a separate issue and attache a sandbox that reproduces it?

[2019-05-22 19:44] srallen opened #3112 "autoFocus does not work with child components of Layer"
### Expected Behavior
Child components of Layer should be able to be autofocused

### Actual Behavior
Autofocus does not work.

### URL, screen shot, or Codepen exhibiting the issue
Codesandbox demonstrating that autofocus of the TextInput works unless it is a child of the Layer component: https://codesandbox.io/s/grommet-v2-template-ltsyf?fontsize=14

### Steps to Reproduce

1. Add `autoFocus` to

[2019-05-22 19:53] ShimiSun commented on #3111
Interesting point of view to consider while focusing on DataTable enhancements. @ericsoderberghp

[2019-05-22 19:56] ericsoderberghp commented on #3111
Totally agreed. This is related to exposing InfiniteScroll's `replace` property in DataTable. Should be easy.

[2019-05-23 06:10] Mohtashim-Sonasoft commented on #3107
2nd Link very helpful for me partially. Whenever I had to use global--> font--> family and face both keys and values so it was not working while I had use only family key and value here and font-face defined in my main.css file so its work properly.

This is my theme.js file
![image](https://user-images.githubusercontent.com/50501142/58229476-4713a600-7d4b-11e9-8508-98aa4c649f35.png)

and this one

[2019-05-23 06:10] #3107 closed

[2019-05-23 07:28] 2manoj1 commented on #2999
@oorestisime yes, its will help if Select also come with onMore callback function

[2019-05-23 13:37] djm158 commented on #2387
I'd love to take point on adding this, I can just do something along the lines of what collapsible does?

[2019-05-23 13:44] ShimiSun commented on #2387
Thanks @djm158! Go for it! I think that a solution along the lines of how the animation-in is working, will be more consistent

[2019-05-23 15:48] djm158 opened #3115 "RadioButtonGroup radio buttons don't lose focus state when user clicks on page"
I noticed that radio buttons in a RadioButtonGroup component seem to hold focus for too long.

### Expected Behavior

I expect them to gain focus on selection, but then lose that focus when other parts of a page are clicked.

### Actual Behavior

Radio buttons hold focus even when clicking around a page. Arrow keys will move multiple radio buttons if they are focused on the page.

https://codesand

[2019-05-24 04:09] shivamsingha commented on #2999
Is this what you want?
[https://deploy-preview-3114--sad-tereshkova-173d07.netlify.com/?path=/story/select--lazy-loading-options](https://deploy-preview-3114--sad-tereshkova-173d07.netlify.com/?path=/story/select--lazy-loading-options)

[2019-05-24 06:51] 2manoj1 commented on #2999
@shivamsingha yes. Thank You.

[2019-05-24 09:01] Zyclotrop-j opened #3117 "Border radius is inconsitent"
The radius of borders is styled in an inconsistent fashion

### Expected Behavior

There is one consistent way to set the border-radius. There is one place in the theme to store different border-radii.

### Actual Behavior
There is a variety of locations in the theme to set the border-radius; these use different syntax. Some allow choosing the degree of rounding, some don't. There's two helpers in

[2019-05-24 11:50] a-peltier commented on #2902
Hi,
Is the Grommet team open to add this way of defining the `areas` property in addition to the existing "coordinates" system ?

I would be happy to send a PR with the changes + doc update for this.

[2019-05-24 12:12] oorestisime commented on #2902
@ericsoderberghp ping :)

[2019-05-24 16:43] jvatic opened #3118 "TextInput makes it difficult to listen for select events on input element"
`<TextInput />` has an `onSelect` prop used for the suggestions feature which overrides the `<input />`s `onSelect` prop for listening to [`select`](https://developer.mozilla.org/en-US/docs/Web/API/Element/select_event) events. This makes listening to `select` events on the input more difficult than it should be.

As a solution, I purpose changing the current `onSelect` prop to `onSuggestionSelect

[2019-05-24 23:22] dougmacklin opened #3119 "autoFocus prop for TextInput"
I think it would be useful to be able to autofocus on a `TextInput` without jumping through the hoops of assigning it a `ref`. This becomes particularly painful when trying to override the `Select` component's `searchInput` with a custom `TextInput` that automatically focuses when the select opens (see codepen for example).

### Expected Behavior

I would have access to an `autoFocus` prop like `<

[2019-05-26 01:51] iMerica commented on #1600
Does this exist? I'm searching https://v2.grommet.io/ and not seeing any components related to loading or spinning.

[2019-05-26 01:52] iMerica commented on #1450
What ended up happening to this? I'm not seeing it anywhere on the v2 site.

[2019-05-27 01:24] seelikes commented on #3071
@oorestisime is it possible to support file browser, this is a basic function. for now, i am facing the same issue.

[2019-05-27 15:04] jim-king-2000 opened #3122 "Component "Collapsible" does not work with scrollbar."
[code]

The outside "Box" is fixed height and its overflow is set to 'auto' to enable the scrollbar.

### Expected Behavior

The content is normal inside the Box with the scrollbar.

### Actual Behavior

The two components "Collapsible" and the "Text" are overlapped.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

See the code above.

### Your Environment

- Grommet

[2019-05-28 08:48] c3s4 opened #3123 "Change hover color on select options"
I would like to set a "custom" color for hover event in select options elements. I searched for in documentation and the web but I have not found anything helpful.

### Expected Behavior

When the mouse over an element of the dropdown for a select component, the background color is the custom one, instead of the default gray.

### Actual Behavior

The hover color is the default one

### URL, scree

[2019-05-28 10:34] dimitrisnl opened #3124 "Using shorthand properties for input padding produces wrong and huge padding"
### Expected Behavior

[code]

Using this configuration, I would expect my input to have a vertical padding of `20px` and a horizontal one of `10px`

### Actual Behavior

Instead, the padding generated is `2009px`

![Screen Shot 2019-05-28 at 1 29 05 PM](https://user-images.githubusercontent.com/4951004/58471699-297c7d00-814d-11e9-9d03-982d429a4c2f.png)

Sandbox: https://codesandbox.io/s/grommetsa

[2019-05-28 14:12] dimitrisnl opened #3126 "Checkbox component is missing a type property"
## Theme

These are the properties that the typings expose

https://github.com/grommet/grommet/blob/4e33f64b2415fd66cd7935401e20d2fc4383ee80/src/js/themes/index.d.ts#L308-L340

but the primary coloring is happening using a prop that isn't documented

https://github.com/grommet/grommet/blob/4e33f64b2415fd66cd7935401e20d2fc4383ee80/src/js/components/CheckBox/StyledCheckBox.js#L61

edit: `checkBox.ga

[2019-05-28 14:16] dimitrisnl commented on #3126
Will follow-up with a PR

[2019-05-28 23:42] brunocrpontes opened #3128 "FormField hidden property stills render border"
In some cases forms may have the need to contain an input with information important to the context of the action that will be done by it, but not necessarily that information should be shown to the user.

### Expected Behavior
When pass hidden props to FormField component, it don't display anything visually, but keep traceable by its parent Form.

### Actual Behavior

When you pass hidden objects

[2019-05-29 04:54] Ishaanyp opened #3129 "Videos control prop not accepting string or boolean value."
Video component does not accept false value as a "boolean" or "string" type.

### Expected Behavior

According to types defined [here](https://github.com/grommet/grommet/blob/master/src/js/components/Video/index.d.ts), it should accept string.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
![Screen Shot 2019-05-29 at 4 32 04 PM](https://user-images.githubusercontent.co

[2019-05-30 12:24] guillaumeLamanda opened #3131 "[Proposal] Horizontal bar chart (v2)"
### Expected Behavior

I would like to have a grommet component to make an horizontal bar chart, labelled, with the value inside each bar.
Label and displayed values should be optional

### Actual Behavior
I tried to do this with chart first, but can't be horizontal. Then with the meter but label does not appear and the values seem overwritten.

### URL, screen shot, or Codepen exhibiting the issu

[2019-05-30 16:17] #3129 closed

[2019-05-31 10:55] Zyclotrop-j opened #3133 "Heading does not forward ref"
Heading component should pass down ref, as documented in https://github.com/grommet/grommet/issues/2015

### Expected Behavior
`<Heading ref={...}>` should forward the ref to it's underlying DOM-node as described in #2015

### Actual Behavior
`ref` it's not forwarded to the underlying DOM-node (its styled-component for this purpose).
Hence, when you do `posed(Heading)`, it crashes.
The correct beh

[2019-05-31 10:56] Zyclotrop-j commented on #3133
I'll try to fix this, possibly tomorrow, if I find the time, and open a PR :)

[2019-06-01 20:28] crashuniverse commented on #3124
I wouldn't consider this as a bug. The documentation for Input (https://v2.grommet.io/textinput#global.input.padding) suggests `padding` accepts only 1 value that it applies as `padding: 12px`. It doesn't support complete css variants of providing 1, 3, 4 values. The original intention seems to enforce 1 value of padding of text written inside input horizontally and vertically.

@dimitrisnl Was on

[2019-06-01 21:13] bytewoopy opened #3134 "Can't extend MaskedInput in custom theme"
I can't seem to extend masked input with custom css, I am just trying to center align the text for a number counter and change border properties. I am now noticing text size is also not working. Maybe I am doing something wrong here?

### Expected Behavior

Masked input when extended in theme would pick up custom css overrides.

### Actual Behavior

No changes take effect, event text size won't up

[2019-06-02 13:27] deangibson89 commented on #2577
I'm still getting this with grommet 2.7.1 and grommet-icons 4.2.0

[2019-06-02 13:36] jim-king-2000 commented on #3122
It works with two embedded Box components.

[code]

It were perfect if it could be done by using only one Box.

[2019-06-02 13:36] #3122 closed

[2019-06-02 15:46] jim-king-2000 opened #3136 "Add max-height (or maxHeight) property for Box."
### Expected Behavior
We need to set the max-height for Box component. So the height of Box can be the contents' height when the max-height is not reached or be max-height (and with scrollbar by setting 'overflow' to auto) when contents are too high.

### Actual Behavior
There is no max-height props for Box. And the same issue to max-width.

[2019-06-02 16:15] markjackson02 opened #3137 "MaskedInput - name prop not being passed to event.target.name"
### Expected Behavior

On the `<TextInput>` component, the `name` prop is passed to the `onChange` event. This is not happening with the `<MaskedInput>`.

### Actual Behavior

`event` object only contains `target.value`

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommetsandbox-c3ipe
(See console log after updating 1st masked input box)

- Grommet version: 2.7.

[2019-06-02 22:15] flaurida opened #3138 "Can we change border radius of DropButton?"
Hi Grommet,

I am trying to change the border radius of the content that becomes visible in `DropButton`, is there a way to do that?

Thanks,
Laura

[2019-06-02 22:19] #3138 closed

[2019-06-02 22:19] flaurida commented on #3138
Figured it out, thanks!

[2019-06-03 11:40] c3s4 opened #3139 "Probably a bug in types for color prop in <Text> component"
If I try to use a color for <Text> component in the "object" way with dark and light attributes I get this typescript error: "Type '{ dark: string; light: string; }' is not assignable to type 'string | ({ dark?: string; light?: string; } & string)'."

I think is because of the `& JSX.IntrinsicElements['span']` part of this
[code]

### Expected Behavior
Use this
[code]
without typescript errors

##

[2019-06-03 13:42] charleenfei opened #3140 "Required FormField labels should be rendered with an *"
It would be great if when a FormField component contains the `required` prop, the label of the field is displayed with an asterisk after ie: `Name *`.

This would allow us to not have to manually insert the asterisk for better UX.

[2019-06-03 18:06] talarico43 commented on #2819
I think, it would be great if TextArea could use the size prop that TextInput uses to set font size and line height

[2019-06-03 20:13] #3134 closed

[2019-06-03 20:18] #3126 closed

[2019-06-04 00:07] ericsoderberghp commented on #2819
Good idea.

[2019-06-04 19:09] crashuniverse commented on #3102
In a context based approach, the consumer will render if props (window size in this case) change. Is it even possible to stop this rendering in this way? It is an interesting problem and more I think about it, more I want to pick it up. I'll relay my findings to you @oorestisime

[2019-06-05 01:39] markjackson02 opened #3144 "MaskedInput - cannot exit dropdown without selecting value"
Once the MaskedInput is selected, the dropdown does not disappear until a value is selected. If user clicks somewhere else on the page, the dropdown remains active which is not expected behavior.

### Expected Behavior

When user moves away from the MaskedInput field, the dropdown should disappear.

### Actual Behavior

Dropdown stays visible and does not go away until user enters a valid value.

[2019-06-05 13:53] oorestisime commented on #3139
Nice catch. this should be the case with other components as well such as Heading or Paragraph. fix is easy and should use the omit utility as here: https://github.com/grommet/grommet/blob/master/src/js/components/Heading/index.d.ts#L18

[2019-06-05 13:57] oorestisime commented on #3137
Indeed, the issue is with the selection. https://github.com/grommet/grommet/blob/master/src/js/components/MaskedInput/MaskedInput.js#L230 we don't re-introduce the other target properties like here https://github.com/grommet/grommet/blob/master/src/js/components/MaskedInput/MaskedInput.js#L211

[2019-06-05 13:58] mrebb commented on #2675
@if14b007 Tried with FF 66.0.3 on Mac and couldn't reproduce the issue. Do you still see this issue?

[2019-06-05 14:01] mrebb commented on #3006
@srallen Could you please share your thoughts on this?

[2019-06-05 14:03] oorestisime commented on #3136
Hello thanks for reporting this. Grommet does not intend to respect all the css proprties around. You can always use the styled components api to produce what you seek. https://www.styled-components.com/docs/basics#styling-any-components
(ping us if you need help but the idea is that you can do a `const wrapper = styled(Box)`all my styling``).
I am tagging this as discussion just in case we decide

[2019-06-05 14:10] oorestisime commented on #3133
i had a quick look, and myabe the problem is the non usage of https://github.com/grommet/grommet/blob/master/src/js/components/hocs.js#L129
not sure we should use it though for Heading. i seem to recall refs are only used for class components. this problem should be present in many other components actually.

[2019-06-05 14:15] jim-king-2000 commented on #3136
We meet the requirement frequently which many controls (checkboxes for example) are put in a Box. We expect the scrollbar is shown when there are too many controls which take too much room. Or the height of the Box should be set to the height of the contents if the controls are not so many. The simple and straightforward way to describe it is:

`<Box maxHeight='medium' overflow='auto' />`

[2019-06-05 14:33] oorestisime commented on #3136
yeah makes sense am not saying this is a wontfix right!! i just wanted to laid out some alternatives so that you are not blocked with this!

[2019-06-05 14:44] oorestisime commented on #3140
So there is some discussion on slack going on. probably grommet shouldn't be opinionated here. best course of action is probably to propose a story that wraps formfield and does this so that we can support `*` or `required` word etc.

[2019-06-05 15:00] ericsoderberghp commented on #2902
I'm supportive of the general direction of this. I'd recommend being more javascript oriented for property values than CSS oriented, since CSS doesn't have the richness of javascript. For example:
`<Grid areas{[['header', 'header'], ['nav', 'main'], ['footer', 'footer']]} />`.

[2019-06-05 16:03] if14b007 commented on #2675
No, seems to be fixed now. Thanks guys!

[2019-06-05 16:03] #2675 closed

[2019-06-05 18:04] srallen commented on #3006
My team is required to make a best effort to meet US Section 508 accessibility requirements for the web. Because the size prop in its current implementation breaks accessibility by screen readers of the table, then the choice is made for us, we can't use it. However, I'm not comfortable with telling Grommet to remove it or change it entirely as others who may use Grommet don't have to meet as stri

[2019-06-06 05:21] #2999 closed

[2019-06-06 08:20] #2906 closed

[2019-06-06 08:25] oorestisime commented on #3124
problem is at the parse metric as number.
[code]
this was probably needed to avoid px values etc. if anybody feels like adding a warning in development if the fontAsString value is not numeric then go ahead :)

[2019-06-06 13:32] dimitrisnl opened #3145 "Button shouldn't apply transition to all the properties"
https://github.com/grommet/grommet/blob/71671c87873f0602c1420234e2dc71265479ad18/src/js/components/Button/StyledButton.js#L127-L131

I believe that

1. Color
2. Background Color
3. Border Color

should be enough.

Please let me know if I'm missing something, and I would love to submit a PR.

[2019-06-07 22:42] jastuccio opened #3148 "Module not found "classnames"?"
[Grommet Starter - Existing App instructions](https://github.com/grommet/grommet-starter-existing-app#grommet-starter---existing-app)

Installing with either NPM and Yarn returned an error when I run `start` iin the terminal:

[code]

`yarn add classnames` resolves the issue for me. I looked in package.json going back a few commits and did not see a `classnames` package.

Am I the only one that ex

[2019-06-08 07:53] oorestisime commented on #3148
I wonder whether this broke with the recent major release of mui. care to make a PR on the starter to fix this?

[2019-06-08 08:00] oorestisime commented on #3145
Not sure i understand what you mean here. care to explain a tiny bit more?

[2019-06-08 08:01] oorestisime commented on #3145
I mean why not have it for all.

[2019-06-08 08:15] dimitrisnl commented on #3145
@oorestisime 	I was implementing a ButtonGroup component (like [this one](https://getbootstrap.com/docs/4.3/components/button-group/)). Due to the CSS rules, when the buttons were exactly 2, the border-radius would be animated.

Of course I could patch it in my implementation, but it made sense to me to be specific about the properties that have a transition effect.

[2019-06-08 17:31] crashuniverse commented on #3124
@oorestisime Edit: It never returns 2009px, it returns 2010. Apologies for misleading message.

I created a pull request and added as much precise information as I understood. Kindly take a look.

[2019-06-08 17:39] oorestisime commented on #3145
right makes sense! do you feel like opening a pr?

[2019-06-08 22:07] dimitrisnl commented on #3145
Sure thing

[2019-06-09 16:18] crashuniverse commented on #3148
Spot on. 17 days back in their major release, they moved away from `classnames` to `clsx`. Instead of using `latest` in `package.json` we could use `^3.3.0` and similar for other packages. I am available to work closely with @jastuccio for any help we may need here.

[2019-06-09 17:54] jastuccio commented on #3148
Cool 😁.  Thank you @crashuniverse!

I forked Grommet.  I am guessing "mui" = material UI.  I do not see that in package.json. Which dependency needs to be rolled back to 3.3.0?  What will it take to update Grommet to work with [clsx](https://www.npmjs.com/package/clsx)

[2019-06-09 18:37] oorestisime commented on #3148
oh no the dependency is not in grommet. just the starter example you mentioned above.

[2019-06-09 20:09] jastuccio commented on #3148
Thank you @oorestisime. Now it makes sense why I could not find that dependency.   I am a pull request noob, but decided to make a draft pull request anyway.

[2019-06-11 17:02] oorestisime commented on #3148
Closing this issue since there's a PR and it is not in the right repo.

[2019-06-11 17:02] #3148 closed

[2019-06-12 09:49] #3124 closed

[2019-06-12 10:45] sradevski opened #3154 "[Select] Allow the "value" prop to be a primitive when the options are objects"
When the `options` props are objects, we need to specify a `valueKey` prop to specify which field holds the value, and a `labelKey` prop to specify the label for that value. Since we already have `valueKey` specified, it is more intuitive for the `value` prop to be whatever primitive the `valueKey` points to, instead of an entire `option` object.

The reasoning behind this is that we normally only

[2019-06-12 20:42] bromso opened #3155 "Serve documentation to Dash app (& similar apps)"
**Is your feature request related to a problem? Please describe.**
It's always frustrated when I'm on the "run" and don't have access to a stable internet connection. Especially when I'm out in the world as a Digital Nomad. The amount of reason why access to internet maybe down are so many, such as: power outage, poor reception, data plan is over due etc. It seems that you are always in a critical

[2019-06-12 22:02] bromso commented on #3155
https://github.com/Kapeli/Dash-User-Contributions#readme

[2019-06-13 08:44] sradevski opened #3156 "[Select] Remove border radius on both drop and button on the side where the drop is open"
If both the Select button and the drop have a border radius, when the drop is open it looks better if the border radius on both the button and drop are removed so the button and drop appear as one piece.

### Expected Behavior
![Screen Shot 2019-06-13 at 10 41 50 AM](https://user-images.githubusercontent.com/4820812/59417754-195cd280-8dc8-11e9-91c7-469cc0c240c7.png)

### Actual Behavior
![Screen S

[2019-06-13 09:00] sradevski opened #3157 "[Select] Extend the "select.control" themability when the Select component is open"
I would like to be able to change the style of the Select control component when the component is open. Adding a field to the theme like `select.control.open.extend` would be nice to have and would allow achieving this in the easiest possible manner.

[2019-06-13 15:00] thgreasi opened #3158 "Button: Add the target property in the typings when href is provided"
### Expected Behavior

The target prop should be allowed on the Button when href is used and the element emitted is an `<a>`.

### Actual Behavior

The button component does pass with destructuring the target prop to the emitted `<a>`, when href is provided, but the typings prohibit it as an unkown property (Using TS 3.5.1).

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Repr

[2019-06-13 15:15] crashuniverse commented on #3102
I'm adding a very good example to move this discussion forward. Also for original author (@ypinnek1) of the issue can go through this example to see why it may not be a problem with grommet itself.

UI example: https://s4emq.codesandbox.io/responsivecontext
Source: https://codesandbox.io/s/grommet-sandbox-s4emq?fontsize=14 (Look at Utilities/ResponsiveContext in UI and `ResponsiveContextConsumer.j

[2019-06-13 20:45] m11m opened #3160 "How to set background-color of RadioButton?"
I have noticed that the background color of a RadioButton cannot be set, which makes it difficult to complete some designs where the background color of other elements "behind" is different from the desired background color of the RadioButton.

[2019-06-14 12:53] sandersoeteman opened #3161 "Heading doesn't respect "small" responsive theme settings"
I'm trying to have a heading that is smaller on phones (small) than on tablets and desktop (medium & large). The size and height specified in the theme are respected for medium and large breakpoints, but not for the small breakpoint. It seems to always default to a global setting.
Tested on FF and Chrome.

See codesandbox for a demonstration: https://codesandbox.io/s/92rzl96r9y

[2019-06-14 14:35] gonzarascon opened #3162 "Add Mobile-first media queries"
### Expected Behavior

Use `min-width` media queries for styles applied to components.

### Actual Behavior

At the moment Grommet uses `max-width` media queries to apply the styles of each component.

Is there any plans to implement this change? A bunch of search engines count on the Mobile-first spec for SEO optimization.

[2019-06-14 17:03] waltercruz commented on #1531
Hi! Sorry for the noise on this ticket 2 years after, but with grommet 2, TextInput still seems not to include type="text". Is this by design?

[2019-06-14 18:55] oorestisime commented on #3156
@L0ZZI @JetLim would love your input here!

[2019-06-16 13:54] crashuniverse commented on #3112
I've an upcoming PR and I'll discuss a few approaches here to determine validity of the pull request.

The current situation is for a11y, we have a hidden anchor element is created in layer and focus is set to this anchor element. Problem is this happens without `Layer` being aware of if children components carry an `autoFocus` prop or not, like an input element.

The approaches I found are:
1. Ha

[2019-06-18 19:49] ypinnek1 commented on #3102
Hi Priya Ranjan,

In the example you have mentioned,

   1. The video player is in the same component where ResponsiveContext is
   used.
   2. My issue is a case in which I am using ResponsiveContext at root
   level and passing it down as a prop to the children. One of the deeply
   nested child is the video player which is being unmounted & mounted on
   browser resize.

Let me know if you have

[2019-06-19 17:57] RobertGary1 opened #3164 "Grommet v2 does not load on IE 11"
going to https://v2.grommet.io/ on IE 11 results in the following error.
SCRIPT1002: Syntax error
vendors~main-b31570d6e1e32e26b39d.js (29,17318)

I get a similar error in my Grommet application now. I believe this used to work correctly.SCRIPT5022: Cannot create styled-component for component: [object Object].
index.js (14861,5)

[2019-06-19 17:58] RobertGary1 commented on #3164
I'm on Grommet 2.5.5. Not sure what the v2.grommet.io website is on.

[2019-06-20 09:45] sradevski opened #3165 "Improve event handler typings for all components"
Currently most (if not all) components' event handlers have the following typing: `((...args: any[]) => any);`. This should be fixed and modified to the appropriate handler typing for each event.

TODO: List all components concerned and fix progressively.
- [ ] ...

[2019-06-20 11:36] c3s4 opened #3166 "Stack does not position where expected"
If we use stack inside a generic container with a width greater then the stacked area, the child is positioned based on parent dimension

### Expected Behavior

The position is related to items contained inside the Stack component

### Actual Behavior

The child position is related to parent size.

### URL, screen shot, or Codepen exhibiting the issue

![immagine](https://user-images.githubusercon

[2019-06-20 14:34] c3s4 opened #3167 "Placeholder in TextInput does not accept a react node usign typescript"
Using typescript if you add a react node in the placeholder field you get this error:

[code]

It seems there are some problems about typings in the placeholder field.

### Expected Behavior
No compiler error

### Actual Behavior

This compiler error:

[code]

### Steps to Reproduce

Just try this:

[code]

### Your Environment

- Grommet version: 2.7.1 with typescript v3.4.5

[2019-06-20 14:57] c3s4 opened #3168 "Change TextInput width and show multiple on the same row"
I can't find a way to change text input field width and place multiple of them in the same row.
I tried a lot of workaround but no one worked.
I saw a `div` surrounding the input field in the output with its width to 100%, so I think the problem is this one. I know I can wrap each field with a `Box` of a custom size but I think is very bad to add another element just to change a width.

### Expect

[2019-06-20 15:23] c3s4 opened #3169 "Select input field does not have the name property defined in its typescript type definition"
The Select component does not have a name filed needed for controlled component or using Formik. The name field is missing in documentation but used in your storybook example so I think is a lack of documentation and an error in types definition for typescript.

Looking at your type definition for select component we have this:
[code]

No `name` field is defined here.

### Expected Behavior

To us

[2019-06-21 03:41] chancesmith commented on #3049
@ShimiSun, any suggestions?

[2019-06-21 06:10] oorestisime commented on #3168
You have to use the Box component changing its direction to row.
[code]

[2019-06-21 14:36] c3s4 commented on #3168
Theank you for your suggest, i didn't find anything in the documentation about what this direction property was for. Anyway this solution is not completly working because I can't change the text input width. How can I do this? Only using the style property?

[2019-06-21 14:54] oorestisime commented on #3168
Here's the direction property https://v2.grommet.io/box#direction
and here's the size property in text input https://v2.grommet.io/textinput#size

[2019-06-22 13:39] c3s4 commented on #3154
I agree!!!
I don't really understand what the `valueKey` prop is for if the entire option is returned as value, but maybe I'm missing something :)

[2019-06-22 17:03] crashuniverse commented on #3115
I'll break this down to number of problems you mentioned:
1. RadioButtonGroup component seem to hold focus for too long
2. lose that focus when other parts of a page are clicked
3. Radio buttons hold focus even when clicking around a page
4. Arrow keys will move multiple radio buttons if they are focused on the page

4 can be solved. You have duplicate `name` for `RadioButtonGroup` components. Sem

[2019-06-23 23:17] DanielBaird opened #3172 "deepMerge and other utils have no public documentation"
### Expected Behavior

Utility tools that general users are expected to use, e.g. `deepMerge` for managing themes, should be documented sufficiently so that a user can follow Grommet's best practices.

### Actual Behavior

As far as I can tell, there is no documentation on grommet.io describing `deepMerge` or any other tool in `grommet/util`.

### Steps to Reproduce

https://www.google.com/search?

[2019-06-24 01:04] dustykeyboard commented on #3164
Seems that the webpack/babel build step didn't transpile this arrow function
`...,g=(e,t,n)=>t?n?u.UNICODE_IGNORE_CASE.get(e):u.UNICODE.get(e):u.REGULAR.get(e),...`

[2019-06-24 07:33] forresthopkinsa commented on #2870
I'm also getting this issue with FormFields:

Definitely not coming from my own code.

[2019-06-24 07:43] oorestisime commented on #2870
Hm i don't see any plain prop on formfield. can you provide a markup?

[2019-06-24 07:45] forresthopkinsa commented on #2870
It was happening because I was using vanilla `input` elements inside FormFields. Switched over to Grommet input elements and I have other problems but this one is solved.

[2019-06-24 07:46] oorestisime commented on #3164
Maybe wrong here but isn't up to the application to add the polyfills?

[2019-06-24 07:48] oorestisime commented on #2870
Ok don't hesitate to open a new issue!

[2019-06-24 07:57] forresthopkinsa opened #3173 "Select event.value !== event.target.value"
When I change the option in a Select, `event.value` is the one I selected, and `event.target.value` is the previously selected option. This is obviously not the correct behavior.

This is a pretty simple issue so unless this is unknown behavior / hard to repro, I'll leave it at that.

### Your Environment

- Grommet version: 2.7.1
- Browser Name and version: Chrome 74.0.3729.169
- Operating System

[2019-06-24 08:37] oorestisime commented on #3168
Closing this! don't hesitate to re-open if you need more info!

[2019-06-24 08:37] #3168 closed

[2019-06-24 08:39] oorestisime commented on #3161
Hey so i had a look at the code. it seems the idea is to not to reduce the size property from medium to small etc depending on the screen size but the heading level. which seems to be working.
Maybe we should mention this in the docs?

[2019-06-24 08:45] oorestisime commented on #3128
I am assuming this would be fixed by #2975

[2019-06-24 09:31] YuriyKovalcuk opened #3174 "Carousel Component - add ability to hide controls"
Add addition properties for hiding Carousel controls
### Expected Behavior

When the new property - showSelectors (default - true) is set as false, selectors shouldn`t be shown.
when the new property - showControls (default - true) is set as false, next and previous buttons shouldn`t be shown.
### Actual Behavior

We don`t have the ability to hide controls or selectors

### URL, screen shot, or Co

[2019-06-24 09:36] YuriyKovalcuk commented on #3174
@dgennetten, @L0ZZI  please take a look, if this makes sense, I will create the PR

[2019-06-24 09:45] sandersoeteman commented on #3161
Disagree. The heading level communicates hierarchy in the page. It is a constant for the instance and should not be changed depending on the screen width.

[2019-06-24 10:13] oorestisime commented on #3161
Yeah true. I am trying to find the rationale behind this. i might be even wrong actually and the level doesn't change. I read the code a week ago and forgot to answer here so i ll need to recheck.

[2019-06-24 12:38] YuriyKovalcuk opened #3175 "Carousel Component - add ability for configuration controls color and animation duration"
Would be great to have the ability to set the color for next and previous icons for Carousel controls, and animation duration as well.
### Expected Behavior

Get colors for controls and animation duration from the default theme, to have the ability to change them by extending the theme
### Actual Behavior

We don`t have the ability to change control items color, and duration of the animation

###

[2019-06-24 12:39] YuriyKovalcuk commented on #3175
@dgennetten , @L0ZZI  please take a look, if this makes sense, I will create the PR

[2019-06-24 19:44] oorestisime commented on #3123
Just to get you unblocked you can modify the hover color by changing the theme.global.hover.background color. this will also change the hover of the button so you would probably need to do this using the ThemeContext.Extend functionnality instead of doing this over the whole theme.

[2019-06-24 19:48] oorestisime commented on #3160
Hey there,
I am not sure i get this right, but can't you add the button in a box and set the background there?

[2019-06-25 01:04] m11m commented on #3160
Have a look in code sandbox?

https://nqhcz.codesandbox.io/radiobutton

https://codesandbox.io/s/nqhcz

[2019-06-25 07:15] oorestisime commented on #3160
So you want the background around the button only and not the label ?

[2019-06-25 13:52] m11m commented on #3160
Right, some designs will need to a different background color inside of the radio button, right?

[2019-06-26 17:15] L0ZZI commented on #3156
I would suggest removing the radius all together or just ensure there is more space between the drop and the button. Customizing the radius on interaction could cause a little hiccup on the interactions transition. Thoughts?

[2019-06-26 21:48] oorestisime commented on #3052
Closing this since the codesandbox seems to be working fine! don't hesitate to reopen if something is wrong!

[2019-06-26 21:48] #3052 closed

[2019-06-27 01:03] RobertGary1 opened #3180 ""type" attribute missing from docs for TextInput"
Need to document that type is a valid attribute here...
https://v2.grommet.io/textinput

[2019-06-27 07:15] oorestisime commented on #3180
Not sure if we want to document all valid html5 attributes. We probably need to make clearer that textinput is really an html5 input?

[2019-06-27 12:29] shivamsingha commented on #3164
create-react-app adds this to package.json by default:
[code]
Maybe that's why it doesn't work in IE 11.
Try changing `"not ie <= 11"` to `"not ie <= 7"`

[2019-06-27 13:17] oorestisime commented on #3160
So i think this is a pretty edge case for adding a prop. here's how you can do it with the extend. https://codesandbox.io/s/grommet-v2-template-9gc01
What do you think of this? @ericsoderberghp @ShimiSun do you think we should add a prop?

[2019-06-27 18:33] elieteyssedou commented on #3140
I'd use that. 🙏

[2019-06-28 01:14] markjackson02 commented on #2973
@JetLim @oorestisime any progress here?

[2019-06-28 03:24] #3139 closed

[2019-06-28 03:34] #3158 closed

[2019-06-28 04:00] ericsoderberghp commented on #3166
In the scenario you describe, Stack is behaving correctly since the default `align` for Box is `stretch`, meaning that the Stack container will stretch across the full width of the Box. Button works the same way. Generally, if you do not want this behavior, you would change the `align` of the containing Box. If there's some reason preventing that, you would wrap the Stack in a Box with the needed

[2019-06-28 04:18] ericsoderberghp commented on #3160
I tend to agree that this should be handled at the theme level and not via a new prop to RadioButton. Would that be sufficient?

[2019-06-28 06:04] #3169 closed

[2019-06-28 06:06] oorestisime commented on #2973
Thanks for reminding us! We haven't got the chance to talk about this. will in the next few days.

[2019-06-28 13:47] c3s4 commented on #3166
Ok, no problem about a way to make things behave as I need, now I figured out how it works. Maybe I just imagined that stack behaved as a sort of container. My bad.
I think that this in documentation can be confusing:

[2019-06-28 14:39] gonzarascon commented on #3180
@oorestisime It would be nice if the documentation clarified which components accepts html5 attributes!

[2019-06-28 14:57] c3s4 commented on #3168
Thank you again and sorry to be here only after a while.
I understand what the `row-responsive` is but I think is not what I need and also I think the size is not intended for what I described.

https://codesandbox.io/s/staging-browser-pt3qw?module=%2Fsrc%2Frow_responsive.js&moduleview=1

what is happening is:
- I have a responsive behavior, this is not wrong but is not what I'm looking for
- the

[2019-06-28 15:02] oorestisime commented on #3168
For me wrapping it in a div is not bad. i would avoid adding hardcoded px in the width since we already support specific width values but that's all.
If you want to avoid the extra div, reading the code we seem to have this extend `props.theme.textInput.container.extend` in the theme.
You can add your width there. Right now it is at 100% which makes sense to me since the width should be handled by

[2019-06-28 15:22] c3s4 commented on #3168
ok, I agree, after all the input field is an inline element so the width is related to its content. Maybe I thought I could use the width attribute because is already wrapped in a div. But I can live with this :)

I completely agree, it was just to explain the concept.

[2019-06-28 15:33] m11m commented on #3160
Why not both? :D

Ok, thanks for showing me how to use the theme to set this, I'll try that. If it's not global, I guess I can wrap a theme extender component around it?

[2019-06-28 15:57] ericsoderberghp commented on #3160
To answer "Why not both?", one of grommet's key principles is simplicity, we don't try to provide properties for everything possible. Instead, we shoot for the most common needs. We realize this is a judgement call. We tend to wait for something to seem like a general need before adding a property for it. We don't always get this right, but that's the rationale.

[2019-06-28 16:21] ericsoderberghp commented on #3180
Agreed. Added https://github.com/grommet/grommet-site/issues/108

[2019-06-28 16:21] #3180 closed

[2019-06-28 16:25] m11m commented on #3160
![image](https://user-images.githubusercontent.com/1445487/60356753-6bd8ea00-9997-11e9-93cc-088061c04dff.png)

[2019-06-28 16:35] ericsoderberghp commented on #3154
The `valueKey` is used internally to determine which options are selected by comparing the `value[valueKey]` with the `option[valueKey]`.

[2019-06-28 16:41] m11m commented on #3160
Ok, so now I'm trying to get the border to match the background and stay that way even on hover...

[2019-06-28 17:03] gonzarascon commented on #3162
Thinking further on this issue: There could be an option for defining custom Media  Queries in a custom theme similar to how breakpoints are defined.

[2019-06-28 17:17] m11m commented on #3160
Ok, I think I figured it out, thanks. I'm getting what I need with a theme like:

[code]

[2019-06-28 20:21] jeremy-coleman opened #3181 "typescript fixes"
Note: the root cause is not grommet, but styled components.
### Expected Behavior
no type errors
### Actual Behavior
errors everywhere

### Steps to Reproduce
use pretty much any component

### Your Environment
- Grommet version: latest
-@types/react: 16.8.22

i know maintaining typescript is a nightmare if your repo is in js, but here is how you can fix it if you want to.

Using the paragraph com

[2019-07-01 20:14] joehandzik commented on #2882
+1 on interest in this. For example, Material UI has both linear and circular designs here, along with methodology behind choosing one or the other: https://material-ui.com/components/progress/

[2019-07-02 17:56] oorestisime commented on #3181
do you feel like doing those fixes in a PR?

[2019-07-02 23:09] jeremy-coleman commented on #3181
I actually rewrote it all in typescript over the weekend, but decided against finishing it because of all the ‘munged’ props. Fixing the types would only take like an hour, i can do that np, but i think they are currently being auto generated from a script in react-desc , if so, would they not just be over written during build?

[2019-07-03 06:02] oorestisime commented on #3181
They are no longer auto generated. So you can go ahead and fix any of them you want and they will not get crashed by a build (maybe you need to pull?).
Would be best to avoid huge changes in  one PR so we can follow but otherwise we are happy to receive any improvements for ts (or any PR as a matter of fact)

[2019-07-03 20:02] halocline opened #3183 "Select theme documentation references select.options.container which does not exist"
Documentation. Minor issue. Quick fix.

### Expected Behavior

Theme documentation for Select component at https://v2.grommet.io/select#select.options.container references `select.options.container`.
Extending theme using `select.options.container` should apply supplied Box props.

### Actual Behavior

Extending theme using `select.options.container` does not apply supplied Box props.

However, ex

[2019-07-03 21:10] ShimiSun commented on #3137
I believe this issue is fixed, feel free to let us know if anything else is missing.

[2019-07-03 21:10] #3137 closed

[2019-07-04 06:50] Basone01 opened #3185 "Video Component throw "Invariant Violation: Maximum update depth exceeded." when pass 'contain' to fit props"
When i pass fit props as 'contain' to Video like this.

[code]

I got this error.
![image](https://user-images.githubusercontent.com/25749290/60645066-e99e6900-9e61-11e9-8594-6d59789e1974.png)

But If I not pass this props, It's work like as I expected to get from fit='contain' props.

[2019-07-04 10:13] markjackson02 opened #3186 "Creating image links: wrapping <Image> with <Anchor> causes image to render full size, ignoring parent <Box>"
### Expected Behavior
Anchor should have no effect on sizing of children

### Actual Behavior
Wrapping `<Image>` with `<Anchor>` causes image to render full size, ignoring parent `<Box>` height and width.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-github-issue-3186-0m2dl (see src/Image.js and https://0m2dl.codesandbox.io/image)

[2019-07-04 18:03] #3112 closed

[2019-07-05 12:16] rdinicut opened #3188 "SelectContainer should calculate selected based on value"
In the Select documentation it is mentioned that `selected` is deprecated and one should use values.

SelectContainer still displays the selected items based on that props and is not computed based on the value prop:

https://github.com/grommet/grommet/blob/78d4d848104b32e8aa0e2116fad1ef689f11406c/src/js/components/Select/SelectContainer.js#L311

### Expected Behavior

The select options are selec

[2019-07-05 13:03] #3188 closed

[2019-07-05 16:03] ShimiSun commented on #3185
@Basone01, not all platforms support the `fit` prop. can you please elaborate on which environment are you using? (browser, OS, mobile? )

[2019-07-06 19:04] aviemet commented on #2475
The docs suggest the following as a parameter for `columns` on Grid: `{"count": "fit", "size": "..."}`. Simply using that object as a value for `columns` produces an error.

You can visit [the code sandbox for Grid](https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=grid&module=%2Fsrc%2FGrid.js) to view the error by replacing the value of `columns` with `{"count": "fit", "size": "

[2019-07-07 14:02] c3s4 commented on #3167
I'm writing here again because we have the same issue for the `Tab` component in the `title` field.

If needed I'll open another issue

[2019-07-07 17:17] Basone01 commented on #3185
It's Google Chrome Version 75.0.3770.100 (Official Build) (64-bit) on MacOS High Sierra 10.13.6

[2019-07-08 17:14] ShimiSun commented on #3173
Thanks for reporting, it will be quicker for us to fix it if you can send a markup to reproduce it. @forresthopkinsa

[2019-07-08 20:11] grelas opened #3191 "Is there documentation around which browsers Grommet 2.0 supports?"

[2019-07-09 13:28] oorestisime commented on #3167
yeah pelase open a new one :)

[2019-07-09 15:39] ShimiSun commented on #2882
@joehandzik we will publish a template that will demonstrate how it can be achieved in the next few days, please make sure you are on our slack channel to get the notification.

[2019-07-09 15:59] ShimiSun commented on #3160
@m11m sounds about right. Feel free to take a look at all the potential `extend` options of the RadioButton in the theme https://github.com/grommet/grommet/blob/0ab1c512b5c2a3949aa1a083d95ce0e9ca91521e/src/js/themes/base.js#L645
I'll be closing this issue since we will stick with the theme solution rather than using a prop. let us know if we can help with anything else.

[2019-07-09 15:59] #3160 closed

[2019-07-09 16:02] ShimiSun commented on #3162
@gonzarascon I think you can use `extend` on the theme and apply any style you like including `min-width`. Do you have a use case this suggestion will not work for you?

[2019-07-09 16:16] ShimiSun commented on #3157
Thank you @halocline for enhancing grommet with this implementation, the fix will be available on ^2.7.4. 🎉

[2019-07-09 16:16] #3157 closed

[2019-07-10 02:31] adampblack commented on #3144
+1

When I click off the control the window stays open.

When I select a value from the list it also stays open.

[2019-07-10 07:19] sradevski commented on #3157
Thanks a lot, I was actually going to work on it but didn't find the time since opening the issue. Cheers!

[2019-07-10 12:06] c3s4 opened #3193 "[TS] Title in Tab component does not accept a react node usign typescript"
Using typescript if you add a react node in the title field (inside a Tab component) you get this error:

[code]

It seems there are some problems about typings in the title field.

### Expected Behavior
No compiler error

### Actual Behavior

This compiler error:

[code]

### Your Environment

- Grommet version: 2.7.1 with typescript v3.4.5

[2019-07-10 12:07] c3s4 commented on #3167
ok, I opened it right now: #3193

[2019-07-10 16:24] ShimiSun commented on #3193
Thanks for reporting @c3s4, it will be helpful for us if you can share a markup or reproduce the problem.
This is a [codesandbox template of Grommet + typescript](https://codesandbox.io/s/6x2n6zxm63), it will help us speed up the process of seeing & fixing the problem if we already have it reproduced.

[2019-07-10 17:59] ShimiSun commented on #3191
IE 11 - The Grid, Clock, Video components aren't fully supported
Edge >= 14
Firefox >= 52
Chrome >= 49
Safari >= 10

I added it to https://github.com/grommet/grommet/blob/master/README.md#browser-support

Thanks for raising the issue

[2019-07-10 17:59] #3191 closed

[2019-07-11 09:27] c3s4 commented on #3193
ok, here the sample: https://codesandbox.io/s/grommet-ts-ffpyu

[2019-07-11 16:41] #3144 closed

[2019-07-14 22:27] gonzarascon commented on #3162
@ShimiSun I know that `extend` can be used for adding custom styles that grommet does not have out of the box, my point is that why not have `min-width` media queries from start? I think this feature could be a time saver.

[2019-07-15 16:14] ShimiSun commented on #3185
@Basone01 thanks, I've tried to run your markup code within a codesandbox, but interestingly the issue doesn't reproduce. https://codesandbox.io/s/video-3185-gqihw
Can you elaborate more on the issue?

[2019-07-15 20:22] ShimiSun commented on #3172
labeled as `discussion` as I'm not sure where this will go on the site or docs, we might consider adding it [here](
![image](https://user-images.githubusercontent.com/6320236/61246405-fa759700-a70b-11e9-93db-899febe6e62c.png)) under `Utilities`

[2019-07-16 02:27] luisrudge opened #3199 "Carousel: prop to set activeIndex"
[code]

Is this something you'd be willing to take a PR? I have this particular need in my application and there's no way to programmatically set what is the activeIndex for a given Carousel.

[2019-07-16 08:20] progmem64 opened #3200 "Shimmer Component"
I need a Shimmer component like this one to mock paragraphs, unloaded menu items, ...: https://developer.microsoft.com/en-us/fabric#/controls/web/shimmer

How can I achieve something similar?

If you open the Storybook (https://storybook.grommet.io/) you can also see mocked menu items in the Sidebar to the left while the components are loading. But I guess that this is a feature of the Storybook-l

[2019-07-16 09:42] c3s4 commented on #3167
Hi, I think the problem is not solved here for TextInput.
I didn't try the fix until now but it seems there's something wrong:

[code]

[2019-07-16 15:44] ShimiSun commented on #3200
@britt6612 is working on a template that might be helpful for this issue. we will post the template on the slack channel hopefully in the next couple of days.

[2019-07-16 16:43] ShimiSun commented on #1600
Hi @iMerica, @britt6612 is working on a pattern that will allow different types of loading functionality (spinning included), stay tuned on our slack community #announcements channel.

[2019-07-16 16:47] iMerica commented on #1600
Sounds good. Thank you.

[2019-07-16 20:54] ShimiSun commented on #3140
great idea @oorestisime , @britt6612 will be taking a look at it ❤️

[2019-07-16 21:00] #3175 closed

[2019-07-16 21:03] ShimiSun commented on #2975
@sahithikol are you still on it? should I assign you?

[2019-07-16 21:20] talarico43 opened #3201 "Add displayNames to all components"
It looks like some of the components (Grommet, Box, Form, Image) have a displayName specified, but not all. It would be great if all of the components had a displayName to help with UI tests and making use of react dev tools.

[2019-07-16 21:25] sahithikol commented on #2975
@ShimiSun  i have not started working on this yet
I can be on it in a few days, i am on vacation currently
if there is any one else who can look into please feel free to assign them

[2019-07-16 22:14] ShimiSun commented on #2975
No worries, first and foremost enjoy your vacation :)
Feel free to communicate if you start working on it, so I'll assign you on it, I think it can wait for you to be back :)

[2019-07-16 22:26] oorestisime commented on #3199
Sounds like a nice feature for me! Would love to see a PR

[2019-07-16 22:30] oorestisime commented on #3201
Which components are missing the displayName? Isn't it inferred from the name of the component?

[2019-07-17 02:16] Zodiase opened #3202 "Button - DeepMerge of active is not working properly when target is string"
Maybe DeepMerge is not called properly, but I don't have more time to dig deeper into how everything works so forgive me if my descriptions here are not exactly correct.

### Expected Behavior

I specified something like this in the theme:

[code]

the actual values don't matter and the issue is not directly related to these values.

I expect the active button to have `color: red; opacity: 0.1;`,

[2019-07-17 14:11] Basone01 commented on #3185
I've just found something about that, I wrote it in my storybook (v5) and got that issue.
But when I put the same code in real app, it's work correctly.

[2019-07-17 15:02] ShimiSun commented on #3185
@Basone01 glad it is working for you! I'll be closing the issue, feel free to let us know if you have further questions.

[2019-07-17 15:02] #3185 closed

[2019-07-17 15:11] ShimiSun commented on #3202
Hi buddy, thanks for taking the time to share your findings.

It seems like the actual behavior screenshot you attached is applying the color red, can you elaborate what is missing in your opinion? the screenshot is cropped and some context is missing.

Also, it will be helpful if you can share how you are calling the deepMerge function, maybe it wasn't called properly.

[2019-07-17 15:13] ShimiSun commented on #3199
Sounds fun to me too, let's see a PR with a storybook example to demonstrate the functionality, thanks buddy!

[2019-07-17 16:43] nomadus opened #3203 "Allow setting custom individual borders"
Could you please add a possibility to set custom individual borders with the Box component? E.g. with margin prop it is possible to set different vertical, horizontal margins, but with the border props one can only set a fixed styling for all the borders.
Ideally, I would like to have different borders with the same Box.

[2019-07-17 17:35] Zodiase commented on #3202
@ShimiSun I'm not calling `deepMerge`, I just added the theme I've shown above.

It is applying color red, which is not the problem. The problem is the crazy stuff above the `color: red`. You can see it in both the style inspector and the debugger. The output has:

[code]

Again, I'm not calling `deepMerge` myself. I only added the theme and then I see this crazy stuff in my "active" buttons.

[2019-07-17 17:54] ShimiSun commented on #3049
@chancesmith long overdue response, thank you for your patient.

I think you raised a good design/dev question on what is the best practice for composing a theme; my personal preference is to leverage the theme to minimize internal prop styling/coding. I'll use prop styling only when it can't be done with a theme.

Let's say we have an app with the same Heading color cross the app (green), and the

[2019-07-17 18:05] ShimiSun commented on #3202
Thanks.
I started a sandbox to try and reproduce the problem, but I suspect I'm still missing some details to complete the full markup. https://codesandbox.io/s/deepmerge-3202-cyuvo
Please fill in the gaps and reproduce the problem reliably outside the app.
I'm interested to see how you are applying the theme, and how `active` is being used, it will help us continue with inspecting the issue.

[2019-07-17 18:09] talarico43 commented on #3201
Sorry, I think I may have logged this one prematurely. I saw that some of the components have an explicit displayName defined ([Box](https://github.com/grommet/grommet/blob/master/src/js/components/Box/Box.js#L14) for example), but not all.  If displayName is not explicitly defined, when a production bundle is built with uglification/minification those component names get converted to `<t>`.  I'm

[2019-07-17 18:09] #3201 closed

[2019-07-17 18:32] ShimiSun commented on #3203
Can you share a markup of how you'd think you'd like to consume it?

[2019-07-17 18:38] #3183 closed

[2019-07-17 18:47] ShimiSun commented on #3106
@chrisstpierre thanks for sharing your thoughts, I think that filing your fix with a PR and choosing the way you thought best of solving the problem will be a great way to continue the conversation. will you be able to file a PR?

[2019-07-17 18:52] ShimiSun commented on #3155
Hi @bromso ,

Maybe... I'm looking into it as I write this.

were you able to make any progress you can share with us?

[2019-07-17 20:16] ShimiSun commented on #2902
@a-peltier will you still be up to taking a look and filing a PR as you suggested?

[2019-07-17 20:43] ShimiSun commented on #3133
Hi @Zyclotrop-j are you still looking to file a PR on this issue?

[2019-07-17 20:48] Zodiase commented on #3202
@ShimiSun

https://codesandbox.io/s/deepmerge-3202-vsuo7

Changes I made:
1. Change Grommet version to 2.7.3, which is the one I reported.
2. Change `Text` to `Button`, which uses `active`.
3. Add a dark `Box` outside of it for good measures. Probably not needed.

See the styles inspector.

![image](https://user-images.githubusercontent.com/1815174/61410621-73562980-a899-11e9-8fc5-ec6ef4bc89a4.png

[2019-07-17 20:56] ShimiSun commented on #2819
@talarico43 thanks for the suggestion, the enhancement will be available on our next release. 🎉

[2019-07-17 20:56] #2819 closed

[2019-07-17 20:59] ShimiSun commented on #3071
@seelikes we have a template idea for this type of functionality.
@MikeWalrath & @JetLim can we share the progress on the design? is @oorestisime working on it?

[2019-07-17 21:01] ShimiSun commented on #3202
@Zodiase thanks for your prompt communication

[2019-07-18 06:01] Zyclotrop-j commented on #3133
Hi @ShimiSun,

I had a look and it seems there are underlying problems that might make this difficult.

I tried in https://github.com/Zyclotrop-j/grommet/commit/5398b27ddd4c07249f8f234b4aabddcbbbb1452d.
While the `forwardRef` actually works (also see first example https://reactjs.org/docs/forwarding-refs.html) recompose seems to do some funny stuff (see https://github.com/Zyclotrop-j/grommet/blob/

[2019-07-18 08:05] bromso commented on #3155
I don't think I have the programming skills to perform this task unfortunately. I haven't coded in like 10 years.

But if I understand everything correctly, it not that hard to do (if you got the skills):
- Copy the [Sample_Docset](https://github.com/Kapeli/Dash-User-Contributions/tree/master/Sample_Docset) folder into the docsets folder and rename it. Use the same name as your docset, but replace

[2019-07-18 10:46] nomadus commented on #3203
Essentially, I would like to achieve the following.

<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: white;
  width: 300px;
  border: 15px solid blue;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 50px;
  margin: 20px;
}
</style>
</head>
<body>

<h2>Demonstrating the Box Model</h2>

<p>The CSS box model is essentially a b

[2019-07-18 10:48] c3s4 opened #3205 "[TS] Placeholder in FormField component does not accept a react node usign typescript"
Using typescript if you add a react node in the placeholder field (inside a FormField component) you get this error:

[code]

It seems there are some problems about typings in the title field.

### Expected Behavior
No compiler error

### Actual Behavior

This compiler error:

[code]

### Code sample

https://codesandbox.io/s/grommet-ts-0ygt9

[2019-07-18 10:53] c3s4 commented on #3167
@ShimiSun I think this issue has to be open again, what do you think?

[2019-07-18 16:31] ShimiSun commented on #3167
@c3s4 if you can provide a sandbox where the problem still reproduces, then of course, please attach it and feel free to open

[2019-07-19 15:39] ShimiSun commented on #3140
@charleenfei & @elieteyssedou You can find the Required Label story available on storybook, thank you for the suggestion ! closing the issue

[2019-07-19 15:39] #3140 closed

[2019-07-22 11:53] a-peltier commented on #2902
Sure, I'm for it ! Sorry I have been out of touch, I'll try to do a PR next week or so

[2019-07-22 16:27] britt6612 commented on #3193
@ShimiSun I'll work on this!

[2019-07-22 19:48] cirdes commented on #3138
@flaurida, could you share your solution?

[2019-07-22 20:12] flaurida commented on #3138
Hi @cirdes  - I solved it by passing `dropProps={{plain: true}}` and then styling the child. I'll paste a more expanded code snippet below. Let me know if that works for you!

[code]

[2019-07-22 21:30] #3199 closed

[2019-07-22 23:33] ShimiSun commented on #3156
@L0ZZI , by

Do you mean like a pixel or two?

[2019-07-23 08:58] oorestisime commented on #3202
The active color prop only takes a string as parameter and not
[code]
if you have like `dark: "red"` it works in your codesandbox.

I am assuming deepmerge is expecting the same types and depth on the object to merge with the initial

[2019-07-23 09:05] oorestisime commented on #3155
i think this would need to rewrite the documentation to be in accordance with the docset requirements.
If what we need is just offline documentation then i guess we can have an offline service worker that caches the v2 website so that it can be accessed offline. i personally cloned the repo and build the documentation when i am on plane :)

[2019-07-23 14:51] cirdes commented on #3138
@flaurida . I tried to use plain:true and I was able to set border-radius but the box-shadow isn't working

dropContent
[code]

[2019-07-23 15:00] dmitrij-borchuk opened #3209 "Icon aligning is broaken in Menu component"
https://github.com/grommet/grommet/blob/8105c0c2d9a5cb571702f5bb3fbcb0c3e9cad579/src/js/components/Menu/Menu.js#L198
Here you can see that Icon and Label are alined with the `<Box align="start">` and there is no clear method to aline them in the center.

[2019-07-23 16:49] ericsoderberghp commented on #3155
v2.grommet.io should already be usable offline. It has a service worker configuration. If you have an iPhone and add it to your home screen, you can use it offline.

[2019-07-23 16:52] ShimiSun commented on #3209
Can you please share a markup of what you are trying to achieve?

[2019-07-23 18:01] ShimiSun opened #3210 "Diagram to add animation prop"
I wonder if we should build this into Diagram? We could add `animation: true|false|draw|pulse` to both Diagram as a whole but also to individual objects in `connections`.

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/3208_

[2019-07-23 18:58] Zodiase commented on #3202
I'm pretty sure this (merging text into object) works even though it's not the same types or depth:

[code]

The default being (from https://github.com/grommet/grommet/blob/master/src/js/themes/base.js#L108):

[code]

That's why it's odd to me the opposite (merging object into text) yields such silly output.

[2019-07-23 21:13] ShimiSun opened #3212 "Storybook structure"
This direction and issue came up from our #pattern-ideas channel on slack.
I thought it is worth tracking it because it does offer a good direction.
https://grommet.slack.com/archives/CEKR61G2D/p1560114072001400

from @crashuniverse:

I spent a few weeks with grommet and I had an idea this evening that I thought I can contribute to. I'll put my notes here to generate any reactions.
Improvements wi

[2019-07-23 21:41] ShimiSun commented on #3200
Hi @progmem64 , here is a template idea of how loaders/spinners and shimmer can be achieve using grommet https://codesandbox.io/s/loaders-and-spinners-4jltk, make sure to sign-in to our slack channels to get all of our live updates!

[2019-07-23 21:41] #3200 closed

[2019-07-23 21:47] ShimiSun commented on #2882
Hi guys, here is a template idea of how loaders/spinners/shimmer can be achieve using grommet https://codesandbox.io/s/loaders-and-spinners-4jltk 🎉
Make sure to sign-in to our slack channel to get all of our live updates and pattern announcements!

[2019-07-23 21:47] #2882 closed

[2019-07-23 22:16] Zodiase opened #3213 "Type definition error in MaskedInput"
https://github.com/grommet/grommet/blob/5e8d364e1661e3ef593272a96c3754ccf1745e55/src/js/components/MaskedInput/index.d.ts#L19

`MaskedInputProps` has `size: string` (among other things) while `JSX.IntrinsicElements['input']` has `size: number`.

The current type definition leads to `size: string & number`, which is an empty set (can never be satisfied).

![image](https://user-images.githubusercont

[2019-07-23 22:52] #3213 closed

[2019-07-23 23:00] ShimiSun opened #3216 "Prevent stopping escape event from propagating on MaskedInput"
We should make a parallel change to `MaskedInput`.

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/3187#issuecomment-509805712_

[2019-07-24 00:45] Zodiase opened #3218 "[TS] Missing property in MaskedInput types"
Property `plain` is missing in type definition of `MaskedInput`.

https://github.com/grommet/grommet/blob/b0facc1bc032a36fdabe64d1b247a44250f7dba4/src/js/components/MaskedInput/index.d.ts#L3-L17

But it's being used: https://github.com/grommet/grommet/blob/b0facc1bc032a36fdabe64d1b247a44250f7dba4/src/js/components/MaskedInput/MaskedInput.js#L308

(It is present in `TextInput` though: https://githu

[2019-07-24 01:13] ShimiSun commented on #3209
@dmitrij-borchuk , I've created this sandbox to show how the menu icon can be handled in different alignments https://codesandbox.io/s/menu-icon-alignment-04m5k please share your thoughts on how else you'd like it to behave.

[2019-07-24 01:28] #3218 closed

[2019-07-24 08:50] dmitrij-borchuk commented on #3209
@ShimiSun Hi, thank you for answering. I have forked your example and modified it to show the problem. pls take a look here https://codesandbox.io/s/menu-icon-alignment-0ecq1

[2019-07-24 08:51] dmitrij-borchuk commented on #3209
@ShimiSun You need to open the drop menu
![image](https://user-images.githubusercontent.com/3431453/61779428-52e21e00-ae09-11e9-9439-ee35f9a7a030.png)

[2019-07-24 11:26] mhatreD opened #3220 "Grommet Calendar showing two months"
Hi,

My requirement is to show two months in calendar with next previous button.

Below is the screenshot:
![image](https://user-images.githubusercontent.com/52688343/61790093-f7795580-ae33-11e9-8123-d727946645e3.png)

The code:
[code]
The issue that next & previous is not working.

[2019-07-24 14:50] sofiageo commented on #2641
Would this replace styled components support or support both? We have picked grommet because of styled components support and we are writing custom styles with it at the moment.

[2019-07-24 15:02] #3216 closed

[2019-07-24 17:11] ericsoderberghp commented on #3162
So, we have some components, like Heading that have a `responsiveBreakpoint` in the theme that ties in to the global theme breakpoints. Are you suggesting we do more of that?
I think I'm confused still on why `min-width` seems to be the primary concern. Are the current breakpoint definitions not working in some context?

[2019-07-24 17:15] stefk opened #3221 "Layer component error in IE11"
The layer component uses the `String.prototype.includes` method, which is not available in IE11:

https://github.com/grommet/grommet/blob/master/src/js/components/Layer/StyledLayer.js#L79

Since no polyfill is included, this obviously results in an error being thrown immediately in that browser when the component is used.

[2019-07-24 17:48] Jakobo opened #3222 "Paragraph to support "fill" prop"
Just an observation on `Paragraph`.

9/10 times the max-width makes total and complete sense. Then, there's that _one_ time when you want the paragraph's width controlled by its parent `Box`. Currently the only fix is to replace the Paragraph calls with the non-semantic `Text` component.

### Proposed Solution
There is a property, we'll call it `fill` for now, which behaves like the box's `fill` p

[2019-07-24 18:26] ShimiSun commented on #3220
Have you tried to look at the Calender Dual storybook example, next/prev works well https://storybook.grommet.io/?path=/story/calendar--dual

[2019-07-24 18:33] ShimiSun commented on #3222
Thanks for the detailed observation, suggested solution and workarounds! with the way you put it it does make sense for me to have a `fill` prop.
I'd like to hear @ericsoderberghp thoughts here as well.

[2019-07-24 18:35] ShimiSun commented on #3221
https://stackoverflow.com/questions/36574351/includes-not-working-in-internet-explorer

[2019-07-24 18:48] ShimiSun commented on #3156
Sharing our discussion resolutions:
1. The suggested `Expected Behavior` might look better on the corners, but the fact the drop isn't using the stroke on the drop while the drop looks like the extension of the Select, also doesn't look well.
2. If we will apply customized borders we should think of a few use cases:
 a. The drop can open from the top or button (depends on resolution and position),

[2019-07-25 01:03] gonzarascon commented on #3162
Hi @ericsoderberghp! There's no problem with the current breakpoint definitions, but they are using `max-width` media queries making Grommet, basically, a desktop-first framework.
Don't get me wrong, sometimes `desktop-first` approach is the best for a website/app, but in other cases a `mobile-first` approach is needed and since [Google is changing it's indexing to Mobile-first](https://developers

[2019-07-25 07:15] mhatreD commented on #3220
Hi Shimi,

Thanks for the URL, that helped me.

[2019-07-25 07:15] #3220 closed

[2019-07-25 07:54] sradevski commented on #3156
Thanks all for looking into this, I appreciate it! As you mentioned, the drop not having a stroke doesn't look as good. Actually, in our designs, the drop also has a stroke, which makes it look much better.

I think one of the main challenges is also making it look good with the animation of the drop (since it animates diagonally), so that should be considered as well. I will check it out this wee

[2019-07-25 11:40] stefk commented on #3221
Fixed in #3223.

[2019-07-25 16:42] ShimiSun commented on #2820
Thank you for filing the issue! @britt6612 thank you for dedicating time to solve it!

[2019-07-25 17:05] bemineni opened #3224 "Unable to define new colors in HPE theme"
Cannot customize HPE theme, by defining more colors
[code]

<Button icon={Apps color="another-color" /} />

### Expected Behavior

another-color should be applied on ICON

### Actual Behavior

defaults to brand color or white.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/embed/understanding-v2-colors-j8m07

### Steps to Reproduce

N/A

### Your Environment

- Grom

[2019-07-25 18:44] ShimiSun opened #3225 "Interaction Consistency Check resolutions"
While comparing interaction behaviors across components, using https:designer.grommet.io/?id=Interaction-Consistency-eric-soderberg-hpe-com

We came up with the following issues:
- [ ] tabbing - tab on Menu and Select doesn’t open drop, in order to get the drop opened we need to click space.
tab on TextInput & MaskedInput does open the drop.

- [ ] enter/select - by default, TextInput is closing t

[2019-07-25 19:07] ShimiSun commented on #3224
Thanks for putting the sandbox together, it helped troubleshoot the issue more quickly.
You grommet-icons version doesn't know how to handle the theme color. I've upgraded grommet-icons to the latest and it works well.
https://codesandbox.io/s/understanding-v2-colors-ms6cs

[2019-07-26 03:47] bemineni commented on #3224
Moving to grommet-icons@4.2.0 fixed the issue. Thank you

[2019-07-26 03:47] #3224 closed

[2019-07-26 14:31] bromso commented on #3155
I know and I love it!
I was just thinking from a marketing point of view. It's always good to market horizontally. And maybe Dashapp is to small for this purpose, what do I know? But maybe there are similar apps, editors, IDE were a similar approach could be taken to give the same type of functionality?

So perhaps close this issue?

[2019-07-26 17:23] #2690 closed

[2019-07-26 21:22] stefk commented on #3164
This PR should fix the website: https://github.com/grommet/grommet-site/pull/110.

[2019-07-28 15:22] oorestisime commented on #3222
I like this as well.. I find myself doing the Box+Text alternative a few times as well :)

[2019-07-28 15:23] oorestisime commented on #2641
Nope, i am thinking that compatibility with styled-components should be there. Supporting emotion would be a plus.

[2019-07-28 22:35] imad93 opened #3229 "Boxes in Grid exceed the limits when a margin is set"
I am trying to create a responsive grid with left and right margins in which there will be two components on the right (end of Grid row).
The first one will take the place of 1 column, the second one taking the place to 2 columns.

I tried the following two options:

1. Using ResponsiveContext.Consumer and set columns and rows to:
`columns={"xsmall"}
rows={"xsmall"}
`
with no areas set (like for a

[2019-07-29 15:45] ShimiSun commented on #3156
@sradevski can you share with me your design, also with the animation part you mentioned? I'm curious to see how we could help your team.
Feel free to send me a direct message on slack if the design is restricted.

[2019-07-29 17:38] ShimiSun commented on #2661
@dgennetten, @yuriyKovalchuk can this issue be closed?

[2019-07-29 19:49] ShimiSun commented on #3202
@Zodiase, grommet's `color` prop is supporting both types of String & Object, but the Object type has a constraint of the following structure`{ dark: string, light: string }`. see https://v2.grommet.io/button#button.color (so it doesn't accept `opacity` styling)

I agree our documentation wasn't very helpful for the active behavior on Button, and I've filed https://github.com/grommet/grommet/pull/

[2019-07-29 19:58] ShimiSun commented on #2661
Got a confirmation fro @dgennetten! Thank you for your contribution!! 💯 ❤️

[2019-07-29 19:58] #2661 closed

[2019-07-29 21:24] britt6612 commented on #3167
@ShimiSun this problem was not solved https://codesandbox.io/s/grommet-ts-v8lyz

[2019-07-29 21:36] britt6612 commented on #3167
This same error is happening in #3205 #3193
Adding the React.ReactNode is giving this error of

TS2322: Type 'Element' is not assignable to type 'string | ({} & string) | (ReactElement<any, string | ((props: any) => ReactElement<any, string | ... | (new (props: any) => Component<any, any, any>)>) | (new (props: any) => Component<any, any, any>)> & string) | (ReactNodeArray & string) | (ReactPortal

[2019-07-29 21:53] ericsoderberghp commented on #3222
I'm OK with the basic concept of being able to override the max-width for special circumstances.

One other options is to do `style={{ maxWidth: 'none' }}`. This might be sufficient if the frequency is low enough.

I'm OK with using `fill` as a property to control this. My inclination is to just support `true|false` values though.

[2019-07-30 05:35] #3229 closed

[2019-07-30 09:02] imad93 commented on #3229
Here is a working sandbox:
https://codesandbox.io/s/grommet-responsive-grids-1fgjd

[2019-07-30 21:06] ShimiSun opened #3234 "IE11 `.includes` is not supported"
Note to self: There are 6 more occurrence of `.includes` that I'd like to create an issue for. This can help us fix such compatibility problems before anyone faces them on IE11 as we can use this nice approach suggested in this PR everywhere else too (carefully).

_Originally posted by @crashuniverse in https://github.com/grommet/grommet/pull/3223#issuecomment-515763442_

[2019-07-30 21:38] #3221 closed

[2019-07-30 21:56] ShimiSun commented on #3164
@stefk you are my hero 🥇 PR merged!

[2019-07-30 21:57] #3164 closed

[2019-07-31 16:47] ShimiSun commented on #3209
I think the root cause is here https://github.com/grommet/grommet/blob/924f237001ebff76ba107e64ebe291a8869224d3/src/js/components/Menu/Menu.js#L181
so if I add for example `align="center"` to this line, I get this layout
![Screen Shot 2019-07-31 at 10 45 19 AM](https://user-images.githubusercontent.com/6320236/62231003-541ec800-b380-11e9-8eb9-94e24a2a627c.png)

@dmitrij-borchuk, Is this what you a

[2019-07-31 16:49] #3193 closed

[2019-07-31 17:02] ShimiSun commented on #3071
adding this as a pattern idea that includes the above use case
https://grommet.slack.com/archives/C04LMHN59/p1564499348114700?thread_ts=1564498504.114100&cid=C04LMHN59

![txt media](https://user-images.githubusercontent.com/6320236/62232020-79acd100-b382-11e9-90a8-e536c772e9a6.PNG)

@jermsam 👍

[2019-07-31 17:37] ShimiSun commented on #3172
We need to discuss why Utilities on the grommet site are components and not actual utils, and which grommet utils should we exposed due to grommet backward compatibility issues.

[2019-07-31 17:44] ShimiSun commented on #3209
after discussion: we might consider allowing the generic customization that is allowed with Select.

[2019-07-31 18:13] #3167 closed

[2019-07-31 21:40] jermsam commented on #3071
@Faizan-Khurshid , check these out:
sandbox: https://codesandbox.io/s/github/jermsam/RichTextEditor/tree/master/
repo: https://github.com/jermsam/RichTextEditor

[2019-08-01 09:05] dmitrij-borchuk commented on #3209
My suggestion is to remove this container https://github.com/grommet/grommet/blob/924f237001ebff76ba107e64ebe291a8869224d3/src/js/components/Menu/Menu.js#L198 so icon and label will be aligned by `Button` component and we already have the possibulity to set properties on the `Button`s

[2019-08-01 12:42] RomanShabanov commented on #3234
Wouldn't it be better to include polyfills instead of downgrading code syntax?

[code]

[2019-08-01 18:08] ShimiSun commented on #3234
@RomanShabanov sounds like a valid pull request :)

[2019-08-01 19:29] atanasster opened #3235 "Typescript definitions only implemented for object.js in utils"
Multiple utils functions do not have typescript typings :
from colors.js:
colorIsDark
getRGBA
all other exports, not from object.js
https://github.com/grommet/grommet/blob/master/src/js/utils/index.js

[2019-08-01 20:30] britt6612 opened #3236 "Warning: Failed prop type: Invalid prop `background` supplied to `Box`."
### Expected Behavior
You should be able to pass a string to Opacity in background

no warning should appear
### Actual Behavior
Warning: Failed prop type: Invalid prop `background` supplied to `Box`.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-sandbox-69zq2

### Steps to Reproduce

1. If you use the Box component
2. if you pass in a string for opacity

[2019-08-01 20:34] atanasster opened #3237 "Typescript definitions - extract types"
The types for common properties like `align`, `gap`, `margin` etc. need to be extracted in a core types file. The current typescript implementation leads to code duplications, both in grommet itself and in the applications using grommet.
https://github.com/grommet/grommet/blob/9a2663082bb21bb5d4a947cedfdc769451c72522/src/js/components/Box/index.d.ts#L7

for example
`export type GapProp = "xxsmall"

[2019-08-01 20:53] ShimiSun commented on #3209
@dmitrij-borchuk , I suspect removing this line may cause a backward compatibility issue but I'm willing to consider your suggestion.
Sounds like you are feeling comfortable enough with the code to file a PR, care to give it a try?

[2019-08-02 18:21] #3236 closed

[2019-08-02 18:38] ShimiSun commented on #3235
I'm not sure how much of those we will like to expose. It is also not part of our documentation.

[2019-08-02 20:01] atanasster commented on #3235
I think all exported classes and functions should be typed. In this case, I am using colorIsDark and can not import it from `grommet/utils.d.ts` -> have to go instead for `grommet/utils/colors.js` to import the untyped version.
If typescript is not a priority with v2, then also no need to export the object.js types from utils/index.d.ts - it just makes it confusing that some utils functions are ty

[2019-08-02 20:07] atanasster opened #3242 "Anchor disabled property"
the `Anchor />` *disabled* property is not included both in `doc.js` and in `index.d.ts`

the following typescript code generates an error:
[code]

[2019-08-03 02:18] ShimiSun commented on #3235
Thanks for sharing your findings, we'll take it all into account.

[2019-08-04 04:58] seelikes opened #3245 "How to listen Enter event on TextInput"
# Expected Behavior

TextInput may have a onEnter or something called when user clicked Enter key of the keyboard

### Actual Behavior

TextInput only has an onChange or onSelect, which can not perform this behavior.

# Reason
mostly we do not need to respond along with each charactor changes on the TextInput, we just need to know the input is over, until then we want to do our job once and for al

[2019-08-04 05:22] seelikes commented on #3245
sorry, we can use a Keyboard element as the TextInput's parent, assign Keyboard's onEnter property.
[code]

[2019-08-04 05:22] #3245 closed

[2019-08-04 21:35] jguo1002 opened #3246 "Clock countdown timer does not work"
I wanted to add a countdown timer. But it seems not work using Clock.
It just froze there and no countdown.

Here is my code of a 30 min timer:

[code]
[![Edit grommet-clock-example](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/kind-bassi-ykhj2?fontsize=14)

I set up as it says in the [doc](https://v2.grommet.io/clock). Was there anything wrong?

- Grommet vers

[2019-08-05 12:59] juanlanus opened #3247 "Select options not shown any more after search for non-existent value"
In a Select with search, after searching for a value not present in the options, the options list doesn't show any more. Also does the search input.

### Expected Behavior
Keep showing the search text and the clear [x] button.

### Actual Behavior
Both the list ans the search value disappear.

### URL, screen shot, or Codepen exhibiting the issue
### Steps to Reproduce

1- Open: https://storybook.

[2019-08-05 13:17] juanlanus opened #3248 "Enable Select to grow the list with new options"
Top-gun Select controls have options to add new items to the list.
Like for example https://react-select.com/creatable
As I see it, it should be available only in searched Select's.
The functionality is to pass the search value typed by the user to the caller so she can handle the new value (for example popping-up a dialog, or whatever).
This should happen when the user leaves the Select with ente

[2019-08-05 14:17] ShimiSun commented on #3209
I've added another storybook example to demonstrate how you could still play with the alignment without changes on grommet-core. try to see if it helps you out.

[2019-08-05 14:44] isaacsultan opened #3249 "Error in ./src/App.js Module not found: [CaseSensitivePathsPlugin]"
importing Grommet searches for the module (which does not exist) at `/Users/isaacsultan/smallworld/node_modules/grommet/index.js` when it is installed at `/Users/isaacsultan/smallworld/**frontend**/node_modules/grommet/index.js`

###

[code]

### Steps to Reproduce

#### Filestructure

[code]

[code]

### Your Environment

- Grommet version: "grommet": "^2.7.4",
- Browser Name and version: Chrome

[2019-08-05 15:04] oorestisime commented on #3249
Hm weird, can you post a better reproduction? maybe a repo or on codesandbox?

[2019-08-05 15:21] isaacsultan commented on #3249
I tried reproducing with fresh create-react-app but the error does not occur.

Within my own project, the issue is solved by using  a relative import path rather than allowing npm to set the path.

However, it would still be nice if this bug could be squashed, so keeping issue open.

[2019-08-05 19:53] ShimiSun commented on #3249
I'm not sure how we can tackle this one if we can't reproduce it, thoughts?

[2019-08-05 20:01] oorestisime commented on #3249
Yeah i am having a hard time figuring how to tackle this as well. even a bit of markup code could possibly help.

[2019-08-05 20:57] britt6612 commented on #3242
@ShimiSun I'll fix this

[2019-08-05 21:11] ShimiSun opened #3251 "[TS] error when importing grommet theme"
How to reproduce:
https://codesandbox.io/s/grommet-ts-jns72

Expected behavior: Not to throw an error.

[2019-08-06 03:01] crossjs opened #3252 "parameter `responsive` in roundStyle of StyledBox is never used"
https://github.com/grommet/grommet/blob/28366f60cda7ace2ff2d3a5d385f9eee8411f73c/src/js/components/Box/StyledBox.js#L239

[2019-08-06 09:51] myktra opened #3253 "Calendar doesn't show first day of month if firstDayOfWeek prop is set to Monday"
### Expected Behavior

Calendar should ensure the first day of the month is always shown, regardless of `firstDayOfWeek` prop value.

### Actual Behavior

The first week of the month – _if the first day of the month falls on a Sunday_ – will not appear if the `firstDayOfWeek` prop is set to `1`, or "Monday" (it defaults to `0`, or "Sunday").

### URL, screen shot, or Codepen exhibiting the issue

[2019-08-06 10:19] tharunhpe opened #3254 "V2 Select-Unable to add ids to the options"
### Expected Behavior

After i pass object like: {[ id: '123', label: 'abc', value: 'abc' ]}
When i inspect on the dropdown on click on Select, the rendered buttons should have the ID.

### Actual Behavior

When i inspect on the dropdown on click on Select, the rendered buttons dont have the ID.

Code Error:

All the props are not being passed from objects from parent of button: https://github.com

[2019-08-06 21:03] ShimiSun commented on #3252
were you trying to use it? how did you run into this issue?

[2019-08-06 21:06] ShimiSun commented on #3249
I'm waiting to see if any user from the community will face this problem and share an environment we can reproduce the issue with. until then I'm not sure what we can do.

[2019-08-06 21:09] numice commented on #2902
I still don't exactly understand how to use `areas` and using `count` for rows and columns. If I try to create rows and columns using `count` and name the generated areas with `areas` it gives out error. To illustrate, this code does not work:
[code]

whereas this works fine, although the result should be the same:
[code]

[2019-08-07 00:07] crossjs commented on #3252
[code]

[2019-08-07 01:33] bemineni opened #3261 "Menu of drop button shows up at the top left corner of the page for the first time"
I see the menu of drop button showing up at the top left corner of the page for the first time when the page loads. Next successive clicks on the button show the menu properly underneath the button. I am not able to reproduce this issue on code sandbox

### Expected Behavior
The  menu should show up beneath the button

### Actual Behavior

Shows up at the top left corner of the page on the first c

[2019-08-07 15:11] oorestisime commented on #3261
Hm if this is not reproducible reliably i am not sure how we can investigate. can you share some more information with markup? or if this is in a public repository to link?

[2019-08-07 16:37] Chinow commented on #3050
Adding my two cents on another similar issue but with TextInput the workaround suggested by @jasnross  doesn't seem to work:

[code]
 ### Actual behavior:
The following error is reported:
[code]

### Extra workaround
I have to cast those props as the props of an HTMLInputElement to get things to compile:

[code]

[2019-08-07 21:23] #3242 closed

[2019-08-07 22:46] ericsoderberghp commented on #3235
Here's our current thinking on this one ...

We will publish documentation for the utils functions we'll commit to aligning with the semantic-versioning rules. I think @ShimiSun is already working on this.

[2019-08-08 03:18] atanasster commented on #3235
Not sure the semantic versioning is related to this issue?
For typescript, I think the best for utils functions is to export type definitions for all exported functions. Otherwise, the .js files and their .ts counterparts are not compatible and this is a bug in my opinion. Best would be to no go the current route of having all types in index.d.ts, but instead in the corresponding files ie styles.d

[2019-08-08 15:56] ShimiSun commented on #3254
Thanks for filing an issue.
A couple of things, it will help us if you can provide some context on what you are trying to achieve and why you find it necessary for your use case, and so we could provide the most suitable solution.
I started a code sandbox to reproduce what you are experiencing, but I need you to fill in the render method you are using to render the options object https://codesandb

[2019-08-08 16:43] Santiago8888 commented on #1586
Hi @RyanCCollins, I could not make it work.

But even if I could I was expecting to use the smooth property.

I ended up using anchor tags, instead.

It would be nice to have the native scrollto implementation.

[2019-08-08 16:55] atanasster opened #3263 "typescript: DropButton should accept button props"
DropButton should accept button props
JSX.IntrinsicElements['button']

example to reproduce issue:
[code]

https://github.com/grommet/grommet/blob/02c40eb34dacec20bcd95f2ea8a9cf92f75a7d32/src/js/components/DropButton/index.d.ts#L15

[2019-08-08 17:32] ShimiSun commented on #3252
@crossjs I agree it might be redundant from the function, and I see it is true for `borderStyle` but does it impact your app in any way?

[2019-08-08 17:54] crossjs commented on #3252
Yes. I want to use same `border-radius` in break-points.

[2019-08-08 19:27] dmitrij-borchuk commented on #3209
@ShimiSun Thank you for the Storybook example. Later I will try to make a pull request if you still need it

[2019-08-08 19:41] ShimiSun commented on #3209
@dmitrij-borchuk yes, feel free to file a PR, this issue will be waiting for you :) appreciate your collaboration.

[2019-08-08 20:49] ShimiSun commented on #3202
hi @Zodiase, unless you got further comments or questions for us that are relevant to this issue, we'll be closing it. thank you for filing and collaborating.

[2019-08-08 20:51] ShimiSun commented on #3155
I kept this issue opened cause I think that

will be valuable to other users, hence I want it to be documented properly on the grommet-site.

[2019-08-08 21:28] #3205 closed

[2019-08-09 14:36] #3263 closed

[2019-08-12 07:37] sradevski commented on #3156
@ShimiSun missed the ping, sorry about that. The animation I was referring to is the one currently grommet uses, as shown [here](https://v2.grommet.io/select). If we were to make the corners lose their radius when the Select is open, while animating it might require animation on the border radius as well for it to look smooth. Anyhow, the animation is not an issue at all, as we can also simply dis

[2019-08-12 20:42] ericsoderberghp opened #3267 "JSConf - explore extending testing-library"
Would it help grommet adoption if we provided some test integration libraries or utilities? Apparently testing-library has something this for react-select

[2019-08-13 05:26] ShimiSun opened #3268 "JSConf - build a grommet UI for conduit API"
I've contacted Jeff to get some info in the API.
https://2019.jsconf.us/speakers/jeff-hoffer

[2019-08-13 05:45] ShimiSun commented on #3156
@sradevski thank you for bringing it up to us buddy!
we are always interested in feedback and ideas to make sure we are considering all options for the grommet components. we'll definitely discuss it.

[2019-08-13 08:00] oorestisime commented on #3155
so we can close this?

[2019-08-13 09:35] bromso commented on #3155
@oorestisime Yes please! :)

[2019-08-13 14:11] #3155 closed

[2019-08-14 12:53] dheerajvs commented on #2556
@ericsoderberghp Now that hooks are released, is there a plan to leverage them?

[2019-08-14 18:18] #3251 closed

[2019-08-14 18:31] atanasster opened #3271 "Roadmap rough draft"
a grommet roadmap outline to start the conversation, I can expand on the details when i have some more time.

v3 - goal - improve quality and development process.
1. Rewrite components in typescript to use better error finding and also create usable typescript interfaces for users
2. Remove react-desc and adopt a docgen type documentation style using the richer ts interfaces for documentation
3. U

[2019-08-14 18:32] atanasster commented on #3267
Yes it would attract the target audience (enterprise users), including adding testing hooks for commercial tools such as TestComplete, TestCafe etc. but i am afraid its currently a long shot - other issues are much more pressing imho. To clarify what I have in mind, i created a rough roadmap outline.

[2019-08-14 20:57] ShimiSun commented on #3271
I'd love to hear what more people think about the suggestion, opening it up for the community to respond... please share your feedback!

[2019-08-14 21:18] atanasster commented on #3271
Following a private conversation
-why typescript rewrite is getting highest priority
The d.ts files were generated initially by react-desc and are full of issues. Although currently those files are maintained manually, it takes almost a full time dev to fix those files. Additionally rewriting with typescript will uncover some bugs and issues with the library itself.

-why replace react-desc with d

[2019-08-14 21:20] ShimiSun commented on #3252
@crossjs the Box's responsive breakpoint is impacted by `global.breakpoints.borderSize` for the `borderStyle`, and by  `global.breakpoints.edgeSize` for the `roundStyle`. so you can still achieve customization of it by modifying these theme values, were you trying to do it in other ways?

I'll do a clean-up for those redundant arguments.

[2019-08-14 21:45] ShimiSun commented on #3136
@jim-king-2000 thank you for filing the issue, we appreciate your grommet mindset and your suggestion above.
We are thinking along the following lines to solve your issue, please share your opinion or further ideas
`<Box height={{min: 'medium', max: 'large'}} overflow='auto' />`
so the height will be `auto` according to its content, but will still be controlled with a potential min/max object fill

[2019-08-14 21:57] britt6612 commented on #3050
After digging into this a little more I did see that #2786 side effect of using React.ComponentClass and React.FC is what is causing the issue with passing props down.

https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/issues/87

This is also stated in the README for TS and React.
Going to research further on other approaches to use that may solve both issues.

You can also wri

[2019-08-14 21:59] ShimiSun commented on #2865
After talking about this issue with the team, we are interested to understand how this scenario will be handled in a responsive way when the text will be too long. for example, one may want the checkbox to be aligned centered while others won't. so it drives some layouts questions on the implementation.
I addition, although this behavior is not allowed using a prop at the moment, it could still be

[2019-08-14 21:59] #2865 closed

[2019-08-14 22:01] ShimiSun commented on #2720
@MikeWalrath do we have this one on our templates ideas list?

[2019-08-14 22:07] ShimiSun commented on #2938
@juanlanus can you tell if this is solving the issue you raised? it's still on its beta version, but I want to make sure it answers your needs. https://theme-designer.grommet.io/

[2019-08-15 02:07] jim-king-2000 commented on #3136
The suggestion is great! It exactly match what we need.

[2019-08-15 04:01] ShimiSun commented on #3136
@jim-king-2000 awesome! Glad to hear, care to make an open source contribution?
The initial way to go will be to extend the hight and width props to accept an object and set the styled component with the corresponding min & max values.