[2020-02-05 23:45] ShimiSun commented on #3668
@oorestisime, yes I like the idea, let's discuss it on the next staff call.

[2020-02-05 23:50] #3711 closed

[2020-02-05 23:51] ShimiSun commented on #3697
I'll quote @ericsoderberghp response to this issue on Slack: https://grommet.slack.com/archives/C04LMHN59/p1580261935273700

I'll add that the variety and flavors of Sidebars are so opinionated it will be hard to come up with a customized yet valuable Sidebar component.
Would it help if we'll add variety on Layout implementations to show different ways of Sidebars?

[2020-02-06 09:23] anoopadvaitha commented on #3665
Facing same issue. If the length of the object is more than 100 it seems to be working fine.

[2020-02-06 14:00] Bahlaouane-Hamza commented on #3496
@ericsoderberghp any thoughts or guidance on this ?
Rebass JS is providing a similar approach as the above.
https://rebassjs.org/props#responsive-styles

Thank you for your time.

[2020-02-06 15:24] Bahlaouane-Hamza commented on #3718
Here is how i would do it.
https://codesandbox.io/s/grommet-responsive-context-issue-dy96c

Grommet has not being initialized at the moment you call useContext, so the responsive context did not get any update yet.

[2020-02-06 20:54] jHwls opened #3732 "Form validate onBlur and FormField validate prop broken in 2.10.0"
FormFields won't validate on blur, despite setting the Form `validate` prop to "blur". Additionally, setting a FormField `validate` prop to an array doesn't work, although the docs list this as an option. Using a function does work however.

Additionally, it would be nice to be able to imperatively trigger certain behaviors of the Form using a ref where Grommet's in-built functionality doesn't mee

[2020-02-07 01:57] ShimiSun commented on #3732
Hi buddy, this issue might have been fixed on the stable master branch, can you verify?
(change `package.json` grommet to point to  "https://github.com/grommet/grommet/tarball/stable" and remove yarn.lock, yarn cache clean)

[2020-02-07 05:11] jHwls commented on #3732
Awesome, that helps massively. Thanks!

Is there any plan to expose more of the Form api at all? FinalForm/Formik allow for a render props where you can access `errors` and `values` for instance—not seeing how to do something similar in grommet?

[2020-02-07 08:21] oorestisime commented on #3496
Hi,

thanks for taking the time to write this and being patient with us!
You provided really nice examples and i agree that grommet should provide a way of embedding those media queries in the component.

To answer your points:

1. this is already possible, they are in the theme. unless i didn't understand what you meant.
2. This could be a nice utility prop. It would avoid a lot of userland code

[2020-02-07 09:20] oorestisime commented on #3649
i suppose this is because you didnt give it a name? so the state is hitting on the same probably undefined probably. not sure this is a bug.

[2020-02-07 16:10] #3712 closed

[2020-02-10 18:30] IanKBovard commented on #3677
I'm not sure I understand the problem correctly. I don't see a Select component in the example, just this block.
[code]

[2020-02-10 20:48] ShimiSun commented on #3649
I'll be closing the issue, feel free to reopen or file a new issue if you can elaborate on the info above.

[2020-02-10 20:48] #3649 closed

[2020-02-10 20:50] #3702 closed

[2020-02-10 20:51] ShimiSun commented on #3702
Thanks for reporting, the fix will be available on our next release.

[2020-02-10 20:56] ShimiSun commented on #3634
@mateeyow  this issue is addressed on https://github.com/grommet/grommet/pull/3737, thank you for reporting.

[2020-02-10 23:38] IanKBovard commented on #3702
This can be closed. addressed in #3709

[2020-02-11 00:46] csclyde commented on #3702
@ShimiSun Thanks for the quick work. Will this only be going into Grommet v2, or will it make it into v1 as well? We still have a project using v1. Thanks.

[2020-02-11 01:07] mateeyow commented on #3634
@ShimiSun thank you.

[2020-02-12 20:04] r1w1k commented on #3658
Yep, I've just run into this same issue. Luckily it appears that react-hook-from has a Controller wrapper that claims to address this for arbitrary UI libraries, and you don't use the register function at all:
https://react-hook-form.com/api#Controller

Here's a modified version of your codesandbox that shows react-hook-form Controller working with Grommet's TextInput and Select.
https://codesandb

[2020-02-13 18:16] albertotimoteo opened #3748 "DataTable rendering old data"
I'm using grommet's DataTable on one of our projects here in my company and I treat every type of sort in my backend. So, when I change the order of my data, my backend returns me an array and I set this array to a state. This state is the same that the datatable receives, and the table re-renders, but when it does it I have 5 "ghost" registers that always stay at the top of the table. If I do a c

[2020-02-13 18:54] ShimiSun commented on #3702
Hi @csclyde , thanks for your patience.
Looking at the code for this fix, it is very specific for v2 and wouldn't work on v1, more specifically v1 doesn't use React hooks (react version of ^16.8) so the couldn't apply there.

If you have an idea for a fix on v1, feel free to directly fix it on your local version, we do not have the resources to upgrade and have new releases on v1 at this point, un

[2020-02-13 19:44] jHwls commented on #3732
@ShimiSun Is there a chance of a release that will lock down the Rorm fixes? Point to master is proving difficult

[2020-02-13 22:48] santaclauze opened #3749 "Menu is displaying warning in console when using `as` props"
First of all, thank you for this great library.

I have a console warning in my console when using `Link` component in the Menu, items props.

### Expected Behavior

Not have a console warning

### Actual Behavior

Have a console warning when using `as` props in Menu Items props.

### URL, screen shot, or Codepen exhibiting the issue

I was unable to reproduce with codepen but here are some screen

[2020-02-14 06:56] rbalaga commented on #872
may be we can override the **_renderDrop** function in **DateTime** component in parent component to display customized **DateTimeDrop** component.
a little bit of idea is presented here.
https://rbalaga.github.io/2020/02/09/override-child-methods-from-parent/

[2020-02-15 10:07] c3s4 opened #3751 "Select crash strangely with some data opening the drop"
When I use some specific data, the select crashes opening it (only if I need to scroll), telling `NotFoundError` and it seems related to `Drop` component.
I can't explain better than this, I create a codepen to reproduce it.

https://codesandbox.io/s/grommet-select-not-working-with-react-hook-form-ti9wz

[2020-02-16 18:16] sivakar12 commented on #3641
Wouldn’t giving the Box a wrap prop solve this issue?

[2020-02-17 10:16] acheronfail commented on #1988
Is there a way we can change the box-shadow color?
A white shadow on a dark background sometimes isn't the best look.

[2020-02-17 11:47] acheronfail commented on #1988
Nevermind, I found that you can do this by setting new values for the `elevation` property in the theme object:

[code]

[2020-02-17 18:12] ali-wetrill commented on #3246
Any update on this?

[2020-02-17 23:59] NickClark opened #3753 "Layer backdrop not individually styleable"
### Expected Behavior

I should be able to set styles on the Layer backdrop

### Actual Behavior

Setting the style attribute only allows styling of the container. Since a Layer is pulled out of the normal DOM flow, I can't wrap it meaningfully enough to even create a selector so I can manually style it in CSS. Even just being able to assign a `className` to it would be helpful. I know you can ove

[2020-02-18 11:46] IanKBovard commented on #3749
@santaclauze could you elaborate more on this issue for me? You're unable to use the as prop within menu items? Is there a reason you want to use the Link component, and not href in the menu items? Sorry, I'm just having trouble pinpointing the issue without an example i can work with.

[2020-02-18 13:15] shovelmn12 opened #3755 "dropProps being ignored in Menu"
https://github.com/grommet/grommet/blob/afdc12fa0b5311ce037bf5410b32b83463e85660/src/js/components/Menu/Menu.js#L234

dropProps not being passed to DropButton in Menu Component.
need to add to DropButton:
<DropButton
           dropProps={dropProps} //maybe remove align or merge all drop props here
           .../>

[2020-02-18 16:51] IanKBovard commented on #3755
@shovelmn12 could you give me an example of your problem on codesandbox?

[2020-02-18 17:25] ShimiSun commented on #3623
Issue fixed, thanks @IanKBovard for fixing and @dstordy for reporting.

[2020-02-18 17:25] #3623 closed

[2020-02-18 17:47] ShimiSun commented on #3554
So the action item from this issue will be to refactor story examples to keep the templates on the input fields instead of placeholders.

[2020-02-18 19:38] ShimiSun commented on #3732
Yes, @jHwls thank you for your feedback, expect a lockdown in the next couple of days.

[2020-02-18 19:39] shovelmn12 commented on #3755
Simplest is when i want to set direction of the drop with style, now i cant do it so i rebuilt it using dropbutton.

What i tried is to pass dropProps={{style: { direction: "rtl" } }} but it didnt work and i didnt know why until I checked the source code

[2020-02-18 19:55] ShimiSun commented on #1988
@acheronfail glad you figured it out :) join our slack channel for more prompt answers.

[2020-02-18 22:56] ShimiSun opened #3759 "Meter docs"
Gotcha, I'll check into how Meter works -- these are just the values that already existed and I was moving them into the Meter file. Will address this in a separate PR.

_Originally posted by @taysea in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMjM1Nzg2Njk5OnYy/pull_request_review_threads/discussion_

[2020-02-18 22:56] ShimiSun commented on #3759
@taysea

[2020-02-18 23:01] brodybits commented on #3759
@ShimiSun can you give us a little context? The github link seems broken to me.

[2020-02-18 23:10] ShimiSun commented on #3759
@brodybits thanks for being alert about it. github auto-generated the link, I guess we should file an issue there :)
This issue is derived from the conversation on the following PR:
https://github.com/grommet/grommet/pull/3735

[2020-02-18 23:23] brodybits commented on #3759
Grommet Meter as described here for the sake of Grommet n00bs like myself:

- https://v2.grommet.io/meter
- source: <https://github.com/grommet/grommet/tree/master/src/js/components/Meter>
- also found this: https://bit.dev/grommet/grommet/meter

Maybe I should just mind my own business though.

[2020-02-19 12:21] zaferkadi opened #3760 "AnnounceContext does not accept timeout as a parameter."
### Expected Behavior
announce func from the AnnounceContext accepts 3 arguments message, mode, timeout.
timeout should work as well.

### Actual Behavior
announce func from the AnnounceContext only accepts 2 arguments message, mode

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/bold-swartz-s7wcm?fontsize=14&hidenavigation=1&theme=dark

- Grommet version: 2.10.0
-

[2020-02-19 12:55] jim-king-2000 opened #3761 "Bug report: FormField does not work well with nested TextInput."
### Expected Behavior
This code should work:

[code]

### Actual Behavior
Type anything in the TextInput and click "Submit", there is an error message "required" below the TextInput.

### URL, screen shot, or Codepen exhibiting the issue
Sandbox URL: "https://codesandbox.io/s/confident-lamport-uilum"

### Steps to Reproduce

- next.js
  1. Browse "https://github.com/jim-king-2000/nextbugrepro", cl

[2020-02-19 18:05] IanKBovard commented on #3755
have you tried style={{direction: 'rtl'}}? yeah, could you give me an example i can toy around with?

[2020-02-19 18:06] IanKBovard commented on #3641
@blakehilliard have you tried using the solution provided by sivakar12?

[2020-02-19 20:41] markjackson02 commented on #3106
@chrisstpierre do you plan on opening a PR for this? @ShimiSun i am experiencing similar issue on Android Chrome, i am infinite loading images (1 per row), and only my first 3 images show up and scrolling down does not trigger new items. However it works on Windows Chrome.

[2020-02-19 22:39] ypinneka opened #3762 "Form validate is not accepting React Elements"
Hi,

In the story,
https://storybook.grommet.io/?path=/story/form--validate-on-blur
If you check the FormField part of the story,
          <FormField
            label="Name"
            name="name"
            required
            validate={[
              { regexp: /^[a-z]/i },
              name => {
                if (name && name.length === 1) return "must be >1 character";   _==== ERR line

[2020-02-19 23:28] shayanc commented on #3762
Same issue here, looking at the console warning it appears that it no likes the array type.
Non-array based validate objects works fine however - `validate={{ regexp: /^[a-z]/i }}`.

[2020-02-19 23:33] ShimiSun commented on #3755
Menu has an RTL support built-in, not sure what you are trying to achieve but Menu has `margin` prop and using either `start` & `end` should play with the RTL property, give it a try and if it doesn't work share with us a codesandbox with your problem description.

[2020-02-19 23:51] ShimiSun commented on #3641
@blakehilliard any updates?

[2020-02-19 23:53] ShimiSun commented on #3106
@markjackson02 can you share a codesandbox that will reproduce the issue reliably without app side effects?

[2020-02-20 09:33] shovelmn12 commented on #3755
https://codesandbox.io/s/frosty-hofstadter-rhqkd

look at the drop when its open. Grommet is set to dir="rtl" but the drop is ltr.
btw its a problem i encountered with drop everywhere. because the drop is mounted outside <Grommet/> i need to specify direction manually for all drops. usually i am building a drop of my own which checks the current language of the app and set direction accordingly.

[2020-02-20 15:45] blakehilliard commented on #3641
Yes that does work around it.

[2020-02-20 16:02] #3641 closed

[2020-02-20 16:10] blakehilliard commented on #3641
I'm concerned that issues are being closed simply because they can be worked around, even though they really are issues. If I don't specify `wrap`, the buttons _do_ wrap, just not consistently. And if I use boxes in place of buttons, they consistently wrap and never overflow. Is this _really_ the correct behavior of `direction="row-responsive"`? To have the actual responsiveness work "kind of" for

[2020-02-20 16:46] ShimiSun commented on #3641
Thank you for raising your concern, I do not think that using `wrap` is a workaround, it is the intent of the prop and its functionality, see docs https://v2.grommet.io/box#wrap
I will agree that there is a room for discussion on maybe 'row-responsive' should automatically apply a wrap, which might be a breaking change for some users, but I'm opened to discussion if anyone has other ideas.

[2020-02-20 16:54] ShimiSun commented on #3762
Fixed on the stable branch, thanks for reporting. we'll have an official release in the next couple of days.

[2020-02-20 16:55] #3762 closed

[2020-02-20 17:33] IanKBovard commented on #3677
@iMerica Just checking in to see if you can clarify this issue for me. The example you provided does not have your issue present, and I am able to give the select component a class name and inline styles.

[2020-02-20 17:39] ShimiSun commented on #3761
Thank you for the detailed reporting buddy, I've put the code on both storybook and the grommet [playground code](https://v2.grommet.io/form?c=AQ4HgcQJwewWzgUwC4D4BQpRgGIynMDAHYDKArgEZwCWyAvAN4AUjwAbgIYA25iwAXwCUweqmABjEgGcY3RADpuMAObMuvREIEYsWXPjg4aibgBNgxTknoAiAA6dp0gO74zt4N06VTdx85uUB66evoAKogAHsgAksT25MiW1oj+Tq7unsgAnvZpDhlBHsAA9KFhYKV4BMamZhV6YABCScgkwPZQNHCcUDnAufl20lS0yJ7evtwjNCrEALQ0xJ7lmE

[2020-02-20 17:57] ShimiSun commented on #3755
Thanks for elaborating, we'll use your example to enhance Drop to work with RTL.

[2020-02-20 17:58] IanKBovard commented on #3677
Here is an example and a few screenshots
https://codesandbox.io/s/cranky-pond-iwvzu?fontsize=14&hidenavigation=1&theme=dark
![Screen Shot 2020-02-20 at 11 56 45 AM](https://user-images.githubusercontent.com/21990914/74963976-3a0a0d00-53d8-11ea-8eb8-9613d24b74a2.png)
![Screen Shot 2020-02-20 at 11 56 38 AM](https://user-images.githubusercontent.com/21990914/74963982-3bd3d080-53d8-11ea-9523-ea8ead36

[2020-02-20 18:55] shovelmn12 commented on #3755
Sure no problems, i love Grommet. Cant build a website without it now, make things so much easier.
I still think that Menu should pass dropProps to DropButton as i originally showed.
That way users can control better the Drop for Menu.

[2020-02-20 19:17] ShimiSun commented on #3755
We'll take a look into it as well, thanks again!

[2020-02-20 23:13] ShimiSun commented on #3611
This issue is actually easier than it looks and no changes should be done on Grommet, we should just improve the docs on the grommet-site to include the boolean values.
The fix should be placed on the site https://github.com/grommet/grommet-site/blob/fabcdd2239f2f1392c199553c90e8b6b01368cb0/src/screens/Box.js#L94

Any takers?

[2020-02-21 00:28] adriangabardo opened #3770 "Can't resolve 'styled-components'"
### Expected Behavior
`npm i grommet-icons` should work by itself

### Actual Behavior
Need to manually install styled-components after the grommet install

Can you add styled-components to the package.json dependencies? It will install with grommet automatically then.

[2020-02-21 00:30] iMerica commented on #3677
Apologies, I assume I was doing something wrong then. Thank you for looking into it.

[2020-02-21 00:30] #3677 closed

[2020-02-21 02:16] jim-king-2000 commented on #3761
Verified. It's been fixed. Looking forward to the new release.

[2020-02-21 05:19] #3611 closed

[2020-02-21 05:20] ShimiSun commented on #3761
@jim-king-2000 sooner than you think ;)
It's here https://github.com/grommet/grommet/releases/tag/v2.11.0.

I'll be closing the issue, keep us posted if anything else comes up.

[2020-02-21 05:20] #3761 closed

[2020-02-21 05:40] jim-king-2000 commented on #3761
Thanks for the quick response, fix and release. Good wishes to Grommet.

[2020-02-21 05:41] ShimiSun commented on #3732
Done. Grommet 2.11.0 is live and ready, check out the release notes https://github.com/grommet/grommet/releases/tag/v2.11.0 and let us know if you need anything else.

[2020-02-21 05:44] #3732 closed

[2020-02-21 07:12] oorestisime commented on #3770
Hey there,

styled-components is intentionally a peer dependency so we don't lock you in our version of styled-components. Same with react!
This is not a bug but a feature :)

[2020-02-21 09:45] karunakarareddyp opened #3771 "Grommet Layer onEsc and onClickOutside not working when modal is set false"
Click on a button displaying Layer form at Top Right side corner of the window. And i am trying to close the Layer form by using onEsc and onClickOutside attributes but is not working when modal is set false.
If i set modal is true then it's working.

### Expected Behavior
The Layer form should close on by pressing Esc key and Click on outside of the layer form.

 <Layer
        onEsc={this.onClos

[2020-02-21 12:07] mlonn opened #3772 "Select in Form not working properly in 2.11.0"
The Selected value does not get selected

### Expected Behavior

The selected value should be selected
### Actual Behavior

The Selected value does not get selected

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. https://codesandbox.io/s/form-issue-mzb5r
1. Select a value, it doesn't save
1.  Change the version of grommet to 2.10.0
1. Select a value. now it does

[2020-02-21 15:29] IanKBovard commented on #3770
@adriangabardo Was oorestisime able to answer your question?

[2020-02-21 16:22] ShimiSun commented on #3772
Thanks for reporting!

[2020-02-21 17:51] IanKBovard commented on #3771
i can confirm that this is an existing bug, not a regression. Using grommet v2.10 the issue still exists.

https://codesandbox.io/s/grommet-sandbox-cvmyo?fontsize=14&hidenavigation=1&module=%2Fsrc%2FLayer.js&theme=dark

[2020-02-21 20:07] copperwall commented on #3772
I took a shot at fixing this, but it looks like the `setValue` functionality was removed a week or two ago so I'm happy to change the fix if it's not quite right. I left a little more context on the PR #3773

[2020-02-21 20:51] ShimiSun commented on #3772
Hi buddy, thanks again for the prompt report of the issue, I'll release a hotfix 2.11.1 to include this fix.
In the meanwhile the issue is fixed on the stable branch, so you can point your grommet package.json to "https://github.com/grommet/grommet/tarball/stable" instead of 2.11.0 and it should work.

[2020-02-21 21:10] jHwls commented on #3732
Thank you so much! Appreciate all your hard work on Grommet!

[2020-02-22 14:37] ShimiSun commented on #3772
Released officially on grommet v2.11.1, let us know if we can help with anything else. https://github.com/grommet/grommet/releases/tag/v2.11.1

[2020-02-22 14:37] #3772 closed

[2020-02-23 08:27] justdanallen commented on #3496
I have used Grommet fairly heavy on few Gatsby projects now. I have almost decided switch from Gatsby to Theme-UI/Rebass because of how those libraries handle responsive vs Grommet. The main reason is not the API, but the use of media queries for responsive styles in those libraries. Grommets responsive context is useless for Gatsby SSR builds, because of the before mentioned unknown viewport at S

[2020-02-23 10:40] bilak opened #3777 "Submit doesn't work when FormField has required flag"
### Expected Behavior

When FormField has required flag and data are filled submit receives event with data.

### Actual Behavior

When FormField has required flag submit doesn't work even when data are filled.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/kind-napier-gyrpv

[2020-02-23 10:52] bilak opened #3778 "target missing in onChange event"
### Expected Behavior

When calling onChange, event should contain target field with name and value of changed element.

### Actual Behavior

Currently onChange event data has empty target field .

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/kind-napier-gyrpv

[2020-02-23 11:32] #3778 closed

[2020-02-24 06:31] mlonn commented on #3772
Thanks for the quick response 😊

[2020-02-24 11:39] karunakarareddyp commented on #3771
Is there any plan to fix in upcoming releases?

[2020-02-24 14:08] ShimiSun commented on #3771
Ye. does the codesandbox shared above reproduce the exact same thing you are describing?

[2020-02-24 15:29] IanKBovard commented on #3760
@zaferkadi I'm not sure I understand the issue. Is timeout not working for you in the example, or just when using TS?

[2020-02-24 16:56] ShimiSun commented on #3777
Hi buddy, thanks for reporting, I narrowed down the problem and took a look on https://storybook.grommet.io/?path=/story/form--required-label where the issue doesn't reproduce, and the reason you are experiencing this issue is that the `name` prop is missing from both FormField and TextInput components, hence are resolved as `undefined` under the hood which caused the issue. I added both name fiel

[2020-02-24 17:52] bilak commented on #3777
Hi @ShimiSun
so the only one requirement in `FormField` is to provide same `name` as in child component? If so that's ok for me, I just didn't know this.

[2020-02-24 19:16] ShimiSun commented on #3777
@bilak correct, and you shouldn't have known it if it wasn't documented, I'm looking to see if we want to document it or take a default naming approach. Either way, thanks for reporting! I'll keep you posted.

[2020-02-24 22:18] ShimiSun commented on #3760
@zaferkadi If this indeed a typescript issue, please use this code sandbox example of Grommet + TS to reproduce and share your example. https://codesandbox.io/s/grommet-ts-nez6b

[2020-02-24 22:23] ShimiSun commented on #3496
Thanks for sharing your inputs @justdanallen.
@oorestisime I'd love to hear your inputs here.

[2020-02-24 23:22] #3759 closed

[2020-02-25 13:47] chris-grandinetti opened #3781 "Layer opaque background in IE11"
Layer opaque background in ie11
### Expected Behavior
When selecting an item that pops up an overlay, you should continue to see the screen behind it:
<img width="1304" alt="Screen Shot 2020-02-25 at 8 36 44 AM" src="https://user-images.githubusercontent.com/31540481/75252344-7f4c8700-57aa-11ea-9b6c-f545491a0abe.png">

### Actual Behavior
When clicking that item it instead causes the background to

[2020-02-25 19:46] mlonn commented on #3771
Looks like the onEsc bug came here
https://github.com/grommet/grommet/commit/595b3a05a47a843f0f22b133f4f5d109ba0f2a8c
when focus was removed for non modals. I changed the keyboard to be on the document instead. and moved the onClickOutside to not rely on the overlay

[2020-02-25 20:40] IanKBovard commented on #3770
@adriangabardo anything else you'd like to add before we close this issue?

[2020-02-25 20:43] IanKBovard commented on #3751
@c3s4 Can you replicate this again. I'm not sure, but the issue may have been fixed.

[2020-02-25 20:44] IanKBovard commented on #3749
@santaclauze Just checking in to see if you can clarify this issue for me.

[2020-02-25 20:45] IanKBovard commented on #3718
@whoisryosuke were Bahlaouane-Hamza and ShimiSun able to answer your question? This seems to be an issue with implementation.

[2020-02-25 20:57] ShimiSun commented on #3718
I think we are ok closing this issue, feel free to re-open or file a new issue if any need arises.

[2020-02-25 20:57] #3718 closed

[2020-02-25 22:53] taysea opened #3785 "Allow user to specify target for Layer positioning"
It'd be useful to be able to tell Layer what box to position relative to. Similar to how Drop has dropTarget. Right now, it only positions relative to the entire window.

### Expected Behavior

Be able to apply layerTarget to Layer which refers to an element that it should position itself relative to.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reprodu

[2020-02-25 23:39] adriangabardo commented on #3770
Ah, the old feature not a bug trick ;)
Just wanted to double checked, happy to close the issue guys.

[2020-02-26 04:19] karunakarareddyp commented on #3771
@ShimiSun Yes it is exactly the same issue.

[2020-02-26 08:54] NiekBetty opened #3787 "ThemeType breakpoints missing types for medium and large?"
When I try to set `edgeSize` for breakpoints `medium` and `large` my TypeScript compiler complain about `edgeSize` not being a valid type on `global.breakpoints.medium` and `global.breakpoints.large`.

### Expected Behavior

Typescript builds the project.

### Actual Behavior

Typescript throws the following type error:

[code]

### Steps to Reproduce

1. Add the following config to the theme:

[c

[2020-02-26 15:03] myktra opened #3788 "Box "between" border places borders at end of gaps on mobile viewports"
The new *between* value for the `border` prop on boxes aims to place borders between items in a box, centered within the space specified by the `gap` prop. This is great! However, because of the way the border is specified in CSS as fixed pixel distance (rather than a percentage?) it can appear at the *end* of a gap on mobile viewports.

### Expected Behavior

The default behavior (arguably?) ough

[2020-02-26 16:45] ShimiSun commented on #3787
Hi buddy, thanks for reporting!
I created a sandbox of Grommet+TypeScript+customBreakpoints theme, and I don't see the error reproduces, feel free to tune the theme so the error reproduces and I can take better-educated fix https://codesandbox.io/s/grommet-ts-nez6b

[2020-02-26 17:04] #3770 closed

[2020-02-26 17:41] ShimiSun commented on #3788
Thanks for reporting buddy! I'm glad you are using a recent release and giving this new prop-value a try, looks like the issue starts here https://github.com/grommet/grommet/blob/8fbdf884f339944c5bbf94d6bbc99c228b7af386/src/js/components/Box/StyledBox.js#L589
Feel free to start a conversation with filing a potential PR fix.

[2020-02-26 17:51] myktra commented on #3788
Thanks back! Right, it would appear in this code that for some reason we're not using the responsive gap/edge size, as we otherwise are elsewhere in this block.

See: https://github.com/grommet/grommet/blob/8fbdf884f339944c5bbf94d6bbc99c228b7af386/src/js/components/Box/StyledBox.js#L580

This would apply to the `top` and `left` attributes depending on the box `direction` prop:

https://github.com/

[2020-02-26 17:54] ShimiSun commented on #3788
Right, feel like filing a PR?

[2020-02-26 18:39] ShimiSun commented on #3654
Linking to #3750

[2020-02-26 19:26] ShimiSun commented on #3781
https://stackoverflow.com/questions/11516680/css-opacity-not-working-in-ie

[2020-02-26 19:49] bdesouza commented on #2975
Yes. Is there any way for me to upvote this?

[2020-02-26 19:56] ShimiSun commented on #2975
@bdesouza can you share what you are experiencing exactly?

[2020-02-26 21:59] christophrath opened #3790 "Select Component with big options scroll bug"
Should:
Using the select component with lots of options should be able to get into a proper scrolling mode when viewport is too small to show the complete dropdown.

But you can scroll "endless" and there's flickering content.

https://codesandbox.io/s/grommet-sandbox-3xpq2
-> go to "select" component and add a big list of options here

Steps to reproduce:
1. add select component
2. make a pretty

[2020-02-26 22:12] ShimiSun commented on #3790
Is this a duplication of https://github.com/grommet/grommet/issues/3665?

[2020-02-26 22:14] christophrath commented on #3790
You are right.
Duplicate of #3665

[2020-02-26 22:14] #3790 closed

[2020-02-26 22:18] christophrath commented on #3665
Facing the same issue here. actually dropdown must be higher than viewport for reproducing that issue

[2020-02-26 22:24] ShimiSun commented on #3665
Thanks for reporting @christophrath

[2020-02-26 22:46] ShimiSun commented on #3785
Thank you for reporting! The issue is fixed and will be available on our next release.

[2020-02-26 22:46] #3785 closed

[2020-02-26 22:50] ShimiSun commented on #2877
This issue is fixed and will be available on any release later than 2.11.1.
Thank you for reporting and for your patience.

[2020-02-26 22:50] #2877 closed

[2020-02-26 22:54] blakehilliard opened #3791 "Inconsistent and broken behavior in detecting empty required FormFields"
### Expected Behavior

If a FormField is empty on submittal, and it was marked as required, don't submit and point out the error. If it's not empty on submittal, don't say that it is!

### Actual Behavior

With FormFields of type="password", I get strange inconsistent behavior instead of the expected behavior described above.

### URL, screen shot, or Codepen exhibiting the issue

https://codesand

[2020-02-26 23:16] ShimiSun commented on #3791
hi @blakehilliard, thanks for reporting!
Your codesanbox was very helpful to quickly troubleshoot the issue.
Here is the fixed version of your sandbox to unblock you https://codesandbox.io/s/grommet-formfield-required-password-q73pq, the only thing I added to your sandbox is the `name` prop on the FormFields. Not setting the `name` prop will mark the field as undefined, and the `required` logic wo

[2020-02-26 23:38] dchen323 opened #3792 "Adding extend option for table.body"
Currently trying to set a min-height on the table body, but there is no extend option on table body. Using workaround to set an estimated min-height by setting it on the table extend option. Would be nice if it would be possible to add  the extend option on table body.

### Expected Behavior

Should be able to set table body height with extend.

[code]
### Current Behavior

Have to use an estimate

[2020-02-27 16:59] NiekBetty commented on #3787
Hi @ShimiSun

Thanks for your quick reply!

I typed the `customBreakpoints` constant with `ThemeType`. That's when you get the TypeScript error, see this edited code sandbox: https://codesandbox.io/s/grommet-ts-6bi3j

[2020-02-27 17:01] NiekBetty commented on #3787
Inside the `base.d.ts` file the `medium` and `large` breakpoints are typed differently than the `small`:

[code]

GitHub link to file: https://github.com/grommet/grommet/blob/master/src/js/themes/base.d.ts

[2020-02-27 17:08] ShimiSun commented on #3787
Perfect, let me work on a fix.

[2020-02-27 17:43] #3787 closed

[2020-02-27 19:51] bilak commented on #3777
Hi @ShimiSun
I found probably another issue. When `FormField` and it's child have defined name, then it's not possible to display fields with `useEffect`. Please look [here](https://codesandbox.io/s/admiring-voice-x0pjf) `name` field is without name attribute and it's loaded and other fields are with name attribute but are not loaded. Please can you tell me how can I fix this? I would like to have

[2020-02-27 20:12] ericsoderberghp commented on #3791
I lean towards measure #1

I don't think we should construct a default `name`, it could conflict with the name of another element somewhere in the document. I'm leery of looking inside children to try to figure out what to do. If my child is `<MyCustomComponent name="Fred" />`, that `name` may or may not be what we should use.

[2020-02-27 20:59] iMerica commented on #3668
I think you're thinking of an older legacy component. I just tested it to confirm, Anchor definitely does not accept a `path` or `to`  props and when you pass a router path to `href` it behaves like a normal anchor element,   which is doing a new GET request instead of using the underlying browser APIs to update the route (History API).

[2020-02-28 05:52] lukeggchapman opened #3797 "Select's Drop component doesn't scroll well with iOS Safari's keyboard"
### Expected Behavior

The Drop component would stay with the Select component as it does in other browsers.

### Actual Behavior

The Drop component flies around and is almost unusable.

### URL, screen shot, or Codepen exhibiting the issue

https://v2.grommet.io/select?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAbwChFEIEBnKRAbQDd1cR8AaRO-KAGrtOAXUQBeRACV86aADoQfAMpR0UIgHJM+ACYwQmTcQDcVRACd+IC0kLnqAH

[2020-02-28 05:58] lukeggchapman commented on #3797
I think this is due to window.innerHeight/Width being unreliable with the way Safari iOS resizes the screen when the keyboard is active, causing the DropContainers scroll magic to be out of alignment.

I wanted to try and see if changing the window heights to document heights (document.documentElement.clientHeight/Width) would fix the issue and will attempt this next week if I have time.

[2020-02-28 15:14] c3s4 commented on #3751
Ok the issue I was trying to reproduce was different and while I was trying to reproduce it, I found the crash reported, but I'm not able to reproduce it, maybe is an issue with codepen.

The real issue is similar to the #3636 and I reproduce it here:

https://codesandbox.io/s/grommet-select-not-working-with-react-hook-form-ti9wz

Mayb can help.
I think we can close this one

[2020-02-28 18:59] ericsoderberghp commented on #3777
Thanks for the great example. Instead of setting the value per input component, you can set it at the `Form` level, as in: `<Form value={userData}>`. I've forked the sandbox here to show it: https://codesandbox.io/s/prod-dust-hnmzq?fontsize=14&hidenavigation=1&theme=dark

[2020-02-28 20:17] blakehilliard opened #3802 "2.11 does not initialize RadioButtonGroup value in Form"
After upgrading from Grommet 2.10 to 2.11, a RadioButtonGroup initialized with some value now starts with no button selected.

### Expected Behavior

The button defined by the initial `value` prop should be checked on the first render.

### Actual Behavior

No button in the RadioButtonGroup is checked until you click one.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.

[2020-02-28 20:20] blakehilliard commented on #3791
I just noticed that if I downgrade from grommet 2.11 to 2.10 or earlier, the behavior of the codepen is different. It seems to not enforce `required` on the 2nd FormField, but no strange behavior other than that.

[2020-02-28 22:02] ypinneka opened #3803 "Bug in Form Validate"
In a form, when we have a TextInput formField & a checkbox formField & the form's validate prop is onBlur.
Now, when the formField comes to an error state & when we focus on checkbox, the earlier error state  disappears.

Please check the following codesandbox link,
https://codesandbox.io/s/bold-cray-8n2mf

Please do check the gif where I reproduced the same,
![issues1](https://user-images.githubu

[2020-02-29 02:43] dimitropoulos opened #3804 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-03-01 01:24] copperwall opened #3807 "MaskedInput allows input outside of the mask"
When controlling the MaskedInput state using the `onChange` handler, the input will allow an extra character. A good example of this is the [Date](https://storybook.grommet.io/?path=/story/maskedinput--date) story in the storybook.

The mask specifies an input format for dd-mm-yyyy, but the user can enter a value of dd-mm-yyyyy.

### Expected Behavior

When a MaskedInput specifies a mask for a dat

[2020-03-01 09:57] bilak commented on #3777
@ericsoderberghp you probably didn't saved the sandbox. I don't see any difference to my sandbox.

[2020-03-01 17:47] zaferkadi commented on #3760
@IanKBovard @ShimiSun
Thank you for your response, here is a ts version of the code. I also shared a screenshot of the typescript error for passing timeout to the announce function, I think it's only missing the definition
https://codesandbox.io/embed/grommet-ts-ovtw7?fontsize=14&hidenavigation=1&theme=dark

<img width="630" alt="Screenshot 2020-03-01 at 18 42 57" src="https://user-images.githubus

[2020-03-02 07:53] bilak commented on #3777
@ericsoderberghp I've created [another sandbox](https://codesandbox.io/s/blissful-benz-l8odh) where I'm using FormField like you described, but it doesn't work

[2020-03-02 17:07] atreb opened #3810 "disabled prop for FormField does not disable the rendered TextInput"
### Expected Behavior

If disabled={true} then the TextInput rendered by the FormField should be disabled. This works in grommet 2.10 but broke in 2.11.0+

### Actual Behavior

Only background of the TextInput is grayed out and user can still update the text in the form field.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/disabled-form-field-still-editable-l9ryj

[2020-03-02 22:11] atreb commented on #3810
Actually I am able to get around this by replacing
[code]
with
[code]

Passing the disabled prop would have been nice so as to skip adding TextInput (which btw I will have to add to all my forms now)
If this is the expected behaviour ie. separating visual behaviour on FormField and retaining the disabled behaviour on TextInput, then please go ahead and close the ticket.

[2020-03-03 07:42] jim-king-2000 opened #3811 "Select in FormField: Initial value does not work with "name" property"
<FormField name='p' label='p'>
      <Select name="p" value={1} options={[1, 3]} />
    </FormField>

### Expected Behavior
The initial value of the select should be 1. The same bug applies to `TextInput` and `TextArea`.

### Actual Behavior
The initial value of the select is empty. If we change the name property of `Select` to '', the initial value works.

However, standalone `Select`, `TextInput

[2020-03-03 10:17] emmanuelgratuze opened #3812 "FormField : onChange parameter undefined in "component" property"
Since version 2.11.1, the props.onChange parameter seems to be undefined when giving a function to component property in FormField.

### Expected Behavior
In the previous release (2.10.0), the component property callback was returning the parameter onChange :
[code]

### Actual Behavior
onChange property is not defined anymore when component property is being called.

### URL, screen shot, or Code

[2020-03-03 17:07] ShimiSun commented on #3810
Thanks for reporting, in progress

[2020-03-03 17:51] ShimiSun commented on #3812
Thank you for reporting buddy, I was able to fix it by adding a `name` prop to the component field https://codesandbox.io/s/custom-input-onchange-undefined-fixed-qftc8. we will add documentation for it. Thanks.
linking to #3777 #3791

[2020-03-03 18:50] ali-wetrill commented on #2628
I'm not sure the PR fixed this issue - I'm seeing it now with Box

<img width="434" alt="Screen Shot 2020-03-03 at 10 47 13 AM" src="https://user-images.githubusercontent.com/15828070/75808744-758fca00-5d3c-11ea-9a86-bd1a6a55e61e.png">

I get the typescript error as:

Type '{ children: Element[]; className: string; key: string; size: string; pad: { left: string; right: string; }; direction: "row";

[2020-03-03 19:57] IanKBovard commented on #3803
I can confirm this behavior. Acts similarly in the sandbox example
https://storybook.grommet.io/?path=/story/form--validate-on-blur

It looks like all errors are removed from each field onChange. I would expect errors to be individual to each formField.

[2020-03-03 19:58] IanKBovard commented on #3802
i can confirm that it's a regression.

[2020-03-03 20:55] ShimiSun commented on #3812
...That being said, we are working on a fix that potentially won't need the workaround. I'll keep this issue updated as we go.

[2020-03-03 20:58] ShimiSun commented on #3791
We are working on a fix for the issue you mentioned:

I'll keep this github issue updated as we go. Thanks again for reporting!

[2020-03-04 12:42] ashylen opened #3814 "Select strange behaviour when reaching the end of scroll container."
### Expected Behavior

When scrolling to the end of the options container, it should stop scrolling at the very last option.

### Actual Behavior

After scrolling to the last option available the options container is starting to "jump" to the up and down.

### URL, screen shot, or Codepen exhibiting the issue
1.
![Screenshot with visible empty space and scroll in the middle of options container](h

[2020-03-04 18:58] IanKBovard commented on #3814
This can be closed. issue has been addressed in #3816.

[2020-03-04 19:02] IanKBovard commented on #3810
If this was fixed in #3813, I believe we can close this issue.

[2020-03-04 19:13] IanKBovard commented on #3781
The layer overlay is in the same div as the layer itself.

<div layerContainer>
  <div layerOverlay />
  <div layer />
</div>

applying opacity to the overlay won't display the background, and applying opacity to the layerContainer will make the entire layer transparent. The layerOverlay needs to be moved outside of the layerContainer, and opacity applied.

[2020-03-04 20:32] ShimiSun commented on #3791
One more PR before we close it https://github.com/grommet/grommet/pull/3815

[2020-03-04 22:51] ShimiSun commented on #3807
Thank you for the contribution buddy.
adding a reference of a playground to this issue https://codesandbox.io/s/grommet-v2-template-tiuuf, switching between grommet versions will demonstrate the issue clearly.

[2020-03-05 04:52] ShimiSun commented on #3807
Thanks again for reporting and making a contribution, sending some grommet love ❤️

[2020-03-05 04:52] #3807 closed

[2020-03-05 16:45] jatarga opened #3819 "Meter, WorldMap, Distribution is not rendering correctly"
### Expected Behavior
Meter, WorldMap, Distribution should render in **Gatsby**

### Actual Behavior
Meter, WorldMap, Distribution is not rendering, instead they render meaningless DOM: https://ibb.co/GnCB40G

### URL, screen shot, or Codepen exhibiting the issue
https://ibb.co/GnCB40G

### Steps to Reproduce
[code]

### Your Environment
- **Gatsby**
- Grommet version: 2.11.1
- Browser Name and ve

[2020-03-06 16:56] bytewoopy opened #3820 "Input Component's suggestion drop does not popup correctly"
I updated from 2.10 -> 2.11.1 and noticed my input search drops stopped activating when typing...

### Expected Behavior
Drop should show up as in previous releases as soon as user starts typing

### Actual Behavior
No suggestions show up unless I click outside the input and click back in and focus the input or press down arrow key

### URL, screen shot, or Codepen exhibiting the issue
You can see

[2020-03-06 20:47] myktra commented on #3357
FWIW, the Select component raises a *Form elements do not have associated labels* warning in Chrome 80's audit tool. Changing the `htmlFor` prop to include the `__input` suffix clears this particular warning.

I'd be in support of a simpler version of the Select component that has use standard `<select/>` HTML markup with the styled *aesthetic* of the current widget at rest. In theory then the typ

[2020-03-07 02:03] markjackson02 opened #3822 "Select options pop up does not render correctly after scrolling"
### Expected Behavior

When I scroll down the page and click a Select component, the options pop up should render all available options, as it does near the top of the screen:

![select-scroll-issue2](https://user-images.githubusercontent.com/35121685/76134491-ba418c80-5fec-11ea-8012-5f2e8dfb98c0.png)

### Actual Behavior

A blank pop up box is rendered

### URL, screen shot, or Codepen exhibiting

[2020-03-07 10:55] jim-king-2000 commented on #3811
We need to set the value in the FormField. Like the following code:

    <FormField name='p' label='p' value={1}>
      <Select name="p" options={[1, 3]} />
    </FormField>

[2020-03-07 10:55] #3811 closed

[2020-03-09 05:45] jim-king-2000 opened #3825 "Bug: Select in Form, the value is not controlled by value property."
### Expected Behavior

    const [a, setA] = useState();
    <Form>
      <Select name='some_name' value={a} />
      <Button onClick={() => setA('a')} />
    </Form>

We use state `a` to control the value of the Select component. When clicking the button, we set state `a` to string 'a'.

The content of Select component should be controlled by the value property. The value changes, the content cha

[2020-03-09 09:40] NiekBetty opened #3826 "plain is true on button when label prop has no value"
I apply extended styling on a `Button` component via the theme. Hereby I make use of `extend` accepting a function as value. One of the arguments of this function is `plain`. I think this prop has some unexpected behavior when  no value is given to the `label` prop on the `Button` component.

### Expected Behavior

When a `Button` component has no `plain` prop and no value for the `label` prop the

[2020-03-09 15:35] IanKBovard commented on #3609
i believe we can close this issue if it has been solved with #3692

[2020-03-09 15:41] IanKBovard commented on #3621
if #3629 solves this issue, i believe we can close this.

[2020-03-09 15:54] IanKBovard commented on #3781
@ShimiSun how do you feel about making the layerContainer transparent? That would fix the issue in ie11, but i'm not sure how it would affect layer as a whole.

[2020-03-09 15:57] DAnselC commented on #3609
Sweet! Glad this is fixed 😄

[2020-03-09 15:57] #3609 closed

[2020-03-09 16:21] IanKBovard commented on #3791
looks like #3815 was merged, are we free to close this issue?

[2020-03-09 16:38] britt6612 commented on #3826
@NiekBetty thanks for reporting this.

I did find in the code where this logic is

https://github.com/grommet/grommet/blob/bc8daccc5ea4ef5f39e78b296850303736003e10/src/js/components/Button/Button.js#L137

I believe because if there is a icon and no label this is indicating that it is plain.

[2020-03-09 17:18] DAnselC commented on #3820
I also just ran into this issue. I would be fine with this functionality if there was a way to have the suggestions drop open automatically like it did in previous releases!

Additionally I found another semi-related bug. Even in the [existing storybook example](https://storybook.grommet.io/?path=/story/textinput--custom) you will notice this:
There is a flash of "[Object object]" when selecting a

[2020-03-09 19:43] larshisken commented on #3706
@ShimiSun

I know this is still a discussion. But I'd very much like to use this feature. Therefore I already created a PR.

[2020-03-09 20:34] NiekBetty commented on #3826
Hi @britt6612 , thanks for you reply.

Does this mean this is intended behaviour?

[2020-03-09 20:38] ShimiSun commented on #3621
I am ok closing this one, @abishekram feel free to provide feedback from your experience and file a new issue if something comes up. THANK you for asking and encouraging us to extend the functionality.

[2020-03-09 20:38] #3621 closed

[2020-03-09 20:38] #3665 closed

[2020-03-09 20:39] ShimiSun commented on #3665
The fix will be available on our next release. thank you all for reporting and @IanKBovard for fixing!

[2020-03-09 20:42] ShimiSun commented on #3751
I'm closing this issue and we can track the problem on #3636 , thanks for reporting @c3s4

[2020-03-09 20:42] #3751 closed

[2020-03-09 20:46] ShimiSun commented on #3791
@blakehilliard can you please confirm that the master branch works as expected on your end? you can point your package json grommet package to "https://github.com/grommet/grommet/tarball/stable", re-install grommet and verify the fixes works for you as expected. let us know how it goes.

[2020-03-09 20:49] ShimiSun commented on #3810
Yep, this is fixed on `https://github.com/grommet/grommet/tarball/stable`, feel free to point your grommet version on your package.json to this branch, and confirm it all works as expected, I'll be closing this issue unless you'll recommend otherwise.

[2020-03-09 20:49] #3810 closed

[2020-03-09 20:49] ShimiSun commented on #3814
Perfect, thanks @IanKBovard ! 🚀

[2020-03-09 20:49] #3814 closed

[2020-03-09 21:56] atreb commented on #3810
yes it works, thanks!

[2020-03-09 22:15] ShimiSun commented on #3826
@NiekBetty thanks for raising this question.
Just to clarify, in case there is no 'strong' value assigned to `plain` (either true/false), it will be treated as `undefined` which will be the default value of the plain Button.
You can see the differences in this behavior of `plain` (true, false and undefined) on https://storybook.grommet.io/?path=/story/button--icon-plain let me know what you think.

[2020-03-09 22:45] taysea opened #3829 "TextInput: onSuggestionsOpen/Close not functioning"
### Expected Behavior

I should be able to provide a function to onSuggestionsOpen/Close and have it execute when the suggestions opens or closes. The expected functionality works with grommet 2.10.0 but no longer works on 2.11.0, so it looks like something happened between those releases.

### Actual Behavior

These props don't execute the function I provide to them.

### URL, screen shot, or Cod

[2020-03-10 00:31] taysea commented on #3826
@NiekBetty, just to add onto Shimi's comment. The reason an icon only button automatically gets assigned `plain=true` is so that the hit target of the icon is a minimum of 48x48px. This is to meet accessibility recommendations on hit target size.

[2020-03-10 01:05] ShimiSun commented on #3826
@taysea I don't think

`plain='true'` will remove all padding, while 'only icon button' does have auto pad apply for the accessibility reasons you specified ⬆️
 'only icon button' without a `plain` prop will be treated as `undefined` as follows: https://storybook.grommet.io/?path=/story/button--icon-plain

[2020-03-10 01:39] taysea commented on #3826
You're right @ShimiSun. But I think what is happening behind the scenes is two things.
First, if and icon is provided but no label, Button applies "plain": https://github.com/grommet/grommet/blob/master/src/js/components/Button/Button.js#L140

Then, in the styling it applies the plain styles first (https://github.com/grommet/grommet/blob/master/src/js/components/Button/StyledButton.js#L139) but th

[2020-03-10 10:22] NiekBetty commented on #3826
Ah I get the solution for accessibility, nice 👍

However, why are the `icon` and `label` prop influencing this? Doesn't this accessibility apply for a text buttons as well? Or is the width of a text button enough to meet accessibility recommendations?

Also `plain` has three possible values: `undefined`, `true` and `false`. Shouldn't this be an `enum` with a default value then? The documentation n

[2020-03-10 14:27] blakehilliard commented on #3791
How can I do that in the codepen?

[2020-03-10 14:31] ShimiSun commented on #3791
The stable branch isn't published to npm, so I suspect you can only do it on your local repo.

[2020-03-10 15:31] ShimiSun commented on #3810
Perfect, thanks for confirming.

[2020-03-10 15:33] ShimiSun commented on #3706
@larshisken, yes! really nice follow-up, I'll get your PR in after the feedback is incorporated,  hoping you'll be able to use it soon!

[2020-03-10 15:58] taysea commented on #3826
With text, the button will typically be wide enough to meet accessibility.

Thanks for the note on the documentation of `plain`. I'll take a look at how the possible values are documented.

[2020-03-10 17:21] ShimiSun commented on #3781
@IanKBovard I think the approach should be for IE to behave the same as Chrome and not make any specific changes for this issue.
How come Chrome works as expected without a transparent background?

[2020-03-10 17:27] ShimiSun commented on #3819
@oorestisime @halocline or any other Gatsby users can confirm?

[2020-03-10 19:58] ShimiSun commented on #3777
Hi @bilak, I think this issue is fixed on the master branch, care to take confirm it for us? you can point grommet to `https://github.com/grommet/grommet/tarball/stable` on your package.json and re-install it. let me know how it goes.

[2020-03-10 21:12] blakehilliard opened #3832 "required FormField with Select child always rejects submit"
required FormField with Select child always rejects submit

### Expected Behavior

If you do `<FormField required ...><Select .../></FormField>`, it should only be rejected if you have not selected anything from the drop-down menu.

### Actual Behavior

Even if you select something, submission is rejected saying that the field is required.

### URL, screen shot, or Codepen exhibiting the issue

ht

[2020-03-10 21:21] blakehilliard opened #3834 "Removing empty required FormField on a re-render makes the Form unsubmittable"
I have a FormField that only needs to be shown and used if some other selection is made, in which case it is required. But if I ever render that required FormField empty, and then remove it in a later render based on some other selection, then I can't submit because it is still requiring that FormField which is no longer rendered. And no error message is shown to indicate why the submit didn't go

[2020-03-10 22:56] #3829 closed

[2020-03-11 02:25] codeinaire opened #3835 "How to use local custom font?"
I want to use a custom local font, but I've been unable to get it to work. I've tried this solution: https://github.com/grommet/grommet/issues/3107 but couldn't get it to work and cannot find any other solution.

I tried it in the theme object and also in the style sheet but to no avail.

### Expected Behavior

The custom local font should load.
### Actual Behavior
The custom local font is not loa

[2020-03-11 08:17] jatarga commented on #3819
I've created a demonstration with the following dependencies and it rendered successfully.

[code]
So I guess in the project there is something broke not related to grommet.

[2020-03-11 08:17] #3819 closed

[2020-03-11 15:24] halocline commented on #3822
I believe this issue is resolved by: https://github.com/grommet/grommet/pull/3816

`<Select />` is relying on `<InfiniteScroll />` through `<SelectContainer />`.

Using Grommet/master via `https://github.com/grommet/grommet/tarball/stable` and the test case above, the issue is no longer replicated.

[2020-03-11 15:47] ShimiSun commented on #3835
hi buddy, I took your example and loaded custom font to it so you can have a working example.
Please mind the cleanups I changed on the file. https://codesandbox.io/s/custom-font-l7xz9 hope that helps.

[2020-03-11 16:17] ShimiSun commented on #2628
@ali-wetrill you are getting an error because Box doesn't have the prop of `size`.  https://v2.grommet.io/box

[2020-03-11 16:37] ShimiSun commented on #3819
@jatarga , great, thanks for sharing buddy.

[2020-03-11 16:38] tpinne opened #3837 "[TypeScript] GapType should allow boolean false"
We want to completely take over the styling of the RadioButtonGroup. Thats why we modify the RadioButtonGroup component via styled-components to get CSS grid behaviour. But then we have to get rid of the gap dom elements.
If one wants to disable the gaps for RadioButtonGroup you have to set `gap={false}` to not render them to the dom at all. Because if you set `gap={undefined}` the default value o

[2020-03-11 16:41] ShimiSun commented on #3820
@DAnselC thanks for reporting.
We fixed an issue on the TextInput drop this morning, can you confirm you are still seeing this issue? storybbok is up to date.

[2020-03-11 17:39] DAnselC commented on #3820
@ShimiSun Thanks for getting back to me!
I checked out the Grommet Storybook, and I also pulled the latest version of Grommet (with the commits of the TextInput drop fixes) and built and copied files over to my project, and in both cases I'm still running into this issue 🙁

[2020-03-11 18:07] ShimiSun commented on #3825
Fixed on the master branch. Hoping we'll have a release soon. thanks for reporting!

[2020-03-11 18:07] #3825 closed

[2020-03-11 18:07] ShimiSun commented on #3825
Fixed on the master branch. Hoping we'll have a release soon. thanks for reporting!

[2020-03-11 20:23] ShimiSun commented on #3777
Here is a cleaner example of a Form value prop that is driving all the input components values https://codesandbox.io/s/form-value-1igd1

[2020-03-11 21:18] ShimiSun commented on #3820
@DAnselC thank you for verifying, I'm not able to reproduce the storybook issue you attached with the gif, are you still seeing the same thing? or does it behave differently now?

[2020-03-11 22:01] ShimiSun commented on #3822
@halocline perfect!! thank you for verifying, very helpful.
@markjackson02 will be releasing in the next couple of days, stay tuned for the fix on the official release.

[2020-03-11 22:01] #3822 closed

[2020-03-12 01:21] ShimiSun commented on #3834
Looking at the issue, I'm curious to know how you would suggest that grommet should solve this condition situation?

I applied a condition on the required field and it seems to work as expected:
https://codesandbox.io/s/grommet-remove-required-formfield-shimi-fd44u

Let me know how you think grommet should handle the situation on our side.

[2020-03-12 01:40] dokterjay19 commented on #3536
I believe I am having the same issue, except it is not with a stacked component, but rather with an iframe nested within a Box nested within a Grid.

Tried the work around a multiple levels of the component, but still cannot see the issue resolved. Clicking on the iframe results in the click event being registered to one of the divs (I was able to print out the styled box classname of the div to v

[2020-03-12 01:41] jim-king-2000 commented on #3825
:smiley:

[2020-03-12 02:15] codeinaire commented on #3835
Thanks for the quick feedback. It didn't help, but I did get this error:

`downloadable font: download failed (font-family: "NoMeatMayTitle" style:normal weight:400 stretch:100 src index:0): status=2147746065 source: http://localhost:3000/public/fonts/NoMeatMayTitle-Regular.woff`

It seems what I'm doing to use the font is correct, but there's something else going on that mucking up the process.

[2020-03-12 02:52] ShimiSun commented on #3835
@taysea I think you had a similar issue with your website, can you help troubleshoot?

[2020-03-12 02:56] ShimiSun commented on #3536
@dokterjay19 sounds like a separate issue, please attach a codesandbox that reproduces the issue.

[2020-03-12 03:06] codeinaire commented on #3835
Yup, I can help troubleshoot! What do you need me to do?

[2020-03-12 04:54] jim-king-2000 commented on #3825
What about the `<Qr />` icon bug?

[2020-03-12 15:48] blakehilliard commented on #3834
Not for me. I just opened that codepen, selected "No", then clicked submit. The submit did not go through.

If a previously required FormField is removed from the Form, it should have no effect on the validation of the Form. It should be as if it never existed.

I'm confused as to why that's not the obvious right thing for Grommet to do? I'm guessing this is a [leaky abstraction](https://en.wikipe

[2020-03-12 15:54] ericsoderberghp commented on #3834
I think I know why this is happening. I will investigate it.

[2020-03-12 16:13] taysea commented on #3835
@codeinaire It looks like you just need to modify the path to the font. Instead of `/public/fonts/NoMeatMayTitle-Regular.woff`, you should use `/fonts/NoMeatMayTitle-Regular.woff`. Once I did that, I could see your custom font.

[2020-03-12 16:43] DAnselC commented on #3820
This is the storybook I'm looking at! https://storybook.grommet.io/?path=/story/textinput--custom

To clarify, here are steps to reproduce the issues that I'm seeing:
- Start typing into the TextInput. The suggestions drop no longer opens when the user is typing. The user _must_ press the down arrow key for the drop to open.
- Type "Eric." Press the down arrow key to open the suggestions drop. Sel

[2020-03-12 17:31] ShimiSun commented on #3835
Thanks @taysea, I'll be closing this issue, let us know if you have any more questions.

[2020-03-12 17:31] #3835 closed

[2020-03-12 17:32] #3781 closed

[2020-03-12 17:33] ShimiSun commented on #3781
Fixed and will be available on our coming release. thanks for reporting

[2020-03-12 17:39] ShimiSun commented on #3825
Our designers may need to take a look at that.

[2020-03-12 19:26] ShimiSun commented on #3803
I think this issue was fixed on the master branch, can you verify @IanKBovard ?

[2020-03-12 19:33] oorestisime commented on #3668
I was talking for the example here https://github.com/grommet/grommet/issues/3572#issuecomment-575887940 i had tested this a few weeks back everything looked good. did you try that?

[2020-03-12 21:59] codeinaire commented on #3835
I did try that but I was using `local()` instead of `url()`. Once I switched to `url()` it worked.

Thanks @taysea and @ShimiSun for the help! :)

[2020-03-12 22:35] ShimiSun commented on #3837
Hi @tpinne, you can use `gap='none'` and should do the trick.
see this [example](https://v2.grommet.io/radiobuttongroup?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAb0QChLFEIEBnKRbOJgWXygAs4ATBogC8iANo1a5RLnQAjfLgBciAOQAxACoAFFQBpEAN3S4Q+Zeu0rEAX10TaZe5Noz5S1WpgFEAZQCeTPiYek7ORiZmHl74-oHBds62To7Ozq4K5ppaiABkiJ7esVBBIamS4aaZ2gDCcNh+pZJJALoA3NT0YEyIfPjA6CC4UFpsUJw8-MJS6e4WOvoVkXNW1u2Und2ii-oMXABqxqbNUwBK

[2020-03-12 22:43] ShimiSun commented on #3837
I've updated the docs to display the `gap='none'` option, thanks for raising the issue.

[2020-03-12 23:26] ShimiSun commented on #3802
I verified this issue is fixed on the master branch, thank you @blakehilliard for reporting, will be releasing an official release soon.

[2020-03-12 23:26] #3802 closed

[2020-03-12 23:31] tpinne commented on #3837
Actually it doesn’t do the trick in the case, if you apply display: grid to the container.
gap=„None“ renders dom elements with 0 height/width. But in a css grid these elements will be rendered into a column taking up space.

That’s because the „if (gap) {...}“ in the box component always renders those gap Dom elements unless you provide „false“ and ignore the typescript error.

I try to put a fid

[2020-03-13 00:00] ericsoderberghp commented on #3832
I think this is due to the Select not having a `name` property. Here's a fork showing it: https://codesandbox.io/s/grommet-required-select-nxfle

[2020-03-13 00:16] ShimiSun commented on #3837
ok, thanks, looking forward to see your example code. And feel free to make a contribution to fix the issue, it seems like you have an idea where the issue might occur.

[2020-03-13 10:13] shovelmn12 opened #3844 "Bug with Calendar, dates and range"
https://github.com/grommet/grommet/blob/1f8dece662dfa5034db12912903343f42a72cc89/src/js/components/Calendar/Calendar.js#L196

When setting `<Calendar dates={[date1,date2]} range />`
and then clicking another date in the calendar it resets the current selected dates.

I wasn't digging deep but my guess is because theres no update of lastSelectedDate it happens

UPDATE:

example - https://codesandbo

[2020-03-13 14:43] blakehilliard commented on #3832
That works, thanks. "name" isn't listed here, so I didn't know I could use it with Select: https://v2.grommet.io/select

[2020-03-13 16:14] ShimiSun commented on #3832
@blakehilliard thanks for raising the docs issue, I added a PR to enhance the documentation.

[2020-03-13 16:20] ShimiSun commented on #3812
This issue is fixed, we will post a release soon to include this fix. thanks for reporting!

[2020-03-13 16:20] #3812 closed

[2020-03-13 16:22] johnny1K commented on #3356
Same issue which @maslennikov has with grommet ^2.7.11
With the latest grommet (2.11.1) as of now, the synthetic event is gone, but the form object arrives twice.

[2020-03-13 16:49] IanKBovard commented on #3803
it still occurs. It looks like, to me, onChange clears all errors.

[2020-03-13 17:14] bilak opened #3846 "FormField shows required even when value is set"
When I change the value of required field, then hit the submit of form form field is marked as required. This is correct behaviour.
However when I cancel the form edit action and set the form to it's previous value, form field is still marked as required and its value is not present.

### Expected Behavior
When I cancel the edit operation the data should be present with previous data, like in code

[2020-03-13 22:44] ShimiSun commented on #3846
Interesting issue, I havn't drilled into it much yet, but I'm wondering if different management of the functions would help this issue, for example using `useEffect` to update the userData and rerender. It looks like the userData has the correct values but not being re-rendered correctly.

[2020-03-14 09:55] buoyantair commented on #3536
Hi I would love to take this issue...

[2020-03-15 07:41] negati-ve opened #3850 "multiple frame/item carousel"
As I see from the examples,
Grommet provides for a carousel that has a single item display at a given point in time

<img width="527" alt="image" src="https://user-images.githubusercontent.com/13253073/76697516-44a98080-66be-11ea-903a-b30c39d09d62.png">

Does the current grommet carousel have any option/configuration to produce a multi frame/item carousel? like so
<img width="1677" alt="image" src

[2020-03-15 11:07] negati-ve commented on #3850
it looks like grommet internally uses stacks to build the carousel

in that case, I just grouped the images (4 images in my case) into a box and inserted them into my carousel to get this multi slides view carousel effect
`<Carousel play={5000}>
        <Box align="center"  direction="row" height="small">
          <Image src='//v2.grommet.io/assets/Wilderpeople_Ricky.jpg' />
          <Image src=

[2020-03-16 04:10] rohit8 opened #3851 "Select component does not set value to selected option"
### Expected Behavior
An option selected should set the Select value on first click.

### Actual Behavior
If you scroll down the list of options and select an option, the Select component doesn't set the value, and scrolls up the list instead. However, selecting the same value the second time works.

### URL, screen shot, or Codepen exhibiting the issue

https://storybook.grommet.io/?path=/story/f

[2020-03-16 14:40] jesseolsen opened #3852 "Grommet Forms fail accessibility test ("for" attribute missing from label)"
### Expected Behavior

No accessibility issues.

### Actual Behavior

When I run the Wave accessibility testing Chrome extension ( https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=en-US ) on the Grommet Sample for <Form> ( https://v2.grommet.io/form ), it complains with this error:
A form label is present, but it is not correctly associated with a

[2020-03-16 15:05] ShimiSun commented on #3852
Hi @jesseolsen sounds like you already have a fix in mind, would you like to make a contribution?

[2020-03-16 15:14] ShimiSun commented on #3356
Hi @maslennikov can you share a [codesandbox](https://codesandbox.io/s/m7mml8l0zj) that reproduces the problem? It will help us to quickly troubleshoot.

[2020-03-16 15:21] ShimiSun commented on #3832
I'll be closing this issue now that the docs are improved, thanks for reporting!

[2020-03-16 15:21] #3832 closed

[2020-03-16 15:29] ShimiSun commented on #3851
Thanks for reporting buddy!

[2020-03-16 15:31] ShimiSun commented on #3777
I'll be closing this issue, thanks for reporting.

[2020-03-16 15:31] #3777 closed

[2020-03-16 16:06] ShimiSun commented on #3804
Hi @dimitropoulos , thanks for letting us know! nice work!!
I filed a PR to your project to enhance the info on grommet https://github.com/dimitropoulos/react-ui-roundup/pull/12

After merging the PR and updating your site, feel free to publish this announcement on our Slack #announcement channel so more React users will be exposed to this comparison tool.

Regardless, an enhancement request for y

[2020-03-16 17:38] dimitropoulos commented on #3804
thanks!  I updated the PR over there.

As it turns out, I do actually already automatically sort everything everywhere (as far as I am aware), [including the framework name](https://github.com/dimitropoulos/react-ui-roundup/blob/master/frameworks/index.ts#L39), but the branding I have seen for grommet suggests the _lowercase_ `g`.  Due to:

[code]

returning
[code]

In JavaScript, that means that

[2020-03-16 17:51] dimitropoulos commented on #3804
update: I fixed the sorting in https://github.com/dimitropoulos/react-ui-roundup/pull/14, but please do let me know if the branding (i.e. using the lowercase `g`) is your preference.  These details matter to me - you worked hard to make this project and I don't want to misrepresent you in any way!

[2020-03-16 18:04] ShimiSun commented on #3804
I think we can use "Grommet" in a title case rather than a lower case. thanks.

[2020-03-16 18:06] mrcleanandfresh opened #3853 "Modify Form to support an array of FieldValues"
I would like to be able to have `Form` control an array of inputs. For instance, if I have a form where I am allowing a user to input multiple phone numbers.

### Expected Behavior

Originally I thought this would have worked by making the `name` of the controlled component with the index of the FieldValue. Something like `phones[0].number` which would be an object.

### Actual Behavior

It does n

[2020-03-16 19:32] ericsoderberghp commented on #3639
I cannot reproduce this with Safari, Chrome, or Firefox on Mac OSX 10.15.3 (19D76). Can you provide some more details on how to reproduce this?

[2020-03-16 19:34] mrnguuyen opened #3854 "MaskedInput scroll bars goes back to the top"
### Expected Behavior
Scroll bar should stay within place inside the MaskedInput and show allow user to click an input at the bottom of the scroll.

### Actual Behavior
Scroll bar goes back to the top and does not allow user to click on the input at the bottom of the scroll.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/12700313/76793413-

[2020-03-16 19:37] blakehilliard opened #3855 "Since 2.11.0, CheckBox toggles on click regardless of checked prop"
CheckBox no longer appears to be a controlled component.

### Expected Behavior

If you control the checked prop on a CheckBox with a state variable, that alone should determine whether it is checked or not.

### Actual Behavior

Clicking a CheckBox will toggle it regardless of what you pass to the checked prop.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/gromm

[2020-03-16 20:52] ShimiSun commented on #3855
Thanks for reporting.
Might be related to this PR https://github.com/grommet/grommet/pull/3681.

[2020-03-16 21:43] ShimiSun commented on #3853
@ericsoderberghp idea for Forms

[2020-03-16 21:53] ericsoderberghp commented on #3853
Sounds reasonable. My inclination is to have FormContext.update() know how to translate a name like `person[0].name` into setting `value['person'][0]['name'] = value`.

[2020-03-16 21:59] mrcleanandfresh commented on #3853
Another use case that I have is I have checkboxes like this:
[code]
When this data gets sent to me from the `Form` `onChange` prop, it is only a true or false. So I would suggest this change be made to support arrays of objects as well as arrays of primitive values like strings, numbers, etc.

[2020-03-16 22:04] mrcleanandfresh commented on #3853
I'm using Lodash, not saying it's right or wrong, but this is what I'm doing right now:
[code]

[2020-03-17 11:03] neokeld commented on #3855
Maybe it is related : https://codesandbox.io/s/grommet-2-11-tristatecheckbox-t7owc
I have made this example to show what seems to be a bug on the indeterminate state of a checkbox.
If you click 3 times on the checkbox, you will see an error in the console and the checkbox will be white instead of having the styling of the indeterminate state.

[2020-03-17 12:43] negati-ve commented on #3850
grommet carousel is built using stacks..

only way to have multiple view per carousel view is to use images inside a box element..
better to use third party carousel lib if you are looking for more control

[2020-03-17 12:43] #3850 closed

[2020-03-17 13:48] jim-king-2000 opened #3861 "List with 'action' property generates a warning"
### Expected Behavior

[code]

No warning should be emitted.

### Actual Behavior

There's a warning:

index.js:1 Warning: Each child in a list should have a unique "key" prop.

Check the render method of `InfiniteScroll`. See https://fb.me/react-warning-keys for more information.
    in Box (created by InfiniteScroll)
    in InfiniteScroll (created by List)
    in ul (created by List__StyledList)

[2020-03-17 16:14] ShimiSun commented on #3804
@dimitropoulos hi buddy, any news on this one? how is the PR review going?

[2020-03-17 17:13] mrnguuyen commented on #3854
Some issues that I am experiencing with this:
When I try to select the month (12) when the browser is minimized to the screenshot above with a scroll bar, the scroll bar goes back to the top the moment I try to click on 12.

[2020-03-17 17:13] mrnguuyen commented on #3854
![image](https://user-images.githubusercontent.com/12700313/76882511-0041f000-6838-11ea-869b-27a53a2eba6a.png)

[2020-03-17 17:26] mrcleanandfresh opened #3864 "Select with valueKey not working as expected"
When I give `Select` an array of objects then use the `labelKey` and `valueKey` to try and display a really basic use-case across our app, it doesn't work.

### Expected Behavior

I would expect that if I defined the `labelKey` and `valueKey` that when I select an item from the dropdown, that when I receive an `onChanges` event from the `Form`'s context, that it would contain the properties value

[2020-03-17 17:47] bilak opened #3865 "[feature request] Add Box functionality to TableRow"
Currently the [TableRow](https://github.com/grommet/grommet/blob/master/src/js/components/TableRow/index.d.ts) does not contain properties of box like [TableCell](https://github.com/grommet/grommet/blob/master/src/js/components/TableCell/index.d.ts). Please add this functionality to `TableRow` also, it would be very helpful to use for example `onClick`, `hover` ...

### Your Environment
- Grommet

[2020-03-17 17:48] dimitropoulos commented on #3804
Thanks for the followup! Just merged the PR.  Thanks!

re: RTL - it's always helpful if there's somewhere more overt than storybook that it's mentioned.  It looks like, from your roadmap, that you're targeting having increased RTL support - which is great!

[2020-03-17 17:54] ShimiSun commented on #3804
Awesome, thanks @dimitropoulos , and you are right we should put more focus on RTL docs.

Feel free to announce our work on the Grommet [#slack](http://slackin.grommet.io/), and get exposure for your project. the #announcment channel will be a good place for it.

I'll be closing this issue.

Good luck buddy!

[2020-03-17 17:54] #3804 closed

[2020-03-17 17:57] ShimiSun commented on #3865
Do you mean allowing the all column to be clickable? how would that work with TableCell behavior if both are clickable?

[2020-03-17 17:59] bilak commented on #3865
Would it be possible to decide on which element it should be clickable? So if I need click on row I will provide onClick on row and if I need it on cell, then I will provide in on cell? So basically it can't be enabled on both row and cell at the same time.

[2020-03-17 19:52] dchen323 commented on #3850
I was able to have multiple views by chunking my data into an array of array where each inner array has up to 4 things for the number of items I wanted to display at a time.

https://codesandbox.io/s/hidden-rgb-gdc6x

[2020-03-17 20:39] bilak commented on #3865
@ShimiSun eventually is in current version some workaround how to create row clickable?

[2020-03-18 15:23] ericsoderberghp commented on #3864
Part of the root cause of this is due to `Select` using `TextInput` internally and both trying to drive the form context.

[2020-03-18 17:38] ericsoderberghp commented on #3865
Have you taken a look at https://v2.grommet.io/datatable#onClickRow ? There is some extra stuff in DataTable to get row clicking to work well that TableRow doesn't participate in.

[2020-03-18 18:17] ShimiSun commented on #3855
@blakehilliard & @neokeld both of the issues were fixed and you can have early access to it by pointing your grommet version to https://github.com/grommet/grommet/tarball/stable on your package.json.

We will have an official release soon.

[2020-03-18 18:17] #3855 closed

[2020-03-18 19:04] IanKBovard commented on #3861
Changing action to this fixes the issue.

[code]

Menu needs a unique key prop because I'm assume list is mapping.

[2020-03-18 20:09] mrcleanandfresh commented on #3864
I did notice the Select rendered a text input. In my case the value attribute is empty. The other part of the problem seems to be that the value attribute is what is displayed to the user, instead of a traditional `option` element where it has a label and a value. It’s not trivial for sure.

[2020-03-18 20:23] bilak commented on #3865
Well, I've created [example](https://codesandbox.io/s/goofy-frost-w1w50) maybe we can elaborate a little bit on it.
First thing, yes dataTables `onClickRow` works like expected, however there are many issues with it. I'm always struggling with proper setup of `onMore`. With current setup there's error when data are duplicating. In other component where I'm using `DataTable` it's working correctly

[2020-03-18 20:50] bilak commented on #3865
Problem with data duplication  solved, on this example is used first page with index 1 instead of 0. 🤦‍♂

[2020-03-19 01:54] jim-king-2000 commented on #3861
Great! It should be documented or in a sample of storybook. Feel free to close it.

[2020-03-19 14:06] oorestisime commented on #3668
Hey again,

So we spend some time thinking about this button loading feature and we are a bit unsure whether adding it is a good idea.
We definetely see some value in it but we have are hesitating for the following reasons:

- its kind of easy to do this on your own https://codesandbox.io/s/grommet-v2-template-45oq0
- loading is kind of a misconception here, the button would be disabled but term b

[2020-03-19 15:11] IanKBovard commented on #3861
Gotcha, thanks for double checking for me. I thought I reloaded the console when I made the change :man_facepalming: I'll take a look at it. Seems this issue has existed since, at least, 2.10

[2020-03-20 12:42] petercpwong opened #3872 "Set value of TextInput to undefined if no value prop is provided"
When no `value` prop is passed into a TextInput component, the value of the input should default to undefined - currently it's set to an empty string. This is especially problematic when working with libraries that require components to be uncontrolled (eg. react-hook-form).

### Expected Behavior

The default value of TextInput was undefined before hooks rewrite.

### Actual Behavior

The default

[2020-03-22 14:32] leonardobork commented on #1450
2020. Big issue

[2020-03-23 16:11] ShimiSun opened #3876 "TextInput drop issues"
### Expected Behavior

1. Drop should open as you focus on it - https://storybook.grommet.io/?path=/story/textinput--custom
2. In case of multiple selections of suggestions (like in tags), after making one selection the focus remains on the TextInput but the drop isn't opening again. the drop should keep opening to allow making another selection - https://storybook.grommet.io/?path=/story/textinpu

[2020-03-23 17:30] IanKBovard commented on #3854
Looks like this pr caused the issue
https://github.com/grommet/grommet/pull/3776

hooks are causing renrenders on every mouseover.

[2020-03-24 02:07] ssolari opened #3879 "TextInput without Form does not respect value property"
I ran into this today and can not understand why it is the case that the TextInput does not respect the variable passed to the value prop when the TextInput is not inside a form.

### Actual Behavior

the following will not allow text to be typed into a box
[code]
However, with out the wrapping Form, the following allows arbitrary characters to exist in the TextInput box
[code]
### Expected Behavi

[2020-03-24 16:10] #3872 closed

[2020-03-24 16:10] ShimiSun commented on #3872
Thank you for reporting, fix will be available on our next release or on the ongoing stable branch.

[2020-03-24 22:30] brentropy opened #3881 "Make root element configurable for Drop/Layer containers"
### Expected Behavior

I have a case where I need the container elements for `Drop`s and `Layer`s to be inserted somewhere other than `document.body`. There may be other uses, but my particular use cases is using grommet inside a shadow root (using [ReactShadow](https://github.com/Wildhoney/ReactShadow)). I am working on a browser extension where I need complete style isolation for UI rendered wit

[2020-03-25 13:51] YassienW commented on #1450
Pretty basic component that should be added

[2020-03-25 13:58] YassienW commented on #2882
The sandbox is great, but is there a reason to why there is no Spinner/Loading component?

[2020-03-25 18:14] ShimiSun commented on #2882
@forresthopkinsa , @YassienW thanks for asking.
We think the loading functionality and rendering are too opinionated per use case and styling requirements, hence the sandbox is showing examples of how it can be achieved with the user to control the styling and the rendering.

[2020-03-25 19:32] brentropy commented on #3881
Since this was blocking me, I went ahead and got this working for me and submitted a PR (#3883). If this isn't the best way that's fine, but since I got it working for myself I figured I would share my solution.

[2020-03-26 00:36] intelcoder opened #3885 "theme does not seem to get applied to the component"
I am trying to update header style with theme. However, it does not seem to get applied.
Also, not sure If I have to pass theme every time I create component or it applies to the all existing component if theme is set on root level.
I looked up examples regards to theme and the example update anchor.

[code]

[code]

Used

 <Header pad="small">
      tes
 </Header>
### Expected Behavior

It should

[2020-03-26 00:44] ShimiSun commented on #3885
I don't think `header` is a valid key for the theme. Can you share what are you trying to do?
The available keys would be found here  https://github.com/grommet/grommet/blob/master/src/js/themes/base.js

[2020-03-26 01:11] intelcoder commented on #3885
Thank you for the info @ShimiSun . I just want to apply custom css to the Header component.
I also tried with styled.  However I am getting   **Prop `className` did not match.** error.
[code]

[2020-03-26 02:01] #3885 closed

[2020-03-26 14:15] ShimiSun commented on #3885
@intelcoder any feedback for us to improve the learning process?

[2020-03-26 14:43] ShimiSun opened #3887 "Communication on Grommet capabilities"
This issue is to track the communication effort of documenting different grommet capabilities.
Following discussions on slack and on issue https://github.com/dimitropoulos/react-ui-roundup/pull/12, it isn't straight forwards to grommet users whether Grommet supports the following:
* RTL
* I18N
* Dark & Light mode

The answer is yes - grommet does support those features, but I agree we need to comm

[2020-03-26 16:58] #3865 closed

[2020-03-27 02:14] intelcoder commented on #3885
I think it would be very helpful if Grommet's git page have more examples such as how to customize a component and  how to customize theme. Of course, people can go and see the code to know which field is available to change on theme but it will be nice to show those to the new user upfront.

Thank you for the maintaining this project!

[2020-03-27 05:05] negati-ve commented on #3850
@dchen323
yup, that's the way to go with the current underlying carousel setup

I was looking for more control over the carousel with per item movement of carousel

[2020-03-27 11:33] ericsoderberghp commented on #3879
I am unable to reproduce this on the latest stable branch. I suspect it was fixed as part of 624fa63b6f77540bdbbaf0f189f2a3b047445c4a, 624fa63b6f77540bdbbaf0f189f2a3b047445c4a, or 546e18c9fea9d4e888d6437cf39b1a3453f1eb0c.

[2020-03-27 15:51] anushachaparala opened #3889 "DE1347: UI: Grommet version changes ( https://rally1.rallydev.com/#/319337422988d/detail/defect/369717382932 )"
### Expected Behavior

Its updated in the wiki https://wiki.hpelabs.net/pages/viewpage.action?spaceKey=HCSS&title=New+Grommet+Changes and https://rally1.rallydev.com/#/319337422988d/detail/defect/369717382932

### Actual Behavior
Its updated in the wiki https://wiki.hpelabs.net/pages/viewpage.action?spaceKey=HCSS&title=New+Grommet+Changes and https://rally1.rallydev.com/#/319337422988d/detail/defe

[2020-03-27 15:52] ShimiSun commented on #3889
Not sure I understand this issue, can you elaborate?

[2020-03-27 15:55] anushachaparala commented on #3889
With new grommet version change we are seeing this issues in Catalog.
https://wiki.hpelabs.net/pages/viewpage.action?spaceKey=HCSS&title=New+Grommet+Changes

[2020-03-27 16:02] anushachaparala commented on #3889
@priya.kou.l@hpe.com can you please update grommet version which is being used by Catalog.

[2020-03-27 16:03] ShimiSun commented on #3889
@anushachaparala I need the issue to be isolated reliably from your project in order to investigate, and I can't log in to the link you have provided.

[2020-03-27 16:38] ShimiSun commented on #3885
@intelcoder thanks for your input. we have storybook examples with Theme customizations  https://storybook.grommet.io/?path=/story/theme--focus. also, each component has a Custom story where you can see how its theme could be customized.

[2020-03-27 20:02] #3876 closed

[2020-03-27 22:09] markjackson02 opened #3891 "CheckBox 'required' prop does not work correctly with Form"
### Expected Behavior

`<Form>` `onSubmit()` should not be called if a `required` CheckBox is not selected.

### Actual Behavior

Given a `<CheckBox>` with prop `required={true}` inside a `<Form>`, the user is able to bypass the `required` logic by Selecting, then Unselecting, the CheckBox.

### URL, screen shot, or Codepen exhibiting the issue

Codesandbox demo https://ge4kp.csb.app/Form
Codesand

[2020-03-27 22:45] ShimiSun commented on #3889
Please provide a detailed description of the issue, without links that requires login credentials.
The issue needs to be isolated from your working environment and be reproducible reliably so we can investigate the code. thank you for your cooperation.

[2020-03-27 22:47] ShimiSun commented on #3852
@halocline is this issue connected to the PR you have filed?

[2020-03-27 22:47] ShimiSun commented on #3879
Thank you for reporting, the fix will be available on our next release.

[2020-03-27 22:47] #3879 closed

[2020-03-27 22:50] ShimiSun commented on #3820
Thank you guys for reporting, a fix is ready on the master branch and will be available on our next official release.

[2020-03-27 22:50] #3820 closed

[2020-03-28 01:25] DAnselC commented on #3820
Thanks!

[2020-03-28 05:58] markjackson02 opened #3892 "FormField validate passing incorrect value from other FormField in Form"
### Expected Behavior

FormField validation should be based on its own value

### Actual Behavior

FormField is validating value from a different FormField

### URL, screen shot, or Codepen exhibiting the issue

Codesandbox demo https://oescm.csb.app/form
Codesandbox code https://codesandbox.io/s/formfield-validation-issue-oescm (see `Form` component)

### Steps to Reproduce

In demo link above,
1

[2020-03-28 07:42] eamrhein opened #3893 "Calendar not showing individual selected dates"
### Expected Behavior

When I click a date I can add it to my array of selected dates or remove it on a double click, but Individually selected dates are not highlighted at all in the calendar. Shouldn't all selected dates  be  highlighted in some way?
### Actual Behavior
only the current selected date is being highlighted

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.

[2020-03-28 13:41] ShimiSun commented on #3892
Hi buddy, can you move the Grommet version to 2.11.3 and let us know if you still see the problem?

[2020-03-28 15:12] ericsoderberghp opened #3894 "Form fails to update from asynchronous value"
### Expected Behavior

A typical pattern with Form is to load the object to be edited via an effect:
[code]
This should render the loaded value.

### Actual Behavior

But, the asynchronously loaded value isn't displayed in the form fields.

### Environment

grommet version 2.11.3

[2020-03-28 17:01] markjackson02 opened #3896 "CheckBoxes cannot be selected inside Form/FormField"
### Expected Behavior

CheckBox can be selected inside Form/FormField

### Actual Behavior

CheckBox cannot be selected inside Form/FormField

### URL, screen shot, or Codepen exhibiting the issue

Codesandbox demo https://n6iiv.csb.app/Form
Codesandbox code https://codesandbox.io/s/checkbox-form-issue-n6iiv (see `Form` component)

### Steps to Reproduce

In demo link above, try to click checkbox

[2020-03-28 17:03] markjackson02 commented on #3892
The behavior is different in 2.11.3 but there is still an issue. I created a new issue here https://github.com/grommet/grommet/issues/3896. Closing this one since it is outdated since 2.11.3 release.

[2020-03-28 17:03] #3892 closed

[2020-03-29 18:23] Rashi-jain21 opened #3897 "No Multi language support in grommet calendar"
The calendar component does not show the year, date, time, days, month in multi-language
### Expected Behavior

The year, date, time, month, days label should be visible with the language we pass in the props

- Grommet version: V1 and V2
- Browser Name and version: all browser
- Operating System and version (desktop or mobile): desktop

[2020-03-29 18:55] Rashi-jain21 commented on #3861
Hi I want to resolve this issue.

[2020-03-29 19:23] halocline commented on #3852
@ShimiSun, If I understand the scenario correctly, Grommet already supports what @jesseolsen is trying to address by using the `htmlFor` prop on the `<FormField />` and `id` on the input.

I have demonstrated this by adding `id` and `htmlFor` to the FormField in the [example here](https://v2.grommet.io/form?c=DwMQ9gTgtgfAUAAgaSUQEsCmAbAJg9XAXgCIoBPAWnQDsAHAVwBcSEALJqbcCUi6+s1Y0AhlEylR41thEAjHKQByY

[2020-03-30 01:15] hoshomoh opened #3898 "FormField doesn't work with CustomComponent after updating to v2.11.3"
### Expected Behavior
FormField should work with CustomComponent

### Actual Behavior

After updating to v2.11.3, after typing one character in a custom text input, I can no longer type any other character. After spending some time debugging, I noticed that by adding the `value` property to the `Form`  component fixes it.

This, however, introduces a warning.

```Warning: Cannot update a component

[2020-03-30 01:46] forresthopkinsa commented on #3898
Related: https://github.com/facebook/react/issues/18178

[2020-03-30 05:33] mosesoak opened #3899 "Not a good sales pitch: broken Search field on Component page (iOS)"
### Expected Behavior

From mobile Safari or the iOS Google app, the component Search textfield should open the keyboard and allow typing

### Actual Behavior

Selecting the field closes the Search dialog unexpectedly

Sidebar: Evaluating component libraries for a new project and was very interested in Grommet but, the first two hits were this malfunctioning input and seeing a sandbox with a Selec

[2020-03-30 14:46] ShimiSun commented on #3852
Thanks @halocline ! @jesseolsen do you have any more questions? or this issue could be closed?

[2020-03-30 18:51] MLRichmond opened #3900 "Typescript Definitions for Border Array Side Property incorrect"
This commit: https://github.com/grommet/grommet/commit/287a1149b8801df5a530abeaf85b6cfd9357d7f3#diff-ddf307fc1f06868a6ec4f6c34025e65e

Broke the BorderType property when using an array of borders.

`export type BorderType = boolean | BoxSideType | {color?: ColorType, side?: BoxSideType, size?: BoxSizeType, style?: BoxStyleType} | ({color?: ColorType, **side?: BoxStyleType**, size?: BoxStyleType, s

[2020-03-31 06:29] gabroo opened #3902 "Router example exported from designer––onpopstate not working properly"
I am running a single page app with client side routing. It is deployed on Firebase.

### Code in Question
After exporting my design from the designer studio I found a useful router using React hooks:
[code]

### Expected Behavior

I expect the `setState` statement in the `onPopState` function in the `useEffect` statement to work.

### Actual Behavior

I get `TypeError: n is not a function`. It se

[2020-03-31 15:56] #3894 closed

[2020-03-31 15:57] #3896 closed

[2020-03-31 16:01] ShimiSun commented on #3896
hi @markjackson02 , thanks for reporting!
The issue is fixed on the master branch, we'll have an official release with it soon.

[2020-03-31 16:10] ShimiSun commented on #3897
@IanKBovard let's take care of it as part of the I18N project. and provide Calendar as an example there.

[2020-03-31 16:14] ShimiSun commented on #3900
@MLRichmond do you want to try making a contribution? seems like you already found where is the issue.

[2020-03-31 16:17] ShimiSun commented on #3902
I'm thinking it will be better to file the issue under the grommet-designer repo, and not on grommet.

[2020-03-31 20:43] #3902 closed

[2020-03-31 20:43] gabroo commented on #3902
Ok thanks @ShimiSun

[2020-04-01 14:08] ericsoderberghp commented on #3898
Thanks for including the code sandbox, that helps to see what you are doing. I think the issue is that you don't have an `onChange` property in your custom `FormFieldText`. If I change` to be `onChange={onChange}` and remove the `value` from `Form`, it works.

[2020-04-01 15:07] ShimiSun commented on #3844
Thank you for reporting! the fix will be available on our next official release (soon :) ).

[2020-04-01 15:07] #3844 closed

[2020-04-01 15:51] hoshomoh commented on #3898
Thanks, @ericsoderberghp. Why should I have to pass an onChange my `customComponent`  when I am already handling the change event? I guess Grommet is using the event internally for something.

The reason why I am leaving onValueChange is because I want the component to be controlled. I also tried this and it works too.

[code]

[2020-04-01 15:54] macintoshhelper commented on #2991
Hi, I‘ve been working on a UI library that's similar to Grommet, but has cross-platform UI component primitives, with `react-sketchapp` as a primary focus (compiles to web and React Native also though): https://github.com/elemental-design/elemental-react

What I would suggest from my findings, is having a `@grommet/primitives` package that exports `styled-components` (exporting the `ThemeProvider`

[2020-04-01 16:02] ericsoderberghp commented on #3898
Who is `onValueChange` intended for?

The documentation for FormField `component` indicates that it is expecting `onChange` property, which aligns with how React works for `<input />` elements. https://v2.grommet.io/formfield#component

[2020-04-01 16:07] hedleysmith commented on #3826
Just to add that this tripped me up when starting out with Grommet (which is awesome, btw).

When I tried to add a simple <Button> with text - I couldn't figure out why it wasn't displaying with any background color (as I'd expect, by default).

The following worked for me:

`<Button plain={false}>Test</Button>`

[2020-04-01 16:29] ShimiSun commented on #3893
Thanks for reporting! The fix is available now on grommet v2.11.4

[2020-04-01 16:29] #3893 closed

[2020-04-01 17:57] c3s4 opened #3908 "FormField render render a border for children input inside custom component"
When I use a custom component, with an input field, as child of a `FormField` I have the bottom border from `FormField` and the full border from the input field.

Here an example using a composed field for password input and a plain `TextInput`

https://codesandbox.io/s/wrong-border-for-form-field-bbyuf

[2020-04-01 18:44] MLRichmond commented on #3900
@ShimiSun Sure. I have the fix on a local branch.

[2020-04-01 20:37] myktra commented on #3908
Yes! This happens when for example you want to use React Hook Form to manage your form context (for better performance on large forms, avoiding re-renders) and you wind up using their [Controller component](https://react-hook-form.com/get-started#ControlledInput) inside a FormField.

[2020-04-01 21:51] ShimiSun commented on #3908
Thanks for reporting guys, just to make sure you know you can remove the border from the theme https://v2.grommet.io/formfield#formField.border.side, but I'm aware it will affect all of your FormFields and not just the custom component one.

This issue makes me think we need to consider a `border` prop on the FormField component and not just on the theme.

[2020-04-01 21:57] c3s4 commented on #3908
Yes, but is not what I need. I want to have to bottom border, but I don't want the input border.

As workaround I themed the controller border color as `transparent`. This only works because in my app I don't use any input field outside the FormField because, otherwise, all the inputs without FormField will be rendered without any border at all.

[2020-04-01 22:02] myktra commented on #3908
@ShimiSun I'd agree with your point in general, once the extra border can be removed (i.e. addressing the root cause).

FWIW, we're looking for a more traditional all-sided border around the field, so we customize it a bit via the theme.

But I don't want borders at all on my FormFields that wrap CheckBox and RadioButtonGroup (borders seem odd to include for those types of UI widgets) and want to

[2020-04-01 22:13] ShimiSun commented on #3908
@myktra , very helpful, thanks for sharing!

[2020-04-01 22:15] ShimiSun commented on #3900
@MLRichmond let's put it on a PR 🎉

[2020-04-01 22:28] ShimiSun commented on #3881
Thanks for reporting + fixing! awesome work

[2020-04-01 22:28] #3881 closed

[2020-04-01 23:09] myktra commented on #3788
Hi, not sure this is completely resolved, at least not in the latest 2.12.0 drop.

Have a peek at these demos - resize the viewport and notice the border between the two items isn't properly aligned when the gap shrinks.

https://codesandbox.io/s/cocky-poincare-lus8d
https://storybook.grommet.io/?path=/story/box--border (look at the "between column" area)

It could be that only this is only an iss

[2020-04-02 03:33] jim-king-2000 opened #3909 "FormField generates warning"
### Expected Behavior

No warning.

### Actual Behavior

When we type in the TextInput, there is a warning:

[code]

### Steps to Reproduce

1. open sandbox: https://codesandbox.io/s/distracted-taussig-hdvjb.
2. type in the text input, notice a warning is emitted.

### Your Environment

- Grommet version: v2.12.0
- Browser Name and version: Chrome v80
- Operating System and version (desktop or mob

[2020-04-02 06:41] myktra opened #3910 "Overriding Form validation messages throws a console exception"
### Expected Behavior

Overriding the **messages** prop on a controlled **Form** component to provide a different validation message runs normally without observable exceptions.

### Actual Behavior

When keying characters into an empty TextInput-based field in this scenario, React throws an exception to the console after the *second* character is entered. This occurs whether or not the TextInput

[2020-04-02 06:47] myktra commented on #3898
This *might* be a related issue: #3910. I noticed the sandbox demonstrating this issue is also using React 16.13.1 as of this comment.

[2020-04-02 07:51] shovelmn12 commented on #3844
Sure no problems :)

just out of curiosity what what the issue? was it lastSelectedDate?

[2020-04-02 08:01] hoshomoh commented on #3898
`onValueChange` is intended for the parent component. In my case, I am using a controlled input which when value change I update the parent state, which is why I have passed an `onValueChange`  the get called when the input changes.

Considering that Grommets explicitly wants an `onChange` with no custom code, I see no other way no approach this than to call both functions when the input changes.

[2020-04-02 09:01] c3s4 commented on #3908
@myktra this is a good workaround, better than mine, but it can't work if you are using typescript, because you can't use a not defined prop. Maybe you can "extend" the FormField component to add this prop, but I think is not very practical.

I think this issue is very near to a bug because the "style behavior" is very different just trying to create a common component as the password I wrote in t

[2020-04-02 13:58] NiekBetty opened #3911 "Style error state TextInput and TextArea when FormField has an error message"
We adjusted the look of the `TextInput` and `TextArea` components to our liking using the `textInput.extend` and `textArea.extend` section in the theme. Now we're using it inside a `FormField` and we want to achieve the following:

When the `FormField` has an `error` property we want to color the borders of the `TextInput` and `TextArea` red.

We want to achieve the same as in the documentation, b

[2020-04-02 14:55] ShimiSun commented on #3911
Hi @NiekBetty , thanks for asking. we've been discussing a similar issue on https://github.com/grommet/grommet/issues/3908, can you see the workaround provided there and see if you can leverage that until we figure out a way to solve it?
I'm thinking that adding a `border` prop might help your use case.

[2020-04-02 15:11] MLRichmond commented on #3900
See [PR 3912](https://github.com/grommet/grommet/pull/3912)

[2020-04-02 15:19] ShimiSun commented on #3900
This fix will be available on our next official release, and is now available on the stable branch "https://github.com/grommet/grommet/tarball/stable", you can change your package.json  to point to the stable branch and enjoy the fix now.

[2020-04-02 15:19] #3900 closed

[2020-04-02 15:21] ShimiSun commented on #3844
@shovelmn12 you can check the PR that fixed it and attached to this issue #3907.
The fix is available on grommet v2.12.0.

[2020-04-02 15:34] ShimiSun commented on #3826
@hedleysmith & @NiekBetty please share how you think that this issue should be approached? I'm not sure what we can do with staying backward compatible.

[2020-04-02 15:36] ShimiSun commented on #3846
@bilak any news on this one? I'm thinking that since you are handling the edit/cancel behavior you are the one who can control the values on cancel.

[2020-04-02 16:35] hoshomoh commented on #3898
But also when I do what you suggested I still get that warning in the console.

<img width="551" alt="Screenshot 2020-04-02 at 18 33 08" src="https://user-images.githubusercontent.com/5657993/78274437-82a50200-7510-11ea-995c-3a58c187f8d8.png">

[code]

[2020-04-02 16:50] hoshomoh commented on #3909
Same as #3898

[2020-04-02 16:54] ShimiSun commented on #3536
Thanks @buoyantair!

[2020-04-02 17:04] IanKBovard commented on #3897
@Rashi-jain21 Just trying to understand your issue. Have you used the locales prop? Month and days of the week appears to change with it. I don't think calendar shows time. The only thing that does not change visually would be the year and day numbers. could you give me an example of what you want?

[2020-04-02 18:58] halocline opened #3914 "SSR (Next.js) build fails when using Grommet/Stable branch"
### Expected Behavior

SSR (Next.js) build should complete successfully.

### Actual Behavior
Summary: Build fails
As Next.js attempts to build, it proceeds to pre-render each page in the site. During this step, logs report an "Error occurred prerendering page" & "ReferenceError: document is not defined" for each page in the site. The end result is a failed build.

Notes:
- Error first occurred 5:

[2020-04-02 19:00] halocline commented on #3914
5:30:29 PM: Build ready to start
5:30:31 PM: build-image version: 2dbd444fcdce00cf06325060a8238d5ae3e86774
5:30:31 PM: build-image tag: v3.3.7
5:30:31 PM: buildbot version: bd31cf433d2d899021d41733f271c39fdf2f8880
5:30:32 PM: Fetching cached dependencies
5:30:32 PM: Starting to download cache of 229.9MB
5:30:33 PM: Finished downloading cache in 1.271218109s
5:30:33 PM: Starting to extract cache
5:

[2020-04-02 19:41] myktra commented on #3908
@c3s4 good point, and it so happens I'm not (yet) using Typescript on my example project.

[2020-04-02 19:54] ShimiSun commented on #3914
Thanks for reporting!
I'm wondering if its a nextjs issue or an SSR in general, it will be interesting to see if this one reproduces on a Gatsby project.

[2020-04-02 22:03] brentropy commented on #3914
@ShimiSun I am not using SSR in my project. It looks like I broke it :grimacing: I will look in to it right now.

[2020-04-02 22:59] brentropy commented on #3914
I just did a quick test with gatsby and it builds fine. I will do a little more digging later. I haven't every done anything with Next.js, but I can give that shot. Not sure what would really be different in terms of SSR issues though.

[2020-04-03 01:14] alexzicat opened #3916 "DataTable: The sorted column arrow is always pointing up."
While the column is still being sorted, the arrow beside the column name is always pointing up.

### Expected Behavior
The arrow should be pointing up or down depending if the sort direction is ascending or descending.

### Actual Behavior
The arrow is always pointing up.

### URL, screen shot, or Codepen exhibiting the issue
![Grommet V2 - DataTable issue](https://user-images.githubusercontent.co

[2020-04-03 03:35] petercpwong opened #3917 "Impossible to keep TextInput uncontrolled because of useFormContext"
https://github.com/grommet/grommet/blob/efe349de3c51eb42ec230c08fd03ce25f38355c6/src/js/components/Form/FormContext.js#L3-L15

Currently, when an input (TextInput, RangeInput, etc) component is not a descendent of a `Form`, the default behavior of `useFormContext` in `FormContext` is to keep track of t he value state. This is actually quite problematic when dealing with libraries such as `react-ho

[2020-04-03 03:39] nateq314 commented on #2420
Any progress on this? `Select` is still causing `Warning: findDOMNode is deprecated in StrictMode.` with a long stack trace to appear in dev console.

[2020-04-03 05:04] brentropy commented on #3914
I was able to reproduce with nextjs and it was my commit that introduced the issue. I will have a PR up shortly.

[2020-04-03 08:54] NiekBetty commented on #3911
Hi @ShimiSun , thanks for the quick response!

We're using TypeScript. As @c3s4 states in #3908 you cannot use an undefined prop. We can wrap it in a custom component and extend the props via that way for now :)

As for a possible solution, I think an error prop as well as an disabled prop should be passed to children of the `FormField` component so we can style the component accordingly. What do

[2020-04-03 09:12] NiekBetty commented on #3826
We're using the `plain={false}` workaround as well.

Maybe I can expand a little bit on my problem. We're using the `extend` theme sections a lot to customize in this exmample the Grommet buttons to look like our buttons. However we have three kinds of buttons; primary, secondary and tertiary. Right now we're misusing the `plain` prop to behave as our tertiary button.

So my suggestion would be to

[2020-04-03 11:14] hedleysmith commented on #3826
I've just found that there's a difference in how a Button will behave depending on whether you use the `label` prop or add label text as a child: https://codesandbox.io/s/grommet-v2-template-fprh2

@ShimiSun - for now, updating documentation would be very useful. Otherwise, setting `plain` to `false` when a Button has children makes more sense in my use cases, perhaps this could be considered for

[2020-04-03 11:18] andru commented on #3576
I can recreate this with 2.12.0 - any workarounds?

[2020-04-03 17:02] salman-trimulabs opened #3919 "Select Component: Selected value is not displaying"
### Expected Behavior

Selected item should display in holder

### Actual Behavior

Selected item is not displaying

### Codesandbox

https://codesandbox.io/s/fancy-sun-q4374

- Grommet version: 2.12.0
- Styled Components: 5.0.0

[2020-04-03 17:32] myktra commented on #3919
I added `valueKey` and made sure your value is set to the value of that key.

Would that work for you?

[code]

[2020-04-03 21:44] ericsoderberghp commented on #3919
Thanks @myktra, that's correct.

The way the code is in the sandbox, the `options` are objects, and the `value` being set in the `onChange` corresponds to the `labelKey`. But, `Select` isn't able to map the supplied `value` to any of the `options` because it is comparing a `value` like "Value 6" with the options and `"Value 6" !== { id: "6", name: "Value 6"}`.

[2020-04-03 22:07] petercpwong commented on #3917
@r1w1k From what I understand, using `Controller` from `react-hook-form` is less performant.

Before grommet's hook rewrite, the `TextInput` and `Select` components worked as expected, allowing being both controlled and uncontrolled.

The default behavior of `useFormContext` doesn't offer much utility anyway and creates more problems than it solves. Changing the default implementation to a no-op w

[2020-04-03 23:02] LiveFreeAndRoam opened #3920 "Form onChange requires a name property"
### Expected Behavior
Either the Grommet [Form docs](https://v2.grommet.io/form) could be updated to reflect the fact that `onChange` requires a `name` property.  Alternatively, if `onChange` is provided without a `name` property, then Grommet could add a random unique one, under the hood, which will ensure `onChange` fires regardless.

### Actual Behavior
Without a `name` property, the `onChange`

[2020-04-03 23:53] ShimiSun commented on #3920
We have the `name` prop documented on TextInput, where else do you think it should be documented? https://v2.grommet.io/textinput#name

[2020-04-04 06:09] avin-kavish opened #3921 "Access Validation Status of Form"
Is there a way to access form validation state? If not, something like an `onValidate` event would be nice.

[2020-04-04 06:21] LiveFreeAndRoam commented on #3920
The thing that caught me out was that the Form onChange is dependent on the Form fields name property.  It's this dependency between components that I'd like to see documented.

E.g. in the Form onChange documentation, perhaps add developer notes.  Something like, onChange handler will only be called for form fields that have a name property.

[2020-04-04 13:54] ShimiSun commented on #3254
@tharunhpe any updates on this one?

[2020-04-04 13:56] ShimiSun commented on #3106
@chrisstpierre any progress with a PR? needs any help or guidance from us?

[2020-04-04 20:26] salman-trimulabs commented on #3919
Thanks @ericsoderberghp, after adding `valueKey` things are working as expected.
Bit background: I was using version `2.8.0` previously and thing working without mentioning `valueKey`. After updating the version to `2.12.0` i got this unusual behaviour.

[2020-04-04 20:26] #3919 closed

[2020-04-05 12:50] bsdis commented on #2420
I am getting the same error/warning here by just running the example in the docs:
https://v2.grommet.io/datatable in an app created using npx create-react-app myapp --template typescript
Strange that this still seems to be an issue since this ticket was opnened 1.5 years ago

[2020-04-05 13:25] bsdis commented on #3861
Any news on resolving this? Any help needed?

[2020-04-05 16:38] lqhuang commented on #2593
@ShimiSun Hey, the page of codesandbox.io shows "Something went wrong. Request failed with status code 404". So could you help to republish your code to illuminate how to make background  transparent? Thanks very much!

[2020-04-05 16:51] lqhuang commented on #2593
Oh, It set plain to false will let background become transparent. But my problem now is why I cannot click outside to exit. I have used `onClickOutside={() => setSidebarLayer(!sidebarLayer)}`. I look over most examples in story book, but my logical code is almost the same, I can't figure out why. Did I miss some important size / action props...

[2020-04-05 16:55] lqhuang commented on #2593
OK, set plain to true fix background to transparent. Thanks :)

[2020-04-06 06:28] LiveFreeAndRoam opened #3924 "Box border cannot be disabled with "as=fieldset""
### Expected Behavior

I can use Box's `border` property to modify the `fieldset border`, however, I have no obvious way to disable the `border`.  I expected the following approach to disable the border:

`<Box as="fieldset" border={false}>...</Box>`

Since I am explicitly setting the border to `false`, I expected that the `fieldset border` would be disabled.  Instead it is displayed.  Also, I mig

[2020-04-06 13:30] hoshomoh commented on #3898
Any update on this issue?

[2020-04-06 13:46] rohitkedari opened #3925 "TextInput value is not changing when provided default value property in form"
TextInput value is not changing when provided initial value in the value property of form
`<Form value={{name: 'test'}}>...</Form>`

This was working in 2.11.3 but broken later.

### Expected Behavior

When initial value is provided in form then, user should able change it by typing/updating it.

### Actual Behavior

When we try to type new value in text input still old value is displayed.

### UR

[2020-04-06 15:39] ShimiSun commented on #2420
Hi @bsdis @nateq314, we improved the behavior and you can feel free to verify it works as you expected by pointing grommet to its stable branch `https://github.com/grommet/grommet/tarball/stable` on your package.json

[2020-04-06 15:47] ShimiSun commented on #3889
I'll be closing the issue due to unclarity, feel free to reopen or file a new issue that can help us understand the problem and investigate.

[2020-04-06 15:47] #3889 closed

[2020-04-06 15:49] ShimiSun commented on #3887
Same for theme-ing resources.
https://grommet.slack.com/archives/C04LMHN59/p1586052804153600?thread_ts=1586051316.149700&cid=C04LMHN59

[2020-04-06 16:10] ShimiSun commented on #3924
Since you are using HTML fieldset and not Grommet FormField, I suspect the control on the border is coming from HTML fieldset and not from GRommet. From a quick web search I came up with https://stackoverflow.com/questions/4230375/whats-the-easiest-way-to-remove-fieldset-border-lines.

If you'll use Grommet FormField there is an easy way to configure the border on the theme https://storybook.gromm

[2020-04-06 16:27] IanKBovard commented on #3861
My apologies, got caught up in a few projects. Giving this issue my full attention now.

[2020-04-06 17:18] ShimiSun commented on #3920
Good point. would you like to make a PR to suggest better documentation fo it?
https://github.com/grommet/grommet/blob/f5df0dd14c9c63947381ac7c4ebc7eb375ef9f83/src/js/components/Form/doc.js#L35

[2020-04-06 20:07] LiveFreeAndRoam commented on #3887
To help share developer experiences, would it be practical to have a comment section per property?  This would serve as developer notes, which are often illuminating, beyond what accurate documentation can provide.

[2020-04-06 20:50] LiveFreeAndRoam commented on #3924
Actually, I can't use this.  The whole reason I used "fieldset" is because it causes a11y screen readers to skip everything below the "fieldset".  Is there an equivalent Grommet component that acts like "fieldset" for screen readers?

[2020-04-06 22:03] ShimiSun commented on #3861
The issue is fixed, thanks for reporting!

[2020-04-06 22:05] #3861 closed

[2020-04-06 22:41] ShimiSun commented on #3924
Can you elaborate more on the screen-readers problem? we might want to fix it if it has a problem.

[2020-04-06 22:51] ShimiSun commented on #3887
@LiveFreeAndRoam I was thinking to start small and grow from here as we get feedback, but if you have plenty of thoughts per component/property, feel free to file a separate issue and link it to this one. thanks!

[2020-04-06 23:58] LiveFreeAndRoam commented on #3920
Happy to.

[2020-04-07 00:35] LiveFreeAndRoam opened #3928 "Chart.js conditionally calls a React Hook, useRef()"
### Expected Behavior

When attempting to commit a documentation fix for an unrelated component, I observed the following warning:

[code]

In Chart.js, line 47, it conditionally calls `useRef()`:
[code]
### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

See above.

### Steps to Reproduce

Using VS Code, I attempted to commit my unrelated change, and I see this pre-commit

[2020-04-07 05:21] codeinaire opened #3930 "Image component - a11yLabel doesn't produce aria-label"
The Image component is meant to produce an aria-label when the a11yTitle prop is used. However, none is produced.
### Expected Behavior
Aria label should be produced in the HTML `img` element.

### Actual Behavior
Aria label isn't produced.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-sandbox-6czt8

### Steps to Reproduce

1. Inspect the image in the code

[2020-04-07 08:51] RobertoSnap commented on #2420
Tested this as im experiencing the same with the select component.

After setting latest stable as @ShimiSun referenced I now get a different message:

`DOM.js:182 Uncaught TypeError: target.getBoundingClientRect is not a function
    at isNodeBeforeScroll (DOM.js:182)
    at InfiniteScroll.js:156
isNodeBeforeScroll @ DOM.js:182
(anonymous) @ InfiniteScroll.js:156
setTimeout (async)
(anonymous) @

[2020-04-07 12:31] ericsoderberghp commented on #2420
@RobertoSnap can you provide some code, either inline or via code sandbox, that illustrates the issue? I'm not able to reproduce the problem with any of the grommet storybook stories: https://storybook.grommet.io/?path=/story/select--simple

[2020-04-07 14:14] chesleyratliff commented on #3911
@ShimiSun This issue is effecting us in Compliance as well. Do you have an idea of when we may have a fix? Will the workaround you provided break once this issue is fixed?

[2020-04-07 14:50] ShimiSun commented on #3887
slack thread (long): https://grommet.slack.com/archives/C04LMHN59/p1585944633111600

[2020-04-07 14:56] hedleysmith commented on #3668
Just to chip in on how I've used the button component in a Gatsby project.

I needed to change the Button style to show the active menu item within my nav, unfortunately the `isPartiallyActive` method suggested by @reach/router [here](https://reach.tech/router/api/Link) didn't work for me when nested the Button component within a Link component.

So I came up with this, which works nicely:

`impor

[2020-04-07 16:34] ShimiSun commented on #3911
@chesleyratliff thanks for sharing, good to know!
We've been discussing it but we need more examples to make sure we are solving the problem for multiple use cases. Can you share with us the CTP use case and design so we'll make sure the fix will work for you guys?

[2020-04-07 17:05] ShimiSun commented on #3340
Added sizes for Button on PR #3739

[2020-04-07 17:38] halocline opened #3931 "Input - Allow input padding to have top-right-bottom-left"
### Expected Behavior

Ability to specify padding on input fields by top-right-bottom-left, horizontal, vertical, etc.

### Actual Behavior

Currently, the padding is one-size and consistent across each direction. Would like to specify padding independently.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser

[2020-04-07 17:48] halocline opened #3932 "FormField - Allow FormField to have focus and border colors be set independently and displayed simultaneously"
Would like FormField to have both a border color, plus focus. A scenario would be when I have a border color set for validation, but would like to have focus when the user is interacting with that FormField.

Currently, focus color overrides the border color. Do not have the ability to display both simultaneously.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2

[2020-04-07 17:56] ShimiSun commented on #3932
https://designer.grommet.io/button?id=HPE-design-system-taylor-seamans-hpe-com

[2020-04-07 18:00] ShimiSun commented on #3930
Thanks for reporting, a PR is ready.

[2020-04-07 18:10] taysea commented on #3932
Designer can be used to view how grommet is currently behaving: https://designer.grommet.io/textinput?id=HPE-design-system-taylor-seamans-hpe-com

[2020-04-07 18:31] #3930 closed

[2020-04-07 20:44] chris-grandinetti opened #3934 "Select field value propagation broken in version 2.11.3"
When version 2.12.0 was installed, several integrators found an issue with select component which resulted in null values being passed through forms.  This was caused by a change that passed string as values rather than objects in the onChange.

This commit shows the changes that caused the regression:
https://github.com/grommet/grommet/commit/28e0c7c5a9e1246942258941992229b95b72e2b5#diff-19aa4813

[2020-04-07 20:59] RobertoSnap commented on #2420
Have a sandbox here, but couldn't get Codesandbox to take GitHub link as a dependency.

I can test it again in the next update. Or do you know how to get GitHub link as a dependency in Codesandbox? (Google didn't know either)

[2020-04-07 21:17] ShimiSun commented on #2420
I was able to reproduce the problem on Select storybook, by opening the Select drop https://storybook.grommet.io/?path=/story/select--simple
![image](https://user-images.githubusercontent.com/6320236/78720380-d46bd480-78e2-11ea-93a0-5d8bd0b718ef.png)

[2020-04-07 21:33] ShimiSun commented on #3934
Thanks for filing a github issue, it will help us track and communicate the progress of the issue better.
In the future, it will help us provide quicker attention and understanding of the issue if you can provide reliable code reproduction of the problem outside of its local ecosystem.

For better transparency of the issue, and see if other users from the community experienced anything similar, I'

[2020-04-08 00:43] LiveFreeAndRoam opened #3935 "Form onChange with Controlled Inputs fires multiple times and for programmatic changes"
### Expected Behavior

Grommet Form onChange with Controlled Inputs ought to behave the same as it does for Uncontrolled Inputs.  Ideally, these should both behave the same as React form onChange handlers for controlled and uncontrolled inputs.  Specifically:

1) Form onChange only fires for user-input changes to a field within the form
1) Form onChange fires once per change (e.g. fires for each i

[2020-04-08 01:04] LiveFreeAndRoam opened #3936 "FormField component incompatible with react-dom 16.13.1"
### Expected Behavior

FormField with component prop should behave the same with React-Dom 16.13.1 as it does with React-Dom 16.12.0.

### Actual Behavior

Upgrading React from 16.12.0 to 16.13.1, results in the following React console warning:

[code]

### URL, screen shot, or Codepen exhibiting the issue

See my CodeSandbox: [FormField component incompatible with react-dom 16.13.1](https://codes

[2020-04-08 13:08] RyanCCollins commented on #3934
Hey Shimi,

Here is a codesandbox example showing the issue: https://codesandbox.io/s/keen-ptolemy-wr0so

[2020-04-08 14:33] ShimiSun commented on #3928
Yea, I see this problem when updating the eslint dependencies, care to file a fix for it?

[2020-04-08 14:40] nateq314 commented on #2420
@ShimiSun  Tried `stable` branch as you suggest and confirm that the `findDOMNode` warning is gone. Thanks!

[2020-04-08 14:46] nateq314 opened #3937 "Failed prop type warning for DataTable 'background' prop"
I'm using DataTable as follows
[code]

And consistently getting this console warning:
[code]

Still get the warning even when the `body` field value is simplified to a single hard-coded color.

According to the [docs](https://v2.grommet.io/datatable), this usage of the prop is correct.

Is this a bug? Or something I'm doing wrong on my end?

Thanks in advance.

[2020-04-08 19:08] #3937 closed

[2020-04-08 21:37] ShimiSun commented on #2475
Reviewing this issue, the multiple border enhancement request was implemented during Hacktoberfest I believe, see the updated docs https://v2.grommet.io/box#border

The other errors and warnings are fixed and no longer reproducible.

The last issue raised on the documentation of Datatable `border` has a fix on #2475

Thank you for reporting this issue, we came a long way with our documentation sin

[2020-04-08 21:37] #2475 closed

[2020-04-08 21:43] ShimiSun commented on #3728
Hi @francescodist, in Grommet v2.11.2 we released new props for `sort` and `onSort` https://v2.grommet.io/datatable#onSort.
Feel free to reopen the issue with a concrete example in case it doesn't meet your needs, from what you are describing it should work as expected. good luck!

[2020-04-08 21:43] #3728 closed

[2020-04-08 21:43] ShimiSun commented on #3728
#3840

[2020-04-08 22:03] jasnross opened #3942 "Passing callback ref to Select prevents dropdown from opening"
When passing a callback ref to the Select component it prevents the select dropdown from opening. Other form field components (such as TextInput and TextArea) seem to work with a callback ref, but not Select. If I pass a standard ref (not a callback) then it also works properly.

### Expected Behavior

When passing a callback ref to Select the Select box should still open a dropdown when clicking

[2020-04-08 22:04] ShimiSun commented on #3942
Thanks for reporting buddy!

[2020-04-09 14:56] tpinne commented on #3837
Sorry for the delay, but here is a Sandbox demonstrating the problem I described if the RadioButtonGroup gets a custom Style with `display: grid` and the difference it makes between `gap={false}` and `gap="none"`.

But `gap={false}`  is not allowed in GapType https://github.com/grommet/grommet/blob/38866da3e67c852f99135634a07af135990bf1f5/src/js/utils/index.d.ts#L54 therefore breaking TS compiling

[2020-04-09 15:03] ShimiSun commented on #3916
Thanks for reporting, a PR is in process.

[2020-04-09 15:35] #3916 closed

[2020-04-09 17:30] ShimiSun commented on #3914
Thank you @halocline & @brentropy for the quick turnaround! the issue is fixed.

[2020-04-09 17:30] #3914 closed

[2020-04-09 17:31] ShimiSun commented on #3920
Hi buddy. I dropped a comment on the PR, let me know if you need help there.

[2020-04-09 17:33] ShimiSun commented on #3909
Thank you @jim-king-2000 and @hoshomoh, we'll be tracking the issue on #3898 due to duplication.

[2020-04-09 17:33] #3909 closed

[2020-04-09 17:38] ShimiSun commented on #3846
Hi buddy, I'll be closing this issue, feel free to reopen or file an updated issue after incorporating the feedback. thanks for reporting.

[2020-04-09 17:38] #3846 closed

[2020-04-09 17:40] ShimiSun commented on #3679
Since @thaydds was awesome enough to contribute an example here, I think we are good, thanks for reporting.

[2020-04-09 17:40] #3679 closed

[2020-04-09 17:43] ShimiSun commented on #3655
I still see this behavior on grommet 2.12.0.

[2020-04-09 17:49] ShimiSun commented on #3631
Lots of great questions here, I agree we need to improve the documentation, and we are currently running user-testing research to see how this information could be documented efficiently.
In the meanwhile check out the following resources:
https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation
https://github.com/grommet/grommet/wiki/Color-Properties
And theme-builder tool
https:/

[2020-04-09 18:42] ShimiSun commented on #3891
Fixed on recent release https://github.com/grommet/grommet/releases/tag/v2.12.0
Thanks for reporting!

[2020-04-09 18:42] #3891 closed

[2020-04-09 19:14] jesseolsen commented on #3852
@halocline , @ShimiSun thanks for working on this!  The samples that you linked to resolve this Wave issue, but introduce a new one:
![image](https://user-images.githubusercontent.com/6043493/78932037-0f494600-7a64-11ea-970b-f945d5bfd18a.png)

[2020-04-09 19:32] halocline commented on #3852
I believe that is being caused because the page layout is now presenting the form twice, both using the same element id. If I update the ids to be 'my-input-1' and 'my-input-2' respectively the Wave error should go away. Example here: https://v2.grommet.io/form?c=DwMQ9gTgtgfAUAAgaSUQEsCmAbAJkgCwBcptwIBeAIigE8BadAOwAcBXIgJiqWwEMARjmoA5PlEw9ECeEmAAVTAA8iASVYcE6XNTqMNXHk3GZqxiTwD0s5JfJoseG8ABCHImCYIi

[2020-04-09 20:26] #3931 closed

[2020-04-09 20:34] ShimiSun commented on #2940
I believe this issue is solved with the `themeMode` prop https://storybook.grommet.io/?path=/story/radiobuttongroup--simple

[2020-04-09 20:43] #2940 closed

[2020-04-09 20:53] ShimiSun commented on #2823
We now allow different customization for the Select options and the options text:
https://v2.grommet.io/select#select.options.container
https://v2.grommet.io/select#select.options.text

I'll be closing this issue, feel free to reopen if anything else needed in this scope or file a new issue.

[2020-04-09 20:53] #2823 closed

[2020-04-09 20:54] ShimiSun commented on #1999
I think this issue can be closed, thank you for your collaboration!

[2020-04-09 20:54] #1999 closed

[2020-04-09 20:57] ShimiSun commented on #2425
I think we can close this issue since `[interactiveChild](https://v2.grommet.io/stack#interactiveChild)` prop is addressing the request.

[2020-04-09 20:57] #2425 closed

[2020-04-09 22:40] jesseolsen commented on #3852
Great!  Can we get those 2 changes into the examples, so that (1) folks who cut-and-paste will have proper accessibility, and (2) the code will show proper usage for accessibility.  Thanks!

[2020-04-09 22:55] ShimiSun commented on #3928
Fixed, thanks for reporting.

[2020-04-09 22:55] #3928 closed

[2020-04-10 00:43] LiveFreeAndRoam commented on #3924
I tried to create an example CodeSandbox to demonstrate the need for `fieldset`.  Alas, it did not behave the same way as my product's code, where I used `fieldset`.  I'll have a look at this again after the Easter break.

All the same, the screen-reader discussion is getting off-topic for this particular issue.

As for this issue, this may help clarifying...

I'm guessing the Grommet code that ha

[2020-04-10 16:48] ShimiSun commented on #3936
Thanks for reporting! This issue is fixed on the [stable branch,](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) feel free to try it out on by pointing your grommet package.json to `"grommet": "https://github.com/grommet/grommet/tarball/stable"` and let us know if it works as expected.
The fix will be officially available on our next official grommet release.

[2020-04-10 16:48] #3936 closed

[2020-04-10 16:49] ShimiSun commented on #3935
Thanks for reporting! This issue is fixed on the [stable branch,](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) feel free to try it out on by pointing your grommet package.json to `"grommet": "https://github.com/grommet/grommet/tarball/stable"` and let us know if it works as expected.
The fix will be officially available on our next official grommet release.

[2020-04-10 16:50] ShimiSun commented on #3917
Thanks for reporting! This issue is fixed on the [stable branch,](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) feel free to try it out by pointing your 'grommet' package.json to `"grommet": "https://github.com/grommet/grommet/tarball/stable"` and let us know if it works as expected.
The fix will be officially available on our next official grommet release.

[2020-04-10 16:50] #3917 closed

[2020-04-10 20:14] ShimiSun commented on #2896
we'll be continuing the discussion on #3887

[2020-04-10 20:14] #2896 closed

[2020-04-10 23:14] fuyucn commented on #2975
any update for this one? the default underline is very annoying

[2020-04-10 23:19] LiveFreeAndRoam commented on #3935
I tried to test it, but was unable to.

Would you expect this to work from CodeSandbox?  I tried all manner of variations, but all were unable to locate your tarball.  The error suggests there is a missing `package.json` file in the `grommet/grommet/tarball/stable` folder:

I modified _my project's_ `package.json` file, replacing the "grommet" dependency with the line you described above, and Code

[2020-04-11 13:57] Priya-Koushik-L commented on #3889
@ShimiSun  I had updated details for this in the notes section(in rally) of this bug. Please let me know if weren't able to view the same.

[2020-04-11 13:58] Priya-Koushik-L commented on #3889
I'm not able to reopen this issue, Please do the needful with the above details.

[2020-04-12 09:35] avin-kavish opened #3951 "Incomplete Type Definitions"
Types are mostly incomplete with `{}` being used liberally where better types could be used. Would you accept a PR fixing this?

[2020-04-12 20:02] markjackson02 opened #3952 "Select does not render initial value"
The initial value of `value` prop is not respected by `<Select>` component. It only uses `value` after `onChange()` is triggered.

### Expected Behavior

If a string is passed in `value` prop, Select should render that value.

### Actual Behavior

input `value` attribute is null

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/select-initial-value-issue-8rw7t

### S

[2020-04-12 20:04] markjackson02 commented on #3952
Related to https://github.com/grommet/grommet/issues/3934 . This is a regression from v2.11.2 which works as expected.

[2020-04-12 20:45] 132041 opened #3953 "Adding an icon to anchor adds margin"
### Expected Behavior

Having icons in <Anchor /> should generate same height of anchor as the height of the icon or label (whatever is the tallest).

### Actual Behavior

It creates an additional whitespace below the icon.

### URL, screen shot, or Codepen exhibiting the issue

Screenshot:
<img width="404" alt="Screenshot 2020-04-12 at 22 45 13" src="https://user-images.githubusercontent.com/6842

[2020-04-13 05:33] Priya-Koushik-L opened #3954 "DE1347: UI: Grommet version changes"
Below are the details of issues due to new grommet changes.

1. Indication of Hyperlink for instance ID is missing in new grommet changes
Before
![image](https://user-images.githubusercontent.com/51032161/79094459-3f029180-7d75-11ea-891d-87db9caf661a.png)

after
![image](https://user-images.githubusercontent.com/51032161/79094556-91dc4900-7d75-11ea-8805-8c3eb1b1cc44.png)

2. “Service Instances” pa

[2020-04-13 13:54] ShimiSun commented on #3954
Hi Priya,
Each github issue has a template the submitter need to fill in order to help us with the investigation and suggest a solution.
Your issue doesn't specify which grommet version you were using before and after the upgrade, so it will be hard for us to understand which code is relevant.
In addition, reading through bullet number one, is it possible you are confusing the Grommet library upgr

[2020-04-13 13:56] ShimiSun commented on #3953
Hi buddy, what version of Grommet are you using?

[2020-04-13 14:36] 132041 commented on #3953
Hey! I use 2.12.0

[2020-04-13 16:58] ShimiSun commented on #3837
Hi @tpinne, I filed a PR to fix the behavior of `none`, so we wouldn't need to allow boolean value  to `gap`.

[2020-04-13 17:11] #3837 closed

[2020-04-13 17:12] ShimiSun commented on #3837
Thanks for reporting! This issue is fixed on the stable branch, feel free to try it out on by pointing your grommet package.json to "grommet": "https://github.com/grommet/grommet/tarball/stable" and let us know if it works as expected.
The fix will be officially available on our next official grommet release.

[2020-04-13 21:55] ericsoderberghp commented on #3934
The tricky part with the existing API is that there isn't a way to indicate what `valueKey` is to be used for.

scenario 1: `valueKey` indicates what field in the `options` objects should be used for testing equality between `value` and `options` items. In this case, `value` and `onChange(({ value }) => {}` have both `value` and `options` being objects. This was the prior behavior, which should ha

[2020-04-14 07:27] shivs077 opened #3959 "Calendar body width issue when custom global size is provided"
I'm using a custom theme for my project. So, when I'm overriding the "global.size.medium" property (256px), the Calendar body is getting a width greater than that, and as a result some of the days aren't visible (as Calendar body's overflow is set to hidden), while at the same time Calendar header adjusts perfectly.
The only workaround I've found is by manually reducing the "daySize" width. ( "cal

[2020-04-14 18:56] RyanCCollins commented on #3934
@ericsoderberghp I like that solution! Thank you for looking into this.

[2020-04-15 10:30] LiveFreeAndRoam commented on #3935
I finally got around to testing this in my own enviornment.  CodeSandbox wouldn't let me reference your stable image.  It's an improvement, but still not quite right.

The Grommet `Form onChange` handler is still invoked for controlled changes to the controlled input.  This is different to the React `Form onChange` handler which does not respond to controlled changes to controlled inputs, but rath

[2020-04-15 10:40] LiveFreeAndRoam commented on #3935
Notice that entering data into the Grommet Form updates the React Form.  Though the React Form shows Zero changes.

![image](https://user-images.githubusercontent.com/8231064/79328126-e7248000-7f58-11ea-9623-bf606a376704.png)

Repeating the same experiment, entering data into the React Form updates the Grommet Form.  But now the Grommet Form shows it changes for every controlled change.

![image](

[2020-04-15 15:14] ShimiSun commented on #3889
@Priya-Koushik-L for full transparency with others that may be encountering similar issues, let's post all the details on this github issue. I don't have a Rally account to enter your links so please list the information as the template suggests when you file an issue.

[2020-04-15 15:59] RyanCCollins opened #3960 "Accordion Panel does not expand when rendered in a child component"
### Expected Behavior
The AccordionPanel should be expandable when used in a child component

### Actual Behavior
When nested in a child component, the AccordionPanel does not expand after version 2.11.4 of grommet.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/elastic-goldstine-zfifk?file=/src/App.js

### Steps to Reproduce
See the codesandbox above.  Try to open

[2020-04-15 16:10] YuriyKovalcuk commented on #3960
Please feel free to contact me for some details as well
I am also in Grommet slack channel @Yuriy Kovalchuk

[2020-04-16 02:53] LiveFreeAndRoam opened #3963 "Add arbitrary props to the drop down box"
### Expected Behavior

_This was found for the `Menu` component, but may apply to other components with drops too._

Reference: https://grommet.slack.com/archives/C04LMHN59/p1586979956317500

Our test team needs a simple way to identify when a drop is opened.  We would prefer to add a  specific attribute to the drop, `data-id`, which they can find in the DOM.

#### For Example: `Menu` button

Add

[2020-04-16 08:20] RobertoSnap commented on #3934
Also had problem with this, looking forward to the next release.

For any other, if you are getting `Cannot read property 'function valueKey`
![image](https://user-images.githubusercontent.com/4772930/79432147-ba5d8080-7fcb-11ea-85c5-8fb742f7cbcc.png) i think its related to this.

Use version 2.11.2 or release after 2.12.0.

[2020-04-16 14:08] #3960 closed

[2020-04-16 14:15] ShimiSun commented on #3960
@YuriyKovalcuk & @RyanCCollins , Thanks for reporting! This issue is fixed on the stable branch, feel free to try it out by pointing your grommet package.json to "grommet": "https://github.com/grommet/grommet/tarball/stable" and let us know if it works as expected.
The fix will be officially available on our next official grommet release. Keep us posted.

[2020-04-16 14:48] MikeWalrath commented on #3954
@Priya-Koushik-L  any update on the above questions? We would like help but will need the additional information before we can get to the root of the issue.

[2020-04-16 14:56] Priya-Koushik-L commented on #3954
About the first point, we were able to make a difference in appearance whether its a hyperlink or not, now its seen as simple text where user wont be able to know its clickable or not

[2020-04-16 16:22] kkgowtamasa opened #3964 "Issue with Layer component"
When I try to show up two layers at a time, the Layer component is setting and unsetting `area-hidden` property in an infinite loop. It stops setting only when I dismiss the Layer (by closing).
### Expected Behavior
It shouldn't set and unset in an infinite loop.

At some point in time browser may freeze.
### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
![1](https://user-

[2020-04-16 22:09] ShimiSun commented on #3954
From what you are describing this change is coming from the theme upgrade and not from grommet, correct?
can you share what versions you are using?
We can get a quicker turnaround if the information would be elaborative.

[2020-04-17 05:48] Priya-Koushik-L commented on #3954
caret version make sure that it will be updated automatically to the latest.

[2020-04-17 14:47] ShimiSun commented on #3954
Caret is giving you the option to update to the latest but the lock files are determining the version that is being used.
If you delete the lock files and the node_modules/grommet-theme-hpe, and rebuild your project, you supposed to see the behavior as expected. keep us posted.

[2020-04-17 15:02] #3920 closed

[2020-04-17 15:38] tpinne opened #3968 "TypeScript: Avatar only accepts AvatarProps and BoxProps and no props for standard DIV elements"
### Expected Behavior

The Avatar component should accept all props/attributes for standard DIV elements like the Box component does.

### Actual Behavior

The Avatar component does not accept standard props/attributes from DIV elements like for example `title`.

### Steps to Reproduce

Try to use an Avatar component with `title="something"`.

### Your Environment
- Grommet version: 2.12.0

### Po

[2020-04-17 15:50] #3963 closed

[2020-04-17 16:31] ShimiSun commented on #3968
Fixed, thanks for reporting.

[2020-04-17 16:31] #3968 closed

[2020-04-17 18:13] IanKBovard commented on #3633
@ShimiSun Have you come to a conlcusion about this issue? I agree that it's a worthwhile enhancement, and could take a look at it.

[2020-04-17 18:39] IanKBovard commented on #3521
@blakehilliard just checking in on this issue, have you tried giving the Grommet component itself a background color? That would solve your issue, but I'm not sure if it would suit your implementation.

[2020-04-17 18:41] IanKBovard commented on #3554
@iMerica any update on this before we close this issue? This seems to be an issue with implementation.

[2020-04-17 18:46] IanKBovard commented on #3556
@nprizal Can you give us an example of your implementation for us to test before we close this issue? I'm unable to reproduce this bug.

[2020-04-17 19:23] kkgowtamasa commented on #3964
@raj-chelur

[2020-04-17 20:26] IanKBovard commented on #3964
@kkgowtamasa Not sure if this is a bug on Grommet's end. You're opening a layer within a layer with this implementation; which is causing the issue. This storybook example shows how to use multiple layers stacked on top of each other.

https://storybook.grommet.io/?path=/story/layer--center

let me know what you want the exact implementation to be, so that I can clarify this more for you.

[2020-04-17 20:27] halocline opened #3972 "Allow styling of FormField border & label when disabled"
### Expected Behavior

When `<FormField>` is `disabled`, in addition to the background, I would like to be able to style the FormField's label and border colors.

### Actual Behavior

When FormField has a disabled prop, the disabled prop is not passed to the `<FormFieldBox>` and therefor cannot extend disabled state styling via theme.

### URL, screen shot, or Codepen exhibiting the issue

Here is

[2020-04-17 20:39] IanKBovard commented on #3576
@atoy40 and @andru
In this example onMore fires the instant DataTable renders, and not when data is fetched. Conditionally rendering DataTable when data.length is greater than 0 fixes the issue.
[code]
It also looks like there was a height issue with the Box the DataTable was in. I updated your example with the solution.

https://codesandbox.io/s/datatable-scrolling-oi1g1?fontsize=14&hidenavigatio

[2020-04-17 20:49] IanKBovard commented on #3579
This issue can be closed. I'm unable to reproduce is as it was fixed by this pr
https://github.com/grommet/grommet/pull/3784

[2020-04-17 21:14] IanKBovard commented on #3636
@aga5tya Could you give me an example I can toy around with. Just want to make sure I understand what this issue is.

[2020-04-17 21:31] ericsoderberghp commented on #3952
The Code Sandbox link seems to just refer to the generic grommet one. I'm not sure where the code shown is part of a sandbox example.

If I do this:

[2020-04-17 21:34] #3942 closed

[2020-04-17 23:32] markjackson02 commented on #3952
@ericsoderberghp I must have forgotten to save the file. Here is updated sandbox: https://codesandbox.io/s/select-initial-value-issue-d1uvm?file=/src/Select.js

I am seeing the issue on v2.12.0 (latest version used in the sandbox). Which stable branch are you referring to?

[2020-04-18 05:15] kkgowtamasa commented on #3964
@IanKBovard my requirement is very simple... Just want to launch layer on top of a layer.

[2020-04-18 11:30] avin-kavish commented on #2118
But this sets scroll in the inner component, not the page.

[2020-04-18 14:08] arvind0598 opened #3975 "Cannot set target prop on Anchor"
### Expected Behavior

`
<Anchor
            href="/hello"
            target="_blank"
            label="here"
          />
`

This should set the link to open in a new tab, with the target prop.

### Actual Behavior

`<a href="/hello" class="StyledAnchor-sc-1rp7lwl-0 gzrmWK">here</a>`

This is the generated HTML. It creates the HTML without the target prop.

### Steps to Reproduce

Use the code

[2020-04-19 12:58] avin-kavish commented on #3951
Why is this issue ignored while others are getting attention?

[2020-04-19 13:06] avin-kavish opened #3976 "A trivial function imported from polished is adding 10kb to bundlesize"
The rgba function, which essentially does nothing is the only import from `polished` and adds 10kb to the bundle.

It's used in situations like,

[code]

which can simply be replaced with the equivalent string, `rgba(221, 221, 221, 0.5)`.

https://bundlephobia.com/result?p=polished@3.5.1

![image](https://user-images.githubusercontent.com/48435155/79688486-4097f200-826c-11ea-8a94-969b08a1f0fe.png)

[2020-04-20 14:14] ShimiSun commented on #3976
Thank you for the analysis!! we'll need to take a look at that.

[2020-04-20 14:15] ShimiSun commented on #3951
Sorry, we might have missed, PRs will be more than welcome!! THANK YOU!

[2020-04-20 14:29] IanKBovard commented on #3576
Let me know if this answers your question.

[2020-04-20 14:30] IanKBovard commented on #3964
Just trying to clarify. Would you like to launch to layers at the same time? or would you like a layer to open another layer? Your particular implementation might change the solution I have for you.

[2020-04-20 15:11] IanKBovard commented on #3959
@shivs077 I think yours is the best solution. It looks like if you plan on changing global.size of the calendar you should appropriately adjust the other sizes to match as well.

[2020-04-20 15:21] atoy40 commented on #3576
@IanKBovard I'm not working on the app I had the problem, but yes your solution probably works ... sounds obvious :)

[2020-04-20 16:04] avin-kavish commented on #3976
No worries. Actually, I missed one situation where `rgba` seems to be needed very much.  https://github.com/grommet/grommet/blob/ab402dd96c0e402d1cfd8de2de9892b3b8ab11f3/src/js/themes/base.js#L802

[2020-04-20 16:10] ShimiSun commented on #3964
@kkgowtamasa @raj-chelur what will be the use case of opening two layers together at the same time? how would the focus (accessibility) behave in that case?  Can you share an example of your designs? I don't think the intention of the component is to behave the way you are describing, but we are open to hear the use case you guys are trying to solve. Please see if Judith (designer) approves it as

[2020-04-20 16:23] ShimiSun commented on #3976
Yea, it is helpful when we need the opacity to translate.
Any other alternatives?

[2020-04-20 16:36] ShimiSun commented on #3579
Thanks @IanKBovard for solving the issue, I'll be closing it.

[2020-04-20 16:36] #3579 closed

[2020-04-20 16:42] avin-kavish commented on #3976
Hmm... do you know the return format of this function? `normalizeColor('border', props.theme)`

[2020-04-20 18:05] IanKBovard commented on #3576
@atoy40 Thanks for getting back to me. If you're happy with the solution, I think we can close this issue.

[2020-04-20 18:06] IanKBovard commented on #3748
@albertotimoteo Could you give me an example in codesandbox?

[2020-04-20 18:11] IanKBovard commented on #3975
@arvind0598 Have you tried testing if the anchor opens in a new window? Although, you might not see it, with the current version of grommet im able to set target="_blank" effectively.

[2020-04-20 18:19] #3576 closed

[2020-04-20 18:27] ShimiSun commented on #3976
Adding @ericsoderberghp to see if there is additional info that we should account for.

@avin-kavish feel free to share a PR if you already have something in mind.

[2020-04-20 18:41] kkgowtamasa commented on #3964
@ShimiSun @IanKBovard
We would like to have layer on top of another layer. The primary layer and second layer should show up at the same time.

[2020-04-20 19:39] IanKBovard commented on #3626
If you wrap the entire layer with the form component instead of putting it inside, you get your desired result.

[2020-04-20 20:22] ShimiSun commented on #3952
@markjackson02 I think the file wasn't saved well.
This is the Select I see when I open the link you sent:
[code]
So the options are not objects there.

Regardless, here is some info regarding [stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F).

We did have an official release v2.13.0 this morning, so see if this release fixed your issue. https://github.c

[2020-04-20 21:11] halocline opened #3981 "Invalid PropType 'background' supplied to Box"
### Expected Behavior

I should be able to supply Box with a background where the color property is an object and not receive a PropType warning.
[code]

### Actual Behavior

Receive the following console warning:
"Warning: Failed prop type: Invalid prop `background` supplied to `Box`."
![Screen Shot 2020-04-20 at 3 28 04 PM](https://user-images.githubusercontent.com/1756948/79803117-9a58f480-831e

[2020-04-20 21:11] halocline commented on #3981
I will have a fix PR shortly.

[2020-04-20 21:35] IanKBovard commented on #3954
@Priya-Koushik-L Have you tried ShimiSun's suggestions? If you are still having issues, maybe I can help as well.

[2020-04-20 21:52] ShimiSun commented on #3981
Thanks!

[2020-04-20 23:26] LiveFreeAndRoam opened #3985 "Select cannot display 0 as a value, instead it displays blank"
### Expected Behavior

0 value ought to be displayed as "0", not blank.

### Actual Behavior

0 value displays as blank.

### URL, screen shot, or Codepen exhibiting the issue

Visit my [CodeSandbox](https://codesandbox.io/s/grommet-select-issue-with-0-value-owix5), or use the code below.

[code]

### Steps to Reproduce

See CodeSandbox.

### Your Environment

- Grommet version: v2.12 compared wit

[2020-04-21 02:42] LiveFreeAndRoam opened #3987 "DataTable produces duplicate keys (v2.13 and v2.12)"
### Expected Behavior

`DataTable` must generate rows with unique keys.

### Actual Behavior

The row's key value is [object Object], so they are all the same.

### URL, screen shot, or Codepen exhibiting the issue

#### v2.13 Duplicate Keys

 Note: key val of each row is [object Object]

![image](https://user-images.githubusercontent.com/8231064/79818984-66d4a380-83cc-11ea-9d09-a86cb0153d6b.png)

[2020-04-21 05:40] arvind0598 commented on #3975
Yeah I have. It wasn’t working for me. After that I checked the HTML and saw there was no prop for it.

I’m not sure if it’s more buggy or less buggy if it’s opening a link in a new tab without having a target prop in the HTML, haha.

[2020-04-21 06:15] shivs077 commented on #3959
Seems fair. Thanks.

[2020-04-21 06:16] #3959 closed

[2020-04-21 15:08] IanKBovard commented on #3987
@LiveFreeAndRoam could you give me an example of what your data looks like? I think i see the problem.

[2020-04-21 15:20] markjackson02 commented on #3952
@ShimiSun the options object is defined as `const OPTIONS = ['First', 'Second', 'Third'];` in your code snippet above...? I upgraded the sandbox to 2.13.0, same issue.

[2020-04-21 16:11] #3755 closed

[2020-04-21 16:21] ShimiSun commented on #3755
Thanks for the fix @IanKBovard

[2020-04-21 16:53] ShimiSun commented on #3975
@arvind0598 I think the thought was to keep the DOM lean, wondering why you think it should be shown on the DOM.

[2020-04-21 17:17] IanKBovard commented on #3897
@Rashi-jain21  the locale prop should handle your issue.
https://v2.grommet.io/calendar#locale
let me know if this is what you're looking for.

[2020-04-21 20:16] IanKBovard commented on #3953
@132041 A margin is not being added. The default behavior for inline-block components like <svg> is to add space for text with character decenders like lowercase 'y' or 'g'. This behavior can be removed, but im not sure if it is wanted or not.

[2020-04-21 20:23] IanKBovard commented on #3975
@arvind0598 are you still having issues? I can set target="_blank" on an Anchor component successfully. I've tested this multiple times.

[2020-04-21 21:01] IanKBovard commented on #3061
Seems like this can be closed, if this was this issue.

http://localhost:9001/?path=/story/select--object-options

[2020-04-21 21:01] ShimiSun commented on #3975
after discussion, we should allow target on the DOM element, and we'll need to investigate why it is not showing now. @IanKBovard would you like to take a look at it?

[2020-04-21 22:01] #3061 closed

[2020-04-21 22:08] ShimiSun commented on #3985
Thanks for reporting and providing us constant feedback! the issue is fixed on the stable and will be available on the official next release.

[2020-04-21 22:08] #3985 closed

[2020-04-21 22:14] IanKBovard commented on #3897
[code]
this should do the trick

[2020-04-21 22:15] IanKBovard commented on #3975
@ShimiSun can do

[2020-04-22 08:01] jlilly opened #3992 "Multiple charts with gradients will override chart data and gradient"
When multiple instances of charts are created with different gradients, the data and gradient of the first chart will override and be displayed in the subsequent charts.

A gradient is simply defined in this case an array being passed to the color prop. This case is called out in my codepen

### Expected Behavior
Charts should be independent of each other.

### Actual Behavior
The first chart with

[2020-04-22 08:56] kkgowtamasa opened #3993 "Select component in React.StrictMode, component is throwing errors"
When we use the Select component in React strict mode then we could see the following errors:
`findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Ref which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node.`

### Expected Behavior
-The component shoul

[2020-04-22 08:57] kkgowtamasa commented on #3993
@ShimiSun @ericsoderberghp

[2020-04-22 09:20] LiveFreeAndRoam commented on #3987
Hi Ian,

Here is the `console.log` of `columns` and `protocolAddresses`.  NOTE: the raw `protocolAddresses` is formatted by wrapping the raw data with Grommet components.

#### `columns`
[code]

#### `protocolAddresses` (raw data)
[code]

#### `protocolAddresses` data wrapped with Grommet components

_This is the `DataTable data` that gets rendered..._
[code]

And here is the rendered content...

[2020-04-22 09:35] LiveFreeAndRoam commented on #3987
In case it helps...

Each raw `protocolAddresses` element is wrapped as:
[code]

[2020-04-22 14:43] sindhoora-r opened #3994 "Select Component is throwing error in console."
Select component is throwing the below error in console,
Uncaught TypeError: target.getBoundingClientRect is not a function
    at isNodeBeforeScroll (main.c47b31f916ead3080e9b.bundle.js:1)
    at main.c47b31f916ead3080e9b.bundle.js:1

### Expected Behavior
The Select should render without any console errors.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
https://story

[2020-04-22 15:54] #3981 closed

[2020-04-22 16:15] IanKBovard commented on #3987
Thanks, thisll help me figure this out

[2020-04-22 16:21] ShimiSun commented on #3934
Fix available on 2.13.0. thanks for reporting!

[2020-04-22 16:21] #3934 closed

[2020-04-22 16:24] MikeWalrath commented on #3954
@Priya-Koushik-L we would like to continue to make progress on the issue. Did Shimis suggestions help?

[2020-04-22 16:39] IanKBovard commented on #3964
im not sure that's the best use of layer. i could be wrong, but it might not be possible to interact with both layers at the same time.

[2020-04-22 16:49] IanKBovard commented on #3897
@Rashi-jain21 Let me know if this answers your question, and we can close the issue.

[2020-04-22 16:53] IanKBovard commented on #3993
@kkgowtamasa Taking a look at this issue now

[2020-04-22 18:09] IanKBovard commented on #3994
I just noticed this too. Its coming from DOM.js in utils either or both sNodeBeforeScroll and isNodeAfterScroll functions are causing the issue.

[2020-04-23 00:28] nateq314 opened #3999 "Box gap prop rendering gaps between null children"
[code]
is rendering 3 gaps, whereas common sense would dictate that there should be none, since there is only one non-null child element.

[2020-04-23 00:40] nateq314 opened #4000 "faulty documentation for <Markdown />"
Documentation for `Markdown` gives this as the example code for customizing a `<p></p>`  element in the output:
[code]
but actually that results in the following console warning:
[code]
and the following markup:
[code]
When you replace `"Paragraph"` with `Paragraph` (no quotes) it works as intended. Not sure if this is an issue with the documentation or with the code?

[2020-04-23 07:06] shovelmn12 opened #4002 "Setting <Select /> to multiple breaks it"
[code]

P.S: sorry for the code block something is not working right for me.

EDIT:

https://github.com/grommet/grommet/blob/2eb8d09df21c2e6bfc86bd069e5bfaa1e9193ab9/src/js/components/Select/SelectContainer.js#L145

it should be: `nextOptionIndexesInValue.splice(valueIndex, 1)`

[2020-04-23 13:50] kkgowtamasa commented on #3964
@IanKBovard @ShimiSun any suggestion or workarounds to get rid of this problem...

[2020-04-23 14:13] ShimiSun opened #4003 "FormField is leaking `size` into the DOM."
When applying FormField label styles (see #3998), for example`size`, the prop is being leaked to the DOM while it shouldn't.

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/3998_
[code]

[2020-04-23 14:19] ShimiSun commented on #4002
Shalom buddy, thanks for reporting!
Looking forward to seeing your PR...

[2020-04-23 14:38] IanKBovard commented on #3964
Sure, i can help. I just need to understand why you need to open two layers at once. What is the user's experience? Is the user opening a sidebar and a confirmation layer at the same time, like in your example?

[2020-04-23 16:09] ShimiSun opened #4004 "FormField theme refactoring for error"
This seems like it should be `error.border`, to align with `error.background`.

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/3973/files_

[2020-04-23 16:18] avin-kavish opened #4005 "Proposal: Move TypeScript stories into component sub-folders"
At the moment, all TypeScript stories are under a root level TypeScript folder. This is inconvenient because usually since the TypeScript stories are incomplete compared to JavaScript ones, users have to switch back and forth between two mega folder structures.

![image](https://user-images.githubusercontent.com/48435155/80121888-73aeee00-85aa-11ea-8372-ba4da4939b62.png)

I propose having a typesc

[2020-04-23 16:30] IanKBovard commented on #2997
I could be wrong, but I belive this is possible, using refs and the drop component. If so, this issue can be closed.

[2020-04-23 16:42] IanKBovard commented on #3186
If #3443 solved this issue we can close this.

[2020-04-23 16:43] IanKBovard commented on #3246
If #3246 fixed this issue we can close this.

[2020-04-23 17:11] csclyde opened #4007 "Accordion breaks when AccordionPanel is in a different component"
### Expected Behavior

Our app was set up and working in a previous version of Grommet (2.7.2). We have an Accordion component in one place, and then the AccordionPanel in another component (MeterDetails) as the top-level component. Within the Accordion, we would loop through our data and create the AccordionPanel container component (MeterDetails). This would work fine, and users could expand/col

[2020-04-23 17:14] ShimiSun commented on #4007
Thanks for reporting. This issue was fixed on Grommet v2.13.0, enjoy the upgrade.
https://github.com/grommet/grommet/issues/3960
PR #3962

[2020-04-23 17:14] #4007 closed

[2020-04-23 17:30] shovelmn12 opened #4008 "Proposal: remove date and dates from Calendar"
### Remove date and dates from Calendar.

### Why?

1. it makes code look ugly:
[code]
2. hard to read.
3. hard to use without reading the docs.
4. need to validate what type of value is passed every time.

### So what should be done?

[code]

1. much easier to read
2. no need to check what type of value passed
3. if `value={}` is used, `<Calendar />` will be compatible with `<FormField />` (maybe

[2020-04-23 17:43] IanKBovard commented on #3975
have a pr up for this in review

[2020-04-23 17:48] IanKBovard commented on #3536
Have a pr open for this but, still in discussion
https://github.com/grommet/grommet/issues/3102

[2020-04-23 18:07] IanKBovard commented on #3760
sorry for the wait, working on this now

[2020-04-23 18:07] IanKBovard commented on #3771
working on this now, as well

[2020-04-24 15:48] IanKBovard commented on #3771
It looks like onClickOutside never worked when layer modal was set to false. Was this intentional? Only the overlay when modal was set to true has the onclickoutside event.

[2020-04-25 18:22] bilak opened #4013 "FormField binding infinite render loop"
When using form binding with `<Form value={data}>` and in some field also using binding with nested property `<FormField name="street"><TextInput name="street" value={data.address.street} ...` I'm getting infinite rendering loop

Problem is that when I want to use binding of form field by name, it's not possible to use nested properties like `address.street` (or maybe just I don't know how to use

[2020-04-26 05:23] dandv opened #4014 "Autocomplete component?"
I've just discovered grommet and appreciate how much simpler it is [compared to MUI](https://github.com/mui-org/material-ui/issues/20755#issue-606906410).

It's obviously a much newer library, but I was wondering if there's an autocomplete component on the map? I'm looking specifically for tags input / [multi-value autocomplete](https://material-ui.com/components/autocomplete/#multiple-values).

[2020-04-26 05:37] forresthopkinsa commented on #3908
I ended up doing this in my custom component:

[code]

[2020-04-26 20:07] jjalonso opened #4015 "Animation doc and features"
Hello Grommets

I was trying to find documentation about animation but could not find more than the little animation paragraph, and I have some question.

1) I saw that setting an anime object like slideLeft with 2000 delay, it hold on the initial position until the 2sec happens, what's the way to do the animation from the initial and default position of that box?

2) I have been testing with puls

[2020-04-26 21:05] MarkMarine commented on #3993
Seems to exist in the DataTable as well

[2020-04-27 14:02] ShimiSun commented on #4015
Hi, thanks for asking.
Grommet allows an `animation` for components that should allow animation behavior, for example, check out https://v2.grommet.io/box?#animation
For an advance example of animations, check out this code example https://codesandbox.io/s/graphs-animations-bl9th

[2020-04-27 14:40] ShimiSun commented on #3760
Fixed thanks to @IanKBovard ! will be available on our next release.

[2020-04-27 14:40] #3760 closed

[2020-04-27 20:01] IanKBovard commented on #2660
If we accept this solution https://codesandbox.io/s/grommet-v2-template-koi4o?file=/index.js
i belive we can close this issue.

[2020-04-27 20:07] IanKBovard commented on #2708
im curious if we can close this issue. I see a lot of the functionality discussed here in dataTable.

[2020-04-27 21:29] IanKBovard commented on #3076
I'm curious if grommet is interested in adding a component like this. If not we could suggest a package or library that could handle this, or provide an example using grommet(not sure how much of grommet we can leverage in that example, though).

[2020-04-28 01:09] #4002 closed

[2020-04-28 06:30] OlekRia opened #4017 "How to make StyledDay in circle (override style)?"
Is that possible to override the style for Calendar SyledDay?

[2020-04-28 15:51] jesseolsen opened #4019 "Select component displays gaps on scroll with many items (e.g. 25)"
### Expected Behavior

Normal display of items in a Select component, even if > 25 items

### Actual Behavior

Select item in the middle (e.g. 22), then I see a large gap (whitespace) after that item.  See screenshot below.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-sandbox-2r3qw?file=/src/Select.js

![image](https://user-images.githubusercontent.com/6

[2020-04-28 17:37] IanKBovard commented on #3102
Just checked, I'm unable to replicate this issue in the current version of grommet. I think we can close this issue.

https://yxbux.csb.app/responsivecontext

[2020-04-28 17:46] IanKBovard commented on #3115
Im unable to replicate this in the current version of grommet. I believe we can close this issue.

[2020-04-28 18:21] IanKBovard commented on #3118
Im for having onSelect renamed to something else, so the default onSelect doesn't get overridden. If this is an acceptable solution, i can take this on.

[2020-04-28 18:59] ShimiSun commented on #3102
Thanks @IanKBovard. @ypinnek1 feel free to reopen or file a new issue. Thanks for reporting.

[2020-04-28 18:59] #3102 closed

[2020-04-28 20:22] #3115 closed

[2020-04-28 21:05] IanKBovard commented on #3119
autoFocus is a default prop for input components. It works with TextArea, Select, and TextInput. we can close this issue.

[2020-04-28 21:15] IanKBovard commented on #3128
I don't see this anywhere on the docs, do we still plan to support the hidden prop in FormField?

[2020-04-28 21:31] #3972 closed

[2020-04-28 21:33] ShimiSun commented on #3932
Fixed on https://github.com/grommet/grommet/pull/4018, ready on the stable branch.

[2020-04-28 21:33] #3932 closed

[2020-04-28 21:43] ShimiSun commented on #3119
@IanKBovard I think you meant `focusIndicator`, and that is correct, it is available on input elements, see for example https://v2.grommet.io/textinput#focusIndicator
Focus is applied out of the box with additional theme customizations, you should be able to use it without `ref`.

I'll be closing this issue, thanks for reporting!

[2020-04-28 21:43] #3119 closed

[2020-04-28 21:49] ShimiSun commented on #3118
@IanKBovard let's discuss this on on our call tomorrow.

[2020-04-28 22:08] ShimiSun commented on #4014
would that be something you can use https://storybook.grommet.io/?path=/story/textinput--tag?

[2020-04-28 22:40] #3246 closed

[2020-04-29 16:03] ShimiSun commented on #4005
Thanks for reporting, we will be heading this direction and @negreirosleo will help us get there!

[2020-04-29 16:29] IanKBovard commented on #4017
Yes with calendar.day.extend
https://v2.grommet.io/calendar#calendar.day.extend

First create a custom theme,

[code]
Then pass that theme into Grommet

[code]

[2020-04-29 17:01] nozzle-a opened #4024 "Incorrent TS definition for Form onChange"
### Expected Behavior

According to [the documentation](https://v2.grommet.io/form), The `Form` component `onChange` handler should implement an interface like:
[code]
Where `FormState` is whatever I'm passing to `React.useState`.

### Actual Behavior

However, the TS definitions defined for `Form` have a different interface:
[code]

In `Form.js` line 141 you can see that the documentation is corr

[2020-04-29 18:46] ShimiSun commented on #3887
Adding stable branch flags.

[2020-04-29 18:47] ShimiSun commented on #3887
Adding t-shirt sizing descriptions.

[2020-04-29 18:55] jjalonso opened #4025 "margin aren’t scaling for Tabs as they do for Box."
I have been testing on Small and large screen, apparently on small screens margin='large' doesn't value the same on Tabs than on Box.

### Expected Behavior

I think the expected behaviour is that the value of margin="large" is the same on Tabs than on Box if both are at the same screen size/page.

### Actual Behavior

On small screens, comparing Tabs and Box components with margin "large" and bei

[2020-04-29 18:56] ShimiSun commented on #4024
Thanks for reporting, feel free to submit a fix for the issue, looks like you've already done some investigation here https://github.com/grommet/grommet/blob/8912aefbc78b041d4670e68b4ed2d346aedbef9f/src/js/components/Form/index.d.ts#L7

[2020-04-29 19:14] IanKBovard commented on #4017
@OlekRia let me know if this answers your question, then we can close this issue.

[2020-04-29 19:22] #4017 closed

[2020-04-29 20:04] IanKBovard commented on #4025
Before I attempt to fix this. @ShimiSun was this an intentional choice?

[2020-04-29 20:13] ShimiSun commented on #4025
@IanKBovard I'm not sure it was, I would like to understand first why does Tabs isn't acting as responsive by default, and whether it is a side effect of intentional in the code.

[2020-04-29 21:10] ssolari opened #4026 "Long Menu not accessible on Chrome"
When a Menu list extends beyond the bottom of the screen clicking on any item after scrolling down the menu does not select the item, but rather snaps the menu list back to the top.

This is observed only on Chrome only.  I tested on Chrome Version 80.0.3987.163 (Official Build) (64-bit).   The menu seems to work fine on Firefox and Safari.

### Expected Behavior

Behavior of Menu on Chrome should

[2020-04-29 21:22] IanKBovard commented on #4013
The infinite loop happens when both the Form component and a child component such as FormField or TextInput both have a value prop. The nested property is not necessarily causing it.

I fixed a few issues with your example as well.

[code]

This is personal preference, but I generally don't use deeply nested objects unless I really have to in react. I'm not sure how the grommet devs feel about it

[2020-04-29 21:38] jjalonso commented on #4025
Also the tab title (Button > div) itself has a tiny 12px margin, is that intentional too? or it should be 0px ?

I say this because even aligning left a Tab, and just down a Box (Like the example) still the tab has a 12px margin and doesn't align perfectly with the box.

[2020-04-29 22:26] jjalonso commented on #2045
It was not implemented at the end isn't?

Whats the way to go If i want to self position (main axis) an item in a flex container using Grommet? it require styled components?

Thanks.

[2020-04-29 22:37] mrnguuyen commented on #3854
@ShimiSun, how's the progress on this issue?

[2020-04-30 14:31] IanKBovard commented on #4026
Could be the same as #3854

[2020-04-30 19:14] ssolari commented on #3049
Wondering if someone could help me out with a design integration question related to this issue.    I have a designer who created a theme using the Adobe XD design kit.     In principle, I would like to simply upload the file or theme somehow.    Whenever they make changes it doesn't seem to make sense to me to have to redefine the theme manually, this would seem very error prone.

Are there metho

[2020-04-30 22:34] IanKBovard commented on #4025
Here's what I found so far.

Here are the generated classnames for the Tabs Box
![Screen Shot 2020-04-30 at 5 27 24 PM](https://user-images.githubusercontent.com/21990914/80765333-66dd4d80-8b08-11ea-9f1d-a3b66f815dc2.png)

![Screen Shot 2020-04-30 at 5 27 11 PM](https://user-images.githubusercontent.com/21990914/80765365-765c9680-8b08-11ea-8e7b-16a5a41e3b28.png)

it looks like .kwxiNF classname is

[2020-05-01 00:21] ShimiSun commented on #3049
Try to use the theme-designer tool and see if it helps https://theme-designer.grommet.io/Dashboard

[2020-05-01 11:24] jongbelegen opened #4035 "Make components extendable with root class"
I would like to suggest to add some rules to make all grommet components more extendable.
I've noticed that some grommet components (that consists of multiple styled components) are difficult to extend. We want to use grommet as a base for our own design system where we want to add other props for example a inverse prop, this seems quit difficult in current implementation:

[code]

## The problems

[2020-05-01 14:05] ShimiSun commented on #4035
Thank you for bringing up this suggestion, we'll be discussing it.
I'm curious to see if any other users from the community are interested in this approach or something along those lines.

[2020-05-02 13:49] captainheart commented on #3994
The same issue is happening to me.
![image](https://user-images.githubusercontent.com/42261423/80865897-c0728300-8c94-11ea-9072-4ea17f45788e.png)

[2020-05-03 20:12] 108EAA0A opened #4039 "Typescript Definitions for Border Array Size Property incorrect"
This issue is very similar to https://github.com/grommet/grommet/issues/3900

Broke the BorderType property when using an array of borders.

`export type BorderType = boolean | BoxSideType | {color?: ColorType, side?: BoxSideType, size?: BoxSizeType, style?: BoxStyleType} | ({color?: ColorType, side?: BoxSideType, **size?: BoxStyleType**, style?: BoxStyleType})[];`

### Expected Behavior

Should b

[2020-05-03 20:38] #4039 closed

[2020-05-03 23:07] nozzle-a commented on #4024
I've [opened a PR](https://github.com/grommet/grommet/pull/4037) for this.  Anything I need to do to get it reviewed and merged?

[2020-05-04 15:23] ShimiSun commented on #3897
I'll be closing this issue, feel free to let us know if we can help with anything else.

[2020-05-04 15:23] #3897 closed

[2020-05-04 15:29] MikeWalrath commented on #3964
Hi @kkgowtamasa were you able to find a work around for your use case? Let us know and we can continue to make progress.

[2020-05-04 15:40] ShimiSun commented on #4024
Thank you for the PR @nozzle-a , I dropped a couple of comments.

[2020-05-04 16:11] ShimiSun commented on #3568
Thank you for reporting, you can use the options prop to control the fill property.

[2020-05-04 16:11] #3568 closed

[2020-05-04 16:34] IanKBovard commented on #4000
The component key takes a component. When you get the error, you're passing a string. We could update the docs to better reflect the types of values components, and props takes.

This could be more descriptive.

[2020-05-04 16:40] IanKBovard commented on #3999
@nateq314 Can you tell me what version of grommet you're using? I'm unable to reproduce this issue.

[2020-05-04 17:15] IanKBovard commented on #3987
@LiveFreeAndRoam Sorry for the wait. Hopefully, I understand your issue.

My guess is that this will fix your problem.
https://v2.grommet.io/datatable#columns :: check out the render prop for custom rendering of the row.

Something, like this.
[code]
Let me know if this helps.

[2020-05-04 17:15] IanKBovard commented on #3987
if you dont wrap your data with grommet components, does the error still appear?

[2020-05-04 18:27] #3803 closed

[2020-05-04 20:30] ShimiSun commented on #4013
Thanks @IanKBovard, I'll be closing this issue unless @bilak has more questions for us.

[2020-05-04 20:30] #4013 closed

[2020-05-05 04:55] nomadus opened #4044 "An issue with Select component"
With the latest Grommet (2.13.0), I have the following error in the console

Uncaught TypeError: target.getBoundingClientRect is not a function
    at isNodeBeforeScroll (DOM.js:182)
    at InfiniteScroll.js:156,

What could be the issue here?

[2020-05-05 05:48] nomadus opened #4045 "AccordionPanel: validateDOMNesting is thrown wnen Menu is used in header"
When I do as below, I am getting this error thrown in the console
Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>.
    in button (created by StyledButton)
    in StyledButton (created by Button)
    in Button (created by DropButton)
    in DropButton (created by Menu)
    in Keyboard (created by Menu)
    in Menu (created by Menu)
    in Menu (created by WithTh

[2020-05-05 07:05] kkgowtamasa commented on #3964
@MikeWalrath still not ... Hopefully, we will get a workaround or permanent solution for this.

[2020-05-05 07:06] kkgowtamasa commented on #3964
@IanKBovard @ShimiSun
Even this issue is presented in one of our storybook examples. Please have a look at this!
[](https://storybook.grommet.io/?path=/story/layer--center)

[2020-05-05 15:08] IanKBovard commented on #3964
@kkgowtamasa Sorry, that's my fault. That was never meant to be pushed. I broke that example purposefully to test your issue. I am looking at this right now. In the meantime, could you answer my questions about your implementation, so that I can give you a workaround.

[2020-05-05 15:12] ShimiSun commented on #4045
I'm thinking it is because the AccordionPanel is a Button and Menu is a Button as well. some browsers restrict the usage of button nested inside of a button, here is a related read https://stackoverflow.com/questions/47282998/validatedomnesting-warning-react

[2020-05-05 15:18] ShimiSun commented on #4044
Duplicate with #3994. Thanks for reporting.

[2020-05-05 15:18] #4044 closed

[2020-05-05 15:33] #3852 closed

[2020-05-05 16:14] kkgowtamasa commented on #3964
Thanks @IanKBovard .
My use case is exactly the same [here](https://storybook.grommet.io/?path=/story/layer--center).
Basically I have a registration dialog box and I just want to popup RESTcall failures in a another mini dialog box (using layer).

[2020-05-05 16:18] nomadus commented on #4045
Yeah, I have seen this. So the suggestion will be to reconsider usage?

[2020-05-05 16:25] ShimiSun commented on #4045
Yea. Take a look at nested Collapsible, maybe it will be helpful to use it instead https://storybook.grommet.io/?path=/story/collapsible--nested

[2020-05-05 16:30] #4045 closed

[2020-05-05 16:30] nomadus commented on #4045
Thanks!

[2020-05-05 17:01] IanKBovard commented on #3964
@kkgowtamasa If its a popup, have you thought of using drop, or just conditionally rendering a box? is there any specific reason, on why it has to be layer?

[2020-05-05 17:34] kkgowtamasa commented on #3964
Because the second layer is not only meant for simple display.. there I may ask some confirmations or some other inputs

[2020-05-06 04:26] nomadus opened #4052 "Button with size small rounds corners"
When I set a button to be of small size, it rounds the corners. I have not set any rounding theme.
e.g. when size is small
![image](https://user-images.githubusercontent.com/3382143/81138445-eee9aa00-8f83-11ea-85d3-97ead3a0922f.png)

the same button, when no size is set
![image](https://user-images.githubusercontent.com/3382143/81138496-13de1d00-8f84-11ea-89c0-567860044ea2.png)

[2020-05-06 12:58] mlonn commented on #3771
It was more complicated than I thought..

[2020-05-06 14:23] IanKBovard commented on #4052
@nomadus can you give me an example of your code in codesandbox?

[2020-05-06 15:31] ShimiSun commented on #3964
Thank you @kkgowtamasa for reporting and @IanKBovard for solving! the fix will be available on the official next release

[2020-05-06 15:39] ericsoderberghp commented on #4026
I am unable to reproduce this using grommet stable branch on Chrome Version 81.0.4044.138 (Official Build) (64-bit) on Mac OSX.

[2020-05-06 17:35] nomadus commented on #4052
You are right, I have added the individual radii for all the sizes and it fixed the issue.

[2020-05-06 17:35] #4052 closed

[2020-05-06 17:43] IanKBovard commented on #4026
Im able to reproduce it using the code provided here. Same version of chrome on mac.

https://codesandbox.io/s/awesome-elgamal-pep2f?file=/src/App.js

it doesn't happen all of the time. my guess is that sometimes onblur fires first, sometimes onclick does.

[2020-05-06 17:49] ericsoderberghp commented on #4026
I need some more guidance on how to reproduce it. I opened that sandbox and tried more than 10 times to trigger it, but I couldn't reproduce it. :(

[2020-05-06 17:52] IanKBovard commented on #4026
I was able to do it consistently by scrolling up and down then clicking.
Is my version of grommet and chrome correct?

[2020-05-06 17:52] ericsoderberghp commented on #4019
Hmm... I can't seem to reproduce this. I'm wondering if it is tied to timing differences that only surface in a Windows environment. Still exploring ...

[2020-05-06 17:57] ericsoderberghp commented on #4026
Can you verify which side of the drop down you are clicking? I am wondering if the scrollbar is still there and the click is causing a scroll because it is actually clicking on the scrollbar. This happens for me when I scroll up and down with the touchpad and then click on the right side of the drop while the scrollbar is still there or is animating away. If I wait a bit after scrolling such that

[2020-05-06 17:59] ssolari commented on #4026
I can reliably reproduce it on the sandbox.    Make sure you are on Chrome.   It works fine on Firefox and Safari, but if you scroll to click on numbers like 73 etc then it does snap back to 1 without filling the number.  I'm using Chrome Version 81.0.4044.129 (Official Build) (64-bit).   MacOS 10.14.16.   Just upgraded Chrome to Version 81.0.4044.138 (Official Build) (64-bit) and problem is still

[2020-05-06 18:03] IanKBovard commented on #4026
![Kapture 2020-05-06 at 13 02 25](https://user-images.githubusercontent.com/21990914/81212121-02077480-8f9a-11ea-90c9-d162d288bf47.gif)

[2020-05-06 18:14] ericsoderberghp commented on #4026
Thanks, the video helps. If only I could reproduce it myself. I will resume trying ...

[2020-05-06 19:16] ShimiSun commented on #3994
The fix is available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be officially published on our next release. Thanks for reporting!

[2020-05-06 19:16] #3994 closed

[2020-05-06 19:50] RobertGary1 opened #4054 "Select valueKey doesn't work when set as a string"
Example here...

https://codesandbox.io/s/grommet-sandbox-2wn1v?file=/src/Select.js&module=/src/Select.js

[2020-05-06 19:53] RobertGary1 commented on #4054
This worked in 2.12.0 and is broken in 2.13.0

[2020-05-06 21:11] ShimiSun commented on #3854
The fix is available on the [stable branch ](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and it will be officially published on our next release. Thanks for reporting!

[2020-05-06 21:11] #3854 closed

[2020-05-06 23:06] mcwagner10 opened #4055 "Tab titles don't appear if icon is present"
### Expected Behavior
Both the icon and the title show on the tab.

### Actual Behavior

Only the icon appears.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-np8d7?fontsize=14&hidenavigation=1&theme=dark

### Steps to Reproduce

See CodePen.

### Your Environment
Win10/Chrome

- Grommet version: 2.12
- Browser Name and version: Chrome, latest
-

[2020-05-06 23:17] ShimiSun commented on #3118
@jvatic, thanks for reporting!
@IanKBovard next steps for this issue should be to create our own `onSuggestionSelected` call that will perform the same as our current `onSelect` function.
For backward compatibility, we will still accept `onSelect`, but in case the users will define `onSuggestionSelected` the `onSelect` will fallback to the [WebAPI](https://developer.mozilla.org/en-US/docs/Web/API/

[2020-05-06 23:28] rileyskyler opened #4056 "Accessing style properties of a specific grommet component for use in a custom component in a tidy style object"
Based on the documentation on [Accessing theme data outside Grommet Components](https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation#accessing-theme-data-outside-grommet-components) I'd expect to be able to access style properties from `defaultProps.textInput` to use in my own  input component like so,
`<input style={{...defaultProps.textInput}}input>`

Instead `defaultProps.te

[2020-05-06 23:59] ericsoderberghp commented on #4054
That is behaving as designed. Perhaps the documentation isn't clear enough. When options contains objects, there are two ways to consider how `onChange()` behaves. With `reduce: true`, `onChange(({ value }) => {})` is called with `value` equal to `option[valueKey]` for the selected option. With `reduce: false`, `onChange(({ value }) => {})` is called with `value` equal to `option` for the selected

[2020-05-06 23:59] #4054 closed

[2020-05-07 00:36] LiveFreeAndRoam commented on #3935
This one is getting a little old, so just checking if there are plans to correct it.  We're about to abandon the functionality we had planned on attaching to the Form's onChange event handler.

[2020-05-07 01:37] LiveFreeAndRoam commented on #3987
@IanKBovard, your suggestion to use the `render` property worked! Thank you.

As I think about this a moment longer and ponder how I might have avoided this, perhaps the doc can be enhanced?  E.g. in the `data` property documentation, emphasize that the `data` object values must not be JSX?

I was mistakenly expecting that if the `data` value was a JSX object, then the `DataTable` component would

[2020-05-07 15:06] IanKBovard commented on #4056
You can do this two ways. Using ThemeContext.Consumer, or by accessing default props. You have issues in your codesandbox example as well.

I've adjusted your codesandbox to show you both ThemeContext and defaultProps.
https://codesandbox.io/s/defaultprops-textinput-issue-yrq25?file=/index.js

[2020-05-07 15:37] IanKBovard commented on #3118
@ShimiSun sounds good to me. Ill get started on it.

[2020-05-07 16:00] jesseolsen commented on #4019
I have reproduced it on Windows as well as Mac, both on Chrome.  Steps I used to reproduce this (more detailed this time):
Select Input | Select.
Select 22.  The drop down will close.
Open it back up.  Slowly scroll down until you see "20".  Continue slowly scrolling, and you should see a large gap (white-space) before you eventually see 22 at which time the white space disappears.  Scroll back up

[2020-05-07 16:39] ShimiSun commented on #4056
@IanKBovard I'm thinking we should add the defaultProps example to the external component example on storybook, thoughts?

[2020-05-07 17:39] IanKBovard commented on #4056
Sure, i can do that.

[2020-05-07 19:42] rileyskyler commented on #4056
@IanKBovard thank you for that code sandbox!

The way `ThemeContext.Consumer` or `defaultProps` appears to work in this example doesn't quite solve my initial problem. I want an intuitive way to inherit **all** default styling of a `<TextInput/>` into my own custom `<input />`. Seeing that there is a `theme.textInput` empty object, I'd intuit this would be a good place to access all defaults speci

[2020-05-08 09:50] nateq314 commented on #3999
@IanKBovard The original description is slightly off, sorry about that. It's children elements whose ** render functions ** return null. As in:
[code]

[2020-05-08 14:39] nateq314 commented on #3119
I am seeing this behavior still. `TextInput` is accepting `autoFocus` but not doing anything with it. Tried to get around it with `ref` but it's not accepting `ref` as a prop.

[2020-05-08 16:07] #4024 closed

[2020-05-08 16:10] IanKBovard commented on #4056
Just trying to clarify here. You want a custom input to use inside of slatejs's editor, or you want to customize the slatejs editor itself?

I don't quite understand your example. I assume this is it. Is the codesandbox you sent me incomplete?
[code]

This does not differ from the two examples i provided you. Both use theme and will change when theme changes.

[2020-05-08 16:20] IanKBovard commented on #4019
here's a video of the issue.
![Kapture 2020-05-08 at 11 19 35](https://user-images.githubusercontent.com/21990914/81425788-da411980-911d-11ea-9222-847b831e3d85.gif)

[2020-05-08 16:23] IanKBovard commented on #3999
ah, i gothca. thanks for clarifying that.

[2020-05-08 19:23] rileyskyler commented on #4056
I want to style Slate.js's editor itself just like the Grommet input component.

For some reason the Sandbox I sent you did not save properly. What I intended to do was show how I wanted the two `</input>` that you provided to look like `<TextInput/>` default from the component library.

This link should be saved as I intended to send it:
https://codesandbox.io/s/defaultprops-textinput-issue-xowzr

[2020-05-08 19:41] IanKBovard commented on #4056
I havent worked with slatejs that much. How do you normally style the editor?

[2020-05-08 19:49] ShimiSun commented on #4055
Hi buddy, the Tabs `icon` is a new feature and currently not officially released yet, your code is supposed to work after it will be released, [see a POC](https://v2.grommet.io/tabs?c=AQ0HgFQQwIwZ2AMwDYFMAeA+AUKP5oZgAXAS2LQF4AiQ4ARmuFIGMB7AO0oG8wBJdhzgA6AILFiAJygsynYAHpMAXxz51wMACE26JKWTJgABygATGsiiSA5qiZRkpG12otUHYqklMYMgNY2kmwArhwW1DLungC0jGoa6vyCIuJSMnIcwHCkAF6oNOhWtvaKCYkgYAo6WLgVVYTlGpCwJORUt

[2020-05-08 19:49] #4055 closed

[2020-05-08 19:50] ShimiSun commented on #4014
Any news here @dandv ?

[2020-05-08 20:17] rileyskyler commented on #4056
I'm fairly new to the library, but I know you can style the `<Editable` component for the entire text field, but then the 'tokenized text' can be rendered to any custom styling parameters. From this I want the Grommet styling but in addition to the features available from Slate.
https://docs.slatejs.org/walkthroughs/04-applying-custom-formatting

In case we are getting side tracked, I want to be c

[2020-05-08 20:57] dandv commented on #4014
Actually yes, not sure how I hadn't noticed the Tag TextInput.

Souldn't [Suggestion](https://storybook.grommet.io/?path=/story/textinput--suggestions) work as well though? I tried typing matching characters (e.g. `9`), but that list wasn't filtered to the matching entries.

[2020-05-09 15:30] heyayush commented on #3536
Any update on this?

[2020-05-09 16:46] atreb opened #4065 "warning in console when using FormField with TextArea"
### Expected Behavior
There should not be any warning messages in browser console

### Actual Behavior
using FormField with TextArea gives warning. If TextInput is used instead of TextArea there is no warning.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/formfield-with-textarea-l9ryj?file=/index.js
<img width="1680" alt="Screen Shot 2020-05-09 at 12 38 31 PM" src

[2020-05-09 19:28] dipunm opened #4066 "Menu "Drop" box is not the correct width on first load."
### Expected Behavior
When opening menu, the dropdown is perfectly sized

### Actual Behavior
This seems to happen only when developer tools is open in Firefox (currently using v76.0 on Ubuntu)
Edit: I can reproduce on Android (chrome) every now and then. There is no scrollbar, but the text is cut off.
On first load only, the menu is too small (width calculation seems to fall short) and there is a

[2020-05-11 14:12] IanKBovard commented on #4056
My guess is that you're looking for this.
https://docs.slatejs.org/walkthroughs/03-defining-custom-elements

I think we can close this issue, and continue this conversation on slack. As, this is not an issue with grommet.

[2020-05-11 15:51] ShimiSun commented on #4014
If you need the search functionality then Select will be a better candidate for you https://storybook.grommet.io/?path=/story/select--seasons

[2020-05-11 17:50] cscognamiglio opened #4067 "Uncontrolled Form throws warning when not using component prop in FormField"
Uncontrolled Form block with FormField components will throw the warning:
A component is changing an uncontrolled input of type undefined to be controlled.

If the FormField input field is not a children, i.e. is either not specified (defaults to TextInput) or is passed to FormField through the component props.

### Expected Behavior

The behavior should be similar to passing the input component a

[2020-05-11 18:18] taysea opened #4068 "Grommet Accessibility Audit"
# Purpose of this Issue
The purpose of this issue is to identify keyboard/ARIA accessibility improvements that can be made in Grommet to better align the library with [WCAG standards](https://www.w3.org/TR/WCAG21/). Grommet does a great job of building in accessibility, but there are some areas for improvement.

## What is accessibility?
Accessibility is the practice of making your websites usable

[2020-05-11 19:43] ecircenis opened #4070 "Markdown doesn't work correctly for bullet lists"
### Expected Behavior

AM expecting that I can create a bulleted list.

### Actual Behavior

![image](https://user-images.githubusercontent.com/17883783/81604492-2940b600-938d-11ea-8096-bfcdac3bfa08.png)

also:
![image](https://user-images.githubusercontent.com/17883783/81604555-4d9c9280-938d-11ea-8753-3a6f9776411b.png)

### URL, screen shot, or Codepen exhibiting the issue

https://v2.grommet.io/

[2020-05-11 19:51] rileyskyler commented on #4056
I don't think my issue is being understood properly and I'm not sure how to clarify without being verbose. Maybe this is a blindspot of mine or it boils down to a feature request. 🤔

I want to access the raw css properties `border-radius`, `margin` `input:focus` ect of a Grommet TextInput component to plug into the Slate paradigm at my discretion for a pixel perfect aesthetic I see on the Grommet

[2020-05-11 21:42] IanKBovard commented on #4056
Let me try to break down what you're asking.

You want to access css properties of a grommet component.
  That can be done with ThemeContext.Consumer or defaultProps.

You want to make custom grommet components that also inherit all styles from theme.
  You can use styledComponents, customize the theme, or the extend property to do that.

I've adjusted my original codesandbox with more examples an

[2020-05-11 22:33] ShimiSun commented on #4068
Excellent analysis @taysea ! thank you for this contribution.
We will work on adding accessibility tests as well to enforce the best practices.

[2020-05-11 23:47] rileyskyler commented on #4056
@IanKBovard I appreciate you taking the time to update that Sandbox. This helps me in my understanding of how theming works with Grommet, but unfortunately misses my key challenge.

ThemeContext.Consumer/defaultProps do not provide an intuitive way to get all the style props specific to TextInput. I think an intuitive solution would be to have it all in the `textInput` property on the theme object

[2020-05-12 14:39] IanKBovard commented on #4056
Here is documentation where textInput gets its styling from theme.
https://v2.grommet.io/textinput#theme

For a custom input with all of the styled from grommets textInput styled components or textinput.extend is your answer.
https://styled-components.com/docs/basics

[2020-05-12 15:09] #4019 closed

[2020-05-12 15:10] ShimiSun commented on #4019
Fixed and available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F).
Thanks for reporting.

[2020-05-12 16:10] ShimiSun commented on #4067
Hi buddy, I didn't dive much into your example yet but I can see that our story example of Uncontrolled Form is working as expected, can you confirm you are following the same structure of uncontrolled Form as the example we are providing https://storybook.grommet.io/?path=/story/form--uncontrolled

[2020-05-12 19:20] #4025 closed

[2020-05-12 19:21] ShimiSun commented on #4025
The issue is fixed, thanks for reporting!

[2020-05-12 20:14] IanKBovard commented on #3987
Not sure if this needs an update to the documentation.

can be found in columns prop documentation.

data's documentation states.

I think that the omission that data doesn't take React components is enough.

I could add something like this to data.

[2020-05-12 21:08] ShimiSun commented on #3987
@IanKBovard sounds good to me

[2020-05-12 21:45] ShimiSun commented on #3987
Thanks @IanKBovard .

I think it will be redundant and restating `columns`, also data is more about the data structure than rendering.
@LiveFreeAndRoam any other alternatives or we can close this issue?

[2020-05-12 21:54] rileyskyler commented on #4056
Thanks @IanKBovard, I think this is the solution I am looking for. After I sent my last comment I found the theme props in the documentation. I think I can figure it out from the two links you've provided.

[2020-05-12 21:54] #4056 closed

[2020-05-12 22:10] LiveFreeAndRoam commented on #3987
This issue can be closed.

As a general point of concern with the documentation; by not repeating (or cross-referencing) information across properties that have some depenendcy between them, it makes it very difficult for the beginner (or even intermediate expert) to get it right.  There are lots of properties and each property has lots of content, so giving a little more support through repetitio

[2020-05-12 22:39] ShimiSun commented on #3887
Adding this comment from https://github.com/grommet/grommet/issues/3987