[2019-08-15 19:00] #3252 closed

[2019-08-15 21:59] jamiedavenport commented on #3165
Personally, not having types for the values from `Form`s has been the biggest problem for me. I'm happy to contribute a fix for this.

My solution would be to make `FormProps` generic and to change the `onSubmit` definition to be:
[code]

[2019-08-15 22:37] #3083 closed

[2019-08-16 00:42] ericsoderberghp commented on #2556
We've been using this pattern in apps built with grommet recently:
[code]
So, you can use the `useContext()` hook with grommet today.

I think the intent of this issue is to use hooks internally in the grommet implementation more. @ShimiSun and I discussed migrating grommet code, both the components and the stories, to use hooks over time. Any help in this effort would be most welcome.

[2019-08-16 15:15] juanlanus commented on #2938
I saw the tool, it't really good. :-)
But my problem is much dumber.
Using the color tool I can build a theme and paste its code into a file in my project.
I already managed to download the dark theme and to merge some changes above it.
My problem starts here: how do I use all those color names, how do I refer to them from within my code?
How do I style a component using that scheme, a component w

[2019-08-19 06:41] tharunhpe commented on #3254
@ShimiSun
![grommetSelectIssue](https://user-images.githubusercontent.com/24956142/63244134-373c2d00-c27a-11e9-814d-a485f8cc340a.JPG)

Have updated the codesandbox, Look in the image for the issue.

USE CASE: Unable to write automation tests using ids to select an item from drop down.

[2019-08-19 13:16] jim-king-2000 commented on #3136
Hi ShimiSun, I'm not so familiar with the code of Grommet. If I were to prepare the code, the time of finishing it would be several months. Do you mind that it would be to long?

[2019-08-19 15:22] oorestisime commented on #2938
have you had a look at the grommet code? it makes use of the theme and you could get inspired by it.
Here's an example https://github.com/grommet/grommet/blob/master/src/js/components/Anchor/StyledAnchor.js#L27 you can see the styled component gets the theme in it automatically (props.theme)
let me know if that helps.

[2019-08-19 15:59] ShimiSun commented on #2938
regarding using the theme values (such as colors), you can see how it works with every template/code that uses a custom theme, check out my recent post on the #i-made-this channel.

[2019-08-19 16:03] ShimiSun commented on #3136
@jim-king-2000 Hi buddy, that will be great, please take a try at it and reach out to us on slack if you need any help, we appreciate your contribution effort 💟

[2019-08-19 16:47] atanasster opened #3278 "ts: Theme interface definition"
1. Please extract the theme interface from
https://github.com/grommet/grommet/blob/c7eef0ff87f6579bd16c81e5b8c8c6ef17214e3c/src/js/themes/index.d.ts#L71

into an export interface ThemeType { ... }

2. Please use the theme type in `<Grommet />` component:
https://github.com/grommet/grommet/blob/c7eef0ff87f6579bd16c81e5b8c8c6ef17214e3c/src/js/components/Grommet/index.d.ts#L7

3. To avoid hack code i

[2019-08-19 21:43] ShimiSun commented on #3254
@tharunhpe can you send the codesanbox link? After you apply changes to it, it forks to a new instance with a new link.

[2019-08-19 23:04] ericsoderberghp commented on #2877
For a general overlay, you could use Stack with `interactiveChild` to control where the interaction happens. But, you'd still need a way to position a drop/layer as requested. For the scenario mentioned, I'm not sure how the blue box on the left would be positioned, as that appears to be above the overlay, presumably positioned directly over the event on the calendar grid underneath. That's a bit

[2019-08-20 07:02] imad93 opened #3281 "Table cells' borders are broken when setting a size for the cell"
If a size is not set to TableCell inside a Table, the cell will grow horizontally so that all the content inside of it fit. This being said, all cells will have the same width.
Now when we fix all the cells' size, for example to small, and when a cell contains a long text, it will grow vertically so that the content fit. When this happens, other cells from the same row will add padding to the top

[2019-08-20 08:17] imad93 commented on #3281
The explanation of this is simple. TableCell calls StyledTableCell. Which is a styled **td**. It passes to the **td** the following props:
`props.size`,
`props.verticalAlign`, and
`props.tableContextTheme.extend`

All other props are being passed to the Box inside the TableCell.

A fix for this is to **NOT** set borders for TableCells, but instead, create a theme.table.body.extend, in which CSS is

[2019-08-20 13:21] juanlanus commented on #2938
@orestis: Thanks for the link to the Grommet code, I will study it
carefully and it might solve my issue.
Please be aware that I appreciate Grommet very much, that's why I insist on
these issues in an attempt to provide material to enhance the docs at the
noobie level.
Usually the application code is way too smart for normal users, who are
taming JS, React, Grommet, their domain and whatever all a

[2019-08-20 13:33] juanlanus commented on #2938
@shimi: I kept thinking of the theme designer in background as a usability
guy, and realized that it's usefulness is hindered by the fact that the
theme is applied to an alien design.
It would be waaay more useful if the styles form (the left hand side of the
page) was applied to a page designed by the user, as if the theme-designer
was a HOC engulfing the designer's components.
This is so because

[2019-08-20 13:47] jim-king-2000 commented on #3136
Sure. I'll get you posted when there's any progress.

[2019-08-20 13:48] ericsoderberghp commented on #2938
In case you weren't aware, you can publish themes created by the theme designer and then plug the published URL into any design created with designer.grommet.io and the design will use that theme. That allows you try the theme across a variety of designs.

[2019-08-20 14:39] juanlanus commented on #2938
@eric: I am aware, thanks.
What I was suggesting is to build a better tool (someday) allowing the
designer to change the theme and see the effect of the changes on her own
pages, on the fly, in real time.
This would enhance the value of the theme-designer and perhaps Grommet's.
At least, is one of those features that people like to "purchase".

On Tue, Aug 20, 2019 at 10:48 AM Eric Soderberg <noti

[2019-08-20 14:41] ericsoderberghp commented on #2938
Great feedback, thanks.

[2019-08-20 20:50] atanasster opened #3284 "ts: Calendar firstDayOfWeek wrong type"
Calendar.firstDayOfWeek is declared as a number type (0 or 1) in the doc file for react-desc:
https://github.com/grommet/grommet/blob/2212141e30b0cb262484e07999c705b01f035af1/src/js/components/Calendar/doc.js#L47

while it is declared a string in the typescript interface:
https://github.com/grommet/grommet/blob/2212141e30b0cb262484e07999c705b01f035af1/src/js/components/Calendar/index.d.ts#L15

the

[2019-08-21 00:40] atanasster opened #3287 "Button - hoverIndicator issue"
`Button.hoverIndicator` property is used for call to backgroundStyle utility function.
https://github.com/grommet/grommet/blob/2212141e30b0cb262484e07999c705b01f035af1/src/js/components/Button/StyledButton.js#L57

However, the hoverIndicator property does not allow to use a full background object ie:
[code]

The issue is both with react-desc .doc files and typescript .d.ts files, for my use case,

[2019-08-21 04:34] #3174 closed

[2019-08-21 05:03] ShimiSun commented on #3005
RadioButton has `checked` you can use.
But why would you use the `extend` when you explicitly style the `check` prop from the theme? see the example on https://storybook.grommet.io/?path=/story/radiobutton--custom-theme
[code]

[2019-08-21 05:18] ShimiSun commented on #3261
I'll be closing this issue if there is no further information to help us reproduce the issue reliably.

[2019-08-21 05:18] #3261 closed

[2019-08-21 07:03] LucaBlackDragon opened #3289 "Documentation page (https://v2.grommet.io/docs) empty/broken"
### Expected Behavior

The documentation page sections ("grommet principles", "best practices", etc.) should contain useful information (or if they are intended to be links, they should bring the user to useful resources)

### Actual Behavior

The documentation page sections are empty:

![image](https://user-images.githubusercontent.com/3714010/63409722-05e66d00-c3f2-11e9-9dd7-0c3eae48cde1.png)

#

[2019-08-21 07:25] oorestisime commented on #3289
Hi thanks for finding out, this is a WIP and something new we are adding to the site so not usable for right now!

[2019-08-21 08:09] #3145 closed

[2019-08-21 15:53] ShimiSun commented on #3289
I was wondering how quickly someone notices that ❤️  thanks for raising it up... It's a WIP like @oorestisime mentioned, will keep you posted

[2019-08-21 20:18] #3253 closed

[2019-08-21 20:18] #3284 closed

[2019-08-21 20:19] ShimiSun opened #3290 ".eslintrc adding rule to wrap comment lines"
True. I've tested it locally and only the lines of code are being wrapped above 80 characters. and not comments.
I fixed to comment positioning of this PR and it is good to go.
@shabtaisharon feel free to file a PR with your suggested fix, adding this rule might be a good addition to grommet, thanks for your inputs!

https://github.com/grommet/grommet/pull/3288

_Originally posted by @ShimiSun in

[2019-08-21 20:37] myktra commented on #3253
Yay, thank you @ShimiSun et al!!!

🙌

[2019-08-21 20:50] ShimiSun commented on #3253
Thanks for reporting buddy, thank you to @shabtaisharon for fixing it 🎉

[2019-08-21 20:56] ShimiSun commented on #3290
side comment: this change will cause many changes to the repo.

[2019-08-21 22:46] oorestisime commented on #3249
Closing this! feel free to reopen if you manage to reproduce. Don't hesitate to ping us on slack either if you want us to take a closer look at a repo you have!

[2019-08-21 22:46] #3249 closed

[2019-08-21 22:50] oorestisime commented on #3222
@Jakobo are you willing to propose a PR for this ?

[2019-08-21 22:57] oorestisime commented on #3049
Closing this since seems to resolved. don't hesitate to open again to restart the discussion :)

[2019-08-21 22:57] #3049 closed

[2019-08-22 15:20] atanasster opened #3292 "ts: export actual prop types (and TableCell issue)"
The full component props need to be exported from the .ts files.
example for the export:
https://github.com/grommet/grommet/blob/e23667c953bc871b18ef9689f73609e47d283fdf/src/js/components/Box/index.d.ts#L39
the JSX.IntrinsicElements['div'] part is not exported, while any component that would like to use BoxProps will need to eventually duplicate those div props
so I would suggest
[code]

example f

[2019-08-22 15:54] Jakobo commented on #3222
Sure. I'll give it a shot. I think @ericsoderberghp's `true|false` solution will work. Just going to enumerate todos here before I open a WIP PR.

[ ] Paragraph `true|false`
[ ] Update docs (new prop)
[ ] Storybook story

(Missing anything?)

[2019-08-22 15:56] ShimiSun commented on #3222
Looks great, thanks buddy! @Jakobo
I also think this will require updating Paragraph/index.d.ts to support typescript

[2019-08-22 16:05] taysea commented on #3225
Hi Shimi, I investigated these notes and these are my replies based on what typical HTML behavior is:
- Tabbing should not automatically open Menu or Select drops. However, there should be different behaviors for opening Select and Menu.
- [x] Select: Pressing space or up/down arrow keys should open it. (Grommet does this)
- [ ]  Menu: Pressing enter should open it. (Grommet does not do this. Curr

[2019-08-22 16:17] ericsoderberghp commented on #3225
This is fantastic!!! We should add this into the code comments somewhere. It should be persisted so we can refer to it readily.

[2019-08-23 10:50] DaksGreen opened #3295 "Edge RangeSelector issue"
Smth wrong with positioning in Edge

![msedge-rangeselector-bug](https://user-images.githubusercontent.com/25715095/63585218-4b986680-c5a7-11e9-8a50-f92fea76f171.gif)

[2019-08-23 18:36] dmitrij-borchuk commented on #3209
@ShimiSun I have tried to make this fix, but looks like it pretty hard to do it with backward compatibility and without adding new component properties. So I gave up =( sorry

[2019-08-23 23:25] ShimiSun commented on #3225
I agree!! Thank you for being so thorough on the investigation and presenting the outputs, as you make progress with this issue, feel free to embed comments regarding the accessibility considerations on the grommet code as @ericsoderberghp, GREAT work 💟

Regarding the issues you presented:

I'm suspecting, that in our use case it is true to say we are using Menu as a `Select Menu` rather than `Men

[2019-08-23 23:49] ShimiSun commented on #3295
I've opened the same [story](https://storybook.grommet.io/?path=/story/rangeselector--thin) on my MacOs and tested on both Chrome and Firefox browsers, and it is working fine for me. @oorestisime, @britt6612 or @taysea, can you see what is the behavior on your end?

Side note, in case we do see an issue on grommet side, it might be worth taking a look at this commit https://github.com/grommet/grom

[2019-08-24 09:04] oorestisime commented on #3295
Working good for me but i don't have Edge to test this out :/

[2019-08-25 02:17] atanasster commented on #576
here is what I am using:
[code]

[2019-08-25 05:42] markjackson02 commented on #2973
Hi @ShimiSun I noticed the "in progress" tag. Is the team moving forward with a specific solution to this? If so I am interested to know what it is!

[2019-08-26 07:28] iMerica opened #3297 "Proposal: Rename the Anchor component to Link."
This is a follow up ticket based on a discussion that occurred on the Grommet Slack.

The long story short is that Grommet would be greatly improved by joining lots of popular tools in the React ecosystem that call their `link` component some variation of `<Link/>` instead of `<Anchor/>`.

Yes, we know that `<a>` means anchor element, but it's not intuitive in the context of a React application. I

[2019-08-26 07:32] iMerica commented on #3297
In the meantime, it would be good to alias it in the docs. So that searching "Link" does not result in dead-end.

[2019-08-26 10:21] ignatvilesov commented on #3295
@ShimiSun @oorestisime This issue is reproducible in Microsoft Edge only

[2019-08-27 07:01] #3222 closed

[2019-08-27 20:59] YuriyKovalcuk opened #3302 "[DataTable]"
Currently, such DataTable property as groupBy isn`t controlled from outside. We can just put this property, and the component will group rows which have the same property value pointed in groupBy value.
### Expected Behavior
Let's say, the user wants to point exact rows which should be initially expanded and collapsed to easily work with the application.
![image](https://user-images.githubusercont

[2019-08-27 21:57] bemineni opened #3303 "Over lapping TextInput in a flex Box"
TextInput height seems to be not considered by the outer flex container. This is resulting in an overlapping Text input. Providing gap to the box is a hack fix.

### Expected Behavior

TextInput should not overlap

### Actual Behavior

Overlapping text inputs

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/embed/understanding-v2-colors-v385u

A codepen HTML implementa

[2019-08-28 15:07] #3303 closed, assigned to nobody

[2019-08-28 16:51] juanlanus opened #3306 "RadioButtonGroup: missing property in docs"
A needed property is not listed in the control docs

Go https://v2.grommet.io/radiobuttongroup#options
The object example is:
[code]
This renders the buttons without name.
It should have `"label": "one"` too.
Or maybe the `name` property could be used as a default for `label`.

Running this code in the docs page demonstrate the issue:
[code]

### URL, screen shot, or Codepen exhibiting the issue

[2019-08-28 21:30] britt6612 commented on #3287
Hi @atanasster I started looking into this hoverIndicator issue you filed. I have a clarifying question to make sure I understand your ask/suggestion. I have created a quick CodeSandbox (https://codesandbox.io/s/elated-waterfall-1719l) which demos passing in the same object to both Button's hoverIndicator and Box's background, which both render the intended styling. Can you help me understand what

[2019-08-28 22:42] oorestisime commented on #3306
I think this was closed by mistake?

[2019-08-28 22:42] oorestisime commented on #3306
oh lol sorry. pr merged

[2019-08-28 22:42] #3306 closed

[2019-08-28 22:46] atanasster commented on #3287
Hi @britt6612 thank you for taking care of this.
You are correct  - both hoverIndicator and background should have the same property types since they do work the same under the hood.
The issue is reported about the .doc file and the typescript type file. So the fix is to update the doc and .d.ts files, possibly extract the BackgroundType type so it doesn't have to be duplicated.

Hope it makes bet

[2019-08-29 06:28] jim-king-2000 commented on #3136
Hi @ShimiSun , how to test the change?

[2019-08-29 12:44] ShimiSun commented on #3136
Create a storybook example and call it maxHeight. In the content of the story put a simple but clear example of how to use the new prop.
Also, there is the test file, make sure that the new prop is being tested.

[2019-08-29 13:41] jim-king-2000 commented on #3136
Thanks. I'll try it ASAP.

[2019-08-29 18:02] ShimiSun commented on #2387
Next release will include animation out 🚀

[2019-08-29 18:02] #2387 closed

[2019-08-30 03:59] jim-king-2000 commented on #3136
I see the empty storybook after running "npm i&&npm run storybook". Is there any doc that guide me to the test? By the way, I'm using Windows 10.

[2019-08-30 04:19] ShimiSun commented on #3136
I'll use `yarn storybook` to verify the new story. And use `yarn test update` to create new snapshots for the added feature. I'll also make sure that the new created snapshots are all new code and are backward compatible (i.e not overriding previous snapshot code). Hope it makes sense.

[2019-08-30 05:01] jim-king-2000 commented on #3136
Great! "yarn test update", that is the thing interested.

[2019-08-30 06:56] iMerica opened #3312 "[Task] Fix warnings that appear while running tests."

[2019-08-30 06:58] oorestisime commented on #3312
Most of the warnings that appear are legit (i think). we are testing that we do console.warn for some deprecation warning we issue.

[2019-08-30 09:04] jim-king-2000 commented on #3136
Hi @ShimiSun , the PR is sent. Let me know if there is any additional work.

[2019-08-30 12:30] ShimiSun commented on #3312
@oorestisime actually, in the last few days we started seeing really bad warning on the tests. Not just console warnings, red messages.
I need to check if Eric's recent PR is fixing it.

[2019-08-30 13:11] ShimiSun commented on #3312
This beauty is fixing the warning https://github.com/grommet/grommet/pull/3311, I'm reviewing it now

[2019-08-30 16:58] ShimiSun commented on #3289
https://github.com/grommet/grommet-site/pull/115

[2019-08-30 16:58] #3289 closed

[2019-08-30 17:09] ShimiSun commented on #2802
I think all global props should be documented as part of the common global props.
My inclination is to allow `calendar.heading` on the theme, so the component could relly on it's own styling and won't need to rely on the behavior of the heading component itself.
this approach will remove the drilling down to the "side-effect" documentation as @oorestisime described it.
@britt6612, will you like to

[2019-08-30 17:41] Chinow opened #3315 "TypeScript: DropButton component's dropProps property required a target"
The `DropButton` component exposes the `dropProps` property to allow users to set the properties of the `Drop` the components uses.
However the typscript definition of this `dropProps` property reuses the `DropProps` type making `target` a mandatory value.

Setting that value overrides the `DropButton` target and breaks the component.

### Actual Behavior

The `dropProps` is raising an error when

[2019-08-30 18:11] britt6612 commented on #3315
@Chinow Thank you for reporting this issue I will take a look! 👍

[2019-08-30 19:19] Chinow commented on #3315
It seems that I failed at researching for fixed issues on that one.
It has been fixed a few month ago, we just need to update grommet on our side:
https://github.com/grommet/grommet/commit/5950ebb0d990b0b5d97001e8021fdbd0689c9c95

Sorry for that.

[2019-08-30 19:19] #3315 closed

[2019-08-30 19:59] oorestisime commented on #2708
with this https://github.com/grommet/grommet/pull/3310 in should we close this @ericsoderberghp ?

[2019-09-01 14:58] markjackson02 commented on #3248
Yeah I am using react-select to accomplish this currently. This would be a welcome addition.

[2019-09-01 16:14] markjackson02 commented on #3173
I am using `event.option` instead of `event.target.value`.

[2019-09-03 02:42] faizrktm opened #3318 "Cannot read property 'style' of null on Layer"
error happen when closing Layer, and i assumedly caused by usage Layer with styled-components this way:
`const StyledLayer = styled(Layer)`

### Expected Behavior
Layer closed successfully with animation.
### Actual Behavior
Layer not closed with animation, instead show this error
[code]

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/eloquent-mcnulty-8cd76

<img w

[2019-09-03 02:46] faizrktm commented on #3318
if i disable the animation `animate={false}`, error not occured..

[2019-09-03 15:57] #3318 closed

[2019-09-03 15:58] ShimiSun commented on #3318
Thank you for reporting buddy!

[2019-09-03 16:28] #3136 closed

[2019-09-03 18:02] #3287 closed

[2019-09-03 19:26] #3312 closed

[2019-09-03 19:27] iMerica commented on #3312
👍

[2019-09-03 22:52] #3109 closed

[2019-09-04 11:37] oorestisime commented on #3271
hi thanks for all these ideas! A few comments

- I think we need an 2.99 version with monorepo and new Storybook. This should lay the way for the the 3.0 version while providing some extra safety measures to avoid breaking changes and bugs (with the visual testing and maybe the jest snapshotying of stories).
- Some of the 3.0 goals you mention should be unrelated to grommet components such as upda

[2019-09-04 12:30] atanasster commented on #3271
Greta, thanks a lot for the conversation. We are pretty much in agreement, so maybe we can start keeping this document somewhere to be easily updated.

Sounds good, I have been working with storybooks and can help out a bit.
Monorepo - It has been a common issue with grommet that most of the additional tools/libararies are just dropped after a few months of development, nd this can be an issue if

[2019-09-04 12:46] oorestisime commented on #3271
*monorepo*
I would like to have us publish the patterns in Netlify in each PR and merge into master as another mean for testing. In addition we could have examples folder that builds sites with different build techniques such as rollup, gatsby, next etc. This should keep us ahead of bugs

*snapshots*
There are not automated snapshots, one needs to add them in the tests suite and test something spe

[2019-09-04 12:59] atanasster commented on #3271
*snapshots*
I mean `jest --updateSnapshot`- when those generate large amounts of data to compare and are so noisy and/or incomprehensible that they are useless.

* An example that can be explained easy:
The snapshot for grommet-icons (which should be in the monorepo together with icons-site). The snapshots are just the svgs data, so no human can actually understand if they are correct or not corre

[2019-09-04 14:35] ShimiSun commented on #3290
➜  release git:(master) ✗ yarn run lint
yarn run v1.17.3
$ eslint src

/Users/shimi/github/release/src/js/components/Accordion/Accordion.js
  91:1  error  This line has a length of 87. Maximum allowed is 80  max-len

/Users/shimi/github/release/src/js/components/Accordion/doc.js
  25:1  error  This line has a length of 107. Maximum allowed is 80  max-len
  26:1  error  This line has a length of 92

[2019-09-04 14:36] ShimiSun commented on #3290
I'm inclining to use a warning instead of an error. thoughts?

[2019-09-04 15:15] #3123 closed

[2019-09-04 15:16] ShimiSun commented on #3123
Available on release ^2.7.6

[2019-09-04 15:54] ericsoderberghp commented on #3290
For changes like this, I've found it can be easier to manage by changing the code itself in smaller batches and then updating the eslint config at the end.

[2019-09-04 16:24] ShimiSun commented on #3281
Thanks for reporting buddy, the issue is fixed!

[2019-09-04 16:24] #3281 closed

[2019-09-04 16:25] #2630 closed

[2019-09-04 16:48] britt6612 commented on #3165
## Listing all of the components in which we need to improve event handler typing's

**AccordionProps**
- onActive [ ]

**AnchorProps**
- onClick [ ]

**Button**
- onClick [ ]

**Calendar**
- onSelect [ ]
- onReference [ ]

**ChartProps**
- onClick [ ]
- onHover [ ]

**CheckBoxProps**
- onChange [ ]

**ClockProps**
- onChange [ ]

**DataTableProps**
- onMore [ ]
- onSearch [ ]

**DistributionProps

[2019-09-04 16:53] ShimiSun commented on #3237
@britt6612 / @atanasster any other types that needs to be extracted?

[2019-09-04 17:08] britt6612 commented on #3237
@ShimiSun there will be more especially once we start handling all of the event handlers for issue #3165

[2019-09-04 19:55] #3302 closed

[2019-09-05 13:05] robinandeer opened #3326 "Table caption always hidden?"
### Expected Behavior

When I provide a caption to the `Table` component, it shows up in the DOM.

### Actual Behavior

The Table caption is always hidden.
See here: https://github.com/grommet/grommet/blob/master/src/js/components/Table/StyledTable.js#L57

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-kw9xt?fontsize=14

### Steps to Reproduce

[2019-09-05 15:33] ShimiSun commented on #3326
YEa, I agree it doesn't look right. looks like you already found the root cause of a problem, feel like contributing a PR?

[2019-09-06 08:17] robinandeer commented on #3326
Sure I can try to do that 🙂

[2019-09-06 15:08] talarico43 commented on #3271
just want to add a +1 for focus on enterprise. my team is currently building an enterprise application using grommet. the goals outlined in v5 above line up really well with how we have been using grommet thus far.

[2019-09-06 17:06] atanasster commented on #3271
Thanks @talarico43 great to hear you like the enterprise direction

[2019-09-07 05:35] nomadus commented on #3271
Regarding the point which mentions grommet-extras package. I don't mind separating some components to a new package, with v1 you already had such a setup. What bothers me is an idea to search for alternatives. Having an enterprise background I could tell that I would prefer stable components even with fewer features from a single vendor. This makes life a lot easier.

My 2 cents on the overall app

[2019-09-07 06:05] atanasster commented on #3271
@nomadus , i wholeheartedly agree that the components that you would use should come into one single-vendor package.
In the case of grommet, all base enterprise type components like cards, editing controls (numberinputs, passwordinputs etc), authentication forms, progress indicators, spinners etc should come into the main package with all the associated documentation, support and constant enhancem

[2019-09-07 14:29] markjackson02 commented on #2973
@ShimiSun @JetLim any updates on this?

[2019-09-09 15:26] juanlanus opened #3330 "v2 Improve Button docs for hoverIndicator"
The `Button`'s `hoverIndicator` prop does not work as the docs say.

### Expected Behavior
Something like:
`{
  dark: {
    color: 'dark-2',
    opacity: '1',
  },
  light: {
    color: 'light-2',
    opacity: '1',
  },
`

### Actual Behavior

`true
false
"string"
"background"
{
background:
"boolean"
"string"
}`
### URL, screen shot, or Codepen exhibiting the issue

No need, specifying `hoverindic

[2019-09-09 15:55] juanlanus commented on #3330
Additionally, in https://raw.githubusercontent.com/grommet/grommet/master/src/js/themes/base.js
global.hover says:
`      hover: {
        background: {
          color: 'active',
          opacity: 'medium',
        },
        color: {
          dark: 'white',
          light: 'black',
        },
      },`
Where the background is called background and color is for the strokes as it should.
IMO us

[2019-09-11 15:12] ShimiSun commented on #2973
Yes, we will be discussing the designs today, hopefully we'll have something to share soon. @MikeWalrath @L0ZZI FYI

[2019-09-11 15:14] JetLim commented on #2973
Yes, we have something that is in the works. @ericsoderberghp @ShimiSun @markjackson02

@MikeWalrath @L0ZZI

[2019-09-11 16:17] #3202 closed

[2019-09-12 15:40] ericsoderberghp opened #3340 "Boxy Buttons"
### Expected Behavior

It should be easier to create Buttons with padding and rounding.

[code]

[code]

### Actual Behavior

When creating rounded icon Buttons or tile Buttons you have to wrap the Button in a Box that applies the rounding and sets `overflow="hidden"` to prevent the Button hoverIndicator from being square.

[code]

Also, when using Button in a sidebar menu, the Button needs to con

[2019-09-12 18:08] andresromerodev opened #3341 "Cannot change selected option background color from Select component"
Hello, I am trying to change the background color of the selected option for my Grommet Select components, after trying several things modifying the global theme, a the select component properties: select.option.background I haven't been able to get it done and could not find any documentation on Grommet's site. Could someone tell me if this currently possible? I also tried to modify the generated

[2019-09-12 19:13] #3341 closed, assigned to nobody

[2019-09-13 04:17] ShimiSun opened #3344 "Filtering of MaskedInput options isn't showing the options Drop for its last valuePart"
I'm moving a slack conversation here so we can discuss and track the concern.
https://grommet.slack.com/archives/C04LMHN59/p1568316856194000

The juice of the problem:

I’m trying to add a “suggestion” for MaskedInput component,
the filter seems to work on the first part of the value but not on the second part...

After diving to the sandbox, the following are my conclusions.
For terminology, let'

[2019-09-13 08:31] ldalves commented on #3344
Hey! Thanks for allocating your time in this case and reporting this issue. I think the `MaskedInput` component works great as it is at the moment and my use case is a bit out of "normal" use. So I believe that using the workaround is enough for the moment. Feel free to close this issue and thanks again!

[2019-09-13 16:25] ShimiSun commented on #3344
I'll keep the issue open for few more days to see if there is any further feedback from the community and maybe other users that have experienced other similar things or use MAskedInput in other creative ways.
Thanks

[2019-09-13 18:10] #3295 closed

[2019-09-13 18:11] ShimiSun commented on #3295
Thanks for reporting buddy, the fix will be available on our next release!

[2019-09-13 18:48] juanlanus commented on #2823
I have this, that might be useful for you:
`  select: {
    background: 'dark-1',
    icons: {
      color: 'rgb(238,238,238)',
      margin: '0px 0px',
      down: <FormDown />,
    },
    control: {
      open: {
        color: 'rgb(238,238,0)'
      }
    },
    options: {
      container: {
        pad: 'xxsmall',
        background: 'dark-1'
      },
      text: {
        margin: 'none',

[2019-09-13 19:08] ShimiSun commented on #2823
Thanks for sharing @juanlanus

[2019-09-13 22:20] ShimiSun commented on #3247
@taysea, we need to understand the rationale behind the current Select behavior and see if we can accommodate the issue's expected behavior without a breaking change.

[2019-09-13 22:32] ShimiSun commented on #3326
Hi buddy, @robinandeer let us know how it goes and if you need any help!

[2019-09-13 22:34] ShimiSun commented on #3212
Some components have stories named `Custom` because they are demonstrating the capabilities of the 'Custom Theme' of the component, and 'Custom' was the shortcut name for the story.
I'm thinking of renaming all the story names of `Custom` to `Theme` or some other short name that implies 'theme' context.
This way the users will be more exposed to the Theme concept and get immediate theme examples p

[2019-09-14 00:03] ericsoderberghp commented on #3212
Excellent notion.

[2019-09-14 00:43] juanlanus commented on #3330
Hi @britt6612 thanks for calling.
My issue (it was not clear enough in my original post) is that following the docs as of that time I was unable to activate the hoverIndicator for any button.
The docs said that the options for the prop were:
`true false "string" "background" { background: "boolean" "string" }`
stacked vertically, not in a single row.
Of course, initially I thought that I was doing

[2019-09-14 00:55] juanlanus commented on #3330
Now I read the docs again. They have changed but there are still issues.
1- "This prop is meant to be used only with plain Buttons." raises a question: non-plain buttons lack the ability to react to hover?
2- The possible values in unclear. What is "string"? "The rain in Spain" is a string, it should work...
3- Similarly, the 4th. option "background" is not explained.

One who is not an insider, a

[2019-09-14 01:32] ShimiSun commented on #2802
I believe this issue can be closed, feel free to reopen if you think it should have more attention.

[2019-09-14 01:32] #2802 closed

[2019-09-14 01:33] juanlanus commented on #3330
Another thing that is not explained is what is the purpose of "dark" and "light".
And why "dark" has "boolean" (meaning what?) and "light" does not; why the difference?

[2019-09-14 05:42] mixdev opened #3347 "How to 'preset' a RangeInput value?"
When using RangeInput control, you can surely set the 'value' to some number and it will display the control according to the value.

But if you hardcode the 'value', the rangeinput control is no longer 'slidable'. Even if this behaviour is desired in some applications, there has to be a way to preset but also be able to change the value sliding.

Check an example: https://codesandbox.io/s/jolly-l

[2019-09-14 14:29] robinandeer commented on #3326
Yeah thanks, didn't have to get to it until now but I've just opened a new PR :-)

[2019-09-16 11:28] oorestisime commented on #3330
Non plain buttons have the hover effects baked in. Think of hoverIndicator as a utility.

It means you can add whatever color you want not in the theme file like black. this is the same with every color prop.

Agreed! It means it will take the background prop of the theme. Care for a small PR to change the wording here?

[2019-09-16 11:30] oorestisime commented on #3330
that's another good suggestions. @britt6612 since you owned these changes you might want to think on how to explain these a bit more ?

[2019-09-16 11:30] oorestisime commented on #3330
that's another good suggestions. @britt6612 since you owned these changes you might want to think on how to explain these a bit more ?

[2019-09-16 11:34] oorestisime commented on #3247
@taysea let me know if you started working on this otherwise i might fix this.

[2019-09-16 14:43] juanlanus commented on #3247
In other tests I found that the onSearch() event calls its function with an undefined instead of an element when the search text is gibberish, and my console shows a stack dump.
Maybe this is a similar case.
Notice I'm not asking for help hare, I already solved it. I'm trying to help to make a bulletproof control.
What I'm trying to communicate is that there might me a missing try/catch somewhere.

[2019-09-16 14:44] taysea commented on #3247
@oorestisime I haven't started working on this yet. If you have a fix, go for it!

[2019-09-16 14:56] juanlanus commented on #3330
@oorestime @britt6612 Tahnks for answering _me_, but keep in mine that my comments on the docs tend to point parts of the text that are not clear for normal users (I mean those who are not immersed in the Grommet culture).
There are things that for insiders are crystal clear but muddy for the rest of the world population.
Like ne myself. I've spent  **_hours_**  trying to style controls.
As the us

[2019-09-16 15:28] ericsoderberghp commented on #3344
One possible solution to this is to specify a `length` for the value element. That will keep the drop open as the user types until the last element's length reaches that length. This works if the values are all the same length but doesn't work if they have variable lengths. I'm still cogitating on the variable length scenario.

[2019-09-16 15:35] britt6612 commented on #3330
@oorestisime I can do a PR which better explains this.

@juanlanus thank you for your feedback I will share your feedback with the team and see how we can leverage your suggestions to help improve our docs!

[2019-09-16 15:55] britt6612 commented on #3347
@mixdev can you double check the code sandbox link ? I get the hello code sandbox when I open it.

[2019-09-16 16:35] murbanowicz commented on #3271
about rewriting in TypeScript - I am here to help .

[2019-09-16 16:54] juanlanus commented on #3330
@britt6612 ... and then contact me again so I can participate more.
I'm thinking of the advantage of defining a set of "common props" (similar to [CSS commom attributes](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Properties_Reference)) to be (better) defined in a doc by itself to be referenced in the individual controls.
This would render a two-fold advantage: allowing to focus more effo

[2019-09-16 17:01] mixdev commented on #3347
Apologies. Fixed it.

[2019-09-16 17:02] RobertGary1 commented on #3271
1) Dialog forms that integrate validation on submission. We had to build our own infrastructure around Grommet forms to manage validation
2) More support for higher level components
3) We really need a charting solution. Building charts from primitive pieces isn't really a good solution. Maybe even a tight integration with some other charting library.
4) Infinite scroll from the middle. Scroll up

[2019-09-16 17:25] juanlanus commented on #3271
**With focus on documentation only:**  (sent to @britt6612 minutes ago)
I'm thinking of the advantage of defining a set of "common props" (similar to CSS commom attributes) to be (better) defined in a doc by itself to be referenced from the individual control docs.
This would render a two-fold advantage: allowing to focus more effort in defining each common prop while shortening the controls' own

[2019-09-16 17:43] ShimiSun commented on #3330
@juanlanus sounds like you already have a good idea of how to articulate the docs unclear area.
and if you don't feel comfortable making a code contribution, could you start with a WIKI page that articulates the gaps of understanding, and we can start/grow from there?

[2019-09-16 17:45] atanasster commented on #3271
Looking at the many great suggestions here, i would like to add an organizational proposal that would prevent the issues re v2

- make a governing body for grommet that explicitly prohibits 2 or more members from the same organization to participate. Obviously i have in mind co-workers from HPE ganging up together to cover up any project failures or mishaps with career advancement in mind. Nothing

[2019-09-16 17:46] juanlanus commented on #3271
**Grid integration:**
Two or 3 years ago I worked for a huge NY bank in a team chartered with the integration of a data grid to the tooling.
The chosen one was [SlickGrid](http://slickgrid.net/).
What I want to say is that it was an 8 people team work for several months. That is, do not underestimate the effort to bring such controls in.
On the other hand, for enterprise applications, it'a a must

[2019-09-16 17:50] atanasster commented on #3271
@juanlanus i already added grommet support for the devexpress react grid control and am not underestimating such task - took me about 2-3 weeks, mostly because grommet table components are not really extensible in that sense. If they are, it would take maybe a week, and another week to write an article/docs

http://grommet-nextjs.herokuapp.com/templates/dx-grid
https://github.com/atanasster/dx-rea

[2019-09-16 17:52] juanlanus commented on #3271
**DraftJS**:
Onboarding this WYSIWYG text editor fy facebook could be useful.
It seems that it's quickly becoming the defacto standard.

[2019-09-16 18:05] juanlanus commented on #3271
**RTL:**
Multinational enterprises will require Grommet to be committed to RTL text.

[2019-09-16 18:31] juanlanus commented on #3330
@ShimiSun would like so much to do so, only it will be a huge distraction from my work.
I tend to be passionate for these issues (usability, user onboarding, reducing support questions).
But I have to complete the development of my web site before I die (it's taking so much time!)  :-)
Additionally, I loathe markdown so a wiki would be an additional pain point.
I also looked at the Grommet docs so

[2019-09-16 19:55] britt6612 commented on #3347
No problem I will take a look now!

[2019-09-16 20:03] ANDRESROMEROH opened #3352 "Cannot use 2 RadioButtonGroups, because the event triggered will always affect the first one."
I am working on a web form that has several questions, each of the questions have their own answers (RadioButtonGroup), whenever I create more than 2 Question components (Wraper that contains the question label, the RadioButtonGroup and others) if I hit any of the answers of any of the questions it will always perform the changes on the first Question component even when they were define as indivi

[2019-09-16 20:06] perich commented on #2641
Hi! is `emotion` support currently on the development roadmap or still in the planning phase currently? Would love to see it supported in Grommet

[2019-09-16 22:52] brodybits opened #3353 "Use JSDoc instead of TypeScript for strong typing"
In short, I think this could help avoid adding another barrier of entry for external contributors and some other disadvantages discussed in: https://medium.com/javascript-scene/the-typescript-tax-132ff4cb175b

Here is some documentation of using JSDoc comments to add the strong typing to the existing JavaScript, as documented in the following resources:

* https://medium.com/@trukrs/type-safe-java

[2019-09-16 22:56] brodybits commented on #3271
-100 for a switch to TypeScript

I think the TypeScript language has additional complexity which offers little if any additional benefits for end users of web applications. It would introduce an additional barrier of entry for new contributions that I think is not really needed or wanted. I think it would be much better to use JSDoc comments to add static type checking to the existing JavaScript,

[2019-09-16 23:26] taysea commented on #3352
Hey! Following up on this with you because I'm not sure if you saw my reply on grommet Slack. It seems like you can fix this issue if you provide _both_ a label and value to options. Checkout the edits here to the sandbox you had shared on Slack, and let me know if that solves your issue. https://codesandbox.io/s/radiobuttonform-gsc5z

[2019-09-16 23:31] ANDRESROMEROH commented on #3352
It worked great, thank you, closing this issue now.

[2019-09-16 23:35] #3352 closed

[2019-09-17 00:57] britt6612 commented on #3347
Hey there @mixdev ! So it seems that the issue here is that after you initially define your value, you are not providing a way for that value to be updated. Because of this, when you’re dragging the range selector, nothing is moving because your code is saying “always stay at the initial value”.

If you want to have a preset value and allow the slider to move afterwards, you’ll want to use React’s

[2019-09-17 03:40] atanasster commented on #3271
@brodybits - while i disagree with your take, typescript is a decision that was already made 1+ years ago when v2 of grommet shipped the .d.ts typings. The problem is that it was amateurishly designed and wrongly implemented at the time, but has to be maintained today and in the future

- the initial .d.ts typings were generated by react-desc out of prop-types type of typings. Its an impossible ta

[2019-09-17 04:57] kkgowtamasa opened #3354 "Expected components from Grommet."
**- Layout Management:** We would like to see more hybrid methods in layout management. It helps most of the enterprise applications to build in an organized way. (e.g. Divide the page into two segments - LHS: List all the resources using data table/grid system with pagination and upon selecting a particular resource paint the details view)

**- Grommet-native -** to build mobile applications.

**

[2019-09-17 06:37] Santiago8888 commented on #1430
In my case, it wasn't. 🤕

[2019-09-17 09:47] ignatvilesov commented on #3295
Thank you for the fix @ShimiSun Much appreciated

[2019-09-17 09:52] ignatvilesov commented on #3295
@ShimiSun Is there any ETA when this fix is going to be released?
That's just for our reference to revisit our bug and update Grommet in our app as well.

[2019-09-17 16:22] ShimiSun commented on #3354
linking to #3271

[2019-09-17 22:21] ShimiSun commented on #3353
Thank you for sharing buddy!! 🚀

[2019-09-18 02:45] ggill-tt commented on #3111
Is there any estimated delivery time for 1st version of this ?

[2019-09-18 08:52] sofiageo commented on #3271
I have not much to add other than Typescript is great. I don't think it adds burden to developers,  I've been using it less than a week and it was really straight forward for someone that already knows some JS.

One other thing that comes to mind is maybe rewrite or, start writing components as functional components. I believe this is the way react team is adding new components to their project, a

[2019-09-18 10:46] cscognamiglio opened #3356 "Form onChange returns two objects instead of only value"
### Expected Behavior
[code]

onChange should log the content of value, that is the changed form values object.

### Actual Behavior

onChange seems to be called twice, first time with an event object and second time with the actual value object.

### URL, screen shot, or Codepen exhibiting the issue
![Screenshot 2019-09-18 at 12 31 44](https://user-images.githubusercontent.com/11227537/65141289-9

[2019-09-18 12:37] juanlanus commented on #3119
Should also work for TextArea and Select.
I'd like to be able to use this feature ASAP, as all alternative focus control methods are a hurdle.
IMO this is more a bug than an enhancement, because it's about restoring a feature that was present in HTML and React since ever.

[2019-09-18 15:53] trouba opened #3357 "Select component accessibility"
Hello,

I'm trying to use the a11yTitle props on the select component. I thought it would change the aria-label on the <button> parent element but it stays 'Open Drop'.

Example on the grommet site:
https://v2.grommet.io/select?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAbwChFEIEBnKRAbQDd1cR8AaRO-KAGrtOAXUQBeRACV86aADoQfAMpR0UIgHJM+ACYwQmTcQDcVRACd+IC0kLnqAHmX4C0B9UToAjN4CeACowUATiAERg+ADuiBqoUGEe1HDY

[2019-09-18 17:08] britt6612 commented on #3330
@juanlanus I just got done with a wiki page that explains the color properties as well as some of the themes that include colors. I would really appreciate your feedback on this.
https://github.com/grommet/grommet/wiki/Color-Properties

[2019-09-18 17:10] britt6612 commented on #2938
@juanlanus This is related to issue #3330 please feel free again to read the wiki page and let me know what else we can improve on!  👍

https://github.com/grommet/grommet/wiki/Color-Properties

[2019-09-18 19:59] juanlanus commented on #3330
@britt6612 Good! I like your copy.
I've read it quickly and it's really good.
I'd like to review it in detail and suggest enhancements, details, that I'll need to check with Those Who Know.
As quick examples (that I remember now) it starts saying that the theme is a choice of colors, I'd say colors, measures, ... (things like the debounce timeout and the like).
I can read it wearing the hat of a c

[2019-09-18 20:31] britt6612 commented on #3330
@juanlanus Thank you feel free to reach out once you have read it in more detail for the feedback. I like the adding measures and other things so new users do not think theme is just all about colors.

Im not sure if you are able to see the page source I can check with @ShimiSun and get back to you!

[2019-09-18 20:49] ShimiSun commented on #3330
Not sure everyone has permissions to get to the source file, do you see an edit button? you can drop your comments here if it doesn't let you edit the page.

[2019-09-18 21:53] juanlanus commented on #3330
No "edit" button, which is consistent with the fat that I'm not a committer or anything.
What I'd like is to clone the wiki in my PC, edit here in Buenos Aires, and and send sort of PR's.

[2019-09-18 23:47] RobertGary1 opened #3359 "Grommet 2.7.8 Layer crashes"
In Grommet 2.7.4 this works correctly. If I change to 2.7.8 I get an error whenever Layer is used...
Uncaught TypeError: Cannot read property 'style' of null
    at Layer.componentWillUnmount (Layer.js:74)
    at Layer.componentWillUnmount (react-hot-loader.development.js:698)
    at callComponentWillUnmountWithTimer (react-dom.development.js:17123)
    at HTMLUnknownElement.callCallback (react-do

[2019-09-19 00:32] RobertGary1 commented on #3359
PR 3307 introduced this. It assumes it can find an element by a query and then deference it.

[2019-09-19 04:55] shabtaisharon commented on #3203
I was thinking of trying to tackle this issue by enhancing the border prop to also accept an array of "border styling".
The current border styling:
[code]
Will be enhanced with the additional support of:
[code]
for backward compatibility you can still use:
`<Box border={{color: "white", side: "vertical"}}>`

and for the custom option you can use:
`<Box border={[{color: "white", side: "top"}, {colo

[2019-09-19 12:38] ericsoderberghp commented on #3203
That's how I'd do it. Sounds good to me.

[2019-09-19 12:40] saidelmark opened #3360 "Bug in `step` parameter of <RangeSelector />"
### Expected Behavior
`<RangeSelector />` with a given `step` parameter should select only select `n`*`step` values

### Actual Behavior
If `step` equals `2`, then everything works as expected.
Otherwise I can select `5` when `step` is `3` and available range is `[0, 100]`. But if I change the selection using arrow keys, then every keystroke increases/decreases selected value by the exact value of

[2019-09-19 15:48] juanlanus opened #3361 "Proposal for docs organization"
This is a very general proposal for Grommet docs approach:

### Docs Scaffolding
A proposal on how to structure the Grommet docs.

Docs aim at serving the following audiences:
- Evaluators
These are people, not necessarily technical, who seek general information on Grommet maybe because they are evaluating adoption, or because they are writing an article to be published ("The World 2 top React UI

[2019-09-19 20:55] taysea commented on #3357
Thanks for raising this issue. I've started looking into it. I was able to see what you mentioned about the id for Select and the 'Open Drop' label. For me though, when I follow my voice over instructions, it is able to access the content of the pseudo options. However, to do this, I was not using the arrow keys but rather following the key commands it provided me.

You've raised a good point abou

[2019-09-20 00:31] brodybits commented on #3354
For "Grommet-native" I already started this kind of work in DRAFT PR #3029. It should be theoretically straightforward to support some more basic components using react-primitives. It took me quite a while to make some workarounds needed for React Native.

[2019-09-20 00:35] brodybits commented on #3353
Thanks @ShimiSun for all of your words of encouragement.

I guess my comments in #3271 were too controversial. My opinion remains the same, will do my best to work with whatever decision is taken in the end.

[2019-09-20 00:35] RobertGary1 commented on #3359
clonedContainer is null here...

      var clonedContainer = layerClone.querySelector('[class*="StyledLayer__StyledContainer"]');
      clonedContainer.style.animationDirection = 'reverse';

[2019-09-20 17:27] srallen commented on #3271
1. Highly recommend Grommet look into migrating the Markdown component from markdown-to-jsx to remark (plus remark2react) and supporting a way to incorporate additional remark plugins. We had to build our own Markdown component because markdown-to-jsx only supports Github-flavored markdown and we have some custom markdown that we have to support in our app.
2. Continued high priority for accessibi

[2019-09-20 18:17] atanasster commented on #3271
@srallen +1 for remark, have you looked at https://github.com/mdx-js/mdx it uses remark-mdx under the hood. But then not sure a markdown component is needed at all unless the elements are styled with grommet components by default.

[2019-09-20 18:20] RobertGary1 commented on #3359
Hmm, running against master directly now and I don't think I"m seeing it. Maybe this was fixed??

[2019-09-20 18:37] brodybits commented on #3359
Adding GitHub reference to #3307

I think we should add a test case to help ensure this kind of issue does not appear in the future, if possible.

A [minimal, reproducible example ([1])](https://stackoverflow.com/help/minimal-reproducible-example) would help outsiders like me reproduce the issue on the recent release and maybe contribute a test case.

Assuming that we are able to reproduce the iss

[2019-09-20 18:52] srallen commented on #3271
@atanasster yes, I have. Supporting jsx directly in the markdown wasn't a requirement for us, but rather supporting custom markdown syntax already in use by our users, so we were able to accomplish this directly with remark, remark2react, some additional existing remark plugins, and a custom plugin. I think mdx could be a good pick for Grommet though.

[2019-09-20 18:53] RobertGary1 opened #3365 "Grommet 2.7.8 causes grommet-icons color to stop working"
You can now only use base colors like "plain". Colors like "brand", "light-1" no longer work...
https://codesandbox.io/s/j8njp1lpv?fontsize=14

[2019-09-21 01:13] oorestisime commented on #3365
Your dependencies are all outdated. have a look here https://codesandbox.io/s/grommet-v2-template-cc9vp
v2 since a long time requires 4.x from grommet-icons. And you also need newer versions of react.

[2019-09-21 01:13] #3365 closed

[2019-09-21 02:48] RobertGary1 commented on #3365
That’s disappointing. I’m using the latest in my dev env and thought I’d reproduced it. I’ll go back and work on reproducing it again.

[2019-09-21 02:59] oorestisime commented on #3365
If you paste your package.json maybe i can look

[2019-09-22 14:30] nomadus commented on #3271
@juanlanus There was an attempt to add a text editor within a grommet-cms project. Per comment, it is outside of grommet core. https://github.com/grommet/grommet/issues/1196

[2019-09-22 16:10] atanasster commented on #3271
@nomadus thanks for the reference, fascinating to see almost 3 years later the amount of wasted work caused by v2. Searching the grommet github and npm is like a wasteland of dead grommet projects. God bless HPE for footing the bill...
I had a fully working draftjs + grommet v1 editor that i had to trash and we could team up to provide a working v2 solution if i see some seriously positive steps w

[2019-09-22 16:27] atanasster commented on #3271
Going down memory lane, my first PR contributing the draftjs editor icons to grommmet-icons 2 years ago https://github.com/grommet/grommet-icons/pull/38

[2019-09-23 08:02] forresthopkinsa commented on #356
So this used to be a thing and now it's not? Pretty lame.

[2019-09-23 08:13] atanasster commented on #356
@forresthopkinsa , there is a spinning component in `grommet-controls` https://atanasster.github.io/grommet-controls/?path=/docs/controls-controls-spinning--main

You can also add your input into #3271

[2019-09-23 08:13] forresthopkinsa commented on #2882
So is this going to be merged into master or is it just going to stay in a sandbox? Not sure the standard procedure for new 'patterns' like this

[2019-09-23 09:39] jim-king-2000 opened #3367 "Let the width of Select be content-based."
### Expected Behavior
The width of Select control is too large when there are only 2 ~ 4 characters in it. And there are a lot space on the right side. Shall we make the width content-based, so that it would look compact?

### Actual Behavior
The width is too large, there is a lot of space in the right side.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

None.

###

[2019-09-23 15:18] britt6612 commented on #356
@forresthopkinsa Grommet has provided a pattern to provide users examples of how to use a loading page https://codesandbox.io/s/loaders-and-spinners-4jltk check out this link! Also feel free to provide any feedback!

[2019-09-23 18:44] taysea commented on #3360
Thanks for raising this issue @saidelmark! I submitted a PR for this. It looked like the calculation for the value of the range selector based on the mouse position wasn't working as expected.

[2019-09-23 22:14] dustykeyboard commented on #3271
Looking forward to improved types. Theme types/validation is something that would surely help

[2019-09-24 12:58] myovchev opened #3370 "[TS] Incompatible FormField "size" and "onSelect" prop types"
Passing `size` and `onSelect` props to `FormField` down to `TextInput` (via `component` prop) results in typescript complaining about inconsistent types. I narrowed this down to  `HTMLInputElement['size']` and `HTMLInputElement['onselect']` respectively, passed down (I suppose) to `<input>` element by styled components as valid HTML attributes.

A possible solution would be to filter and override

[2019-09-24 22:55] forresthopkinsa commented on #356
Thanks for the help guys

[2019-09-25 16:43] #3290 closed

[2019-09-25 16:47] ShimiSun commented on #2446
RoadMap issue is tracked on #3271, feel free to comment/post your comments.

[2019-09-25 16:47] #2446 closed

[2019-09-25 21:20] taysea commented on #2977
@ShimiSun Is this still an issue or can we close it? I don't see the hover state when using keyboard.

[2019-09-25 22:20] ShimiSun commented on #3357
@srallen would love your thoughts on this one.

[2019-09-25 22:35] ShimiSun commented on #3347
hi @mixdev, I think we can close this issue, let me know if you think otherwise.

[2019-09-25 22:39] ShimiSun commented on #3172
You can find it now on the `functions` page https://v2.grommet.io/functions.
Thanks for the feedback!

[2019-09-25 22:39] #3172 closed

[2019-09-25 22:41] ShimiSun commented on #3237
Any updates on this issue?

[2019-09-26 00:32] britt6612 commented on #2815
@ShimiSun I believe with the changes that were made to data-table also cleaned up the issues that were happening in safari.

<img width="833" alt="Screen Shot 2019-09-25 at 6 26 48 PM" src="https://user-images.githubusercontent.com/42451602/65649108-6d2fa800-dfc2-11e9-9c22-2371287b4cbc.png">
<img width="800" alt="Screen Shot 2019-09-25 at 6 26 36 PM" src="https://user-images.githubusercontent.com/

[2019-09-26 00:38] Sherlock92 commented on #3111
Hi, we urgently need this resolved as we are rolling out soon. I made a PR to expose the replace property https://github.com/grommet/grommet/pull/3376.

@ericsoderberghp can you let me know if this looks ok and merge? Thanks!

[2019-09-26 02:19] ShimiSun commented on #3210
This is a good issue for someone who wants to get familiar with adding new prop

[2019-09-26 02:24] ShimiSun commented on #2938
I think we can close this issue thanks to the new wiki page. let me know if you think otherwise.

[2019-09-26 02:24] #2938 closed

[2019-09-26 02:45] #2310 closed

[2019-09-26 02:46] ShimiSun commented on #2310
I believe this issue is fixed. Thank you for reporting!

[2019-09-26 03:10] ShimiSun commented on #2815
Let's thank @ericsoderberghp for this one! MERCI 🥇
Thanks for verifying and adding screenshots @britt6612!
I'll be closing this issue, feel free to reopen if needed.

[2019-09-26 03:10] #2815 closed

[2019-09-26 03:30] ShimiSun commented on #2516
We can do it today using `useContext` hook, no need to wrap the component with context.
`const size = React.useContext(ResponsiveContext);` should do the trick.

The storybook example is also adjusted to use hooks https://storybook.grommet.io/?path=/story/responsivecontext--custom-breakpoints.

I'll be closing the issue, feel free to reopen or comment if needed.

[2019-09-26 03:30] #2516 closed

[2019-09-26 03:52] ShimiSun commented on #3271
I shared a quick update on slack and I'll share it here as well

I saw a couple of more comments that came over the weekend, and we would like to have a couple of more internal discussions with all team (some currently traveling) before we can share our draft, hopefully, it will be before the end of the month or the beginning of the following month. Hope that works.

One comment to @brodybits, the

[2019-09-26 10:51] fortydegrees opened #3377 "Carousel control hiding doesn't work"
Setting `<Carousel controls={false}>` doesn't hide the controls.

I'm using nextJS, not sure why it's happening.

This is my code:

[code]

controls={true} or {false} has no effect, the controls show. The 'play' prop responds though,

[2019-09-26 12:53] ShimiSun commented on #3377
Which version of Grommet are you using? And browser

[2019-09-26 17:47] srallen commented on #3357
We can confirm the issues reported here.

Our use case is similar to the Grommet 'Search' story. The [code](https://github.com/zooniverse/front-end-monorepo/blob/master/packages/app-project/src/screens/ClassifyPage/components/CollectionsModal/components/SelectCollection/SelectCollection.js) and can be seen on [our site](https://www.zooniverse.org/projects/nora-dot-eisner/planet-hunters-tess/classi

[2019-09-26 22:18] ShimiSun commented on #2973
Hi buddy, thanks for your feedback and patience with this one.

There are a couple of approaches here I would like to share:
1. Unselect could be done today with clearing the selected options, whether it is a multiple or single Select option. @britt6612 contributed a story to demonstrate this implementation (Thanks @britt6612). https://github.com/grommet/grommet/pull/3371
https://deploy-preview-33

[2019-09-26 23:57] #3111 closed

[2019-09-27 06:25] fortydegrees commented on #3377
Sorry for the lack of useful info. I'm using 2.7.4 and Firefox 69.0.1. The issue also persists on Chrome.

For what it's worth, this codesandbox: https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=carousel&module=%2Fsrc%2FCarousel.js

behaves properly.

[2019-09-27 12:52] partynikko opened #3381 "No gaps when using React.Fragment in Box"
Hi there! 👋

If children to a `<Box />` are wrapped in a `React.Fragment` those children will not get gap elements injected in between - there will be no gaps.

### Expected Behavior
I expect mentioned above to work.

### Actual Behavior
No gap elements are injected.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-ohyqb?fontsize=14

### Steps to

[2019-09-27 13:04] partynikko commented on #3381
I found this in React documentation regarding `React.Children` which is used to iterate the children in the `<Box />` component:

https://reactjs.org/docs/react-api.html#reactchildrenmap

[2019-09-27 15:19] ShimiSun commented on #3377
The ability of hiding Carousel controls was introduced on Grommet 2.7.7, so one more reason for you to upgrade my friend ;) https://github.com/grommet/grommet/releases/tag/v2.7.7

I'll be closing this issue, feel free to reopen id needed.

[2019-09-27 15:19] #3377 closed

[2019-09-28 00:05] markjackson02 commented on #2973
Thank you @ShimiSun @JetLim ! I like design option 2. My only question is how would the size of the scroll region be set? Would this be a prop e.g. maxScrollSize = 5 shows means 6th item would not be visible until scroll? Or could that be set dynamically somehow based on the viewport?

[2019-09-29 06:49] oorestisime commented on #3381
I am inclined to say this is the normal behaviour and this is not a bug.

[2019-09-29 06:50] ericsoderberghp commented on #3381
agreed

[2019-09-29 16:47] oorestisime commented on #3381
I ll be closing this. feel free to contribute more in the discussion if you feel there is something for us to do here.

[2019-09-29 16:47] #3381 closed

[2019-09-30 00:36] iMerica commented on #2855
I think @atoy40's approach is the recommended option because `this.context` (used in @ShimiSun's code) is deprecated.

[2019-09-30 16:19] #3203 closed

[2019-09-30 17:05] ShimiSun commented on #2973
@markjackson02 This is a valid concern, thanks for bringing it up. I guess with option #1 we won't have this use case, only with option #2.
In case we will pursue option #2, I guess I need to see an idea of implementation and brainstorm from there, I'm inclining to show it based on the viewport.

[2019-09-30 20:10] ShimiSun commented on #3359
@brodybits SPOT ON!! I'm gonna save this link and probably use it in the near future... :)
We are working on a new release now.
I'll be closing this issue, feel free to reopen if needed.

[2019-09-30 20:10] #3359 closed

[2019-10-01 06:29] vijaykumar-peddamuthu opened #3384 "Accessibility errors in Grommet components"
Hi,

I was trying to updating some accessibility errors in one of our project but I am not able to correct it few components. Please find below the details of that.

1) Layer closing button (X) does not have an screen reader text. find screenshot for the same.
![image](https://user-images.githubusercontent.com/46993098/65938966-1ef72a80-e442-11e9-8960-7e2f5be74c77.png)

2) When i use the Table hea

[2019-10-01 13:02] ivandevp commented on #3367
May I help on this?

[2019-10-01 17:13] brianbancroft opened #3389 "Improve documentation of extend theme concept"
The extend theme object is a useful way to add other non-common attributes to Grommet elements such as the RangeInput, but lack of applied examples in the documentation may preclude their adoption among other developers

### Expected Behavior

Somewhere in the documentation (or storybook), there should be a fleshed-out example of an extend theme object so that developers who code through example c

[2019-10-01 23:24] sofiageo commented on #2363
I've picked this up as my first try for a PR. I can see my changes working but I'm not sure about the goal of this issue. Should only Global scoped CSS variables be supported?

[2019-10-02 15:43] ShimiSun opened #3394 "Refactoring components and stories to use hooks"
Tracking the effort for the hooks migration starts here... see the below PRs as references.

[2019-10-02 15:44] Eplumecocq commented on #356
@britt6612 this is exactly what I need, thanks a lot

[2019-10-02 15:48] britt6612 commented on #356
@Eplumecocq Your welcome glad to help! 👍

[2019-10-02 15:53] aravind1078 commented on #3394
@ShimiSun  is there anything left to pick ?

[2019-10-02 16:08] thidasapankaja commented on #3394
@ShimiSun  Can I start working on this #3391 ?

[2019-10-02 16:23] ShimiSun commented on #3394
@aravind1078 Go to any storybook example that has Class usage and refactor to class. look for example src/js/components/CheckBox/stories/Indeterminate.js

[2019-10-02 16:25] ShimiSun commented on #3394
Hi @thidasapankaja, #3391  is a PR in progress, so maybe try to pick another Grommet class or story?

[2019-10-02 16:31] thidasapankaja commented on #3394
@ShimiSun ok sure. I'll work on refactoring Class usage in Select story

[2019-10-03 08:20] faizrktm commented on #3341
Hi @britt6612, can you update the sandbox? seems like the codes is missing :(

[2019-10-03 15:04] spenc53 commented on #3278
I'd like to take a look at this one if that is ok :)

[2019-10-03 15:43] ShimiSun commented on #3278
@spenc53 go for it buddy!!

[2019-10-03 17:43] nik72619c commented on #3248
I would like to work on this

[2019-10-03 19:17] juanlanus commented on #3248
Hi Nik,
There are two kinds of options list: the simple strings array, and an array of objects.
As I see it now (working with an array of objects), this feature would be practical to implement in the case of the strings array only, because the other case implies showing the user form interactions that will always be very application-specific.
I would like to perform as a tester for you  :-)

[2019-10-03 19:40] nik72619c commented on #3248
cool, thanks !

[2019-10-03 20:06] nik72619c commented on #3248
Can I please know which component is exactly facing this issue?
Which one of the select component is this?

[2019-10-03 22:15] #3360 closed

[2019-10-03 22:16] ShimiSun commented on #3360
Thank you for reporting buddy!

[2019-10-04 02:03] ryanjchr opened #3408 "Menu items onClick handlers do not fire on Firefox as of v2.7.9"
### Expected Behavior
Clicking on a `<Menu items={[{ onClick: ... }]}>` item should fire its `onClick` handler if provided on all browsers.

### Actual Behavior
The `onClick` handler does not fire on the latest version of Firefox, but does on Chrome.
Reverting to Grommet 2.7.8 fixes the issue.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v279-menu-items-b

[2019-10-04 02:08] juanlanus commented on #3248
Select is a single component.
It can be provided two kind of options lists: plain strings array, or objects array.
IMO what you want to do makes sense only in the plain strings array case.

[2019-10-04 02:44] spenc53 commented on #3278
Just wanted some input / a way to get started. Does this change also involve moving over the colors and what not? Or just the ThemeType stuff?

[2019-10-04 16:06] taysea commented on #3408
Thanks for raising this issue! It looks like potentially Firefox is having an issue with the nested onClick? https://stackoverflow.com/questions/24103072/reactjs-onclick-handler-not-firing-when-placed-on-a-child-component

I'm going to look more into this to understand why the recent changes to Menu are causing this to occur.

[2019-10-04 23:27] spenc53 commented on #3278
Looks like the ThemeType definition has two different definitions for color. The first object has it defined as a string, and later on it is defined as more complex object. Which on should be used?

[2019-10-04 23:38] ShimiSun commented on #3278
This is the right definition for ColorType https://github.com/grommet/grommet/blob/6a55c3e2e9cc47f571f73e830ad5576773ceac74/src/js/utils/index.d.ts#L43

[2019-10-04 23:58] ShimiSun commented on #2363
@sofiageo If you look at the markup
[code]
Although the two Boxes are resolving the background colors properly, the impact of the dark background only impacts the non-variable background (first Box), while the second box, that uses the CSS variable for background color, isn't providing the right accessibilty of contrast between the text color and its background.
In the first Box, the color of its

[2019-10-05 00:40] sofiageo commented on #2363
Sorry @ShimiSun I didn't want to confuse you, I understand what the goal is here, but CSS variables could have several scopes.

In any case, I've opened a PR for this using the global scope. I'm not very experienced with JS and I have not performed any benchmarks, also I'm not familiar with the grommet code, so If you think it's a bad implementation feel free to delete it and I will pick up an eas

[2019-10-05 00:55] ShimiSun commented on #3344
I believe we can close this issue! Thank you for raising this interesting scenario, I enjoyed exploring it :)

[2019-10-05 00:55] #3344 closed

[2019-10-05 20:10] vitorfreitas commented on #3394
#3424

[2019-10-05 20:11] vitorfreitas commented on #3394
#3424

[2019-10-05 20:18] nik72619c commented on #3248
so basically the searched selects here, must work like react-select about which you mentioned. I believe the current behaviour is that the searched select inputs only display the current value being clicked or selected. Am I thinking in the right direction @juanlanus ?

[2019-10-06 13:52] juanlanus commented on #3248
Yes, Select displays a list of values and lets the user to choose one of the displayed values.
The text the user types into the control is used as a search string, not as an input value.
This issue is asking to allow the user to add the typed text to the list as a new item when it doesn't matches any of the existing items and the user wants to.

[2019-10-06 15:41] karthickselvendran commented on #1055
How to resize the select component in Grommet?

[2019-10-06 15:42] karthickselvendran opened #3431 "How to resize the Select component in grommet?"
How to resize the select component in grommet?

[2019-10-06 16:58] oorestisime commented on #1055
Have a look at the props https://v2.grommet.io/select#size

[2019-10-06 16:58] oorestisime commented on #3431
Here are the props https://v2.grommet.io/select#size

[2019-10-06 16:58] #3431 closed

[2019-10-06 16:59] oorestisime commented on #3248
Hey folks before jumping into the implementation lets take some time to think a bit more on this. This will change the select behaviour so we need to think a bit on the API before. @ericsoderberghp @ShimiSun would love your thoughts as well.

[2019-10-06 17:14] karthickselvendran commented on #1055
![project](https://user-images.githubusercontent.com/52481101/66272696-aef60380-e88a-11e9-891b-c78a514886a3.png)

See above image in that I mention the difference between the text Input components of input and the select component

I need all the components look like in same sizes.'

If any doubt in question please ask me.

[2019-10-06 17:17] oorestisime commented on #1055
Please share a codesandbox with the behaviour. are you using the size prop both in select and textinput? its difficult to help without more information.

[2019-10-06 17:19] karthickselvendran commented on #1055
import React, { Component } from 'react';
import { TextInput, Button, Box, RadioButtonGroup, Select, Clock } from 'grommet';
import { Container, Row, Col } from 'react-bootstrap';
import { Link } from 'react-router-dom';

class Bangalore extends Component {
    constructor(props) {
        super(props)
        this.state = {
            radio1: ''
        }
    }
    setValue(e) {
        this.set

[2019-10-06 17:27] karthickselvendran opened #3432 "I need to customise the select component grommet."
I need to customise the select component with the textInput component.  See the picture below to understande the question.  I need a nice look of the components.

![project](https://user-images.githubusercontent.com/52481101/66272887-9be43300-e88c-11e9-95c6-ef8c12309293.png)

[2019-10-06 17:27] nik72619c commented on #3248
#3430 please have a look and suggest changes :)

[2019-10-06 17:40] oorestisime commented on #3432
Lets keep the discussion here

so you are actually not using the prop i mentioned. can you please try?

from what i see here you are not using the size prop i mentioned. can you try and let me know how it works?

[2019-10-06 17:57] karthickselvendran commented on #3432
I used but before that some erros on codesandbox how can i solve that?
![p1](https://user-images.githubusercontent.com/52481101/66273373-e5cf1800-e890-11e9-8874-dc901c739862.png)

[2019-10-06 17:59] karthickselvendran commented on #3432
How can I contact you ?

[2019-10-06 18:01] oorestisime commented on #3432
But you are using this in the style prop. it has to be directly in the Select component just like the placeholder or options. Please join the slack https://slackin.grommet.io/ and ask in the channel for general help! more people should be able to help.

[2019-10-06 18:37] karthickselvendran commented on #3432
help me to solve this problem

[2019-10-07 19:25] shakti97 commented on #3394
I m trying to do but as i committed the code it starts some test and then i just wrote the git status and it showed me a huge amount of README files modified. Don't know why it changes the readme.md file. Can anybody know the reason behind this

[2019-10-07 19:30] sofiageo commented on #3394
Are you using Windows and git autocrlf set to auto? The project is committed with LF line endings and I don't see any gitattributes committed to the repository to enforce the line endings. Your git might be changing the line endings to CRLF.

[2019-10-07 19:37] shakti97 commented on #3394
yes i m on windows

[2019-10-07 19:46] sofiageo commented on #3394
In my opinion you should not commit anything with CRLF endings if the project is using LF endings, because it will create more confusion later. Another problem is that git is converting these files on "git clone" so even adding a gitattributes file don't be enough to fix it. Try to see if you can change the line endings from your IDE - if you are using IDEA products I think it's possible. - then o

[2019-10-07 19:58] sofiageo opened #3437 "Add a .gitattributes file to enforce line endings"
### Expected Behavior
People using Windows and Linux can commit with the same line endings (LF)

### Actual Behavior
Windows users with mis-configured git clients commit files with CRLF line endings.

### URL, screen shot, or Codepen exhibiting the issue
Example:
https://github.com/grommet/grommet/issues/3394#issuecomment-539166085

### Steps to Reproduce
Clone grommet from a Windows PC, then try

[2019-10-07 20:10] sofiageo commented on #3437
I'm adding some examples from random famous libraries / software:

1) https://chromium.googlesource.com/v8/v8/+/refs/heads/master/.gitattributes
2) https://github.com/mozilla/pdf.js/blob/master/.gitattributes
3) https://github.com/styled-components/styled-components/blob/master/.gitattributes
4) https://github.com/microsoft/TypeScript/blob/master/.gitattributes
5) https://github.com/facebook/react

[2019-10-07 20:47] ShimiSun commented on #3340
Conversation from Slack around this "crazy" idea.

Thanks. Your button class is far too opinionated. Deciding for us when a button has a border and a fill and when it doesn't is extremely arbitrary and unworkable in production. Nice layout stuff though.

you can fill a button's area --- IF its primary. You can stroke its border -- IF its not primary . Basically you don't have all the options; if y

[2019-10-07 21:23] ShimiSun commented on #3432
@karthickselvendran on `style` prop you supposed to use CSS styles. `size` is a grommet prop and not meant to be used as a CSS style.
Try to use something like:
[code]
For more questions feel free to use the slack channel https://slackin.grommet.io/ .

[2019-10-07 21:23] #3432 closed

[2019-10-07 22:47] nik72619c commented on #3173
shall I work on this ?

[2019-10-08 00:51] Mr-Magnificent commented on #3186
I believe `max-width: 100%; max-height: 100%` on `<img>` in `src/js/components/Image/StyledImage.js` could solve the issue? Can I take this up?

[2019-10-08 01:20] sdowding commented on #3394
is there any other hooks stuff i can work on? it seems like its all finished!

[2019-10-08 01:23] britt6612 commented on #3186
@Mr-Magnificent I'm sure @ShimiSun will be grateful if you take this up! 👍 🥇

[2019-10-08 03:09] karthickselvendran commented on #3432
Kindly anyone Please add me in slack grommet channel. I am not able to join in that channel.  I don't have a invite link.

     Please add me in slack channel am not able to join in that.  I don't have a invite link.

[2019-10-08 03:11] karthickselvendran commented on #3432
I used the prop size but it will enlarge in all side.  I only need to increase the width only. please help me to Solve the problem

[2019-10-08 04:45] bingomanatee commented on #3340
As a follow up: You have a good extended styling convention around Box. In fact its fair to say there is very little difference between a box and a button other than that it has hover/mouse interactions.

If you used the theming overlay as a "factory" with mouse over, down, and inactive variations, then button could be a function that produces mutable boxes; you wouldn't really need a Button "comp

[2019-10-08 08:05] oorestisime opened #3440 "Minimize chromatic stories changes to reduce manual review"
General maintenance issue not feature/bug/doc related.

### Expected Behavior

Review as little as possible the stories in chromatic

### Actual Behavior

Right now the chromatic tests always identify 8 stories for manual review, 7 of them are because of date or time or both being dynamic. We could hardcode a date there to reduce the manual reviews.

[2019-10-08 13:41] Mr-Magnificent commented on #3186
How can I test if my changes solves the issue?

[2019-10-08 13:47] oorestisime commented on #3186
You can create a new story on storybook with a reproduction of the issue.

[2019-10-08 14:40] Mr-Magnificent commented on #3186
Should the patch include the story?

[2019-10-08 14:52] oorestisime commented on #3186
If you feel this could be interesting for users why not!

[2019-10-08 15:26] ShimiSun commented on #3432
Have you tried using this link https://slackin.grommet.io/, click Advanced -> and proceed?

[2019-10-08 15:26] Mr-Magnificent commented on #3186
To be honest, I am not entirely sure. Maybe check if it adds value during review? :sweat_smile:

[2019-10-08 15:30] oorestisime commented on #3186
sure will be easier to review! :)

[2019-10-08 16:28] jackielfu commented on #3161
any update on this? i'm getting the same issue in version 2.7.8.

[2019-10-08 16:49] sandersoeteman commented on #3161
Sorry, no. I've decided to implement another system instead.

[2019-10-08 19:20] mlshv commented on #3247
Hello everyone!

I've discovered that it happens because SelectContainer gets mounted and unmounted every time when search opens and closes. The search text lives in SelectContainer state, but matched options list is stored in CustomSearch state.

For me, the most obvious way to fix it is to reset options list to default value on search dropdown close. Just checked – it works as expected.

Am I do

[2019-10-08 19:27] oorestisime commented on #3247
By all means if you have a solution make a PR and we can discuss there! Thanks for jumping on this!

[2019-10-08 20:43] adamazing opened #3444 "Showing Layer causes content to jitter as scrollbar disappears/re-appears"
When showing a Layer component, it sets `overflow: hidden` style on the body which causes the scrollbar (if any) to disappear and content on the page moves.

### Expected Behavior

Content on the page should not jitter back and forth as the scrollbar disappears/reappears.

### Actual Behavior

When the scrollbar disappears, content on the page shifts right.
When the scrollbar re-appears (when Laye

[2019-10-08 20:52] ShimiSun commented on #3444
Interesting I'm not able to reproduce it on my Mac, Chrome, can you please record a quick video so I'll see the behavior?
More important, on your codesandbox, can you change your grommet version to 2.7.1 and let me know if it reproduces there? I want to eliminate the option that this issue is a regression.

[2019-10-08 21:11] adamazing commented on #3444
Not sure if this is why you're having trouble reproducing, but the content has to be scrollable to see the effect and it's subtle:
https://www.youtube.com/watch?v=ynXL6STkol8

Adding `full={true}` to the Grommet container leaves the scrollbar intact, mitigating the issue:
https://h0klz.csb.app/
https://youtu.be/8Nt3FqwBvS8

v2.7.1:
https://vwmql.csb.app/
https://youtu.be/ZmcmGUyMkKY

[2019-10-08 21:55] ShimiSun commented on #3161
The `level` prop is communicating the hierarchy from the responsive aspect, each `level` has different `size` values and the value can be determined using the size `prop` (defaults to 'medium').
The `size` prop doesn't control the responsive behavior; if the user assigns `size="small" ` and using responsive behavior, the size will remain `small` though the `level` will change according to the glob

[2019-10-08 22:25] mlshv commented on #3367
Select uses HTML `<input>` element that has a `size` attribute with default value of 20. It is not possible (as I know) to set it's width by content without JS hacks. So I am afraid that it won't be implemented

[2019-10-09 01:43] karthickselvendran commented on #3432
In my country the website is blocked I not able to join in that

On Tue 8 Oct, 2019, 8:56 PM Shimi, <notifications@github.com> wrote:

[2019-10-09 02:52] jim-king-2000 commented on #3367
Should it be <select> element?

[2019-10-09 05:39] vijaykumar-peddamuthu commented on #3384
Please find below markup which I am using in our application.

![image](https://user-images.githubusercontent.com/46993098/66454313-255e5580-ea85-11e9-9e1c-6e8427e509fe.png)

[2019-10-09 16:03] jackielfu commented on #3161
hey shimi!

our app is purely mobile-web, so i'm working only with the `small` breakpoint. i'm attempting to change the `size` and `lineHeight` of `<Heading level={1} />` using this theming option:

[code]

[2019-10-09 16:32] britt6612 commented on #3131
Hey @guillaumeLamanda thank you for your feedback! I wanted to ask if you were able to find a work around for this issue ? Also I did create a code sandbox for you as well https://codesandbox.io/s/grommet-horizontal-bar-chart-issue-rr0ff
I want to make sure I understood your issue correct. Did you want the label and value to actual appear inside of the meter bar or chart ? Also for meter you menti

[2019-10-09 17:13] britt6612 commented on #3173
@nik72619c it would be great if you work on this! 👍
Let us know if you need anything!

[2019-10-09 17:54] oorestisime commented on #3173
Just mentioning this will be a bit tricky to cover backwards compatibility

[2019-10-09 19:26] ShimiSun commented on #3173
...also, please consider the current work-in-progress of refactoring Select Component to use hooks, in order to avoid conflicts. https://github.com/grommet/grommet/pull/3433

[2019-10-09 22:40] NetworkAndSoftware opened #3447 "InfiniteScroll: onMore() doesn't get fired if step == items.length"
It appears that if the amount of items is <= than the step value, onMore never fires.

This is strange for an application developer if you're using this to fetch data in pages. You'd expect to be able to set step to the same size as your data pages and initially populate with exactly step items.

### Expected Behavior

Fire onMore when the last of step items comes into view and items.length == ste

[2019-10-09 22:53] spenc53 commented on #3278
It's ready for review! Here is the PR! I tried my best to follow the contributing guide but, if I missed something, just let me know :)

Here is a link to the PR
https://github.com/grommet/grommet/pull/3448

[2019-10-10 04:00] santaclauze opened #3450 "RadioButtonGroup wont blur() correctly"
First of all, thanks for the great library.

We are using grommet on our platform and it works great. However, we found a small bug.

### Expected Behavior

Easy blur by clicking away from the Radio Buttons. Here is an example from w3c where I can easily blur and use the arrows to move the window content.

https://recordit.co/dhjc0gBN7F

### Actual Behavior

Struggle to fire the blur on Radio Butt

[2019-10-10 08:48] adamazing commented on #3444
Dang it! I've just been looking at this at home @ShimiSun, without a mouse plugged in (as I usually have at work) and realised that the scroll-bars disappear when not actively scrolling! It's possible to force them to always show in `System Preferences > General > Show scroll bars > Always`. Hope this helps!

<img width="668" alt="Screen Shot 2019-10-10 at 9 43 32 PM" src="https://user-images.gith

[2019-10-10 10:45] guillaumeLamanda commented on #3131
Hey @britt6612 !
I had try something, but the workaround took me too much time.
I was trying to modify the Chart component, to be able to have it horizontally.
For the label, it it ok beside. Value could appear on the bar, it would be great.
For the meter, I was not able to use it because it is all percents values, and I worked with values between -5 and 5 for example.
However, it seems Grommet [d

[2019-10-10 15:31] #3292 closed

[2019-10-10 15:59] ericsoderberghp opened #3452 "Refactor color namespace"
This is a proposal for how to refactor the grommet color namespace.

There are three motivations for this:
1) "accent" and "neutral" are intended to be generic but many themes don't naturally think in these terms.
2) a desire to have variations on non-grey colors, such as more or less saturation.
3) a desire to have dark and light variations of a theme built into a single theme.

Add a `dark` prop

[2019-10-10 16:27] ShimiSun commented on #3452
1. Linking to #2940.

2. I think below is a great idea.

     dark and light modes from the top.

3.
[code]
For these cases, the user would be able to set it up himself, but I think it will be interesting if we can also provide those default colors out of the box according to `background`.

[2019-10-10 16:29] ericsoderberghp commented on #3452
Agreed. I was assuming that everything had a value in the base theme except for `brand`.

[2019-10-10 17:26] ShimiSun commented on #3450
Thank you for your feedback @santaclauze !
I took a look at the WebAIM accessibility recommendations, https://webaim.org/techniques/forms/controls#radio
And IMO its radio-button behavior is similar to grommet RadioButtonGroup. From the WebAIM example, the user will keep navigating inside the radio-button-group as long the user is using up/down navigations, and for leaving the radio-button-group th

[2019-10-10 18:03] ShimiSun commented on #3394
@sdowding plenty...
Accordion.js
Chart.js
All of Chart stories  under src/js/components/Chart/stories
Collapsible.js
Resizer.js
Form.js
And more...

Look for imports of  `{ Component } from 'react'`, that will be a good place to start.

[2019-10-10 18:43] britt6612 commented on #3131
@guillaumeLamanda that is just a recommendation from grommet users to get rid of Chart. No plan to discontinue Chart now. This is still a very valid issue thank you for clarifying what your use case was for purposing that bar chart be horizontal.

[2019-10-10 23:59] adamazing commented on #3450
@ShimiSun, I think the issue is that it's really hard to wrest control from the RadioButtonGroup once it has you.

E.g. On the [RadioButtonGroup](https://v2.grommet.io/radiobuttongroup) docs pag. If the RBG has focus, you can move up and down with arrow keys, as expected, but when you click in the sandbox textarea to the right, even though you can see the caret flashing, hitting the up/down arrows

[2019-10-11 03:59] #3247 closed

[2019-10-13 04:43] mikhaelangelo opened #3460 "Problem with the grid system"
### UPDATE (10/13/19)

I discovered what i was doing in wrong: the gridArea only works as a Box's property. So, i removed the gridArea from the NavbarTop component and move it into the Box component, inside NavbarTop

### Expected Behavior

The NavbarTop component should be positioned on the right side, at the first row and the second column.

### Actual Behavior

The NavbarTop component arent res

[2019-10-14 17:35] ShimiSun commented on #3460
Hi buddy, thanks for reporting.
The codesandbox you sent is broken with failures  https://codesandbox.io/s/grommet-and-grid-system-jbvd4?fontsize=14
![Screen Shot 2019-10-14 at 11 33 11 AM](https://user-images.githubusercontent.com/6320236/66771073-7cde3600-ee76-11e9-881d-7d014dba019c.png)
Mind getting it to work so we could have a look?
Also, a common way to troubleshoot Grid issues is making sur

[2019-10-15 09:28] alexlabrioche commented on #2556
@ericsoderberghp  hello Eric, can we see an exemple of how to use the responsive context ? without Hooks I must wrap my component around the ResponsiveContext.consumer every time i need (but I'm pretty sure it's not the good way)
And maybe an example with the new useContext Hooks ?

thanks so much

[2019-10-15 11:47] mikhaelangelo commented on #3460
i found what were happens wrong and updated the post with the solution ^_^ thank you for the attention! also, i  dont know why you are getting those errors in the codepen. Works fine here =(

[2019-10-15 13:53] MrunalShidurkar opened #3467 "Creating redundant CSS for same properties"
If I am adding 100 Box components and just want to change `pad` for each Box then the styled generated will new class for each Box with repeating common CSS properties.

If a Box component has a common style like below and if the user just want to change `pad`, then new class will be created for each change with repeating the common style in all classes
![image](https://user-images.githubuserconte

[2019-10-15 14:20] ericsoderberghp commented on #2556
I would have thought that the above code snippet would be a useful example. Can you clarify a bit more on what else you'd like to see?

[2019-10-15 15:48] #3440 closed

[2019-10-15 18:24] ShimiSun commented on #3460
@mikhaelangelo great, can we close the issue?

[2019-10-15 18:30] mikhaelangelo commented on #3460
@ShimiSun sure, please <3

[2019-10-15 18:30] #3460 closed

[2019-10-15 19:04] ShimiSun commented on #3467
Thanks, sounds like you've done a bunch of investigation on this matter, feel like filing a PR so we can review your suggestion more closely? even just a sample PR will be fine.

[2019-10-16 05:06] MrunalShidurkar commented on #3467
@ShimiSun I am using Grommet for a long time and I loved the way Grommet has provided flexibility to devs. I will create a PR request for the same.

[2019-10-16 18:44] iMerica commented on #3359
Please re-open this issue. I've verified that it occurs in the current (v 2.7.9) version.

[2019-10-16 21:53] ShimiSun commented on #3437
@oorestisime curious to hear your thoughts on this one.

[2019-10-16 22:34] iMerica commented on #3359
The problem is in `src/js/components/Layer/Layer.js`
[code]

A null check needs to exists on `clonedContainer`.

[2019-10-16 22:37] iMerica commented on #3359
Also important to note that this error occurs only on a page that is no longer mounted. Given a Single Page Application with pages A and B, this error occurs on Page A only when page B is mounted.

[2019-10-16 22:45] brodybits commented on #3359
Any pointers how that problem can be reproduced?

[2019-10-16 22:49] iMerica commented on #3359
@brodybits

This one is not something I can quickly create a CodePen for.

Basically:

- Build a Single Page Application using Grommet with tools like React Router.
- Use a Layer component on a one of the Pages.
- Navigate between pages.
- Observe that since this layer component is piercing through the virtual DOM and is not un-mounting itself, the null DOM element error occurs.

[2019-10-16 23:02] brodybits commented on #3359
@iMerica can you do me a favor and give me some pointers to help me with each of the steps, with examples if possible?

I am an outsider, would love to help fix the crash if possible, ... BUT I am unfortunately not so familiar with using layers or routers. My one contribution so far has been an incomplete **draft** PR to use React Primitives: #3029

I think they would need a test before accepting

[2019-10-17 00:08] afreix opened #3470 "Cannot access Theme Properties outside of components"
### Expected Behavior

Docs say "import { defaultProps } from 'grommet' and accessing defaultProps.theme" (https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation#accessing-theme-data-outside-grommet-components)

### Actual Behavior

I get an error when trying to `import { defaultProps } from "grommet"`
I assume the docs are out of date, but I don't know how to access theme props

[2019-10-17 01:41] KaSSii opened #3472 "DropButton: iOS (all Browsers) Not closing on blur (iOS 12.4.2 and below)"
### Expected Behavior

- If dropButton is open, clicking outside of the drop down should trigger the onClose event

### Actual Behavior

- onClose event is not triggered

### Steps to Reproduce

1. Open dropButton on any iOS device
2. Attempt to close dropButton but clicking outside of the options

### Your Environment

- Grommet version: 2.7.9
- Browser Name and version: iOS Safari/Chrome
- Opera

[2019-10-18 16:16] ShimiSun commented on #3472
Can you describe the use case you are using the Drop?
If the Drop opens as part of Menu or Select http://localhost:9001/?path=/story/select--simple, it will be closed when clicking outside, but in some cases, if the drop is meant to be part of the DOM without disappearing then it shouldn't.
You have a prop `onClickOutside` https://v2.grommet.io/drop#onClickOutside, where you can set the behavior t

[2019-10-18 16:17] taysea commented on #3470
Hey @afreix, I just was looking into this. Are you by chance working on a project using Typescript? For me, I had the same issue when testing on a typescript project, but was fine on a non-TS project. Let me know because that will help narrow down the fix.

[2019-10-18 21:38] afreix commented on #3470
Hey @taysea yeah I’m working on a TypeScript project. Could it be that the types are just incorrect?

[2019-10-18 21:46] taysea commented on #3470
Potentially, but I will look into it more!

[2019-10-19 21:49] atanasster opened #3481 "ts: Select on change event error"
The onChange event for `<Select />` does not correspond to the actual use of the type
ie:
https://github.com/grommet/grommet/blob/d8f7eafcccaa38b79d810d36f8f9734bf0636cd4/src/js/components/Select/index.d.ts#L25

while: https://github.com/grommet/grommet/blob/d8f7eafcccaa38b79d810d36f8f9734bf0636cd4/src/js/components/Select/SelectContainer.js#L163
has `value` and `option`

example to reproduce: any

[2019-10-19 21:53] atanasster opened #3482 "ts: theme type required errors"
In the new theme types, none of the properties should be a required field (marginally only the brand color could be a required field).

Currently all the properties are marked as required and the theme type is unusable to create a new theme.

following generates an error
[code]

https://github.com/grommet/grommet/blob/d8f7eafcccaa38b79d810d36f8f9734bf0636cd4/src/js/themes/base.d.ts#L49

[2019-10-20 02:20] quinnturner commented on #3482
I can confirm that this issue and https://github.com/grommet/grommet/issues/3481 are **breaking issues** in the new releases.

[2019-10-20 11:49] KaSSii commented on #3472
Thanks @ShimiSun I didn't know that "onClickOutside" existed, I will give it a go and report any finding.

[2019-10-20 14:21] #3472 closed

[2019-10-20 17:14] quinnturner opened #3483 "[TS]: Cannot specify custom color"
I am not sure if this is the desired behaviour or not, but I would like to specify a wide colour palette. With the newest Grommet, my TypeScript typings broke. Previous implementations did not throw an error since the grommet theme was typed as `any` instead of `ThemeType`.

Now, you cannot specify non-"grommet" colors.

[code]

### Environment

- Grommet version: `v2.7.10`
- TS Version: `v3.6.4`

[2019-10-21 23:28] #3482 closed

[2019-10-21 23:28] #3483 closed

[2019-10-22 15:23] ShimiSun commented on #3482
Released hotfix on 2.7.11, thanks for reporting https://github.com/grommet/grommet/releases/tag/v2.7.11

[2019-10-22 16:22] ShimiSun commented on #3181
I think we made a huge progress in this area, feel free to reopen or file a PR with anything you feel like is missing.

[2019-10-22 16:22] #3181 closed

[2019-10-22 16:39] #3470 closed

[2019-10-22 16:42] ShimiSun commented on #3408
linking #3334

[2019-10-22 16:42] #3408 closed

[2019-10-22 16:43] ShimiSun commented on #3225
Had to reopen due to a rollback of the accessibility PR https://github.com/grommet/grommet/issues/3408

[2019-10-22 17:23] ShimiSun opened #3489 "grommet enterprise components and design-system, need your comments"
Grommet is inclining to allow an extended version of components that may be serving the enterprise industry.

The current list of components we had in mind for the extended design-system:
Avatar
Navbar
Header
Footer
Sidebar
List
Onboard
Breadcrumbs
wizard
pagination
Tip
Tags
Toggle
Popover
Card
Login
Content/Section
Tree
TreeTable
Validation
Dialog Forms
NumberInput
Tiles
Charting
Toast

You can f

[2019-10-22 22:35] taysea commented on #3237
I opened one more PR (see above), but after that I think we can close this.

[2019-10-22 23:06] ShimiSun commented on #3237
Thank you @taysea & @britt6612 for working on this issue!
I'm closing the issue but let's keep our eyes open to keep optimizing the typescript coding.

[2019-10-22 23:06] #3237 closed

[2019-10-23 21:10] britt6612 commented on #3341
@faizrktm sorry about that the code sandbox should be updated again. So whats happening is Grommet has a section in their base theme in which they define selected to be the brand color which is that purple so you would just need to override that color.

[code]

Once you have that defined in your colors you can then pass your custom theme and that will change the color. check the link again should

[2019-10-23 22:35] ShimiSun commented on #3341
@britt6612 can you please file PR to enhance the custom theme example with the mark-up you just shared? It will help the community get what they need while browsing the storybook examples.

[2019-10-24 08:17] ericsoderberghp opened #3493 "Box background object doesn't set text color correctly"
### Expected Behavior

`<Box background={{ color: 'dark-1' }}>HI</Box>` should show the text using a light color.

### Actual Behavior

`<Box background={{ color: 'dark-1' }}>HI</Box>` shows the text using a dark color.

### Notes

This was inadvertently caused by PR #3327 wrapping the generated `rgba()` string to multiple lines, causing `colorIsDark()` to not be able to detect the color value.

[2019-10-24 12:55] ANDRESROMEROH opened #3495 "MS Edge: Read Only Form Field will Display an "x" to Remove the Read Only Data"
I just wanted to log this with an issue, when using ReadOnly FormFields in MS Edge the browser will display a little "x" when clicking on the field meaning that can be editable even when the field is read only, the "x" removes the text on it but it will get back after clicking any other place which does not affect but I think it can cause a miss perception for some users meaning they can actually

[2019-10-24 15:41] #3493 closed

[2019-10-25 16:19] nomadus commented on #3489
Happy to help with the priorities. My list of priorities would be (in descending order):
Pagination, breadcrumbs, tip (tooltip), charts, tags, numberinput, datetime (it is not in the list). As I am already using grommet-controls, tags, date and number inputs are at the bottom.

[2019-10-26 08:33] atanasster commented on #3489
first priorities list:
https://v1.grommet.io/docs/components

[2019-10-27 11:53] sergeylukin opened #3496 "ResponsiveContext loading results in FOUC"
### Expected Behavior

Grommet provide API for listening to responsive context bootstrapping

### Actual Behavior

Grommet responsive process is using `medium` size by default, and it takes time for it to respond to actual screen size and re-render components which results in `flashing` effect when grid may have 2 columns for a second or two and then it's replaced with 1 column grid on small scree

[2019-10-27 12:08] sergeylukin commented on #3489
Thanks for asking! My preference would be as follows:

- Masonry grid (missing!)
- Cards
- Plug-n-play mobile navigation
- All-the-forms (inputs, login, validation, etc.)
- Navbar
- all the rest mostly the ones from v1

[2019-10-28 09:40] gaku-sei opened #3497 ""Cannot read property 'extend' of undefined" with Next.js"
When used with Next.js 9.1.0, the `FormField` component raises a `Cannot read property 'extend' of undefined` error on the server side.

### Actual Behavior

When using Grommet with Next js, I got a `Cannot read property 'extend' of undefined` exception on the server side when using the `FormField` component.

Here is part of my `_document.tsx` file:
[code]

In a page:

[code]

Will automatically

[2019-10-29 10:33] dwevedivaibhav commented on #2413
When I am focused on a Select, the immediate div within the Button still has a box-shadow, which is not able to customize (I am not able to overwrite ,its seems to me value in box shadow property hard coded ,its not taking as parameter).Please suggest me.

[2019-10-29 16:57] TheWeeezel commented on #3496
This is an issue which is not related to grommet. It's a technical issue. You can read about it in the gatsby issues section. It's not even an issue considered to the gatsby team. I spent quite some time trying to fix this.
From what I understood is that gatsby renders the page without knowing the viewport of the device it displays towards. so only after receiving back the information the correct

[2019-10-29 19:34] sergeylukin commented on #3496
@TheWeeezel thank you very much for response! That information seems very helpful and relevant. I will definitely try it!
It's a pity Grommet's team isn't responding.

[2019-10-29 22:48] taysea commented on #3481
I've been looking into this and found that onChange has these items:
[code]
I am thinking that the type definition should be something like:
[code]
However, the piece I am working on is how to declare types for `option`, `selected`, and `value`. If I give each of these the type that is defined in the Select interface (for example: `option: string | boolean | number | JSX.Element | object;`), but i

[2019-10-31 05:50] LiveFreeAndRoam opened #3517 "Grid component a11yTitle is documented but not clear"
Using `<Grid a11yTitle="ARIA label">...</Grid>` does not produce a div tag wth an `aria-label`.

### Expected Behavior
It is unclear what the expected behaviour ought to be.  Perhaps the `a11yTitle` attribute ought to be removed from the `<Grid>` component?

It is unclear.  The documentation describes it, so I was only experimenting with it to understand how it worked.

### Actual Behavior
`aria-l

[2019-10-31 16:40] skoshy opened #3518 "Bug: Moving RangeInput or RangeSelector on Chrome for Android triggers swipe-to-go-back/forward"
### Expected Behavior

You should be able to swipe on RangeInputs and RangeSelectors without triggering any side effects.

### Actual Behavior

Swiping on them triggers the back button or forward gestures on Chrome for Android.

### URL, screen shot, or Codepen exhibiting the issue

See the official RangeInput Codesandbox
https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=rangeinp

[2019-11-01 06:39] ericelliott commented on #3271
Just popping in to say hello! 👋

And to add: I love TypeScript. But it does have a high maintenance burden, particularly for large projects with many contributors with many different skill levels.

In my articles, I'm not trying to convince people not to use TypeScript. Here are some verbatim quotes that people seem to overlook because people like things to be simple black-and-white answers rather

[2019-11-01 21:32] blakehilliard opened #3521 "Grommet component with full prop does not extend with scrolling"
When I render a `<Box fill background=something>` inside a `<Grommet full>` which goes down further than the browser can show, and then I scroll down, the background color of the Box stops at the point where the initial view was cut off. If I remove "full", the background color extends downward as expected.

### Expected Behavior

The full prop should not make it _less_ full in how much space it f

[2019-11-03 17:22] remjx opened #3522 "Checkbox Toggle inconsistent border pixel size on hover"
### Expected Behavior

Toggle border does not look pixelated on hover.

### Actual Behavior

When the toggle is off, and I hover over the toggle button, the visible border on the left side is an inconsistent number of pixels.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/35121685/68089160-078dd180-fe34-11e9-94ad-d41db1f46cd4.png)

### St

[2019-11-04 13:50] felipebrunetti94 commented on #3522
got it  :D

[2019-11-04 22:30] ShimiSun commented on #3522
what do you mean by

would you expect not to see the border at all when hovering on the left side of the toggle off checkbox?

[2019-11-04 23:42] markjackson02 commented on #3522
Not sure if it would look better with or without border when toggle is off. But right now it is somewhere in between and it looks off. That screenshot is from 1080p desktop. On iPhone XR it is less noticeable because of higher resolution / antialiasing.

[2019-11-05 01:28] LiveFreeAndRoam opened #3525 "Menu component does not honor a11yTitle text"
Attempts to set the a11yTitle on a menu component does not work.  Instead, the aria-label appears to be hardcoded to "Open Menu"

### Expected Behavior
I expected the HTML button's aria-label to be set the same as my Grommet's Menu a11yTitle text.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/menu-a11ytitle-not-honored-48mq7

Use developer to

[2019-11-05 07:40] mamathaveluru commented on #3071
@ShimiSun @ericsoderberghp Great to see that Grommet prioritized FileInput, When can we expect this available in grommet package? Thanks in Advance.

[2019-11-05 16:49] taysea commented on #3525
Hey there, thanks for bringing this up. At the current time, the way to adjust the aria-label would be to use the `messages` prop (https://v2.grommet.io/menu#messages). By default the control button has 'Open Menu' so that users with screen readers can receive an indication of what pressing the button will do, but you are welcome to change it to the label on your menu or anything you'd like. Hopef

[2019-11-05 17:38] taysea opened #3526 "Discussion on format of storybook titles"
Opening a discussion on how Grommet Storybook examples are named/formatted. Across the board, we are using very various capitalization/formatting approaches. For example, some stories use a mixture of upper and lower case (`Areas prop alternative`) while the majority use title case (`Responsive Grid`). For consistency across stories, I think we should come up with a style guide on how stories are

[2019-11-05 22:08] ShimiSun commented on #3526
Thank you for putting this together!
linking to #3212

[2019-11-05 22:28] ericsoderberghp commented on #3526
I am leaning towards Title case for folders, matching the case of properties when a story is for demonstrating that property, and using Sentence case for all other stories.

[2019-11-05 22:37] taysea commented on #3526
And what about stories that have multiple concepts in the title. Would we want to standardize punctuation/phrasing in any way? For example there is a story for Accordion called `Dark no animation`. I think the title makes sense to someone familiar with grommet, but for a new user it might not be clear that it's really saying Dark _and_ there's no animation on the panels. Some variations in how tha

[2019-11-05 22:52] ericsoderberghp commented on #3526
I'd tend towards simple English sentences:

- Dark without animation

And, since `help` is a property of `FormField`:

- help and error

[2019-11-05 23:03] ShimiSun commented on #3526
For the latter, I'm thinking it will look inconsistent if some stories will be names lower case while others won't, and I'm inclining to do it all lower case like the storybook official https://storybooks-official.netlify.com/?path=/story/addons-notes--addon-notes-rendering-inline-github-flavored-markdown

[2019-11-06 03:46] ryanjchr commented on #3481
I've had success with this by re-declaring Select and SelectProps as generic types as follows:
[code]

And then you can use `Select` just as you always have, no need to use the diamond operator or anything, because the generic type gets inferred from the type of the `options` prop.
[code]

Heres a codesandbox that demonstrates the above:
https://codesandbox.io/s/select-grommet-generic-es6un

[2019-11-06 18:00] ShimiSun commented on #3497
@gaku-sei , hi buddy, can you provide a sandbox that reproduces the problem?

[2019-11-07 08:50] NiekBetty opened #3531 "Theme's formField `border: false` example in storybook is not supported by types"
I use Grommet in a typescript project. My goal is to remove the default border from the `FormField` component via the theme. However, when I follow the example in the [FormField Custom Theme section](https://storybook.grommet.io/?path=/story/formfield--custom-theme) in storybook, my typescript linter errors.

### Expected Behavior

Typescript builds the project.

### Actual Behavior

Typescript th

[2019-11-08 12:19] TimPchelintsev opened #3536 "Carousel bug: can't click child element"
### Expected Behavior

Thanks for a great lib! I embed Facebook video as one of Carousel children. I want to play it.

### Actual Behavior

Can't play video. Click is not propagated, checked with console.log inside onClick, no output.

### URL, screen shot, or Codepen exhibiting the issue

[![Edit Grommet v2 Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/

[2019-11-08 16:16] ShimiSun commented on #3536
hi buddy, I don't see the video link or attachment, what am I missing?
It will be easier for us to provide a quicker solution if you can reproduce the issue on a codesandbox (here is a template https://codesandbox.io/s/m7mml8l0zj) or on one of our existing storybook examples https://storybook.grommet.io/?path=/story/all--all

[2019-11-08 16:28] ShimiSun commented on #3531
Fixed, and will be available on our next release, thanks for reporting!

[2019-11-08 16:28] #3531 closed

[2019-11-08 16:38] TimPchelintsev commented on #3536
Thank you for quick response, I have added link to initial comment, but anyway:
[![Edit Grommet v2 Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/grommet-v2-template-2q4tc?fontsize=14)

[2019-11-08 17:15] ShimiSun commented on #3517
Thank you for reporting, the fix will be available on our next release! (soon :) )

[2019-11-08 17:15] #3517 closed

[2019-11-08 21:06] taysea opened #3539 "FF - DataTable search box enters next column"
### Expected Behavior

The column width should expand to contain the TextInput so the adjacent column title is not overlapped.

### Actual Behavior

The TextInput that appears when the search icon is clicked pushes the column boundary into the next column and creates an overlap between the content of 2 columns.

### URL, screen shot, or Codepen exhibiting the issue

<img width="476" alt="Screen Sh

[2019-11-08 21:16] taysea opened #3540 "List actions sometimes aligns with wrong list item"
### Expected Behavior

There are two approaches I see, but in both I think the "..." should remain aligned with the list item clicked. The two ideas I have are:
1. Leave the action items below the "...", and maybe the page scrolls down to make space when this drop is opened.
2. Move the action items so they appear above the "...". This would essentially be making the control button ("...") on the

[2019-11-09 00:18] ericsoderberghp commented on #3540
I think this is actually an issue with Menu. The Drop alignment is being adjusted because there isn't room at the bottom of the screen to show it. But, the Menu isn't changing the location of the mirrored control.

[2019-11-09 03:31] clockelliptic opened #3542 "Unable to change focus behavior of `TextInput` / `Selection` components via theme"
I would like to great a reusable Grommet theme where the focus-state of `Selection` and `TextInput` is a custom color. There is apparently not possible to change this by providing a theme to a Grommet component. It is not possible by using the Grommet Theme Builder.

Perhaps I am not editing the theme correctly, I don't know.

### Behavior

I provide a theme as a prop to the main app component in

[2019-11-12 19:26] blakehilliard opened #3544 "Collapsibles using min width overflow with a Box to their right"
An open Collapsible that is using a minimum width overflows with a Box next to it.

### Expected Behavior

Using a Collapsible should not affect this behavior. There should be no overflow between the Boxes.

### Actual Behavior

It overflows.

### URL, screen shot, or Codepen exhibiting the issue

![grommet-collapsible-overflow-bug](https://user-images.githubusercontent.com/25166376/68703080-7fa07

[2019-11-12 22:27] #3539 closed

[2019-11-13 02:42] blakehilliard commented on #3521
A codesandbox: https://codesandbox.io/s/grommet-issue-3521-lixy7

[2019-11-13 14:29] RobertoSnap opened #3545 "FormField > TextInput as number becomes text after change"
### Expected Behavior
When passing a number to a FormField > TextInput it should resolve a number value on submit.

### Actual Behavior
It resolves the number as a string.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-sandbox-utqys

### Steps to Reproduce

1. Input name
2. Click submit
3. Check console (Age is number)
4. Input age
5. Click submit
6. Check

[2019-11-13 14:36] RobertoSnap commented on #3545
Worked by adding `type="number"` to the FormField.

Maybe document this?

[2019-11-13 14:36] #3545 closed

[2019-11-13 16:43] blakehilliard commented on #3544
I found I can avoid the issue by using `flex` rather than `fill` for the Box to the right of the Collapsible.

[2019-11-13 19:41] ShimiSun commented on #3545
@RobertoSnap thanks for sharing. `type` prop is coming from HTML input tag and grommet is documenting the grommet props and not all react or html props.
Will you be willing to make a contribution to https://storybook.grommet.io/?path=/story/form--all so the Employee ID field will have type="number" so the users will still be able to see an example of how to achieve it?

[2019-11-13 22:31] blakehilliard opened #3546 "gap prop ignored for items in Menu"
For Menu "items", the documentation says `The object values can be any Button prop`. But if I specify a "gap", it is ignored.

### Expected Behavior

The gap should be used to put space between the icon and label of the item, just like in a "Button".

### Actual Behavior

No gap is used.

### URL, screen shot, or Codepen exhibiting the issue

Here is a codesandbox demonstrating the issue: https://

[2019-11-14 00:51] ShimiSun commented on #3546
Thank you for filing this issue. It's a bug with how the icon is rendered separately from the button. We'll take a look at that.

[2019-11-15 00:02] ShimiSun opened #3551 "Enhance Box `direction`"
This request is coming from slack.

Currently, we don't have a straight forward way to provide a solution (besides manipulating the layout with ResponsiveContext).
A nice enhancement that will allow this functionality in a more straight forward way will be to extend the `direction` prop:
`direction={{ direction: 'row', responsive: true, reverse: true }}`

https://grommet.slack.com/archives/C04LMHN

[2019-11-15 15:45] rodrigoalvesvieira commented on #3447
I've also observed this same behavior

### Your Environment
Chrome 78.0.3904.97 on macOS.

 * Grommet version: 2.7.8

[2019-11-15 16:21] ShimiSun opened #3552 "useEventHandler custom hook suggestion"
`onResize` depends on `width` and `height` variables from state. So whenever these variables will change, our effect would re-run and add/remove the handler again.. and again.
If it's not much of a problem, I can move the handler into the effect.

I suggested above that we should extract this as a custom hook `useEventHandler` based on this example: https://codesandbox.io/s/z64on3ypm
I did the sam

[2019-11-15 18:13] oorestisime commented on #3551
That looks to be abreaking change. How about adding a just a reverse prop? that defaults to false?

[2019-11-15 18:17] oorestisime commented on #3497
Out of a hunch @gaku-sei are you using a custom theme? maybe you don't deep merge with base?

[2019-11-15 18:21] oorestisime commented on #3496
Hey hey sorry for the long wait. indeed this is a limitation for SSR which is unrelated to grommet. This particular problem is mostly related to gatsby since during build time it doesn't have any way of knowing the view port.
Not sure if there's anything that can be done in grommet for that matter. Let us know or feel free to close this :)

[2019-11-15 18:23] oorestisime commented on #3447
Calling the infinite guru :D @ericsoderberghp

[2019-11-15 18:24] oorestisime commented on #3437
I agree on adding one. i am not sure which one is better and for what reason. lets go with react?

[2019-11-15 18:27] oorestisime commented on #3444
Agreed on this. been hit by this as well. maybe the solution is to add `overlfow: auto`  what do you think @adamazing

[2019-11-15 18:29] ShimiSun commented on #3551
Why do you think it's a breaking change? 'direction' prop will still accept a string along with the suggested object

[2019-11-15 19:00] oorestisime commented on #3551
yeah if we add both types then it wouldn't be a breaking change.
but then we would have to support two code path for the same thing (direction with responsive) and keep the string limited to direction-responsive since we wouldn't be adding row-responsive-reverse i suppose.
no strong opinion on this :D  just felt it might be smoother to implement

[2019-11-15 20:28] #3546 closed

[2019-11-15 20:43] ShimiSun commented on #3544
@blakehilliard interesting it solved it for you, I've replaced `fill` with `flex` on line 21 on the codesandbox you've provided and it doesn't allow the Collapsible to close/open.

[2019-11-15 20:48] ShimiSun commented on #3546
Thank you for reporting, the fix will be available on our next release.

[2019-11-15 22:46] iMerica opened #3554 "MaskedInput component is indistinguishable from a placeholder"
## Summary
Currently the masked input behavior behaves more as input validation with a placeholder, not as mask.

![output](https://user-images.githubusercontent.com/487897/68980325-c7c8d180-07c5-11ea-8f07-66071c961712.gif)

## Steps to Reproduce
- View the input mask example for emails in the [storybook](https://storybook.grommet.io/?path=/story/maskedinput--email)
- Observe that the entire email

[2019-11-15 23:07] taysea commented on #3525
@ShimiSun I think we can close this now that my PR merged : )

[2019-11-16 00:39] #3525 closed

[2019-11-17 21:23] ShimiSun commented on #3389
I think we can close this one now unless @brianbancroft thinks we can improve elsewhere.

[2019-11-18 00:49] brianbancroft commented on #3389
Concurred. Closing.

[2019-11-18 00:49] #3389 closed

[2019-11-18 22:05] nprizal opened #3556 "Clicking on button inside Menu component doesn't work sometime"
I'm writing a test for my app using puppeteer, and noticed that sometime it cannot click the button inside `Menu` component. The problem is because when grommet render the menu, sometime it doesn't correctly calculated the width of container, and clicking on the button resize that container instead of trigger the click handler.

### Expected Behavior

Clicking on button inside `Menu` component sho

[2019-11-19 00:50] ShimiSun commented on #3556
It will help us solve/reproduce the problem if you can provide a reliable codepen or codesandbox that reproduces the problem.

[2019-11-19 00:52] halocline commented on #3496
FYI, the FOUC is related to styled-components and can be eliminated from Gatsby by using this plugin: https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/

Basically you need to add `gatsby-plugin-styled-components` and `babel-plugin-styled-components` as dependencies, then modify `gatsby-config.js` to apply the plugin.

These posts provide additional background context as well:
- ht

[2019-11-19 01:31] ShimiSun commented on #3496
Thanks for sharing @halocline !
@sergeylukin I'll be closing this issue, feel free to reopen or ask more questions.

[2019-11-19 15:45] halocline commented on #3496
For clarification, the plugin above resolves the unstyled content flash.  The responsive context portion @TheWeeezel and @oorestisime mention is likely a separate issue where Gatsby is building the project with an assumed viewport --> initial render occurs --> responsive context --> re-render occurs, which could result in some jumpiness. We'd need to investigate further, but I'd be curious if one

[2019-11-19 15:55] ShimiSun commented on #3496
Thanks, I've reopened to leave room for discussion, @sergeylukin feel free to give this suggestion a try and let us know if that works.

[2019-11-19 16:03] oorestisime commented on #3496
This is not a good idea since performance and SEO would be heavily impacted. But even if someone would do this it would happen outside of grommet context.
In some of the application i solved this by delaying some parts of the application not all of it and trying to heavily use media queries rather than JS for some of the component structure.

[2019-11-19 17:54] jesseolsen opened #3559 "ie11: <Markdown components={{ ... 'Anchor' fails"
On ie11 (fine on other browsers, such as chrome), the following does not work:

[code]

From our application, I got these console errors:
[code]

### Expected Behavior

Clicking on the "reference" link should open google.com in a new tab.

### Actual Behavior

Nothing happens.

### URL, screen shot, or Codepen exhibiting the issue

Codesandbox does not work on ie11.

### Steps to Reproduce

1. Cli

[2019-11-19 19:29] taysea commented on #3559
Hey! @jesseolsen, `a` is automatically overridden by grommet's `Anchor`, so you actually don't need to provide a component there. You should be able to use this code, and it should work fine on IE11 or any browser.
[code]

[2019-11-20 00:22] iMerica opened #3563 "SVG Errors when passing an empty array to charts"
Sometimes, in React components we need to pass an initial state before dynamic data is loaded. When you pass this empty data to the chart component, errors display in the console.

[code]

### Expected Behavior

`[]` should be valid data for charts.

### Actual Behavior

SVG errors

### Steps to Reproduce

[code]

### Your Environment

- Grommet version: "grommet": "^2.8.0",
- Browser Name and ver

[2019-11-20 11:23] sergeylukin commented on #3496
Thanks everyone for jumping in and sharing your opinions. @ShimiSun thanks for keeping it open until we reach an end-of brainstorming or come up with a satisfying solution here. This weekend I will try different methods and will get back with the results of my research. Stay tuned 😉

[2019-11-22 04:15] nortonglitz opened #3567 "hoverIndicator not working"
### Expected Behavior
Should change the background color and other stuffs while the mouse is on the Box

Example:
https://codesandbox.io/s/condescending-cdn-plrid?fontsize=14&hidenavigation=1&theme=dark

[2019-11-23 00:00] ShimiSun commented on #3567
Hi buddy, thanks for your patient, this fix is available on grommet 2.8.1 that was released today, I double-checked it with your sandbox and it works as expected https://codesandbox.io/s/clever-darkness-wq5iy
I'll be closing this PR, feel free to shoot us questions if needed

[2019-11-23 00:00] #3567 closed

[2019-11-24 23:58] adamazing commented on #3444
@oorestisime I think it depends on your use-case. For a lot of people, the expectation of a modal (which is what we're using Layer for) is that it takes over the whole screen and prohibits scrolling of the background content (which I think `overflow: auto` would permit)?

[2019-11-25 11:34] vrde opened #3568 "Consider adding `fill` to Markdown"
### Expected Behavior
As a user of the library I would like to have a `fill` option when rendering markdown using the `Markdown` component.

The `fill` option can be used in the `Paragraph` component, and I would expect to have the same behavior using `Markdown`.

### Actual Behavior
Right now I have no way to make the paragraph fill the width of the container :crying_cat_face:

A workaround would

[2019-11-25 12:26] krishna-panjimar opened #3569 "Not able change selected date range in Grommet V2 Calendar picker"
### Expected Behavior

When we pre-select date ranges in calendar component then it should allow us to change date ranges on changing dates

### Actual Behavior

currently when we pre-select date ranges then it won't allow us to change the date on clicking on dates

Here is my code https://codesandbox.io/s/grommet-sandbox-e19j8

### Steps to Reproduce

1. By default initialize date ranges
2. Click

[2019-11-25 14:48] oorestisime commented on #3568
With the addition of the fill prop in Paragraph https://v2.grommet.io/paragraph#fill
You can component override with the Paragraph component and set the fill there.

Something along the following should work
[code]

I am not sure it makes sense to set this as a default

[2019-11-25 14:54] oorestisime commented on #3569
Your previous date is always undefined in your case because you enter first in the else statement of the first if.
You need to check if  you don't have a previous selected date already to set it up at that time. You may also need to clear this value as soon as you enter the next date in range.

[2019-11-25 15:42] ShimiSun commented on #3559
@jesseolsen any updates on this one? can we close it?

[2019-11-25 15:52] ShimiSun commented on #3542
Have you seen this story where you can customize the theme focus color? https://storybook.grommet.io/?path=/story/theme--focus
Does that answer your question?

[2019-11-25 15:56] ShimiSun commented on #3497
we released a new version of grommet (2.8.1) couple of days ago with typescript fixes, please let us know if this is still reproducible.

[2019-11-25 16:44] vrde commented on #3568
Thank you for the tip! I've tried it out and it works.

As a newbie, I think `fill` would avoid confusion and align the behavior of the `Markdown` component to the one of `Paragraph`.

[2019-11-26 17:59] oorestisime commented on #3568
Do you mean adding a fill prop in the Markdown component that we forward to the Paragraph?

[2019-11-26 19:01] ShimiSun commented on #3563
Thanks for reporting, the issue is fixed on the master branch and will be available on our next release.

[2019-11-26 19:01] #3563 closed

[2019-11-27 04:25] naishe opened #3572 "React Router and Anchor do not work together"
I am setting up a new React project using Grommet. Grommet Anchor and React Router Link won't work together. Here is my requirements:

1. The links should be stylized by Grommet. I am using `Anchor` component for this and UI theming is controlled by Grommet.
2. I am using React Router, and the app heavily depends on `Link` component.

### Reasoning behind why this is crucial
1. I want the user to

[2019-11-27 04:28] naishe commented on #3572
FYI @ShimiSun @oorestisime

[2019-11-27 08:47] oorestisime commented on #3572
Thanks for this detailled issue. i ll work on this tomorrow. please hang in there a bit more.

[2019-11-27 10:15] vrde commented on #3568
Exactly :+1:

[2019-11-27 10:52] GaryB71 opened #3574 "DataTable onClickRow missing on Typescript"
Implementing the dataTable in typscript and the onClickRow method is not present/throws TS error

### Expected Behavior
Shoudl be supported as on the js version

### Actual Behavior
`/home/gary/Source/ui/src/modules/databases/components/DatabaseTable.tsx
TypeScript error in /home/gary/Source/-ui/src/modules/databases/components/DatabaseTable.tsx(82,8):
Type '{ key: string; columns: any[]; data: an

[2019-11-27 20:49] ShimiSun commented on #3574
Thank you for reporting buddy! I filed a fix for it.

[2019-11-27 21:36] #3574 closed

[2019-11-28 22:12] atoy40 opened #3576 "Datatable infinite scrolling doesn't work with changing data"
InfiniteScrolling doesn't work when DataTable is instanced with an empty list and then updated later.

### Expected Behavior

Infinite scroll must display the remaining data items.

### Actual Behavior

When data of the DataTable is not set at initialisation, only the first "page" of data appear and infinite scroll doesn't work (it's working with 2.8.0 but not with 2.8.1)

### URL, screen shot, or

[2019-11-29 14:01] krishna-panjimar commented on #3569
@ShimiSun Thank you for responding. Can you please tell me when can I clear the preselected range. Once we initialize dates then onSelect event is not triggering.

[2019-11-30 05:45] michaeljguarino opened #3577 "No opt-out for box focus style if onClick is specified"
Looks like this PR https://github.com/grommet/grommet/commit/aa70b6ecd6ac875e58615a123c71c93ad4d5907a added some neat functionality around hoverIndicators and focus handling, unfortunately the styling applied isn't possible to opt-out, so suddenly any box using an onClick event handler now gets them.  Ideally this can be avoided.

### Expected Behavior

Have a way to disable focus styling.

### Ac

[2019-11-30 07:55] krishna-panjimar commented on #3569
I got the solution. I need to initialize range in this formate [["2018-10-19", "2018-11-23"]]. Please close this issue.

[2019-11-30 07:55] #3569 closed

[2019-11-30 16:28] JCole45 commented on #2413
Sorry, but how do we apply the solution, please?

[2019-11-30 16:47] ShimiSun commented on #2413
I'm AFK, but a quick idea to try is to override its boxshadow value from the extend option of the select theme.

[2019-12-03 04:49] JasonRoss-bt opened #3578 "TypeScript: ExtendType does not accept styled-components css helper"
### Expected Behavior

Previously we were able to use the `css` helper for `extend`ing components in the theme; however, the new typed theme does not seem to allow for it.

[code]

### Actual Behavior

TypeScript build fails with:

[code]

### URL, screen shot, or Codepen exhibiting the issue

Codepen: https://codesandbox.io/s/grommet-typescript-theme-extend-issue-cbpo8

### Your Environment

- Gr

[2019-12-03 06:56] ryanjchr opened #3579 "Select options vanish when the page has been scrolled down"
### Expected Behavior
A Select dropdown that is open should show its options in the dropdown no matter the user's Y-Scroll position on the page.

### Actual Behavior
As of Grommet 2.8.1, when the user has scrolled a page down a certain amount and opens a Select dropdown there will be no options in the dropdown. Likewise, if a user opens a Select while not scrolled too far down the page, the option

[2019-12-03 18:06] iMerica opened #3580 "Proposal: Add support for more semantic React Elements"
### Background

One pain point of Grommet currently is readability and debuggability due to the overloading of `Box`, which communicates zero intent.

For example, let's say all your margins are inconsistent between pages on a site and you want to fix it. In today's Grommet, this is a frustrating experience because, when looking in your Web Inspector all you will see is Style Component random clas

[2019-12-03 18:45] dmitryrn opened #3581 "Property 'index' does not exist on type 'MouseEvent<Element, MouseEvent>'"
Typescript error in "onClickItem" in https://storybook.grommet.io/?path=/story/list--selection `Property 'index' does not exist on type 'MouseEvent<Element, MouseEvent>'`.

As I can see from typings type of onClickItem is: `onClickItem?: (event: React.MouseEvent) => void;` and `React.MouseEvent` does not have `index`. And as I can guess you adding `index` prop on this event.

### Expected Behavior

[2019-12-04 16:42] ltchurch88t commented on #3574
Error still seems to be happening on the new release, any thoughts?

`Property 'onClickRow' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Component<DataTableProps & ClassAttributes<HTMLTableElement> & TableHTMLAttributes<HTMLTableElement>, any, any>> & Readonly<...> & Readonly<...>'.  TS2322`

[2019-12-04 17:09] Blacknosaur commented on #3521
You can bypass the issue by adding height 100% to your html, body and your grommet component.

[2019-12-04 17:20] rodrigopavezi opened #3593 "Typescript error with type Colors"
[code]
### Expected Behavior

Compile Successfully

### Actual Behavior

Failed to compile.

### Steps to Reproduce

yarn start

### Your Environment

- Grommet version: 2.8.1
- Typescript version: 3.7.2
- React Version:  16.8.6

[2019-12-06 05:23] ShimiSun commented on #3593
Hi buddy, can you provide more information? I started a codesandbox of React+TypeScript+Grommet, and I wasn’t able to reproduce the issue https://codesandbox.io/s/reacttypescriptgrommet-dq6tg (clean of warnings and errors), feel free to add to this codesandbox any code that will help us reproduce the problem you are experiencing.

[2019-12-06 05:38] ShimiSun commented on #3521
Hi @blakehilliard , you have a bug in your bug, you should use `full` instead of `fill`, there is no `fill` prop for Grommet.
I fixed it and it seems to work as expected https://codesandbox.io/s/grommet-issue-3521-tk0ro
I'll be closing the issue, feel free to reopen if needed.

[2019-12-06 05:51] ShimiSun commented on #3574
@ltchurch88t are you pointing to the master branch? There was no release with this fix yet. you can point to the master branch until the next release.

[2019-12-06 09:59] luski commented on #3593
I have the same problem on create-react-app

[2019-12-06 13:21] rodrigopavezi commented on #3593
Issue has been fixed after upgrading the project to the latest create-react-app. Cheers

[2019-12-06 15:57] blakehilliard commented on #3521
I'm confused. The example and codepen I posted do use `full` for Grommet. And when I look at your codepen, it still has the same issue.

I don't have permission to re-open this issue. So I guess I'll just open a new one in a few days if this doesn't get re-opened by someone with permission to do so.

[2019-12-06 16:14] ShimiSun commented on #3521
@blakehilliard reopening and taking another look....

[2019-12-06 16:18] ShimiSun commented on #3521
@blakehilliard so it works if you remove the `fill` from the upper Box, was there a reason you used it there? https://codesandbox.io/s/grommet-issue-3521-tk0ro

[2019-12-07 22:47] markjackson02 commented on #2973
Hi any status update here? @ShimiSun @JetLim @oorestisime

[2019-12-08 00:22] iMerica opened #3605 "Checkboxes respond to clicks outside of visible area"
## Summary

See below

![output](https://user-images.githubusercontent.com/487897/70382230-2d6c3180-191e-11ea-94ae-e1417ed9d0b7.gif)

### Expected Behavior

I expect this toggle checkbox to only respond when I click on the area

### Actual Behavior

The state changes even when a click occurs outside the visible area of the element.

### Steps to Reproduce

Add a checkbox with the following props:

[2019-12-09 16:34] blakehilliard commented on #3521
Well the codepen was an oversimplified example to just demonstrate the problem. What I'm trying to do is just have a consistent background color for an app no matter how much info gets displayed on the screen. If you have to scroll down, I don't want the background color to suddenly get cut off. But if I remove `fill`, and the browser is larger than the amount of space it needs, I don't want the b

[2019-12-09 17:27] ShimiSun commented on #3521
Thanks for clarifying @blakehilliard

[2019-12-09 22:56] Dirk-tooth opened #3607 "Footer not present in package"
In the documentation there is a `<Footer>` component but it does not appear in the distributed package anywhere and throws an error when I try to import it into my app.

### Expected Behavior

From the docs (https://v2.grommet.io/footer)

[code]
should exist and render a footer component.

### Actual Behavior

Error in the terminal when using the footer component in my app:

[code]

My import:

[c

[2019-12-09 23:35] #3593 closed

[2019-12-09 23:36] oorestisime commented on #3578
Do you know which version was working?

[2019-12-10 00:37] ShimiSun commented on #3607
Hi buddy, Footer, Header & Main have been introduced less than a week ago and weren't officially released yet, they will be available on the upcoming 2.9.0 release

[2019-12-10 00:37] #3607 closed

[2019-12-10 00:58] ShimiSun commented on #3605
Hi buddy, can you share a codesandbox? I'm looking at https://storybook.grommet.io/?path=/story/checkbox--toggle and I don't see it reproducing.

[2019-12-10 01:00] ShimiSun commented on #3559
I'm guessing the issue was resolved, feel free to let me know if this one needs to be reopened.

[2019-12-10 01:00] #3559 closed

[2019-12-10 01:04] ShimiSun commented on #3578
hi buddy, @JasonRoss-bt, care to make a contribution and extend the `ExtendType`? and should go here https://github.com/grommet/grommet/blob/e6bac4512e0ae18fdfce17ba65f4a7d920f1000a/src/js/themes/base.d.ts#L18

[2019-12-10 01:11] ShimiSun commented on #2973
hi buddy, thanks for the friendly reminder, I won't be able to be the main driver of this feature (lots on my plate at the moment) but feel free to drive this enhancement, or maybe @oorestisime will be able to join too?
I would say that I think we should go with option #2.

[2019-12-10 01:28] oorestisime commented on #2973
I have also a lot on my plate right now. my schedule and availability should look much better in 2 weeks. If it can wait till there then i am happy to take this.

[2019-12-10 02:44] iMerica commented on #3605
Here's a quick one that demonstrates the problem

https://codesandbox.io/s/grommet-v2-template-xnmqs

[2019-12-10 17:07] ShimiSun commented on #3593
Thi issue is related to storybook ts config.
https://github.com/rajeshnaroth/cra-ts-grommet-storybook/pull/1/commits/3e095bb3bef752938a06471ee8bcb5f3511a1879

Find more info on this thread https://grommet.slack.com/archives/C04LMHN59/p1575615061265900

[2019-12-10 20:36] Dirk-tooth commented on #3607
@ShimiSun, Awesome, looking forward to seeing them implemented! When you you plan you have the 2.9.0 release available?

[2019-12-10 21:02] ShimiSun commented on #3607
@Dirk-tooth by the end of week :)

[2019-12-10 21:21] Dirk-tooth commented on #3607
oh AWESOME! y'all rock, thanks! looking forward to it and loving grommet so far!

[2019-12-10 22:49] taysea commented on #3556
@nprizal I'd love to look into this issue. Can you share a codesandbox link with the code you are using for the Menu?

[2019-12-10 23:31] DAnselC opened #3609 "Calendar traps keyboard users"
### Expected Behavior

My personal opinion is that tabbing once into the calendar sets focus on the calendar, and then from there the arrow keys navigate through days. A second tab should then tab the keyboard user out of the calendar.
However, minimal expected behavior is that there should be _a_ way to get out of the calendar with a keyboard.

### Actual Behavior

Currently, once you start tabbi

[2019-12-11 16:29] ShimiSun opened #3611 "Box `border` is missing boolean value on docs"
`<Box border />` is a valid usage yet not documented. `border="true"` will apply borders to all sides.
https://v2.grommet.io/box?c=DwIQ9gHgUABDAmBLATgUwMYBdFgHYF4AiZMAd0NjiuuoCMxl5VlKAHAQ3iIFtUkBXbhQB8lUJBgcuhAM7d2AGwWEYtdugDWAcxL9c0+O2QaAtAGYVAelFxxESZx59EglWs06we6QsRaAFpjmVqLAluAQwkA#border

[2019-12-11 18:24] #3581 closed

[2019-12-11 18:33] ShimiSun commented on #3581
Thank you for reporting, fixed and will be released on grommet 2.9.0.

[2019-12-11 22:05] MLRichmond opened #3614 "AccordionPanel header support for nested interactive elements"
When attempting to nest an interactive element, such as a `<Button>` inside the AccordionPanel header, a warning is issued:

index.js:1 Warning: validateDOMNesting(...): <button> cannot appear as a descendant of `<button>`.

It is possible to work around this issue by doing something like this:
`<Button as='div' onClick={(event) => { dostuff();  event.stopPropagation();}}/>`

But this leads to sty

[2019-12-12 01:51] adamazing commented on #3450
@ShimiSun, the issue seems to have been resolved in v2.8.1 and I can no longer reproduce the bug on: https://v2.grommet.io/radiobuttongroup   👍

[2019-12-12 03:42] #3450 closed

[2019-12-12 05:10] IvanFrescas commented on #3605
Hi, I think this can be solved if we add the width property with the value fit-content.
Is it okay if I do a PR with this?
<img width="510" alt="Screen Shot 2019-12-11 at 22 02 51" src="https://user-images.githubusercontent.com/16979749/70684265-cffc1b80-1c62-11ea-97c0-14babc316fb5.png">

[2019-12-12 06:36] iMerica commented on #3605
That would be great. Thanks @IvanFrescas  👍 .

[2019-12-12 19:56] JasonRoss-bt commented on #3578
@ShimiSun Thanks for pointing me to the right file... saved me some time :)

I'm working on a fix and hope to have a PR soon.

[2019-12-13 00:26] ShimiSun commented on #3577
Fix will be available on the next Grommet release 2.9.0.

[2019-12-13 00:26] #3577 closed

[2019-12-13 10:09] abishekram opened #3621 "Right to left support in Grommet 2"
Is right to left supported in Grommet 2 ?

[2019-12-13 13:32] ShimiSun commented on #3621
Unfortunately, it does not.

[2019-12-13 14:08] elpagano commented on #2475
how can I put lines between the columns of a table

[2019-12-13 20:42] dstordy opened #3623 "Layer component leaving container div in document"
The element `layerContainer` is never removed from the document in `Layer`.
This leaves many `div` elements in the `body` node.
It looks as if when animate on exit behaviour was added in #3307 the portal's container is no longer being removed after the clone for animation.
This also seems to impact the refactor #3520.

### Expected Behavior

The `body` node is left in a 'clean' state when the `Lay

[2019-12-14 22:18] ssolari commented on #3567
I have been trying to get the hoverIndicator to work on a Box.    I can not seem to make it work at all.   I looked at your sandbox and absolutely nothing happens on hover over?   Should anything happen?   If so what?

On my side, I upgraded to Grommet 2.9.0.   I looked through #3330 (which I agree with, the docs are extremely hard to understand).   In that issue there is another sanbox that works

[2019-12-15 06:24] joybhallaa commented on #3611
Can I work on this ?

[2019-12-16 03:45] ShimiSun commented on #3611
@joybhallaa absolutely!

[2019-12-16 03:47] ShimiSun commented on #3621
#3271

[2019-12-16 03:50] ShimiSun commented on #3497
Hi buddy, we've released 2.9.0 and I think this one is already fixed. feel free to reopen or file a new issue if it is still reproducing for you.

[2019-12-16 03:50] #3497 closed

[2019-12-16 03:53] #3326 closed

[2019-12-16 12:00] RobertoSnap opened #3624 "Select options removed from DOM on scroll"
When working with one or multiple select boxes. The options de-renders when scrolling.

### Expected Behavior

Options should not be removed from DOM when scrolling

### Actual Behavior

Options are removed from the select drop.

### URL, screen shot, or Codepen exhibiting the issue
See GIF HERE : https://i.imgur.com/1uK6ew7.gifv

### Steps to Reproduce
Managed to recreate this in a sandbox: Check

[2019-12-16 12:44] localnet commented on #3572
It is not fully tested, but seems to work as temporary workaround.

Component `NavigationLink`:
[code]

Use the component with Grommet `Anchor`:
[code]

It require a little more of work to see how handle `disabled`, at now the style work perfectly but the link yet permit to click.

PS: Unfortunately, this not work with `Button` well.

[2019-12-16 15:14] RobertoSnap commented on #3624
The replace property on the select seem to fix this. Testing further.

[2019-12-16 23:28] ericsoderberghp commented on #2475
Via the `border` property of DataTable. https://v2.grommet.io/datatable#border

[2019-12-16 23:30] ShimiSun opened #3625 "New Text sizes"
https://github.com/hpe-design/aries/pull/112#discussion_r358509836

...I've wanted a larger size on Text as well. @L0ZZI and I discussed last week and he was going to work on that. So, I think we need some larger text size options for grommet in general.

[2019-12-17 02:31] brianbancroft commented on #2090
@ericsoderberghp hi there, I just wanted to say hi and let you know that `Grid.Available` is no longer visible in the documentation. If someone else finds this as one of the first hits for a "Grommet Grid IE" search (as is my case), you can see it in the source code: https://github.com/grommet/grommet/blob/master/src/js/components/Grid/Grid.js#L32

[2019-12-17 11:42] elpagano commented on #2475
Yes ok but how? there are no examples?
Can you put vertical lines? because in the documentation it only says horizontal.
I solved it by putting a box with a fill = "vertical" border = {{size: "xsmall", side: "left"}} but it's not an elegant solution

[2019-12-17 21:37] RobertGary1 opened #3626 "Form component doesn't allow children to flex"
If you have a form around your containers you cannot make 1 child container flex and scroll.
### Expected Behavior

Without form notice how only the 2nd container (table) scrolls...
https://codesandbox.io/s/grommet-v2-template-thcht

If you make the parent a form the scroll is missing
https://codesandbox.io/s/j8njp1lpv?fontsize=14&hidenavigation=1&theme=dark

1 solution is to change the Form displ

[2019-12-17 21:59] RobertGary1 commented on #3626
This may similarly affect formfield although I've not taken the time to verify that.

[2019-12-17 22:29] #3624 closed

[2019-12-18 14:14] felipebrunetti94 commented on #2975
is this issue still open ?

[2019-12-18 14:20] felipebrunetti94 commented on #3579
is this one up for grab ?

[2019-12-19 19:02] ericsoderberghp commented on #3621
Actually, if you use `<Grommet dir="rtl" />`, it should work. Flexbox rows are flipped, text is right aligned everywhere, etc. We haven't done exhaustive testing of it, so we'd be interested in hearing anything still needed to improve on it.

[2019-12-20 05:10] iMerica opened #3631 "Missing Documentation: Schema Definition for theme objects."
## Summary
One pain point I encounter is the schema of a Grommet theme. If someone who has intimate understanding of this schema could add a dedicated page in https://v2.grommet.io/components, it would be really helpful. I would add it myself, but themes are a black box right now.

## Example
Currently in dark mode my `<Tabs/>` have active colors and inactive colors. How do I change these colors?

[2019-12-20 05:23] #3605 closed

[2019-12-20 10:28] emmerich commented on #3579
If it helps, I believe this was introduced in 2.8.1. Rolling back to 2.8.0 fixes the problem.

[2019-12-20 18:26] maslennikov commented on #3356
I confirm with Chrome (ver 79 - latest for the time being) on Mac. Looks like some keypress event is leaking from TextInput (both as regular form field children, and nested deeper inside other form components (like search input inside a select).

For example, within a searchable select, normal click upon an option from the list will trigger only a valid Form.onChange event. But after any key press

[2019-12-21 19:11] iMerica opened #3633 "UX: Active vs inactive tab colors are inverted."
## Background
One of my beta testers pointed out how confusing the tabs are due to the choice of colors used in inactive vs active tabs. At first I thought it was a bug in my code, but the issue also occurs on the grommet documentation site, so it appears to be a bug.

![tabs-bug](https://user-images.githubusercontent.com/487897/71312522-94dfb200-23f1-11ea-96e3-098e594770db.gif)

Notice how the "a

[2019-12-21 21:27] iMerica commented on #3633
### Temporary Workaround

Add a `.tab` class to the `<Tab/>` component

[code]
and drop in these styles to your stylesheet

[code]

### Demo

![workaround](https://user-images.githubusercontent.com/487897/71313973-615b5280-2406-11ea-875d-240b665fdc1c.gif)

YMMV.

[2019-12-22 20:04] ShimiSun commented on #3579
Thanks @emmerich , can you confirm if this is the commit https://github.com/grommet/grommet/commit/9d1b60527db18af6de090b0312d61201851f7a19?

[2019-12-24 03:45] mateeyow opened #3634 "Dom is not removed when unmounting for Layer components"
This might be related to issue #3623.

So I created a `Modal` component that accepts a props of boolean. If props is false the component will not render anything, if props is true it should render the `Layer` component along with its children.

Upon running the test with props to true, the test will pass correctly. But, upon adding a second test to check if the Modal component renders - it fails.

[2019-12-27 16:25] nrydevopswatch commented on #2708
Hello,

I have been playing around a lot with Grommet and really love it! One thing I need for my current project is "interactive tables." Does this exist with Grommet V2 today?
My requirements for interactive tables are:
- Being able to click on cells and edit the data in the table.
- Being able to control which users can have this editing capability.

I'm assuming that if the first requirement i

[2019-12-27 16:33] ericsoderberghp commented on #2708
Grommet's DataTable let's you put whatever you want inside a table cell, check out the `columns={[{ render }, ...]}` property. You could put a control outside the table to toggle whether it is in editing mode and then have your column render properties render input controls, like `TextInput`. I don't have an example of this. We don't tend to build our sample applications with this style of editing

[2019-12-28 00:05] litewarp commented on #3579
I think the issue is with the use of React.memo to wrap the SelectOption. It looks like the commit moved the old props comparison from shouldComponentUpdate to the second argument for React.Memo. But those are not equivalent functions. As the React Docs note, [memo shouldn't be used to prevent a render](https://reactjs.org/docs/react-api.html#reactmemo)

Specifically though, I think what is happen

[2019-12-28 13:52] vladblindu opened #3635 "context theme"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2019-12-28 13:57] vladblindu commented on #3635
How can I get the theme color color in hex in a custom component.
What I want to do, is to link the svg spinner provided with grommet [here](https://codesandbox.io/s/loaders-and-spinners-4jltk) to the theme
Right now the color ('brand') is hardcoded.

[2019-12-28 14:56] vladblindu commented on #3635
I found out: Themecontext.Consumer.
Thanks

[2019-12-28 14:56] #3635 closed

[2019-12-29 17:13] markjackson02 commented on #2973
hi @oorestisime are you still planning on working this one?

[2019-12-30 13:20] aga5tya opened #3636 "Select dropdown options become empty while in a scrollable modal due to InfiniteScroll"
### Expected Behavior
Select dropdown with search enabled becomes empty when its placed in a Layer that has scroll in it and body has scroll enabled.

### Actual Behavior
Select dropdown with search enabled and placed inside a modal with fewer options that results in no scroll, InfiniteScroll.js seems to compute **nextBeginPage** & **nextEndPage** to be same (1 in my case) which results in array s

[2019-12-30 13:21] ShimiSun commented on #3633
A good design discussion.

[2020-01-01 00:17] mmnoo opened #3638 "Cannot read property 'extend' of undefined" with Next.js and React Testing Library"
### Expected Behavior

Tests that test components that include Grommet's `<FormField />` component run without errors.

### Actual Behavior
simple test fails with console output:
[code]

### URL, screen shot, or Codepen exhibiting the issue

https://github.com/mmnoo/grommet-formfield-causing-test-error

### Steps to Reproduce

1. clone above repo
2. run `npm install`.
3. run `npm run test`.
4. not

[2020-01-01 13:47] andersondarioo commented on #3497
I've created an app with the grommet-starter-new-app and I've got this same error with this code:

`
import React, { Fragment, useState } from 'react';

import { Header, Main, Form, FormField } from 'grommet'

const App = () => {
    const [localidadeOrigem, setLocalidadeOrigem] = useState('')

    return (
        <Fragment>
            <Header>
                Test App
            </Header>

[2020-01-02 00:06] mmnoo commented on #3638
OK, I was mixing up a bunch of similar errors. For anyone who stumbles upon this closed issue, it is solved by wrapping the component being tested in a`<Grommet theme={theme}>` (like is necessary to make Grommet work in your app).

I solved another seemingly similar issue by cleaning up the `moduleDirectories` property in `jest.config.js`.

[2020-01-02 00:06] #3638 closed

[2020-01-02 07:38] aga5tya opened #3639 "Position of modal container is in conflict when responsive flag is enabled on Layer component"
When on mobile responsive view, the modal container does not show up if the user has scrolled to some extent already. This happens due to the container position being relative while it is expected to be fixed.

Also, this could be browser specific issue as it seems to work as expected in firefox not able to reproduce in codesandbox. Given the styles on container, making container position to relat

[2020-01-02 14:40] bklmustapha commented on #3161
I have the same issue, on responsive on small breakpoint the heading do not take his small font-size and line-height value but he take the medium value of another heading,
example : for heading level 1 on small breakpoint it will take the medium value of heading level 2 and for heading level 2 on small breakpoint he weill take the value of medium of level 3.

See codesandbox for demonstration and

[2020-01-02 22:28] blakehilliard opened #3641 "A row-responsive Box of buttons overflows before changing directions"
If I fill a row-responsive Box with buttons, they will horizontally overflow quite a bit before their direction changes from row to column.

### Expected Behavior

No overflow should occur.

### Actual Behavior

Overflow does occur.

### URL, screen shot, or Codepen exhibiting the issue

Codepen: https://codesandbox.io/s/grommet-row-responsive-buttons-g7s0b

Screen shot from the code pen:
![gromme

[2020-01-03 13:13] steventilator opened #3642 "Hide focus outline"
Sometimes the focus outline stays visible after clicking on a link/button/anchor (see screenshot). This happens when navigating by mouse and touch, not keyboard. It happens on Chrome but not on Safari and Firefox.

Is there a way to hide the outline?

<img width="258" alt="focus-outline" src="https://user-images.githubusercontent.com/39826675/71725074-f0b72b80-2e32-11ea-9bcf-ff24459c5220.png">

-

[2020-01-03 17:21] quinnturner commented on #3572
My current solution for a routed button is:

[code]

I add the `href` so that the browser detects that it's a "routed button." I cancel the event, then push to the history stack.

Example:

[code]

[2020-01-03 20:21] blakehilliard opened #3645 "Box gap is applied to a layer inside the box"
When you render a layer inside a Box that has a gap set, extra gap is added for the layer even though the layer is not actually rendered inside the box.

### Expected Behavior

The Box the layer pops up from should not be affected by the presence of a layer.

### Actual Behavior

An extra gap is added, which shifts other components around when you open or close the layer.

### URL, screen shot, or

[2020-01-04 21:35] dhfuzari commented on #2983
I have the same problem. In the @oorestisime example, he used grommet 2.4.0, but on grommmet 2.9.0 it didn't works. Maybe that's why we can't solve our problem @midnightcodr.

[2020-01-06 09:20] oorestisime commented on #2983
hey @dhfuzari sorry not sure i understand. is the onBlur event not firing on 2.9? and for which component? might make sense to open a new issue with a reproduction if this is the case.

[2020-01-06 18:14] wortkotze commented on #3536
any update for this ?

[2020-01-07 01:36] iMerica opened #3649 "FormFields do not work with value/onChange props."
### Expected Behavior

When I do

[code]
I expect each form field to have distinct update logic.

### Actual Behavior

Typing into one field, updates the other field.

### Demo
![formfield](https://user-images.githubusercontent.com/487897/71861248-5584b700-30bb-11ea-8085-8e8623f0baac.gif)

### Steps to Reproduce

- Use a `FormField` component in a normal React-idomatic way.
- Become surprised with

[2020-01-07 07:44] steventilator commented on #3642
Okay, I realized that I can set `focusIndicator={false}` to hide it. Is there a way to set this on every Button or Box? Or do I have to add it manually to every instance?

[2020-01-07 14:08] skoshy commented on #3579
It seems like it has something to do with the behavior from the `replace` prop on `Select`. If I set `replace={false}`, it works as it properly should.

[2020-01-10 15:38] c3s4 opened #3653 "Type error using react-hook-form"
I'm trying to use [react-hook-form](https://react-hook-form.com) with grommet but I have a typing issue.

Using the register function provided by react-hook-form inside the `ref` prop (see react-hook-form doc) with `TextInput` component I get this compiling error:

[code]

Using a standard react `<input>` everything works as expected.

[This codesandbox](https://codesandbox.io/s/grommet-ts-dwb3w)

[2020-01-10 16:22] skoshy opened #3654 "Grid - adding props from Box (`border` and `pad`)"
### Expected Behavior

`Grid`s would have similar props to `Box`

### Actual Behavior

`Box` has many more stylistic props than `Grid`

### Reasoning

As `Grid`s and `Box`es are both used for basic layouting often, it could be beneficial to add similar stylistic props to `Grid`.

Currently focusing on `border` and `pad` before considering other props

See this Slack thread for more info - https://

[2020-01-13 00:23] pbenmoser4 opened #3655 "Redux-Form validate getting passed undefined on submit"
I'm trying to use redux-form with Grommet, and for some reason my validate function is getting passed "undefined" on submit. The function is getting passed the correct values whenever a change is made to one of my inputs.

Validate should be passed the same data on submit that it is passed whenever the form input is changed.

Validate is passed undefined.

### URL, screen shot, or Codepen exhibiti

[2020-01-13 01:55] CR1AT0RS commented on #3642
I agree focus is also not consistent across Mobile UI so I think it should be optional.

[2020-01-13 07:06] CR1AT0RS opened #3656 "Design change focus color."
I think the focus color is very inconsistent with the design. It does not work on all mobile device UI as well. We should make it optional and take it off as default.
### Expected Behavior
It makes a faded color border/shadow around the object on focus. As you can see in screenshot below a rectangular border on a curved button is just very awkward to look at especially with a bright green color.

[2020-01-13 15:43] c3s4 opened #3657 "Placeholder in TextInput does not disappear if I use a react node instead of a string"
If in a TextInput I use a react node as placeholder, the placeholder itself does not disappear when I write something inside the input text.

https://codesandbox.io/s/placeholder-does-not-disappear-w41o5

[2020-01-13 16:59] oorestisime commented on #2973
Hey i finally have time to take this! Thanks @markjackson02 for the patience :) I ll be picking option 2.
My plan is to have a clearPosition prop for the placement of the clear, clearText for the text and try to have the styling as themable as possible. Maybe a render prop would even make more sense.

Hope to have something in the next days.

[2020-01-14 15:26] c3s4 opened #3658 "Compatibility with react-hook-form library"
I know is not a bug, but I'm trying to use grommet with the [react-hook-form](https://react-hook-form.com) library instead of formik. The react-hook-form is increasing its popularity and I think is a good way to manage forms in term of code quality and performance, but grommet seems to not be totally compatible with it.

Anyone tried react-hook-form with grommet? Any suggestion? I'm trying to use

[2020-01-14 22:47] jackielfu commented on #3593
was running into the same issue here:

`TypeScript error in /app/src/App.tsx(17,20):
Type '{ global: { colors: { brand: string; focus: string; placeholder: string; control: string; }; font: { family: string; size: number; }; input: { weight: number; padding: string; }; edgeSize: { small: string; }; }; ... 6 more ...; textArea: { ...; }; }' is not assignable to type 'ThemeType'.`

turns out, we had

[2020-01-15 00:10] ShimiSun commented on #3656
https://grommet.slack.com/archives/C04LMHN59/p1579046718193200
Overall, I don’t think Grommet should support removing focus behavior globally as it will open users to accessibility issues. The outline color can be customized globally using the theme https://storybook.grommet.io/?path=/story/theme--focus, and as @srallen mentioned, if the outline is not your best solution, you may want to consider

[2020-01-15 00:57] iMerica commented on #3642
TLDR from Slack Discussion:

`focusIndicator` needs to be false by default and it needs to update its definition as "focus indicator that displays after clicking something". And add a separate capability for displaying a focus indicator when tabbing through the page.

[2020-01-15 15:32] srallen commented on #3642
For accessibility, it's actually best to typically have the styles for the click, hover, and focus events to be the same both for maintainability and predictability for users who use a variety of assistive tools. Disabling a focus indicator and or separating the styles between keyboard and mouse events inadvertently create less accessible components. Any configurability supported here should be do

[2020-01-15 15:37] srallen commented on #3656
Focus styles should not be turned off by default as they are necessary for accessibility: https://a11yproject.com/posts/never-remove-css-outlines/

Making the default false will create issues, many that might be unknown to devs that do not have experience with design and developing to specifically meet accessibility guidelines.

The primary use is for keyboard interaction, but they're useful for u

[2020-01-15 15:48] srallen commented on #3642
Caution should be taken when separating the focus styles between click and keyboard events as this may have unintended side effects for screen readers:

https://a11yproject.com/posts/never-remove-css-outlines/

[2020-01-15 16:09] iMerica commented on #3656
The bug here is that this outline appears as you click on items AND after. It should display when tabbing items only, and other styles can be applied onClick (e.g active property which changes button color or box shadow).

The prop option is called `focusIndicator`, but it's currently leaves an outline for 3 types of events: tabbing, on click, after click.

The solution is to break these up into s

[2020-01-15 16:17] taysea commented on #3642
Agreed, I don't think we should separate the focusIndicator into multiple props for mouse vs keyboard. I think it would be best to look into why the focus indicator persists after clicking.

[2020-01-15 16:24] iMerica commented on #3642
Grommet is creating less accessible components because it leaves us with only one easy way to remove this on/after click outline: `focusIndicator={false}`.  This is having the unintended consequence of removing the outline for every type of event.

[2020-01-15 16:26] iMerica commented on #3642
When good intentions aren't grounded in reality:

`git grep focusIndicator={false} | wc -l`

[2020-01-15 17:02] srallen commented on #3656
The click event triggers the focus pseudo-class, and focus is on that HTML element, so a focus outline is appropriate for the "on" instance.

Doing a double check, though, I did think the focus outline persistence after click on a button was a bug because I did think browsers removed it after the click event, but I am incorrect... check out the native behavior on buttons:

https://developer.mozill

[2020-01-15 17:03] srallen commented on #3642
x-posting here, I was incorrect about the focus persistence being a bug. This is what browsers do natively: https://github.com/grommet/grommet/issues/3656#issuecomment-574755913

[2020-01-15 19:21] ShimiSun commented on #3642
@steventilator I wouldn't recommend setting `focusIndicator={false}` as it will cause accessibility limitations.

The reason the outline persists is that the interactive element still maintain the focus after clicking - and the focus will be placed on that DOM element until it will be directed elsewhere.
This standard is coming from WCAG 1.4.11, for reference see the following WebAIM examples http

[2020-01-15 19:22] ShimiSun commented on #3656
This issue id duplicated to #3642. we can continue the discussion there.
Please check out my comment there https://github.com/grommet/grommet/issues/3642#issuecomment-574814825

[2020-01-15 19:22] #3656 closed

[2020-01-15 20:13] thaydds commented on #3657
i just have finished and soon i'm going to open a PR!!!

[2020-01-15 22:21] ShimiSun commented on #3649
Can you please share a codesandbox? I want to see how you define the state.

[2020-01-15 22:27] ShimiSun commented on #2877
@wirtzdan, @oorestisime any other examples or inputs, or can we close the issue?

[2020-01-16 08:41] wirtzdan commented on #2877
We can close this!

[2020-01-16 13:48] juanlanus commented on #3609
I have a loosely related issue with the calendar focus.
In my UI the calendar is hidden, and shows upon click on a calendar icon (same action closes it).
I would like the user to be able to close it with Esc, but for this to happen the calendar should be focused.
AFAIK there is no way to give focus to the internal Calendar artifacts.
This is the opposite problem: my user is trapped _outside_ of Ca

[2020-01-16 18:59] ShimiSun commented on #3657
Fixed and will be available on our next release!

[2020-01-16 18:59] #3657 closed

[2020-01-16 20:30] ShimiSun commented on #3580
Thanks again for filing this issue! The components we agreed to implement are all up now. Feel free to shoot us more great ideas.

[2020-01-16 20:30] #3580 closed

[2020-01-16 20:31] iMerica commented on #3580
👍

[2020-01-16 21:34] ShimiSun commented on #3653
Thank you for the detailed issue and example.
Grommet doesn't redefine the `ref` type, it actually picks the same type as the `input` `ref`, so I'm not sure what is the root cause of the problem.
On https://github.com/grommet/grommet/blob/master/src/js/components/TextInput/index.d.ts
we do not override `ref` on TextInputProps, hence the original type definition for `ref` supposed to come from http

[2020-01-17 09:14] c3s4 commented on #3653
You're right, I was surprised about this behavior. I figured out that to make react-hook-form works with grommet I have to use the `forwardRef` instead of `ref` but the error is the same.

At the moment I'm using `@ts-ignore` comments to shut up the type checker but, obviously, I don't like it.

I investigated a little on this but, so far, I didn't find anything.

[2020-01-17 15:57] standamo opened #3662 "Clock onChange called with non-changing time"
When using the below, the time printed is not changing:
[code]

### Expected Behavior

Time should increment on every printout

### Actual Behavior

Startup time is printed over and over again.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-sandbox-0e6bh
https://0e6bh.csb.app/clock

### Steps to Reproduce

Run the above code and check console

### Your Env

[2020-01-17 16:57] ShimiSun opened #3663 "Shrinked Layer story"
https://storybook.grommet.io/?path=/story/layer--fixed-header-scroll-body

[2020-01-17 20:18] Bahlaouane-Hamza commented on #3496
It's a trade-off you need to work with. What you need to do is ship your components with media queries from the beginning.

Let say you have
`<Box  className="box" basis="1/2" />`

What you get is
`.box { flex-basis: 50% }`

There is an interesting problem here. How might we represent a component that gets styled differently at different breakpoints? Let’s imagine a responsive context example.)

`

[2020-01-18 10:44] budiadiono commented on #3572
@naishe I don't see any problem with `<Anchor as={Link} to="/foo" label="Go to foo" />`, am I missing something?

[2020-01-18 10:55] budiadiono commented on #3572
I'm using typescript and customize the `Anchor` this way:

[code]

Usage:

[code]

And it works!

[2020-01-19 18:57] gtrogers opened #3664 "onKeyDown does not fire for TextArea component"
Hey, enjoying playing around with Grommet, thanks for the great effort and focus on accessibility. I came across this today and thought it was strange and a bit unintuitive. I'm not sure if it's intentional but it and prevents certain use cases that can't be done with `onChange` (like detecting backspace).

### Expected Behavior

`onKeyDown` handlers added to `TextArea` should fire when the text a

[2020-01-20 09:42] yoomury opened #3665 "Select component flashes when having random length options"
Hey, I found a pretty weird behaviour on the *Select* component. My use case randomly has *82* elements in the options array and apparently this causes some weird flashes if you scroll really fast to the bottom. If you change the array to has *80* or *100* elements, everything is fine.

### Expected Behavior

Select component works fine.
### Actual Behavior

Select component has some weird flashes

[2020-01-20 10:28] gtrogers commented on #3664
I started work on this last night: https://github.com/gtrogers/grommet/commit/89882148165af21e0611d4e48760407269f9addc

Will raise a PR once I've given it a bit more testing and maybe added the other key handler events, assuming it's something that fits in with Grommet?

[2020-01-20 10:30] gtrogers commented on #3664
I started work on this last night: https://github.com/gtrogers/grommet/commit/89882148165af21e0611d4e48760407269f9addcv

Seems to work (naively). I'll add the other key handlers and hopefully raise a PR soon.

[2020-01-21 16:47] iMerica opened #3668 "New features for the button component"
### Summary

Currently I have to do a ton of work to make the `Button` component work properly in enterprise applications. For example, I need to do the following for virtually all buttons:

- Fix focusIndicator persistence issue.
- Display a loading spinner when loading={true}.
- Handle onClick vs React Router navigation in a graceful way.

All these things combined amounts to a ton of wrapping o

[2020-01-22 02:21] LiveFreeAndRoam opened #3673 "InfiniteScroll: Cannot read property 'getBoundingClientRect' of null"
### Expected Behavior

`InfiniteScroll` ought to be able to handle an empty element or be documented accordingly.

### Actual Behavior

`Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null`

See full log below.

### URL, screen shot, or Codepen exhibiting the issue
In the code-snippets below, when the condition `item.show` is falsey, it returns nothing, (actually it will be th

[2020-01-23 00:55] iMerica commented on #3656
For anyone arriving here via Google, Slack, here is a temporary fix:

[code]

[2020-01-23 00:56] iMerica commented on #3642
For anyone arriving here via Google, Slack, here is a temporary fix:

[code]

[2020-01-23 01:34] iMerica opened #3677 "Styles and ClassName props ignored by Select component."
For 99% of my grommet style overrides I use either SCSS or inline styles (so called 'JSS'), not the Grommet theme system. The box and button components allow me to do this as one would expect, but the Select component seems to completely ignore these props.

### Expected Behavior

I expect Select components to honor `style` and `className` props, but at a minimum at least one of them.

### Actual

[2020-01-23 04:02] iMerica opened #3679 "Missing documentation: Select Options Schema"
There is no guidance on how to pass an array of objects to the Select component, just that it accepts `[]object`

### Expected Behavior

If a component accepts an array of objects, I expect to see the exact shape/schema of the object.

### Actual Behavior

There is no documentation on the shape of the data when accepting an array of objects. I glanced at the story books and didn't see any there ei

[2020-01-23 12:58] thaydds commented on #3677
hi IMerica,
i tryed to reproduce the same behavior as you say but style props works nice for me.

my test:
https://codesandbox.io/s/hardcore-bell-j3o7b?fontsize=14&hidenavigation=1&theme=dark

if i don't test it right, could you try to reproduce this behavior for me in codesanbox?

tnks.

[2020-01-23 14:19] Bahlaouane-Hamza commented on #3677
Does it work if you wrap your select in a Styled Box and target the <select> element from it ?

[2020-01-23 14:48] thaydds commented on #3679
nice point.

select docs says:

i dont know what children callback means.

so, i found a solution if you want to use an array of object.
you need to use a labelKey tag to especify what key of your objects will be an options.

i can create a storybook for this.

[2020-01-23 16:12] dannycalleri opened #3682 "Bundled and minified version doesn't provide utils (e.g.: normalizeColor)"
Hi, I'm building an application through webpack and declaring grommet as an external dependency inside `webpack.config.js`.
Importing the bundled and minified version found inside the `dist/` folder through a script tag, doesn't provide 'grommet/utils' like `normalizeColor`.

### Expected Behavior

The resulting Grommet global variable should contain object properties coming from `grommet/utils` l

[2020-01-23 16:17] dannycalleri commented on #3682
I fixed the issue quickly (just for testing purposes) in my local fork by modifying `src/js/index.js` like:

[code]

The obvious problem of this approach is that property in utils may override others coming from the other modules exported. A better one could be to wrap utils content inside an object.
@gtrogers let me know if you think an approach like that could work, I've a PR ready to be submitt

[2020-01-23 20:13] IanKBovard commented on #3634
It looks like layer is removed from the dom after it's animation is complete.
Adding this
[code]
causes the test to pass.

[2020-01-24 17:42] ShimiSun commented on #3634
@mateeyow can you please check out @IanKBovard suggested solution? I don't think there is an additional work from the grommet side for this matter, let us know what you think.

[2020-01-24 17:53] #3663 closed

[2020-01-24 18:21] arman94 opened #3690 "Theme object"
would you please, for the god sake explain how can I completely change the style object??
I've done lots of searches and i found no result.

[2020-01-24 19:37] ShimiSun commented on #3690
hi buddy, are you a member of our Slack channel? https://slackin.grommet.io/
You can find lots of conversations and examples there.

In addition, you might find the below helpful:
https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation
A custome Theme example on Select component:
https://storybook.grommet.io/?path=/story/select--custom-theme

[2020-01-24 23:31] mateeyow commented on #3634
But it was working before, and suddenly it does not work.

[2020-01-25 00:57] ShimiSun commented on #3634
@mateeyow can you share a code example (codesandbox) we could work with?

[2020-01-26 20:15] ssolari commented on #2819
@ShimiSun specifying a theme size seems to work, however, the docs say 'string'  and specifying a size like '16px' does not work.

[2020-01-27 15:14] IanKBovard commented on #3634
@mateeyow The reason your tests fail is because, due to a previous PR, layer now unmounts when the animation completes. You tests do not account for the time of the animation. When you factor that into your tests they pass. A quick way to do that would be to add a setTimeout() to the test that checks if the layer has unmounted.

If, however, you are still unable to get them to pass, please send an

[2020-01-27 16:25] ShimiSun commented on #3690
@arman94 anything else we can help with?

[2020-01-27 17:02] ShimiSun commented on #3679
@thaydds feel free to share a storybook example.

[2020-01-27 17:12] ShimiSun commented on #3347
Feel free to reopen or share more comments if needed, thanks for reporting.

[2020-01-27 17:12] #3347 closed

[2020-01-27 21:26] IanKBovard commented on #3645
@blakehilliard It might look strange, but gap is working as intended. It is being applied to all children in the box, and since layer is a child of the box it receives a gap. To avoid this move the layer outside.
[code]

[2020-01-28 05:25] arman94 commented on #3690
Thanks a lot for your guide, I couldn't find anything about the theme through the net.

[2020-01-28 05:26] arman94 commented on #3690
Thanks a lot for your guide

[2020-01-28 12:03] IanKBovard commented on #3677
@iMerica Can you share an example of the issue? I am able to give select a class name and use inline styles.

[2020-01-28 13:04] steventilator commented on #3642
@ShimiSun I agree that setting `focusIndicator={false}` is not the smartest thing to do. Having accessibility baked into the framework is one of Grommet's great assets.

Nevertheless, I don't see how an outline that persists after the click is desired behavior. And so does our client. So, if she doesn't like it – and she doesn't, because she's not used to seeing it anywhere else on the web – in th

[2020-01-28 18:13] srallen commented on #3642
How the native focus outline appears varies with browser and OS. With MacOS and Chrome, you should see a blue focus outline persist with the native button behavior:

![focus-outline](https://user-images.githubusercontent.com/5016731/73290690-7a54e180-41c4-11ea-88c8-e90de9ecfac5.gif)

Firefox uses a dashed outline that I personally find harder to see. On further research, apparently the implementat

[2020-01-28 19:03] iMerica commented on #3677
Demo of the bug:

https://codesandbox.io/s/epic-easley-ky76t

[2020-01-28 20:12] ShimiSun commented on #3690
No worries, I'll be closing the issue, feel free to join our slack community for more directions and issues.

[2020-01-28 20:12] #3690 closed

[2020-01-28 20:20] ShimiSun commented on #3005
Hi buddy, I'll be closing this issue, feel free to shoot us a message if you have more questions.

[2020-01-28 20:20] #3005 closed

[2020-01-28 20:21] IanKBovard commented on #3330
@juanlanus Anything else you want to add before we close this issue?

[2020-01-28 20:23] IanKBovard commented on #3544
@blakehilliard Anything else we can do for you before we close this issue?

[2020-01-28 22:10] oorestisime commented on #3572
Hey i am coming back to this after a long time and i am wondering why the as is not working. what were you experiencing with it?

https://codesandbox.io/s/react-router-basic-de4tx (notice the dashboard link in the example.)

[2020-01-28 22:13] oorestisime commented on #3572
Lol sorry @budiadiono i didn't read your message. indeed this is the way i would go to avoid the props leakage there. We should document this somewhere as an example. @ShimiSun maybe you have an idea where :) do we have react-router in the storybook?

[2020-01-28 22:14] blakehilliard commented on #3544
What do you mean? The bug is still reproducible. I just updated the codepen to use the latest version of grommet, and you can still see the behavior I described.

[2020-01-28 22:19] blakehilliard commented on #3645
@IanKBovard Is the recommendation to always place a `Layer` directly under `Grommet` then? I have components that can pop up layers, and it's nice to just be able to place the Layer in that component without regard for what is using that component, rather than have to add some hook at a higher level to make it place the layer outside the component.

Maybe I'm missing something fundamental about La

[2020-01-29 00:26] ShimiSun commented on #2709
I'll be closing this issue since there few alternative ways as suggested to achieve the above without the need to extend the component with the pad prop. let us know if you have more comments

[2020-01-29 00:26] #2709 closed

[2020-01-29 00:28] ShimiSun commented on #2760
Any further actions for this issue? @RobertGary1 were you able to achieve your required design?

[2020-01-29 03:25] naishe commented on #3572
@budiadiono -- thanks for taking time to write the workaround. I really appreciate it. I think we can close this.

[2020-01-29 03:25] #3572 closed

[2020-01-29 03:31] iMerica opened #3697 "Layers and Sidebars are incompatible on Mobile"
### Summary

Currently sidebars are a "user space" thing in Grommet, meaning the framework provides some primitives like Boxes, Navs, Layers and its on users to compose these pieces into a complete Sidebar component.

Assuming one knows the Grommet API, it's straightforward to create your own however these solutions don't handle the wide range of possibilities like: mobile friendly layers, relativ

[2020-01-29 06:18] budiadiono commented on #3572
My pleasure @oorestisime & @naishe  :)

[2020-01-29 15:53] IanKBovard commented on #3645
@blakehilliard Check the example more carefully. Layer is still rendered in grommet, just, in this example, outside of the box applying gap. You don't have to place the layer outside of the component, just on the same level as it if you don't want some styles to be passed down. This isn't exclusive to layers or grommet.
[code]

[2020-01-29 15:55] oorestisime commented on #3668
Hey what's the issue with React router support? i looked at Anchor and we have a nice integration there. i can work on this.

As for loading state i agree that a `<Button loading />` would be a nice addition imho. @ShimiSun ? we would probably need the following props as well: loadingIcon, loadingLabel.

[2020-01-29 16:07] blakehilliard commented on #3645
Thanks, I'll do it that way with an extra `<Box>` around my component.

I'm fine with closing the issue if this really is the desired behavior. But I still don't understand why it'd ever be the desired behavior to have a `gap` apply to a Layer. It seems all upside and no downside to just make Layers be an exception when it comes to apply a gap.

[2020-01-29 16:45] IanKBovard commented on #3544
@blakehilliard This isn't an issue with the Collapsible component, but the implementation.
[code]
produces the same results. In your example the child div is styled, but not the collapsible causing the overflow.

[code]
This is not the best implementation, but here is a working version of your example.

[2020-01-29 17:06] IanKBovard commented on #3554
@iMerica If you look at these storybook examples you can clearly see the MaskedInput component working. I just think the email example makes it confusing, as it's not the best representation of the component.

https://storybook.grommet.io/?path=/story/maskedinput--ipv4-range
https://storybook.grommet.io/?path=/story/maskedinput--date-range
https://storybook.grommet.io/?path=/story/maskedinput--pho

[2020-01-29 17:08] IanKBovard commented on #3649
@iMerica Yes, could you share a codesandbox. This looks like an issue with state handling.

[2020-01-29 18:16] IanKBovard commented on #3665
@yoomury This _**is**_ strange! Checking it out now. It looks like there some extra length at the bottom of the list.

[2020-01-29 19:01] IanKBovard commented on #3665
![Screen Shot 2020-01-29 at 12 52 17 PM](https://user-images.githubusercontent.com/21990914/73387441-3205f400-4296-11ea-892b-9ef6d877b733.png)

This div constantly resizing from 0 height to its original height when it should stay at 0 is causing the flashing.

![Kapture 2020-01-29 at 13 01 13](https://user-images.githubusercontent.com/21990914/73388247-7f369580-4297-11ea-975b-5b0910335398.gif)

[2020-01-29 22:04] ypinneka opened #3701 "Cannot pass a data-* property for a individual RadioButton in a RadioButtonGroup component"
https://stackblitz.com/edit/react-e9ag9s?file=App.js

Please check the code snippet from above. The "data-*" property when passed through options prop is not being passed as a property on individual RadioButton.

[2020-01-29 22:35] csclyde opened #3702 "Cursor loses position in TextInput"
### Expected Behavior
When editing text in a TextInput, I enter a string (abc). Then, I move the cursor to the beginning of the string, and start typing (123). My cursor should remain when I put it, giving me "123abc"

### Actual Behavior
When editing text in a TextInput, I enter a string (abc). Then, I move the cursor to the beginning of the string, and start typing (123). After entering one char

[2020-01-29 23:20] ypinneka commented on #3701
Is there a way via RadioButtonGroup component where we can pass custom prop to individual RadioButton ?

[2020-01-30 13:25] juanlanus commented on #3330
It's OK  :-)

[2020-01-30 13:25] #3330 closed

[2020-01-30 16:14] IanKBovard commented on #3447
@NetworkAndSoftware Have you checked again? It seems the issue has been solved by a previous PR.

[2020-01-30 16:17] IanKBovard commented on #3544
@blakehilliard Is there anything else that you'd like to add. Since this is an implementation issue and not a bug, I recommend we close this.

[2020-01-30 16:35] ShimiSun commented on #3447
Thanks for reporting, I'll be closing this issue, please file an updated one if you still encounter any new issues.

[2020-01-30 16:35] #3447 closed

[2020-01-30 16:38] ShimiSun commented on #3645
@blakehilliard We wouldn't want to exclude behaviors that break consistency, hence the `gap` is applied to all child components without exceptions. Thank you for reporting and sharing your feedback.

[2020-01-30 16:38] #3645 closed

[2020-01-30 16:41] IanKBovard commented on #3634
@mateeyow Is there anything else that you'd like to add before we close this issue?

[2020-01-30 16:44] #3544 closed

[2020-01-30 17:01] IanKBovard commented on #3554
@iMerica Please look at the examples provided. MaskedInput behaves as it should.

[2020-01-30 17:25] ShimiSun commented on #3662
The fix for this issue is merged and will be available on our next release. Thank you for reporting

[2020-01-30 17:25] #3662 closed

[2020-01-30 18:13] iMerica commented on #3554
We appear to be operating on different definitions of input masks. The way, I'm expecting to see it:

**ip addresses**
The dots always appear when the element is in focus, even when nothing has been entered.

**email addresses**
A few approaches depending on requirements
- `@` always symbol appears
- `@domain.com` always appears, (restricting any 3rd party emails).

**Phone numbers**
`(___) - ___-

[2020-01-30 20:09] IanKBovard commented on #2977
i dont notice a hover state when i use keyboard either. tested on storybook

[2020-01-30 20:30] ShimiSun commented on #2977
Thanks for verifying guys! 🚀

[2020-01-30 20:30] #2977 closed

[2020-01-30 20:30] IanKBovard commented on #3542
@clockelliptic Just checking in to see if ShimiSun was able to answer your question.

[2020-01-30 23:10] iMerica opened #3706 "Button focus persists after clicking it and retains an unfinished animated state"
### Summary
Very strange button behavior. The animation is not completed until you click elsewhere. Which suggests buttons implicitly have "state".

### Expected Behavior

I expect for buttons to never surprise me, maybe an animation on click or a color change on hover. Once you start trying to reinvent the wheel with surprising animations and finite state machines, buttons become too surprising a

[2020-01-30 23:38] iMerica commented on #3706
Temporary Fix:

https://gist.github.com/iMerica/c1112b61509ddef1693b0abecf9726c7

[2020-01-31 15:49] IanKBovard commented on #3623
I can confirm this.
When opening and closing layer.
![Kapture 2020-01-31 at 9 48 13](https://user-images.githubusercontent.com/21990914/73553018-d7dc6e80-440e-11ea-95a1-af7080fb4dd3.gif)

[2020-01-31 16:24] dannycalleri commented on #3682
@ShimiSun , sorry to bother you, do you have any news here by any chance?

[2020-01-31 17:38] #3701 closed

[2020-01-31 23:26] ShimiSun commented on #3071
@mamathaveluru We currently provide integration example with Dropzone https://grommet-dropzone.netlify.com/

[2020-02-01 12:25] simonhambly commented on #3536
Looking at the code of Carousel, it's using the Stack component. The browser pointer events are being blocked by the Stack layer that holds the carousel controls (and by child layers higher in the Stack).

As a workaround you can wrap this custom theme around the Carousel

[code]

This disables pointer-events on Box elements (and all children), but re-enables them specifically for Anchors or Butto

[2020-02-01 16:09] simonhambly commented on #3536
Word of warning on the above quick fix, if your click targets in child elements are in different places, you may get 'phantom' clicks as all elements will receive clicks, even if they are not on the visible child layer.

Ideally enabling pointer-events on child controls should only be done on the active child layer.

[2020-02-03 06:00] mateeyow commented on #3634
Hi @IanKBovard sorry for the late response as I was out for vacation. Anyway, I can add `setTimeout` and it works but it just feels icky to me that we need to add these "hacks" just for the layer to unmount completely. But I'm happy to close this issue. Thanks!

[2020-02-03 06:00] #3634 closed

[2020-02-03 14:34] IanKBovard commented on #3634
@mateeyow You misunderstand. The layer unmounts without you adding setTimeout. It's your tests that are the issue. The layer will unmount after it's finished with it's transition animation. Your tests did not account for that, giving you a false negative.

[2020-02-03 14:43] clockelliptic commented on #3542
Thanks so much for the reply and sorry for the delay. Somehow I missed this.

This is very helpful, but no it doesn't entirely answer my Q.

Would love to be able to style the focus color of a single specific element.

[2020-02-03 14:57] IanKBovard commented on #3542
If it's for a single specific element, styled-components could help you with that.

[code]

[2020-02-03 15:17] ShimiSun commented on #3542
In addition to styled-component option that @IanKBovard suggested, you may want to consider the ThemeContext component that allows setting the theme for specific components this is wrapped with ThemeContext.  See an example here https://storybook.grommet.io/?path=/story/accordion--rich
and docs here: https://v2.grommet.io/themecontext

[2020-02-03 15:26] IanKBovard commented on #3542
@clockelliptic Let us know if that solves your problem, and we can close this issue.

[2020-02-03 16:53] IanKBovard commented on #2760
@RobertGary1 was ericsoderberghp able to address your issue?

[2020-02-03 17:42] MLRichmond opened #3711 "icon prop cannot be set to false when extending Menu control with TypeScript"
We have a control that wraps and extends a Grommet Menu it also sets the icon property of the enclosed menu to {false}. This worked in Grommet 2.7.9 w/ Typescript 3.6.2.

We recently upgraded to Grommet 2.10.0 w/ Typescript 3.7.5.

Between these two versions of Grommet, a change was made that changed the definition of menu from
`declare const Menu: React.ComponentClass<MenuProps & JSX.IntrinsicEle

[2020-02-03 17:55] sivakar12 opened #3712 "Stories Missing in Windows"
When running yarn run storybook, Webpack gives a lot of warning for the TypeScript files in stories folders.
The warnings are all similar

### Expected Behavior

Storybook should compile find and all the stories should be available in the Storybook that opens in the browser
### Actual Behavior

Compilation give a lot of warnings and most of the stories are not available
### URL, screen shot, or Co

[2020-02-03 17:57] sivakar12 commented on #3712
If I change the test regex in the Storybook Webpack config file from  `/stories\/.*\.(ts|tsx)$/`  to `/stories\\.*\.(ts|tsx)$/`, it works.

[2020-02-03 19:51] ericsoderberghp commented on #3682
We haven't published the grommet utilities or exported them formally so as to not tie them to the semantic versioning rules. So, we can update the utilities in a breaking way without having to update the major version of grommet. We know some folks have reached into the grommet NPM package to pull them out and use them. But, we haven't made them first class API citizens. I am not opposed to explor

[2020-02-03 23:39] whoisryosuke opened #3717 "<Nav> component breaking app"
### Expected Behavior

[Copied example from Storybook](https://storybook.grommet.io/?path=/story/nav--sidebar) into another responsive example from the repo (the responsive app layout example).

Expected to see the Sidebar similar to Storybook example.

### Actual Behavior

App crashes. Displays error saying that component isn't defined.

[code]

If I remove the `<Nav>` component from the `<Sideba

[2020-02-03 23:50] whoisryosuke opened #3718 "Responsive Context doesn't display outside render"
### Expected Behavior

Copied example from [ResponsiveContext docs](https://v2.grommet.io/responsivecontext) and tried to use the context outside the render scope.

Expected the context to work outside of render scope. I should be able to check what the initial size of the browser is, maybe not directly, but inside a layout effect (where the DOM is loaded and parsable). Allows me to hide/show side

[2020-02-04 06:53] mateeyow commented on #3634
@IanKBovard what I'm meaning to say is that previously before the changes were introduced to the layer component I had a running tests for my custom components and everything was passing. I did not have to add the setTimeout or have to do anything. It just baffles me why we need to check for the transition to finish just to make the tests pass.

[2020-02-04 21:08] IanKBovard commented on #3542
@clockelliptic this should help you with your issue https://storybook.grommet.io/?path=/story/theme--themecontext-extend

[2020-02-05 02:03] sivakar12 commented on #3717
Nav component isn't there in version 2.9

[2020-02-05 08:35] dannycalleri commented on #3682
Hi @ericsoderberghp and thanks for your answer.
What I see is that some utils functions like `normalizeColor` that I mentioned, are actually being used by examples (https://github.com/grommet/grommet-starter-existing-app) and by the documentation itself (https://v2.grommet.io/functions), so while your approach is totally agreeable because most of those functions are generic, it's just not clear fr

[2020-02-05 09:22] mauriceLC92 commented on #3611
@ShimiSun I created a PR for this issue: https://github.com/grommet/grommet/pull/3727
Could you or someone perhaps tell me if I am on the correct track or if more needs to be done with regards to the docs on the site

@joybhallaa I hope you do not mind but I opened a PR for this -  perhaps you could help me get it over the line with any suggestions If I missed something

[2020-02-05 10:36] francescodist opened #3728 "Ability to overwrite onSort in DataTables"
As for the `onSearch` method I would like to be able to pass a method to the `onSort` property that, when defined, will overwrite the default behaviour for sorting.
### Expected Behavior
The property would be used to just send to callback from the parent the property and direction (basically the current sort configuration) without making any change to the data in the table. This way the developer

[2020-02-05 13:11] joybhallaa commented on #3611
@mauriceLC92 , I don't mind!

[2020-02-05 16:45] ShimiSun commented on #3717
@sivakar12 you are correct my friend. I've upgraded the grommet version on the sandbox above to 2.10. and it all renders as expected. https://codesandbox.io/s/grommet-nav-issue-d7ulz
Closing the issue.

[2020-02-05 16:45] #3717 closed

[2020-02-05 23:08] ShimiSun commented on #3542
I think we are good on closing this issue, @clockelliptic let us know if you have further questions.

[2020-02-05 23:08] #3542 closed

[2020-02-05 23:20] ShimiSun commented on #3718
If you are not using hooks, such as the example provided on the codesandbox you shared, you shouldn't make this type of assumption. `size` value would be initialized inside the context of <ResponsiveContext>.

If you are using hooks you have a better chance to get the value before the `return`, but you need to make sure you are not using the `useContext` inside a Component Class, and I'm clarifyin

[2020-02-05 23:43] ShimiSun commented on #3706
Regardless of the related fix for this issue, I'm wondering if we can add a control to the `transition` i.e. animation of the Button. According to StyledButton, the transition is hardcoded (unless using plain). would that be something you'll be interested in?

[2020-02-05 23:44] ShimiSun commented on #3649
@iMerica friendly reminder buddy.