[2017-06-13 17:35] alansouzati opened #1383 "Search placeholder almost invisible"
### Expected Behavior
We should be able to change the place holder color when inside dark colorIndexes

### Actual Behavior
Grommet is not changing the placeholder color

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/alansouzati/pen/jwrJXw?editors=0010

### Steps to Reproduce
 1. Add a box with colorIndex brand
 2. Add an inline search box with a placeHolder
 3. You wil

[2017-06-13 23:03] mturley commented on #1295
+1, this is annoying especially because if the login is taking a while, the form gives no feedback at all to the user.

[2017-06-14 00:12] mturley commented on #1295
I went ahead and fixed this using @alansouzati's vote.  https://github.com/grommet/grommet/pull/1384

[2017-06-14 21:56] RyanCCollins commented on #1380
@nayaksud Grommet does have css built into the library.  The components generate the `grommet-ux...` classnames, so there is really no way to shut that off.  Considering the fact that Grommet is a design language, it should make sense why a large portion of the codebase is built on css.   There are a few ways that you can customize styling of components, however.

A. You can create your own theme

[2017-06-14 22:00] RyanCCollins commented on #1354
@MarcelGeo

Glad to see that this has been resolved!  I am going to close this issue to get it off of the backlog, but feel free to keep the conversation going if you have any further questions.

[2017-06-14 22:00] #1354 closed

[2017-06-14 22:06] RyanCCollins commented on #1379
Hey @windgaucho this issue appears to be related to one that I had a while ago when I was getting up and running with Grommet.  I believe it comes down to the configuration of the `scss-loader`.  You might want to take a look at the [grommet-standalone](https://github.com/grommet/grommet-standalone) project, particularly the sass-loader configuration object.
[code]

I am not familiar enough with m

[2017-06-15 06:02] nomadus commented on #1350
@adamroldfield How could I include this changes to the grommet? Would it be just a simple replace of Select.js file?

[2017-06-15 14:11] RyanCCollins commented on #1380
By the way, I am going to close this issue to get it off of the Grommet teams backlog.  That said, I'd be happy to keep the conversation going in this thread if you have any further questions!  Thanks!

[2017-06-15 14:11] #1380 closed

[2017-06-15 14:12] RyanCCollins commented on #1363
I've got this :)

[2017-06-16 07:52] raphi011 opened #1388 "Table row cells do not match length of header cells."
This error message `Table row cells do not match length of header cells.` should not occur when cells with colspan in the body are used

### Expected Behavior
No error message when header and body columns mismatch because of colsspan > 1

### Actual Behavior
Error

### Your Environment
* Grommet version: 1.4.1

[2017-06-16 08:27] JonathanWbn opened #1389 "Dropdown menu ui bug on scroll"
I have a dropdown menu in my navbar. When I extend it and start scrolling with the menu dropped down, the menu is not overflowing the viewport size.
Tough to explain, here is how it looks:

This is the very top of the page, menu dropped down, everything perfect.
![screen shot 2017-06-16 at 10 16 38](https://user-images.githubusercontent.com/19997520/27218130-21149a7c-527d-11e7-8589-3cc81eba2b2f.pn

[2017-06-16 14:03] RyanCCollins commented on #1389
Hey @JonathanWbn,

Thanks for your issue!  In order to help diagnose this, is it possible that you can post a codepen to exhibit the symptoms?  If not codepen, an example project would be helpful. Thanks!

[2017-06-16 17:47] JonathanWbn commented on #1389
I am happy to try and reproduce with a codepen. How can I set up a codepen with grommet?

[2017-06-16 17:59] alansouzati commented on #1389
You can fork our template from here:

https://codepen.io/grommet/pen/gaEGPY

[2017-06-16 20:51] alansouzati commented on #380
I dont think there is anyone working on that at this point. It would be awesome if you can send a PR for that.

[2017-06-16 21:02] alansouzati commented on #1256
I'm going to take a look on this issue soon. Sorry that this it is taking a long time.

[2017-06-17 00:44] coccyx opened #1390 "Arrow Keys in TextInput have unexpected behavior with Distribution component loaded"
### Expected Behavior
Arrow keys should allow the user to move left and right through the text input

### Actual Behavior
Arrow keys behave erratically.  They do eventually work if you hit the down arrow first and then you can arrow through the text input like normal.

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/clintsharp/pen/qjRaNJ

### Steps to Reproduce
 1. Includ

[2017-06-17 07:41] jagatjeevan opened #1391 "Copy paste not working for textInput on IE browsers."
### Expected Behavior
TextInput should be able to accept copied text values from clipboard.

### Actual Behavior
User should be able to copy and paste to the text values and text should be able to be captured ( in state ) or passed to the function.

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/kanhajeevan/pen/RgGJyM

### Steps to Reproduce
 1. Copy and paste in the text

[2017-06-17 10:34] JonathanWbn commented on #1389
Here is the codepen with the issue. Just open the menu and start scrolling:
https://codepen.io/anon/pen/VWPbqp

[2017-06-19 17:24] alansouzati commented on #636
The Grommet recommendation to customize Theme is to use SASS. Unfortunately, it seems that create react app does not allow you to use SASS without ejecting. I'm not an expert on create-react-app, so I may be missing something.

[2017-06-19 18:02] alansouzati commented on #1391
I just tested this with IE11 and I cannot reproduce this issue. :(

[2017-06-19 18:05] alansouzati commented on #1391
I'm thinking this could be related to some version of React. I will merge the PR though, I tested your change and it still works on all browsers. So I'm sure this is better than what we have.

[2017-06-19 18:06] #1391 closed

[2017-06-19 18:06] vladblindu commented on #636
Thanks a lot for your time. I realised that it doesn't even worth the effort of ejecting and tweaking the webpack config if all you want is theme customising or using theme variables in your own css with Create-react-app. A good ol'SASS watcher is good enough.
I still find the customising procedure a little clumsy, but overall Grommet is great. Many thanks for your time and effort to create and sh

[2017-06-19 18:13] alansouzati commented on #636
I definitely agree. We don't do a good job on describing the proper steps to customize things.

We will hopefully fix that in Grommet 2.0 👏

[2017-06-20 03:16] sclanc opened #1393 "Update get started docs."
As a first time user (first exposure within the last 20 minutes) I thought the grommet team might appreciate some feedback:

It would be lovely if the grommet-cli had a lean option, I want to use the cli because it takes a care of things that I wouldn't want to worry about when implementing the standalone, and I prefer to use npm to install packages, however, I don't need or want all of the boiler

[2017-06-20 03:59] alansouzati commented on #1393
Good point. We have the type option in the cli. Type basic I believe is exactly what you are looking for. You can type `grommet new --help‘ to see all the available options.

We should probably update the get started page to say that the cli has the help task.

Welcome to our community

[2017-06-20 05:05] sclanc commented on #1393
Thanks a bunch! I am blown away by how amazing this framework is.

[2017-06-20 05:05] #1393 closed

[2017-06-20 14:48] agrawalPratik opened #1394 "Few options of Select Drop down menu component icon and its label gets stacked to different line [IE specific]"
### Expected Behavior

Ideally all the menu in the dropdown should come in proper layout and not in broken state.
### Actual Behavior

In few menu icon and its label gets aligned on different line and looks very weird
Also the code written works on chrome but not on IE
### URL, screen shot, or Codepen exhibiting the issue
Below is the codepen link for the same:
https://codepen.io/nikitam/pen/owWgp

[2017-06-20 14:56] XuluWarrior opened #1395 "Some FormField props aren't documented"
I can see in the code that FormField has the following props

- error
- help
- htmlFor
- label
- hidden
- size
- strong

However, the documentation at https://grommet.github.io/docs/form-field only describes the first four.

[2017-06-20 14:59] agrawalPratik opened #1396 "Notification component gets stacked and distorted in IE [IE specific]"
When notification component is used in layers, its gets stacked, and takes improper width due to which the message gets stacked in different lines which makes UI loose its aesthetic value.
### Expected Behavior

Ideally it should take the message width and it shouldn't gets stacked and distorted
### Actual Behavior

When notification component is used in layers, its gets stacked, and takes imprope

[2017-06-20 21:45] shai32 opened #1397 "pt-BR is being unnecessary imported"
### Expected Behavior
only english should be imported as default language

### Actual Behavior

Two languages are being imported\
https://github.com/grommet/grommet/blob/dbdbaed72e3e9e32e1d28f4c8465c264efb8f87f/src/js/components/App.js
![image](https://user-images.githubusercontent.com/16700996/27357337-71ab9bc0-561a-11e7-8e5a-d8cd8962b799.png)
causing my client bundle to be larger
![image](https:

[2017-06-20 22:25] shai32 opened #1398 "dynamicly import languages"
I am using the latest webpack that support dynamic import
so I am trying to add dynamic import to languages (my app should support many languages)
in order to do that, I created an helper:

[code]

the problem is with this line
    `const localeData = await import('react-intl/locale-data/${locale}');`
the files inside locale-data is en.js, ar.js, ro.js while local is ar-jo, en-us, ro-mo
so there a

[2017-06-21 06:32] jrkirkwood opened #1399 "Accordion component is using Number.isInteger call that is not supported in Internet Explorer 11"
Accordion component fails to load in Internet Explorer 11 due to Number.isInteger call
### Expected Behavior

Accordion should load without issue in IE11

### Actual Behavior

Page fails to load when Accordion is on it.  Gets error:
Line: 106
Error: Object doesn't support property or method 'isInteger'

I added a manual fix to Accordion.js for IE11:
replaced line 58 - "if (Number.isInteger(_this.p

[2017-06-21 17:59] drewlustro commented on #1349
@emmanuelnk - how did you solve this? I'm looking for an `onEnter` event as well, or simply a means to trigger/force a search upon the enter keycode.

Thanks.

[2017-06-21 18:41] drewlustro commented on #1349
@emmanuelnk - nevermind, haha... I see you can attach a handler to `onKeyDown` and look for any code. Peace brah 💯

[2017-06-21 18:56] alansouzati commented on #1395
Thanks for reporting this. Are you up for a pull request to fix this?

The source code for the form-field in the docs is here: https://github.com/grommet/grommet-docs/blob/master/src/docs/components/form-field/FormFieldDoc.js

[2017-06-21 20:08] #1295 closed

[2017-06-22 02:37] jmfadeley commented on #1297
Any forward motion on this?

[2017-06-22 09:39] agrawalPratik opened #1400 "Text Box error alignment is inconsistent for different sizes"
It has been observed when we do form validation, error text in the textbox gets aligned in an improper fashion.
### Expected Behavior

Alignment of the error text should be maintained and should not vary with different textbox sizes
### Actual Behavior

Alignment of the error text is not maintained in different textbox sizes
### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/

[2017-06-22 13:39] aandr commented on #1297
Apologies for the silence on my end. We no longer use Grommet in our
project and I won't be able to dedicate the time for a follow-up PR.

On Thu, Jun 22, 2017 at 5:37 AM, James Fadeley <notifications@github.com>
wrote:

[2017-06-22 14:33] dgennetten commented on #1400
The pen shows the label left-justified and the error right-justified.  They stack when there's insufficient room.  This example alone, I believe, shows "expected behavior.  However, there is still an issue when the two elements wrap. Here is an example: https://codepen.io/dgennetten/pen/XggxVE?editors=0010

[2017-06-22 14:38] dgennetten commented on #1097
@alansouzati this is fixed with PR1290, April 5.

[2017-06-22 14:40] dgennetten commented on #1338
@alansouzati This is fixed with #1344. May 16. Let me know if there are questions/issues.

[2017-06-22 17:34] justinglibert opened #1401 "Select with Search is unusable on mobile"
When you provide a "onSearch" function to Select, the component is unusable on mobile. Focusing the text area brings the keyboard at the same height and you can't select any option in the list

### Expected Behavior
The dropdown should be on the **top** of the component
### Actual Behavior
The dropdown is behind the virtual keyboard

### URL, screen shot, or Codepen exhibiting the issue

https://c

[2017-06-23 23:24] alansouzati commented on #1350
Our team recently had a chat about multi-select. We want to avoid adding a lot of intelligence inside the dropdown. The example you provided is way better than what we have today for selecting multiple without being inline, but it still has problems. If you have 50+ items in your list and you want to select the 49th or 50th item, often times you will find yourself having to scroll all the way down

[2017-06-23 23:24] #1350 closed

[2017-06-24 00:21] alansouzati commented on #1332
Badge is a rather simple component to live in grommet core. We recommend using Box to get the badge.

Check out this codepen:

https://codepen.io/alansouzati/pen/vZgOyy?editors=0110

[2017-06-24 00:21] #1332 closed

[2017-06-24 00:41] alansouzati commented on #1401
I tried it on few android devices and it does come on top but as soon as you type they set the focus again in the search field. I'm afraid there isn't anything we can do in our end to fix that. Thoughts?

[2017-06-24 00:43] alansouzati commented on #1400
Well I believe we should not be wrapping the Form in a box size Small. it is pretty narrow and difficult to use.

Here is the codepen with the proper combination of FormFields and FormField

https://codepen.io/alansouzati/pen/vZJVaM?editors=0010

[2017-06-24 00:43] #1400 closed

[2017-06-24 00:45] alansouzati commented on #1400
Notice the usage of compact in there.

[2017-06-24 11:17] justinglibert commented on #1401
It really depends on the situation, in a modal it doesn't open on the top of the element (which is really annoying)

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-24 11:50] XuluWarrior commented on #1332
I'm not sure I understand the argument that a component can be too simple to add to core.

I thought the focus of Grommet was components that were consistent in both design and behaviour.  If there is a "need" for Badges then developers will each have to play about with components and CSS to achieve this consistency.

Of course you could argue that there is no need for Badges or at least the need

[2017-06-24 11:53] XuluWarrior commented on #1332
Also Badges have there own semantics that is made more obvious in [Material UI](http://www.material-ui.com/#/components/badge).  And so they are potentially more interesting than they look at first glance.

[2017-06-26 12:13] XuluWarrior commented on #1395
In principle I am happy to contribute but I didn't really get very far working out the intended semantics for "size" and "strong".  I can see that they have corresponding css to change the font size and weight.

This seemed a bit counter-intuitive to me as I expected size to affect the size of the field.  Which is what I was looking for (I was interested in creating a narrow TextField as it only n

[2017-06-26 18:04] alansouzati commented on #1395
fair enough. I will make sure to add documentation for these fields.

[2017-06-26 18:11] alansouzati commented on #1332
@XuluWarrior I'm not saying that there is not a place for Badges. I can see Badge as a component inside [grommet-addons](https://github.com/grommet/grommet-addons).

LoginForm is a similar example of a component that should live in the addons. We will be soon moving LoginForm from core to addons.

Hopefully it makes more sense now.

[2017-06-26 19:57] alansouzati commented on #1297
Here is a codepen that does what you are looking for. The underlying element of the select is an input hence the string requirement.

https://codepen.io/alansouzati/pen/jwaOyB?editors=1010

The idea is to hold the displayValue in a separate property and use that for the `Select` value.

[2017-06-26 19:57] #1297 closed

[2017-06-27 00:02] XuluWarrior commented on #1332
That does make more sense.  Thanks. :)

[2017-06-27 19:23] alansouzati commented on #1401
I don't think we can control that in our end. Do you have any suggestions?

One solution would be to use another component like the native select specifically for mobile. The problem with the select is that it is not a native control and I cannot figure out a way that it would work for you, unless you have something in mind.

Checkout our responsive utils that allows you to know if a Grommet app i

[2017-06-27 19:23] #1401 closed

[2017-06-27 20:47] cherih commented on #1399
Was able to reproduce this and am working on the fix.

[2017-06-27 20:52] alansouzati commented on #1398
interesting concept. it is the first time I see **await** being used for webpack, so thanks for sharing that.

Yeah the way react-intl `addLocaleData` function works is by receiving the language, not the locale. Although, they have the locale specificity inside the object returned by `import('react-intl/locale-data/${locale}')`.

To solve this mismatch in the file names I would do a string replace

[2017-06-27 20:52] #1398 closed

[2017-06-27 20:55] alansouzati commented on #1397
Agreed we will revisit this for Grommet 2.0. 24kb is not the end of the world and removing this now could lead to breaking changes for existing apps.

I will leave this issue open and close it after releasing Grommet 2.0

[2017-06-27 21:01] alansouzati commented on #1396
I was able to reproduce this in IE11. Not on Edge. I'm working on adding a fix for this. Thanks for reporting it.

[2017-06-27 21:33] alansouzati commented on #1396
Yeah after my investigation I realized that the issue is because the width of the Notification is driven from its parent width. Layer does not have predefined width so we recommend adding a Box element as the immediate child of a Layer. In your case I would recommend adding a Sidebar. Check out this codepen:

https://codepen.io/alansouzati/pen/jwadRb?editors=0010

I'm closing this issue because it

[2017-06-27 21:33] #1396 closed

[2017-06-27 21:34] alansouzati commented on #1346
Fixed by https://github.com/grommet/grommet/pull/1386

[2017-06-27 21:34] #1346 closed

[2017-06-27 22:27] alansouzati commented on #1363
closing this, let's manage it in the grommet-docs project.

[2017-06-27 22:27] #1363 closed

[2017-06-27 23:33] alansouzati commented on #1399
Fixed by https://github.com/grommet/grommet/pull/1402

[2017-06-27 23:33] #1399 closed

[2017-06-28 19:29] alansouzati commented on #1394
Fixed by https://github.com/grommet/grommet/commit/8121d85648b2f5ce6f1720e79f23b29c2c85f86b

[2017-06-28 19:29] #1394 closed

[2017-06-28 20:22] alansouzati commented on #1390
good catch. thanks for reporting this. I'm working on a fix for this

[2017-06-28 20:36] alansouzati commented on #1390
Fixed https://github.com/grommet/grommet/commit/03c333a3eb4e5e028b9a238b6248f70cff2b07b2

[2017-06-28 20:36] #1390 closed

[2017-06-28 20:38] alansouzati commented on #1389
yeah that's pretty bad. let my try to fix this.

[2017-06-28 21:17] alansouzati commented on #1389
just FYI I cannot reproduce this issue on Chrome.

[2017-06-28 21:48] alansouzati commented on #1389
Fixed by https://github.com/grommet/grommet/commit/6b7ec5c9bfc246e8f9d47d5d4450e6e99d3cbc9e

[2017-06-28 21:48] #1389 closed

[2017-06-28 23:06] alansouzati commented on #1388
Fixed in https://github.com/grommet/grommet/commit/59b56e65de2bdb1632089e956be1ff95a5870c3e

[2017-06-28 23:06] #1388 closed

[2017-06-28 23:48] alansouzati commented on #1383
Fixed in https://github.com/grommet/grommet/commit/da14780c146e254a5ab59397824c7f034ac67012

[2017-06-28 23:48] #1383 closed

[2017-06-28 23:50] alansouzati commented on #1325
Due to inactivity I'm going to close this issue. feel free to reopen if you still feel there is something wrong.

[2017-06-28 23:50] #1325 closed

[2017-06-28 23:50] alansouzati commented on #1303
Yeah I've updated react-desc already.

[2017-06-28 23:51] alansouzati commented on #1303
this problem should now be gone. can some of you validate that so that I can close this issue?

[2017-06-28 23:54] alansouzati commented on #1271
thanks @SuhairZain, you are exactly right. your Div has to control its width. I would either remove the div wrapper, which seems unnecessary, or leave it and add a `max-width` to it.

I'm closing this issue. Feel free to reopen if you feel there is something to be fixed in grommet.

[2017-06-28 23:54] #1271 closed

[2017-06-28 23:55] ezzatron commented on #1303
I haven't seen the issue in a while. Safe to close AFAIC.

[2017-06-28 23:57] alansouzati commented on #1286
It is possible to have stacked layers. Grommet will render that. but this is not recommended for UX reasons.

[2017-06-28 23:57] #1286 closed

[2017-06-28 23:58] alansouzati commented on #1289
Showing tips on hover is not recommend and I don't think it is supported.

I'm closing this issue because I believe there is nothing to be changed on grommet.

[2017-06-28 23:58] #1289 closed

[2017-06-29 00:18] alansouzati commented on #1381
there are differences with the way JSX renders HTML elements.

Here is a codepen that renders your logo:

https://codepen.io/alansouzati/pen/PjEBwL?editors=0110

[2017-06-29 00:18] #1381 closed

[2017-06-29 00:18] alansouzati commented on #1303
thanks @ezzatron

[2017-06-29 00:18] #1303 closed

[2017-06-29 01:14] Serexx commented on #1286
Thanks Alan, I'm converting an existing app with layered modals but as I've become more familiar with the Grommet framework I've realized that It's less intuitive that way, and is more complex as well so we're biting the bullet and redoing things. Thanks for the reply!

[2017-06-29 15:12] shai32 commented on #1397
Thanks

[2017-06-29 16:39] alansouzati commented on #1288
Thanks for this issue.

Fixed in https://github.com/grommet/grommet/commit/6b7ec5c9bfc246e8f9d47d5d4450e6e99d3cbc9e

[2017-06-29 16:39] #1288 closed

[2017-06-29 18:14] alansouzati commented on #1382
Very weird, thanks for identifying this. I was able to reproduce this issue. Let me try to fix it

[2017-06-29 23:11] mrboomer commented on #1297
@alansouzati

Using your method works, but then it doesn't append the appropriate classes to that particular option. In my case, I am allowing multiple options to be selected, and therefore need those classes to display the option as selected.

My issue currently only exists when only one item is selected, since I am doing something similar to your example, and applying a displayValue only when on

[2017-06-30 04:04] creephanger commented on #640
Hi! I've had this same issue... tried grommet css and it worked... `https://github.com/mvanlonden/grommet-css

[2017-06-30 13:45] arabold opened #1404 "Feature Request: Allow setting search icon in SearchInput"
I like to be able to change the icon used in the `SearchInput` from the default `SearchIcon` to something else, e.g. `CaretDownIcon`. This would allow to use the input field more like a drop-down that also allows free text input to lookup an item quickly.

I'm implementing this change using a custom component derived from `SearchInput` but feel I should better do a Pull Request if there's any inte

[2017-06-30 18:00] arabold commented on #1404
I didn't realize that the Select (https://grommet.github.io/docs/select) does already have exactly what I need. Ignore what I wrote above.

[2017-06-30 18:00] #1404 closed

[2017-06-30 21:04] alansouzati commented on #1382
This is actually a Chrome bug. I cannot reproduce it in any other browser.

I added a work-around for this issue in this commit: https://github.com/grommet/grommet/commit/c31d7d106f2f5c580bcf5370320a703b68014342

The problem was even though we are calling `removeChild`, Chrome seems to execute that successfully but does not remove the child for some weird reason :(

[2017-06-30 21:04] #1382 closed

[2017-06-30 22:36] alansouzati commented on #346
We will do this after 2.0 we will close it for now and reopen when the time comes.

[2017-06-30 22:36] #346 closed

[2017-06-30 22:36] alansouzati commented on #372
it is a long time since we dont face problems with that anymore. i believe this task is not needed anymore

[2017-06-30 22:36] #372 closed

[2017-06-30 22:40] alansouzati commented on #835
this would require another package that handles timezones with names like `America\Los_Angeles` which seems very vendor specific.

It is likely the timestamp will be removed in 2.0 as it is just a tiny wrapper around moment-js.

I don't see ourselves adding much more support for timestamp as it stands today. I'm going to close this issue because of this reason.

[2017-06-30 22:40] #835 closed

[2017-06-30 22:41] alansouzati commented on #872
we will be redesigning the DateTime component for Grommet 2.0. This issue will be part of this work.

[2017-06-30 22:45] alansouzati commented on #1117
we will not add support for the bot as we changed the way we are handling the issues.

[2017-06-30 22:45] #1117 closed

[2017-06-30 22:45] alansouzati commented on #1118
we will not add support for the bot as we changed the way we are handling the issues.

[2017-06-30 22:45] #1118 closed

[2017-06-30 23:55] RyanCCollins commented on #1364
We just recently added theming to the Grommet CMS and were talking about doing custom themes.  Let me know if you need any help with this!  I'd be happy to help.

[2017-07-01 15:23] KenLeeKH opened #1406 "[Question] How to change to dark theme"
Hi
I am exploring grommet and am wondering how I can change it to dark theme instead of the light theme? Is there any place I can check? Thanks.

[2017-07-01 21:54] sclanc opened #1407 "[Feature Improvement] LoginForm Component reuse"
It would be nice to have a buttonText prop on the LoginForm component so I could change the 'Log in' text on the submit button to say 'Create account' Everything else would stay the same, I tried figuring it out on my own but things get a little hairy in there.  Here's what I changed, if you could tell me what I missed that would be great.

in LoginForm.js:
 I added a line between 162 -163 that re

[2017-07-02 19:34] przytrzask commented on #1341
Can you consider one more scenario in this case? Since grommet doesn't mask datetime format  I would like to get rid of checking what user types in the input and get this component to behave like input is disabled but being changing date still possible. It could work when you specify both onChange and disabled prop on DateTime component .You can simply reproduce it by manually adding disabled attr

[2017-07-04 09:05] linde12 opened #1409 "React & react-redux issues cause Grommet TextInput to lose caret position"
There are currently issues with React and react-redux regarding caret position within a text field. The issue appears when you update state(causing a re-render) in your controlled input component before new props are received from the parent component.

Let's look at an example with a `TextInput` component.

Normal flow is:
1. Change happened(e.g. `lind` -> `linde`), call parent's onDOMChange call

[2017-07-04 09:20] agrawalPratik opened #1410 "Unwanted scroll bar presence is observed when side layer is opened [IE Specific]"
When you open a layer in IE, scroll of the main page is visible on the layer for few seconds which makes the UI very ugly.
### Expected Behavior

Main page scroll should not be shown on layer
### Actual Behavior

Main page scroll appears on the layer
### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/docs/layer/examples?align=left&closer=true&i-contents=form

https://g

[2017-07-04 09:26] agrawalPratik opened #1411 "Extra drop-down caret icon is seen on the filter box [IE specific]"
When you open any filter box, in that if you open a dropdown user can see two dropdown caret icon
### Expected Behavior

When you open any filter box, in that if you open a dropdown user should see only one caret icon
### Actual Behavior

When you open any filter box, in that if you open a dropdown user can see two dropdown caret icon
### URL, screen shot, or Codepen exhibiting the issue
![ie_drop

[2017-07-04 12:51] Slumber86 opened #1413 "Icon change in many components"
We are trying to change the icon in the the select component. The problem is that the icon is hardcoded in the component. It would be nice to pass the the icon element as a child or as a property to allow more customization of the framework whitout forking it or without ugly CSS hacks

With a quick search the hardcoded icons are found in:

- Select
- NumberInput
- Search
- SocialShare
- AccordionP

[2017-07-05 07:57] agrawalPratik commented on #1394
In which version we will get this fix.

[2017-07-05 07:57] agrawalPratik commented on #1394
@alansouzati In which version we will get this fix.

[2017-07-05 07:57] agrawalPratik commented on #1400
@alansouzati In which version we will get this fix.

[2017-07-05 11:22] agrawalPratik opened #1415 "Date Time Input box allows String/Characters entry issue"
Date Time input box allows user to enter characters & strings which create issue for form validation
### Expected Behavior

Date time input box should not allow characters & strings only numbers
### Actual Behavior

Date Time input box allows user to enter characters & strings which create issue for form validation
### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/hpe

[2017-07-05 21:19] alansouzati commented on #1406
Hi @KenLeeKH we don't have color themes but brand themes. For example you could use the HPInc theme as opposed as the HPE theme. Our theme capabilities is for a brand which will often have a different color palette.

For example, these are the colors for the Grommet theme: https://grommet.github.io/docs/color

On the other hand, there are the colors for the HPE theme: https://grommet.github.io/hpe

[2017-07-05 21:19] #1406 closed

[2017-07-05 21:25] alansouzati commented on #1407
Thanks for raising this issue. LoginForm component should not live inside Grommet core components just because of the reasons your outlined here. It is a very high level component that can lead to these needs for customizations. We will be moving LoginForm to `grommet-addons` project, this repo will host components that will both serve as a reference that you can copy, but also a ready-to-use comp

[2017-07-05 21:25] #1407 closed

[2017-07-05 21:35] alansouzati commented on #1411
this seems to be a grommet-index filter which is a separate project.

The core grommet team does not maintain grommet index anymore. The reason we stopped maintaining it was the fact that it has too many abstractions  in place.

Could you please open an issue against [grommet-index](https://github.com/grommet/grommet-index)? We are relying in the community to jump in and fix any issues related to

[2017-07-05 21:35] #1411 closed

[2017-07-05 21:43] alansouzati commented on #1413
Thanks for this issue.

Where it makes sense we will allow for the icon to be changed, for example Menu does support the icon prop https://grommet.github.io/docs/menu.

Search is an example of a component that we will not allow changing the icon because we cannot see a reason for that. If we allow this we will open for this kind of things: `<Search icon={<BackIcon />} />` . This is definitely dang

[2017-07-05 21:43] #1413 closed

[2017-07-05 21:51] alansouzati commented on #1394
this is already present in Grommet 1.5.0

[2017-07-05 21:52] alansouzati commented on #1400
There was not fix for this. so your existing grommet should support this already.

[2017-07-05 21:55] alansouzati commented on #1415
Thanks for reporting this, but this is not a bug.

Your form validation should let the user know that the date is invalid. I would not recommend removing string characters, for example this is a valid date: `12/20/1987 4:15pm` and it has a bunch of characters in it.

Take the Expedia site an example: https://www.expedia.com

[2017-07-05 21:55] #1415 closed

[2017-07-06 00:03] alansouzati commented on #1348
we will be re-evaluating the way we do multiple select for Tiles, specially in mobile. This work will be part of Grommet 2.0.

[2017-07-06 00:49] alansouzati commented on #1313
Fixed in https://github.com/grommet/grommet/commit/fda2c3cff10dd858437e5f9cb80d5c6967334775

[2017-07-06 00:49] #1313 closed

[2017-07-06 05:57] agrawalPratik commented on #1411
Yup I have added this in grommet-index page, thanks

[2017-07-06 06:14] agrawalPratik commented on #1415
Hi Alan, I am talking about only time input box, wherein user don't enter AM or PM, they just enter numeric value, also user should be able to enter time manually without colons. Can you please reopen this issue. @alansouzati

[2017-07-06 06:17] agrawalPratik commented on #1400
hi @alansouzati sorry I didn't get it, is this issue rectified or do we need to change something from our end in the code to solve the issue.

[2017-07-06 09:45] Slumber86 commented on #1413
Hi Alan,
thanks for the answer. I think that the problem is not well uderstood.
The base problem is not to use a different icon chosen beetween the grommet icon set, but our customer asks for custom design of some standard components (specifically the select and accordion arrows) that don't match exactly with grommet default design, so we want to use custom icon components.
The icons are not skinn

[2017-07-06 20:19] alansouzati commented on #1410
I cannot reproduce this

![Screen Shot 2017-07-06 at 1.17.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555234953a6a9e8f00e8ff55/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246454f56b7191a379f1132c4f5b5e5ecc3c4a4356bcbbd671f3e57862804e0eebd93b0a76ce3b14fdb9d31abb07b2208b48d3e4bdd819d2f42f67b6d5db1063474f4dcbed5727a39841c95cff42e24a57a7173e61e77324

[2017-07-06 20:19] cherih commented on #1395
Added documentation for the hidden, size and strong properties to the grommet.io FormField component page.

See PR#276 in grommet-docs project.

[2017-07-06 20:22] alansouzati commented on #1410
can you update your IE11 ?

[2017-07-06 20:24] #1395 closed

[2017-07-06 21:03] alansouzati commented on #1097
I believe the fix will be to add an align option to the Tip something like:

`<Tip target='elementId' align='center' />`

`<Tip target='elementId' align='start' />`

`<Tip target='elementId' align='end' />`

[2017-07-06 21:03] alansouzati commented on #1097
Let's target this for Grommet 2.0

[2017-07-06 21:08] alansouzati commented on #1415
Even in that case we do not recommend removing characters. Our pattern is to let the user type the wrong input and validate when you submit the form. I would be happy to reopen the issue if we identify anything that needs to be changed in Grommet.

[2017-07-06 21:09] alansouzati commented on #1415
If you really want to remove the character you can listen to `onChange`. Grommet will not add that as a built-in solution as it is not a recommended pattern.

[2017-07-06 21:11] alansouzati commented on #1400
Did you check the codepen ? https://codepen.io/alansouzati/pen/vZJVaM?editors=0010

You need to use compact prop.

[2017-07-06 21:16] alansouzati commented on #1409
Thanks for this issue. How about people who are using the `suggestions`?

I would rather find a fix that fix the solution for both cases. Can you create a codepen that reproduces this problem in Grommet?

[2017-07-06 22:23] alansouzati commented on #1267
Fixed in https://github.com/grommet/grommet/commit/fcbf437e67e7e2f1010ab390606177d42defabe9

[2017-07-06 22:23] #1267 closed

[2017-07-06 22:40] arabold opened #1416 "Using cursor keys in TextInput leads to a Uncaught TypeError"
When you start typing in a `<TextInput />` control and then press cursor up or down an exception is thrown:

[code]

### URL, screen shot, or Codepen exhibiting the issue

No special steps needed to reproduce this. Just place a `<TextInput />` on your page:
https://codepen.io/anon/pen/BZOarm?&editors=0010

### Your Environment
* Grommet version: 1.5.0
* Browser Name and version: Chrome Version 59.

[2017-07-06 22:41] arabold commented on #1416
This *might* be addressed by this Pull Request already: https://github.com/grommet/grommet/pull/1412

[2017-07-06 22:54] arabold commented on #1367
It's not a big deal to use `<textarea />` but I'd like to better understand the reasoning behind this. Wouldn't this be a perfectly logical component to have? It was the first thing I was missing and looking when I started using Grommet for the first time. It confused me and still is... I'd be happy to provide a simple wrapper in a PR if that would help, but I fail to see why some elements such as

[2017-07-07 05:16] agrawalPratik commented on #1415
okk thank you @alansouzati I will assign this to my team and will check if that helps us or not. Thanks

[2017-07-07 15:52] alansouzati commented on #1367
Thanks for the feedback @arabold. The reason we have a component for Paragraph today is to control things like alignment and size.

TextInput is an example of a simple wrapper around the TextInput, but it provides the ability to use suggestions with Search.

Textarea is a component that does not have the need for any special attribute, not that I can think of. So that's why we decided not to imple

[2017-07-07 17:55] sotojuan opened #1417 "`TextInput` highlights value on when tabbing back in"
### Expected Behavior

Tabbing back into an input doesn't do anything.

### Actual Behavior

Tabbing back into an input highlights/selects the text.

### Steps to Reproduce

 1.  https://grommet.github.io/docs/text-input
 2.  Type in text input
 3.  Go to another browser tab or app window
 4. Come back
 5. Text is highlighted/selected

### Your Environment

* Grommet version: (1.5.0)
* Browser Nam

[2017-07-07 18:53] #1324 closed

[2017-07-07 23:00] alansouzati commented on #1409
yeah that's weird I could not find a better solution :( I will merge your PR

[2017-07-07 23:01] #1409 closed

[2017-07-07 23:09] alansouzati commented on #1417
Fixed by https://github.com/grommet/grommet/commit/d6858fd5577d34758d098b35c2b04a8ca8c45d71

[2017-07-07 23:09] #1417 closed

[2017-07-07 23:15] alansouzati commented on #1416
Fixed https://github.com/grommet/grommet/commit/7d4d87db958e046c414882590377aab161833fee

[2017-07-07 23:15] #1416 closed

[2017-07-07 23:18] alansouzati commented on #1379
Thanks @RyanCCollins this is exactly right. @windgaucho any updates?

I'm going to close this issue since I believe there is nothing to be fixed in grommet. feel free to continue the discussion here. we can always reopen if we identify something to be fixed in grommet.

[2017-07-07 23:18] #1379 closed

[2017-07-07 23:22] alansouzati commented on #1364
Fully agree. We need a better documentation for that. We are in the works for Grommet 2.0 and we will be changing the way we do things regarding theming and SCSS. So we will provide documentation for that once we have Grommet 2.0 out!

I'm closing this issue because we have already one open to track this:

https://github.com/grommet/grommet/issues/704

I'm looking forward to releasing Grommet 2.0

[2017-07-07 23:22] #1364 closed

[2017-07-07 23:26] alansouzati commented on #1341
Grommet does not recommend disabled input fields. But you can definitely achieve that by removing the DateTime when read-only and replace it with a native input with read-only attribute set.

It is confusing to show the icon in the right when it is ready only.

I'm closing this issue since I believe there is nothing to be fixed on Grommet. We can continue the discussion and re-open in case we deci

[2017-07-07 23:26] #1341 closed

[2017-07-07 23:35] alansouzati commented on #1339
Fixed in https://github.com/grommet/grommet/commit/6299947ac8b7fa8c619226fc33035480cb6fdbfa

[2017-07-07 23:35] #1339 closed

[2017-07-07 23:44] alansouzati commented on #1336
hey @thomas-romuald I'm trying to reproduce this issue. We don't use Selenium. It seems that the invariant 136 relates to trying to call `setState` when the component is already unmounted. By looking at the Accordion source code I cannot identify anything that could be causing this issue.

Here is the [source code](https://github.com/grommet/grommet/blob/master/src/js/components/Accordion.js) for

[2017-07-07 23:54] alansouzati commented on #1316
Fixed by https://github.com/grommet/grommet/commit/2162e514f783f628a278d3720bbbe0f56f90f689

[2017-07-07 23:54] #1316 closed

[2017-07-08 00:01] alansouzati commented on #1302
Thanks for reporting this @raphi011.

Although the current structure behaves as expected.

There are a lot of limitations with auto scroll to active suggestion.

For example, we support multiple active suggestions and it is not clear which element we should scroll.

In terms of UX, I would limit the number of suggestion with the top 10 matches. If the user wants better suggestions he can always pr

[2017-07-08 00:01] #1302 closed

[2017-07-08 00:06] alansouzati commented on #1283
Can you paste here the source code for the Chart you are trying to render?

[2017-07-08 00:12] alansouzati commented on #1283
Where is an example of a chart in codepen:

https://codepen.io/alansouzati/pen/zzJQYZ?editors=0010

[2017-07-08 00:17] alansouzati commented on #1284
I believe this is fixed. I remember pushing a fix for this. I've tested and I cannot reproduce it. I'm closing it for now. feel free to reopen if you can still reproduce it. If I'm not mistaken this is already present in Grommet 1.5.0

[2017-07-08 00:17] #1284 closed

[2017-07-08 00:56] sotojuan commented on #1417
Thanks!

[2017-07-10 04:57] agrawalPratik commented on #1410
Hi Alan,

I can still reproduce on my IE my version is 11.0.9600.18697IS
![ie-issue](https://user-images.githubusercontent.com/23493164/28003294-44d420e6-655a-11e7-8b3c-f42328ed5943.png)

@alansouzati : Issue is very tricky follow below steps:
1 - First hover on the Options form of layer you will see a scrollbar , initially there is no scrollbar but once you hover on it you will see the scrollbar

[2017-07-10 05:00] agrawalPratik commented on #1400
HI @alansouzati,

I completely missed it as I thought you were in conversation with the other guy.

I will ask my team to use this as recommended by you.

Thanks for your help.

Regards,
Pratik Agrawal

[2017-07-10 05:12] agrawalPratik commented on #1396
ok Thanks @alansouzati I have posted this to my dev team last week, hope this will solve our issue.

[2017-07-10 09:51] agrawalPratik opened #1418 "NumberInput Box allows all characters [IE specific]"
Numberinput box allows all the characters in the box, except for "e" all the other characters should not be allowed, this behavior is only present in IE
### Expected Behavior

Except for "e" all the other characters should not be allowed, this behavior is only present in IE
### Actual Behavior

Numberinput box allows all the characters in the box, except for "e" all the other characters should not

[2017-07-10 17:21] dunnock opened #1419 "When Layer opened from Menu it does not capture full keyboard focus"
### Expected Behavior
Layer opened from Menu item should capture full keyboard focus

### Actual Behavior
Partially focus stays with Menu button, pressing `space` opens DropMenu

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/maximvorobjov/pen/rwqKjW

### Steps to Reproduce
 1. Open Menu drop down
 2. Click `Form in layer` action
 3. Put cursor in the TextInput inside Lay

[2017-07-10 17:22] dunnock commented on #1419
Just FYI there is workaround: when opening Layer do not display Menu

[2017-07-10 18:42] alansouzati commented on #1283
I'm closing this issue since I believe there is nothing to be changed on Grommet. feel free to keep the discussion going. we can always reopen if we feel there is something to be fixed.

[2017-07-10 18:42] #1283 closed

[2017-07-10 20:18] alansouzati commented on #1419
@dunnock and I identify the fix for this. he will be sending a PR soon

[2017-07-10 20:23] alansouzati commented on #1410
I still cannot reproduce it. Can you update to the latest IE11?

This can be and most likely is a browser issue. Check out this page, the supported browser version is always supposed to be the latest:

https://grommet.github.io/docs/browser-support

[2017-07-10 20:27] alansouzati commented on #1418
This is not bug. Check this page:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number

Grommet NumberInput is just an `<input type='number />` with extra style (like the plus and minus buttons).

I would recommend subscribing to the onChange if you want the content of this form input to be number only.

I believe the best experience is to let the user type anything he wants and

[2017-07-10 20:27] #1418 closed

[2017-07-10 23:02] #1419 closed

[2017-07-11 01:09] alansouzati commented on #1299
Fixed in https://github.com/grommet/grommet/commit/74c060d93543be4a67364f0371e9971691fdabbe

Also added keyboard operability and accessibility.

[2017-07-11 01:09] #1299 closed

[2017-07-11 01:17] alansouzati commented on #1299
You should use `e.target.value` instead of `e.value`

[2017-07-11 01:18] alansouzati commented on #1241
You should use `e.target.value` instead of `e.value`

[2017-07-11 01:18] #1241 closed

[2017-07-11 02:30] alansouzati commented on #1269
Thanks for the suggestion and sorry for taking such a long time to get back to you on this.

I would avoid mixing currency with number. Currently NumberInput is just a tiny wrapper around the native `<input type="number" />`.

There are libraries that handles internationalization stuff like react-intl and they do have format for currency. We would have to handle scenarios like "1.000" vs "1,000" w

[2017-07-11 02:30] #1269 closed

[2017-07-11 15:11] okada opened #1422 "'Table row cells do not match length of header cells.' when rendering nested tables."
To render nested tables, i am rendering, on the root table, a TR/TD with colspan and the nested table inside the TD.
Everything seems to be working, except for the above mentioned message on the console.
Inspecting the code, it seems that this line:
var headerCells = this.tableRef.querySelectorAll('thead th');
in Table.js, line 480
is returning the THs of both, the root and the nested tables.
###

[2017-07-11 20:19] cherih commented on #1322
@tobias-flitsch - This only seems to be a problem when both fixed and float are true. Does the fixed property alone provide the functionality you need?

The float property seems confusing and we are re-evaluating it for Grommet 2.0 to determine whether or not it can be deprecated. Do you have a specific use case that requires the float property?

[2017-07-11 21:25] alansouzati commented on #1422
Fixed in https://github.com/grommet/grommet/commit/99d0d90f01853397b9d34cd4ceeccef345cc0e2b

[2017-07-11 21:25] #1422 closed

[2017-07-11 21:39] alansouzati commented on #1322
I just had a chat with @ericsoderberghp and he explained me a scenario where the float is useful. It was confusing to me also, hopefully we will fix this confusion when we release the new site for Grommet 2.0 😄

Here is a codepen for that:

https://codepen.io/alansouzati/pen/awPZpY?editors=0010

The align of `It is cool` is centered around the entire box, even though the header takes the top part.

[2017-07-11 21:39] #1322 closed

[2017-07-12 05:22] agrawalPratik commented on #1418
okkk thanks @alansouzati, I will let you know if I have further queries on this.

[2017-07-12 18:35] gustahrodrigues opened #1423 "Some colors are not being applied on Line component"
I'm trying to set colorIndex from [color page](https://grommet.github.io/docs/color) of the [Line component](https://grommet.github.io/docs/chart/line), but some of them are not bein applied.

### Expected Behavior

Colors index available on [color page](https://grommet.github.io/docs/color) should be applied on Line component.

### Actual Behavior

Some colors are not being applied.

### URL, scr

[2017-07-12 22:52] bryanjacquot commented on #1410
@alansouzati I've observed this as well in a different product, not using IE.  I'll send you a link to an internal site.

[2017-07-13 11:02] daguix opened #1424 "Chart in Chart (for x-axis + y-axis chart) is not responsive correctly"
When you create a chart with an x-axis and a y-axis, it is done by a chart within a chart with one of them having vertical={true}. But when the width of the browser is reduced, the y-axis covers the chart and the chart it is partially hidden.

`<Chart>
                        <Axis vertical={true} count={3}
                              labels={[{"index": 0, "label": "y1"}, {"index": 1, "label": "

[2017-07-13 11:27] #1424 closed

[2017-07-13 15:55] RyanCCollins commented on #1423
Hey @gustahrodrigues you're right this is quite confusing.  Thank you for posting an issue about it.  I believe that the chart components have custom colorIndex options, i.e. `graph-1` and `graph-2` but I'm not sure of the reason for that and why the regular options do not work.

Hopefully one of the other core team members can comment about this.

[2017-07-13 18:38] drewlustro opened #1425 "Select does not render label JSX in selected value"
Since version `1.5.0`, Grommet's Select dropdown component can render rich JSX, as long as the JSX is passed into an option's `label`. For example, an option authored like this will render as a rich image in the select dropdown:

[code]

However, Grommet's Select component **does not** support rendering the currently selected value's label as JSX in dropdown (non-inline) mode. The component only s

[2017-07-13 23:20] alansouzati commented on #1425
Yeah this is a limitation of the Select component as of now. The underlying component behind the selected value is an `input` which does not allow anything but text. I will keep this open and evaluate other solutions for Grommet 2.0. Thanks for raising this issue.

[2017-07-13 23:37] drewlustro commented on #1425
Forgive me, but I guess I am not sure why this is a limitation when both `option.label` and `option.value` support rich assignment.

The `<input type="text" />` tag is `GrommetSelect`'s proxy of native `<select>`. It's already an abstract representation... why let the abstract representation impose limitations on its parent?

I cannot say I've dug into the code to find how straightforward it would

[2017-07-13 23:50] alansouzati commented on #1425
if you look at this line: https://github.com/grommet/grommet/blob/master/src/js/components/Select.js#L441

You will see the input is used as a readonly element. Also if you search for `this.inputRef` you will see that we pass that to existing Grommet 1.X users. This is a 2.0 feature because we cannot remove support for that as it will be mostly likely a breaking change if you are using the input r

[2017-07-14 00:05] drewlustro commented on #1425
Very clear, thank you!

💯

[2017-07-14 01:54] RyanCCollins commented on #1425
Woo, grommet 2.0!!! 🎉

[2017-07-14 05:20] drewlustro commented on #1425
:beers: Added React component support to Grommet Select's `render()` in #1426

I do not believe there are any regressions. All tests pass.

[2017-07-14 05:54] alansouzati commented on #1425
Nicely done. Just came back from a happy hour. I will merge this first thing tomorrow, cheers

Sent from my iPhone

[2017-07-14 15:30] tvojtech opened #1427 "Table#onMore callback does not get called on small display"
`Table#onMore` callback does not get called initially under some circumstances
- used in `Split`
- `Split`s left part is longer than browser window
- window width is small so `Split`s left part is not visible

### Expected Behavior
`onMore` callback gets called

### Actual Behavior
`onMore` callback does not get called. Table header and spinner icon is displayed forever. Resizing window causes imm

[2017-07-14 20:08] tvojtech opened #1428 "Table#onMore not called in nested Splits"
On big screen in layout with two nested `Split`s `Table#onMore` does not get called on blank screen.

Maybe related to https://github.com/grommet/grommet/issues/1427 but probably not.

Caused by commit https://github.com/grommet/grommet/commit/bfc03b1b18c4e579e997766d007ecd45a256ad72 added to 1.5.0 release. `document` does not get to result of `DOM.findScrollParents`. Because of condition in https

[2017-07-14 21:27] drewlustro commented on #1425
Awesome!

[2017-07-14 22:08] #1425 closed

[2017-07-16 05:56] Hackbyrd opened #1429 "LoginForm Does Not Render and throw error, NEED HELP"
### Expected Behavior
Render LoginForm successfully

### Actual Behavior
When I try to render LoginForm, I get this error
<img width="1680" alt="screen shot 2017-07-16 at 1 41 42 am" src="https://user-images.githubusercontent.com/1607004/28245006-92b113dc-69c9-11e7-9cef-6ec48a5ae295.png">

### Steps to Reproduce
 1. Install react-boilerplate
 2. npm install grommet --save
 3. add "import 'grommet/

[2017-07-16 15:09] tusharkhatiwada commented on #1429
@Hackbyrd Can you share your code too?

[2017-07-16 19:14] Hackbyrd commented on #1429
I only changed 4 files from the react-boilerplate repo after installing grommet

1. app/containers/homepage -- tried to import and render LoginForm (Failed)
2. app/app.js -- added import 'grommet/grommet-hpe.min.css';
3. package.json -- npm install grommet, and added "grommet" to "dllPlugin"
4. internals/webpack.base.babel.js -- added '.json' to resolve.extensions

<img width="633" alt="screen sho

[2017-07-18 07:07] linde12 opened #1430 "Icon within Table isn't rendered in the center(vertically) of the TableRow"
If you have an `Icon` within a `Table` it isn't rendered in the center(vertically). This is due the the `display: inline-block;` property of the `Icon` which seems to add some extra padding.

It might be because the bottom of the text and the bottom of the icon should be aligned? But in our case we want the center of the icon to be in the center of the table row(because we have css to which adds l

[2017-07-18 09:31] RodHPE opened #1431 "Redundant filter to be present"
when click filter icon to open filter drop. if has a lot  filter items using scrollbar to display., that cause have redundant filter to present.  open the source code we found  two  filter tags, see picture.
### Expected Behavior
has only one index filter to be present

### Actual Behavior
has multi-filter

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubus

[2017-07-18 15:10] Gehbrial opened #1432 "Allow to close a menu programmatically"
The Menu component should possess a prop that dictates whether it should be open or not. This would allow us to close it programmtically.

### Expected Behavior
I have a menu with multiple checkboxes (you can select more than one before closing the menu). The menu also has an anchor that opens a modal (which allows to add more checkboxes to the menu). I should have the option to close the menu bef

[2017-07-18 23:44] adamroldfield commented on #1162
The mirror element created when scrollable = true is cloning the header, but it doesn't copy the click events. The real header with the click events assigned is hidden behind it and the thead is set to hidden.

[2017-07-19 00:02] adamroldfield commented on #1162
This will fix it. Replace the for loop in build mirror with:

`for (let i = 0; i < cells.length; i++) {
          const cell = cells[i];
          const cloneCell = cell.cloneNode(true);
          if (cell.children.length)
            cloneCell.onclick = () => cell.children[0].click();
          mirrorRow.appendChild(cloneCell);
        }`

[2017-07-19 03:22] agrawalPratik opened #1433 "Annotated meter is not rounding off decimal values"
In Annotated Meter as shown below:
<AnnotatedMeter align='center' size='small' type='bar' stacked={true}
                    series={series}
                    units='GB'
                    max={max}
                    legend={{placement: 'bottom', total: false, align: 'center'}}
                  />
We pass max value to the Annotated Meter component. But inside the component it calculates this

[2017-07-19 07:02] RodHPE commented on #1431
It seems when has a lot filter item, the page will re-rend with scrollbar. the filter will be double

[2017-07-19 16:52] adamroldfield commented on #1397
@shai32 what tool produces that diagram? Thanks!

[2017-07-19 16:54] primozs opened #1434 "React PropTypes warnings"
React 15.6.1 is giving warnings:
"Accessing PropTypes via the main React package is deprecated, and will be removed"

For:
https://github.com/grommet/grommet/blob/master/src/js/components/Anchor.js
import { schema, PropTypes } from 'react-desc';

### Expected Behavior
no warnings

### Your Environment
* Grommet version: 1.5.0

[2017-07-20 05:37] Hackbyrd commented on #1429
@tusharkhatiwada I posted my code above

[2017-07-20 16:48] drewlustro opened #1435 "Tile without Tiles ancestor sometimes throws exception"
When a `<Tile>` has no `<Tiles>` ancestor, grommet 1.5.0 has an uncaught exception.

### Expected Behavior

The documentation does not note consequences to using `<Tile>` without a `<Tiles>` parent, so this exception should be guarded against.

### Actual Behavior

Grommet throws an exception when trying to access ancestor `tiles.scrollWidth`

### URL, screen shot, or Codepen exhibiting the issue

[2017-07-20 19:52] jlevesque opened #1436 "Radiobutton component should render with only one label"
Following the comment in the PR #1359
The radiobutton are mounting with two label thus throwing an wcag2 exception where a form element needs to have only one label. Having more then one label may confuses the screen readers.

[code]

### Expected Behavior
The radio input should render with one label attach to it.

### Actual Behavior
The radio input currently have two label, causing accessibility

[2017-07-21 04:28] agrawalPratik opened #1437 "Can't change the size of the DateTime box"
Can't change the size of the DateTime box to small/medium/large, by default it takes medium/full space available which doesn't provide flexibility in the look & feel
### Expected Behavior

there should be a provision to add sizes in the date time component like other components
### Actual Behavior

Can't change the size of the DateTime box to small/medium/large
### URL, screen shot, or Codepen exh

[2017-07-21 07:41] Waize commented on #872
@alansouzati is there any release-date(range) for 2.0?

[2017-07-21 10:58] RyanCCollins commented on #1435
Hey @drewlustro!  Thank you very much for reporting this.  To me, this seems like a great opportunity for you to contribute, if you are interested!  It would seem to me that the more exception handling we can add to safeguard against confusion, the better.  If you are able to, go ahead and open a PR with a proposed fix.  Otherwise, I will keep this issue open for the grommet-core team.

Thanks aga

[2017-07-21 11:00] RyanCCollins commented on #1436
Hey @jlevesque !  Great catch!  It is definitely a goal of Grommet's to be accessible and we take violations of the WCAG audit seriously.  I will leave this up for now so that we can get it on our backlog.

That said, if you feel compelled to try to help us resolve this, we would love for you to work on a PR!

[2017-07-21 11:47] ThanosDi commented on #1437
I have the same issue here and I sadly see that there is no update from this ticket
https://github.com/grommet/grommet/issues/1169

[2017-07-21 16:49] JonathanWbn opened #1442 "react-intl tries to translate grommet components"
In my grommet app, I am using react-intl for internationalisation. Things are working as expected and I can change the language on the fly.

But when I change to a non-english language, a ton of react-intl errors are thrown, looking like this:
`[React Intl] Missing message: "Tab Contents" for locale: "es", using default message as fallback.`
`[React Intl] Missing message: "location-pin" for locale

[2017-07-21 19:11] alansouzati commented on #1436
fixed by https://github.com/grommet/grommet/pull/1443

Thanks again @jlevesque

[2017-07-21 19:11] #1436 closed

[2017-07-21 19:15] alansouzati commented on #1442
Yeah. We are currently re-evaluating how we do messages for Grommet 2.0.

Currently Grommet 1.x uses react-intl also. We don't have the resources to provide the translations for every language. I would recommend adding the spanish support for all the keys that are in this file:

https://github.com/grommet/grommet/blob/master/src/js/messages/en-US.js

They are used mainly for accessibility reasons.

[2017-07-21 19:15] #1442 closed

[2017-07-21 21:14] JonathanWbn commented on #1442
Yes, that helps a ton! Is there a way for me to just disable the translation for grommet elements?

[2017-07-21 21:18] alansouzati commented on #1442
no :( we have Intl.getMessage all over our source code.

We will be removing this in grommet 2.0. I understand that forcing you to translate content is bad, but in this case it is for a good cause. It is important that folks with disabilities have content in spanish too :)

[2017-07-21 21:49] JonathanWbn commented on #1442
I love the attitude! How can I implement the translation? I see the link you sent, and I will create the same file for the different languages, but how do I integrate it with the app then?

[2017-07-21 22:22] alansouzati commented on #1442
You are already using react-intl today right? So I'm assuming you have the keys in your file for the messages you provide. I would just blend in the keys that are warning in your console. Does it make sense? The default values for those entries are in the file I sent you. So you would need to translate from english to spanish.

[2017-07-21 22:24] JonathanWbn commented on #1442
Yes, that makes perfect sense. Thanks for your help, also in the name of our blind customers. ;)

[2017-07-22 16:28] jhawthor commented on #1280
I don't believe this is a Grommet Issue.

I'm using:

-  ReduxForm "6.8.0"  in dependencies
-  Grommet "https://github.com/grommet/grommet/tarball/stable" in devDependencies
_Note: This is the stable tarball and not a specific version_

Below is  form code using Grommet components to include a "Select" field.  Mousing over the drop down list will highlight the item that is under the mouse.
[code]

[2017-07-22 16:34] jhawthor commented on #1280
FYI:  This line in the code i posted : "import { connect } from 'react-redux';"
can be commented out, as it is not required with ReduxForm 6.x.  The code I posted above was refactored from Redux-Form 5.6 to Redux-Form 6.8 and I had forgotten to remove it.

[2017-07-24 00:54] eoliphan opened #1444 "Need default "Grommety" styling and option for required form fields"
Generally speaking Form UI's provide some sort of standard indicator for required fields as a visual aid to the user such that at least that requirement can be met prior to running pre-submission validations.

The current elements/FormField wrapper don't provide any way to express this

[2017-07-24 05:15] agrawalPratik opened #1445 "Firefox alignment issue in key-value pair [Firefox specific only]"
There has been UI glitch noticed in firefox browser wherein if the value string length is more instead of left aligned it gets centered aligned in the container
### Expected Behavior

Value should be left aligned and should be wrapped if container is not big
### Actual Behavior

Value gets centered aligned and creates visual clutter in the Key- Value pair section
### URL, screen shot, or Codepen e

[2017-07-24 15:46] thomas-romuald commented on #1336
Hi @alansouzati  yes the component has the ``componentWillUnmount()`` specified.

This issue was present only while using **phantomJS**, but it's fine with selenium running on real browser (Chrome, Firefox). Before having accordion in a page test could run successfully on **phantomJS**.

So we stopped to use **phantomJS**.

[2017-07-24 16:55] alansouzati opened #1447 "Add chart to grommet next"
This card includes all the components inside the chart folder like Range, Line, Axis, Area...

[2017-07-24 16:57] alansouzati opened #1448 "Create grommet-icons project"
Move all the base icons to this project. Grommet, Spinning, Pulse, and Status will remain inside Grommet core.

[2017-07-24 16:58] alansouzati opened #1449 "Add Pulse to grommet next"

[2017-07-24 16:58] alansouzati opened #1450 "Add Spinning to Grommet next"

[2017-07-24 16:58] alansouzati opened #1451 "Add Status to grommet next"

[2017-07-24 16:59] alansouzati opened #1452 "Add Meter to grommet next"
This card includes all the components inside the Meter folder like Arc, Bar, Circle...

[2017-07-24 17:00] alansouzati opened #1453 "Add Video to grommet next"
* Re-evaluate accessibility and cross browser support

[2017-07-24 17:00] alansouzati opened #1454 "Add Accordion and Accordion Panel to grommet next"

[2017-07-24 17:00] alansouzati opened #1455 "Add Anchor to grommet next"

[2017-07-24 17:01] alansouzati opened #1456 "Add Animate to grommet next"

[2017-07-24 17:01] alansouzati opened #1457 "Add Box to grommet next"

[2017-07-24 17:02] alansouzati opened #1458 "Add Carousel to grommet next"

[2017-07-24 17:03] alansouzati opened #1459 "Add CheckBox to grommet next"

[2017-07-24 17:18] alansouzati opened #1460 "Add DateTime and DateTimeDrop to grommet next"
This card should also update DateTime to the latest design while transferring the component over

[2017-07-24 17:20] alansouzati opened #1461 "Add Distribution to grommet next"

[2017-07-24 17:21] alansouzati opened #1462 "Add Footer to grommet next"

[2017-07-24 17:21] alansouzati opened #1463 "Add Form to grommet next"

[2017-07-24 17:21] alansouzati opened #1464 "Add FormField and FormFields to grommet next"

[2017-07-24 17:22] alansouzati opened #1465 "Add Header to grommet next"

[2017-07-24 17:22] alansouzati opened #1466 "Add Heading to grommet next"

[2017-07-24 17:22] alansouzati opened #1467 "Add Headline to grommet next"

[2017-07-24 17:23] alansouzati opened #1468 "Add Image to grommet next"

[2017-07-24 17:23] alansouzati opened #1469 "Add Label to grommet next"

[2017-07-24 17:25] alansouzati opened #1470 "Add Layer to grommet next"

[2017-07-24 17:26] alansouzati opened #1471 "Add Legend to grommet next"

[2017-07-24 17:26] alansouzati opened #1472 "Add List and ListItem to grommet next"

[2017-07-24 17:26] alansouzati opened #1473 "Add Map to grommet next"

[2017-07-24 17:27] alansouzati opened #1474 "Add Markdown to grommet next"

[2017-07-24 17:27] alansouzati opened #1475 "Add Menu to grommet next"

[2017-07-24 17:27] alansouzati opened #1476 "Add Notification to grommet next"

[2017-07-24 17:28] alansouzati opened #1477 "Add NumberInput to grommet next"

[2017-07-24 17:28] alansouzati opened #1478 "Add Paragraph to grommet next"

[2017-07-24 17:28] alansouzati opened #1479 "Add PasswordInput to grommet next"

[2017-07-24 17:29] alansouzati opened #1480 "Add RadioButton to grommet next"

[2017-07-24 17:29] alansouzati opened #1481 "Add Search to grommet next"

[2017-07-24 17:29] alansouzati opened #1482 "Add SearchInput to grommet next"

[2017-07-24 17:30] alansouzati opened #1483 "Create BlankIcon in grommet-icons"

[2017-07-24 17:31] alansouzati opened #1484 "Add Select to grommet next"
This card also needs to evaluate the need for a SelectInput that uses the native input control.

[2017-07-24 17:31] alansouzati opened #1485 "Add Sidebar to grommet next"

[2017-07-24 17:32] alansouzati opened #1486 "Add SkipLinks and SkipLinkAnchor to grommet next"

[2017-07-24 17:32] alansouzati opened #1487 "Add Split to grommet next"

[2017-07-24 17:32] alansouzati opened #1488 "Add SunBurst to grommet next"

[2017-07-24 17:33] alansouzati opened #1489 "Add SVGIcon in grommet-icons"

[2017-07-24 17:33] alansouzati opened #1490 "Add Tab and Tabs to grommet next"

[2017-07-24 17:33] alansouzati opened #1491 "Add Table, TableHeader, and TableRow to grommet next"

[2017-07-24 17:36] alansouzati opened #1492 "Add TBD to grommet next"

[2017-07-24 17:36] alansouzati opened #1493 "Add TextInput to grommet next"

[2017-07-24 17:36] alansouzati opened #1494 "Add Tile and Tiles to grommet next"

[2017-07-24 17:36] alansouzati opened #1495 "Add Tip to grommet next"

[2017-07-24 17:38] alansouzati opened #1496 "Add Toast to grommet next"

[2017-07-24 17:38] alansouzati opened #1497 "Add Topology to grommet next"

[2017-07-24 17:38] alansouzati opened #1498 "Add Value to grommet next"

[2017-07-24 17:38] alansouzati opened #1499 "Add WorldMap to grommet next"

[2017-07-24 17:39] alansouzati opened #1500 "Create TextArea in grommet next"

[2017-07-24 17:40] alansouzati opened #1501 "Create RangeInput in grommet next"

[2017-07-24 17:44] alansouzati opened #1502 "Revisit how Heading, Headline, Label, Paragraph, and Title work together"

[2017-07-24 18:09] alansouzati opened #1503 "Update grommet-cli to use grommet next"

[2017-07-24 18:09] alansouzati opened #1504 "Add linting support for styled components"

[2017-07-24 23:52] alansouzati opened #1505 "Add hoverIndicator to grommet next button"

[2017-07-24 23:52] alansouzati opened #1506 "Add RoutedButton to grommet next"

[2017-07-24 23:58] alansouzati opened #1507 "Add light and dark color context in grommet next"

[2017-07-25 03:06] agrawalPratik opened #1508 "NumberInput box is not allowing decimals"
Numberinput box is not allowing decimals when we parsefloat function, this issue is only observed in IE browser only
### Expected Behavior

NUmberinput box should allow decimals value
### Actual Behavior

Numberinput box is not allowing decimals when we parsefloat function
### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/anon/pen/yoLPQv?editors=0001

### Steps to Reproduce

[2017-07-25 07:22] #1505 closed

[2017-07-25 12:47] luebken opened #1509 "Question: Grommet and create-react-app"
Hi

is this https://github.com/mvanlonden/grommet-css still the canonical to get Grommet running on top of a create-react-app? As a newbie it's hard to follow the discussion.

Matthias

[2017-07-25 12:49] lugrugzo opened #1510 "Should I use grommet v1.x?"
Hello

I'm thinking about switching from material design to Grommet, it looks so good. However I saw you are preparing to create v2.

Should I use v1.x? I know coding process for v2 will be long process but the application I will be switching is large and would like to stick with 1.x or wait for next release.

Thanks for great library.

[2017-07-25 13:53] Thuranel opened #1511 "Moving slowly out of a disabled button does not trigger the mouse leave event"
Moving slowly out of a disabled button does not trigger the mouse leave event on Chrome and Edge. Moving quickly enough does trigger the event. This bug is not found on Firefox or IE.
Moving slowly out of an active button does trigger the mouse leave event.

### Expected Behavior
When moving out of a disabled button, the mouse leave event should be triggered.

### Actual Behavior
On Chrome or IE,

[2017-07-25 16:58] alansouzati commented on #1510
I would recommend checking this wiki page: https://github.com/grommet/grommet/wiki/Why-Grommet-2.0%3F. Especially the "What is going to break?" section.

I understand that you would like to avoid two big refactors in a short span. But if you follow what is described in this Wiki I believe your second refactor will be very small.

I'm going to close this issue since I believe there is nothing to be

[2017-07-25 16:58] #1510 closed

[2017-07-25 17:51] alansouzati opened #1512 "Investigate typescript definitions in grommet next"

[2017-07-25 20:57] srallen opened #1513 "Button with href should not add icon classes if it does not apply"
When using Button with an href set, it behaves as an Anchor. If you set the icon prop, it will add a span with `.grommetux-anchor__icon` wrapping the svg icon regardless of the value of `plain`

### Expected Behavior

`.grommetux-anchor__icon` should not be added if the Button has `plain={true}` set.

### Actual Behavior

A span with `.grommetux-anchor__icon` wraps the svg icon when Button has `pl

[2017-07-26 05:51] #1506 closed

[2017-07-26 06:07] agrawalPratik commented on #1410
yes @alansouzati it is a browser issue and I have checked my browser version its updated and its IE 11.x as per your support docs.

[2017-07-26 13:49] Primajin commented on #872
Great, may I wish also for two features:

- Possibility to set first day of week (https://en.wikipedia.org/wiki/Week#Week_numbering --> ISO-8601)
- Set a time difference (user will input local day and time, but value will be UTC/Zulu)

[2017-07-26 15:41] jlevesque opened #1514 "The aria-labels of checkboxes in the Select component appears as [object Object] if the label is a node."
The aria-labels of checkboxes in the Select component appears as [object Object] if the label is a node. As mention in the docs, the options of the select component can receive an array of strings or of objects. The label attribute of the object can be a string or a node, but if it's a node it causes some issues. If the inline and multiple attributes are true, the aria-label of the checkbox is [ob

[2017-07-26 16:30] jlevesque commented on #1436
Sorry for bothering in this closed issue, but I've notice a weird clicking behaviour that can be fix by changing the label tag like so :
[code]

[2017-07-26 17:26] eoliphan commented on #1226
+1 for this, was just about to add this myself.  As people have pointed out, there's probably no one good solution (e.g. tag cloud is great, up to a point), but perhaps a 'selectDisplay' or something option will allow this to be handled more flexibly.
[code]

[2017-07-26 17:29] alansouzati commented on #1514
I'm about that this is a bug!

I'm really glad to see that you are testing this stuff. Let me work on a fix for this today.

[2017-07-26 17:30] alansouzati commented on #1436
can you send a PR to update that?

[2017-07-26 17:33] alansouzati commented on #1226
Please check this codepen where I show a recommendation of multi-select for a big list of items:

https://codepen.io/alansouzati/pen/GErJNm

[2017-07-26 17:36] alansouzati commented on #872
@Waize we don't have a specific date yet. but I want to get an alpha version out in the next month or so 👍

@Primajin interesting requests. We will try to incorporate them in the next version of DateTime, thanks for bringing this up.

[2017-07-26 17:54] noorisunique opened #1515 "Button Text getting across box"
### Expected Behavior
i want button text inside box in internet explorer

### Actual Behavior
Button text is crossing Box in internet explorer working fine in other browser

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/anon/pen/XabpVa?editors=1010

![image](https://user-images.githubusercontent.com/15786752/28635762-5bea7288-7259-11e7-9ba1-c92dc324de84.png)

### Steps t

[2017-07-26 17:55] noorisunique commented on #1515
Could any one solve it  ?

[2017-07-26 17:59] jlevesque commented on #1436
#1516 thanks for the quick response

[2017-07-26 19:01] alansouzati commented on #1515
I don't think there is a generic solution for this. This is IE11 implementation bug.

My recommendation is to add `max-width` in the containers you know are problematic. Here is a codepen that fixes your problem:

https://codepen.io/anon/pen/oeXZNV?editors=0110

Check this stackflow: https://stackoverflow.com/questions/19138107/ie11-flexbox-preventing-text-wrapping

The reason we cannot apply a ge

[2017-07-26 19:01] #1515 closed

[2017-07-27 08:42] pawelpicur commented on #1032
I found that <Status/> still doesn't support id. Really similar to this case
![image](https://user-images.githubusercontent.com/28948842/28661650-aa7a9c58-72b7-11e7-8171-4fbc9764dfa4.png)
I tried putting Status in div and then targeting the div, but when my page shrinks on lower resolutions it looks bad (moving with the div, not the icon)

[2017-07-27 08:56] pawelpicur opened #1518 "<Tip> is not centered on <Status> icon while targeting <Status> id"
I found that [Status](https://grommet.github.io/docs/status) doesn't support id or [Tip ](https://grommet.github.io/docs/tip)can't read it properly
Really similar to [this ](https://github.com/grommet/grommet/issues/1032#issue-187481124) case

### Expected Behavior
Tip should be centered on the icon

### Actual Behavior
Tip appears on the left

### URL, screen shot, or Codepen exhibiting the issue

[2017-07-27 13:21] phazor commented on #1101
I've noticed this issue as well. It is consistent in our app but like the others I'm unable to make a codepen that reproduces it.

I'm curious - what purpose does the `background-color-index--pending` class serve?

[2017-07-27 13:45] Thuranel commented on #1072
Seems like this is still an issue

https://codepen.io/Thuranel/pen/vJOqxa

Also, clicking on a disabled anchor with a href still redirect to the url. Path seems to be correctly disabled though.

[2017-07-27 20:57] alansouzati commented on #1072
re-fixed by https://github.com/grommet/grommet/commit/c5e5c75b008604de38414ff9671f233cc747b7ec

thanks for catching this @Thuranel

[2017-07-27 20:57] #1072 closed

[2017-07-28 18:20] karatechops opened #1519 "List of utils for 2.0"
We'll use this issue to keep track of utils necessary for Grommet 2.0.

# Existing Utils

### fontSize
Params:
- `size`: font size string appended with any type of unit I.E. `12px`, `1rem`
- `lineHeight`: line-height string appended with `px` I.E. `16px`

This util will take a font size and line height as param and return CSS values for `font-size` and `line-height` respectively. In some cases we'

[2017-07-28 19:59] alansouzati commented on #1514
Fixed by https://github.com/grommet/grommet/commit/5109f7ea05d2733b1a52228308b159e2907ff4dc

[2017-07-28 19:59] #1514 closed

[2017-07-29 00:37] milesj commented on #732
Why not use a CSS-in-JS + CSS modules approach? That would isolate and namespace accordingly. https://github.com/milesj/aesthetic/tree/master/packages/aesthetic-adapter-css-modules

[2017-07-29 00:53] alansouzati commented on #732
Grommet 2.0 will be using a css in js approach. Check this wiki page:
https://github.com/grommet/grommet/wiki/Why-Grommet-2.0%3F

On Fri, Jul 28, 2017 at 5:37 PM, Miles Johnson <notifications@github.com>
wrote:

--
--
Alan Souza
Software Engineer
Contact: +1 (408) 421 - 6341

[2017-07-29 01:32] milesj commented on #732
Awesome, good to know! One question, is there a timeline for NEXT? We're evaluating UI libraries at my employer, so this would be a handy to know.

[2017-07-29 05:55] nomadus commented on #1509
Good that you raised this issue, I also would like to validate the approach I have taken.
There is a section in the Readme of CRA which talks about using css preprocessors, https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc
What I did is created a custom scss file see as an example https://github.com/z

[2017-08-01 10:45] creeonix opened #1525 "Menu dropdown does not work in Safari"
Sub Menu does not work in Safari. No console errors. No feedback at all.

### Expected Behavior
When clicked in folded menu, it show open

### Actual Behavior
It does not open in Safari, however works fine in Chrome

### URL, screen shot, or Codepen exhibiting the issue

![screen recording 2017-08-01 at 01 34 pm](https://user-images.githubusercontent.com/108764/28821628-d47e9f6c-76be-11e7-800e-cac

[2017-08-01 15:06] ericsoderberghp commented on #1502
Currently, I'd like to propose removing Title and Headline and doing everything with Heading, Label, and Paragraph

 I'd also like to re-use our t-shirt sizing approach for Heading as follows: `tag` would be used for semantic and accessibility purposes. `size` would be used for styling purposes. This would allow the page to have an smaller h1 but larger h2 or h3 tags for stylistic emphasis. Thus,

[2017-08-01 17:15] ericsoderberghp opened #1529 "Right to left support"
Current plan to add something like `<Grommet rtl={true} />` which will add it to the context and allow components to style appropriately.

[2017-08-01 18:40] karatechops opened #1530 "List of HOCs for 2.0"
We'll use this issue to keep track of HOCs (higher order components) necessary for Grommet 2.0 context passing.

# Existing HOCs

### withFocus
Params:
- `WrappedComponent`: component for HOC to wrap.

This HOC binds to mouse down, mouse up, focus, and blur events of the `WrappedComponent` and passes the focus state along to the `WrappedComponent`.

Status:
- [x] complete (Initial commit a1dc887e1

[2017-08-01 21:14] arabold opened #1531 "Double border for TextInput inside of a FormField"
Upgrading from Grommet 1.5.0 to 1.6.0 changes the way form fields are rendered.

### Expected Behavior
In Grommet 1.5.0 a `<TextInput />` wrapped in a `<FormField />` used to render with just a single outline like this:

![image](https://user-images.githubusercontent.com/1548229/28847228-5290d5e2-76c3-11e7-98a3-11ab5820f655.png)

### Actual Behavior
After upgrading to Grommet 1.6.0 the look change

[2017-08-01 21:37] alansouzati commented on #1531
yeah I noticed that after releasing 1.6.0. let me investigate what is going on and release 1.6.1 sometime later today. sorry about that.

[2017-08-01 22:50] ericsoderberghp commented on #1469
Do we still need this component?

[2017-08-01 22:51] #1466 closed

[2017-08-01 22:51] #1478 closed

[2017-08-02 10:58] agrawalPratik commented on #1418
Hi @alansouzati,

My team tried to use onchange event to solve this issue as per our product requirement,

Solution works for all the browsers except for IE11

The problem in IE is when the input box doesn't have a default value box even after handling through onchange event user can still enter characters and when input box have default value handling done is successful and user can't enter chara

[2017-08-02 12:49] jlevesque opened #1536 "ToastContents: "Warning: Unknown props `store`, `intl`, `router`, `history` on <div> tag.""
Maybe I'm not using the Toast component correctly, but this warning always comes up when the Toast is render. Basically, I have a boolean in my state that tells to render or not the toast inside de App component.

[code]

### Expected Behavior
The Toast renders without warning.

### Actual Behavior
The parent component throws a warning.

### URL, screen shot, or Codepen exhibiting the issue
Link i

[2017-08-02 12:52] George-Aidonidis opened #1537 "Pressing 'enter' key on Select component does not automatically select an item."
While having a [Select](https://grommet.github.io/docs/select/examples?placeHolder=true&onSearch=true) component and the drop down menu is active, pressing the 'enter' key (without selecting an item) causes the drop down menu to close without passing an item to Select's field.

### Expected Behavior

As a user when the drop down list is active and I haven't chosen an item from the list I expect to

[2017-08-02 15:30] karatechops commented on #1498
I can pick this up starting next week. It seems like this component could pretty much be removed and replaced with simple composition.
[code]
Let me know if this is worth picking up for next week.

[2017-08-02 15:42] karatechops commented on #1519
Updated to reflect removed `mixins` folders.

[2017-08-02 15:56] karatechops commented on #1530
Has there been a discussion about background color context? Will Grommet 2.0 support adjusting elements `color` property so maintain readability? If this is an intended feature we can build an HOC to find the dominate color of a rendered DOM element or just dig into the components CSS. Perhaps the HOC can pass a prop of 'backgroundContext` to a wrapped component.

[2017-08-02 20:54] ericsoderberghp commented on #1530
I was thinking we'd put the background color context inside a `grommet` context property. So, we wouldn't need to interrogate the DOM.

[2017-08-03 01:05] cherih commented on #1423
@gustahrodrigues - we currently don't support all colors for the Chart component. The graph-* colors can definitely be used.

We wanted to restrict the colors that are available to those that work well together.  For example, accessibility/contrast issues can arise from some color combinations. Also, we support fewer colors to keep the size of the CSS code down.

We are considering re-evaluating t

[2017-08-03 06:32] agrawalPratik opened #1543 "Fixed header gets overlapped with Popup Overlay [IE issue]"
When we use page header to be as fixed header, it overlaps with layer overlay and comes on top due to higher z-index value
### Expected Behavior

Fixed header should not come on top of layer overlay
### Actual Behavior

Fixed header comes on top of layer overlay
### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/nikitam/pen/oezGmO?editors=1010

### Steps to Reproduce
 1. Open

[2017-08-03 09:06] raphi011 commented on #872
It would be great if the next DateTime component would allow custom placeholders instead of the fixed format

[2017-08-03 09:33] linde12 opened #1544 "Search component doesn't call `onSelect` callback on enter when it's displayed inline without suggestions"
From michael.weinberger on grommet slack:

In our search we wanted, that the onSelect method is called after the onInputKeyDown method.
At this time we didn´t want to give the user suggestions and that was the reason why we didn´t fill this prop. But that ends in an error.
Now we filled the suggestions prop but the suggestions don´t appear if we select the search component. And that is exactly wha

[2017-08-03 09:42] linde12 commented on #1544
I'm thinking that this might be by design(since there are no suggestions it might be weird for `onSelect` to be called) but i still think there should be an easy way to check if the user has pressed enter without using "onKeyDown" and checking the keycode. Maybe a `onSearch` or `onEnter` callback would be appropriate?

[2017-08-03 13:15] pho3nixf1re commented on #1176
Is there any chance a PR to support this would be accepted?

[2017-08-03 15:01] karatechops commented on #1496
Has there been a discussion regarding keeping Toast/Layer in the app DOM node tree? I've run into issues a few times regarding how these two components render themselves in the DOM. What was the inherit issue that drove to rendering these components outside of the app?

[2017-08-03 17:46] Serexx commented on #704
Referencing this thread I'm attempting to create a custom Theme for Grommet and am encountering an error I am unable to resolve:

I can see what the issue is, but I'm not sure how to resolve it, whether its possible with the structure I am using.   The file

`C:/Data/Websites/Devel/Website/theme/grommet-core/_settings.scss`

does not exist, I believe it appears because I have referenced

`'grommet

[2017-08-03 17:52] alansouzati commented on #704
I came across a very interesting project that create a theme on top of Grommet and publishes that to npm. So in their apps they just refer to the compiled css. I think this can help you:

https://github.com/zooniverse/zoo-grommet/blob/master/package.json#L9

I cannot see anything wrong with your configuration 😢

[2017-08-03 18:01] Serexx commented on #704
Thats a great idea I'll look into it - thanks for the quick response!

[2017-08-03 21:10] ericsoderberghp commented on #1496
The trick with these are when the component initiating them is not the outermost component. Putting it in the DOM where the the component initiating it resides could result in the Toast or Layer to be eclipsed based on the element + styling hierarchy. For instance, if the component initiating the Toast is inside a Box inside a Split, it will not necessarily be able to span the entire width of the

[2017-08-04 07:52] linde12 opened #1546 "[CR] Different API for `<Select>` component for Grommet 2"
Could we make the `Select` component work more like the native `select` and `option` combination in Grommet 2?

Today `value` on a `<Select>` can either be a string or object, and it will set the "selected" item to that string/object(even if it doesn't exist in the options). Also, in the case of `options` being an array of objects, each of these objects look similar to this `{ label: 'label', valu

[2017-08-04 12:51] karatechops commented on #1546
This seems like a more declarative way of of composing the Select component, I dig it.
Related to #1484

[2017-08-04 17:45] Serexx commented on #704
Hi Alan - FYI - although that is a great idea and I'm planning on doing something similar, I wasn't comfortable just side-stepping the root problem so I re-constructed from the ground up until I hit the issue  - turns out I'd inadvertently upgraded **react-router** to V 4 (now **react-router-dom**  !hooray for 'breaking changes'!) so of course if the router breaks, all kinds of things might be 'no

[2017-08-04 18:02] alansouzati commented on #704
thanks for being so kind to share your experience with the community.

[2017-08-04 20:20] bastanle opened #1548 "TableHeader Size Should Be Consistent if Sortable or Not"
### Expected Behavior
The TableHeader font is different when you have the header sortable or not. There is already a cursor change, so I don't think a different font size is necessary.

### Actual Behavior
See above

### URL, screen shot, or Codepen exhibiting the issue

In lieu of a codepen, check out your example here:
https://grommet.github.io/hpe/docs/table-header/examples?sortIndex=true

Swit

[2017-08-05 00:17] cherih commented on #1531
Was able to reproduce this in my sandbox today and will work on debugging  and fixing it.

[2017-08-05 16:22] Gehbrial opened #1549 "TextInput does not show suggestions on first user's input"
### Expected Behavior
TextInput's suggestions should always show up when the user types something

### Actual Behavior
The suggestions list does not show up on the first user input.

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/Gehbrial/pen/jLVpdz

### Your Environment
* Grommet version: 1.6.0
* Browser Name and version: Google Chrome
* Operating System and version (des

[2017-08-06 04:07] mikeplus64 opened #1550 "Card is very large due to first-class support for markdown in description prop"
Unfortunately `Markdown` is a very heavy component due to its use of `remark-parse`, and `markdown-to-jsx`. In my fairly typical webpack/babel/uglifyjs2 build simply importing `Card` adds 177KB(!!) to my production bundle size.

I'd suggest just treating `description` as a plain React node (which also gives you support for plain strings, iterables, and numbers, at least according to the flowtype d

[2017-08-08 14:02] alampros opened #1552 "Card with video > Anchor: Uncaught TypeError: Cannot read property 'apply' of undefined"
Occurs when clicking the play button on a Card with a video source (even [in the docs](https://grommet.github.io/docs/card/examples?thumbnail=true&label=true&heading=true&description=true&headingStrong=true&video=true&link=true))

### Expected Behavior

The video should play in a `<Layer>`.

### Actual Behavior

An unhandled error is thrown in the console:
[code]

### URL, screen shot, or Codepen

[2017-08-08 17:46] aldofunes commented on #1525
I did quick tests in major browsers and found that:

## Works
- Chrome
- Opera

## Doesn't work
- Safari
- Firefox

[2017-08-08 19:59] dgennetten commented on #1537
@George-Aidonidis It seems the first bullet (select item that user has selected) works fine. The second, (Select first item on list if none selected...) seems unconventional and would be unexpected. Are there other places where this is the standard behavior?

[2017-08-08 20:19] aldofunes commented on #1525
I found a workaround.

What I did was to provide an onClick function to update the state directly to `expanded`

Like this:
[code]

I have not found any drawbacks with this, but have not done any serious unit testing.

Hope it helps

[2017-08-09 07:48] George-Aidonidis commented on #1537
@dgennetten I am thinking that I did not make a good job on explaining the second bullet. Here is a more detailed explanation:
- User opens the drop down menu.
- User types an item in order to filter it from the list. The item comes up first to the list.
- User presses enter (without selecting it with arrow keys) and the item becomes selected.

This does not happen here (user presses enter and the

[2017-08-09 08:24] mariosant commented on #1537
The kind of behaviour @George-Aidonidis is trying to explain, can be found on [Select2](https://select2.github.io).
Try typing something there and hit enter. It selects the first one of the available results.

https://select2.github.io/examples.html

[2017-08-09 09:29] david-cahill commented on #80
@alansouzati I'm having issues when using the `<Article>` component when server-side rendering, seeing this in the browser console:

[code]
I'm using v1.6.0, should this work using ssr? Thanks!

[2017-08-09 09:32] david-cahill commented on #197
@olifante any update on using grommet with next.js? I'm having issues using grommet components as they don't seem to be ssr compatible

[2017-08-09 13:54] jlevesque opened #1553 "Checkboxes and radio buttons don't have a "name" attribute in the Select component."
This is more a suggestion than an issue.
It's not required by any official web guideline, however it can be very useful for form validation or serialization. It's mostly used for POST and GET request, but it is also useful in JS. Since the Select component creates a group of input, the name attribut can be the same. At least for the radio, I'm not sure the checkbox.

### Expected Behavior
Checkbox

[2017-08-09 15:37] Primajin commented on #872
There is another thing, grommet seems to only use the **presentational date** (even in the onChange event arguments?), rather expose a real Date object and then only _display_ the formatted one, but store a "real" date internally. We would like to have the user pick a date, but then actually send an IsoString to the backend. That way automatic localization and even time difference could be achieva

[2017-08-09 16:22] dgennetten commented on #1511
This is a long standing bug with chrome.  You can also see it in action here: https://jsfiddle.net/dgennetten/fbves03w/

You can read about the issue--which appears close to resolution--here: https://bugs.chromium.org/p/chromium/issues/detail?id=276329 (see last few comments)

[2017-08-09 16:52] Thuranel commented on #1511
Seems like we can close the issue if the fix solves the bug.

What I really don't understand is why in the case of Grommet the issue only happen when a Button is disabled. It feels like if it doesn't work when the Button is disabled, it shouldn't work either when the button is not disabled.

[2017-08-10 05:31] agrawalPratik opened #1554 "Tile data gets overlapped/hidden"
When we use tile, data gets overlapped/hidden
### Expected Behavior

Based on the data tile height should be calculated
### Actual Behavior

Data gets hidden/overlapped
### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/nikitam/pen/jLmowQ?editors=0110

### Steps to Reproduce
 1. Use codepen
 2.
 3.

### Your Environment

* Grommet version:1.5.0
* Browser Name and version: IE

[2017-08-10 16:13] dgennetten commented on #1554
Identical overlapped/hidden results also occur in Safari

[2017-08-10 16:34] dgennetten commented on #1508
Your codepen produces the same result in Safari.

[2017-08-11 15:09] nomadus commented on #1191
@RyanCCollins  I could not have it working, I have created a new project using create-react-app and added grommet from this branch.
`npm install git://github.com/grommet/grommet.git#feat_rc_dropzone --save`
When I issued `yarn start`, it errors with
Module not found: Can't resolve 'grommet/components/Article' in 'C:\src\no-main-file\src'
The same works when I install `npm install grommet@1.4.0 --s

[2017-08-11 16:55] dgennetten commented on #1444
And established pattern with grommet is extreme simplicity. One aspect of that is the preference to push forms toward a state of only including required fields.  This is why they are not labelled 'required' as that is the assumption.

Occasionally, we'll insert an optional field and specifically label it " xyzzy (optional)"

We're always trying to reduce enterprise form lengths for overall usabili

[2017-08-11 17:13] oswaldoacauan commented on #1531
This happens because the input is missing the `[type="text"]`.

The same problem happens when you have inputs of type 'tel' or 'url'.

[2017-08-11 17:40] Thuranel commented on #1536
It seems like the last update to Grommet cause this issue. Here's the commit that I believe causes the issue: https://github.com/grommet/grommet/commit/6299947ac8b7fa8c619226fc33035480cb6fdbfa

Toast takes history, intl, etc. as props. The latest commit tried to pass every single props given to Toast as a props to the Toast contents. Because div can't have a props of history, the warning is thrown

[2017-08-11 19:52] jlevesque commented on #1536
@Thuranel You are right, I've made a really dumb and fast test to see if the warning was going to appear again. Basically, I removed the problematic props before passing the object to the div :
[code]
And that removed the issue.

It looks like it was intended for a better customization. Maybe @alansouzati you can tell us more about that and give us an update that.

[2017-08-11 20:26] cherih commented on #1531
@oswaldoacauan - thank you for suggesting a solution for this. Yes, we would love to have a PR for it, if you can do that.

[2017-08-11 21:35] cherih commented on #1250
Was able to reproduce this problem in my sandbox. Will work on debugging it.

[2017-08-15 11:11] DmitrijDN opened #1556 "Spinner doesn't work in IE 11"
It isn't animated in IE 11

### Expected Behavior

It is animated
### Actual Behavior

it is just a circle
### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/docs/spinning/

### Your Environment

* Grommet version: latest (on your site)
* Browser Name and version: IE 11
* Operating System and version (desktop or mobile): Windows 10

[2017-08-15 15:26] Thuranel opened #1557 "Ctrl + click on routed button prints warning"
When you Ctrl + Click a routed button, an error is printed in the console

### Expected Behavior
No error should be printed.

### Actual Behavior
An error is printed in the console.

I believe this block of code https://github.com/grommet/grommet/commit/7da2dfc8698e1a25ffd99e8cbde2d67084cfa7cc is in problem? Disabled doesn't seem to be defined in the _onClick function.

### Steps to Reproduce
 1.

[2017-08-15 17:54] milanvdmria opened #1558 "Button not disabled with type Submit"
### Expected Behavior
Disabled button

### Actual Behavior
Not disabled

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/anon/pen/EvbZaz?&editors=0010

### Steps to Reproduce
 1.
 2.
 3.

### Your Environment
* Grommet version: 1.6.0

[2017-08-16 06:04] EJShim opened #1559 "Tiles 'onMore' event not triggered in small display"
I implemented a list of tiles using Tiles and Tile components provided here.
 I added "onMore" property to the  Tiles component, and it works fine in bigger display in desktop, but it is not triggered in a small display (mobile display).

below link is the example I implemented
[http://ejblog.azurewebsites.net/video](http://ejblog.azurewebsites.net/video)
In a large display, when I scroll down and

[2017-08-16 13:35] nomadus commented on #1191
Any news on this one?

[2017-08-16 13:44] Gehbrial opened #1560 "TextInput's 'onDOMChange' prop isn't considered as 'onChange' by React"
### Expected Behavior
We shouldn't get a warning -> Adding a 'onChange' prop with an empty function value solves the problem.

### Actual Behavior
`Warning: Failed form propType: You provided a value prop to a form field without an onChange handler. This will render a read-only field. If the field should be mutable use defaultValue. Otherwise, set either onChange or readOnly. Check the render meth

[2017-08-16 16:08] Thuranel commented on #1558
Hi!

Thanks for posting the issue. I played a little bit with Button.js and your problem seem to come from
[code]

The reason why the Button is that way is to make sure we don't break the behavior of a reset or submit button if there is no onClick (See: #1266). Indeed, a <Button type="submit"> should be valid and not disabled.

IMO, having a disabled form button is not always the best idea ( See [

[2017-08-16 21:21] XuluWarrior opened #1563 "Allow Anchors and Buttons to set location.state"
history.{push|replace} allows a state object to be set as the second parameter.  It would be helpful, at least to me, to be able to set this on Anchor and Button components.

In my case I wanted to set previousTitle on the location so that a back link was easy to implement.

I accidentally created a pull request (https://github.com/grommet/grommet/pull/1562) for this earlier which I've closed for

[2017-08-17 00:06] #1557 closed

[2017-08-17 05:37] drewlustro commented on #1435
@RyanCCollins – I'm already a contributor! ;)

I would love to help out more, but Grommet takes forever to build on `gulp`. Any tips for getting it to build faster on my machine?

![screen shot 2017-08-17 at 1 36 56 am](https://user-images.githubusercontent.com/194885/29397498-96a0094e-82ec-11e7-8170-fc8bfd58273c.jpg)

[2017-08-17 17:03] alansouzati commented on #1536
Yeah. are you using recompose with Higher Order Components? History, intl are usually present in the context, but I've seen cases where folks create HOCs to transfer that to props.

We have a lot of components that pass down props for various reasons. like adding and `id` prop to a container. or `data-*` properties. Initially we did not have the prop transfer capabilities and we are slowly adding

[2017-08-17 17:07] alansouzati commented on #1563
I like the idea and thanks for having the initiative of sending the pull request. Does it make sense to put that information inside path object?

[code]

This avoid adding a generic `state` prop to Anchor or Button. Thoughts?

[2017-08-17 17:27] alansouzati commented on #1435
yeah I agree that our current build time sucks :)

The good news is that Grommet 2.0 builds much faster, and we are not using gulp.

I also agree that if we depend on Tiles be present as a parent we should at least make it more clear in the documentation. Let me take a look inside Tiles source code to determine if we should require that. I will keep you posted.

[2017-08-17 17:29] alansouzati commented on #1560
Thanks for reporting this.

Fixed in https://github.com/grommet/grommet/commit/dee17e1a12af5ec7f4e5a2abf8462b41d98d20ab

[2017-08-17 17:29] #1560 closed

[2017-08-17 20:03] jstlaurent commented on #1536
@alansouzati : If I'm reading the code right, the `Toast` component is explicitly extracting these four elements (`history`, `intl`, `router` and `store`) from the context and passing them as props to the `ToastContents` sub-component, which in turn now passes them on the `div` component (which can't handle them).

Per the comments, that's a way to carry along the rendering context into the layer.

[2017-08-17 20:09] alansouzati commented on #1536
@jstlaurent perfect interpretation. I should have looked into it more carefully. We should remove them in our end before passing it down. I'm going to work on a fix for this today.

[2017-08-17 20:28] alansouzati commented on #1536
Fixed in https://github.com/grommet/grommet/commit/0b9795ba3285303015a336e8e2910de7b407ffb1

[2017-08-17 20:28] #1536 closed

[2017-08-17 23:29] alansouzati commented on #1435
I believe this problem is related to a timeout problem. That's why it is an intermittent behavior. I tried to reproduce this but I was not able to. I added a commit that I believe will fix the problem by clearing the timeout when component unmounts, here is the commit:

https://github.com/grommet/grommet/commit/029d0491d968bfb0ecc0bcebb753802bc072cbc9

I'm closing the issue for now. We can reopen

[2017-08-17 23:29] #1435 closed

[2017-08-18 00:32] XuluWarrior commented on #1563
That's a possibility but I am unclear as to what path objects represent (compared to path strings).
How are they used elsewhere?

[2017-08-18 14:04] jstlaurent commented on #1536
@alansouzati : Thank you!

[2017-08-18 21:36] karatechops commented on #1530
Closing this for now as I don't have time to maintain the list.

[2017-08-18 21:36] #1530 closed

[2017-08-18 21:36] karatechops commented on #1519
Closing this for now as I don't have time to maintain the list.

[2017-08-18 21:36] #1519 closed

[2017-08-19 10:20] sourcepirate commented on #1531
+1

[2017-08-22 21:20] rkahle commented on #1379
Sorry for reopening, I just wanted to help future people finding this and trying to use Grommet with Meteor... :)

According to your answer @RyanCCollins you have to use [meteor-scss](https://github.com/fourseven/meteor-scss) and create a **scss-config.json** file at the root of your project with following content:

[code]

[2017-08-23 00:07] frandr commented on #1431
I did a fair amount of triaging this and believe I have found root cause. There's a problem in the state machine in Menu.js (see code starting on ~line 272). The problem is that when the filter icon is clicked (under some circumstances) Menu goes thru the 'focused', expanded', and then 'collapsed' states. When we pass thru the expanded state there is already a Drop object in the DOM, and we add a

[2017-08-23 09:08] stsrki commented on #1512
I have just found about this project and it seems really great. Since I'm heavily using typescript in all of my projects it would be great if grommet would also have the support for typescript. Can you please tell are you working on this and if you are, do you plan to release it soon? Thanks

[2017-08-23 10:34] RajaKorada opened #1567 "Grommet Table Fixed Header and Sorting"
![sorting](https://user-images.githubusercontent.com/25481578/29611874-e094992c-881c-11e7-979e-934013bfbf94.png)

Hi ,
I am implementing Fixed table header with sorting  ,sorting is fine  when  **scrollable="false"**  . if i will use **scrollable="true"**   for fixed header  table  then header is moving to the  bottom of the Page..
like below image...
![fixed header](https://user-images.githubuser

[2017-08-23 11:34] #1558 closed

[2017-08-23 15:37] karatechops opened #1568 "IE Edge icon stroke color not inheriting"
When using Grommet icons in Edge on a dark background the icons remain dark. This style specifically is not being applied in Edge -
`.grommetux-control-icon:not([class*="color-index-plain"]) *[stroke*="#"]`

### Expected Behavior
Icons should have contrast on dark background

### URL, screen shot, or Codepen exhibiting the issue
![screen shot 2017-08-23 at 11 35 44 am](https://user-images.githubus

[2017-08-23 20:43] karatechops commented on #1568
It looks like Edge's selector is case sensitive, and Grommet icons render with `PATH="000"`. adding the following to my CSS fixes the issue.

[code]

[2017-08-23 21:33] Thuranel opened #1569 "Can't open Menu component with keyboard on first keypress"
If you have a Menu component that is not inline and you try to use the 'space' key to open the Menu, on the first keypress the menu will open and immediately close after. On the next keypress, the Menu will open normally.

### Expected Behavior
Menu stay open when opening it with 'space' key

### Actual Behavior
Menu open and close immediately after.

### URL, screen shot, or Codepen exhibiting th

[2017-08-24 04:15] gjsjy opened #1571 "Webpack bundle is throwing warning for duplicate file"
### Actual Behavior
Webpack vendor bundle generation has giving warning message for duplicate file

### URL, screen shot, or Codepen exhibiting the issue
WARNING in ./~/grommet/components/icons/base/**LogOut.js**
There is another module with an equal name when case is ignored.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Rename module if multiple mo

[2017-08-24 13:23] Thuranel opened #1572 "Toast component prevent interaction with elements under Toast after disappearing"
If you have a Toast component that overlaps buttons, when the Toast component disappear, the Toast component container stays rendered which means that any events on elements that were under the Toast are not triggered.

### Expected Behavior
The Toast component container disappears when the Toast disappear, so the buttons under the Toast can be interacted with.

### Actual Behavior
The Toast compo

[2017-08-24 16:32] XuluWarrior opened #1574 "Inconsistant use of constants "expand" and "explode" in Menu inline prop"
The PropTypes for Menu say that the prop "inline" can either be a bool or the value "expand".
When a Menu is nested in another the inline prop for the child Menu is set to "explode".  This results in a PropTypes warning.

[2017-08-24 16:40] XuluWarrior opened #1575 "Nesting menus forces the child menu to be "inline""
In the example below because 'child' is nested in 'parent' the inline property is overriden with the value "explode" and so it is impossible make 'child' collapsed until clicked on.

I guess there's some usability reason for this but it would be nice to make the behaviour configurable.

[code]

[2017-08-24 20:38] alansouzati commented on #1525
Yeah I'm able to reproduce this. let me investigate what is going on...

[2017-08-24 21:13] alansouzati commented on #1574
Fixed in https://github.com/grommet/grommet/commit/22ff8308e634829a519010826664ab6cf341a6ab

[2017-08-24 21:13] #1574 closed

[2017-08-24 21:14] alansouzati commented on #1569
Fixed in https://github.com/grommet/grommet/commit/22ff8308e634829a519010826664ab6cf341a6ab

[2017-08-24 21:14] #1569 closed

[2017-08-24 21:14] alansouzati commented on #1525
Fixed in https://github.com/grommet/grommet/commit/22ff8308e634829a519010826664ab6cf341a6ab

[2017-08-24 21:14] #1525 closed

[2017-08-25 22:18] cherih commented on #1531
This issue has been fixed and will be included in a soon to be released new version of grommet.

Thanks to Alan and Eric for figuring this out.

[2017-08-28 03:01] gjsjy commented on #1571
It is an issue in my code, closing this issue.

Thanks.
GJ

[2017-08-28 03:01] #1571 closed

[2017-08-28 11:04] oswaldoacauan commented on #1531
The issue remain with inputs type `tel` and `url`.

[2017-08-28 14:58] gregfuruiye opened #1582 "Adobe XD write up"
Add a grommet blog post and subsequent announcement to the community regarding the Grommet team's current position on Adobe XD.

[2017-08-28 19:43] dgennetten commented on #1248
@ericsoderberghp it looks like this component is behaving as designed (though not as expected). Width is cased in the scss for up to only 4 bars?https://github.com/dgennetten/grommet/blame/master/src/scss/grommet-core/_objects.meter-bar.scss#L221.  Any thoughts on how best to resolve?

[2017-08-29 01:50] ericsoderberghp commented on #1248
I seem to recall there a few cases where Meter doesn't want more than four values in the series. I think circle, arc, and spiral all have this limitation due to constraints in available space. My recommendation is to update the documentation and add a console warning to indicate that Meter doesn't take more than four values in a series, when not stacked.

For more values as bar meters one can use

[2017-08-29 06:04] atanasster opened #1585 "Anchor with href and no onClick"
Thank you very much for the great work, fantastic library

A small issue with the Anchor component will generate an exception if href is assigned and no onClick provided
<Anchor label='Google' href='http://google.com'' target='_blank' />

To reproduce:
https://grommet.github.io/hpe/docs/anchor/examples/?label=true&animateIcon=true&href=true&target=true
Open devTools and click on the link and check

[2017-08-29 12:13] Primajin commented on #1297
What is extra weird, is that [Sort](https://grommet.github.io/docs/sort) has a completely different behaviour. Here the label of the active option is used inside the Select (as desired in this issue here), while the dropdown lacks the class for the active option (as the [previous comment](https://github.com/grommet/grommet/issues/1297#issuecomment-312132477) states).

@alansouzati  Can't we have b

[2017-08-29 13:31] Slumber86 opened #1586 "window.scrollTo(0,0) is broken"
### Expected Behavior
`window.scrollTo(0,0)` should make the page scroll to the top

### Actual Behavior
Nothing happens

### URL, screen shot, or Codepen exhibiting the issue
http://ferret.grommet.io/dashboard

### Steps to Reproduce
 1. Going to http://ferret.grommet.io/dashboard scroll to the bottom
 2. type `window.scrollTo(0,0)`and press Enter

### Your Environment
* Grommet version: 1.7
* Br

[2017-08-29 14:59] dgennetten commented on #1248
Docs updated to detail current series-length limitations

[2017-08-29 14:59] #1248 closed

[2017-08-29 21:36] fernandoabolafio commented on #1253
Hi, Im current working with Grommet and Im facing the reported issue. Please, if someone knows a work around for it I would be grateful.

[2017-08-30 03:58] aldofunes commented on #1253
Hi, I found a workaround. It is nasty, but works. The bug is basically with the `flex-shrink` property; so, I disabled it.

[code]

That's it

[2017-08-30 22:12] generalChaos opened #1587 "Cannot see options for Select components placed at the bottom of the page."
If you have a Select component at the bottom of the page, the options open up below it without enough room to see the options.

### Expected Behavior
The options appear above the Select component or the page extends to allow the user to see part of the list.

### Actual Behavior
The list of options is shown w/ very little room or none at all.  This makes it difficult to select an option.

### Step

[2017-08-30 22:57] cherih commented on #1531
Fixed the issue for input types tel and url.

[2017-08-30 22:57] #1531 closed

[2017-08-30 23:19] cherih commented on #1556
animation-play-state is missing in IE 11.

It works on the latest version of Edge, as well as Chrome.

[2017-08-31 00:37] RyanCCollins commented on #1586
Hey @Slumber86, since the split element creates it's own scrollable region, it's logical that `window.scrollTo(0,0)` would not scroll the split.  I think you're looking to scroll the split element to the top, in which case you could grab the dom element and set its [`scrollTop`](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollTop).

I'll post a giphy to illustrate this.

[2017-08-31 00:44] RyanCCollins commented on #1586
@Slumber86 in an effort to help clear up the Grommet team's backlog, I am going to close this issue.  Please feel free to keep the convo going if you have any further concerns.  Thanks!

[2017-08-31 00:44] #1586 closed

[2017-08-31 00:48] RyanCCollins commented on #1575
Hey @XuluWarrior, thank you very much for posting this issue!

Is it possible that you could post a codepen exhibiting this issue?  It will help us to better triage it.  When you open an issue on the grommet repo, we ask that you use the issue template (found [here](https://github.com/grommet/grommet/blob/master/.github/ISSUE_TEMPLATE.md)).  You can find the Grommet Hello World template [here](htt

[2017-08-31 05:18] DmitrijDN commented on #1556
@cherih In browser support IE11 is presented, so it is necessary to fix or say that IE11 isn't supported

[2017-08-31 16:04] dgennetten commented on #1162
Seems fine now on grommet 1.7.0, chrome 60.0.3112.113

[2017-08-31 16:04] #1162 closed

[2017-08-31 16:07] dgennetten commented on #380
Link to 1529?

[2017-08-31 16:30] dgennetten commented on #1567
@RajaKorada can you provide a little more information?  Environment?  I'm not seeing issue with current grommet/chrome.

[2017-08-31 16:38] dgennetten commented on #1548
This is as designed. When sortable, the TableHeader becomes a button and adheres to grommet button styles.

[2017-08-31 16:38] #1548 closed

[2017-08-31 16:44] dgennetten commented on #1511
I think the difference may have to do with the root-cause race conditions being very slight. I'm going to go ahead and close considering the thread above. Let me know if you feel it should stay open.

[2017-08-31 16:44] #1511 closed

[2017-08-31 16:46] #1444 closed

[2017-08-31 16:51] dgennetten commented on #1430
It appears this is fixed?  grommet 1.7.0, chrome 60.

[2017-08-31 17:52] dgennetten commented on #1300
In grommet 2.0 (soon), meters and charts are getting a substantial makeover. Let's close this and perhaps re-open as an enhancement request on 2.0 if still needed.

[2017-08-31 17:52] #1300 closed

[2017-08-31 18:15] #1227 closed

[2017-09-01 03:37] dhampik commented on #874
I guess when people want to have sticky footer, they usually mean a footer that is stuck at the bottom when there is not much content on the page and pushed down with content when the content is big enough.
A lot of ways how to implement the sticky footer can be found at [CSS-Tricks](https://css-tricks.com/couple-takes-sticky-footer/).

In case if anyone looking for a real sticky footer sample for

[2017-09-01 06:24] RajaKorada commented on #1567
Thank you @dgennetten  for the response.

 I would like to implement fixed header table with vertical and horizontal scrollbar with sorting feature..
I am not facing any issue with sorting, untill **scrollable ="false"**
Issue arises once i add **scrollable="true"** attribute to the table, then table header moves to the bottom of the page  and sorting is also not working.

I need table header to b

[2017-09-01 16:54] karatechops commented on #1587
Hey @generalChaos thanks for filing this issue. I agree Select should handle window position better but would you mind providing a screen shot for your particular circumstance? It's possible there is a better way to handle this situation from a UX perspective. Off the top of my head I would say you could swap Select out for Menu. Menu will detect which direction to display the drop down, I've crea

[2017-09-01 18:17] karatechops commented on #1585
Thanks for filing the issue @atanasster! I've posted a PR with the fix so hopefully we can merge this for the next release.

[2017-09-01 19:28] karatechops commented on #1554
@dgennetten @agrawalPratik This is a pretty classic Flexbox bug and actually not so much a Grommet issue but more of a browser CSS interpolation issue. IE11 and Safari require some Grommet Boxes to be wrapped in a row to process their height. I've provided a [code pen](https://codepen.io/karatechops/pen/gxqeRM?editors=0010) here which fixes the issue just by using Grommet Box composition - notice

[2017-09-01 19:28] #1554 closed

[2017-09-01 19:55] atanasster commented on #1585
Thank you , fantastic

[2017-09-01 20:06] karatechops commented on #1559
Hey @EJShim, would you mind providing a [codepen](http://codepen.io/pen?template=gaEGPY&editors=001) for this? I'm not able to reproduce this as the [grommet docs tiles on more](https://grommet.github.io/docs/tiles/examples/?onMore=func) work well on mobile.

[2017-09-01 21:13] generalChaos commented on #1587
Thanks for the reply @karatechops.  Unfortunately, the UI needs a search w/ the Select component.  For now, I have added extra padding at the bottom of the page (not seen here) which has mitigated the issue.

![grommetselectbottomofpage](https://user-images.githubusercontent.com/3757358/29987901-50f334ae-8f1f-11e7-94bf-4904cdb46ee0.png)

[2017-09-04 23:36] camposcristianeze opened #1594 "Changing Carousel Step"
Hello, I was looking to change the step of the Carousel. At the moment I have 3 tiles containers with 4 tiles inside(12 items in total). Everytime I press the next button, the 4 tiles are moving. I just need to move 1 item of the 12 each time) Looked at the code of Carousel but it doesn't seem very easy. Any advice to obtain this behavior would be very appreciated.

Thanks!

[2017-09-05 09:04] linde12 opened #1595 "Proposal: Add disabled prop for button for Grommet 2"
I'm proposing to add a separate prop for enabling/disabling a button.

It just seems more intuitive to have `<Button label='Submit' disabled={isSubmitting} />` rather than `<Button label='Submit' onClick={isSubmitting ? null : this.handleClick} />`

There is also the use case where a HOC always injects a `onClick` value but we still want the button to be disabled.

E.g. a form library which always

[2017-09-05 12:41] karatechops commented on #1594
Hey @camposcristianeze, thanks for filing this issue. Can you provide a [codepen](http://codepen.io/pen?template=gaEGPY&editors=0010) displaying your example?

[2017-09-05 12:55] karatechops commented on #1552
Hey @alampros I've submitted PR #1591 to fix issue #1585 however it should also fix this issue. Let's see if this still happens after the PR is merged and we can go from there.

[2017-09-05 16:03] karatechops commented on #1549
Hey @Gehbrial, thanks for filing this issue. It looks like TextInput is expecting an array with length instead of a 0 length array on the initial render. I've [added an empty string to your initial suggestions array](https://codepen.io/karatechops/pen/PKgEeK?editors=0010) and that seems to fix the issue. I'm going to take a deeper look at fixing this within Grommet but for now you can use that fix

[2017-09-05 16:38] #1556 closed

[2017-09-05 16:38] alansouzati commented on #1556
Fixed in https://github.com/grommet/grommet/pull/1596

[2017-09-05 17:01] alansouzati commented on #1508
This is a problem with `parseFloat` and not with Grommet.

Here is a codepen that fixes your problem:

https://codepen.io/alansouzati/pen/vJMdMz?editors=1010

[2017-09-05 17:01] #1508 closed

[2017-09-05 18:10] alansouzati commented on #1549
Thanks for fixing this @karatechops

[2017-09-05 18:10] #1549 closed

[2017-09-05 18:10] #1568 closed

[2017-09-05 18:11] #1585 closed

[2017-09-05 18:12] alansouzati commented on #1552
Thanks for fixing this @karatechops. I'm going to close this issue and reopen if the problem persists

[2017-09-05 18:12] #1552 closed

[2017-09-05 18:14] #1493 closed

[2017-09-05 18:15] #1470 closed

[2017-09-05 18:39] karatechops commented on #1587
Tagging Grommet 2.0's Select component - #1484. @generalChaos we'll most likely be rolling out support for this in Grommet 2.0. I'm closing this for now as we have the new feature tagged for 2.0's Select.

[2017-09-05 18:39] #1587 closed

[2017-09-05 19:34] karatechops commented on #1553
Hey @jlevesque, thanks for filing this issue. I don't see why we couldn't just use the same attribute for the `name` property as the `id` property. The IDs for the radio buttons are automatically generated so the `name` property would be something like `${selectId}-${optionValue}` - would that fit with what you're looking for?

Are you using React/Grommet more in the form of widgets rather than in

[2017-09-05 19:44] karatechops commented on #1550
Hey @mikeplus64, thanks for filing this issue. I just ran some tests in a grommet/create-react-app and clocked the bundle with card at `110.77kb` and the bundle w/ card at `163.37k`. This is quite a substantial weight increase. I will take a look at removing Markdown from the Card component.

[2017-09-05 21:20] karatechops commented on #1567
@RajaKorada does [this](https://codepen.io/karatechops/pen/zdXJQY?editors=0010) look like the issue you are encountering?

[2017-09-06 06:39] DmitrijDN commented on #1556
@alansouzati Still doesn't work

https://grommet.github.io/docs/spinning

[2017-09-06 13:46] RajaKorada commented on #1567
Thank you @karatechops for the response.

Can you please visit this link  [a link](https://codepen.io/Rajakorada/pen/yoWJLe?editors=1111)

Please check in medium or Large Screens for getting clear view of the issue ,find attached screenshot .
Please write to me for further information...
![issuesample](https://user-images.githubusercontent.com/25481578/30115218-afc5593c-9337-11e7-9be1-e7ceea3b78bd

[2017-09-06 15:43] karatechops commented on #1595
This makes sense, the disabled property should propagate to the DOM as an HTML button would.

[2017-09-06 15:59] jackjwilliams opened #1600 "Consider extending <Spinning/> element"
Talking in the slack channel, it would be nice if the spinner had options like color, speed, and visible.

Currently I noticed it doesnt even show until 300-800ms, which in some cases is the amount of time a network call / activity may take.

Love the framework! Keep up the good work.

[2017-09-06 16:37] karatechops commented on #1543
Hey @agrawalPratik, thanks for filing this issue. I am able to see this issue in Codepen in IE11 but when I run a grommet app within IE11 using the same code I do not see the issue.

![screen shot 2017-09-06 at 12 07 14 pm](https://user-images.githubusercontent.com/5983843/30123347-af95cf24-92ff-11e7-8e42-aadf4c399d88.png)

I'll see if I can do some more digging in Windows to reproduce the issue.

[2017-09-06 17:15] karatechops commented on #1543
@agrawalPratik, I am not able to reproduce this issue on a native Windows environment or a virtual machine. What specific version of IE11 are you using? I'm on 11.0.9600.18638.

[2017-09-06 18:21] Gehbrial commented on #1549
Thank you very much! :)

[2017-09-06 18:22] Gehbrial commented on #1600
Would also love if it we could make it spin faster!

[2017-09-06 19:12] linde12 commented on #1502
@ericsoderberghp I like the idea of removing Title and Headline and use Heading instead. I'm always confused with which one i should use.

[2017-09-06 20:54] karatechops commented on #1600
It's unlikely that these sort of granular controls will be added to the Spinning component. There's a lot of effort going into Grommet 2.0 to streamline our components. I would say there's definitely potential for Spinning to accept a theme color index but that would be the extent of this.

In apps I've been working on recently we have a `WithLoading` component which either shows children or the S

[2017-09-06 20:54] #1600 closed

[2017-09-07 00:47] jackjwilliams commented on #1600
Thanks for the response and the code snippet. I still disagree with the whole "you can just delay it's  removal." If the spinner showed when it started instead of 1 second later, that would make more sense to me.

But I understand your reasoning for the other requests.

[2017-09-07 08:36] agrawalPratik commented on #1543
my version is 11.0.9600.18762IS

[2017-09-07 12:57] karatechops commented on #1600
@jackjwilliams I see your point, the Spinning animation has it started hidden. I do agree that should be changed. I've tagged the 2.0 Spinning component where we can introduce this change. Thanks for the feedback!

[2017-09-07 12:58] karatechops commented on #1450
#1600 raises a good point that the Spinning component starts hidden and animates itself in, for quick load times you barely get a glimpse of the loader. If we're using the same animation for 2.0 let's consider reversing it.

[2017-09-07 13:01] karatechops commented on #1595
Tagging #1455 here.

[2017-09-07 13:33] karatechops commented on #1567
Hey @RajaKorada, I met with the team yesterday to discuss this issue. The `scrollable` prop in Table is meant to be flush with the edges of your app, I believe the initial use case was placing it within the split component. After some thought I realized that maybe we could use the Box size property to contain the Table however it appears when setting `max-height` on a Box it does not overflow to s

[2017-09-07 15:19] Primajin opened #1601 "Have Sort accept a {value: , label: } object"
[Sort](https://grommet.github.io/docs/sort) does not highlight the current selected value in the `select` / "dropdown" when [Select](https://grommet.github.io/docs/select) does.

### Expected Behavior

Highlight current selected option.
![screen shot 2017-09-07 at 17 16 16](https://user-images.githubusercontent.com/1742115/30170779-51e43770-93f0-11e7-8ce2-99dabd6be787.png)

### Actual Behavior

No

[2017-09-07 15:19] Primajin commented on #1297
I found out that this can be resolved if I not pass **either** the `value` or the `label` to the `value attribute`, but **both** in an object similar to the objects in the array that get passed to the `options attribute`_ - Must have overread that in the docs! Maybe with this we can also fix the behaviour of Sort to not only accept a `String` as a `value` but also a `label-value-pair-object`

http

[2017-09-07 15:54] karatechops commented on #1556
@DmitrijDN the docs have not been updated. I believe [Grommet's latest stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) npm package will include the fix.

[2017-09-07 20:38] karatechops commented on #1544
@linde12 thanks for filing this issue. I've posted a PR which should fix the issue. I had trouble discerning what the author's original intent was here. For now when the enter key is pressed without any suggestions the call back returns the target ref and a second parameter of `false` letting the user know no suggestions were selected. According to the docs this is the appropriate behavior for the

[2017-09-07 22:29] jackjwilliams commented on #1600
No problem, thank you!

[2017-09-08 11:16] linde12 commented on #1544
Oh, great! Thanks!

[2017-09-08 14:31] dgennetten commented on #1430
I believe this is behaving correctly now. Please let us know if you're still having issues.

[2017-09-08 14:31] #1430 closed

[2017-09-08 16:09] karatechops commented on #1518
Hey @pawelpicur, thanks for filing this issue. I believe the intended way to use Icons and Tips is to wrap them in Buttons. Check out this [Codepen](https://codepen.io/karatechops/pen/eEwoMM?&editors=0010) displaying this behavior.

[2017-09-08 16:13] karatechops commented on #1537
I've created a PR for this but I'm hesitant to post it just yet, I want to discuss with @alansouzati the accessibility implications. I'm leaning towards not implementing this as I'm not sure it makes a lot of sense to users using screen reader.

[2017-09-08 17:25] karatechops commented on #1513
Hey @srallen thanks for filing this issue. I read through the Slack conversation and reviewed the Codepen. Just to clarify the issue - **when the `plain` prop is set to true in Button the icon should not be rendered**. I've posted a PR for this - #1604.

[2017-09-08 19:57] karatechops commented on #1455
As suggested in #1595 `disabled` should be a prop which propagates to the DOM.

[2017-09-08 19:58] karatechops commented on #1595
Thanks for the feedback @linde12, I'm going to close this to keep the backlog clean. I've made a note of it in #1455.

[2017-09-08 19:58] #1595 closed

[2017-09-08 20:17] karatechops commented on #1509
There's a few approaches to getting Grommet working with create-react-app. One can be seen here in our [grommet-react-app](https://github.com/grommet/grommet-react-app), in this repo CRA is being ejected and all the sass loaders for Grommet are being put in place to run Grommet. As a newbie you probably want to steer clear of an ejected create-react-app as the Webpack stuff can be mind boggling.

[2017-09-08 21:30] karatechops opened #1606 "Box size max property should cause overflow to scroll."
### Expected Behavior
A Box with the following shape `<Box size={{ height: { max: 'large' } }} />` should allow the Box to scroll any additional children overflow past the max height.  [This Codepen](https://codepen.io/karatechops/pen/qXeENM?editors=0010) exhibits what I would expect when setting a Box's max height prop.

### Actual Behavior
Box with max height displays overflow increasing the Box

[2017-09-08 21:32] karatechops commented on #1567
I've opened #1606 in light of this issue. @RajaKorada thank you for bringing this to our attention, I believe the proper fix for this lies within resolving the Box bug.

[2017-09-08 21:32] #1567 closed

[2017-09-08 21:47] karatechops commented on #1097
tagging #1495 / #1518

[2017-09-08 21:48] karatechops commented on #1495
Tagging #1518 and #1097

[2017-09-08 21:51] karatechops commented on #1518
@pawelpicur I've created a [second Codepen](https://codepen.io/karatechops/pen/WEVegg) which avoids using Button and simply uses Box instead.

I've tagged Tip's 2.0 to fix this. I'm closing this for now as this is slated to be fixed in 2.0. Thanks for the feedback!

[2017-09-08 21:51] #1518 closed

[2017-09-08 22:18] karatechops commented on #1445
Hey @agrawalPratik I've reviewed the issue and need some clarification. I see you set the Box basis to `1/2` but you also set a size to the box as `small` - which behavior are you expecting from the box, `1/2` or `small`? Additionally in this scenario I would absolutely avoid using flex boxes within tables. If you'd like to use a table use table's accepted html tags (`tr`, `th`, etc) to create you

[2017-09-08 22:18] #1445 closed

[2017-09-08 22:27] karatechops commented on #1437
Hey @agrawalPratik, thanks for the feedback. I don't think we will provide size props but it's current form is probably too rigid. We'll look into it for 2.0.

[2017-09-08 22:27] #1437 closed

[2017-09-08 22:29] karatechops commented on #1169
@ThanosDi, thanks for filing this issue. I agree DateTime could use some mobile cleaning up. This late in 1.x I don't think any drastic changes will be made to DateTime component. I'll tag 2.0's DateTime card (#1460) so we can get this worked out.

[2017-09-08 22:29] #1169 closed

[2017-09-08 22:31] karatechops commented on #1460
Documenting #1169 - DateTime on mobile is pretty rough. My suggestion would be to place DateTime in it's own layer on mobile. I would also advise against so many inputs in one form element - time and date can be two separate form elements.

[2017-09-08 22:39] karatechops commented on #1434
Hey @primozs, thanks for filing this issue. I'm not able to reproduce this locally on React 15.6.1 / Grommet 1.7.0, I presume it to be fixed at this point. I've also reviewed react-desc and grommet which are both correctly using the PropTypes package.

[2017-09-08 22:39] #1434 closed

[2017-09-09 20:34] mariosant commented on #1537
@karatechops I understand your concerns. Maybe adding this as an optional behaviour, then?

[2017-09-10 16:15] karatechops commented on #1433
Hey @agrawalPratik, thanks for filing this issue. This seems like it may be by design, you can always use Javascript's Math methods to round off the properties. Here's a [Codepen](https://codepen.io/karatechops/pen/BdXqgr?editors=0010) displaying rounding the values.

[2017-09-10 16:47] BjornMelgaard commented on #1512
Maybe its worth to rewrite grommet on typescript, cause its hard to maintain type definitions in non typescript projects

[2017-09-11 12:45] #1433 closed

[2017-09-11 13:15] karatechops commented on #1432
Hey @Gehbrial, thanks for filing this issue and providing great feedback. I do agree Menu should be able to programmatically be set. As we're approaching 2.x we're not currently implementing new features into 1.x. I'm going to tag 2.x's Menu card ( #1475 ) so we can be sure to include this featue as I think it is a great addition to Menu.

In the mean time if you still have not solved this in your

[2017-09-11 13:15] #1432 closed

[2017-09-11 13:16] karatechops commented on #1475
#1432 has a great suggestion regarding passing an `active` prop to the Menu component which could programmatically trigger the Menu.

[2017-09-11 13:19] karatechops commented on #1509
I'm going to close this for now in an effort to keeps Grommet's backlog clean. Please feel free to keep the conversation going. I'm happy to continue assisting here as I know how confusing the Javascript tooling process can be. Also feel free to join us on [Slack](http://slackin.grommet.io/)!

[2017-09-11 13:19] #1509 closed

[2017-09-11 15:14] alansouzati commented on #1432
Indeed a good suggestion. Today I'm working to add Menu to Grommet 2.0. I will make sure to incorporate this 👍

[2017-09-11 15:16] #1457 closed

[2017-09-11 15:16] #1502 closed

[2017-09-11 15:16] #1455 closed

[2017-09-11 15:16] #1452 closed

[2017-09-11 15:19] #1474 closed

[2017-09-11 15:20] #1467 closed

[2017-09-11 15:21] #1448 closed

[2017-09-11 16:07] alansouzati commented on #1498
based on a chat with @ericsoderberghp, I believe Value will be removed in 2.0.

[2017-09-11 16:07] alansouzati commented on #1469
nope!

[2017-09-11 16:07] #1469 closed

[2017-09-11 16:07] alansouzati commented on #1489
I don't think we need this component.

[2017-09-11 16:07] #1489 closed

[2017-09-11 16:08] alansouzati commented on #1485
based on a chat with @ericsoderberghp, I believe this component will be removed in 2.0

[2017-09-11 16:08] #1485 closed

[2017-09-11 16:09] alansouzati commented on #1482
based on a chat with @ericsoderberghp, I believe Value will be removed in 2.0.

[2017-09-11 16:09] alansouzati commented on #1481
based on a chat with @ericsoderberghp, I believe Value will be removed in 2.0.

[2017-09-11 16:09] alansouzati commented on #1479
based on a chat with @ericsoderberghp, I believe Value will be removed in 2.0.

[2017-09-11 16:10] alansouzati commented on #1471
based on a chat with @ericsoderberghp, I believe Legend will be removed in 2.0.

[2017-09-11 16:11] alansouzati commented on #1465
based on a chat with @ericsoderberghp, I believe Header will be removed in 2.0.

[2017-09-11 16:11] alansouzati commented on #1462
based on a chat with @ericsoderberghp, I believe Footer will be removed in 2.0.

[2017-09-11 17:35] karatechops commented on #1513
We've decided to postpone this feature until 2.x as we believe this will break too many existing apps. Judging by the 2.x Button code it looks to already be implemented.

[2017-09-11 17:35] #1513 closed

[2017-09-11 18:31] karatechops commented on #1270
This is a tough one and one I've encountered in apps I've worked on, not just Grommet. When we define a height to be `100vh` in Safari it does not include Safari's bottom navigation bar. The height of the browser's bottom nav is not deducted from the the height of the browser, this is intentional on Apple and Android's part. Please refer to this [blog post](https://nicolas-hoizey.com/2015/02/viewp

[2017-09-11 18:31] #1270 closed

[2017-09-11 18:36] karatechops commented on #1226
Awesome approach @alansouzati! I'll tag Select's 2.0 card ( #1484 ) but I think functionality like this would be better suited in grommet-addons.

[2017-09-11 18:36] #1226 closed

[2017-09-11 18:37] karatechops commented on #1484
#1226 displays an interesting approach to multi select. It's my suggestion a multi select component either lives on its own or in grommet-addons.

[2017-09-11 18:39] karatechops commented on #1429
@Hackbyrd, thanks for filing this issue. Are you still encountering this issue or was it resolved? If you are still encoutering an issue please submit a [Codepen](http://codepen.io/pen?template=gaEGPY&editors=0010) displaying the behavior, screenshots can be very difficult to read.

[2017-09-11 18:42] karatechops commented on #1428
I'm not able to replicate this issue and the Codepen seems to be functioning correctly in OSX / Chrome / Grommet 1.7.0. As I believe this to be fixed in 1.6.0 I'm going to close the issue.

[2017-09-11 18:45] karatechops commented on #1427
As I stated in #1428 I'm not able to replicate this in OSX / Chrome / Grommet 1.7.0, I presume it was fixed in 1.6.0.

[2017-09-11 18:45] #1427 closed

[2017-09-11 18:53] #1544 closed

[2017-09-11 18:57] karatechops commented on #1431
Hi @RodHPE and @frandr, I need a bit more context before I can investigate this issue further as FilterControl does not have a native menu. I've created a new [Codepen](https://codepen.io/karatechops/pen/bobYOZ?&editors=0010#) boilerplate which has the grommet-addons components lined in. Can you provide a code sample which reproduces the bug so I can review it?

[2017-09-11 19:05] karatechops commented on #1447
I see this is closed but I wanted to tag #1423 as it raises a good point of which color indexes Chart supports. Judging by the Chart code in the Next branch is looks like it supports all color indexes.

[2017-09-11 19:07] karatechops commented on #1423
I'm closing this as I've tagged our 2.x Chart card and documented the feedback there. From what I can tell from the next branch's code, 2.x Chart will fully support all color indexes.

[2017-09-11 19:07] #1423 closed

[2017-09-11 19:26] karatechops commented on #1447
Documenting #1333 and #1362 - Users would like the ability to include negative integers in their Charts. I believe it would function similar to the below image -
![screen shot 2017-09-11 at 3 25 42 pm](https://user-images.githubusercontent.com/5983843/30292809-812f54fc-9705-11e7-94b6-68a7a080fc09.png)

[2017-09-11 19:27] karatechops commented on #1333
As I've documented this issue in Chart's 2.x card (#1447) I'm going to close this. Thanks for the feedback, @XuluWarrior!

[2017-09-11 19:27] #1333 closed

[2017-09-11 19:32] karatechops commented on #1362
Thanks for filing this issue, @ezzatron. I've tagged it to be discussed and possibly incorporated in Grommet 2.x's chart. The team does not plan on supporting negative integers in Charts for Grommet 1.x as we're note currently adding features to the 1.x version. Feel free to follow the conversation in the 2.x Chart card in #1447.

[2017-09-11 19:32] #1362 closed

[2017-09-11 20:03] srallen commented on #1513
@karatechops thanks for taking a look at this. I look forward to version 2.

[2017-09-11 20:08] karatechops commented on #1336
Closing this for now, it sounds like this is resolved as you've moved away from phantomJS. [Headless Chrome](https://developers.google.com/web/updates/2017/04/headless-chrome) seems like it would be a really good option here. I see a lot of strange behavior with phantomJS and React.

[2017-09-11 20:08] #1336 closed

[2017-09-11 20:29] #1572 closed

[2017-09-11 20:35] karatechops commented on #1310
Hey @woodm1979, thanks for pointing out this bug. It looks like the bug stems from [these styles](https://github.com/grommet/grommet/blame/master/src/scss/grommet-core/_objects.box.scss#L3-L35) not calculating the pad properly. I'll take a closer look and see if there are any backward compatibility issues with posting a fix.

[2017-09-11 21:12] #1161 closed

[2017-09-11 21:39] karatechops commented on #1310
This one is a doozy. If we could define the basis in the initial Box container we could accomplish something more fluid but currently a Box with `row` and `wrap` accepts all variations of basis mixed together there's not much we can do to fix this up.  For example if we appended the wrap styles with the following:
[code]
This would work for your use case but wouldn't solve the issue as the basis n

[2017-09-11 21:39] #1310 closed

[2017-09-11 21:42] karatechops commented on #1457
@woodm1979 in #1310 raises a very interesting point which consists of combining `basis` and `pad={{ between: 'smalll' }}`. My recommendation was removing the pad between prop when a Box basis is set.

[2017-09-12 04:54] agrawalPratik commented on #1433
Hi @karatechops just had a discussion with my team and they said this change will be in grommet library file and they are not allowed to do that, looking forward for new resolution for this.

[2017-09-12 15:56] karatechops commented on #1473
PR #1369 attempted to introduce onHover/active color index swaps. I like this idea and discussed it yesterday with @ericsoderberghp, he likes the approach of tinting the existing color index which seems like a good suggestion. It would be helpful to be able to pass an object or a string to the colorIndex prop - `colorIndex={{ base: 'xyy', active: 'xyx' }}`

[2017-09-12 15:57] karatechops commented on #1337
I've closed #1369 and documented the feedback in 2.x's Map component (#1473).

[2017-09-12 15:57] #1337 closed

[2017-09-12 15:59] karatechops commented on #1559
As a Codepen has not been submitted for this issue and I can not replicate it in my sandbox I'll be closing this issue. @EJShim feel free to reopen this once a Codepen is created so I can further investigate the issue.

[2017-09-12 15:59] #1559 closed

[2017-09-12 17:02] fendyjong opened #1611 "Menu (Uncaught Error: React DOM tree root should always have a node reference.)"
Menu is giving an error in the console. After clicking the menu item with path

[code]

### Actual Behavior
error in the console:

    at invariant (index.js:987)
    at Object.getNodeFromInstance (index.js:2544)
    at Object.didPutListener (index.js:65266)
    at Object.putListener (index.js:12220)
    at Object.putListener (index.js:59100)
    at CallbackQueue.notifyAll (index.js:33140)
    at

[2017-09-12 19:23] karatechops commented on #1611
Thanks for filing this issue, @fendyjong. I can confirm this is happening in my local grommet docs setup. It does not appear to be be happening in a Grommet project I'm developing in Grommet 1.6.0 so that may provide a clue as to where the bug originated. I'll do a bit more digging and hopefully post a fix soon.

[2017-09-12 20:45] drewlustro commented on #1432
**+1 on this.**

Not sure why `<Menu closeOnClick={false} ...>` is provided as an API when `Menu` is not closable programmatically.

[2017-09-12 21:28] karatechops commented on #1280
HI @Auchindoun, did @jhawthor's code snipper resolve your issue? I've used redux-form and Grommet's Select in a few project, I can dig up some code snippets if you're still having an issue with your Select component.

[2017-09-13 00:44] RyanCCollins commented on #1611
Okay if I close this?

[2017-09-13 00:45] RyanCCollins commented on #1575
Hey @XuluWarrior, any updates on this?

[2017-09-13 02:48] RyanCCollins commented on #444
I'll bet we could create a babel plugin, similar to babel-plugin-lodash, to enable tree shaking with es6 module imports.  I'll look into this.  I agree that it's crazy to have that big of a dependency.

[2017-09-13 02:54] RyanCCollins commented on #689
Any updates on this @L0ZZI or @tracybarmore ?  I see that the grommet-design issue is closed.  Can we close this one as well?

[2017-09-13 02:56] RyanCCollins commented on #732
Hey @milesj, we are working on NEXT right now and intend to release a beta version at some point in the near future.   I wish we had a website similar to ["Is Fiber Ready Yet?"](http://isfiberreadyyet.com/).  That would be an awesome contribution if anyone is looking for something to contribute 😄

[2017-09-13 02:58] RyanCCollins opened #1615 "Is Grommet 2.0 Ready Yet?"
I was just following up on another issue and the [Is Fiber Ready Yet](http://isfiberreadyyet.com/) site came to mind.  How cool would it be to have something like this for grommet 2.0?  Maybe we can tie this into the coverage reporting somehow and set some milestones.  Any thoughts would be much appreciated.

[2017-09-13 03:01] RyanCCollins commented on #1512
Hey @BjornMelgaard!  Great thought!  I agree with that sentiment, but the majority of the grommet team and user-base appreciates having a vanilla codebase.

That said, I'd love to make it my mission to add typescript definitions to 2.0 and I would love your help!  @stsrki as well!

I've made a NEXT_TS branch to start work on adding TypeScript definitions.  Also, checkout the [Grommet 2.0 wiki](htt

[2017-09-13 03:12] RyanCCollins commented on #1512
Bit of an an update, I've been doing some research into how other UI libraries handle type definitions.  I've found that libraries like react-toolbox and material-ui add flow and typescript types within their components.  I really like this approach because it allows you to write your components with vanilla javascript, while also supporting people who like to use static-type checking.

Here are s

[2017-09-13 06:29] BjornMelgaard commented on #1512
@RyanCCollins You can generate pretty much whatever you like js using different `target`s. Use `target: esnext` with `jsx: react-native` to generate codebase indistinguishable from the present.

Also it can facilitate flow typings generation using [flowgen](https://github.com/joarwilk/flowgen)

And ... grommet written on typescript ... you know, its better)

[2017-09-13 09:38] RyanCCollins commented on #1512
@BjornMelgaard, I totally agree!  Big fan of TypeScript. I'll work on the rest of the grommet team 😄

[2017-09-13 14:28] karatechops commented on #1611
@RyanCCollins let's wait for the PR merge. It should auto close as its tagged in the commit message.

[2017-09-13 14:31] karatechops commented on #1575
@RyanCCollins @XuluWarrior I'm going to close this as it's been two weeks without follow up. Feel free to re-open this with some more context/ a Codepen is available.

[2017-09-13 14:31] #1575 closed

[2017-09-13 14:37] karatechops commented on #1543
@agrawalPratik I can't seem to find much in terms of IE11's version history. Can you verify you're on the latest IE11 build? I'm presuming 7 but just in case - what version of Windows are you running?

[2017-09-13 14:53] karatechops commented on #1537
Hi @mariosant & @George-Aidonidis! I've discussed this feature with @alansouzati, our [accessibility guru](https://www.youtube.com/watch?v=Qo0BHIkKzqo), and he agreed that this feature enabled by default would lead to unintended selections when pressing enter.

I would lean towards allowing the onEnter event to bubble up to it's container component. This would allow the user to specify the enter k

[2017-09-13 14:53] #1537 closed

[2017-09-13 14:55] karatechops commented on #1484
#1537 is a feature request for defaulting onEnter events to select the first suggestion. We could bubble up the onEnter event and let the user do what they want with it - this way we can maintain solid accessibility but provide users with the flexibility to add features like the requested feature.

[2017-09-13 15:00] mariosant commented on #1537
Thank you for your response, @karatechops .

[2017-09-13 15:42] fendyjong commented on #1611
@karatechops it's supposedly grommet version 1.7.0
I was wrong. I was taking the version from the json.
I just recheck in the npm version and it's grommet version 1.7.0

[2017-09-13 15:47] RyanCCollins commented on #1512
One thing that I'd love help with is devising build steps that will generate the definitions for both TypeScript and Flow from the React-desc proptypes that are currently included with components.  I've been playing with writing a simple script to help me quickly generate TS definitions, but my approach [is very crude](https://gist.github.com/RyanCCollins/7ca4062a270514d8d2080633a066e60b).

[2017-09-13 15:48] karatechops commented on #1611
@fendyjong, thanks for the info. I've posted a PR with a fix for this (#1611), it will be available in our [latest stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) after the PR merges.

I was not able to nail this down to a specific piece of code which was introduced in 1.7.0. I assume a package inadvertently updated which created a race condition in Rea

[2017-09-13 16:15] RyanCCollins commented on #1611
@karatechops It's like watching grass grow 😄  (waiting for the bot to close this, that is).

[2017-09-13 16:52] #1611 closed

[2017-09-13 17:52] ericsoderberghp commented on #1512
Would it make sense to enhance react-desc to add some additional properties to make the Flow and TypeScript generation easier?

[2017-09-13 18:32] karatechops commented on #1550
Update: The deprecation notice regarding Markdown support in Card has been merged. I will post a PR after Grommet's next release so we can fully remove this. @mikeplus64 thanks for the feedback!

[2017-09-13 21:52] cherih commented on #983
The color study is done and the changes are planned for 2.0.

Need Chris Lozzi to provide a link to the color study results.

[2017-09-13 21:53] cherih commented on #1166
The color study is done and the changes are planned for 2.0.

Need Chris Lozzi to provide a link to the color study results.

[2017-09-14 03:52] RyanCCollins commented on #1546
Yeah I completely agree.  Thanks for the input @linde12!

I much favor composition over passing values as props and see this is a pattern we are trying to follow more in grommet 2.0

[2017-09-14 03:56] RyanCCollins commented on #1496
One option would be to use something like [react-portal](https://github.com/tajo/react-portal).

[2017-09-14 06:10] atanasster opened #1618 "List onMore indicator - center aligned"
### Summary
For a List, the onMore loading indicator is not centered

### Expected behavior
I believe it looks better to have the indicator center aligned, especially for a heavy list with a lot of content, the eye is centered in the middle of the page

### Steps to Reproduce

https://grommet.github.io/hpe/docs/list/examples?onMore=func - scroll to bottom to have the list load more items, the indi

[2017-09-14 08:37] linde12 commented on #1558
I'm having the same issue.

I'd like to disable my `<Button type='submit' />` when it's been pressed and API calls are pending. I was trying to do something like this: `<Button type='submit' onClick={submitting ? null : handleSubmit} />` but i think `<Button type='submit' disabled={submitting} />` is much more readable(and also works on `type='submit'` without passing a `onClick`.

I'm working on

[2017-09-14 08:39] linde12 commented on #1595
This should solve #1558 in Grommet 2

[2017-09-14 08:54] XuluWarrior commented on #1575
I don't have access to a computer at the moment and probably won't for a while.

I am not going to try and write code on my phone but the code snippet I included above pasted into any example would demonstrate the issue. (Well you'd have to add a child element to the child menu to see the menu being displayed inline)

Please note that this isn't a bug report. The behaviour is as currently designed

[2017-09-14 09:25] camposcristianeze commented on #1594
Of course!

https://codepen.io/anon/pen/rGavQW?&editors=0010

Everytime I'm clicking the arrow, I would like to scroll just one tile, instead of 4.

Thanks!

[2017-09-14 13:31] karatechops commented on #1558
Tagging #1455.

[2017-09-14 14:26] karatechops commented on #1594
Thanks for providing a Codepen, @camposcristianeze. Carousel does not support stepping nested children, only direct children. You would need to do something custom in this scenario - check out this [Codepen](https://codepen.io/karatechops/pen/qPELwV?editors=0010) for a basic example.

[2017-09-14 16:57] #1250 closed

[2017-09-14 17:04] #1594 closed

[2017-09-14 17:19] karatechops commented on #1618
Hi @atanasster, thanks for filing this issue. If centering the Spinning component is your preference you can simply wrap your List in a Box which defines the text to be centered via the `textAlign` prop. I've created a [Codepen](https://codepen.io/karatechops/pen/gGbVYX?editors=0010) displaying this behavior.

[2017-09-14 17:19] #1618 closed

[2017-09-14 17:21] karatechops commented on #1429
I'm going to close this as no testable code has been provided. Judging by the error this is going to stem from how you're exporting/importing the component. @Hackbyrd please feel free to re-open the issue when a gist or Codepen is provided.

[2017-09-14 17:21] #1429 closed

[2017-09-14 17:32] atanasster commented on #1618
Thanks, that works for me, was just wondering if you guys might not prefer this to be the default behavior

[2017-09-14 19:10] RyanCCollins commented on #1512
Hey @ericsoderberghp, yea that makes a lot of sense to me!  I'll see if I can dig in a bit this weekend.

[2017-09-14 19:11] RyanCCollins commented on #1512
I've got [TS definitions now for all the components](https://github.com/grommet/grommet/compare/NEXT...NEXT_TS?expand=1).  I still want to test this before merging, however.

[2017-09-14 19:53] RyanCCollins commented on #380
@dgennetten yes please!

[2017-09-14 19:58] #1338 closed

[2017-09-14 20:04] RyanCCollins commented on #1136
I'm looking at resolving this, but am honestly not sure what the proper behavior is for a primary row menu.

Is the menu meant to span the full width of its container with the menu items evenly spaced?

![screen shot 2017-09-14 at 4 04 25 pm](https://user-images.githubusercontent.com/13810084/30453294-6a7c7894-9966-11e7-8fb3-72cf0222a163.png)

[2017-09-14 20:33] L0ZZI opened #1620 "Refine 'color-index' labeling and position"

[2017-09-14 21:21] ezzatron commented on #1362
Thanks @karatechops, and no worries about 1.x.

[2017-09-14 21:41] RyanCCollins commented on #1136
I've added a fix for this, but honestly don't know if it will break anything else.  See [here](https://github.com/grommet/grommet/compare/fix_rc_inline_menu_bug?expand=1).

[2017-09-14 22:04] ezzatron commented on #1250
Thanks for the fix ❤️

[2017-09-15 06:13] BjornMelgaard opened #1622 "Suggestion: rewrite grommet on typescript"
Because
1. its hard to maintain type definitions in non typescript projects
2. You can generate pretty much whatever you like js using different targets. Use target: esnext with jsx: react-native to generate codebase indistinguishable from the present.
3. it can facilitate flow typings generation using flowgen
4. And ... grommet written on typescript ... you know, its better)
5. [@RyanCCollins doe

[2017-09-15 11:17] jessegoraya opened #1623 "Grommet Overriding Custom SCSS"
I am using Grommet in my React site but have the need to style a web chat using my own custom css.  However when loading the page my chat component seems to be taking the styles of Grommet and not my custom scss.

Can anyone point me in the right direction as to how best to fix this?

Here is my custom.scss file...

[code]

Here is my app.js
[code]

* Grommet version: 1.6
* Browser Name and versio

[2017-09-15 16:04] cristiandley commented on #1379
@rkahle im getting this error doing the same

[code]

[2017-09-15 18:07] twelve17 commented on #1183
@alansouzati I completely see the use cases where clicking outside the "X" would lead to unwanted behavior.  That being said, I also see use cases where it is helpful.  Would it be possible to have it be a prop, as the OP suggested?

Many thanks.

[2017-09-15 19:36] karatechops commented on #1623
@jessegoraya have you considered [creating your own theme](https://github.com/grommet/grommet/issues/704#issuecomment-233392152) for your project? Take a look at how our [HPE theme](https://github.com/grommet/grommet/tree/master/src/scss/hpe) is structured.

[code]

[2017-09-15 20:33] jessegoraya commented on #1623
@karatechops so if I  understand this correctly.  I would have my own index.scss (in my case custom.scss) which would make reference my defaults file (any custom colors), grommet's core theme which would use the default style from grommet for anything not specified in my custom file, and then any custom object files.  My custom objects would be any elements in chat component that I would like to u

[2017-09-15 21:19] karatechops commented on #1623
@jessegoraya, yes that sounds correct. You will need to support loading scss files in your project, there's some example repos if you need a hand with that process.

Here's a file tree for reference:
[code]

### index.js
[code]

### index.scss
[code]

You can check out the [HPE defaults file](https://github.com/grommet/grommet/blob/master/src/scss/hpe/_hpe.defaults.scss) to give you a good idea on

[2017-09-16 03:17] panigrah commented on #1429
I think I may know what your problem is @Hackbyrd  - but I do not know how to resolve.

GrommetFormattedMessage puts a wrapper on `react-intl.FormattedMessage`. `react-intl.FormattedMessage` needs the textComponent to be available in the context. But this textComponent property is always null in the context. Thats the error message.

I have not worked out yet why the context.intl object that shoul

[2017-09-16 03:38] panigrah commented on #1429
@Hackbyrd I think I worked out how to fix.

Upgrade your react-intl package to the latest 2.4.0 in the react-boilerplate. The version of react-intl you have likely does not setup a default value for the `textComponent`.

2.4.0 sets the default value for the textComponent and the error goes away.

[2017-09-16 05:56] shai32 commented on #1397
@adamroldfield source-map-explorer

[2017-09-16 15:52] jessegoraya commented on #1623
@karatechops thank you for the detailed explanation.  I'll definitely give this a shot.  Very helpful!

[2017-09-16 15:53] #1623 closed

[2017-09-18 03:54] agrawalPratik commented on #1543
hi @karatechops we are using windows 7

[2017-09-18 10:59] panigrah opened #1625 "Select does not display the selected dropdown"
I have a simple Select box in a Grommet Form. I am using standalone version of grommet.

### Expected Behavior
It should display the selected option without having to make it a connected component and it should always fire the onChange event when I change the selected option.

### Actual Behavior
Selecting a dropdown option does not update the view with the selected item. And the onChange event do

[2017-09-18 13:57] karatechops commented on #1625
Hi @panigrah, thanks for filing this issue. Select does not have an internal method to track state, it's up to the user to track what is selected and what value to display. Just to clarify your use case - are you using something that is capturing values from the DOM when submitting the form versus submitting your Form's state? I can see the benefit of allowing Select to track its own state as I be

[2017-09-18 13:58] karatechops commented on #1484
#1625 makes a great point, most of our form elements can exist in an app without being connected to a containers state. It may be worth giving Select some internal methods to track state if onChange is not passed in via a prop.

[2017-09-18 17:05] panigrah commented on #1625
@karatechops i copied the Codepen into my project as a standalone component. OnChange doesn't fire for the first change but then fires after I change it again. But it works in the codepen.

How should I debug this? I don't see any error messages on the console.

I understand now why it doesn't track state - so thats not a bug!

[2017-09-18 17:09] panigrah opened #1626 "Support for xsmall progress bar;"
I am working on an image uploader that needs to display upload progress. Upload progress needs to show up against the thumbnail of each image. Unfortunately the `Meter` component doesn't render in a small size that could work with the thumbnail size.

How do I manage small progress bars e.g. 48px wide?

thanks

[2017-09-18 17:41] karatechops commented on #1625
@panigrah, is the Select in a Layer? I've seen a bug where sometimes a component which uses the Drop util (Select, Menu, etc.) loses app context. I believe It could also happen if your app is running two versions of React - IE an NPM package is running 1 version of React while your app is running another. Regardless of the cause, the first Select click you should be seeing an error in your console

[2017-09-18 18:18] panigrah commented on #1625
its not in a layer. I took everything out and only put in the codepen sample to my main file. I have the same issue. There is no error on the first select click.

I will start removing packages one by one to see if there is a conflict.

[2017-09-18 21:01] Kaitsh opened #1628 "Wrong SocialShare Email mailto: Link"
The mailto: link in the SocialShare email component is wrong. Therefore the "to" email address is put into the body of the email.

### Expected Behavior

The provided email address should not be in the "to" field of the email client.
### Actual Behavior

The provided email address appears in the email body

### Your Environment

* Grommet version: 1.7.0
* Browser Name and version: Firefox Nightly

[2017-09-19 14:57] karatechops commented on #1628
Hey @Kaitsh, thanks for filing this issue. I've created a [Codepen](https://codepen.io/karatechops/pen/OxNJoV?&editors=0010) displaying SocialShare's mail behavior. Just to clarify - when a SocialShare email opens the `to` field is appending with data instead of the message body? Can you submit a screen shot of how your email client handles the Codepen's mail share? I'm not able to replicate the i

[2017-09-19 15:35] karatechops commented on #1622
Thanks for filing this @BjornMelgaard! I'm interested to see how this conversation unfolds. The team is divided when it comes to switching to a typed a language, the majority of the core team do not use TS or Flow. While I do agree Typescript is far superior to Flow unless the whole core team is on board to do this I don't see it happening. Not to mention Grommet 2.x is well into development witho

[2017-09-19 16:03] alansouzati commented on #1622
Personally I'm not a big fan of "typed" frameworks for javascript. I like the flexibility of the language and I feel es6 solved a lot of my frustrations with prototypical inheritance (classes, arrow functions).

We try to stay as close as we can to Javascript so that we know what is going on and what the browser will deal with. We try to be careful when using Babel plugins for the very same reason

[2017-09-19 19:56] dgennetten opened #1629 "Pointing chrome to grommet.io sometimes redirects to grommet.io/LcWTz"
Browser responds with "Cannot GET /LcWTz/"

We've noticed this occur sporadically of late. Seems to clear itself.

[2017-09-19 19:57] dgennetten commented on #1629
guess this should have been in grommet-docs. oops.

[2017-09-20 02:17] panigrah commented on #1625
@karatechops I stripped the project down to remove everything and inserted only the codepen sample. I still have the issue. The onClick event handler on the drop down list does not get called the very first time its clicked. Its as if the onClick gets swallowed by a different component the first time.

After the dropdown has been created at least once - the Clickevent handler does get called every

[2017-09-20 07:10] Kaitsh commented on #1628
Hi @karatechops,
Thanks for your reply.
I'm sorry, it was a wrong configuration in my email client. So the issue was on my side.

[2017-09-20 07:10] #1628 closed

[2017-09-20 07:23] aschrijver opened #1630 "grommet on Ubuntu without Sketch, still valuable?"
grommet looks like a truly delightful product!

i can't wait to use it.. but,
i am on Ubuntu and do not have Sketch
how much of the delight is now lost to me?
i cannot determine that from the docs and website

thanks a bunch for creating this anyway :+1:   :)

arnold

[2017-09-20 13:21] panigrah commented on #1625
@karatechops I tracked it down to this bug in react-dom

https://github.com/facebook/react/pull/8575

So upgrading my react-dom to the latest fixed this issue.

[2017-09-20 13:21] #1625 closed

[2017-09-20 14:18] karatechops commented on #1625
@panigrah, nice work! To document the issue for search purposes - you went to react-dom 15.6.1 from which version?

[2017-09-20 14:38] panigrah commented on #1625
from 15.4.1

This is the default version of React in the react-boilerplate here
https://github.com/react-boilerplate/react-boilerplate

[2017-09-20 14:44] panigrah commented on #1484
@karatechops what is the reason for not having Select maintain its own state? The native select control maintains its state and Select should mirror that behavior.

[2017-09-20 14:56] karatechops commented on #1484
@panigrah that is why I've documented the feature request here. I'd like to see Select track it's own state unless an onChange prop is passed in. Retrieving the value of the Select which tracks its own state feels a bit wonky but some folks are traversing the DOM for form values.

[2017-09-20 15:01] panigrah commented on #1484
@karatechops  I am trying to learn more about how grommet is built so wanted to understand the rationale behind the current implementation.

We retrieve the value of all other fields include the simple textfields so I dont see why people would find it wonky! For newbies its easier to assume all controls behave the same.

I can see `Select` fits into a category of components people use to dynamical

[2017-09-20 19:16] dgennetten opened #1631 "IE/Edge flexbox issue"
There seems to be a weird in-between state between Box row and Box column in Edge *and* IE.

In the below codepen slowly narrow the viewport from row to column layout. If done slowly enough, you can see get a strange tightly-packed-row state.

https://codepen.io/dgennetten/pen/gGMpmX?editors=0010

[2017-09-20 19:48] alexxgathp opened #1632 "Screen reader Chromevox crashes"
It is not the most commonly used screen reader, but the Chromevox extension in Google Chrome crashes when visiting Grommet.io, as well as an earlier version of Grommet I have been using. I'm not sure how important this is, but it could shed light on another issue.
### Expected Behavior

Screen reader Chromevox reads elements on the page.
### Actual Behavior

Slowly loads the page, freezes, then cr

[2017-09-20 21:26] karatechops commented on #1629
Looks like @alansouzati fixed this yesterday. Are you still seeing this behavior?

[2017-09-20 21:46] karatechops commented on #1626
I believe @RyanCCollins was looking for a way to create a more flexible Meter width. Ryan, did you find anything for adjusting Meters width? From my experience Meter only supports select sizes.

As far as I know, Meter does not support this sort of customization. It sounds like for this sort of component you will need to build something custom. I've created a quick [Codepen](https://codepen.io/kar

[2017-09-20 22:57] dgennetten commented on #1629
No. Will close.

[2017-09-20 22:57] #1629 closed

[2017-09-20 23:03] dgennetten commented on #1630
For windows at least, there is a sketch file viewer. https://icons8.com/lunacy.  Also, the key sketch files are available in PDF form.

Using grommet does not require Sketch. Sketch comes in handy for designing grommet-based UX mocks.

[2017-09-21 06:16] aschrijver commented on #1630
thanks @dgennetten that is good to hear..
i can't wait trying grommet out :)

but there is some functionality lost, is it not?
grommet provides a design process where Sketch is an integral part, i gathered
or is that entirely a separate thing, not part of the codebase, but a nice tool option (if you have sketch)?

[2017-09-21 08:01] anpieber opened #1633 "Mke onClick optional on Anchor elements with an href"
The problem is, that there are situations like this:

[code]

In this case Grommet correctly assumes the component as disabled executing the following code and going to the else branch. The adjustOnClick in the else branch though is not defined (since there is no onClick defined in the Anchor).

[code]

The link still works correctly, but produces a not-so-pretty error in the log. Using the follow

[2017-09-21 11:29] jessegoraya opened #1634 "Using Theme To Augment Grommet Styling"
Hello,
I am trying to augment the styling provided by Grommet with my own custom changes so that I may keep things like the font provided by Grommet but updating things such as spacing and placement.  As a result, I was able to successfully compile a custom theme but for some reason my custom styles still don't seem to be getting applied.

Any help would be much appreciated.  New to front end prog

[2017-09-21 12:55] dgennetten commented on #1630
Grommet is fully deployable and functional without Sketch!

[2017-09-21 13:10] aschrijver commented on #1630
great news @dgennetten .. count me in then :)

[2017-09-21 13:10] #1630 closed

[2017-09-21 15:32] karatechops commented on #1431
Closing this as no further context was provided. Feel free to re-open with more info.

[2017-09-21 15:32] #1431 closed

[2017-09-21 15:33] karatechops commented on #1348
Tagging 2.x Tiles #1494

[2017-09-21 15:34] karatechops commented on #1280
Closing this due to inactivity.

[2017-09-21 15:34] #1280 closed

[2017-09-21 16:01] karatechops commented on #1634
Hi @jessegoraya, this is a bit difficult to debug if I can't see the full project. Are you familiar with Chrome dev tools to make sure your styles are being compiled properly into the Project? Can we maybe isolate this to a single component in a project which you can share in a repo?

[2017-09-21 16:05] karatechops commented on #1633
Hi @anpieber this was fixed in #1591 and will be available in the next release. For now you can use the [latest stable build](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F).

[2017-09-21 16:05] #1633 closed

[2017-09-21 17:11] karatechops commented on #1190
Tagging 2.x List (#1472)

[2017-09-21 17:31] karatechops commented on #444
Looping in 2.x DateTIme  #1460.

[2017-09-21 17:32] karatechops commented on #1460
New DateTime component should remove Moment dependency. I still stand by my recommendation of [date-fns](https://date-fns.org/).

[2017-09-21 17:52] arlair commented on #444
Maybe it could use an Adapter Pattern if the internal usages are not complex. Then write a default adapter, but allow flexibility with different adapters to replace the default.

People could write their own adapters for the date libraries if they want to continue using an existing or their favourite date library.

[2017-09-21 18:26] #1626 closed

[2017-09-21 18:27] anpieber opened #1635 "React dependencies as peer dependencies"
I was just trying to use grommet with react 16 (beta) and discovered that the included deps on react 15 are creating some troubles. On the risk of saying something really stupid, but wouldn't it be an option using react as a peer lib?

[2017-09-22 09:31] camposcristianeze commented on #1594
Thanks @karatechops! I was trying to replicate this with a more complex logic, but the animations are not working. Could you give me a hand?

https://codepen.io/anon/pen/QqKKyN?editors=0010

Thanks!

[2017-09-22 11:12] jessegoraya commented on #1634
Also I have created a Git repo for my code which can be found at the link below...

https://github.com/jessegoraya/Elu-Health-FrontEnd

[2017-09-22 17:12] rardoz commented on #636
I was able to fix this by moving over the stuff in grommet's index.scss to my own sass file to get it working with webpacks sass-loader and sass-resources-loader. This is what my grommet.sass file looks like. The problem was sass-loader requires ~ in front of node_module imports. Grommet doesn't have that type of setup.

[code]

[2017-09-22 18:29] XuluWarrior commented on #1574
This is still an issue as the "fix" changed uses of "explode" to "expanded" but PropTypes still expects "expand".  Resulting in a PropTypes warning.

[2017-09-23 18:28] primozs opened #1637 "SSRender webpack server build IntlPolyfill issue in App component"
I am experimenting with server side rendering and building shared server code with webpack.
Build is successful and it works except there is some issue with IntlPolyfill in App component.
By default if I am using grommet App component it fails at runtime.

[code]

Error is strange but I guess I am not polyfilling intl with webpack correctly.
I am trying something like this on the server so webpack

[2017-09-23 22:07] jessegoraya commented on #1634
All thank you for all of the help but I was able to figure it out!  It had to do with the .wc-chatview-panel.  I set a width and height to that style and it now appears.  So now I can actually manipulate the look and feel.  @karatechops appreciate all of the guidance!

[2017-09-23 22:07] #1634 closed

[2017-09-24 21:00] Thuranel commented on #1632
Just wanted to say that I have the same issue in my project. It would be nice to find out what causes this.

[2017-09-25 00:02] Gehbrial opened #1638 "Button component's icon prop not recognized by Enzyme"
Using the 'find' method of the enzyme library's ShallowWrapper, it is impossible to confirm the existence of a component that was passed as a prop through the Button component's icon prop.

### Expected Behavior

Enzyme should be able to find the component.

### Actual Behavior

Enzyme is not able to find the component.

### URL, screen shot, or Codepen exhibiting the issue
`
 <Button icon={this.s

[2017-09-25 02:50] kevingrady commented on #872
And the **Notification** component of Grommet has the same issue. The date could not be localized.

[2017-09-25 14:44] karatechops commented on #1594
The Animation algorithm checks the dif on the key prop to trigger an animation. In this [Codepen](https://codepen.io/karatechops/pen/qPROOd?editors=0010 I) I've updated BoxTile's `key` prop to adjust when changing slides. Its usually best practice to avoid using map indexes in keys as you run into issues like this.

[2017-09-25 15:55] karatechops commented on #1543
@agrawalPratik, I was no able to reproduce this issue after many attempts. Microsoft does not have an updated version history list, I can not verify `11.0.9600.18762IS` is the latest version. Have you tried Grommet 1.6.0? I know Layer had some improvements in that release, perhaps it will resolve this issue. I wish I could help out more here but I'm not able to see the bug. As a last ditch effort

[2017-09-25 18:35] dgennetten opened #1639 "Grommet 2.0 Animation - raise the bar (pun not intended)"
Grommet 1.x animation (IMHO) is predominantly distracting and gratuitous. Can we re-think the role of animation on grommet-next?  A great, quick treatment of the issue can be found in the first 8 minutes of Sara Drasner's excellent "Animating in React" presentation. (https://www.youtube.com/watch?v=QlmaI7x7SYo)

[2017-09-26 03:19] agrawalPratik commented on #1543
hi @karatechops if you open codepen in the browser you can still reproduce this issue, if you can fix that that would be great, also making grommet library changes is not allowed in our product, so it would be great if you can provide us the resolution on this.

[2017-09-26 13:33] Catx7 opened #1640 "Defect : Search suggestion drop does not allow navigation"
Add a Search with a big list of suggestions.
When you navigate using arrow keys between suggestions in the list the scrollbar does not move if the list is too big.

### Expected Behavior
When the list of  suggestions displayed on the screen reach at the end of visibility when arrow down key is pressed the scrollbar should move down and show other available suggestions.

### Actual Behavior
Scrollb

[2017-09-26 14:22] dgennetten commented on #1512
Hey Ryan, how about throwing together a quick docs draft on "Using Typescript with Grommet"?

[2017-09-26 14:27] dgennetten commented on #1622
This should be tied to #1512

[2017-09-26 14:50] noorisunique opened #1641 "Alignment is not proper using justification in Box"
I am using Box Component here i want my parent Box should come in center so i am using justify='center'  but here justify  is not working properly because of it inner 4th Box is coming in center it should come below 1st Box

### Expected Behavior
I want like this using justify='center'
**With Three Box**
![alignment](https://user-images.githubusercontent.com/15786752/30908018-f75d94c2-a399-11e7-88

[2017-09-26 16:00] karatechops commented on #1543
The layer/header breaks codepen in IE11. I would need a way to reproduce this outside of codepen to fix it. When I view this in codepen the whole codepen site is pushed outside the browser boundaries.

![screen shot 2017-09-26 at 9 25 18 am](https://user-images.githubusercontent.com/5983843/30862734-0ad93f5e-a29d-11e7-80e6-75256375faa9.png)

Can you send a screenshot of your IE11 about window - he

[2017-09-26 21:28] slipperypenguin opened #1642 "Grommet Error with React v16.0.0"
When updating to React 16.0.0, a TypeError is produced. I've attached a screenshot of it below.

<img width="1030" alt="screen shot 2017-09-26 at 5 23 16 pm" src="https://user-images.githubusercontent.com/3655354/30885090-02faf3fc-a2e0-11e7-8c66-5cf2952f3be8.png">

### Your Environment
* Grommet version: 1.7.0
* Browser Name and version: Safari 11.0 (12604.1.38.1.7)
* Operating System and version

[2017-09-27 05:45] agrawalPratik commented on #1543
Issue is same for me, but you can refer code in other browser and see the issue in IE11

![image](https://user-images.githubusercontent.com/23493164/30897667-1f81eb08-a375-11e7-8271-2fbe2b4aba5a.png)

[2017-09-27 07:21] noorisunique opened #1644 "controlling the number of max component in row while rendering using BOX"
I am creating Row Layout Component here i want to control MaxCount in a row how can i control it
based on my requirement if i want two or three Box in a row it should come  and remaining should come in new Row

### Expected Behavior
I want like this only
![rowlayout](https://user-images.githubusercontent.com/15786752/30900277-0634cf4c-a381-11e7-8e44-acb32dde95ef.png)

### Actual Behavior
https://c

[2017-09-27 12:53] camposcristianeze commented on #1594
Thanks so much! Would be nice to include that information in docs

[2017-09-27 13:03] linde12 commented on #1642
Maybe this is because grommet isn't using React 16 yet, i get the same error.

It is because `this.setState({ routeChanged: false }, this._updateAnchors);` in SkipLinks.js which calls some React 15.3.x method internally. I will try with Grommet upgraded with React 16 and update with results.

[2017-09-27 13:25] linde12 commented on #1642
Yep, after removing react 15 from `node_modules/grommet/node_modules/` and specifying `^16.0.0` in package.json (shouldn't have any impact, but i did it anyway) i can confirm that it works. My app works like before from what i've seen.

[2017-09-27 14:09] slipperypenguin commented on #1642
@linde12 Thanks for  looking into this!

I ended up specifying `^16.0.0` for both `react` and `react-dom` inside `node_modules/grommet/package.json` and removed react 15 from `node_modules/grommet/node_modules/`.

It looks like that stopped the app from crashing, but resulted in another TypeError inside of `node_modules/grommet/components/icons/Header.js` that causes layout issues in my app.

![sc

[2017-09-27 15:57] karatechops commented on #1641
@noorisunique, I may need some more clarification on the layout you would like to see. Box's `justify` prop aligns the nested child depending on the Box's direction. When Boxes are set to row, the `justify` and `align` prop swap. Maybe you're looking for the `alignSelf` prop?

[2017-09-27 16:06] karatechops commented on #1644
@noorisunique you can set the max width of the containing Box, check out this [codepen](https://codepen.io/karatechops/pen/KXWLdz?editors=0010) for an example. Alternatively you can checkout [Grommet's Column component](http://grommet.io/docs/columns).

[2017-09-27 16:06] #1644 closed

[2017-09-27 16:07] karatechops commented on #1640
Hey @Catx7, thanks for filing this issue. Would you mind providing a [Codepen](http://codepen.io/pen?template=gaEGPY&editors=0010) displaying the behavior so we can gain a better understanding of the issue.

[2017-09-27 16:10] wintercounter opened #1645 "Clicking TableHeader with filters triggers onSelect of Table"
### Expected Behavior
Clicking on `TableHeader` shouldn't trigger `onSelect` of `Table`.

### Actual Behavior
Clicking `TableHeader` triggers `onSelect` with the index of `0`

### Steps to Reproduce
 1. Create a `Table` as `selectable={true}` and with an `onSelect` callback.
 2. Add a sortable `TableHeader` inside the `Table`
 3. Sort stops working because click is catched by `onSelect` instead.

[2017-09-27 16:11] karatechops commented on #1637
This is a tough one. Is the goal to render in a specific language based on locale in the server render? I have not worked much with i11n and React but I have built many apps which use SSR. Would the initial render still work if you just check for window deferring the number/date polyfill until the first render? `if (typeof window !== 'undefined') mycode();`

[2017-09-27 16:15] karatechops commented on #1635
I'm actually on board with this however it will potentially open the floodgates with issues. This would definitely need to be slated for Grommet 2.x. @alansouzati @ericsoderberghp, what do you guys think?

[2017-09-27 17:58] primozs commented on #1637
Hi @karatechops
Yes, locale gets selected and rendered also on the server.
Yes, I guess I could always do this
[code]
but I would need custom grommet App component implementation like I have now. I guess this is not an issue then. Somehow I thought this should be solved with webpack.

[2017-09-27 21:17] alansouzati commented on #1635
Good point. I've been using peer dependency for some of the gulp packages that I've written. For example `gulp-jest`. This use case seems to be the standard for gulp libs since gulp is just a tiny wrapper around the underlying lib.

On the other hand, Grommet + React relationship is a much stronger linkage and having that as a peer dependency seems to relax that boundary which seems risky as we re

[2017-09-27 21:19] alansouzati commented on #1642
I'm so glad to have community members trying out React 16 already. thanks for the effort here @linde12 and @slipperypenguin.

I'm in the process of updating Grommet 1.x to React 16. I will keep you guys posted.

[2017-09-28 02:22] jamiepenney commented on #1642
The `react-desc` package relies on React 15 directly, which is causing this issue.

[2017-09-28 04:56] noorisunique commented on #1644
Hi thanks for response but I don't want to use Column Component i want to achieve Row Layout only
here what you have done is fix code for tow Box but  i don't want to fix two Box only suppose i want 3 Box  or 4 Box in a row then how can i control it , i want like this screen shot given below
![rowwithtwobox](https://user-images.githubusercontent.com/15786752/30949941-15221094-a437-11e7-9b7f-0e443b

[2017-09-28 06:07] noorisunique commented on #1641
Hi thanks for response why i am using justify='center' because it makes my Main Box in center alignment that is correct but here nested child is coming in center also if i am using alignSelf or align prop not working i want like this
![rowwithtwobox](https://user-images.githubusercontent.com/15786752/30951553-43f87b06-a441-11e7-8477-053dd82ead3c.png)
could you provide me any solution on this

[2017-09-28 06:27] Catx7 commented on #1640
`import Search from "grommet/components/Search";
class HelloWorldApp extends React.Component {

  render () {
    let listOfSuggestions= ['element1' , 'element2, 'elemet3' ,.... 'element n'] //long list of suggestions

     let searchProps = {
      fill: true,
      inline: true,
      dropAlign: {"top": "bottom", "left": "left"},
      onDOMChange: (e) => changeSugegestionsList(e),
      suggest

[2017-09-28 06:53] linde12 commented on #1642
@slipperypenguin I haven't used that icon, but the icons i use (AddIcon amongst other) work fine :confused:

I have a pretty complex app and just by upgrading the versions everything worked fine for me. I also didn't have any trouble regarding `react-desc`, i just installed grommet via yarn and then replaced the react & react-dom dependencies with version 16. Looking at the PR for react-desc it se

[2017-09-28 07:00] #1637 closed

[2017-09-28 08:19] jamiepenney commented on #1642
@linde12 the react-desc `package.json` had an explicit dependency on react 15.5.4, so it was pulling a second copy of react in and using that, which caused the error - see this issue on the react repo https://github.com/facebook/react/issues/10320

[2017-09-28 10:05] linde12 commented on #1642
@jamiepenney I see, however the error occurred for me because of Grommet's `SkipLinks` component (which does something like `this.setState({ value }, this.doSomeMore );`) and not because of `react-desc`. Look over here: https://github.com/grommet/grommet/blob/master/src/js/components/SkipLinks.js#L45

Either way, it all boils down to different versions of react being bundled. So just upgrading all

[2017-09-28 15:47] pochenwu opened #1647 "Image Fit/Full Breaks in Safari"
The Image component, when set True with fit/full props, disappears in Safari. (Which also affects Carousel if used with the Image component)

### Expected Behavior

Image with fit/full set to be True should expand to the whole container.

### Actual Behavior

Image disappeared. With inspection, the problem seems to be resulted from the '.grommetux-image--full' class and the 'min-height' attribute.

[2017-09-28 15:47] alansouzati commented on #1635
Fixed in https://github.com/grommet/grommet/commit/bc7f04bb54a1ddead0fd436bb6635f6056dd649e

[2017-09-28 15:47] #1635 closed

[2017-09-29 00:17] jamiepenney commented on #1642
@alansouzati any chance we could get a release out with the new React dependencies?

[2017-09-29 19:29] clarktlaugh opened #1652 "Incorrect color behavior for Status, icons when contained in Boxes with dark backgrounds"
### Expected Behavior
I am trying to make Status or an Icon colored ('warning') on a dark background.  I could understand by default maybe having the color be white-on-dark, but there should be a way to override to force the color to show.

### Actual Behavior
Depending on the colorIndex specified for the Boxes containing the icons, the resulting color is not as expected.  In one instance, the res

[2017-10-02 07:48] linde12 commented on #1642
I think we can close this due to 1.8.0 release? See: https://github.com/grommet/grommet/releases/tag/v1.8.0

[2017-10-02 16:01] slipperypenguin commented on #1642
Yep, just tested it out after updating to grommet v1.8.0 and everything looks good.
Thanks everyone for the help!

[2017-10-02 16:01] #1642 closed

[2017-10-03 11:17] DheerajVecham opened #1661 "Table Header is fixed to the page when scrollable is true"
### Expected Behavior
My expectation is to keep the table header fixed for the table and move along with the page as user scrolls up/down.

### Actual Behavior
The header is fixed at some position of the page. When the page is scrolled up or down the header is still fixed at the same position.

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/DheerajVecham/pen/BwwJem?editor

[2017-10-03 11:56] msuiche opened #1662 "Font in Toast is not uniform to the rest of the template."
e.g. http://grommet.io/docs/toast

### Expected Behavior
For instance, in the doc example, I would expect the font to be the same as the regular text `Work Sans` like the text coming from most of the text areas.

### Actual Behavior
It uses the default font (`html { font-family: sans-serif; }`)

[2017-10-03 17:06] #1475 closed

[2017-10-03 17:09] alansouzati commented on #1632
I guess this issue it is better to be reported to Chromevox. We don't actively use it but we would be happy to fix anything that we identify on Grommet that needs fixing.

[2017-10-03 18:55] #1620 closed

[2017-10-03 18:55] #1447 closed

[2017-10-03 18:56] #1507 closed

[2017-10-03 18:57] #1639 closed

[2017-10-03 18:57] alansouzati commented on #1494
This can now be easily done with Boxes. We will provide sample and codesandbox but we will not add tiles as our component set

[2017-10-03 18:58] #1494 closed

[2017-10-03 18:58] #1498 closed

[2017-10-03 18:58] #1529 closed

[2017-10-03 18:59] alansouzati commented on #1481
You can now use a TextInput with suggestions, with type search. We will provide sample on how you can create a Search component using Grommet 2.0

[2017-10-03 18:59] #1481 closed

[2017-10-03 18:59] alansouzati commented on #1479
You can now use a TextInput, with type password. We will provide sample on how you can create a PasswordInput component using Grommet 2.0

[2017-10-03 19:00] #1479 closed

[2017-10-03 19:00] alansouzati commented on #1471
You can easily achieve that with Boxes. We wil soon provide a sample on how to create Legend with Grommet 2.0

[2017-10-03 19:00] #1471 closed

[2017-10-03 19:01] alansouzati commented on #1465
<Box tag='header' />

[2017-10-03 19:01] #1465 closed

[2017-10-03 19:01] alansouzati commented on #1463
No form needed just use the native HTML form and restrict the width with Box

[2017-10-03 19:01] #1463 closed

[2017-10-03 19:03] alansouzati commented on #1462
<Box tag='footer' />

[2017-10-03 19:03] #1462 closed

[2017-10-03 19:04] alansouzati commented on #1464
You can achieve the same with Box with border. We will soon provide reference implementation on Forms for Grommet 2.0

[2017-10-03 19:04] #1464 closed

[2017-10-03 19:07] #1459 closed

[2017-10-03 19:08] alansouzati commented on #1456
Animation is now part of Box.

[2017-10-03 19:08] #1456 closed

[2017-10-03 19:09] alansouzati commented on #1482
You can use TextInput and put a Box with border to achieve this.

[2017-10-03 19:09] #1482 closed

[2017-10-03 19:09] alansouzati commented on #1477
You can use textinput with type number

[2017-10-03 19:09] #1477 closed

[2017-10-03 19:10] alansouzati commented on #1491
We can currently evaluating if we will implement TableHeader and TableRow as part of Grommet 2.0

[2017-10-03 19:12] #1453 closed

[2017-10-03 21:21] dgennetten commented on #1639
:-S

[2017-10-04 20:16] hashtonmartyn commented on #1647
I'm having a similar problem with setting `fit='contain` on an Image component in a Carousel. On desktop chrome the images are visible but on ios 10 with chrome the images are not visible and the component to the right of the Carousel takes their place.

[2017-10-04 20:41] fendyjong opened #1667 "Anchor - Unknown browser console error"
I am using Anchor to open PDF in a new tab. But every time I click on the Anchor, it always shows an unknown error in the browser console.

`Uncaught TypeError: Cannot read property 'apply' of undefined`

I have search through all of my codes and I am not finding any variable or property called 'apply'

### Code
[code]

### Expected Behavior
No error

### Actual Behavior
Unknown browser console er

[2017-10-04 20:42] karatechops opened #1668 "Heading's margin applies to top and bottom"
Previously the `margin` prop on Heading would only increase the bottom margin. As the docs state:

### Expected Behavior
Heading's margin prop should only apply to below the Heading element.

### Actual Behavior
Margin applies to top and bottom when `margin` prop is explicitly set.

### URL, screen shot, or Codepen exhibiting the issue
![screen shot 2017-10-04 at 4 41 47 pm](https://user-images.gi

[2017-10-04 21:08] karatechops commented on #1667
Hey @fendyjong, this was fixed in 1.8.0. Can you upgrade your app and confirm?

[2017-10-04 21:13] karatechops commented on #1661
This is the exact issue in #1567 (even with the same screenshot), correct? I posted a [workaround](https://codepen.io/karatechops/pen/zdXJQY?editors=0010) in that issue, this issue stems from a bigger issue with Box (#1606) which will most likely not be fixed in 1.x.

[2017-10-04 21:28] karatechops commented on #1641
I believe in this scenario you could use the `basis` prop to keep the boxes centered properly in the nested element. Check out this [Codepen](https://codepen.io/karatechops/pen/EwbJgL?editors=0010) where I've swapped your box `size` prop for `basis`.

[2017-10-04 21:30] karatechops commented on #1553
Closing this as no additional information was provided.

[2017-10-04 21:30] #1553 closed

[2017-10-04 21:31] karatechops commented on #1543
Sorry @agrawalPratik I was not able to re-create this on Windows 7/IE11, maybe someone else in the community can help out here.

[2017-10-05 04:26] agrawalPratik commented on #1543
no problem @karatechops can you ask @alansouzati to help on this.

[2017-10-05 14:21] fendyjong commented on #1667
Hi @karatechops, I confirm that this issue is fixed in 1.8.0

[2017-10-05 14:21] #1667 closed

[2017-10-06 08:37] christianrank opened #1669 "Conditional rendering of a Tile is broken"
Since v1.8.0 you can't render a `<Tile>` conditionally anymore.
Before, it was possible like this, which we use a lot in our code:
[code]

### Expected Behavior

When the condition is false, the Tile should not be displayed, like it worked in v1.7.0 of Grommet: https://codepen.io/anon/pen/BwJXez

### Actual Behavior

The whole app crashes, saying `Uncaught TypeError: Cannot read property 'props' o

[2017-10-06 18:08] alansouzati commented on #1669
sorry about that folks. Let me look into this and release a patch (1.8.3) today

[2017-10-06 18:17] jlevesque commented on #1553
@karatechops  Sorry, I was out of the country for a while. The use case I had was doing a serialize on a form. Usually, the serializing methods take the input's name has a reference. I've noticed that currently the checkboxes and the radio button are not serialized. I think it's more a suggestion than a issue.

What do you think? Using serialization for a frontend validation.

[2017-10-06 18:33] alansouzati commented on #1669
Fixed in https://github.com/grommet/grommet/commit/0002ee0a22573e8784a66b32fba85947bc9b2039

Let me release 1.8.3, I will put it here when we have the patch release available.

[2017-10-06 18:33] #1669 closed

[2017-10-06 23:27] cherih commented on #1601
Reproduced this issue in my sandbox.

[2017-10-08 11:21] Primajin commented on #1601
If the docs run on `1.8.3`, then this issue still exists in the latest version. ... btw. would be great if the docs show the version they run on ;)

[2017-10-09 11:48] tvojtech commented on #1428
Still not fixed (Grommet 1.7.0). I double checked it in latest Chrome and and Safari (Version 11.0 (12604.1.38.1.7)) and didn't work. Just submit the url and do not touch the page. You should see endless spinner. Once you scroll or resize viewport (e.g. open chrome console) `onMore` gets called.

[2017-10-09 17:49] fauricioRojas opened #1671 "Variable Toast duration"
### Expected Behavior
Toast should use a variable duration received by props.

### Actual Behavior
Toast uses a default constant duration.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/14350470/31351257-9f84ea3c-ace7-11e7-9b61-ecefa72c02ca.png)

### Steps to Reproduce
N/A.

### Your Environment

* Grommet version: 1.8.3
* Browser Name and

[2017-10-09 18:38] jornncc commented on #1567
I know that this issue is closed, but there is an issue with not being able to click the column headers to sort when scrollable="true". That issue seems to be lost in issue #1606 . [using Grommet 1.6.0].

[2017-10-09 21:19] alansouzati commented on #1671
Fixed by the PR thanks again @fauricioRojas

[2017-10-09 21:19] #1671 closed

[2017-10-09 21:46] fauricioRojas commented on #1671
Your welcome @alansouzati

[2017-10-10 06:47] kokanek opened #1673 "Grommet 'Value' component must have a prop to make the numerical part 'not bold'"
### Expected Behavior
When we use the Value component, we should be able to pass a prop and make the numerical part 'not bold and prominent' which is bold by default

### Actual Behavior
Currently, the component shows numerical part bold by default and there is no way to control it.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce
 1.  Use the 'Value' component.
 2.

[2017-10-12 23:05] AaronVasquez opened #1675 "Can't remove "Skip to" in heading?"
I have just

[code]

"Skip to" is rendered at the top, and I can't find any docs on what's causing it or how to remove it.
[screenshot](https://drive.google.com/open?id=0B5uAlChUfRKHazN5QkpZZnRXZGM)

[2017-10-12 23:23] cherih commented on #1601
Created PR #16 in the grommet-addons project for this issue.

Great suggestion about showing the grommet version in the docs! I created a new grommet-docs issue #297 for this.