[2022-06-21 19:39] halocline commented on #6197
Related [Slack thread](https://grommet.slack.com/archives/C09QQEG69/p1655494770951099) with recommendations for how to achieve the desired rendering.

[2022-06-21 21:18] thomas-friedrich commented on #6197
The suggested `pad={{ horizontal: 'xlarge' }}` in the Slack thread, doesn't work 100% because the bar, label and the details tooltip are not lining up (in fact, you have to hover next to bar to show the details).
<img width="380" alt="image" src="https://user-images.githubusercontent.com/84544729/174899017-a7340534-905a-49a5-a53c-23921c388bf3.png">

[2022-06-22 09:37] Leviathan91 opened #6199 "Empty styled affects layout"
I am looking for ways how to style components with grommet and tried out styling individual components via styled-components.

### Expected Behavior

If I leave the styled-component empty (no styles applied), it should behave just as the regular styled component.

### Actual Behavior

Additional styles are applied to the component

### URL, screen shot, or Codepen exhibiting the issue

[Link showc

[2022-06-22 15:30] jcfilben commented on #6197
It looks like we need to support an option to allow having the x-axis bars not start at the far left and end at the far right and instead allow options to be centered with equal space between. Or we need to improve the `pad` prop to adjust the `detail` alignment.

[2022-06-22 17:29] #6149 closed

[2022-06-22 23:31] taysea commented on #6199
I think this scenario is because of how FormField is built to look into its children and adjust its styling depending on if its child is a Grommet input or not: https://github.com/grommet/grommet/blob/master/src/js/components/FormField/FormField.js#L27

What is happening here is that since a styled TextInput has been created, the FormField no longer sees it has a Grommet input as its direct child

[2022-06-23 17:45] #6116 closed

[2022-06-23 18:45] undermuz opened #6202 "Image's onLoad prop is not provided to an img tag"
### Expected Behavior

Image's onLoad prop is provided to an img tag

### Actual Behavior

Image's onLoad prop is not provided to an img tag

source code of the Image component:
[code]

### Steps to Reproduce

[code]

onLoadImage message never be shown

### Your Environment

- Grommet version: "grommet": "^2.24.0"
- Browser Name and version: Chrome 102
- Operating System and version (desktop or mo

[2022-06-24 21:21] jcfilben commented on #3633
Re-opening since https://github.com/grommet/hpe-design-system/issues/2151 is only related to tabs styling in the hpe-theme, we need a separate issue to track this issue for the grommet theme

[2022-06-24 21:34] jcfilben commented on #6182
Hi @SaumikSarkar just want to give some background info on why we don't currently support this. Generally we encourage that the number of items in a Menu be kept to around 5 or less to keep things simple for the user, and prevent cognitive overload. Since we encourage short lists of Menu items the need for a search within Menu hasn't come up. Can you share your use case for having enough items in

[2022-06-27 00:37] #6188 closed

[2022-06-27 14:27] dgreene1 opened #6204 "a11y feature request: DataTable select aria label"
If you look at [Success Criterion 3.3.2: Labels or Instructions](https://www.w3.org/WAI/WCAG21/Understanding/labels-or-instructions.html) you'll see that it says:

The emphasis above is mine because I'm expressing that the checkboxes on [data table](https://storybook.grommet.io/?path=/story/visualizations-datatable-grouped-and-onselect--grouped-on-select-data-table) doesn't read to the user what t

[2022-06-27 15:11] dgreene1 opened #6205 "feature request: allow custom pagination component"
### Expected Behavior

The `paginate` prop (in addition to it's current true and false value) would allow a custom component to be passed. We'd have to discuss the properties that this custom component would be passed, but I expect it would be the [same exact props that your internal paginator accepts](https://github.com/grommet/grommet/blob/9cb1b5d6f10e8224479761464263f5f8ba13625e/src/js/componen

[2022-06-27 18:59] bdesouza opened #6208 "Unable to select middle option in a select component"
If I scroll all the way to the bottom of the Select and then try to quickly scroll up, I'm unable to select middle options as options keep scrolling away. I can only select like the first ten or the last ten from this list, the middle ones it's like bugging and not letting me select.

### Expected Behavior

Select shouldn't scroll up when selecting middle options.

### Actual Behavior

Select keep

[2022-06-27 21:06] halocline commented on #6205
Does consuming `<Pagination />` directly as shown in this [Codesandbox](https://codesandbox.io/s/pagination-prop-and-style-ubf667?file=/src/App.js) meet your needs?

I think the only aspect not currently customizable from your design is the separator style which would be a minor enhancement.

[2022-06-27 22:39] jcfilben commented on #3633
Closing, after discussing we felt that since we allow the caller to change the active and inactive tab styling as they see fit using `tab.active.color` and `tab.color`, we don't need to change the current default behavior.

[2022-06-27 22:39] #3633 closed

[2022-06-28 13:40] dgreene1 commented on #6205
I think that approach would work if we (our wrapper library) ensures that the component we expose doesn't allow the user to turn on pagination and the `onMore` prop since the two would not work together well at all.

So the ideal solution would be the proposal above since then there would be automated tests inside of Grommet's codebase that would be enshrine the right to use custom pagination. My

[2022-06-28 20:06] eddieshowcase opened #6209 "Notification component should render the title above the message for a Toast"
### Expected Behavior

<img width="768" alt="Screen Shot 2022-06-28 at 12 35 16 PM" src="https://user-images.githubusercontent.com/7239901/176274710-f50a9b69-d42f-4d2a-b3a5-960282e338ea.png">

### Actual Behavior

<img width="545" alt="Screen Shot 2022-06-28 at 12 35 53 PM" src="https://user-images.githubusercontent.com/7239901/176274740-681b7b1b-3b3b-4da2-971f-925e0208af54.png">

### URL, screen

[2022-06-28 20:18] eddieshowcase opened #6210 "Spinner component 'size' prop doesn't always seem to work as expected (xsmall and arbitrary string size has no affect)"
### Expected Behavior

Based on component documentation, the spinner 'size' prop should accept 'xsmall', 'small', 'medium', 'large', 'xlarge' and an arbitrary string like "16px" for size.

### Actual Behavior

It seems that 'xsmall' and an arbitrary string like "16px" does not always work. For whatever reason, this is 100% reproducible for me on all browsers, scenarios.

Yet, it seems intermittent

[2022-06-28 21:25] taysea commented on #6210
After investigating, this is being caused the the `pad`  of "small" applied by the `spinner.container`. I think we need to do a check to take the minimum of the `size` dimensions and the dimensions + pad.

Additionally, an item discussed offline is if the spinner sizes should align with the dimensions of `icon` sizes.

[2022-06-29 01:52] basiltt opened #6212 "Figma Design Kit required"
Hi Team, We would require Figma Design kit for Grommet as it is demanded by many of our customers.

### Your Environment

- Grommet version: 2.24.0
- Browser Name and version: Google Chrome - Version 102.0.5005.115
- Operating System and version (desktop or mobile):
   Desktop Windows 10 20H2

[2022-06-29 20:12] dgreene1 opened #6213 "a11y: expand is not specific (breaks 3.3.2)"
This is basically the same concept as https://github.com/grommet/grommet/issues/6204 but it's for the expand button instead of the onSelect checkbox.

So we we want to make sure that the aria label says "expand ${primaryValue}` instead of "expand" so that we can meet the WCAG's [Success Criterion 3.3.2: Labels or Instructions](https://www.w3.org/WAI/WCAG21/Understanding/labels-or-instructions.html

[2022-06-30 18:06] #6204 closed

[2022-06-30 18:06] jcfilben commented on #6204
@dgreene1 Glad to hear about your team's commitment to accessibility and open source! I went ahead and filed a pull request for this issue since it was a pretty quick fix. We are a small team of people that maintain Grommet so we do rely a lot on community contributions so it is great to hear that your team is willing to contribute! In the future feel free to make contributions like this even if y

[2022-06-30 18:15] halocline commented on #6043
Crux of the issue -

Right now Calendar’s approach conflates UTC offsets with timezones. Specifically, in order to properly handle standard vs. daylight savings time (DST), we need to know the timezone which contains the information needed to adjust for DST.

Currently, Calendar’s implementation uses the UTC offset (‘timestamp’) as proxy for timezone. This works for most cases except for when DST

[2022-06-30 18:19] dgreene1 commented on #6204
Wow thank you so much @jcfilben! :) :) :)

[2022-06-30 19:43] EduardoSCosta commented on #6209
hi, I could try to solve this issue.

[2022-06-30 20:49] eddieshowcase commented on #6209
I realize there is some theme options "Notifications.toast.direction" etc. that can be configured via theme to adjust this, but felt the "column" direction should be default when toast prop is true/present for HPE theme.

[2022-07-01 18:12] Lukazovic commented on #6202
I think we can close this issue since #6217 is merged

[2022-07-01 18:51] #6202 closed

[2022-07-03 09:53] pepoospina opened #6218 "[Text] Inline styles should override fontSize and lineHeight of the theme"
Currently, the theme values for the specific sizes of each "type of size" overrides the style properties in the component. This makes it impossible to change the `fontSize` of a Text component with inline CSS if the theme for that size type was overridden in the theme.

### Expected Behavior

Inline style should override the theme config.

### Actual Behavior

Theme config overrides inline-style.

[2022-07-03 10:20] nashitshayan commented on #6218
Hi @pepoospina , do you just want someone to make this exact change?

[2022-07-03 13:58] pepoospina commented on #6218
Wait wait wait sorry. I'm not sure this is an issue anymore. Let me check it out in detail and I will reopen if I see it was an issue indeed.

[2022-07-03 13:58] #6218 closed

[2022-07-04 13:11] tol-any opened #6219 "Typescript issues when trying to upgrade from grommet 2.17.5 to 2.25 in react 17"
Hey,

My organization is trying to upgrade its components library based on grommet. We are currently using react 17.0.2 and we encountered several problems regarding Typescript definitions, such as interfaces with the same name (fixed in 2.25.0) and a weird error on the analog clock type definition in base.d.ts. You can find the conversation I had with Jessica Filben on the Grommet Slack [here](ht

[2022-07-05 19:20] jcfilben commented on #6115
We do allow custom suggestions, see [this storybook example](https://storybook.grommet.io/?path=/story/input-textinput-custom-themed-custom-suggestions--custom-suggestions&globals=theme:base). However, I realize this method doesn't let you edit the actual button but instead allows you to edit the content of the button. Can you share what you are trying to achieve that cannot be done without editin

[2022-07-05 23:06] jcfilben commented on #6219
Hi @tol-any thanks for creating an issue and pull request for this! Can you share more about your environment? I modified your [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-8s13nq?file=/index.tsx) to have the versions shown in the 'Your Environment' section of the issue but I am still not seeing the typescript error. I am all for fixing this but it would be good for us to under

[2022-07-05 23:18] jcfilben commented on #6205
I think the `paginate` prop on DataTable could be enhanced to accept a function, I think this would allow for the flexibility needed. We follow a similar pattern on Calendar with the `header` prop where `header` can be a function with the following passed to it: `date, locale, onPreviousMonth, onNextMonth, previousInBound, nextInBound`. For DataTable `paginate` we would need to pass something like

[2022-07-05 23:27] jcfilben commented on #3924
Just an additional note on this... I chatted with other members of the team and we are thinking that the expected behavior would be:
`null` or `undefined` does nothing (fieldset continues to define the border)
`none` or `false` overrides the fieldset border (there will not be a border)

[2022-07-05 23:30] dgreene1 commented on #6205
@jcfilben the enhancement as you describe it would work beautifully.

The only thing I’m not sure of is how we would update the pagination when the filter or sort state changes the count or the current page that item would be on. AntD has an on change event that allows the user to hook into this but I don’t know how necessary that is with Grommet due to my current lack of experience on how pages a

[2022-07-06 07:27] tol-any commented on #6219
Hi. It's my bad, I updated the "my environment" section", if you set grommet version to 2.17.5, a part of the problem occurs (as described in the issue). I updated the package.json + tsconfig.json for information. But as in your sandbox, the problem is fixed by updating grommet to 2.25.0 (or any version > 2.19.0). I'll keep digging and update even if it's a problem in my local environment. Sorry t

[2022-07-06 15:13] mellis481 opened #6221 "DataTable's step and paginate.step not working properly together"
DataTable has two ways to define the page size: `step` and `paginate.step`.  If `paginate.step` is defined, it should use that everywhere, but it appears to be using `step` still in some places including whether or not to display the pagination controls.

### Expected Behavior
Given the following code, I expect a table with a page size of 5 that shows records 1-5 and 10 total pages:

[code]

### A

[2022-07-07 17:45] mellis481 opened #6223 "Feature: ability to display tree structure in DataTable"
Currently, there does not appear to be a way to display hierarchical data using the DataTable component (often referred to as a "tree table").  [Here](https://ant.design/components/table/#components-table-demo-tree-data) is an example of a tree table component/variation in Ant Design.

Yes, you can group table records in the DataTable component, but 1. the data is flat and 2. the group element is

[2022-07-07 20:34] rodrigoea commented on #6115
@jcfilben thanks for your reply!

I use a tool that collects data for click events, and I want to track clicks in each item of the suggestion list by passing a custom data attribute to the buttons.

I managed to work around it by passing a custom label (similar to what you shared), this way the tool can capture the clicks 👍🏻  - It works for now!

Since I managed to work around it, I'm closing the

[2022-07-07 20:34] #6115 closed

[2022-07-08 06:53] tol-any commented on #6219
Thank you for your patience!

[2022-07-08 08:48] callumfrance opened #6224 "[TS] CheckBoxGroup `onChange()`'s `value` may be incorrectly typed"
### Expected Behavior

`onChange()` provides the type for `{ value }` that matches that itself
i.e. the array of the value's type.

For example, if each value is a `string`, then `onChange()` will provide a `{ value }` that has the type `string[]` to match.

[code]

(this code uses the [checkboxgroup initial value story as inspiration](https://storybook.grommet.io/?path=/story/input-checkboxgroup-

[2022-07-08 11:01] Zahlenspiel opened #6225 "Storybook MaskedInput E-Mail example does not allow .co.uk or dashes in domain name"
### Expected Behavior
https://storybook.grommet.io/?path=/story/input-maskedinput-email-with-icon--email-masked-input
MaskedInput should allow endings like .co.uk and "-" in domain like "example@example-test.co.uk

### Actual Behavior
Gets masked.

### URL, screen shot, or Codepen exhibiting the issue
https://storybook.grommet.io/?path=/story/input-maskedinput-email-with-icon--email-masked-input
[

[2022-07-09 04:03] nomadus commented on #6225
Yes, the mail mask has restrictions, I'd suggest making it less restrictive, e.g. use

[code]

[2022-07-11 15:13] #6219 closed

[2022-07-11 19:16] ShimiSun opened #6228 "Storybook - copy code shouldn't include line numbers"
### Expected Behavior
When copying code from storybook, it shouldn't include the line numbers of the code. This is a regression.

### Actual Behavior
Copy code include the line numbers.

### URL, screen shot, or Codepen exhibiting the issue
Copy code from https://storybook.grommet.io/?path=/story/visualizations-list-onclickitem--on-click-item-list
And receive this when pasting:

26  const [clicked

[2022-07-11 20:20] jcfilben commented on #6187
Closing this issue due to inactivity. Feel free to re-open the issue and share a case where this issue would occur without changing directly changing the DOM.

[2022-07-11 20:20] #6187 closed

[2022-07-11 20:21] jcfilben commented on #6182
Closing this issue due to inactivity. Feel free to re-open and share a use case for this.

[2022-07-11 20:21] #6182 closed

[2022-07-11 20:26] jcfilben commented on #6146
Fixed in https://github.com/grommet/grommet/pull/6147

[2022-07-11 20:26] #6146 closed

[2022-07-11 20:28] jcfilben commented on #6118
Closing, this enhancement is already supported

[2022-07-11 20:28] #6118 closed

[2022-07-11 21:27] jcfilben commented on #5063
Closing in favor of https://github.com/grommet/hpe-design-system/issues/2367

[2022-07-11 21:27] #5063 closed

[2022-07-11 23:03] jcfilben commented on #6223
Hi @mellis481 I'm not opposed to having something like this in Grommet. However, I just want to give some background info on why we haven't gone this direction in the past. Our approach to DataTable, Chart, and DataChart has been to try and keep things simple and not add too much functionality. The reasoning for this approach is, more complexity means accessibility usually takes a hit and componen

[2022-07-11 23:10] dgreene1 commented on #6223
Hi again @jcfilben and thank you for taking the time to review our request.

If you're aware of a table that can show tree data and that is accessible, we'd love to check out the library. At this point, I have been unable to find one. And that's disappointing since surely people are trying to represent hierarchical parentages and that means that users are being locked out of making sense of them.

[2022-07-11 23:27] jcfilben commented on #6223
Regrettably I haven't gotten the chance to explore many table or charting packages, but it's unfortunate to hear that you haven't come across an accessible one yet. I could definitely see accessibility for this being a bit tricky though. The screen reader would need to communicate the different levels of the 'tree' and I think it could be difficult for a screen reader user to orient themselves in

[2022-07-12 00:44] mateusbw commented on #6224
Hello @jcfilben, i would like work on this one. I just have a couple of questions:

- Should we allow only `string[]` or `number[]` as well for the [onChange event value](https://github.com/grommet/grommet/blob/master/src/js/components/CheckBoxGroup/index.d.ts#L7)?
- Should we allow the [`value` prop for the `CheckBoxGroupProps`]((https://github.com/grommet/grommet/blob/master/src/js/components/Ch

[2022-07-12 04:33] jeffcap1 opened #6229 "Disabled items should not be re-orderable in the List Component"
### Expected Behavior

When a List component is provided both an onOrder function and an array of disabled itemKey's the disabled items should not be re-orderable.

### Actual Behavior

The disabled items are still able to be re-ordered through both Drag 'n Drop as well as clicking the up/down arrow to re-order the item.

### URL, screen shot, or Codepen exhibiting the issue

Codepen example: [htt

[2022-07-12 13:52] ericsoderberghp commented on #6118
While there is a means of building this as shown in the storybook story, I think the intent was to simplify this situation by building it in more. For example, something like:
`<Select onSearch={...} onCreate={(text) => {...}} />` would simplify the caller's code by not having to maintain a special option in the options array.

[2022-07-12 14:46] jcfilben commented on #6229
I'm thinking that disabled items could still be re-ordered but we could allow for a way to 'pin' items so that they couldn't be re-ordered in the list regardless of the item being disabled or not. One aspect of this that I am not sure about is if we should make all the pinned items appear at the top of the list? Otherwise if we have a pinned item in the middle of the list and the other items aroun

[2022-07-12 15:55] ericsoderberghp commented on #6229
Thanks for the detailed ideas! Do you have a real world example that would help us understand the usage better? What does your list contain and what does pinning an item signify?

[2022-07-12 21:20] #6209 closed

[2022-07-13 03:02] Repomn opened #6231 "DataChart cannot render bars when data includes a negative value."
DataChart cannot render bars when data includes a negative value.

### Expected Behavior

- If data has some negative value,  the chart will have a zero line guide as default.
- I wish we can custom attributes(colors) of negative value.

### Actual Behavior

- A chart shows nothing.

### URL, screen shot, or Codepen exhibiting the issue

![スクリーンショット 2022-07-13 12 00 44](https://user-images.githubu

[2022-07-13 03:06] jeffcap1 commented on #6229
@ericsoderberghp, yea I would definitely be interested in contributing this change to the project.

[2022-07-13 14:40] ericsoderberghp commented on #6229
Great! Here's a place to get started: https://github.com/grommet/grommet/blob/master/CONTRIBUTING.md
Let us know if you have any questions :)

[2022-07-14 16:53] steveartfx opened #6232 "document.activeElement is not working when using Grommet in shadow Dom. This means a form field is not getting highlighted when clicked."
When using  formfield and a form element component in shadow Dom and clicking it, the highlighted border does not appear.

### Expected Behavior

The behavior should be the same for web component usages as it is in the normal scenario

### Actual Behavior

The border is missing when clicked. Styles are never added to stylesheetmanager outlet when the element is clicked. When not using shadow Dom,

[2022-07-14 19:37] britt6612 opened #6233 "Enhance TextArea to have a `maxSize`"

[2022-07-14 23:17] jcfilben commented on #6232
Hi @steveartfx could you share a codesandbox that reproduces the error? Here is a template to get started: https://codesandbox.io/s/m7mml8l0zj

[2022-07-18 11:39] raghuramsomayaji opened #6235 "Tabs Underlines are not sticky when tab are used in a section which has fixed height"
Tabs underlines(margin bottom) with grommet-theme-hpe are not stick to the bottom of it when we have scrollable content within the tab. It was working before but after this new feature - https://github.com/grommet/grommet/pull/6137 it is broken.

### Expected Behavior
With grommet 2.24.0 and grommet-theme-hpe - 3.2.0
![image](https://user-images.githubusercontent.com/87470562/179499480-259104aa-f2

[2022-07-18 15:17] jcfilben commented on #6169
Closing, fixed in #6194

[2022-07-18 15:17] #6169 closed

[2022-07-18 16:28] jcfilben commented on #6235
Hi @raghuramsomayaji I created a codesandbox example of Tabs with scrollable content but I wasn't seeing an issue where the tab underline is appearing in the middle of the Tab buttons unless I added a negative bottom margin to the Tab. Can you share a codesandbox that reproduces the issue you are seeing above?

Here is my codesandbox: https://codesandbox.io/s/grommet-v2-template-forked-mnnmzz?file

[2022-07-18 16:45] #6129 closed

[2022-07-18 16:45] #6130 closed

[2022-07-18 18:50] jcfilben commented on #6170
Fixed in #6195

[2022-07-18 18:50] #6170 closed

[2022-07-18 19:15] jcfilben commented on #6232
@steveartfx can you share the link to the codesandbox where you added the code?

[2022-07-18 19:19] steveartfx commented on #6232
@jcfilben I'm using this link: https://codesandbox.io/s/grommet-v2-template-forked-cycmxn?file=/index.js

[2022-07-18 19:20] jcfilben commented on #6232
Perfect, thanks!

[2022-07-18 22:12] thomas-friedrich opened #6236 "[TS] type issue in DataTable/index.d.ts"
### Steps to Reproduce

1. Run `yarn tsc --noEmit` from grommet folder.

Output shows a type-script related issue in components/DataTable/index.d.ts:
[code]

### Your Environment

- Grommet version: 2.25
- Browser Name and version: N/A
- Operating System and version (desktop or mobile): N/A

[2022-07-19 04:08] raghuramsomayaji commented on #6235
Hi @jcfilben This is happening when we use tabs inside a component which has fixed height like grommet **Box** . I just added height to the Box component and here is the codesandbox: https://codesandbox.io/s/grommet-v2-template-forked-xtqw3m?file=/index.js

[2022-07-19 15:20] #6044 closed

[2022-07-19 20:14] halocline opened #6238 "Select - Odd autoscroll behavior in Select"
**Expected Behavior**

When onMore occurs and adds items to `options` the user's cursor should remain at the item index in the list on which they currently have focus.

**Actual Behavior**

An unexpected autoscroll occurs after an initial onMore is called, more data is loaded, and then the user moves their cursor.  I will create a minimal code example which reproduces this experience and add it to

[2022-07-19 20:56] halocline commented on #6238
Potentially related to https://github.com/grommet/grommet/issues/6208

[2022-07-19 21:24] halocline commented on #6238
Update: This is occurring on the Select "Many options" and "Lazy loading options" stories on Storybook.

https://user-images.githubusercontent.com/1756948/179851056-68b62e5b-03b1-47dd-8f01-37791f70265f.mov

[2022-07-19 21:31] halocline commented on #6238
Repeated repeats (😬 🙉 ) when active index is on or between 29-40:

https://user-images.githubusercontent.com/1756948/179852052-3bf2edb2-ee19-42e4-8230-caabeb4d521f.mov

[2022-07-19 22:46] halocline commented on #6238
Appears to have been introduced in https://github.com/grommet/grommet/pull/5934.

<img width="810" alt="Screen Shot 2022-07-19 at 4 33 43 PM" src="https://user-images.githubusercontent.com/1756948/179860195-07c059b8-1c86-4906-9796-4116d2bfcd17.png">

[2022-07-20 01:04] #6197 closed

[2022-07-20 11:22] romanpastu opened #6242 "Calendar - Looking for a Month and Year Calender"
Reopening this issue https://github.com/grommet/grommet/issues/990

I am looking for a calender control in month and year format (no date/day)

### Expected Behavior

Calendar control should have only year and month control
MM/YY

### Actual Behavior

There is no such control
MM/DD/YYYY

### Steps to Reproduce

[grommet docs.](https://v2.grommet.io/calendar?c=DwYQhgNgpgdgJmATgKAASoM4EsBeUC8ARBgLaQ

[2022-07-20 14:58] #6242 closed

[2022-07-20 15:38] halocline commented on #6238
Consider double confirmation for different levels of severity, some sort of low, medium, high where the pattern adds additional "speed bumps".

"Use warning instead of critical color"

[2022-07-20 16:04] #6235 closed

[2022-07-20 17:47] ShimiSun commented on #3797
Labeled as `accessibility` since it's an issue-driven by keyboard navigation action.
Any workaround or solution will be appreciated here.

[2022-07-21 13:59] buberdds commented on #6233
Why does it require an extra prop when this can be resolved by a validation (`FormField` -> `validate` for example)?

[2022-07-21 21:58] browniefed commented on #3797
@halocline there is likely a separate bug then. It seemed very similar.

If you have a Drop inside of a scrollable container (that is not necessarily the root document). In seemingly random scenarios if the Keyboard is opened and then you execute a scroll you can get significantly broken UI.

The dropdown loses track of whatever its target is. Covers the input and never recovers. Here is a picture

[2022-07-21 22:12] halocline commented on #3797
@browniefed Thank you for the additional info. Would you be willing to share a Codesandbox.io which reproduces the behavior you are showing? That would help with debugging.

[2022-07-22 15:50] Ojas-Sri opened #6247 "Grid component does not have role="grid""
- Grommet `<Grid/>` component does not have WAI-ARIA role of `"grid"`.
- Neither `<Grid/>` cells have WAI-ARIA role of `"grid-cell"`

### Expected Behavior
- The Grid component should have role="grid".
- Grid cells should have role="grid-cell"

### Actual Behavior

- RTL does not find any items with role "grid" or "grid-cell" on the screen.

### URL, screen shot, or Codepen exhibiting the issue

h

[2022-07-22 16:39] #6231 closed

[2022-07-22 18:54] halocline opened #6248 "Select - custom theme option hover background state no longer respected"
### Expected Behavior

Select's option hover background should apply the value specified in [global.hover.background](global.hover.background).

### Actual Behavior

Select alway applies 'active' color and no longer respect's the global.hover.background property.

### URL, screen shot, or Codepen exhibiting the issue

[Snapshot change occurred in this PR](https://github.com/grommet/grommet/pull/59

[2022-07-22 19:04] ericsoderberghp commented on #6184
Can you add a screenshot? I'm not quite sure how to use the code sandbox link to generate the issue.

[2022-07-25 10:33] Repomn commented on #6231
@ericsoderberghp I appreciate you to refactor!

[2022-07-25 18:30] #6208 closed

[2022-07-25 18:30] #6238 closed

[2022-07-25 18:31] #6248 closed

[2022-07-25 21:58] ericsoderberghp commented on #6247
Based on https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Grid_Role, it seems that the roles are primarily used for a data grid with interactive cells arranged in rows, which is basically a table. Most of the uses of Grid in grommet apps are as layout grids where the headings or focusable elements within each of the grid areas would be used to traverse the content by screen re

[2022-07-27 15:45] britt6612 commented on #6210
closing due to `pad` being taken out in hpe theme

For now leaving the spinner sizes since teams are using the current sizes as it

[2022-07-27 15:45] #6210 closed

[2022-07-27 17:16] taysea commented on #6068
Fixed by https://github.com/grommet/grommet/pull/6214. This is available in v2.25.1

[2022-07-27 17:16] #6068 closed

[2022-07-27 17:47] taysea commented on #6228
As a workaround (not a solve, but takes some of the tediousness out), you can put your cursor on a certain line, then hold alt + shift, and click on a new line -- this will select all the lines in between:

https://user-images.githubusercontent.com/12522275/181321740-eb318250-99e9-416a-88b2-072ec2cdbb6c.mov

[2022-07-27 21:04] #6236 closed

[2022-07-28 04:02] NamrataPatel29 opened #6255 "Does grommet support next and previous option for pagination. I want to implement next and previous pagination but cant find a component in storybook which supports next and previous pagination."
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2022-07-28 15:14] jcfilben commented on #6184
<img width="239" alt="Screen Shot 2022-07-28 at 9 13 14 AM" src="https://user-images.githubusercontent.com/54560994/181573743-1c4062a0-b1eb-4834-8fed-2c7dfe445347.png">

I attached a screenshot that I think is showing the issue. The labels are more are not aligned under the bar and more centered on the chart instead.

[2022-07-29 19:16] jcfilben commented on #6255
Hi @NamrataPatel29 I'm not sure if I understand what you are trying to achieve, but I think you are saying you just want a next and previous button and to not have the additional page buttons that are in the pagination component? If so, this could just be achieved with regular buttons I don't think you need to use Pagination.

[2022-08-01 15:22] ericsoderberghp opened #6258 "release-stable is broken after upgrading 'del'"
When we upgraded the `del` package to version 7, this broke the `release-stable` script, as the API for `del` changed. I think we need to change how we import it and use it.

The error reported by CircleCI is:

[code]

[2022-08-01 16:37] ericsoderberghp commented on #6258
Still having problems.

[2022-08-01 16:38] jcfilben opened #6260 "MultiSelect Component"
Create a new MultiSelect component the supports the default version design. Related to https://github.com/grommet/hpe-design-system/issues/2746

## Deliverables
- [ ] draft pull request, ready for feedback

Update 8/5:
This week I worked on building a new MultiSelect component that supports both the default and variant versions of the design. Next week I will be focusing on code consolidation betw

[2022-08-01 19:50] #6258 closed

[2022-08-02 20:52] jcfilben commented on #3631
A page has been added to the Grommet site that documents all of the global theme properties (component theme properties are documented on the individual component pages). The global theme props page gives a brief explanation of global theme props and links to our theming wiki page for more info. Let us know if we missed anything or could make any additional improvements.

Link to global theme prop

[2022-08-02 20:52] #3631 closed

[2022-08-02 22:34] jcfilben commented on #4445
Just wanted to check in and see if there was still interest in this enhancement. If you are interested feel free to leave a comment that says so. If there is no longer interest in this I think we can close this issue.

[2022-08-02 22:37] jcfilben commented on #4669
Hey, just wanted to check back in on this issue and see if there is still interest. If there is I think it would be good to hear more about the use case and why using `onActive` and `activeIndex` to accomplish this doesn't work well. If there is no longer interest I think we can go ahead and close this.

[2022-08-03 14:51] jakes59 commented on #3797
I'm seeing the same behavior as @browniefed with TextInput suggestions. The drop is misaligned, covering the input, without needing to scroll.

https://codesandbox.io/s/grommet-v2-template-forked-xkbb6i

[2022-08-03 22:55] jcfilben commented on #3797
Hi @jakes59 thanks for reporting this and including a codesandbox. Can you share the version of iOS you are using? I viewed the codesandbox using an iphone emulator on my mac that was running iOS 15.5 and I wasn't seeing any issues. It would be good to know if this issue is only appearing on certain versions of iOS.

[2022-08-04 00:39] jakes59 commented on #3797
Interesting. Sure, I've seen it on a few devices but confirmed it earlier on an iPhone 12 simulator running iOS 14.2.
Important tidbit I left out earlier, it seems to be related to the keyboard so if testing on the simulator you might need to toggle that on.

https://user-images.githubusercontent.com/4420310/182738542-a7b9af6d-20da-4fcf-97f6-44beeba6cedd.mov

[2022-08-04 04:44] SagarTrimukhe commented on #4669
Hi, You can close this enhancement request.

[2022-08-04 15:26] #4669 closed

[2022-08-04 16:32] jcfilben commented on #3797
Ok good to know it is related to the keyboard. I tested again emulating an iPhone 12 running iOS 15.5 and made sure to use the keyboard but still wasn't encountering the issue. So it looks like this issue is dependent on the iOS version

https://user-images.githubusercontent.com/54560994/182893659-72c4cb6b-415d-47dd-8527-563506ba1113.mp4

[2022-08-05 05:12] sinan commented on #3797
I can confirm that it's not working for me either.

https://user-images.githubusercontent.com/440086/183005959-2e247259-8cb0-40b1-aeb6-5278cb6503a9.mov

[2022-08-06 03:44] amanmishra7ave commented on #2177
react-dom.development.js:14985 Uncaught TypeError: Failed to construct 'Image': Please use the 'new' operator, this DOM object constructor cannot be called as a function.
    at renderWithHooks (react-dom.development.js:14985:1)
    at mountIndeterminateComponent (react-dom.development.js:17811:1)
    at beginWork (react-dom.development.js:19049:1)
    at HTMLUnknownElement.callCallback (react-dom

[2022-08-06 21:35] GFargo opened #6263 "`RadioButton` Custom Icon not passed `theme` as a prop"
### Expected Behavior

Similar to the [custom _checked_ icon ](https://github.com/grommet/grommet/blob/master/src/js/components/CheckBox/CheckBox.js#L139)within the CheckBox component, the `StyleRadioButtonIcon` should be [passed the `theme` as a prop here](https://github.com/grommet/grommet/blob/master/src/js/components/RadioButton/RadioButton.js#L103).

The `ThemeType` type should likely also ma

[2022-08-09 07:30] der1igedon commented on #4087
Hello, I tried the sample. But for me it doesn't work. It still aligns to the right. Was there any change with newer grommet versions?

[2022-08-09 10:26] Ojas-Sri opened #6265 "`WorldMap` component goes off after state update."
- `WorldMap` component's labels misalign after a state update to the `places` props.
- Code style : `<WorldMap places={state? places1 : places2} />`

### Expected Behavior

- The Place labels should be placed at their correct coordinates after state updates.

### Actual Behavior

- The Place labels misalign after state update to the `places` props.

### URL, screen shot, or Codepen exhibiting the

[2022-08-09 10:31] Ojas-Sri commented on #6247
Got it @ericsoderberghp , as you mentioned the `Grid` aria role represents a different HTML element.

No, I don't have an example for use of the role in "layout grids"

[2022-08-09 15:18] jcfilben commented on #4087
Hi @der1igedon I don't think there was any change related to this in newer versions on Grommet. I created a new [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-uye4j5?file=/index.js) with updated versions or React, Grommet, etc. Let us know if you are still seeing the issue in the new codesandbox. If your are still seeing the issue can you share the browser, version, and operatin

[2022-08-09 15:31] jcfilben commented on #6247
@Ojas-Sri can we go ahead and close this issue?

[2022-08-09 16:17] jcfilben commented on #2177
Hi @amanmishra7ave can you share a codesandbox that reproduces the issue? Here is a template https://codesandbox.io/s/m7mml8l0zj

[2022-08-09 20:57] taysea opened #6266 "SkipLinks should automatically filter out undefined children"
### Expected Behavior

SkipLinks should filter out `undefined`/`null` children before attempting to `cloneElement`. Page content may change based on various conditionals, so not all skiplinks will be relevant to all pages.

### Actual Behavior

Throws error.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-dwsdu5?file=/index.js

<img width

[2022-08-10 11:35] DreamerIn opened #6267 "Select dropdown is not allowing to scroll all the options when clear selection is enabled."
Select dropdown not allowing to scroll all the options when clear selection is enabled.

### Expected Behavior

Select dropdown should load all the options whether clear option is enabled or disabled.

### Actual Behavior

When clear option is enable Select dropdown is not completely scrollable

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/stupefied-proskuriakova

[2022-08-10 16:21] jcfilben commented on #6267
Attaching codesandbox from slack thread https://codesandbox.io/s/stupefied-proskuriakova-t9r5xw

[2022-08-11 14:36] jcfilben opened #6269 "Improve Screenreader Experience for Toast Notifications"
### Expected Behavior
The content of a Toast Notification should be read out by a screenreader when the notification appears. It should be readout once (there are some cases where it will be read twice, for example when using NVDA and this is unavoidable).

### Actual Behavior
Toast announcement by screenreader is hit or miss. Sometimes the first toast notification doesn’t get read. Other times th

[2022-08-11 14:40] jcfilben opened #6270 "Toast Notification Timing Adjustable"
### Expected Behavior
Toasts need to support a way to extend timing or set a new time limit. See https://www.w3.org/TR/WCAG21/#timing-adjustable

### Actual Behavior
Currently the time limit is controlled by the theme. To adjust it would require changing the theme. We don't support a good way to extend the time limit of a toast before it is removed from the screen.

[2022-08-11 19:59] taysea opened #6271 "Button theme should support specification of icon for kind"
### Expected Behavior

Should be apply to specify `button[kind].icon` so that specific button kinds can have an icon built in.

### Actual Behavior

Not possible.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2022-08-11 20:03] taysea opened #6272 "Button theme should support padding defined for icon-only buttons"
### Expected Behavior

With rounded buttons, it can be desirable to have a different amount of horizontal padding for icon-only buttons vs buttons w label. Button theme should support ability to define that.

### Actual Behavior

Not possible.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and versio

[2022-08-11 21:02] taysea opened #6273 "PageHeader - Add size prop and theme options"
### Expected Behavior

Allow caller to specify PageHeader `size` -- which would affect top/bottom pad, heading size, and subtitle size. These values should be able to be set in the theme `pageHeader.size`.

`pageHeader.size.small.title`, `pageHeader.size.small.subtitle`.. etc

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Env

[2022-08-12 20:00] taysea opened #6276 "Heading — support `weight` and/or `kind`"
### Expected Behavior

It is desirable to be able to control the heading weight -- sometimes bold is desired, other times a lighter weight is desired. The caller should be able to control that directly by `weight` (like text) and/or something that could be defined as a `kind` in theme (like Button theming) depending on level of flexibility desired.

### Actual Behavior

### URL, screen shot, or Co

[2022-08-14 19:48] vldmr1986 opened #6278 "DataTable: sorting arrow icon doesn't change in header when using navigation"
We store sorting parameters in the URL (so that you can share the URL)

### Expected Behavior

1. Click on the table header to sort (different columns several times):
 - The URL has changed, arrows in the header should be consistent with the new URL info
2. Use browser navigation arrows (back/forward)
 - The URL has changed, arrows in the header should be consistent with the new URL info

### Actu

[2022-08-15 21:05] jcfilben commented on #6255
Closing due to inactivity. Feel free to re-open if needed

[2022-08-15 21:05] #6255 closed

[2022-08-16 20:26] #6273 closed

[2022-08-17 16:30] ucbdiaz2015 opened #6281 "Data Table sort breaks if a property is null or undefined"
### Expected Behavior
Undefined properties should be treated as empty string

### Actual Behavior
When sorting a column, items are not re-ordered as expected if an item in the table has the property set to null or undefined

### URL, screen shot, or Codepen exhibiting the issue
See [Codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-0ytqfb?file=/index.js:1723-1727)

<img width="1047"

[2022-08-17 18:08] jakes59 commented on #3797
@jcfilben any word on this?

[2022-08-17 18:39] y-okamoto-1113 opened #6283 "Feature Request | wen need auto-scroll to selected options in `Select` component."
### Expected Behavior
after i selected  an option at `Select` component and reopen the dropdown of `Select` component, dropdown auto-scrolls to the selected option.

### Actual Behavior
auto-scrolling to the selected option is not working.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce
1. click here.
https://v2.grommet.io/select?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoB

[2022-08-18 05:32] #6281 closed

[2022-08-18 08:55] y-okamoto-1113 opened #6284 "Feature Request | i want to use `react-window` in `Select` Component to improve rendering performance."
### Expected Behavior
I want to use `react-window` in `Select` Component.
when i use `Select` Component and there are too many options like 10k, it takes too much time to render `Select` component.

### Actual Behavior

we have no choice to use `react-window`.
### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser

[2022-08-18 14:28] halocline commented on #6284
Does [Select's onMore prop](https://v2.grommet.io/select#onMore) meet your needs for lazy loading?

[2022-08-19 08:33] y-okamoto-1113 commented on #6284
@halocline
thanks for the reply 😄
I'm using `onSearch` props in `Select` component.
First, I fetch all data and passed all data to `onSearch` .
I want to improve rendering performance, not fetching performance.
If I use `onMore`, I can't pass all data to `onSearch`, and `onSearch` doesn't work well.

Please teach me the way 🙇

[2022-08-19 21:39] jcfilben commented on #4445
Closing, see previous comment

[2022-08-19 21:39] #4445 closed

[2022-08-19 23:03] taysea opened #6287 "Meter type="circle" doesn't always render all values"
### Expected Behavior

Meter type="circle" should render all data points. Functionality was fine in `v2.24.0` but broken in `v2.25.0`.

### Actual Behavior

Circle meter doesn't render all the data points and instead only renders the last one.

### URL, screen shot, or Codepen exhibiting the issue

Code
[code]

CodeSandbox (v2.24.0, working):
<img width="1340" alt="Screen Shot 2022-08-19 at 4 04 2

[2022-08-19 23:54] ecircenis opened #6288 "Single-select variant of selectable row DataTable"
The current selectable row variant of DataTable adds a checkbox row and supports multiple selections.  There are many use cases where single selection from a list is needed.  Today, these needs have to be met by creating complex RadioButtonGroups or other complex constructs where a single-select DataTable would be a much cleaner approach.

Something like this:
![image](https://user-images.githubus

[2022-08-19 23:55] #6267 closed

[2022-08-22 07:29] callumfrance opened #6289 "Feature Request | add `font-variant` / `text-transform` option to the global "font" type"
### Expected Behavior

In raw CSS, I can use the following rule to make text uppercase -
[code]
I could also achieve something similar using a different rule to get "small-caps" -
[code]

So it would be cool to allow this to be controlled via a setting manageable for usages of fonts (e.g. on a per-heading basis).
In `src/js/themes/base.d.ts`:

[code]

*Note:* It is probably crazy to have the entir

[2022-08-22 12:51] colindivilly opened #6290 "asc, desc order is backwards on datatable"
asc, desc order is backwards on DataTable when initially configured

Also, when clicking a column to be sorted, the arrow on the table is opposite of the DataTable object
### Expected Behavior

When a I configure a DataTable with
sort = {{
    direction: "desc",
    external: true,
    property: "lastModifiedDate"
  }}
I expect an downward arrow on the lastModifiedDate column
### Actual Behavior
T

[2022-08-22 17:43] halocline opened #6291 "Enhance theme to support theme-defined backgrounds"
I would like to be able to apply backgrounds by referencing design tokens (namespaces) similar to how I can reference colors. For example, `<Box background="my-beautiful-gradient" />` or `<Box background="my-brand-image" />`.

This would be useful for projects wanting to consume company/brand images in a consistent manner to consuming colors.

Proposal:
- [x] `theme.global.backgrounds` where a col

[2022-08-22 21:46] MikeKingdom commented on #6287
This was caused by https://github.com/grommet/grommet/commit/9de09e47dd0f912b76c7f2308ef71b3b0408a639
![image](https://user-images.githubusercontent.com/12054362/186022392-132c7550-9657-4fa1-86bb-9ad5ff43c4cc.png)
Basically if the data values add up to something near or larger than the scaling factor (10000) Then then `anglePer` comes out to 0. We can probably make this a little more scalable by d

[2022-08-22 22:34] MeganBeierle opened #6292 "Tabs- Change active state tab in Grommet"
Based on user research we have decided to modify the active state tab to increase user recognition time. The new active state can be found here: https://www.figma.com/file/Kp4dWyhUTnKIJ1Cg5CoL9o/HPE-Tabs-Component?node-id=4317%3A40074

- [ ] Update active tab state in Grommet

The hover state will remain the same.

[2022-08-23 04:35] #6287 closed

[2022-08-23 16:28] jcfilben commented on #6290
Hi @colindivilly to me I interpret this as the expected behavior, the arrow is pointing up because if I were to click it the table would become acsendingly sorted. So the arrow if telling me the behavior of the button rather than the current state of the table. Let me know what you think about this.

On an unrelated note, the screenshot you shared captures an issue we have been looking into with t

[2022-08-23 17:00] halocline opened #6295 "PageHeader heading with long string overflows rather than breaking"
### Expected Behavior

Headings containing user generated content are unpredictable and can be quite lengthy. A long string passed as a heading to PageHeader should wrap when it runs out of space.

### Actual Behavior

PageHeader's heading overflows and collides with other content.

### URL, screen shot, or Codepen exhibiting the issue

![Screen Shot 2022-08-23 at 10 50 21 AM](https://user-images.

[2022-08-23 17:33] #6276 closed

[2022-08-25 23:24] taysea opened #6301 "Button - dark mode label color inconsistent"
### Expected Behavior

If the theme doesn't specify a label color for a specific button state (e.g., active), then the active button should have the same label color as the default state.

### Actual Behavior

In dark mode, when a button's default state has a background with opacity < 1 (such as background-contrast) the label color is coming through differently than when that button is active.

##

[2022-08-26 16:18] MikeKingdom opened #6302 "Improve Analytics events from Grommet onAnalytics"
Improve analytics events:

- [x] Make `position="hidden"` layers not generate events
- [x] Add support for List onClickItem
- [x] Add meaningful Button/Anchor ancestor when the target is generic div, svg, text, etc.

[2022-08-26 18:29] #6271 closed

[2022-08-29 07:36] anshu-kri opened #6303 "validate = 'change' does not work for select component"
### Expected Behavior

When Form element has validate="change".. The select component inside should validate onChange..

### Actual Behavior

When Form element has validate="change".. The select component inside should validate onChange.. It is not validating onChange, instead when there is change on any other field inside that form then the validate is fired.

### URL, screen shot, or Codepen exh

[2022-08-29 15:05] joybh98 commented on #6289
is this something a beginner to this project contribute to ?

[2022-08-29 17:15] smiksiukhpe opened #6304 ""Clear" option limits options in "Select" component."
When clear option is not undefined user cannot see all options in Select dropdown.

### Expected Behavior

User should see all options in dropdown whenever clear is "true", "false", {position: "top"}, etc.

### Actual Behavior

When "clear" is enabled user can see only first several options.
![image](https://user-images.githubusercontent.com/81712383/187257319-e89bdb97-462c-4cc8-ad40-3ac66793a776.

[2022-08-29 17:50] barinbritva opened #6305 "Allow multiple Notifications at the same time [feature request]"
Now when I render a notification and then another one, the first one dissappears immediately. Sometimes it's necessary to be able to render multiple notifications.

Use cases:
- user quickly did a few actions
- user did an action and something happened in the background

I tried to create some wrapeer and adapt the component to my own needs, but Layer component inside of Notification is too compli

[2022-08-29 18:34] AbreezaSaleem commented on #6242
@romanpastu the issue is closed but I see no solution to this. Can you please share an example code for implementing a month+year only calender? Thank you.

[2022-08-29 18:49] taysea commented on #6278
Hi @vldmr1986 -- when using the `sort` prop, if you indicate `external: true` then the docs indicate that "the caller will take care of sorting the 'data' via 'onSort': https://v2.grommet.io/datatable#sort

If you'd like DataTable to handle the sorting for you, you can remove `external: true` from your sort prop like this: https://codesandbox.io/s/friendly-microservice-ggt1q4?file=/src/App.js

Can

[2022-08-29 20:09] #6292 closed

[2022-08-29 20:24] vldmr1986 commented on #6278
@taysea the problem is neither in the data nor in their sorting The problem is in the incorrect arrows in the header.
Pay attention to the property sort={{ property, direction }}
<img width="1408" alt="Screenshot 2022-08-29 at 22 16 28" src="https://user-images.githubusercontent.com/17574496/187291555-f008834f-c8ef-4b54-bc0c-8aa1301b5f5f.png">

I

[2022-08-29 20:39] vldmr1986 commented on #6278
I noticed that the behavior of the arrows only changes if you manually click on the header. but if you change the sort property through the state or navigation, the arrow does not react.

Assumption: The Table uses the external sort property on componentWillMount only, and then defines the internal local state of these values. So when the Table component is mounted, and the "sort" property is chan

[2022-08-29 20:53] jcfilben commented on #6247
Closing, feel free to re-open if needed

[2022-08-29 20:53] #6247 closed

[2022-08-29 21:53] taysea commented on #6278
Thanks for clarifying. From your initial code sandbox, I was able to see the arrow change when adjusting the search params in the url -- however, I am now able to replicate the issue with state. I am looking into a solution.

[2022-08-29 22:22] vldmr1986 commented on #6278
Once you adjust the search params directly in the URL (manual), it will cause reload the page, so it will trigger componentWillMount (so sort will be correct).
But, if you will use useSearchParams hook(react-router-dom), it won't reload the whole page.
Steps to reproduce:
1. Click on the header "B"
2. Click on the "backward" arrow navigation button from the built-in browser

 however,  the fix wit

[2022-08-29 23:28] jcfilben commented on #6289
Yes! @joybh98 definitely feel free to contribute and feel free to reach out with any questions along the way!

I think for this issue we can go ahead and add variant to the `global.font` theme property, I just want to note for the original author of the issue that the other font definitions in the theme don't always follow the `global.font` specification but we would like to eventually move in tha

[2022-08-29 23:30] jcfilben commented on #6290
Adding this to the backlog, there is some inconsistency with how we are using this (for example with the grommet theme the arrow is the reversed) and it would be good to do a little research just to confirm the direction.

[2022-08-29 23:57] jcfilben commented on #6304
Hi @smiksiukhpe I believe this issue was fixed in this pull request: https://github.com/grommet/grommet/pull/6285. The fix is available currently on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be included in the next release of grommet

[2022-08-30 01:11] ucbdiaz2015 opened #6308 "Data Chart - x-axis using renderValue incorrectly, assumes we're using dates and doesn't show detail"
### Expected Behavior
Should call renderValue just as YAxis calls it

renderValue: https://github.com/grommet/grommet/blob/master/src/js/components/DataChart/DataChart.js#L508
YAxis (correct): https://github.com/grommet/grommet/blob/master/src/js/components/DataChart/YAxis.js#L33
XAxis (incorrect): https://github.com/grommet/grommet/blob/master/src/js/components/DataChart/XAxis.js#L27

### Actual

[2022-08-30 05:31] #6278 closed

[2022-08-31 02:53] joybh98 commented on #6289
Thanks for the update @jcfilben, will start work on it !

[2022-08-31 05:41] #6184 closed

[2022-09-01 12:51] gadasandula opened #6313 "submenu list is not opening in safari on click of main menu"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2022-09-01 15:20] jcfilben commented on #6313
Hi @gadasandula can you share a code example of this? Here is a codesandbox template you can use to get started: https://codesandbox.io/s/grommet-v2-template-forked-tg6k1o?file=/index.js.

[2022-09-01 16:05] #6302 closed

[2022-09-01 17:53] mustafa-malayawala opened #6314 "Issue: Cannot use OnClickRow and OnSelect together. Selecting checkbox triggers OnClickRow."
### Expected Behavior

On selecting a checkbox the row should just be selected and the onClickRow method shouldn't be invoked, or the event in the onClickRow should indicate that the event is produced due to selecting a checkbox.

### Actual Behavior

Selecting checkbox triggers OnClickRow and the event doesn't indicate it was due to checking the box of the row.

### URL, screen shot, or Codepen e

[2022-09-05 14:24] paola-machado commented on #6303
Hi! I would like to work on this, if that's ok

[2022-09-05 14:26] paola-machado commented on #6301
Hi! I would like to work on this, if that's ok

[2022-09-06 14:21] jcfilben commented on #6303
Hi @paola-machado! Yes absolutely feel free to work on this

[2022-09-06 18:51] #6260 closed

[2022-09-07 22:32] #6295 closed

[2022-09-08 08:12] alexkuz commented on #5853
Note that this is still broken (`ListProps` expects `children` to be of type `ReactNode` instead of a function)

https://github.com/grommet/grommet/blob/master/src/js/components/List/index.d.ts#L46

[2022-09-08 10:05] crashuniverse commented on #3655
Your codesandbox example is [missing (see doc here)](https://redux-form.com/8.3.0/docs/api/field.md/#-code-validate-array-lt-function-gt-value-allvalues-props-name-gt-error-code-optional-) a `validate` prop for `Field` component. Once we put that in, values are consistent. Result: https://i2lgec.csb.app/ Forked sandbox: https://codesandbox.io/s/grommet-v2-template-forked-i2lgec?file=/NewReading.js

[2022-09-09 00:55] jcfilben commented on #6301
Hey @paola-machado feel free to work on this!

[2022-09-12 18:17] JCoder121 opened #6319 "Layer - different screen widths cause scrolling freeze on Design System site"
### Expected Behavior
Users on the DS site should be able to scroll through pages regardless if there is a Modal present on the page.

### Actual Behavior
On DS site pages with Layer components where modal={true} and there is a target, certain screen width sizes cause the entire page to lose scrolling functionality.

### URL, screen shot, or Codepen exhibiting the issue
Screen recording:

https://

[2022-09-12 19:00] jcfilben commented on #6304
Closing, a fix for this is included in v2.25.2 of Grommet

[2022-09-12 19:00] #6304 closed

[2022-09-12 19:06] jcfilben commented on #6319
Is this an issue with the Layer component on Grommet or just an issue on the Design System site?

[2022-09-12 19:17] JCoder121 commented on #6319
I discussed this with Taylor and we are treating it as an issue with the Layer component for now.

[2022-09-12 20:45] jcfilben opened #6320 "Notification - enhance `message` to allow for node type to be passed"
The `message` prop for notification only allows a string to be passed. It would be nice to enhance this to allow passing a node. This would enable more customization (for example: having anchors within the notification text).

[2022-09-12 20:50] mustafa-malayawala commented on #6314
Hi @jcfilben, I understand the recommendation. Thanks for replying! I want to achieve the opposite, I have a separate function set on `onClickRow`, and another function set `onSelect`. Is there any way we can add a sort of indicator in the event which shows one of them happened such that we can handle them separetely. Instead of making both interactive, just have the complete row interactive and j

[2022-09-12 21:06] jcfilben commented on #6289
Hey @joybh98 just wanted to check in on this issue and see if this was something you are still interested in working on or if there were any questions or support needed on this

[2022-09-12 23:23] jcfilben commented on #6314
Hey @mustafa-malayawala I just want to make sure I'm understanding correctly what you are trying to accomplish. Clicking on the checkbox should only trigger the `onSelect` function. Clicking anywhere else on the row should only trigger the `onClickRow` function. Is that the desired behavior?

I think if we wanted to enhance DataTable to have this behavior, we would want to have two separate click

[2022-09-13 02:47] joybh98 commented on #6289
hey @jcfilben I am working on it, I ran tests but they are failing, should I start a PR and we can pick it up from there ?

[2022-09-13 09:35] p-fruck opened #6321 "RadioButtonGroup not working with boolean values"
The RadioButtonGroup element does implement the `options` attribute as describe in the docs. Besides having the wrong type definitions boolean options are not accepted as values.

### Expected Behavior

I should be able to define custom objects with boolean values to switch between two options.

### Actual Behavior

Typings mismatch and boolean options are not respected

### URL, screen shot, or C

[2022-09-13 15:08] jcfilben commented on #6289
Hey @joybh98 thanks for the update! I think you can go ahead and open up a PR and then we can look into the tests failing

[2022-09-13 16:30] #6291 closed

[2022-09-13 18:48] kimkscott opened #6323 "Uncaught type error when pass a null value to Select"
### Expected Behavior

Updated the Compute Ops Manager UI to grommet 2.25.3.  Expected UI to continue to work as before.

### Actual Behavior

We saw the following uncaught type error in the browser debugger console:

![image](https://user-images.githubusercontent.com/91684949/189983440-dade6aa3-d135-4bbd-a39d-8bcb22aeb795.png)

### URL, screen shot, or Codepen exhibiting the issue

The problem ha

[2022-09-13 19:31] jcfilben commented on #6321
Hi @p-fruck I appreciate the detailed description and sharing the codesandbox for this issue! It looks like `event.target.value` is giving us back a string as the value instead of a boolean (see related stack overflow question: https://stackoverflow.com/questions/34547733/reactjs-how-to-use-boolean-values-in-radio-buttons). I modified your codesandbox so that get a boolean value out of the string

[2022-09-13 21:44] #6323 closed

[2022-09-13 21:49] jcfilben commented on #6323
Thanks for reporting this @kimkscott! The fix is available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be included in the next grommet release

[2022-09-14 04:04] halocline commented on #6323
Thank you, @kimkscott. Much appreciated.

[2022-09-14 04:31] kimkscott commented on #6323
Thanks @jcfilben for fixing this so quickly!!  As always, thanks @halocline and @ericsoderberghp for all your help!!

[2022-09-14 15:40] britt6612 opened #6328 "Radio Button lacks focus indicator"
### Expected Behavior
If you `tab` to a RadioButton I would expect to have the focus on the RadioButton it self

### Actual Behavior
Receives no focus if it is not clicked

### Steps to Reproduce

https://storybook.grommet.io/?path=/story/input-radiobutton-simple--simple
Tab here and see RadioButton never gets focused

If you tab in this example the focus goes on the active RadioButton
https://v2.

[2022-09-14 16:01] JCoder121 commented on #6319
After talking with Jessica about this issue we are actually leaning towards it being on the Design System side. I will try to replicate the issue on Storybook first, to confirm if there are any problem on the Grommet side, and from there debug the DS if necessary.

[2022-09-14 17:34] jcfilben commented on #3797
Hey @jakes59, sorry for the slow response! This issue must have gotten lost in my notifications. Anyway, while I wasn't able to reproduce the issue on my end just because my iPhone emulator doesn't have ios versions back far enough to see the issue, I think we have enough people saying they are encountering this and sharing screen captures to validate this. Anyone who is interested in looking into

[2022-09-14 23:56] jcfilben commented on #6321
I believe that the boolean to string conversion is native behavior for radio buttons, so not something we are controlling within Grommet.

Thank you very much for your help!

Awesome, glad it is working for you now!

[2022-09-15 23:17] ecircenis opened #6332 "Selection count is wrong for SelectMultiple and expanded control is smaller than collapsed control"
See: https://designer.grommet.io/?id=test-edgar-circenis-hpe-com

With just one out of 5 items selected, it is telling me that I have 23 selected and even though it is showing me only one, it says there are 18 more.

![image](https://user-images.githubusercontent.com/17883783/190524506-07305544-497c-4180-9722-1e6ca04b9fc0.png)
![image](https://user-images.githubusercontent.com/17883783/190524545-4

[2022-09-15 23:43] jcfilben commented on #6332
Thanks for reporting this! It looks like the "23 selected" and "+18 more" issues are occurring when the value is set to undefined. I'll look into this.

As for the other issue of the underlying control resizing, this was a purposeful decision. When the drop is open the underlying input reverts to just showing the placeholder text (so it only takes up one line). This was done to prevent an issue wh

[2022-09-16 05:49] anshu-kri commented on #6303
@jcfilben As this issue has been fixed and merged, When can we expect a release?

[2022-09-16 06:34] rollsover opened #6333 "DataTable header pin not working with paginate."
Paginated DataTable in Box container not pins header.

### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

[CodeSandbox](https://codesandbox.io/s/grommet-v2-not-working-pin-with-paginate-ctth91)

### Steps to Reproduce

See CodeSandbox.

### Your Environment

- Grommet version: 2.23.0
- Browser Name and version: CodeSandbox
- Operating System and vers

[2022-09-16 15:11] jcfilben commented on #6303
Hi @anshu-kri, we are planning a release for sometime next week. If this fix is needed sooner the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) can be used.

Marking this issue as closed since #6316 has been merged.

[2022-09-16 15:11] #6303 closed

[2022-09-16 18:32] ypinneka opened #6334 "Scroll Position Getting Reset On Hover with DropButton"
https://user-images.githubusercontent.com/60210530/190706941-6ddc8eaf-36d6-4d0f-bc66-f5e95815e67f.mov

When we want specific styles on a row in drop content, we monitor it using useState. When we update the background color for a row based on hover, the component re-renders (as bg color changes) & the scroll position gets reset.

Attached a recording where I reproduced the issue.

We could apply s

[2022-09-16 19:02] jcfilben commented on #6334
Hi @ypinneka thanks for reporting this, can you share the link to the codesandbox you created?

[2022-09-16 22:13] jcfilben opened #6337 "SelectMultiple - Support Internationalization"
### Expected Behavior
Messages in the select such as '1 selected of 10' should use MessageContext so we can support internationalization

### Actual Behavior
Currently not supporting internationalization in SelectMultiple.

[2022-09-16 22:49] jcfilben commented on #6313
Closing due to lack of activity. Feel free to re-open with a code example so we can reproduce the issue.

[2022-09-16 22:49] #6313 closed

[2022-09-16 23:02] jcfilben commented on #6229
Marking this as closed since #6249 has been merged. @jeffcap1 Thanks for contributing to Grommet!

[2022-09-16 23:02] #6229 closed

[2022-09-16 23:39] taysea commented on #6272
Closing for now, no longer needed for brand refresh work.

[2022-09-16 23:39] #6272 closed

[2022-09-18 12:38] joybh98 commented on #6283
Can i take this ?

[2022-09-20 00:47] JCoder121 commented on #6319
Update: I think the root of the issue might be the `containerRef` that is passed in on the DS. Logging it while testing.

[2022-09-20 07:32] ypinneka commented on #6334
https://codesandbox.io/s/busy-euclid-qzfnej?file=/src/DropButton.js

[2022-09-21 11:08] pepoospina opened #6340 "DateInput Box border is not customizable"
The `DateInput` component <Box> border color and radius is not customizable.

### Expected Behavior

I would like to set the border radius and color to fit the border radius of the rest of the inputs in the form.

### Actual Behavior

The border radius is hardcoded to xxsmall.

### URL, screen shot, or Codepen exhibiting the issue

It's evident from [the code](https://github.com/grommet/grommet/bl

[2022-09-21 17:33] navistonks opened #6341 "List "action" property doesn't work with "onOrder""
### Expected Behavior

The action should be aligned with the rest of the list, even if you have an `onOrder` property.

### Actual Behavior

`action` and `onOrder` don't work together.

### URL, screen shot, or Codepen exhibiting the issue

CodeSandbox Displaying the Issue: https://codesandbox.io/s/grommet-v2-template-forked-7l1mgp?file=/index.js

With `onOrder`:
![image](https://user-images.githu

[2022-09-21 20:29] jcfilben commented on #6224
Hey @mateusbw! Just wanted to check in on this issue and see if this was something you were still interested in working on or if there was any additional questions

[2022-09-21 20:32] jcfilben commented on #6221
Closing since #6262 has been merged

[2022-09-21 20:32] #6221 closed

[2022-09-21 21:28] jcfilben commented on #6163
Closing, unable to reproduce this issue. Feel free to re-open with a codesandbox example that demonstrates the issue.

[2022-09-21 21:28] #6163 closed

[2022-09-21 21:30] aheintz opened #6344 "Datatable rowDetails poor component interaction and visual bugs"
The behaviour of rowDetails in Datatable is very limited and have visual issues.

*Visual issues*
1. Hover highlight (background) of the angle/open icon is misaligned. visual1.png attached.
2. Using rowDetails and opening any row and switching window and back makes the FormDown/FormUp icon (open/close) on the first row highlight, with a different alignment than hover. visual2.png attached. In the

[2022-09-21 21:36] jcfilben commented on #6083
Fixed in https://github.com/grommet/grommet/pull/6154

[2022-09-21 21:36] #6083 closed

[2022-09-22 06:34] anshu-kri opened #6345 "Scroll Position Getting Reset On Hover with Drop"
### Expected Behavior

On using drop component, when the content is more that it creates a scroll bar, then on clicking on the content the scrollbar resets itself to the top.

### Actual Behavior

The scrollbar should retain its position.

### URL, screen shot, or Codepen exhibiting the issue

Here's a Codesandbox template that serves as a nice starting point for demonstrating an issue: https://co

[2022-09-22 06:55] jim-king-2000 opened #6346 "Stack multiple children on different positions"
Suppose we have a box. Now we have to put 4 buttons in the 4 corners of the box. How can we do?

### Methods we tried
1. Use `Stack`. We can put only one button in the box. If there are 4 buttons, these buttons are positioned in the same corner.
2. Use `Drop`. Since it is actually `fixed` positioning, it can work with scollbar.

[2022-09-22 08:22] jim-king-2000 commented on #6346
Use `Stack` over `Stack`.

[2022-09-22 08:22] #6346 closed

[2022-09-22 14:54] jcfilben commented on #6334
Thanks for sharing the codesandbox. In react whenever you have a `useState` hook, changing the state will cause a re-render. So the best solution would be to handle styling within the css, in the issue I see you mentioned needing to handle hovering with useState. Obviously I don't know the context of your application but I would look into this and see if there are any alternatives to this. As a la

[2022-09-22 15:26] ypinneka commented on #6334
Hi @jcfilben ,
We have a specific design which cannot be plainly written in css over styled comps. We have a specific background color to maintain on hover & when not in focus the previously hovered element has a different background color.

https://user-images.githubusercontent.com/60210530/191788111-15e00e65-5bd8-435a-958e-3c3cc3979762.mov

The ask is to check if it's possible to expose a stylin

[2022-09-22 17:29] jcfilben commented on #6334
I'm going to add this to our backlog so we can look into this a bit more

[2022-09-22 17:30] jcfilben commented on #6345
Related to https://github.com/grommet/grommet/issues/6334

[2022-09-23 05:29] localrobot opened #6348 "Invalid CSS Variables being generated by root Grommet component"
The key-value pairs being generated for CSS Variables by the root Grommet component are invalid. The issue seems to be '!' (exclamation mark) being added to the keys (and values).

### Expected Behavior

The values generated should be valid. There should not be '!' appended to them.

### Actual Behavior

Invalid values are generated.

### URL, screen shot, or Codepen exhibiting the issue

![image]

[2022-09-23 08:57] FranGann opened #6349 "Select with Search Component doesn't clear search string"
**Expected Behavior**
I would expect that in the Select with Search component that when you click outside the component that the search text would re-initialized to empty.

**Actual Behavior**
When I enter text (to search) in the Select with Search component the list matches the text input which is good, however if I then click outside of the component and then click on the component dropdown icon

[2022-09-23 15:41] halocline commented on #6349
You can customize that behavior by using the [onClose](https://v2.grommet.io/select#onClose).

```onClose={() => setOptions(defaultOptions)}```

[Codesandbox demo](https://codesandbox.io/s/select-with-search-onclose-f4uhv0?file=/src/SelectSearchExample.js)

[2022-09-23 16:17] #6349 closed

[2022-09-23 20:25] jcfilben opened #6351 "SelectMultiple - Loading enhancement"
Enhance SelectMultiple to allow for loading text or spinner to display if data is taking some time to fetch

<img width="625" alt="Screen Shot 2022-09-23 at 2 22 19 PM" src="https://user-images.githubusercontent.com/54560994/192050803-5c612404-2805-4182-b4fc-cd38b0cc83cb.png">

[2022-09-23 20:48] halocline commented on #6348
@localrobot - Can you please elaborate on what you are trying to achieve? Folks will likely have an alternate solution to propose which would be aligned with the design and spirit of Grommet.

[2022-09-26 10:39] FranGann commented on #6349
@halocline  , thanks work's fine

[2022-09-26 10:55] stephanpelikan opened #6352 "Collapsible: Size does not change if content changes"
I used FormField inside of Collapsible. If there is an error for that FormField the content needs more space to show the error and things move upwards and overlap because the area of Collapsible does not adopt its size.

### Expected Behavior

The area of the open Collapsible should adopt its size if the content changes.

### Actual Behavior

The size of the area is of the open Collapsible is fixe

[2022-09-26 14:15] ericsoderberghp commented on #6332
It appears that the the incorrect counts issue has been fixed.

[2022-09-26 14:16] ericsoderberghp commented on #6332
As indicated above, the second issue mentioned is the intended behavior.

[2022-09-26 16:28] stephanpelikan commented on #6352
Sorry, the effect was caused by the surrounding tag-structure. I had to introduce a <Grid> tag within my <PageContent>. Now it works.

[2022-09-26 16:28] #6352 closed

[2022-09-26 17:09] #5250 closed

[2022-09-26 17:17] #6341 closed

[2022-09-26 21:52] jcfilben commented on #3826
If `label` is not specified I think the expectation is that the button will have either an `icon` or `children`, in both of these cases the Button will be `plain`. I believe this is the intended and documented behavior. I'm going to mark this issue as closed but feel free to re-open and comment if more discussion on this is desired or if there are any suggestions on improving the documentation for

[2022-09-26 21:52] #3826 closed

[2022-09-26 23:23] jcfilben commented on #6332
I tested in grommet designer and I am no longer seeing this issue. Most likely this was fixed in https://github.com/grommet/grommet/pull/6339. Marking this as closed.

Grommet designer test file: https://designer.grommet.io/?name=test-1

[2022-09-26 23:23] #6332 closed

[2022-09-27 14:53] halocline commented on #6348
To confirm, you would like to take the values from your Grommet theme and apply them to components from the other library correct?

Additionally, are there tokens in which you are specifically interested? All colors? Spacing, such as padding, margin? Borders? Elevation? Others?

Grommet's styling is defined as a theme object with some global styles, plus styles for each Grommet component. For your

[2022-09-27 15:29] jcfilben commented on #6289
Closing since #6327 has been merged

[2022-09-27 15:29] #6289 closed

[2022-09-27 20:23] jcfilben commented on #3655
Thanks for looking into this and sharing a solution @crashuniverse!
Looking at the codesandbox this appears to solve the issue. @pbenmoser4 I'm going to mark this as closed but feel free to comment and re-open if needed.

[2022-09-27 20:23] #3655 closed

[2022-09-27 21:26] taysea commented on #6319
Removing Jeffrey from this issue for now. He has documented his findings up to this point. Someone else can feel free to pick this up.

[2022-09-27 22:35] jcfilben commented on #5523
This issue can be solved by https://github.com/grommet/grommet/issues/6179. Going to close this one and we can just track this work in #6179.

[2022-09-27 22:35] #5523 closed

[2022-09-27 22:52] jcfilben opened #6354 "Add 'auto' as a `themeMode` to align with users settings preference for light/dark"
Enhance Grommet's `themeMode` prop to allow 'auto' to be passed as a value. If the `themeMode` is set to auto the mode will align with what the user set as their preferred light/dark mode settings for their computer or browser.

[2022-09-27 22:56] jcfilben commented on #4607
Sounds like there is two things we should do here:
- [ ] Add `defaultMode` to the documentation on the [grommet-site](https://github.com/grommet/grommet-site) repo
- [ ] Add `defaultMode` to the typescript definitions in `themes/base.d.ts`

[2022-09-28 03:32] callumfrance commented on #6289
very cool very poggers @joybh98 and @jcfilben

[2022-09-28 16:25] jcfilben commented on #2105
Closing, superseded by https://github.com/grommet/grommet/issues/4392

[2022-09-28 16:42] kkgowtamasa opened #6356 "Calendar date always selecting previous date incase date field is set without timestamp"
Grommet Calendar always picks the previous date to incase the date field is sent in "YYYY-MM-DD" format.

### Expected Behavior
It should select the specified date even without the time being sent.

### URL, screen shot, or Codepen exhibiting the issue

![Screenshot 2022-09-28 at 10 11 36 PM](https://user-images.githubusercontent.com/9958655/192839728-f887f4ed-a41c-409a-9b03-d17dfaa91f94.png)
![Sc

[2022-09-28 17:11] jcfilben commented on #4368
Hey @michaeljguarino just wanted to check in and see if there was still interest in this issue

[2022-09-28 17:31] elliottkat opened #6357 "DateInput size prop causing TS error"
I'm using the DateInput component and want to change the size of the font, as it's quite large by default.  The doc says the size prop needs to be string, but when I enter the value as a string, I get the following TypeScript error:

TS2322: Type 'string' is not assignable to type 'number | undefined'.

Unfortunately, entering a number for this prop does nothing, and the font remains really big an

[2022-09-28 17:33] jcfilben commented on #4333
For now we are leaning towards keeping the DateInput simple and not adding the option to have additional fields within the drop. I think if we do want to go this route there would be a good amount of work determining design and accessibility. I'm going to close this for now, but feel free to re-open or comment if interested in continuing the discussion on this.

[2022-09-28 17:33] #4333 closed

[2022-09-28 17:36] jcfilben commented on #4748
Closing this for now. Rather than export the internal styled components I think we should lean into making theme enhancements and using extend. Feel free to comment if interested in continuing the discussion on this.

[2022-09-28 17:36] #4748 closed

[2022-09-28 17:45] jcfilben opened #6358 "Meter - Support RTL"
Enhance the Meter component to support displaying progress from right to left instead of only supporting left to right.
<img width="397" alt="Screen Shot 2022-09-28 at 11 44 56 AM" src="https://user-images.githubusercontent.com/54560994/192852449-59c2afc5-83f8-426d-a1d9-45dcf5376265.png">

[2022-09-28 17:52] jcfilben commented on #6356
Hi @kkgowtamasa in the issue description it is showing you are using grommet v2.21.0. Can you try using the latest version of Grommet? There were some DateInput and Calendar bugs that were fixed recently.

[2022-09-28 18:02] kkgowtamasa commented on #6356
Even with latest version also I could see this issue

On Wed, 28 Sep 2022 at 11:22 PM, Jessica Filben ***@***.***>
wrote:

--

<http://bobypassion.blogspot.com/>
*Thanks & Regards,*

[2022-09-28 18:10] jcfilben commented on #6357
HI @elliottkat can you try upgrading to the latest version of grommet (v2.26.0)? I created a [codesandbox](https://codesandbox.io/s/react-typescript-forked-4hfgoc?file=/src/index.tsx) to try and reproduce the issue but I wasn't seeing any typescript errors.

[2022-09-28 18:12] jcfilben commented on #6356
What timezone are you in?

[2022-09-28 21:56] elliottkat commented on #6357
Hi, @jcfilben, I did update to 2.26 and it fixed the TS issue, yes.  Thanks!

I did try to play around the codesandbox, but the dependencies wouldn't load.  ☹️

I'm still seeing issues with DateInput, in general, though.  I'm using it to allow our user to enter a range of dates.

I've copied the code from the storybook Range Format pretty much identically, with some Box format changes only, and mi

[2022-09-28 22:07] elliottkat commented on #6357
Never mind.  It looks like the issues I'm seeing are because we're on an older version of grommet.

[2022-09-28 22:12] jcfilben commented on #6357
Glad to hear that upgrading to the latest version fixed the issue! I'm going to mark this issue as closed

[2022-09-28 22:12] #6357 closed

[2022-09-28 22:13] jcfilben commented on #6263
Closing since #6264 has been merged

[2022-09-28 22:13] #6263 closed

[2022-09-29 05:19] kkgowtamasa commented on #6356
IST

[2022-09-30 02:35] joybh98 commented on #6283
cool @jcfilben will start work on it this weekend!

[2022-09-30 09:01] AnshumanPadiya commented on #6354
Hey there, if this issue is till open and no one is working over it, can I work on this one? I am new to open source and I think this would be a great start for me, so can anybody here assign this issue to me I would be glad to work on it, Thanks!

[2022-09-30 09:30] Repomn commented on #2856
Any updates?

[2022-09-30 13:36] britt6612 opened #6366 "Markdown Component Giving webpack error"
### Expected Behavior
no error

### Actual Behavior
I was using the "Markdown" component to render some markdown as JSX, which used to work.
Recently, where Markdown component is used, the app crashes and I get the following error in the console:
Uncaught TypeError: react__WEBPACK_IMPORTED_MODULE_0__ is not a function

### URL, screen shot, or Codepen exhibiting the issue

[code]

<img width="645"

[2022-09-30 15:34] jcfilben commented on #2856
Hey @Repomn no new updates on this issue, but if you are interested in getting this enhancement into Grommet feel free to make an open source contribution to the project with a pull request.
**Bonus**! during the month of October any open source contributions can count towards getting a free t-shirt or a tree planted through the [Hacktoberfest event](https://hacktoberfest.com/)!

[2022-09-30 16:16] kariwhitcomb opened #6368 "Select change in behavior when valueKey not specified"
### Expected Behavior

Using code like
[code]
In version 2.25.1  and earlier this render a select box correctly... behaving like valueKey defaults to 'value'.

### Actual Behavior
In version 2.25.2 and later, this now renders incorrectly.  The value shown as selected (when drop is closed) is 'multiple' and no value appears selected when you expand the drop.

Explicitly setting valueKey='value' fix

[2022-09-30 17:16] jonka5 opened #6369 "Reorder List via drag and drop problem"
### Expected Behavior

With onOrder the item should be dropped to where ever the user wants it.

### Actual Behavior

When reordering the list via drag and drop you could only move the item one step up or down.

### URL, screen shot, or Codepen exhibiting the issue

Version 2.25.3 works as expected. Behavior starts to occur in 2.26.0

https://user-images.githubusercontent.com/74107477/193322053-8a

[2022-09-30 18:25] JCoder121 commented on #6036
In general, I couldn't find an example that matched the exact behavior of the CodeSandbox, where the user could collapse the groups within the table and paginate off of the # of groups. The most common components I found were:
1. "Show [user choice] entries" based on the total # of items
2. Filter results from outside of the table
3. Display/sort results within the table according to a column head

[2022-09-30 19:28] BryGuy96 opened #6370 "Table doesn't forward refs"
Table doesn't forward refs, but other components like TableHeader does

### Expected Behavior

Table forwards ref

### Actual Behavior

The following warning is produced in the console

`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/n

[2022-09-30 19:45] BryGuy96 opened #6371 "Tip - hovering over child creates empty divs that aren't cleaned up"
Hovering over the child component wrapped by Tip will create empty `<div></div>
`
### Expected Behavior

If a div is created for whatever reason, it's also cleaned up afterwards

### Actual Behavior

Hovering over the child component wrapped in Tip will endlessly create more divs

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/bitter-sunset-edyo97?file=/src/App.tsx

[2022-09-30 21:42] jcfilben commented on #3361
Moved this issue to grommet-site

[2022-09-30 21:42] #3361 closed

[2022-09-30 23:26] jcfilben opened #6372 "FileInput - tab order and styling"
When navigating with the keyboard the tab order of FileInput is unexpected. First our focus is on the 'browse' button hitting tab again moves our focus to the main portion of the FileInput. This can be seen in the video below. It feels strange for focus to move right to left across the screen. Also the main portion of the FileInput gives us context for what the input field is so it should come fir

[2022-09-30 23:34] jcfilben commented on #6356
Thanks for reporting this bug. After looking into this more it looks like this behavior broke in v2.25.1 of Grommet. Using v2.25.0 is working as expected. Attaching a [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-8p6lx1?file=/index.js) so other people can quickly see the issue and difference between versions of Grommet.

[2022-10-01 00:03] raji2004 commented on #6371
i would love to be assigned this issue

[2022-10-01 18:38] julieg18 commented on #6124
Hello, I'd love to help improve the accessibility for the storybooks! Can you assign me?

[2022-10-01 20:27] samuelgoff opened #6376 "Text & Box alignSelf prop is missing ability to use baseline value"
### Expected Behavior

`Text` & `Box` `alignSelf` prop is missing ability to use baseline value. User should be able to provide `baseline` as a value to `alignSelf` prop. (Docs accurately reflect that support for this value is missing.)

Ideally, **_all_** supported values should be accessible through `align`, `alignSelf`, and `alignContent` props, support for which is variable.

### Actual Behavi

[2022-10-02 01:29] jcfilben commented on #6124
Hi @julieg18 great to hear you are interested in working on this! I think since this is a larger issues items on the list can be handled either by component or one by one through separate pull requests. There may be many contributors to this issue so I am going to hold off assigning any one person to this, but feel free to start filing pull requests against this issue. Let me know if there are any

[2022-10-02 01:31] jcfilben commented on #6371
Hi @raji2004, great to hear you are interested in working on this! I added you as an assignee on this issue

[2022-10-02 03:49] alexmirrington commented on #5599
@jcfilben Just updated the list of components above in preparation for Hacktoberfest to include new components that have been implemented in the last year. Looks like they have all been written with TypeScript tests from the start which is awesome to see!

[2022-10-02 14:35] miqh commented on #6372
@jcfilben,

I looked into this and I found it wasn't particularly difficult to correct both the keyboard navigation order and also provide a visual focus indicator on the actual file input element.

I'm happy to open up a pull request, but there's something bothering me.

I'm not an accessibility guru, but it seems redundant allowing navigation through both the file input as well as the browse anc

[2022-10-02 16:52] juanlanus commented on #3361
Now I would like to point to Diátaxis, "A systematic framework for
technical documentation authoring"
https://diataxis.fr/
It is not a tool (as the word "framework" suggests) but a logical approach
for those who want to *design* the documentation of something like Grommet.
It is something like my original proposal at the top of this thread, only
better done.

On Fri, Sep 30, 2022 at 6:42 PM Jessic

[2022-10-02 19:46] narayand16 commented on #6320
Hi @jcfilben I would like to work on this enhancement issue. Can you assign it to me ?
what do you mean by 'passing a node" to `message` prop. ? clarity on this will help me solving the issue

[2022-10-02 19:49] narayand16 commented on #6168
Hi @jcfilben I would like to work on this issue around customising notification component. Can you assign it to me ?

[2022-10-03 12:50] KostasTheodoro commented on #6356
I would like to work on this bug. Can you please assign it to me?

[2022-10-03 15:19] jcfilben commented on #6168
Awesome! I just added you as an assignee on the issue

[2022-10-03 17:45] jcfilben commented on #5599
Perfect, thanks for updating the list to include the new components! And yes, we've been making an effort to have any new testing files written in typescript

[2022-10-03 18:14] MikeKingdom commented on #6369
PR #6249 seems to have caused this regression

[2022-10-03 19:47] raji2004 commented on #6371
how do i get the enviroment running?

[2022-10-03 19:53] raji2004 commented on #6371
where exactly is the problem?

[2022-10-03 20:39] narayand16 commented on #6168
Hi @jcfilben I have done my changes related to custom icon for notification , but I am getting some test failures(happening in `DateInput` component) while committing. Here is the attached screenshot. Can you guide me on how to bypass this ?

<img width="813" alt="Screenshot 2022-10-03 at 10 36 21 PM" src="https://user-images.githubusercontent.com/29942751/193677982-18551c1d-3d58-46db-ab31-1caf924

[2022-10-03 20:47] jcfilben commented on #6168
Hey @narayand16 for now can you add your changes with the `--no-verify` flag? Normally we don't want to do this but my suspicion is that these DateInput tests may just be failing because of the timezone you are in. Once you file a pull request I can take a closer look and see if the tests pass in our circleci environment. For debugging purposes what timezone are you working in? There may be an iss

[2022-10-03 20:56] jcfilben commented on #6371
Here is a [contributing guide](https://github.com/grommet/grommet/blob/master/CONTRIBUTING.md) for grommet that should help you get started setting up the grommet development environment locally.

If you use your browser inspect on the [codesandbox](https://codesandbox.io/s/bitter-sunset-edyo97?file=/src/App.tsx) in the issue description you can see an extra div repeatedly added and not being remo

[2022-10-03 21:02] nidble commented on #6266
Hello there, could I work on this?

[2022-10-03 21:04] britt6612 commented on #6266
@nidble of course feel free to open a PR and comment if you have any questions or need help. 🥳

[2022-10-03 23:23] jcfilben commented on #6320
Great! I will add you as an assignee on this issue.

Currently the `message` prop on Notification only allows a string to be passed to it. The prop should accept either a string or a node. An example of a node that could be passed to the `message` prop could be something like this:

[code]

Feel free to reach out if more questions come up along the way

[2022-10-03 23:29] jcfilben commented on #6372
Thanks for looking into this! This is a really good point. It does feel a bit redundant to be able to navigate to both places when the have the same action. Maybe we should not allow the browse anchor to receive keyboard focus. Does that feel like a reasonable approach?

[2022-10-03 23:31] jcfilben commented on #6283
Perfect, just in time for [hacktoberfest](https://hacktoberfest.com/)! Feel free to reach out if there are any questions

[2022-10-04 07:18] narayand16 commented on #6168
Hi @jcfilben Thanks for your prompt response. I am currently working in CET(UTC + 1 hrs) timezone. As this is my first PR for grommet, I would love to get learnt by you and your code review ;)

[2022-10-04 07:55] narayand16 commented on #6320
Hi @jcfilben Kindly review https://github.com/grommet/grommet/pull/6390

[2022-10-04 17:42] britt6612 commented on #6369
@MikeKingdom can we close this since it was merged?

[2022-10-04 18:03] MikeKingdom commented on #6369
Yup. Must've forgot a keyword like Fixes :)

[2022-10-04 18:03] #6369 closed

[2022-10-04 18:18] negreirosleo commented on #6358
@jcfilben May I take this issue?

[2022-10-04 18:25] jcfilben commented on #6358
Absolutely!

[2022-10-04 20:58] narayand16 commented on #6168
Hey @jcfilben can you assign certain similar issues to me ?

[2022-10-04 23:19] halocline opened #6393 "Select - When value is an object, the aria-label should be human readable"
### Expected Behavior

When value is an object, the aria-label should be human readable, such as using the provided labelKey.

### Actual Behavior

Currently the label reads `aria-label="...; Selected: [object Object]`.

This probably involves work regarding the a11yTitle being set on StyledSelectDropButton.

### URL, screen shot, or Codepen exhibiting the issue

Jest test for `Select select an op

[2022-10-05 00:22] jcfilben opened #6395 "SelectMultiple - pre selected object options not working"
### Expected Behavior
Options in `value` should should show as selected

### Actual Behavior
In SelectMultiple if `options` is an array of objects and `value` is initially set to one of the options, the option will not show as selected when the drop is open

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-ftppqe?file=/index.js

### Steps to

[2022-10-05 11:57] cscognamiglio commented on #6356
This issue is driving me crazy and it has been there for a long time. All my projects are affected and it impacts the DateInput component.
Basically the first time I select a date, say 01/10/2022 (dd/mm/yyyy) format the input internally uses this timestamp:
2022-09-30T22:00:00.000Z

But the input displays the correct date. When submitting the backend register 30/09/2022.
If I then select the date

[2022-10-05 16:13] illiteratewriter commented on #6395
Hi, can I work on this?

[2022-10-05 16:33] jcfilben commented on #6395
Hi @illiteratewriter great to hear your interested in contributing! I actually already started work on this issue, we're hoping to get this one resolved before releasing a new version of grommet so had to move fast on this issue. But feel free to look through the other open issues to see if there is anything you might be interested in working on. Issues labeled 'hacktoberfest' are a good place to

[2022-10-05 16:37] #6368 closed

[2022-10-05 16:54] illiteratewriter commented on #6393
Can I work on this?

[2022-10-05 16:56] britt6612 commented on #6393
@illiteratewriter of course, feel free to let us know if you need any assistance.

[2022-10-05 20:34] narayand16 commented on #4372
Is this bug still alive ? If yes, I can dig into it. While going through the conversation above, I see that stacked element can be placed in a box or box element can be used directly without any wrapper while using some other props(pad etc).

@ShimiSun, @ericsoderberghp What are we planning to use then ?

[2022-10-06 08:08] illiteratewriter commented on #6393
Some snapshots are failing without me changing anything at all. mostly in the DateInput component.  What should I do about those? Is it because I am in a different time zone or something?

[2022-10-06 11:19] LiveFreeAndRoam commented on #4372
Yes, it's still a problem.  Here is a codesandbox where the Box wrapper was needed.

https://codesandbox.io/s/7e650l

[2022-10-06 13:24] AntoineDuComptoirDesPharmacies opened #6399 "ContainerTargetContext.Provider crash on portalNode change"
We are currently using `ContainerTargetContext.Provider` to customize the portal of Grommet Select dropdown.
Sometimes, we are changing the value of `ContainerTargetContext.Provider` without dismount/remount the component.

### Expected Behavior

On next select Open, the new portal node should be used.

### Actual Behavior

The component crash with error
[code]

### URL, screen shot, or Codepen ex

[2022-10-06 18:40] negreirosleo commented on #6288
Hello, may I take this issue?

[2022-10-06 22:06] jcfilben commented on #6288
Yes, feel free to work on this!

[2022-10-06 22:12] jcfilben commented on #6393
Hey @illiteratewriter someone else also ran into this issue, I am thinking it is timezone related and there are adjustments needed to our tests or directly to the DateInput component. **For now you can make commits with the `--no-verify` flag**. We have the environment set up so that the tests will also run on Github so we can confirm there that the tests are behaving as expected (other than havin

[2022-10-06 22:18] jcfilben commented on #6168
Great to hear you are interested in contributing more! Feel free to look through the issues, ones labeled ['hacktoberfest'](https://github.com/grommet/grommet/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest) are a good place to start. Comment on a issue that you are interested in working on and I can add you as an assignee

[2022-10-07 17:38] narayand16 commented on #6305
I would like to work on this feature request. To work on this issue, how to reproduce or render multiple notifications on local machine ?

As per my understanding, we currently have default timeout for toast notifications. We should have a default timeout for each notification after which it will disappear. So, there should be a possibility to provide custom timeout value and disable/enable autocl

[2022-10-07 17:43] narayand16 commented on #5961
The PR for this issue is already merged. What causing the issue to still pop up its head ? ;)

[2022-10-07 17:55] #6395 closed

[2022-10-07 18:52] taysea commented on #5198
Bumping this as it occurred prior to the `v2.27.0` release.

[2022-10-08 11:49] uldz commented on #6265
Hi @jcfilben! I'd like to try it! Will it be the correct way to test this issue by adding a button in the local storybook story? Will it be a similar env to reproduce the issue?

[2022-10-08 19:01] bingomanatee opened #6409 "Can we put the Page / Main relationship possibilities in an integrated example?"
There are a lot of "starter" / Suugar components in grommet - Page, Main, Header, etc; can we have some examples of using them all in tandem, to show recommended nesting patterns? https://grommet.slack.com/archives/C09QQEG69/p1657302155470629?thread_ts=1657300556.214789&cid=C09QQEG69

[2022-10-10 15:11] Isaac-alencar commented on #5807
Hey @jcfilben, can I work on it?

[2022-10-10 15:14] jcfilben commented on #5807
Hi @Isaac-alencar great to hear you are interested in contributing! Feel free to work on this

[2022-10-10 15:23] jcfilben commented on #6265
Hi @uldz awesome that you are interested in working on this! You're right, I think the best way to test this is to add a state button to a WorldMap storybook story. Make sure your branch is up to date with master and then run `yarn storybook` and test out the issue.

[2022-10-10 19:01] jcfilben commented on #6305
Hi @narayand16 great to hear you are interested in working on this!
To view the issue I adjusted the existing `Notification/Toast` storybook story to have two toast notifications. (To modify the storybook Notification/Toast code go to `src/js/components/Notification/stories/TitelAndMessage.js` make changes and then run `yarn storybook`. When you open both the notifications you can see that the sec

[2022-10-10 19:05] jcfilben commented on #5961
The pull request that is showing up in this issue wasn't a pull request made on Grommet. The pull request is just on a repo using Grommet and they mentioned this issue in it. I believe this issue is not fixed yet.

[2022-10-10 20:42] Isaac-alencar commented on #5807
@taysea do you have any concrete example of this behavior? something that we can look up for to define which conversion factor to use

[2022-10-10 21:44] jcfilben commented on #6366
Marking this as closed, we were not able to reproduce the issue and didn't get a response from the original person who reported the issue on slack. We can reopen later if needed.

[2022-10-10 21:44] #6366 closed

[2022-10-10 21:47] jcfilben commented on #6159
Awesome! I'll add you as an assignee on this issue. Feel free to reach out if you have questions

[2022-10-10 22:38] jcfilben commented on #5807
You can search Gigabyte (GB) vs Gigibyte (GiB) to see the conversion between the two. I believe Mac uses GB and Windows uses GiB.

GB = 1000^3 bytes
GiB = 1024^3 bytes

[2022-10-10 22:50] halocline commented on #5807
Other references:
- https://askubuntu.com/questions/341143/why-same-file-shows-different-sizes-in-different-operating-systems#answer-341152
- https://qr.ae/pvca9y
- https://discussions.apple.com/thread/5501534#23583820022
- https://www.macprime.ch/a/news/snow-leopard-1-gb-1000-mb/
- https://www.hecticgeek.com/for-the-same-file-why-windows-and-ubuntu-show-different-sizes/

[2022-10-11 01:38] Isaac-alencar commented on #5807
Thank you so much @jcfilben and @halocline I'll take a look!

[2022-10-11 17:57] jcfilben commented on #6320
Closing since #6390 has been merged.

[2022-10-11 17:57] #6320 closed

[2022-10-11 17:57] jcfilben commented on #6266
Closing since #6402 has been merged

[2022-10-11 17:57] #6266 closed

[2022-10-11 17:58] jcfilben commented on #6168
Closing since #6389 has been merged

[2022-10-11 17:58] #6168 closed

[2022-10-11 18:09] jcfilben commented on #6409
We do have some storybook examples that show how to use the `Page`, `PageContent`, and `PageHeader` components together but I think it could be helpful for there to be a more complete example. Maybe we could update the https://github.com/grommet/grommet-starter-new-app project to use these newer components to show a full example of how they work together.

[2022-10-12 03:34] mahanthiarun-kumar opened #6415 "When the form validation is type of blur , then for the <DateInput /> , we can’t select two different dates"
When the form validation is type of blur , then for the <DateInput format="mm/dd/yyyy-mm/dd/yyyy"/>  , we can’t select two different dates ! But it works fine for   validation is type of submit . Is this something expected ?
### Expected Behavior

When the form validation is type of blur , then for the <DateInput format="mm/dd/yyyy-mm/dd/yyyy"/>  , we  should be able to select two different  dates

[2022-10-12 22:19] jcfilben commented on #6370
Marking this as closed since #6416

[2022-10-12 22:19] #6370 closed

[2022-10-12 23:22] jcfilben commented on #6399
Can you give more details on what you are trying to accomplish? By looking at the codesandbox I am not sure what the desired behavior is. Should the drop be aligned with the portal box? Should the drop container content be changed to match the content in the portal?

[2022-10-13 10:35] AntoineDuComptoirDesPharmacies commented on #6399
Our use case is the following :
We have a Select component that have a different modal display/position depending if the user is in small size screen (or touch) and big size screen (with keyboard).
On little screen, the modal is mounted at the DOM Root to overlap all the page and is fullscreen.
On big screen, the modal is located in the same DOM location as the Select and is not fullscreen (classi

[2022-10-13 17:56] jcfilben commented on #6371
Hey @raji2004 just checking in to see if you had any questions on this issue or if you are still interested in working on it

[2022-10-13 17:58] jcfilben commented on #6354
Closing, this feature was added in https://github.com/grommet/grommet/pull/6397
Thanks for contributing to Grommet @AnshumanPadiya!

[2022-10-13 17:58] #6354 closed

[2022-10-13 18:02] halocline opened #6421 "DateInput - incorrect timezone offset being applied"
### Expected Behavior

When defaultValue has no timezone, everything is returned without a timezone and is assumed to be local time. The value in state, input, and active calendar date should all display the same value.
![Screen Shot 2022-10-13 at 11 21 45 PM](https://user-images.githubusercontent.com/1756948/195670055-6ae0d208-4cf1-4408-bca7-28739cd1d475.png)

### Actual Behavior

The value in st

[2022-10-13 19:19] #6356 closed

[2022-10-14 09:21] AntoineDuComptoirDesPharmacies opened #6426 "Usage of non standard event.path in DropContainer"
### Expected Behavior

When clicking outside of Drop/Select Drop with a custom `containerTarget`, the drop should close itself.

### Actual Behavior

When clicking outside of Drop/Select Drop with a custom `containerTarget`, the application crash on Firefox.

This issue seems to come from this fix : https://github.com/grommet/grommet/pull/6120
The code used the field `path` which is non standard.

[2022-10-15 12:14] AnshumanPadiya commented on #6426
I believe we can make it conditional and check what the browser is providing, it works perfectly fine on chrome but as stated in the issue it's breaking on firefox a better way to solve this is to use [composedPath](https://developer.mozilla.org/en-US/docs/Web/API/Event/composedPath) as per my understanding. However, I am open to more suggestions. I would definitely like to work on this issue if n

[2022-10-15 16:02] stephanpelikan opened #6428 "DataTable: Missing custom offset property for pinned header's z-index"
I built a calendar table using DataTable:

![datatable](https://user-images.githubusercontent.com/5190548/195995106-47a409c8-8c7c-4d79-9070-08c0c19ef10f.png)

Each day is a cell which consists of a separate DataTable for the hours. The black hours' tables header shows the day's date to the user and is pinned. Therefore on scrolling downwards the current day's date is always visible on top.

My app

[2022-10-17 14:28] Isaac-alencar commented on #6334
Hi, @jcfilben still need to fix this? I can take this one

[2022-10-17 14:53] tejus0 opened #6430 "Community designers as slider"
hey @jcfilben The home page of your website is very nice except the designers reviews part . It is static and naive . So i want to make it slider effect for each review .
So can you assign me this issue under hacktoberfest tag so that i can make this layout look good .
![image](https://user-images.githubusercontent.com/76488943/196210093-5bb75d25-e786-4f10-ae83-69360a2cfbad.png)

[2022-10-17 17:29] jcfilben commented on #6430
Hey @tejus0 can you share more what you are thinking design wise for this section? I'm not sure i understand what the desired change is

[2022-10-17 17:29] jcfilben commented on #6334
Hey @Isaac-alencar this issue does still need fixed, feel free to work on this!

[2022-10-17 17:35] jcfilben commented on #6426
Hi @AnshumanPadiya thanks for volunteering to work on this issue! I will add you as an assignee on it. Feel free to reach out if you have questions. Based on a quick google search, I think your `composedPath` idea is the right direction to explore.

[2022-10-17 17:55] tejus0 commented on #6430
Hey @jcfilben I am talking about the attractive way of presenting the reviews about any company.
 Basically there is a layout in which the first  review will be at the centre while others are hidden.  Then we have two arrow buttons for moving to next or previous review. In this manner we can have one review visible at a time and user can access others by arrows.
There can be more than one review v

[2022-10-17 19:27] jcfilben commented on #6428
Hi @stephanpelikan I'm wondering if you could define the z-index for pinned cells within the `dataTable.pinned.body.extend` prop in the theme

[2022-10-17 19:29] jcfilben commented on #6430
Thanks for clarifying! I'm going to chat with some other members of the team later today and see if this is a direction we would like to move in.

[2022-10-17 22:56] jcfilben commented on #6430
Hey @tejus0 feel free to file a PR for this! I will add the hacktoberfest label and include you as an assignee on the issue

[2022-10-18 05:54] stephanpelikan commented on #6428
Thank you for this hint @jcfilben. It seems `dataTable.pinned.body.extend` is not applied but `dataTable.pinned.header.extend` is and that solved the problem! It produces this:

![grafik](https://user-images.githubusercontent.com/5190548/196346865-5e05612c-d03d-4966-9a40-a3a662f3230d.png)

Actually, I saw the code in the https://github.com/grommet/grommet/blob/master/src/js/components/DataTable/St

[2022-10-18 05:54] #6428 closed

[2022-10-18 11:57] cosmicknox commented on #2177
Seem like he needed to import Image from next/image

[2022-10-18 15:50] jcfilben opened #6433 "`aria-label` and `a11yTitle` research"
A discussion came up about why we allow both `aria-label` and `a11yTitle` to be passed to components. Right now to my knowledge they are being used interchangeably on components. We should spend some time looking into this area to determine if we should keep `a11yTitle` as is, if it should be deprecated in favor of `aria-label`, or if `aria-label` and `a11yTitle` should have different behavior (fo

[2022-10-18 15:57] jcfilben commented on #6409
I thought about this a bit more and maybe instead of adding this example in the grommet starter app we could add a page on storybook. My thinking is that the starter app needs additional work done to get it to a state where we can point people towards it as an example. Creating an example on storybook will be faster and get more visibility than the starter app.

I think the storybook example can b

[2022-10-18 16:06] mrmagcore opened #6434 "Animation for collapsible only animates some times for regular box, never for sidebar."
### Expected Behavior

Smooth animation should happen on all collapsible elements.

### Actual Behavior

On plain box element, animation sometimes works, sometimes there is no animation.  On the sidebar, there is no animation at all.

### URL, screen shot, or Codepen exhibiting the issue

https://dq2r7c.csb.app/

### Steps to Reproduce

follow the github grommet tutorial

### Your Environment

rea

[2022-10-18 18:50] jcfilben commented on #6376
Feature added in #6413

[2022-10-18 19:30] jcfilben commented on #6434
Hi @mrmagcore you can get the sidebar to animate by removing the `this.state.showSidebar` check. The `open` prop on Collapsible will handle hiding/showing the content within the collapsible container. I modified your codesandbox to show this change: https://codesandbox.io/s/grommet-v2-template-forked-nff36n?file=/index.js.

The Github Grommet starter app is a bit out of date, I think we need to go

[2022-10-18 19:35] mrmagcore commented on #6434
Thanks, that's very nice of you to point out, I just didn't read the diff markup in the tutorial correctly.
I'd love it if the "copy this" on the tutorial would selectively copy just the new code without the "+" or copy the final version of the code after the diff has been applied.

[2022-10-18 19:40] jcfilben commented on #6428
I believe that `${Object.keys(props.pin).length}` is used to give pinned items a z-index of 1 so that pinned columns appear on top of un-pinned columns

[2022-10-18 19:43] mrmagcore commented on #6434
It's an edge case, but if you look at the smaller collapsible in my sandbox, you will see that it usually, but not always, animates.  That's a little weird.

[2022-10-18 19:45] jcfilben commented on #6434
Yeah I think the information could be presented in a better format to make it a little more clear and easier to copy over.

I saw you mentioned this in the original issue and I was trying to replicate it, but I wasn't able to see this issue even after opening and closing a bunch of times

[2022-10-18 20:29] marcioflaviof commented on #6415
I'll create a PR soon

[2022-10-18 20:33] jcfilben commented on #6415
Sounds good! Thanks for working on this

[2022-10-19 02:19] BrunoViveiros commented on #6351
Can I take this one ?

[2022-10-19 18:36] grazirs commented on #6270
Can I work on this?

[2022-10-19 20:17] jcfilben commented on #6270
Hi @grazirs, great to hear you are interested in working on this! I think there may be some interesting design considerations that come up as you work through this so definitely reach out if needed along the way, but feel free to work on this

[2022-10-20 18:54] jcfilben opened #6444 "SelectMultiple - show 'Select All' button when searching"
### Expected Behavior
When SelectMultiple is being filtered by a search term a 'Select All' button should still appear.

### Actual Behavior
The 'Select All' button is removed on search.

### URL, screen shot, or Codepen exhibiting the issue
https://storybook.grommet.io/?path=/story/input-selectmultiple-default--default

### Steps to Reproduce
1. Visit the story at the link above
2. Type something

[2022-10-20 20:28] carolineartz opened #6445 "Box "round" prop not respecting whether its responsive"
It is not currently possible to disable the responsive adjustments for border-radius on `Box` with `responsive={false}`.

### Expected Behavior
The size for `round` should reference the responsive value unless `responsive={false}` is set.

### Actual Behavior
The size for the `round` prop always references the responsive value when given a non-object type value.

### URL, screen shot, or Codepen e

[2022-10-20 20:32] carolineartz commented on #6445
The problem is with this line of code that gets the size value when the prop's value is not an object. It does not check whether the argument `responsive` is `true`.

https://github.com/grommet/grommet/blob/a828bc158a447b100f3db25ac2e1e0ec9a6474c0/src/js/utils/styles.js#L748

unlike this working line which is called when the prop is an object and does check

https://github.com/grommet/grommet/blob

[2022-10-20 22:14] ericsoderberghp commented on #6444
Additionally, I should be able to chain together multiple search+select-all steps. For example, in the "Default" story for SelectMultiple, I should be able to do the following:
- search for "p"
- Select All selects "Apple", "Grape", and "Raspberry"
- clear search and search for "w"
- Select All adds "Strawberry" and "Kiwi" to the existing selection, resulting in 5 options selected

I wonder if we

[2022-10-21 10:35] pyuktha opened #6447 "SelectMultiple - Gap between number of items selected and search box is chnaging"
### Expected Behavior

The height of the content above the search box should not change

### Actual Behavior

When we use SelectMultiple component with search, the distance between the text "<no_of_items> selected" and search box keeps changing
This is happening mainly when we set the dropHeight property

### URL, screen shot, or Codepen exhibiting the issue

Video demonstrating the issue:

https:

[2022-10-21 15:05] ericsoderberghp commented on #6447
Related to https://github.com/grommet/grommet/issues/6444

[2022-10-21 15:15] pyuktha commented on #6444
@ericsoderberghp I have a usecase where I dont want "Select All" to appear in any of the case because we are loading the options onMore (lazy loading)
Since i had a "search", "Select All" was not showing up, and my use case was working
I think there should be a prop to enable/disable "Select All"

[2022-10-21 15:39] pyuktha commented on #6444
Yes, correct!
I thought with this issue changes/fixes, "Select All" will show up always
so, just reconfirming
Thanks!

[2022-10-21 16:25] #6415 closed

[2022-10-21 19:09] jcfilben commented on #6445
Hi @carolineartz thanks for filing this issue! It makes sense to me that if you set `responsive=false` the desired behavior is most likely that you don't want the round prop to behave responsively. I am supportive of this change. @ericsoderberghp (or anyone else) any objections or concerns?

[2022-10-24 22:50] jcfilben opened #6452 "Layer should use `event.composedPath()` instead of `event.path`"
### Expected Behavior
Clicking outside of Layer shouldn't result in errors in Firefox

### Actual Behavior
Clicking outside of a Layer in Firefox isn't working well because event.path isn't supported in Firefox

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-08rqb3?file=/index.js

### Steps to Reproduce

1. Open codesandbox example
2. Clic

[2022-10-25 20:08] jcfilben commented on #6426
Fixed in #6450

[2022-10-25 20:08] #6426 closed

[2022-10-26 12:35] withpublic opened #6455 "The select items are keep shaking"
### Expected Behavior
I select an item and this item is selected

### Actual Behavior
Instead the values are keep shaking not allowing to select

### URL, screen shot, or Codepen exhibiting the issue
I shall add a video

### Steps to Reproduce
Open a Select component and try to select an item

### Your Environment

- Grommet ver

https://user-images.githubusercontent.com/99742304/198027445-a02b827

[2022-10-26 19:18] NeversSync commented on #6061
Seconding this issue, I am seeing tab-index="-1" added to all Drop child elements when I add the inline prop, which breaks tab functionality.
Any updates here?

[2022-10-26 21:27] jcfilben commented on #6371
Hey @raji2004 I'm going to un-assign you from this so someone else has the chance to work on it. If you are still interested in working on this just leave a comment and I can re-assign you

[2022-10-26 21:28] jcfilben commented on #6265
Hey @uldz just checking in on this to see if there were any questions and if it something you are still interested in working on

[2022-10-26 21:32] jcfilben commented on #6445
@carolineartz Feel free to go ahead and file a pull request for this if interested

[2022-10-26 22:01] uldz commented on #6265
Hey, yes I’m in. Just had some hard times with my main project. I will try my best in few days🙂

[2022-10-26 22:10] jcfilben commented on #6265
No worries! Just wanted to check in

[2022-10-27 05:45] jashanshah33 commented on #2975
can i work on this,  if no one is working on it ?

[2022-10-27 15:07] jcfilben commented on #2975
Hi @jashanshah33 feel free to work on this

[2022-10-27 21:48] L0ZZI opened #6461 "Revised Tab styling based on branding refresh."
Updated styling of the tabs component.

Look at how the revised HPE Green impacts the component from and accessibility and usability perspective.

[2022-10-27 21:54] L0ZZI commented on #6461
Figma Sandbox: https://www.figma.com/file/5H8J4MCezieAj1eEEGjXSj/New-Tabs?node-id=1%3A4

[2022-10-27 21:55] KennyAtHPE commented on #6461
@ericsoderberghp requesting your 👀 on this

[2022-10-29 18:17] stephanpelikan opened #6467 "DropProps does not include 'pad' but it actually works"
The DropProps interface does not include the 'pad' property, but just using it works as expected luckily.

### Expected Behavior

DropProps includes `pad?: PadType;`.

### Actual Behavior

Typescript-error, but pad is applied. I need to as `@ts-ignore`.

### URL, screen shot, or Codepen exhibiting the issue

[code]

### Steps to Reproduce

Use example above.

### Your Environment

- Grommet versio

[2022-10-29 19:37] stephanpelikan opened #6468 "Calendar: Color background of current date"
I want to color the background of the current date, so a user quickly finds the current day in the current month. For this I head to use custom day-rendering. Unfortunately, the property `otherMonth` is not passed, so I cannot achieve the same design as the default-style of days:

Default-style props:
https://github.com/grommet/grommet/blob/master/src/js/components/Calendar/Calendar.js#L753

Custo

[2022-10-30 16:51] uldz commented on #6265
It looks like there are issues with render order - Drops render faster than ref places appear on WorldMap. Trying to figure out how to make render with already rendered dropTargets.

[2022-10-30 17:32] uldz commented on #6265
Sorry, probably don't have much time for this now. If someone will get to this ticket, pls, reassign it. Thank you.

[2022-10-31 03:20] jashanshah33 opened #6470 "Color contrast voilence in Form/AggregateValidation."
Expected Behavior
  no voilence

 Actual Behavior
 Color contrast voilence in Form/AggregateValidation.

URL, screen shot, or Codepen exhibiting the issue
![color contrast](https://user-images.githubusercontent.com/104054121/198923681-37d70e02-dfa0-48e0-aa86-8ea61e0f19ad.png)

 Steps to Reproduce
 color="status-error" needs a update.

[2022-10-31 22:22] jcfilben commented on #6265
No worries, appreciate the update! I will remove your assignment from this issue

[2022-11-02 18:38] #6444 closed

[2022-11-02 18:38] #6447 closed

[2022-11-02 19:03] jcfilben commented on #6334
@Isaac-alencar Hey! just wanted to check in on this issue and see if this is something you are still interested in working on or if you had any questions

[2022-11-02 19:05] jcfilben commented on #6351
Hey @BrunoViveiros I just wanted to check in on this issue and see if you are still interested in working on it or if you had any questions

[2022-11-02 19:10] jcfilben commented on #6061
Hey @NeversSync no recent updates on this, but you can take a peek at https://github.com/grommet/grommet/pull/6078 to see some more discussion related to this

[2022-11-02 19:21] jcfilben commented on #6333
Closing since #6439 has been merged.

[2022-11-02 19:21] #6333 closed

[2022-11-02 19:33] jcfilben commented on #6288
Hey @negreirosleo just wanted to check in on this issue and see if this was something you were still interested in working on or if you had any questions

[2022-11-02 21:24] Isaac-alencar commented on #6334
Yup, I was just finishing a issue on `FileInput` haha, now I'll grab to this one!

[2022-11-02 21:53] BrunoViveiros commented on #6351
@jcfilben sorry for the delay, I'll try to finish it this week, any doubts I have related to the problem I'll put it here in the issue

[2022-11-02 22:06] jcfilben commented on #6351
No worries! Feel free to reach out if you need anything

[2022-11-02 22:33] #5807 closed

[2022-11-02 22:59] jcfilben commented on #6348
Closing due to inactivity, feel free to re-open if needed

[2022-11-02 22:59] #6348 closed

[2022-11-03 15:13] jcfilben opened #6476 "Select - null value causes crash"
### Expected Behavior
Select should be able to handle the value being set to null

### Actual Behavior
App crashes

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-e1nlzs?file=/index.js:495-499

### Steps to Reproduce

See codesandbox above and try clicking on the Select

### Your Environment

- Grommet version: 2.27.0
- Browser Name and ve

[2022-11-03 15:49] mrmagcore opened #6477 "rowDetails in datatable seems to be incorrectly typed in typescript"
rowDetails takes a function as its argument.  For example:

rowDetails={(row) => {return <Box>I am a box</Box>;}}

Typescript throws this error:

TS2769: No overload matches this call.
  Overload 1 of 2, '(props: DataTableExtendedProps<Funding> | Readonly<DataTableExtendedProps<Funding>>): DataTable<...>', gave the following error.
    Type '() => JSX.Element' is not assignable to type 'ReactNode'

[2022-11-03 20:42] Isaac-alencar commented on #6334
I was trying to reproduce the error and I don't think it is necessary to do some changes on code, because the component is behaving  as expect.
The problem is: @ypinneka is passing a component with a lifted up state.
quoting @jcfilben:

In this case, you are handling the state of a component by it's parent, so when you update you update the state here:
[code]
since the parent element it is holding

[2022-11-03 21:43] #6476 closed

[2022-11-04 00:27] jcfilben commented on #6334
@Isaac-alencar Good notes here, thanks for looking into this! I agree I think he ideal solution is to use css, that would take out a lot of the complexity. However, I think it could be argued that since when we have a regular Drop we can scroll through and the state changes, our scroll position remains (see [this codesandbox example](https://codesandbox.io/s/quizzical-tom-fd7p0e?file=/src/DropButt

[2022-11-04 18:04] Isaac-alencar commented on #6334
@jcfilben I found this on our codebase. I switch the value passed on `place` to `true` we can avoid these bug

![image](https://user-images.githubusercontent.com/58452911/200042612-94a85b04-b608-4986-92e9-ee81d761282c.png)
However, I have a concern about this change:
- `<DropContainer />` it is being used in many other places, I can't measure if it will broke other components

Also, this value `tr

[2022-11-04 22:49] jcfilben commented on #6334
Nice investigation here, I agree we should be cautious with changing this to true since as you mentioned it has the potential to affect other areas that we aren't anticipating. I'll take a closer look into this

[2022-11-06 09:05] stephanpelikan opened #6482 "MaskedInput does not support patterns like used for kilometers"
I want the user to input kilometer values greater than 999 in the format "123.456". Valid patterns are "1.234", "12.345" and "123.456". This seems not to be supported by the mask-parameter. Characters always fill the first mask-sections first. But in this situation I need to fill the last section first.

This is what I'm using:
[code]

### Expected Behavior

There is an attribute e.g. "maskReverse

[2022-11-08 04:44] #6159 closed

[2022-11-08 19:50] britt6612 opened #6483 "FormField-label used for aria-label"
We need to look at defaulting `aria-label` as label if one of the following is not provided
 `aria-describedby`, `aria-description` or `aria-labeledBy`, `aria-label`.

[2022-11-08 19:54] britt6612 opened #6484 "Box- If overflow is scrollable should `tabIndex=0` be provided by default"
If Box is scrollable it should have a `tabIndex=0`
should grommet provide by default?

[2022-11-09 01:55] LiveFreeAndRoam commented on #4372
Another example where Stack is not working consistently between the Button and Menu components:

[Badge with Button vs Menu](https://v2.grommet.io/menu?c=DwIQ9gHgBAJglgJwKYGMAucwDsC8AiBMAdzwD4AoKKUSKAIzARiQQqqtAFc01tL2qcFNhwBvYAElhWAM4A6AArEWUAPSkAvvwF0AhjADmSMaL0oA1gcKcsMAFxQA5DLS60nGQFow5xwBooADddABtOJAc0BHCNLQF1fmBVcAg2ahT6RmZWbWoAWSQsTlzBaTFJaXklIhV1OIF6fSMTM0trWwdnV3cvIl0ELDgsA38g0PDI6KRYkqg4

[2022-11-09 16:55] jcfilben commented on #6452
Fixed in #6457

[2022-11-09 16:55] #6452 closed

[2022-11-09 17:18] britt6612 commented on #6467
@stephanpelikan you are correct `pad` is available would you be willing to make a PR by adding the `pad` to our TS definitions?

[2022-11-09 17:19] britt6612 commented on #6477
@mrmagcore thank you for reporting would you be willing to make a PR with these changes for our TS definitions in DataTable?

[2022-11-09 17:43] shb opened #6485 "Box breaks when using border="between" and a gap size in pixels"
The Box component breaks at runtime when specifying this two properties:
[code]
which are both legit values according to the docs.

### Expected Behavior

The Box component applies half the value of _gap_ around the separator line.

### Actual Behavior

The Box components throws:
[code]

### URL, screen shot, or Codepen exhibiting the issue

![Screenshot 2022-11-09 at 18 14 51](https://user-images

[2022-11-09 17:48] mrmagcore commented on #6477
I don't know how to do a pull request.  I messed around with it for a while,  but didn't get it to work.  It's just one line of code,  hopefully you folks can add it in.  Sorry

[2022-11-09 17:56] britt6612 commented on #6477
@mrmagcore no worries I can do it..
if you ever want to make a contribution we are always here to help.
https://github.com/grommet/grommet/blob/master/CONTRIBUTING.md#submitting-code-pull-requests

[2022-11-09 19:40] jcfilben commented on #6455
Closing since we have not been able to reproduce this issue. Feel free to re-open the issue with a codesandbox that demonstrates the behavior.

[2022-11-09 19:40] #6455 closed

[2022-11-09 19:44] jcfilben commented on #6430
Hey @tejus0 just wanted to check in on this issue and see if it was something you were still wanting to work on or if we should close it

[2022-11-09 20:26] jcfilben commented on #6470
Note: contrast issue is in both the grommet and hpe themes.

[2022-11-09 20:40] jcfilben opened #6487 "RangeInput within FormField is off center"
### Expected Behavior
The RangeInput should be centered and contained within the FormField

### Actual Behavior
The RangeInput extends beyond the edge of the FormField and is not centered. Note this is happening in both the grommet and hpe themes but it is easier to see in the hpe theme.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-jhtm

[2022-11-09 22:51] jcfilben commented on #6334
Above the `place function there is a comment that makes me think that place should only be called onMount and when the window is resized. If you add a console.log within place you can see that with DropButton it is getting called more frequently. If we can ensure that the function is really only called onMount and onResize then I think that will solve our problem. Another potential route is callin

[2022-11-10 02:05] tejus0 commented on #6430
Hey @jcfilben actually my exams are going so i got very busy on the schedule. So you can close this issue. Sorry for the delay

[2022-11-10 05:39] #6477 closed

[2022-11-10 16:42] jcfilben commented on #6430
No worries! I will go ahead and close this

[2022-11-10 20:45] #5354 closed

[2022-11-12 20:55] mrmagcore commented on #2595
I'm with this very old thread.  Why does anchor have margin if it doesn't have pad?  Even wrapped in a box with pad="none", it still sets a large pad around the anchor.  Either don't add a pad around the anchor or allow us to set pad.

[2022-11-13 15:18] umeshiscreative commented on #6487
Hi @jcfilben,
I checked this and found there is a default user agent style adding the extra margin to the Range Input Component.
As mentioned below.

<img width="694" alt="RangeInputIssuePNG" src="https://user-images.githubusercontent.com/36879900/201529105-99e90e78-875b-4159-9c6b-e03bfa6e30c6.PNG">

It can be removed as a default margin set to `0px` or `unset`.

<img width="503" alt="RangeInputSo

[2022-11-13 17:07] umeshiscreative commented on #6485
Hi @shb,
I checked and found you need to pass the correct props to the Box Component for the gap.
Gap will work if you pass the correct prop value to it.
I am sharing the gap props value

<img width="171" alt="GapProps" src="https://user-images.githubusercontent.com/36879900/201534359-2a8b12b2-6729-4f5e-ac8d-0db01eb77f8e.PNG">

[code]

Output:
<img width="161" alt="GapOutput" src="https://user-ima

[2022-11-13 19:34] mrmagcore commented on #2595
Sorry, looks like anchor only has a pad around icons, not text.  Still weird that it has margin at all if it doesn't have pad.

[2022-11-13 22:21] britt6612 commented on #6485
@umeshiscreative @shb
This is still a bug even though it works with passing correct t-shirt sizing to `gap` our `gap` should still accept any CSS size.

<img width="616" alt="Screen Shot 2022-11-13 at 3 21 39 PM" src="https://user-images.githubusercontent.com/42451602/201547488-571d1459-908c-4a0c-84b3-5e8b2e19f610.png">

[2022-11-14 10:40] shb commented on #6485
@britt6612 thanks a lot for the quick response. As I commented in the PR, I found a deeper issue in the border between implementation: it assumes that numeric gap values are always _px_ disregarding the unit specified by the user. On the other hand the `gap` implementation itself seems to honour the unit of measure, probably because it only copies the value around without doing any math on it.

[2022-11-14 14:14] Isaac-alencar commented on #6334
Hi, @jecassis do you have any clue on how to ensure that will be called only on resize and on mount? I'm a bit confuse about how to do

[2022-11-14 16:49] jcfilben commented on #6487
Hi @umeshiscreative thanks for looking into this! Would you be willing to file a PR to add
 `margin: 0px` to StyledRangeInput?

[2022-11-14 20:00] JCoder121 opened #6492 "Datatable column keyboard focus does not show up on API calls"
### Expected Behavior
The user should be able to see the highlighted interactive element when using the keyboard to interact with the Datatable.

### Actual Behavior
On Datatables that use an API call to fetch displayed data, the user can still interact with column headers but is unable to see the highlighted item in focus.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://u

[2022-11-14 20:08] jcfilben opened #6493 "DataTable - column search causes jumpy header text"
### Expected Behavior
When selecting the search icon within a column header the text should remain vertically in the same position.

### Actual Behavior
The header text jumps upwards when the search is selected.

### URL, screen shot, or Codepen exhibiting the issue

https://user-images.githubusercontent.com/54560994/201755397-9765bd79-d532-4d02-a511-71d3715e1ae9.mp4

### Steps to Reproduce

This

[2022-11-14 20:57] jcfilben commented on #6334
I would start by looking at the useEffect dependencies and determine which dependency is causing the useEffect to re-run so frequently when we use DropButton. Then it might make sense to break up the useEffect into smaller chunks to ensure that each part is being run only when it needs to be.

[2022-11-15 00:21] mrmagcore commented on #2595
If that's your philosophy regarding pad, that's fine, but it seems inconsistent that Anchor puts a pad around icons.

This produces a pad around the icon:

   <Anchor icon={<Icons.Edit/>} />

This does not:

   <Anchor label="Edit" />

[2022-11-15 10:39] umeshiscreative commented on #6487
@jcfilben Sure, I will raise a PR for this.

[2022-11-15 17:40] vinayravindrajartarkar opened #6495 "Dateinput component gets cropped for certain resolution, ideally 100% of the date input component should be seen in viewport."
* Visit url https://v2.grommet.io/dateinput on chrome browser.
* On chrome tab at 100% zoom on click on select date icon in the rendered Dateinput component.
* You will see bottom 20% of the date input component hidden.
* The same can be seen if there is content below on scroll.

### Expected Behavior

* The complete Date input component should be shown.

### Actual Behavior

* At 100% zoom level

[2022-11-15 17:41] vinayravindrajartarkar commented on #6495
https://user-images.githubusercontent.com/97430588/201988827-018cfe9b-d916-49a5-99e0-0647a5c3cad5.mov

[2022-11-15 21:54] #6487 closed

[2022-11-15 23:06] britt6612 opened #6497 "Box-border=between broken if gap has a non px value"
### Expected Behavior
If you have
The `border` should be placed in the correct position between the 2 boxes
[code]

### Actual Behavior
The `border` is not placed in the correct position. This is because the `borderOffSet` is calculated assuming the user is passing in a `px` value for `gap`

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1.
[code]

2. See where the

[2022-11-16 13:08] stephanpelikan opened #6499 "Box' gap not removed on wrapping"
When using Box with `gap` and `wrap` and `justify="center"` the `StyledBoxGap` is not removed on wrapping.

### Expected Behavior

Gaps at wrapped lines have to be removed.

### Actual Behavior

Gaps are not removed and appear as a left-margin in the next line and sometimes as a right-margin of the previous line (depending on the width of the content and the width of the window).

### URL, screen

[2022-11-16 17:44] #6485 closed

[2022-11-16 18:41] britt6612 commented on #6467
closing since PR #6467 was merged

[2022-11-16 18:41] #6467 closed

[2022-11-17 00:55] dherault opened #6502 "FormPin icon imported in themes/base although removed from grommet-icons causes build error"
### Expected Behavior

FormPin has been removed from grommet-icons hence should be removed from `themes/base`

### Actual Behavior

A Rollup output gave me this:
![image](https://user-images.githubusercontent.com/4154003/202327311-a0a90af4-cc88-4cc5-8dec-5c85892d51a0.png)

### Steps to Reproduce

- Install grommet
- Build it in any app

### Your Environment

- Grommet version: 2.27.0
- Operating S

[2022-11-17 01:03] dherault commented on #6502
Was a dependency mismatch issue on my side

[2022-11-17 01:04] dherault commented on #6502
Fix: `rm -rf node_modules` then `npm install`

[2022-11-17 01:05] dherault commented on #6502
Nope, that didn't fix it, reopening.

[2022-11-17 01:06] dherault commented on #6502
Grommet depends on grommet-icons 4.7.0, if grommet-icons 4.8.0 is also installed, the error happens.

[2022-11-17 01:10] dherault commented on #6502
Fix for yarn:
[code]

[2022-11-17 01:11] dherault commented on #6502
Submitting a PR to fix this.

[2022-11-17 01:58] dherault commented on #6502
No need, just needs to publish the latest dev grommet version which has grommet-icons 4.8.0 as a dep

[2022-11-18 16:49] jcfilben commented on #2595
Good comment, the reason we include extra padding on Anchors and Buttons with icons only is so that the click target is large enough to meet accessibility requirements

[2022-11-18 16:51] mrmagcore commented on #2595
That's fine as a default, but I feel like I should then be able to adjust that pad within the grommet system without having to address it by adding a class/css or inline style.  It breaks the pattern of keeping most of that styling within grommet.

[2022-11-18 19:43] taysea opened #6503 "Avoid unnecessary layout shift in SelectMultiple"
### Expected Behavior

SelectMultiple shouldn't change width (creating layout shift) when selection amount changes.

### Actual Behavior

When switching from 9 --> 10 or 10 --> 11 selections, dimension of text changes which causes layout shift.

### URL, screen shot, or Codepen exhibiting the issue

https://user-images.githubusercontent.com/12522275/202789071-b3110214-6194-49d9-a11e-e5a041b60074.m

[2022-11-18 21:53] jcfilben opened #6504 "DataTable - resizing columns not working on small screens"
### Expected Behavior
On a small screen I should still be able to resize columns.

### Actual Behavior
I am not able to resize columns when the viewport is narrow.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-t843ck?file=/index.js
https://design-system.hpe.design/components/datatable?q=datata#resizeable-columns

### Steps to Reproduce

[2022-11-20 08:28] vishal400 commented on #6499
May I know why its using StyledBoxGap component? Can't we use gap property on styledBox itself and remove StyledBoxGap.

[2022-11-20 10:40] umeshiscreative commented on #6499
Hi @stephanpelikan,
If we pass a prop to the StyledBoxGap and use this prop inside the Styled Box as below:

<img width="453" alt="Gap2" src="https://user-images.githubusercontent.com/36879900/202897514-27caeee1-c35c-4049-a2b5-a34a472240af.PNG">

<img width="619" alt="Gap1" src="https://user-images.githubusercontent.com/36879900/202897525-9c438934-51b7-4c2c-97b4-bce238913db7.PNG">

Then I will res

[2022-11-20 11:10] vishal400 commented on #6499
@umeshiscreative gaps at wrapped lines need to be removed, not every gap after resizing.

[2022-11-21 06:20] stephanpelikan commented on #6499
@umeshiscreative : I'm sorry, I not aware of the total consequences of your suggestion since I'm just a user of Grommet. What I can see is, that the gap is gone in your screenshots 2, 3 and 4 what would not be OK.

[2022-11-21 07:07] umeshiscreative commented on #6499
Hi @stephanpelikan, What I am thinking is, Instead of removing the _gap_ element from the **DOM tree**, I am reducing its width.
Can you explain a little bit more?

Thanks,
Umesh

[2022-11-21 07:18] stephanpelikan commented on #6499
OK, got it. But I need that gap. If I define margins or paddings it will also be used at the outer boundaries (towards the window-boundaries) which means even if two boxes would still fit the screen it will show only one because of that margin (of course depending on the size of the boxes and the margins).

Anyway, this is good hint and I will check if this helps me with my layout as a workaround

[2022-11-21 16:44] ericsoderberghp commented on #6499
I understand the intent of the issue. Unfortunately, the current implementation of `gap` does not work with `wrap`, as is documented at https://v2.grommet.io/box#gap. A better approach would be to use https://developer.mozilla.org/en-US/docs/Web/CSS/gap, which came into being last year. It's not as easy though as just changing the current Box implementation to use it as the CSS property applies to

[2022-11-21 23:12] jcfilben commented on #2595
Hey @mrmagcore just wanted to give an update. I chatted with other members of the grommet team and we are open to having the `pad` prop on Button. It feels like there are cases where it is helpful to be able to adjust this, especially for icon only Buttons. We are thinking we won't support having `pad` on Anchor and instead encourage people to use Button for situations where they would use and ico

[2022-11-21 23:14] jcfilben opened #6506 "Add `pad` prop to Button"
Add a `pad` prop on Button to allow adjustments to a Button's padding. See related conversation https://github.com/grommet/grommet/issues/2595#issuecomment-1322780890

[2022-11-21 23:17] jcfilben opened #6507 "Anchor - icon only Anchor has extra spacing"
There is extra space below the icon in the Anchor

### URL, screen shot, or Codepen exhibiting the issue

<img width="861" alt="Screen Shot 2022-11-14 at 1 17 50 PM" src="https://user-images.githubusercontent.com/54560994/203176984-a7dcd74e-dc79-4751-9436-6786c766ae85.png">

### Steps to Reproduce

Inspect the first Anchor in the Anchor/Color story to see the extra space https://storybook.grommet.

[2022-11-21 23:25] jcfilben commented on #6495
Thanks for raising this issue! Currently the Drop has a threshold, 20% of the Drop can be out of view before it tries to change direction. I think we can change the behavior of Drop to adhere to the following instead:
- If the Drop is aligned in a direction and there is enough room to display the entire Drop in that direction, leave as is.
- If the Drop doesn't have enough room to be fully visible

[2022-11-22 00:58] mrmagcore commented on #2595
Thanks for considering my input!

[2022-11-22 03:24] #6371 closed

[2022-11-22 08:17] anuraghpe opened #6509 "Select's type definition shouldn't include the `readOnly` prop"
### Expected Behavior
If Select is marked as readOnly, user should not be able to change options.

### Actual Behavior

readOnly has no effect.

### Steps to Reproduce

https://v2.grommet.io/select?c=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKRAbwChFEIEBnKRAbQDd1cR8AaRO-KAGrtOAXUQBeRACV86aADoQfAMpR0UIgHJM+ACYwQmTcQDcVROYBO-EJaSFz1ADwAxOJcwuY+XLsS50ACMfcU1lGAAvfE1Ea3RdAHkwXABPAD4LaizEJ2UffGhHbN5I-HEyNg58A

[2022-11-22 18:14] jcfilben commented on #6270
Closing since #6462 has been merged

[2022-11-22 18:14] #6270 closed

[2022-11-22 18:20] jcfilben commented on #6288
@negreirosleo I'm going to remove you as an assignee but feel free to re-visit this issue if you are still interested in working on it.

[2022-11-22 18:23] jcfilben commented on #4368
Related to https://github.com/grommet/grommet/issues/6495

[2022-11-22 20:09] britt6612 opened #6516 "Update Dependencies post November Release"

[2022-11-23 05:13] SOjaHPE opened #6511 "SelectMultiple Component - Usability Study"
How might we design an accessible, responsive and adaptable multi-select component that enables a user to quickly scan through a list of items, choose multiple options, view their current selection, and edit it as needed?

[2022-11-23 05:26] SOjaHPE commented on #6511
[2022.09.12 Multi-select Component Scott Oja Study Request Form.pdf](https://github.com/grommet/grommet/files/10072935/2022.09.12.Multi-select.Component.Scott.Oja.Study.Request.Form.pdf)
<img width="784" alt="Screen Shot 2022-11-15 at 2 55 28 PM" src="https://user-images.githubusercontent.com/83719939/203473339-4a8f27a2-2a1d-4db4-9e6f-6df66679cae2.png">
<img width="1126" alt="Screen Shot 2022-11-1

[2022-11-23 10:07] kkgowtamasa opened #6512 "Expand / Collapse icons are not getting updated properly with Accordion with multiple set to true"
- when we use Accordion with multiple sets to true the expand and collapse carat icons are not getting updated properly. This is random behavior with the grommet version - 2.21.0.
### Expected Behavior
The state of the icon should get updated properly.

### Actual Behavior
randomly it shows the opened as closed and closed as open.

### URL, screen shot, or Codepen exhibiting the issue

![Screensho

[2022-11-23 12:51] #6512 closed

[2022-11-23 12:51] kkgowtamasa commented on #6512
this not an issue with grommet

[2022-11-23 15:37] jcfilben commented on #6502
This should be resolved with the new release, v2.28.0 of grommet.

[2022-11-23 15:37] #6502 closed

[2022-11-23 16:26] p-fruck opened #6513 "Recursion error on masked input"
When using the MaskedInput component with a resonable long input I regularly run into an `InternalError: too much recursion`

### Expected Behavior

Regex should not be parsed via recursion

### Actual Behavior

Regex is parsed using recursion and throws an error on specific input
### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/embed/grommet-v2-template-forked-hoo7vw?

[2022-11-23 20:17] jcfilben commented on #6509
Grommet doesn't currently support a readOnly prop for Select. Would you be willing to share a bit more about your use case (for example, what is making the select read only, will it always be read only, why not use a TextInput with `readOnly`, etc.)?

[2022-11-24 04:49] anuraghpe commented on #6509
Interesting. I think I can use a TextInput with `readOnly` in my use case, it will always be `readOnly`. Is there is a plan to support `readOnly` with Select in future? I guess the typescript definitions are incorrect for Select then.

[2022-11-25 17:34] p-fruck commented on #6513
Update: Sorry, just noticed I've added the wrong sandbox link. [This one](https://codesandbox.io/embed/grommet-v2-template-forked-ierfqm) should "work" fine.

In the attached screenshot I just spammed some numbers and letters and the recursion error even allowed me to enter some letters into the masked input field.

![image](https://user-images.githubusercontent.com/30511472/204033836-68ec84d0-aeb

[2022-11-26 14:54] umeshiscreative commented on #6507
**Output:**
Anchor component with default usage.

<img width="312" alt="AnchroTag1op" src="https://user-images.githubusercontent.com/36879900/204095024-b3aa63b6-416e-4ca6-854d-0db019a15652.PNG">

Anchor component with passing the props.

<img width="428" alt="AnchroTag2op" src="https://user-images.githubusercontent.com/36879900/204095030-3e94b673-c004-4764-b3b9-1481e149f156.PNG">

[2022-11-26 17:36] umeshiscreative commented on #6493
Hi @jcfilben, Can you please provide a codesandbox for this?

[2022-11-28 09:22] TimPchelintsev opened #6515 "SelectMultiple: Clear All does not work with reduce: true in valueKey"
### Expected Behavior

"Clear All" button should appear instead of "Select All" in SelectMultiple component after "Select All" was applied with "reduce: true" option set for "valueKey"

### Actual Behavior

Component was stuck in "Select All" mode even with all options already selected

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-l8b45

[2022-11-28 17:03] jcfilben commented on #6509
Currently there is not a plan to support `readOnly` on Select, but if someone gives us a use case that requires it, I think we can re-evaluate.

Yes, currently the `readOnly` prop is included in the typescript definition. This is coming from `JSX.IntrinsicElements['input']`. We should adjust this to omit the `readOnly` prop.

[2022-11-28 17:06] SOjaHPE commented on #6511
@Keeth-HPe  provided an update
She collected few use-cases. Most of them use the 'Visible-selection' version.
https://www.figma.com/file/EcLSFz5L7EwmOadmEYGshZ/SelectMultiple-Component?node-id=2904%3A61698&t=NsvuXaHZGd1KxtNp-1

[2022-11-28 21:54] britt6612 commented on #6516
closing https://github.com/grommet/grommet/pull/6517

[2022-11-28 22:43] jcfilben commented on #6516
Re-opening, I'm still working on the `jest-axe` upgrade, there were some code changes require for it so I did it separately. Sorry, I should have made a note in #6517 that there was still more work coming in a separate PR

[2022-11-28 22:52] #6179 closed

[2022-11-28 23:02] jcfilben commented on #6499
Solved by https://github.com/grommet/grommet/pull/6181

[2022-11-28 23:02] #6499 closed

[2022-11-28 23:30] jcfilben commented on #6493
Here is a codesandbox: https://codesandbox.io/s/grommet-v2-template-forked-7u1ssu?file=/index.js.

This example can also be viewed in the storybook [DataTable/Served](https://storybook.grommet.io/?path=/story/visualizations-datatable-served--served-data-table) story.

[2022-11-28 23:44] jcfilben commented on #6150
Closing, fixed in #6156

[2022-11-28 23:44] #6150 closed

[2022-11-29 09:14] stephanpelikan commented on #6499
Awesome! I'm looking forward to the next release :-)

[2022-11-29 14:28] biapar opened #6518 "Is compatible with React Native?"
Is compatible with React Native?

[2022-11-29 22:53] jcfilben commented on #6518
Hi @biapar Grommet is not compatible with React Native. As a side note you may want to check out the [Grommet Slack community](https://slack-invite.grommet.io/). It is a good place to ask questions like this and have discussions with other members of the Grommet community.

[2022-11-29 23:01] KennyAtHPE commented on #6212
@SonicShinji I apologize for the late response. We are currently looking into updating this file and/or opening it up for external contributors to help keep the file up to date. I will update this ticket as we continue to work on this. Thank you for your patience.

[2022-11-30 23:56] jcfilben commented on #6518
Marking this as closed

[2022-11-30 23:56] #6518 closed