[2021-05-11 20:11] ShimiSun commented on #2747
This feature will be available on our next release, thank you @g4rry420 for your contribution!

[2021-05-11 20:11] #2747 closed

[2021-05-11 20:50] ShimiSun commented on #5076
Thank you for reporting, the issue is fixed and will be available on the following release of ^2.17.2.

[2021-05-11 20:50] #5076 closed

[2021-05-11 23:00] shreyashah7 opened #5248 "Form's onChange() not returning updated elements when using dynamic add remove functionality"
We have created a Dynamic Add Remove Component inside a form. Whenever i delete any input field it gets deleted from the UI but in form's onChange Function, I still see removed input's value.

### Expected Behavior
onChange() Function returning {key: value} should only return existing elements on Form

### Actual Behavior
But it is still persisting removed elements from form.

### URL, screen shot

[2021-05-12 15:13] #4668 closed

[2021-05-12 15:21] #5189 closed

[2021-05-12 15:29] #2776 closed

[2021-05-12 15:51] #5199 closed

[2021-05-12 16:04] #5206 closed

[2021-05-12 16:10] maitlandmarsh opened #5249 "TypeScript definitions for DateInput and Select do not include className"
### Expected Behavior

Should be able to set className on DateInput and Select components when using TypeScript as they can be set when using JavaScript.

### Actual Behavior

className is not part of the TypeScript definitions for DateInput and Select.

### URL, screen shot, or Codepen exhibiting the issue
The below screenshot shows that className is settable on the Select when just using JavaScr

[2021-05-12 16:41] ShimiSun opened #5250 "Upgrade webpack devDependencies to ^5.37"
### Expected Behavior
webpack devDependencies should point to the latest ^5.37

### Actual Behavior
[code]

### Steps to Reproduce

1. Go to grommet/package.json
2. Upgrade webpack

### Your Environment

- Grommet version: 2.17.2

[2021-05-12 16:53] #4969 closed

[2021-05-13 01:31] g4rry420 commented on #3976
Can I work on this issue ?

[2021-05-13 10:36] PrzemoRevolve opened #5253 "ThemeType lacks global.font.weight"
I'm getting Typescript errors when trying to use `global.font.weight` - it is not defined in the `ThemeType`, although it is supported - adding it in my application influences the default font-weight.

If you don't mind I can submit a PR that adds this field definition.

### Expected Behavior
The `ThemeType` should have `global.font.weight?: string`

### Actual Behavior
The `ThemeType` does not re

[2021-05-13 14:46] #5205 closed

[2021-05-13 16:58] #5193 closed

[2021-05-13 17:29] taysea commented on #5198
Looking into our CI scripts. It looks like the lint command we run is lint (as opposed to lint-fix which would throw an error on any linting output). lint-fix should run in pre-commits but if a commit is pushed up with --no-verify we may miss this. Wondering if we should run `lint-fix` in CI instead.

[2021-05-13 20:02] halocline commented on #5207
@taysea - Can you please review the edits made to the release steps? https://github.com/grommet/grommet/wiki/Release

Only item I was not clear on was:
Last Steps
Do we need to update grommet-theme-hpe dependencies in package.json on grommet or how will that be handled? (This time, Shimi was already updating grommet dependencies so she handled it)

[2021-05-13 20:29] g4rry420 commented on #5197
I have made the changes but the pr is a big one. Not sure if I should still make request for it or not ?

[2021-05-13 21:12] #5130 closed

[2021-05-13 21:17] britt6612 commented on #5201
closed via https://github.com/grommet/grommet/pull/5217

[2021-05-13 21:17] #5201 closed

[2021-05-13 22:32] taysea commented on #5207
@halocline I've reviewed. Notes look good. The item you were unclear on was related solely to theme release and has been included under last steps: https://github.com/grommet/grommet-theme-hpe/wiki/Release#last-steps

I think we can close this issue now.

[2021-05-13 22:49] #5207 closed

[2021-05-14 18:19] samuelgoff opened #5256 "Tip with grommet-icon direct child throws error"
When `Tip` has a `grommet-icon` as a direct child, it throws an error.

### Expected Behavior

Looking at the [Tip docs](https://v2.grommet.io/tip), I see an example that leads me to believe it should be safe to wrap the tip around other Grommet components, like so:

[code]

So I should be able to replace the nested `Button` with a `grommet-icon`, like so:
[code]

### Actual Behavior

This throws

[2021-05-14 19:01] ShimiSun commented on #5149
This issue is expanding beyond Checkbox to other input components due to `ref` of the input component not resolved correctly when used within Tip. For now, wrapping the component with `<span>` would be the workaround.

[2021-05-14 19:02] ShimiSun commented on #5256
Can you please confirm whether this issue is related to https://github.com/grommet/grommet/issues/5149?

[2021-05-14 19:36] samuelgoff commented on #5256
Hey Shimi, I tried the workaround you suggested and it resolves the error. That said, the description (and folllow-up discussion) on this ticket is misleading, since a grommet-icon is not an input component.

[2021-05-15 09:58] disbelief commented on #4273
Thanks so much @Alkindi42! A few tweaks to your snippet got it working for me. I'll post my slightly modified version here (maybe a recent change to react-hook-form API is the reason for the difference):

[code]

[2021-05-15 11:24] disbelief opened #5257 "Any way to change the icon for clearing the Select search input ?"
Is there any way to override/replace the "x" icon in the search input for the Select component? The icon's color and style do not match the style of my site.

I can't seem to find a theme setting to target it, and there's no prop for it in the Select component.

Either a theme setting like `select.searchIcon = { color: string }` or a way to replace the actual icon component itself, perhaps a `sear

[2021-05-17 04:40] g4rry420 commented on #5145
@ericsoderberghp  My apologies. I am not sure if the issues moved to `Grommet/Design System Backlog ` can be picked by anyone or not. Still, I find this issue interesting and have worked on `Dynamic track color based on a prop value` part. Wanted to know your thoughts if this is how you wanted to implemented. For the passing the colors, I used used the `rangeInput.track.colors` as an array of obje

[2021-05-17 14:39] NRamasamy82 commented on #5224
I'm modifying the CodeSandbox. I will keep you posted.

[2021-05-17 16:48] eatyourgreens opened #5260 "TextInput with suggestions breaks keyboard accessibility when used in a modal Layer"
We are using `TextInput` with suggestions inside a modal popup, which uses `Layer`. After selecting a suggestion, then closing the popup, we find that you can no longer Tab through the parent page. All focusable inputs, buttons, links etc. have `tabindex=-1`.

### Expected Behavior

Keyboard Tab navigation should be cancelled while the `Layer` is in place, but should be enabled again once it's rem

[2021-05-17 17:08] andrewthamcc opened #5261 "Range Format Error"
When clearing the text input of the Range Format `DateInput` component an error is generated: `TypeError: Cannot read property '0' of undefined`

### Expected Behavior

The user should be able to clear the Range Format input

### Actual Behavior

The user can clear the ending date value but clearing the start value will throw an error of: `TypeError: Cannot read property '0' of undefined`

### URL

[2021-05-17 17:19] andrewthamcc commented on #5261
This error is due to the `buttonProps` in the storybook story:
[code]

When clearing the value `value` becomes undefined. When correcting this the use is still unable to clear the entire contents of the input field. When attempting the initial start date the value resets.

https://user-images.githubusercontent.com/45271739/118530273-7549d780-b712-11eb-8f79-785818b38e43.mov

[2021-05-17 18:24] taysea commented on #3976
Closed by https://github.com/grommet/grommet/pull/5255

[2021-05-17 18:24] #3976 closed

[2021-05-17 20:47] anderoonies opened #5262 "`hoverIndicator` causes button to lose text color"
### Expected Behavior

When specifying a `hoverIndicator` on a button, I'd expect to be able to either specify:

[code]

or to have the `button.secondary.hover.color` style remain.

### Actual Behavior

When specifying a `hoverIndicator` on a button, the text color is replaced.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-0byc6?file=/i

[2021-05-18 15:57] saggiemilva opened #5266 "Persist List/DataTable active row background color"
### When selecting a row item from a list or table the background color shows up when the user is hovering and remains when the user opens a layer/modal detail. However when the user closes the layer/modal the background color instantly disappears. This prevents the user from seeing where they left off on the list/table and from knowing which row they were just viewing. Note that this current beha

[2021-05-19 03:09] ShimiSun commented on #5262
Just to clarify, when attempting to use `button.secondary` one must have `button.default` configured on the theme, are you using the `button.default`?

[2021-05-19 12:05] anderoonies commented on #5262
Yep, I have an empty object for “default” in the theme in the sandbox, and
the background color for the “secondary” button is changing, so I think
that’s working properly.

On Tue, May 18, 2021 at 11:09 PM Shimi ***@***.***> wrote:

[2021-05-19 12:44] jayant246 opened #5268 "Remove DropButton border on hover"
How to remove the border of DropButton , I have removed the button border by implementing style inside DropButton : `style={{ border: 'none', padding: 'none', background: 'none', outline : 'none' }}`
But, I also want to remove the border "on hover"

https://codesandbox.io/s/admiring-leakey-klgzg?file=/src/App.js

[2021-05-19 13:52] ahlechandre opened #5269 "[QUESTION] How to use a Select component with server-side searches inside FormField?"
Here is my basic implementation of a Select component with server-side searches inside FormField:

[code]

### Expected Behavior

I expected users to search & select options indefinitely without selected option becoming blank when it's not present in the options array.

### Actual Behavior

If users search for a category and choose then it is correctly displayed as the selected options BUT when th

[2021-05-19 15:08] halocline commented on #5268
Hi @jayant246 - DropButton is using Button in its implementation, so for consistency it is applying the same styling as buttons throughout the rest of your app. DropButton will accept all [Button props](https://v2.grommet.io/button#props), as well as[ button styles defined in your theme](https://v2.grommet.io/button#theme).

My recommendation is to [use your theme](https://github.com/grommet/gromm

[2021-05-19 17:14] jayant246 commented on #5268
Actually, I can't use theme for this button. Please suggest alternate approach.

[2021-05-19 17:29] eddieshowcase commented on #4068
I would like to add the this list of items that need some review or attention:

### Tabs

- Tab components should respond to use of arrow keys for navigation (not just rely on 'tab' key)
- https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-2/tabs.html

### Accordion

- Similar to Tabs, should respond to use of arrow keys for navigation of top-level nodes (not just rely on 'tab' key). Arro

[2021-05-19 22:46] halocline commented on #5268
Bummer. So that I can better understand your situation, I'd appreciate if you could share why that's not an option.

In the meantime, if modifying theme is off the table, we have a couple options. Which approach to use somewhat depends on whether you will have a couple of instances of the DropButton vs. desiring re-use throughout your application and each has some pros/cons.

**Option 1** - Create

[2021-05-19 23:10] jasnross opened #5271 "Specifying a color string in `theme.checkBox.toggle.color` does not work"
### Expected Behavior

Specifying a color name or string for `theme.checkBox.toggle.color` should result in the checkbox toggle being displayed in that color.

### Actual Behavior

Specifying a color string does not work.

The workaround is to specify a color spec instead.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/blissful-violet-3t6lq?file=/src/App.js

### Y

[2021-05-20 09:31] jayant246 commented on #5268
I solved it by targeting the button class which is responsible for _"focus" & "hover"_ . Thanks @halocline

[2021-05-20 09:31] #5268 closed

[2021-05-20 14:22] ericsoderberghp commented on #5269
I think this is caused by Select not knowing what the label should be using the `labelKey` because there aren't any options that match the `valueKey` to retrieve it from. In some sense, this matches the native `<select />` behavior, where you have to have the selected `<option />` present.

The `valueLabel` is intended to handle this case. You could keep the currently selected option in full in st

[2021-05-20 14:26] ericsoderberghp commented on #5266
One idea for this would be to preserve the active row across focus/blur but clear it when `data` changes.

[2021-05-20 19:30] #5231 closed

[2021-05-20 19:58] #5079 closed

[2021-05-20 19:59] taysea commented on #5261
I agree the whole date should be able to be cleared by keyboard. That is definitely an issue, maybe this issue could be reformatted to be focused on that bug.

However, I think the `buttonProps` error you documented is more an issue with the storybook implementation rather than an issue with grommet. The caller should add a check that value exists before trying to index an array index (value && va

[2021-05-20 20:55] ericsoderberghp commented on #5233
I'm wondering if we can do this as a variation on the existing stacked bars, where instead of stacking them vertically, we abut them horizontally, all while trying to maintain some x-axis locality. To get there, I'm wondering if we should enhance the https://v2.grommet.io/datachart#chart property to accept a `type` of `stacked bars` and `adjacent bars`.

[2021-05-20 22:51] MikeKingdom opened #5273 "DateInput format not working correctly"
DateInput allows keyboard text input through use of the `format` property. However the format doesn't work as expected and has incorrect keyboard behavior.

### Expected Behavior

* `format="m/d/yy"` should allow 2 digits (just no leading 0's) according to the component documentation and storybook examples.
* The calendar should update when the date is entered

### Actual Behavior

When typing dig

[2021-05-21 03:49] ahlechandre commented on #5269
@ericsoderberghp Well, thanks. It closes the question.

Besides that, do you have some example of `valueLabel` node implementation? I couldn't find any so what I'm using:

[code]

[2021-05-21 03:49] #5269 closed

[2021-05-23 16:46] CharlieDeepk commented on #3079
hey buddy I'm too facing this problem

[2021-05-24 22:23] #5273 closed

[2021-05-24 22:54] ShimiSun commented on #5256
Thanks, @samuelgoff , just to confirm:
1. I'm seeing a Warning vs an Error on the console log, is that what you are experiencing, or am I missing something?
2. The functionality is working as expected it is just the console warning that is the issue, correct? Or should I be aware of functionality implications as well?

Thanks,
Shimi

[2021-05-25 15:58] samuelgoff commented on #5256
Hey @ShimiSun,

**1. Warning vs Error:** I think we're seeing the same thing, but we're using different terminology. If you look at the screen grab, it says "warning" but the color is red. This result is what you get when you use `console.error(errorGoesHere)` in the code. So to my mind, this is an "error", even if the text in the error says "warning". If it is a warning, it should use `console.wa

[2021-05-25 19:10] taysea opened #5283 "DataTable groupBy should use InfiniteScroll"
### Expected Behavior

groupBy should leverage InfiniteScroll so grouped data isn't all rendered at once.

### Actual Behavior

InfiniteScroll is not being used with grouped data. Therefore, when a group has many items (such as 500 in a group), the application is slowed down.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet v

[2021-05-26 00:01] ShimiSun commented on #5256
Thank you for the clarification, the intention with the confirmation questions above is just to understand whether I'm missing any pieces. We do encourage users to file issues on console warnings/errors, so thank you for reporting.

[2021-05-26 19:45] jcfilben commented on #5204
<img width="824" alt="Screen Shot 2021-05-26 at 1 44 03 PM" src="https://user-images.githubusercontent.com/54560994/119721516-72dd3100-be28-11eb-9a1e-d46b70cfa521.png">

Looks like the issue was fixed by the chromatic team and the number of snapshots has returned to normal

[2021-05-26 20:10] jcfilben commented on #4895
Update:
I tested a grommet component in snowpack with the `require` statement removed and was still getting the same error. The issue is with grommet's dependency grommet-icons which uses styled-components. Styled-components works fine when it is imported directly into a snowpack project but when another package uses it and that package is used with Snowpack it gives an error. This is shown in the

[2021-05-26 22:21] #5215 closed

[2021-05-27 08:02] woss commented on #4895
maybe you should rewrite the icons in typescript :)

[2021-05-27 13:37] emonakov opened #5286 "DataTable typescript definition misses theme property"
DataTable typescript definitions do not include theme property which makes theming problematic

### Expected Behavior
DataTable definition has theme property defined and the compiler doesn't throw errors

### Actual Behavior
DataTable doesn't have theme property definition which causes the compiler to fail

### URL, screen shot, or Codepen exhibiting the issue
https://github.com/grommet/grommet/bl

[2021-05-27 15:54] ericsoderberghp commented on #5286
Hmm... DataTable doesn't have a `theme` prop though. The themes come from `<Grommet theme={theme} />` where that theme object contains a `dataTable` key that refers to an object describing how to theme the DataTable.

[2021-05-27 16:52] CopyJosh opened #5287 "Disabled Prop on FormField does not disable the rendered TextInput"
TL;DR -  As-is, this is working as designed...

Hello,

I was having an issue with setting a FormField as disabled. I am setting the disabled prop on the FormField component, and it doesn't seem to disable the input.

I came across this issue (https://github.com/grommet/grommet/issues/3810) which looks exactly like my problem, except instead of the <FormField component={...} /> method which appear

[2021-05-27 23:36] DanielBaird commented on #5287
I've read `FormField`'s `disabled` prop as short for something like "appearDisabled". I agree that it's unclear, particularly since the same `disabled` prop name elsewhere actually does disable the component.

I'm worried about what FormField would have to do if we decided it should disable its children (there's a phrase I didn't expect to say today). It'd have to iterate through its children list

[2021-05-28 16:50] #5271 closed

[2021-05-28 18:44] ShimiSun commented on #4895
@jcfilben Does the combination of snowpack + grommet-icons without grommet works as expected? Testing this use case might help with pinpointing that the issue has indeed resulted from the usage of grommet-icons.

[2021-05-28 18:44] #5204 closed

[2021-05-28 18:54] ericsoderberghp commented on #5149
CheckBox is done. Any similar issues with other components will be handled by separate issues.

[2021-05-28 18:54] #5149 closed

[2021-05-28 19:57] jcfilben commented on #4895
Yes, grommet-icons with snowpack is working as expected. When you use grommet with snowpack the file for grommet-icons changes (changes shown above) and I think that this change is causing the issue

[2021-05-30 22:21] CopyJosh commented on #5287
`appearDisabled` is a better way of understanding the prop. Now that I reread the documentation on `FormField`, it is entirely my misunderstanding. I didn't quite grasp the nuance of it before, but I guess I also didn't expect it either.

[2021-05-31 15:36] AlbertoTonegari opened #5293 "Layer component(Warning: Maximum update depth exceeded), (FocusedContainer)"
I have a Layer and a Modal(Box) component.
Inside the Modal component I have an `useEffect` hook to change the `overflow` property of the `body`.
The problem I have is that after I close the Modal and try to open the Layer I get an infinit loop of `Warning: Maximum update depth exceeded`.

### Expected Behavior

I expect to not get `Warning: Maximum update depth exceeded` when I render the Layer c

[2021-05-31 16:46] AlbertoTonegari commented on #5293
The infinit loop happens inside `FocusedContainer` inside the `useEffect` from line **23**.

[code]

[2021-06-01 19:19] krishna-404 commented on #3658
Any updates on this by any chance? I am building an app with lots of long forms. This can be really helpful. I went through Formik integration documentation but react-hook-form looks simpler. Thanks!

[2021-06-02 15:18] ImSolitude commented on #5090
Hey @ShimiSun @jcfilben,

Sorry for not providing details. I'm just trying to prevent users from selecting past dates on the Calendar https://v2.grommet.io/calendar. Similar to this
<img width="883" alt="error" src="https://user-images.githubusercontent.com/20565199/120506807-eeae1f00-c3ce-11eb-93b7-ebc135eb2076.png">

[2021-06-02 16:45] jcfilben commented on #5090
@ImSolitude you can use the `bounds` prop to tell the Calendar what dates are available to select, this will prevent users from selecting dates outside of the bounds and grey out those dates.

[2021-06-02 19:18] jcfilben commented on #5250
Storybook is currently only supporting webpack 5 experimentally and v6 of storybook is still trying to use webpack 4. Because of this we are holding off on the webpack upgrade until storybook fully supports webpack 5 (most likely in storybook v7).
Linking to https://github.com/storybookjs/storybook/issues/13893
More information about storybook's experimental support of webpack 5 https://storybook.

[2021-06-02 20:15] #5239 closed

[2021-06-02 22:34] ShimiSun opened #5298 "Grommet Release - June"

[2021-06-03 09:53] gavin99587 opened #5299 "TextInput placeholder will not removed when it is JSX.Element"
TextInput placeholder can not removed when it is JSX.Element, while when the placeholder is a simple string ,it works as
 expected

<img width="464" alt="截屏2021-06-03 17 45 02" src="https://user-images.githubusercontent.com/11565497/120624600-71001700-c493-11eb-9496-1716ca0588b1.png">

if the placeholder is  a JSX.Element,when i change the value through a function  named handleBtnAllTap, the place

[2021-06-03 18:06] jcfilben commented on #5257
The 'x' is being added and styled as blue by default because the search has the property `<input type="search">` in webkit browsers the 'x' is automatically added if `type="search"`. The css property to customize/change this is: `-webkit-search-cancel-button`. You can use the `select.searchinput` theme prop to create a custom react component for the search input of Select and then customize the cs

[2021-06-04 07:02] armandabric opened #5303 "Grommet incompatibility with vitejs"
I'm trying to use grommet (v2.17.2) in a vitejs project. I'm facing an issue with the bundled version of the library that is not compatible with vitejs. The problem is not located in the Grommet codebase but in Babel: https://github.com/vitejs/vite/issues/3437

Could you consider to upgrade the used babel version and publish a new version of the pacakge? This should restore the compatibility with

[2021-06-04 07:57] emonakov commented on #5286
But Data table itself is accepting theme property like almost any other component in grommet. It's just not documented. But maybe you are right and I need to modify theme globally, not only for one component. Anyway, if I ignore typescript error theme override works perfectly fine, it's just missing definitions.

[2021-06-04 09:41] lozenge0 opened #5304 "DateInput: wrong date roll over"
### Expected Behavior

When you input a bad date such as the 30th of February any year, the DateInput should flag this as a bad date input and force the user to change the date to something valid or change the date displayed in the DateInput to the corrected date i.e. the rolled over date

### Actual Behavior

When you input a bad date such as the 30th of February any year, the DateInput will auto

[2021-06-04 15:30] ericsoderberghp commented on #5286
Can you clarify where you are seeing that `<DataTable theme={} />` is effective? I don't see it in the properties list for DataTable: https://github.com/grommet/grommet/blob/b7537c9756630db9863542d4fa1e73675078f265/src/js/components/DataTable/DataTable.js#L75

[2021-06-04 17:06] pdp5210 commented on #5233
by using chart component or datachart component, can we get the label displayed on the bottom in X axis and numbers displayed on the Y axis, currently i have to hover over i see labels but dont see the bar number.

`<Chart
          type="bar"
          values={[
            { label: "First", value: [0, 60] },
            { label: "Second", value: [1, 20] },
            { label: "Third", value: [2

[2021-06-04 17:11] pdp5210 commented on #5233
using chart example:
![image](https://user-images.githubusercontent.com/17842632/120838799-d99bd200-c52d-11eb-8a88-5ed820c0f52a.png)
![image](https://user-images.githubusercontent.com/17842632/120838864-ec160b80-c52d-11eb-8537-568ee03e2551.png)

[2021-06-04 17:12] pdp5210 commented on #5233
using graph component
![image](https://user-images.githubusercontent.com/17842632/120839036-15cf3280-c52e-11eb-96cb-4c427af926be.png)
![image](https://user-images.githubusercontent.com/17842632/120839096-254e7b80-c52e-11eb-9025-51ea71ab561c.png)

[2021-06-04 22:02] samuelgoff opened #5306 "DataTable sorting is not case-insensitive"
If I have a dataset that includes mixed case (some ALL CAPS, some Initial Caps, some lowercase), the sorting process should ignore case.

### Expected Behavior

If I have a dataset that includes mixed case (some ALL CAPS, some Initial Caps, some lowercase), I expect “a” and “A” to appear before “z” and “Z”, regardless of case.

### Actual Behavior

If I have a dataset that includes mixed case (som

[2021-06-05 02:34] loongluangkhot commented on #5299
Hey @ShimiSun, i'm a new contributor here, and i'd like to work on this issue! Wondering how do i self-assign / if you could assign this issue to me?

[2021-06-05 13:33] disbelief commented on #5257
Thanks. I recently realized the blue "x" is browser-supplied when I created a vanilla search input and saw it appear there.

Sounds like a lot of work just to replace that x, and may possibly end up breaking something else in the process. But I suppose this isn't a Grommet bug so I'll close this ticket.

[2021-06-05 13:33] #5257 closed

[2021-06-07 13:12] emonakov commented on #5286
I initially tried to reduce the font size of the Text components inside datatable which I somehow achieved with the help of theme property on the table itself. I should've mentioned this first place. Didn't want to change the global theme but the datatable. It's working, but as I mentioned, but only with ts-ignore flag.

[2021-06-07 14:53] ericsoderberghp commented on #3911
Closing due to inactivity.

[2021-06-07 14:53] #3911 closed

[2021-06-07 16:12] ericsoderberghp commented on #5301
Superseded by https://github.com/grommet/grommet/issues/5300

[2021-06-07 16:12] #5301 closed

[2021-06-07 16:56] ShimiSun commented on #5298
Before closing this issue, please file a new issue for the following month e.g. "Grommet Release - July".

[2021-06-07 18:00] jcfilben commented on #2811
I think the above comments addressed the issue so I am closing for now, but feel free o re-open if you still feel that this is an issue.

[2021-06-07 18:00] #2811 closed

[2021-06-07 18:03] #4175 closed

[2021-06-07 18:17] #5228 closed

[2021-06-08 23:41] halocline opened #5310 "Grommet Release - July"

[2021-06-08 23:41] #5298 closed

[2021-06-08 23:43] halocline opened #5311 "Grommet - Check grommet dependencies and upgrade to the latest versions"

[2021-06-09 01:34] #5154 closed

[2021-06-09 13:44] GautamSatish opened #5312 "DataChart does not display details for large data sets"
Data chart doe not display details when the chart large number of points.

### Expected Behavior

DataChart should display details for the larger data sets or the limit should be documented so that data sets can be sampled down to required size.

### Actual Behavior

The vertical marker does not show up, probably because the points are too close to each other?

### URL, screen shot, or Codepen exh

[2021-06-09 15:55] jcfilben commented on #5299
@loongluangkhot feel free to go ahead and work on this issue

[2021-06-09 17:23] ericsoderberghp commented on #4987
Tidbit: https://blog.bitsrc.io/web-component-why-you-should-stick-to-react-c56d879a30e1

[2021-06-09 17:58] taysea commented on #5293
Hi @AlbertoTonegari, thanks for following up here. Just trying to gain context on the issue, is there are reason you need your custom useEffect at all? It seems to be duplicating the overflow adjustments that grommet is already handling in FocusedContainer.

[2021-06-09 22:06] jcfilben commented on #5312
Looks like the limit is 120, you can see that in this [codesandbox](https://codesandbox.io/s/perf-data-forked-4qxlm?file=/src/App.js) if you add one more field to the json data (bringing total to 121) the details will no longer display. I am still looking to see if it is possible to expand this limit or if should just be added to the documentation.

[2021-06-09 22:20] Esya opened #5313 "Cannot read property layer of undefined when passing a ref to Layer"
Passing a `ref` to Layer to wrap it using body-scroll-lock works with 2.17.2 but fails with 2.17.3

### Expected Behavior

It should build and run fine

### Actual Behavior

[code]

### URL, screen shot, or Codepen exhibiting the issue

[code]

### Your Environment

- Grommet version: 2.17.3

[2021-06-10 07:30] hofan opened #5316 "controlled carousel activeChild vs activeIndex"
The carousel expects activeChild, the CarouselProps are declared with activeIndex.

### Expected Behavior

Both use the same property name

### Actual Behavior

Can not use controlled carousel with setting the activeChild in TSX

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/dry-cookies-hn8p7?file=/src/Controlled2.tsx

### Your Environment

- Grommet version: 2.17

[2021-06-10 07:32] li5tun commented on #5313
yeah, after upgrade v2.17.3, I have the same problem running test.

[2021-06-10 12:52] #5303 closed

[2021-06-10 13:03] #5262 closed

[2021-06-10 13:03] ShimiSun commented on #5262
Thank you for reporting, the issue will be fixed in our next release.

[2021-06-10 13:09] ShimiSun opened #5317 "Hook warning `scrollShow`"
I'm concerned that will have unintended side effects, as this effect calls `setScrollShow`, which will cause `scrollShow` to change. Since this is already a warning today. I think we should decouple this from the webpack upgrade pull request, so that it can get more attention and not hold the upgrade up.

_Originally posted by @ericsoderberghp in https://github.com/grommet/grommet/pull/5289#discus

[2021-06-10 15:20] jcfilben commented on #5236
Closing since #5274 has been merged

[2021-06-10 15:20] #5236 closed

[2021-06-10 15:43] jcfilben opened #5318 "Grommet Templates No Longer Working in CodeSandBox"
### Expected Behavior
Grommet examples and templates should run in CodeSandBox.

### Actual Behavior
The Grommet v2 template (and others) throws an error "Cannot use import statement outside a module"

Note: this isn't related to the version of grommet or any other dependencies from what I can tell. I think that this is on CodeSandBox's end and there is an issue filed on their repository for this

[2021-06-10 16:15] brianbancroft commented on #5236
Thanks @g4rry420!

[2021-06-10 16:48] jsejcksn commented on #5318
There's been a rapid series of codesandbox client service worker updates over the past couple of days. (@jcfilben You'll notice this when you see a "reload" icon at the top of your sandbox). I suspect that it's just an ephemeral bug in [sandpack](https://github.com/codesandbox/sandpack).

[2021-06-11 17:05] jsejcksn commented on #5318
Fixed in https://github.com/codesandbox/codesandbox-client/commit/a566285e0bac46978f5a3efd6796caef41762f44

Ref: https://github.com/codesandbox/codesandbox-client/issues/5464#issuecomment-859439346

[2021-06-11 17:51] jsejcksn commented on #4895
Hi all: I recently used Grommet and experienced some issues related to ES modules in CodeSandbox. Exploring the stack trace of the errors led me to finding the mixed `import` and `require` statements (as [noted](https://github.com/grommet/grommet/issues/4895#issuecomment-767157892) earlier by Garrett).

I haven't explored Grommet much yet—so I don't have a lot of context for the history of the pro

[2021-06-14 18:35] taysea opened #5320 "Add `maxSize` prop to FileInput"
### Expected Behavior

Allow caller to specify a `maxSize` for the file being uploaded. Some things to consider would be to allow, in a form, a validation message to be presented to the user such as "File must be < 2MB." (or some provided validation). Demo here of what that might look like: https://codesandbox.io/s/fileinput-max-size-85sv9?file=/index.js

### Actual Behavior

Currently, there is n

[2021-06-14 18:39] taysea opened #5321 "Allow caller to add a custom `onClick` function to FileInput remove file button"
### Expected Behavior

Allow a user to provide some custom `onClick` handler to the remove button of FileInput, such as "onClick, open a confirmation dialog about removing the file". This would be useful in cases where file uploads/validations take a long time and removing the file automatically could cause time consuming work to need to occur again.

### Actual Behavior

No way to access any extr

[2021-06-14 22:47] jcfilben commented on #4895
Hi @jsejcksn great comment! I think the issue with snowpack is caused by a combination of using require statements and the way the styled-components dependency in grommet-icons is bundled within grommet. As part of this issue I think that both of these problems need to be fixed. I updated the issue description to include both things as action items.

[2021-06-14 22:51] jcfilben commented on #5318
Thanks for the follow up @jsejcksn. This issue was fixed on codesandbox's end but Grommet should still remove require statements to conform with ESModules. I am closing this issue since codesandbox is working with Grommet. The removal of require statements in grommet can be tracked through issue #4895

[2021-06-14 22:51] #5318 closed

[2021-06-15 04:07] #5132 closed

[2021-06-15 06:58] ypinneka opened #5322 "Styling issues when a JSX Element (e.g., TreeView) is passed as an option to Select"
Adding codeSandBox, https://codesandbox.io/s/dank-sea-t2onf?file=/src/App.js

In the above example when the JSX.Element is selected, the element's background is set to selected background. Do we have an option to overwrite this ?

[2021-06-15 12:53] CopyJosh opened #5323 "Codesandbox.io examples using old dependencies"
The one that I've ran into an issue with is `"styled-components": "^4.0.0",` where some bugs with props and attributes have been resolved in v5, and so testing components in the sandbox may yield unexpected results; but some of the other packages probably need updating too.

Example link from `Box` docs: https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=/box&module=/src/Box.js&fi

[2021-06-15 16:44] ShimiSun commented on #5322
Here is a couple of theme settings you can try and keep us posted how it goes:
https://github.com/grommet/grommet-theme-hpe/blob/37bacaadce825fd9f1472fe855412d3252ea725a/src/js/index.js#L85
https://github.com/grommet/grommet-theme-hpe/blob/37bacaadce825fd9f1472fe855412d3252ea725a/src/js/index.js#L255

[2021-06-15 17:10] #5317 closed

[2021-06-15 20:11] ShimiSun commented on #5260
This issue might be related to grommet-icons more than grommet.

[2021-06-15 20:13] ericsoderberghp commented on #5256
This issue might be related to grommet-icons more than grommet.

[2021-06-15 20:20] ShimiSun opened #5324 "DataChart Accessibility Audit"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2021-06-15 20:49] ShimiSun opened #5325 "Calendar/DateInput Accessibility Audit"
Related to #4068

### Expected Behavior

1. User using a screen reader should be able to tab to the group of days in the calendar and then use the arrow keys to get to the individual days to select a value. If the user hits tab again, they will be taken out of the group of days and into the next element.

2. Next and Previous buttons should indicate to the screen reader user that the view had chan

[2021-06-15 20:50] ShimiSun commented on #5325
@amandadupell

[2021-06-15 21:58] amandadupell commented on #5324
### Expected Behavior

The chart should relay some information about the data in the chart to users with screen readers.

### Actual Behavior

No data from the chart is relayed to the user effectively. User can tab to content but either no data is read aloud or the information is confusing and out of place.

### Video exhibiting the issue

https://user-images.githubusercontent.com/38971752/1221283

[2021-06-15 22:12] amandadupell commented on #5325
Related to #4068

### Expected Behavior

User using a screen reader should be able to tab to the group of days in the calendar and then use the arrow keys to get to the individual days to select a value. If the user hits tab again, they will be taken out of the group of days and into the next element.

### Actual Behavior

When the user tabs to the group of days, the entire calendar and the values

[2021-06-15 23:32] ericsoderberghp commented on #2976
Two years later ...

- I think we should remove `react-desc` entirely.
- I think we should out the propTypes in a separate file, that makes the typescript typings and prop types consistent. I suggest this because I think there is enough complexity in some of the components typings that adding them into the component file would make it a bit unwieldy.
- I think all of the documentation should be in

[2021-06-16 00:23] ericsoderberghp commented on #5233
It sounds like what you are asking for might be available via `DataChart`. https://storybook.grommet.io/?path=/story/visualizations-datachart-axis--axis shows an example, but you could use `fine` for the x-axis granularity to see all values.

[2021-06-16 16:45] ShimiSun commented on #5093
Thank you for reporting! @DolceTriade had contributed a fix for this issue and it will be available on our next grommet release! 💟

[2021-06-16 16:45] #5093 closed

[2021-06-16 18:56] jcfilben commented on #2976
If I am understanding correctly, the `doc.js` files are being completely removed, the `index.d.ts` files are not being changed and a new file is being added, `propTypes.js` that has the propTypes that were originally in the `doc.js` file?

isn't PropTypes coming from react-desc?

[2021-06-16 18:59] ericsoderberghp commented on #2976
yes

It is today. The proposal is to add a propTypes.js that will just contain the `prop-types` stuff. https://github.com/facebook/prop-types#readme

[2021-06-16 20:51] #4004 closed

[2021-06-17 01:12] ryanadhibit opened #5329 "Grommet compatibility on browser of Android 5"
Grommet caused trouble and make the web cannot load on stock Browser 5.1.1 of Android 5

### Expected Behavior

Web should be run normal on older version of Android

### Actual Behavior

Grommet made the web cannot load and shows an error on web console
When I tried to remove Grommet on my web, it runs fine

### URL, screen shot, or Codepen exhibiting the issue

![Screenshot 2021-06-16 223250](htt

[2021-06-17 18:35] #5306 closed

[2021-06-17 20:48] MikeKingdom commented on #5329
@ryanadhibit I haven't had much luck debugging this in an emulator. I've tried Android Studio's emulator running 5.1.1 Lollipop. It seems to have trouble with most React apps. The browser is quite old
![image](https://user-images.githubusercontent.com/12054362/122470127-f0edad00-cf7a-11eb-9da8-7ced8ca05a71.png)

What emulator were you using and how'd you get the web console in the browser?

[2021-06-17 21:25] #5312 closed

[2021-06-18 00:56] taysea opened #5333 "DateInput with initial value of [] does not allow required validation in FormField"
### Expected Behavior

If a DateInput has a value of [] (indicating the user will be selecting a range of dates), the FormField should interpret this as an empty value so that required validation will still flag the input.

### Actual Behavior

When value of dateinput is initialized as [], it doesn't receive required validation ([] is interpretted as a value).

### URL, screen shot, or Codepen exh

[2021-06-18 01:27] ryanadhibit commented on #5329
@michaelgilley I am using Android Studio with this emulator

![Screenshot 2021-06-17 163240](https://user-images.githubusercontent.com/70564966/122491654-92720e80-d00e-11eb-8026-f4def67dfe88.png)

if you are running emulator on android studio and open the browser inside the emulator, then on the desktop chrome you can go to  `chrome://inspect/#devices` and you will be able to inspect the emulator'

[2021-06-18 03:37] ryanadhibit commented on #5329
@MikeKingdom

Hi, just trying thins here and there
applying both these solutions seems make it working

- https://stackoverflow.com/a/53633307/13311122

- https://stackoverflow.com/a/56882937/13311122

[2021-06-18 17:50] MikeKingdom opened #5337 "Add I18N messages to Grommet"
Add a global messages property to `Grommet`.

[code]

Each component that currently has its own `messages` property can use those definitions first. If not defined, it will use the format function to get the text. The default format function will look in this messages passed to Grommet.

This will require messages to have unique keys so the default format function will need to first look for thing

[2021-06-18 18:26] amandadupell commented on #5325
after looking more into this issue, the current behavior of tabbing to the group of dates and then using the keyboard arrow keys to navigate around in the grid is acceptable. the pain-point now is relaying the information of the active date back to a user via a screen reader so they can know what date they are on.

some research was done regarding possible solutions to controlling tabbing and othe

[2021-06-18 19:49] MikeKingdom commented on #5329
@ryanadhibit Thanks for the tip! I'm glad to hear the polyfills help it run on the older browsers.

Given that's the case I'm closing this issue. Thanks for the great work in this area!

[2021-06-18 19:49] #5329 closed

[2021-06-18 20:18] #5247 closed

[2021-06-18 20:28] ericsoderberghp commented on #5224
Still not able to reproduce and needing guidance on how to. Closing for now due to inactivity.

[2021-06-18 20:28] #5224 closed

[2021-06-18 23:59] jennifer-manriquez commented on #4955
Hi, I'm new collaborating on OS projects, is anyone already working on this? I would like to help with this enhancement :)

[2021-06-21 16:00] taysea opened #5350 "Required validation does not occur on CheckBoxGroup and FileInput when values are removed"
### Expected Behavior

If a user selects, then unselects all items from a required CheckBoxGroup and attempts to submit the form, required validation should still appear.

Note: Potentially will be resolved by or is related to https://github.com/grommet/grommet/pull/5349
### Actual Behavior

Once a user selects, then unselects all items, the value of CheckBoxGroup is coming back as an empty array

[2021-06-21 20:57] #5333 closed

[2021-06-21 20:57] #5350 closed

[2021-06-21 22:19] jcfilben opened #5353 "Tracking removal of react-desc"
### Expected Behavior
`react-desc` should be removed from grommet and the documentation for each component should be contained in the grommet-site repo.

Original discussion about removing `react-desc` #2976

### Actual Behavior
Grommet is using `react-desc` for documentation and the docs are in the grommet repo

### Steps:
In the steps below replace <component> with the name of the component you

[2021-06-21 22:20] jcfilben commented on #2976
Update:
I created a pull request on both the grommet-site and grommet repo for the Anchor component showing the steps needed to remove react desc and move the documentation to the grommet-site. I opened a separate issue [here](#5353) to track which components need to be changed, and outlined the steps to do so in both repos. The new issue already contains a lot of information which is why I didn't

[2021-06-21 23:46] ericsoderberghp commented on #2976
Superceded by #5353

[2021-06-21 23:46] #2976 closed

[2021-06-22 04:15] #5287 closed

[2021-06-22 04:55] CopyJosh commented on #2699
Came across this, and think that this issue may possibly be laid to rest from the introduction of `forwardedAs` prop according to the last comment on the issue at `styled-components`.  https://github.com/styled-components/styled-components/issues/1981#issuecomment-548860710

How the example from the sandbox would work now:

[code]

[2021-06-22 16:32] taysea opened #5354 "Enhancement - Skeletons"
### Expected Behavior

Explore how we might implement a skeleton view of components.

### Purpose & Motivation

Ease transition from no content to content by providing users with visual representations of content to be loaded while waiting for data to be returned.
- Provide sense of progress through visual blocking and motion.
- Provide indication for the types of content to be loaded and signal t

[2021-06-22 18:21] #5261 closed

[2021-06-22 20:27] jcfilben commented on #2699
I'm wondering if we should just add a note to the Box documentation for `as` saying that if Box is being extended with styled-components `forwardedAs` should be used instead

[2021-06-22 20:39] jcfilben commented on #5286
The theme isn't meant to be passed to DataTable and instead should just be passed to `<Grommet>` so I don't think the typescript theme definition shouldn't be added to DataTable, it is not documented that way and it is not included in any other components

[2021-06-22 22:27] CopyJosh commented on #2699
That might be worth noting, but it would have to be added to all components that use the `as` prop, of which there are quite a few I think.

I would actually love to see a tutorial added to the `getting started with Grommet` docs that explained in a best practice how to extend theming and use styled-components in general with Grommet. I know I would personally benefit greatly if someone were willi

[2021-06-23 01:20] jennifer-manriquez commented on #4955
Hi again! If it is okay I would like to try to make a new property loadMore in the DataTable component, which would take a boolean value that if true displays a button when the currently available items are rendered. If the button is clicked, then the button would get eliminated and the onMore function could be called allowing the rendering of more items.

[2021-06-23 12:18] LeComptoirDesPharmacies opened #5358 "Calendar onEnter issue"
### Expected Behavior

When you use the enter key outside the calendar it should not crash

### Actual Behavior

[code]

### URL, screen shot, or Codepen exhibiting the issue

Reproductible on demo => https://v2.grommet.io/calendar

### Steps to Reproduce

1. Select a day
2. Put your cursor outside the calendar
3. Press the enter key

### Your Environment

- Grommet version: 2.16.2
- Browser Name

[2021-06-23 13:59] ericsoderberghp commented on #4955
Hi Jennifer! Sorry we missed your comment from a few days ago. This is exactly the right way to start contributing, asking about what the design and API surface might look like and having a discussion on these aspects first.

I'm in favor of the general concept:
- When the user scrolls to the end of the available data, she is presented with a Button. When she clicks the Button, more data is loaded

[2021-06-23 17:20] rodrigoea opened #5360 "[Button > Badge]: Using badge prop in button doesn't show the badge"
### Expected Behavior

Using the prop `badge` in a `Button` should display the badge itself as we see in Storybook:

![image](https://user-images.githubusercontent.com/1905961/123140374-99918600-d42d-11eb-89f2-64d068580680.png)

### Actual Behavior

When I'm passing `badge` to the `Button` component, with any props, it's not showing the badge.

### URL, screen shot, or Codepen exhibiting the issue

[2021-06-23 17:28] ericsoderberghp commented on #5360
It seems to be working here: https://v2.grommet.io/button?c=DwIQrgLhD2B2AEAbAhgIwKaILwCIUcR3ggEsAHXNADyNWQBMBzdLAbwCYAGAXwHoA+IA

I'm wondering if it requires grommet version 2.17.3?

[2021-06-23 17:34] rodrigoea commented on #5360
@ericsoderberghp weird, because even changing the version in this codesandbox to `2.17.3`, it doesn't work, it also throws an error now:

![image](https://user-images.githubusercontent.com/1905961/123142656-0e65bf80-d430-11eb-99b5-837888f4c872.png)

[2021-06-23 17:43] rodrigoea commented on #5360
Updated to `2.17.3` in my local project and it worked, thanks for the quick support :)

[2021-06-23 17:43] #5360 closed

[2021-06-23 22:20] jcfilben opened #5364 "Search in DataTable/Served story not working"
### Expected Behavior
The search in the DataTable Served story should work

### Actual Behavior
If you type in the search no results are displayed, even after deleting what you typed and leaving the field empty the datatable doesn't return to its original state

### URL, screen shot, or Codepen exhibiting the issue
<img width="944" alt="Screen Shot 2021-06-23 at 4 06 27 PM" src="https://user-image

[2021-06-24 06:46] jennifer-manriquez commented on #4955
Hi! Addressing your questions. Maybe there could be a change in the button’s state displaying that the information is being loaded, maybe show an icon, the button could even get disabled in the meantime. I was thinking it could be something like this:
![DesignIdea2](https://user-images.githubusercontent.com/56976945/123215325-ef961600-d48d-11eb-8ece-7974c5a46b4c.gif)

I would also be glad to know

[2021-06-24 10:33] atoy40 opened #5366 "Reset Select programmaticaly"
Hello,
I've a Select where options is a list of object.
the "value" attribut is "attached" to a react hook state and the onchange handler set the state value.

To reset the Select value and display the placeholder again (a typical form reset behavior) I've tried to set the state value to undefined, but it has no effect on the Select.

### Expected Behavior

Reset the Select value and display the p

[2021-06-24 15:26] jcfilben commented on #5366
Here is an example of a Select with a reset button https://storybook.grommet.io/?path=/story/input-form-uncontrolled--uncontrolled

[2021-06-24 15:34] smalltimer opened #5368 "'Justify' text-alignment"
I would like to justify the text on a series of blog-pages. My plan is to create a `Box` element in grommet and then insert the output from a remark-based plugin for gatsby ([link](https://www.gatsbyjs.com/plugins/gatsby-transformer-remark/)) inside this box. I am not sure how to go about doing this. It is a blog, and there will be lots of paragraphs per post - I would like to make everything 'jus

[2021-06-24 15:41] #5358 closed

[2021-06-24 16:52] atoy40 commented on #5366
thks @jcfilben, but in this example (and other form examples) the Select is not "managed" using value/onchange attributes as you can do with formik or with a simple state as I did in my example.

[2021-06-24 16:54] jcfilben commented on #5366
Here is a controlled version of this example where the Select uses `value` and `onChange` https://storybook.grommet.io/?path=/story/input-form-controlled-input--controlled-input

[2021-06-24 16:59] atoy40 commented on #5366
Yes but it's not reset programmatically, it just reacts to the reset button of the form.
But how to reset de Select value from code ?

[2021-06-24 18:35] jcfilben commented on #5366
Ah okay I see, here is a codesandbox that is reseting the select value https://codesandbox.io/s/grommet-v2-template-forked-6g7kw?file=/index.js

Note: another option is to use the 'clear' prop in Select https://v2.grommet.io/select#clear

[2021-06-24 18:39] ericsoderberghp commented on #4955
We've tended to not want to change the Button. How about replacing the Button with a Spinner? Here are some visuals: https://designer.grommet.io/?id=DataTable-load-more-eric-soderberg-hpe-com

[2021-06-24 19:26] #5364 closed

[2021-06-24 19:32] canyongrace opened #5370 "Form validation not occurring on Form load/mount when input values are manually set"
### Expected Behavior

Background: When dynamically adding and removing items from a form, we can't use formValues (controlled form) due to issue #5248. The alternative for our use case is to set the value of a TextInput field (part of a FormField) manually (although technically I believe this is still controlled). We expect the FormField validation to run immediately when the Form is mounted.

##

[2021-06-24 19:52] woss commented on #2738
that works to a point. if you would add this to a sidebar navigation menu, you need to add the `activeClassName` or `activeStyle` which do not work with the `theme.active` or any of the grommet theme styles

[2021-06-24 19:58] samuelgoff opened #5372 "DataTable: Need method to style rows for zebra-stripes + multi-select + hover states"
Currently, there is no way to target `DataTable` styling for the row hover state differently when a multi-select and/or hover state styling is applied to a zebra-striped table.

### Expected Behavior

We need to combine custom `DataTable` styling for zebra-stripes + multi-select + hover states.

### Actual Behavior

As a result, if you apply custom styling for zebra striping & different styling fo

[2021-06-24 23:01] halocline opened #5373 "Grommet - Upgrade dependencies with MAJOR version changes"
Continuation of https://github.com/grommet/grommet/issues/5311

There are 17 devDependencies and 1 dependency which have major version bumps. Jest, @testing-library, and webpack are the most notable.

[2021-06-24 23:03] halocline commented on #5311
Upgraded all MINOR/PATCH versions. Created https://github.com/grommet/grommet/issues/5373 to account for the MAJOR version upgrades.

[2021-06-24 23:03] #5311 closed

[2021-06-25 14:12] atoy40 commented on #5366
ok, so the solution is to set an object which does not exist in the options array.
It sound to me better if setting value to undefined would have the same behavior :)

Anthony.

[2021-06-25 18:21] jennifer-manriquez commented on #5368
Hi, If it is okay I would like to help with this issue! :)

[2021-06-25 18:38] jennifer-manriquez commented on #5368
Hi if it is okay I would like to help with this issue! :)

[2021-06-25 18:57] halocline commented on #5368
That would be much appreciated. Consider it yours @jennifer-manriquez!

[2021-06-25 20:45] LucasCarrias commented on #5368
I've started working on this issue earlier as well. Will be any problem If I create a PR for this issue?
I've already made some commits with the changes, It shouldn't take longer to finish it.

I'm sorry to not comment here as soon I've started working with this issue.

[2021-06-28 15:00] Tbhesswebber opened #5382 "`theme.global.input.font.size` does not accept custom sizes"
### Expected Behavior

Setting `theme.global.input.font.size` to `"16px"` should change the size of the text to be 16 pixels.
Setting `theme.global.input.font.size` to `"small"` should change the size of the text to be "small".

### Actual Behavior

Setting `theme.global.input.font.size` to `"16px"` breaks the entire rendering of the page.
Setting `theme.global.input.font.size` to `"small"` change

[2021-06-28 15:36] #5368 closed

[2021-06-28 16:03] taysea commented on #5293
Closing this issue because of lack of activity and it appears that Layer is working as expected.

[2021-06-28 16:03] #5293 closed

[2021-06-28 17:48] LucasCarrias commented on #5382
I was able to reproduce the error. Thanks for sharing that.

I'd like to work with this issue.

[2021-06-28 17:56] #5337 closed

[2021-06-28 19:24] #3210 closed

[2021-06-28 19:27] taysea commented on #5322
This seems to be related to [this PR](https://github.com/grommet/grommet/pull/5296) which added the selected styling to custom child elements. Any thoughts on this @jcfilben?

[2021-06-28 19:51] jcfilben commented on #5322
The above PR, #5296 changed Select so that custom children have the selected styling applied if the child is a string. For other types the selected styling is not applied, so I don't think it would be affecting this example. Also, if you go back to previous versions of grommet in the codesandbox example the selected styling is still being applied

[2021-06-28 20:29] taysea commented on #5248
Wondering if we want this as out of the box behavior. Thinking about it from a multi-step form where various steps are mounted/unmounted or if some set of inputs were inside a collapsible for example. Would we want to be deleting the form values in these cases? or in a use case like the one presented would it make more sense for the caller to remove the form value?

just thinking out loud

[2021-06-28 23:33] taysea commented on #5322
Hey @ypinneka -- I'm looking more into the CodeSandbox you shared. The pattern of having a nested menu inside a Select option isn't a pattern we'd typically recommend because it doesn't create a great experience for keyboard navigation/screen readers.

I understand that this may be a simplified implementation from what your team has implemented in an application. Would you mind sharing a little mo

[2021-06-28 23:36] taysea commented on #5248
Summarizing an offline discussion:

For controlled forms, it is up to caller to handle which values are held. Grommet won't touch anything, even if input is no longer visible in UI.

For uncontrolled forms, only the values for inputs that are currently in the UI will be contained in the form value.

[2021-06-29 10:38] protek-vrn opened #5394 "DataTable pagination with a remote source"
Hey guys,

Could you please point out to the docs or samples where to find info about using the pagination for the DataTable component in case the data source is a remote one?

The problem is, the table contains thousands of records, I don't want to transfer all the data to the browser. I'd like to render only the current page, and show the pagination buttons.

### Expected Behavior

Only data for

[2021-06-29 14:12] halocline commented on #5394
Hi @protek-vrn, @taysea recently created a CodeSandbox demonstrating this behavior:  https://codesandbox.io/s/pagination-example-load-data-piugl?file=/index.js

- You'd make your fetch API call inside this example's `getNextData()`.
- `step` gets set to the number of records per page
- Pagination's `numberItemsProp` represents the total number of records needed to be paginated, so you'd want to ca

[2021-06-29 16:09] ericsoderberghp commented on #4955
For option 1, maybe `onMore={{ function: () => {}, buttonProps: true | {} }}`.
For option 2, maybe `moreButton=true | {}`, which would align a bit closer on the term "more" with "onMore".

I'm inclined more towards the second option as the "on" prefix to "onMore" feels like it value should always be a function.

[2021-06-29 17:45] protek-vrn commented on #5394
hey @halocline,

This works just fine, thanks!

[2021-06-29 17:45] #5394 closed

[2021-06-29 19:22] mcorrig4 opened #5401 "Theme's `formField.border.size: "all"` and `formField.error.background.opacity: "weak"` are not supported by TypeScript"
I am using grommet in a TypeScript project. When I follow the storybook [Form - Custom](https://storybook.grommet.io/?path=/story/input-form-custom--custom) I get type errors.

### Expected Behavior

Project will build.

### Actual Behavior

`border.side` error
[code]

`error.background.opacity` error
[code]
It is very strange because it says 'string' not compatible with ... |"weak"|...
I've also

[2021-06-29 19:28] #5197 closed

[2021-06-29 19:46] LucasCarrias opened #5402 "StyledTextInput doesn't work if props size is a custom value"
### Expected Behavior

Any component that uses StyledTextInput should accept custom size values.
E.g:
[code]

### Actual Behavior
The component is not rendered and the "TypeError: data is undefined" error is raised.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-lq58q?file=/index.js

### Steps to Reproduce

1. Import one of these componen

[2021-06-29 20:50] MLRichmond opened #5403 "Checkbox focus state is stuck if the checkbox is disabled"
### Expected Behavior

Focus should still respond appropriately after a checkbox has been disabled and subsequently re-enabled.

### Actual Behavior

Focus borders become locked in place once a checkbox has been disabled.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/unruffled-browser-hewpg?file=/src/CheckBox.js

### Steps to Reproduce

1. Add a checkbox
2. Click

[2021-06-30 16:47] jcfilben commented on #3173
Closing since #5155 was merged

[2021-06-30 16:51] jcfilben commented on #5366
@ericsoderberghp do you know if there are any reasons we aren't currently supporting setting the value to `undefined` as a way to clear the select?

[2021-06-30 16:56] ericsoderberghp commented on #5366
Setting `value={undefined}` makes it an uncontrolled input. I think the essence of this issue is how to programmatically change a controlled Select to have no value. For TextInput, one can do `value=""`. We need an equivalent for Select. We cannot use `undefined`. Perhaps `value={null}`? or maybe even `value=""`?

[2021-06-30 17:02] jcfilben commented on #5366
Setting `value=""` is currently working as a way to clear the select as shown in this code sandbox https://codesandbox.io/s/grommet-v2-template-forked-6g7kw?file=/index.js so I think we can close this issue

[2021-06-30 17:58] shc023 opened #5406 "Major performance issue with `Box` re-rendering all containing `styled-components`"
A [recent commit](https://github.com/grommet/grommet/pull/5158) seems to be causing major performance issues for 2.17.3 - when a Box re-renders, any descending styled-components within it now gets re-rendered even if they're contained in a memoized parent that's wrapped in React.memo, because it updates the theme for the styled-components theme context even if there's no value change.

Here's a mi

[2021-06-30 18:21] ypinneka commented on #5322
I could not share the screenshots as this is a public forum, but have sent them in chat depicting our use case.

Discussing with our team, and thinking of flattening the path, something which grommet supports. Will keep you updated !

[2021-07-01 10:02] NamrataPatel29 opened #5409 "react components should be allowed as labels"
i am trying to have customized options for my select component but if i use a react component as a label, it gets displayed in the option list . But on selection of an option, nothing gets displayed in the select field

i am using an array of options and each array element is an object with label and value as keys .

Is there a way i can use react components as label ?

[2021-07-01 11:05] Xtrazyx commented on #3536
Any update please or a proper work around ?

[2021-07-01 17:36] #5406 closed

[2021-07-01 18:52] LiveFreeAndRoam opened #5411 "Support drag and drop reordering of Grid positions, similar to List order"
Can the List order feature be supported in the Grid component?  It would be very handy for rearranging Card components on  a Dashboard page.

I've been messing around with a few patterns in my GridOrder CodeSanbox, but don't like any of them 😕.

Currently, the pattern I use for rearranging the dashboard is to pop up an orderable List control box.  Though, this is not a great UX.  Instead, I would

[2021-07-01 21:24] britt6612 commented on #5401
@mcorrig4 I was playing around with this in a codesandbox and was not able to recreate the issue can you look at what I made and see if there was something else you had ?

https://codesandbox.io/s/grommet-ts-textinput-type-forked-pslg2?file=/src/index.tsx

Let me know if you were doing it another way and I can look more into the issue once I'm able to recreate the bug 👍

[2021-07-01 22:59] #5248 closed

[2021-07-02 00:12] jennifer-manriquez commented on #4955
I have been working on option 2, just need to finish some details and hope to upload something soon. Also you had asked about the feedback if data takes long to be retrieved. I was thinking maybe it could look like [this](https://designer.grommet.io/datatable-?id=moreButton-jennymanb-gmail-com&comments=true).

[2021-07-02 03:22] Lukazovic commented on #5143
Hey @meekrhino and @ShimiSun. I think this issue is fixed by #5028.

Some console errors are displayed when the file is removed but I think it only affects the storybook examples.

https://user-images.githubusercontent.com/54550926/124215867-4376af80-dacb-11eb-8ac7-0c0e291e3764.mp4

[2021-07-02 15:13] ericsoderberghp opened #5416 "clean up babel messages when testing"
When running `yarn test`, the console shows multiple messages like:

[code]

These should be addressed.

[2021-07-02 15:20] ericsoderberghp opened #5417 "#stable branch isn't being published"
The grommet #stable branch automatic publishing is broken.

https://app.circleci.com/pipelines/github/grommet/grommet/9049/workflows/feed23d3-d388-45b5-bd6d-046a6ab0089f/jobs/44633

[code]

The problem appears to be related to verifying the grommet@hpe.com email address with GitHub.

[2021-07-02 18:46] jennifer-manriquez commented on #5283
Hi, I would like to work with this issue :)

[2021-07-02 18:47] ericsoderberghp commented on #5283
great!

[2021-07-06 16:42] taysea commented on #5322
I am going to close this issue since the offline discussion of flattening the path would work with current Select behavior. If needed, we can open this again in future.

[2021-07-06 16:42] #5322 closed

[2021-07-06 17:46] #5373 closed

[2021-07-06 19:52] ericsoderberghp opened #5421 "Storybook build failures"
Storybook fails to build many stories

### Expected Behavior

No errors or warnings in the browser console

### Actual Behavior

Many messages like:
![Screen Shot 2021-07-06 at 12 51 38 PM](https://user-images.githubusercontent.com/11637956/124658683-e9724300-de58-11eb-8637-27cde958c2fa.png)

### Steps to Reproduce

Open https://storybook.grommet.io/?path=/story/all--all
Check browser console

[2021-07-06 19:57] ericsoderberghp commented on #5421
This appears to be restricted to typescript stories.

[2021-07-06 19:59] ericsoderberghp commented on #5421
Looks like it's related to updating `ts-loader` to v9, which doesn't support webpack v4.

[2021-07-06 20:12] jennifer-manriquez commented on #5283
Hi! I have been doing some research on this. I had though that embedding infiniteScroll in the fragment that controls the expanded group could work, but I guess that's not just it, for now I have only been getting it to render the first {step} elements.  The render marker does seem to be setting, but I guess I must still be missing something. Also, I was wondering if each group should have its own

[2021-07-06 21:55] #5421 closed

[2021-07-07 14:12] ischoe opened #5426 "TextInput suggestions dropdown issue"
Hi, i use the Textinput with suggestions from api calls.
As my limit of results is always 5, the dropdown is not opening after i doubleclick inside to remove the value and type something new. I figured out that there is this suggestionsAtClose check, which might be the reason for this.
[code]

You can also see the issue in the storybook :
https://storybook.grommet.io/?path=/story/input-textinput-d

[2021-07-07 18:31] #5266 closed

[2021-07-07 18:39] #5402 closed

[2021-07-07 18:47] #5325 closed

[2021-07-07 19:56] jcfilben commented on #5401
I was unable to reproduce this as well. I used the code from the Form/Custom story and didn't see any typescript errors: [codesandbox](https://codesandbox.io/s/grommet-ts-textinput-type-forked-s286r?file=/src/index.tsx). @mcorrig4 can you check that you are using the latest version of grommet? If you are using the latest version can you share a codesandbox that reproduces the error?

[2021-07-07 20:45] jcfilben commented on #5382
Closing since #5399 was merged

[2021-07-07 20:45] #5382 closed

[2021-07-07 22:27] jcfilben commented on #5143
Closing since #5028 was merged and #5428 fixed the storybook examples

[2021-07-07 22:27] #5143 closed

[2021-07-07 22:43] amandadupell opened #5429 "Fix Calendar Accessibility with Selected Dates"
Related to #4068 and #5319

### Expected Behavior

When the user selects a date or a range of dates, the selected date(s) should be relayed to the user via the screen reader in some way.

### Actual Behavior

When a user selects a date or a range of dates, nothing is relayed to the user that a date was selected or a change occurred.

### Video exhibiting the issue

https://user-images.githubuserco

[2021-07-08 00:37] #5032 closed

[2021-07-08 12:45] kachar opened #5430 "[TS] FormField is missing `reverse` property in TS definitions"
`FormField` component is missing `reverse` property in the type definitions although it works okay when provided

https://github.com/grommet/grommet/blob/00e0878202df5d7e0ae93bb2f2836c576f71c1eb/src/js/components/FormField/index.d.ts#L5-L36

### Expected Behavior

No error

### Actual Behavior

[code]

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubuserco

[2021-07-08 20:18] jcfilben commented on #5366
Closing since I think this issue is resolved with the use of `value=""` to reset the select as demonstrated in the codesandbox above.

[2021-07-08 20:18] #5366 closed

[2021-07-08 22:02] jcfilben commented on #5286
Hey @emonakov I'm going to go ahead and close this issue since DataTable should be themed through the `<Grommet>` component

[2021-07-08 22:02] #5286 closed

[2021-07-09 13:02] DouglasPds commented on #5321
Hi, Can I try to implement this?

[2021-07-12 16:18] jamie29w opened #5435 "[Bug] Select value is not displayed if `valueKey` is set to 'value'"
When passing an array of objects as the `options` and the `valueKey` is set to `'value'`, the `value` does not render correctly.

### Expected Behavior

A `valueKey` prop set to `'value'` should behave like any other `valueKey`.

### Actual Behavior

A `valueKey` prop set to `'val'` works as intended. But a `valueKey` set to `'value'` does not.

### URL, screen shot, or Codepen exhibiting the issu

[2021-07-12 16:28] jcfilben commented on #4288
As mentioned in #5264 this issue has been fixed. Here is a video demonstrating navigating the select with the keyboard, pressing the 'm' and then 'z' keys and the select correctly scrolling to both of them.
![Jul-12-2021 10-16-06](https://user-images.githubusercontent.com/54560994/125323064-a2be9600-e2fb-11eb-9a93-05609feaac3d.gif)

[2021-07-12 16:28] #4288 closed

[2021-07-12 17:08] amandadupell opened #5436 "Fix Calendar Accessibility with Blank Dates"
Related to #4068

### Expected Behavior

When a user interacts with a calendar with "showAdjacentDays" = false, the blank days should not be a part of the table and/or there needs to be proper context given to those with screen readers.

### Actual Behavior

With a calendar with "showAdjacentDays" = false, a user needs to go through the blank dates in the table. The screen reader reads "blank" wit

[2021-07-12 18:06] amandadupell opened #5437 "Fix DateInput Accessibility for Input Field and Calendar Pop-up"
Related to #4068

### Suggestions

A user needs to be alerted of a new layer popping open, like how the calendar does when the user navigates to the input field. The user can select from the table of dates when the calendar pops up, but the connection between the input field and the pop-up calendar may be confusing to someone using a screen reader.

### Expected Behavior

When a user goes to enter

[2021-07-12 18:53] MikeKingdom commented on #5435
@jamie29w Your example is not really handling `value` in handleChange correctly for how you are using `<Select>`. It seems to be trying to get the string for `val` or `value` from your option object and use that simple string as the `value` property for the `<Select>`. However, if you are passing Objects in the `options` property, your `value` property need to be one of those objects, not just the

[2021-07-12 18:53] #5435 closed

[2021-07-12 21:17] halocline opened #5438 "Enhancement - Explore Filters Component"
### Expected Behavior

How might Grommet implement a component allowing users to easily apply filters to a set of data results?

### Purpose & Motivation

Provide implementors a convenient way to create experiences for users to affect data driven views.

Example data-driven views:
- List displaying a feed of latest posts or activities
- Grid presenting applications available in an app store catalo

[2021-07-12 21:54] jcfilben commented on #5409
Here is an example of a component being used as a label in Select https://storybook.grommet.io/?path=/story/input-select-children--children

[2021-07-12 21:59] jcfilben commented on #5208
Closing since #5408 was merged and fixed the issue

[2021-07-12 21:59] #5208 closed

[2021-07-12 22:09] jamie29w commented on #5435
Hey @MikeKingdom I really appreciate your quick response and the helpful code snippet. This saved our team a ton of time refactoring code 🙌🏼

[2021-07-12 22:35] MikeKingdom commented on #5435
My pleasure. If you have other questions or ideas feel free to reach out here or in the Grommet slack channels.

[2021-07-13 15:29] halocline commented on #5416
Left a comment on the open PR with my findings: https://github.com/grommet/grommet/pull/5419#issuecomment-879186961

[2021-07-13 17:16] haysclark opened #5440 "TextInput with suggestions Drop will close when TextInput is re-selected"
There is a bug when using a TextInput with a suggestions Drop. If the user clicks on the TextInput field to show the suggestions, a 2nd click of the TextInput will close the suggestions. The 2nd mouse click triggers the Drops onClickOutside() event, which subsequently closes the suggestions.

Use case: The user selects the TextInput to start a search, but then tries to move their cursor via a mous

[2021-07-13 19:43] canyongrace commented on #5370
In addition, it appears if an element is removed and re-added (say the user checks a box to enable functionality), Form validation does not occur on any pre-existing values in the input fields. There is no way for the caller to trigger the validation method manually.

@ypinneka @shreyashah7

[2021-07-13 21:14] nawbean opened #5441 "Type definition of onOrder in the List component has bug"
In a typescript project, the user cannot use onOrder function of the List component, if the onOrder needs to use the ordered item list.
### Expected Behavior

`onOrder?: (orderedData: ListItemType[]) => void;`

### Actual Behavior

`onOrder?: () => void;`

### Your Environment

- Grommet version: 2.17.2
- Browser Name and version: Chrome 91.0.4472.114
- Operating System and version (desktop or mob

[2021-07-13 22:29] #5416 closed

[2021-07-13 22:52] #5253 closed

[2021-07-14 09:18] AlbertoTonegari opened #5443 "DateInput field does not update on state change"
The `DateInput` component does not update the input `value` when the state for `value` changes, it only updates the calendar `value`.

### Expected Behavior
When the state for the `value` prop of the `DateInput` changes, both the calendar and input field should be updated.

### Actual Behavior
On the state change for the `value` prop only the calendar updates with the new value.

### URL, screensh

[2021-07-14 16:27] #5441 closed

[2021-07-14 20:03] maitlandmarsh opened #5445 "Menu incorrectly includes menu button when flipped vertically due to space availability"
### Expected Behavior

When using drop alignment for a menu the menu button itself is not included in the drop content.
Expected behavior is that this is true whether the menu is opened in the expected direction or is flipped due to a lack of available space.

### Actual Behavior

The menu button is included in the drop content when the menu is flipped due to a lack of available space.

### URL, s

[2021-07-14 20:06] maitlandmarsh commented on #5445
Digging through the code a little it appears to have to do with `setAlignControlMirror` and `controlMirror` in Menu.js. The intent behind that seems to be making sure that the drop container includes the menu button on the correct end of the container based on drop direction but doesn't take into account the way that dropAlign doesn't include the menu button at all.

[2021-07-14 23:37] Kevin-Carlos opened #5446 "Extend Grommet Theme Typings"
I was looking for a way to do something similar to `styled-components` and how you can override their `DefaultTheme` to get proper typings for custom theming.

See: https://styled-components.com/docs/api#create-a-declarations-file

I wasn't able to find anything similar for grommet nor a similar issue, however, I could have easily missed one!

Being able to have proper type access to our custom co

[2021-07-15 13:10] alphonso06 opened #5447 "Styled Anchor as Link Ignores Props"
Using Styled Components to style the `<Anchor />` component and then trying to use it as a Link from React Router ignores the default `<Anchor />` props.

### Expected Behavior

Props should still work as intended.

### Actual Behavior

They are ignored after being styled with Styled Components.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-styled-routed-

[2021-07-15 19:01] vujevits opened #5448 "Tabs do not stretch with alignControls="stretch""
### Expected Behavior

Based on the documentation I'd expect the Tab titles to be spread out along the horizontal axis.

### Actual Behavior

It does not effect the layout, the Tab titles remain grouped together without taking the available space up.

### Codesandbox

Try removing and readding `alignControls="stretch", it does not effect the layout.

https://codesandbox.io/s/grommet-v2-template-fo

[2021-07-15 20:43] LiveFreeAndRoam opened #5449 "DataTable with select does not allow pinning the CheckBox column"
Support a method to pin the CheckBox column.

Horizontal scrolling causes the CheckBox column to scroll, rather than be pinned in place.

The CheckBox column scrolls:

https://codesandbox.io/s/datatable-select-horizontal-scrolling-epq16?file=/src/App.js

This was also mentioned in Slack: https://grommet.slack.com/archives/C09QQEG69/p1626320307320600

### Steps to Reproduce

See codesandbox.

### Y

[2021-07-15 21:36] taysea commented on #5438
Some questions I have around how we might build this out is how much of the layout is going to be determined by Grommet vs providing caller with a component they can access and then build their layout accordingly (Similar to what @ericsoderberghp explored with the Column Component).

Would we be able to provide something like `Filter.Search`, `Filter.Control`, `Filter.ClearFilters`, etc. where if

[2021-07-16 16:55] taysea opened #5451 "DataTable — cannot do `onSelect` and `onClickRow` together"
### Expected Behavior

The clickable section of "onClickRow" should not include the selection checkbox so that the user could click on row content and also successfully check/uncheck the box.

### Actual Behavior

The clickable section of the row includes the checkbox, so a user cannot select a checkbox without the `onClickRow` function from being executed.

### URL, screen shot, or Codepen exhibi

[2021-07-16 22:31] MikeKingdom commented on #5283
Since each expanded group is basically a fragment of `<tr>` elements in the same table body,  InfiniteScroll gets confused when trying to calculate what's visible, so it doesn't work to try and have a separate InfiniteScroll for each expanded group. Instead, GroupedBody in DataTable needs a single InfiniteScroll for the entire table body, just like the normal/non-grouped DataTable Body.js does. PR

[2021-07-16 23:57] taysea opened #5454 "Add type to Meter of "semicircle""
### Expected Behavior

It would be nice to have a semicircle meter (half a circle) to support a pattern like this:
<img width="489" alt="Screen Shot 2021-07-16 at 10 46 22 AM" src="https://user-images.githubusercontent.com/12522275/126018692-e2fe739b-8329-4da4-a1fc-5400ea992d5d.png">

This gauge type of meter is fairly common to convey a % of a whole, particularly with status.

### Actual Behavior

[2021-07-17 01:02] thomas-friedrich opened #5455 "Validate function on FormField not getting triggered when used with Select that has array of objects as options"
### Expected Behavior

It should trigger validate function on FormField when selecting options from Select field

### Actual Behavior

When passing strings as options to Select, onValidate gets triggered. However, when an array of options with valueKey and labelKey is configured for Select, validate is not triggered for the form.

### URL, screen shot, or Codepen exhibiting the issue

https://code

[2021-07-18 01:01] LiveFreeAndRoam opened #5456 "Unable to Control CheckBox by Ref"
The `CheckBox checked` property can be changed by ref, but the `CheckBox` icon does not change.

Also, when changing `checked` state from True to False, it requires two attempts before it changes.

This behaviour is different to the HTML `<input type="checkbox" />`

### Expected Behavior

useRef should be able to control a Grommet CheckBox in a similar way that we can control an `<input type="chec

[2021-07-18 03:10] #5283 closed

[2021-07-19 17:50] ericsoderberghp opened #5459 "Use `format` for Calendar announcements"
In TextInput, we use `format()` from `MessageContext` to localize the strings we pass to `announce()`. We should do the same for Calendar.

[2021-07-19 23:23] kyriediculous opened #5461 "What's the use of "secondary" if it doesn't work at all ?"
What is the use of secondary buttons if it doesn't work ?

When extending css only the `primary: boolean` property exists so one can never distinguish between primary and secondary.

[code]

Here the extension for secondary items will never be picked up because the API can't check for it.

![image](https://user-images.githubusercontent.com/22256858/126239793-6df6de56-e900-47c5-8286-f0aef5392c2f.pn

[2021-07-20 06:44] AlbertoTonegari commented on #5443
This issue will be fixed in the next release.

[2021-07-20 15:38] jcfilben commented on #5461
Hi @kyriediculous can you make sure you have `button.default` defined in your theme. In the documentation it says, "Secondary buttons are only available when the underlying theme being used defines button.default."

[Here is a codesandbox ](https://codesandbox.io/s/grommet-v2-template-forked-7hlcu?file=/index.js)demonstrating the secondary button styling working as expected. Let me know if this so

[2021-07-20 15:42] jcfilben commented on #5409
Hi @NamrataPatel29 did the above example help solve your problem? Let us know so we can either close the issue or continue discussion until it is fixed

[2021-07-20 16:20] kyriediculous commented on #5461
When I define button.default existing styling breaks for my primary and secondary buttons as well as any other <button> I have in the DOM

[2021-07-20 22:08] jcfilben commented on #5461
Can you share a codesandbox with the specific styling that is breaking when you add button.default to the theme?

[2021-07-22 12:08] evagm opened #5464 "StyledParagraph doesn't work if props size is a custom value"
### Expected Behavior

Grommet Paragraph component should accept a custom size value.
Example:
`
<Paragraph size="1rem" />
<Paragraph size="1em" />
<Paragraph size="16px" />
`

### Actual Behavior

The component is not rendered and the "TypeError: data is undefined" error is raised.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-g9242

#

[2021-07-22 13:46] britt6612 commented on #5464
@evagm thank you for reporting! It was very similar so I went ahead and opened a quick PR! 👍

[2021-07-22 14:31] #5464 closed

[2021-07-22 14:33] evagm commented on #5464
That was the quickest turnaround for an issue if I've ever seen one! Thanks @britt6612!  🙌

[2021-07-22 15:42] ggiller opened #5466 "Unable To Make Updates To Masked Input"
When using the Masked Input in the documentation, I am currently unable to make any updates to the input field

### Expected Behavior

When clicking into the masked input and selecting a number for hours, that number should then be added to the input field and the masked input should move on to the allowing me to select the minutes.

### Actual Behavior

The masked input is currently stuck on show

[2021-07-22 16:31] MikeKingdom commented on #5466
This is because the example on that page always passes `value=""`.

This example needs to define value and onChange such that it's updated like the [storybook example](https://storybook.grommet.io/?path=/story/input-maskedinput-time--time)

Note that making it uncontrolled by removing the value (and onChange) properties doesn't quite work since the drop doesn't quite advance to the next field when

[2021-07-22 20:10] padmacnu opened #5467 "RadioButton: Oh hover, background color shouldn't be seen on Disabled state."
Behavior works fine on disabled Checkbox
![image](https://user-images.githubusercontent.com/6428437/126702948-5a9022e2-7ff3-45a7-980e-9d8aa7470ca5.png)

[2021-07-23 02:47] g4rry420 opened #5469 "Truncate prop of Text component as a child of `div` tag didn't works"
### Expected Behavior
The documenation of Text Component for the usage of `truncate` prop describes that for the `truncate` to work the `Text needs to be contained within a layout component (such as Box or a generic div).` `Text` component as a child of `div` tag should work.

### Actual Behavior
But, `Text` component as a child of `div` tag didn't works. Try out the example below.

[code]

### St

[2021-07-23 12:35] evagm opened #5470 "MarkdownProps needs to include the options prop"
The options prop is missing from the MarkdownProps but looks to be part of the component as well as being listed in the documentation.

### Expected Behavior

I should be able to pass the options prop to the Markdown component.

### Actual Behavior

I get a type error because the options prop isn't part of the [MarkdownProps](https://github.com/grommet/grommet/blob/master/src/js/components/Markdow

[2021-07-26 15:01] halocline commented on #5310
We currently have 95 commits since last release...

[2021-07-26 18:28] srallen opened #5472 "RadioButtonGroup does not pass focus state to children components"
### Expected Behavior

Custom children components for `RadioButtonGroup` should receive focus state along with hover and checked so they can be styled appropriately

### Actual Behavior

Focus state is not passed down to the children components if children is defined.

### URL, screen shot, or Codepen exhibiting the issue

The line in question is https://github.com/grommet/grommet/blob/b001ef3a3ef

[2021-07-26 19:16] #5472 closed

[2021-07-26 22:00] taysea commented on #5455
Hi @thomas-friedrich. Thanks for filing this issue -- I was able to play with your sandbox a bit and saw you just need to adjust your valueKey to use reduce "true" so the value passed to Select's next value is a string. Here is a working solution: https://codesandbox.io/s/selectvalidateonchange-solved-d5d72

Let me know if this resolves your issue and I'll close this issue.

[2021-07-26 22:12] thomas-friedrich commented on #5455
Thanks @taysea , that works. I guess the only small side-effect is that if we have to use reduce=true, the onChange event's value only contains the key, not the label of the selected object (i.e. `{"select-size2":2}` instead of `{"select-size2":{"value":2,"label":"medium"}}`. But that's ok, we can easily retrieve the label from the input data based on the key. I am ok with closing this.

[2021-07-26 22:21] taysea commented on #5455
Awesome, thanks for the update and glad the update on your side is minimal.

[2021-07-26 22:21] #5455 closed

[2021-07-27 16:24] #5459 closed

[2021-07-27 20:35] halocline opened #5475 "Grommet Release - August"

[2021-07-27 20:36] halocline opened #5476 "Grommet - Upgrade to latest dependencies"

[2021-07-27 20:37] #5310 closed

[2021-07-27 20:37] halocline commented on #5310
Released https://github.com/grommet/grommet/releases/tag/v2.17.4

[2021-07-28 15:28] canyongrace opened #5478 "No method to clear validation errors when adding and removing inputs from a Form"
### Expected Behavior

I expect that when I add or remove FormField inputs, the validation error mapping either automatically updates, or there is a method for me to manually do so.

As discussed in issue #5248, when using a controlled Form, I am responsible for changing formValues when items are added or removed from the Form. There should be a similar method to update the validation error list.

[2021-07-28 16:41] canyongrace opened #5479 "FormField Error messages retained when disabling and clearing Form fields"
### Expected Behavior

I expect that when I disable a FormField that any associated error messages are cleared, especially if I am clearing the values.

### Actual Behavior

I'm looking for a way to clear or remove error messages on a FormField in cases where I want to disable and clear the text. This is similar to issue #5478 but a different use case, since we're not adding/removing FormFields bu

[2021-07-28 16:46] jcfilben commented on #5409
Closing due to inactivity. Feel free to reopen if the above solution did not solve the issue, and we can continue the discussion

[2021-07-28 16:46] #5409 closed

[2021-07-28 19:00] Tbhesswebber opened #5480 "[Feature] Create permanent maskings for MaskedInput"
Currently, the `MaskedInput` component accepts a prop `mask` that takes an array of objects that identify whether the mask is either a string or regex matcher and what the behavior should be for each.  This is sufficient for most use-cases, but misses a large subset in which the mask should _always_ be in a particular position if there is a value in the field.

These cases include, but are not lim

[2021-07-28 21:06] taysea opened #5481 "DateInput Calendar doesn't always open when input is clicked"
### Expected Behavior

Calendar should always open when the input is clicked.

### Actual Behavior

After the input is opened, then date selected and close, the user can't get the calendar to open again without clicking somewhere outside the DateInput and then back into it.

### URL, screen shot, or Codepen exhibiting the issue

https://storybook.grommet.io/?path=/story/input-dateinput-format--for

[2021-07-28 22:05] chrisvalmonte opened #5482 "FileInput component displays file size instead of file name"
### Expected Behavior
The FileInput component renders the **file name** when a Data-URL for a single file is set as the `value` prop

### Actual Behavior
The FileInput component renders **file size**, followed by "files" when a Data-URL for a single file is set as the `value` prop
<img width="1162" alt="Screen Shot 2021-07-28 at 2 48 29 PM" src="https://user-images.githubusercontent.com/22405692/1

[2021-07-28 22:25] chrisvalmonte commented on #5482
Oops, apparently I'm implementing this wrong. Please close this issue

[2021-07-28 22:25] #5482 closed

[2021-07-29 04:12] Zodiase opened #5483 "Anchor weight should accept 'inherit'."
### Expected Behavior

![image](https://user-images.githubusercontent.com/1815174/127429713-8e33a819-296a-4600-b9a2-70f0a7581d6d.png)

By "any browser font-weight definition" I expect `inherit` to be expected.
I need this setting for a plug-and-play component using an anchor that always inherits the contextual font-size, font-weight and text color.

### Actual Behavior

I'm discouraged by both the

[2021-07-29 15:15] devluked opened #5485 "Weird stretch for some images"
### Expected Behavior

Image should look how it was uploaded

### Actual Behavior

Some images have a weird stretch that happens to them

### URL, screen shot, or Codepen exhibiting the issue

Image on the left is the one with the problem, the one on the right is normal. Not sure why some images do this weird stretching.

![image](https://user-images.githubusercontent.com/48234476/127517911-effa6f

[2021-07-29 16:08] PauloE314 commented on #5481
Hi @taysea, I've reproduced the bug locally and it's really happening. I wish I could work on this, can you assign it to me?

[2021-07-29 16:11] MikeKingdom commented on #5417
grommet@hpe.com is re-enabled and owned under me now. We still need to validate the release job works again in CircleCI

[2021-07-29 16:34] taysea opened #5486 "Markdown italics causes linebreak"
### Expected Behavior

Italics should not cause a linebreak, should just be part of the text.

### Actual Behavior

When italics are used around some text in a sentence, it forces a line break at the end.

### URL, screen shot, or Codepen exhibiting the issue

https://designer.grommet.io/markdown-table?id=Demonstration-edgar-circenis-hpe-com

### Steps to Reproduce

1. 2. 3.

### Your Environment

[2021-07-29 16:38] halocline commented on #5485
@devluked Would you be willing to create a [CodeSandbox](codesandbox.io) with your implementation and add it to this issue? It will help getting this issue diagnosed and resolved quickly.

[2021-07-30 00:06] devluked commented on #5485
Hi @halocline I'm going to close it. Found out it was due to some image stretching API. Thanks for the quick response.

[2021-07-30 00:06] #5485 closed

[2021-07-30 09:00] martenjacobs opened #5489 "rowSpan applied to wrong element"
### Expected behavior
When creating an element like this: `<TableCell rowSpan={2}>Text</TableCell>`, I'd expect the cell to span two rows, therefore the generated td element should have a `rowspan="2"` attribute when inspecting it in dev tools.

### Actual Behavior
The rowspan attribute is actually assigned to a div that's placed inside of the td element, so the resulting table is not rendered cor

[2021-07-30 17:15] jlaluces123 opened #5490 "BundleSize error with CircleCI"
On the pre-deploy checks, all tests pass except for CircleCI's. Upon further inspection the error on CircleCi shows that after running `yarn test-bundlesize` the test fails (screenshot below).

### Expected Behavior
Expecting `yarn test-bundlesize` to not throw an error.

### Actual Behavior
`yarn test-bundlesize` currently fails after running the command on CircleCI.

### URL, screen shot, or Cod

[2021-07-30 17:25] halocline commented on #5490
Observations:
- devDependency is [bundlesize](https://github.com/grommet/grommet/blob/c9fc567671a81277d9df8095f4c68e9324960c2d/package.json#L89)
- [Configuration is specified here](https://github.com/grommet/grommet/blob/c9fc567671a81277d9df8095f4c68e9324960c2d/package.json#L178)
- This configuration's values have not been updated in several years.
- `grommet.min.js` has exceeded this threshold fo

[2021-07-30 19:20] MikeKingdom commented on #5417
Verified with the grommet-theme-hpe release script which was failing the same way.
Failed one before the fix:
https://app.circleci.com/pipelines/github/grommet/grommet-theme-hpe/593/workflows/d0e2c160-e3b8-4a27-98b5-05ef9efd7dfe/jobs/1729

Successful one after the fix:
https://app.circleci.com/pipelines/github/grommet/grommet-theme-hpe/593/workflows/523c35e6-736b-443a-b156-8479184fe3ac/jobs/1735

[2021-07-30 19:20] #5417 closed

[2021-07-31 01:48] #5436 closed

[2021-07-31 19:00] valeporti opened #5495 "Image component keeping previous props"
I have in an Image component 'src' and 'fallback' props. Since as first time the src is undefined (''), when a value is assigned to the src, it does not change display. I had to create two Image components, each with a different key as turnaround to the issue. I will show.

### Expected Behavior

I would expect that I have only to declare only one Image component with a `src={image_source}` props

[2021-08-02 04:46] mattddean opened #5496 "Add Grid.available to Grid TypeScript Type"
While Grid.available [is defined in the Grid component](https://github.com/grommet/grommet/blob/b81ccf7aebc59f0f68df4590b2bff5440a0676e9/src/js/components/Grid/Grid.js#L44-L48), it's not part of the `FC<GridExtendedProps>` TypeScript type. As a result, TypeScript complains when I use it.

### Your Environment

- Grommet version: 2.17.4

[2021-08-02 13:56] ericsoderberghp commented on #5490
It looks to me like the bundle size step is correctly flagging that a pull request is increasing the size of the bundle from less than 120KB to 202KB. The cause of the increase should be investigated and rectified.

[2021-08-02 13:56] #5490 closed

[2021-08-02 13:58] ericsoderberghp commented on #5370
Now that https://github.com/grommet/grommet/issues/5248 has been addressed, is this still an issue?

[2021-08-02 14:09] canyongrace commented on #5370
Hi @ericsoderberghp. From our perspective, this is still an issue. I discussed with @taysea last week.

When using the Form 'value' prop, validation works properly. But we're not using the Form value prop in this scenario. The reason is that our use case involves the user dynamically adding and removing form fields. If we were using the Form value prop, we'd have to manage both adding and removing

[2021-08-02 14:10] canyongrace commented on #5370
Both @taysea and @ypinneka mentioned this might be a continuation of the #5187 work.

[2021-08-02 19:21] halocline commented on #5490
@jlaluces123 - FYI, comparing the bundle contents from master to that of your PR's branch, it appears that in your branch grommet-icons is adding significant size to the bundle. Have you used any symlinks (e.g. yarn link grommet-icons) between projects recently?

**Master Bundle**
![Screen Shot 2021-08-02 at 1 09 50 PM](https://user-images.githubusercontent.com/1756948/127912431-42dfd031-d4ef-468e

[2021-08-02 19:26] jlaluces123 commented on #5490
Not that I know of, related to `grommet-icons` I believe all I did was do an import for the CircleAlert icon via `import { CircleAlert } from 'grommet-icons'`. Could that be the culprit here?

[2021-08-02 19:27] ericsoderberghp commented on #5490
Definitely, take a look at how other icons are imported, you need a more complete path.

[2021-08-02 19:43] amandadupell opened #5499 "Fix Selected Date with DateInput Keyboard Commands"
### Expected Behavior

When the user navigates to the grid of dates using their keyboard commands, they should be able to use the arrow keys within the table to select a date properly and update the input field.

### Actual Behavior

When the user navigates to the grid of dates using their keyboard commands, they are able to use the arrow keys within the table, but when they try to select a day in

[2021-08-02 19:47] halocline opened #5500 "RangeSelector does not pass all jest-axe accessibility checks"
### Expected Behavior

RangeSelector should not have accessibility violations and pass this test:
[code]

### Actual Behavior

Running latest `jest-axe` (`^5.0.0`) which relies on `axe-core` (`^4.2.0` rule set) catches the following accessibility error:
![Screen Shot 2021-08-02 at 1 30 45 PM](https://user-images.githubusercontent.com/1756948/127913566-304c740e-ce90-4c60-bcfb-642ad8fb58a2.png)

**B

[2021-08-02 19:56] halocline opened #5501 "Select does not pass all jest-axe accessibility checks"
### Expected Behavior

Select should not have accessibility violations and pass this test:
[code]

### Actual Behavior

Running latest `jest-axe` (`^5.0.0`) which relies on `axe-core` (`^4.2.0` rule set) catches the following accessibility error:
![Screen Shot 2021-08-02 at 1 49 46 PM](https://user-images.githubusercontent.com/1756948/127915654-341f34d8-ab1b-422b-9cf1-2f19a1eb06be.png)

**Backgrou

[2021-08-02 20:06] halocline opened #5502 "Upgrade jest-axe to ^5.0.0"
### Expected Behavior

Project should stay current with latest accessibility rules and check for compliance within testing suite.

### Actual Behavior

Unable to upgrade to `"jest-axe": "^5.0.1"` (which relies on `axe-core 4.20`) because upgrade results in the following new test failures.

Blocked by:
- [x] https://github.com/grommet/grommet/issues/5501
- [x] https://github.com/grommet/grommet/iss

[2021-08-02 20:43] halocline commented on #5250
"copy-webpack-plugin": "^5.0.4" should be upgraded when this work is done as well. v7+ only supports Webpack 5.

[2021-08-03 03:22] #5454 closed

[2021-08-03 15:26] ericsoderberghp opened #5504 "Meter semicircle is too small"
The semicircle Meter isn't being drawn at the right scale. Compare:

https://storybook.grommet.io/?path=/story/visualizations-meter-semi-circle--semi-circle

with

https://storybook.grommet.io/?path=/story/visualizations-meter-circle--circle

Both are size medium. The `<svg />` is the right viewbox size. But the arc paths look too small, both in radius and thickness.

[2021-08-03 15:57] #5476 closed

[2021-08-03 15:59] MikeKingdom opened #5505 "IntersectionObserver for InfiniteScroll"
Evaluate using IntersectionObserver in InfiniteScroll rather than scroll/resize handlers and trying to calculate visibility of the marker elements.

[2021-08-03 22:40] halocline commented on #5478
Hi @canyongrace - quick question: In your dynamic form, do you have any requirements for what the input names must be (other than unique)? Do they have to be sequential? Would it be okay if we were to tweak your implementation so that no "names" are re-used(i.e. would the following sequence work? add field0, field1, field2, remove, remove, remove --> add new field where name="field3")? Basically e

[2021-08-04 00:22] jlaluces123 commented on #5313
Hello @Esya, I tried to replicate the error you're receiving in a codesandbox [here](https://codesandbox.io/s/blissful-merkle-3lpbi?file=/src/App.js). I couldn't manage to replicate the issue on my end and was hoping if you could provide a bit more context on how / when the issue comes up.

[2021-08-04 00:56] phinch opened #5508 "Proposing updates to the Toggle theme API"
Hi! This isn't a bug report but rather a forum to get some feedback on some expansions I'd like to make to the Toggle component's theming capability. I'm a new contributor but I'd be more than happy to take on these changes if they seem sound, as they would overlap well with stuff I'm working on at my company, which is a Grommet consumer. I read in the contribution guide that opening an issue is a

[2021-08-04 14:58] canyongrace commented on #5478
@halocline My primary concern with that would be keeping the mapping and the formValues managed properly. In the codesandbox example, we're manually updating the formValues, so I would have to see how it would work without the expected indices being in place.

In our project, we're actually not managing this scenario using formValues but are instead setting the value on the TextInput. In that case

[2021-08-04 15:23] halocline commented on #5478
Thank you for the additional details, @canyongrace.

^This^ additional detail is helpful. It could affect approach / recommended implementation. Thank you.

--------

RE: Mapping

I was also trying to ensure the mapping was managed properly. In the Codesandbox shared above, the mapping could be tightened up. For example, I receive different behaviors if I add the 3 fields as described, but remove

[2021-08-04 15:29] canyongrace commented on #5478
@halocline One thing to note - we're using the TextInput value as a workaround to avoid having to manage formValues. However, if we can get a fix for #5370, we may have to switch to managing formValues after all, as a workaround for that defect.

When you say the behaviors are different, I'm not sure what you're referring to? Are you talking about actual input values, or about the errors accompany

[2021-08-04 15:38] ericsoderberghp commented on #5508
I'm supportive of the general concept.

I want to think through the details of the contents of `theme.checkBox.toggle` a bit more. For instance, I could see `theme.checkBox.toggle.container` that would then have `background`, `border`, `round`, `size` keys and then `theme.checkBox.toggle.knob` that has similar keys.

[2021-08-04 15:45] #5504 closed

[2021-08-04 15:55] ericsoderberghp commented on #5508
Good additions @halocline !

[2021-08-04 15:57] eddieshowcase opened #5509 "Focus is lost from Layer (modals) to underlying content once you tab out of Layer"
Using Layer component for modals, particularly with a form, I noticed what I believe to be a pretty bad accessibility issue that focus is not contained to the Layer.

If you tab through elements in a Layer (modal) form the focus seems to exit the Layer and move back to the underlying content and can be lost. This will cause a user relying on keyboard navigation to get lost and or unable to close t

[2021-08-04 16:02] halocline commented on #5478
Understood and agree.

Yes, input values.

**Add the 3 fields**
![Screen Shot 2021-08-04 at 9 55 15 AM](https://user-images.githubusercontent.com/1756948/128213881-6e98c02c-8dba-49ec-a423-01b757605238.png)

**Removing the 2nd, value in Name 0 disappears -- I would expect it remain as 'a'**
![Screen Shot 2021-08-04 at 9 55 25 AM](https://user-images.githubusercontent.com/1756948/128213895-c4ee3a8e-

[2021-08-04 16:15] canyongrace commented on #5478
@halocline Gotcha, sorry about that defect. Yes, the first field should retain 'a' in your screen shots. I think it's related to the default value and can try to fix the example when I have time.

[2021-08-04 16:54] taysea commented on #5509
Hey @eddieshowcase, the reason the focus is not trapped inside this Layer is because it was implemented as `modal={false}` which means that focus is not trapped.

Since behavior of Layer is correct here, I am going to close the issue. However, we can take this implementation question of "should this be a modal as opposed to non-modal?" in the design system context offline.

[2021-08-04 16:54] #5509 closed

[2021-08-04 16:56] #5300 closed

[2021-08-04 16:59] britt6612 opened #5510 "Advance Cypress Testing"
After share-out of exploring Cypress there are a few more things to look into:

- [x] Testing Library with Cypress (e.g. does Cypress allow queries such as "getByText"?)
- [ ] Add more complex components
- [ ] Table filtering
- [ ] column reordering
- [ ] drag and drop
- [ ] List onOrder
- [ ] Menu keyboard (Since select was failing trying another component similar )

[2021-08-04 17:04] canyongrace commented on #5478
Ok I think the sandbox fixed - I needed to set the default value in the field list also. Sorry about the confusion on that.

[2021-08-04 17:21] eddieshowcase commented on #5509
I see now, thanks! I didn't see the modal={false} prop option..... still learning all these components.

[2021-08-04 18:51] phinch commented on #5508
@ericsoderberghp thanks for these thoughts! I was definitely thinking pretty narrow for what would be needed for our use case, I like these suggestions. I was pretty focused on backward compatibility in my original thinking - is that something we should be sensitive to? I love the idea of having a `toggle.container` section for the container props and would be curious if we would want to also cont

[2021-08-04 18:52] phinch commented on #5508
@halocline thanks for the feedback :) here are some screenshots of each! The toggle height is 24px whereas the checkbox size is 20px; and the knob size is 16px. There's also some atypical stuff in the toggle with the active/inactive color: it's the background rather than the knob that changes color when active. I was also wondering about the `checked` state, which would definitely be used by us! i

[2021-08-04 20:00] britt6612 commented on #5467
@padmacnu
I created a little codesandbox to try to replicate your issue:
https://codesandbox.io/s/quizzical-wood-b6lqq?file=/src/App.js
When `radiobuttongroup` was disabled I did not see the hover background. Maybe you can let me know if I missed anything else in your code example ?

[2021-08-04 20:03] halocline commented on #5508
Thank you, @phinch. Super helpful to have on hand.

[2021-08-04 20:16] halocline commented on #5508
Yes, backwards compatibility is definitely something to which we should be sensitive. Your thoughts here are spot on for the need to support the current top-level, plus concerns for clarity in following the theme type. I think there was a recent PR addressing a similar improvement to the theme but maintaining backwards compatibility, but am struggling to find it at the moment.

[2021-08-04 20:26] halocline commented on #5467
@padmacnu, can you also confirm the 'grommet' and 'grommet-theme-hpe' versions you are using as well?

[2021-08-05 00:39] phinch commented on #5508
got it, sounds good :) thanks @halocline. i'll plan to start implementing a first pass at this tomorrow, taking all of the feedback into account! (will still be watching here for any other comments too)

[2021-08-05 10:35] LeComptoirDesPharmacies opened #5511 "Impossible to detect onBlur for closed Select"
### Expected Behavior

We are using onBlur event to detect when users have touched a form input.
Thus, we can start field validation as soon as user touched the input.

It works well with TextInput, etc...
However for "Select", "onBlur" is not given to the top level component (StyledSelectDropButton) but on the "SelectTextInput".

Thus, when we use tab to go through fields of a form, we wan not de

[2021-08-05 11:42] LeComptoirDesPharmacies opened #5512 "Select "emptySearchMessage" PropTypes should accept "object"/"JSX.Element""
### Expected Behavior

Property "emptySearchMessage" of "Select" component should accept "string" and "object"/"JSX.Element" as it will allow to customize the rendered node for empty result.

### Actual Behavior

Following error happen in console :
[code]

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-3cqg8?file=/index.js

### Steps to R

[2021-08-05 20:34] halocline commented on #5478
Just a quick update here --- I should have a recommended implementation to share early next week which I believe should deliver the desired functionality and close this issue and https://github.com/grommet/grommet/issues/5370.

The approach I am taking is make use of Form's `errors`, `infos`, and `onValidate` props. The method to clear validation errors would be to:
1. Get current errors from `onV

[2021-08-06 09:17] vujevits opened #5514 "FormField validation does not work without `name` prop"
FormField validation only works if a `name` prop is provided.

### Expected Behavior

This should be mentioned in the doc, both at the `name` and `validate` props description.

### Actual Behavior

There's only a very implicit hint about it in the `Form` doc, under `errors` and `infos`:
"object
Their keys should match the keys in the value object."

[2021-08-06 12:50] anderoonies opened #5515 "ThemeType.layer.container doesn't define `extend`"
### Expected Behavior

The type definition for `ThemType.layer.container` is
[code]
But should additionally define `extend?: ExtendType`

### Actual Behavior

The `extend: () => {}` is an invalid type, but functionally works.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/happy-mirzakhani-qjock?file=/src/index.tsx

Grommet 2.17.4

This should just be including `ex

[2021-08-07 16:07] dxmann73 commented on #3908
We are working around this by adding an outline to overwrite the border (which sits on the container box) using something like this with Typescript:

[code]

and

[code]

[2021-08-08 07:53] dxmann73 commented on #3908
After messing around with rendering `outline: white solid 1px` to hide the border, which doesn't really work when resizing the form fields and/or with rounded borders, the solution we came up with is using FormField.contentProps with a wrapped component like this:

`
<FormField contentProps={ border: false }>
      {props.children}
</FormField>
`

That way, we don't have to change the overall them

[2021-08-08 10:40] benwainwright opened #5516 "Layer breaks if it isn't include within a Grommet block"
It looks like https://github.com/grommet/grommet/pull/5270 changed `Layer` so that it can no longer be used outside of a `<Grommet>` block. Since that previously was not the case, this is definitely a breaking change in the API surface, and so should have resulted in a major version bump if you are using semvar properly.

I've had to lock my project to `2.17.2` because `2.17.4` breaks a bunch of m

[2021-08-09 16:39] britt6612 commented on #5515
@anderoonies I believe you are correct we are just missing the `extend` type! It would be great if you can make a PR 👍

[2021-08-10 07:44] AlbertoTonegari opened #5519 "Can't reset date for DateInput"
I have created a [PR](https://github.com/grommet/grommet/pull/5517) to solve this issue.

The field for `DateInput` can't be cleared dynamically.

### Expected Behavior

I should be able to clear the date if for the value of `DateInput` I pass `""` or `[ ]`.

### Actual Behavior

If I try to clear the input by passing for example `""` to the value of `DateInput` only the `Calendar` component clear

[2021-08-10 07:59] danielm-hpe commented on #5519
Thanks for finding and proposing a fix for this- I just came across this issue tonight when passing in an empty array.

[2021-08-10 09:36] LeComptoirDesPharmacies commented on #2877
Hi @ShimiSun @wirtzdan  @oorestisime,

We tried to use 'Layer' component with this new 'target' feature but it does not behave as we expected.
We were thinking that positioning would be like a Drop with global overlay (Drop is located next to the target).

But in our side, we have an overlay that is limited to target boundaries and Layer position is located into the target instead of next to him.

[2021-08-10 17:06] jlaluces123 commented on #5313
Hey @Esya, wanted to check in after a little bit of time. Would it still be possible to get more context on the issue and how it comes up?

[2021-08-11 13:31] pdp5210 commented on #5233
Thanks for the update, the above code worked. Could you pls look into below aligning issue

![image](https://user-images.githubusercontent.com/17842632/129037884-a624710a-6a07-402e-9f1d-06879297b8fd.png)
![datachart with detail and pad attrubute -code](https://user-images.githubusercontent.com/17842632/129038027-a335af1c-1cb3-4d0a-bf4f-58fe3e4b8f97.PNG)
![datachart with detail and pad attrubute](h

[2021-08-11 16:20] ypinneka opened #5522 "TextInput type=number, If we put '-' it gives required error"
### Expected Behavior
Required error should only show up when field is empty

### Actual Behavior
Even when field is not empty required shows up under a specific usecase.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/awesome-dawn-5ycy0?file=/src/App.js

### Steps to Reproduce
1. Enter '2-' in the number field & required shows up !

### Your Environment
- Grommet v

[2021-08-11 18:34] vmaark opened #5523 "Box gap is applied for empty children"
Conditional rendering is not playing well with `gap`.
### Expected Behavior
If a `Box` has children which may be `null`, a gap shouldn't be applied for them.

### Actual Behavior
Extra gap is added to the layout if there are "missing" items.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/ecstatic-mclaren-okuu1?file=/src/Box.js

[2021-08-11 19:39] #5519 closed

[2021-08-11 21:40] taysea commented on #5499
Interestingly, I found if I clicked ctrl+opt+space to select as voiceover prompted me to, then it worked correctly. However, if I just clicked "enter" then I was able to replicate the behavior shown here.

[2021-08-11 22:04] britt6612 commented on #5479
@canyongrace just a little update on this issue.

I created a code sandbox that is using the `onValidate` prop from `form` in order to change the state of the error depending on if the `textInput` is disabled. Below I have pasted the example:
https://codesandbox.io/s/jovial-sammet-tuxcm?file=/src/App.js
In the example, there is an error in which I believe is a bug in Grommet Form. I can look more

[2021-08-11 22:07] britt6612 commented on #5515
we can close this issue! thanks @anderoonies

[2021-08-11 22:14] ericsoderberghp commented on #5479
The intent is to be able to handle validation in either a controlled or uncontrolled manner. So, the caller should be able to use `onValidate`, `errors`, and `infos` themselves OR, they should be able to use none of those. In either case, the basic behavior should be acheivable.

[2021-08-11 22:53] MikeKingdom commented on #5499
I know NVDA takes over the arrow keys unless your app has `role="application"`. Might be the same for this situation.

[2021-08-11 23:05] taysea commented on #5499
That is probably what we're running into. I tried adding `role="application"` to the Grommet wrapper on a DateInput storybook example I was trying, but when doing the same keyboard interaction I ran into the same problems... I wonder if given the fact that the selection does work with the key commands that voiceover is telling me, if we should consider it is working?

[2021-08-12 01:55] ericsoderberghp commented on #2877
The Layer `target` was implemented to indicate where the modal translucent background should extend to and where the Layer itself should be positioned relative to. If I understand you correctly, you are wanting the latter without the former. If I'm correct, that isn't how it works at the moment.

I am trying to think how we might approach providing that. I think you will want `align` from Drop but

[2021-08-13 18:58] taysea opened #5527 "Button doesn't support `kind` in Typescript"
### Expected Behavior

`kind` prop on Button is not openly documented but needs to be part of the typescript definitions in order for typescript teams to use.

### Actual Behavior

Button prop `kind` not supported.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Create Typescript project with HPE theme
2. Create <Button kind="toolbar" />
3. See error

### Your En

[2021-08-13 22:51] #5481 closed

[2021-08-16 17:52] ecircenis commented on #5486
It looks like the actual issue is with tables in markdown.  Our markdown processor is not handling markdown within table cells correctly and is inserting line breaks any time it runs across them.  This is true for hyperlinks, italics, bold text, etc.  Example markdown showing the issue:

| col1 | col2 |
| --- | --- |
| This is a sentence containing a [link]() that goes nowhere.   It is formatted i

[2021-08-16 17:55] ecircenis commented on #5486
Note that the GitHub markdown processor is displaying the content in the previous comment correctly.  Here's the same content in a code block so it can easily be tested in grommet:

`| col1 | col2 |
| --- | --- |
| This is a sentence containing a [link]() that goes nowhere.   It is formatted incorrectly. | This is an example of *italics* in a table cell. It is formatted incorrectly. |

This is ano

[2021-08-16 17:56] ecircenis commented on #5486
Sigh...  Even in a code block, GitHub wants to process markdown (at least some markdown)

[2021-08-16 21:24] halocline commented on #5478
Hi @canyongrace, I've modified the CodeSandbox you had shared with a [recommended implementation](https://codesandbox.io/s/nice-meninsky-k1eg0?file=/src/App.js) to support:

1. Ability to add fields to a Form dynamically
2. Ability to remove fields from a Form dynamically
3. Ability to run validation on mount - closes https://github.com/grommet/grommet/issues/5370
4. Ability to keep validation res

[2021-08-16 21:29] taysea commented on #5499
Dragging this to "Parking Lot" for now to wait for some feedback from Bill Tipton. As of now, it feels that DateInput is supporting the expected behavior. When using tab + arrow keys, selection can be made properly. When using ctrl+opt+arrow keys (VoiceOver "First-level" command) and selecting as is documented/read out by the screen reader, then selection is also made properly.

I am not sure that

[2021-08-16 21:56] jamietotten opened #5528 "Make the gap between Anchor's icon and label configurable"
### Expected Behavior

Add support in the theme and as a prop to set the gap size between the `<Anchor/>` component's icon and label

### Actual Behavior

The gap size between the icon and label is set and non-configurable. This same type of issue was fixed for `<Button/>` components in [this PR](https://github.com/grommet/grommet/pull/3054). There was a comment in the initial request for this cha

[2021-08-17 00:00] taysea commented on #5522
I believe the "required" message is showing up because the native HTML input is set to automatically invalidate non-numberic values when type="number" is applied. Since "required" is our error text, it's triggering that validation. See MDN docs for reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#validation

Given this, I am going to look into how this string might

[2021-08-17 01:31] #5516 closed

[2021-08-17 14:13] canyongrace commented on #5478
Thanks @halocline I will take a look when I have an opportunity. Btw do you know if this might address #5479 also? I also received communication on that issue with a sandbox but haven't had a chance to look yet.

[2021-08-17 14:14] canyongrace commented on #5479
Thanks @britt6612 I will take a look when I have an opportunity. I am also looking at the response on #5478.

[2021-08-17 14:30] britt6612 commented on #5479
@canyongrace sounds great! This is just a work around I'm working on changing the way Grommet handles this I should have a PR up today.

[2021-08-17 15:33] halocline commented on #5478
Hi @canyongrace. This approach could be applied for disabled inputs (#5479), however we believe Grommet's Form validation should handle disabled inputs properly, without the caller needing to apply this approach, and a PR is being submitted to address it.

[2021-08-17 18:09] jcfilben commented on #5461
Closing issue due to lack of activity. Feel free to re-open with additional information if you are still experiencing issues.

[2021-08-17 18:09] #5461 closed

[2021-08-17 18:33] #5353 closed

[2021-08-17 22:31] canyongrace commented on #5478
@halocline I took a look at the implementation mentioned in this issue and it looks like a good workaround.

While it could serve as a workaround for someone using formValues, I'm not sure it addresses #5370. The concern with #5370 is that we were deliberately using the 'value' on a TextInput to manage values, and we would assume the form would automatically validate any default values the same wa

[2021-08-17 22:43] canyongrace commented on #5479
@britt6612 Just took a look, thanks - this looks like it could work for us.

I do have one question. Not to ask anything too obvious, but it appears that the validationResults passed in to the onValidate call is actually referring to the form results data structure in the sense that you can directly modify its members and thus affect the form behavior? For some reason I had the impression that it

[2021-08-17 23:13] jlaluces123 commented on #5256
Hello @samuelgoff ! I made changes to `grommet-icons` so it no longer throws a console error by introducing forwardRefs to the icons themselves. If you wanted / needed to see these changes immediately you could go into your `package.json` and point to the stable branch of grommet-icons via:

"grommet-icons": https://github.com/grommet/grommet-icons/tarball/stable

Please let me know if the issue s

[2021-08-18 14:57] ericsoderberghp opened #5531 "Video - extendable controls"
Allow adding the ability to resize a Video from a thumbnail to a larger size within the browser, such as the full width of the browser window, similar to how other embedded videos work. This allows the user to transition from deciding whether they want to watch a video to focusing on watching it, without having to make it full screen.

Suggest achieving this by adding something like `<Video contro

[2021-08-18 15:47] #5527 closed

[2021-08-18 16:49] jcfilben opened #5532 "Add bundle analyzer tool"
It may be helpful to have a bundle analyzer tool such as [source-map-explorer](https://www.npmjs.com/package/source-map-explorer) or [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) added to grommet so we can become more familiar with the contents of the bundle and if anything should be excluded.

[2021-08-18 17:19] britt6612 commented on #5479
@canyongrace If I understand your question correctly you were under the impression that the `validationResults` just gave read access to the `errors`, `info` ? But this actually allows the user to be able to not only have access to the `validationResults` but could actually set the `errors` to another state just like I did in the example.

[2021-08-18 17:25] canyongrace commented on #5479
@britt6612 Yes, read access and wasn't sure there was any write access or way to overwrite the `validationResults `structure.
I'm not quite following your second sentence. I think you're just saying any user actually does have write access to that structure, as demo'ed in your sandbox, correct?

[2021-08-18 17:38] britt6612 commented on #5479
okay yes I meant that the user can adjust these values just like in the sandbox example

[2021-08-18 19:29] #5500 closed

[2021-08-18 20:22] jcfilben commented on #5532
There is an option to integrate a bundle analyzer directly into github so the bundle can be checked on each PR and then further analyzed if any discrepancies occur. https://github.com/marketplace/js-bundle-analyzer

[2021-08-18 20:59] #5470 closed

[2021-08-19 17:03] #5512 closed

[2021-08-19 21:40] samuelgoff commented on #5256
Hey @jlaluces123 thanks so much! 🙏🏼 We already used the workaround to mitigate log spam in the meantime, so this isn't hair-on-fire emergency at the moment. I'll be happy to bump the dependencies when the next Grommet-icons release occurs and then cleanup the child-wrapping elements. Thanks again!

[2021-08-19 22:51] halocline commented on #5478
Hi @canyongrace. Understood. I was hoping this pattern would demonstrate a way to deliver the desired experience without the need for controlled inputs. That said, I will investigate #5370 separately.

Regarding this particular issue regarding "method to clear errors", I will close. Feel free to re-open if needed.

[2021-08-19 22:51] #5478 closed

[2021-08-21 13:30] iabhitech commented on #5528
Hey, Can I contribute to this issue?

[2021-08-21 14:51] jamietotten commented on #5528
Sure. I read you contribute guidelines and thought I was supposed to create
a request first. I can submit a PR for this.

Jamie

On Sat., Aug. 21, 2021, 6:31 a.m. Abhineet Verma, ***@***.***>
wrote:

[2021-08-23 12:42] Esya commented on #5313
Hi @jlaluces123 - the snippet I provided should work - your sandbox is plain vanilla javascript, this is a typescript error introduced by Grommet 2.17.3

[2021-08-23 13:28] Esya commented on #5313
Actually, I'm facing the isssue with even just this simple jest test :

[code]

It turns out that Layer could work outside of <Grommet>'s provider but now requires a context to run, so it is fixed by doing it as such :

[code]

[2021-08-23 13:28] #5313 closed

[2021-08-23 13:35] g4rry420 commented on #5531
Is it going to be same as youtube's theater mode ?

[2021-08-23 14:02] britt6612 commented on #5528
@iabhitech it would be great if you can contribute! Feel free to open a PR!

[2021-08-23 15:30] MikeKingdom commented on #5313
I believe this one is fixed by #5524

[2021-08-23 16:01] iabhitech commented on #5528
Thanks, I am started working on that.

[2021-08-23 18:01] iabhitech commented on #5528
I need a suggestion, Where can I add this new **Gap feature** preview in the **storybook.**
Currently, I created a new menu for that as 'Gap' as shown in the image.
![image](https://user-images.githubusercontent.com/43298099/130494550-07e4c97e-de5c-48d7-85b7-bdff7b5475ee.png)

Is it fine or not?
@britt6612

[2021-08-23 22:00] MikeKingdom commented on #5505
After experimenting with the IntersectionObserver API with InfiniteScroll here's the results:

## It works well for normal mode (`replace = false` in InfiniteScroll)

In this situation, you can find the scroll parent of the list items and use it at the `root` for the IntersectionObserver. By registering the `marker` element at the end of the list with the observer, you can get an event immediately

[2021-08-23 22:00] #5505 closed

[2021-08-23 23:20] britt6612 commented on #5528
@iabhitech That works!

[2021-08-23 23:49] #5256 closed

[2021-08-24 00:28] lukaw3d opened #5537 "Button typedef does not allow `rel` attribute"
Type definition of Button component is `declare const Button: React.FC<ButtonExtendedProps>;`. That includes some anchor props, but not `rel`
[code]

So TypeScript compiler throws an error when creating
[code]

### Expected Behavior

Button component should allow attribute `rel` (commonly accompanying `target="_blank"`)

### Actual Behavior

Typescript compiler throws `Property 'rel' does not exis

[2021-08-24 03:33] #5479 closed

[2021-08-24 12:14] AlokKrSinha opened #5538 "Dropdown component: When it is required clicking on the dropdown itself is giving red border"
Expected Behavior
Required error should only show up when on blur out  if item  not selected

Actual Behavior
Even when select  is open  required shows up under a specific usecase.

URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/compassionate-cori-oo0xo?file=/src/App.js

 Steps to Reproduce

1. form has attribute as validate="blur"
2. formfield required
3. Open select o

[2021-08-24 14:21] britt6612 opened #5539 "DateInput test is not passing for other time zones"
except for a date-related one because the test doesn't allow for my +10 timezone.
### Expected Behavior
all tests should pass

no errors
### Actual Behavior
Different time zones fail the `dateinput` test
<img width="787" alt="Screen Shot 2021-08-24 at 8 20 34 AM" src="https://user-images.githubusercontent.com/42451602/130633692-c004bae7-8701-4cea-805e-f348487dd1f3.png">

### URL, screen shot, or C

[2021-08-24 15:14] halocline opened #5540 "Revise Grommet Contributing.md to account for changes to documentation process"
- [x] Revise CONTRIBUTING.md with up-to-date instructions for documentation.
- [x] Review overall guide for accuracy, needed adjustments, and enhancement opportunities.

[2021-08-24 16:57] taysea opened #5542 "Button - add support for justification of content"
### Expected Behavior

Caller should have option to have icon + label left justified in the button as opposed to justify between / center.

### Actual Behavior

Justification of icon + label is decided by the Button itself. When used in Menu, if the Menu is wide the icon and label (supplied via array of objects to Menu) are justified in between each other.

### URL, screen shot, or Codepen exhibit

[2021-08-24 16:59] ericsoderberghp commented on #5542
Also consider whether this would be a good fit for a Sidebar navigation context, where Buttons would be vertically stacked but start justified, with appropriate padding and active indication.

[2021-08-24 18:37] halocline opened #5543 "Clean up PropType warnings in stories prior to Grommet release"
### Expected Behavior

Stories should be free of console errors prior to Grommet release.

### Actual Behavior

The following stories are producing warnings:
- Calendar --> Dual
![Screen Shot 2021-08-24 at 12 29 14 PM](https://user-images.githubusercontent.com/1756948/130670989-6969d8df-6c2b-455d-932d-0e5074718801.png)

- Select --> Custom Search
![Screen Shot 2021-08-24 at 12 32 54 PM](https://us

[2021-08-25 06:45] DanielBaird commented on #5539
I wish I had made this issue when I came across it the first time.  From memory the problem is when the "correct" datetime is dinked together as a string with `timezoneOffset`, which is made like this:
[code]
In Australia my timezone is +10, which makes a negative timezoneOffset, but a negative number is less than 10 so it gets prepended with a `0` by that code. Then, subsequent dates assembled li

[2021-08-25 09:38] bdeguigne opened #5548 "Responsive Context is not updated when the scroll bar appears"
If the scroll bar appears a few second after the first load, the responsive context is not updated. This is because the "resize" event listener does not trigger the event when the scroll bar appears or disappears.

### Expected Behavior

Responsive Context should be updated when the scroll bar appears or disappears

### Actual Behavior

Responsive Context is not updated when the scroll bar appears

[2021-08-25 23:40] taysea opened #5553 "Grommet release - September"

[2021-08-25 23:41] taysea opened #5554 "Update dependencies post-release"

[2021-08-26 15:07] britt6612 opened #5555 "Revise Grommet Release Wiki"
During grommet release having only write access did not allow me to be able to push directly to master when trying to make the commit of `updating v2.17.6`

Added in to skip the last 2 steps if doing `yarn build` and `npm run pack` with doing grommet-icons release

[2021-08-26 21:18] taysea opened #5557 "DateInput/Calendar arrow keys move active date offscreen but doesn't move with it"
### Expected Behavior

If user uses up/down arrow and leaves the current month, the month should change to the previous/next month to keep the active date in view. Similar to behavior here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

### Actual Behavior

When user pressed up/down and leaves the current month, the active date becomes out of view.

### URL, screen shot, or

[2021-08-27 16:40] protek-vrn opened #5560 "Responsive DataTable component"
Hey guys,

I'm looking for an example of the DataTable component that works fine both on desktop and mobile.

Is there an out-of-the-box option to do that? Or I should consider a combination of `DataTable`+`List`+`ResponsiveContext`?

### Expected Behavior

Having a way to override rows' render behavior to fit content into a small screen.

### Actual Behavior

The DataTable is rendered as a non-re

[2021-08-27 22:41] #5555 closed, assigned to halocline, taysea, britt6612

[2021-08-28 13:55] leonwilly commented on #5560
You can make `DataTable` responsive by usind the render() method of the column and returning a ```<Text heigh={"1vh"}>...</Text>```

[2021-08-28 14:17] leonwilly opened #5562 "DataTable doesn't render custom footer Node"
According to the documentation (` footer: node | { aggregate: "..." }`) one should be able to pass a custom Node to the footer property in the columns object of a DataTable.

The DataTable should render the custom Node

It renders an empty element `<div>` element.

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version

[2021-08-30 08:16] protek-vrn commented on #5560
@leonwilly not sure how it helps. The table still looks.. as a non-responsive table https://codesandbox.io/s/responsive-datatable-y6os8?file=/index.js

[2021-08-30 16:18] #5522 closed

[2021-08-30 18:46] PauloE314 commented on #5562
I've reproduced this on my machine and, right now, it only renders simple texts and { aggregate: "...."}. I'm gonna try to fix this.

[2021-08-31 15:01] LeComptoirDesPharmacies opened #5565 "Impossible to customize RangeSelector EdgeControl zIndex"
Impossible to customize RangeSelector EdgeControl zIndex

### Expected Behavior

Changing zIndex via theme

### Actual Behavior

Its possible via tricky css class targetting

### Steps to Reproduce

Try to change the zIndex of EdgeControl

### Your Environment

- Grommet version: 2.17.2
- Browser Name and version:  latest Chrome
- Operating System and version (desktop or mobile): MacOS

Related to

[2021-08-31 20:33] #5554 closed

[2021-08-31 20:48] britt6612 opened #5567 "Enhance List to align text"
As of now there is not a way to align the text for List
### Expected Behavior
You may want the context to align start to the index
It is align-center now

### Actual Behavior
<img width="751" alt="Screen Shot 2021-08-31 at 2 46 47 PM" src="https://user-images.githubusercontent.com/42451602/131573538-c72ae0aa-49a8-4c62-ab84-72e4df4ead4b.png">

### URL, screen shot, or Codepen exhibiting the issue

[2021-08-31 20:52] ericsoderberghp commented on #5565
Can you elaborate on a situation when this would be useful? I'm just wanting to understand the need better.

[2021-09-01 00:15] taysea opened #5569 "Tip displays after getting focus back from another element"
### Expected Behavior

Tip shouldn't appear again and persist after a button with tip receives focus programmatically after a Layer closes, etc.

### Actual Behavior

Tip is persisting until user clicks somewhere else in screen.

### URL, screen shot, or Codepen exhibiting the issue

https://design-system.hpe.design/templates/filtering

### Steps to Reproduce

1. Click filtering button
2. Click "C

[2021-09-01 01:54] g4rry420 commented on #5299
@loongluangkhot Are you still working on this issue ? If not, Can I take this one ?

[2021-09-01 08:26] LeComptoirDesPharmacies commented on #5565
Of course, on our app we have few elements with specific zIndex, to make it consistent we wrote some rules, like :
z-index: auto for body element, z-index: 5 for popups on body, z-index: 25 for our cookie consent.

If we can't manage the zIndex of an element, we have to rebuild our zIndex system around this non-manageable zIndex element.

We encounters issues like that :

![image (27)](https://use

[2021-09-01 16:49] ericsoderberghp commented on #5565
I'm wondering if we should just change the grommet default z-index to be `1`. I don't see any reason it needs to be `10`. Would that also address the issue?

[2021-09-02 15:39] #5496 closed

[2021-09-02 18:42] #5562 closed

[2021-09-02 19:05] jcfilben commented on #5489
Closing since #5556 was merged

[2021-09-02 19:05] #5489 closed

[2021-09-02 20:13] jcfilben commented on #5560
You can use columns render combined with responsive context to determine how you want you content to look at specific breakpoints. Another option if your DataTable doesn't work well in a smaller view is to wrap it with a Box and set overflow to scroll.

[2021-09-02 20:13] britt6612 commented on #5510
After exploring writing some tests using Cypress we found that at this time this tool does not provide a fully working keyboard testing capability. When trying to use the `tab` library that is recommended to use in addition to Cypress our components such as `Menu` and `Select` were not able to fully demonstrate the ability to test with the keyboard.

For  `Menu the reason that Cypress was failing

[2021-09-02 20:13] #5510 closed

[2021-09-02 21:35] britt6612 commented on #5437
closing this issue both were addressed in the PRs that were merged

[2021-09-02 21:35] #5437 closed

[2021-09-02 22:28] barzto opened #5574 "Tip.dropProps styles applied to wrong element"
Styles set by `dropProps` attribute of `Tip` component are applied to wrong div (parent of content).

### Expected Behavior

`<Tip dropProps={{...}}>` works same way as `<DropButton dropProps={{...}}>` do.

### Actual Behavior

Style set by `dropProps` attribute like `background` is applied to wrong parent of content.

### URL, screen shot, or Codepen exhibiting the issue

<img width="132" alt="Ti

[2021-09-02 23:07] #5249 closed

[2021-09-03 09:20] LeComptoirDesPharmacies commented on #5565
It sounds like a good solution, `z-index` is relative so if we need to elevate the RangeSelector EdgeControls we could just set the `z-index` of the parent.
Should i update our pull request to apply this solution (and also changing our pull request on the documentation).
Thank you.

[2021-09-03 13:28] protek-vrn commented on #5560
Ok. thanks guys

[2021-09-03 13:28] #5560 closed

[2021-09-03 16:18] ericsoderberghp commented on #5565
Yes

[2021-09-03 16:37] #5449 closed

[2021-09-03 19:43] jcfilben commented on #5574
Hi @barzto the dropProps are being correclty applied to the Drop as shown in the code below. The reason you are seeing the rounded box within the drop is because of the default styling coming from Tip. To get rid of this styling add the `plain` prop to Tip.

<img width="483" alt="Screen Shot 2021-09-03 at 1 40 24 PM" src="https://user-images.githubusercontent.com/54560994/132058172-2cff2e06-64da-4

[2021-09-03 20:32] barzto commented on #5574
Thank you @jcfilben for quick response. Let me sum up my problem to this question:

What is minimal code to change (just) content area background of a single Tip instance while preserving the rest of styling (like elevation, round borders, etc.)?

If I get your point right, it should be something like this (styles in dropProps)

[code]

or like this (styles in content Box)

[code]

In both cases t

[2021-09-03 21:22] jcfilben commented on #5574
I believe in dropProps elevation doesn't apply when plain=true. However, I was able to get the elevation to work in the second example. The key is making sure you have some padding around the element so the elevation has room to show up. Here is a [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-ljnq8?file=/index.js) showing examples. The first one doesn't work because it is setti

[2021-09-04 13:55] g4rry420 commented on #5542
https://github.com/grommet/grommet/blob/2a3934a2f2100db9c8b67b0b5995269829ca7817/src/js/components/Button/Button.js#L277
Here, we are using `align` prop to justify the content. I think we should add `justify` prop for the button.Please, let me know your thoughts,

[2021-09-04 14:01] barzto commented on #5574
Ah, that was that bit i missed: I have to set box margin to have elavation effect visibile.

Thank you very much, that resolved my issue! Let me close it.

[2021-09-04 14:01] #5574 closed

[2021-09-06 12:43] alexmirrington commented on #3572
@budiadiono As an additional note, we completed a lot of work in March-April 2021 to help improve TypeScript interfaces for component props. From this, we consolidated `AnchorProps & Omit<JSX.IntrinsicElements['a'], 'color'>` into a new interface, `AnchorExtendedProps`. We can expect `AnchorExtendedProps` to be updated as new functionality is added or removed to the `Anchor` component. Your soluti

[2021-09-06 12:51] alexmirrington commented on #5111
@ShimiSun @ericsoderberghp @taysea Any updates on this? I know it has been a while but this is something I would still like to see in Grommet. If you would prefer I closed this issue and created another one, I'd be more than happy to.

[2021-09-07 15:14] LeComptoirDesPharmacies commented on #5565
Changes are done and i'll close the pull request (https://github.com/grommet/grommet-site/pull/305/) of the documentation as with this solution there isn't any change to the theme :)

[2021-09-07 15:25] dvr707 opened #5576 "Is ie11 support broke?"
Visiting https://v2.grommet.io/ in internet explorer 11 gives a white screen

### Steps to Reproduce

Visit https://v2.grommet.io/
![image](https://user-images.githubusercontent.com/24251723/132370604-3a5dc194-e471-459a-b300-f44fc6d85d4f.png)

### Your Environment

![image](https://user-images.githubusercontent.com/24251723/132371031-6a46fe3b-cee5-4322-b173-2dc395fb9f0e.png)

[2021-09-07 17:23] jcfilben opened #5578 "Contributing Guide Developer’s Certificate of Origin"
### Expected Behavior
In the contributing guide there is a section that says,

Is this section of the contributing guide outdated or is it something that we need to be enforcing?

### Actual Behavior
PR's are being accepted without being signed.

[2021-09-07 17:25] jcfilben commented on #5540
Opened new issue related to this https://github.com/grommet/grommet/issues/5578

[2021-09-07 18:14] MikeKingdom commented on #5486
What seems to be causing this is Grommet's `Markdown` component uses its `TableCell` component for the `<td>` elements in the Markdown. `TableCell` by default uses a `Box` which is `display:flex` to wrap the cell content. For some reason, `display:flex` causes inline children like `<em>` to become `display:block`.

[2021-09-07 18:43] valeporti opened #5579 "Some components are not exposed/exported"
import { Notification } .. do not detect "notification"

### Expected Behavior

Get Notification component as told in the docs

### Actual Behavior

Typescript Error:
Module '"grommet"' has no exported member 'Notification'

Also, if I go to *node_modules* , to the grommet folder, I can't find the component, weird because I see it in src in your page.

### Steps to Reproduce

Just try to import No

[2021-09-07 19:35] halocline commented on #5579
@valeporti thank you for reporting. Notification has not been officially released -- however, it is available on [Grommet's Stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) for immediate use. Grommet will release v2.18.0 near the end of September and will include Notification at that time.

Since this is by design, I will close this issue. Please

[2021-09-07 19:35] #5579 closed

[2021-09-07 21:15] jcfilben commented on #5578
I did some additional research on this and it looks like we don't need to include the Developer's Certificate of Origin unless it is required for open source projects within the company.

Grommet is licensed under Apache 2.0
Section 5 of Apache 2.0 states:

    any Contribution intentionally submitted for inclusion in the Work
    by You to the Licensor shall be under the terms and conditions of

[2021-09-07 22:26] ericsoderberghp commented on #5578
I'm inclined to blindly trust the legalese. Any objections?

[2021-09-08 07:31] AkshayChoulwar commented on #5539
@DanielBaird @britt6612 Not sure what exactly the test case because I couldn't found in the file. Generally working with the times can we use the UTC date here to avoid issues related to timezone?

[2021-09-08 09:35] B-Esmaili opened #5583 "DateInput has no day of week cell on top of columns."
### Expected Behavior

DateInput have to show day of week on top of each column.
![82713135-4a908480-9c60-11ea-9595-cbc4d928b16d](https://user-images.githubusercontent.com/9152515/132940502-cfdf680b-79f4-454a-bd62-9cb6c7ccf3a4.png)

![image](https://user-images.githubusercontent.com/9152515/132940543-382fe2ec-4f72-46e9-bdf4-b9fed5e94178.png)

### Actual Behavior

Day of week doesn't show up.

- Gr

[2021-09-08 15:19] jcfilben commented on #5578
Trust it as in keep the Developer's Certificate of Origin or trust it as in trust the Apache license to cover that section so we don't need the Developer's Certificate of Origin?

[2021-09-08 17:38] JackGoldsworth commented on #5539
@DanielBaird @AkshayChoulwar I've also been having a timezone-related issue similar to the one above, and I was wondering if you could possibly provide an alternative in order to only get the date (without time) on selection. For example, date input could have a boolean prop called dateOnly, so that when you select September 8th, 2021, you'd get the date 2021-9-8 (Without worrying about the timezo

[2021-09-08 18:34] #5578 closed

[2021-09-08 19:11] djoyal opened #5585 "Carousel animation reverses when looping from last slide back to first slide"
### Expected Behavior

When a carousel is set to `autoplay` and it returns from the last slide to the first slide, the animation should play in the same direction as the previous animation. For example, if the other slides slide into view from `right --> left`, the first slide should also slide in from `right --> left`.

It's a little visually jarring for the direction to suddenly change.

### Act

[2021-09-09 14:51] kysley opened #5586 "Select Dropdown rendered outside of Drop"
### Expected Behavior
A `Select` options dropdown should be confined to the `Drop` it is rendered inside.

### Actual Behavior

A `Select` options dropdown is rendered 'on top' of the Drop. This results in a floating dropdown while the Select itself is no longer visible inside the Drop.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/interesting-maxwell-sh15l?file=

[2021-09-09 17:14] jcfilben commented on #5540
Done in #5577

Done in #5584

[2021-09-09 17:14] #5540 closed

[2021-09-09 17:29] #5486 closed

[2021-09-09 21:03] PauloE314 commented on #5586
I'm gonna work on it.

[2021-09-10 18:13] #5320 closed

[2021-09-10 18:18] jcfilben commented on #5111
Hi @alexmirrington sorry for the long wait on this. Thanks for your patience and following up on the issue. I think typescript testing would be a beneficial addition to grommet. @ericsoderberghp do you know if there was a reason we were holding off on this or has it just been waiting for someone to take a stab at reviewing it?

[2021-09-10 18:22] #5537 closed

[2021-09-10 18:34] jcfilben commented on #5583
Can you share more context of what you are hoping to achieve? Maybe include a picture so people can see what you are envisioning.

[2021-09-10 18:45] jcfilben commented on #5576
Hi @dvr707 thanks for filling the issue. I tested and it does look like the grommet site is no longer working on Internet Explorer.

Microsoft dropped support for Internet Explorer in 2016, will officially retire it in 2022, and plans to entirely shutdown the browser in 2025. Microsoft strongly suggests its users switch to Microsoft Edge due to both security issues and compatibility problems with

[2021-09-10 19:17] jcfilben commented on #5542
@g4rry420 I agree, I think we should add the justify prop and change this `justify={align === 'center' ? 'center' : 'between'} ` to be `justify={justify}`

[2021-09-10 20:30] g4rry420 commented on #5542
okay, I work on this issue.

[2021-09-11 07:43] B-Esmaili commented on #5583
Updated the Issue. It's all clear now.

[2021-09-12 12:12] alexmirrington commented on #5111
@jcfilben I've just created a new PR and closed the old one, as the dependencies for the old PR were quite a few months out of date. All technical details for reviewers can be found in the description of the new PR.

[2021-09-13 19:16] chrisvalmonte opened #5592 "Select component selected option container cannot by styled via theme"
Select component selected option container cannot by styled via theme.

### Expected Behavior

Style the background and text color of the selected option container using `select.options.container.background.selected`, `select.options.container.selected.background`, `select.options.container.selected.color`, `select.options.container.color.selected`, or similar, theme override.

### Actual Behavior

[2021-09-13 20:55] taysea commented on #5499
Going to close this issue. Based on my research, DateInput is allowing the selection to function correctly. If user uses Voice-Over special commands, they should use the selection method from this mode. Bill Tipton uses a different screen reader than Voice Over, so that would be unrelated to this scenario.

[2021-09-13 20:55] #5499 closed

[2021-09-13 20:56] chrisvalmonte commented on #5592
I also need to style the clear option at the top/bottom to have a transparent background

[2021-09-14 15:13] ericsoderberghp commented on #5583
I think `<DateInput calendarProps={{ daysOfWeek: true }} />` will do it.

[2021-09-14 15:20] #5466 closed

[2021-09-14 18:39] BittencourtMH opened #5594 "Background and border are not applied properly when rowDetails is set in DataTable"
### Expected Behavior

The values of the `background` and `border` properties should be applied to all cells of the table. When `rowDetails` is set, the values should also be applied to the autogenerated column (the column which contains buttons to expand and collapse detail rows) and the detail rows.

### Actual Behavior

The values of the `background` and `border` properties are not applied to t

[2021-09-14 19:00] B-Esmaili commented on #5583
Thanks for the suggestion @ericsoderberghp . It did the job.

[2021-09-14 19:25] #5583 closed

[2021-09-14 22:22] MikeKingdom opened #5596 "Meter type=circle size=full has svg error"
When specifying `type="circle" size="full"` to Meter

### Expected Behavior

Shouldn't produce a browser error in the console

### Actual Behavior

This error is displayed in the chrome javascript  console.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/12054362/133341339-29fc36df-a2f8-4825-b0dd-8255f34ccf9e.png)

### Steps to Reproduce

[2021-09-14 23:26] #5501 closed

[2021-09-14 23:26] #5502 closed

[2021-09-14 23:45] #5429 closed

[2021-09-15 15:38] g4rry420 commented on #5160
If I am not wrong, I think `gridArea` supports the non-named areas. I implemented this:-
[code]
Please, let me know your thoughts.

[2021-09-15 17:57] jonka5 opened #5598 "Color is not applied to Spinner when hpe theme is set"
### Expected Behavior

The color set in the color property of the Spinner component should override the theme setting.

### Actual Behavior

It always displays the color which is set in the theme and ignores the color set in the Spinner component.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-spinner-vw28f?file=/index.js

### Use Case

In a co

[2021-09-15 18:13] #5596 closed

[2021-09-16 18:15] jcfilben commented on #5401
Closing since we were unable to reproduce the issue. Feel free to reopen and share a code sandbox demonstrating the issue.

[2021-09-16 18:15] #5401 closed

[2021-09-16 18:19] jcfilben commented on #4917
Closing due to lack of activity. Feel free to reopen if needed.

[2021-09-16 18:19] #4917 closed

[2021-09-16 18:26] jcfilben commented on #4780
Closing since the `show` prop has been added to List and can be used to achieve the desired behavior.

[2021-09-16 18:26] #4780 closed

[2021-09-16 18:42] jcfilben commented on #4598
Closing since we were not able to reproduce the position issue and the Drop should stay open even if you scroll down. Feel free to reopen with a code example or if you want to continue discussion on this topic.

[2021-09-16 18:42] #4598 closed

[2021-09-16 18:45] jcfilben commented on #4522
Closing since we were unable to reproduce the issue. Feel free to reopen with a code example.

[2021-09-16 18:45] #4522 closed

[2021-09-16 18:52] jcfilben commented on #4273
Thanks for sharing your solution @disbelief and @Alkindi42. I'll go ahead and close this issue.

[2021-09-16 18:52] #4273 closed

[2021-09-17 01:30] #5144 closed

[2021-09-17 05:47] #5446 closed

[2021-09-17 20:48] jcfilben commented on #5592
Hi @chrisvalmonte to style the selected option via the theme you can use `global.selected.background` or `global.selected.color`. The reason you were unable to style the selected options with `select.options.container` is because this is for styling that is applied to the entire options container. To style the clear option you can use `select.clear.container`. Here is a [codesandbox](https://codes

[2021-09-19 04:06] loongluangkhot commented on #5299
@g4rry420 pls go ahead and do it. Sorry for super late reply!

[2021-09-19 05:45] #5111 closed

[2021-09-19 06:02] alexmirrington opened #5599 "[TS] Migrate tests to .tsx"
### Overview and Motivation

This is a ticket to aid the migration of `*.js` tests to `*.tsx`. The general motivation here is to improve TypeScript support in Grommet so that when type checks fail, so do unit tests. For more details about why and how we are doing this, please refer to the related Issues and PRs below.

### Related Issues and PRs

Addition of TS unit testing support:

- Issue: #511

[2021-09-20 15:45] #5542 closed

[2021-09-20 15:45] jcfilben commented on #5299
Closing this issue since #5571 has been merged.

[2021-09-20 15:45] #5299 closed

[2021-09-20 16:59] ericsoderberghp opened #5604 "PropertyList - draft grommet component"
Create a draft pull request including the index.d.ts file to enable discussing the API surface.

[2021-09-20 21:27] taysea opened #5605 "Enhance `truncate="tip"` on Text to also support `dropProps`"
### Expected Behavior

When user applies truncate="tip", they should be able to also apply `dropProps` that affect the tip alignment (similar to the tip component).

### Actual Behavior

When user applies truncate="tip", they have no control over the drop alignment.
https://storybook.grommet.io/?path=/story/type-text-tip--tip

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Rep

[2021-09-20 23:48] #5585 closed

[2021-09-20 23:50] #5445 closed

[2021-09-21 09:34] alexmirrington opened #5610 "[Question] AccordionPanel tests"
### Question

The `AccordionPanel` component currently doesn't have any unit tests that reside in its own component directory. At the moment, `AccordionPanel` tests are located within the `Accordion` component, and I wonder if it makes more sense to mode those tests that are more focused around the `AccordionPanel` component to the `AccordionPanel` component directory for readability.

[2021-09-21 10:51] alexmirrington commented on #5599
Hi @jcfilben and @ericsoderberghp,

I was just wondering what approach you would recommend for components that currently dont have tests associated with them such as `AccordionPanel`, `CardHeader`, `CardBody` and `CardFooter`?

As discussed in issue #5610, I wonder if `AccordionPanel` tests should reside under the `AccordionPanel` component rather than `Accordion`, or whether including tests under

[2021-09-21 16:25] jcfilben commented on #5610
Good question. Could go either way but I think that the AccordionPanel tests can remain within the Accordion component since AccordionPanel is expected to always be wrapped by Accordion

[2021-09-21 16:35] jcfilben commented on #5599
I am leaning towards just keeping tests under the parent component

[2021-09-21 16:38] g4rry420 commented on #3853
Can I work on this issue ?

[2021-09-21 16:54] jcfilben commented on #3853
Go for it! @g4rry420

[2021-09-21 21:28] jcfilben commented on #5569
I've been looking into this, and according to [accessibility guidelines](https://dequeuniversity.com/library/aria/tooltip) the tooltip should appear when the item it is on has focus. So when the Layer closes and focus returns to the Button I think the correct behavior is to show the tooltip

[2021-09-21 22:26] #5557 closed

[2021-09-21 23:12] chrisvalmonte commented on #5592
Awesome, thank you @jcfilben!

[2021-09-21 23:32] chrisvalmonte commented on #5592
Can you add a theme override so that I can add hover and focus styling to the "Clear" option?

[2021-09-22 00:45] lleBit opened #5613 "iconProp and labelProp extend props in theme for Button"
I would like to extend css for specific conditions when the icon and label props has been passed to the Grommet Button, but observed that there are no Grommet specific props available. It would be very helpful to me to have these props.

### Expected Behavior

There is iconProp and labelProp available for extending CSS.

### Actual Behavior

The props are not available.

### URL, screen shot, or C

[2021-09-22 15:19] jcfilben commented on #5592
You can use `select.clear.container.hoverIndicator` for hover styling. For focus styling you can create a styled component and use css to style the clear button when it has focus.

[2021-09-22 16:57] #5511 closed

[2021-09-22 19:53] #5565 closed

[2021-09-22 20:10] TaylorDunlop95 opened #5617 "Update the base.d.ts type interfaces for the styles of components"
### Expected Behavior

With theme styling, I should be able to use the `extend` keyword with the radioButton, radioButton.check, drop, etc.
[radioButton Example](https://v2.grommet.io/radiobutton#radioButton.extend)

### Actual Behavior

When theme styling, VSCode will err, noting that there is no `extend` attribute on the `base.d.ts` type.

### URL, screen shot, or Codepen exhibiting the issue

<

[2021-09-22 21:45] TaylorDunlop95 opened #5618 "For certain attributes, we cannot use theme colors."
### Expected Behavior

When building a custom theme, I should be able to use the theme defined colors for other components

### Actual Behavior

With certain component styling attributes, I cannot use those predefined colors.

For example, if I were to define a color `'light-2': '#F3F3F3'` and then use it in the `radioButton.check.background.color` it will not work.

This:
<img width="220" alt="Sc

[2021-09-22 23:40] ericsoderberghp commented on #5448
`alignControls` actually refers to how the tabs are aligned in the vertical axis. For spreading the tabs out across the horizontal axis, you should use something like `justify="between"`. I think the documentation should be improved to make this clearer.

[2021-09-23 00:25] alexmirrington commented on #5610
No worries, cheers for the quick response! I'll leave tests as they are :)

[2021-09-23 00:25] #5610 closed

[2021-09-23 16:34] taysea opened #5619 "DateInput onChange not triggered when controlled"
### Expected Behavior

When DateInput value changes in a controlled use case, the maskedinput should display those dates.

### Actual Behavior

Dates do not appear in the maskedinput when state changes in controlled case, onChange is not fired but when you open the Calendar, the dates are selected properly.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/dateinput-

[2021-09-23 16:47] jlaluces123 commented on #5448
I also wanted to create a codesandbox to further showcase `alignControls` as I had trouble with it myself. Copying the `alignControls` [story for Tabs](https://storybook.grommet.io/?path=/story/controls-tabs-align-controls--align-controls), I created an extended version of this showcasing the `stretch` value for alignControls [here.](https://codesandbox.io/s/grommet-v2-template-forked-p1zi3?file=/

[2021-09-23 17:02] PauloE314 opened #5620 "Fast blink on Select dropdown content"
### Expected Behavior

After clicked, the dropdown's contents should be rendered in the correct position (like below the Select component).

### Actual Behavior

Sometimes, the content is rendered at the top left corner of the screen during a really short amount of time.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/fast-blink-on-select-dropdown-content-el5ze?fil

[2021-09-23 17:06] PauloE314 commented on #5586
Unfortunately, I couldn't find a solution to the problem, but everyone how want try to figure out some way to fix this, fell free to contribute ;)

[2021-09-23 18:35] kysley commented on #5586
Thanks for spending some time on it @PauloE314 ❤️ If I get some free cycles at work I'll try to tinker with it

[2021-09-23 21:21] TaylorDunlop95 commented on #5618
Thanks @MikeKingdom!

[2021-09-24 04:56] venkatesh-elchuri opened #5624 "Events are not propagating to Target container when Layer component rendered inside a container."
### Expected Behavior

If the layer was rendering inside a container , the events fired on the layer component has to propagated to Parent container (which having some event listeners are added to targeted Div).

### Actual Behavior
When we have target property to layer component, The layer was rendering inside target container is fine, But Event listeners that target having were not invoking.

##

[2021-09-24 19:58] halocline commented on #5613
@lleBit Can you provide additional details about your use case and what you are trying to achieve? Can you share the design you are wanting to implement?

[2021-09-24 20:09] lleBit commented on #5613
@halocline - Yes of course! I am using the Grommet theme to edit the Grommet Button. I want to be able to style the Button within the extend property if just an icon is passed to the Button. This will be like the styling for a Button that is icon only. At the moment there's no definitive way to check whether those props have been passed to the Button.

It would be helpful to have those props acces

[2021-09-24 20:26] rhian-cs commented on #5430
Hello, may I give this issue a try?

[2021-09-24 20:37] britt6612 commented on #5430
@rhian-cs that would be awesome 👏

[2021-09-24 20:46] halocline commented on #5613
@lleBit One more thing, can you confirm that you have `button.default` defined in your theme?

[2021-09-24 20:53] halocline commented on #5613
@lleBit Saw your comment on Slack that you'd be open to exploring a PR. 🤞  this should be a relatively straightforward one.

A couple points for background:
1. Grommet has two types of buttons, `<StyledButton />` (legacy) and `<StyledButtonKind />` (modern).
2. It looks like `<StyledButton />` is getting `hasIcon` and `hasLabel` [props set here](https://github.com/grommet/grommet/blob/c20c1264c8b3

[2021-09-24 20:56] lleBit commented on #5613
@halocline  - Yes I do have default defined under button in the theme.

Awesome! I'll ping you when I have it done.

[2021-09-24 21:47] chrisvalmonte commented on #5592
@jcfilben I tried adding hover styling via `select.clear.container.hoverIndicator.background` using the sandbox that you provided, but that doesn't work

[2021-09-24 22:10] jcfilben commented on #5023
Closing since #5028 was merged.

[2021-09-24 22:10] #5023 closed

[2021-09-24 22:19] jcfilben commented on #5240
Closing since this was fixed in v2.17.2 with PR #3991

[2021-09-24 22:19] #5240 closed

[2021-09-24 22:53] #5604 closed

[2021-09-24 22:54] jcfilben commented on #5592
Hmm I think it is not working because onClick has to be specified to use the hoverIndicator prop and the click isn't happening on the Box that is being styled but instead it is happening on the Button component which contains the Box. I haven't tested but you may be able to do the hover styling through a styled component

[2021-09-24 22:54] britt6612 commented on #5604
These are now ready for review!

[2021-09-24 22:58] anderoonies opened #5627 "`ExtendFn` type prohibits `Record` return type, requires `theme: ThemeType` as a prop"
### Expected Behavior

The `extend` function in Grommet themes supports returning a record, and any subset of props as arguments. The type definitions should reflect this behavior

### Actual Behavior

The type definitions for `extend` prohibit returning a `Record` type, and require that the props be of type `Record<string, any> & {theme: ThemeType}`.

### URL, screen shot, or Codepen exhibiting t

[2021-09-24 23:00] jcfilben commented on #5569
@taysea and I discussed this yesterday. Current plan is to show the tip after the Layer closes and focus returns to the button only when a user is navigating by keyboard. If a user is navigating with a mouse it makes sense to only show the tip on mouse over. This will enable us to keep the accessibility of tip for keyboard users and allow us to fix the behavior for mouse users.

[2021-09-24 23:00] anderoonies commented on #5627
I'm happy to make a pull request updating the related types, but it seems like there's a fair bit of indirection and type aliases involved and I don't want to accidentally interfere with other types because I'm lacking context.
What I've been able to track is:

`extend` is an `ExtendType<TProps>` , where `TProps` is default `Record<string,any>`. `ExtendType` is either an `ExtendValue<TProps>` or `

[2021-09-24 23:30] chrisvalmonte commented on #5592
Ah okay. Yeah my team is trying to stick to styling via theme overrides so that we can just import the Grommet components in development, instead of custom styled components maintained internally by us.

[2021-09-25 00:29] lleBit commented on #5613
@halocline - Let me know if this is ok.
https://github.com/grommet/grommet/pull/5628

[2021-09-25 00:35] halocline commented on #5613
Awesome. Thank you for your contribution. I am wrapping up for the week, but will take a look on Monday. Cheers!

[2021-09-25 02:26] krist-jin opened #5629 "Typescript error when using style or className property for Select"
### Expected Behavior
Should not give error when using style or className property for Select in Typescript

### Actual Behavior
Error is shown although style is applied and no crash
[code]

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/jovial-heyrovsky-97fql

### Steps to Reproduce

See line 23 and line 24 of index.tsx

### Your Environment
See codesandbox

[2021-09-25 08:51] alexmirrington commented on #5539
Been running into this one locally too, and have been needing to push with the `-n` flag which is not ideal. Would be great to get this one merged before Hacktoberfest to make sure tests are being run locally by any new contributors

[2021-09-27 13:45] YuriyKovalcuk opened #5633 "Infinite loop within InfiniteScroll component"
In case the item property is empty array, and the loadMore function is provided the infinite loop happens in the InfiniteScroll, component actually the loadMore function is called infinitely
### Expected Behavior

The component should not cause the infinite loop, the loadMore function is called infinitely
### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

https://codesandb

[2021-09-27 15:16] #5618 closed

[2021-09-27 15:26] jcfilben commented on #5592
Understood, if you want you can open a new issue requesting the ability to style the clear button in Select with the theme. Or you can take it a step further and file a pull request adding this functionality to grommet

[2021-09-27 15:50] #5448 closed

[2021-09-27 16:44] venkatesh-elchuri commented on #5624
Do we have a solution for, how to propagate events to target element from layer component ?

[2021-09-27 18:23] jlaluces123 commented on #5447
Happy Monday @alphonso06!

I wanted to let you know that we're currently investigating the issue on why the combination of `styled(Anchor)` and `as={Link}` do not inherit the Anchor props despite inheriting the Anchor props when done separately. But as a solution for now to get you unblocked, any styling extensions needed for Anchor can be done through `anchor.extend` which I'll leave a quick exam

[2021-09-27 21:24] ericsoderberghp commented on #4095
Before doing any work on this, we should have some design work exploring how to go about this, especially accessibility aspects.

[2021-09-28 01:34] britt6612 commented on #5629
A fix for `className` should be available on stable branch

https://github.com/grommet/grommet/pull/5570

We will need to add styles to the types for ts

[2021-09-28 17:17] jcfilben opened #5634 "Calendar 1st day of month gets hover styling when clicking on other dates"
### Expected Behavior
Hover styling should only be applied when mouse is over the date

### Actual Behavior
If `range` is true or you can select multiple dates on the Calendar, when clicking a date the hover styling is applied to the first day of the month even if you are selecting a different date.

### URL, screen shot, or Codepen exhibiting the issue
Can be seen in the following stories:
https:

[2021-09-28 18:13] ericsoderberghp commented on #4945
I think this needs some design work first, around where the input is placed and how accessibility works. Then, implementation can follow.

[2021-09-28 21:00] #5633 closed

[2021-09-28 22:17] chrisvalmonte commented on #5592
@jcfilben I'll take a stab at filing a PR for it, what are your contributing guidelines?

[2021-09-28 22:21] jcfilben commented on #5592
The contributing guidelines can be found here: https://github.com/grommet/grommet/blob/master/CONTRIBUTING.md

[2021-09-28 22:52] jcfilben opened #5638 "Remove Chromatic Snapshots on Certain Stories"
Since we are limited to a certain number of chromatic snapshots each month, the snapshot should be disabled on stories where the snapshot isn't capturing anything valuable.

Chromatic snapshots should be disabled for the following stories:
**SkipLinks**
- [ ] Simple
- [ ] Themed

**Notification**
- [ ] Toast
- [ ] Toast Title Only

**TextArea**
- [ ] Fill

**RangeSelector**
- [ ] Step

**CheckBox*

[2021-09-28 23:08] jcfilben commented on #3394
I believe there is just one item left:
templates/grommet-v2-template/src/index.js

[2021-09-29 18:24] jcfilben commented on #3165
## 2021 Updated List
all of the components in which we need to improve event handler typing's

**Anchor**
- [ ] onClick *currently not in index.d.ts

**Box**
- [ ] onClick

**Button**
- [ ] onClick *currently not in index.d.ts

**Chart**
- [ ] onClick
- [ ] onHover

**CheckBox**
- [ ] onChange *currently not in index.d.ts

**Distribution**
- [ ] children

**InfiniteScroll**
- [ ]  children *curren

[2021-09-29 21:04] rhian-cs commented on #5430
Hello everyone, I know this was supposed to be a simple issue, but I'm having some trouble testing the change and the warning message.

The TypeScript build doesn't seem to complain when I use the `reverse` prop, or any additional (invalid) prop.

I've made the changes for this PR (add the `reverse` definition to the typescript types file) but I've not tested it. Should I open the PR, or test it f

[2021-09-29 21:12] jcfilben commented on #5430
Hi @rhian-cs I put together a [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-hw0m0?file=/index.tsx) that shows the issue. You should see a red underline under the reverse prop. Using the code in it you should be able to test if you fix worked

[2021-09-29 21:24] #5553 closed

[2021-09-29 21:25] halocline opened #5640 "Grommet Release - October"
Details on release process/checklist can be found here: https://github.com/grommet/grommet/wiki/Release

- [x] Release notes
- [x] Cross browser testing
- [x] HPE Theme Release
- [x] Cross browser testing
- [x] Grommet Release

[2021-09-29 21:26] halocline opened #5641 "Upgrade Grommet Dependencies - Following 2.18.0 Release"

[2021-09-29 22:45] jcfilben commented on #5624
I haven't had a chance to look into this much, but I'm wondering if dispatchEvent() could be used here?

[2021-09-30 06:32] kachar commented on #5430
I've also updated the original codesandbox from the description of the issue so it reflects the problem in `index.tsx` instead of `index.js` file

https://codesandbox.io/s/grommet-v2-template-forked-6dvme

![image](https://user-images.githubusercontent.com/893608/135399611-6e9fb6ac-3aba-45d3-9aa1-30644dc67776.png)

[2021-09-30 07:28] novykh commented on #5426
@ischoe please check this PR https://github.com/grommet/grommet/pull/5625 to see if it works fine for you. Maybe show some love in order to merge it

[2021-09-30 07:29] novykh commented on #5440
@haysclark you can check this PR https://github.com/grommet/grommet/pull/5625 until they decide to merge it.

[2021-09-30 13:50] jlaluces123 commented on #5447
Hey @alphonso06 ! I wanted to get back to you after diving into the issue a bit more and here is what I found. In the codesandbox example you wrote, we're wrapping a component (in this case, the `Anchor` component) inside a `styled()`. Since `Anchor` is a component that can take an `as` prop, we would actually want to use `forwardedAs` as a means to pass down the props we want. With this implement

[2021-09-30 22:12] jcfilben commented on #5629
#5570 also fixed adding `styles` to Select. @krist-jin I forked and then updated your [codesandbox](https://codesandbox.io/s/dazzling-dan-rstlq?file=/src/index.tsx) to use grommet v2.18.0 and you can see the issue has been fixed

[2021-09-30 22:13] #5629 closed

[2021-09-30 22:39] BigBadLoser opened #5642 "can't change button border radius via theme context"
### Expected Behavior

Custom theme within a theme context should change the radius of the buttons border

### Actual Behavior
nothing

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/themecontext-extend-forked-sk2hp?file=/index.js

[2021-10-01 08:27] alexmirrington commented on #5316
I'm working on a fix for this now as part of our Typescript testing epic.

[2021-10-01 08:59] alexmirrington commented on #5642
You can change the radius of the button border if you replace your theme with this:

[code]

As far as I know, there isn't a way to change it just for medium buttons, but that's not the point of themeing. If you want to change it just for medium buttons, leave the theme as it is and pass the `radius` prop as needed or make a custom component.

[2021-10-01 18:13] Spectre-ak commented on #5495
Can I work on this?

[2021-10-01 18:35] jcfilben commented on #5495
@jlaluces123 have you already started working on this?

[2021-10-01 18:39] jlaluces123 commented on #5495
Hey @Spectre-ak absolutely! @jcfilben I was currently on the research phase of this issue so I wouldn't mind handing it over, great to see the work being done!

[2021-10-01 19:22] denant0 opened #5646 "Background color for the calendar day when we click on the left/right arrows"
Using Calendar, we are trying to change the background color for the calendar day when we click on the left/right arrows
How I can do this?

### Expected Behavior

### Actual Behavior
I need change this
![изображение](https://user-images.githubusercontent.com/1597545/135675392-1f56ef7b-cf87-43b7-97df-89be9b389532.png)

### URL, screen shot, or Codepen exhibiting the issue

![изображение](https://u

[2021-10-01 20:48] jcfilben commented on #5646
Hi @denant0 you can set `global.active.background.color` in the theme to customize this

[2021-10-01 20:52] denant0 commented on #5646
Thank you very much for the answer!

[2021-10-01 22:28] jcfilben commented on #5646
Hey @denant0 are you okay if I go ahead and close this issue?

[2021-10-01 22:29] jcfilben commented on #5642
Thanks for the response @alexmirrington! @BigBadLoser can we go ahead and close this issue?

[2021-10-02 02:42] lleBit opened #5647 "Control margin of Tabs without changing margin of Tab content"
Currently, there is no way to set the margin of the Tabs header independently of the Tab content.
I would like to be able to align the Tabs header without affecting the content.

### Expected Behavior
There should be a Tabs prop like headerMargin to be able to set the header margin separately.

### Actual Behavior
There is only a margin prop which sets the margin of the content.

### URL, screen s

[2021-10-02 02:42] lleBit commented on #5647
I'm open to submitting a PR for this

[2021-10-02 06:00] BigBadLoser commented on #5642
I missed the part under themes where it says button.border.radius, I was looking at button.size.medium.border.radius.

[2021-10-02 06:00] #5642 closed

[2021-10-02 11:39] 6220119 commented on #5638
@jcfilben please help review PR https://github.com/grommet/grommet/pull/5648, it should address this issue 😄

[2021-10-02 17:34] Kishore-abhimanyu commented on #5634
Can you assign me this issue?

[2021-10-02 17:55] Spectre-ak commented on #5495
@jcfilben , I've created a PR for this issue here [Fixes Image component keeping previous props](https://github.com/grommet/grommet/pull/5650)

[2021-10-02 20:25] denant0 commented on #5646
Hello, thanks. Yes, this work for my!

[2021-10-03 01:18] thomas-friedrich opened #5652 "DataTable pagination not updating correctly when data changes"
### Expected Behavior
Scenario 1:
- Data table with 10 rows and pagination that shows 5 items per page
- Go to page number 2 to see items 6-10
- In a column that has search enabled, search for items in the table which reduces the items to 5 or lower
- The expected behavior is that the table shows the 5 items that match the search criteria (pagination could be shown with one page, or not at all)

S

[2021-10-04 11:06] Spectre-ak commented on #5619
Can I work on this?

[2021-10-04 15:04] #5646 closed

[2021-10-04 15:05] jcfilben commented on #5634
Hi @Kishore-abhimanyu I am unable to assign you to the issue but feel free to work on it

[2021-10-04 15:15] halocline commented on #5619
It looks like this issue already has a [PR in review](https://github.com/grommet/grommet/pull/5632).

[2021-10-04 16:36] LeComptoirDesPharmacies opened #5657 "Multiple Select with search is broken"
### Expected Behavior

On a multiple select with Search, when user click on dynamic option returned from search, `onChange` method should return correct `value`, even if previous checked options are not available anymore.

### Actual Behavior

On a multiple select with search, when a user click on an option that was dynamically retrieved, `onChange` return wrong next value. Indeed, it return `[und

[2021-10-04 16:53] venkatesh-elchuri commented on #5624
Can you have any working example with sand box ?

[2021-10-04 18:18] Spectre-ak commented on #5403
Hi, I've created a PR for this issue [Fixes Checkbox focus state when checkbox is disabled](https://github.com/grommet/grommet/pull/5658)

[2021-10-04 21:05] lleBit commented on #5647
https://github.com/grommet/grommet/pull/5661

[2021-10-05 15:37] ericsoderberghp opened #5663 "Storybook with HPE theme"
Ideally, we'd like to have Storybook published such that all stories can be seen using the HPE theme, ideally via a URL parameter. For example, `https://storybook.grommet.io/?path=/story/controls-button-basic--basic` would still show the current grommet theme but something like `https://storybook.grommet.io/?path=/story/controls-button-basic--basic?theme=hpe` would show the HPE theme. Additionally

[2021-10-05 16:03] #5641 closed

[2021-10-05 16:15] g4rry420 opened #5664 "[Feat] Mouse Wheel to control RangeInput Value"
### Expected Behavior
It would be nice, if using the mouse wheel user can control the value for the RangeInput when a user hover over the RangeInput.

### Actual Behavior

Currently, RangeInput doesn't support this.

### Your Environment

- Grommet version: latest
- Browser Name and version: Any
- Operating System and version (desktop or mobile): Desktop

[2021-10-05 21:06] rhian-cs commented on #5430
Hello everyone! Thanks for updating the codesandboxes!

I've been taking a look at them over the past week and I've noticed the problem lies in the different versions. I was also able to reproduce the issues locally.

- In @kachar 's [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-6dvme) the `reverse` prop is not accepted, with the grommet version being `2.16.2`.
- In @jcfilben '

[2021-10-05 21:53] #5613 closed

[2021-10-05 22:24] jcfilben commented on #5430
Hi @rhian-cs thanks for taking a look at this. I realized the `reverse` prop isn't actually documented for FormField and it is not included in the PropTypes.js so it makes sense it is not in the index.d.ts.

As far as the error not showing up I think this is not because the `reverse` prop is valid but instead I think type checking is no longer happening. I tested locally with a type that should ha

[2021-10-05 22:39] jcfilben commented on #5430
Codesandbox example: https://codesandbox.io/s/stupefied-sun-44pfs?file=/src/index.tsx

[2021-10-06 16:12] kevingill55 opened #5669 "General Updates to `CONTRIBUTING.md`"
### Expected Behavior

Some potential updates to the `CONTRIBUTING.md` file:

- [ ] Include a section on label usage and explanations of what each label means.
- [ ] Add information about the Slack channel. What channels you should join, where to ask what questions, etc.
- [ ] Maybe include a tidbit about checking prior issues and pull requests before reaching out for assistance and submitting iss

[2021-10-06 16:30] #5403 closed

[2021-10-06 16:58] #5598 closed

[2021-10-06 18:18] jcfilben commented on #5669
Hi @kevingill55 great notes!
1. Label usage
I agree it would be helpful to include an explanation of the labels we use and what they mean. Here are a few ideas of what we could include:
`waiting`: applied to pull requests that have been reviewed and are waiting for a response or changes from the author. The label can also be applied to issues that have been commented on and are waiting for a respo

[2021-10-06 21:08] jcfilben commented on #5657
I was looking into this and found a different but potentially related issue. In this [codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-pv073?file=/index.js) if you search for something, select and option and then search again and select an option only the second value will be in the value array.

[2021-10-06 23:14] Marcinthedev opened #5670 "DateInput component missing correct size type"
I've started working on https://github.com/grommet/grommet/issues/5599 issue, but after doing some changes and adding types it turned out that size property for DateInput doesn't work correctly. Setting different values to it brings the same results and during rewriting test to ts it shows that the size has incorrect type.

### Expected Behavior

Passing string as a DateInput size prop shouldn't s

[2021-10-07 14:22] kevingill55 commented on #5663
From my research and playing around with it a bit, this problem is a little complicated because all stories are rendered into an iframe nested in the DOM. I'm still narrowing down the exact reasons, but manipulating the window object and the URL (like a search parameter) is difficult and a tad risky as Storybook uses its own router and mechanisms for interacting with the UI. Nonetheless, there are

[2021-10-07 16:54] kevingill55 commented on #5663
Sounds good 🤝  - Per our discussion I'll move forward with option 1 and get a PR up there. Thank you again!

[2021-10-07 19:30] BittencourtMH opened #5672 "Background is not applied to pinned header in DataTable"
### Expected Behavior

The value of the `background` property should be applied to all cells of the table.

### Actual Behavior

When the header is pinned, the value of the `background` property is not applied to the header.

### URL, screen shot, or Codepen exhibiting the issue

![Screen Shot 2021-10-07 at 16 26 44](https://user-images.githubusercontent.com/28353395/136449673-d8c5cf87-35a1-40e2-9

[2021-10-08 13:53] matsawkaHPE opened #5675 "Grommet Carousel Transition"
Expected Behavior:
When clicking Next or Previous on the Grommet Carousel there would be a smooth transition. Something like Bootstrap, where the current image slides off as the new image slides in.

Actual Behavior
The current image disappears and the new images slides in, which makes the transition feel abrupt especially for large hero carousels.

Steps to Reproduce
This is the standard out of t

[2021-10-08 15:11] halocline commented on #5675
Notes:
- Abruptness occurs because `visibility` is set to 'hidden' and which does not allow the fadeOut animation to display https://github.com/grommet/grommet/blob/45198d0d6878f79d8e82f0e08ee4190df6d3d839/src/js/components/Carousel/Carousel.js#L162
- Looks like this was a regression introduced by https://github.com/grommet/grommet/pull/5326 when trying to prevent non-active slides from being visi

[2021-10-08 17:49] denant0 opened #5677 "Accessibility Calendar. Click arrow to select day"
Using Calendar, Low contrast grey button against the white background is still the only visual means of tracking keyboard focus inside the calendar.  What can be done so that when you press the keys, the text is read?

### Expected Behavior

![изображение](https://user-images.githubusercontent.com/1597545/136600618-1631c46b-6b7d-4b4c-8cbf-d08d8d50a239.png)

### Actual Behavior

### URL, screen sho

[2021-10-08 19:25] serp777 commented on #5095
this problem still exists on 2.18

[2021-10-11 16:01] kevingill55 commented on #5675
That's right yeah. I can start taking a look at this

[2021-10-11 19:35] jcfilben commented on #5430
Closing, see explanation above.

[2021-10-11 19:35] #5430 closed

[2021-10-11 22:49] taysea opened #5679 "DataTable - Better support for lazy loading in grouped datasets"
### Expected Behavior

DataTable should allow user to provide information about all potential groups for a given column instead of needing to rely on knowing all the data upfront.

DataTable should also accept an `onMore` in the groupBy prop similar to the `onExpand` that allows more data to be fetched.

This is particularly needed for tables that may be rendering large data sets (1+ million recor

[2021-10-12 00:33] #5669 closed

[2021-10-12 01:34] tromgy opened #5680 "The Button component hoverIndicator property does not work as documented."
The **Button** component's `hoverIndicator` property behavior does not match documentation.

### Expected Behavior

In a TypeScript project, having a button defined like this:

[code]

I expect it to work as documented here: https://v2.grommet.io/button#hoverIndicator

### Actual Behavior

But, TypeScript gives me an error:

[code]

Looking at the type definitions first in **node_modules/grommet/c

[2021-10-12 02:26] #5617 closed

[2021-10-12 23:30] danielm-hpe opened #5681 "Notification should allow directly controlling the auto dismiss time, including disabling auto dismiss"
There are some cases where the use case for toast notifications call for the toast to be visible for longer than 8 seconds, or to be visible until dismissed (disable the auto-dismiss entirely).  Currently the auto-close time can only be controlled via the theme, but apparently not disabled- https://v2.grommet.io/notification#notification.toast.time

### Expected Behavior

I would like to have the

[2021-10-13 18:48] MLRichmond opened #5682 "TextInput loses caret position inside Tab controls"
### Expected Behavior

If you move the caret to the center of a text string and type, the caret should remain at the position of the data entry.

### Actual Behavior

If you move the caret to the center of a text string and type, the new character is inserted correctly but the caret jumps to the end of the string.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/gro

[2021-10-13 19:29] ericsoderberghp commented on #5531
We would still take the string format of `controls`. The object format would put that same string value into the `position` key.

[2021-10-14 21:02] #5670 closed, assigned to nobody

[2021-10-15 19:22] chrisvalmonte opened #5691 "Invalid prop 'scrollableAncestor' supplied to 'InfiniteScroll'"
### Expected Behavior

The InfiniteScroll component accepts a scrollableAncestor prop that allows consumers to determine the DOM node container that the render marker is visible in. In my case, adding infinite scrolling to a div's great grandparent, the main element.

### Actual Behavior

The InfiniteScroll component does not accept a scrollableAncestor prop, which is documented at https://v2.grom

[2021-10-16 17:45] B-Esmaili opened #5692 "licking o"
### Expected Behavior

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2021-10-17 03:48] #5692 closed

[2021-10-18 00:26] tromgy opened #5695 "The button hoverIndicator property does not work as expected"
This is a separate issue, but related to #5680

### Expected Behavior

Given that #5680 is fixed or just using JavaScript instead of TypeScript, the button defined as follows:

[code]

Should have a noticeable shadow when hovered over with the mouse.

### Actual Behavior

There is no noticeable shadow. Looking at the actual styles in the browser dev tools I see that the shadow that should have bee

[2021-10-18 15:21] jcfilben commented on #3394
Closing, Class has been removed from all components (except RoutedAnchor and RoutedButton because they are deprecated) and stories.

[2021-10-18 15:44] ericsoderberghp commented on #5675
Original requestor is asking for a visual transition that does a whole image slide as opposed to a fade out.

[2021-10-18 18:06] britt6612 opened #5698 "POC TestCafe Grommet"
##  Incorporate TestCafe with Grommet-testing app to achieve some of the following:
- [x] Testing Library with Cypress (e.g. does Cypress allow queries such as "getByText"?)
- [x] TextInput placeholder
- [x] List onOrder drag and drop
- [x] Table filtering
- [x] schedule shareout

[2021-10-18 18:17] phinch opened #5699 "TableCell does not support border props as an array in the way that Box does"
Hello! Grommet's `Box` supports [passing in an array of border objects](https://github.com/grommet/grommet/blob/master/src/js/components/Box/StyledBox.js#L211-L217) to apply different styles to different sides of a Box. `TableCell` does not support the same functionality, and trying to pass in an array causes the border to be the default border on all sides.

### Expected Behavior

Ideally in my o

[2021-10-18 19:50] bilak opened #5700 "FormField alignment with required fields"
When using FormField with required fields the fields doesn't have same allignment as FormField without required field.

### Expected Behavior

All fields (required or not required) have same alignment.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/5826062/137797085-d4e7782a-07be-4cc0-b2ef-9e56062c8e77.png)
vs
![image](https://user-images

[2021-10-18 20:01] ericsoderberghp commented on #5700
The issue appears to be that the Text component doesn't inherit it's font-size and line-height from the FormField `<label />` container.

[2021-10-18 22:26] jcfilben commented on #5469
Thanks for the explanation @MikeKingdom. Based on what you said, I think the action item on this issue is just to update the documentation to be more descriptive.

[2021-10-19 02:24] MLRichmond commented on #5682
@jcfilben I've updated the code sandbox and believe I've found the difference. My solution uses a "theme" in the Grommet object.

https://codesandbox.io/s/grommet-v2-template-forked-zssn2?file=/index.js

[2021-10-19 15:12] halocline commented on #5675
Additional details from Slack:

"Hello Grommet Team, I have a deep-pull of a bug for you related to the carousel. On the carousel, we have some text - article title and short description - which is coming from a fetch call, the front-end is using some css to limit the text to 2 lines as to not overflow, the css is:
[code]

those 5 lines - which is working, except for Safari and iOS
after some head

[2021-10-19 16:07] MikeKingdom commented on #5480
We're deciding not to pursue this for now since it will require a lot more design and changes/implementation to make this idea generally available.

[2021-10-19 16:07] #5480 closed

[2021-10-19 18:04] Barnyclark opened #5706 "Add option to show Calendar on DateInput when the icon is clicked"
### Expected Behavior

If the format prop is specified, clicking on the calendar icon in the DateInput should open the calendar.

### Actual Behavior

If the format prop is not set clicking the icon shows the calendar (as expected). However, when the format prop is set clicking the calendar icon does not show the calendar. The only way to show the calendar is by pressing space - however, this also

[2021-10-19 22:57] jcfilben commented on #5682
Thanks for helping narrow down the issue! Looks like it is happing even with an empty theme.

[2021-10-21 16:09] #5700 closed, assigned to britt6612

[2021-10-21 19:21] taysea opened #5717 "Enhance Card theming to support hover elevation"
### Expected Behavior

Allow theme to specify hover treatment of card elevation. Proposing it be `card.hover.container.elevation`. This should apply any time a Card has `onClick` prop or `href`. (serving as a clickable element)

### Actual Behavior

No ability to theme hover elevation.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

-

[2021-10-21 19:44] g4rry420 commented on #5681
Can I work on this issue ?

[2021-10-21 20:41] #5605 closed

[2021-10-22 02:58] ericsoderberghp commented on #5451
I think this issue will need to some design work to ensure we've got the right interaction and accessibility behaviors.

[2021-10-22 03:09] anuragb26 commented on #5451
I was just trying this out & fixed this issue locally by replacing onChange by onClick & adding event.stopPropagation in the checkbox code in src/js/components/DataTable/Body.js
![Checkbox-grommet](https://user-images.githubusercontent.com/13941381/138386704-4bb0d647-8de0-40de-b48e-4df643eeeeae.PNG)
Let me know your thoughts about this approach.

[2021-10-22 19:18] smiksiukhpe opened #5726 "DateInput: When user choose date from calendar - calendar blinks."
When I chose date from calendar, this calendar blinks (looks like re-render)

### Expected Behavior

Calendar should not blink. Calendar should be opened until user close it by clicking outside.

### Actual Behavior

Calendar blinks.

![calendar](https://user-images.githubusercontent.com/81712383/138511208-22f89f46-9e2e-4e5a-bb84-e46d371996ab.gif)

### URL, screen shot, or Codepen exhibiting the i

[2021-10-24 11:03] NamrataPatel29 opened #5731 "Need a button inside the select dropdown (is this possible ?)"
Hi,
I am trying to develop a multiple select component, where i need two buttons at the end of the select dropdown.

i cant find any props which can help me do this.
can anyone please tell me is there a prop or way to  add button components inside the select dropdown at the end of the options

This is what i want to do :
![image](https://user-images.githubusercontent.com/76097441/138590988-d9efd6b

[2021-10-25 09:08] venkatesh-elchuri opened #5733 "Accordion's Title container Can be a Div instead of Button"
### Expected Behavior
 When we are using button inside the accordion's title , No console warnings should present. So, It is possible to have div instead of button .

### Actual Behavior
Getting console warning when using buttons inside accordion title container.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/30321668/138667287-20354e87-e5

[2021-10-25 21:23] jcfilben opened #5734 "Slack Invite no longer working"
Entering an email in the slack invite page results in 'no-perms' error
<img width="812" alt="Screen Shot 2021-10-25 at 3 19 48 PM" src="https://user-images.githubusercontent.com/54560994/138773052-de4316e1-7746-4f49-ad4a-26b6d93ebe6d.png">

[2021-10-25 23:09] jcfilben opened #5735 "Enhance Stories to Use Storybook Theming Functionality"
The ability to view Storybook stories with different themes was added in https://github.com/grommet/grommet/pull/5674.

We need to make adjustments to the stories component by component to take advantage of the theming ability. The Button stories are currently using this enhancement and can be viewed on [storybook](https://storybook.grommet.io/?path=/story/controls-button-active--active). While on

[2021-10-26 15:22] #5717 closed, assigned to taysea

[2021-10-26 21:51] chrisvalmonte opened #5739 "InfiniteScroll w/ replace={true} breaks inside a Grid"
### Expected Behavior

* Items further down in the grid render when scrolling quickly
* Scroll position stays the same after scrolling down quickly

### Actual Behavior

* Items further down in the grid do not render when scrolling quickly
* Scroll position jumps up after scrolling down quickly

### URL, screen shot, or Codepen exhibiting the issue

Video of the bug: https://user-images.githubuser

[2021-10-27 20:14] utkalsb opened #5756 "fileInput component using binary(1000) measurement for maxSize and error message"
1) The fileInput component has maxSize prop which is using binary measurement(1000 instead of 1024) for the size of the file and error message for over the limit file size. The Windows shows file size based on 1024 measurement so file size in windows is not same when uploaded in fileInput component. Please refer to the screenshot attached.
2) The border of the component and error message text colo