[2020-08-27 23:50] taysea commented on #4460
I'm taking a look at where this isn't getting passed through. I tried out adding active to styled tab and didn't have success but will try again.

[2020-08-28 10:12] moodele commented on #4366
Yes this bug still exist

[2020-08-28 17:27] ShimiSun commented on #4377
I'll be closing this since its desired functionality. Feel free to file a new issue if needed but please consider applying any behavioral changes may be perceived as a breaking change.

[2020-08-28 17:27] #4377 closed

[2020-08-28 18:01] ShimiSun commented on #4463
Linking to #4353

[2020-08-28 19:17] jcfilben commented on #4463
Was able to reproduce the issue here: https://codesandbox.io/s/grommet-v2-template-forked-gwyjy?file=/index.js
Looks like the `showAdjacentDays` prop is causing the issue in Calendar. I tested in both Calendar and DateInput and issue is occurring in both (uncomment DateInputExample line 33 to see).

[2020-08-28 19:42] phinch opened #4467 "CheckBoxGroup options' key attributes should be value instead of label"
CheckBoxGroup appears to use the `label` of each option as their React `key`s instead of using the `value`. By contrast, RadioButtonGroup options use `value` for their `key`s.

I don't know of any material bug that this issue causes; it's more to address a React warning that appears in the browser. It's a duplicate React key issue, so any potential bugs would probably be around trying to render up

[2020-08-28 20:04] jcfilben commented on #4463
Made another code sandbox to explore the issue more. This one shows the incorrect date issue better and shows the DateInput without the `showAdjacentDays` prop. Also it looks like things being passed through `dropProps` in dateInput are not working
https://codesandbox.io/s/grommet-v2-template-forked-4m509?file=/index.js

[2020-08-28 21:12] MikeKingdom commented on #4101
The result of this was to fix the grommet site doc for Form to more clearly show the infos and errors props can be an object with keys that map to either a string message or a JSX node. The way it was making it look like it could be an array was confusing. Form now documents these props more like FormField does for basically the same feature.

[2020-08-28 21:20] ShimiSun commented on #4101
Thank you @MikeKingdom for getting this issue to the finish line and for your contribution!

[2020-08-28 21:20] #4101 closed

[2020-08-31 12:56] parth611git opened #4471 ""min" aggregate function not working properly for DataTable"
When groupBy attribute is provided in DataTable and some one of the field is aggregated by "min" function then it is always giving result as 0
### Expected Behavior
It should calculate proper minimum value from given dataset

### Actual Behavior
Currently it is displaying minimum value as 0.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

### Your Environment
https:

[2020-08-31 13:43] Kamony commented on #4463
Not displaying correct month when navigating forward and back in Calendar header is probably caused by related animations.

Quick fix is to set Calendar property `animate` to `false`

[2020-08-31 16:29] halocline commented on #4353
Looking into the work here, relates to "showAdjacentDays" functionality, I am noticing a few buggy behaviors which should be addressed. Documenting them here, then can broken out into separate issues if needed:
- Navigating to previous months, then forward does not advance the calendar dates and also results in incorrect styling of the "adjacent days"
- Navigating to previous months, then forward

[2020-08-31 16:48] ShimiSun commented on #4421
Thank you to @StheffanyHadlich for fixing this issue!

[2020-08-31 16:48] #4421 closed

[2020-08-31 17:46] ShimiSun commented on #4353
@jcfilben check out the above analysis for testing effort.

[2020-08-31 18:06] ShimiSun commented on #4467
Hi buddy, sounds like you have delved in it enough to understand the is, care to contribute a fix to the open source?
https://github.com/grommet/grommet/blob/master/src/js/components/CheckBoxGroup/CheckBoxGroup.js#L79

[2020-08-31 19:37] ShimiSun commented on #4471
Thank you for reporting and fixing, fix will be available on our next release.

[2020-08-31 19:37] #4471 closed

[2020-08-31 23:24] ericsoderberghp commented on #4459
Firefox and Safari both don't set the `<table />` to the width of the container. Chrome does. Chrome isn't behaving correctly. Investigating ...

[2020-09-01 01:41] ShimiSun commented on #4467
Thank you for this PR, and your contribution.
To be honest, I do not see the use case of a valid UX scenario where two labels are named the same. (i.e. in your example two Yes options on separate CheckBox items), and I think the value will be more unique than the label. Please share with me a valid scenario of identical labels of CheckBox items on a CheckBoxGroup component (and out of curiosity fo

[2020-09-01 01:56] #4332 closed

[2020-09-01 12:45] RicardoGaefke opened #4476 "Publishing Theme error"
### Expected Behavior
To publish theme

### Actual Behavior
Form validation error even when fulfilled

![image](https://user-images.githubusercontent.com/32141532/91852725-9ecfdb00-ec37-11ea-9839-634b9e1bbf73.png)

[2020-09-01 16:12] ShimiSun commented on #4476
Should this issue be filed on the grommet/grommet-designer repo vs grommet/grommet?

[2020-09-01 18:56] IanKBovard commented on #3771
@karunakarareddyp I agree with ericsoderberghp. Is there a specific use case that non-modal layers need to act this way? I'm guessing a different component might better serve your purpose.

[2020-09-01 19:12] bhavin-r-shah commented on #4459
Thanks for the response. I will try out the solution provided.

[2020-09-01 20:29] ericsoderberghp commented on #4476
Should be grommet-theme-designer

[2020-09-01 22:45] #4362 closed

[2020-09-02 09:16] cliffpyles opened #4481 "Add support for custom days in the Calendar component"
### Requested Behavior

The developer would have the ability use their own component in each day block in the Calendar. The component should also have access to the current day it is rendering, the selected date(s) on the calendar, and if the Calendar is handling range selection.

### Example

![calendar-example](https://user-images.githubusercontent.com/904039/91962866-1d318900-ecdb-11ea-92d4-fa8

[2020-09-02 13:43] #4463 closed

[2020-09-02 14:45] ShimiSun commented on #4481
Feel free to make an open-source contribution :)

[2020-09-02 15:16] ericsoderberghp commented on #4481
Great start. I'm thinking the render function arguments could be: `({ date, day, isSelected, isInRange }) => {}`. Where
`date` is a string containing the ISO8601 date for the day being rendered,
`day` is a number containing the day of the month being rendered, since most implementations will want to render this and it's easier than having to pull it out of `date`.
`isSelected` is a boolean indicat

[2020-09-02 16:27] IanKBovard commented on #2428
Taking a look at this issue

[2020-09-02 17:49] halocline opened #4484 "DataTable - Ability to sort on a column.property which references a nested object value"
### Expected Behavior

If I have a data set in the shape of:
[code]

I would like the ability to sort on a column.property which references a nested object value.

### Actual Behavior

When
[code]
And `columns` contains
[code]
the DataTable renders the values, but the column is not sortable.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/jolly-cookies-l5x15?file=/

[2020-09-02 17:50] jcfilben opened #4485 "dropProps not working on DateInput"
### Expected Behavior
`dropProps` should pass the props given to it to the underlying drop

### Actual Behavior
Props that are put into `dropProps` are being ignored

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-v2-template-forked-58djv?file=/index.js

### Steps to Reproduce
Create a DateInput with any props included in `dropProps`

### Your Environment

-

[2020-09-02 18:09] halocline opened #4486 "DataTable - Ability to calculate an aggregation for a column.property which references a nested object value"
### Expected Behavior

If I have a data set in the shape of:
[code]

I would like the ability to calculate an aggregation on a column.property which references a nested object value.

### Actual Behavior

When
[code]
And `columns` contains
[code]
the DataTable renders the values, but the column value does not get aggregated.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandb

[2020-09-02 18:24] halocline opened #4487 "DataTable - Aggregation and custom render of nested property don't like each other"
### Expected Behavior

If I have a data set in the shape of:
[code]

I should be able to aggregate `amountOfMoneyInWallet` as well as have a custom render function like `render: (datum) => <Text color={datum.favorites.color}>{datum.favorites.color}</Text>` for another column.

### Actual Behavior

An error is thrown:
![Screen Shot 2020-09-02 at 12 22 27 PM](https://user-images.githubusercontent.co

[2020-09-02 23:49] cliffpyles commented on #4481
@ShimiSun Sounds good. Looking forward to it! :)

@ericsoderberghp Thanks. It's been a fun problem to think through. The props sound great, and the onSelect treatment will give lots of flexibility. Should I let the issue sit for a few days and give others a chance to chime in? Or should I get started on the code?

[2020-09-03 02:29] ShimiSun opened #4492 "Button - kind and disabled button doesn't apply when hover and plain"
### Expected Behavior
`disabled` styles should apply when `hoverindicator` or `plain` is set on a grommet button.

### Actual Behavior
No disabled styles applied.

### URL, screen shot, or Codepen exhibiting the issue
Use this code when using the kind button, and see how disabled styles don't apply.
[code]
Related to https://github.com/grommet/grommet-theme-hpe/pull/110

### Steps to Reproduce

1.

[2020-09-03 04:41] jwyunker opened #4493 "Grommet styles being applied to shadowDOM sub-components"
When using a shadowDOM library to limit styling on components.  [https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM](url)  Grommet seems to find a way to style the components even though the component exists in a shadow tree.

### Expected Behavior

The grommet stylings should apply to the document and the shadow hosts, but everything within the shadow tree should be unst

[2020-09-03 16:09] RicardoGaefke opened #4495 "Certificate icon error"
I am using TypeScript with eslint (AirBnB) and when I try:

[code]

I get the error: `export 'Certificate' was not found in 'grommet-icons'`

### Expected Behavior

To be able to use the `Certificate` icon.

### Actual Behavior
Error:
`export 'Certificate' was not found in 'grommet-icons'`

- Grommet version:
[code]
- Browser Name and version:
- Operating System and version (desktop or mobile):

[2020-09-03 16:14] IanKBovard commented on #4493
@jwyunker Just trying to clarify things. Are you using shadow dom and style overrides to make custom components with custom styles? Is there any reason, you don't want to use theme, ThemeContext, or styled-components?

[2020-09-03 16:21] jwyunker commented on #4493
We are building a container that can house components from different sources which may be using different underlying toolkits which we do not want to dictate.  We were trying to use shadowdom to prove that a contained component wouldn't interfere with the outside container through css.

[2020-09-03 16:24] tobyspark commented on #4078
In my case, `plain` removed the border, but not the padding.

Current workaround for the one-off I need this for is a slight elaboration on `<ThemeContext.Extend value={{  textInput: { extend: { padding: ‘0’ }}}}><TextInput/></ThemeContext.Extend>`. Thanks to @ShimiSun in slack for the pointer.

Aside from any current implementation, I would expect `plain` to override any inheritance.

[2020-09-03 16:48] ShimiSun commented on #4495
This issue should be placed on the grommet-icon library.
The Certificate icon wasn't officially released yet, and you wouldn't find it on npm.
You can use the icons stable branch:
[code]

[2020-09-03 16:50] #4495 closed

[2020-09-03 17:14] #4446 closed

[2020-09-03 17:34] #4460 closed

[2020-09-03 17:35] ShimiSun commented on #4460
Thank you for reporting, the fix is now available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F). And it will be available on our next official release (^2.15.1)

[2020-09-03 17:39] jkkealii opened #4496 "adjustPad is only compatible with px values"
### Expected Behavior

Either expected:

1. `adjustPad` to work correctly with a `rem` value.
2. Note in documentation that `px` values are encouraged when defining a custom theme.

### Actual Behavior

1. `adjustPad` did not work correctly with a `rem` value. Found when using TextInput with an Icon and a custom theme with `global.control.border.width` set to `.125rem`. End result was the Icon bei

[2020-09-03 17:39] #4485 closed

[2020-09-03 17:43] ShimiSun commented on #4481
Go have fun with it, its all yours!! ❤️

[2020-09-03 17:50] IanKBovard commented on #4493
It might take me some time, but I'll look into this.

[2020-09-03 20:42] abnersajr commented on #4492
@ShimiSun This PR can be closed. 🎉

[2020-09-04 01:09] AshleyCheny commented on #2669
I am encountering same issue in prod build using:
react: 16.13.1
grommet: 2.15.0
webpack: 4.44.1
typescript: 4.0.2

Importing in the following way does fix the issue, but want to check if there is any change in grommet 2.15.0 that introduces this error again.

`
import {
  ThemeContext
} from 'grommet/contexts'
`

[2020-09-04 01:52] jkkealii opened #4498 "Collapsible allows user to tab focus on focusable children when not open"
### Expected Behavior

When Collapsible is not open, user should not be able to tab focus on any focusable children within the Collapsible.

### Actual Behavior

User is able to tab focus on focusable children within the Collapsible.

### URL, screen shot, or Codepen exhibiting the issue

[Code Sandbox](https://codesandbox.io/s/compassionate-goldwasser-u60d0?file=/index.js)

### Steps to Reproduce

[2020-09-04 17:14] #4462 closed

[2020-09-04 17:44] #4467 closed

[2020-09-04 18:34] laka3000 commented on #4498
Fix proposal: #4501

[2020-09-05 16:42] netochaves commented on #4465
I open a PR for this #4505

[2020-09-06 09:52] jimwhurr commented on #4328
I just tried using FormField with a custom Component. The docs say a component will be supported as long as long as it adheres to the API (name, value, onChange) what it doesn't say is that **it has to be controlled for it to work** (same problem as before).

Also, as an aside
`<FormField component={Component}.../>`

works but it doesn't work if the Component is a child. To be fair though the docs

[2020-09-06 14:28] cliffpyles commented on #4481
I've applied the style changes for the fill prop, and I am about half done with the changes needed for the custom component. Would there be any issues with me moving some of the Calendar's render functions to internal components in the Calendar?

[2020-09-06 16:21] cliffpyles commented on #4481
It looks like the scope of moving them is larger than I thought. I'll just stick to the custom component for now. :)

[2020-09-06 21:40] cyberflowsurfer opened #4506 "Unable to import Card components and CodeSandbox example broken (v2)"
From https://v2.grommet.io/card  go to the CodeSandbox.   It reports that it could not find src/Card.js
![image](https://user-images.githubusercontent.com/1638720/92335710-602e8c00-f04e-11ea-9c5c-a1b15cbd76cc.png)

I tried the example code  in my application. The following imports fail:
import { Card, CardHeader, CardBody, CardFooter} from 'grommet/components';

### Expected Behavior
  1. Ability

[2020-09-07 05:00] martinRoss opened #4507 "Not possible to select a date range from a previous month with DateInput"
### Expected Behavior
When a user goes back a few months in the DateInput, they should be able to select a start date and end date in that month, regardless of the existing range value. This is common behavior (e.g. when the page loads, show the current period but let the user select a date range in the past.)

### Actual Behavior
When you go to a previous month and click on a new start date it up

[2020-09-07 16:37] cliffpyles commented on #4481
I've taken a shot at it. Please let me know if I've missed anything, or if there are additional changes to be made.

I was drawing a blank on what the correct treatment should be when using the `fill` property with `daysOfWeek`. The spacing for the days of the week are a little off. You should be able to see what I mean by navigating to the "Fill" Calendar story, or you can checkout the screenshot

[2020-09-08 14:58] halocline commented on #4506
@cyberflowsurfer I believe Card was released in Grommet 2.15.0. Can you try upgrading you Grommet version? That should resolve your issue.

[2020-09-08 16:32] IanKBovard commented on #4493
Not sure if this is the problem, but it looks like styled-components doesn't support the use of shadow-dom out of the box, but there are some fixes in this issue here. Will do more testing.

https://github.com/styled-components/styled-components/issues/659

[2020-09-08 17:17] abnersajr commented on #4507
@martinRoss I take a look on how this work.
Actually you can change the end date clicking on the `actual` end date. This will remove the end-date selected.

- Then if you click again in a date before the other selected date it change the order of start-end.

- Then if you click again in a date after the other selected date remains as start and adds the end date.

- If you click in a date after the

[2020-09-08 18:08] martinRoss commented on #4507
Hey @abnersajr thanks for getting back to me and I appreciate the explanation! I love and appreciate the new DateInput--my only thought is how can we make this intuitive so a user doesn't need an explanation on how to use it? And the above flow feels clunky when the end date is not in the current view.

One example to look at reports in Google Analytics. The date picker there is a bit different in

[2020-09-08 21:26] jnapprogs opened #4511 "ResponsiveContext is undefined with Gatsby"
### Expected Behavior

When I console log the result of the `ResponsiveContext` component, I should see `small`, `medium`, or `large` as I adjust the size of my browser.

### Actual Behavior

When I open up my browser, I get undefined.

### URL, screen shot, or Codepen exhibiting the issue

Here is the code that extracts the size and logs it out.
![image](https://user-images.githubusercontent.com/

[2020-09-08 22:10] #4334 closed

[2020-09-08 22:20] halocline commented on #4511
Hi @jnapprogs 👋. For SSRs like Gatsby or Next, context providers aren't available at the SSR build time. The solution is to move the context provider (in this case `<Grommet />`) wrapping the SSRs root element.

Here's the Gatsby documentation: https://www.gatsbyjs.com/docs/ssr-apis/#wrapRootElement

Here's a related Slack thread which helps another developer in a similar situation: https://gromme

[2020-09-08 22:21] abnersajr commented on #4507
Definitely the experience isn't the best one.
Having two different input's definitely would be a better option. But I'm not sure which path people would like to go.
I would like to have more people discussing about this to maybe update this.

[2020-09-08 22:24] jnapprogs commented on #4511
Hi @halocline!  Thanks for getting back to me.  I'll go ahead and try that out.

[2020-09-08 23:02] jnapprogs commented on #4511
Hi @halocline!  I went ahead and moved the `<Gatsby />` component to the root of the application and, in terms of rendering, everything is still normal.  Which is awesome 🚀

![image](https://user-images.githubusercontent.com/57240956/92535136-686ffe00-f1eb-11ea-9463-6a7b83614ad9.png)

Unfortunately, I'm still getting an undefined when it comes to extracting out the value of the ResponseContext.

H

[2020-09-09 14:00] jnapprogs commented on #4511
Solved the issue.  Instead of putting the setup code in the `gatsby-ssr.js` file, I moved it over to the `gatsby-browser.js` and I'm able to extract the size of the screen using the ResponsiveContext component.  Here is the code that I used:

[code]

[2020-09-09 14:00] #4511 closed

[2020-09-09 16:11] IanKBovard commented on #4496
This isn't a problem with px or rem. If you change your example to px you'll still see your problem. The issue is that grommet uses the parsefloat function to calculate the position for the icon in textinput. A simple fix, you just need to add a leading 0 to your border width.

https://codesandbox.io/s/grommet-v2-template-forked-0oje2?file=/index.js

[2020-09-09 16:17] IanKBovard commented on #4506
@cyberflowsurfer halocine is correct. You can import the card component from grommet version 2.15 like so.
`import {Card} from 'grommet`

Sorry about codesandbox. It's pretty out of date, and has not been updated in a while. I recommend the storybook examples, as they are updated frequently.

https://storybook.grommet.io/?path=/story/card--clickable

[2020-09-09 17:01] IanKBovard commented on #4459
ericsoderberghp's solution is correct. This issue can be closed.
related to https://github.com/grommet/grommet/issues/4267

[2020-09-09 17:04] IanKBovard commented on #4450
@bhavin-r-shah let me know if halocline has answered your question, and we can close this issue.

[2020-09-09 17:19] IanKBovard commented on #4366
@seanmehra could you clarify the issue for me? You can't enter any number in the input besides 50-59?

![Kapture 2020-09-09 at 12 18 06](https://user-images.githubusercontent.com/21990914/92631157-952d1f80-f296-11ea-9c49-9dd5ee8bea63.gif)

[2020-09-09 17:59] IanKBovard commented on #4092
I think this issue can be closed. This looks like, to me, an implementation issue. In my opinion, I don't think grommet needs to be defensive about making sure users wrap their app in `<Grommet></Grommet>`, as it is stated pretty clearly on the getting started guide.

[2020-09-09 18:12] IanKBovard commented on #4070
@ecircenis let me know if taysea answered you question, and we can close this issue.

[2020-09-09 18:14] IanKBovard commented on #3999
There has not been movement on this in a while, and the solution proposed here works
https://codesandbox.io/s/focused-gould-jjged?file=/src/App.js
I believe we can close this issue.

[2020-09-09 18:16] IanKBovard commented on #3952
@markjackson02 could you update us on the solution that ericsoderberghp proposed. Once you do, and you let us know its adequate, we can close this issue.

[2020-09-10 01:03] cyberflowsurfer commented on #4506
Thanks for the version upgrade tip and pointer to story/card.  That resolves my issues and hopefully anyone similarly confused will find the "bread crumbs" useful!

[2020-09-10 01:03] #4506 closed

[2020-09-10 12:51] ShimiSun commented on #4092
Thank you @IanKBovard for resolving the issue.

[2020-09-10 12:57] ShimiSun commented on #3999
Thank you @IanKBovard !

[2020-09-10 12:57] #3999 closed

[2020-09-11 03:35] ShimiSun commented on #4492
Thanks @abnersajr ❤️ I think there is still an issue with how `plain` Button (kind) doesn't apply disabled properly, would you like to tackle it?

[2020-09-11 18:23] jesseolsen opened #4516 "Resizing a window's width displaying a Layer set to display on the right side causes it to show up on the left"
When resizing a window's width displaying a Layer set to display on the right side, when the window width is small enough, the form on the right shows up on the left.

### Expected Behavior

Expected behavior is that if the prop says it should be on the right, it would stay on the right, regardless of the width of the window.

### Actual Behavior

It jumps from the right to the left.

### URL, scr

[2020-09-11 19:07] halocline commented on #4516
Documenting for others to follow. In Slack, suggested the following:
- Layer is behaving by design when `responsive={true}` and at 'small' breakpoint. `true` is the default value and causes the Layer to fill the screen (https://v2.grommet.io/layer#responsive)

2 options:
- If the responsive behavior is not desired, set `responsive={false}` in the `<Layer />` which will maintain the right alignment

[2020-09-11 21:06] jcfilben commented on #4476
I moved the issue to grommet-theme-designer https://github.com/grommet/grommet-theme-designer/issues/9
Should be able to close the issue here

[2020-09-11 21:09] jcfilben commented on #4443
@bhavin-r-shah let us know if the explanation @halocline gave helped. If so we should be able to close this issue

[2020-09-11 21:24] jcfilben commented on #4347
The codesandbox is using grommet version 2.12 does upgrading to the latest version (2.15) solve the problem?

[2020-09-11 21:28] jcfilben commented on #4324
Hi @dileepthomas did upgrading to the latest version of grommet (2.15) solve this issue? Let us know, and if so we should be able to close the issue.

[2020-09-11 21:31] jcfilben commented on #4246
Hey @RobertGary1 just wanted to check back in on this issue and see if using the most recent version of grommet fixed this issue

[2020-09-11 21:40] jcfilben commented on #4087
Hi @chrisvalmonte One thing I noticed on your codesandbox what that you weren't wrapping with `<Grommet>`. Does this example accomplish what you need? The text isn't right aligned in this https://codesandbox.io/s/grommet-issue-4087-text-right-aligned-in-select-after-selecting-option-forked-j8bcj?file=/src/App.js

[2020-09-11 21:54] jcfilben commented on #2669
Hi @AshleyCheny I looked through the changes between grommet 2.14 and 2.15 and I wasn't able to find anything that I thought might be causing this. Still looking into it, but let us know if you have any other insights into what may be causing the problem

[2020-09-12 14:07] arsenykruglikov opened #4519 "[TS] Does the base theme implement ThemeType incorrectly?"
I tried config generated in <https://theme-designer.grommet.io>. But there was a problem with types. Then a tried to use the base theme from the grommet 2.15.0 package instead of the generated one. I stringified the base theme and log it in a console then copy and use it as a variable. There were two problems with types. One from the generated config and one new.

### Expected Behavior

Typings al

[2020-09-12 16:43] chrisvalmonte commented on #4087
@jcfilben Thanks for the input. I tried repro’ing the issue in your example as well. If you select option 1 first, and then select the long-text option, it will still be right-aligned

[2020-09-13 13:58] #4451 closed

[2020-09-13 14:04] ShimiSun commented on #4347
I think upgrading too 2.15 should solve the problem. please give it a try and let us know.

[2020-09-13 14:05] #4476 closed

[2020-09-13 16:45] ShimiSun commented on #4324
I'll be closing the issue, feel free to reopen with the missing version information if the issue is still relevant.

[2020-09-13 16:45] #4324 closed

[2020-09-13 23:30] #2428 closed

[2020-09-14 00:15] ShimiSun commented on #4516
@jesseolsen Can we please close this issue if @halocline suggested options worked for you?

[2020-09-14 06:18] Krishnasuma commented on #4347
@ShimiSun and @jcfilben I see the same issue even after updating to 2.15.

[2020-09-14 16:45] jcfilben commented on #4087
![Sep-14-2020 10-44-01](https://user-images.githubusercontent.com/54560994/93114069-57a20b00-f677-11ea-8a47-5e7ae9c988d6.gif)

It is still left-aligned for me even after selecting option 1

[2020-09-14 17:59] ShimiSun commented on #4087
@chrisvalmonte please let us if there is anything else we can help with since the issue doesn't reproduce on grommet itself.

[2020-09-14 23:04] seanmehra commented on #4366
Hi @IanKBovard , you are correct. With my code above, I cannot type any numbers other than 50-59.  This fixed it, but it's a hack:

https://codesandbox.io/s/grommet-buttons-ispuj?file=/index.js

[2020-09-15 11:12] babbarankit commented on #3658
I am working on a package for Use React Hook Form with Grommet http://npmjs.com/package/grommet-hook-form

I have done most work offline. Just released TextInput today, will be releasing other items too this week.
Just in case it helpful for others.

[2020-09-15 11:15] babbarankit opened #4522 "[TS] Text Input Prop is missing type prop"
### Expected Behavior

Text Input Prop must have type prop

[2020-09-15 14:14] martinRoss commented on #4507
For the UI, I was thinking something simple like this where you can click or focus on start vs. end date to indicate which is being updated.

<img width="488" alt="Screen Shot 2020-09-15 at 10 05 35 AM" src="https://user-images.githubusercontent.com/1999530/93221230-7d90e380-f73b-11ea-8743-877942751fdb.png">

It probably still needs smarter "switching" logic too, but this would provide the proper

[2020-09-15 16:40] ericsoderberghp opened #4524 "RadioButtonGroup props should trump theme"
### Expected Behavior

Setting the `gap` property on RadioButtonGroup should trump whatever is in `theme.radioButtonGroup.container`.

### Actual Behavior

The theme overrides the property.

See lines 108 and 109 of RadioButtonGroup.js.

Uncovered while adding `gap` to `grommet-designer`.

[2020-09-15 17:12] ShimiSun commented on #4496
Feel free to reopen with additional information if needed.

[2020-09-15 17:12] #4496 closed

[2020-09-15 18:06] ShimiSun commented on #4522
As I commented on the PR, we try not to document props that are not part of the grommet API and keep the default of the HTML documentation and types. type isn't part of the grommet API hence we do not document it or add typing to it. Any reason you think this addition is useful? Is it currently not working?

[2020-09-15 18:58] babbarankit commented on #4522
Hi @ShimiSun
Thanks for reaching out so quickly. The use case is very  simple, I have constructed new Form Components using the TextInput, extended as PasswordInput or EmailInput.
Unless I pass the prop to TextInput for type, how will it behave as HTML5 element. HTML5 prop must be passed to TextInput.
Currently I am using Patch Package otherwise Typescript complaints on passing extra type prop to

[2020-09-15 20:12] ShimiSun commented on #4522
@babbarankit I've built a quick markup that uses TypeScript+Grommet+TextInput with the `type` prop and it doesn't reproduce the issue, https://codesandbox.io/s/grommet-ts-textinput-type-nez6b?file=/src/index.tsx.
Feel free to tweak the example as you see fit to reproduce the problem so we can reproduce it reliably on the grommet side before attempting to fix it.

[2020-09-16 07:38] AlexandrChebotar commented on #3614
Got the same warn. I expected to see the "as" props for AccordionPanel, but it is not.

[2020-09-16 21:50] jwyunker commented on #4493
Sorry I didn't see your update.  I'll take a look at the thread.

[2020-09-16 22:26] hachok commented on #3642
you can add a property to the global theme to style/remove focus from elements

[code]

[2020-09-17 13:49] ShimiSun commented on #4444
The fix will be available on v^2.15.1.

[2020-09-17 13:49] #4444 closed

[2020-09-17 14:41] IanKBovard commented on #3771
A requirement of a non-modal dialogue is to let users interact with content beneath it(toasts, notifications, alerts). onclickoutside and onesc would break that. @mlonn @karunakarareddyp get back to me and we can close this issue.

[2020-09-17 14:42] mlonn commented on #3771
Sounds good. I was just taking and open issue when I had some free time. Which I don't any more.

[2020-09-17 16:05] karunakarareddyp commented on #3771
@IanKBovard Sounds good to me. You can close this issue.

[2020-09-17 19:53] srallen commented on #3654
I just ran into this trying to apply an outer border to a `Grid` and discovering that it is not supported at the moment. I would also expect that `border` when applied to `Grid` functioned like it does with `Box`

[2020-09-17 20:10] IanKBovard commented on #4493
Not sure if this is correct, but do you see the issue here?
https://codesandbox.io/s/react-shadow-forked-vm7tr

[2020-09-17 21:44] jwyunker commented on #4493
Ian, removing the styled-components aspect of the react-shadow import seems to fix the vanishing styles issue I was seeing.  I'm not sure why they gradually blink out of existence based on what panel you are on though.

The react-shadow README.md says: "Alternatively you can use styled-components normally, as each time a shadow boundary is created, a new StyleSheetManager context is also created w

[2020-09-17 22:10] IanKBovard commented on #4493
my guess is that grommet heavily uses styled components. It might just take a while for it to render, which is why you see your styles being applied when you go from page to page, and not on initial render. i'm not sure the same rules apply to a component getting its styles from theme rather than its parent when using the root from react-shadow. There may be a way to use react-shadow/styled-compon

[2020-09-17 23:02] #4173 closed

[2020-09-17 23:02] #4441 closed

[2020-09-18 13:58] ShimiSun commented on #3654
@srallen I'm supportive, feel free to work on a contribution.

[2020-09-18 14:52] srallen commented on #3654
@ShimiSun I'm hoping to participate in Hacktoberfest more broadly this year, so I'll have a look! 😄

[2020-09-18 18:54] #4524 closed

[2020-09-18 19:27] leossantiago commented on #4492
@ShimiSun did a quick overview and it looks like plain Button is applying disabled properly aswell.

[2020-09-18 20:44] trumanpurnell opened #4535 "DateInput change year after UI dropdown displays results in incorrect value"
### Expected Behavior
When the UI date input dropdown is showing, changing the year manually should result in the calendar scrolling and date changing.

### Actual Behavior
The UI appears to change, but upon selecting a new date from that new year the value changes to that date but the old year.

https://storybook.grommet.io/?path=/story/dateinput--form

Steps to reproduce:

1) Pick any date from

[2020-09-18 20:45] jwyunker commented on #4493
I agree it's probably an issue with the styled-components and the react-shadow component based on your sandbox.  Not knowing the details on how grommet handles and applies stylesheets led me to believe grommet could be part of the problem.

[2020-09-18 20:45] #4493 closed

[2020-09-19 06:09] chrisvalmonte commented on #4087
@ShimiSun Okay, thanks! Closing the issue

[2020-09-19 06:09] #4087 closed

[2020-09-20 04:38] nomadus commented on #4481
@cliffpyles Thanks for the changes, I have long waited to have a calendar which fills the space nicely. I have installed the new version and I have a question. If I intend to change some specific days but leave the rest intact, how would I do it? Currently, the custom days changes the look of all the days.

[2020-09-20 15:30] searleser97 opened #4536 "Add ReasonML bindings"
### Expected Behavior

The user should be able to use Grommet easily in reason-react (take a look at [bs-material-ui](https://github.com/jsiebern/bs-material-ui) for example)

### Actual Behavior

There is no easy way to use Grommet in reason-react

### URL, screen shot, or Codepen exhibiting the issue

Does not apply

### Steps to Reproduce

Does not apply

### Your Environment

Does not apply

[2020-09-21 06:38] Zodiase opened #4537 "Customizable Avatar text size"
### Expected Behavior

I'd expect the size of the text in the Avatar component to be customizable to suit the different sizes of the Avatar component.

### Actual Behavior

The text size is fixed at `"large"`, per https://github.com/grommet/grommet/blob/85e3d85896327d9e6bf96ca5e6e307bd4793fccc/src/js/components/Avatar/Avatar.js#L50.

### URL, screen shot, or Codepen exhibiting the issue

Looks rid

[2020-09-21 08:36] ShimiSun commented on #4536
Feel free to make an open-source contribution.

[2020-09-21 08:36] cliffpyles commented on #4481
Hi @nomadus. Awesome. I'm glad you find it helpful! When the custom day feature is used it applies to all days. Unfortunately there isn't currently a way to apply the default days on some days, and the custom on other days. Does that answer your question?

[2020-09-21 09:02] nomadus commented on #4481
Thanks, @cliffpyles, it is indeed helpful as now I don't have to search for a magic combination of cell and calendar widths. Maybe leaving defaults will be in the scope of another PR:)

[2020-09-21 13:01] leossantiago commented on #4537
Just sent a PR that fixes that :)

[2020-09-21 16:57] #3697 closed

[2020-09-21 17:11] #3910 closed

[2020-09-21 18:36] ShimiSun opened #4539 "Tracking the test coverage improvements effort"
### Expected Behavior
Our goal is to improve the test coverage of the grommet core.
Components that need attention:
1-10 top components with the lowest coverage score.
1. Video - 60.53%
2. RadioButtonGroup - 61.22%
3. InfiniteScroll - 66.67%
4. RangeInput - 68.85%
5. Layer - 70.12%
6. DataChart - 74.76%
7. WorldMap - 78.57%
8. Chart - 79.72%
9. Main - 80%
10. Menu 80.52%

### Actual Behavior
Overa

[2020-09-21 19:56] ShimiSun commented on #4481
@cliffpyles thank you for the fantastic contribution! Can this issue be closed now or are there still any pending issues?
The fix can be found on the  [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be available on our next official release.

[2020-09-21 20:09] ShimiSun commented on #4492
@leonardodino thanks buddy, from what I've seen, Button + plain + disabled + kind (kind is when button.default is defined on the theme), the plain button doesn't get the text opacity or the `text-weak` property, so the Button `disabled` text isn't reflecting the disabled property well.

[2020-09-21 20:22] ShimiSun commented on #3642
Grommet thrives to set its components for the correct accessibility behavior so the focus behavior will still maintain to be complaint with the WCAG standards.

For ways to make the border color transparent or change its color review the following story examples:
https://storybook.grommet.io/?path=/story/theme--focus
https://storybook.grommet.io/?path=/story/theme--themecontext-extend

[2020-09-21 20:22] #3642 closed

[2020-09-21 22:01] cliffpyles commented on #4481
@ShimiSun Thanks again for all of your help! It can be closed!

[2020-09-21 22:01] #4481 closed

[2020-09-22 00:46] iMerica commented on #3642
@ShimiSun

You've misunderstood the purpose of the WCAG. Correctness is something we can expect from mathematical proofs and type systems, not a qualitative spec like the WCAG with levels of advice (hint: the "G" in WCAG stands for "guidance").

Overall I get the sense that no one maintaining Grommet is applying independent critical thinking to these aesthetic bugs. Instead what I see is cargo cul

[2020-09-22 06:13] ShimiSun commented on #4308
This issue was taken care of on the `onValidate` PR released on v2.15.0.

[2020-09-22 06:13] #4308 closed

[2020-09-22 06:17] #4254 closed

[2020-09-22 06:21] ShimiSun commented on #4246
I've just verified the problem still reproduces on v2.15.0.

[2020-09-22 06:32] ShimiSun commented on #4084
Hi @RobertGary1, does the new `onValidate` (released on v2.15.0) API answers your request? https://v2.grommet.io/form#onValidate

[2020-09-22 06:50] ShimiSun commented on #3899
This issue should be moved to the grommet-site repo.

[2020-09-22 06:55] ShimiSun commented on #3748
Since this issue is stale and DataTable had gone through massive improvements in the last 8 months, I'll be closing the issue. Feel free to reopen if still relevant while providing a reproducible code snippet.

[2020-09-22 06:55] #3748 closed

[2020-09-22 06:55] #4116 closed

[2020-09-22 07:02] #3788 closed

[2020-09-22 07:13] ShimiSun commented on #3526
This was taken care of as part of the storybook refactoring and renaming all stories to use sentence case. Thank you!

[2020-09-22 07:13] #3526 closed

[2020-09-22 07:18] #3268 closed

[2020-09-22 07:27] ShimiSun commented on #3394
Leftovers for Hacktoberfest 2020:

1. Remove `class` usage from Drop-test.js
2. Remove `class` usage from Grommet.js
3. Remove `class` usage from InfiniteScroll.js
4. Remove `class` usage from src/js/components/Select/stories/ManyOptions.js

[2020-09-22 07:29] ShimiSun commented on #3367
@IanKBovard could this be controlled with the recent fix of Drop to adjust width of target?

[2020-09-22 07:38] ShimiSun commented on #2619
I'll be closing this issue sinsce it is staled. Feel free to make a contribution if the issue is still relevant.

[2020-09-22 07:38] #2619 closed

[2020-09-22 07:42] ShimiSun commented on #2378
The `reverse` prop is already available https://v2.grommet.io/tabs#reverse

[2020-09-22 07:44] ShimiSun commented on #2308
I'll be closing this issue since it is stale and since we no longer actively supporting v1.
Feel free to reopen or make a contribution that addresses this issue.

[2020-09-22 07:44] #2308 closed

[2020-09-22 07:47] ShimiSun commented on #2216
I think we have decided to proceed with Button and Anchor w/o the suggested extension.
Feel free to reopen if you strongly think this issue should still be prioritized.

[2020-09-22 07:47] #2216 closed

[2020-09-22 07:50] ShimiSun commented on #3165
@jcfilben Can we update/edit the requirements list and prep it for Hacktoberfest?

[2020-09-22 14:30] IanKBovard commented on #3367
This can be done with dropProps stretch.

https://codesandbox.io/s/pensive-sammet-fmc3z?file=/src/App.js

[2020-09-22 14:38] #3452 closed

[2020-09-22 15:20] jim-king-2000 commented on #3367
Open the link, I see the code below:

[code]

Where is the dropProps stretch?

[2020-09-22 15:30] #4484 closed

[2020-09-22 15:30] IanKBovard commented on #3367
Forgot to save, its up there now

[2020-09-22 17:53] IanKBovard commented on #4394
@parth611git just trying to understand the issue. Is there any reason why you absolutely need property to be designationName?

[2020-09-22 18:05] netochaves commented on #4191
Hey @ShimiSun, correct me if I'm wrong but this will not be a breaking change? Right now `onChange` is receiving as parameter the `form value` but if we add another property like `touched` it will receiving an object and you will have to access the object to get the `form value` so this can break some implementations.

I think this will be an awesome feature and I want to implement it, my worries

[2020-09-22 18:43] IanKBovard commented on #4366
Have you tried making you options an integer instead?

https://codesandbox.io/s/grommet-buttons-forked-5i1vc?file=/index.js

[2020-09-22 18:55] leossantiago commented on #4535
Sent a PR adressing that.
The issue occur when Calendar animate prop is true and you manually change the date to something over a year apart from the current one (usually today's date, because it defaults when the input is not valid).

[2020-09-22 21:09] netochaves commented on #4246
That's because grommet don't have breakpoints values set for `medium` and `large` responsive options, only for small. If this is documented somewhere I could implement it.

https://github.com/grommet/grommet/blob/f2ecd5ee71cb133b2d210f5a7e43322b549a11da/src/js/themes/base.js#L164-L198

[2020-09-22 21:13] #4486 closed

[2020-09-23 01:56] jim-king-2000 commented on #3367
What we expect is to shrink the whole `<Select />` control according to its content, not the drop down of the control.

[2020-09-23 03:36] johnliu55tw opened #4543 "Clickable Box with focusIndicator=false still has focus outline when clicked"
### Expected Behavior
`Box` with `focusIndicator=false` should not contain any focus outline after clicked.

### Actual Behavior
`Box` with `focusIndicator=false` still has a black focus outline. Seems like it falls back to the user-agent stylesheet.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/5047724/93963446-c5dd8080-fd8f-11ea-9f6f-4b

[2020-09-23 16:28] IanKBovard commented on #3367
@jim-king-2000 do you want it to match the width of the drop or the label? Is there a specific use case for this. I would just wrap the select in a box and give it a width. Updated the codesandbox.

[2020-09-23 16:38] IanKBovard commented on #4516
@jesseolsen just checking in to see where you are with this issue.

[2020-09-23 17:16] IanKBovard commented on #4543
The user-agent stylesheet is a browsers default style rules. focusIndicator false is working as intended, it removes the green border that is applied when focusing an element. Here is a codesandbox showing focusindicator, and one fix to remove the focus that chrome applies by default when focusindicator is set to false.

https://codesandbox.io/s/grommet-v2-template-clickable-box-forked-2rquy?file=

[2020-09-23 20:00] ShimiSun commented on #4191
@netochaves good observation. I don't think this will be a breaking a change, we'll know better once we'll have a concrete PR
 too look at, would you like to take a stab at it and see if you are running into potential changes and submit a draft with your observations? It will help us keep the conversation running.

[2020-09-23 20:49] halocline commented on #4487
@MikeWalrath I think we might of lost track of an issue (which had similar subject) and doubled up on this one (https://github.com/grommet/hpe-design-system/issues/1099). Will have to do some digging.

[2020-09-23 20:59] ShimiSun commented on #3639
From @MikeKingdom

I'll be closing the issue, feel free to reopen with more details for reproduction if still  relevant.

[2020-09-23 20:59] #3639 closed

[2020-09-24 01:44] johnliu55tw commented on #4543
Thank you for the quick solution!

But I'm thinking maybe the `focusIndicator=false` can help also remove the default outline? That would be very helpful!

[2020-09-24 02:45] jim-king-2000 commented on #3367
It is great! This is almost the requirement I propose except for the width being decided by the content (the max of the drop and the label) of the `<Select />` instead of a hard-coded one.

[2020-09-24 02:48] jim-king-2000 commented on #3367
The use case of the requirement is for the mobile web. The default width is too large for a phone screen. However, your solution is viable and it can resolve more then 80% cases.

[2020-09-24 04:54] parth611git commented on #4394
@IanKBovard
I can have designationName available in DataTable by setting property as
`property : designation.designationName`
It works perfect, no issue in it.

My issue is can it be possible to have property as "designation" and using render attribute display "designationName"
I have tried with below code, but it didn't work.
`render : (datum) => (<Text value={datum.designation.designationName} /

[2020-09-24 06:45] Zodiase opened #4544 "Vertically stretch Drop?"
### Expected Behavior

Since Drop can stretch horizontally to match the width of the target, wouldn't it be nice if it could alternatively stretch to match the height of the target? Just like the drop menu case for horizontal stretch, when the Drop is aligned to the left or right of the target, one might want it to match the height of the target.

### Actual Behavior

From the component doc it see

[2020-09-24 07:19] Zodiase opened #4545 "[TS] Missing type for `containerTarget` in GrommetProps"
### Expected Behavior

[code]

`containerTarget` should be part of `GrommetProps`.

### Actual Behavior

[code]

### URL, screen shot, or Codepen exhibiting the issue

See https://github.com/grommet/grommet/blob/3fe225ef178b3446153cca8a4ca0b0aebc1f5679/src/js/components/Grommet/index.d.ts#L5-L14

[2020-09-24 14:49] halocline commented on #4394
@parth611git I believe this accomplishes what you are attempting: https://codesandbox.io/s/sparkling-cdn-xcisc?file=/src/App.js

A couple points to note:
- `<Text value={datum.designation.designationName} />` should be `<Text>{datum.designation.designationName}</Text>`
- For your second column, you may specify `designation` as your property, but you still must reference the object property beginni

[2020-09-24 15:48] IanKBovard commented on #4543
I don't think that's a good idea. Overriding browser defaults should be up to the user.

[2020-09-24 15:49] IanKBovard commented on #4450
@bhavin-r-shah just checking to see where you're at with this issue.

[2020-09-24 16:15] IanKBovard commented on #3367
I don't know if it's possible to match the select to the drop, since the drop is not rendered right away. Currently grommet matches the drop width with the select width(which makes more sense to me). For mobile development, i would use media queries, percentages, or both. That should handle all cases.

[2020-09-24 16:18] IanKBovard commented on #4070
@ecircenis just checking in to see where you are with this issue

[2020-09-24 16:32] #4454 closed

[2020-09-24 20:39] IanKBovard commented on #4544
Just double checking the issue, you want the drop to be aligned with the button? or do you want the height of the drop to be that of the button?

[2020-09-24 21:30] Zodiase commented on #4544
@IanKBovard imagine the right side panel is a drop/pop-up, and it matches the height of the left side panel (the dark gray slip).

[2020-09-24 21:44] IanKBovard commented on #4544
The right side panel is the one justified top with the text 'Gerneated....'? The dark gray sidebar is pretty much fullscreen right? Would a layer better serve your purpose?

[2020-09-24 22:26] taysea commented on #4507
Thanks for opening this issue @martinRoss! It's a great point what you bring up around not being able to select an end date if you go back some months. This is based on how the logic is currently working in Grommet's calendar. The way it is currently implemented is that whichever date you just selected (for example start date) becomes the one that will be altered if you click a new date. This pose

[2020-09-24 22:31] Zodiase commented on #4544
@IanKBovard The right side panel is the entire chat "window", all the way from top to bottom. This screenshot is just a small part of the app window. Sorry about the confusion. Let me show you another illustration and hope it's more clear.

![image](https://user-images.githubusercontent.com/1815174/94206317-044f6a00-fe7a-11ea-8015-fa7b9d70e63e.png)

So in this image, the content (e.g. buttons) in

[2020-09-24 22:32] IanKBovard commented on #4544
ahh, i gotcha. thanks for clearing that up. ill take a deeper look at this tomorrow, and see if there is any way to do this with grommet currently, and post a sandbox when i do.

[2020-09-24 22:49] Zodiase commented on #4544
@IanKBovard FYI I have a playground here: https://codepen.io/Zodiase/pen/07c143d67eaf3a5e8a2c9ae87ef470de
I'm not using Grommet in there but I reproduced pretty much the same DOM structure as if I were using `Layer`. The `#left-layer` element is the root of the `Layer`.
The trick I'm using to confine the layer to the vertical size of the red area is by creating a stacking context on `#left-layer-c

[2020-09-25 01:56] jim-king-2000 commented on #3367
Sure. Close it.

[2020-09-25 01:56] #3367 closed

[2020-09-25 06:01] johnliu55tw commented on #4543
Sounds reasonable. Thanks for the solution!

[2020-09-25 06:01] #4543 closed

[2020-09-25 06:09] parth611git commented on #4394
@halocline
Yes Issue is I am using wrong prop "value" inside Text. Thanks for catching it.
Things are working fine after your feedback.
You can close this issue.

[2020-09-25 07:04] parth611git commented on #4394
For more information, I have added checkbox against each row using
https://storybook.grommet.io/?path=/story/datatable--controlled

https://codesandbox.io/s/romantic-kepler-z97dn?file=/src/App.js

Somehow console get cleared and I cannot see warning.

[2020-09-25 15:07] ShimiSun commented on #4545
Looks like you are on your way to solving it, in the spirit of Hacktoberfest feel like making a contribution?

[2020-09-25 15:40] IanKBovard commented on #4544
Quick question, is this what you want the sidebar and drop section to function like?

![Kapture 2020-09-25 at 10 39 29](https://user-images.githubusercontent.com/21990914/94287045-7035df00-ff1b-11ea-8326-24fc8c404c32.gif)

Sidebar is test/test2 and the drop section has 'nothing in folder' in it?

[2020-09-25 17:22] jcfilben commented on #3899
Moved issue to https://github.com/grommet/grommet-site/issues/180. We should be able to close this issue

[2020-09-25 17:24] Zodiase commented on #4544
@IanKBovard yes in terms of size correlations. In my case the drop section is toggled on/off and hovers above something else, while the sidebar is only a small portion of the page, meaning there may be other views surrounding the sidebar. For example, A is the "sidebar", B is the drop that conditionally opens and hovers above some of C, C is content around A:
[code]

[2020-09-25 18:34] IanKBovard commented on #3495
not sure if I'm reproducing this correctly, but I no longer see this in the latest version of edge.

https://codesandbox.io/s/cranky-mountain-mbc9e?file=/src/App.js

grommet Version 2.15
edge Version 84.0.522.63 (Official build) (64-bit)

[2020-09-25 19:25] jcfilben commented on #3165
## 2020 Updated List
all of the components in which we need to improve event handler typing's

**Anchor**
- [ ] onClick *currently not in index.d.ts

**Box**
- [ ] onClick

**Button**
- [ ] onClick *currently not in index.d.ts

**Calendar**
- [ ] children
- [ ] header

**Chart**
- [ ] onClick
- [ ] onHover

**CheckBox**
- [ ] onChange *currently not in index.d.ts

**Distribution**
- [ ] children

[2020-09-26 16:45] mcraepv commented on #4004
Hi, Would it be ok for me to work on this?

[2020-09-27 09:32] ShimiSun commented on #4004
@mcraepv sure, go for it!

[2020-09-27 11:32] ShimiSun commented on #3495
Thank you @IanKBovard.
@ANDRESROMEROH feel free to reopen the issue with detailed steps on how to reproduce in case the issue is still relevant. Thank you for reporting.

[2020-09-27 11:32] #3495 closed

[2020-09-28 07:13] Chenchaiah23 opened #4553 "npm err 401 unauthorized"
I am upgrading from grommet v1 to v2 by specifying grommet version 2.15.0 in package.json file and getting below error while build
npm ERR! 401 Unauthorized: grommet-icons@https://github.com/grommet/grommet-icons/tarball/stable
npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2020-09-28T07_01_57_948Z-debug.log

Please suggest some solution for this issue
I am usin

[2020-09-28 18:46] IanKBovard commented on #4544
@Zodiase working on something now, but i have a few more quick questions. Do you want users to be able to interact with the page beneath the drop when its open(scroll, clicks, ...)? is the drop section over the content or does it push the content aside?

I'm still not sure if drop is the correct component for this. One main reason being it changes position based on scroll, and might create issues

[2020-09-28 19:17] IanKBovard commented on #4394
@parth611git just checking in, i don't see the error in halocline's example. Would you mind showing me a codesandbox with your error?

[2020-09-28 21:18] IanKBovard commented on #4335
if that is too much you can just do `  state = { value: { id: "2" }, options: OPTIONS };`

[2020-09-28 21:41] IanKBovard commented on #4507
@taysea best solution might be to check if the second selected date is before the first selected. If so, make the new selection the start date.

[2020-09-28 23:05] taysea commented on #4507
I think that makes sense @IanKBovard for a certain use case, but I don't think we can assume that grommet is in the mode of "selecting end date" depending on how the user has set up their dateinput.

Starting with the same set-up as Martin noted above, if we:
1. Go back 2 months
2. Click a date such as May 5 (selecting start date now)
3. Now, we want select an end date in this month (the previousl

[2020-09-29 11:31] aravind1078 commented on #3394
@ShimiSun can you point the file paths to these three as well ?
[code]
thanks.

[2020-09-29 12:03] ShimiSun commented on #4553
This issue was fixed part in #4555. Try to use [grommet stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) until we'll officially release 2.15.1.

[2020-09-29 12:06] ShimiSun commented on #4443
I'll be closing this issue, feel free to reopen with more details in case still relevant.

[2020-09-29 12:06] #4443 closed

[2020-09-29 12:13] ShimiSun commented on #4366
Any updates @seanmehra? Have you tried @IanKBovard idea?

[2020-09-29 15:27] IanKBovard commented on #4507
I don't use the calendar component that much, but what makes most sense to me is not locking in start date until you select a date that proceeds it.

Something like this:

- select a startDate - Sept 15th
- select another date - Sept 13th(this is the new start date)
- select another date - Sept 20th(start date is now locked in)
- now any selection we make in that range will change the endDate, sta

[2020-09-29 16:06] IanKBovard commented on #3444
I no longer see this issue in the current version of grommet. The scrollbar remains. checked safari and chrome.

[2020-09-29 16:24] IanKBovard commented on #3173
It looks like not a lot of movement has been made on this issue, and `onChange={({ value, option }) => setValue(...)}` from the docs works fine. I believe we can close this issue.

https://v2.grommet.io/select#onChange

[2020-09-29 16:49] IanKBovard commented on #3254
Passing ID in options like this will not give your list individual id's. Here is a way of accomplishing that.
https://codesandbox.io/s/select-issue-3254-forked-pc122?file=/index.js

Since this isn't a valid use of options as far as I am aware of, I believe we can close this issue.

[2020-09-29 17:02] IanKBovard commented on #3166
It looks like the documentation for stack has been updated. From my point of view, it's clear. @c3s4 if you're happy with the changes, I believe we can close this issue.

[2020-09-29 17:09] IanKBovard commented on #3161
I don't believe it's because heading doesn't respect the theme, it's because heading changes its level on resize which causes it to pull from a different part of theme.
The question is should we leave the current functionality of heading(it sizes down a level on lower widths) or remove this functionality and rely on theme exclusively. I like the second option, but that could cause a lot of backwar

[2020-09-29 17:18] IanKBovard commented on #3633
Any updates on the discussion regarding this issue? I assume this would cause a lot of backwards compatibility issues with people who use theme to adjust the active coloring for tabs, or just the default styling. Since, a lot of this can be customized with theme, and we have an example of that, I believe we can close this issue in favor of the theme approach.

https://storybook.grommet.io/?path=/s

[2020-09-29 17:59] IanKBovard commented on #3753
@NickClark This can be done with styled-components.
https://codesandbox.io/s/festive-sammet-we1ie?file=/src/App.js
 Let me know if this answers your question, and we can close this issue.

[2020-09-29 18:00] IanKBovard commented on #3899
I believe we can close this issue as @jcfilben has moved this to the appropriate repo.

[2020-09-29 18:03] IanKBovard commented on #3952
@markjackson02 just checking in to see your progress on this issue.

[2020-09-30 00:04] Zodiase commented on #4544
@IanKBovard

I don't really mind either ways. I see there is already an `onClickOutside` prop which I assume can be used to intercept clicks. I don't mind scrolls as much.

It is over the content, just like how `Drop` currently is if it's `align: {top: 'bottom', left: 'left'}, stretch: true`. Except in my case it would have `align: {top: 'top', left: 'right'}, stretch: 'vertical'`.

[code]

That s

[2020-09-30 00:17] Zodiase commented on #4544
I've updated my demo with more details: https://codepen.io/Zodiase/pen/07c143d67eaf3a5e8a2c9ae87ef470de

![image](https://user-images.githubusercontent.com/1815174/94629394-81fae780-0277-11eb-98eb-a80d0b710f68.png)

[2020-09-30 00:22] Zodiase commented on #4544
Another demo where the red section is not relative to the viewport: https://codepen.io/Zodiase/pen/b727dfd550fa836936e460cd0e850803

![image](https://user-images.githubusercontent.com/1815174/94629659-4a406f80-0278-11eb-8f58-a67a7066ca7d.png)

[2020-09-30 03:26] #4487 closed

[2020-09-30 12:26] brampurnot opened #4557 "themeMode with custom theme"
Hi!

I'm trying to use a different color for the arrow icon when the themeMode is set. When the themeMode is set to dark, I want to have a white icon; when it is set to light, I want to have black icon.

Here is the code I have but it doesn't seem to be working correctly; the background changes nicely between white and black but the arrow icon always remains white.

Any help is appreciated since I

[2020-09-30 12:41] AlexandrChebotar commented on #3614
Yes, it works as in documentation for `Button`. But not for `AccordionPanel`. `AccordionPanel` doesn't have `as` prop.
That causes me to create a special buttons, while I want to use `AccordionPanel` as `div` and default buttons inside it.

[2020-09-30 17:50] forresthopkinsa commented on #3173
`event.target.value` is the standard way of retrieving the value of a Select element. Referring to the previous value is a bug. If it were a feature, it would be idiosyncratic and not useful. Other Grommet input components do not behave this way.

I'm sorry to be overbearing, but please don't close this issue unless it's fixed. It's obviously not an urgent problem but it shouldn't be the intended

[2020-09-30 17:52] jcfilben commented on #4557
<img width="159" alt="Screen Shot 2020-09-30 at 11 48 25 AM" src="https://user-images.githubusercontent.com/54560994/94721282-e28b3280-0312-11eb-91a1-80c21476563c.png">
<img width="150" alt="Screen Shot 2020-09-30 at 11 51 22 AM" src="https://user-images.githubusercontent.com/54560994/94721547-46adf680-0313-11eb-9849-ef58ff39c516.png">

I just tested and it appears to be working correctly, here is

[2020-09-30 17:55] IanKBovard commented on #4544
Gotcha, thanks for that. Not sure if this is the best solution, but I do believe this is better than using drop. You'll just need to manage the responsive behavior of layer at certain widths.

https://codesandbox.io/s/amazing-cartwright-8lw1l?file=/src/App.js

[2020-09-30 18:57] brampurnot commented on #4557
Thanks for the quick response. In the codesandbox it is indeed working but unfortunately the structure of my app is a bit different.

Here is an example of the structure of my app:
https://codesandbox.io/s/jovial-rosalind-l0s38?file=/src/theme.js

Bram

[2020-09-30 18:58] Zodiase commented on #4544
@IanKBovard thanks for the demo. I see that in your demo, you are positioning the layer in relation to the content it's going to cover. I don't think that's applicable for my case. The expandable (magenta) section belongs to the side bar component (red section), and it shouldn't be aware of what's outside. Otherwise its interface would have to be something like this:

[code]

This creates a coupli

[2020-09-30 19:03] Zodiase commented on #4544
Or let me put it this way: currently `stretch` in `Drop` helps implement `Menu`, which is has an expandable view that's "attached" to the button in a vertical way (anchored at left side, top side and right side, and growing downwards). And what I'm suggesting in this ticket is simply a need to attach the expandable view horizontally (e.g. anchored at bottom side, left side and top side, and growin

[2020-09-30 20:20] jcfilben commented on #4557
In your example the icon is appearing as white because the Header has a darkblue background so a black icon wouldn't have enough contrast with the background. If you remove the background color it will work as expected

[2020-09-30 21:29] halocline commented on #4557
To expand on @jcfilben's explanation...

Whether the light or dark color value is chosen based of the background of the containing element (not necessarily the value specified in `themeMode`).  In your case for `control`, I think of it as "when I have a `control` presented on a light background, use `control.light`; when I have a `control` on a dark background, use `control.dark`."

Grommet is not

[2020-10-01 04:43] parth611git commented on #4394
Thank you, @IanKBovard
I did not face warning right now.
I will try again with proper data to reproduce it.
So right now we can close this issue as it fulfill initial requirement of this issue.

[2020-10-01 06:29] brampurnot commented on #4557
Woow awesome information and thank you for the quick reply. Now it makes more sense.

Bram

[2020-10-01 06:29] #4557 closed

[2020-10-01 06:30] brampurnot commented on #4557
Thanks all for this amazing framework!

[2020-10-01 06:39] johnliu55tw opened #4559 "How to improve the performance of multiple TextInput in a parent component?"
So I was designing a form that allows users to dynamically add/remove entries, where an entry contains a `Select` and `TextInput` component:

![image](https://user-images.githubusercontent.com/5047724/94774706-0624aa80-03f1-11eb-970b-85ddfd9ce4dd.png)

The naive implementation is to create a parent component that keeps the state of each entry and passing the required states and several callbacks a

[2020-10-01 14:02] holdenmad commented on #4111
From what I can tell from reading this thread and looking at the [button documentation](https://v2.grommet.io/button), it looks like the documentation reflects the current functionality, but the [Button/doc.js](https://github.com/grommet/grommet/blob/master/src/js/components/Button/doc.js) doesn't reflect these changes. Should this issue be closed, or does the Button/doc.js file still need to be u

[2020-10-01 16:10] ShimiSun commented on #3394
@aravind1078, I added relative paths to the description.

[2020-10-01 16:54] mcraepv commented on #4004
Just wanted to update you guys, I'm still working on this. Got held up with some other stuff. I'm hoping to have a PR in by this weekend.

[2020-10-01 23:30] taysea commented on #4507
Good responses, @IanKBovard. It does seem like a general behavior is to toggle from start --> end date. And so, maybe this is the logic that we should be employing as well in grommet's Calendar. Edge cases would be:
- if `end date` is the one being selected, but end date < start date, update start date instead
- if `start date` is being selected and end date is already selected, but start date > e

[2020-10-01 23:40] taysea commented on #4354
Hey @maryjufang, could you provide a little more detail here about what you're trying to achieve and where things aren't going as expected? I'm not fully understanding what you mean by "user may want to skip highlighting date range in adjacent days"

[2020-10-02 01:35] #4545 closed

[2020-10-02 02:27] ShimiSun commented on #4111
Thank you @holdenmad for keeping this issue moving, I agree this issue can be closed since the new button was released and the docs had been adjusted.
Feel free to reopen if anything else is needed.

[2020-10-02 02:27] #4111 closed

[2020-10-02 02:29] ShimiSun commented on #4559
@IanKBovard can you please take a look at this one?

[2020-10-02 02:29] #4394 closed

[2020-10-02 02:50] #4519 closed

[2020-10-02 02:58] #4078 closed

[2020-10-02 02:59] ShimiSun commented on #4078
Starting from grommet release ^2.15.1, this issue is solved by using `plain='full'`.
Thank you for reporting.

[2020-10-02 03:07] #3899 closed

[2020-10-02 03:09] ShimiSun commented on #3444
Verified that the issue is no longer reproducible on grommet version 2.15.0 as @IanKBovard noted.
I'll be closing this issue, feel free to reopen if still relevant.

[2020-10-02 03:09] #3444 closed

[2020-10-02 03:11] ShimiSun commented on #3173
@forresthopkinsa, thank you for the inputs.
In the spirit of Hacktoberfest, would you like to make an open-source contribution?

[2020-10-02 04:07] #4537 closed

[2020-10-02 13:46] ShimiSun commented on #3166
Thanks @IanKBovard.
Feel free to reopen if still relevant.

[2020-10-02 13:46] #3166 closed

[2020-10-02 13:55] ShimiSun commented on #3161
In the constraint of maintaining backward compatibility, I think the fix above should have taken care of the issue.
We have been waiting for a confirmation for a few months now, so I'll be closing this issue, though feel free to elaborate more and reopen if the issue still exists.

[2020-10-02 13:55] #3161 closed

[2020-10-02 13:58] ShimiSun commented on #4450
I'll be closing this issue, feel free to communicate if you still have any related concerns.

[2020-10-02 13:58] #4450 closed

[2020-10-02 14:13] ShimiSun commented on #3254
Thank you @IanKBovard. I'm closing the issue, feel free to post any updates if still relevant.

[2020-10-02 14:13] #3254 closed

[2020-10-02 14:16] ShimiSun commented on #4407
@jcfilben can we please move this issue to the grommet-site repo?

[2020-10-02 15:59] ShimiSun commented on #4522
Interesting discussion on the PR #4523

[2020-10-02 17:03] jcfilben commented on #4407
Moved issue to grommet-site https://github.com/grommet/grommet-site/issues/181

[2020-10-02 17:04] #4407 closed

[2020-10-02 17:54] carolina-cascade opened #4565 "How to use the `step` prop in DataTable?"
### Expected Behavior

According to the docs, `step`  is "How many items to render at a time."  I understand this to control the number of rows displayed per page by DataTable.

### Actual Behavior

The number of items displayed bears no relationship to the number in `step`.

### URL, screen shot, or Codepen exhibiting the issue

I copied the sandbox example, adding the `step` prop, into https://c

[2020-10-02 18:00] ShimiSun commented on #4565
If `data` already has all the items in advance then the `step` wouldn't apply I believe. @IanKBovard can you please take a look at this issue?

[2020-10-02 18:01] carolina-cascade commented on #4565
Yes, my data does have all items in advance.

[2020-10-02 20:10] IanKBovard commented on #4565
Step determines how many items are rendered at a time before the scroll bar reaches the end of the page, and more items are rendered. Step is used with a large number of items, and prevents them from all being rendered at once. Your example is not a good representation on how to use step, since your dataset is small.

Here is an example of step working. This is using infiniteScroll, which dataTabl

[2020-10-02 20:19] carolina-cascade commented on #4565
Simply a paginated table, like this one from another library.

<img width="644" alt="Screen Shot 2020-10-02 at 16 15 55" src="https://user-images.githubusercontent.com/51412052/94966105-af8b9f00-04ca-11eb-824d-4d01b15b6a75.png">

Thank you for your help!

[2020-10-02 20:31] IanKBovard commented on #4565
I gotcha. That's not what step is for. I don't think dataTable handles pagination like that on its own. If you check out the infiniteScroll example that should give you a better idea of step.

If you have all your data in advance, I would just add some logic on next page click and pass in only specific datasets to datatable.
e.g
page one <DataTable data={items 1 - 50}
click next page
page two <Dat

[2020-10-02 20:35] carolina-cascade commented on #4565
Yeah, that could work. I am implementing a table inside a modal (crazy, but those are my specs), so InfiniteScroll will not work. But I can paginate manually.

Thank you again for your super quick response.

[2020-10-03 04:06] johnliu55tw commented on #4559
I've found a simple solution: Use `React.memo`!

Actually before I post this, I've tried using `React.memo` on the children component `Entry` in the real code but it doesn't' work (performance is still bad). I decided to try it again in Codesandbox and now it's working!

https://codesandbox.io/s/dynamic-input-state-in-parent-with-pure-entry-7b2fs?file=/src/App.js
See the `PureEntry` component.

It

[2020-10-03 13:39] jaksm opened #4567 "FormField or TextInput shows focus indicator even when focusIndicator prop is set to false on both"
### Expected Behavior

Focus indicator borders defined in theme should not be visible when `focusIndicator` prop is set to `false`.

### Actual Behavior

Focus indicator borders are visible around: `<FormField>`, `<TextInput>` and label

![image](https://user-images.githubusercontent.com/30727082/94992955-dbbc2400-058d-11eb-8971-04a8bc93c64d.png)

Provided codesandbox example is broken for some re

[2020-10-03 14:08] leossantiago commented on #4567
Even without a working codesandbox example, would you mind providing the component code and custom theming (if there's any) used to reproduce your screenshot?
It might be helpful to anyone who tackles this issue. Thanks :)

[2020-10-03 14:16] jaksm commented on #4567
@leossantiago Sure, this is the full component code:
[code]

And here are theme overrides which override the theme generated with [Grommet Themer](https://theme-designer.grommet.io/):
[code]

[2020-10-03 14:59] jmsunseri opened #4569 "Feature Request: Graphical Time Picker"
I would like to propose creating a graphical time picker to go along with the DateInput component

### URL, screen shot, or Codepen exhibiting the issue

I have created the [draft PR](https://github.com/grommet/grommet/pull/4568) with some sample code.  There is still a lot of polish if you want me to go further

![time picker](https://user-images.githubusercontent.com/804759/94994695-e8755380-055

[2020-10-04 16:24] johnliu55tw commented on #4559
Bad news: After I integrated my `DyanmicEntries` with a `Form`, the performance went south again :cry:

What I did is wrap the `DynamicEntries` with a `Form` component, then create a `state` and assign the `setState` function to the `onChange` prop of `DynamicaEntries`:
https://codesandbox.io/s/dynamic-input-state-in-parent-with-pure-entry-with-box-component-40oqo?file=/src/App.js

I checked the c

[2020-10-05 14:33] IanKBovard commented on #4565
@carolina-cascade No problem, happy to help. Let me know if we can close this issue.

[2020-10-05 14:35] carolina-cascade commented on #4565
Yes, please close it. I got my answer.

[2020-10-05 15:20] ShimiSun opened #4574 "styled-components upgrade to 5.2 breaks jest"
### Expected Behavior
The upgrade to styled-components 5.2.0 should pass all tests.
Currently we are locked on version 5.1.1, trying to upgrade to 5.2 while it causes failures.
In the 5.2 [release notes](https://github.com/styled-components/styled-components/releases/tag/v5.2.0), it says, "We no longer emit dynamic classNames for empty rulesets, so some className churn may occur in snapshots". Not

[2020-10-05 15:35] cscognamiglio commented on #4352
I have a very similar issue when using the DateInput in a FormField, if the date is selected with the dropdown it seems ok, if it is entered by hand the date results in the day before at 23 hours. In the pictures below the field date has the wrong timestamp as soon as the Form gets updated.

![Screenshot 2020-10-05 at 17 34 46](https://user-images.githubusercontent.com/11227537/95100155-18745080-0

[2020-10-05 16:26] ShimiSun commented on #4352
@taysea is this related at all to the issue you are working on?

[2020-10-05 16:27] taysea commented on #4492
After investigating this before, I've come to a couple conclusions.
1. When a Button is `plain` and `disabled`, the only disabled styling comes from [this line](https://github.com/grommet/grommet/blob/master/src/js/components/Button/StyledButtonKind.js#L183):
[code]
where `disabledStyle` only controls `opacity`.
2. When a theme defines disabled opacity of `1.0` via `props.theme.button.disabled.opa

[2020-10-05 16:28] #4565 closed

[2020-10-05 17:17] taysea commented on #4352
@ShimiSun This is related in the sense that it has to do with Calendar date selection, but it is not exactly related when it comes to behavior. The issue I am working on is more around the logic of selecting start and end dates for DateInput with range

[2020-10-05 17:26] ShimiSun commented on #4352
Thanks for the update @taysea , I just merged a fix that is also related to the Calendar date selection https://github.com/grommet/grommet/pull/4541 might be worth to take a look at whether it helps to the overall solution.

[2020-10-05 17:49] ShimiSun commented on #4225
Thank you for filing this interesting issue and sharing your use cases, it helped us come to the resolution on PR #4513.

The request for `font-family` support on Text, Paragraph, and List, was considered and the use cases (designs) you provided helped us get to the realization of what we think will be the most generic approach for grommet to take forward.

Our thoughts were that it would make sen

[2020-10-05 17:49] #4225 closed

[2020-10-05 21:25] smiciulis opened #4575 "Grommet Themer share functions does not work"
### Generating a link for the theme via Share function doesn't work as I cannot get the data entry fields to accept any email address of PIN

### When I punch in my details and hit publish, it just throws an error for each field that it is required (even though the data is there)

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/68843910/9513

[2020-10-05 21:40] jcfilben commented on #4575
Yes, there is an open issue for this here: https://github.com/grommet/grommet-theme-designer/issues/9

[2020-10-05 22:02] smiciulis commented on #4575
Thanks, I've subscribed on the other issue.

[2020-10-05 22:02] #4575 closed

[2020-10-05 22:07] srallen commented on #4225
That's reasonable. Thank you!

[2020-10-05 23:32] halocline commented on #4353
**Update**. Have proposed solution which would prevent the 6th row from displaying if all dates in next month. Need to add tests + question re: API.

@ShimiSun What are your thoughts of this being viewed as a bug vs. an enhancement? If enhancement, for backwards compatibility, I think we need to expose a new property. If viewed as bug, then we can implement without a new prop.

[2020-10-06 15:30] lllllllqw commented on #4092
@ShimiSun  I found that happened  in class component, even if it already wrapped Grommet component.
It is the codesandbox.
[https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-j0mqd?file=/index.js](https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-j0mqd?file=/index.js)

[2020-10-06 15:30] lllllllqw commented on #4092
@ShimiSun  I found that happened  in class component, even if it already wrapped Grommet component.
It is the codesandbox.
[https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-j0mqd?file=/index.js](https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-j0mqd?file=/index.js)

[2020-10-06 15:46] husseyexplores commented on #4352
I think it is not a bug but just the timezone difference.

If the user timezone is ahead (+1, +2, +3.. etc) then essentially, it means that the next day will start `+timzone offset` early.
And since grommet returns the UTC timezone, the time it is set to a previous day to accommodate the timezone difference. The returning time will be the user's local time with 00 hours.

For example, if I'm in +5

[2020-10-06 16:55] cscognamiglio commented on #4352
So, first of all my mistake, the bug I am seeing is for the DateInput and not the Calendar component, so maybe I should open a new issue?

The problem is between picking a date and inputting a date manually, there is a discrepancy and you can easily verify it with the link below.
The date parameter passed to the onChange is in the first case a date (correct one) in the second case an event object

[2020-10-06 17:54] IanKBovard commented on #4092
Here is a working example https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-bgi81?file=/index.js

[2020-10-06 18:08] ShimiSun commented on #4092
Thank @IanKBovard! @lllllllqw let us know what you think.

[2020-10-06 18:09] lllllllqw commented on #4092
Yes, but isn't grommet going to continue to support class-based component?

[2020-10-06 21:02] ShimiSun commented on #4465
Can we try leveraging the existing theme prop `theme.radioButton.icons.circle` instead of adjusting the radius on the code?

[2020-10-06 22:05] halocline commented on #4150
Hi. Using this [CodeSandbox](https://codesandbox.io/s/relaxed-dijkstra-3i980?file=/src/App.js) running Grommet 2.15.0, I have been unable to reproduce this issue.

I have tested manually on iPhone Safari, Chrome, and Firefox. All selected the date on first touch.

I also tested using mobile simulations with DevTools on Desktop. All selected the date on first touch.

Here are a couple screen record

[2020-10-06 22:37] brendoncaulkins commented on #4539
Would you be interested in some help integrating [coveralls](https://coveralls.io/) into your pipeline?  It's a code coverage tracking and enforcement tool that's free for open-source repos. It can deny PRs that drop global coverage below a certain threshold (which you set), or that drop coverage by a certain percentage (so if a PR drops you by, say, 2%, even it's still above the minimum it'll get

[2020-10-06 23:36] halocline commented on #4516
I am pretty sure this can be closed per this thread: https://grommet.slack.com/archives/G0170FR7CJU/p1599848695095600

[2020-10-07 08:18] tpinne commented on #4150
It seems that it's fixed in 2.15.0

[2020-10-07 08:18] #4150 closed

[2020-10-07 14:59] halocline commented on #4150
Thank you for reporting and confirming!

[2020-10-07 15:59] taysea opened #4582 "Implement DataTable column resizing styling"
### Expected Behavior

DataTable resizer should allow theming for hover styling and ability to specify a larger hit target (even if the visual is unchanged).

### Actual Behavior

DataTable resizer is only 1px wide and while this visually is nice, it doesn't leave a large enough area for the user to grab. If they are just slightly off from the resizer, they can't grab it.

### URL, screen shot, or

[2020-10-07 16:19] ShimiSun commented on #4539
@brendoncaulkins thank you for the suggestion! Sounds like an interesting idea we can consider for the testing enforcement, feel free to file a PR with the relevant changes.

[2020-10-07 17:55] IanKBovard commented on #4092
Just posted a pr to continue the conversation. Not sure what the fix should be, but I have a work around for class components.

https://codesandbox.io/s/cannot-read-property-focus-of-undefined-forked-ee063?file=/index.js

[2020-10-07 18:26] jcfilben commented on #4067
I was unable to reproduce the issue in codesandbox or by using the storybook Form uncontrolled story and removing TextInput.

In this case the warning 'A component is changing an uncontrolled input of type undefined to be controlled' is caused by initially setting defaultValue to be uncontrolled (`defaultValue = {};`) and then changing it later to be controlled.

explanation provided here: https:/

[2020-10-07 18:37] jcfilben commented on #4081
@iMerica are you still experiencing this issue? I was not able to reproduce the issue

[2020-10-07 19:04] jcfilben commented on #4070
Here is a code sandbox showing the Markdown list working https://codesandbox.io/s/grommet-v2-template-forked-usx6w?file=/index.js.

The reason the list was not working in your example is that the markdown-to-jsx library that grommet is using doesn't preserve newlines in multiline text when the content is placed directly into he Markdown component like this:
[code]

therefore it is recommended to d

[2020-10-07 19:14] cscognamiglio commented on #4067
I forgot about this... the issue I had was mainly a different behavior when using FormField and passing an input component as a child as opposed to with the "component" prop.
I solved somehow and judging by the docs the recommended method is to use input components as children of a FormField.
Maybe show a deprecation warning when using the "component" props can help? anyway, I'll close this issue.

[2020-10-07 19:14] #4067 closed

[2020-10-07 23:22] halocline commented on #4465
@ShimiSun Ah, I remember why I abandoned this path initially. Initially, I had wanted to add
[code]
to the theme file. That worked great in a local theme, but did not translate well to `grommet-theme-hpe`. When trying to apply to that project, the following changes would need to be made to enable this:
- import React to the theme file
- 'react' then must be added as a dependency, most likely a pee

[2020-10-08 00:16] ShimiSun commented on #4465
@halocline why not simply using SVG instead of the Blank react component?

[2020-10-08 07:30] cacheHit001 opened #4587 "the page's focus changes at the moment a Layer is closed"
[code]
As shown in the code, there are two TextInputs and a Layer on my page. I let the Layer  appear when the onBlur of the first TextInput  is triggered and it will be closed after 3 seconds.

### Expected Behavior

At first, I click the first TextInput. Then I click the second one. Due to the onBlur, the Layer will be visible for 3 seconds. After that, I immediately click the first TextInput be

[2020-10-08 15:27] lllllllqw commented on #4092
Thanks! So ref is executed in the class-based component, but the timing may be a bit late.
I feel a bit confused about the behavior of ref.

[2020-10-08 15:57] IanKBovard commented on #4092
For TextInput the ref is passed through a custom hook when the component mounts. I'm guessing that's why class components never receive the updated ref on mount; which is why using state and ComponentDidUpdate is necessary in this situation.

[2020-10-08 16:31] padmacnu opened #4588 "Add caret/arrow on tooltip"
Dynamically change position of tooltip arrow based on position on content.
![image](https://user-images.githubusercontent.com/6428437/95487230-e76e6880-0948-11eb-9712-f6a4ca53d563.png)

Current:
![image](https://user-images.githubusercontent.com/6428437/95487265-f5bc8480-0948-11eb-82bb-61cd00f2f981.png)

[2020-10-08 16:59] #4172 closed

[2020-10-08 22:15] trumanpurnell commented on #4535
Hey there! Thanks for all of your hard work, it is mostly fixed! There still persists a strange, harder-to-reproduce bug! Shall I create a new issue or should this one just be opened back up?

Steps to reproduce:

1) Head over to the trusty storybook: https://storybook.grommet.io/?path=/story/dateinput--form
2) Select (not type) the date 11/04/2020
3) Change (by typing) the year to 2012. (Oddly yo

[2020-10-08 22:22] brendoncaulkins commented on #4539
Took a different angle than Coveralls for initial implementation.  Jest can do this all on its own: https://github.com/grommet/grommet/pull/4590

Coveralls would be some extra icing if you care about the repo badge and coverage delta enforcement.  Typically I see Jest set to the contractual minimums, and then Coveralls layered on top to help manage large swings due to large feature branches, refac

[2020-10-09 00:46] leossantiago commented on #4492
Hi everyone! I've been also giving a shot on this issue in the past couple weeks, but lately, I've been a little busy and didn't have time to work on it.
Since @taysea pointed out some things, and @ShimiSun opened a PR addressing the issue, I'll try to contribute with my thoughts on that.

I did some testing using four buttons:
1. Button + disabled
2. Button + disabled + plain
3. Button + disabled

[2020-10-09 01:20] b1f6c1c4 opened #4591 "Support width along with max-width / min-width"
### Expected Behavior

For a `Box` I'd like to specify its desired width by CSS property `width` *and* its maximum width `max-width` at the same time. For example, I want my page container to be no larger than `800px` (so that things don't get too wide spread), but don't by smaller unless the user is using a mobile devices. So I want to put `width: 100%; max-width: 800px` as the style for the page

[2020-10-09 01:22] ericsoderberghp commented on #4591
good idea. I might suggest: `width={{ width: '100%', max: '100px' }}`

[2020-10-09 01:41] leossantiago commented on #4587
Looks like the problem is related to your code logic.

Layer has a prop called `originalFocusedElement`. It's used to restore focus on the element focused before Layer is set.

Your logic is set to happen when TextInput is not focused anymore. So, when Layer is triggered, the first input will never be the `originalFocusedElement`. If you click on the page and then click in an focusable element, th

[2020-10-09 02:25] leossantiago commented on #4535
Hey @trumanpurnell !
I'll take a look and try to solve it.

Tried your steps, and it looks like something I pointed in PR #4541 , but I thought it was fixed. It looks like the second change is being set before the transition (from november to october, as its < than a year) finishes. That's why it has to be done quickly. Also, if you take a close look, the days showed in calendar are from October 2

[2020-10-09 14:22] ShimiSun commented on #4535
Reopened the issue.
Thanks for taking the challenge @leossantiago, much appreciated 💟

[2020-10-09 16:52] ShimiSun opened #4593 "Add `fill` prop to Heading"
### Expected Behavior
Heading should be able to fill the container space as an alternative to being a constraint to `max-width`, using a `fill` prop. Similarly to how Paragraph works with fill.

### Actual Behavior
No `fill` option.

Thread from slack https://grommet.slack.com/archives/C09QQEG69/p1602251094055800

### Your Environment

- Grommet version: 2.15.2
- Browser Name and version: any
- Op

[2020-10-09 16:57] ecircenis opened #4594 "Text and icon scaling in a Select are not proportional"
The text and icon in a select do not scale proportionately.  Here's an example of the four different scales available.  They get uglier as they get larger:
![image](https://user-images.githubusercontent.com/17883783/95610867-3cc87980-0a1e-11eb-8772-cd26e90c72e8.png)

[2020-10-09 17:42] ddaniss commented on #4591
Can I give this a try?

[2020-10-09 18:37] ShimiSun commented on #4594
According to the styling of the attached screen shot, the issue will be better placed under the hpe-design-system repo, as the styles are driven from the HPE theme. I'll be closing this issue and file it on the theme repo.

[2020-10-09 18:38] #4594 closed

[2020-10-09 19:14] ShimiSun commented on #4588
Can you please add the full description of the issue?
I’m not sure I understand the expected behavior. We currently don’t have a tooltip component, so how do you think the behavior should work?

[2020-10-09 20:43] leossantiago commented on #4593
Hey, Shimi!
Looks like only people with @hpe.com emails can get access to the linked thread  :)

[2020-10-10 12:49] ShimiSun commented on #4593
@leossantiago you are quick! 💟

[2020-10-11 05:03] leossantiago commented on #4535
hey guys! Had an epiphany before bed and had to test an idea. Ended sending another PR addressing the issue haha.
I'm confident that all bugs are solved now. But I'd love if you guys could check it and test DateInput behavior. Thanks :heart:
@trumanpurnell @ShimiSun @jcfilben

[2020-10-11 10:04] tobyspark commented on #4078
Was able to removed my ThemeContext workaround. Thanks!

[2020-10-11 22:30] jjalonso commented on #4078
Great job guys.

On Sun, 11 Oct 2020, 11:04 Toby Harris, <notifications@github.com> wrote:

[2020-10-12 07:27] cacheHit001 commented on #4587
Thanks for your detailed explanation.  I still have one question: Could I set the prop called originalFocusedElement?

[2020-10-12 13:13] Pitasi opened #4598 "TextInput suggestions should close when page is scrolled down"
I'm using TextInput with some suggestions, not many, as suggested in docs.

### Expected Behavior

I have a main TextInput in the header of the page (search box).

I write something in my TextInput and some suggestions appear.

I decide to not go ahead with any suggestion, instead, I scroll the page down to see more of it.

The suggestions box closes, freeing my view.

### Actual Behavior

The sug

[2020-10-12 15:36] IanKBovard commented on #4559
@johnliu55tw Just an update. I've been working on this issue a long with a few others this past week. I don't have a solution yet, but I do agree that it's because of form using context. Anything wrapped in form will rerender because of it, causing the performance issues. I have a few other things I plan to try today. Will keep you updated on my progress.

[2020-10-12 15:56] IanKBovard commented on #4587
@cacheHit001 What is your goal with this implementation of layer? Not sure I see the usecase for this.

[2020-10-12 15:57] IanKBovard commented on #4588
@ShimiSun is correct, there is no tooltip component in grommet. This is an example of using drop to replicate a tooltip. As it stands, it's up to the user to design the tooltip box. For me, I would prefer to styled the box myself using CSS, is this something we want to eventually implement?

[2020-10-12 16:09] ericsoderberghp opened #4599 "Tooltip component"
Create a Tooltip component for use on it's own but that can also be embedded into Button, Menu, etc.

[2020-10-12 18:54] #4582 closed

[2020-10-12 19:08] halocline commented on #4465
We'd still be relying on JSX to define the `<svg>` in this case as well, correct? If so, I think we run into the same issues.

[2020-10-12 20:24] padmacnu commented on #4588
@ShimiSun I am talking about Drop component, we use it in CURO as tooltip component. Could you please confirm if you're planning to implement it in Grommet? Else we can try to style it our self.

[2020-10-13 00:47] leossantiago commented on #4587
@cacheHit001 No, you can't. Passing anything as this prop wouldn't change a thing, as `originalFocusedElement` is handled inside Layer code using `setOriginalFocusedElement(document.activeElement)`. As you can see, it comes directly from `document`.

Also, I agree with @IanKBovard . I don't think that would be nice to have without a usecase for this.

[2020-10-13 00:56] b1f6c1c4 opened #4602 "DataChart may break randomly when axis.x.granularity is medium"
### Expected Behavior

When `axis={{ x: { granularity: "medium" } }}` is given, the `DataChart` shall pick some X values and label them no matter how many data points are given.

### Actual Behavior

However if the number of elements equals to some weird number (I can't see any pattern here) the following error ococurs:
(Suppose `dt` contains property of X value.)
[code]

### URL, screen shot, or

[2020-10-13 03:31] cacheHit001 commented on #4587
@leossantiago @IanKBovard

Sorry, that is just an abstract demo of my code. Here is my usecase. There are some TextInputs on my page and the users will fill them. I hope to check whether the content is legal, for example a user name must has both number and letter, when the focus leaves every TextInput. If the content is illegal, a layer with some notification will occur.

According to my code log

[2020-10-13 16:11] #4593 closed

[2020-10-13 20:47] ShimiSun commented on #4465
@halocline I think we'll be OK adding a peer dependency and use the JSX solution, can you file a PR on `grommet-theme-hpe` to start the discussion?

[2020-10-13 21:03] ShimiSun commented on #4588
I'm currently working on #4599, and I'm not sure how smoothly it will operate with a caret as we are not planning to provide the caret behavior out of the box in grommet. I'll keep you posted on how it goes early next week.

[2020-10-13 23:12] leossantiago commented on #4567
Taking into consideration the related expected behavior, even though `focusIndicator` conveys the idea of general use, this prop is intended to be used only when prop `plain` is set. `plain` prop has a few different implementations among grommet Components, but it usually removes `outline`, `border` and `padding` (or at least some of those), but the component still shows a `box-shadow` indicator w

[2020-10-14 00:53] #4384 closed

[2020-10-14 05:57] oskari opened #4606 "Global.colors.text affects Text only when deepMerged to grommet -theme"
### Expected Behavior
Global.colors.text should affect the color of Text component.

In the [theming documentation ](https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation) it's not listed as affected component, but in the [component page ](https://v2.grommet.io/text) it's listed as a theming option.

### Actual Behavior

Global.colors.text only seems to affect Text when custom t

[2020-10-14 08:21] oskari opened #4607 "Undocumented theme option `defaultMode` missing from TypeScript definitions"
### Expected Behavior

`defaultMode` is used in [Grommet component](https://github.com/grommet/grommet/blob/3b912b5023cb7ec381cdecb2f0391a203de498d3/src/js/components/Grommet/Grommet.js#L43) along with `themeMode` prop to determine initial theme mode between dark and light themes. As this property is used by Grommet Theme Designer, Grommet HPE Theme and in HPE Design System I would expect it to be

[2020-10-14 10:04] oskari opened #4608 "Box background property doesn't work properly with linear-gradient that has RGBA values"
### Expected Behavior

Form correct css style for Box component background when using linear-gradient that has rgba values as stops.

### Actual Behavior

Box component ends up using the linear gradient in `background-color` css property.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-background-linear-gradient-rgba-u3oi7

### Your Environment

Dependencie

[2020-10-14 10:10] oskari opened #4609 "backgroundIsDark (?) fails to detect values in linear-gradient background"
My experience with Grommet is still limited but I am under assumption that it does try to detect component background and adjust light or dark text usage based on it. If this is not the case, then my assumption on this issue is probably wrong.

### Expected Behavior

Text to have good contrast in dark linear-gradient background

### Actual Behavior

Text has bad contrast in dark linear-gradient ba

[2020-10-14 17:11] taysea opened #4610 "Add `unit` to DataTable column structure"
### Expected Behavior
Allow user to specify a unit value that would appear next to the column label. User should be able to style this value via the theme and provide a custom render if desired. It is a common case that users may have a unit accompany a column label that should receive separate style treatment than the label itself.

### Actual Behavior
Not currently existing.

### URL, screen sho

[2020-10-14 20:48] ShimiSun commented on #4607
In the spirit of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), would you like to make a contribution?

[2020-10-14 21:26] IanKBovard commented on #4567
looking into this now. I do agree that it could be more intuitive to control the border, and focus styles.

Here is a codesandbox with a workaround using theme. You could use themecontext to apply it to specific formfields. I'm not a huge fan of this though.

https://codesandbox.io/s/grommet-v2-template-clickable-box-forked-01m0e?file=/index.js

[2020-10-15 09:06] AlexBHarley opened #4615 "Switching out theme causes components to re-mount"
I want to confirm whether or not this is expected before I create a repro.

I have the normal theme setup, ie.

[code]

and a dark/light toggle button. Clicking it (which changes the variable passed to grommet) causes my `react-router` routes to re-mount. Is this expected behaviour?

### Expected Behavior

I expect they don't remount.

### Actual Behavior

They remount.

### Your Environment

- Gr

[2020-10-15 10:17] Pitasi commented on #4598
As a general idea (I haven't digged into the code yet), I would suggest a behaviour like that: when the TextInput is rendered, start an [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) for it. When the TextInput is no longer visible in the page, force close the suggestions box.

[2020-10-15 14:06] ericsoderberghp commented on #4609
You are correct that grommet attempts to calculate the luminosity of a background to determine whether dark or light text color would provide better contrast. There are some situations that grommet is unable to detect though, such as images or gradients. The design intent is that you should be able to explicitly indicate via something like: `background={{ color: 'linear-gradient()', dark: true }}`

[2020-10-15 14:10] AlexBHarley commented on #4615
Single Grommet component which contains the router

[2020-10-15 14:32] oskari commented on #4609
I didn't notice the `dark: boolean` in `background` props, that seems logical option to solve this, just have to handle linear(&radial?)-gradient usage in color so the css property is formed correctly.

[2020-10-15 15:09] #2611 closed

[2020-10-15 15:39] ericsoderberghp commented on #4615
I wonder if grommet re-rendering due to `theme` change is causing the Router to re-mount? Can you try with Router outside Grommet? Just wondering.

[2020-10-15 21:29] MikeWalrath opened #4617 "Pagination component API ideation"
Pagination component that can also integrate with other components (ex: table, list)
Design thinking: https://docs.google.com/document/d/1rBlrQPNiV9Mvl9mjea3rWb4xq5tVshWECi0AWGYpOvk/edit
https://www.figma.com/file/slRqNvhJub0QlgN46zSXoY/HPE-Pagination-Component?node-id=1%3A9

Construct a variety of code examples of how this could be done. For instance,
- embedded within DataTable/List or as a sepa

[2020-10-16 03:07] ShimiSun commented on #4608
Thank you for reporting, issue is fixed and available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be available officially on the next release.

[2020-10-16 03:07] #4608 closed

[2020-10-16 03:11] ShimiSun commented on #4609
Thank you for reporting, issue is fixed and available on the stable branch and will be available officially on the next release.

[2020-10-16 03:11] #4609 closed

[2020-10-16 10:57] oskari commented on #4607
Yeah I took a look at this and I guess I poorly worded this issue at first. It's not actually TypeScript issue per se,  but more like missing documentation all together.

Is the `theme` prop that is passed to `Grommet` -component documented anywhere else other than [wiki?](https://github.com/grommet/grommet/wiki/Grommet-v2-theming-documentation). There's [few other fields](https://github.com/gromm

[2020-10-16 15:54] ericsoderberghp commented on #4607
You are correct about some of the properties included by the theme designer are metadata used by the theme designer.

`defaultMode` allows the theme to specify a default mode that is used when it isn't specified via `<Grommet themeMode={} />`.  This allows the theme to define a preferred themeMode.

[2020-10-16 16:19] IanKBovard commented on #4567
Here's a sandbox thats a little more clear.

https://codesandbox.io/s/grommet-v2-template-clickable-box-forked-jseqp?file=/index.js

[2020-10-16 16:51] IanKBovard commented on #4175
@MLRichmond Your example doesn't pass an undefined value to the control, it always passes a string. As shown here `value={this.props.value === undefined ? "" : this.props.value}`.

here's a simpler example showing the error https://codesandbox.io/s/interesting-diffie-8tycr?file=/src/App.js

I'm very reluctant to sanitize values any more than we should. If a user passes `undefined` through to an in

[2020-10-16 17:41] IanKBovard commented on #4366
@seanmehra just checking in to see what your thoughts are on this issue

[2020-10-16 19:19] IanKBovard commented on #3753
@NickClark let me know if this answers your question an we can close this issue.

[2020-10-16 19:22] IanKBovard commented on #4544
@Zodiase I understand what you're asking, sorry if I didn't make that clear. I still think layer is the best use for this situation. I've updated my sandbox to allow the layer to overflow past its ref container.

https://codesandbox.io/s/amazing-cartwright-8lw1l?file=/src/App.js

[2020-10-16 19:31] IanKBovard commented on #4587
I gotcha. While layer can be used as a notification toast, this implementation seems really off to me. It looks like, to me, layer is working correctly.

The originalFocusedElement when the layer opens is the second input, when the layer closes it should snap back to that. A notification toast for errors on a form seems like poor user experience to me. What if i miss the error message? I won't kno

[2020-10-16 19:31] IanKBovard commented on #4516
I agree, it looks like this issue has been resolved.

[2020-10-16 20:39] jcfilben commented on #4246
@ShimiSun Adding borderSize, edgeSize, and size to medium and large in breakpoints does fix the problem but I am not sure what pixel values should go here. Is there a reason these fields were left blank in the first place?

[2020-10-16 23:59] RetroJect opened #4620 "DataTable 'background' color doesn't apply to the column of checkboxes when 'select' is enabled"
Using the DataTable, and specifying the `select` parameter allows for checkboxes to appear as the left-most column of the table, but it is currently not possible to specify the color of the background for the section of the header the checkboxes appear in. The other sections of the DataTable can utilize the `background` property of the component through named properties as shown in the [documentat

[2020-10-17 00:04] ericsoderberghp commented on #4620
That behavior is not intentional. This is a good issue.

[2020-10-17 00:37] MLRichmond commented on #4175
@IanKBovard You asserted

The example was to show that just accepting `undefined` as a prop, which the "Test" component accepts, does not make it uncontrolled. It is perfectly capable of sanitizing that input before it is sent to an Input without issue.

If Grommet doesn't want to sanitize inputs, that's a perfectly fine stance to take - but this issue could not be more simple.

Complex objects ar

[2020-10-17 06:59] leossantiago commented on #4620
Hey guys! Just sent a PR addressing that issue. Even though it's a fix, there are a couple of things I'd like to open to discussion based on this issue.

1. select Cell in Header is rendered as a `td` element. Shouldn't it be a `th` as the other Cells in Header?
2. Right now, backgrounds can be set using `background` prop and setting each context inside of it, but only Header background can the se

[2020-10-17 07:13] leossantiago commented on #4587
Agreed.

Unless you really need a Layer to this, I could make a couple suggestions alongside @IanKBovard ones.

You could call a validation function in onChange, or even in onBlur. As suggested by Ian, a conditionally rendered text would be really helpful in those situations.
Also, if you're using forms, FormField receives a prop called `validade`.

`Validation rule when used within a grommet Form

[2020-10-18 02:29] iMerica commented on #4081
Issue persists. It's like editing a react project with Nano...

[2020-10-18 02:35] iMerica commented on #4081
Fixed this by manually adding support in Webstorm.

https://stackoverflow.com/a/46871743/1118492

[2020-10-18 02:35] #4081 closed

[2020-10-18 13:19] jimwhurr commented on #3993
People, myself included, seem to be incurring the same fault after it has been 'closed'

[2020-10-18 23:18] seanmehra commented on #4366
Sorry for the delay @IanKBovard @ShimiSun, this perfectly resolves the issue. Wonder if this should make it into the documentation somewhere as a tip or warning. Thanks for the help! It's a more "correct" solution than trimming whitespace from a string.

[2020-10-19 06:05] cacheHit001 commented on #4587
@IanKBovard  @leossantiago Thanks for your detailed explanation to my problem, now I know that the layer is working correctly and the better way to implement the error notification. You really helped me a lot!!

[2020-10-19 06:05] #4587 closed

[2020-10-19 08:10] LeComptoirDesPharmacies opened #4624 "DataTable overflow in fixed sized tab"
### Expected Behavior

DataTable should fit according to the size of the tab and display a scrollbar.

### Actual Behavior

DataTable overflow out of the tab and take full height, avoiding scrollbar.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-zmfgx?file=/index.js

### Steps to Reproduce

1. Just create a DataTable inside Tabs and fix

[2020-10-19 09:54] matteod commented on #3536
Any update on thi bug?

[2020-10-19 16:23] jcfilben commented on #4624
I made a code sandbox based off of the one you sent, showing the DataTable fitting within the Tab and the text being displayed beneath the Tab. : https://codesandbox.io/s/grommet-v2-template-forked-wz65v?file=/index.js
Let me know if that solves the issue

[2020-10-19 17:02] #4535 closed

[2020-10-19 17:18] jcfilben commented on #4070
I think we should be able to close this issue. Feel free to reopen this issue or file a new issue if the above solution isn't working as expected.

[2020-10-19 17:19] #4070 closed

[2020-10-19 17:35] #4347 closed

[2020-10-19 17:36] ShimiSun commented on #4347
The issue is fixed on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be officially released on the later version of 2.15.2.

[2020-10-19 17:41] jcfilben commented on #4553
Hi @Chenchaiah just checking in and seeing if you are still experiencing this issue after upgrading to the latest version. If not we should be able to close this issue

[2020-10-19 17:42] ShimiSun commented on #4553
The problem should no longer reproduce with the latest upgrade, thanks for reporting!!

[2020-10-19 17:42] #4553 closed

[2020-10-19 17:53] MikeWalrath opened #4626 "add `weight` to Anchor"
Add `weight` property to the Anchor component, similar to how Text has it.

This is an ask from the CCS team.

[2020-10-19 17:55] jcfilben commented on #4591
I think that PR #4597 solves this so this issue can be closed

[2020-10-19 18:01] MikeWalrath opened #4627 "Revisit Different Heading Sizes"
Difficult to differentiate between some of the different heading sizes.

[2020-10-19 19:42] ShimiSun commented on #4626
@MikeWalrath any idea why not to use the `fontWeight` theme prop as the theme suggests?
Also, allowing this property might break the alignment of the Anchors look & feel in the applications.

[2020-10-19 19:55] ShimiSun commented on #4627
Is this issue filed for grommet or should be filed for the design-system theme?
I don't think this is a grommet issue, any changes on the grommet Heading sizing wouldn't be backward compatible and I don't think we should release v3 for it.
We should address the issue on the theme's Heading size for the design-system specific use case.

[2020-10-19 19:58] ShimiSun commented on #4366
@IanKBovard Can you please get it documented on the docs?

[2020-10-19 20:20] IanKBovard commented on #4366
Before I do that I'd like to know if this is how we expect the regex to work.
https://codesandbox.io/s/grommet-buttons-forked-5i1vc?file=/index.js

Any single digit option will halt any more inputs when the options are strings. When the options are integers the im allowed two inputs. Is this expected?

[2020-10-19 20:25] ericsoderberghp commented on #4626
This approach allows the caller do something for particular Anchors, without it being applied theme-wide. Also, the font size remains the same, so the vertical alignment shouldn't be an issue.

[2020-10-19 20:56] halocline commented on #4246
@jcfilben I believe they were never defined under the `breakpoints` property because the idea is if they don't need to be adjusted for a breakpoint, they should use the defaults set elsewhere in the theme:
- https://github.com/grommet/grommet/blob/f2ecd5ee71cb133b2d210f5a7e43322b549a11da/src/js/themes/base.js#L157
- https://github.com/grommet/grommet/blob/f2ecd5ee71cb133b2d210f5a7e43322b549a11da/s

[2020-10-19 21:33] #4620 closed

[2020-10-19 21:50] ericsoderberghp commented on #4246
Agreed

[2020-10-19 22:07] halocline commented on #4465
👍 Will do.

[2020-10-20 00:19] LiveFreeAndRoam opened #4631 "Mis-alignment of last box when wrapped into a single column"
Wrapping Box children, causes last child to be mis-aligned when the page shrinks so they wrap into a single column.  Continuing to shrink the window causes the alignment to be corrected, (I think the correction occurs at the small breakpoint).

### Expected Behavior

Shrinking a page so that all wrapped children are in a single column, should leave all children properly aligned.

### Actual Behavi

[2020-10-20 00:32] ericsoderberghp commented on #4631
This is a known behavior when combining `wrap` and `gap`. See the note here: https://v2.grommet.io/box#gap.
Typically, a better approach is to use Grid as it will maintain the appropriate gap.

[2020-10-20 02:00] leossantiago commented on #4626
Hey everyone! Just sent a PR addressing that.

Followed Text component behavior, as suggested by @MikeWalrath .

I noticed that the way `font-weight` is modified is very  similar when it's hovered and when it's not, but since `theme : anchor > hover > fontWeight` is not set by default (considering grommet theme), it'll stay as defined by weight (prop or theme). Setting it in theme would be the onl

[2020-10-20 06:11] LiveFreeAndRoam commented on #4631
Thanks Eric.  If I understand `Grid`, it requires fixed width columns.  In my case, the Card width flexes with its content.  So `Grid` would not be a suitable replacement for me here.

I guess I could probably figure out an algorithm to append the same gap to the last child, so then at least each row will consume the same width (child + gap).  Though, I'm probably not that desperate.

Not to worry

[2020-10-20 07:13] #4591 closed

[2020-10-20 15:14] ShimiSun commented on #4626
@leossantiago thanks for the PR buddy, nice work, I left a couple of comments so let me know what you think.

I think we should be OK with the behavior of weight+hover as long as the theme `hover.fontWeight` will still apply on top of the `weight` prop if defined.
I'm OK if for now we won't set a specific weight mechanism on hover until the need arises, to keep the implementation simple.

[2020-10-20 15:52] #3993 closed

[2020-10-20 15:53] ShimiSun commented on #3993
Thank you for reporting guys, I've reopened the issue. Feel free to make a contribution and help us improve the open-source for StrictMode users.

[2020-10-20 15:55] ShimiSun commented on #3753
Feel free to reopen if still relevant.

[2020-10-20 15:55] #3753 closed

[2020-10-20 16:44] #4516 closed

[2020-10-20 16:44] ShimiSun commented on #4516
Thank you @halocline & @IanKBovard ! Issue closed. Feel free to reopen if still relevant.

[2020-10-20 18:06] ericsoderberghp commented on #4335
Whether the value is an object or is a property of an object is controlled by `valueKey={{ reduce: true }}`. https://v2.grommet.io/select#valueKey
If I change the code sandbox to have `valueKey={{  key: "id", reduce: true }}`. I believe it works as is expected.
We added this `reduce` sub-property to disambiguate which way the value should be interpreted.

[2020-10-20 18:19] ericsoderberghp commented on #4631
I see. In that case, you might consider not using `gap` on the container Box but instead using `margin` on the contained Cards.

[2020-10-20 18:20] #4353 closed

[2020-10-20 18:33] antonio-lm-jr commented on #4335
Nice @ericsoderberghp . Add `reduce=true` on `valueKey` property is the least impactful for my project.

Thank you very much!

[2020-10-20 19:22] #4335 closed

[2020-10-20 19:26] ShimiSun commented on #4626
@leossantiago Thanks for the super quick fix!
@MikeWalrath This new prop is now available on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be officially released on the next grommet core release.

[2020-10-20 19:26] #4626 closed

[2020-10-20 19:35] LiveFreeAndRoam commented on #4631
Excellent, thank you Eric.  That fixed it.  _Mind the gap_ :smile:.

[2020-10-20 20:33] ShimiSun commented on #4602
The issue is fixed on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) and will be released on our next official release. Thank you for reporting!

[2020-10-20 20:33] #4602 closed

[2020-10-20 22:39] rodmartinezmedina commented on #502
Please help.  Do you know how to target the icon on hover? I'm going crazy. I have an icon in a Grommet Anchor and nothing seems to work.
[https://stackoverflow.com/questions/64454214/cant-style-grommet-icon-inside-anchor][1]

  [1]: https://stackoverflow.com/questions/64454214/cant-style-grommet-icon-inside-anchor

[2020-10-20 22:52] rodmartinezmedina opened #4637 "Icon inside Anchor doesnt change style (Active and hover)"
Please help.
How can I target an icon on hover or active?
I'm going crazy. I have an icon in a Grommet Anchor and nothing seems to work.

[](https://stackoverflow.com/questions/64454214/cant-style-grommet-icon-inside-anchor)

### Expected Behavior

Icons should change the style on hover or active status of the Anchor.
Also for some reason, border is green when on focus even if i specified everywhe

[2020-10-20 23:04] halocline commented on #4617
In progress draft of potential functionality: https://docs.google.com/document/d/1rBlrQPNiV9Mvl9mjea3rWb4xq5tVshWECi0AWGYpOvk/edit#heading=h.lg9p3h5pqpgw

[2020-10-21 03:35] ShimiSun commented on #4191
Thank you @netochaves for adding this enhancement! It will be available on our next official release.

[2020-10-21 03:35] #4191 closed

[2020-10-21 03:45] ShimiSun commented on #502
@rodmartinezmedina I've responded to your stackoverflow question. Feel free to join our grommet slack #help channel and let us know if you have any further questions.

[2020-10-21 03:50] ShimiSun commented on #4631
Great energy on this thread 😄

@LiveFreeAndRoam Are we good with closing this issue, or is there anything else we can help with?

[2020-10-21 12:28] martin-koenig commented on #4273
I just ran into the same issue. Is there maybe already any solution to this?

[2020-10-21 16:12] lllllllqw commented on #4092
@IanKBovard This approach can indeed solve the ref usage problem in class based components. My question is whether grommet should support class based components perfectly. I think the question has been answered. Thank you very much!

[2020-10-21 16:58] IanKBovard commented on #4637
You need to target the svg with your styles. The border you're seeing is a box-shadow. It's a focus indicator used for accessibility purposes, and is added to any clickable element.

https://codesandbox.io/s/grommet-icon-not-working-forked-v1mei?file=/index.js

[2020-10-21 17:41] thgreasi opened #4639 "<Select> underlying input element holds and submits the label instead of the value"
A `<Select>` component, used as a form input, will submit the selected option's label instead of the value.

### Expected Behavior

Given
[code]

as part of the form, when submitted, the form data should contain hello=1.

### Actual Behavior

The `<input>` element holds `A` as its value and the submitted form data contains `hello=A`.

### URL, screen shot, or Codepen exhibiting the issue

https://

[2020-10-21 21:13] bhavin-r-shah commented on #4442
Sounds good.

[2020-10-21 21:13] #4442 closed

[2020-10-21 22:33] #4637 closed

[2020-10-21 22:38] ShimiSun commented on #4092
Thanks @IanKBovard & @lllllllqw for collaborating on this, @lllllllqw feel free to make code contributions that will help to improve grommet Class component `ref` support.

[2020-10-21 22:42] #4366 closed

[2020-10-22 01:32] ShimiSun commented on #4588
@padmacnu, it is still under review, but it is very close 😃
https://deploy-preview-4613--sad-tereshkova-173d07.netlify.app/?path=/story/tip--caret
Let me know what you think. Mike supposed to schedule us a call.

[2020-10-22 09:57] LeComptoirDesPharmacies commented on #4624
Hi @jcfilben,

Indeed, setting a fixed height on Box inside "<Tab>" will workaround this problem with the DataTable maximum height.
However, if there is X tabs, I need to create the fixed height Box in the X tabs and I would like to set the height once on "<Tabs>" parent element which is more natural.

Yours faithfully,
LCDP

[2020-10-22 11:32] rodmartinezmedina commented on #3389
Hi, So where can i find more detailed explanation about the extend property to clarify? I've checked all the links in this and the other post and can't find it.
Thanks

[2020-10-22 17:24] IanKBovard commented on #3389
Here is an example of TextInput using extend
https://storybook.grommet.io/?path=/story/textinput--themed
and Heading using extend with dynamic variables
https://storybook.grommet.io/?path=/story/heading--extend

[2020-10-23 16:42] ShimiSun commented on #4617
Thanks @taysea @halocline! Feel free to share the API for the component with the community to start a NEW component discussions

[2020-10-23 17:33] #4000 closed

[2020-10-23 23:09] halocline opened #4647 "Pagination component prototypes"
Create first pass prototype implementation for Pagination applied to DataTable, List, Grid, etc. and as a standalone implementation.

Publish PR for feedback, commentary, direction, etc.

[2020-10-23 23:12] halocline commented on #4617
https://github.com/grommet/grommet/pull/4646

[2020-10-23 23:12] halocline commented on #4647
https://github.com/grommet/grommet/pull/4646

[2020-10-25 21:11] LiveFreeAndRoam commented on #4631
Yes, this one can be closed.

Cheers,
Matt.

On Wed, 21 Oct 2020, 1:51 pm Shimi, <notifications@github.com> wrote:

[2020-10-25 23:21] michaelplazek commented on #3496
As noted above, this really just comes down to the mechanisms of static site generation and how/when the JS is executed. For what its worth, I've solved this problem in the past in the following way, although I don't believe it's ideal given the potential impact on SEO:

1. Add an id to the `body` in the `html.js` file in the root of your `src`, for example:
[code]
2. Use the lifecycle hook `onIni

[2020-10-26 12:40] buoyantair commented on #3536
@matteod @heyayush I am currently not working on this bug, please feel free to pick it up!!

[2020-10-26 15:08] rodmartinezmedina opened #4648 "Problems with forms. Cant change background color of inputText or TextArea. cant change text color of checkbox"
Problems with forms. Cant change background color of inputText or TextArea. cant change text color of checkbox

### Expected Behavior
be able to change colors and background colors

### Actual Behavior
nothing

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forms-d1lt0?file=/index.js

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Gro

[2020-10-26 16:10] ShimiSun commented on #4647
Linking to https://github.com/grommet/grommet/issues/3354

[2020-10-26 16:34] IanKBovard commented on #4639
@thgreasi Have you checked out this example? If you check the console log, that would be the data that is submitted.
https://storybook.grommet.io/?path=/story/select--form-select

[2020-10-26 16:43] jcfilben commented on #4648
Hi @rodmartinezmedina, the background color can be changed using: `formField.disabled.background.color`, `formField.error.background.color`, and `formField.focus.background.color`. The text color can be changed using: `formField.label.color`. Or you can also use `extend` to set the colors as shown in this example https://codesandbox.io/s/grommet-v2-template-forms-forked-ck06s?file=/index.js. Let m

[2020-10-26 16:49] IanKBovard commented on #4648
@rodmartinezmedina @jcfilben is correct. In the future, I recommend the Grommet Slack channel if you need any more help with implementation. We can answer your questions a lot more quickly there. I also, recommend simplifying your codesandbox example to just the issue, like jcfilben's. It makes it easier for us to see the root cause.

[2020-10-26 16:51] rodmartinezmedina commented on #4648
Thanks a lot. Last question here
. What about the green outline when in focus? any way to change that?
also please link to slack channel.
Thanks again

[2020-10-26 18:52] jcfilben opened #4651 "Storybook Component Story Format"
### Expected Behavior
Organize the storybook stories by type of component. For example Box is a type of Layout component. All the Layout components should be grouped together like they are in the documentation https://v2.grommet.io/components.

### Actual Behavior
The stories are organized alphabetically by component.

### URL, screenshot, or Codepen exhibiting the issue
![image](https://user-imag

[2020-10-26 19:04] minicrashxv commented on #4651
Hello, Can I take this issue?

[2020-10-26 19:06] jcfilben commented on #4651
@minicrashxv yes, go for it!

[2020-10-26 19:15] minicrashxv commented on #4651
thanks ;)

[2020-10-26 20:33] maryjufang opened #4652 "Need onFocus function for input"
Need onFocus function for input

### Expected Behavior
provide onFocus function for input so user can manipulate some behavior when certain input box got focused.

### Actual Behavior
N/A

[2020-10-26 21:42] MJordanMilliman opened #4653 "Collapsible Render Issues"
On occasion, the collapsible component will double render an item or group of items, leading to a jolty behavior, where the content flashes in and then out and then back in a again when opening the collapsible. When closing the collapsible, the opposite scenario is true (content flashes out, then back in and finally out again).

### Expected Behavior

The content should render once.

### Actual Be

[2020-10-27 04:13] ShimiSun commented on #4651
@minicrashxv thank you for showing interest in working on this issue buddy! 💟
There are more than 50 components, so small PRs per component will be appreciated.

[2020-10-27 08:33] minicrashxv commented on #4651
@ShimiSun Ok ! Great. I should just finish Color part and it will be finish 😉

[2020-10-27 17:54] kariwhitcomb opened #4659 "Button does not always honor hoverIndicator={false}"
### Expected Behavior

I expect that setting hoverIndicator={false} would remove all hover styling from the button.

### Actual Behavior

With default or secondary buttons, they still get the hover styling applied.

Not hovering over button
![Screen Shot 2020-10-27 at 11 55 05 AM](https://user-images.githubusercontent.com/12547826/97341991-599ce380-184b-11eb-87c3-f793c20296f8.png)

Hovering
![Scre

[2020-10-27 18:16] halocline commented on #4659
Hi @kariwhitcomb. I believe `hoverIndicator` is behaving as intended. Per the [docs](https://v2.grommet.io/button#hoverIndicator), `hoverIndicator` is `false` by default, so setting it to false would not impact the buttons behavior. `hoverIndicator` is intended to provide hover styling to `plain` buttons (last line in the doc description).

Can you share the design / behavior you are trying to ach

[2020-10-27 19:06] taysea commented on #4659
Hey @kariwhitcomb, thanks for raising this and I'm seeing how the naming of the prop is a little confusing in this case. The `hoverIndicator` prop is only meant to be used with plain buttons (not default/secondary/etc.), pulling from grommet docs here: "This prop is meant to be used only with plain Buttons." The reason being, this prop is supposed to be an opportunity to give some sort of hover in

[2020-10-27 22:09] taysea commented on #4659
I touched base with @kariwhitcomb, and the initial scenario which had prompted this issue is no longer being used and we concluded that hoverIndicator is behaving as expected. I believe we can close this issue now.

[2020-10-27 22:10] kariwhitcomb commented on #4659
Agreed we can close this.  Thanks

[2020-10-27 22:10] #4659 closed

[2020-10-27 23:18] halocline commented on #4392
Update: Starting to take a look at how on scroll up might be implemented. Currently, onMore() is implemented as listening only for when scroll reaches the end of a results set. Evaluating what a bi-directional onMore would look like.

[2020-10-28 09:50] thgreasi commented on #4639
@IanKBovard thanks for the link.
The console shows the following object:
[code]
which was even more puzzling if that's what will go in the `<form>`'s post body.

In my use case, an external payment library is controlling the `<form>`, which does a plain form submission on a target url.
As a result, whatever is in the `<input>` is what ends up in the post body.
In the above example the value of the

[2020-10-28 14:17] GabrielMochi opened #4665 "Duplicating list borders when side property is set to horizontal"
When working with the List component, if I set the property `side` of the `boder` prop to `horizontal`, it show two lines in the middle of the list items.

### Expected Behavior

It should render just one line in the middle of list items.

### Actual Behavior

It's rendering two lines in the middle of list items.

### URL, screen shot, or Codepen exhibiting the issue

[evidence image](https://i.im

[2020-10-28 17:59] jcfilben commented on #4648
The green outline can be changed using `global.focus.border.color`. Here is the slack channel: https://slack-invite.grommet.io/

[2020-10-29 05:48] jimenezff opened #4668 "Select onChange target is null when using a jsx element as initial value"
### Expected Behavior
Select a new value and `onChange` `event.target`  shouldn't be undefined
### Actual Behavior
`event.target` is undefined
### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/wonderful-spence-r3ew0
### Steps to Reproduce
Sandbox: change the value and see value logged for target.
Or running this test:
failing test
[code]
### Your Environment
- Grommet

[2020-10-29 06:11] jimenezff commented on #4668
Actually, I just noticed this in the docs
[code]

[2020-10-29 08:00] SagarTrimukhe opened #4669 "Default expand all in Accordion component."
### Expected Behavior
It would be great if we can have an option to pre-open all the accordion panels or at least the first one.
In the documentation a prop called **activeIndex** is mentioned, where the developer can mention the indices of panels to be kept open, but it needs to be managed via onActive function.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Step

[2020-10-29 14:42] halocline commented on #4465
Closing this. Used the property `theme.radioButton.icons.circle` to provide a custom-sized SVG.

[2020-10-29 14:42] #4465 closed

[2020-10-29 15:05] netochaves commented on #4465
Sorry for not providing the necessary support on this. Thanks @halocline, great solution btw,

[2020-10-29 15:28] halocline commented on #4465
@netochaves, no, thank you! @ShimiSun was able to point out that Grommet already had support for this, but the property had been undocumented. So it made sense to use the functionality which already existed and document it (which it is now). Very much appreciate all of your contributions!

[2020-10-29 15:56] ShimiSun commented on #4337
Hi @nnbrandon, this issue had been a great challenge for the team, thank you all who have contributed to this effort @IanKBovard @halocline &  @ericsoderberghp 💟
The fix is now available on our [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F), feel free to give it a try and let us what you think.

[2020-10-29 15:56] #4337 closed

[2020-10-29 16:19] ShimiSun commented on #4465
@netochaves Your PR had definitely helped us move the discussion forward and help us find the best solution, Thanks again!! Regardless, your overall contributions to grommet are highly appreciated!! Looking forward to seeing more of your work ❤️

[2020-10-29 16:23] nnbrandon commented on #4337
Wow this is great to hear! Thank you to the Grommet team for fixing this issue. This will resolve the issue that we have been facing on our product and will be happy to adopt it. 👍

[2020-10-29 17:48] ShimiSun commented on #4669
Thanks for reporting, as you mentioned `activeIndex` and `onActive` are the props (API) to manage the open/close behavior. From what you are describing, you'd like a combination of controlled and uncontrolled behaviors where the user can control the initial behavior but let the Accordion 'do its thing' in an uncontrolled way after the initial interaction, I'm not sure we would want to get into thi

[2020-10-29 18:53] ShimiSun commented on #4665
I think it behaves as expected. The `border` prop has consistent behavior across the grommet components, and the `horizontal` value is consistently rendering horizontal borders which are both the top and bottom borders you are seeing and sensing those are duplicated. Why not using just `top` or `bottom` as the border values if you'd like to have a single border rendered, or even just using the def

[2020-10-29 18:58] ShimiSun commented on #4652
React `onFocus` should propagate to grommet input components, can you please provide more context on the issue with details of a specific grommet component that doesn't propagate the `onFocus` as expected?

[2020-10-29 18:58] #4631 closed

[2020-10-29 19:10] ShimiSun commented on #4648
Here are some story examples regarding handling the focus https://storybook.grommet.io/?path=/story/theme--focus
https://storybook.grommet.io/?path=/story/theme--themecontext-extend

[2020-10-29 19:10] #4648 closed

[2020-10-29 20:09] IanKBovard commented on #4639
@thgreasi What payment library are you using? We can see if we want to support this library. They seem to be working against each other, however.

[2020-10-29 20:21] IanKBovard commented on #4559
Tested using this https://codesandbox.io/s/nervous-poitras-jvlk5?file=/src/App.js

It seems FormContext provider or consumer is causing rerenders.

A few solutions, that i've been looking at:
https://blog.axlight.com/posts/4-options-to-prevent-extra-rerenders-with-react-context/
https://stackoverflow.com/questions/51317371/react-context-api-and-avoiding-re-renders

[2020-10-30 07:20] thgreasi commented on #4639
@IanKBovard I'm using recurly.js, but this use case applies to any non-react specific library that hooks on a `<form>` element of the page.

Here is a simpler sandbox to demonstrate the issue:
https://codesandbox.io/s/laughing-shadow-pj6e4?file=/src/Select.js

This looks similar to the following Grommet v1 issue, which later got fixed, but it reappeared in Grommet v2:
https://github.com/grommet/gr

[2020-10-30 16:42] ShimiSun commented on #4617
Let's track the pagination effort under #4647 or on a design-system issue. Feel free to link between relevant issues.

[2020-10-30 16:42] #4617 closed

[2020-10-30 19:36] halocline opened #4677 "DataTable header cell color is not being applied to icon in StyledHeaderCellButton"
### Expected Behavior

Color specified in `dataTable.header.color` should apply to all contents in the DataTable header cell's button.

### Actual Behavior

Color is being applied to the button's label, but not the icon. My expectation is that color would be applied the the header cell button's icon similarly to how color is applied to a `<Button />`'s icon.

### URL, screen shot, or Codepen exhib

[2020-10-30 23:36] halocline commented on #4392
Update:
In order to accommodate an onMore() which occurs when a user reaches the top of a set of results, I believe there are 2 problem areas which need to be solved for in InfiniteScroll (DataTable is consuming InfiniteScroll):
1. InfiniteScroll will need to extend a mechanism to indicate that top of results have been reached, which will serve as a trigger to signal whether we need to check for "

[2020-11-02 06:21] bdesouza commented on #4288
Any idea how I can pass in the `onKeyDown` to make this happen? We've been struggling with this for a while.

[2020-11-02 07:44] joshpauline opened #4696 "Multiple Dates in calendar do not display."
Multiple Dates in calendar do not display.

what passing an array of ISO8601 format dates into the Calendar component as a a prop to the 'dates' prop the selected dates are not highlighted.

### Expected Behavior

They should highlight

### Actual Behavior

they do not highlight

### Steps to Reproduce

pass the following information to codepen or in your current project

<Calendar
  size="small"

[2020-11-02 15:59] ShimiSun commented on #4288
@bdesouza have you tried to warp the Select component with the Keyboard component?

[2020-11-02 16:24] ericsoderberghp commented on #4627
From Chris: https://hpe.slack.com/archives/GPPLUK6LR/p1604331987003500

[2020-11-02 16:29] ShimiSun commented on #4627
We have been discussing this issue last week. Some updates from that call:
1. HPE theme Heading is not using the Heading algorithm that considers baseSpacing and fontSizing value and functions.
2. HPE  theme Heading is using hard-coded values, so we should consider the modification of those hardcoded values vs changing the grommet algorithm itself.

[2020-11-02 17:47] MikeWalrath commented on #4627
CCS recommendation https://www.figma.com/file/oJhw3JqMemtbwWjlLPWW5O/HPE-Typography-Styles?node-id=541%3A0

[2020-11-02 18:31] taysea commented on #4696
Hey @joshpauline, I noticed here that you're defining a default value for both `date` and `dates`. If your desire is to do multiple date selection, you should just use the `dates` prop and can implement something like this: https://storybook.grommet.io/?path=/story/calendar--multiple

Let me know if that clears up your issue!

[2020-11-02 20:03] #4160 closed

[2020-11-02 22:28] #4507 closed

[2020-11-02 22:30] ShimiSun commented on #4507
Thank you for reporting and for the great discussion, @taysea had contributed a fix and it will be available on our next official release and currently on the [stable-branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F). Stay tuned 💟

[2020-11-03 17:32] iicfcii opened #4703 "DataTable still sorts the data even if external of sort props is set."
### Expected Behavior
If I provide a sort prop like `sort={property: "a", direction: "asc", external: true}`, the data should NOT be sorted when the header is clicked. Instead, I should be able to handle the sort in `onSort`.

### Actual Behavior
The data still sorts itself.

### URL, screen shot, or Codepen exhibiting the issue

Here is a link with a most basic example.
https://codesandbox.io/s/g

[2020-11-03 20:09] #4498 closed

[2020-11-03 20:09] ShimiSun commented on #4498
Thank you for reporting this issue! The fix will be available on our upcoming release.

[2020-11-04 03:00] nomadus commented on #4647
Will InfinteScroll have a pagination component?

[2020-11-04 07:10] joshpauline commented on #4696
That is it, sorry I thought I could have one as selected whilst still showing all the other dates that I wanted.

Cheers

[2020-11-04 07:10] #4696 closed

[2020-11-04 16:02] halocline commented on #4647
@nomadus I think the current thinking is that InfiniteScroll and Pagination are two distinct approaches for presenting a lengthy set of results whether they be in a DataTable, List, or Grid. When using DataTable, List, or Grid, I should have the ability to choose whether to present those results in either 1) in full (i.e. all results), 2) paginated, or 3) progressively with infinite scroll.

Here

[2020-11-04 17:24] #4246 closed

[2020-11-04 19:42] ShimiSun commented on #4246
Thank you for reporting, the fix will be available on our next official release.

[2020-11-04 22:33] halocline commented on #4559
Hi @johnliu55tw - I am picking up this issue, and am having trouble recreating the performance trouble you detail.

Below is a screen recording using the [CodeSandbox you mention above](https://codesandbox.io/s/dynamic-input-state-in-parent-with-pure-entry-with-box-component-40oqo?file=/src/App.js). The recording is a bit sped up from my conversion of the movie file into the .gif, but in summary,

[2020-11-05 14:31] johnliu55tw commented on #4559
Hi @halocline - I've created a React application using create-react-app locally and copied the source from codesandbox. Here's the screen recording: https://youtu.be/NTG7wtRYK9I

The most significant impact is when I'm holding the key for consecutive characters. When I pressed and hold "a" in the 1st and the 3rd fields, the screen freezes. Only after I released the key then all the characters appe

[2020-11-05 16:40] halocline commented on #4559
Thank you for the follow up @johnliu55tw. I will attempt to recreate using your approach.

[2020-11-05 19:56] goodmorninggoaway commented on #4352
@taysea @ShimiSun are you accepting PRs to fix this, or are you working on it?

[2020-11-05 20:37] taysea commented on #4352
@cscognamiglio, thanks for clarifying your issue. Because DateInput is built using Calendar, I believe this is still and timezone issue rooted in Calendar.

Thanks for reaching out @goodmorninggoaway. I have been working on this, but I do not have a finalized PR. I am hoping to publish a proposed fix by end of next week.

[2020-11-05 21:08] #4677 closed

[2020-11-05 22:48] ericsoderberghp commented on #3771
A design example for needing this is when a navigation sidebar is added when clicking on a Button. Clicking outside the Layer, or typing Esc, should cause the Layer to close.

[2020-11-06 17:37] katekourbatova opened #4721 "When Layer component is set up as a modal, it still allows keyboard focus to go behind the modal"
When Layer component is set up as a modal, it still allows keyboard focus to go behind the modal.

### Expected Behavior

I would expect that when a modal is open, keyboard navigation should not leave the modal (except Esc which should close the modal). This is supported by the description of the `modal` attribute in the doc: "Whether there should be an overlay preventing interaction underneath th

[2020-11-06 23:30] bdesouza commented on #4288
@ShimiSun - I tried, but the issues is that it doesn't seem to work if the Select field is used inside a form field component.

[2020-11-07 19:37] leossantiago opened #4729 "Uncontrolled TextInput doesn't hide placeholder when it's not a string"
### Expected Behavior

As title, uncontrolled TextInput should hide placeholder (non string) when user starts typing anything. Instead, it keeps both.

### Actual Behavior

- Controlled TextInput with non string placeholder:

Code:
[code]

SS:
![image](https://user-images.githubusercontent.com/47114840/98449776-7b347f80-2115-11eb-9305-59d9009158fe.png)

- Uncontrolled TextInput with non string pla

[2020-11-08 03:07] nomadus commented on #4647
I am not sure if having onMore feature with InfineScroll is UX friendly. Let's say a user wants to navigate to Nth page, with the Pagination component it is easy to do, with onMore you have to click several times to achieve the same. I would have both.

[2020-11-09 17:51] #4599 closed

[2020-11-09 19:46] #4574 closed

[2020-11-09 21:02] LiveFreeAndRoam commented on #4721
I spoke with Shimi about this.

Here is a CodeSandbox to demo the issue... https://codesandbox.io/s/modal-layer-does-not-block-tab-to-underlayer-4srul?file=/src/App.js.

We found the problem was introduced in v2.15.0.  Shimi felt it was possibly related to [PR #4381](https://github.com/grommet/grommet/pull/4381/files?file-filters%5B%5D=.js).

[2020-11-09 22:31] ShimiSun commented on #4288
@bdesouza Interesting, would you like to work on a PR as a POC?

[2020-11-09 23:07] ShimiSun commented on #4665
I'll be closing this issue if there is no further input. Feel free to reopen if needed and provide more details.

[2020-11-09 23:07] #4665 closed

[2020-11-09 23:08] ShimiSun commented on #4652
Can you please respond to the question @maryjufang ?

[2020-11-09 23:37] ShimiSun commented on #4492
I think we have implemented all possible action items for this issue as linked to the PRs above.
With button kind, users can define disabled text color, border color, etc but plain will only look at the disabled opacity value `props.theme.button.disabled.opacity`.
The issue we experienced with the HPE theme, is that the opacity is set to 1.0 so you don’t see any drop in opacity on disabled + kind

[2020-11-09 23:37] #4492 closed

[2020-11-09 23:39] ShimiSun commented on #4354
@maryjufang please provide more information on this issue, so we can start to discuss a resolution.

[2020-11-10 17:12] ShimiSun commented on #4588
The solution for the Caret is now demonstrated in our storybook. Best of luck! https://storybook.grommet.io/?path=/story/visualizations-tip--caret

[2020-11-10 17:12] #4588 closed

[2020-11-10 17:21] ShimiSun commented on #4084
I'll be closing this issue since we have provided the `onValidate()` solution a few releases ago. Feel free to reopen and elaborate with more details if needed.

[2020-11-10 17:21] #4084 closed

[2020-11-10 17:27] ShimiSun commented on #4461
Posted on Slack to receive more feedback.
![image](https://user-images.githubusercontent.com/6320236/98709259-63404400-233f-11eb-818e-92869d47b288.png)

[2020-11-10 17:30] ShimiSun commented on #2854
I think we need to think about how to leverage the new Tip component for the suggested functionality.

[2020-11-10 17:41] ShimiSun commented on #4721
Also reproducible on https://storybook.grommet.io/?path=/story/layout-layer--corner-layer

[2020-11-10 17:54] ShimiSun commented on #4721
@LiveFreeAndRoam, the root cause of the problem is https://github.com/grommet/grommet/pull/4378

[2020-11-10 22:59] ecircenis opened #4736 "Right-justified text input for numeric data in order forms"
Editable numeric tabular data would benefit from the ability to support right-justified text input (and precision specification for decimal point positioning.

Here's an example:
![image](https://user-images.githubusercontent.com/17883783/98743680-aca78800-236d-11eb-84b2-d1f3ab74911a.png)

[2020-11-11 00:34] joelachance opened #4737 "Select Dropdown Element events propagate outside of element"
First, I'm using the Select element inside of a Layer. When using the Select Component, clicking an option in the dropdown triggers other click events inside the page, and when placing an `onclick="event.stopPropagation(); console.log('el clicked')" on the outer element for the select component, this log is triggered.

### Expected Behavior

When the element is clicked, events should not propagate

[2020-11-11 14:35] joelachance commented on #4737
Tested some more, I think the issue is outside of Grommet. Closing, thanks!

[2020-11-11 14:35] #4737 closed

[2020-11-11 14:55] gynekolog opened #4738 "DateInput - Wrong TS definition of the onChange event"
Current [TS annotation of the DateInput onChange event](https://github.com/grommet/grommet/blob/master/src/js/components/DateInput/index.d.ts#L18):
[code]

but DateInput event provides `event.value`

Possible fix:
[code]

- Grommet version: 2.5.12

[2020-11-11 15:13] joelachance opened #4739 "aria-hidden toggled outside of application"
I'm using the Select component inside of the Layer component. When Select is clicked, this toggles all aria-hidden labels outside of the application.

This application is a third-party app on a Shopify page, and the theme is toggling overlays based on the value of aria-hidden, causing some issues.

### Expected Behavior

Only toggle aria-hidden labels associated with the focused components.

### A

[2020-11-11 17:11] #4721 closed

[2020-11-11 18:18] benwainwright opened #4740 "How to remove font-weight 600 from select component"
Hi there!

I've spent the last hour trying to remove the 600 font-weight that seems to be applied to the `<Select />` component and I can't seem to do it.

There are no props or documented global styles for this (like there are for `<TextInput>`. I've tried setting up the following:

[code]

When I do this, although the style appears on the stylesheet, it is being superseded by an inline style som

[2020-11-11 19:44] halocline commented on #4740
Hi @benwainwright, the weight is defined at `global.input.font.weight` and applies to inputs like <TextInput /> and <MaskedInput /> as well. You can use the same strategy as above using  `global.input.font.weight` instead.

[2020-11-11 21:19] benwainwright commented on #4740
Fab, thanks @halocline that did the job!

[2020-11-11 21:19] #4740 closed

[2020-11-12 19:31] shreyashah7 opened #4743 "Form's onValidate() not returning updated elements when using dynamic add remove functionality"
We have created a Dynamic Add Remove Component inside a form. Whenever i delete any input field it gets deleted from the UI but in form's onValidate Function, I still see removed input's validation.

### Expected Behavior

onValidate() Function returning {errors, infos} should only return existing elements on Form

### Actual Behavior

But it is still persisting removed elements from form.

### UR

[2020-11-12 21:27] ypinneka commented on #4743
https://codesandbox.io/s/frosty-snowflake-yfndq?file=/src/App.js:1140-1166

Replicating the issue in CodeSandBox with plain grommet.

[2020-11-13 10:49] benwainwright opened #4744 "Unable to properly control Select when mapped from state array"
One of the pages on my app contains a number of `<Select />` components. Because there are six of them, they are identical, and they all draw from the same data source, I'm creating them programmatically by mapping a hardcoded array.

Problem is, when I do it like this, the component don't seem to be correctly controlled by the state array, no matter what I do.

### Expected Behavior

Clicking 'Cl

[2020-11-13 18:07] ArrayKnight opened #4746 "Typescript - Video controls typing not allowing any value other than undefined"
### Expected Behavior

Video controls accepts `undefined`, `false`, `'over'`, or `'below'`

[code]

### Actual Behavior

Video controls accepts only `undefined`

[code]

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/5431637/99105571-9c72f100-2597-11eb-8f0b-eaa615f48abd.png)

### Steps to Reproduce

1. Implement Video component
2. Add `con

[2020-11-13 18:17] ArrayKnight commented on #4746
As a temporary, hacky workaround: `controls={('false' as unknown) as undefined}`

[2020-11-13 18:29] ArrayKnight opened #4748 "Export all internal Styled Components for use in style overrides as selectors"
### Expected Behavior

When implementing a component that requires style overrides that are not easily accomplished using the theme, it should be possible to use Grommet styled components as selectors.

[code]

### Actual Behavior

A few styled components can be imported but only from deeply nested, untyped, paths:
[code]

But most styled components are inaccessible. And even if they were, the Typ

[2020-11-13 19:04] ShimiSun commented on #4746
Hi buddy, do you feel like making a contribution and help us improve the TS support?

[2020-11-13 19:26] ShimiSun commented on #4744
I don't think this issue is a grommet issue. The issue you are introducing results from the way you are handling your data structure, states, and the overall react behavior.
Try to split up the code into two select components with a controlled value states that will be set to `undefined` when clicking on `Clear`.

[2020-11-13 19:26] #4744 closed

[2020-11-13 20:10] bytewoopy opened #4750 "background property does not support linear-gradient anymore"
The background property for <Box> no longer supports css gradients as strings

### Expected Behavior

In previous versions it has worked, i rolled back to 2.10.0 and I get my gradients back, but in 2.15.2 they have stopped working. It seems 2.13 was the last working version for this (see code pen link)

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

Try rolling back to

[2020-11-13 20:34] jcfilben commented on #4750
Hi @bytewoopy, I took a look at your codesandbox but it just looks like it is a blank starter sandbox, it doesn't have grommet and it doesn't show the behavior you are talking about in this issue. I created a codesandbox showing the gradient working in version 2.15.2 https://codesandbox.io/s/grommet-v2-template-forked-h6tyh?file=/index.js

[2020-11-13 20:53] halocline commented on #4559
**Update:** I have been able to recreate the issue and have also confirmed @IanKBovard's suspicion that the re-renders are being caused by components consuming FormContext.

Using React Dev Tool's Profiler, we can see that when a input value is updated, two commits result:

1. The user's action
2. Side effects caused by the action

When evaluating the side effects commit, we see that a changed inp

[2020-11-13 20:58] halocline commented on #4392
Update:
I have not been able to advance this issue as my focus has been on https://github.com/grommet/grommet/issues/4559.

[2020-11-14 17:42] brandly commented on #4288
Came here looking for this! The native `<select>` also scrolls the selected item into view to keep it visible while using arrow keys, but the grommet component does not. These two things make longs lists difficult to navigate.

[2020-11-15 14:54] leossantiago commented on #4567
So, for a better explanation, I'll split this issue in two parts: FormField behavior and TextInput behavior.

- **FormField behavior**

This component is based on `<Box>`, thus it receives a focus outline when `onClick` prop is set. Box-kind components can also receive `focusIndicator` prop (differently of input components, those don't need `plain` prop to use `focusIndicator`), and it looks like

[2020-11-16 16:28] ShimiSun commented on #4492
Linked https://github.com/grommet/grommet-theme-hpe/issues/93

[2020-11-16 16:37] jcfilben commented on #4651
The stories left are 'All', 'Theme', and 'Typography'. Currently these are listed under Other. Is there a different place these stories should go? If not I think this issue is done and can be closed

[2020-11-16 17:06] ShimiSun commented on #4651
'Typography' should go under `Type`.
I think we should be good with the others.
I don't think we should close this issue until we'll resolve the URL issues from the site.

[2020-11-16 17:24] ShimiSun commented on #4392
@halocline I removed the issue from the Task Force.

[2020-11-16 18:57] halocline opened #4754 "Ideate approaches to Button sizing"
Explore possible approaches to ensure Button's size, state, and kind styling all work together.

### Expected Behavior

A button implemented as:
[code]
And a theme defined as:
[code]
should apply the button kind's styling as well as be able to be sized.

### Actual Behavior

Related: https://github.com/grommet/grommet-theme-hpe/issues/139#issuecomment-724901504

Instead, the button's kind styling

[2020-11-16 19:04] ShimiSun commented on #4754
@halocline please keep this issue as the main informed issue and enhance its details, so the community will be up to date with the details and potential suggested solutions of what grommet is focusing on.

[2020-11-16 20:30] halocline commented on #4754
@ShimiSun I've updated the issue description to document in full.

[2020-11-16 20:48] MathieuDoyon commented on #4738
`target` is also `undefined` when the user select a date from the calendar instead of typing into the field.

[2020-11-16 21:23] ShimiSun commented on #4738
Anyone would like to make an open-source contribution?

[2020-11-16 21:31] jcfilben commented on #4624
If you set `overflow="scroll"` in the Box container the Tabs will be contained within the Box and you wont have to set the height for each individual Tab https://codesandbox.io/s/grommet-v2-template-forked-fkg35?file=/index.js

[2020-11-16 21:44] ArrayKnight commented on #4746
@ShimiSun How often do new builds get released?

[2020-11-17 02:30] LiveFreeAndRoam opened #4756 "Modal Layer leaves underlying Opened DropButton active"
Related to #4721.  In this case a DropButton remains active after a Modal Layer is open.  In my case, I have a modal layer that appears after a timeout.  If the DropButton happens to be open at that time, then the opened DropButton remains active.  As soon as the DropButton is closed, then the modal Layer works as advertised.

### Expected Behavior

A Modal Layer ought to prevent interaction with

[2020-11-17 03:39] taysea commented on #4606
I've concluded that the issue here is if a theme does not have `theme.global.colors.background` defined, then the `theme.global.colors.text` will not be applied. It does not have to do with deepMerging with grommet, however the reason the CodeSandbox demonstrated this is because `grommet` theme is the first place that we have a predefined value for `theme.global.colors.background`. Currently, base

[2020-11-17 03:55] taysea commented on #3771
@ericsoderberghp Can you elaborate on why this use case would fall outside of the above discussion on modal vs nonmodal layer behavior?

[2020-11-17 04:09] arthursakemi commented on #4738
I would like to make this my first contribution

[2020-11-17 15:07] #4738 closed

[2020-11-17 16:22] ericsoderberghp commented on #3771
For non-modal cases, I think we should allow Layer to be used similar to Drop, as a means of showing extra content overlaying the the rest of the UI and anchored to a particular target or area of the page. Drop allows `onEsc` and `onClickOutside` and so should Layer. My comment above in August was asking for a design scenario that we could drive the behavior from. I can see one now. My more recent

[2020-11-17 16:26] ericsoderberghp commented on #4606
Good analysis. I think option #2 above would be a breaking change. Option #1 would reflect the implemented behavior.

The reason we behave this way is to allow grommet components to be used within a non-grommet outer context, where the outer context sets the background and text colors. But, we wanted a way to provide a reasonable default when a background theme color was provided. You could argue

[2020-11-17 16:32] taysea commented on #4606
You're right, option 2 could be a breaking change. So it seems like the best solution to avoid breaking changes is to adjust the documentation to note that the theme must have a `theme.global.colors.background` for the global text color to take effect?

[2020-11-17 16:38] benwainwright opened #4758 "DateInput cannot be controlled by state"
The `<DateInput />` field doesn't appear to allow itself to be controlled with `React.useState()`. See below:

# Expected Behavior

Clear button should result in `<DateInput />` clearing its value

### Actual Behavior

Nothing happens

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-template-forked-716yv?file=/index.js:0-595

### Steps to Reproduce

1. Lo

[2020-11-17 18:05] #4606 closed

[2020-11-17 19:56] #2973 closed

[2020-11-17 21:46] #4703 closed

[2020-11-18 08:29] guillaumeLamanda opened #4763 "Grommet break the scroll to top on client side routing"
The property `overflow: auto;` break the "scroll to top" on my website.
My website uses NextJS, and I found the solution from [this issue](https://github.com/vercel/next.js/issues/7594).

### Expected Behavior

Ideally, by default, the global style of Grommet should not break my website.
Alternatively, I would like to be able to disable some properties set by grommet by default.

### Actual Behavi

[2020-11-18 15:54] sanji11 commented on #3210
Hi, I am working on this issue and I have some questions. I can see `pluse` is default if I don't specify `customTheme`. Right now, I am passing "animation" prop from `Animated.js` to `Diagram.js`.  If it is there, then the theme is set to `customTheme` which shows the animation in `draw`; otherwise, `pulse`. My question is how I am gonna incorporate true and false there? Do we need two separate p

[2020-11-18 16:12] hedleysmith commented on #2968
Here's how to change the font-size in a reusable component:

[code]

[2020-11-18 16:15] ShimiSun commented on #3210
The API should be:
[code]
The Animated.js shouldn't use the custom theme hack to apply the animation, the animation should be driven from the `animation` prop and not from the theme.

[2020-11-18 16:26] sanji11 commented on #3210
Yes I have the above line in Animated.js
[code]
I moved customTheme to Diagram.js and set the theme to customTheme there:
[code]
Did I misunderstand something?

[2020-11-18 19:56] ShimiSun commented on #3210
customTheme shouldn't be placed on Diagram.js. Diagram should handle animation similarly to how Box is handling it.

[2020-11-18 20:07] sanji11 commented on #3210
Thanks for the hint ☺️ I will investigate more.

[2020-11-18 20:41] ShimiSun commented on #4763
@taysea Are we seeing this issue on the DS site?

[2020-11-18 21:37] taysea commented on #4763
We are not seeing that issue. Additionally, I've follow the "Steps to Reproduce" as noted above and I am unable to reproduce the error. The page scrolls to top when I navigate somewhere new. @guillaumeLamanda are you still having this issue?

[2020-11-18 22:39] jcfilben commented on #4758
I was able to reproduce the issue with your codesandbox that you provided, but I couldn't reproduce the issue using an example story in storybook. I think this may have something to do with how codesandbox is rendering. Here is a gif showing the code working as well as the sample code I used for the example:
![Nov-18-2020 15-37-25](https://user-images.githubusercontent.com/54560994/99596723-0afae9

[2020-11-18 22:40] guillaumeLamanda commented on #4763
Sorry for this unreproducible issue.
I update the website with the workaround section. I will redeploy a staging url and update the description.

[2020-11-18 22:51] ShimiSun commented on #4763
Thanks @taysea. @guillaumeLamanda, feel free to reopen the issue when you have a reproducible description we can follow.

[2020-11-18 22:58] guillaumeLamanda commented on #4763
Link updated, but I can't reopen the issue.

[2020-11-18 23:20] benwainwright commented on #4758
I mean... the reason I raised this bug is that I'm hitting it within my own personal Grommet project, persistently. Is Storybook using the latest version of Grommet?

[2020-11-18 23:36] jcfilben commented on #4758
Storybook is using the latest version of grommet, so the issue isn't there. Are you able to reproduce the issue with the code above?

[2020-11-18 23:42] jcfilben commented on #4758
Try pointing to the stable branch instead of 2.15.2 https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F

[2020-11-19 09:54] benwainwright commented on #4758
Ok, I'll give that a go.

[2020-11-19 10:27] benwainwright commented on #4758
Ok, that makes no difference. I'll try to create you a minimal repo that replicates the bug.

[2020-11-19 10:49] benwainwright commented on #4758
@jcfilben Ok, a miminal repo based on the latest version of CRA (https://github.com/benwainwright/minimal-repo-dateinput-problem) does not reproduce the problem. I'm absolutely mystified...

[2020-11-19 10:53] benwainwright commented on #4758
@jcfilben ok scratch that. Using latest stable does work - I must have not done it properly the first time.

[2020-11-19 17:43] hitesh97 opened #4765 "Warning when rendering application using SSR frameworks like 'Razzle'"
When I started to put simple application page together with Server Side Rendering React based boilerplate project ( razzle )

it gives me following error

Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this, useLayoutEf

[2020-11-19 18:00] ShimiSun commented on #4539
Closing this issue since Hacktoberfest is DONE!! Fantastic results you all!!
![image](https://user-images.githubusercontent.com/6320236/99704990-5ebe0e80-2a56-11eb-995f-77e48444f7e1.png)
![image](https://user-images.githubusercontent.com/6320236/99705053-75fcfc00-2a56-11eb-820b-c14c9cc72f4d.png)

[2020-11-19 18:00] #4539 closed

[2020-11-19 18:22] ShimiSun commented on #4750
Hi buddy, I'll be closing this issue, feel free to reopen if needed when provided more information.

[2020-11-19 19:23] taysea commented on #4763
Thanks for the follow up link @guillaumeLamanda. We are using NextJS + Grommet for the HPE Design system website, and we do not seeing this issue (https://design-system.hpe.design/). My inclination is to say that it is not a Grommet issue but something with the setup of the NextJS project. That being said, I will try to look into our project structure to see if there is anything we had to set up t

[2020-11-19 20:33] ShimiSun commented on #4729
Fixed, thanks for reporting!

[2020-11-19 20:36] #4729 closed

[2020-11-19 22:06] cmraible commented on #4765
I'm seeing the same warning when using the grommet "stable" (master) branch and NextJS for Server Side Rendering.

### Expected behavior
No warnings for server side rendering.

### Actual Behavior

The issue appears to be with the usage of useLayoutEffect with any Server Side Rendering framework. In my case, the warning appears when I use the DataTable component, which uses InfiniteScroll, which i

[2020-11-19 23:18] ericsoderberghp commented on #4273
This is a tricky one. Select doesn't render a `<select />` element in the DOM. When there is no value, there is a `<button />` that handles focus and interaction, such as opening the drop containing the options. When there is a value, an `<input />` element is added to the DOM, which contains the actual value.

[2020-11-20 08:22] oskari opened #4767 "Failed prop type: Invalid prop `columns` supplied to `Grid`"
### Expected Behavior

No errors should be given when Grid columns has array of strings defined for size

### Actual Behavior

Invalid prop warning is given, while the component works as expected.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-grid-columns-7r0r9?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/506596/99776193-14519600-2

[2020-11-20 09:11] SagarTrimukhe opened #4768 "All Accordion panel are opening when wrapped in InfiniteScroll Utility"
When the number of accordion panels needs to rendered, I want to make use of InfiniteScroll utility to lazy load the Accordion panels.
Though lazy rendering is occurring, there is an issue in the Open/Close of panels.

### Expected Behavior
Only that Accordion panel should be opened on which user is clicked.

### Actual Behavior
All the accordion panels are opening on click of one.

### URL, scree

[2020-11-20 11:29] eminx opened #4769 "Calendar gives one day earlier date instead of the selected date"
When used with a single and uncontrolled, `Calendar` component prop `onSelect` function gives one day earlier than the seemingly selected date.

### Expected Behavior

The date that is given by the `onSelect` prop should give the date that is selected by the user.

### Actual Behavior

Given date by `onSelect` is one day earlier than the selected date

### URL, screen shot, or Codepen exhibiting t

[2020-11-20 12:23] oskari commented on #4769
Internally the Calender seems to use `toISOString` and thus returns the value as such on `onSelect`, so it ends to be UTC time, which if you happen to live in a positive timezone, falls to an date earlier than selected.

You could use something like date-fns (easy) or vanilla js methods (bit more complex) to parse and format the date to something in your timezone.

Not sure what the calender shoul

[2020-11-20 12:29] msalehy commented on #4769
<Calendar
        onSelect={(nextDate) =>
          alert(
            `this is your local time converted from UTC:  ${new Date(nextDate)}`
          )
        }
      />

[2020-11-20 12:29] msalehy commented on #4769
`      <Calendar
        onSelect={(nextDate) =>
          alert(
            `this is your local time converted from UTC:  ${new Date(nextDate)}`
          )
        }
      />`

[2020-11-20 13:10] eminx commented on #4769
@msalehy @oskari

I think that parsing the given date to something that works is just a workaround and does not eliminate the core problem.

First of all, it's not a timezone issue - can't be. Because it's about the semantic problem of what you click and what you get, regardless of where you are on earth. Besides, I may be 2-3 hours away from UTC but I'm in the same day as almost all parts of the

[2020-11-20 19:20] ShimiSun commented on #4758
Hi @benwainwright, thanks for reporting.
I think the issue is already fixed on the master branch as @jcfilben suggested. you can deploy it by using 'stable' and let us know if you still see the issue https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F
I'll be closing the issue, feel free to reopen or inform us it the upgrade didn't do the trick. We'll be officially

[2020-11-20 19:20] #4758 closed

[2020-11-20 19:23] ShimiSun commented on #4746
Hi buddy, I'm planning one for next week if all will go smoothly. In the meanwhile, try to use the stable branch to include the fix https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F

[2020-11-20 19:23] #4746 closed

[2020-11-20 19:31] ShimiSun commented on #4624
I think @jcfilben is correct and since you are hardcoding the height you might want to account for the overflow and fix it as @jcfilben suggested. Let us know if that works for you, if not will be reopening the issue.

[2020-11-20 19:31] #4624 closed

[2020-11-20 20:22] ShimiSun commented on #4765
Thank you guys for the feedback, sounds like you have an overall idea of how to approach the issue, feel free to make an open-source contribution to help other SSR fellows.
BTW, attaching a link to the official React issue https://github.com/facebook/react/issues/14363
And also to confirm, you guys are not seeing the warning on production, correct?

[2020-11-21 08:52] hitesh97 commented on #4765
Hi team,

I was seeing this issue on Layer component as well as other components on
the latest package from npm, which I believe is the production version.

Whilst we know the workaround, being delaying the rendering of these
component until dom is available,  I.e. wrap the rendering of these
components in 'useEffect' hook.

It would be great if all components wldid that within their own code.
Tha

[2020-11-21 17:57] uris77 commented on #4769
I agree, this is annoying and unexpected behavior. Especially since it isn't documented. Maybe provide an option to specify the timezone or to not use a timezone in some cases.

[2020-11-21 21:12] guillaumeLamanda commented on #4763
The solution proposed by @taysea resolve the initial issue. Thanks!
However, it modifies the layout on some of my webpages (close to the behavior without `full` prop) but I can deal with that.

It can also measure performance degradation. Before, the calculated layout was equal to the side of the screen (but it might be a part of the routing issue ?).
![image](https://user-images.githubusercontent

[2020-11-22 23:36] DanielBaird commented on #4769
I'm in a positive timezone (+10 -- when it's 9am here, it's 3pm the previous day in Seattle) and the codesandbox in the initial comment gives me the day before I select. So this seems like a plain ol' bug, rather than a timezone issue.

[2020-11-23 02:52] ryanadhi opened #4772 "Removing white background for Layer"
### Expected Behavior
`Layer` should have option to be used withoud white background (or probably I missed to read the Docs)

### Actual Behavior

`Layer` does have white background, if we set `plain === true` the grey-ish background overlaying the Modal also gone

### URL, screen shot, or Codepen exhibiting the issue

![Screenshot 2020-11-22 165807](https://user-images.githubusercontent.com/35433

[2020-11-23 06:45] oskari commented on #4769
_How it works currently and why it isn't "wrong":_
When you click a date, it selects the first moment of that date (in your local time) which is midnight and creates the date object from that, but when when it's returned it's converted to ISO 8601 date which is UTC+0 by default. This is in the documentation and in the example of `onSelect` (See the 'Z' after the date, which is timezone indicator f

[2020-11-23 10:01] benwainwright commented on #4758
@ShimiSun Using stable does work, unfortunately using stable also breaks my CI for unknown reasons (some kind of integrity mismatch with Yarn install - think its clashing with my cache, which I can't seem to clear). This is not a huge issue *just* yet as the project has not been publicly released but it will become an issue soon.

[2020-11-23 10:40] eminx commented on #4769
@oskari  thanks for your comment.
Technically speaking, to my capacity of digging in so far and as you noted, the core reason that clicked date is one day before the current day for positive time zone users is that the date registered with ISO format registers the `time` as `00:00:00` - beginning of the day. Which in any positive time zone returns as the day before...

So this means that instead o

[2020-11-23 11:24] oskari commented on #4769
I understand your point and I agree that semantically it should always return the day that was selected in the UI. I'm just not sure what kind of solution would satisfy everybody here.

What do you suggest that should be returned? Just date ignoring the whole time part? Automatically convert the date to users timezone, instead of the current UTC time?

Would using a prop that I mentioned in my pre

[2020-11-23 11:41] eminx commented on #4769
I think whatever the solution is, it should be in line with Grommet conventions as well as general date programming conventions...

The first thing I can think of is to initially set the time in UTC format not the beginning of the day but perhaps the middle of the day? Like `T12:00:00.000Z`

[2020-11-23 11:43] eminx commented on #4769
Or another, probably better, option would be to check the local time on the browser and accordingly set the UTC time...

[2020-11-23 12:31] romanalesenkov1 commented on #2961
I can reproduce this issue now here:
https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=/select&module=/src/Select.js&file=/src/Select.js

[2020-11-23 16:18] ShimiSun commented on #4758
@benwainwright the hash mismatch only means you'll need to update your dependencies, so if you are using yarn:
[code]

That should fix it.

[2020-11-23 16:21] ShimiSun commented on #2961
@romanalesenkov1 , thanks for reporting, reopening the issue...

[2020-11-23 16:24] ShimiSun commented on #4772
We fixed it a couple of weeks ago, it was just wasn't release yet, @jcfilben would you like to share a working example or provide more context?

[2020-11-23 17:10] taysea commented on #4769
Hey @eminx I see that you are on grommet 2.15.2, but I recently submitted a fix that aimed to remove this issue (https://github.com/grommet/grommet/pull/4742) -- could you try pointing your application to grommet stable (https://github.com/grommet/grommet/tarball/stable) and see if this issue goes away?

[2020-11-23 20:41] jcfilben commented on #4772
The background color is set to white by default but you can change the color with the theme. You can use `layer.background` to set the color of the layer background and `layer.overlay.background` to change the color of the layer overlay. [Here](https://codesandbox.io/s/grommet-v2-template-forked-31rey?file=/index.js:256-267) is a codesandbox example showing the default white background being remov

[2020-11-24 00:23] DanielBaird opened #4776 "Chart docs mention `fill` value for `size` prop, fill is not included in values list"
### Expected Behavior

Looking at this URL, the docs for `Chart`: https://v2.grommet.io/chart#size
The `size` prop docs should include the `"fill"` value.

### Actual Behavior

`fill` value is mentioned in the descriptive text, but not shown in the values list:
![image](https://user-images.githubusercontent.com/25352/100029821-d5378380-2e3d-11eb-8b79-4dadf378307c.png)

### Your Environment

I just

[2020-11-24 01:27] ryanadhi commented on #4772
@jcfilben cool. Thanks!!

[2020-11-24 14:36] #4772 closed

[2020-11-24 14:40] laamia commented on #3658
Has anyone been able to find a work around for setting the default value on a Grommet Select component while using react-hook-form? I've tried the Controller, but that's not working for me either.

[2020-11-24 15:10] resynth1943 opened #4779 "Add "onScrollTop" and "onScrollBottom" to InfiniteScroll"
### Feature Request

I'm developing a chat application.

In the main room view, I intend to append new items to the buffer when
a user scrolls to top / bottom. In its current state, `InfiniteScroll`'s `onMore`
callback doesn't really say which **direction** items need to load in
(which margin the user has hit, e.g. top / bottom).

This would be extremely useful for bidirectional infinite scrolling

[2020-11-24 15:38] jimwhurr opened #4780 "Move list to bottom/top programmatically"
At the moment there is no way send the <List> (or maybe the underlying InfiniteScroll) to the bottom of the top from your code.

### Expected Behavior
Expose one or more props from the <List> component so that you can direct the list to the bottom/top (as a minimum).

Rationale - for large lists buttons could be programmed to move to the bottom/top saving the user from tediously scrolling to the b

[2020-11-24 16:01] halocline commented on #4779
Related issue: https://github.com/grommet/grommet/issues/4392

[2020-11-24 16:03] halocline commented on #3106
I believe this issue has been resolved by https://github.com/grommet/grommet/pull/4642

[2020-11-24 20:32] resynth1943 commented on #4392
Yep. Building a chat application, having this would be amazing.
I'll close #4779, in that case.

[2020-11-24 20:32] resynth1943 commented on #4779
Thanks @halocline :+1:

[2020-11-24 20:32] #4779 closed

[2020-11-24 20:38] ShimiSun commented on #3106
Fix will be available on grommet 2.16.0 upcoming release

[2020-11-24 20:38] #3106 closed

[2020-11-24 20:43] ShimiSun commented on #4780
I think this is a duplication of https://github.com/grommet/grommet/issues/4779 and #4392, @jimwhurr can you please confirm?

[2020-11-24 20:47] ShimiSun commented on #4776
I think you are right, the docs on the site itself should be updated and not on the grommet core, here is the issue https://github.com/grommet/grommet-site/blob/3497d9e2558b7a61ad328466b31dde9242c07e5b/src/screens/Chart.js#L61

Feel free to make a contribution to the site itself.

[2020-11-24 21:21] MikeWalrath commented on #2378
Closing this issue for the time being. If there is more interest or a larger need in the future we will look to reopen.

[2020-11-24 21:21] #2378 closed

[2020-11-24 22:02] ddohler opened #4781 "Is there a way to control the activeSuggestionIndex property of TextInput?"
We've had a request to auto-select the first suggestion in a TextInput's suggestions list when the user hits Enter, so that they are not required to click or use the down-arrow first. I've found that the active suggestion is managed by `activeSuggestionIndex` within the TextInput, but that state seems to be internal to the component, without any way to control it from the outside. Is this possible

[2020-11-24 22:53] MikeWalrath commented on #2521
Hello! Just doing a bit of clean up here. We have added [checkbox.icons.indeterminate](https://v2.grommet.io/checkbox#checkBox.icons.indeterminate) to the checkbox. I will close this issue but if there is anything that is still limiting your use case please feel free to file a new issue.

[2020-11-24 22:53] #2521 closed

[2020-11-24 23:21] halocline commented on #4743
Thank you for the [CodeSandbox](https://codesandbox.io/s/frosty-snowflake-yfndq?file=/src/App.js:1140-1166) @ypinneka. I also [created an implementation](https://codesandbox.io/s/epic-poitras-ebds1?file=/src/App.js) where the inputs are in an array and remove action splices the item from the array to mimic @shreyashah7's original post.

I have been able to replicate the issue with both implementat

[2020-11-24 23:39] ericsoderberghp commented on #4743
What about adding something like?:
[code]

[2020-11-25 15:43] jjalonso opened #4783 "TableCell align prop is not documented"
As said, TableCell align prop is not documented on the doc. it just appear as a theme option but it works as props.

[2020-11-25 21:06] MikeWalrath commented on #2105
Related to #4392

[2020-11-26 13:31] oskari opened #4784 "DataTable onSelect TypeScript types"
I think the types for onSelect -function are inferred wrong

### Expected Behavior

Using DataTable onSelect as seen on story [DataTable / Select](https://storybook.grommet.io/?path=/story/visualizations-datatable--select) should work.

### Actual Behavior

![image](https://user-images.githubusercontent.com/506596/100356564-12e20b00-2ffc-11eb-9bd9-8445f9fd7f4f.png)

### URL, screen shot, or Codepe

[2020-11-27 17:57] apawson commented on #4784
Similarly, the new `Tip` component appears to be missing from `node_modules/grommet/index.d.ts`

![image](https://user-images.githubusercontent.com/31909523/100475060-0068df80-3097-11eb-9866-cddcb1024331.png)

[2020-11-27 21:19] fuzing commented on #4750
I can also confirm that the background color property applied from a theme to Buttons no longer seems to support linear-gradients either - this used to work.

[2020-11-27 21:25] ShimiSun commented on #4750
@fuzing are you using grommet v2.16.0? The problem is supposed to be solved on this release. Please send us reproducible code in case it doesn't.

[2020-11-27 21:28] ShimiSun commented on #4784
If you guys already have an idea of how to fix the interface file or the export, please feel free to make a contribution.

[2020-11-27 22:29] fuzing commented on #4750
Hi -

I was literally just about to say that after upgrading to 2.16.0 it appears fixed.......

Sorry!

[2020-11-27 22:48] apawson commented on #4784
https://github.com/grommet/grommet/pull/4785

[2020-11-28 06:34] bdesouza commented on #4288
@ShimiSun - Sorry for the tardy reply.

I was playing around with the component and managed to get something working by updating `SelectContainer.js`.

[code]

[code]

Any thoughts?

[2020-11-28 15:24] #4750 closed

[2020-11-28 16:21] jimwhurr commented on #4780
They may be related but I don't think that they are duplicates.
4779 talks about direction of scroll when items are appended to a list (and which end they should be appended to) & 4392 talks about a way to perform scrolling when data is added using onMore.

I was thinking more about the UI aspect - providing a way to programmatically move to the top/bottom of a large (static) list other than makin

[2020-11-28 16:33] ajoslin103 opened #4786 "Grommet not working to get content pinned to the bottom"
### Expected Behavior

I expect the display to be the same in my usage as it worked in the Designer tool -- screenshot of the Designer Tool included in this issue

![Screen Shot 2020-11-28 at 11 31 50 AM](https://user-images.githubusercontent.com/443893/100520737-6a53b880-316d-11eb-816e-3e57b063e685.png)

### Actual Behavior

The items pinned to the bottom in the Designer did not pin in my usage o

[2020-11-29 17:09] leossantiago commented on #4767
I do believe this issue can be closed :tada:

[2020-11-30 16:27] taysea commented on #3771
@karunakarareddyp Just an update here, we've merged an enhancement for onClickOutside for modal={false} in the latest release. I am still working on incorporating an enhancement for the onEsc when modal={false}.

[2020-11-30 16:56] #4767 closed

[2020-11-30 18:45] joelachance commented on #2271
This is still an issue, unfortunately. Using 'responsive' seems to keep Layer from being scrollable (unsure about the overlay).

[2020-11-30 18:53] #2961 closed

[2020-11-30 18:55] ShimiSun commented on #2961
The fix is available @grommet version 2.16.0. Thank you @romanalesenkov1 for the fix.

[2020-11-30 19:23] ShimiSun commented on #4786
Can you please move this issue to the https://github.com/grommet/grommet-designer repo?

[2020-11-30 19:26] ShimiSun commented on #2271
@joelachance thanks for the input, which version of grommet are you using? Can you confirm it is still reproducible on grommet v2.16.0?

[2020-12-01 01:48] ajoslin103 commented on #4786
certainly!  thanks for pointing that out.

[2020-12-01 01:48] #4786 closed

[2020-12-01 18:57] ShimiSun commented on #4288
@bdesouza thanks for the markup, can you put it in a PR and file a draft so the team can review it?

[2020-12-01 19:02] ShimiSun commented on #4781
Just a quick thought here, have you tried wrapping the component with Keyborad component and control the Enter behavior yourself?

[2020-12-01 19:23] ddohler commented on #4781
Thanks for the reply! Yep, that's a potential fallback we've discussed, but the trouble with that approach is that there will be no visual indication that the first suggestion will be selected if the user presses Enter. Ideally we'd like to also highlight the first suggestion.

Looking at other autoselect libraries, we've seen a `highlightFirstSuggestion` prop used to accomplish this goal -- would

[2020-12-01 19:51] cirdes opened #4788 "DropButton / Drop getting background color from parent Box"
After upgrading to grommet version 2.16.0, my DropButton content background changed to "black"

Code exemple:

[code]

### Expected Behavior
With grommet version 2.15.2:

<img width="429" alt="Screen Shot 2020-12-01 at 4 45 44 PM" src="https://user-images.githubusercontent.com/727781/100789037-ab113300-33f4-11eb-87e5-30a018998f46.png">

### Actual Behavior
With grommet version 2.16.0:

<img width=

[2020-12-01 19:53] ShimiSun commented on #4781
I like your idea of improvement, the discussion could go smoother and on point once will see a PR, feel free to file one.

[2020-12-01 22:01] ShimiSun commented on #4788
Hi buddy, thanks for raising this question, previously, grommet wasn't supporting dark/light mode for the background color of Drop & Layer components.
In grommet v2.16.0 we added an [enhancement](https://github.com/grommet/grommet/pull/4645) to support the adjustment of the background color according to light/dark modes. If this enhancement does not work for you you can always customize your theme

[2020-12-01 23:47] cirdes commented on #4788
@ShimiSun, thanks! It did the job.

[2020-12-01 23:47] #4788 closed

[2020-12-01 23:52] wrdaigle commented on #4781
@ddohler, here is another thought.

Instead of selecting the first element, what if you populated the first item into the TextInput value and styled it to act like predictive text. You would need to wrap it in a Keyboard component to listen for the  onEnter and onDown events.

The chrome browser uses something similar in the address bar.

[2020-12-02 10:19] KiranVH commented on #2590
I am new to this. I just need to know how to do this event.persist() on onChange event, I have something like this at present `onChange={(event) => debounce(this.handleChange(event.target.value),200} ` ? Currently, I am getting it as null event

[2020-12-02 10:58] manoadamro opened #4790 "Documentation for Grid component"
The docs for Grid state:
[code]

- Specifying a single string results in an error: `props.rowsProp.map is not a function`
- Specifying an object results in an error: `props.rowsProp.map is not a function`

I have definied a 4x2 grid:

[code]

the grid should be:

[code]

what I end up with is:
[code]
- not a single column has the right number of cells
- not a single row has the right number of cel

[2020-12-02 11:11] #4790 closed

[2020-12-02 15:22] joelachance commented on #2271
Using 2.15.1 over here, so I can't confirm its on 2.16 :) Thanks for the response!

[2020-12-02 17:27] ShimiSun commented on #2590
@KiranVH I think we need to see the minimal reproducible code to help with your scenario.

[2020-12-02 18:54] ShimiSun commented on #2271
@joelachance thanks, the reason I'm asking is that we added Fixes for Layer on v2.16.0.
Please give it a try and circle back if you still see the problem, feel free to file a new issue with full details and reproducible code.

[2020-12-02 19:35] sindhoora-r opened #4792 "Unable to select a dynamically loaded option from Select Field"
Unable to select a dynamically loaded option from Select Field.
In a Select component, where we lazy load more options, we are unable to select an option from the lazy loaded options.

### Expected Behavior
We should be able to select any option from the Select Component

### Actual Behavior
We are unable to select an option from the latest list of options(load more)
https://storybook.grommet.io/?

[2020-12-02 19:41] joelachance commented on #2271
I will check it out, thank you!

[2020-12-02 20:41] ddohler commented on #4781
@ShimiSun Thanks, we'll give it a shot.

@wrdaigle Thanks for the suggestion -- I'll respond in the project repo to avoid bringing non-Grommet discussion into this thread.

[2020-12-02 22:16] MikeWalrath commented on #2556
Component left for refactoring:
- Grommet.js

@MikeKingdom

[2020-12-02 22:26] ShimiSun commented on #2571
Related to discussions made on https://github.com/grommet/grommet/pull/3259.

We have decided to proceed with Chromatic as the visual regression tool. Thank you for the discussion.

[2020-12-03 00:41] bdesouza commented on #4288
@ShimiSun Here's is there a particular branch I should submit the PR to. Here's what I have on my fork. https://github.com/grommet/grommet/compare/master...bdesouza:master

[2020-12-03 03:01] ArrayKnight opened #4796 "Uncontrolled Form - Checkbox is not visually reset when form is reset"
### Expected Behavior

If a form includes a checkbox, and a user checks that checkbox, then the form is reset, the checkbox should visually represent that the checkbox is no longer checked.

### Actual Behavior

The checkbox appears checked visually (unexpected) but validates as if not checked (expected).

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-v2-t

[2020-12-03 04:26] KiranVH commented on #2590
@ShimiSun  Thanks for replying, Below is my code snippet. Whenever I try to wrap my waitUntilUserFinishTyping inside debounce, I am getting event as null.

` waitUntilUserFinishTyping(filter, e){
    let tempSearch = e.target.value;
    this.setState({tempSearch});
    this.onSearchChange(filter, value);
  }

<input type="text" value={tempSearch} onChange={debounce(this.waitUntilUserFinishTyping.b

[2020-12-03 13:18] seelikes opened #4798 "Box block child Button's onClick"
### Expected Behavior

I do think parent should not grap event from children.

### Actual Behavior

parent Box response to child Button's click events.

### URL, screen shot, or Codepen exhibiting the issue

N.A.

### Steps to Reproduce

No need, 100% reproduce.

### Your Environment

- Grommet version: 2.16.0
- Browser Name and version: Microsoft Edge 87.0.664.52 64-bit
- Operating System and ver

[2020-12-03 20:44] ShimiSun commented on #2590
@KiranVH this is [grommet template code](https://codesandbox.io/s/m7mml8l0zj), please feel free to fork and reproduce your problem on it. I have multiple questions on the code you shared, and those could be easily answered if will run on the application. Also please mind adding the package that debounce is imported from.

[2020-12-03 20:50] ShimiSun commented on #4798
Please share a [code example](https://codesandbox.io/s/m7mml8l0zj) or an existing [storybook](https://storybook.grommet.io/?path=/story/all--all) example that reproduces the problem.

[2020-12-03 21:09] ShimiSun commented on #4796
also true for RadioButton and Select https://storybook.grommet.io/?path=/story/input-form--uncontrolled-typed

[2020-12-03 23:43] ShimiSun commented on #4792
Thanks for reporting, we'll prioritize the issue.

[2020-12-04 04:26] SagarTrimukhe opened #4802 "Dynamically loaded options and value are not shown in Select component"
### Expected Behavior
If the user dynamically passes the options and a value to a Select component, then the value passed should be shown as selected in the component.

### Actual Behavior
The component is not showing the passed value as selected.
It looks like a regression. This behavior is achievable in grommet version: 2.15.2

### URL, screen shot, or Codepen exhibiting the issue
Please check t

[2020-12-04 06:15] seelikes commented on #4798
Here is my code.

the outer Box will always perform onClick regardless which i click. especially the child input box, check box and button.

[code]

[2020-12-04 06:24] seelikes opened #4803 "Is it possible that do not show outline while focusIndicator is false?"
### Expected Behavior

show no outline when i pointed that i do not want a outline when focused

### Actual Behavior
when i pointed that focusIndicator is false, it shows a dark outline.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/37497358/101129204-20227980-363c-11eb-88a3-a8ca5a0bd4e5.png)

### Steps to Reproduce

no need, 100% reprod

[2020-12-04 13:13] nefario7 commented on #4769
What's the update on this issue? I too am facing this issue on my website.

[2020-12-04 15:50] sabino-gadaleta commented on #4792
We did confirm inside our UI that the problem did not show up if we added a resolution that forced use of the v2.15.2 grommet version.

[2020-12-04 16:31] halocline commented on #4769
@nefario7 I believe the timezone issue was [fixed and released in v2.16.0](https://github.com/grommet/grommet/releases/tag/v2.16.0). Can you try using the latest version and report back as to whether your issue has been resolved?

[2020-12-04 16:48] taysea opened #4805 "Enhance Layer theming to allow styling of border-radius"
### Expected Behavior

Theme should allow user to theme Layer in a way that gives them access to the border-radius. Proposing this be done either via `theme.layer.container.round` or `theme.layer.container.extend`. Neither theme object exists at the moment, so one should be added.

### Actual Behavior

Can't theme rounding of layer container.

### URL, screen shot, or Codepen exhibiting the issue

[2020-12-04 16:58] #4769 closed

[2020-12-04 17:02] ShimiSun commented on #4803
The black outline isn't coming from grommet and unless you changed your theme to display it as black I'll question whether it is actually coming from grommet.

Regarding your frequent comment of

Please be mindful that providing code or at-least naming the component you are using could help us provide better guidance. I have no direction on how to currently reproduce the issue you are describing s

[2020-12-04 17:15] ShimiSun commented on #4798
It is not clear from your code which parent is grabbing the focus, is it the Box that wraps the Button or the Box that wraps the Button's Box?

One more thing I've noticed from your code is that you are nesting interactive elements, which may be a valid reason for the focus confusion, from WCAG accessibility standards, nested interactive elements are not recommended and their behavior isn't predic

[2020-12-04 17:15] #4798 closed

[2020-12-04 23:10] jcfilben commented on #4784
[Here](https://github.com/grommet/grommet/pull/4483) is the initial PR where they type for `onSelect` in DataTable was defined. I tried to change the type from `onSelect?: (string | number)[];` to `onSelect?: (select: React.Dispatch<React.SetStateAction<(string | number)[]>>) => void;` which is the suggested type for the setter in useState but I was still getting an error when trying to use typesc

[2020-12-05 03:47] alphonso06 opened #4809 "Layer does not animate on exit"
Based from the example [Notifications and Popovers.](https://codesandbox.io/s/9jpz0z2ym4?file=/components/Toast.js)

It should be noted that I currently have a much larger application but I create components in an isolated environment like Storybook. The steps below are relevant.

### Expected Behavior

Upon the timeout duration being reached, it should animate out, either slide or fade out.

###

[2020-12-06 02:48] tromgy opened #4811 "Using the <Menu> component with sub-components shows React warning in the browser console."
### Expected Behavior

Components render without warnings.

### Actual Behavior

The following seen in the browser console:

[code]

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/12632548/101269858-16366e80-3741-11eb-8ff5-a30c89cf2a8a.png)

### Steps to Reproduce

1. Create a new React application: `npx create-react-app menu-app`
2. Chang

[2020-12-06 10:25] bdesouza commented on #3935
Spent several hours trying to figure out why I was seeing multiple events for controlled forms and arrived here. I'm still having issues and I'm using 2.16.0.

Any ideas how I can resolve in the short term?

[2020-12-07 06:33] KiranVH commented on #2590
Hi @ShimiSun

I have made the code changes in the grommet template ref: https://codesandbox.io/s/m7mml8l0zj?file=/index.js
whenever a user typing something in the text box, I am waiting for 250 ms after they stop typing then making handleChange event call and updating the "search" value in state. I am not using any external library to implement debounce . I have used my own version of debouncing f

[2020-12-07 14:22] REX500 opened #4812 "Select element isn't multi unless options array has at least one element"
If you use a Select element and don't initially pass an array with at least one element, that select won't be initialised as a multi select even though you pass _multiple_ prop.

### Expected Behavior

Select should initialize as a multiselect regardless of the options parameter. Real life use case could be: you want to show options that are fetched from an array and therefor options param for the

[2020-12-07 16:53] ShimiSun commented on #4812
Hi buddy, the Select multi behavior had changed on grommet v2.16.0, can you please upgrade and let us know if you still see a problem?

[2020-12-07 18:20] halocline commented on #4792
FYI, I did some initial investigation to track down where this regression was introduced.

Using git bisect (starting on the master branch) as follows:
[code]

Identified https://github.com/grommet/grommet/pull/4778 as the commit which introduced the regression.

I haven't researched beyond here, but the description in the PR "The problem was that options change when they are filtered using search

[2020-12-07 18:29] ShimiSun commented on #4792
@romanalesenkov1 FYI ⬆️

[2020-12-07 18:32] sabino-gadaleta commented on #4792
Just for more information. We had seen the issue too in our UI if we just render the select component before the options are fully loaded. So it's not only an issue with onMore maybe but a more general loss of binding if the options change after render.

[2020-12-07 18:35] ShimiSun commented on #4792
Thanks for sharing @sabino-gadaleta , we are prioritizing this issue and we'll release a hotfix to include a fix asap.

[2020-12-07 19:53] jcfilben commented on #4809
Hi @alphonso06 I was not able to reproduce the issue with Layer not animating when it is closed. I created a PR with a new storybook example showing how to use Layer with a timeout function and animation.

[2020-12-07 21:07] #4756 closed

[2020-12-07 21:19] ShimiSun commented on #4736
Fixed, thanks for reporting, and thanks @MikeKingdom for enabling this property.

[2020-12-07 21:19] #4736 closed

[2020-12-07 21:33] romanalesenkov1 commented on #4792
As a workaround it is possible to re-render select when options changed :

![image](https://user-images.githubusercontent.com/13457738/101407273-b203de00-38eb-11eb-93c4-c7c5d74d1ac1.png)

At a first glance I didn't find the way to fix the problem without breaking changes.

It looks like we should make onChange function clear function:
1. do not set filtered options in this function
2. return filte

[2020-12-07 21:48] ShimiSun commented on #4809
You can see on our storybook examples https://storybook.grommet.io/?path=/story/layout-layer--notification-layer that the Layer is exiting with the proper I/O animation using grommet v2.16.0. Please be more specific with your example and create a sandbox that reproduces the problem reliably, on the sandbox(es) you shared we saw no problem with the animation even after upgrading to latest grommet.

[2020-12-07 21:50] ShimiSun commented on #4756
Thanks for reporting @LiveFreeAndRoam , this fix will be available on the upcoming hotfix.