[2017-01-20 21:50] tracybarmore opened #1149 "implement xsmall core icons"

[2017-01-21 19:56] edude03 commented on #820
Off topic, but @RyanCCollins I'd like to help test / improve the typings as I'm using TS + grommet in a project right now but I can't seem to figure out the right stanza to import them.

I thought it would be `import App from 'grommet-typescript'` or something similar but I haven't gotten it to work. Any advice?

[2017-01-21 20:11] RyanCCollins commented on #820
Hey @edude03!

I will make an example project using the ts bindings with grommet.  Give me a few hours.

[2017-01-21 21:03] RyanCCollins commented on #820
@edude03, I updated the exports for the grommet-typescript definitions and added them to my [React / TypeScript boilerplate project](https://github.com/RyanCCollins/scalable-react-ts-boilerplate/tree/grommet) on a separate branch.

Let me paste in some code and a giphy to demonstrate the usage.

Since the grommet types are not on DefinitelyTyped yet, I included them in a folder in my project and s

[2017-01-21 22:00] mossjm commented on #1126
It seems that the issue only appears when the viewport is narrow (mobile).
Also this issue appears to apply across the board to Header elements (not specific to ones within Split or Table)

[2017-01-22 18:34] RyanCCollins commented on #1075
I've added a gulp script to automate this and will push it later today.

[2017-01-22 18:50] RyanCCollins commented on #1075
See #1150

[2017-01-22 19:21] quarthex commented on #1147
I added a test case that fails: https://travis-ci.org/quarthex/grommet/builds/194268140#L484

[2017-01-23 12:04] ishwark7 opened #1151 "Table onMore not working in Internet Explorer 11"
Table onMore is not working as expected in Internet Explorer (IE 11) while it works fine in other browsers

### Expected Behavior

It should also work in IE 11

### URL, screen shot, or Codepen exhibiting the issue
URL to reproduce the issue (open in IE and Chrome to see the different behavior): https://grommet.github.io/docs/table/examples/?onMore=func&i-header=true

[2017-01-23 17:09] alansouzati commented on #1075
Fixed by @RyanCCollins

[2017-01-23 17:09] #1075 closed

[2017-01-23 17:36] alansouzati commented on #1147
we need a safe check here for testing purposes `if (childElement)`.

There is no actual DOM in the Jest setup we did. This is why you are getting this "null pointer"

[2017-01-23 17:57] RyanCCollins commented on #732
Hey @alansouzati, yes I like that.  I see that they are using the built-in css variables to allow for theming.  I agree with moving away from scss if possible and taking a vanilla approach with css-modules seems to be inline with grommet's mission of staying simple / un-opinionated.

[2017-01-23 18:47] quarthex commented on #1147
In the test I provided, I used enzyme to mount the component in a fake DOM.
I used the full DOM rendering API in order to propagate the event through the node tree.
It is the tool recommended by React team : https://facebook.github.io/react/docs/test-utils.html.

I agree with your solution. I think the onTouchStart and onTouchMove props could also be completely discarded (set to null) from the res

[2017-01-23 19:54] tracybarmore commented on #989
Hey @nickjvm, thanks for all your collaboration with us. We will be cleaning up our backlog first week of February 2017 by closing unresponsive issues that haven't been active for at least 30 days.

If you would like this issue to remain open in our backlog, please comment to let us know. Thanks!

[2017-01-23 21:56] alansouzati commented on #1151
Fixed in https://github.com/grommet/grommet/commit/9c9b16dd77202a87d98958186894db729a1e1848

[2017-01-23 21:56] #1151 closed

[2017-01-23 22:07] nickjvm commented on #989
@tracybarmore Thanks for following up on this! It's definitely still an issue for us, so I'd like to keep it open.

I was able to create a very simplified version of our environment to replicate the issue. Please check out the repo here: https://github.com/nickjvm/grommet-color-contrast. As you can see, with the latest version of Grommet, Firefox is still giving us an issue in both Windows and OS

[2017-01-23 22:35] nickjvm opened #1152 "Image `fit` prop also applies grommetux-image--full class"
[code]
Images that have a `fit` prop defined also have an unremovable `grommetux-image--full` class, which leads to undesired effects.

### Expected Behavior

`fit` and `full` classes should not be coupled

### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/hpe/docs/image/examples?full=false&fit=contain. Select a `fit` prop, and select `false` for `full`. Notice that t

[2017-01-24 00:43] tracybarmore commented on #989
@nickjvm, great. I'll keep it in our backlog and get one of the guys to address it during our backlog grooming session. Thanks!

[2017-01-24 00:51] alansouzati commented on #755
hey @maysst did you have time to check this out?

[2017-01-24 00:52] alansouzati commented on #1080
Fixed and tested with other browsers. Grommet 1.2.1 has been released working on the release notes now.

[2017-01-24 00:52] #1080 closed

[2017-01-24 10:16] harshithjv commented on #1101
Hey @ericsoderberghp and @alansouzati

Can you please check this issue again?

[2017-01-24 12:02] insane07 opened #1153 "Table OnMore not working in IE 11 when Table is inside a Box"
Table onMore is not working as expected in Internet Explorer (IE 11) while it works fine in other browsers.
This issue is seen when table component is used inside Box/Section comnponent.

### Expected Behavior
It should also work in IE 11

### Codepen exhibiting the issue
open in IE and Chrome to see the different behavior:
http://codepen.io/shitij07/pen/XpgyGw

[2017-01-24 13:42] arlair commented on #820
@RyanCCollins Nice work. I tried this out, but my config compiles to ES5 at the moment, which then gets imported by Babel in a Webpack build in another project.

To generate code that runs correctly I seem to need to use:

    import * as Header from 'grommet/components/Header';

which generates ES5:

    var Header = require("grommet/components/Header");

However, with this I get compile errors b

[2017-01-24 18:09] tracybarmore commented on #1046
#1071 closed with commit [e9c434a](https://github.com/grommet/grommet/commit/e9c434ae56f9bf133fd93a4867400a78ba2d1449)

[2017-01-24 18:10] #1046 closed

[2017-01-24 19:31] ericsoderberghp commented on #1101
We have not been able to reproduce this. Can you please provide a CodePen illustrating the issue? If you cannot reproduce it with a CodePen, you could send an archive with a small project that reproduces the we could run locally.

[2017-01-24 21:09] alansouzati commented on #1130
FIxed by https://github.com/grommet/grommet/commit/8254e7e2b0a9a771c1fa7d4753483c051b777d67

[2017-01-24 21:09] #1130 closed

[2017-01-24 21:09] alansouzati commented on #1153
Fixed by https://github.com/grommet/grommet/commit/8254e7e2b0a9a771c1fa7d4753483c051b777d67

[2017-01-24 21:09] #1153 closed

[2017-01-24 21:13] tracybarmore commented on #732
reference #1143

[2017-01-24 21:17] tracybarmore commented on #1063
linking to #1144

[2017-01-24 21:29] tracybarmore opened #1154 "Remove Inuit"
linking with #1139

[2017-01-24 21:30] tracybarmore commented on #1139
Issue should be resolved with #1154

[2017-01-24 21:33] tracybarmore opened #1155 "Migrate LoginForm to Addons"
Include deprecation on grommet/grommet

[2017-01-24 21:33] tracybarmore commented on #1155
linking #1142

[2017-01-24 21:34] tracybarmore commented on #1142
Issue should be fixed by #1155

[2017-01-24 21:36] tracybarmore commented on #767
linking with grommet/grommet-design#31

[2017-01-24 21:37] tracybarmore commented on #983
linking with grommet/grommet-design#31

[2017-01-24 21:53] L0ZZI commented on #944
In the wrong project. Closed and moved to Docs #237

[2017-01-24 21:53] #944 closed

[2017-01-24 22:00] tracybarmore opened #1156 "implement xsmall meters"

[2017-01-25 06:21] mjasnikovs opened #1157 "Missing 24-hour time format in Timestamp"
Missing 24-hour time format in Timestamp. 12-hour clock is generally used in British colonies.
Globally, required all functionality witch is available in toLocaleDateString. To format time properly accordingly to local standards.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString

[2017-01-25 10:45] przytrzask opened #1158 "Table responsive prop doesn't work"
There is a responsive option in table according to docs.
https://grommet.github.io/docs/table
Whern  the display area narrows table is switching to column mode even when property responsive is set as false

### Expected Behavior
When responsive on table is false. Table shouldn't swich to column layout

### Actual Behavior
table is switching to column mode even when property responsive is set to fa

[2017-01-25 11:31] ido-ran commented on #1080
I can confirm this solve the issue with IE.
Thanks.

[2017-01-25 12:04] harshithjv commented on #1101
Hi @ericsoderberghp ,

I am attaching file here:
[grommet-chrome-transparency-problem.zip](https://github.com/grommet/grommet/files/729534/grommet-chrome-transparency-problem.zip)

I have created toned down and dummy version of our project. I have tested thoroughly and it's font is not visible. Please have a look.

[2017-01-25 23:37] nickjvm opened #1159 "Unable to conditionally render a Tab component"
### Expected Behavior
I would expect the following snippet to only render a single tab:
[code]
### Actual Behavior

Instead, the component fails to render with the following error:
[code]
### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/anon/pen/XpeWPx?&editors=0010

### Your Environment

* Grommet version: stable

[2017-01-26 00:21] yazamiko opened #1160 "icon color inside button is broken due background color context"
I got this problem when I set my button inside a Box with colorIndex='light-1':

`<Box pad='medium' colorIndex='light-1'>`
 `   <Button icon={<Edit />}`
 `    label='Button'`
 `    primary={true}`
 `    onClick={this._onClick} />`
`</Box>`

As we can see here:
https://grommet.github.io/docs/button/examples?icon=true&label=true&onClick=true&href=true&primary=true&c-background=light

Icon color is n

[2017-01-26 15:21] woodm1979 opened #1161 "Styling for <Anchor> changes radically depending upon the presence of "icon""
The styling for an <Anchor> changes radically depending on the presence of the "icon" property.

### Expected Behavior

I'd expect the anchor to look the same (+/- the presence of an icon) regardless of the presence of an icon.

### Actual Behavior

In the "grommet theme", the anchor changes from black+strong to purple+(not strong).
In the "HPE theme", the anchor changes from strong+(not-underline

[2017-01-26 16:29] dioklecijan opened #1162 "TableHeader.onSort doesn't work with Table.scrollable=true"
Adding scrollable={true} to the Table component stops executing TableHeader onSort callback.

This works as expected:

[code]

After adding scrollable={true}, callback this.onSort is not called anymore:

[code]

### Your Environment
* Grommet version: 1.2.0.
* Browser Name and version: Google Chrome 55.0.2883.95 (64-bit)
* Operating System and version (desktop or mobile): macSierra 10.12.2

[2017-01-26 22:04] tracybarmore opened #1163 "Add documentation for xsmall meters"

[2017-01-26 22:04] #1156 closed

[2017-01-27 04:06] RyanCCollins opened #1164 "Split component does not have independent scrolling when in a view less than `100vh`"
### Expected Behavior
The Split component should allow independent scrolling no matter what container it is rendered in.

### Actual Behavior
As it stands, the Split component will only allow independent scrolling when it is located inside a dom element that takes up 100vh (full height of web browser).  In my example codepen, you will see that the the scroll is not working independently because I

[2017-01-27 04:30] RyanCCollins commented on #1164
I would be happy to try to implement a solution for this, btw.  Perhaps the height of the surrounding container can be calculated dynamically rather than being hard-coded at 100vh?

[2017-01-27 08:40] avadhutkhavare opened #1165 "Table Row Background color attribute"
### Expected Behavior

Developer should able to highlight any Table row background color based on condition
TableRow/TR should allow colorIndex attribute and highlight the specified row

### Actual Behavior

TableRow/TR component do not support colorIndex attribute.

### Your Environment

* Grommet version: v1.0.1
* Browser Name and version: CHROME/IE
* Operating System and version (desktop or mob

[2017-01-27 21:59] tracybarmore opened #1166 "Implement results of color study"
Aligning themes from grommet/grommet-design#31

[2017-01-29 19:07] edude03 commented on #820
@arlair I think the solution is to enable "AllowSyntheticDefaultImports" then use the `import Header from ....` format. That's what I did anyway

[2017-01-29 19:13] edude03 commented on #820
@RyanCCollins Thanks!!! I got it working with a little finagling, however, I'm having an issue with `react-redux`

I want to render a select right, and so I use MapStateToProps with connect, like so

[code]

which makes TS upset because Select takes GrommetCustomTypes.SelectProps not just <any> old props ;P

So to get it to work I had to change

[code]

to
[code]

and change
[code]
import { Select

[2017-01-29 19:43] RyanCCollins commented on #820
Hey all!

I appreciate your comments and help to improve these. I'd love for your imtpovements to be submit with a PR to My repo. Eventually I will submit it to the definitely typed repo once all the kinks are ironed out and your assistance in getting it there is very much appreciated.

[2017-01-29 23:26] dioklecijan opened #1167 "Tip width calculation"
Tip control has a problem with the long words.

<img width="350" alt="tipwidth" src="https://cloud.githubusercontent.com/assets/4146161/22408955/4eb0828c-e682-11e6-9f95-aad6b35e5d6b.png">

IMO `$size-small` (192px) for Tip max-width is too short:

[code]

Grommet version: 1.2.0.
Browser Name and version: Google Chrome 55.0.2883.95 (64-bit)
Operating System and version (desktop or mobile): macSierr

[2017-01-30 07:38] dunnock opened #1168 "Scss themes colors settings overwritten grommet-core theme"
Scss $brand-graph-colors for vanilla (and other themes) get overwritten by $brand-graph-color of core theme. This is relevant to other variables which are theme defaults.

### Expected Behavior
Settings from scss/vanilla/_vanilla.defaults.scss to take precedence over scss/grommet-core/_settings.scss

### Actual Behavior
scss/grommet-core/_settings.scss overwrite all the variables defined in theme'

[2017-01-30 07:52] crobinson42 opened #1169 "datetime css on mobile fix needed"
### Expected Behavior
The datetime component should be visible and 'pretty' on a mobile display, filling no more than 100% height/width of viewport

### Actual Behavior
z-index of input is too low and height/width is not adjusted correctly

### URL, screen shot, or Codepen exhibiting the issue
https://www.dropbox.com/s/p5hiixt454m4s2o/Screenshot%202017-01-29%2023.49.28.png?dl=0
https://www.dropbox

[2017-01-30 18:42] mauleyzaola opened #1170 "Cannot execute npm development server following get started page"
### Expected Behavior
I should have been able to login with any combination of username/password

### Actual Behavior
The browser displays the error `Gateway Timeout`. Also npm in the terminal has more information, probably is relevant.
[code]

### URL, screen shot, or Codepen exhibiting the issue
`http://localhost:3000/login`

![image](https://cloud.githubusercontent.com/assets/1648558/22436209/d

[2017-01-30 19:14] alansouzati commented on #1170
I believe you are missing to run the back-end server `npm run dev-server` ?

[2017-01-30 19:40] mauleyzaola commented on #1170
Next time I'll have a coffee before reading lol. Thanks @alansouzati

[2017-01-30 19:44] mdbishop commented on #1101
I've also got a possibly related issue myself ( @ericsoderberghp pls advise if you'd prefer this as a new issue. ).  In Chrome, several elements appear to never have their

[code]

style replaced.  On occasion, a reload or changing code (running in dev mode also) will get all previously invisible items to appear.  For me, the issue is not deterministic and I've not been able to reproduce in a dead

[2017-01-30 21:20] lankybutmacho opened #1171 "Select can handle an undefined value but not null"
I think the issue is here: https://github.com/grommet/grommet/blob/master/src/js/components/Select.js#L290. `typeof null` evaluates to `'object'`, so you don't end up in the else block

### Expected Behavior
Setting the `value` property of `<Select />` to `null` should have the same behavior as setting it to `undefined` (i.e. no option is selected in the select element)

### Actual Behavior
Settin

[2017-01-31 18:08] alansouzati commented on #1170
no problem glad you are up and running now

[2017-01-31 18:08] #1170 closed

[2017-01-31 18:32] ericsoderberghp commented on #1169
Agreed. Looking into it.

[2017-01-31 19:04] #1171 closed

[2017-01-31 19:21] ericsoderberghp commented on #1163
Fixed in grommet-docs commit bcbac1211096bc7265199b77e7d1cf51158de02e.

[2017-01-31 19:21] #1163 closed

[2017-01-31 19:21] #1168 closed

[2017-01-31 19:22] #1115 closed

[2017-01-31 19:38] ericsoderberghp commented on #1164
Can we do it in a way that works with a `<Box direction="row" align="stretch">` container and rely on flexbox to take care of it, rather than doing any calculations dynamically?

[2017-01-31 19:56] #1167 closed

[2017-01-31 20:04] ericsoderberghp commented on #1161
It is part of the design to have different styling with or without an icon. But, we should review the implementation again to see that it matches the design.

[2017-01-31 20:23] RyanCCollins commented on #1164
Yeah, that sounds like the grommet way to do it!  Sounds good, thanks @ericsoderberghp

[2017-01-31 20:51] ericsoderberghp commented on #342
Looking into changing Chart sparkline size to honor width.

[2017-01-31 21:26] L0ZZI commented on #1165
We don't have any plans on adding customization to the table styling in the near future as we try to keep the component styling to a minimum in keeping with Grommet's ethos. Changes to the table component styling could turn into a large area for enhancement.

Would you have a use case that this change would support? What type of pattern/interaction would the color change make a meaningful impact?

[2017-01-31 21:36] #342 closed

[2017-01-31 22:31] #1119 closed

[2017-01-31 22:49] #1120 closed

[2017-02-01 00:26] #767 closed

[2017-02-01 17:49] eugenioclrc commented on #444
You could try with https://github.com/taylorhakes/fecha

[2017-02-01 19:35] #1152 closed

[2017-02-01 20:34] #1137 closed

[2017-02-03 14:45] ArtemZag opened #1173 "Component Select doesn't align dropdown to top"
### Expected Behavior
Component **Select** should either align **Drop** component automatically (depending on the free space) or it should provide property "dropalign" (like **Menu** component does).

### Actual Behavior
The popup position is hardcoded.
See this line of code: https://github.com/grommet/grommet/blob/master/src/js/components/Select.js#L100

### URL, screen shot, or Codepen exhibitin

[2017-02-03 23:51] purplelightsaber commented on #43
I am getting the same error on the now logs. The following just repeats:

▲ Deploying image
02/03/17 5:47:17 PM
▲ Container started
02/03/17 5:47:20 PM
Fri Feb 03 2017 23:47:19 GMT+0000 (UTC) – fetching
02/03/17 5:47:20 PM
/srv/www/dist/slack.js:54
          throw err;
          ^

Error: connect ECONNREFUSED 127.0.0.1:443
    at Object.exports._errnoException (util.js:1023:11)
    at exports._exc

[2017-02-05 07:42] benshell commented on #576
I'm just trying/learning Grommet and quickly ran into this issue as well, with React Router v4. It seems to me that the simplest solution is to create a new component to render Anchor as a span, inside of Link:

[code]

[2017-02-05 15:06] coltonw opened #1174 "Legend has 9999999 in the total"
### Expected Behavior
The total should come from the sum of the series data

### Actual Behavior
Javascript floating point errors are creeping in under certain circumstances.

### URL, screen shot, or Codepen exhibiting the issue

http://codepen.io/coltonw/pen/PWaENd?editors=0010#0

### Your Environment

* Grommet version: 1.2.1
* Browser Name and version: Chrome
* Operating System and version (de

[2017-02-05 20:08] michalkvasnicak opened #1175 "Search is not showing suggestions"
Search is not showing suggestions when `inline` is set to `true`

### Expected Behavior
Should show suggestions

### Actual Behavior
Isn't showing suggestions

### URL, screen shot, or Codepen exhibiting the issue

https://grommet.github.io/docs/search/examples?placeHolder=true&inline=true&suggestions=true

### Steps to Reproduce
 1. Set `inline` to `true`
 2. add some suggestions

### Your Enviro

[2017-02-06 06:43] vaibhavbhargav opened #1176 "TableHeader should allow sorting capability on selective columns"
TableHeader component should provide attributes so that we can choose which column can have sortable capability.

### Expected Behavior
There should be way to provide sortable capability on selective  columns.

### Actual Behavior
Currently if we pass 'onSort' function, all table header becomes sortable. Currently there is a hand icon shows an each column.

### Your Environment

* Grommet version:

[2017-02-06 18:20] alansouzati commented on #1173
Very good point. I would rather align the Drop automatically. the drop for the Select is special because it has the search box. If we align top, the contents of the drops needs to change ordering. For example, the search box should be at the bottom and the suggestion values reversed.

I will try to work on that change soon. Thanks for creating the codepen.

[2017-02-06 19:53] coltonw opened #1177 "Columns with masonry on throws opaque errors when there is no DOM"
### Expected Behavior
The Columns would have some sort of fallback that would not throw errors when it cannot access DOM elements.

### Actual Behavior
It throws errors. This is frustrating for jest testing any component that use columns with masonry as their layout because they cannot use snapshot testing for any ancestor of the columns.

### URL, screen shot, or Codepen exhibiting the issue

[co

[2017-02-06 20:03] alansouzati commented on #1173
hey @ArtemZag could you please share a scenario where you are trying to render the Select at the bottom of the page?

I've tried fixing that but it brings a lot of UX concerns on the way we render things.

For example:

![screen shot 2017-02-06 at 11 59 49 am](https://cloud.githubusercontent.com/assets/1207250/22664025/c8c9fdd2-ec63-11e6-802d-1716640c281d.png)

If I press the `up` arrow, to get th

[2017-02-06 20:52] alansouzati commented on #755
I'm closing this for now. Please feel free to reopen if you still believe this is something to fix

[2017-02-06 20:52] #755 closed

[2017-02-06 20:53] alansouzati commented on #1121
hey @avadhutkhavare can you please validate this with the latest grommet? we believe this is fixed.

[2017-02-06 22:08] alansouzati commented on #576
I've added indexLink support as part of this commit:

https://github.com/grommet/grommet/commit/06adf025de881686d08ab1dabf1398f40ca0c912

usage:

`<Anchor primary={props.primary} path={{ path: props.to, index: true }}/>`

[2017-02-06 22:08] #576 closed

[2017-02-06 22:58] alansouzati commented on #1174
looking forward for a PR 🎉

[2017-02-07 01:58] alansouzati commented on #1061
Fixed by https://github.com/grommet/grommet/commit/ba1dffe8371475adedd57e6d167f6792c6ab0381

[2017-02-07 01:58] #1061 closed

[2017-02-07 09:13] ishwark7 opened #1179 "Graphs overflow/responsiveness in UI"
1. Meter lines are not responsive  and going out of mobile view.
2. Distribution chart also not responsive

### Expected Behavior

The graphs should be responsive to screen size

### Actual Behavior

The graph goes out of page or gets skewed

### URL and screen shot exhibiting the issue
https://grommet.github.io/docs/meter/examples?size=large&i-value=false

![responsive](https://cloud.githubuserco

[2017-02-07 16:50] ArtemZag commented on #1173
@alansouzati , I have a very specific UI. The page is not scrollable. And at the bottom I need some selector.
![image](https://cloud.githubusercontent.com/assets/1687370/22701408/41e39bd0-ed66-11e6-85fb-c97b0131d13f.png)

[2017-02-07 21:08] tracybarmore commented on #1176
Hi @vaibhavbhargav. Thanks for opening this issue. Can you give us an example of what you are trying to achieve? There may be something interesting we can address here based on what you are currently working on. Thanks!

[2017-02-07 21:20] L0ZZI commented on #1161
We're doing some evaluation of the design of button's with icon, label and anchors with icon for better alignment. This is more of design enhancement than a defect. I'll close if there isn't any other feedback.

[2017-02-07 21:26] tracybarmore commented on #983
This issue will be completed with #1166

[2017-02-07 21:29] ericsoderberghp commented on #1131
I'm curious to know why you're putting an onChange on the containing div rather than on the Select component. Can you elaborate a bit?

[2017-02-07 21:39] ericsoderberghp commented on #1092
So, is the issue that a user is able to bring their own browser to its knees by typing a very long text sequence into the search input in the Select drop down? Is this a malicious user, or is it a user who needs some extra protection to prevent him from doing it?

[2017-02-07 21:47] JakeDluhy commented on #1131
I have a component wrapping three `Select` components to pick a birth date (month/day/year). Call it `FormLabel`. Any form errors get rendered for the birth date selection collectively on `FormLabel` (as opposed to individually for each select). I would like it so that if there is a form error on the `FormLabel` then any changes on the `Select` components gets picked up and it removes the error.

[2017-02-07 23:43] hdehal opened #1180 "Dropdowns not 100% clickable in Firefox"
https://grommet.github.io/docs/select

Dropdowns are not clickable unless you click the arrow itself – issue only in Firefox. It appears clickable in Safari/Chrome.

### Your Environment
* Firefox
* Mac OS X

[2017-02-08 04:52] #1179 closed

[2017-02-08 14:53] Catx7 opened #1181 "IE11 false loacle provided"
In IE 11 using the following code
`import {getCurrentLocale, getLocaleData} from 'grommet/utils/Locale';`
`getCurrentLocale();` returns only 'en-US' .It doesn't look for browser language.

It works fine in Firefox and Chrome.

[2017-02-08 21:41] MarcoMedrano opened #1182 "Carousel not working in Box with basis"
When second element is added first one gets bigger and second one is visible too.

### Actual
![image](https://cloud.githubusercontent.com/assets/2736856/22758383/dfc903f8-ee24-11e6-8133-4844d137c345.png)

### Expected
![image](https://cloud.githubusercontent.com/assets/2736856/22758517/680a4d44-ee25-11e6-93c9-357aed3c6aef.png)

### Codepen
http://codepen.io/MarcoMedrano/pen/pRxoLp?editors=0010#0

[2017-02-09 07:47] alanpilloud opened #1183 "Close Layer by clicking outside it"
Hello,

I hope the Grommet team is fine today.

I saw in the release notes this line :

 - Changed Layer to not close when the user clicks outside it

However, I used to prefer when we were able to click outside the Layer to close it. Would it be possible to make it a prop ?

### Expected Behavior
Close a Layer by clicking outside it

### Actual Behavior
The Layer do not close by clicking outside

[2017-02-13 05:46] nomadus opened #1186 "How to setup a navigation based on Tabs"
I would like to setup the navigation based on tabs, here is my code, but the onClick event returns undefined, what am I missing?

class Navigation extends Component {
  state = {
    activeItem: 'home'
  }

  _handleItemClick = (event, {name}) => {
    console.log("#####" + name);
    this.setState({activeItem: name})
  }

  render() {
    const navigation = [
      {
        key: 'home',

[2017-02-13 10:55] nomadus commented on #1186
I got it wrong, instead of routing I am going to use tabs.

[2017-02-13 10:55] #1186 closed

[2017-02-13 17:27] MarcoMedrano opened #1187 "Carousel does not interact neither has events"
It would be very helpful to be able to select the item to display by code. Also have events when a page has selected.
Something like:

`<Carousel selectedIndex={this.state.index} onSelectedIndex={index=>this.setState({index:index})}>`

The idea is be able to manage it by code and be reported when an item is changed so we can execute changes according that.

[2017-02-13 18:23] alansouzati commented on #1173
Visually does it make more sense to be at the Header? How is the reporting date different from "Filters" ? Could you bake that in with the other filters? Maybe even inline them with radio buttons ?

Would the "reporting year" affect the list on the left? If so, it makes sense to put them in the Header because it is a natural progression: you change something at the top that affects something at th

[2017-02-14 08:55] ArtemZag commented on #1173
@alansouzati , thanks for your answer. Probably you are right and we just need to change the UI concept. I will discuss it with my customer. If he doesn't agree than I will probably create my own combobox based on your code and styles.

[2017-02-14 13:23] nomadus commented on #704
I would like to create a custom theme based on the existing Grommet themes, but I could only find the minified versions of the css files, how could I find the original versions?

[2017-02-14 15:08] eniyan opened #1188 "404 Error: rawgit.com/grommet/grommet/stable/grommet.min.js"
404 Error:
https://rawgit.com/grommet/grommet/stable/grommet.min.js

### Expected Behavior
Expected to show results and no broken links

### Actual Behavior
Page not available

### URL, screen shot, or Codepen exhibiting the issue
https://rawgit.com/grommet/grommet/stable/grommet.min.js
http://codepen.io/grommet/pen/gaEGPY

### Steps to Reproduce
1. Click on https://rawgit.com/grommet/grommet/stab

[2017-02-14 17:50] alansouzati commented on #704
I would recommend checking this folder:

https://github.com/grommet/grommet/tree/master/src/scss

For example the Aruba theme is here, and you can see some of the variables we override:

https://github.com/grommet/grommet/blob/master/src/scss/aruba/_aruba.defaults.scss

This is how you would import it:

https://github.com/grommet/grommet/blob/master/src/scss/aruba/index.scss

Also you can see ever

[2017-02-14 17:51] alansouzati commented on #1173
Sounds good.

Sorry we could not help it further, we can "fix" it but we are worried about the UX repercussions of this change.

I'm closing the issue for now.

[2017-02-14 17:51] #1173 closed

[2017-02-14 18:00] alansouzati commented on #1188
Fixed in https://github.com/grommet/grommet/commit/0a47b645bc9e861f643a947b4c790d393cdbc55d

[2017-02-14 18:00] #1188 closed

[2017-02-14 18:45] tracybarmore commented on #1106
Hey @ido-ran, thanks for all your collaboration with us. We will be cleaning up our backlog last week of Feb 2017 by closing unresponsive issues that haven't been active for at least 30 days.

If you would like this issue to remain open in our backlog, please comment to let us know. Thanks!

[2017-02-14 21:30] #940 closed

[2017-02-14 21:35] tracybarmore opened #1189 "Add New Discover Icons to icon library"

[2017-02-14 21:47] tracybarmore commented on #940
Old Card. Closing to open individual new cards.

[2017-02-15 18:12] dioklecijan opened #1190 "List onSelect argument type"
IMHO, for the List component, the argument for the onSelect callback handler should always be an array when multiple rows may be selected. Besides semantic improvement, the code looks more elegant:

`<List selectable="multiple" onSelect={this.onSelect}>`

Instead:

[code]

we could write:

[code]

### Your Environment
* Grommet version: 1.2

[2017-02-15 18:18] RyanCCollins opened #1191 "File Dropzone"
As discussed, I'd like to introduce a feature / enhancement for a component that allows for drag and drop of one or more files to upload.

I've started outside of the Grommet repo in the brand-central-cms repo to develop a prototype for use in that project.  In the future, I'd like to transfer it into the grommet repo and would like to take this as an opportunity to discuss the functionality.

[2017-02-15 18:19] RyanCCollins commented on #1191
So far, what I am thinking is that we use a Box as the main component with a bit of default styling.  The File input will be hidden.  This will give the user the control over changing the default style in a familiar manner.

For example
[code]

[2017-02-15 18:58] RyanCCollins commented on #1191
A couple of things to consider for the design.
1. The various states of the component
- Inactive
- On drag start (when the user is hovering over the component with one or more files.
- On drop (when the user has dropped one or more files)
  - On file upload accepted
  - On file upload rejected

[2017-02-16 01:14] tracybarmore opened #1192 "Update Get Started page"
https://grommet.github.io/docs/get-started
@L0ZZI TBA on finished design

[2017-02-16 07:49] huiwang-hpe opened #1193 "Need an easy and reliable way to locate the Grommet generated controls in the DOM tree"
Currently, we are using WebDriver and Page Object for automating web application testing.
We found it difficult to locate the controls in the DOM with selectors.

Because controls are rendered by Grommet / Grommet-Index, and neither they have unique class name or ID, nor we could customize them.
Some controls are encapsulated in the hierarchical DOM structure, which makes the selector complex.

Th

[2017-02-16 16:26] sorin-davidoi opened #1194 "Topology throws error"
### Expected Behavior
The `Topology` component renders without errors.

### Actual Behavior
An error is thrown.

### URL, screen shot, or Codepen exhibiting the issue

http://codepen.io/anon/pen/rjbYWX?editors=0011

![screen shot 2017-02-16 at 17 23 08](https://cloud.githubusercontent.com/assets/2109702/23030003/ac9bc8be-f46c-11e6-9e97-3695556f7dd3.png)

### Steps to Reproduce
 1. Run the Codepen

[2017-02-16 17:14] MarcoMedrano commented on #991
Seems this bug is happening again http://codepen.io/grommet/pen/rWWyOV?editors=0010

[2017-02-16 19:25] devdil opened #1196 "Enhancements : request for editor control"
An editor area to upload source code which would provide features like auto-suggestion, indentation, line numbers, syntax highlighting, etc.

Integration with https://ace.c9.io/ or https://codemirror.net/ would look good.

[2017-02-17 02:53] nomadus commented on #1196
Hi, is this only for a source code? Could we ask for more generalized solution, like a rich text editor which is capable to edit source code as well?

[2017-02-17 03:36] RyanCCollins commented on #1196
Hey @devdil, I can't speak for the entire Grommet team, but I think think a rich text editor or source code editor would be outside the scope of the Grommet Project.  The grommet library is more a collection of component primitives.

That said, this might be a great project for another repository, for example [Grommet-Addons](https://github.com/grommet/grommet-addons), which is a repository the gr

[2017-02-17 03:42] nomadus commented on #1196
@RyanCCollins, Hi, thanks for the pointers. What would be a good starting point for this project? Should this be based on an existing tool, such as draft-js? Or would this be a completely new component?

[2017-02-17 03:45] RyanCCollins commented on #1196
Hey @nomadus

I've used Draft-JS with Grommet before and it was a great experience.  You can see the sourcecode for that project [here](https://github.com/udacityalumni/udacity-alumni-fe/blob/master/app/src/components/CmsEditor/index.js#L21).

In the case of the grommet-cms, I believe we plan to make a draft-js-like toolbar from scratch.  We haven't gotten to that point yet, however, and are waiti

[2017-02-17 06:12] johnnyvcn opened #1197 "In Edge browser (13), clicking Menu icon triggers unhandled error."
In Edge browser (13), clicking Menu icon triggers unhandled error.

### Expected Behavior

No error happens.

### Actual Behavior

JS error happens.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce
 1. In Edge browser, press F12 to open developer tool, then go to [https://grommet.github.io/hpe/docs/menu/examples?responsive=true&icon=true&label=true&i-anchors=true](htt

[2017-02-17 16:51] alansouzati commented on #1191
Nice interesting.

Does this component have a fallback to the regular upload for users that cannot drag and drop?

[2017-02-17 17:11] alansouzati commented on #1193
Thanks for bringing this up. This is an interesting topic to discuss.

Recently, we removed all the internal ids from our elements, this is mainly to avoid unnecessary complexity to maintain a valid HTML structure. We kept facing "duplicated id" issues when folks were using multiple Meters, for example.

Another thing we did to simplify was to deprecate grommet-index. The structure has too many ab

[2017-02-17 17:15] alansouzati commented on #1196
thanks @RyanCCollins I agree with you. this would definitely be a component/feature to live outside grommet core.

I'm closing the issue for now. but feel free to keep the discussion going here.

[2017-02-17 17:15] #1196 closed

[2017-02-17 17:16] #1194 closed

[2017-02-17 19:21] RyanCCollins commented on #1191
Hey @alansouzati, it does, although I've yet to handle the case where a user tries to drop and html5 drag and drop is not available.

That said,  it does have a hidden html5 file upload that's accessible by clicking the drop zone.

[2017-02-17 19:28] RyanCCollins commented on #1191
Also, here is a demo of the component in use in grommet-cms

![file-upload](http://g.recordit.co/HrE49BdkFp.gif)

[2017-02-17 22:51] RyanCCollins commented on #1191
Btw, sourcecode for the component is [here](https://github.com/grommet/brand-central-cms/blob/master/src/js/components/Dropzone/index.js).  I'll wait until we get some feedback on this from CMS users and the UX/Design team before submitting into core.

[2017-02-18 17:39] sorin-davidoi opened #1199 "Tab expects label to be a string"
`Tab` throws errors in development when label is a React element.

### Expected Behavior

It should not throw any errors.

### Actual Behavior

It complains that label is not a string.

### URL, screen shot, or Codepen exhibiting the issue

http://codepen.io/anon/pen/RKmvaO?editors=0011

### Steps to Reproduce
 1. Open Codepen
 2. Open console
 3. Observe error

[2017-02-19 02:48] dgennetten commented on #1111
BTW, works as expected on Chrome and Edge.

[2017-02-19 21:59] RyanCCollins commented on #1196
Hey @nomadus, I have been toying with this idea over the weekend.

I would love to have a rich text editor that we could use in the grommet-cms.  I think before I go past the protyping stage, I would like to get designs of this and I have no clue when that will be possible.

If you are interested in seeing the progress, there is a [repo here](https://github.com/RyanCCollins/grommet-rte/blob/master

[2017-02-20 04:58] RyanCCollins commented on #820
@edude03 have you made any progress with the fixes for the bindings by any chance?  I may revisit them soon and would like to get them into the DefinitelyTyped repo.

[2017-02-20 10:46] nomadus commented on #1196
Thanks Ryan, that was quick!:) I surely look at it and send my feedbacks

[2017-02-20 16:50] dgennetten commented on #820
...and it would be great if one of you guys would do a write-up on using TypeScript with Grommet...

[2017-02-20 17:11] RyanCCollins commented on #820
Hey l

[2017-02-20 22:13] ProTip commented on #820
Does anyone have advice for getting the css to load? I keep getting the following:

[code]

[2017-02-21 20:39] mvanlonden opened #1201 "Cannot read property 'getBoundingClientRect' of null in Article Component"
https://github.com/grommet/grommet/blob/09589df5b119e4db53d95f91f8288de62dedc072/src/js/components/Article.js#L177

### Expected Behavior

Error should not appear in console. Not sure if effecting the UI

### URL, screen shot, or Codepen exhibiting the issue
![Debugging Screenshot](https://puu.sh/udD9a/d06266ec1b.png)
![Stack Trace](https://puu.sh/udG1N/6649e1fba8.png)
Notice how the children in t

[2017-02-21 21:21] sorin-davidoi commented on #1199
I want to localize the string using the `react-intl` library (e.g. pass `<FormattedMessage {...messages.tabname} />`).

[2017-02-22 00:32] #1182 closed

[2017-02-22 17:40] PranayShah commented on #632
What would be the current best way to use Grommet in a Meteor application (as of `v1.4+`)?

[2017-02-22 21:47] ericsoderberghp commented on #989
@nickjvm I was able to reproduce it with the repository you sent, thanks. However, I was unable to link that repository to my local grommet to dig into it. So, I created a new repository using `grommet new` and then copied over the relevant components from yours. But, I can no longer reproduce the problem. It appears there's something different in your environment than mine. I'm still digging into

[2017-02-22 22:14] nickjvm commented on #989
@ericsoderberghp Thanks for digging into it.

I ran your repo and was also not able to replicate. I'll compare webpack configs and see if there's something that sticks out that is different. The setup we're using came from `grommet-toolbox`.

Thanks for pointing out the extra `<App />`. I think that was just a bad copy/paste when I was trying to shrink the code for demo purposes. Our real app only

[2017-02-22 22:57] sorin-davidoi opened #1202 "Dependency usage - react-desc"
I'm currently analysing the content of my Webpack bundles and I'm noticing that `react-desc` is being pulled by the Anchor component. It appears to be the only one using it. Since this is a development dependency, I don't think it should be shipped to the browsers.

### Expected Behavior

`react-desc` is not a dependency (at least not a production dependency) and is not shipped to the browsers.

#

[2017-02-23 00:08] arabold commented on #1191
@RyanCCollins , I'm interested in this as well. Could you update the link?

[2017-02-23 06:53] huiwang-hpe commented on #1193
Thanks Alan for the feedback.

Exactly as you said, grommet-index has too many abstractions.
Unfortunately, our project was created from the template of "Ferret" which uses grommet-index.

For example, this is how we are getting the row count in the page object:

`get itemsCount() {`
`    let items = browser.elements('.index__items > .grommetux-list.grommetux-list--selectable.index-list > li').val

[2017-02-23 11:17] Catx7 opened #1203 "Search is not using updated value"
Hello,

The problem appear in every browser usint last grommet update.
I use:
`import Search from 'grommet/components/Search';`
`<Search
              defaultValue={searchValue}
              fill={true}
              inline={true}
              placeHolder={searchInputPlaceholder}
              onDOMChange={searchHandler}
            />`
The searchValue is updated by store or by user input.
If th

[2017-02-23 12:15] Enaitz opened #1204 "Checkbox component does not expose an ID prop"
Checkbox component does not expose an ID prop. Can checkbox expose a property to give it an id? so that testing tools can target it with easy.

(*Radio buttons have this functionality)

### Expected Behavior

A custom ID should be able to be rendered

### Actual Behavior

No custom ID can be rendered

[2017-02-23 17:52] RyanCCollins commented on #1191
Hey @arabold, sorry about that.  The link that I shared goes to a private repository.  We intend to move this into grommet, or into its own repository at some point but not right away.  I will post when I have more details.

[2017-02-23 18:32] tracybarmore commented on #1192
removing card - I created it in the wrong repo. new card opened in grommet-docs:
grommet/grommet-docs#248

[2017-02-23 18:33] #1192 closed

[2017-02-23 19:14] mcwagner10 opened #1205 "Radio button labels are cut off on small devices"
On the iPhone 5 & 6, which has a shorter width (300-400px), the text labels for radio buttons are cut off even with relatively short text.

### Expected Behavior

The content should wrap neatly to the right of the radio button.

### Actual Behavior

The text leaves the screen.

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/kanhajeevan/pen/vgwzzz

### Steps to Reproduce

[2017-02-23 19:57] ericsoderberghp commented on #1204
If given an `id`, CheckBox will transfer this to the underlying input DOM element. We didn't document it because the `label` is not required in CheckBox where it is on RadioButton. I am adding it to the propTypes though, since we do reference it if a label is specified.

[2017-02-23 19:57] ericsoderberghp commented on #1203
I think you need to use `value` and not `defaultValue`. Can you try that?

[2017-02-23 20:04] ericsoderberghp commented on #1202
Isn't it required since Anchor.js uses it? It needs to be in the grommet npm package since components importing Anchor will need it too.

I believe `react-desc` is just extending the basic PropTypes in react. It is a fairly small package, so I doubt it is contributing significantly to your bundled app size. But, I do like the idea of keeping the package footprint as lean as possible. @alansouzati

[2017-02-23 20:10] gmeans commented on #1203
@ericsoderberghp I came here due to the same reason. It doesn't appear to work on the docs examples either.

https://grommet.github.io/docs/search/examples?placeHolder=true&suggestions=true

[2017-02-23 21:29] Catx7 commented on #1203
@ericsoderberghp  I tried ,but nothing good happends.

[2017-02-24 07:33] ishwark7 opened #1206 "Hover on Distribution charts hides the text in a tile. Also, sometime all the tiles are in hover state."
1.When one hovers over a distribution chart, the tile expands to show complete text. In some cases, the tile is expanded behind the neighboring tile.
 2. All tiles in distribution chart are sometimes in expanded(hover) state

### Expected Behavior

Text should be properly visible on hover and not get expanded behind some tile.
The tiles should not be in hover state always.

### Screen shot
![1](ht

[2017-02-24 09:11] ishwark7 opened #1207 "Internet Explorer 11: Range bar chart goes out of screen, if active range is the last point in the range"
In IE11, if one drags the slider buttons to the last point in the range of range bar chart, the buttons go out of page width.

### Expected Behavior

The buttons should stay in screen, the chart should not increase its width

### Screen shot and Codepen exhibiting the issue
Codepen: http://codepen.io/ishwark7/pen/ZeEVEx

Looks fine here:
![normal](https://cloud.githubusercontent.com/assets/2461823

[2017-02-24 10:59] Enaitz commented on #1204
thanks, closing

[2017-02-24 10:59] #1204 closed

[2017-02-24 14:46] baladr opened #1208 "Menu content remains visible and floating on the page"
**Expected Behavior**
Menu content should remain attached to menu.

**Actual Behavior**
The problem is reproducible in every browser using grommet 1.2.1.
I use Menu with the following props:
`<Menu icon={<FilterIcon />}
          title="Filter by"
          inline={false}
          responsive={true}
          closeOnClick={true} dropAlign={{"right": "right"}}>`

Changing the filter value is causin

[2017-02-24 18:37] #1205 closed

[2017-02-24 21:52] hdehal opened #1209 "Clicking outside modal ("layer") no longer closes it"
### Expected Behavior
Clicking outside of the modal ("layer") should close it (in addition to clicking the "X" close button). This used to work as of a few weeks ago and is the expected UX in all major frameworks outside of Grommet.

### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/docs/layer/examples?closer=true&flush=true

### Your Environment
Mac OS X
Safari, Fire

[2017-02-24 23:12] #1201 closed

[2017-02-25 00:08] mvanlonden commented on #1201
Thank you!

[2017-02-25 17:08] nomadus commented on #1018
If the above did not fix, add the following to fix issue
loaders: [
            { test: /\.json$/, loader: "json-loader" }
        ]

[2017-02-25 20:28] shai32 opened #1210 "Don't force sass loader to allow using grommet"
I think that forcing importing a sass file is a wrong approach
`import 'grommet/scss/vanilla/index';`

as we know create-react-app is very popular but we [can't use it with grommet](https://github.com/facebookincubator/create-react-app/issues/1639)

we can solve it easily by adding a compiled css into grommet package
so we can just import a simple vanila css.

Thats good not only for  create-react

[2017-02-25 20:46] shai32 commented on #1023
there is another problem using grommet with create-react-app

https://github.com/facebookincubator/create-react-app/issues/1639

any idea what to do?

of course with not using eject

[2017-02-26 00:11] shai32 opened #1211 "make UglifyJsPlugin more efficient"

[2017-02-26 00:14] #1211 closed

[2017-02-26 00:17] mvanlonden commented on #991
`Header`'s fixed prop works great on desktop but isn't working on mobile 😕

[2017-02-27 03:57] arabold opened #1212 "Notification component shows "Only a ReactOwner can have refs" error w/ SSR"
When using `Notification` together with server-side rendering I get this error in the Console:

(anonymous) @ index.js:56

This only happens with the Notification component, not with any other one. Instead of showing a notification, I only get a blank spacer where the box should be. Again, using any other component works fine so I can use a Paragraph or a simple Box as a workaround.

### Steps to

[2017-02-27 12:20] ishwark7 opened #1213 "[Ipad Mini] Issues in charts and their axis"
There are issues in graphs in Ipad Mini:
1. Range chart
2. Distribution chart
3. Bar chart

### Expected Behavior

The graphs should behave normally on Ipad mini

### Actual Behavior

1. The X-axis in range chart, changes to vertical layout. Graph is also split in 2 lines
2. Distribution chart is skewed
3. The X-axis in bar chart, changes to vertical layout. The Y-axis is above the chart. (Refer s

[2017-02-27 12:42] dioklecijan commented on #1208
Here is a problem demonstration: http://codepen.io/gimei/pen/ryVYEz

[2017-02-27 15:09] arabold opened #1214 "Hero banner in docs apparently broken"
When going through the latest docs I've noticed rendering errors for the Hero banner documentation here: https://grommet.github.io/docs/hero

Here's a screenshot with narrow screen:
![image](https://cloud.githubusercontent.com/assets/1548229/23366414/7d053ff2-fcbb-11e6-856e-8a660e9f4ae1.png)

With a wider screen the "Sample Heading" text doesn't even show up.

The "Examples" on that page do not wo

[2017-02-27 15:24] arabold commented on #1210
I'd appreciate a pre-bundled CSS file as well. Using SASS complicates our deployment unnecessarily as we have to treat `grommet` different to other `node_module` components. We use server-side rendering on AWS Lambda (Node 4.3) together with hosting static files on S3. Due to the nature of this setup we cannot do any on-the-fly processing of ES6 or SASS (as it's done in sooooo many examples all ov

[2017-02-27 15:32] RyanCCollins commented on #1210
Hey @shai32 and @arabold, thanks for your notes!

You are not forced to use sass when you use Grommet, but grommet is built on top of a sass and for the meantime that is a reality.  If you do not want to bother setting up the sass-loader, you can always include only the compiled css, either compiling yourself or linking to the [grommet.min.css](https://github.com/grommet/grommet/blob/stable/gromme

[2017-02-27 15:58] RyanCCollins commented on #1210
As far as I know, there is no hard dependency on sass.  Sass compiles into css before it's loaded into the bundle.  Grommet needs css in order to work, but it doesn't matter whether sass precompiles it using the webpack sass-loader, or if it's included via a precompiled css file.

One thing to be aware of, however, is that your bundle would likely be bigger due to the fact that you are pulling in

[2017-02-27 18:19] #1212 closed

[2017-02-27 18:20] arabold commented on #1212
I'm gonna close this. I believe this was a broken `node_modules` folder that caused this for me. Sorry for the trouble.

[2017-02-27 22:36] hdehal opened #1215 "Login form width vs. button width differ"
Login form width vs. button width differ (see screenshot):
<img width="637" alt="screen shot 2017-02-27 at 2 33 50 pm" src="https://cloud.githubusercontent.com/assets/21130143/23383153/e6c73c04-fcf9-11e6-9375-6a656218bda4.png">

### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/docs/login-form

### Your Environment
Mac OS X && Firefox

[2017-02-28 10:53] martinezguillaume commented on #1214
Any workaround for this issue ? I tried to implement it on my project but I've the same rendering...

[2017-02-28 21:08] tracybarmore commented on #1208
Linking with #981

[2017-02-28 21:08] tracybarmore commented on #981
Linking with #1208

[2017-02-28 21:12] tracybarmore commented on #1209
linking with #1183

[2017-02-28 21:13] tracybarmore commented on #1183
linking with #1209

[2017-02-28 21:15] tracybarmore commented on #1213
Hey @ishwark7, thanks for raising the issue. Can you specify which version of iOS you're currently using? Thanks!

[2017-02-28 21:17] #1210 closed

[2017-02-28 21:17] RyanCCollins commented on #1210
@arabold, I have closed this issue, but please feel free to keep this conversation open.

[2017-02-28 21:18] tracybarmore commented on #1215
Validated in Firefox. Thanks for raising this issue!

[2017-02-28 21:25] tracybarmore commented on #1133
linking with grommet/grommet-design#38

[2017-02-28 21:26] tracybarmore opened #1216 "Update Component Styling to HPE General Sticker Sheet 1.0 Changes"
linking with grommet/grommet-design#47

[2017-02-28 21:35] tracybarmore commented on #1197
Hey @johnnyvcn, I can't seem to replicate this issue on BrowserStack Edge 14 and 13. Can you verify this is still an issue? Thanks!

[2017-02-28 21:38] tracybarmore commented on #1190
Hey @dioklecijan, we agree. We just need to work through how to manage and communicate this change since it would mean a breaking change.

[2017-02-28 21:41] tracybarmore commented on #1187
Hey @MarcoMedrano, we're loving this idea. Pull requests are gladly accepted. Thanks for your continued collaboration!

[2017-03-01 03:47] #1175 closed

[2017-03-01 03:47] #1214 closed

[2017-03-01 03:48] ericsoderberghp commented on #1203
We've enhanced the documentation to update the value from the selected suggestion.

[2017-03-01 03:48] #1203 closed

[2017-03-01 07:35] ishwark7 commented on #1213
iOS version we are using is 8.4
Thanks.

[2017-03-01 09:26] dioklecijan opened #1217 "Menu component label prop"
It looks that menu label prop is required and cannot be an empty string when using together with the icon prop:

These menus are not rendered:
`<Menu icon={<Actions />} >`
`<Menu icon={<Actions />} label="">`
`<Menu icon={<Actions /> inline={false} >`

while these are rendered correctly:
`<Menu icon={<Actions />} label=" ">`
`<Menu inline={false}>`

CodePen playground: https://codepen.io/gimei/pen

[2017-03-01 20:22] dgennetten commented on #868
I'm not sure this is an issue.  I cannot reproduce the error and in fact in the grommet.io example, it works fine.

The codepen provided, however, has two issues which could be contributing to the author's position: 1) prop `step` is provided as type `string` when it should be `number`; and  2) there is no `onChange` handler, hence the control will render a read-only field!

[2017-03-01 20:47] dgennetten commented on #868
I don't believe this is an issue. I cannot reproduce the error and in fact in the grommet.io example, it works fine.

The codepen provided, however, has two issues which could be contributing to the author's position: 1) prop step is provided as type string when it should be number; and 2) there is no onChange handler, hence the control will render a read-only field!

[2017-03-02 01:49] #1207 closed

[2017-03-02 10:16] ishwark7 commented on #1207
I still see the issue existing in the codepen I provided. We need to avoid the horizontal scroll bar when we select the last point in the range.

[2017-03-02 13:10] mcwebb commented on #793
Hi @tracybarmore!
This issue is still present. Regarding your previous question, my hack (http://codepen.io/mcwebb/pen/vyNrbR) doesn't work when combined on a page with a fixed header since both that header and the table header stick to the top of the viewport.
When I posted that I was essentially just asking "is this what `scrollable={true}` is meant to do?"

[2017-03-02 18:03] #868 closed

[2017-03-02 19:11] MarcoMedrano opened #1218 "Basis not working on IE11 when using separator on BOX or TILE"
When adding a separator on a Box or Tile it is adding its separator size on IE which makes fail the basis.

### Expected Behavior
The 3 boxes should appear in a line as here (firefox):
![image](https://cloud.githubusercontent.com/assets/2736856/23522414/44be8be4-ff59-11e6-85fc-8b63e0863e0a.png)

### Actual Behavior
The last box gets down due separator added (IE11).
![image](https://cloud.githubuse

[2017-03-02 22:04] ericsoderberghp commented on #1217
I think the issue here is that the base icons aren't working in CodePen. We need to fix that.

[2017-03-03 10:54] Catx7 commented on #1203
I will be available in the next grommet release?

[2017-03-03 12:18] primozs commented on #732
This goal:
- Grommet CSS styles do not affect any other, possibly non-grommet, elements.
Is currently the biggest issue when you try to use some app module with no grommet dependencies with grommet app. The most noticeable that buttons "explode" to grommet size buttons and style.

[2017-03-03 12:41] primozs commented on #732
How could these be prevented from applying on non grommet module components?
Any suggestions? Thx

[code]

[2017-03-03 14:43] daconcei472 opened #1219 "Spinner rendering issue"
I created a grommet sample app using the grommet-cli, and added a spinner to the page. It's not rendering in the same way as in the current demo pages.
### Expected Behavior

The spinner should be an uninterrupted circle with a smooth animation

### Actual Behavior
The animation is slow, and it's a circle with 4 separate parts instead of a single line. Each of the 4 white portions will slowly chan

[2017-03-03 15:37] ashik-f-ahmed opened #1220 "Carousel setting infinite to false does not work"
Setting the infinite attribute/property to Carousel component does not work.
### Expected Behavior

We need a way to stop this infinite loop
### Actual Behavior

Loops infinitly. Goes to last Carousel page when swiping left from first and vice-versa.
### URL, screen shot, or Codepen exhibiting the issue
https://grommet.github.io/docs/carousel/examples/?autoplay=true&persistentNav=true&infinite=fal

[2017-03-03 18:11] cherih commented on #786
Modified the DateTImeDrop component to always display 6 weeks. This prevents the date change controls from jumping around:
![datetimedrop-screenshot](https://cloud.githubusercontent.com/assets/25066338/23562975/f21e2b34-0001-11e7-9317-3dd09f0170db.PNG)

Concerns:
1. It's hard to tell the difference between days in the selected month and those that aren't in the month. The styling for the other-mon

[2017-03-03 19:09] cherih opened #1221 "Re-sizing the DateTimeDrop component throws an unhandled exception"
### Expected Behavior
The browser console shouldn't have unhandled exceptions due to re-sizing components.

### Actual Behavior
Re-sizing the DateTimeDrop component generates uncaught TypeError exceptions.

### URL, screen shot, or Codepen exhibiting the issue
![datetimedrop-typeerror-exception](https://cloud.githubusercontent.com/assets/25066338/23564378/73c56bd4-0007-11e7-8115-234450f2a941.PNG)

[2017-03-06 10:23] wdonne opened #1223 "Add Dutch translation"
It would be nice to have a translation file for Dutch in the components/messages directory.

### Expected Behavior

Static labels, such as "Total" in a legend for example, should appear in Dutch when the language of the browser is set on that language.

### Actual Behavior

The default language is used.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce
 1. Use a Legend

[2017-03-06 14:23] snaemi commented on #704
It looks like some of the colors in grommet-core/_settings.color.scss do not have the !default flag, preventing me from overriding (like $colored-text-color, $active-colored-text-color). I've applied the changes to my environment, but am curious as to whether there is any specific reason the flag is missing or if there are plans to update those in the future?

[2017-03-06 23:40] ericsoderberghp commented on #1220
I cannot reproduce this in either of two ways:

1 - Go to initial example page and then turn off `infinite`. When it gets back to the first one, it stops playing.
2- Starting with the URL in the issue description above, the carousel plays through once and then returns to the beginning and stops.

If you are still able to reproduce the issue, can you further clarify the instructions on how to repro

[2017-03-06 23:43] ericsoderberghp commented on #1219
The new Spinning component styling is currently available only on the #stable version of Grommet. We will likely be releasing a 1.2.2 version coming up though.

[2017-03-06 23:44] #1219 closed

[2017-03-07 09:46] Catx7 commented on #1181
any solution?

[2017-03-07 17:58] ericsoderberghp commented on #1199
Fixed in 3c0d4b0de91bfd0e35e80981242be7c201d9d5a7

[2017-03-07 17:58] #1199 closed

[2017-03-07 19:23] ericsoderberghp commented on #1174
I can't seem to reproduce this. The CodePen on Opera, Chrome, and Firefox is always showing "4.54" for the total, which seems correct.

[2017-03-07 19:34] #1031 closed

[2017-03-07 20:13] tracybarmore commented on #1106
Closing issue as indicated in previous comment to clean up backlog. Feel free to reopen to bring it back to our attention. Thanks!

[2017-03-07 20:13] #1106 closed

[2017-03-07 20:15] tracybarmore commented on #1092
Hey @lichao-HP, sorry to be 'that guy', but we will be cleaning up our backlog next week by closing unresponsive issues that haven't been active for at least 30 days. If you would like this issue to remain open in our backlog, please comment to let us know. Thanks!

[2017-03-07 20:28] tracybarmore commented on #1165
Hey @avadhutkhavare, sorry to be 'that guy', but we will be cleaning up our backlog next week by closing unresponsive issues that haven't been active for at least 30 days. If you would like this issue to remain open in our backlog, please comment to let us know. Thanks!

[2017-03-07 20:29] tracybarmore commented on #1176
Closing issue as indicated in previous comment to clean up backlog. Feel free to reopen to bring it back to our attention. Thanks!

[2017-03-07 20:29] #1176 closed

[2017-03-07 20:46] tracybarmore commented on #1121
Closing issue since it hasn't been active for at least 30 days. Feel free to reopen this issue if it has not been fixed. Thanks!

[2017-03-07 20:46] #1121 closed

[2017-03-07 20:55] dgennetten opened #1224 "Timestamp not working properly in IE and Edge"
### Expected Behavior

fields='minute' and fields='second' should produce 2-digit results
### Actual Behavior

fields='minute' and fields='second' both act as if fields is unset
### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce
 1.  In IE/Edge go to https://grommet.github.io/docs/timestamp/examples?fields=minute
 2.  Observe full date/time rather than 2-digit minute
 3.

[2017-03-07 20:56] #1146 closed

[2017-03-07 21:02] #1160 closed

[2017-03-07 21:18] tracybarmore commented on #1181
Hey @Catx7, thanks for bringing up this issue. We have another IE11 issue that we are looking in to so will combine efforts here. Stay tuned!

[2017-03-07 21:28] ericsoderberghp commented on #732
Those are inside the `.grommet` selector context, which was put in to prevent them from applying to content outside a grommet context. Can you elaborate a bit on why you are not wanting grommet styling when you are inside a grommet context?

[2017-03-07 21:47] ericsoderberghp commented on #1213
We've updated the Grommet browser support page to clarify that iOS < 9.3 is not supported. https://grommet.github.io/docs/browser-support/

[2017-03-07 21:47] #1213 closed

[2017-03-07 21:48] #786 closed

[2017-03-07 23:27] alansouzati commented on #1073
Fixed in https://github.com/grommet/grommet-docs/commit/3c7be98435a3670d61c09db5954112643edfa202

[2017-03-07 23:27] #1073 closed

[2017-03-08 09:24] primozs commented on #732
# My specific case

## Structure
[code]

# Grommet styles I had issues with
[code]

# Style fixes
- First part was to prefix submodules with a custom prefix. This should be done
in the first place anyway.
- buttons fix
[code]

- Integration part bellow:

[code]

I like when grommet is applying general style like typography giving
me components for layout and other general components. I just think

[2017-03-08 10:46] primozs opened #1225 "Production build propTypes question"
How come this work for grommet in production build?
[code]
I guess grommet build does not remove propTypes.

Normally propTypes are removed in production when using babel - react-optimize presset. I noticed this when I made one custom icon using grommet template. What is the opinion on this?
Cheers

[2017-03-08 12:00] nomadus opened #1226 "MultiSelect: Make selected items visible only when selected"
Currently, the way the multiselect component works is not convenient. In case inline=false (default) a user has to click the arrow icon to see what specific items have been selected.
In case inline=true, the list of items is shown on the page, but when the list is big this may clutter the page.
### Expected Behavior

Ideally, it should show the selected items inline as anchors or buttons to see th

[2017-03-08 13:22] coltonw commented on #1174
That is because my pull request already fixed it!  This can be closed.

[2017-03-08 17:28] #1174 closed

[2017-03-08 17:55] alansouzati commented on #1103
Sorry for taking such a long time to get back to you on this.

Format date used to be a pattern in the past, but due to the UX complications it does not seem to be a pattern anymore. Grommet does not recommend doing this, this is why we don't have that built in.

The reason we don't have date format, is the same as the reason for not doing format validation as the user type in the field. We prefer

[2017-03-08 17:55] #1103 closed

[2017-03-08 18:56] alansouzati commented on #1180
Fixed by https://github.com/grommet/grommet/commit/a957c942e68fb73a1e9c8a4d5c76e129ee40aadc

[2017-03-08 18:56] #1180 closed

[2017-03-08 19:06] alansouzati commented on #1217
@ericsoderberghp is right. We recently changed the minified js structure to have a better webpack2 support.

the base icons are now available as: `BaseIcons.ActionsIcon`  where BaseIcons is being read from `Grommet.Icons.Base`, the base object will have the icon name and the `Icon` suffix. I've fixed your codepen to reflect that.

https://codepen.io/alansouzati/pen/OpWXKR?editors=0010

[2017-03-08 19:06] #1217 closed

[2017-03-08 19:13] alansouzati commented on #1193
Can you add a child of the LI with a classname? Assuming that you can do this, I would change my selector to only include that.

[code]

I'm closing this issue for now, as I don't think there is anything to change in Grommet core.

Please feel free to open the issue again if you still feel something should be done.

[2017-03-08 19:13] #1193 closed

[2017-03-08 19:19] alansouzati commented on #1202
I understand your concern and I'm glad to hear that your analyzing the webpack bundle size.

As @ericsoderberghp said, `react-desc` is a very small package and it is currently being used in production to bundle the documentation of a given component. This is actually described in the react desc documentation:

https://github.com/grommet/react-desc#limitations

Unfortunately I did not have time yet

[2017-03-08 19:20] alansouzati commented on #704
It should be not missing , it is a bug. Would you mind to send a pull request to add the `!default` flag to these variables? thanks for identifying this @snaemi

[2017-03-08 19:33] alansouzati commented on #1177
Fixed by https://github.com/grommet/grommet/commit/6024dcd34e4b23df4c673abaf4ccd1e482178102

[2017-03-08 19:33] #1177 closed

[2017-03-09 00:07] alansouzati commented on #1181
This is actually a limitation with ie11. As per their docs `navigator.userLanguage` will return the installed language. I tested it myself and it is not working as well. Locale utils is doing the job as documented by ie11.

Do you have access to your back-end? Can you make sure to set a Cookie with the accept-language?

See this: https://github.com/grommet/grommet-toolbox/blob/master/src/gulp-task

[2017-03-09 00:07] #1181 closed

[2017-03-09 00:28] #1145 closed

[2017-03-09 00:31] alansouzati commented on #1218
Good catch. Fixed by https://github.com/grommet/grommet/commit/a22243785532b5ca0e43915c761d88bce0ae911b

[2017-03-09 00:35] alansouzati commented on #1223
We don't have the resources in our team to add Dutch translation. You can either add that Total entry in your react-intl or send a pull request to add Dutch support.

See this video for reference on internationalization: https://vimeo.com/173575546

I'm closing this issue as I believe it is not a bug in Grommet. We kindly appreciate pull requests! 👍

[2017-03-09 00:35] #1223 closed

[2017-03-09 00:45] alansouzati commented on #1158
Fixed by https://github.com/grommet/grommet/commit/1c455132a7d5ddf51ab9da0303f03d5430383db3

[2017-03-09 00:46] #1158 closed

[2017-03-09 06:24] ishwark7 commented on #1207
This is not fixed, can you please reopen this one?

[2017-03-09 12:05] ashik-f-ahmed commented on #1220
Thanks @ericsoderberghp, so infinite works only with autoplay?

We would like to stop swiping in the Carousel page from first to last and last to first.

Here is a sample: https://codepen.io/manjitp46/pen/jByemR?editors=1010

[2017-03-09 13:51] mjasnikovs opened #1227 "Meter component threshold line is cropped on small resolution"
Meter component threshold line is cropped on small device resolution

Image, from google chrome, it looks same on actual Android device.

![capture](https://cloud.githubusercontent.com/assets/12757881/23752846/a1328598-04df-11e7-960a-94c9286b40c0.PNG)

You can replicate same issue if you take a look [here](https://grommet.github.io/docs/meter/examples?type=arc&threshold=true&size=small&i-value=tru

[2017-03-09 15:12] Catx7 opened #1228 "[BUG] Number-Input alpha characters"
https://grommet.github.io/docs/number-input

Number input allows alphanumeric typing on Mozilla and IE.

On Chrome user can introduce only numeric characters.

The behaviour from chrome should be on Mozilla ad IE too.

[2017-03-09 15:52] MarcoMedrano commented on #1063
I would like to have medium icons 36x36 the currrent one looks like small 24x24 I guess xsmall would be 12x12.
Not sure if you have plans for 36x36 icons but I see the need, 24 is small and 48 too big.

[2017-03-09 23:46] ericsoderberghp commented on #1228
Grommet just uses the underlying browser's `<input type="number" />` element. We've tended to keep our changes to core elements like this tied as closely to the browser behavior as possible and only wrapping them to allow restyling a bit.

But, contemplating if this  warrants an exception to that approach.

[2017-03-10 01:59] alansouzati commented on #1144
Implemented in https://github.com/grommet/grommet/commit/3813d89f1eb4af94e0677172933ddd562dc10f7e

[2017-03-10 01:59] #1144 closed

[2017-03-10 02:05] alansouzati commented on #1218
The fix for this broke other items. I'm reopening this and will investigate another solution.

[2017-03-10 07:13] ishwark7 opened #1232 "Scrollbar issue in distribution chart"
Hovering over the distribution chart, adds vertical/horizontal scrollbars to the chart

### Expected Behavior

Scroll bars should be avoided on the distribution chart.

### Actual Behavior

Scrollbars don't show up on first load.
Once you hover over the chart/tiles, they get added.They don't go away even when you remove the cursor from it.

### URL, screen shot, or Codepen exhibiting the issue
htt

[2017-03-10 09:05] ishwark7 opened #1233 "Internet Explorer 11: Range bar slider buttons are misaligned in the chart"
In IE11, slider buttons in range bar do not lie between the lines, but are a bit below the actual chart
Refer screenshot for better idea.

### Expected Behavior

The slider buttons should behave same way as in other browsers:Chrome/Firefox

### Actual Behavior

The buttons appear to be misaligned

### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/ishwark7/pen/ZeEVEx

1. Slide

[2017-03-10 10:06] fibasile opened #1234 "Issues on Card's image alignment"
### Expected Behavior

I expected a similar alignment to the Card Example (that looked correct yesterday), today also that is broken.

### Actual Behavior

The image is misaligned

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/anon/pen/zZZPwz?editors=0011

### Steps to Reproduce
 1. Add a Card to an empty app
 2. Set a 300x300 image as thumbnail

### Your Environment

*

[2017-03-10 14:51] Catx7 commented on #1228
You are right problem is regarding Firefox .
close.

[2017-03-10 14:51] #1228 closed

[2017-03-11 00:16] alansouzati commented on #1218
Fixed again in https://github.com/grommet/grommet/commit/3de2781c849512235b5b65df549aa5974d82065b

Sorry about the back and forth

[2017-03-11 00:16] #1218 closed

[2017-03-11 10:39] dunnock opened #1236 "Table header with colSpan raises exception in the console"
Having table with 2 columns with `<th colSpan="2">{title}</th>` produces exception and not working in responsive mode

### Expected Behavior
No error and responsive mode work fine

### Actual Behavior

[code]

Line of code:
[code]

### URL, screen shot, or Codepen exhibiting the issue

http://codepen.io/maximvorobjov/pen/LWyZgr?editors=0011

### Your Environment
* Grommet version: 1.2.1
* Browser

[2017-03-13 14:54] dunnock commented on #1236
Also I noticed that this issue might break React's flow, containing component's componentDidMount does not get called.

[2017-03-13 15:01] MarcoMedrano commented on #1218
Glad to know it is fixed!

[2017-03-13 16:50] alansouzati commented on #1063
This is still a working in progress. Please stay tuned for updates in this issue.

[2017-03-13 17:09] ablx opened #1237 "Distribution in a Box gets NaN in render method"
If you put a Distribution in a Box (**with align='center'**), the render method throws an error:
```Warning: `NaN` is an invalid value for the `maxHeight` css style property. Check the render method of `Distribution`.``` and the Distribution is very small

### Expected Behavior
The Distribution should be layouted correctly in the Box / better error message if this behaviour is intended.

### Actua

[2017-03-14 02:11] MarcoMedrano commented on #1063
Yeah np, I was just wondering myself if we were going to have the 36x36 icons.

[2017-03-14 11:10] lorem--ipsum commented on #820
Hey @RyanCCollins I can't find the typings anywhere, it looks like the repo is no longer accessible. Any chance you could publish those types again ? Thanks !

[2017-03-14 14:57] ericsoderberghp commented on #1233
There is also a problem on Firefox at https://grommet.github.io/hpe/docs/chart/examples?height=xxsmall&i-Axis-time=false&i-Axis-value=false&i-Grid=false&i-Area=false&i-Line=false&i-Bar=true&i-Marker=false&i-HotSpots=false&i-Range=true.

[2017-03-14 15:08] hdehal opened #1238 "Double scrollbars"
Many browsers (IE/Firefox/Chrome) exhibit double scrollbars. I cannot replicate on Mac OS X, but can replicate on Linux and Windows across a handful of browsers. Screenshot is of Chrome, for example.

### URL, screen shot, or Codepen exhibiting the issue
This issue is visible across many/most Grommet pages, e.g.
https://grommet.github.io/docs/components/
![double_scrollbars](https://cloud.githubus

[2017-03-14 15:09] ericsoderberghp commented on #1232
I haven't been able to reproduce this.

[2017-03-14 15:45] fibasile commented on #1234
Looks fixed now, closing.

[2017-03-14 15:45] #1234 closed

[2017-03-14 17:20] tracybarmore commented on #1084
@ido-ran, thanks for your collaboration with us. We are going to be investigating in to this more in the near future, but wanted to let you know that this will most likely be a post v2.0.0 release item. We will keep you posted. Thanks!

[2017-03-14 18:00] MarcoMedrano commented on #1187
Added pull request :) https://github.com/grommet/grommet/pull/1239

[2017-03-14 18:03] tracybarmore commented on #1092
March 14, 2017 - Backlog grooming resulted in the closure of this issue. Please feel free to reopen to continue the conversation. Thanks!

[2017-03-14 18:04] #1092 closed

[2017-03-14 18:50] tracybarmore commented on #1165
March 14, 2017 - Backlog grooming resulted in the closure of this issue. Please feel free to reopen to continue the conversation. Thanks!

[2017-03-14 18:51] #1165 closed

[2017-03-14 19:03] hdehal commented on #1232
Are you testing across multiple browsers? I can get scrollbars in Firefox on OS X.

And in other browsers (e.g. Safari) I can get the charts to move around on mouseover (not in a good way).

![charts_scrollbar](https://cloud.githubusercontent.com/assets/21130143/23917908/2ccec41e-08ae-11e7-9bcb-a481a5c6a487.png)

[2017-03-14 19:10] tracybarmore commented on #1159
Hey @nickjvm, when chatting with the team, Eric and Alan were wondering if you have a proposal to fix the issue? Thanks!

[2017-03-14 19:43] RyanCCollins commented on #1159
So looking through the source code, it appears that the tabs component is mapping over all of the children passed in.  I believe that your expression `{false && ....}` is evaluating to false, which does not have a `props` property.

A quick fix would be a null check on the tab when mapping over children
[code]

[2017-03-14 19:45] nickjvm commented on #1159
@RyanCCollins I was just about to create PR with that same logic 😄

[2017-03-14 20:07] tracybarmore commented on #793
Thanks for the new codepen - that helped validate the issue. We will look further in to this. Thanks!

[2017-03-14 20:24] alansouzati commented on #1225
Yeah, currently we are not removing propTypes in production and you have a fair point, we need to evaluate this as keeping propTypes could lead to bigger bundles.

I don't have a fix in mind for this yet as we need to prune down the list of properties to pass down to child components. Do you have a suggestion?

[2017-03-14 20:26] L0ZZI commented on #1226
Thanks for sharing! I wouldn't classify this as an issue, it's more of an enhancement or a new component as the existing menu component functions as intended. The enhancement you're asking for will run into issues as well when trying to show many selected items within the field,  masking multiple values or having to grow the size of the field. Either way there will be a cost to enhancing the desig

[2017-03-14 20:37] alansouzati commented on #732
I believe when we Grommet 2.0 this global modifiers will go away. As an example I believe we will set `box-sizing` for each of the css-module we create (e.g. Select, Box, ...)

[2017-03-14 21:03] tracybarmore commented on #704
Fixed with #1231

[2017-03-14 22:14] primozs commented on #1225
@alansouzati I was trying couple of things but did not found good solution. I was thinking you might have some good idea. Currently not removing the propTypes in Grommet seams like the best one. But in my app code I don't have to do it like this.

[2017-03-14 23:08] #1233 closed

[2017-03-14 23:18] #1238 closed

[2017-03-15 01:45] nomadus commented on #1226
Hi,
Indeed this came out when I tried to add a tag cloud feature into the page. As of now to see the selected options
1) one has to click the down arrow and the selected items are highlighted in different color
2) or when using inline=true option, all the items are shown below with check boxes.

From visualization point of view, #1 is not acceptable for me as when it comes long lists, the user has

[2017-03-15 04:11] #1159 closed

[2017-03-15 04:21] #1187 closed

[2017-03-15 05:41] alansouzati commented on #1225
Yeah, I don't think it is a big problem to leave a library with documentation for their documents in the production build. The grommet docs site will have to leave the propTypes in, but all the other sites I guess it is safe to remove it.

I'm closing to close the issue for now. We can always revisit it if we find a good fix for it, thanks for bringing this up.

[2017-03-15 05:41] #1225 closed

[2017-03-15 07:07] ishwark7 commented on #1232
Hi,

Maybe, you can try to change the layout of the codepen as seen in the screenshots below.

I am able to reproduce this on Windows:
1. Chrome : 57.0.2987.98 (64-bit)  The issue was present earlier, it still exists in latest update too.
![chrome](https://cloud.githubusercontent.com/assets/24618233/23937066/89799e8c-097b-11e7-9501-84de5988fec8.PNG)

2. Firefox: 52.0 (32-bit) The issue was present

[2017-03-15 16:22] alansouzati commented on #1221
Fixed in https://github.com/grommet/grommet/commit/016abd4adae01a90d85c7de744ce38e36db8a60c

[2017-03-15 16:22] #1221 closed

[2017-03-16 00:27] #1189 closed

[2017-03-16 01:05] #1149 closed

[2017-03-16 01:05] #897 closed

[2017-03-16 01:06] #1063 closed

[2017-03-16 04:10] john-codeworx opened #1241 "NumberInput controlled to uncontrolled"
When setting the value of a NumberInput to a state variable, a warning is displayed in the conosle when updating the value of the control.

### Expected Behavior
No warning

### Actual Behavior
getting
[code]

### URL, screen shot, or Codepen exhibiting the issue

Codepen: https://codepen.io/john_codeworx/pen/wJrxve

[2017-03-16 18:32] gitdistill commented on #1161
did it change even more in the most recent update 1.3.0?

Seems weird to me that it changes, at the very least it should inherit the link color.

![screenshot 2017-03-16 11 31 16](https://cloud.githubusercontent.com/assets/2692764/24012711/38bb06d6-0a3c-11e7-8932-c69dd6464216.png)

[2017-03-16 19:08] alansouzati commented on #793
Just to provide more information around this. for now, scrollable has to be inside a flexbox container to work fine. I'm currently investigating if there is a way to solve this problem in another way.

Checkout this codepen:

http://codepen.io/alansouzati/pen/JWORYR?editors=0010

It works fine if it is not on mobile. I will investigate that also.

[2017-03-16 20:45] alansouzati commented on #793
Fixed in https://github.com/grommet/grommet/commit/6c63a431017c6de962f07d4f6ad1d80f20819ef5

[2017-03-16 20:45] #793 closed

[2017-03-16 20:46] alansouzati commented on #1063
36 medium icons are now available, https://grommet.github.io/docs/icon

[2017-03-16 20:48] MarcoMedrano commented on #1063
Yeah, I updated to grommet 1.3, and I am playing with the new icon sizes. Appreciated man!!

[2017-03-16 20:49] alansouzati commented on #1202
Actually Grommet will stay with the propTypes in, so that we can use that in grommet-docs to show documentation. We recommend you adding that plugin in your babel config to remove propTypes from your app and your dependencies.

I'm closing this issue for now as I believe there is nothing to be done here. Feel free to reopen it if you have a better idea on how to solve this.

[2017-03-16 20:49] #1202 closed

[2017-03-17 08:07] arjunbm468 opened #1243 "Focus and Font issue on color-indexed Menu"
We are migrating our project from  Grommet v0.6.9 to v1.2.1

As part of this migration we found out that the focus event and fonts on Menu are incorrect.

I think this issue will happen in all the components which uses colorIndex as "neutral-1" or any other color indexes.
Please see the attachments of Menu and Layer contents.

### Expected Behavior

1. On click of menu, the focus should display a

[2017-03-17 11:27] arabold opened #1244 "Import issues with Grommet 1.3.0"
I've upgraded from Grommet 1.2.1 to 1.3.0 and found a couple of issues with my imports.

Here's an example of how I include Grommet's components using ES6 and Babel:

My custom app class:
[code]

After upgrading Node complained `Cannot read property 'App' of undefined`. I had to change my import statement to this:
[code]

Similar is true for icons. I used to be able to do
[code]

This throws the s

[2017-03-17 17:07] alansouzati commented on #1244
Im sorry about that. it should have any breaking change. Let me investigate that and release a patch fix that allows using `import Grommet from 'Grommet'`

[2017-03-17 19:08] alansouzati commented on #1244
I'm so sorry we added this breaking change in minor version increment.

We added the fix for that in this commit: https://github.com/grommet/grommet/commit/605d8bac8ed7bc08af4bfc61724f27957aa9bcdd

We are going to release 1.3.1 with this fix today.

[2017-03-17 19:26] #1243 closed

[2017-03-17 20:09] alansouzati commented on #1236
Fixed in https://github.com/grommet/grommet/commit/cdd7eb349831eacd1548ece3ffe27520610e82b3

[2017-03-17 20:09] #1236 closed

[2017-03-17 23:09] monte-hayward opened #1245 "Unknown prop `align` on <div> tag (App)"
### Expected Behavior
proprietary attributes translated or removed

### Actual Behavior
attributes remain, e.g. "align"

[code]

### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/monte-hayward/pen/BWJNeK?&editors=0010

### Steps to Reproduce
 1. `import App from 'grommet/components/App';`
 2. `<App>{children}</App>`
 3. load page

### Your Environment
* Grommet version: 1.3.1

[2017-03-18 07:38] arabold commented on #1244
Hi @alansouzati , thanks for the update. While the import statement `import Grommet from 'grommet'` works, it's still not possible to use either `Grommet.App` or `Icons.Base.Menu` following the examples above.

In other words, the following code just prints `undefined` for both `Grommet` and `Icons.Base`:

[code]

[2017-03-18 23:22] shai32 opened #1246 "Error on Anchor component"
Getting an error when using Anchor, after updating react-router to version 4

### Expected Behavior
The Anchor should work and displayed on screen

### Actual Behavior
getting a console error after updating react-router to version 4:
Uncaught TypeError: router.isActive is not a function
    at new Anchor (Anchor.js:59)
all the component crashes and noting shown on screen

### URL, screen shot, or

[2017-03-19 10:38] myagoo opened #1247 "Size xsmall is not supported for icons"
Setting the size property of an Icon component to "xsmall" is the same as default value "small".

It seems the problem is located in [these file ](https://github.com/grommet/grommet/blob/master/src/scss/grommet-core/_objects.icon.scss
) which seems fine but is doest not correspond to what installed under my node_modules version.

So it seems to be a release issue

[code]

### Expected Behavior

Ic

[2017-03-20 02:01] bsjaffer opened #1248 "Meter series with more than 4 values not rendering as expected"
I am using meter series with more than 4 values , when i have meter series more than 4 values then the bar size is becoming small, please find the code snippet and image attached. Is this an issue are i am missing something in configuration. ?

[code]
With 5 values,

![image](https://cloud.githubusercontent.com/assets/1895191/24086991/ea972682-0d3e-11e7-9c3c-beddeabc235e.png)

With 4 values render

[2017-03-20 09:53] dakt commented on #467
Am I missing something...it seems that this is not working anymore. Can anyone confirm this?

[2017-03-20 10:30] h-arlt opened #1249 "TypeError in Table._adjustBodyCells() due to array index out of bounds"
### Expected Behavior
State transitions caused by click on anchors/buttons defined in table body work as expected and no errors are logged.

### Actual Behavior
Browser console logs: TypeError: Cannot read property 'innerText' of undefined
and clicking on any anchor defined in table body does not cause state transition anymore.

### Sample code
[code]

### Steps to Reproduce
 1. Run code above wit

[2017-03-20 10:59] psales commented on #1249
I have the same error message when loading a data into a Table component.
I think the issue is that the `headerIndex` variable is not reset to `0` when looping through the next row of the table.

In this line:
https://github.com/grommet/grommet/blob/v1.3.1/src/js/components/Table.js#L331 @alansouzati

[2017-03-20 15:44] alansouzati commented on #1245
App does not support `align` attribute, so I'm not sure what do you mean by "proprietary" attributes.

If you want to have the content of your app in the center of a page please use Box.

I've create a codepen for you: http://codepen.io/alansouzati/pen/yMvoeR?editors=0010

I'm closing this issue since I believe there is nothing to be fixed here. Please feel free to reopen if you think otherwise.

[2017-03-20 15:44] #1245 closed

[2017-03-20 15:51] alansouzati commented on #1246
Thanks for bringing this up. Grommet does not support React router 4 yet. We should definitely look into this.

[2017-03-20 15:53] alansouzati commented on #1247
Grommet xsmall size is only available in the latest Grommet release. 1.2.1 does not have support for it.

Could you please upgrade to grommet 1.3.1?

I'm going to close this issue since I believe there is nothing to be fixed here. Please feel free to reopen if you think otherwise.

[2017-03-20 15:53] #1247 closed

[2017-03-20 16:36] alansouzati commented on #1249
Yeah, sorry I should have tested this more. Let me work on a fix for this today.

[2017-03-20 16:39] alansouzati commented on #1244
Let me try to reproduce this.

[2017-03-20 16:40] alansouzati commented on #467
@dakt let me work on a codepen to test this out again.

[2017-03-20 17:30] alansouzati commented on #1249
Shame on me, sorry folks. I've fixed this on https://github.com/grommet/grommet/commit/cd5b9ac23cfba79682dc805ff7a84367a9c0bb9b

I will soon release 1.3.2 with this fix, there are a couple of other items I will include in this release as well.

[2017-03-20 17:30] #1249 closed

[2017-03-20 18:20] dakt commented on #467
@alansouzati  Yeah, sorry, completely missed the  "props transfer" comment you made. I just wrapped CheckBox inside the Box and worked from there. Not sure why we cannot do the directly on CheckBox?

[2017-03-20 18:21] alansouzati commented on #467
oh for the checkbox I believe you need to listen for the onChange, right?

[2017-03-20 18:22] alansouzati commented on #467
it is just like another form input i believe.

[2017-03-20 18:32] alansouzati commented on #1248
Thanks for this issue. I'm adding a codepen for folks that want to easily reproduce this:

http://codepen.io/alansouzati/pen/dvddbz?editors=0010

[2017-03-20 19:00] alansouzati commented on #1244
Yeah, it turns out the return of the import was the Grommet object itself. Sorry I should have done that more carefully.

I've added the fix for this here: https://github.com/grommet/grommet/commit/90f2a509222117e5ce177214cdd7e24f43ef0da5

I'm going to release 1.3.2 today with this fix in it.

[2017-03-20 20:23] tracybarmore commented on #989
Hey @nickjvm, sorry to be 'that guy', but we will be cleaning up our backlog next week by closing unresponsive issues that haven't been active for at least 30 days. If you would like this issue to remain open in our backlog, please comment to let us know. Thanks!

[2017-03-20 20:33] nickjvm commented on #989
@ericsoderberghp @tracybarmore We upgraded to 1.3.1 today, and after some brief testing, it appears to be resolved. If it continues to be an issue, I will reopen the issue.

[2017-03-20 20:33] #989 closed

[2017-03-20 21:56] ezzatron opened #1250 "Selectable tiles with colorIndex do not display as selected until first component update"
### Expected Behavior

When supplying a set of indices to a `Tiles` component's `selected` property, the selected tiles should display with a background color indicating their selected status. If a child `Tile` component has a background color set via its `colorIndex` property, this should not affect the display of selected tiles.

### Actual Behavior

When supplying a set of indices to a `Tiles`

[2017-03-20 22:47] ezzatron commented on #1250
@john-codeworx FYI

[2017-03-21 03:09] cheuk3 opened #1251 "fail to import Card component"
Cannot find module 'path' from 'vfile/index.js'

[2017-03-21 03:27] alansouzati commented on #1246
I spent a good amount of my day today trying to add support for React Router v4. It was somehow a frustrating experience. I really wanted to make that available in Grommet 1.3.2 but there is not much out there yet in terms of migrating from v3 to v4.

I was hoping it would be a simpler change, but it is not that simple.

Please see this issue I've created with react-router to understand better the

[2017-03-21 03:30] alansouzati commented on #1251
can you provide more details? which version of grommet are you using? which version of node and npm?

[2017-03-21 03:32] cheuk3 commented on #1251
sorry about that
im using grommet 1.3.1
node v6.9.5
npm 3.10.10
everything work fine except Card component is failed to import. Thanks!

[2017-03-21 03:42] alansouzati commented on #1251
this is very weird. I'm not able to reproduce this. can you share how are you importing it?

[code]

Also checkout this codepen, this seems to be working: http://codepen.io/alansouzati/pen/oZEJOB?editors=0010.

Can you delete and install your node_modules again?

[2017-03-21 03:45] cheuk3 commented on #1251
I'm using Phoenix framework with brunch. I've already tried deleting node_modules.

import React, { PropTypes } from 'react';

import Tile from 'grommet/components/Tile';
import Card from 'grommet/components/Card';

const ProductTile = ({ item }) => {
  return (
    <Tile align='stretch' pad='small' direction='column' size='small'>
      <Card label={item.name}
            thumbnail={item.url} />

[2017-03-21 03:51] alansouzati commented on #1251
are you using webpack 2? can you try adding a `json-loader` to your webpack config?

[2017-03-21 03:52] alansouzati commented on #1251
I believe we need to add the json-loader to the phoenix framework and push that to the repo.

[2017-03-21 03:55] alansouzati commented on #1249
1.3.2 released https://github.com/grommet/grommet/releases/tag/v1.3.2

[2017-03-21 03:55] alansouzati commented on #1244
1.3.2 released https://github.com/grommet/grommet/releases/tag/v1.3.2

Thanks for your patience @arabold

[2017-03-21 04:19] cheuk3 commented on #1251
im not using webpack 2. im using brunch which is phoenix default bundler.
i have tried to install json-brunch but i got the same error :(

[2017-03-21 04:31] alansouzati commented on #1251
I don't have experience with brunch. By looking at the logs I can say with confidence that there is something wrong with the way the loader works. As you can see `node_modules\character-reference-invalid\index.json.js` there is an unexpected `.js` suffix that most likely the loader is adding.

Is there a way to configure extension with brunch ?

[2017-03-21 04:38] cheuk3 commented on #1251
yes. it has a config file like webpack does but what do i need to config?

[2017-03-21 04:40] alansouzati commented on #1251
do you have `.json` as an extension in the brunch extensions array?

[2017-03-21 04:43] cheuk3 commented on #1251
this?
`exports.config = {
  // See http://brunch.io/#documentation for docs.
  files: {
    javascripts: {
      joinTo: "js/app.js"

      // To use a separate vendor.js bundle, specify two files path
      // http://brunch.io/docs/config#-files-
      // joinTo: {
      //  "js/app.js": /^(web\/static\/js)/,
      //  "js/vendor.js": /^(web\/static\/vendor)|(deps)/
      // }
      //
      // T

[2017-03-21 05:47] alansouzati commented on #1246
The support for react router v4 has been initially added in: https://github.com/grommet/grommet/commit/74ee5fe625e7777d30d6c49098b72863a4dfd1a6

It is supposed to be fully backwards compatible. Can you test it using grommet stable branch?

It would be a good idea if you could validate it works well before we release. I tested with a few apps but I would need more time to test with others.

If you

[2017-03-21 05:47] #1246 closed

[2017-03-21 05:52] alansouzati commented on #1251
how do you declare `.json` extension using brunch? this config does not help much.

unfortunately Grommet does not support brunch.

Some issues that might be helpful:

https://github.com/brunch/brunch/issues/1236

https://www.npmjs.com/package/json-brunch: The last activity in this plugin was 4 years ago!

Can you try to load a JSON file without grommet using Brunch? If this also fails, then it wo

[2017-03-21 06:26] arjunbm468 commented on #1243
@ericsoderberghp @alansouzati
Thank you fixing the issue.

As part of verification, i noticed that only Font styling has been **fixed**. But not the focus event on the menu icon.

I am not getting the green colored focus when you focus-in/focus-out of Menu icon
This is illustrated in the below image
![menu](https://cloud.githubusercontent.com/assets/18460656/24034210/745cc2c6-0b16-11e7-831c-ae5b94

[2017-03-21 06:32] cheuk3 commented on #1251
after install json-brunch, i can just require json file in js file. if i remove it, it fails
what json file does the Card component needs?

[2017-03-21 06:50] cheuk3 commented on #1251
this is from the source map

[code]

[2017-03-21 06:51] cheuk3 commented on #1251
Cannot find module 'path' from 'vfile/index.js'

[code]

[2017-03-21 07:17] cheuk3 commented on #1251
I think the issue is not related to grommet but i wonder why does it occur only in Card component :(

[2017-03-21 07:59] h-arlt commented on #1249
Awesome! Thanks.

[2017-03-21 10:15] arabold commented on #1244
Thanks for the update, @alansouzati . Indeed `Grommet.App` works as expected now.

However, there's still a problem with Icons: The class names have changed!

In the past (1.2.x) I could do something like this (note the `Icons.Base`):
[code]

Since 1.3.x this doesn't work anymore and results in an error:

Instead of referencing `Icons.Base.Menu` I have to reference `Icons.Base.MenuIcon` (note the

[2017-03-21 15:16] alansouzati commented on #1251
Yeah I also agree this is most likely not a problem in Grommet.

I tried to check if `vfile/index.js` exists in my `node_modules` and in fact it does:

![screen shot 2017-03-21 at 8 15 33 am](https://cloud.githubusercontent.com/assets/1207250/24154551/b649fdfc-0e0e-11e7-9f1e-75ae79248312.png)

Can you validate this on your end as well?

[2017-03-21 15:18] alansouzati commented on #1244
Humm 😢

I need to double check that, but you are probably right. Sorry it is being a while since I've touch the commonjs bundle and I apologize for the back and forth.

[2017-03-21 15:32] cheuk3 commented on #1251
yes it does exist. i found out that the path module is unable to import in vfile and the replace-ext module.
i tried to comment out both of the path import
and the card component works

[2017-03-21 15:41] alansouzati commented on #1251
I have to idea why brunch is not able to import these modules :(

[2017-03-21 15:47] cheuk3 commented on #1251
np alan, i will try to figure it out. thanks for your help :D

[2017-03-21 15:55] alansouzati commented on #1251
I'm going to close this issue for now as I believe there is nothing to fixed inside Grommet core.

Please post your results here once you figure it all out. We can always reopen later if we find that something needs to be fixed.

[2017-03-21 15:55] #1251 closed

[2017-03-21 16:12] RyanCCollins opened #1252 "Full Article with List Items onClick scroll issue"
Since the grommet 1.3 release, a Full Article with selectable children (list or box) has an event handler issue where the article will hijack clicks and scroll the view to the top of the article.

### Expected Behavior
The list should not scroll after clicking a list item

### Actual Behavior
The list scrolls to the top of the page

### URL, screen shot, or Codepen exhibiting the issue
http://code

[2017-03-21 16:25] RyanCCollins opened #1253 "Safari Flexbox Bug / Regression - Shrinking / overlapping flex containers"
It seems that a flexbox bug has recently been introduced into Grommet.  I believe that this [documented flexbox](https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored) bug is the culprit.

We are experiencing this in the content rendered by the grommet-cms in safari.   Content that should have a minimum height seems to be shrinking so that successive flexbox i

[2017-03-21 16:25] alansouzati commented on #1244
Cool, I've removed the `Icon` suffix from the exports in this commit:

https://github.com/grommet/grommet/commit/a6b4ea54c686892e1d9aba1780bd2073fdc489ef

When I release 1.3.3 I'm confident that you will be able to use grommet as you used to before 1.3.0

[2017-03-21 16:25] #1244 closed

[2017-03-21 17:11] jozsi opened #1254 "Anchor animation causes scrollbar in Header"
When hover an Anchor link with an animated icon, inside a Header, an unexpected scrollbar appears (I noticed it only starting the 1.3.x branch).

Codepen: http://codepen.io/anon/pen/OpvXBN
Screenshot:
![screen shot 2017-03-21 at 19 08 52](https://cloud.githubusercontent.com/assets/840815/24160319/21112ae2-0e6a-11e7-909f-78213edcf8f3.png)

[2017-03-21 17:19] jozsi opened #1255 "Anchor animateIcon ambiguity"
The `animateIcon` prop of the `Anchor` component is working ambiguously.

### Expected Behavior
When set to `false`, I would expect no animation to happen.

### Actual Behavior
When set to `false`, it's still animating - only difference is the animation type.

### URL, screen shot, or Codepen exhibiting the issue
Codepen: http://codepen.io/anon/pen/rydjMG

[2017-03-21 18:38] alansouzati commented on #1255
Fixed in https://github.com/grommet/grommet/commit/7fee701ff457bb91692e898100e4410ef5432b50

It will be soon part of Grommet 1.3.3

[2017-03-21 18:38] #1255 closed

[2017-03-21 18:52] alansouzati commented on #1254
I don't think there is a way out of this. Eventually you will run out of real state. I've fixed the way we animate icons so that you can disabled it if you wish.

Another possible solution is to add a small horizontal padding to give space for the animation. The following codepen does that:

http://codepen.io/alansouzati/pen/qrompj?editors=0010

I'm going to close this issue for now. Feel free to

[2017-03-21 18:52] #1254 closed

[2017-03-21 18:54] alansouzati commented on #1209
Closing is a duplicate of #1183. let's use that use to discuss this.

[2017-03-21 18:54] #1209 closed

[2017-03-21 19:00] alansouzati commented on #1183
Hey @alanpilloud thanks for this issue and sorry for taking such a long time to get back to you on this.

I see problems with both solutions (closing and not closing when clicking outside).

For example, let's say you have a form inside a layer, you entered all the data and accidentally clicked outside. With the previous behavior we would close the layer and the user would have to enter the form a

[2017-03-21 21:34] shai32 commented on #1246
I tested it and I confirm it works

[2017-03-22 02:42] alansouzati commented on #1252
Fixed in https://github.com/grommet/grommet/commit/2cb231b2d64464d7ef8641ca5365bb580c674b81

I've removed focus call to select an element. this seems wrong to me.

[2017-03-22 02:42] #1252 closed

[2017-03-22 02:51] alansouzati commented on #1244
1.3.3 released. hopefully this is it :)

[2017-03-22 06:10] shai32 commented on #1246
will it be release in 1.3.3?

[2017-03-22 06:59] arjunbm468 opened #1256 "Focus issue on Menu with Icon"
We are migrating our project from Grommet v0.6.9 to v1.3.3

As part of this migration we found out that the focus event on Menu with icon does not show up.
It is hard to differentiate between header layout and the menu space.

### Expected Behavior

Focus event should show up green colored border
### Actual Behavior

Focus event does not show up green colored border
### URL, screen shot, or Codepe

[2017-03-22 07:09] arjunbm468 opened #1257 "Font issue on plain anchor hovers inside Sidebar component"
We are migrating our project from Grommet v0.6.9 to v1.3.3

As part of this migration we found out that the plain **a** tag hover styling is broken inside the sidebar component.

### Expected Behavior

Hover on anchor tag should display white color font.
### Actual Behavior

Hover on anchor tag is displaying black color font.
### URL, screen shot, or Codepen exhibiting the issue
![notifications](h

[2017-03-22 08:23] arabold commented on #1244
Uhmm... not sure how to put this, but no, it doesn't work 😭

While `Grommer.App` and `Icons.Base.*` works fine now (thanks!), v1.3.3 breaks `Layers` and other components such as `Split`. This is new!

Here's an error I get when using `Layer` (The `Login` component is my own one using the Layer for layouting):
[code]

[code]

In the browser only a single icon is rendered - It's the Layer *icon* ins

[2017-03-22 10:37] alanpilloud commented on #1183
Hello,
No problem for the delay.

I totally understand your scnarios, here's mine :

I have a list in a table of ~3000 elements and you can filter each column.
The most used filters fields are directly visible on this interface while other fields can be found on an advanced search which is a Layer.

So, this Layer holds filters fields that are filtering the list live. So in this case, it makes it

[2017-03-22 12:42] okada opened #1258 "Using Anchor in React Router 4 app require 'path' to be set."
### Expected Behavior
Using Anchor in React Router 4 app require that 'path' is set. If only 'onClick' is set, an error 'cannot access path of undefined' occurs (it tries to access path.path).

Setting path='' works.

### Actual Behavior
Should be possible to set only 'onClick'.

[2017-03-22 15:44] raphi011 opened #1259 "Implement search onSelect after pressing enter without selecting suggestion"
The documentation for onSelect on the Search component states:

This doesn't work though so I will submit a pull request for this feature.

### Expected Behavior
onSelect should fire after pressing enter in the search box.

### Actual Behavior
It doesn't get called.

### Steps to Reproduce
 1. Create Search Component
 2. Register onSelect callback
 3. Press Enter when dropdown is not active

### Y

[2017-03-22 17:33] tafelito opened #1261 "Meter component expands outside the boundaries of the parent"
When using a Meter component as the description of a Card component the meter expands outside the card boundaries

![image](https://cloud.githubusercontent.com/assets/5973652/24211974/2a6239d4-0f04-11e7-9bc4-4636cb52eedc.png)

You can reproduce it here
http://codepen.io/tafelito/pen/BWxoQX

[2017-03-22 17:36] zacksinclair commented on #1258
Happened to come across this post and thought I'd mention - Grommet's Anchor component is incompatible with react router 4 for more reasons than just the onclick / path issue you described.

The anchor component looks for router.isActive, which in react router 4 has been moved off of the router object and onto NavLink. I imagine there are other compatibility issues, too, but that's effectively bre

[2017-03-22 18:03] alansouzati commented on #1246
1.3.3 released with this fix in it 👍

[2017-03-22 18:03] okada commented on #1258
Hello zacksinclair

Thanks for caring to reply,

Actually the super fresh Grommet 1.3.3 implemented support for React Router
4 (backward compatible).

Best regards

On Wed, Mar 22, 2017 at 2:36 PM, zacksinclair <notifications@github.com>
wrote:

[2017-03-22 18:10] alansouzati commented on #1244
that's weird, let me try to reproduce this. I supposed this is something to do with es6 exports with conflicting names (which is not being used in your case).

[2017-03-22 18:21] alansouzati commented on #1244
yeah, this is happening because I've removed the suffix which I believe is wrong. We should be able to do:

`import { App, LayerIcon, Layer } from 'Grommet'`

I will add the suffix back and add a temporary fallback structure for es5. But, in the future we will be adding the suffix for Icons.

[2017-03-22 18:41] alansouzati commented on #1244
Cool. I've pushed this commit: https://github.com/grommet/grommet/commit/2c57e21973b7f1b87daf66cc1b2c515f201c9346

Now we should be able to do both:

`import { App, LayerIcon, Layer } from 'grommet'`

and

`import Grommet, { Icons } from 'grommet'`

`Icons.Base.Layer` vs `LayerIcon`

But let me more careful this time with the release. The CI is currently running for this commit:

https://travis-ci

[2017-03-22 19:15] monte-hayward opened #1262 "TextInput null handling (when suggestion is null)"
when suggestion === null, TextInput considers it an object, and tries to read attributes.

### Expected Behavior
TextInput ignores empty or null suggestions

### Actual Behavior
throws error, causes current component to unmount.

[code]

### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/monte-hayward/pen/QprEpj?&editors=0010

### Steps to Reproduce
 1. supply null in value at

[2017-03-22 20:14] alansouzati commented on #1258
yeah I added support for 4.0, but I guess it did not do a good job testing it with the entire Anchor combination. I'm working on that now. Sorry folks...

[2017-03-22 20:16] alansouzati commented on #1261
Thanks for providing the codepen for this. It definitely helps us triage the problem

[2017-03-22 20:24] alansouzati commented on #1258
Fixed in https://github.com/grommet/grommet/commit/7d785d4d18f2f62bd4eab1dae9f25bef02f99392

[2017-03-22 20:24] #1258 closed

[2017-03-22 20:56] zacksinclair commented on #1258
@okada gotcha, I might just have to swap from the release branch to 1.3.3, thanks for pointing it out

@alansouzati thank you for this library, it really is excellent.  while we're on a thread... i noticed the docs for Box don't mention that it has a margin prop that effectively matches pad, just fyi

[2017-03-22 21:00] alansouzati commented on #1258
good catch @zacksinclair can you file an issue against https://github.com/grommet/grommet-docs ?

this is an easy one to fix, so I would really appreciate if you can send a pull request for that.

There is where the BoxDoc component is: https://github.com/grommet/grommet-docs/blob/master/src/docs/components/box/BoxDoc.js#L35

[2017-03-22 22:01] arabold commented on #1244
This week I'm traveling in GMT+1 timezone, so I'll give it a try first thing tomorrow morning. Sorry for keep being a pain in the ..

[2017-03-22 22:09] alansouzati commented on #1244
not at all. I should thank you for trying out this structure.

I will release it. I tested with few other apps and it seems to be working. There are other people waiting for that also.

[2017-03-22 22:15] #1262 closed

[2017-03-22 22:15] #1259 closed

[2017-03-22 22:35] alansouzati commented on #1262
1.3.4 has been released with this fix included https://github.com/grommet/grommet/releases/tag/v1.3.4

[2017-03-22 22:35] alansouzati commented on #1244
1.3.4 released

https://github.com/grommet/grommet/releases/tag/v1.3.4

[2017-03-23 03:42] mamboitaliano opened #1264 "SunBurst throwing "Warning: flattenChildren(...): Encountered two children with the same key" when identical child values used"
SunBurst causes React to throw the following error:
`Warning: flattenChildren(...): Encountered two children with the same key, `22.743055555555554100`. Child keys must be unique; when two children share a key, only the first child will be used.
    in g (created by SunBurst)
    in svg (created by SunBurst)
    in div (created by SunBurst)
    in SunBurst (created by EditProfileView)...`

As far

[2017-03-23 08:36] arabold commented on #1244
I'm happy to tell you that this works as expected now 👍

Thanks for taking care of all the issues. I will rework our code to use the `Icon` postfix in future.

[2017-03-23 11:24] oakmad opened #1265 "Toast reopening"
For some reason my toasts are reopening after the close animation. They animate closed as expected but then jump back to being visible again but still have the --closing class. Theres also no close link showing.

I've reproduced it in this codpen [http://codepen.io/anon/pen/ZeoMdV?&editors=0010](http://codepen.io/anon/pen/ZeoMdV?&editors=0010)

Heres the rendered code I'm seeing.

[code]

I instal

[2017-03-23 19:06] alansouzati commented on #1264
Thanks for reporting this. Fixed in https://github.com/grommet/grommet/commit/53338188789e00d32ce9621331aa855c05f9447d

[2017-03-23 19:06] #1264 closed

[2017-03-23 21:38] alansouzati commented on #1237
Thanks for reporting this. Fixed in https://github.com/grommet/grommet/commit/6e35a69df7df5dfed03f2647fd9eca635130c98e

[2017-03-23 21:38] #1237 closed

[2017-03-23 22:30] alansouzati commented on #1265
this looks like a bug. let me look into this

[2017-03-23 22:47] alansouzati commented on #1265
A fix for this has been added here: https://github.com/grommet/grommet/commit/f4552b1bf9c3d5b99f6a7fdfbad4be3b3f6a0971

Although I would recommend removing the Toast for the virtual DOM when onClose is invoked, here is the codepen that we recommend:

http://codepen.io/alansouzati/pen/qrKZKa?editors=0010

[2017-03-23 22:47] #1265 closed

[2017-03-23 23:45] alansouzati commented on #1261
Fixed in https://github.com/grommet/grommet/commit/0cf51bbecd50603a89dcea98db1415c048604953

[2017-03-23 23:45] #1261 closed

[2017-03-23 23:46] alansouzati commented on #1197
hey @johnnyvcn any updates on this?

[2017-03-24 11:40] glennflanagan opened #1266 "Buttons with type "submit" should not disable by default if there is no onClick"
### Expected Behavior
When a `Button` component is used in a form (type="submit") it should not be disabled if there is no `onClick` prop. This would allow the button to use the default HTML behaviour of submitting the form and allow developers to use the Forms `onSubmit`.

### Actual Behavior
Not supplying an `onClick` (or `path`) to a `Button` component disables the button by default.

### URL,

[2017-03-24 13:08] MarcelGeo opened #1267 "Sidebar in responsive state - incorrect location of checkbox"
### Expected Behavior
Checkbox´s input type="checkbox" is located in competent wrapping node.

### Actual Behavior
Described checkbox is outside of clicked checkbox. By clicking on the checkbox, blue rectangle is showing outside of clicked area. This state is occurring in the responsive mode of Sidebar.

### URL, screenshot, or Codepen exhibiting the issue
Here is a screenshot of the situation in

[2017-03-24 15:30] alansouzati commented on #1267
Can you provide a codepen reproducing this issue? You can fork Grommet's codepen from here:

http://codepen.io/grommet/pen/gaEGPY

[2017-03-24 15:33] alansouzati commented on #1266
Yeah this makes totally sense.

Can you work on a pull request for this?

I believe there are two places we need to check for type="submit", here:

https://github.com/grommet/grommet/blob/master/src/js/components/Button.js#L103

and here:

https://github.com/grommet/grommet/blob/master/src/js/components/Button.js#L127

[2017-03-24 16:09] MarcelGeo commented on #1267
Hello
http://codepen.io/MarcelGeo/pen/YZvORz

Give window to responsive mode in chrome and you will see blue rectangle over checkbox.

[2017-03-24 17:37] alansouzati commented on #1257
Fixed in https://github.com/grommet/grommet/commit/1874cde5a9f7db741afd9c76fea22369c77a827d

[2017-03-24 17:38] #1257 closed

[2017-03-24 17:58] alansouzati commented on #1267
Thanks. I'm able to reproduce this. let me work on a fix for that.

[2017-03-24 18:21] alansouzati commented on #1206
I was able to validate this issue in Grommet.io. I'm reopening so that I can investigate it.

[2017-03-25 00:43] alansouzati commented on #1232
I could not reproduce the scrollbar issue. I've pushed changes to the distribution i hopes that will improve this.

For Grommet 2.0 we will re-evaluate the way Distribution is implemented. In the meantime, I believe this is going to stay as is.

Checkout this commit that has some improvements already:

https://github.com/grommet/grommet/commit/fc6f5a2a5dfa168a121106b3b2d977b63c374f73

[2017-03-25 00:43] alansouzati commented on #1206
Fixed in https://github.com/grommet/grommet/commit/fc6f5a2a5dfa168a121106b3b2d977b63c374f73

[2017-03-25 00:44] #1206 closed

[2017-03-25 01:38] RyanCCollins commented on #1253
I am going to close this because I don't think this is up to grommet.  It'd be amazing to figure out a way to normalize the flexbox spec cross browser, but that's up to the browser vendors not grommet.

[2017-03-25 01:38] #1253 closed

[2017-03-25 06:19] mvanlonden commented on #1023
@shai32 Just created [grommet-css](https://github.com/mvanlonden/grommet-css) to make it a bit easier

[2017-03-26 17:42] raphi011 commented on #1266
if @glennflanagan doesn't want to create a pull request i could jump in :)

[2017-03-27 11:07] ido-ran opened #1268 "Embedding HPE Fonts with Deployment (not use AWS)"
We build a product that is planned to be deployed in organizations that do not connect the deployment machines to the internet.
The default HPE fonts are fetched from AWS S3. We want to embed them with our deployment.

I've try to redirect `$hpe-fonts-path` to `node_modules/grommet/scss/hpe/font` but it causing the resulting SCC file to have the following font url in it: `http://localhost:3000/app

[2017-03-27 11:23] Sitch opened #1269 "NumberInput to include Units and Formatting fn"
Would be great to be able to use the NumberInput with currency / other units.

Not sure what the preferred way would be but following the Value args:

`
<NumberInput value={25000} icon="$" displayFormat={::this.currencyFormat} />
`

This could be done without the `icon` attribute or could use `units` or just all done in the `displayFormat`.  The point is that it maintains the number type, but with

[2017-03-27 12:56] mturley opened #1270 "Contents in Footer of Sidebar appear below bottom of screen in mobile browsers"
I am observing this issue in Ferret, but also in our application that uses a similarly structured NavSidebar component (`<Sidebar> ... <Footer><SessionMenu /></Footer></Sidebar>`).

I considered reporting this issue on the grommet-ferret repo, but since we are seeing it in our application too, i figured it is more likely to be an issue with grommet itself.

Visit http://ferret.grommet.io/dashboard

[2017-03-27 19:03] allenhartwig opened #1271 "LoginForm does not layout properly on mobile when nested in a div/span"
When the LoginForm component is wrapped in a div or span tag (potentially others) the form overflows the viewport on the mobile breakpoint.

### Expected Behavior
The LoginForm should render the same as if it were not nested.

### Actual Behavior
LoginForm renders improperly when nested

### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/allenhartwig/pen/qrMppY

### Steps to R

[2017-03-27 21:28] alansouzati commented on #1023
hey @mvanlonden thanks for working on this. This looks like a great solution for folks that would be ok with using the vanilla theme. I think eventually you will want to change colors/fonts, then you may need to use SASS again.

[2017-03-28 05:58] raphi011 opened #1272 "Search Suggestions not closing when pushing react router route after onEnter (onSelect) event"
### Expected Behavior

After pressing enter on a selected suggestion it should close the suggestions box. React-router seems to prevent the component from setting its internal state, setState({ dropActive: false }) is called but has no effect. This happens in react-router v3 and v4. It does NOT however occur when the suggestion is clicked with the mouse.

### Actual Behavior

Suggestions stay open

[2017-03-28 17:09] zacksinclair opened #1274 "Button component react router 4 compatibility"
The Button component's path prop is designed for use with react router, but is currently incompatible with RR4

### Expected Behavior
When path prop is passed to button, a click should transition route

### Actual Behavior
When mounting component, javascript error (router.createPath is not a function) on this line:
https://github.com/grommet/grommet/blob/master/src/js/components/Button.js#L94

###

[2017-03-28 17:12] alansouzati commented on #1274
I've recently added support for react v4 on Anchor.

Would you be so kind to create a pull request to add the same support for button?

Checkout these commits:

https://github.com/grommet/grommet/commit/74ee5fe625e7777d30d6c49098b72863a4dfd1a6

https://github.com/grommet/grommet/commit/7d785d4d18f2f62bd4eab1dae9f25bef02f99392

[2017-03-28 17:13] #1272 closed

[2017-03-28 17:14] alansouzati commented on #1266
that would be awesome @raphi011, thanks for volunteering

[2017-03-28 17:17] zacksinclair commented on #1274
yep will do

[2017-03-28 19:13] raphi011 commented on #1266
ok, i'll try to fix it tomorrow, need this feature too

[2017-03-28 21:26] maxs15 opened #1276 "RadioButton nested in Menu doesn't work properly"
I've found the RadioButton onChange event isn't triggered when nested in a Menu.

### Expected Behavior
The radio onChange event should be triggered

### Actual Behavior
The event isn't triggered

### URL, screen shot, or Codepen exhibiting the issue
http://codepen.io/maxs15/pen/aJRLZj

### Steps to Reproduce
 1. Open menu
 2. Click on the radio button
 3. It should display an alert if working pro

[2017-03-29 09:59] psales commented on #1268
Hi,
you could take a look into the file-loader:
https://github.com/webpack-contrib/file-loader

you can specify the destination folder to where the file will be generated as well as the name (instead of an md5 hash by default)

something like this:
`{ test: /\.(woff|woff2)$/, loader: 'url-loader?prefix=font/&limit=5000&name=font/[name].[ext]' }`

[2017-03-29 10:02] raphi011 opened #1277 "Disable Toggle buttons option for NumberInput"
I would love an option to disable to +/- buttons on the NumberInput component because:

1. they take up a lot of space
2. if you have multiple NumberInputs you have to tab 3 times until the next numberinput gets focused

### Expected Behavior

Prop that disables the +/- inputs on NumberInput

### Actual Behavior

Currently not possible

[2017-03-29 14:47] vaibhavbhargav opened #1278 "On click on listItem component shows a boundary colour."
on clicking on a list item shows green color boundary across the listItem always.

### Expected Behaviour
on clicking of the list item boundary color should be shown based on configuration.

### Actual Behavior
boundary color appeared if we click on the list item

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/vaibhavbhargav/pen/LWJGeJ

### Steps to Reproduce
 1. Click o

[2017-03-29 19:30] dgennetten commented on #1215
This issue seems to be gone with current OS & browser versions.

[2017-03-29 19:31] #1215 closed

[2017-03-29 20:12] Auchindoun opened #1280 "Select box styling fails inside of redux-form <Fields /> child component"
I have a multiple select boxes that are being used inside the redux-form <Fields /> child component, but the styling fails to load properly. For instance, the placeholder will show in the search bars place, the main field remains empty, and when you hover over any of the options nothing is darkened to show that you are hovering over it.

### Expected Behavior

Styling should remain consistent

###

[2017-03-29 20:46] dgennetten commented on #1097
Current appears is as follows:
1) Tip body is right-aligned with parent body
2) Tip pointer (24px triangle) is right-aligned with parent body - 12px.
3) Tip body width is max( parent.width,  tipText.width+padding)

The net result is: Top aligns just fine, so long as parent width >= 48px.  When this width falls below 48px, the tip needs to shift right by  (48 - parent.width)/2 .

[2017-03-30 05:29] breakds commented on #1201
I am seeing the same issue in 1.3.2. Is this fix included in it? Thanks!

[2017-03-30 10:49] arjunbm468 commented on #1256
@alansouzati @ericsoderberghp
Any thoughts on this issue...?

[2017-03-30 15:57] maxs15 commented on #704
@alansouzati you should try https://github.com/styled-components/styled-components

[2017-03-30 17:39] alireza-ahmadi commented on #380
@ericsoderberghp do we have any progress on RTL support? if not, does anyone working on this or we can start to complete it?

[2017-03-31 18:19] #1274 closed

[2017-04-01 00:29] Amurmurmur commented on #576
Cant understand, if I need to wrap Anchor with Link or Link with Anchor?

Could you please provide a little bit more detailed example with react-router @alansouzati ?

Thank you very much in advance!

[2017-04-01 22:48] BrianJVarley opened #1283 "Webpack bundled Line chart returns null or undefined"
### Expected Behavior
Expected https://grommet.github.io/hpinc/docs/chart Line chart to render when bundled with webpack bundler and hosted on Github Pages.

### Actual Behavior
Rendering the Grommet Line chart on a local build shows the chart functioning as expected. But when the React.js site is bundled using webpack and `dist` files created. The Line chart doesn't render giving browser console

[2017-04-03 09:13] linde12 opened #1284 "<Menu/> throws error when opened and window is resized"
The `<Menu/>` component throws exceptions when the menu is opened and the user resizes the window.

### Side effects
Sometimes(seems to somehow be related to how many exceptions are thrown) the popup becomes "unclickable"(when clicking the popup it disappears but the content isn't clicked)
E.g. if i have an `<Anchor/>` inside the popup and click it, it won't fire it's `onClick` callback

### Expec

[2017-04-03 10:59] linde12 commented on #1284
By the way, if you can't reproduce it, the console error i'm getting is:
[code]

[2017-04-03 12:36] coltonw commented on #576
I think neither? Using Anchor by itself but giving it a `path` instead of an `href` will use react-router under the covers automatically.

[2017-04-03 15:12] Amurmurmur commented on #576
@coltonw Sorry just didnt have component connected with react-redux-router.

My mistake, everything works like a charm 👍

[2017-04-04 07:49] viggyfresh opened #1285 "DateTime component fails to identify capitalized AM/PM moment format identifier"
According to the docs, the default date format for the `DateTime` component is `M/D/YYYY h:mm a`. According to the linked Moment.js docs, substituting the lowercase `a` with an uppercase `A` should yield AM/PM instead of am/pm. However, the component fails to parse the uppercase A and merely throws it on the screen as itself (see screenshot).

### Expected Behavior
AM/PM should show up in the popu

[2017-04-04 09:18] Serexx opened #1286 "Question - Stacked Layers Possible?"
This is my first Grommet use. I wanted to stack a modal - have a Layer open another Layer.

The hope was that the closer icon would be available with a simple <Layer hide={false} closer={true}>

Unfortunately the Layer opens regardless of the [hide] value and when open does not show the closer.

As this is my first use and I'm also still learning Redux it may well be my issue but before I go chasi

[2017-04-04 09:39] Slumber86 opened #1287 "Icons bundle size"
I have a new project with webpack 2 and grommet, I noticed that my vendor bundle is 6 MB, so I started to digg the size. Grommet alone is 3,8 MB and the icon folder is 2,8 MB as you can see in the

### Expected Behavior
Webpack tree-shaking algorithm is able to reduce the bundle size

### Actual Behavior
All the bundle is too big

<img width="870" alt="schermata 2017-04-04 alle 11 28 03" src="http

[2017-04-04 13:55] christofmuc opened #1288 "Select drop out depends on scroll position, wrong size of box"
With commit https://github.com/grommet/grommet/commit/939b80ce13973dd9fef83649e64964502dc40ea3 , the max-height of the Drop box depends on the scroll position. But sometimes, the drop boxes in our application suddenly have just e.g. 7 pixel height, despite having plenty of space on the page. This makes even the vertical scrollbar in the drop out unusable, as it is just too small.

### Expected Beh

[2017-04-04 15:56] dgennetten commented on #1097
Codepen showing problem: http://codepen.io/dgennetten/pen/KagbYo?editors=1010
I will do a PR in Drop.js to fix.

[2017-04-05 01:07] hdehal opened #1289 "[Tool]Tip show on hover?"
Can tips be shown on hover?
e.g. https://v4-alpha.getbootstrap.com/components/tooltips/#interactive-demo

I don't see anything in the documentation, and the properties seem pretty sparse:
https://grommet.github.io/docs/tip

[2017-04-05 16:28] Slumber86 commented on #1287
Found the cause:
i have a vendor bundle in my webpack config. I used 'grommet' as entry point, so `grommet/index.js` was imported. I think is not worth to splitt the app and the vendor part

[2017-04-06 19:11] L0ZZI opened #1292 "Fix Chart MeterSeries Baseline Alignment"
https://grommet.github.io/docs/chart/examples/?i-Axis-time=true&i-Axis-value=true&i-Grid=true&i-Area=false&i-Line=false&i-Bar=false&i-Marker=true&i-HotSpots=true&i-Meter-series=true

All other Chart Types align to baseline. This also applies to the MeterValue as well.

[2017-04-07 09:28] dioklecijan opened #1293 "Click on CheckBox label and label right margin"
Minor correction required:

a) Click on the input part of the checkbox toggles checkbox state. It is expected.
b) Click on the checkbox label does not toggle the state.
c ) Click on checkbox label right margin toggles the state.

===> b and c should behave in the same way or opposite of the currant behavior.

[2017-04-07 11:27] manjitpandey commented on #1220
we have a fix for it when infinite is false. it will not go to to last to first slide and vice-versa

[2017-04-07 11:30] manjitpandey commented on #1220
Here is the code fix for that to be done in Carousel.js file

`    var children = this.props.children;
      var activeIndex = this.state.activeIndex;

      var numSlides = children.length;
      if(this.props.infinite){
      this.setState({
        activeIndex: (activeIndex + 1) % numSlides
      });
      }else if(activeIndex < children.length-1){
        this.setState({
        activeIndex: (

[2017-04-07 12:22] mcwebb commented on #793
That's fantastic, many thanks for your hard work.

On Fri, 17 Mar 2017, 02:15 Alan Souza, <notifications@github.com> wrote:

[2017-04-08 00:27] zacksinclair opened #1295 "LoginForm's Button disabled status broken"
Commit f1b2a715b314f82c275fac92bafbdbb109863761, which made the Button component enabled when type=reset || submit to support more standard form submissions,  appears to have introduced a bug on the LoginForm component.

On LoginForm, passing onSubmit={undefined} no longer disables the button - which makes the button look and be clickable, which results in a javascript error.

### Expected Behavio

[2017-04-10 04:26] mandx opened #1297 "Select doesn't use whatever is in the option's label as each dropdown item does"
I can provide options with React elements as labels and each dropdown item renders them perfectly. But when one of those items is selected, I can only see the `value` of the option, not the contents of the `label`.

### Expected Behavior
I should be able to see the same React elements in the select box I see in the dropdown item I just selected.

### Actual Behavior
I only see the option's `value`

[2017-04-10 11:02] ishwark7 opened #1299 "Slider buttons in range graph don't work in Ipad and mobile devices"
The buttons in range graph don't work on Ipad and mobile devices.

### Expected Behavior

There should be a way to mae the slider buttons work in the range graph on these devices

### Actual Behavior

The buttons don't work as they work in WEB UI

### Codepen exhibiting the issue
http://codepen.io/ishwark7/pen/ZeEVEx

Thanks,
Ishwar

[2017-04-10 14:17] XuluWarrior opened #1300 "Meter stack behaviour is really an append"
I have a series of data and a known max.  I would like a meter to show each data point as a percentage of max stacked on top of each other.  Currently the behaviour when stacked=true is to append the values on the meter.

e.g.
max = 100
series = [
  { label: "A", value: 25 } ,
  { label: "B", value: 50 }
]

In this case I would like a meter to show A taking up 25% of the meter and B taking up 50%

[2017-04-10 14:23] XuluWarrior commented on #1300
### Current behaviour
<img width="224" alt="current-appendbehaviour" src="https://cloud.githubusercontent.com/assets/7773288/24866221/6bfdb614-1e01-11e7-9619-fc3171c6b505.png">

### Desired stacked behaviour
<img width="225" alt="realstackedbehaviour" src="https://cloud.githubusercontent.com/assets/7773288/24866257/7e191410-1e01-11e7-94a5-4c25ef9cda26.png">

[2017-04-10 20:22] codingInSpace commented on #872
To add further light on the issue, another problem is the limit to display Sunday as first day of the week. Could this perhaps be implemented as a prop?

Right now with grommet 1.3.4 I'm getting Sunday as first weekday in the top row with weekdays, but Monday as first weekday in the actual dates. So for instance, 1st of May is shown in the Sun column, when it is actually Monday.

[2017-04-10 20:33] codingInSpace commented on #872
Actually I just realized that may be a separate issue? Or there's a smaller bug. The dates are wrong on initially clicking up the drop, but changing dates between months adjusts them.

First click, dates are offset
![date1](https://cloud.githubusercontent.com/assets/6057381/24881233/74782cf2-1e3d-11e7-9635-8b604e1aa9d4.png)

Change to 1st May, dates are correct
![date2](https://cloud.githubusercon

[2017-04-10 21:10] m4rcelofs opened #1301 "Cannot wrap a Chart Line with a custom component"
Example code:
[code]
[code]
### Expected Behavior
The Chart should render with a Line

### Actual Behavior
The Chart fails to render because the Line cannot create the SVG path:

### URL, screen shot, or Codepen exhibiting the issue
[Screenshot of the rendered Wrapper](http://i.imgur.com/uImsZrX.png)
[Codepen with the code above](http://codepen.io/marcelofs/pen/KWOjzG?editors=0010)

### Your Envir

[2017-04-11 07:57] raphi011 opened #1302 "Search suggestion scrolling"
When scrolling a long suggestion dropdown the focused element gets out of sight.

### Expected Behavior
Suggestions should scroll to highlight the current active suggestion

### Actual Behavior
Suggestions don't scroll, highlighted suggestion is not shown

### URL, screen shot, or Codepen exhibiting the issue
https://codepen.io/anon/pen/xdKVBo

### Steps to Reproduce
 1. Fill Search with many sugg

[2017-04-11 18:49] m4rcelofs commented on #1301
Just figured out that [Layers.js](https://github.com/grommet/grommet/blob/master/src/js/components/chart/Layers.js#L28) clones its children and injects the width/height pops required for proper svg building, so making it work is simply a matter of forwarding those props:

[code]

[2017-04-11 18:49] #1301 closed

[2017-04-12 02:43] ezzatron opened #1303 "React 15.5.x: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
See https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

[2017-04-12 19:56] aandr opened #1305 "<Select> form input submits wrong value"
A &lt;Select&gt; component, used as a form input, will submit the selected option's label instead of value.

### Expected Behavior

Given

    <Select name="hello" options={[{value: 1, label: 'A'}]} value={{value: 1, label: 'A'}} />

as part of the form, when submitted, the form data should contain `hello=1`.

### Actual Behavior

Form data contains `hello=A`.

### URL, screen shot, or Codepen exh

[2017-04-13 13:32] oakmad opened #1308 "Layer closer not working"
I've added a Layer with closer set to true to my page. The closer is neither showing and because of the change to remove the click outside to close I can not close the layer once it's active.

[Heres a codepen showing the issue](http://codepen.io/anon/pen/zwYVoy?&editors=0010)

It works on the docs site no problem, are they running a different version?
* Grommet version: 1.3.4
* Browser Name and v

[2017-04-13 21:12] martinezguillaume opened #1309 "Try to build with gulp"
I'm trying to build my app with gulp but I've got an error.

### Expected Behavior
It should build my app under a dist folder.

### Actual Behavior
I have an error :
[code]

### Steps to Reproduce
 1. gulp dist

### Your Environment
I'm using grommet 1.3.0.
Here is my .babelrc file :
[code]

EDIT: I succeed to build my app with https://github.com/grommet/grommet-cli with the command
[code]
Now, I

[2017-04-13 21:47] alansouzati commented on #1276
Take a look on the closeOnClick option here: https://grommet.github.io/docs/menu

I've forked your pen, and it works:

http://codepen.io/alansouzati/pen/rmaLZR?editors=0010

`<Menu closeOnClick={false}>`

[2017-04-13 21:47] #1276 closed

[2017-04-13 21:48] alansouzati commented on #1268
are you still facing this problem @ido-ran ?

[2017-04-13 21:50] alansouzati commented on #1268
can you add your `$hpe-fonts-path` to `/grommet/scss/hpe/font` ?

[2017-04-13 22:05] woodm1979 opened #1310 "Box wrap behavior is broken if padding != none and children have basis='1/2'"
Box wrap behavior appears broken if sub-components have a basis, and padding between != 'none'.

### Expected Behavior

In this code-pen:
http://codepen.io/anon/pen/WpqGgp?editors=0010
I'd expect the top box (labeled "Padding between: small" to have 2 columns of 3 sub boxes each.  Just like the box at the bottom labeled "Padding between: none".

### Actual Behavior

As you can see in http://codepe

[2017-04-13 22:09] alansouzati commented on #1277
Any reason why you are not using `<input type="number" />` they have controls that are way smaller. The hit target for those are terrible in my opinion, but it does has the features you are looking for.

Check this codepen:

http://codepen.io/alansouzati/pen/KmwgPr?editors=0010

I'm going to close this issue since I believe there is nothing we would want to simplify in the NumberInput. Feel free t

[2017-04-13 22:09] #1277 closed

[2017-04-14 16:52] #1305 closed

[2017-04-14 16:58] alansouzati commented on #1295
thanks for proposing a fix for this. I believe for backwards compatibility sake, I would vote for changing the type of the button. Can you work on a pull request for this?

[2017-04-14 18:06] oakmad commented on #1308
Nevermind, this is a doc issue. If you have closer set to true make sure you also have onClose defined properly.

[2017-04-14 18:06] #1308 closed

[2017-04-14 18:58] RyanCCollins commented on #1308
Great, thank you @oakmad!

We are always looking for contributions, especially to the docs.  If you're interested in helping out, checkout the [grommet-docs](https://github.com/grommet/grommet-docs) repo.

[2017-04-16 13:40] SuhairZain commented on #1303
I'm trying to spin up a script to do this. I'll update here on the progress shortly.

[2017-04-16 14:21] SuhairZain commented on #1303
Seems like there's a codemod already available for this. I somehow missed that. Trying it now. 😄

[2017-04-16 19:13] SuhairZain commented on #1285
The reason for this is that in [DateTimeDrop](https://github.com/grommet/grommet/blob/master/src/js/components/DateTimeDrop.js#L33), the format specifier for AM/PM is just the character 'a' (small case). I've created another key, for the same character 'a', but upper case ('A') to accept meridians in upper case as well.

[2017-04-16 19:40] reflog commented on #1287
had the same problem here, but resolved it by importing the components and icons correctly, instead of: `import {Button} from "grommet"`, write `import Button from "grommet/components/Button"` to reduce the bundle size

[2017-04-16 19:56] viggyfresh commented on #1285
Awesome, thanks!

[2017-04-17 07:13] reflog opened #1313 "Exception while resizing a window with Table"
While resizing a responsive Table component, the following exception is thrown:

[code]

### Your Environment

* Grommet version:  3
* Browser Name and version: Chrome 55
* Operating System and version (desktop or mobile): Windows

[2017-04-17 07:16] reflog opened #1314 "How to add a button to Table row?"
A small question - I've tried adding a button to a row in a Table, but since my table has onSelect handler, I'm unable to use that button. `e.preventDefault()` doesn't seem to work, the event still bubbles up...

Any suggestions?

Thanks!

[2017-04-17 09:10] SuhairZain commented on #1313
Hi @reflog,
Thanks for the report. Could you provide a minimal reproducible code sample on Codepen or such? You can use this as a starting point: https://codepen.io/pen?template=gaEGPY&editors=0010

[2017-04-17 13:57] reflog commented on #1313
Here you go: https://codepen.io/reflog/pen/BRNMGX
Btw, while preparing the codesample, I've narrowed the problem to the 'scrollable' property of the table. If you remove it - the error disappears.

[2017-04-17 18:02] SuhairZain commented on #1313
Hi @reflog,
I tried the codepen but it seems to be working fine for me on my Linux dev machine with Firefox 52 and Chrome 54. I then created a project locally with the code on codepen, it worked fine. I also used browserling.com to test on a Windows 7 machine with Chrome 55. It went fine without any issues.

What I tried to do were these, let me know if you got the error while doing something else

[2017-04-18 01:04] #1285 closed

[2017-04-18 07:10] reflog commented on #1313
Here's how to reproduce. Works in Firefox too:

![as2d](https://cloud.githubusercontent.com/assets/109876/25118485/4072ca42-241f-11e7-8fa1-644ad3d8e9ac.gif)

[2017-04-18 07:24] SuhairZain commented on #1313
@reflog,
Nice screencap. 😄

The issue happens when going back from the mobile view to desktop, but seems to happen at random. Got to find the source. :)

[2017-04-18 08:26] Slumber86 commented on #1287
@reflog yeah, this is the way to do, but also keep attention on webpack entry points cofig

[2017-04-18 08:26] #1287 closed

[2017-04-18 10:43] ido-ran commented on #1268
This problem has been resolved. It requires the addition of `url-loader` as well as `file-loader` and changing `$hpe-fonts-path`. I think it worth adding this information to the documentation.

[2017-04-18 10:43] #1268 closed

[2017-04-18 19:38] snaemi opened #1315 "App content scrolling to top when displaying Layer"
I attempted to search the issue list, but did not find anything specific to what I'm experiencing.

When displaying a Layer, the App content scrolls to the top. I'm not sure if this is expected behavior, but a user can lose some details that were otherwise visible through the overlay. I'd like to know if there is a way to prevent this from happening.

### Expected Behavior
Content does not scroll

[2017-04-19 01:49] arjunbm468 commented on #1256
@alansouzati @ericsoderberghp
Do you feel this as an issue or is the design as expected?

[2017-04-19 08:29] dakt commented on #1162
Well this is still the case even in 1.3.4.
I really don't understand how can this problem persist for so long. Just don't tell me it's by design.
This makes <Table /> component useless.

[2017-04-19 16:49] rk1 opened #1316 "When unmounted, Layer component causes other elements to lose focus"
I have two routes, one containing a hidden `Layer` component and another containing an input which should be autofocused. When changing the routes the focus stays on the last clicked element instead of having the input focused.

I believe this is related to the way returning focus to the original focused element is done via `setTimeout`.
https://github.com/grommet/grommet/blob/master/src/js/compon

[2017-04-21 02:18] RyanCCollins commented on #1278
Hey @vaibhavbhargav.
For a quick fix, you can override the styling for your specific use-case:

[code]

Another option, of course, would be to add a property to control this behavior.  I will leave the issue open to see if that's a possibility in the future.  Also, we would happily review a pull request with that behavior if you are able.

[2017-04-21 02:47] RyanCCollins commented on #1191
I'm back to working on this, but no telling when it will be ready.  Hopefully after delivery of brand-central, I can get it done 😄

[2017-04-21 14:46] arabold commented on #1191
Currently I'm using [react-dropzone](https://www.npmjs.com/package/react-dropzone) which can be integrated pretty nicely.

[2017-04-22 09:48] martinezguillaume opened #1317 "How to change the loading component ?"
I would like to change the loading component display at the start of grommet application

So I want to change this
![image](https://cloud.githubusercontent.com/assets/17292331/25303362/84aaddaa-2751-11e7-8d9d-15677ae60a51.png)

I tried to search in the docs but didn't find anything, thanks !

EDIT: Got it, it's on index.html

[2017-04-24 01:46] mvanlonden opened #1320 "Reorder tile or list"
What is the recommended way to give the user the ability to reorder a collection? My specific use case is for a collection of image tiles. I would like to give the user the ability to change the order in which the images appear.

[2017-04-24 11:52] #1309 closed

[2017-04-24 11:52] #1317 closed

[2017-04-25 06:19] shai32 opened #1321 "min css not working"
### Expected Behavior
import 'grommet/grommet.min.css'  should give the right fonts

### Actual Behavior
the font is wrong, sans-serif instead of "Work Sans"

### URL, screen shot, or Codepen exhibiting the issue

![image](https://cloud.githubusercontent.com/assets/16700996/25371132/b33ebd92-2997-11e7-8ce5-218dabd5353b.png)

### Steps to Reproduce
 1. integrate grommet with create-react-app
 2. im

[2017-04-25 06:22] tobias-flitsch opened #1322 "Header float property messes up the header."
When float is set to true, header component stops working.

### Expected Behavior
Header spans entire page or parent element.

### Actual Behavior
Header sits somewhere left on the page, not spanning anything, as seen in the examples.

### URL, screen shot, or Codepen exhibiting the issue

https://grommet.github.io/docs/header/examples/?size=small&fixed=true&float=true&i-title=true&i-search=false&

[2017-04-25 11:32] reflog commented on #1314
The correct way to handle it was:
[code]

[2017-04-25 11:32] #1314 closed

[2017-04-25 16:32] nickjvm commented on #1268
@ido-ran can you share your webpack loaders config? I'm running into the same issue.

@alansouzati is this process documented anywhere?

[2017-04-25 18:39] mvanlonden commented on #1320
FWIW I just added arrow to move items up or down
![screenshot](https://puu.sh/vvWwM/f2e8b5490f.png)

[2017-04-25 18:41] mvanlonden opened #1323 "Feature Request: Indeterminate CheckBox"
The `CheckBox` component allows a `checked` or `unchecked` state but not an indeterminate state. Would be nice to have one.
![example](https://puu.sh/vvWFh/e4c7413119.png)

[2017-04-25 20:28] dgennetten commented on #1293
@dioklecijan, can you provide environment details? Seems to be working fine in chrome, safari, edge, and IE.

[2017-04-25 20:31] m4rcelofs opened #1324 "Creating an xsmall SVGIcon fails PropTypes"
### Expected Behavior
Creating an `SVGIcon` with xsmall as its size should not throw a PropTypes validation error

### Actual Behavior
It works (the icon is rendered smaller than `small`), but fails validation.

[code]

### URL, screen shot, or Codepen exhibiting the issue
[Codepen](https://codepen.io/marcelofs/pen/oWYexo?editors=0010)

### Your Environment
* Grommet version: 1.3.4

[2017-04-25 20:38] dgennetten commented on #1270
Seems to be working as expected on chrome, safari, edge and IE -  OSX and Win10

[2017-04-25 20:44] shai32 commented on #1023
@mvanlonden
why its better then just importing 'grommet/grommet.min.css'?

[2017-04-25 21:00] dgennetten commented on #1015
This is fixed with #793

[2017-04-25 21:00] #1015 closed

[2017-04-26 08:35] SuhairZain commented on #1324
The PropTypes for SVGIcon includes only small, medium, large, x-large and huge even though the classes for x-small are generated. I've added x-small to the PropTypes list.

[2017-04-26 08:36] SuhairZain commented on #1323
Hi @mvanlonden,
Just wondering, what would be the use case for an indeterminate CheckBox? Checkboxes are usually boolean.

[2017-04-26 08:58] SuhairZain commented on #1321
Hi @shai32,

I tried the steps you mentioned and I believe I have found the issue.

Are you using the Grommet App component as your root component? The Grommet styles are applied to the components only if they have an App Component as their parent. This is because the 'Work Sans' font is only applied to the class **grommet** and this is applied only for the **App** component. Check the screenshot

[2017-04-26 09:03] ibhag opened #1325 "Search is not working properly"
### Expected Behavior
Search should update the results appropriately on list pages

### Actual Behavior
After some point of time search doesn't respond properly. Seems there is some problem with onDomChange. Though I am attaching example of ferret I am able to reproduce it in my application as well

### URL, screen shot, or Codepen exhibiting the issue
![image](https://cloud.githubusercontent.com/

[2017-04-26 09:30] dioklecijan commented on #1293
Hi @dgennetten,

1. Point your browser to https://grommet.github.io/docs/check-box/examples
2. Click on the text "Sample label" => state is not toggled (note that mouse pointer is an arrow)
3. Move the mouse pointer right of the text, (mouse pointer is changed from arrow to the hand)
4. Click ==> state is changed

I tried this with Google Chrome (Version 57.0.2987.133 (64-bit)) and Firefox (53.0 (

[2017-04-26 10:03] SuhairZain commented on #1297
The reason is [this line](https://github.com/grommet/grommet/blob/cf3e5b4dbfc25ea2c0b964dee1e402f623d28d26/src/js/components/Select.js#L313) in the current 1.3.4 version which checks if the label is a string. This is needed because an `<input/>` component is used to display the selected option and we can only pass a string to it. You can thus display the label by using a simple string instead of a

[2017-04-26 10:24] SuhairZain commented on #1293
I can confirm that this issue exists. It's because the rendered label depends on a [**for**](https://github.com/grommet/grommet/blob/master/src/js/components/CheckBox.js#L29) to handle the clicks on it. A workaround would be to simply set an id to the checkbox.
[code]

[2017-04-26 10:36] SuhairZain commented on #1271
This is because the `LoginForm` sets a width of 480px by default. But you can easily work around this by either setting `max-width: 100%` or `width: 100vw` on the outer div. Or, if you can, you can use a `<Box/>` with `full={true}` as the outer component.

[2017-04-26 11:03] SuhairZain commented on #1325
Hi @ibhag,
Would it be possible to provide a minimal example to reproduce the issue, such as on codepen?

[2017-04-26 14:23] dgennetten commented on #1293
Ah. I was looking at this instance, where it is working fine: https://grommet.github.io/docs/check-box

[2017-04-26 16:48] mandx commented on #1297
[This gist](https://gist.github.com/mandx/a48fbd37a4853fc1a47bb7d47eba27e2) shows what I'm using right now (ignore the changes on the `import` lines). Is far for complete, it works for my use case now, but here's the main idea: Render the label (which could be a React element) inside a span which has some styling to match the "input" box, and then use one hidden input[type=checkbox] to represent t

[2017-04-26 18:47] mvanlonden commented on #1023
@shai32  Oh wow! Didn't released there was a compiled version of the css in grommet (was it always there?). I guess the only advantage is if you'd like to have a separate repo with custom sass styling.

[2017-04-26 18:49] mvanlonden commented on #1323
I have a nested set of checkboxes and if some but not all of the child boxes are checked I'd like to have the parent be indeterminate. Clicking on the parent checkbox would serve as a "check all" or "check none" for the children.

[2017-04-27 06:28] shai32 commented on #1321
@SuhairZain thanks it works.
whats worried me that I didn't notice it in the doc. it should be the first step in integrating Grommet App.
Do you have a doc link for App Component?

[2017-04-27 06:55] SuhairZain commented on #1321
Hey @shai32,
The documentation is available at https://grommet.github.io/docs/app/. In some way, it says that it should be the root component:

[2017-04-27 08:49] SuhairZain commented on #1323
This sounds like a valid use case.

@alansouzati What's your take on this?

[2017-04-27 11:36] hustlerism opened #1327 "Carousel infinite set to false not working"
Carousel infinite set to false not working.

Same issue with #1220.

Any fix for this?

### Your Environment

* Grommet version: 1.3.4
* Operating System and version (desktop or mobile): Android 6.0.1

[2017-04-27 15:27] tracybarmore opened #1328 "Add Critical button style for destructive actions"

[2017-04-27 15:28] tracybarmore commented on #1328
![screen shot 2017-04-26 at 10 58 52 am](https://cloud.githubusercontent.com/assets/13038855/25490983/6c96fc3c-2b23-11e7-9b67-9220da6abdcf.png)

[2017-04-27 20:47] andreaPortfolio opened #1330 "markdown-to-jsx error"
For every new grommet installation when I tray to start the application with Webpack that return the following error:

/dealerSite/dealerSite/node_modules/markdown-to-jsx/index.js Unexpected token (149:20)
You may need an appropriate loader to handle this file type.
|
|                 aggregator.footnotes.push(
|                     <div key={node.identifier} id={node.identifier}>
|

[2017-04-27 22:50] alansouzati commented on #1330
yeah I just started experiencing that as well. let me see what is going on with markdown-to-jsx

[2017-04-27 23:20] alansouzati commented on #1330
Just to confirm, I'm assuming you've changed the App do use markdown component from Grommet?

I can only reproduce the issue if I try to use that.

[2017-04-27 23:49] alansouzati commented on #1330
I've filed the issue on markdown-to-jsx project. it seems they forgot to compile to es5 before releasing.

in the meantime you can update your package.json to use a specific version of markdown-to-jsx.

I'm using 5.3.0 `"markdown-to-jsx": "5.3.0",`

[2017-04-28 00:21] alansouzati commented on #1330
Fixed they have released 5.3.3 with the fix included. Just make sure to delete your `node_modules` and run `yarn upgrade` or `npm install` again.

[2017-04-28 00:21] #1330 closed

[2017-04-28 14:08] RyanCCollins commented on #1321
I am going to close out this issue so that it's not appearing on the grommet team's backlog.  Please feel free to keep the convo going!

[2017-04-28 14:08] #1321 closed

[2017-04-29 19:00] yackitotreeville opened #1332 "Any plans to add more components like badges and other ones ..."

[2017-05-01 13:56] reflog commented on #901
doesn't work when type="submit"

[2017-05-01 15:34] #1328 closed

[2017-05-01 16:08] tracybarmore commented on #1232
Hey @ishwark7, I'm going to go ahead and close this issue due to Alan's response. If you still have questions or are able to reproduce the issue, please feel free to reopen. Thanks!

[2017-05-01 16:08] #1232 closed

[2017-05-01 16:20] tracybarmore commented on #574
Linking with updates that will be implemented with #1216

[2017-05-01 16:25] tracybarmore commented on #1111
Replicated issue. Inconsistent in behavior in anchor examples:

https://grommet.github.io/hpe/docs/anchor/
vs
https://grommet.github.io/hpe/docs/anchor/examples?label=true&animateIcon=true&href=true&primary=true

[2017-05-01 18:55] tracybarmore commented on #1197
Hey @johnnyvcn, I'm going to go ahead and close this issue since we could not replicate the issue. If you still have questions or are able to reproduce the issue, please feel free to reopen. Thanks!

[2017-05-01 18:56] #1197 closed

[2017-05-01 19:56] tracybarmore commented on #1224
Validated issue on Browser Stack Edge 15.

[2017-05-01 20:13] tracybarmore commented on #1220
Hi @manjitpandey, I created this codepen that I believe solves your problem: http://codepen.io/anon/pen/bWWPVV

By indicating both infinite and autoplay are false, this allows the carousel to stop swiping once it has reached the end of all your slides.

[2017-05-01 20:14] tracybarmore commented on #1220
I'm going to go ahead and close this issue since it seems fixed. If you still have questions or if the this issue is still a problem, please feel free to reopen. Thanks!

[2017-05-01 20:23] tracybarmore commented on #1332
Hi @yackitotreeville, can you elaborate further or give us an example of what you're looking for?

[2017-05-01 20:25] tracybarmore commented on #1327
Hi @hustlerism, I created this codepen that I believe solves your problem: http://codepen.io/anon/pen/bWWPVV

By indicating both infinite and autoplay are false, this allows the carousel to stop swiping once it has reached the end of all your slides. Is this what you were looking for?

[2017-05-01 20:49] tracybarmore commented on #1323
hey @mvanlonden, we had this suggestion opened back in September, but closed the issue since this tree structure is a pretty old style for selection.

Here's the previous issue: https://github.com/grommet/grommet/issues/850

Do you have a screenshot or example of your product that we assist in consulting a different way of layout and/or selection? Thanks!

[2017-05-01 20:52] tracybarmore commented on #1289
Hi @hdehal, which element or page component are you trying to invoke a "tool tip" on?

[2017-05-01 23:18] Kiho commented on #767
Is there way to disable this behavior or change threshold?
I like to show colored status icon on grey background but I can't find out a way to do it.

[2017-05-01 23:27] tracybarmore commented on #1270
Hi @mturley, I have also replicated this issue on Chrome browser on my Android device. It looks like if you hide the browser header, it works as expected. But, I would agree that isn't intuitive. I'm leaving this issue open to discuss with the team. Thanks!

[2017-05-02 02:44] tracybarmore commented on #1271
Hi @allenhartwig, did @SuhairZain 's suggestion fix your problem?

[2017-05-02 02:48] hustlerism commented on #1327
Hi @tracybarmore , from your example, I can still swipe the last image to the first image and vice versa.

I would want it to stop swiping to the right at the last image and swiping to the left at the first image.

[2017-05-02 02:57] tracybarmore commented on #1286
Hi @Serexx , we find that our community is fantastic (and sometimes quicker) at answering quick questions like these. I'm leaving this question in our backlog for one of our awesome sauce developers to take a look at, but feel free to post this question in Slack at [grommet.slack.com](grommet.slack.com) in the meantime. Thanks!

[2017-05-02 03:39] tracybarmore commented on #1327
Hey @hustlerism, I'm confused. the attached screenshot shows the last image in the carousel. There is an arrow to swipe backwards, but no arrow to the right to continue directly to the first image. Let me know if I'm misunderstanding somewhere. Thanks!

![group](https://cloud.githubusercontent.com/assets/13038855/25603105/fd423ff2-2ead-11e7-8391-64660061023e.png)

[2017-05-02 03:50] hustlerism commented on #1327
Hi @tracybarmore , apologies for the confusion.

What i meant was, if you clicked on the last image in the carousel and swiped it to the right, it will go to the first image back. Same thing happened when u swipe the first image to the left, it will go to the last image. Don't use the arrow, just swipe it using the mouse cursor.

Since i'm using grommet for mobile app, the users can swipe the caro

[2017-05-02 04:36] mvanlonden commented on #901
Oh wait @reflog that's actually a feature. Now you don't need an `onClick` to disable a submit button. You can just conditionally set the type

[2017-05-02 14:02] XuluWarrior commented on #1332
I was also missing [badges](https://v4-alpha.getbootstrap.com/components/badge/#contextual-variations).  The only way I could see to do something similar was to use the Button component.

I decided that this wouldn't be suitable and changed my UI design instead.

[2017-05-02 15:00] XuluWarrior opened #1333 "Negative values in Bar Charts"
It doesn't look like negative values are supported in the bar chart component.

I would expect to be able to set up a bar chart so that each bar goes above or below the 0 axis depending on the data point's value.  I can't currently see a way to do this.

[2017-05-02 15:31] mturley commented on #1226
I'd like to add my +1 to this issue, currently the multi-select functionality of Select is a little crippled by the fact that it just displays "3 values" and you can't see which values without clicking and scrolling.  At a minimum, it would be nice if we could pass a custom function to render our own summary string instead of the "3 values".

To meet my needs for now, I'm using my own <Menu> with

[2017-05-02 15:47] mturley commented on #1226
For reference, I considered using something like this instead and just styling it to look like Grommet: http://jedwatson.github.io/react-select/.

[2017-05-02 16:07] tracybarmore commented on #1327
@hustlerism, ah, thanks for the clarification. I have replicated the issue on my android device. I will leave this open in our backlog to have a grommet developer take a look at. Thanks!

[2017-05-02 16:08] hustlerism commented on #1327
@tracybarmore Sure. Really appreciate your help. Thanks!

[2017-05-02 16:13] tracybarmore commented on #1332
@XuluWarrior, thanks for the reference. I'll leave this in our backlog to bring up in our next grooming session. Thanks!

[2017-05-02 17:06] m4rcelofs commented on #1324
Seems to still be missing in [master](https://github.com/grommet/grommet/blob/master/src/js/components/SVGIcon.js#L59)/1.4.0

[2017-05-02 17:28] SuhairZain commented on #1324
I'm sorry. Was caught up at work. I made the commit but missed making it into a PR. I sincerely apologize. Will make one right away.

[2017-05-02 21:33] cblair opened #1334 "Add some error checking for table header cells and rows"
### Expected Behavior
Table.js should report in the console when header cells and row cells don't match in length, or handle it gracefully.

### Actual Behavior
Table.js logic doesn't handle mismatched lengths and throws a unhandled generic JS exception instead:

### URL, screen shot, or Codepen exhibiting the issue

[code]
<Table className="bordered highlight">
            <TableHeader

[2017-05-03 08:27] thomas-romuald opened #1336 "selenium test with PhantomJS on a page containing Accordion fails"
selenium test with PhantomJS on a page containing Accordion fails (works with Firefox and Chrome).
Works if the Accordion part is commented out.

### Expected Behavior
Automated test with selenium on a page with Accordion.
Expected that panel containing Accordion appears.

### Actual Behavior
Works on real browser, but fail with PhantomJS. We got the message:
![image](https://cloud.githubuserconte

[2017-05-03 18:36] alansouzati commented on #1316
Thanks for such a detailed information in this issue. I will be investigating this shortly.

[2017-05-03 18:54] dgennetten commented on #1300
@XuluWarrior, were you intending to create a sort of bullet graph with a value displayed against a threshold?  (https://en.wikipedia.org/wiki/Bullet_graph)

[2017-05-03 20:24] ahappypie opened #1337 "More Styling for WorldMap"
WorldMap fit really well in a project of mine, but when I went to customize it, found the styling options lacking.
### Expected Behavior

Ideally, both the static colorIndex and mouseOver color should be customizable, and mouseOver color should be independent of any onClick behavior.
### Actual Behavior

mouseOver color is linked to static colorIndex and onClick is required to highlight a continen

[2017-05-03 21:25] nickjvm opened #1338 "Horizontal scrollbar appears on checkbox/radio buttons with long label"
### Expected Behavior
Long checkbox/radio labels should wrap without a horizontal scrollbar.

### URL, screen shot, or Codepen exhibiting the issue
![screenshotsfindermay 3 2017 3 19 47 pm](https://cloud.githubusercontent.com/assets/4998403/25682063/f45eb6ec-3013-11e7-95f1-310560cd593b.png)

https://codepen.io/nickjvm/pen/EmvwBW?editors=0110

I believe this is due to the right margin on `.grommetu

[2017-05-04 01:36] bsoutham commented on #1183
As another example, we have a Layer becomes visible with links to help and documentation.  However, if they decide they don't want to use the help links - they should be able to just click back to the 75% of the screen that is still visible and close the "help" layer.  This is one example, where our current usage would benefit from having the layer close by clicking outside of it, rather than forc

[2017-05-04 14:34] zekenie opened #1339 "Toasts should accept onClick"
### Expected Behavior
Passing an `onClick` prop to toasts should be passed down to the relevant div.

### Actual Behavior
`onClick` is not called when toast is clicked

### URL, screen shot, or Codepen exhibiting the issue
[Here](https://codepen.io/anon/pen/NjvQag?&editors=0010) is a codepen demonstrating the issue

### Steps to Reproduce
 1. Make a toast with an `onClick` prop
 2. Click the toast

[2017-05-04 15:38] jdiprizio opened #1340 "Select displays value instead of label when provided an object"
### Expected Behavior
Select should display labels when they are provided a `{ label: '', value: '' }` object?

### Actual Behavior
Select displays object's value (unless they are provided a string with the label). This seems to be due to this commit: https://github.com/grommet/grommet/commit/c4593687ac09fe3834962b07a0fde33c59ad2ab8

### URL, screen shot, or Codepen exhibiting the issue
https://co

[2017-05-04 16:34] nomadus opened #1341 "Allow setting the DateTime component read only"
Currently, there is no way to set the DateTime component read only or disabled.

### Expected Behavior

The component should allow setting it to read only or disabled so the users should not have the ability to alter the data.

### Actual Behavior

Instead, it allows setting the value to a new value.

### Your Environment

* Grommet version: "grommet": "^1.3.0",
* Browser Name and version: Chrome

[2017-05-04 17:15] rardoz opened #1342 "How do we use the toolbar as designed in the sketch file?"
There is a toolbar in the sketch file that implies the ability to add a rich text editor, but there is no documentation or code that I could find to implement that.

Here is a screenshot with the description of the toolbar:
<img width="932" alt="screen shot 2017-05-04 at 9 59 52 am" src="https://cloud.githubusercontent.com/assets/1074768/25716051/8f93703c-30b2-11e7-8736-d28fbb82fc23.png">

Can any

[2017-05-04 22:05] arabold opened #1343 "Button within a Header shows a border despite being "plain""
### Expected Behavior
A button configured to be _plain_ shouldn't render a border, regardless if placed within the main body of the page or in any header.

### Actual Behavior
Button works as expected if rendered within a Box somewhere on the page and doesn't show a border. However, if I place it inside of a `<Header>` tag it will suddenly render a border without any configuration change.

### URL

[2017-05-05 13:05] jzillmann commented on #1183
Missing that too!

[2017-05-05 16:08] frandr opened #1345 "Severe performance issues due to new InfiniteScroll behavior."
This relates to grommet checkins 9c9b16dd77202a87d98958186894db729a1e1848 and 8254e7e2b0a9a771c1fa7d4753483c051b777d67 in late January, which introduced this defect.

### Expected Behavior
When user pages down at the bottom of a paginated list, a single 'onMore' call will trigger retrieval of the next page of data.

### Actual Behavior
1) We now always get at least two 'onMore' calls for each page

[2017-05-06 07:30] ezzatron commented on #1303
I'm still getting this error when using Grommet `1.4`, but it seems to be caused by an upstream package, namely `react-intl`.

See yahoo/react-intl#918 for the current status. It seems the `react-intl` package needs maintainers.

[2017-05-07 11:26] nsb commented on #1340
:+1:

[2017-05-07 22:59] ezzatron opened #1346 "React 16.x: react-addons-transition-group@x.x.x: This package is deprecated and will no longer work with React 16+. We recommend you use TransitionGroup from 'react-transition-group' instead."
See: https://github.com/reactjs/react-transition-group

[2017-05-08 04:37] ezzatron opened #1347 "DateTime component does not trigger onChange for invalid values"
Let's say I have a `DateTime` component inside a `FormField`. If the user enters an invalid time, I would like to use the `error` prop on the `FormField` to indicate that the field is invalid.

However, the `DateTime` component currently [does not invoke the `onChange` handler unless the entered time is valid](https://github.com/grommet/grommet/blob/dbdbaed/src/js/components/DateTime.js#L112), mak

[2017-05-08 06:34] startupgurukul opened #1348 "<Tiles selectable='multiple'> behaviour on mobile browsers"
Hi Folks,
Want to understand the behavior of <Tiles selectable='multiple'> on desktop/mobile

1). A desktop browser, we are able to select more than one.  but only if we select them while using  CTRL/Command...Now can we ask it to select multiple tiles when we just click them?

2). How can we select more than one on a mobile browser?

Repro steps(right from the examples):
https://grommet.github.io

[2017-05-08 06:40] emmanuelnk opened #1349 "onEnter and onSearchIconClick events for Search and SearchInput components"
So I'm new to using Grommet but I can't find a way to register an onEnter event using Search and SearchInput components. Can't find it anywhere in the docs. The onSelect and onDOMchange events work fine but I feel like some props to register key events or on clicking the search icon event are needed.
### Expected Behavior

Search and SearchInput Components should have onEnter, onSearchIconClick or

[2017-05-08 13:47] emmanuelnk commented on #1349
After more research I realized that the SearchInput component is vastly different from the Search component. I made the mistake of assuming they had the same propType. I am now using the Search component and most of my problems have gone away. I still think a click handler for the search icon should be added in a future release.

On that note, I'll close this issue.

components/Search.js
[code]
co

[2017-05-08 13:47] #1349 closed

[2017-05-08 17:35] adamroldfield opened #1350 "Select multiple enhancements: show checkboxes, leave Drop open, custom _renderValue"
I've built some enhancements for Select and I want to socialize them before I submit a pull request.

The first change is to leave the drop open after a selection is made on a multiselect. It's a better user experience for selecting multiple items, but let me know if it needs to be an option or if it's acceptable default behavior.

The second change is to add checkboxes to the options in the multi

[2017-05-08 19:57] dgennetten commented on #1157
@mjasnikovs, as indicated in the link you provided, the Date object (which Timestamp uses) provides 24-hour time format as a default in locales where that is standard. I just verified this is true noting that https://grommet.github.io/docs/timestamp shows "15" for  <Timestamp value='2017-05-08T19:48:16.098Z'  fields='hours' /> operating in es-ES (Spain), where in the US ('en-US') it shows "10 am".

[2017-05-09 02:15] pho3nixf1re commented on #1176
I too am interested in this feature. I have several columns in my dataset but only 2 need to be sortable. The other data is impractical to sort due to the way it is related across services. Therefore I need a way to exclude some of these columns from sorting in the header.

[2017-05-09 02:18] pho3nixf1re commented on #1176
Perhaps something as simple as this:

[code]

Where the default is to allow sorting but if there is an object of the shape `{ label, sortable }` it would then pick up the `sortable` boolean.

[2017-05-09 09:25] ramyhardan commented on #1183
I use https://github.com/boblauer/react-onclickout for this:
[code]

[2017-05-09 12:54] MichaelDeBoey commented on #1303
`react-intl v2.3.0` is [released](https://github.com/yahoo/react-intl/pull/940) 🙂

[2017-05-10 16:36] dgennetten commented on #835
This thread illuminates the difficulty of this requesthttps://github.com/moment/moment/issues/162

[2017-05-11 06:13] vladblindu commented on #636
Hello

Are there any undocumented upgrades concerning the customising of grommet themes.
I am using create-react-app and I try to avoid ejecting. It's may 2017. Still no chance....?

[2017-05-11 14:04] karatechops commented on #1340
Related to #1306

[2017-05-11 22:49] #1157 closed

[2017-05-12 06:20] jcuenod commented on #1102
You lose the responsiveness of `<Sidebar />` in this approach.

[2017-05-12 15:26] MarcelGeo opened #1354 "Missing styles for box height full"
### Expected Behavior
Style for full height size is expected.

### Actual Behavior
Missing style for size height full. Class named grommetux-box--height-full is added to div element right, but without expected style definition.

### URL, screen shot, or Codepen exhibiting the issue
`<Box size={{height: "full"}}>
          ...
 </Box>`

### Steps to Reproduce
Define full height size to Box componen

[2017-05-14 10:09] jzillmann commented on #1183
Tried react-onclickout. At first it seems to work fine, however i now realized that if i have a selection input on my layer, selecting an item will close the layer... Not what i want ;)

[2017-05-15 07:25] ramyhardan commented on #1183
If you can live with a fragile hack, add something like
[code]
to react-onclickout's `___windowListener` before it calls the handler.

[2017-05-15 08:22] ramyhardan commented on #1183
You could do something hacky like `if (e.srcElement.className.includes("grommetux-select__option")) return` in your handler every time or use a HOF for this or modify react-onclickout's `__windowListener` accordingly. Doesn't get prettier, though. ;)

[2017-05-15 16:36] bammmmmmmmm commented on #1162
I agree with @dakt

[2017-05-15 18:01] dgennetten commented on #1337
@ahappypie, we welcome pull requests! Go ahead and submit.

[2017-05-15 18:32] ianmartorell opened #1358 "Disappearing icon in drop Search component"
### Expected Behavior
When a Search component is not rendered inline because `inline={false}` has been specified or we're viewing it in a narrow screen, clicking on the icon opens a `.grommetux-drop` with the search input and an icon. This icon should always be visible.

### Actual Behavior
The icon inside the `.grommetux-search__drop` disappears after typing a single letter OR closing and opening

[2017-05-15 20:37] dgennetten commented on #835
@alansouzati #1353 does not address this timezone issue

[2017-05-15 21:20] alansouzati commented on #835
sorry github closed it automatically.

[2017-05-15 23:15] #1224 closed

[2017-05-16 14:23] dgennetten commented on #1338
PR #1344 solves this PC-only issue. It should be failing on all browsers!

[2017-05-17 20:54] dgennetten commented on #1220
This issue still exists. Verified on Win10/Edge.  This is a duplicate of #1327 I am working on solution.

[2017-05-18 00:12] mvanlonden commented on #1323
Agreed. I've moved on to an alternative implementation and am much happier with the results. Thanks!

[2017-05-18 21:17] cherih commented on #1343
Hi @arabold,

I'm sorry, but we aren't able to replicate this issue using the latest source code in the repo. Do you still see the problem or have an updated codepen that reflects the issue?

[2017-05-18 22:54] XuluWarrior commented on #1300
@dgennetten No.  In this case I have two stats.  One is a subset of the other.  I want to stack them on one bar as this seems both intuitive and uses less space.  The side-by-side behaviour may make sense if you have independent values but that is not what I am trying to present.

[2017-05-20 21:26] mturley commented on #1270
@dgennetten, it's only an issue on mobile browsers.  I am able to reproduce it on Safari and Chrome on an iPhone, and in Chrome on and Android device.

@tracybarmore, thanks!

[2017-05-22 13:28] nomadus commented on #1350
+1, when you have many select items and you set inline=true, the options may take a substantial amount of the page, will any of these changes address this issue?

[2017-05-22 19:49] dgennetten commented on #1300
@XuluWarrior I see the primary problem with this proposal is its imposed practical limitation a maximum of two stats (without widening bars beyond the current, long-established pattern and presenting design and usability issues).  This seems very limited in its application. Do you disagree?

I do believe a legitimate grommet Bullet graph (which might work for you since both values would still be u

[2017-05-22 20:16] dgennetten commented on #1299
@ishark7 could you take a peek and your codepen and get it working again?

[2017-05-22 20:24] dgennetten commented on #1345
@alansouzati looks like https://github.com/grommet/grommet/commit/9c9b16dd77202a87d98958186894db729a1e1848 needs a second look...

[2017-05-22 20:49] dgennetten commented on #1342
@rardoz,  Apologies for the confusion caused by that sketch file.  It turns out that the toolbar shown is not something that has ever existed as a Grommet component.

You could, however, build your own toolbar using ```<Header><Menu inline={true}><Button icons={...} /></Menu></Header>```

Again, sorry for the misleading docs.

[2017-05-22 22:53] dgennetten commented on #444
just fyi, 0180e4c increased dependency on moment.js to fix an ie/edge issue.

[2017-05-22 23:07] dgennetten commented on #746
https://github.com/grommet/grommet-docs/commit/0242a1fe6e43f0a8b9dc082c3343cf5d9660e23b  Done.

[2017-05-22 23:08] #746 closed

[2017-05-22 23:20] dgennetten commented on #1139
Verified fixed.

[2017-05-22 23:20] #1139 closed

[2017-05-22 23:21] dgennetten commented on #1154
Remove Inuit #1154

[2017-05-22 23:21] #1154 closed

[2017-05-22 23:59] nomadus commented on #1191
I am looking forward to see this feature in the nearest release of grommet. Our projects heavily depend on availability of file upload feature, if you could prioritize the resolution of the issue it would be great!

[2017-05-23 00:03] nomadus commented on #1226
This is another critical feature which affects our projects. Currently, we have a big list of lookup items and showing them on page (inline=true) will take all the page, which is not good from UX point of view. But in case of inline=false, this also does not give better UX experience as user has to lookup to see which options are selected.

Could you please prioritize this issue as well? Thanks in

[2017-05-23 00:58] RyanCCollins commented on #1191
Cool thanks @nomadus!  There is a PR open for this. As soon as a grommet core member has some free time, we can get it reviewed and into the next releas.

[2017-05-23 10:35] XuluWarrior commented on #1300
@dgennetten In my scenario, the number of stats does not affect the width of the bar.  In my example pictures the red bar is wider because it is highlighted due to mouseover.  Before mouseover the blue and the red lines are the same width.

[2017-05-23 16:35] dgennetten commented on #1111
@tracybarmore Can you please confirm the expected behavior?  The stated expected behavior doesn't seem to be present "in other themes" (e.g. grommet themed primary anchor doesn't 'change to black'). I see the inconsistency you mention, but it's not clear what is correct.

[2017-05-23 22:26] dgennetten commented on #1354
@MarcelGeo  I think you need to use ```full={true]``` or ```full="vertical"```.   The reference to ```full``` in the Box ```size`` property is in error, I believe.

[2017-05-23 23:11] ezzatron opened #1362 "Chart Marker throws errors when max is zero"
### Expected Behavior
A `Marker` component with a `max` prop of `0` should not throw errors.

### Actual Behavior
A `Marker` component with a `max` prop of `0` throws errors.

### URL, screen shot, or Codepen exhibiting the issue
Unable to make a Codepen because `Chart` seems to be undefined in the standard Grommet Codepen template.

Example console error message / stack trace:

[code]

### Steps

[2017-05-24 01:22] dgennetten commented on #1300
@XuluWarrior What if you have two or more stats that are equal in value? It seems there would be no way for the user to know.

[2017-05-24 01:43] #1342 closed

[2017-05-24 13:04] XuluWarrior commented on #1300
@dgennetten Valid point.  I am actually using the meter as part of the annotated meter and so would be able to see both values even if they were equal.
Without annotation, perhaps on mouseover, one stat expands, showing the other one on top at normal width.  Making it clear that both stats are being displayed but have the same length.

[2017-05-24 20:16] dgennetten commented on #1227
As I'm looking into the source of this issue, I'm becoming aware that this needs to also include #1216

[2017-05-25 04:11] tracybarmore opened #1363 "Add Google Analytics Tracking ID to Grommet.io"
Replace old Google Analytics tracker ID with new tracker ID provided from:
https://analytics.google.com/analytics/web/?authuser=0#management/Settings/a99690204w146378478p151134518/%3Fm.page%3DPropertySettings/

[2017-05-26 16:01] dgennetten commented on #1278
@vaibhavbhargav, this is normal and expected behavior. HPE-themed Grommet components show the green border when they have focus. Your code leaves the component focused.

[2017-05-26 16:04] #1278 closed

[2017-05-26 16:59] dgennetten commented on #1363
I'd like to take this on, but need creds.

[2017-05-26 17:02] dgennetten commented on #1358
@alansouzati I would like to turn this one into an alan-tutorial ...

[2017-05-26 17:21] dgennetten commented on #1354
Docs fixed in PR267

[2017-05-26 23:39] adamroldfield commented on #1313
The mirror is rebuilding.

This will fix it:
 if (mirrorCells.length !== cells.length)
        return;

Insert here:

_alignMirror () {
    if (this.mirrorRef) {
      const tableElement = this.tableRef;
      const cells = tableElement.querySelectorAll('thead tr th');
      const mirrorElement = this.mirrorRef;
      const mirrorCells = mirrorElement.querySelectorAll('thead tr th');

      if (mi

[2017-05-26 23:49] adamroldfield commented on #1350
Yes, @nomadus , this is what the multiselect looks like:
![multiselect](https://cloud.githubusercontent.com/assets/6673387/26515800/078d9110-4244-11e7-81e2-4cd77306e575.png)

[2017-05-27 04:36] nomadus commented on #1350
This is exactly what I was looking for, could I access to the source code, so I could test in my env?

[2017-05-27 16:39] adamroldfield commented on #1350
When I created this issue I had intended to submit my changes to the project, but I've made some extensive changes to multiple controls now, and I don't have them in github. I'm attaching my Select.js which is, IIRC, the only file you need for these features.
[Select.zip](https://github.com/grommet/grommet/files/1033662/Select.zip)

Usage:
[code]

[2017-05-28 02:56] bjackson commented on #1269
This would be great. I think all we need would be the ability to put the units on the left instead of the right.

[2017-05-29 05:44] Kitanotori commented on #820
@RyanCCollins Can't get the typings working. Webpack keeps throwing similar error for each imported component: `TS2604: JSX element type 'Button' does not have any construct or call signatures.`

Temporary "solution" I could come up with was to change the definition from

[code]
to

[code]
, effectively making the definitions useless.

[2017-05-29 11:45] ravenberg opened #1364 "Please provide clear documentation on how to apply brand colors"
Over here at the Learn/color https://grommet.github.io/docs/color page it is stated that;

But there are no guidelines on how to override these defaults. Please provide some documentation on this.

[2017-05-29 13:33] foolproofit opened #1365 "App content not scrolling back to original position after mounting and unmounting Layer on IE11"
On IE 11 the app content scrolls to top after mounting the Layer component but it doesn't scroll back after unmounting. On other browsers the content scrolls back.

### Expected Behavior
Content scrolls back to the original scroll position i.e. the scroll position before mounting the Layer component, on all supported browsers.

### Actual Behavior
Content doesn't' scroll back to the original scrol

[2017-05-29 13:43] foolproofit commented on #1365
Workaround fix for the issues:
[code]

[2017-05-29 23:35] bjackson opened #1366 "Value: units on the left side"
It would be useful to have Value be able to display units on the left side instead of the right, especially in the case of using it to display currencies.

[2017-05-30 02:34] Kitanotori opened #1367 "No textarea component?"
Is there support for textarea that expands as you input more lines, and scales down as you erase lines? I found TextInput, which oddly results in page reload on pressing enter (oh how many times pressing enter has resulted in accidental submission and page reload... I hope you guys fix this), and also tried adding ordinary <textarea/> inside FormField, resulting in weird padding and ugly scrollbar

[2017-05-30 13:58] JohnDevitt opened #1368 "TableRow component not hoverable?"
I've noticed that the cursor doesn't seem to change when hovering over a table row even when onClick callback is provided.

Not sure if this is a bug or expected behaviour(someone suggested it may be expected so that users can copy the text from a table row easier). Seems a bit odd because everything else that can be supplied with an onClick prop is hoverable(Box etc). Seems to be the case for bot

[2017-05-30 19:18] Bensji commented on #1367
Hi,

I found that using the following structure works great:

      <FormFields>
        <fieldset>
            <FormField label='Category description' htmlFor='description' error={errors.description}>
            <textarea rows="5" type='text' id='description' name='description' onChange={(e) => {
              this._change(e);
            }} />
          </FormField>
       </fieldset>
    </For

[2017-05-31 14:17] adamroldfield commented on #1368
See the docs for Table, there's a selectable and onSelect property there that will do what you're looking for.

[2017-06-01 09:17] csethanhcong opened #1371 "Format is not a function"
After upgrade `grommet@1.4.0` to `1.4.1`, I got this error:

I found out that the root cause come from this line: `https://github.com/grommet/grommet/blob/master/src/js/components/Timestamp.js#L107`

Maybe something wrong at the `dateObj` assignment before, we should cast `date` to Date object like previous version. Ref: `https://github.com/grommet/grommet/blob/master/src/js/components/Timestamp.j

[2017-06-01 13:47] dgennetten commented on #1367
Yes, using <textarea /> is the recommended approach.  Closing the ticket.

[2017-06-01 13:47] #1367 closed

[2017-06-01 13:50] dgennetten commented on #1364
@alansouzati @lozzi I propose we address this by documenting-while-creating a grommet-alt theme.

[2017-06-01 13:57] thomas-romuald commented on #1336
Hi @tracybarmore is there any news about this issue?

[2017-06-01 16:03] ericsoderberghp commented on #1337
I would like to understand a bit more on when it would make sense to change the color on hover. For instance, the example shows changing the color of South America to a completely different color that matches Asia. That doesn't seem the like a consistent usage of color.

I agree with needing the enhancement to have hover and click be separably available.

I am about to submit some other changes to

[2017-06-01 16:55] alansouzati commented on #1371
Thanks for reporting this and for going the extra mile to investigate the problem. I've pushed a fix for this here:  https://github.com/grommet/grommet/commit/abbdae96be5965233c13e6c17c2af9abfb5fb614

In the meantime, you have two options:

1) Convert your date to String before calling Timestamp.
2) Using Stable branch in Grommet with the fix for it (it will be soon part of 1.4.2). we just release

[2017-06-01 16:55] #1371 closed

[2017-06-02 15:24] dgennetten commented on #1227
@JetLim did you have a chance to chat with @ericsoderberghp about this?

[2017-06-05 10:47] Slumber86 opened #1374 "Carousel animate on first rendering when activeIndex > 0"
### Expected Behavior
When the carousel is loading with `activeIndex` not zero, carusel should show the page without animation

### Actual Behavior
An animation is performed when the page is loaded

### URL, screen shot, or Codepen exhibiting the issue

https://codepen.io/anon/pen/dRPNrd?&editors=0010

### Your Environment

* Grommet version: 1.4.1
* Browser Name and version: Chrome and Firefox (l

[2017-06-05 14:57] Slumber86 commented on #1374
I've created a pull request to solve the issue, please verify if it's good or not..

[2017-06-05 15:02] vladblindu commented on #1089
I bow before the HOR (higher order reason) that prevents the Button component to have a simple **disabled** property,, but for everyone that isn't that enlightend in UX philosopy, the following wrapper might come in handy:

[code]

[2017-06-05 17:00] mcwebb commented on #1345
We've also encountered this and hunted through the Grommet source code for the culprit, but couldn't find what was wrong.
Our workaround was to introduce request throttling in our stores, but obviously that's less than ideal.

[2017-06-06 00:32] #1327 closed

[2017-06-06 16:03] #1220 closed

[2017-06-06 17:45] alansouzati commented on #1374
Thanks for your contribution and for going the extra mile to send the pull request.

I'm sorry I've just realized the Carousel docs is missing the description for `activeIndex` and `onActive`. I'm going to add documentation for it today.

That said, let me explain what is going on here. `activeIndex` should be used together with `onActive`. Basically if you pass `activeIndex` we will just assume t

[2017-06-06 18:07] Slumber86 commented on #1374
Yeah this make sense, we use onActive exactly in this way to sync the carousel position with our redux store.
The problem is exactly that when we use this to set the state saved in redux to the carousel before first render, unwanted animation is performed (as is showed in your codepen)
My PR just changed the class until first state change to avoid starting animation.
Hope now there is better conte

[2017-06-06 18:08] alansouzati commented on #1374
let me look into this.

[2017-06-06 18:09] Slumber86 commented on #1374
Thanks 🙏

[2017-06-06 18:30] m4rcelofs commented on #1324
ping, should I open a PR for that?

[2017-06-06 21:50] SuhairZain commented on #1324
Hey Marcelo. I keep getting stuck at work that I haven't been able to make public commits for over a month. If it's possible for you to make the PR, I'd totally appreciate it. It'd be a great help. :)

[2017-06-06 22:08] ezzatron opened #1376 "Timestamp component: Deprecation warning: moment().lang() is deprecated. Instead, use moment().localeData() to get the language configuration. Use moment().locale() to change languages."
This deprecation warning has started to display when using the `Timestamp` component after a recent update:

[code]

[2017-06-06 22:26] alansouzati commented on #1376
This is actually fixed in the master branch and it will be part of the next grommet release.

https://github.com/grommet/grommet/blob/master/src/js/components/Timestamp.js#L42

Thanks for reporting this.

[2017-06-06 22:26] #1376 closed

[2017-06-07 15:26] jmfadeley opened #1377 "Accordion expand/collapse all option."
So we like many of Grommet's features. One I'm eying for our needs includes using the Accordion component to display a list of items. However, design specs are asking for an "expand/collapse" all option. I _have_ noticed the openMulti and that's a good start, but is there some call I can use behind the scenes to open/close all the containers at once?

### Expected Behavior
Upstanding altruism.

##

[2017-06-07 18:11] jmfadeley commented on #1377
Never mind. I discovered that by providing an array of indexes to the active prop, I can open and close them.

[2017-06-07 18:11] #1377 closed

[2017-06-07 20:34] alansouzati commented on #1368
thanks @adamroldfield you are exactly right.

The idea behind the `onClick` prop name for Box is: often times you click on it to go somewhere else.

On the other hand, the intent for Table is for you to select it and do some operation like delete, specially during a bulk operation mode. That's why we have different names for these two components. Hopefully it makes sense.

I'm closing this issue a

[2017-06-07 20:34] #1368 closed

[2017-06-07 20:35] alansouzati commented on #1366
agreed let me try and put something together for this.

[2017-06-07 20:47] alansouzati commented on #1366
Support added [here](https://github.com/grommet/grommet/commit/5af0ad403e73aaa96625f6304d1c82617e4ad076).

It should be soon available in the stable branch and for sure will be part of the next grommet release.

Thanks for the suggestion.

[2017-06-07 20:47] #1366 closed

[2017-06-07 20:53] alansouzati commented on #1315
This is the expect behavior. We scroll to the top because we set the focus inside the layer for accessibility reasons. When you close the layer the focus should return to the original element.

Users that have low visibility will not be able to see what is behind the layer, so relying on that is dangerous. If you need to show some information when a "Layer" is opened, I would recommend using a "Si

[2017-06-07 20:53] #1315 closed

[2017-06-07 20:54] alansouzati commented on #1365
Thanks for reporting this. Let me try to reproduce this on IE11.

[2017-06-07 22:09] alansouzati commented on #1365
Fixed in https://github.com/grommet/grommet/commit/9f987ddaffffe3da28611336eb534da34549d2ce

It should be soon available on stable branch and for sure in the next Grommet official release.

[2017-06-07 22:09] #1365 closed

[2017-06-07 22:26] alansouzati commented on #1293
Fixed in the PR

[2017-06-07 22:26] #1293 closed

[2017-06-07 22:31] alansouzati commented on #1358
That's a weird bug! Let me work on fixing that.

[2017-06-08 17:56] dgennetten commented on #1362
This seems to be associated with the lack of negative number support ( #1333 ).

[2017-06-08 19:23] adamroldfield commented on #1303
Anchor causes this issue as well, because of the reference to react-desc

[2017-06-08 21:13] alansouzati commented on #1358
Fixed in https://github.com/grommet/grommet/commit/bbe56fac80c8da451c390e11f76ee29fb20628f9

It will be soon part of grommet stable and for sure on the next grommet official release.

thanks for reporting this.

[2017-06-08 21:13] #1358 closed

[2017-06-08 21:42] alansouzati commented on #1350
Good suggestions. I'm compiling a list of issues that will require some UX work from us and this item is there. You should hear back from us soon.

[2017-06-08 21:44] alansouzati commented on #1348
Good questions. I'm compiling a list of issues that will require some UX work from us and this item is there. You should hear back from us soon.

[2017-06-08 21:45] alansouzati commented on #1346
let me work on this soon. thanks for reporting this.

[2017-06-08 21:48] alansouzati commented on #1334
Fixed in the PR. thanks @cblair

[2017-06-08 21:48] #1334 closed

[2017-06-08 21:52] alansouzati commented on #1325
I'm trying to reproduce this, can you provide a codepen for that @ibhag ? I don't think this is a grommet bug, but something where the request does not actually work. This is just an assumption.

That's why I believe a codepen is very important, it helps to isolate the issue.

[2017-06-08 21:55] alansouzati commented on #1320
That's a good solution in my opinion. I was working on a similar project and implemented exactly as you did. I'm closing this issue since I believe there is nothing to change on grommet itself. thanks for reporting this.

[2017-06-08 21:55] #1320 closed

[2017-06-08 22:37] alansouzati commented on #1266
Fixed by the merged PR. thanks @raphi011

[2017-06-08 22:37] #1266 closed

[2017-06-09 12:34] ianmartorell commented on #1358
No problem, thanks to you!

[2017-06-09 20:11] alansouzati commented on #1374
Fixed by the merged PR thanks again @Slumber86

[2017-06-09 20:11] #1374 closed

[2017-06-09 20:12] alansouzati commented on #1347
Yeah I agree with this change. Let me work on a fix for this.

[2017-06-09 22:14] windgaucho opened #1379 "Grommet not working with meteor 1.5"
Hello:

I am using meteor 1.5 and I want to try grommet for mi next app.

I install grommet with:
meteor npm install grommet --save

Later import the scss file in my Index component but I am getting the following error:
`=> Errors prevented startup:

   While building for web.browser:
   /node_modules/grommet/scss/hpinc/index.scss: Scss compiler error: File to import:
   {}/node_modules/grommet/sc

[2017-06-09 23:40] alansouzati commented on #1345
Fixed in https://github.com/grommet/grommet/commit/bfc03b1b18c4e579e997766d007ecd45a256ad72

[2017-06-09 23:40] #1345 closed

[2017-06-09 23:41] mcwebb commented on #1345
brilliant, thanks for getting to the bottom of it! (pun intended) 👍

[2017-06-09 23:59] alansouzati commented on #1347
Fixed https://github.com/grommet/grommet/commit/0ab7298a17ac1283f116dd780fef0a16e58d9877

[2017-06-09 23:59] #1347 closed

[2017-06-10 00:03] alansouzati commented on #1343
We cannot reproduce this issue. I'm closing it. Feel free to reopen if you can reproduce it. And if you are able to reproduce,  please provide a codepen where we can validate it.

[2017-06-10 00:03] #1343 closed

[2017-06-10 00:31] alansouzati commented on #1340
Fixed in https://github.com/grommet/grommet/commit/aa1a86d82bdd64a2aa3b05918d1718249e6dd7c7.

What is basically is rever of #1306

[2017-06-10 00:31] #1340 closed

[2017-06-12 16:39] morenoh149 commented on #1340
@alansouzati eta on a new release?

[2017-06-12 17:18] nayaksud opened #1380 "Facing CSS Issue while Creating Grommet Components"
When we are Creating Grommet Components for some of the places we are unable to add CSS, because, grommet has own CSS I have attached here a **sample app** and one **screenshot** can anyone help on the, I want to create as per screenshot.

### Expected Behavior

Want to add custom CSS, so can change margin padding & height as per design below.

https://github.com/nayaksud/Facing-CSS-Issu-while-Cre

[2017-06-12 17:39] nayaksud opened #1381 "Facing Problem while adding SVG Logo in Grommet"
Facing Problem while adding SVG Logo in Grommet

### Expected Behavior

It should render, how it is rendering in HTML

### Actual Behavior

It won't render when adding SVG Logo in Grommet

### URL, screen shot, or Codepen exhibiting the issue
Here I have attached, SVG & EPS file, Please help me on this.

https://github.com/nayaksud/Facing-CSS-Issu-while-Creating-Grommet-Components/blob/master/Api%

[2017-06-13 06:42] przytrzask opened #1382 "Menu stays jammed on double click"
### Expected Behavior
Menu dropdown should close itself on click outside or second click itself
### Actual Behavior
If menu drop-align is "bottom" and one drop is already opened and you clik twice on other menu it jams on second click and stays in this behaviour forever.

### URL, screen shot, or Codepen exhibiting the issue
The first and third are with drop-align: "bottom" and will break while th