[2020-05-12 22:42] ShimiSun commented on #3987
@LiveFreeAndRoam thank you.
We are considering a site refactoring, so your inputs are valuable.
I attached your comment and this thread to the existing issue, and we can consider that when we'll take steps on the docs refactoring.
I'll be closing this issue for now. Thanks again.

[2020-05-12 22:42] #3987 closed

[2020-05-13 01:41] jonjamz opened #4075 "FormField docs inaccurate about custom `component`."
### Expected Behavior

The docs state:

"The component may be custom as long it supports the properties of name, value, onChange (event => {}), while event has either **event.value** or **event.target.value**."

### Actual Behavior

Passing an object to onChange with shape `{ value: <anyValue> }` results in an error being thrown and upon inspecting the code from the stack trace it is revealed that

[2020-05-13 07:25] arthurRbr opened #4076 "Box children don't get gap if wrapped in a fragment"
If you have a component that returns an array mapped into a list:

[code]

A component that uses that list cannot set a gap between elements in the list.
[code]

[2020-05-13 12:26] cscognamiglio commented on #4067
Hi ShimiSun,
Yes there is no warning in that example because the input components are passed as children of the FormField components.
In my example I am using a simple FormField without any input component specified, that from what I understands defaults to:
<FormField component={TextInput} />

Also whan specifying other input components this way with the uncontrolled Form I get the warning.
I was

[2020-05-13 17:54] IanKBovard commented on #3999
Here is the code that creates the gap.

[code]

It looks for components and renders the boxes based on how many are available. This might be a difficult fix. As far as i know there is no way to detect if a react component returns null, however, I could be wrong. For conditional rendering that works with grommet's gap property, i suggest this.

https://codesandbox.io/s/focused-gould-jjged?file=/src

[2020-05-13 19:24] IanKBovard commented on #4066
@dipunm I'm having a hard time reproducing it in firefox. I was able to briefly see a scrollbar in chrome, but after that have not been able to replicate it. Are there any other conditions i must meet?

Just to clarify here's what i've done to test.
  open the preview in a new window
  open dev tools
  change widths
  click the menu button
  go into responsive design mode
  change to various sizes

[2020-05-13 19:26] britt6612 opened #4077 "Default button is causing issues on components that use Button"
With the new changes that were done to `Button` and default this is now effecting other components in which use `Button` under the hood to made up that component
### Expected Behavior
I would expect that if I had certain properties defined in theme for `default button` these would not effect the components that are should be using plain button under the hood.

### Actual Behavior
When you have in

[2020-05-13 19:27] IanKBovard commented on #4066
Are you able to reproduce it consistently?

[2020-05-13 19:27] britt6612 commented on #4077
adding @halocline comment from Slack thread

Basically, any components that use Button in their implementations are receiving excess padding (as defined by default in the theme), and also receiving the wrong hover background color (switching light/dark styling).

Menu is another example: https://design-system.hpe.design/components/menu

[2020-05-13 19:42] dipunm commented on #4066
I have been trying to reproduce again. I can't do it. I did manage to reproduce once like you said, and then I tried things like throttling network, throttling cpu (only possible in chrome) and I can't reproduce this anymore :(.

The annoying thing is that I was able to reproduce on android once too and it was consistent before.

Oh well, I guess we could close this and I can re-open if/when I can

[2020-05-13 20:01] IanKBovard commented on #4066
Thanks for the response! I say lets keep this open for a little while longer. I'll do some more digging to see if i can replicate it consistently.

[2020-05-14 16:43] jjalonso opened #4078 "TextInput plain doesnt work?"
TextInput plain doesn't appear to do anything.

### Expected Behavior

Remove padding

### Actual Behavior

Doesn't remove the padding

### URL, screenshot, or Codepen exhibiting the issue

https://codesandbox.io/s/textinput-plain-issue-jexeu

### Your Environment

- Grommet version: 2.13.0
- Browser Name and version: Latest Chrome
- Operating System and version (desktop or mobile): both

[2020-05-14 22:33] atoy40 commented on #3673
I've a similar error, but this is when the infinite scroll find the parent is the "document" itself (no other parent with scrollbar), and then later it try to call getBoundingClientRect on that document object which do not has this function.

[2020-05-14 23:18] jjalonso opened #4080 "[Suggestion/Enhance] Button default size should style as medium."
### **enhace/suggestion**

Apparently we have different sizes for Button component, and aside that we have the default, that at the same time it look pretty much like a size="medium" but that has its own section theming outside button.sizes object.

I think that when no size specified, it should style purely as a medium button and not having a special theme object on button root (Theme object).

#

[2020-05-15 04:26] iMerica opened #4081 "Types are now broken in Grommet, causing prop auto completion to not work."
Hey guys,

Something is now broken with the types in Grommet. Before, I could write `<Box>` and type the first few characters of props like height, pad, width, height etc and my editor would auto complete and suggest available props.

This is now broken.

I've verified its not an issue with my editor, by

- Testing other 3rd party components in my app, verifying this issue only effects Grommet.
-

[2020-05-15 09:50] jecassis opened #4082 "Fix deprecation warnings when installing Grommet"
`npm install grommet` and `yarn add grommet` should not output deprecation warnings on install.

### Actual Behavior
Yarn example:
[code]

### URL, screen shot, or Codepen exhibiting the issue
See console output above.

### Steps to Reproduce
`yarn install grommet@2.13.0`

### Your Environment
- Grommet version: 2.13.0
- Browser Name and version: Not applicable
- Operating System and version (desk

[2020-05-15 10:16] jecassis commented on #4082
The last one is fixed by removing the `recompose` dependency in #4074.

For the first three may I propose the following solution (as submitted in pull request #4083):

1. Replace `css` with `postcss`. `css` appears to not be actively maintained.
2. Move it out of `dependencies` and into `devDependencies` as the `portal.js` file is only imported in `*-test.js`.

[2020-05-15 15:14] RobertGary1 opened #4084 "Enhancement to Form - would be nice to offer immediate validation"
For forms without a submit button it would be nice to offer validation as the user types.

[2020-05-15 17:52] ShimiSun commented on #4081
Can you identify from which version you are reproducing this issue?

[2020-05-15 18:31] chrisvalmonte opened #4087 "Formik setFieldValue right-aligns Select option when selected"
It seems that `Formik.setFieldValue` imperatively simulates typing in a value into the `<input type="text" />` that's rendered by the `Select`, which causes the text to be right-aligned.

### Expected Behavior
Selected option inside the `Select` box should be left-aligned after selected

### Actual Behavior
Selected option inside the `Select` box is right-aligned after selected

### URL, screen sh

[2020-05-15 21:40] blakehilliard opened #4088 "Can't click lower options from Select inside a FormField inside a Layer"
### Expected Behavior

Opening the drop-down choices of a select, then scrolling down, then clicking your selection, should select what you just clicked.

### Actual Behavior

For choices toward the bottom of the options, clicking them just scrolls the drop-down menu back to the top and does not change the selected value.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.

[2020-05-16 01:55] nateq314 commented on #2420
What's the current status on this?

[2020-05-16 07:19] ishagupta1548 opened #4090 "Immediate validation on form field"
While adding form fields, there is no immediate validation provided in the **stable version**. In the grommet package by npm, `validate` function works fine.

### Expected Behavior

- The `validate` function should work for the form field
- As soon as we move to the next field, the validation in the previous field should be reflected.

### Actual Behavior

- No validation happens. The validation i

[2020-05-16 17:10] gegis commented on #576
Thanks for `onClick` idea on parent component, that saved my day!

[2020-05-16 17:54] kisonay opened #4091 "<Grommet theme={customTheme}> outputs div without appropriate width/height preventing full box"
It appears `<Grommet theme={customTheme}>` outputs a div without width/height set to 100% which prevents all children from going full width/height

### Expected Behavior

This outermost div should have width and height defined.

### Actual Behavior

this outermost div does not have width and height defined.

### URL, screen shot, or Codepen exhibiting the issue

<img width="496" alt="Screen Shot 2

[2020-05-16 17:59] kisonay commented on #4091
Doh, just need to add the full attribute to <Grommet>

[2020-05-16 17:59] #4091 closed

[2020-05-17 12:00] ishagupta1548 commented on #4090
It works if in the `Form` field, `validate="blur"` is included.

[2020-05-17 12:01] #4090 closed

[2020-05-17 13:40] ashcherbyak opened #4092 "TextInput component lose's ref"
The use of ref on TextInput does not work as expected. When I try to focus input on first render I get error, because of ref is undefined

[code]
When I tryed to use simple ```<input>``` all works as expected
[code]
### Expected Behavior
ref should point on TextInput

### Actual Behavior

![image](https://user-images.githubusercontent.com/62097255/82148443-d7040700-985c-11ea-83dc-ca8f49144bc5.png)

[2020-05-17 16:33] jjalonso opened #4093 "Text doesnt apply vertical margin as shown on documentation"
Apparently Vertical margin doesnt work on Text component.

### Expected Behavior

expect to see vertical margin

### Actual Behavior

Only work with horizontal margin

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/text-margin-12ois?file=/index.js

[2020-05-18 02:39] dandv commented on #4014
Thanks @ShimiSun, actually I think https://storybook.grommet.io/?path=/story/select--search is an even better fit!

[2020-05-18 14:03] ShimiSun commented on #4014
Glad you found what you are looking for.

[2020-05-18 14:03] #4014 closed

[2020-05-18 14:13] ShimiSun commented on #4093
Hi @jjalonso, thanks for reporting, a quick solution for the sandbox you described is to have a joint parent container for the two Text components https://codesandbox.io/s/text-margin-2siqs?file=/index.js.

[2020-05-18 16:48] cliffpyles opened #4095 "Make years and months for the calendar editable"
On the calendar component a user has to click the arrows to navigate through each month before they can switch years. So for example if I am on December 2020, and I want to be on December 2000, I have to click the back arrow 240 times.

### Expected Behavior

A user would have an efficient way to navigate/edit the year and month of the calendar.

### Actual Behavior

A user has to click the arrow

[2020-05-18 17:23] ShimiSun commented on #4088
I think this issue is fixed on the stable branch https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F.
Will you be willing to give it a try and let us know using the stable (our updated master branch) solved your problem?

[2020-05-18 21:34] MikeKingdom opened #4097 "Button target property complains about named targets"
The "target" property to Button complains if the target is a string other than _self, _blank, _parent or _top.

### Expected Behavior

String values for the "target" property other than the 4 builtin values shouldn't result in a complaint from prop types. It's actually not unusual to specify a named window as a target so that links from that anchor always end up in that tab/window rather than crea

[2020-05-18 21:35] britt6612 commented on #4077
After some exploration:

After looking at menu and accordion in the design system I found that with adding the plain prop now to these when default button is in the theme the text color in dark is not correct.

https://design-system.hpe.design/components/accordion
![Screen Shot 2020-05-18 at 3 34 28 PM](https://user-images.githubusercontent.com/42451602/82261881-14c86480-991d-11ea-9928-c034fe82468

[2020-05-18 21:43] ericsoderberghp commented on #4026
I think this has been addressed by https://github.com/grommet/grommet/pull/4096.

[2020-05-19 09:58] DrStricker opened #4098 "TextInput suggestion scroll problem"
When i scroll in the suggestions of a TextInput it won't stop bringin me back to the last suggestion i put my mouse on and i can't really scroll down because of that problem.

### Expected Behavior
A normal scroll down that doesn't bring back at the top of the suggestions or to the last suggestion i hovered

### Actual Behavior
The scroll bar brings me to the top of the suggestions or to the last

[2020-05-19 15:53] blakehilliard commented on #4088
That works!

[2020-05-19 15:56] ShimiSun commented on #4088
Great, I'll be closing the issue then.

[2020-05-19 15:56] #4088 closed

[2020-05-19 16:35] ShimiSun commented on #4098
I think this issue is fixed on the stable branch https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F.
Will you be willing to give it a try and let us know whether using the stable (our updated master branch) solved your problem?

[2020-05-19 16:45] IanKBovard commented on #4026
Just tested, #4096 addresses the issue. This can be closed.

[2020-05-20 08:37] DrStricker commented on #4098
It works perfectly, thanks !

[2020-05-20 11:17] jjalonso opened #4101 "form errors show wrong style"
When passing an array to form errors, it look like info.
### Expected Behavior

Show error styling
### Actual Behavior

Show info styling

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/form-errors-3tyv1?file=/index.js

[2020-05-20 15:17] #4026 closed

[2020-05-20 15:46] cscognamiglio commented on #4065
I am having exactly the same issue.
Also, if there is already some text in the textarea and I try to input text, say, from from the beginning (or anywhere in the text) after the second stroke I get that warning and subsequent characters are appended to the end of the text no matter what...

[2020-05-20 16:56] ShimiSun commented on #4078
I think the padding is coming from the Formfield and not from the TextInput itself, can you verify?

[2020-05-20 17:48] MikeWalrath opened #4102 "Accessibility Testing Presentation"

[2020-05-20 17:49] MikeWalrath opened #4103 "Test Cafe Presentation"

[2020-05-20 17:49] MikeWalrath opened #4104 "Jest/react-testing-library Presentation"

[2020-05-20 18:21] IanKBovard commented on #4104
This should be jest/react-testing-library

[2020-05-20 18:52] jjalonso commented on #4093
Yeah it work but I though it was a bug since the doc talk about you can apply vertical margin to text.

Is that a bug or only I'm using it wrong?
 cc @ShimiSun

[2020-05-20 19:37] ShimiSun commented on #4093
we'll need to see why doesn't work without the Box parent. I'll keep this issue open for now.

[2020-05-20 22:13] taysea commented on #4070
Hey Edgar, I think that this is just because the live editor on grommet site isn't interpreting the "enters" as line breaks. Here's an example on designer showing that bulleted list is functioning as expected: https://designer.grommet.io/?id=Markdown-taylor-seamans-hpe-com

[2020-05-20 22:21] taysea commented on #4093
The reason this is happening is because Text is rendered as `span` in the DOM and `span` by default has display inline which only takes up horizontal margins. That is why the vertical margin is having no effect. However, once Text is wrapped in a Box, it has display block, allowing the vertical margin to take effect.

Applying `display: inline-block;` to StyledText seems to remedy this issue, but

[2020-05-20 22:58] DanielBaird opened #4105 "XSS security issue in Markdown component"
`npm` reports a security issue with the Markdown component.

https://npmjs.com/advisories/1219

This parallels [issue 306](https://github.com/probablyup/markdown-to-jsx/issues/306) in the [markdown-to-jsx library](https://probablyup.com/markdown-to-jsx/).  When they fix theirs, we can fix ours.

### Expected Behavior

`npm audit` should report no security issues with Grommet.

### Actual Behavior

[2020-05-21 16:48] ShimiSun commented on #3521
I'm thinking that adding a `fill` prop to the Grommet component will help resolve this issue.

[2020-05-22 10:41] jjalonso commented on #4093
In case it will not accept vertical margin.
Doc should be changed.

On Wed, 20 May 2020, 23:22 taysea, <notifications@github.com> wrote:

[2020-05-22 15:12] jjalonso commented on #1450
+1 for spinning anim

[2020-05-22 16:08] ShimiSun commented on #2820
Applying a direct fix for this issue requires code changes that might cause backward compatibility issues. Hence, the fix was implemented as part of the new 'kind' Button structure. once the user has `theme.button.default` (along with other kind of buttons `theme.button.secondary` or `theme.button.primary`) defined on the theme, for those types of buttons the color of the icon will respect the the

[2020-05-22 16:08] #2820 closed

[2020-05-22 16:18] ShimiSun commented on #3887
Also thinking we should consider adding reference grommet components on`bit.dev`.

[2020-05-22 16:30] ericsoderberghp commented on #3521
I think the end result we want in this case is for `<Grommet />` to end up with `min-height: 100vh;`.  Currently, `<Grommet full />` results in `height: 100vh;`. Both are valid scenarios. One suggestion: `<Grommet full="min" />`?

[2020-05-22 16:42] IanKBovard commented on #4104
should we close this issue, as the presentation is over?

[2020-05-22 17:20] taysea opened #4108 "Use fieldset and legend for grouped form inputs"
For grouped form components, such as multiple checkboxes or radiobuttons, they should be wrapped in a `<fieldset>` and `<legend>` for accessibility as opposed to a `<label>` as is currently happening. Each individual checkbox and radiobutton already has a `<label>`, so wrapping in a FormField just causes an extra label to be added to the DOM that isn't associated with an input.

Proposing that we

[2020-05-22 20:14] MikeWalrath opened #4110 "Axe accessibility coverage: do we need a separate metric?"

[2020-05-22 20:15] #4102 closed

[2020-05-22 20:15] #4104 closed

[2020-05-24 00:16] JWesorick commented on #3673
To elaborate a little more on how to fix this if your running into it: the parent scrollable element can't be the document. So for me I fixed my case by adding a Box with height of 100vh around the InfiniteScroll.

[2020-05-24 23:15] DanielBaird commented on #4105
Markdown-to-jsx released 6.11.4 that probably fixes the issue; they're not sure what it will take to convince NPM of that.

I guess grommet should hold off and see if there's another version soon that is NPM-approved

https://github.com/probablyup/markdown-to-jsx/releases/tag/6.11.4

[2020-05-26 13:29] mihai-ro opened #4111 "Button.primary.color applies background instead of label color"
`button.primary.color` sets background-color, instead of label color

### Expected Behavior
`button.primary.color` sets label color

When setting the color property for button variants, a CSS rule for `color` should be applied to button element.

### Actual Behavior
A background-color rule is applied instead, this making it impossible to overwrite colours for labels in button variants.

![Result](

[2020-05-26 14:35] MikeKingdom opened #4112 "<Select> drop throws getBoundingClientRect exception in InfiniteScroll.js"
In Grommet 2.13.0 <Select> throws an error in InfiniteScroll.js when you try to click on the <Select> and choose an option.

This doesn't seem happen with Grommet 2.12.0

DOM.js:217 Uncaught TypeError: target.getBoundingClientRect is not a function
    at isNodeBeforeScroll (DOM.js:217)
    at eval (InfiniteScroll.js:167)

### Expected Behavior

Pop up the drop with options when the <Select> is cl

[2020-05-26 14:48] ericsoderberghp commented on #4112
Can you check whether this is fixed on the stable branch? I think it might be.

[2020-05-26 16:23] MikeKingdom commented on #4112
It seems fixed on the stable branch. I couldn't get it to happen there.

[2020-05-26 18:28] ShimiSun commented on #4112
I'll be closing this issue. @MikeKingdom feel free to reopen if needed.

[2020-05-26 18:28] #4112 closed

[2020-05-26 19:16] MikeWalrath opened #4114 "Design System Presentation"

[2020-05-26 19:17] MikeWalrath opened #4115 "Figma Training"

[2020-05-26 20:08] ShimiSun opened #4116 "Baseline Discovery - Jest coverage metric"

[2020-05-26 20:09] ShimiSun opened #4117 "Baseline Discovery - accessibility coverage metric"

[2020-05-26 20:35] ShimiSun opened #4118 "Clean up dist folder from tests"

[2020-05-26 20:36] ShimiSun opened #4119 "clean out the portal.js from dist & coverage"

[2020-05-26 20:53] ShimiSun commented on #4110
We don't, it will be included in the overall jest coverage.

[2020-05-26 20:53] #4110 closed

[2020-05-26 20:58] ShimiSun commented on #4111
I'm not sure whether this issue is a bug since we document the primary color as the fill color https://v2.grommet.io/button#color
the color that is used for the text is `text` color https://v2.grommet.io/button#global.colors.text

[2020-05-26 21:46] ShimiSun commented on #4116
[coverage-baseline.html.zip](https://github.com/grommet/grommet/files/4685150/coverage-baseline.html.zip)

[2020-05-26 21:50] ShimiSun commented on #4116
![image](https://user-images.githubusercontent.com/6320236/82953740-8d0bd700-9f68-11ea-905d-efbf99d3f27c.png)

[2020-05-26 22:00] ShimiSun commented on #4105
@shovelmn12 FYI.

[2020-05-26 22:16] mihai-ro commented on #4111
My issue is not related to the `primary` colour in the `global.colors` object, but rather to the button variant called `primary` - `<Button primary {...} />`. I am trying to adjust the style for primary buttons, e.g. changing the label colour and its background colour.
Now, I can see these being described in the documentation as `button.primary.color` and `button.primary.background.color` accordin

[2020-05-26 23:06] ShimiSun commented on #4111
I agree with your comment. I think we should consider having separate color theme props for `color` and `background.color` within `primary` button.

Regardless, please take a look at how I was able to impact the text color of primary button in this code snippet: https://codesandbox.io/s/themed-button-pp77f?file=/index.js

[code]

[2020-05-26 23:32] mrnguuyen commented on #3106
@ShimiSun , I am also encountering the same issue but with InfiniteScroll by itself rather than just DataTable. This is an intermittent issue.

Reproducible Issue: https://codesandbox.io/s/gifted-surf-ispcb?file=/src/App.js

It seems like whenever the Licensing column has about or more than 5 lines of data, I am unable to scroll for more data.

@chrisstpierre , do you have any plans of possiblely

[2020-05-26 23:45] halocline commented on #4077
Additional related issues: https://github.com/hpe-design/design-system/issues/770, https://github.com/hpe-design/design-system/issues/771

[2020-05-26 23:47] chrisstpierre commented on #3106
unfortunately I don't have the time to help with this issue. sorry

On Tue, May 26, 2020 at 4:41 PM Brandon Nguyen <notifications@github.com>
wrote:

[2020-05-27 00:07] ShimiSun commented on #4077
@halocline are you linking the issue because you think the fix should be applied on the grommet side rather than the design-system?

[2020-05-27 07:09] mihai-ro commented on #4111
Thank you @ShimiSun. Extending it did the trick.

It looks like the `button.primary.color` and `button.secondary.color` rules (probably a few more besides them) do not apply the colour to the label, but rather to the border and background. Should we extract task out of this ticket? It does look like a mismatch between what's written in the docs and the actual behaviour.

[2020-05-27 14:37] Yoruba commented on #3993
Same error with List

[2020-05-27 15:21] halocline commented on #4077
Yes, sorry for the confusion. In #770 above, the text color of the selected value is displaying `text.light` instead of `text.dark`. This is similar to the accordion and menu screenshots above where the background color seems to be misinterpreted.

In #771 above, each option box is receiving the Default Button styling including padding and rounding (undesired in this case). The theme interface for

[2020-05-27 17:27] ShimiSun commented on #4111
@mihai-ro I'll keep this issue open to extend the `theme.button` API to allow to configure background color separately to text color.
You are welcome to make a code contribution :)

[2020-05-27 17:42] britt6612 commented on #4077
Text color in #770 should be fixed with this current PR thats open
https://github.com/grommet/grommet/pull/4099

[2020-05-27 20:09] #4103 closed

[2020-05-27 22:31] ShimiSun commented on #4081
Friendly reminder on the question above ⬆️
Regardless, it works for me as expected.

[2020-05-27 22:31] iMerica commented on #4081
It's in the issue description

[2020-05-27 22:32] ShimiSun commented on #4082
Thank you for your contribution to this issue buddy! I'll be closing this issue.

[2020-05-27 22:32] #4082 closed

[2020-05-27 22:36] ShimiSun commented on #3898
I think this issue is fixed on the latest release, can you please verify?

[2020-05-27 22:39] #2969 closed

[2020-05-27 22:56] ShimiSun commented on #4081
It doesn't reproduce on my end so I was hoping you can give a more accurate explanation of which version the issue started. Does it work as expected on v2.12.0?

[2020-05-28 01:07] rwhogg commented on #4105
https://github.com/probablyup/markdown-to-jsx/issues/306 has been closed now and npm has [marked v6.11.4 as fixing the issue](https://github.com/probablyup/markdown-to-jsx/issues/306#issuecomment-634729312)

[2020-05-28 07:17] hoshomoh commented on #3898
Will do so today. Thanks for the update.

[2020-05-28 09:48] Berbel93 opened #4121 "Opacity not working for background image in Box"
"opacity" is not working when used in the background property of the Box component if "image" is set. However, it does work when "color" is used instead of "image" for the background.

### Expected Behavior

Opacity works when using "image" inside the background property of the Box component.

### Actual Behavior

Opacity only works with "color".

### URL, screen shot, or Codepen exhibiting the is

[2020-05-28 16:12] ecircenis opened #4122 "Backspacing in maskedInput has odd side-effects"
I am trying to use a maskedInput to force a URL to begin with "https://".

It seems to work well and allows for both pasting in a full URL as well as typing in the part after the fixed portion.  But, if you backspace all the way to the beginning, it is adding unexpected text into the input.

I should be able to backspace without having unwanted text inserted.

Try it here:
https://designer.grommet

[2020-05-28 16:32] ShimiSun commented on #4121
Thank you for reporting, in the meanwhile, you can consider using the Image component with `opacity`. https://v2.grommet.io/image#opacity

[2020-05-28 16:56] ShimiSun commented on #2760
Thanks for reporting, Chart had come a long way with enhancements and improvements, feel free to reopen the issue if needed.

[2020-05-28 16:56] #2760 closed

[2020-05-28 17:38] ShimiSun commented on #3554
I'll be closing this issue, feel free to reopen if it is still relevant and you have more details to share.

[2020-05-28 17:40] ShimiSun commented on #3556
I'll be closing this issue, feel free to reopen if you have more details to share with us for further investigation.

[2020-05-28 17:40] #3556 closed

[2020-05-28 17:41] ShimiSun commented on #3626
I'll be closing this issue, feel free to reopen if you think there is a further work we can do here.

[2020-05-28 17:41] #3626 closed

[2020-05-28 17:42] #3791 closed

[2020-05-28 17:44] #3834 closed

[2020-05-28 17:49] ShimiSun commented on #3076
linking to #3489

[2020-05-28 17:51] ShimiSun commented on #3154
We are currently exposing both `valueKey` and `labelKey` as props that can control the value and labels of the Select `options`. I'll be closing the issue.

[2020-05-28 17:51] #3154 closed

[2020-05-28 17:57] #4105 closed

[2020-05-28 18:05] stephanis1494 commented on #3444
Any update on this issue? I am unable to have a modal on top of another modal due to this bug, haven't really been able to find a viable work around for it either :/

[2020-05-28 20:07] ShimiSun commented on #4108
Talking it through, here is the desired optimization for the code:

[code]
So to simplify it with pseudo:
[code]

My only concern is that we currently don't use `<fieldset>` in the DOM and adding it might need to be thought through a little more.

[2020-05-28 20:15] ShimiSun commented on #3209
Thanks, I'll be closing this issue due to the backward compatibility concern and lack of community interest.

[2020-05-28 20:15] #3209 closed

[2020-05-28 20:32] ShimiSun commented on #3864
Looks like this issue is fixed, feel free to reopen if needed.

[2020-05-28 20:32] #3864 closed

[2020-05-28 20:35] ShimiSun commented on #3340
We took the approach of button kinds instead of Boxy Button, see #4050 for reference.
I'll be closing this issue.

[2020-05-28 20:35] #3340 closed

[2020-05-28 20:37] ShimiSun commented on #3248
Here is an example to achieve it https://storybook.grommet.io/?path=/story/select--create-option

[2020-05-28 20:37] #3248 closed

[2020-05-28 21:07] ShimiSun commented on #3654
@skoshy can you please clarify what `border` would do? would you want it only on the outer Grid or in between rows and columns as well?

[2020-05-28 21:10] ShimiSun commented on #2708
Linking to the design--system discussion https://github.com/hpe-design/design-system/issues/800

The bulk of these items on this list on DtatTable, feel free to file separate PRs on more specific or fresh issues that are desired

[2020-05-28 21:10] #2708 closed

[2020-05-28 21:16] ShimiSun commented on #3128
This actually works as expected, the `hidden` is propagated to the input filed which is hidden while the border is coming from FormField itself.
I'd recommend using a logic differently if you'd like to apply `hidden` to the whole FormField, something like :

[code]

[2020-05-28 21:19] ShimiSun commented on #4111
we recently added `button.default` that changes the way of `background` and `color` to the way you described. it is available on stable branch. If you are defining `button.default` you should experience the expected behavior, please give it a try and let me know if it works as you expected.

[2020-05-28 21:37] ShimiSun commented on #4108
The bigger issue here is what role would `fieldset` have in grommet's Form and FormField, resolving it generically will be better than patching it for this single use case.

[2020-05-29 02:22] skoshy commented on #3654
I was thinking the outer border only, to keep it consistent with how border would work if applied with css to a grid element and also with how border works in `Box`. Inner borders could be a separate prop if deemed necessary?

[2020-05-29 07:16] hoshomoh commented on #3898
The initial error reported doesn't seem to happen anymore, however, I get a new console error regarding changing an uncontrolled input of type text to be controlled.

See sample component https://codesandbox.io/s/grommet-sandbox-g7564?file=/src/CustomFormField.js

[2020-05-29 07:23] mihai-ro commented on #4111
Thank you, @ShimiSun . I think that was it! Can we specify this as a N.B. in the docs, that one should explicitly define a default style for `<Button />` to enable customisation of button variants? (e.g. primary, secondary)

[2020-05-29 09:18] the-spyke opened #4126 "Remove "fbjs" dependency"
### Expected Behavior

No excess or outdated dependencies. No warnings on install.

### Actual Behavior

[code]

Depending on `fbjs` is too much, not mentioning it pulls some outdated deps like `core-js@1`. I thinks `recompose` is not that important in `the age of hooks` and can be refactored out together with `fbjs`.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

[2020-05-29 09:33] the-spyke commented on #4126
There're also a bunch of warnings with `css` dependency:

[code]

[2020-05-29 18:17] #4114 closed

[2020-05-30 11:03] naveenrj98 opened #4128 "No tool tooltip component in grommet v1"
### Expected Behavior
When we click on button or hover on component, we need to show a component which has tip on it to referring component we use in the same thing.

### Actual Behavior
we do not have any component as like to show with tip on any side to reffer the component we use

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version: v1
- Browser Name and version: chrome
-

[2020-05-30 11:43] naveenrj98 opened #4130 "Select Box is not responsive in Mobile view"
### Expected Behavior

Select box and Arrow down icon inside the select button should be responsive in mobile view and also arrow icon should expand with select button when we make select button size small/any.

### Actual Behavior
when we expands/increase/reduce the size of the select button, only border is responding, but the arrow-down icon inside the Select button is not expanding with give si

[2020-05-30 12:52] ericsoderberghp commented on #3952
I suspect this is an issue with how `Select` and `options` work. In HTML, the value of a `<select>` is indicated by selected option: `<option selected>a</option>`. So, there is no way to specify a value that isn't an option. In the simple code snippet in the description of this issue:
[code]
wouldn't show "Test" because it isn't one of the options.
Changing the value to one of the possible options

[2020-05-30 12:55] ericsoderberghp commented on #3925
When `<Form />` is passed a `value`, it operates like a [controlled component](https://reactjs.org/docs/forms.html#controlled-components). You must update some state in the caller via an `onChange`.

[2020-05-30 13:00] ericsoderberghp commented on #3898
The warning in the above sandbox is due to: `const [name, setName] = useState();` not specifying an initial value. If I change that line to be `const [name, setName] = useState('');` instead, the warning is removed. This is due to `name` now having an initial value of '' instead of undefined.

[2020-05-31 08:50] RobertoSnap commented on #4081
Tried updating a project to 2.13.0

rm node_modules, tried with yarn and npm

![image](https://user-images.githubusercontent.com/4772930/83348406-92806d00-a32c-11ea-9485-a600465c4d57.png)

[2020-05-31 08:55] RobertoSnap commented on #4081
Strange, downgraded to 2.11.2 but getting the same error. I have recreated the tsconfig, maybe there is something there.

[2020-05-31 08:59] RobertoSnap commented on #4081
Found out why, add this to tsconfig

"moduleResolution": "node"

[2020-05-31 23:43] brunocrpontes commented on #3128
Using conditional to render the form i lost the utility to receive the value from onSubmit. Isn't perfect, but is a valid work around.

Thanks 🥇

[2020-05-31 23:43] #3128 closed

[2020-06-01 07:12] novykh opened #4132 "Scrolling inside masked input's drop content keeps resetting back to top"
### Expected Behavior

When scrolling to select a value for masked input, it should keep the position.

### Actual Behavior

When scrolling to select a value for masked input, ti resets the scroll position and is not possible to select it.

### URL, screen shot, or Codepen exhibiting the issue

This happens in the codesandbox example as well: https://codesandbox.io/s/github/grommet/grommet-sandbox

[2020-06-01 07:56] novykh commented on #4132
The issue should be caused by this: https://github.com/grommet/grommet/blob/2a38c185e178ff63d87c7868d5e52dd609f4d284/src/js/components/Drop/DropContainer.js#L271

[2020-06-01 10:32] RobKohr opened #4133 "Grommet icon isn't aligning with text beside it vertically"
I am putting the icon next to text, and tried margins, padding, alignment, etc. I can't center the icon next to the text

### Expected Behavior

Icon vertically aligns with text

### Actual Behavior

They are misaligned

### URL, screen shot, or Codepen exhibiting the issue
[code]
![image](https://user-images.githubusercontent.com/26756/83400808-81d60280-a3d1-11ea-8826-031f40f4d8ba.png)

### Steps

[2020-06-01 11:58] sabarnix opened #4134 "Button inconsistent padding"
### Expected Behavior
Button padding should be consistent for StyledButtonKind.js and StyledButton.js

### Actual Behavior

https://github.com/grommet/grommet/blob/2a38c185e178ff63d87c7868d5e52dd609f4d284/src/js/components/Button/StyledButtonKind.js#L36
https://github.com/grommet/grommet/blob/2a38c185e178ff63d87c7868d5e52dd609f4d284/src/js/components/Button/StyledButton.js#L44

button reads button

[2020-06-01 16:24] ShimiSun commented on #4077
A fix for this issue is now available on the stable branch, let us know if you need us to address anything else in this area.

[2020-06-01 16:28] britt6612 commented on #4077
@ShimiSun thank you do you want me to close my PR ?

[2020-06-01 16:49] leocavalcante commented on #3994
There is any workaround until the next stable version is released?

[2020-06-01 16:57] ShimiSun commented on #4077
@britt6612, UI think that if the problem is fixed on the stable than the PR could be closed.

[2020-06-01 16:59] ShimiSun commented on #4133
Wrap it in a box with the `align` or `justify` properties, it should do the trick.

[2020-06-01 19:08] ShimiSun commented on #4128
Hi @naveenrj98 thanks for reaching out.

We currently do not have the resources to address v1 enhancement requests or overall maintenance.

The solution in v2 for tooltip is using Drop component, https://v2.grommet.io/drop

[2020-06-01 19:08] #4128 closed

[2020-06-01 19:09] ShimiSun commented on #4132
I think this issue is already fixed on the [stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) branch.

[2020-06-01 19:55] ShimiSun commented on #4134
Sounds like you already have an idea of how to solve the issue, feel like submitting a PR?

[2020-06-01 19:58] ShimiSun commented on #4081
@RobertoSnap thanks buddy, is it something that should be added to grommet's tsconfig? if so would you like to make a contribution?

[2020-06-01 19:59] sabarnix commented on #4134
Will submit a PR by tomorrow

[2020-06-01 20:02] ShimiSun commented on #4130
The issue is fixed on Select v2. we are no longer maintaining to v1.

[2020-06-01 20:02] #4130 closed

[2020-06-01 20:09] ShimiSun commented on #4111
@mihai-ro thank you for your feedback.
Here is the documentation for the Button component: https://github.com/grommet/grommet/blob/master/src/js/components/Button/doc.js
Resolved to https://v2.grommet.io/button.
Feel free to edit the doc.js file and submit a PR with the way you think that makes the docs clearer. I would love to hear your inputs.

[2020-06-01 20:18] ShimiSun commented on #4126
@the-spyke these warnings were fixed as part of #4083, it wasn't officially released yet, the fix is currently on the [stable](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) branch until next official release.

[2020-06-01 21:01] ShimiSun commented on #4087
Can you please isolate the problem reliably on a newer version of grommet, and send us a codesandbox with the markup to explore the problem. it will have a quicker turnaround if we'll know how you are using the component within Formik.

[2020-06-01 21:14] ShimiSun commented on #4093
An idea is to improve the documentation that the vertical `fill` will be applied when using the component within a Layout component such as Box.

[2020-06-02 02:03] naveenrj98 commented on #4130
How we can migrate from grommet v1 to grommet v2

[2020-06-02 02:57] iMerica commented on #4081
It's not working for me.

[2020-06-02 08:41] hoshomoh commented on #3898
Thanks, @ericsoderberghp and @ShimiSun

[2020-06-02 08:41] #3898 closed

[2020-06-02 15:07] ShimiSun commented on #4130
Yo can start with https://github.com/grommet/grommet/wiki/2.0-Migration-Guide

[2020-06-02 16:42] chrisvalmonte commented on #4087
@ShimiSun Thanks for the response, I'll send that over.

[2020-06-02 22:16] chrisvalmonte commented on #4087
@ShimiSun I updated the issue with the code sandbox link. Here it is: https://codesandbox.io/s/grommet-issue-4087-text-right-aligned-in-select-after-selecting-option-55oxz?file=/src/App.js

[2020-06-02 22:20] chrisvalmonte commented on #4087
@ShimiSun I think that somewhere in the implementation you will have to set the selection range to "move" the cursor inside the text input to the beginning of the inputted string. https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange

[2020-06-03 20:50] the-spyke commented on #2855
Using `<Anchor as={Link} ... />` gives me warning about unknown DOM props, also there're caveats with using icon+label. So, instead of proposed solutions in this issue, I've made myself a hook from router's code as described here: https://github.com/ReactTraining/react-router/issues/7390

[2020-06-03 20:51] taysea opened #4142 "Default button causing `plain` on TextInput, Select, etc. doesn't allow keyboard visual indication of active suggestion/option"
### Expected Behavior

When default button is defined in theme and user uses keyboard to move through textinput suggestions, select options, etc., the hover styling should still be applied.

### Actual Behavior

No styling is being applied because the button is marked as `plain`, so there's no indication of which suggestion or select option is active. This only is an issue when default button is d

[2020-06-04 09:53] c3s4 opened #4144 "Range input lower color seems to not work"
### Expected Behavior
Have the range input track color befor the thumb as in the provided theme.

### Actual Behavior
The lower and upper colors provided in the theme are completly ignored but in the storybook of the library work as expected

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/grommet-range-input-colors-bbyuf

Here your original storybook working exampl

[2020-06-04 14:54] c3s4 commented on #4144
ok, I found it inside online documentation so I thought was available.

Thank you

[2020-06-04 16:14] ShimiSun commented on #4144
Happy to hear you found this feature valuable :)

[2020-06-04 16:44] tpinne opened #4146 "[TS] Calendar: disabled dates (buttons) receive number instead of boolean for disabled prop"
### Expected Behavior
Date buttons receive boolean value if disabled instead of number.

### Actual Behavior
If you define disabled dates via prop you get a console error/warning ```Warning: Failed prop type: Invalid prop `disabled` of type `number` supplied to `Button`, expected `boolean`.```

Have a look a this sandbox: https://codesandbox.io/s/react-typescript-0v6jy?file=/src/index.tsx and watc

[2020-06-04 21:13] atreb commented on #4065
FYI...temp workaround that I found that works for my need (until a fix for this is released) is using `as='textarea'` instead of `component={TextArea}`. Of course it may have it's side effects too.

[2020-06-05 10:10] #4134 closed

[2020-06-05 11:24] tpinne opened #4150 "Calendar needs two clicks for first selection on touch devices"
### Expected Behavior

Selecting the first date on touch devices should focus the calendar and select the clicked date in one step, as it does on non touch devices.

### Actual Behavior

First touch (click) focuses the component. Second touch (click) selects the date.

### URL, screen shot, or Codepen exhibiting the issue

![Bildschirmvideo aufnehmen 2020-06-05 um 13 16 58](https://user-images.git

[2020-06-05 19:24] ShimiSun opened #4153 "Tests for Video"

[2020-06-05 19:24] ShimiSun opened #4154 "Tests for List"

[2020-06-05 21:25] ShimiSun opened #4155 "Box background image is not applying the image"
### Expected Behavior
Box background should display image.

### Actual Behavior
No image is displayed.

### URL, screen shot, or Codepen exhibiting the issue
[code]

### Steps to Reproduce

Use the above code, or go to storybook https://storybook.grommet.io/?path=/story/box--background and see the 4th example isn't showing the background image.

### Your Environment
Chrome

- Grommet version: stab

[2020-06-06 00:36] ericsoderberghp commented on #4155
I think the problem is with the URL not being available anymore, not a problem within Grommet.

[2020-06-06 14:47] ShimiSun opened #4159 "RadioButtonGroup - Document the `control` color as part of the theme docs"
We need to document the `control` color as part of the theme docs as well. I'm creating a separate issue for it.
grommet/src/js/components/RadioButton/RadioButton.js

_Originally posted by @ShimiSun in https://github.com/grommet/grommet/pull/4156#issuecomment-640072369_

[2020-06-07 00:57] ArcticHen7 opened #4160 "DropButton Content Doesn't Respond to Dark Mode"
### Expected Behavior

When a DropButton element is clicked while the app's theme is set to "dark" in the defaultMode property of the theme, the background of the Box should be dark.

### Actual Behavior

When a DropButton is clicked while the app is in dark mode, the dropContent's background remains light.

### URL, screen shot, or Codepen exhibiting the issue

CodePen URl:
https://codesandbox.io

[2020-06-07 02:01] nateq314 commented on #3664
Has there been any further work on this? Ran into this today. Tried wrapping the `TextArea` in a `Keyboard` but that's not picking it up either.

[2020-06-08 21:10] ericsoderberghp commented on #4142
I think the crux of this issue is that Menu, Select, TextInput, etc. all use Buttons within the drop contents but explicitly set `pad="small"`, which means that the theme cannot control the padding of those elements.

Option 1

If we change these instances of Button to not be plain, they will have the correct padding and coloring. Unfortunately though, the font weight isn't controllable here. The

[2020-06-08 21:33] taysea commented on #4142
I agree that option 2 feels like it could be a little too specific to our use case. Extending menu theme seems aligned with what is already established for `theme.select.options`, so it seems like a better approach.

[2020-06-08 23:01] ericsoderberghp commented on #4142
An update ...

I'm thinking of adding an internal `kind="option"` that Menu, Select, TextArea, etc. would use that would allow styling them all consistently within the theme. The styling would be in `theme.button.option` as opposed to replicating the styling under `theme.menu`, `theme.select`, etc.

[2020-06-08 23:18] taysea commented on #4142
I would be fine with that as long as the individual theming that can be done on each of those components persists.

The only thing is that this feels a little hidden from a user's perspective, so thinking about how to document it clearly will be important. Since I'm not technically building Menu with Button, I'm just saying `<Menu items={[...]} />`, revealing what is affected by `kind="option"` wi

[2020-06-08 23:21] ericsoderberghp commented on #4142
agreed

[2020-06-09 20:24] ShimiSun commented on #4160
Good catch!
In the meanwhile try to use
[code]

[2020-06-09 21:03] ShimiSun opened #4165 "focusIndicator on Select shouldn't work unless Select uses `plain`"
### Expected Behavior
focusIndicator on Select shouldn't work unless Select uses `plain.

See the docs:
https://v2.grommet.io/select#focusIndicator

### Actual Behavior
focusIndicator should affect the focus behavior only when the component is using `plain`.

### URL, screenshot, or Codepen exhibiting the issue
https://v2.grommet.io/select#focusIndicator

[code]

### Steps to Reproduce

1. Open th

[2020-06-09 22:26] #4144 closed

[2020-06-09 22:28] ShimiSun commented on #4133
I'll be closing the issue, feel free to reopen and add more info if needed.

[2020-06-09 22:28] #4133 closed

[2020-06-09 22:29] ShimiSun opened #4166 "Form Testing for controlled and uncontrolled states."

[2020-06-10 03:50] jesseolsen opened #4167 "ie11: Sidebar animation in the wrong direction with button type='submit'"
### Expected Behavior

When a sidebar closes, the animation should go the correct direction.

### Actual Behavior

I found a grommet bug where in ie11 the sidebar slides back on close the wrong direction (all other browsers are okay).  This is only when the sidebar has a button with type='submit' (if type='button' there is no issue).

### URL, screen shot, or Codepen exhibiting the issue

 Since i

[2020-06-10 16:34] ShimiSun opened #4169 "Testing Button kind"

[2020-06-10 18:40] taysea opened #4172 "radioButton.extend applied to two DOM elements"
### Expected Behavior

Theming should only apply to one or one type of DOM element.

### Actual Behavior

radioButton.extend is being applied to the box surrounding the indicator as well as the overall radiobutton wrapper.

### URL, screen shot, or Codepen exhibiting the issue

Here, I've applied this to the theme:
[code]
Notice how two different things are being affected here:
<img width="382" al

[2020-06-10 21:13] jcfilben opened #4173 "Pressing `Enter` in List results in 2 onClickItem calls"
### Expected Behavior

When the user presses `Enter` on a list item one call should be made to `onClickItem`

### Actual Behavior

Instead when a user presses `Enter` two calls are made to `onClickItem`

### URL, screen shot, or Codepen exhibiting the issue

<img width="560" alt="Screen Shot 2020-06-10 at 3 11 10 PM" src="https://user-images.githubusercontent.com/54560994/84319148-c75ea200-ab2c-11

[2020-06-11 16:02] MLRichmond opened #4175 "Select with object value cannot be set back to undefined"
### Expected Behavior

Select should accept `undefined` as valid value and clear the selected text (or show the placeholder if specified) when using objects as the value.

### Actual Behavior

Select continues to render the text of the last selected value instead of clearing or showing the placeholder.

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/grommet-sandbox-

[2020-06-11 20:34] JoeButler7 opened #4176 "Video to support accessibility standards"
### Expected Behavior
In `Video-test.js` the `Video` component should have no accessibility violations and support a11yTitle

### Actual Behavior
The `Video` component does have accessibility violations due to a messing `aria-label`. When you try and use `a11yTitle` instead of `aria-label` there is still violations because `Video` does not support `a11yTitle`

### URL, screen shot, or Codepen exhi

[2020-06-11 20:36] ShimiSun opened #4177 "Clean up all dev warnings and errors on running`yarn test`"
### Expected Behavior
No warnings and errors

### Actual Behavior
Existing errors and warnings that need to be addressed.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. run `yarn test`
2. view the warnings and errors

### Your Environment
Any

[2020-06-11 21:03] ecircenis opened #4178 "Selection visualization within Select with searchPlaceholder is wrong"
### Expected Behavior

When opening a select with a searchPlaceholder, I should clearly see the selected item.

### Actual Behavior
This is showing an expanded Select with option 1 selected:
![image](https://user-images.githubusercontent.com/17883783/84438881-7ade9980-abf4-11ea-8d60-49822f0afc97.png)

This is showing an expanded Select (with searchPlaceholder) and option 1 selected:
![image](https

[2020-06-12 15:44] #4115 closed

[2020-06-12 15:45] gregfuruiye commented on #4115
Figma training is done this week. We're just putting things into practice!

[2020-06-12 15:46] gregfuruiye opened #4181 "Design Sprint Plan and Pre-Work"
Schedule and Map out Preflight Checklist to execute a Design Sprint for the Intern Project

- [x] Propsal (Why and How brief)
- [x] Scheduled Dates
- [x] Identify Attendees
- [x] Conduct PM/PO Interview

[2020-06-12 15:56] gregfuruiye commented on #4181
[AJ&Smart Design Sprint Checklist.pdf](https://github.com/grommet/grommet/files/4771834/AJ.Smart.Design.Sprint.Checklist.pdf)
[HPE CDO Sprint Prep Guide.pdf](https://github.com/grommet/grommet/files/4771836/HPE.CDO.Sprint.Prep.Guide.pdf)

[2020-06-12 18:25] halocline opened #4183 "`gap` prop can be used with RadioButtonGroup and CheckBoxGroup but is not shown in documentation"
### Expected Behavior

Docs should show developers that `gap` is a prop they can set when implementing `RadioButtonGroup` or `CheckBoxGroup`.

### Actual Behavior

`RadioButtonGroup` in [ has `gap` prop](https://github.com/grommet/grommet/blob/6219ed0086c8673692ff78ca6a31d710f550ed79/src/js/components/RadioButtonGroup/RadioButtonGroup.js#L20), however it is not in Docs -- it is a Box, so perhaps t

[2020-06-12 18:34] halocline opened #4184 "Would like ability for RadioButtonGroup styling to be set in theme"
### Expected Behavior

I'd like to be able to specify styling for RadioButtonGroup in a theme, specifically the options `gap`.

### Actual Behavior

Theme not currently referenced.
RadioButtonGroup styling can not be set in theme (e.g. desired gap size)
  - Same applies to CheckBoxGroup

Use case. HPE Design System designs desire a gap of none between RadioButtonGroup and CheckBoxGroup options. Im

[2020-06-12 18:47] halocline opened #4186 "Would like ability for RadioButton label font-weight to be specified via theme"
### Expected Behavior

Able to specify font-weight for RadioButton labels in my theme.

### Actual Behavior

I believe the label is inheriting the global font-weight.

Use Case: HPE Design System designs call for RadioButton label to be font-weight: medium/500, however the default label is [currently implemented](https://github.com/grommet/grommet/blob/6219ed0086c8673692ff78ca6a31d710f550ed79/src/

[2020-06-12 18:52] halocline opened #4187 "Would like RadioButton input background color to be specified via theme"
### Expected Behavior

Able to set the background color of the check input in my theme.

### Actual Behavior

Currently need to specify this via `extend`

Background: https://github.com/grommet/grommet-theme-hpe/pull/75#discussion_r437616833

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet version:
- Browser Name and version:

[2020-06-12 18:56] halocline opened #4188 "Would like the ability to set background-color on RadioButton bounding Box via theme"
### Expected Behavior

Able to specify RadioButton's background color via theme. (useful for hover state styling)

### Actual Behavior

Currently this can only be accomplished via `extend` in the theme.

Background: https://github.com/grommet/grommet-theme-hpe/pull/75/files/72e828b82f902dd7b1477e7951e56fb0debf6851#r437617242

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Repr

[2020-06-14 01:31] ShimiSun opened #4190 "Documentation of Video icons theme is missing"
### Expected Behavior
All icons should be documented on the theme section of https://v2.grommet.io/video#theme

### Actual Behavior
None are documented.

### URL, screen shot, or Codepen exhibiting the issue
https://v2.grommet.io/video#theme

### Steps to Reproduce

1. Got to Video docs
2. Look for a way to change the icons
3. You won't find it.

### Your Environment
any

- Grommet version: latest

[2020-06-14 19:35] ImSolitude opened #4191 "How to get touched object for forms on onChange not just on onSubmit"
I am trying to add a prompt for Unsaved changes  in my Form, So I want to check If the input is dirty or not,

I think it would be a good idea to get the `touched` object on `onChange` for forms, Like we have it right now on `onSubmit`:

`onSubmit={({ value, touched }) => {}};`
vs
`onChange={({ value}) => {}};`
:(

[2020-06-15 13:04] jjalonso commented on #4093
It definitely need to be annotated on the margin section in the doc.

On Mon, 1 Jun 2020, 22:14 Shimi, <notifications@github.com> wrote:

[2020-06-15 16:35] the-spyke commented on #4126
Fixed in `grommet@2.14.0`

[2020-06-15 16:35] #4126 closed

[2020-06-15 17:14] #4154 closed

[2020-06-15 20:29] gregfuruiye opened #4192 "Monday Sprint exercises"

[2020-06-15 20:31] gregfuruiye opened #4193 "Tuesday Sprint Exercises"
Storyboarding

[2020-06-15 20:42] MikeWalrath opened #4194 "Marisa's Test Card"

[2020-06-15 20:42] #4194 closed

[2020-06-15 23:48] ShimiSun commented on #4126
Thanks for the follow-up 💟

[2020-06-15 23:57] ShimiSun commented on #4178
I think this issue is fixed on the Recent release (2.14.0), can you please verify?

[2020-06-16 07:48] mihai-ro opened #4196 "Overwriting breakpoints in theme leads to malfunctions"
WHEN adding custom breakpoints in `theme.global.breakpoints`,
THEN the two objects should be merged, with the custom ones overwriting the default values;
INSTEAD the `medium` breakpoint is NOT being overwritten
AND is still being resolved as the default, instead of the overwritten value.

### Expected Behavior
Custom breakpoints are resolved with both the provided value and the configuration, and

[2020-06-16 15:30] ShimiSun commented on #4178
Confirmed this was fixed on the recent release, closing.

[2020-06-16 15:30] #4178 closed

[2020-06-16 15:53] MikeWalrath opened #4197 "Grommet Themer seems to be broken"
### Expected Behavior
Navigate through https://theme-designer.grommet.io/Dashboard seamlessly

### Actual Behavior
On https://theme-designer.grommet.io/Dashboard when you click the "forms" button on the left the page goes blank.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

1. Go to https://theme-designer.grommet.io/Dashboard
2. Click on the form link on the left

[2020-06-16 15:59] ShimiSun commented on #4197
This issue is specific to the theme-designer and should be filed in https://github.com/grommet/grommet-theme-designer. I don't think it is Grommet core related.

[2020-06-16 16:26] MikeWalrath commented on #4197
Apologies, I will file in the correct repo.

[2020-06-16 16:42] #4197 closed

[2020-06-17 17:52] seawolf42 commented on #4067
I get the same error with a controlled form: https://stackoverflow.com/questions/61990216/creating-a-controlled-form-with-grommet-throws-errors. An

[2020-06-17 18:29] #4153 closed

[2020-06-18 03:42] tstanev opened #4210 "Incorrect focus theme used for FormFieldContentBox"
Form field use incorrect border color when in focus, when the them specifies a `formField.focus.border.color` and a global focus color is also set. This was likely caused by changes in https://github.com/grommet/grommet/pull/4018, where FormFieldContentBox was modified to get the global focus theme and ignore the evaluated border color passed in by the parent component.

### Expected Behavior

Exp

[2020-06-18 03:50] tstanev commented on #4210
@ericsoderberghp As you are the author of that PR, would appreciate your input about this and whether it's the intended behavior to override the `borderColor` coming in from `innerProps` into FormFieldContentBox.

[2020-06-18 16:36] SubhrajyotiShaseni opened #4212 "Submenu Support"
Hi team,
I have a requirement to use submenu within menu.
Is it possible to achieve this using grommet V1 or V2 ?

![Submenu](https://user-images.githubusercontent.com/32291884/85047789-f372c680-b1af-11ea-811f-f13824d0cebd.png)

Another issue I noticed. The Avatar.js files is not present inside the code sandbox. Can you please have a look

Thanks,
Subhra

[2020-06-18 17:19] ericsoderberghp commented on #4210
Good question. The overall intent was to ensure that the type of focus styling could be controlled by the theme and be applied consistently across components that can receive focus. Just so I can understand the context of what you are wanting to do better, can you elaborate on what you are trying to accomplish? For example, are you wanting the global focus to appear one way, perhaps in style or co

[2020-06-18 17:20] halocline opened #4213 "Consider adding font and opacity as Button Kind theming options"
### Expected Behavior

`font` and `opacity` Button styling documentation and/or reference to  in `base.js`

### Actual Behavior

Button font-weight changed unexpectedly as reported in https://github.com/grommet/grommet-theme-hpe/issues/80

Resolution was to add `button.primary.font.weight` and `button.secondary.font.weight` to theme, however when investigating, I was unable to see that `font` (as

[2020-06-18 18:51] tstanev commented on #4210
This is roughly what we are doing: we have a global focus color set to transparent to avoid focus rectangle from a bunch of elements that don't need it, and we want to specifically have a non-transparent focus color for form fields, where it's important.
From the code it looked like it's making an attempt to pass the formField focus color down to FormFieldContentBox, but then ignores it and takes

[2020-06-18 20:20] coltonw commented on #4092
This exact issue didn't happen for me in v2.13.0 but now DOES happen in v2.14.0.  It seems like the PR above actually caused this issue to crop up in certain circumstances.

[2020-06-18 21:41] ShimiSun commented on #4092
@coltonw Can you share a codesandbox that reproduces the issue so we could investigate it further?

[2020-06-19 02:31] #4169 closed

[2020-06-19 12:31] coltonw commented on #4092
https://codesandbox.io/s/cannot-read-property-focus-of-undefined-j0cjp

Seems like it is just failing in our unit tests because our unit tests didn't have a theme wrapper before.  If you wrap it in a Grommet component with a theme, it works fine.  Not sure how defensive you want to code that but figured it was worth noting at least for future developers.

[2020-06-19 16:12] ShimiSun commented on #4196
Hi buddy! thanks for reporting this issue!
I've filed a PR to fix it.
In the meanwhile, until the PR will be merged and released, modify the last breakpoint value to a high window size value (e.g. 5000) so you won't see the issue reproducing on your client.
Thanks again!

[2020-06-19 17:45] ShimiSun opened #4218 "Add no warnings for tests on pre-commit"

[2020-06-19 17:51] ShimiSun opened #4219 "Test coverage for Select and Select with Form"

[2020-06-19 20:11] jcfilben opened #4220 "Test coverage for CheckBoxGroup"

[2020-06-19 20:12] #4220 closed

[2020-06-19 20:45] bcliffor commented on #3851
Thanks for working on Grommet all. Just wanted to bump this issue since it's been causing a lot of annoyance for my team too.

[2020-06-19 21:07] ShimiSun commented on #3851
@bcliffor thanks for the bump, few released a new version last week that seems to have fixed the issue as you can see https://codesandbox.io/s/form-select-many-options-h1r9e?file=/index.js
On the codesandbox, if you'll change the version of grommet to 2.11.2 you'll see the issue reproduces, but on the recent release of 2.14.0 the issue is already fixed. Please confirm.

[2020-06-19 21:14] bcliffor commented on #3851
Definitely fixed!

Thanks for the very quick response @ShimiSun !

[2020-06-19 21:24] ShimiSun commented on #3851
Woohoo, I'll be closing the issue, thank you all for the collaboration.

[2020-06-19 21:24] #3851 closed

[2020-06-19 22:28] ShimiSun commented on #4175
I've played with this one today, upgrading to 2.14.0 and it still reproduced.
However, I'm curious to why si you set the `value` to `undefined`  when clicked on the Clear Button?
Since there is no `undefined` value the Select didn't clear. I've replaced it with an empty object and it seems to work as expected https://codesandbox.io/s/grommet-sandbox-9dux9?file=/src/Select.js

Let me know what you

[2020-06-19 23:22] MLRichmond commented on #4175
Because in my code `value` is coming from a hook.

so I have an object like:
[code]

Then in my component I have a hook like this:
[code]

That `selectedValue` is what I pass in to Grommet's Select. For Typescript with a hook, empty object is not a valid value. Trying to call `setSelectedValue({})` will yield an error. The "no selection" value for this hook needs to be `undefined`. That's also the

[2020-06-20 09:32] Robbie-Cook opened #4222 "<MaskedInput /> doesn't work (onChange event doesn't have a event.currentTarget.value)"
### Expected Behavior

If I pass a value and a onChange event handler (event) to a MaskedInput, and start typing I should get a currentTarget.value or a target.value out of the event that is returned.

### Actual Behavior

If I pass a value and a onChange event handler (event) to a MaskedInput, I never get a currentTarget.value or a target.value out of the event that is returned.

### URL, screen

[2020-06-20 14:42] netochaves commented on #4222
We should set a default regex, something like `[^]*`. What do you guys think?

I'll open a PR if that's ok.

[2020-06-20 22:09] Robbie-Cook commented on #4222
Thanks @netochaves , I didn't realise it was related to me not setting a mask. Appreciate your quick PR!

[2020-06-22 00:59] markjackson02 commented on #3186
Retested on 2.14.0. This still seems to be an issue.

[2020-06-22 01:48] markjackson02 opened #4224 "Props not being passed from Tabs to Tab when using custom Tab component"
I have a component that uses Tab at the top level:
[code]

When I render it within tabs like this:
[code]

"Content for the First tab" is displayed in Tab 1 but "Content for the Second tab" is not displayed within Tab 2.

### URL, screen shot, or Codepen exhibiting the issue

Code: https://codesandbox.io/s/grommet-sandbox-tab-composition-issue-447vm?file=/src/Tabs.js
Demo: https://447vm.csb.app/ta

[2020-06-22 14:15] srallen opened #4225 "More theme support for customization of font family per component"
### Expected Behavior

More components in the theme object should support customization by specifying a `family` property for those components. I was attempting to customize `List` while a coworker is trying to customize `Anchor`. Using the extend function is a workaround for now.

### Actual Behavior

Only `Heading` and `Button` support `family` on the theme object.

### URL, screen shot, or Code

[2020-06-22 14:44] YarynaBukovynskaHPE commented on #4066
Hi! This issue is still reproducible. In Chrome also. Time to time the dropdown isn't opened full-sized and gets proper width on hovering. Please, take a look at this.

[2020-06-23 08:42] joybh98 commented on #4187
@ShimiSun is this issue open?

[2020-06-23 15:01] ShimiSun commented on #4187
Yes buddy, want to take a stab at it? go for it!

[2020-06-23 23:52] #4176 closed

[2020-06-24 18:31] jackjwilliams commented on #1600
Any updates on this? It seems this issue was closed and the <Spinning /> element was completely forgotten about.

[2020-06-24 19:09] ShimiSun commented on #1600
@jackjwilliams , Grommet is providing the building blocks to create modular different spinning elements, here are. some code examples https://codesandbox.io/s/loaders-and-spinners-4jltk

[2020-06-24 19:35] jackjwilliams commented on #1600
Very interesting, great examples, thank you!

[2020-06-24 21:51] ShimiSun commented on #4212
Thank you for your interest in this component. From the design aspect, we wouldn't recommend using nested Menus and we believe its functionality can be translated into different layout options depending on the application use case.
That being said if someone believes this should be part of the library we are welcoming code contributions.

[2020-06-24 21:57] ShimiSun commented on #4225
Thank you for raising this issue. Looking at the bigger picture from the design aspect, we need to come up with a list of components it will make sense to have the setting of the font on the theme.
For example, I see a use case Heading having its own font that is different than the overall app, but that wouldn't be true to all of our components. Can you share some of your designs that can help dem

[2020-06-24 21:58] jcfilben opened #4227 "Test coverage for Form"
Increase test coverage for Form component

[2020-06-24 22:13] ShimiSun commented on #4227
Is this issue a duplication of https://github.com/grommet/grommet/issues/4166? Or do you need a separate issue?

[2020-06-24 22:32] jcfilben commented on #4227
I created a separate issue because this issue is focusing on the coverage of Form whereas issue #4166 is just focused on testing for controlled and uncontrolled forms. They are closely related though so they could be combined into one issue

[2020-06-24 23:42] ShimiSun commented on #4227
I'm OK if we want to keep them separated

[2020-06-25 03:41] ptsteadman opened #4229 "Forced "overflow: hidden" in FormField component (FormFieldContentBox)"
# Expected Behavior

I should be able to have a custom input child component that overflows the bounds of the FormField if desired.
My use case: https://github.com/ubilabs/react-geosuggest

### Actual Behavior

The `<FormFieldContentBox>` of FormField is hardcoded with `overflow: hidden`.
See: https://github.com/grommet/grommet/blob/master/src/js/components/FormField/FormField.js#L235

 It'd be ni

[2020-06-25 14:11] #4196 closed

[2020-06-25 17:56] ShimiSun commented on #4196
The issue is fixed and will be available on our next release (release later than 2.14.0). Thanks for reporting.

[2020-06-25 19:05] ShimiSun commented on #4177
Excellent work on this one! Can we close it?

[2020-06-25 19:46] ShimiSun commented on #4116
I think we are good on the Discovery, https://github.com/grommet/grommet/wiki/Grommet-Testing-Taskforce
Can we close this issue?

[2020-06-25 19:59] jcfilben commented on #4177
Yes this issue can be closed

[2020-06-25 19:59] #4177 closed

[2020-06-25 20:42] ShimiSun commented on #3749
I'll be closing the issue, feel free to reopen and share the requested information.

[2020-06-25 20:42] #3749 closed

[2020-06-25 20:50] ShimiSun commented on #3954
Feel free to reopen the issue if you have helpful information for us to continue with the investigation process.

[2020-06-25 20:50] #3954 closed

[2020-06-25 20:51] ShimiSun commented on #3952
@markjackson02 any updates on this issue?

[2020-06-25 20:53] ShimiSun commented on #3951
Thank you for your contribution! Feel free to open more issues to improve our TS behavior.

[2020-06-25 20:53] #3951 closed

[2020-06-25 21:33] britt6612 commented on #4077
@ShimiSun this can be close

[2020-06-25 21:37] #4117 closed

[2020-06-25 21:39] ShimiSun commented on #4111
Just an update the new Button functionality is officially released on grommet 2.14.0.

[2020-06-25 21:47] ShimiSun commented on #4155
action item for this issue will be to apply a working image example to fix the story.

[2020-06-25 21:58] jackjwilliams commented on #4186
I'd like to take a stab at this as a first issue. Here is what I was thinking (after reviewing your component and theming system):

1. Modify the themes/base.js and add a `fontWeight: 500` property to radioButton.
2. Update src/js/components/RadioButton/doc.js to reflect this new property, following the guidelines of the other properties
3. Update src/js/components/RadioButton/RadioButton.js to ha

[2020-06-25 21:59] ShimiSun commented on #4173
@halocline for some reason I can't assign you this issue (@MikeWalrath ?) see if you can assign yourself.
In the spirit of approaching List on the design-system, this could be a nice warm up for next week's task force work.

[2020-06-25 22:02] ShimiSun commented on #4224
@taysea For some reason, I can't assign you to the issue, see if you can assign yourself or maybe @MikeWalrath will be able to assign you.
Since you worked on Tabs for the design system, this might be a good one for you to tackle for next week's task force work.

[2020-06-25 22:12] halocline commented on #4173
@MikeWalrath @ShimiSun I am unable to assign myself or take any administrative actions with issues in this repo.

[2020-06-25 22:15] MikeWalrath commented on #4173
Thanks @halocline can you try again?

[2020-06-25 22:20] halocline commented on #4173
Bingo! 🎉

[2020-06-25 22:23] ShimiSun commented on #4186
@jackjwilliams sounds like you are heading in the right direction!
Regarding #1, please make sure that the default behavior stays intact for backward compatibility, and only if the user specifies new font-weight it will take place and will default to the inherent behavior otherwise.
Regarding #3, applying inline style will work but we rather maintain it cleaner and apply the style via StyledRadioB

[2020-06-25 22:28] #4077 closed

[2020-06-25 23:14] LiveFreeAndRoam commented on #3935
I'm not sure if this should be raised as a separate issue.  It's the same problem, just different component.  Feel free to move this if that makes more sense.

In Grommet v2.14, this has been fixed for `TextInput` components, however I just learned that we have the same issue with the `CheckBox` components.

I modified my codeSandbox to add the `CheckBox`.  You can see the way React handles form `

[2020-06-26 00:15] jackjwilliams commented on #4186
@ShimiSun thanks for the info.

Regarding the backwards compatibility remark, are you saying that I should not augment base.js with the default font weight of 500, and only look for and apply a font weight if a user adds it?

[2020-06-26 00:46] ShimiSun commented on #4186
Yes. The standard is usually just adding a comment on base.js with the new key.
e.g
[code]

[2020-06-26 03:53] ShimiSun commented on #3887
Adding a Community page with Code of Conduct section.

Link test files and code to components.

[2020-06-26 14:42] chesleyratliff commented on #4066
Is there an update here? We see this continuously in Greenlake Compliance

[2020-06-26 15:39] ShimiSun commented on #4066
@chesleyratliff If you could share reproducible code for how your team is encountering the issue, it will help @IanKBovard with the investigation and solution proposal.

[2020-06-26 16:28] #4190 closed

[2020-06-26 17:54] #4181 closed

[2020-06-26 17:56] #4193 closed

[2020-06-26 17:56] #4192 closed

[2020-06-26 18:49] #4222 closed

[2020-06-26 18:58] gregfuruiye opened #4234 "Prototype Study Briefing"
Provide a report and present a brief of insights gained from the first iteration of the Grom Tools prototype

- [x] Gather comments
- [x] Generate Insights
- [x] Create Publisher of Insights for sharing

[2020-06-26 20:40] JoeButler7 opened #4235 "Select component not working with `required` prop on Form field"
### Expected Behavior
When putting a `Select` component inside of a `FormField` with the `required` prop the form should not submit unless there is a value in `Select`

### Actual Behavior
The Form does not submit if the `Select` component has no value but it also does not submit if the `Select` component does have a value

### URL, screen shot, or Codepen exhibiting the issue
<img width="728" alt

[2020-06-27 03:24] #4097 closed

[2020-06-27 16:57] jackjwilliams commented on #4186
Ah, I see, thank you.

I misunderstood the request. I thought @halocline wanted it to DEFAULT to font-weight: 500, but he just needs the ability to set it according to the HPE Design System (otherwise it should keep its inherent behavior).

[2020-06-28 18:51] netochaves commented on #4235
I think you're missing the `name` prop in Select.
[code]

[2020-06-29 15:06] IanKBovard commented on #4066
@chesleyratliff could you give me an example in codesandbox that reproduces the issue. I'm having trouble replicating it.

[2020-06-29 15:10] IanKBovard commented on #4167
@jesseolsen are there any errors being reported? or, is the console clear?

[2020-06-29 16:23] jcfilben opened #4239 "Masked Input tests are being skipped"
### Expected Behavior
Tests shouldn't be skipped and should run on `yarn test`

### Actual Behavior
12 tests are being skipped

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/54560994/86030576-e5b01300-b9f1-11ea-9ce9-320a5cbe0844.png)

### Steps to Reproduce
run `yarn test --verbose` to see all the tests that are being run. Look at the test

[2020-06-29 16:44] #4239 closed

[2020-06-29 16:48] srallen commented on #4225
Ok, I was incorrect that it was an `Anchor` needing font family customization. Here's one of the designs in question:

https://invis.io/Z5WTSPMUQEY#/412548720_title (this should be public, but do let me know if you can't see it)

There is a serif and a sans-serif font face. The `Headings` can be customized to use the serif font face, but it'd be useful to be able to apply this to `Text` and `Parag

[2020-06-29 17:09] IanKBovard commented on #4167
could be a rerender happening when submitting

[2020-06-29 17:17] ShimiSun commented on #4167
@IanKBovard were you able to reproduce the issue? Try to reach @jesseolsen on slack for a quick turnaround.

[2020-06-29 17:23] IanKBovard commented on #4167
@jesseolsen

Is this the issue?
![Kapture 2020-06-29 at 12 19 14](https://user-images.githubusercontent.com/21990914/86035981-cb326580-ba02-11ea-9533-2866ca9c681f.gif)

Not sure of the fix to this, but it looks like submit buttons are causing the layer component to rerender. This is why you see the open animation again, right before the layer is removed. Keeping the button as type button and runni

[2020-06-29 21:14] jcfilben opened #4244 "FormField accessibility insights"
Action Items:
1. FormField documentation should show that if FormField doesn't have a child the `a11yTitle` prop should be on FormField.
2. CheckBox documentation needs to be updated to show that `label` is being used for `aria-label`.
3. TextInput documentation needs to be updated to show that it has the `a11yTitle` prop.

[2020-06-29 23:41] RobertGary1 opened #4246 "Style ResponsiveBreakpoint values other than "small" generate an exception"
see https://codesandbox.io/s/grommet-scroll-works-yhm1o?file=/index.js

StyledBox gapStyle() is looking for theme.global.breakpoints.medium.edgeSize which is undefined

[2020-06-30 00:53] markjackson02 opened #4247 "[Menu component] children prop missing from documentation"
The `<Menu />` component takes a `children` prop that is not documented https://v2.grommet.io/menu but is used in this Storybook example https://storybook.grommet.io/?path=/story/menu--custom

[2020-06-30 01:12] RobertGary1 commented on #4246
Also if borderSize is undefined it breaks

[2020-06-30 19:22] #4155 closed

[2020-06-30 20:51] jesseolsen commented on #4167
@IanKBovard Yes, you have reproduced it.  Thanks!

[2020-07-01 03:05] LiveFreeAndRoam commented on #3935
I have come across another unfortunate behaviour in Grommet forms that differs from React (I think).  Unfortunately, I have no time to dig into it.

When the browser has autofill data, Grommet's `Form onChange` handler is firing when the form is initially rendered.  I believe this is different to React, where the `form onChange` handler only fires when the user changes a field; i.e. it seems React

[2020-07-01 14:04] tpinne opened #4251 "Clock: Docs for onChange not aligned with actual behavior"
### Expected Behavior

The docs describe the actual behavior of the onChange handler.

### Actual Behavior

The docs state that the current time as ISO string is returned. But instead a duration or something like `T15:59:21` is returned.
### Your Environment
- Grommet version: 2.13.0
- Browser Name and version: does not matter
- Operating System and version (desktop or mobile): does not matter

[2020-07-01 14:09] tpinne opened #4252 "[Typescript] Clock: Typings for onChange handler not aligned with actual implementation"
### Expected Behavior

The typings are aligned with the actual code.

[code]

### Actual Behavior
[code]

### Your Environment

- Grommet version: 2.13.0
- Browser Name and version: not relevant
- Operating System and version (desktop or mobile): not relevant

[2020-07-01 14:37] buoyantair commented on #4101
Hi @ShimiSun I would like to pick this up!

[2020-07-01 14:47] IanKBovard commented on #3119
I'm able to use autofocus. Here's a codesandbox to play around with. Adding and removing autofocus from each field works on my end.
https://codesandbox.io/s/cold-dust-9ti5f?file=/src/App.js

[2020-07-01 14:54] buoyantair commented on #3161
Looks like this issue has been fixed already, @ShimiSun close?

[2020-07-01 16:06] #4159 closed

[2020-07-01 17:11] ShimiSun commented on #4246
I believe it is related to #4217 and that fix is available on the stable branch. Let me know if we can close the issue.

[2020-07-01 17:42] ShimiSun commented on #3161
Great, thanks for confirming @buoyantair !

[2020-07-01 17:46] ShimiSun commented on #4252
Feel free to file a PR,  sounds like you've already reached a solution. https://github.com/grommet/grommet/blob/master/src/js/components/Clock/index.d.ts

[2020-07-01 17:52] RobertGary1 commented on #4246
The codesandbox example above is using 2.14.0. Is there a more recent version? Or are you asking me to test from the master branch?

[2020-07-01 17:56] ShimiSun commented on #4251
On [Grommet release 2.14.0](https://github.com/grommet/grommet/releases/tag/v2.14.0) we had some improvements and changes on the Clock component, can you please confirm you see the issue there as well?

[2020-07-01 17:58] ShimiSun commented on #4246
The [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) has a more recent fix on the breakpoint behavior, I think if the issue is fixed there then we can close the issue. Please be mindful stable couldn't be tested on codesandbox since it is not published on NPM.

[2020-07-01 19:02] gregfuruiye opened #4254 "Design Sprint 2.0 Showcase"
Create Slides for Showcase highlighting the Grommet Tools design sprint

[2020-07-01 21:16] #4132 closed

[2020-07-01 21:16] ShimiSun commented on #4132
Fixed was released on Grommet 2.14.0. Thanks for reporting!

[2020-07-01 21:51] JoeButler7 opened #4258 "TextArea does not support a11yTitle"
### Expected Behavior
TextArea should support the `a11yTitle` prop for accesibility

### Actual Behavior
TextArea does not support the `a11yTitle` prop. The only way to have a label to to set the `aria-label` directly

### URL, screen shot, or Codepen exhibiting the issue
Accessibility test failing because a11yTitle is not implemented
<img width="979" alt="Screen Shot 2020-07-01 at 5 48 11 PM" src

[2020-07-01 22:44] halocline opened #4259 "Form throws application runtime Error with certain validation rules"
### Expected Behavior

Validation rule is supplied to `<FormField />` `validate` prop in the following form:
[code]

should evaluate rules, and display related messages.

### Actual Behavior

Entering data into input, then onBlur throws the following application runtime Error:
![Screen Shot 2020-06-24 at 9 51 41 AM](https://user-images.githubusercontent.com/1756948/86297363-5c970880-bbb8-11ea-92f9

[2020-07-02 10:07] tpinne commented on #4251
I looked back through to release 2.7.0 and since then (I guess in older releases as well) the strings which are emitted by the onChange handler are exactly the same as in 2.14.0. So it seems the docs have been wrong for the onChange handler for quite some time.

Screenshot from the docs:
![Bildschirmfoto 2020-07-02 um 12 03 42](https://user-images.githubusercontent.com/1384345/86345676-227f4280-bc

[2020-07-02 17:23] jesseolsen commented on #4167
@IanKBovard, As this is an ie11 only, cosmetic issue, it is no longer a high priority for us.

[2020-07-02 19:31] ShimiSun opened #4263 "Dev - Apply prettier & lint on tsx and d.ts files"
Currently, typescript files such as index.d.ts and .tsx do not have prettier and lint configured for code consistency. we should have linter and prettier support on those files and part of the pre-commit restrictions.

[2020-07-02 20:54] JoeButler7 commented on #4235
@netochaves Thanks that seemed to work! We'll be closing the issue now

[2020-07-02 20:54] #4235 closed

[2020-07-02 21:05] #4167 closed

[2020-07-02 21:17] #4258 closed

[2020-07-02 21:29] ShimiSun commented on #4015
We added a story for animation options https://storybook.grommet.io/?path=/story/box--animation that should cover the request for this issue. Feel free to reopen with more inputs for us if needed.

[2020-07-02 21:29] #4015 closed

[2020-07-02 21:45] IanKBovard commented on #4167
IE11 can be tricky, thanks for closing the issue @jesseolsen.

[2020-07-03 11:54] jjalonso commented on #4015
Thanks Shimi, Ill catchup with it on following weeks. Appreciate it.

On Thu, 2 Jul 2020 at 22:29, Shimi <notifications@github.com> wrote:

[2020-07-03 13:52] skad0 opened #4264 "[Typescript] Form onSubmit wrong event type expected"
### Expected Behavior

Form property `onSubmit` type should expect `event` argument as React.FormEvent extended with `value` and `touched` object properties

### Actual Behavior

Currently type for onSubmit expects `event` as React.FormEvent and doesn't know about `value` and `touched` props

### URL, screen shot, or Codepen exhibiting the issue

Codesandbox with working example: https://codesandb

[2020-07-04 03:17] ShimiSun commented on #4235
Thank you @netochaves !

[2020-07-04 03:25] ShimiSun commented on #4247
Great catch, thanks for reporting. Also true for Button which Menu is inheriting it from.

[2020-07-04 03:26] ShimiSun commented on #4101
Perfect! thanks @buoyantair , looking forward to the PR.

[2020-07-04 18:27] netochaves commented on #4187
Can I work on this?

[2020-07-05 09:08] johnliu55tw opened #4267 "Width of the DataTable doesn't extend to its container's width in Firefox Developer Edition"
I recently started to try out Firefox Developer Edition and I noticed that DataTable, by default, will not extend its width to its container's width, which is different from Chromium.

### Expected Behavior

The behavior should be consistent in both browsers, that the width of DataTable should be extended to the width of its container Box.

### Actual Behavior

DataTable in Firefox Developer Editi

[2020-07-06 10:54] jmpriu opened #4268 "Error message when using pad with value in DataTable"
If I define the values of pad with pixels I get a error on the console:
`Warning: Failed prop type: checker is not a function`
The values defined are:
[code]
Even though the values defined are working as expected.

### Expected Behavior

Don't get an error message on the browser

### Actual Behavior

A message appears in the browser.

### Codepen exhibiting the issue

https://codesandbox.io/s/ferv

[2020-07-06 15:53] IanKBovard commented on #2660
I can't assign myself, but i am working on this issue with jesseolsen.

[2020-07-06 16:41] #4259 closed

[2020-07-06 17:43] jackjwilliams commented on #4186
I created a PR for this @ShimiSun.

[2020-07-06 17:46] britt6612 commented on #4183
@ShimiSun would you want something similar in the docs as Header has or just add `gap` as a prop within `RadioButtonGroup` and `CheckboxGroup` Im not sure if you want to mention all the props of `box` or just `gap`
<img width="625" alt="Screen Shot 2020-07-06 at 11 45 31 AM" src="https://user-images.githubusercontent.com/42451602/86623094-34bff000-bf7e-11ea-846d-6f111a2cd9b3.png">

[2020-07-07 02:51] #4268 closed

[2020-07-07 03:06] #4264 closed

[2020-07-07 03:14] ShimiSun commented on #4183
@britt6612 Similarly to Header, and we usually mention only the props that have the default value set and not all the props the Box has to offer (since the list will be too long).
In the example you shared above you can see only the Box props that Header is is setting default values for, and the same should happen for RadioButtonGroup and CheckBoxGroup, which I think only setting the `gap` as a de

[2020-07-07 03:56] ShimiSun commented on #4080
I'm not sure how this change will be backward compatible.

[2020-07-07 04:01] ShimiSun commented on #4065
I just upgraded the codesandbox above to grommet v2.14.0 and it works as expected. 🎉
Thank you for reporting this issue, it is fixed on our recent release!

[2020-07-07 04:02] #4065 closed

[2020-07-07 04:03] ShimiSun commented on #3636
We no longer seem to be able to reproduce this issue, feel free to reopen and file an issue that we can reproduce & investigate, thank you all for your cooperation.

[2020-07-07 04:03] #3636 closed

[2020-07-07 04:06] ShimiSun commented on #4075
I believe this issue is fixed on grommet v2.14.0, feel free to reopen the issue if needed and attach a codesandbox so we can see how exactly you reproduce it.

[2020-07-07 04:06] #4075 closed

[2020-07-07 04:35] ShimiSun commented on #4229
I'm wondering how a fix could be backward compatible in this case.

[2020-07-07 05:15] MrBlenny opened #4272 "Button active and hover themes not working"
It looks like button theming is not working correctly as of v2.14.0.
### Expected Behavior

Buttons should be themable by `button.active.primary.extend`,  `button.hover.primary.extend` etc as shown in [base.d.ts#L323](https://github.com/grommet/grommet/blob/master/src/js/themes/base.d.ts#L323). The custom button in the [storybook](https://storybook.grommet.io/?path=/story/button--custom) is not us

[2020-07-07 13:51] MathieuDoyon opened #4273 "Select component not working with react-hook-form ref should be forward to input instead on styled box"
`<Select />` ref should be forward to input instead of `<Box />`

### Expected Behavior

React-hook-form use ref to register input fields. When submitting form `<Select .../>` selected value should be in the form data

### Actual Behavior

Select property value is missing from data received into onSubmit function

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/amaz

[2020-07-07 14:26] IanKBovard commented on #3975
target prop is visible in latest version of grommet.
![Screen Shot 2020-07-07 at 9 26 31 AM](https://user-images.githubusercontent.com/21990914/86796207-f84ecb80-c033-11ea-8d63-84708db6d971.png)

issue can be closed

[2020-07-07 14:41] ShimiSun commented on #3975
@arvind0598 can you please confirm the issue is fixed on grommet v2.14.0?

[2020-07-07 14:58] ShimiSun commented on #4272
For the new themeing to apply you have to set button.default on your customer theme. You probably don't have it set so the props you mentioned may not be picked up by the theme.
https://v2.grommet.io/button
[code]

[2020-07-07 15:02] pLavrenov opened #4274 "min-height in Box styles"
### Expected Behavior

"min-height: 0" in Box styles breaks the layout and add the scroll, if it disabled from styles, then everything works fine.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/billowing-tdd-tweuf

### Your Environment

- Grommet version: 2.14.0
- Browser Name and version: Google Chrome 83.0.4103.116
- Operating System and version (desktop or mobi

[2020-07-07 15:08] ShimiSun commented on #4274
Can you please provide some guideness on what to do with the codesandbox? I don't see how and where you are using `min-height`.

[2020-07-07 15:18] pLavrenov commented on #4274
https://prnt.sc/tdhopt

https://prnt.sc/tdhph3

its a default Box component styles

[2020-07-07 15:22] pLavrenov commented on #4274
for correction, you can do so:

`<Box height={{
                        min: 'auto'
                    }} background="#fff">
                        Header sfdsdfs
                    </Box>`

but it seems to me wrong

[2020-07-07 15:27] ShimiSun commented on #4274
Interesting, thanks for sharing.
I think it will be tricky to change the current behavior due to backward compatibility reasons.
We'll need to take a closer look on your layout and see how it could be optimized.
I think the `min-height` is coming from https://github.com/grommet/grommet/blob/c13d1cfe05187aa17bee0bb39537f7c6ce603ff9/src/js/components/Box/StyledBox.js#L69

[2020-07-07 15:30] IanKBovard commented on #3975
im able to see the target in the dom in the latest version of grommet

[2020-07-07 16:51] ShimiSun opened #4275 "[TS] RangeInput onChange type is missing generic param T"
### Expected Behavior
RangeInput onChange should support the onChange inputs.

### Actual Behavior
The issue was taken from StackOverflow, read this for more details:
https://stackoverflow.com/questions/62124013/what-is-the-right-type-definition-to-use-for-the-onchange-event-for-grommets-ra

[2020-07-07 17:05] britt6612 commented on #4183
linking PR
https://github.com/grommet/grommet-site/pull/175

[2020-07-07 17:14] ShimiSun commented on #4183
Fixed on the website, closing issue! thank you all for reporting & solving!

[2020-07-07 17:14] #4183 closed

[2020-07-07 19:49] britt6612 commented on #4146
@tpinne I opened the example that you provided and was not able to see the error ? I may be missing something I wanted to check with you on your end if the error is still showing up. 😄

[2020-07-07 22:26] ShimiSun commented on #3975
I'll be closing this issue then. Feel free to reopen or file a new issue if needed. Thanks for reporting!

[2020-07-07 22:26] #3975 closed

[2020-07-08 08:06] tpinne commented on #4146
That's because the supplied date range is in the past now I guess. I updated the sandbox to have bound in august. And there the typescript warning still pops up.
https://codesandbox.io/s/react-typescript-2f3dh

[2020-07-08 12:49] nefario7 opened #4276 "Password Input field turns white on setting type="password" in <FormField> attribute"
I am creating a sign-in page, which has a simple email and password input field. I have used <FormField> to create both the input boxes, and have formatted them to a custom theme. But, when I try to set the 'type' attribute for both the fields, the formatting of the fields changes completely and the field background changes to white, because of which whatever I type in the field is not visible as

[2020-07-08 12:52] nefario7 commented on #4276
I have also tried this with <TextInput> component, and I get the same results with that. If someone can help with how I should be creating a password field, that'll be really helpful.

[2020-07-08 13:30] skad0 commented on #4276
Hi, FormField doesn't have property `type` as you can see here: https://v2.grommet.io/formfield
I think there is also an example of usage.
e.g.
[code]

[2020-07-08 15:53] taysea opened #4278 "List item onClick displaying UserAgent outline"
### Expected Behavior

The outline should not appear onClick on list item.

### Actual Behavior

The default UserAgent outline is outlining the List item when onClick is given.

### URL, screen shot, or Codepen exhibiting the issue

![image](https://user-images.githubusercontent.com/12522275/86940974-3ca39f80-c0f8-11ea-9472-f76ab921fdc4.png)

Also visible when clicking on a list item in this story

[2020-07-08 22:15] #4224 closed

[2020-07-08 22:17] ShimiSun commented on #4224
Fix will be available on our next release, thanks for reporting, and thank you @taysea for the fix!

[2020-07-08 22:28] #3792 closed

[2020-07-08 22:29] ShimiSun commented on #3792
The fix will be available on our next release, thanks for reporting, and thank you @britt6612 for the contribution!

[2020-07-08 22:32] JoeButler7 opened #4283 "Select `onOpen` being called twice & also is being called onClose"
### Expected Behavior
When a select component is opened the function assigned to `onOpen` should only be called once. It also should not be called when select is closed
### Actual Behavior
The function assigned to `onOpen` is being called twice and it is being called a third time when the select is closed

### URL, screen shot, or Codepen exhibiting the issue
https://codesandbox.io/s/select-onopen

[2020-07-08 23:12] #4227 closed

[2020-07-09 00:51] #4186 closed

[2020-07-09 03:31] ShimiSun commented on #3554
I'm reopening this issue, following slack communication https://grommet.slack.com/archives/C09QQEG69/p1594256496360000
![image](https://user-images.githubusercontent.com/6320236/86993876-54177280-c162-11ea-8e5a-b312efd017ee.png)

[2020-07-09 05:10] bdesouza commented on #3554
Thanks! @ShimiSun

One of the drawbacks with the current component is with keyboard interactions. Specifically, if there is a mask in place a user wouldn't know how to move forward other than typing. It's not very obvious as `tab` will remove focus from the component. `space` on the other hand does move the user to the next section of the mask.

Secondly, since the mask enforces the "structure", m

[2020-07-09 09:48] nefario7 commented on #4276
@skad0 As I already mentioned in a comment earlier, I have also tried it with the `<TextInput>` component as you suggested. Here are the results of using this code :
[code]

![image](https://user-images.githubusercontent.com/64963908/87024643-06007e80-c1f7-11ea-9095-4e187e52c5b1.png)
(Here the password is again white, and is only visible when I highlight it by selecting it)

[2020-07-09 10:00] skad0 commented on #4276
Sorry, didn't understand you first.
Now I see what is the issue and I don't have enough info.
You can try to understand which style make it white with dev tools, maybe there are missing color definition in your custom theme or missed color in grommet default theme.

[2020-07-09 14:50] IanKBovard commented on #4283
I'm unable to reproduce this issue, are there any more steps i'm missing?

![Kapture 2020-07-09 at 9 48 52](https://user-images.githubusercontent.com/21990914/87055176-9de77380-c1c9-11ea-8503-c19a364d1b07.gif)

[2020-07-09 15:03] IanKBovard commented on #4276
This is most likely due to an issue with theme. Could you give me an example in codesandbox. You can use this.

https://codesandbox.io/s/modest-tdd-jhnwo?file=/src/App.js

[2020-07-09 15:14] JoeButler7 commented on #4283
I should have been more clear, you need to click on the component, not the drop icon to get the bug. If you were to click on just the box you will see the bug

[2020-07-09 16:06] #2769 closed

[2020-07-09 16:10] IanKBovard commented on #4283
Ah! i gotcha. Thanks for clearing that up.

[2020-07-09 16:38] jcfilben opened #4284 "Add accessibility tests for Control and Input components"
Accessibility tests should be added for the following components:

**Controls:**

- [x] Accordion
- [x] Anchor
- [x] Drop
- [x] DropButton
- [x] Menu
- [x] Nav
- [x] Tabs

**Input:**

- [x] CheckBox
- [x] MaskedInput
- [x] RadioButton
- [x] RadioButtonGroup
- [x] RangeInput
- [x] RangeSelector
- [x] TextInput
- [x] FormField

[2020-07-09 18:02] #4218 closed

[2020-07-09 18:03] britt6612 commented on #4146
@tpinne thank you I will look at this now!

[2020-07-09 18:06] ShimiSun commented on #3554
The last comment may be related to: #4122

[2020-07-09 20:26] jcfilben opened #4287 "RadioButton does not support a11yTitle"
### Expected Behavior
RadioButton should support the `a11yTitle` prop for accessibility

### Actual Behavior
RadioButton does not support the `a11yTitle` prop. The only way to have a label to to set the `aria-label` directly

### URL, screen shot, or Codepen exhibiting the issue
<img width="464" alt="Screen Shot 2020-07-09 at 2 24 15 PM" src="https://user-images.githubusercontent.com/54560994/8708

[2020-07-09 21:03] bdesouza opened #4288 "Select component should capture keyboard input"
I believe the [select component](https://storybook.grommet.io/?path=/story/select--simple) should mimic the native HTML select component. ~A core aspect of this is allowing the user to select an option with a keypress and using arrow keys to move up and down the list of options. Selection is done by pressing `space` or `enter`.~ The component doesn't let you scroll to the option by pressing the le

[2020-07-09 21:24] #4287 closed

[2020-07-09 21:37] ShimiSun commented on #4288
The Select does mimic the native HTML Select. https://storybook.grommet.io/?path=/story/select--simple
You are opening the drop with 'enter'  and navigate with the arrows through the options, and choose an option with 'enter' as well. I agree we can extend the support of both 'enter' and 'space',  but other than that I'm not sure what else is missing?

[2020-07-09 21:42] bdesouza commented on #4288
@ShimiSun - You're right! It actually does mimic the native HTML element for the arrow keys and the select.

I think where it breaks from the native HTML Select is when I do a keypress. If I have a list of States and hit the letter C, it should take me to the first option with the letter C.

[2020-07-09 21:47] jcfilben opened #4290 "RangeInput does not support a11yTitle"
### Expected Behavior
RangeInput should support the `a11yTitle` prop for accessibility

### Actual Behavior
RangeInput does not support the `a11yTitle` prop. The only way to have a label to to set the `aria-label` directly

### URL, screen shot, or Codepen exhibiting the issue
<img width="473" alt="Screen Shot 2020-07-09 at 3 43 12 PM" src="https://user-images.githubusercontent.com/54560994/870937

[2020-07-09 23:44] jesseolsen commented on #4066
@IanKBovard I had this issue, too, but by pulling the <Drop> outside of a <Button> and <DropButton> (had it in two spots of the code), I was able to avoid this, so now we no longer have the issue.  Something like this: https://codesandbox.io/s/strange-williams-f7vmd?file=/src/App.js:1111-1196

[2020-07-10 13:55] IanKBovard commented on #4066
This issue can be closed, It was a problem with implementation. Thank you @jesseolsen for working with me to find a solution.

[2020-07-10 15:34] #4290 closed

[2020-07-10 16:00] codebee25 opened #4296 "Theming in grommet -edgeSize"
Hi,
I have been trying to get a border for the circle graph using a grommet theme-edgeSize. It's been confusing, I am unable to get the border. Is there any suggestions. Thank you!
This is sample code for reference, I would like to get the border for the outline of the circle with increased thickness so it gets highlighted.

[code]

Taken from: https://bit.dev/grommet/grommet/meter

[2020-07-10 16:38] ShimiSun commented on #4296
It is not clear to me what you are trying to achieve, do you need the border on the Circle at all time or only on hover? can you share a design of what you are trying to achieve?

[2020-07-10 16:43] codebee25 commented on #4296
Thanks @ShimiSun for responding. Yes , border on the circle at all time.

[2020-07-10 16:57] ShimiSun commented on #4296
First time I hear of a border on a meter circle, so we'll try to be creative here:
1. One way is to let a wrapping Box take care of the border: https://codesandbox.io/s/meter-with-border-6lfhw?file=/index.js
2. Use the theme `extend` of meter to add CSS that renders the border, I haven't done it myself but it will be similar to this attached example, look at the theme.js file and for the `meter` p

[2020-07-10 16:57] #4296 closed

[2020-07-10 17:03] #4121 closed

[2020-07-10 17:04] codebee25 commented on #4296
Hi @ShimiSun. Thank you. I see a border for the Box. I am looking to have a border for each value with respective color. So in my code, two borders with light and dark green for two values 60 & 20.

Example: http://beatexcel.com/interactive-donut-chart/ -- here it shows for one value. Can we have for all values.

[2020-07-10 17:04] ShimiSun commented on #4121
Thank you for reporting, the fix will be available on our next release. Thank you @taysea for the contribution! 💟

[2020-07-10 17:08] ShimiSun commented on #4296
You'll need to manipulate it via css, we don't have an out of the box support for it. You can be creative and play with the theme extend as suggested above to achieve it.

[2020-07-10 17:12] ShimiSun commented on #4066
Thanks @IanKBovard , can you please suggest a fix for the codesandbox attached to the issue, so the user can understand how to solve it before closing it.

[2020-07-10 17:20] IanKBovard commented on #4066
This codesandbox that jesse posted is a fix, and the correct implementation.
https://codesandbox.io/s/strange-williams-f7vmd?file=/src/App.js

This initial codesandbox posted does not reproduce the issue, and I have not been able to reproduce it myself.

@dipunm is unable to reproduce it himself, as well. This is a response from earlier in the conversation.

[2020-07-10 17:24] ShimiSun commented on #4066
Thank you for working on it @IanKBovard & @jesseolsen !

[2020-07-10 17:24] #4066 closed

[2020-07-10 18:05] codebee25 commented on #4296
Sure. Is label display is feasible? I tried that one too but it doesn't display anything.

https://grommet-nextjs.herokuapp.com/examples/grommet/Meter/values

Tried todo something like this-https://docs.microsoft.com/en-us/sql/reporting-services/report-design/display-percentage-values-on-a-pie-chart-report-builder-and-ssrs?view=sql-server-ver15

[2020-07-10 18:29] MikeKingdom commented on #4003
Seems to be an issue for the Text component in general.

styled-components takes the props for Text and uses @emotion/is-prop-valid to decide whether to include them on the resulting element (label in this case.) Since 'size' is valid for some elements (input and select) it includes it on the label (it's not picky.)

styled-components 5.1 has an option to provide a shouldForwardProp function which

[2020-07-11 04:21] nefario7 commented on #4276
@IanKBovard So, I tried implementing it in the sandbox and there it seems to be working fine. I don't know what the issue is with my codebase, I removed the custom theme I applied and even then issue was persistent. I guess the issue must be with some styling in one of the CSS files. But, anyway thanks a lot for the help!

As the issue is probably not because of anything related to grommet, I'll c

[2020-07-11 04:21] #4276 closed

[2020-07-11 04:36] jackjwilliams commented on #4184
I'd like to take a stab at this this weekend.

Any other specific props other than gap you'd like implemented first?

[2020-07-11 18:08] netochaves commented on #4283
Can I work on this?

[2020-07-12 02:49] codebee25 opened #4305 "label display in grommet- Meter type circle"
Hi,

I am trying to display a label for a graph but it wouldn't do anything as shown in the below example.

https://grommet-nextjs.herokuapp.com/examples/grommet/Meter/values

Does grommet doesn't support displaying a label ?

eg: label: 'sixty' .

Tried todo something like this-https://docs.microsoft.com/en-us/sql/reporting-services/report-design/display-percentage-values-on-a-pie-chart-report-bu

[2020-07-13 15:05] lmuntaner commented on #4146
I got the same issue :)

[2020-07-13 15:14] #4166 closed

[2020-07-13 15:55] IanKBovard commented on #4267
@britt6612 and I have been looking at this issue. If you add width to the wrapping box, the issue is fixed.

https://codesandbox.io/s/datatabletest-0m73v?file=/src/App.js

[2020-07-13 16:05] IanKBovard commented on #3953
This issue can be closed. This is the default behavior of inline-block components.

[2020-07-13 16:11] IanKBovard commented on #3999
@nateq314 was the sandbox able to solve your issue?
https://codesandbox.io/s/focused-gould-jjged?file=/src/App.js

[2020-07-13 16:19] halocline commented on #3186
@markjackson02 -- I looked into this and think there are a couple of options here, but my recommendation would be to move the `Anchor` so that it contains the `Box` and `Image`, rather than the `Anchor` being placed in between the `Box` and `Image`.
[code]

I have modified your CodeSandbox example to demonstrate: https://codesandbox.io/s/grommet-github-issue-3186-gingn?file=/src/Image.js

**Explan

[2020-07-13 17:05] ShimiSun commented on #4296
I see you filed a separate issue on that the team will take it there #4305

[2020-07-13 20:30] #3953 closed

[2020-07-13 20:32] ShimiSun commented on #4184
Thanks @jackjwilliams! I think we should just provide the option for the styling but not set anything as a default to keep the component backward compatible.

[2020-07-13 22:25] #4251 closed

[2020-07-14 17:56] britt6612 opened #4308 "Add a new prop in FormField called labelPrefix"
Currently there is just a storybook example on how you can add an asterisk to a required `formfield` label
There would be some benefit for users to have this option as a prop instead of making a custom `formfield`
This would make is a little easier for users to use as well as on the design system to have a prop that can be leveraged for other teams when needed.
### Expected Behavior
prop in `formf

[2020-07-14 17:59] britt6612 commented on #4308
Adding thread from slack

currently I have this in the design system above the form
[code]
which is fine and they can call FormFieldRequiredLabel when they need to show the asterisk however Im just thinking if this would maybe get lost but I go back and forth with adding to grommet or theme since in forms like login and sign up we wouldn't want the asterisk..

so maybe it would be better to just b

[2020-07-14 19:52] ShimiSun commented on #4308
Thanks @britt6612 ! Can you please link to the design-system issue?

[2020-07-14 19:55] britt6612 commented on #4308
https://github.com/hpe-design/design-system/issues/928

[2020-07-14 22:31] ShimiSun commented on #3521
Hi guys, in the meanwhile, here is a quick fix for the issue while we work on the enhancemnet https://codesandbox.io/s/grommet-issue-3521-9mlis?file=/src/index.js

[2020-07-14 22:51] halocline commented on #4305
Hi @codebee25, I put together a [few examples](https://codesandbox.io/s/grommet-issue-4305-display-meter-label-btpp7?file=/src/App.js) how you can currently display `labels` and `values` with `<Meter />` which resemble the pie chart example you referenced.

The approach is in these examples is to use the `<Stack />` component to compose the resulting pie charts w/ labels.

Additional resources for

[2020-07-15 04:07] #4187 closed

[2020-07-15 05:52] whilemouse opened #4310 "'Tab' component has not extend in theme"
Grommet > component > Tab
tab compnent has not extend in theme

### Expected Behavior
I want use custom css in tab theme.
So, I tried theme extend.
But tab theme has not extend. Or is there another way to modify custom css(features not in the Document)?

### Actual Behavior
tab.extend is not found.

### URL, screen shot, or Codepen exhibiting the issue
https://v2.grommet.io/tabs

![image](https://

[2020-07-15 14:37] ShimiSun commented on #4310
Tab does have an `extend` option on theme https://github.com/grommet/grommet/blob/0a2f1fa5d249e43c3deb21ac24a83bb637a068de/src/js/components/Tab/StyledTab.js#L30, it should be documented though.

[2020-07-15 14:46] whilemouse commented on #4310
Thanks. ;)

[2020-07-15 14:49] ShimiSun commented on #4310
Keeping the issue open so we can add the missing prop to the documentation.
Feel free to make a contribution to Tab/doc.js file.

[2020-07-15 20:50] IanKBovard commented on #4267
@johnliu55tw let me know what you think.

[2020-07-16 00:30] whilemouse opened #4314 "How to remove box-shadow in tab?"
### Expected Behavior
I want remove box-shadow when selected tab.

### Actual Behavior
box-shadow does not disappear when tab is selected.

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/16111790/87612759-65561580-c746-11ea-8e4e-b3864c28086f.png)
- .bIwdDF has box-shadow

![image](https://user-images.githubusercontent.com/16111790/87612802-

[2020-07-16 05:21] johnliu55tw commented on #4267
@britt6612 Thanks for the solution!

But I just found if I set the width to `{min: 'medium', max: '100%'}`, it breaks again :(
https://codesandbox.io/s/datatabletest-ejt90?file=/src/App.js

[2020-07-16 14:19] IanKBovard commented on #4267
You have to give it an explicit width. Table is set to inherit width from it's parent.
style={{ width: '...', minWidth: '...', maxWidth:'...'}}

[2020-07-16 15:39] IanKBovard commented on #4314
@whilemouse are you talking about the green border around the tab?

[2020-07-16 17:34] ShimiSun commented on #4308
This is a really good discussion topic.
The approach of a new prop isn't generic as we would like it to be, and we are thinking that it might need to be added as a prop on the theme  `theme.formField.required` to address the consistent pattern solution (in this case '*'), we'll also need to think through the way that login Form will turn this pattern off.

Few ideas from the discussion:
1. Add `pl

[2020-07-16 17:55] whilemouse commented on #4314
Green border is box-shadow. I want remove green border.

[2020-07-16 18:08] IanKBovard commented on #4314
My understanding is that the green border is there for accessibility purposes. It shows an element has focus.

[2020-07-16 18:18] whilemouse commented on #4314
Sorry. I can't understand your words. How does your words relate to removing the green border.

[2020-07-16 21:10] #4310 closed

[2020-07-16 22:45] ShimiSun commented on #4314
Focus is important for accessibility reasons, grommet is supporting WCAG 2.1 standards so we provide the out of the box focus. If you want to learn more about focus, accessibility and what it means here is a nice read https://usability.yale.edu/web-accessibility/articles/focus-keyboard-operability.

If we want to remove the focus form all of your applications you can use the theme to set it, (alth

[2020-07-16 22:51] #4263 closed

[2020-07-16 23:13] #4003 closed

[2020-07-17 14:26] britt6612 commented on #4308
So initially I was thinking of 2 solutions that we could look at for this issue.

1. Adding the prop for the label prefix for users to be able to choose if they want to use that as well as what that prefix would be. `*` is just something that we are wanting to use but users could pick which string they want to pass to the label by this prop. I also see your point to not adding in the prop.

2. Sin

[2020-07-17 14:36] IanKBovard commented on #4267
@johnliu55tw this is an issue with firefox handling css a little different than chrome. The table is set to inherit its width from its parent. if you set a width(not just min and max width), the problem is resolved. Let me know what you think, and we can close this issue.

[2020-07-17 17:20] murbanowicz commented on #476
What happened with TimePicker? :(

[2020-07-17 18:00] ShimiSun commented on #476
@murbanowicz your timing is kinda perfect. We added a DateInput component and it is still under exploration on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F), feel free to check it out and tell us if its what you are looking for, here are some examples https://storybook.grommet.io/?path=/story/dateinput--form

[2020-07-17 18:02] murbanowicz commented on #476
Shimi, I do not see any examples with Time?
Date picker looks great anyway :)

[2020-07-17 19:30] laka3000 commented on #3992
@jlilly
This is happening because at Chart.js:475, the gradientId and the maskId depends on the `id` prop, since no `id` prop is being passed to the charts in your sandbox (you're setting unique `key` props though), they are all being set as `undefined-gradient` and `undefined-mask`, which leads to this behavior.
![image](https://user-images.githubusercontent.com/7442967/87820915-5013e080-c845-11e

[2020-07-17 19:44] ShimiSun commented on #3887
Slack: https://grommet.slack.com/archives/C04LMHN59/p1595015009449200
The grommet docs don’t generally document all valid HTML attributes for the underlying DOM element. For example, you can put an ‘id’ or ‘name’ on any component, but we don’t document that. I agree that this should be mentioned on the component page, we’ll need to add a section where we describe things like this. We typically onl

[2020-07-17 20:15] ShimiSun commented on #4244
For the task force assignment, take care of bullet #2 and add `a11yTitle` to CheckBox. while falling back to label if it doesn't exist for backward compatibility.

[2020-07-17 20:19] ShimiSun commented on #4101
Hi dear, any updates on this issue/PR?

[2020-07-17 22:34] ShimiSun commented on #4247
Thank you for reporting, and thank you @britt6612 for addressing!

[2020-07-17 22:34] #4247 closed

[2020-07-17 22:41] ShimiSun commented on #476
@murbanowicz gotcha... Can you share an example of what you had in mind?

[2020-07-18 03:44] johnliu55tw commented on #4267
@IanKBovard Sorry I got busy lately...Thanks for the explanation!

[2020-07-18 03:44] #4267 closed

[2020-07-18 08:57] dileepthomas opened #4324 "Default data on third click of the sort"
I am using the data table component for learning react, the one feature i was looking at the default sort.

**UseCase With Explanation**

I render a table, which has three columns **name, age and location**. So here the name column is able to sort, but when i render the table the icon of the column shows is descending, i need to show default icon like descending and ascending like a vertical icon.

[2020-07-18 12:27] murbanowicz commented on #476
Something like this.
<img width="345" alt="CHzmN" src="https://user-images.githubusercontent.com/9385106/87852506-c0346c00-c902-11ea-9677-13020bc17946.png">

[2020-07-18 18:26] netochaves commented on #4160
This is because in `base.js` a default white color is defined and replaces the theme color:
https://github.com/grommet/grommet/blob/07203885d5da564695390038b09c8ddb9d81044e/src/js/themes/base.js#L220

Should this be removed?

[2020-07-19 09:16] whilemouse commented on #4314
I solved it thanks to your answer. :)

[2020-07-19 09:16] #4314 closed

[2020-07-19 16:38] jackjwilliams commented on #4184
Sorry life has gotten a little busy as of late, I won't be able to take this issue

[2020-07-19 18:27] netochaves commented on #4184
I would like to work on this

[2020-07-20 15:23] #4284 closed

[2020-07-20 16:43] ShimiSun commented on #4284
EXCELLENT work!!

[2020-07-20 17:28] ShimiSun commented on #4160
I think what we should do is to add a default dark light colors instead of hardcoding it to white.

[2020-07-20 17:29] ShimiSun commented on #4184
Thanks for letting us know @jackjwilliams, and Thank you @netochaves , that will be awesome.

[2020-07-20 17:32] ShimiSun commented on #4324
Hi there, you didn't specify which grommet version you are using. It will be helpful for us if you can fill in the template we suggest for filing an issue.
We solved the icon problem you described a couple of releases ago, make sure you are using the latest grommet version.

[2020-07-20 18:21] mikerhyssmith commented on #2428
Definitely not ideal, but the solution I resolved to using for this was to get the dimensions of the target element and set the max width with the style prop `{{maxWidth: inputTarget.clientWidth}}`. Definitely not ideal but it seems to work for the moment :man_shrugging:

[2020-07-20 18:36] ShimiSun commented on #4244
@jcfilben I think we can close this issue now, thoughts?

[2020-07-20 18:40] ShimiSun commented on #4175
@IanKBovard Can you please take a look at the specific scenario that's shared here?

[2020-07-20 18:41] jcfilben commented on #4244
Yes, closing issue

[2020-07-20 18:41] #4244 closed

[2020-07-20 22:36] taysea commented on #4278
From preliminary research, what we are seeing is the updated Chrome focus outline. Resources here on this updated focus outline:
- https://blog.chromium.org/2020/03/updates-to-form-controls-and-focus.html
- https://github.com/octobercms/october/issues/4892

To align with how other Grommet clickable elements work, we would want to override this with grommet theme focus indicator.

[2020-07-21 00:43] LiveFreeAndRoam commented on #3887
From: https://grommet.slack.com/archives/C04LMHN59/p1595269234461600

The question was:

@ShimiSun requested I copy my response here too...

This highlights one of the areas in the doc that I'd love to see improved.  It assumes two things:
1. You are familiar with CSS enough to know there is a relationship between Box props and flex-box styles.  (Beginners, like me, are slow to make this associati

[2020-07-21 00:48] ShimiSun commented on #3992
@laka3000 Thanks buddy, appreciate the work and the contribution! we'll take a look in the next few days.

[2020-07-21 01:15] MrBlenny commented on #4272
Okay, I'll have a bit more of a play to see if there is some set of options I can give button.default that makes the buttons behave like the previous version.

As it stands, this is what happens when I set `button.default = {}` when no other button theming is applied.

![Screenshot from 2020-07-21 11-12-18@2x](https://user-images.githubusercontent.com/9685048/88001364-5bb41f80-cb43-11ea-88b8-de18a

[2020-07-21 02:28] ShimiSun commented on #4272
I agree, and for backward compatibility, you can always turn off the `button.default` on your theme.
If you do decide to opt-in the `button.default` behavior, you'll get more fine control on Button theme-ing, and you could use the `secondary` and `default` styling.

The Button enhancements we added on May (more theme capabilities, secondary and default buttons) would have been breaking changes for

[2020-07-21 04:22] ShimiSun commented on #3992
I've encountered a similar issue while building different `type` of Charts that uses gradient color. I noticed that using the same `color` gradient on different Charts renders the same type of Chart even if one Chart is type of 'bar' and the other is a 'line'.

Here is a code that reproduces the problem:
[code]

Before the fix, both of the Charts were displayed as Bar (even when one of the Charts

[2020-07-21 04:26] #3992 closed

[2020-07-21 09:12] jimwhurr opened #4328 "uncontrolled TextInput does not validate correctly when required and supplied with a defaultValue and used in a Form"
### Expected Behavior

The input defaultValue should pass the validation for a **required** field

### Actual Behavior

The value is not accepted by the test for 'required' and results in the error message stating that the field is required.

### URL, screen shot, or Codepen exhibiting the issue
Code below is basically the example from Form on the Grommet site just with **required** attribute appl

[2020-07-21 10:12] jimwhurr commented on #4328
Forgot to mention... by inserting and deleting a character in the filed it passes (e.g. put a space at the end of the default value and then delete the space - also does the same with the chrome password manager input).

[2020-07-21 17:03] jjalonso opened #4329 "Icon + pad issues"
Hi guys, as a pixel-perfect UI developer I was checking all my button sizes and found that the ratio of my buttons was not keeping the aspect ratio. After checking on codesandbox I realised that the issue appear to be when we use a smaller icon size of 24px.

### Expected Behavior

I expect that if we use a custom theme where icon size is lower than 24px and the pad is constant, the result should

[2020-07-21 18:47] jbyttow opened #4330 "DateInput is missing in version 2.14.0"
It looks like DateInput is not included in the source and so is not available.

### Expected Behavior

I'd expect this to be available. Is this something being addressed

### Actual Behavior

### Steps to Reproduce

download 2.14 and attempt to import DateInput

- Grommet version: 2.14.0

[2020-07-21 19:00] ShimiSun commented on #4330
Hi, thanks for your interest in DateInput, DateInput is still under exploration and wasn't released officially yet (same for Card).
You can still find the component on the[ stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F until we'll officially release.
Both the stable branch and storybook are up to date with the master branch, we appreciate the fe

[2020-07-21 19:00] #4330 closed

[2020-07-21 19:45] P4R4DiSi4C commented on #476
@ShimiSun The Date Picker is pretty nice, good job on that one !

BUT I'd love to see something like @murbanowicz showed since I'm working on an app where clients should be able to select a date and set a start + end time..

Cheers !

[2020-07-21 19:49] LiveFreeAndRoam commented on #3887
I cannot find any documentation on `defaultProps` in the v2.grommet.io page.  If it is documented, then a "search" function would help.

This is the type of thing a slightly more advanced user becomes interested in.  E.g. I wanted to learn what Grommet's default breakpoints are.  This would help me determine how I might customize my own breakpoints and what values I might want to change.

Slack di

[2020-07-21 22:24] taysea opened #4331 "List Keyboard behavior"
### Expected Behavior

When keyboard is used to navigate a list with `onClickItem`, the ul should be the active DOM element. As a user navigates with up/down arrows, the individual li receives a hover or "active" styling, but the `ul` remains as the active DOM element. If a user clicks on an item and then starts using keyboard, the navigation should start from that list item.

Resource for List bo

[2020-07-22 01:53] LiveFreeAndRoam opened #4332 "Shrink width of Heading level 6 causes it to jump up in size"
See https://grommet.slack.com/archives/C09QQEG69/p1595361593434100?thread_ts=1595361593.434100&cid=C09QQEG69

For h6 elements, shrinking page width should not cause the font size to increase.

Thanks to Taylor Seamans for this explanation... (paraphrased)

...this is likely a boundary condition.  As the pages shrinks and crosses breakpoints, the theme's heading sizes are reduced.  Since "6" is the

[2020-07-22 07:12] P4R4DiSi4C opened #4333 "DateInput: Add fields to drop"
Hi,

I'm testing the stable branch which reflects the current master to have the DateInput component.
Would it be possible to get a way to add fields to the dropdown ?

I'm looking to do the exact same thing as this example but with the new DateInput component:
[https://storybook.grommet.io/?path=/story/maskedinput--date-time-drop](https://storybook.grommet.io/?path=/story/maskedinput--date-time-d

[2020-07-22 09:05] valkenburg opened #4334 "InfiniteScroll props.show only works when props.show < props.step IF replace = true."
### Expected Behavior
[code]
should scroll down to item at index 20 upon the first rendering.

### Actual Behavior
doesn't scroll, unless we set props.step to a value > 20, such that the item is anyway rendered, **or** we remove the flag `replace`. Only then, InfiniteScroll will scroll to it.

### URL, screen shot, or Codepen exhibiting the issue

[https://codesandbox.io/s/grommet-v2-template-zb62

[2020-07-22 09:51] P4R4DiSi4C commented on #4333
![image](https://user-images.githubusercontent.com/17826095/88162359-89679a00-cc11-11ea-9b8f-b12e102ff466.png)

Something like this. I used the MaskedInput DateTime exemple from StoryBook

[2020-07-22 15:58] MikeKingdom commented on #4076
This issue would be difficult to resolve given how Box currently puts a div spacer between children when it renders. The problem is when Box renders, ListComponent is a single child and Box can't tell it renders a Fragment until after ListComponent renders which is way too late. If Box contained a direct Fragment child (rather than the Fragment being rendered by a child component) it could tell th

[2020-07-22 15:59] ShimiSun commented on #4333
Thank you for your feedback and for using the stable branch to try the component out!
I took a look at how your example could be achieved with the current DateInput implementation, and we might need to enhance the component to welcome `children` prop, the trick will be to know where to place `children` relative to the Calendar component (top/ bottom/ left/right..)

[2020-07-22 20:50] ShimiSun commented on #4076
@MikeKingdom, since I don't think we'll attempt to fix it or change how it behaves at this point, can you add a comment to the documentation of `gap` on fragment children?

[2020-07-22 20:57] ShimiSun commented on #4332
Feel free to fill in the issue template for future issues, to drive more conversations and interactions with github users that aren't using slack.

![image](https://user-images.githubusercontent.com/6320236/88227975-b032ca00-cc2b-11ea-9184-9530f034a50b.png)

[2020-07-22 21:32] ShimiSun commented on #476
linking to #4333

[2020-07-23 13:05] pedrosimao commented on #3658
I am also very interested in using with react-hook-form.
It is such a pity that `defaultValue` prop was completely eliminated.

[2020-07-23 13:08] pedrosimao commented on #4328
I think `defaultValue` does not existe as a prop any longer.  (https://v2.grommet.io/textinput)
The component can only be used a controlled component. In this case you would use the prop `value`...

[2020-07-23 16:01] IanKBovard commented on #4175
I could be wrong, but i don't think this is good practice. Setting an inputs value to undefined would make it an uncontrolled component. @MLRichmond Is there a reason it must be undefined, and not an empty string.

[2020-07-23 16:23] IanKBovard commented on #4328
I agree with @pedrosimao TextInput is a controlled component. Setting a default value with state would be best here.
https://codesandbox.io/s/musing-sky-ryujg?file=/src/App.js

[2020-07-23 17:36] MLRichmond commented on #4175
@IanKBovard It can't be an empty string because the hook is predicated on an object that is not a string and Typescript does not allow for type mutability. That's why we're using it.

Therefore the only valid values for the hook are either an object of the appropriate type (in this example: SelectOption) - or undefined.

This article does a decent job of explaining how Typescript works with hooks

[2020-07-23 17:36] IanKBovard commented on #3999
I think we can close this issue this sandbox addresses the problem, and I don't believe that there is a good way to detect if a component renders null.

This is most likely the best way to conditionally render a component in grommet.
https://codesandbox.io/s/focused-gould-jjged?file=/src/App.js

[2020-07-23 18:37] IanKBovard commented on #4175
@MLRichmond I gotcha, thanks for clearing that up. I'm not too familiar with typescript, but it doesn't look like the article refers to setting the value of an input (submitResult sounds like, to me, all the data is collected on submit and then stored in that variable). It still isn't good practice to set the value of an input from uncontrolled to controlled. The example looks like its a collectio

[2020-07-23 20:53] MLRichmond commented on #4175
That places the burden of managing the value on the consumer instead of the control which seems backwards. The solution you've offered doesn't make sense as all it does is say "don't really use objects for your value - just use a string".

The Select control allows complex objects to be used as values. This was done explicitly in your typescript defs.
`value?: string | JSX.Element | object | (stri

[2020-07-23 21:23] ShimiSun commented on #3658
@pedrosimao Can you share inputs of what are the reasons you'd like to use react-hook-form on top of Grommet Form, I'm trying to see if there are any gaps we can bridge so users wouldn't need an additional dependency.

[2020-07-24 01:15] jimwhurr commented on #4328
Ok, I will stop using it uncontrolled.

However, if it is the case that TextInput does not support uncontrolled use, then maybe a documentation update is in order as having stories for uncontrolled use of  TextInput and other components (Form and Select at least)  is inconsistent as it suggests that to not be the case. Either way they are pretty useless if you can't set a default value in a field.

[2020-07-24 10:37] pedrosimao commented on #3658
@ShimiSun `react-hook-form` fully embraces uncontrolled components. Even though it is possible to use controlled components with it, it would make little to no sense to use the two libraries together if we are forced to use a controller with all Grommet components.
I have done some tests and the good news is that Grommet `ref` props works fine with `react-hook-form` register function. But the main

[2020-07-24 10:39] pedrosimao commented on #3658
What I would suggest is to add a `defaultValue`  prop to all Grommet components.
Then it would be necessary to add a rule that if `value` prop is used, `defaultValue` should not be used (or should be ignored).... Do you think it would be possible ?

[2020-07-24 13:41] ericsoderberghp commented on #3658
I think that is the right direction to head, ensuring `defaultValue` can be used across input components.

[2020-07-24 14:26] antonio-lm-jr opened #4335 "Select does not display the selected value"
I updated my packages today and noticed that my selects are not showing the selected value. I am using the `valueKey` and `labelKey` properties as shown in the examples, but to no avail.

I performed some tests and the problem occurs from the version v2.13.0.

### Expected Behavior

Display the selected value

### Actual Behavior

Not applicable

### URL, screen shot, or Codepen exhibiting the iss

[2020-07-24 15:57] IanKBovard commented on #4328
I do agree that if textinput no longer supports uncontrolled the example should be removed from storybook.I think you misunderstand, my example shows a textinput with a default value, just not using the defaultValue prop.

I'm not too certain, but I believe the documentation refers to html attributes that the components are built upon.

[2020-07-24 17:33] MLRichmond commented on #4175
Forgot to tag @IanKBovard on the last reply. Hope it helps.

[2020-07-24 22:14] nnbrandon opened #4337 "InfiniteScroll stops intermittently"
### Expected Behavior
Should be able to keep scrolling through an infinite scroll list.

### Actual Behavior
The content or page does not show on the rendered application and unable to scroll through the infinite scroll list anymore.

This seems to be related to https://github.com/grommet/grommet/issues/3106

### URL, screen shot, or Codepen exhibiting the issue
Here is a code sandbox that shows t

[2020-07-24 22:49] #4146 closed

[2020-07-24 22:52] ShimiSun commented on #4146
The fix will be available on our next release, thank you for reporting!

[2020-07-24 23:06] taysea commented on #4278
As I tried to address the above issue, I came into some issues regarding focus hand off between the `ul` and the click of an individual item. It seems that the `ul` should hold focus the entire time (even when an individual item is clicked) but I can't avoid having the focus indicator go onto the list item when clicked. I think this is based on how our `Box` handles onClick.

[2020-07-25 03:10] Zodiase opened #4339 "[TS] Missing type for `theme.button.disabled.opacity`"
# Problem

`theme.button.disabled` is declared here:
https://github.com/grommet/grommet/blob/76ed3c4f733049aef924a90e10bf25907babf094/src/js/themes/base.d.ts#L330

`ButtonKindType` is declared here without an `opacity` prop:
https://github.com/grommet/grommet/blob/76ed3c4f733049aef924a90e10bf25907babf094/src/js/themes/base.d.ts#L82-L94

`theme.button.disabled.opacity` is being used here:
https://g

[2020-07-25 11:09] pedrosimao commented on #3658
@ericsoderberghp good! Do you think it would be a lot of work? I could definitely contribute to this. I just don't know what kind of approval we may need from the Grommet core team.

[2020-07-25 11:23] pedrosimao commented on #4328
@jimwhurr
Before using the component as a controlled one, maybe you should try passing `react-hook-form` register function to the TextInput `ref` prop. I know it is not documented, but it seems to exist.
like this:

[code]
where register comes from `const { register } = useForm();` of `react-hook-form`.
You can read more here:
https://react-hook-form.com/api/#register

[2020-07-25 12:30] jimwhurr commented on #4328
(Sorry I didn't see your example initially as I was answering from my phone.)

That's what I tried first - think you'll find that you cannot edit the field, which was why I elected to use defaulValue in the first place. Maybe I should've reported that as the bug instead of trying to work around it?

I will change my code - the TextInput is wrapped in another component that includes the FormField a

[2020-07-25 12:41] pedrosimao commented on #4328
I think if you use native `<form />`  html tag instead of Grommet's  `<Form />` and `<FormField />` it should work without problem ...

[2020-07-25 12:55] jimwhurr commented on #4328
Thanks for the advice :) I will try it at some point but at the moment I am on a tight timescale and I've already changed the input field to work (across all the forms) as it was only one slight code change in one file .

[2020-07-25 13:34] ericsoderberghp commented on #3658
I would recommend trying it out with one component, like TextInput, filing a PR with that for feedback, and proceeding from there.

[2020-07-25 14:23] AlexBHarley opened #4340 "Cannot assign to read only property 'target' of object '#<MouseEvent>'"
Using the `Select` component with Preact fails with `Cannot assign to read only property 'target' of object '#<MouseEvent>'
 `.

I'd very much like to use Preact in my project but this is blocking me.

### Expected Behavior

`Select` component should work as it does with React.

### Actual Behavior

Crashes with `Cannot assign to read only property 'target' of object '#<MouseEvent>'`.

### URL, sc

[2020-07-25 14:45] pedrosimao commented on #3658
Thanks for advice. TextInput seems to have defaultValue already, even though if not documented.
I think I will with Checkbox component.

[2020-07-26 12:16] buoyantair commented on #4101
@ShimiSun Hey, not able to work on this right now. Really sorry ☹️ Hope someone else picks it up!

[2020-07-27 17:22] IanKBovard commented on #4328
@jimwhurr just checking in where we are on this issue? Were you using defaultValue because you wanted the input to be uncontrolled, or because you just wanted the input to start with an initial value? I'd like to understand your fix, so I can see if we can close this issue or not.

[2020-07-27 17:31] ShimiSun commented on #4340
Thanks for reporting! we'll be happy to receive a contribution from the community for this issue.

[2020-07-27 18:00] ShimiSun commented on #3578
Thank you again for your contribution! ❤️

[2020-07-27 18:00] #3578 closed

[2020-07-27 18:39] pedrosimao commented on #4328
@IanKBovard fir me `defautValue` is necessary for uncontrolled form components, since there is no other way to set initial values on uncontrolled components.

[2020-07-27 20:22] IanKBovard commented on #4328
@pedrosimao That makes sense to me. I think it's up the @ShimiSun if she wants to allow TextInput to be uncontrolled again, or if she wants to keep its current iteration of it being exclusively a controlled component.

[2020-07-27 21:06] jimwhurr commented on #4328
@IanKBovard

I have changed my code to use TextInput as a comtrolled component. However if it is to exclusively be a controlled component then the examples/stories of it as uncontrolled should be removed.

If, however, you want it to be available as uncontrolled then I suggest providing defaultValue prop and ensure that Form/FormField validates it properly i.e. allows a valid, non-empty default to

[2020-07-28 05:13] britt6612 commented on #3356
There has been many changes to `form` in the past few months

I created an updated codesandbox to show that onChange is now just called once.

https://codesandbox.io/s/onchange-form-1efo4?file=/src/App.js

If there are no objections I believe this issue can be closed. The Grommet 2.11.0 release with the massive improvements to `form` and `formfield` this issue was no longer happening

[2020-07-28 10:23] Krishnasuma opened #4347 "Accessibility error in Grommet data table search box cell"
Hi,

I was trying to update some accessibility errors in one of our projects but I am not able to correct it for the data-table component search cell in the header. Please find below the details of that.

After clicking the search icon in the header of the DataTable component from the grommet, if run wave tool we can see an error in that search input box. Here is the attached screenshot.

Here is

[2020-07-28 10:54] pyyding opened #4348 "Select input wrapped in FormField does not handle valueKey prop"
When using Select in FormField with valueKey and labelKey props, the submitted form values are labels not values

### Expected Behavior
When valueKey is in FormField's prop, Select field's value should be derived from the valueKey prop.

### Actual Behavior

When submitted, the field's value is actually label not the value.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbo

[2020-07-28 16:23] IanKBovard commented on #4335
You have to make sure your value resembles your options object.
here is your error:
`state = { value: "2", options: OPTIONS };`
it should be:
`state = { value: { id: "1", name: "Option 1" }, options: OPTIONS };`

working codesandbox:
https://codesandbox.io/s/serene-burnell-7hzli?file=/src/App.js:249-316

[2020-07-28 16:31] nnbrandon commented on #4337
@IanKBovard if you have any questions, feel free to reach out to me on skype or here

[2020-07-28 16:35] MikeKingdom commented on #4076
I changed the Box gap documentation in #4338 to specifically mention it won't put gaps between children in a Fragment.

[2020-07-28 16:35] #4076 closed

[2020-07-28 17:30] antonio-lm-jr commented on #4335
The way I implemented it works in versions prior to v2.13.0. So, I opened the issue.

Making the change you propose is a little difficult for me. For now I will stay on version v2.12.0.

[2020-07-28 17:57] maryjufang opened #4349 "Drop component to have an option of showing caret to target"
Drop component to have an option of showing caret to target

### Expected Behavior

![image](https://user-images.githubusercontent.com/9951106/88703011-2aef5f80-d0da-11ea-9187-dd88839da813.png)

### Actual Behavior

No caret option

[2020-07-28 17:58] maryjufang opened #4350 "Text aria-label does not shown with a11yTitle set"
Text aria-label does not shown with a11yTitle set

### Expected Behavior

aria-label show in HTML tree

### Actual Behavior

aria-label does not show

[2020-07-28 17:59] maryjufang opened #4351 "DateInput Range crashes after click same date three times"
DateInput Range crashes after click same date three times

### Expected Behavior

same date selected as range

[2020-07-28 18:04] maryjufang opened #4352 "Calendar is one day off for all interfaces"
When pass in range (dates), onSelect, dates are off one day, including dates range, and onSelect call back.

### Expected Behavior
Date should be same the the one clicked.
Located in RTP time zone (EST)

### Actual Behavior
all dates are 1 day off

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/9951106/88703789-2f684800-d0db-11ea-88ef-738a1

[2020-07-28 18:07] maryjufang opened #4353 "DateInput - Calendar not to show 6th row if all in next month"
Calendar not to show 6th row if all in next month

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/9951106/88704118-a69ddc00-d0db-11ea-84bc-9b41a37ee102.png)

[2020-07-28 18:10] maryjufang opened #4354 "Calendar: provide an interface not to show in date range in adjacent days"
Calendar: provide an interface not to show in date range in adjacent days

### Expected Behavior
Some times, user may want to skip highlighting date range in adjacent days

### URL, screen shot, or Codepen exhibiting the issue
![image](https://user-images.githubusercontent.com/9951106/88704377-fbd9ed80-d0db-11ea-906a-ea26633071dc.png)

[2020-07-29 16:11] IanKBovard commented on #4101
@jjalonso here is the correct use of the errors prop

https://codesandbox.io/s/form-errors-xhx83?file=/index.js

require is overriding your custom error message. If you want to use this prop, i suggest handling different errors in state. if you want to customize the required message, i suggest using the messages prop, like so.

https://codesandbox.io/s/form-errors-7rxik?file=/index.js

[2020-07-29 16:41] ShimiSun opened #4356 "List - missing action prop on docs and filling 'data' on the stories"
### Expected Behavior
`action` prop of List should be documented.
The `data` on the story examples should appear in the story example and not imported.

### URL, screen shot, or Codepen exhibiting the issue
https://v2.grommet.io/list

`data` in line 8 should be explicit:
https://storybook.grommet.io/?path=/story/list--action

### Steps to Reproduce

1. 2. 3.

### Your Environment

- Grommet versio

[2020-07-29 17:32] #4213 closed

[2020-07-29 18:09] ShimiSun commented on #4353
The example is taken from DateInput https://storybook.grommet.io/?path=/story/dateinput--range

[2020-07-29 18:26] ShimiSun commented on #4351
https://storybook.grommet.io/?path=/story/dateinput--range

[2020-07-29 18:28] ShimiSun commented on #4347
Can you please share what is the error?

[2020-07-29 18:42] jjalonso commented on #4101
You mean is not an issue then ?

[2020-07-29 18:45] jjalonso commented on #4101
I just check my codesandbox and now show red messages. Before it was used to show gray messages like info.

Maybe grommet version got upgraded and problem solved ?

[2020-07-29 19:35] RyanCCollins opened #4360 "SkipLink example broken in docs site"
### Expected Behavior
When using the examples given on the grommet docs site, I'd expect the skiplink to be working.

### Actual Behavior
The skiplinks don't work in the examples on the grommet site

### URL, screen shot, or Codepen exhibiting the issue
https://v2.grommet.io/skiplinks

### Steps to Reproduce
Try any of the skip link examples on the grommet site.

### Your Environment

- Grommet ve

[2020-07-29 21:25] #4350 closed

[2020-07-29 22:04] ShimiSun commented on #4360
For now, we are providing a SkipLinks example on codesandbox  https://069bi.csb.app/skiplink#C5
Let me know if this is aligned with what you had in mind, and where it needs refinement.

[2020-07-29 22:44] #4188 closed

[2020-07-29 23:05] britt6612 opened #4362 "Add object to prop types for messages in Form"
Currently messages prop in `form` only takes a string
https://v2.grommet.io/form#messages
If a user wanted to have a custom text they would pass in an
object but then get a prop type error
### Expected Behavior
no prop type error

### Actual Behavior
<img width="1031" alt="Screen Shot 2020-07-29 at 5 05 16 PM" src="https://user-images.githubusercontent.com/42451602/88862498-b0980b80-d1bd-11ea-8815

[2020-07-29 23:07] britt6612 commented on #4362
After playing around with the i18n project using grommet and chatting with @IanKBovard in which he explained that the translation is coming from the i18n config files for each language as opposed to the grommet defaultMessage.  I found that you need to still provide the translation files which are here https://github.com/grommet/grommet-i18n/tree/master/public/locales these files contain the trans

[2020-07-30 00:11] halocline commented on #4334
Upon initial investigation, I am finding a few oddities. Documenting for context:
- `show` behavior does not scroll to specified index: [Storybook Example](https://storybook.grommet.io/?path=/story/infinitescroll--show-118th-item) --> should contain index 117
- when `show` is specified, the result set does not render items past the show indexes page: [Storybook Example](https://storybook.grommet.i

[2020-07-30 09:39] Krishnasuma commented on #4347
@ShimiSun the error is "Missing Form label". You can check error here https://codesandbox.io/s/grommet-v2-template-j8u1x?file=/index.js by running wave tool for this example.

![image](https://user-images.githubusercontent.com/17309263/88907613-75a5de80-d276-11ea-80de-096724295cc1.png)

[2020-07-30 14:28] IanKBovard commented on #4101
if you want to show info, you need to use the infos prop.

https://codesandbox.io/s/form-errors-2mj8i?file=/index.js

[2020-07-30 18:17] jjalonso commented on #4101
@IanKBovard the _bug_ was reported on 2.13,
You check the codesandbox again now that I fixed the version.

[2020-07-30 18:52] seanmehra opened #4366 "MaskedInput options messes up logic of regex"
Has anyone else experienced a bug where the MaskedInput 's options doesn't work well?
Here's my mask prop:
{
        length: [1, 2],
        placeholder: 'number of minutes',
        options: ['5', '10', '15'],
        regexp: /^[1-9][\d]?$/
}
I can type any number except the numbers 50 through 59. Any idea why?

**INITIAL THOUGHT:**

"i think its because 5 is satisfying your option exactly.  it m

[2020-07-30 19:17] IanKBovard commented on #4101
@jjalonso remove the square brackets, and it should be fine.
https://codesandbox.io/s/form-errors-e0v6e

[2020-07-30 19:31] IanKBovard commented on #4328
it looks like you can use defaultValue
https://codesandbox.io/s/musing-sky-ryujg?file=/src/App.js:158-479s

My guess is that it does not validate is because grommet checks state, if you want to validate an uncontrolled component, i assume you have to check the dom yourself.

[2020-07-30 19:33] jjalonso commented on #4101
It works  thanks, is the documentation right with that array?

errors

An object representing any errors in the data. Their keys should match the keys in the value object.

{"name": **[**"message", "<Box>...</Box>"**]**}

[2020-07-30 19:39] IanKBovard commented on #4175
@MLRichmond I am hesitant to sanitize the input, because passing undefined would make it an uncontrolled component. This is default react behavior. I would have to discuss it with @ShimiSun or @ericsoderberghp to see what they want to do.

If you can give me examples of people passing undefined to inputs with react typescript that would help me. I've seen examples use null, but not undefined.

htt

[2020-07-30 19:47] IanKBovard commented on #4101
Yeah, thats a little confusing to me too. Not sure why its an array. I'll have to ask.

[2020-07-30 19:58] ShimiSun commented on #4360
Some insights while taking a look at the grommet-site [SkipLinks](https://v2.grommet.io/skiplinks) component:
1. The SkipLinks window with the _Main Content_ does show after navigating to the end of the page - we should consider changing tabIndex so it will be displayed at the beginning.
2. When the window opens, we should allow a way to navigate out of it without selecting an option.
![image](htt

[2020-07-30 20:01] RyanCCollins commented on #4360
Hey @ShimiSun thanks for looking into this! I do see what you mean.  Is there an example of how to use the skiplinks?  I did try to add them to GLC and it crashes the page.  I think perhaps I'm using them incorrectly.

[2020-07-30 23:15] ShimiSun commented on #4360
@RyanCCollins good feedback. Let me take another look and get back to you on that.

[2020-07-31 00:00] michaeljguarino opened #4368 "Drop - drop should have a way to reposition to stay within viewport"
Currently drops that are spawned at a position that puts them out of window will enable scroll behavior.  It'd be nice to reposition the drop to guarantee the entire content is visible.  It seems like there is some behavior in the current positioning code based on percent visibility, with a 20% threshold.  Perhaps that could be configured in the theme for users who'd like it to be 0%?  Alternative

[2020-07-31 16:00] #4122 closed

[2020-07-31 16:29] ShimiSun commented on #4122
The fix is available on the grommet stable branch, thanks for reporting.

[2020-08-03 07:51] cscognamiglio commented on #3356
Yes I can confirm that the problem is fixed, thanks! I will close the issue.

[2020-08-03 07:51] #3356 closed

[2020-08-03 17:50] MLRichmond commented on #4175
@IanKBovard I'll defer to @ShimiSun and @ericsoderberghp on that - but I don't see how passing undefined makes it intrinsically an uncontrolled component. Passing it all the way to the input would, I agree. But I can't find any documentation that says it becomes uncontrolled the second it takes an undefined prop.

In fact, trying this
[sandbox](https://codesandbox.io/s/wizardly-hypatia-f6wol?file=

[2020-08-03 18:36] #4351 closed

[2020-08-03 18:37] ShimiSun commented on #4351
This issue is fixed on the [stable branch ](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F), and will be available on our next release.

[2020-08-03 18:40] ShimiSun commented on #3356
@cscognamiglio thank you for the collaboration.

[2020-08-03 21:51] LiveFreeAndRoam opened #4372 "Stack anchor is offset"
### Expected Behavior

When setting the `anchor="top-right"`, the expectation is that the stacked element will sit in the top-right position.

### Actual Behavior

When setting the `anchor="top-right"`, the stacked element is offset from the top-right position.  The workaround is to wrap the stacked element with a `Box`.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.i

[2020-08-04 00:21] LiveFreeAndRoam commented on #4372
Some more data points after a chat with Shimi...

I tested it and here are my findings...

1. The stacked element is a `Box`, so it seems to be the same solution as wrapping the stacked icon in a `Box`.  Perhaps this should be a mandatory requirement to wrap stacked elements in `Box`?

2. When using a `Box` without any children, you need `pad='xsmall'` , to give the box a dimension that can be fil

[2020-08-04 16:50] #4278 closed

[2020-08-04 17:16] jjalonso opened #4373 "Heading responsive behaviour is not documented"
The way that the heading resize on differents breakpoints is a great mystery for lots of us,
I could not find explanation on the doc, i think it need some explanation about how to use it and how to disable it.

[2020-08-05 00:23] ypinneka opened #4375 "Formfield Validation does not show up"
I have a use case where we need to show the error message returned from validation function of formfield. But when the error is returned via promise (backend API), it doesn't show up.

Created a codeSandBox replicating the same issue, https://codesandbox.io/s/fervent-ride-z1fdw?file=/src/App.js

Used setTimeout for simulating promise.

[2020-08-05 07:58] novykh commented on #4375
Hello @ypinneka , there are two reasons for this:
1. You are not returning the actual error string.
2. FormField validations do not work in async.

I kind of [updated](https://codesandbox.io/s/fast-mountain-pe999?file=/src/App.js) your codesandbox snippet, to validate on form change.

You can do the validation on other events (of the form or the formfield) as well, but in order to display them, yo

[2020-08-05 13:52] srallen opened #4377 "TextArea prevents onEsc event if used in Layer"
### Expected Behavior

I would expect that onEsc closes the Layer

### Actual Behavior
onEsc is prevented when focused on the TextArea in the Layer.

### URL, screen shot, or Codepen exhibiting the issue

### Steps to Reproduce

This can be observed in the Grommet story for a form rendered in a Layer: https://storybook.grommet.io/?path=/story/layer--form

The third input is a TextArea and if you a

[2020-08-05 17:49] #4229 closed

[2020-08-05 17:59] ShimiSun commented on #4305
I'll be closing the issue since @halocline provided great inputs. Feel free to reopen if needed.

[2020-08-05 17:59] #4305 closed

[2020-08-05 19:40] ShimiSun commented on #4377
Why do you think this is a Layer related issue and not just an issue with TextArea?

[2020-08-05 20:36] ShimiSun commented on #3887
Content per component:
1. Accessibility content
2. When to use the component, in comparison to other grommet components
3. Link to github code component.
4. Use cases of how to use the components.
5. Related components.
6. Disclaimers on props.

Content per prop:
1. Link to testing
2. Quick code example

[2020-08-05 21:11] jcfilben opened #4379 "Add `rel` prop to Anchor"
When you link to an external site and open the link in a new tab it creates a security issue unless you include `rel='noopener'` or `rel='noreferrer'`.

https://medium.com/sedeo/how-to-fix-target-blank-a-security-and-performance-issue-in-web-pages-2118eba1ce2f

Linking to an external site can be done using:
[code]
but this behavior is unsafe. For this to be secure the `rel='noopener'` or `rel='nor

[2020-08-06 00:20] ypinneka commented on #4375
Hi @novykh

I tried this solution prior, but it does nto cater to all use cases, please see the sndBox, https://codesandbox.io/s/boring-bird-kbkzt?file=/src/App.js
In here, if we pass errors via Form component & the specific formfield has a required already, then the error from Form does not show up.

Note: we have a very specific case where we are wrapping the validation function to create a cust

[2020-08-06 00:30] LiveFreeAndRoam opened #4380 "Button Alignment differs with icon as child vs property"
### Expected Behavior

Expected that the alignment of a Button would be the same if the icon is a property or a child.

### Actual Behavior

Alignment differs.  This makes it difficult to align Buttons from different components that define the icon differently.

### URL, screen shot, or Codepen exhibiting the issue

https://codesandbox.io/s/button-and-icon-alignment-orfyy?file=/src/App.js

![image

[2020-08-06 03:06] ShimiSun commented on #4380
@britt6612 is this the issue you already fixed today?

[2020-08-06 06:49] britt6612 commented on #4380
<img width="1187" alt="Screen Shot 2020-08-06 at 12 49 30 AM" src="https://user-images.githubusercontent.com/42451602/89500273-b32ad000-d77e-11ea-8876-6c556cd45682.png">

Yes this is a screen shot of the code with my fix so it should be good now on stable! 😄

[2020-08-06 09:46] novykh commented on #4375
`required` takes precedence over form `errors`. In such cases, pass the custom error directly to the formField. Hope it helps.
https://codesandbox.io/s/elastic-snow-khi2x?file=/src/App.js

[2020-08-06 12:20] pyyding commented on #4348
Rookie mistake. The problem was that I was using `event.target.value` not `event.value` for reading form submission data. 🤦‍♂️

[2020-08-06 12:20] #4348 closed

[2020-08-06 19:46] ShimiSun commented on #4380
Perfect @britt6612 , thank you!
@LiveFreeAndRoam, @britt6612 solve the problem before you even filed it, Now, that's what I call a first-class service!!

[2020-08-06 19:46] #4380 closed

[2020-08-06 19:47] ShimiSun commented on #4372
@britt6612, can you confirm this issue is solved with your recent PR as well?

[2020-08-06 19:57] britt6612 commented on #4372
<img width="678" alt="Screen Shot 2020-08-06 at 1 55 53 PM" src="https://user-images.githubusercontent.com/42451602/89576459-8c0ae780-d7ec-11ea-8908-b1a58a7c1748.png">

Unfortunately no I believe its some thing similar when wrapped in a button but since this is using stack.
The other example was using button
[code]

I can look more into this though!

[2020-08-06 20:26] cliffpyles opened #4384 "Unintentional removal of DOM elements"
Grommet removes DOM elements that were built by external libraries (and live outside of the application).

### Expected Behavior

Grommet doesn't remove DOM elements that are unrelated to the application and the design system.

### Actual Behavior

In the AnnounceContext component, `document.body.querySelector('[aria-live]')` is used to target elements, but because of the broadness of the selector

[2020-08-06 22:09] #4184 closed

[2020-08-07 03:09] ShimiSun opened #4385 "Storybook/Chromatic clean-ups"
1. Clean up the console warning:
![image](https://user-images.githubusercontent.com/6320236/89604045-ae6e2680-d827-11ea-8f4d-75709bc21612.png)

1. Disable all Chromatic testing for DropButton component.

1. Disable Chromatic on DateInput -> Range and Simple stories.

1. Remove Chromatic from all these 4 stories of Layer
![image](https://user-images.githubusercontent.com/6320236/89604593-d27e3780-d

[2020-08-07 04:04] ShimiSun commented on #4384
Thanks for reporting.

[2020-08-07 05:41] LiveFreeAndRoam commented on #4380
That is fantastic!  Nice work and thank you for the quick turn around.

Another question; in the image showing the fix, you can see the Stacked icon is not aligned with the Notification icon.  I would expect they should also be aligned, should they not?

[2020-08-07 15:21] ShimiSun commented on #4380
Is that part of #4372 ? It's a separate issue.

[2020-08-07 15:21] #4234 closed

[2020-08-07 16:19] ypinneka commented on #4375
Oh, I missed that there is an error prop for formfield as well. Will try and let you know ! Thanks !

[2020-08-07 17:57] ShimiSun commented on #4385
More relevant content https://www.chromatic.com/docs/ischromatic

[2020-08-07 18:08] #4339 closed

[2020-08-07 19:43] srallen commented on #4377
@ShimiSun I made this sandbox to demonstrate that it's an issue inside `Layer`: https://codesandbox.io/s/grommet-v2-template-2458f?file=/index.js

You'll see that if you open the Layer, then focus the `TextInput` and hit esc, my custom `onKeyDown` handler fires, then `onEsc` for the Layer will fire and close the `Layer`, if you do the same when  focused on the `TextArea`, `onEsc` for the `Layer do

[2020-08-07 21:42] ShimiSun commented on #4379
Any idea how we can anticipate whether the `href` will be internal or external to the user’s site? applying a default value will require us to make this assumption.

[2020-08-07 22:17] RobertGary1 opened #4389 "Multiple buttons can have focus at a time"
![image](https://user-images.githubusercontent.com/3485567/89692519-cba30380-d8c0-11ea-8131-c5d8ce5573f5.png)

The first button disables itself
The second button enables the first.

1) Click the first
2) Click the second
3) Notice both are active and focused.

https://codesandbox.io/s/youthful-cartwright-hj28u?initialpath=/text&module=%2Fsrc%2FText.js

[2020-08-07 22:54] ShimiSun commented on #4389
Thank you for reproducing and filing the issue.
To understand the use case better, after clicking an icon, you expect the Button to be disabled and the focus shadow to be removed? when will the focus be shown if the Button is becoming disabled?

[2020-08-08 12:43] jimwhurr opened #4391 "Problem with Box rendering simple list"
Best looking at the examle.

P.S. I've not stripped it down to its most simple case because I've spent a lot of time trying to find a way around it...

### Expected Behavior

The App should display a fixed height Box and make the content scroll f it overflows the box height.

### Actual Behavior

The content is squished into the Box

### URL, screen shot, or Codepen exhibiting the issue

This vers

[2020-08-10 13:58] priya-gupta1905 opened #4392 "How to do scroll up pagination on onMore event of datatable"
I am not able to do scroll up pagination on Datatable onMore event

It should work when i am doing scroll up same as it is working on scroll down which is working fine.

I am using 2 things onMore and steps to show the data on scroll down ,

Can i get some suggestions for scroll up pagination implementation.

[2020-08-10 15:17] MLRichmond opened #4393 "Button focus style gets "stuck" when disabled while focused"
As the title says, Buttons have an issue when they are disabled while focused that causes them to retain the focus styling.

### Expected Behavior

The focus styling should either clear when the button is disabled, or at least when another element subsequently takes focus.

### Actual Behavior

The focus styling remains stuck on the button even after a new element takes focus.

### URL, screen sho

[2020-08-10 18:14] parth611git opened #4394 "Error while displaying nested JSON Object DATA in DataTable"
I have used DataTable to display JSON data.
I have defined columns and DATA are fetched using API.
Each row in API response, is nested JavaScript Object
I am facing issue issue in displaying data from nested JavaScript Object.

[code]
How can I display "desginationName" which is nested under "designation"?

### Expected Behavior
I have tried by make column property as designation.designationName a

[2020-08-10 19:13] IanKBovard commented on #4332
I could be wrong, but it looks like this might be intended behavior. This function handles the size.
`const responsiveData = headingTheme.level[Math.min(props.level + 1, 4)][size];`

![Screen Shot 2020-08-10 at 2 06 07 PM](https://user-images.githubusercontent.com/21990914/89820540-cb01ab80-db12-11ea-91e1-6ec554b0144a.png)

The level here is the passed in heading level
the number is what is calcul

[2020-08-10 21:06] ericsoderberghp commented on #4332
It looks like we are trying to handle the small responsive scenario by shrinking the font size by one heading level but not shrinking below 4. So 1 -> 2, 2 -> 3, 3 -> 4, 4 -> 4, 5 -> 4, 6 -> 4. It feels like it was intended, but I can't remember :( . I agree that this doesn't seem right for larger heading levels. I wonder if we should change the hard coded `4` to be something like `Math.max(...Obj

[2020-08-10 21:21] RobertGary1 commented on #4389
I would think once it becomes disabled it would lose focus but at least once something else gains focus.Right now it seems to get stuck so it always holds focus, even when its re-enabled.

[2020-08-10 21:41] ShimiSun commented on #4389
Thanks for clarifying, I agree it should lose the focus once disabled, so the root cause of the issue will be on how the disabled styled is handled rather than the focus itself.

[2020-08-10 21:44] ShimiSun commented on #4332
I think it was there before we actually supported the levels of 5 & 6.

I agree that will be the right approach to handle it.

[2020-08-10 21:47] ericsoderberghp commented on #4389
I suspect that part of the issue could be relying on the internal `focus` state to drive style instead of `&:focus {}` in the styling.

[2020-08-11 02:03] #4093 closed

[2020-08-11 04:25] ericsoderberghp commented on #4394
I am unable to reproduce this using:
https://v2.grommet.io/datatable?c=DwEQhgLmAqYEYBsCmAoABGgxgewQVwFsA7AZwF4BvAbXQzQtrrQAcAnbZpViATwC40AciJgCSQQBpGdABZIwAEy4Dg0JAA8IAPgByopMAD0azVqlMMbAJYEwrfmgis8Sc3QC+bjAwst2nbgdBMAA6OElpDDlFZSEAIQimT1oAXXdaBUgwShomCjQRMQFBAEEEMCJJNDABfLgBACYABjR3Vq96Av1iuPsKqprO+rQAZlb21PTDLSA

Have you tried this?:
[code]

[2020-08-11 16:24] IanKBovard commented on #4394
I believe this is because datatable uses property to create the key. Since your property is an object the key for each row will be [object, object] causing duplicate keys. I agree with @ericsoderberghp, that change to the property should address the issue.

[2020-08-11 17:15] parth611git commented on #4394
@ericsoderberghp  @IanKBovard
Thank you Folks for your response.
I tried with designation.designationName and it was working fine as I have said in my initial question.

Is there any scope to make property as "designationName" and display proper designation value in DataTable.

Or

Is there any way to change key value for each row, for said example?

[2020-08-11 18:40] parth611git commented on #4394
Is there any that I keep property as "designation" and use render prop to display proper "designationName" value.
I have tried with below code, but it didn't work.
`render : (datum) => (<Text value={datum.designation.designationName} /> )`

[2020-08-11 19:56] MikeKingdom commented on #4101
I'm not sure of the real purpose of the array in the doc yet, but if the value for a key is an object rather than a string, that value is inside a <Box>(by FormField's <Message>) and the Box props come from the theme. Well in this case the theme provides a "color: status-critical" which is passed along to <Box> but since <Box> doesn't have a color prop it ends up in the DOM as <div color="status-c

[2020-08-11 21:06] ericsoderberghp commented on #4101
I think the array example shown, `["message", "<Box>...</Box>"]` is just some poor auto-formatting. I think it's trying to say the value for each name could be either a string or JSX.

[2020-08-11 21:44] jcfilben commented on #4385
The chromatic snapshots for
Menu: reverse, simple, and themed
seem like they could be removed. Also not sure if we need chromatic testing on the Collapsible stories.

[2020-08-11 22:29] ShimiSun commented on #4385
Example code for Layer-> Form, should use Form and not just FomFields inside of Box.https://storybook.grommet.io/?path=/story/layer--form

[2020-08-12 04:19] ShimiSun commented on #4385
Can we also exclude Chart -> Scan & Zoom stories from Chormatic.

[2020-08-12 04:21] ShimiSun commented on #4393
Is this issue a duplication of the issue in #4389 ?

[2020-08-12 04:23] ShimiSun commented on #4392
@halocline & @IanKBovard Is this issue related to the work/issues you are currently working on?

[2020-08-12 11:30] holdenmad opened #4407 "Margin documentation misleading"
In the documentation, for example for <Box>, the margin properties are structured like this to explain how it should work:
[code]

This leads me to think that in a project, I could do this:
`<Box margin={"bottom": "small"}>Boxity Box</Box>`

Butin reality it should be like this:
`<Box margin={{bottom: "small"}}>Boxity Box</Box>`

I think the documentation should look more like this to avoid confus

[2020-08-12 12:54] MLRichmond commented on #4393
Looks like. It looks like Eric has already identified the root cause in that item. Apologies for the duplication - I opened this as a result of a slack thread. I didn't realize someone else opened it as well.

[2020-08-12 15:36] halocline commented on #4392
It is quite likely that it is related.

@priya-gupta1905 would it be possible for you to provide an example of this in a CodeSandbox? That would help us diagnose the issue.

[2020-08-12 15:42] halocline commented on #4353
@ShimiSun Confirming we want to treat this as a feature enhancement, correct?

[2020-08-12 16:24] IanKBovard commented on #4377
This was intentional, a code snippet from the TextArea component.

[code]

[2020-08-12 16:32] ShimiSun commented on #4353
Yea, otherwise it might be considered as a breaking change.

[2020-08-12 16:44] IanKBovard commented on #4391
This is because Box has a default min-height: 0. You can fix this by adding height={{min:auto}}. Not sure if it's possible to change this behavior, as it might cause a lot of backwards compatibility issues. Here is a working example in codesandbox.

https://codesandbox.io/s/wizardly-mountain-fry31?file=/src/App.js

[2020-08-12 17:58] ShimiSun commented on #4407
linking to #3887

[2020-08-12 19:02] ShimiSun commented on #4393
@MLRichmond no worries, thank you for reporting.

[2020-08-12 19:42] jimwhurr commented on #4391
Thanks, that did the trick 👍

[2020-08-12 19:42] #4391 closed

[2020-08-12 20:05] #4360 closed

[2020-08-12 20:54] taysea commented on #4389
I think your intuition is correct, Eric. I am looking at this locally and updated the focus to be driven by &:focus {} and it is removing this error. I am going to do some more explanation, then I will work on putting together a PR.

[2020-08-12 21:48] #4356 closed

[2020-08-13 16:11] IanKBovard commented on #4407
While I do agree that the quotes should be removed, I don't think wrapping the object in two curly brackets is a good idea. Passing any value through as props that isn't a string requires it to be wrapped in curly brackets already.

[code]

[code]

[code]

Knowing default react behavior, documentation such as this {{ vertical: size }} looks like i have to pass in a nested object.

[2020-08-13 16:30] IanKBovard commented on #4379
I'm not too sure about this. We can already add rel="noopener noreferrer" to any anchor or button that links externally without the help of grommet. Personally, I think it's possible for grommet to do too much.

[2020-08-13 17:13] ShimiSun commented on #4379
@IanKBovard I agree, and I'll be closing the issue.

[2020-08-13 17:13] #4379 closed

[2020-08-13 17:50] taysea commented on #4373
@jjalonso I've filed [this PR](https://github.com/grommet/grommet/pull/4413) to address this. Can you let me know if the wording is clear/would have helped you understand the behavior?

[2020-08-13 17:59] taysea commented on #4331
This was resolved by https://github.com/grommet/grommet/pull/4364

[2020-08-13 17:59] #4331 closed

[2020-08-13 18:41] phinch opened #4415 "RadioGroup and CheckBoxGroup don't update options when passing a mutated version of the same array"
### Expected Behavior

When an updated version of `options` is passed into `RadioGroup` or `CheckBoxGroup`, the component should re-render with an updated set of options

### Actual Behavior

If the array of `options` passed into `RadioGroup` or `CheckBoxGroup` is a mutated version of the same array passed in on the previous render, then the component does not re-render.

I don't want to over-diag

[2020-08-13 19:04] srallen commented on #4377
Any reasoning for this intention? If so, I think this should at least be configurable. Right now this behavior is confusing and unpredictable for our keyboard users.

[2020-08-13 20:30] taysea commented on #4108
Looking back at this issue a little, was able to spin up a local example where I applied:
[code]
This appropriately made the wrapper of the CheckBoxGroup a fieldset, but now we need to provide the user a way to provide the `legend` value. Thinking one of two things:
1. We add a `legend` prop to FormField to align with the DOM tag we want to insert. We would document that this should be used when a

[2020-08-13 22:14] #4389 closed

[2020-08-13 22:14] #4393 closed

[2020-08-13 22:26] #4373 closed

[2020-08-13 22:38] jcfilben commented on #4385
Removed: 19 chromatic snapshots
Added: 2 new stories added to carousel and header

Total difference is chromatic snapshots: -17

[2020-08-13 22:43] ShimiSun commented on #4283
Fixed, thank you @netochaves !!

[2020-08-13 22:43] #4283 closed

[2020-08-13 22:48] ShimiSun commented on #4385
Fantastic work team, I'll be closing this issue!!

[2020-08-13 22:48] #4385 closed

[2020-08-14 10:40] priya-gupta1905 commented on #4392
@halocline

I am giving examples how i am using onscroll pagination in datatable ,

Expample 1 : Working Fine
 I am using Datatable to show records , onScroll down by default 25 records i am returning from DB and showing 10 recards at a time through **Step** property of datatable. and triggering **onMore** event of datatable after every 25 records (if any).

Example 2 : Not Working
I have implemen

[2020-08-14 15:25] phatcatmatt commented on #4274
I'm having this issue as well.

[2020-08-14 16:05] #3921 closed

[2020-08-14 17:05] IanKBovard commented on #4415
Thanks for reporting. My guess is that you're right about the useMemo causing this issue.

Got a codesanbox here with base react showing your example working
https://codesandbox.io/s/youthful-meitner-qkkj7?file=/src/App.js:483-491

taking a deeper look at it now.

[2020-08-17 05:54] SagarTrimukhe opened #4421 "DataTable: Accessibility issue in column search box"
The search box width is not enough when the number columns are more. The user is not able to see what he/she is typing.
Here is an example: https://codesandbox.io/s/grommet-v2-template-forked-qwfig?file=/index.js

### Expected Behavior
The column width should resize to make the search box wide enough.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue
![ezgif com-video-to-

[2020-08-17 15:47] halocline commented on #4392
Hi @priya-gupta1905. I have an alternate approach in mind.

First, let me clarify your use case a bit further. If I would to say "given a set of [chat] records, I would like to specify a specific record and have DataTable scroll to that record's position in the set" -- does that phrasing adequately capture your desired functionality?

[2020-08-17 21:19] worst-developer commented on #2628
Having an issue with the `<Main/>` component when I am trying to pass `id` and `class` property. From documentation: **Main is a Box with the properties preset**. It should inherit all props and types and looks like it is from source code but something is broken.

`grommet:  2.14.0`
`typescript: 3.9.7`

<img width="598" alt="image" src="https://user-images.githubusercontent.com/7397161/90437755-8b

[2020-08-17 21:48] froston commented on #1934
Could you find a solution to this issue?

[2020-08-17 22:17] ShimiSun commented on #1934
Our next release will include an actual DateInput component of grommet v2. It could be tested on the [stable branch ](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F)if you want a sneak pick.

[2020-08-17 22:22] #4252 closed

[2020-08-17 22:22] froston commented on #1934
Ok thanks! Yeah I can't afford the migration right now so I just had to find a solution to this with grommet v1.
The issue is happening because moment library does not have available locales. It is neccesary first import the locale and then grommet like this:
[code]

[2020-08-17 22:42] jcfilben commented on #4219
I think this issue can be closed

[2020-08-18 01:19] ShimiSun commented on #4375
In addition to the great suggestion coming from @novykh, you can also use the new `onValidate` function provided on the stable branch. I'll be closing this issue. feel free to reopen or file a new one if needed.

[2020-08-18 01:19] #4375 closed

[2020-08-18 04:16] ShimiSun commented on #4219
Thank you @jcfilben !

[2020-08-18 04:16] #4219 closed

[2020-08-18 04:50] ShimiSun commented on #3186
Thank you @halocline for the detailed analysis, I'll be closing this issue. One can feel free to reopen if still relevant or file a new issue.

[2020-08-18 04:50] #3186 closed

[2020-08-18 04:57] ShimiSun commented on #4274
@IanKBovard I think you handled a similar case on a separate issue, can you elaborate?

[2020-08-18 14:34] IanKBovard commented on #4377
I'm not sure as to the reasoning. I don't see any difficulty in removing this functionality, or adding a prop. I would like to know what @ShimiSun and @ericsoderberghp would think to be the best solution.

[2020-08-18 21:42] #4275 closed

[2020-08-18 22:08] ShimiSun commented on #4377
@IanKBovard can you check to which commit/PR/issue this comment is related to, it might provide better context on the approach.

[2020-08-19 04:03] SagarTrimukhe opened #4431 "DataTable with fixed header"
Datatable's header is not fixed to the top of the scrolling window.

### Expected Behavior
There should be an option to have a fixed header. This lets users quickly determine what each column refers to rather than needing to scroll back to the top of the table.

### Actual Behavior

### URL, screen shot, or Codepen exhibiting the issue

### Your Environment

- Grommet version: 2.14.0
- Browser Nam

[2020-08-19 06:04] trumanpurnell opened #4432 "DateInput not importing??"
The DateInput component is nowhere to be found

### Expected Behavior
`import {DateInput} from 'grommet'`
`console.log(DateInput)` // not undefined

### Actual Behavior
`console.log(DateInput)` // undefined

### URL, screen shot, or Codepen exhibiting the issue
Same thing happens on Codepen

### Steps to Reproduce
Easy as ^^^

### Your Environment
- Grommet version: latest
- Browser Name and versi

[2020-08-19 10:50] priya-gupta1905 commented on #4392
@halocline

    if you can give specific record position also fine, but i need **onMore** to work on **Scrollup**

    once we reach the top of the data table and try to scrollup, it should trigger **onMore**, and able to show number of **Step**
    provided

   some event is required on **Scrollup** like **onPrevious** or **onMore**

[2020-08-19 12:50] dileepthomas opened #4433 "Loader and Empty text in DataTable component"
Do we have a prop for loading, so when data is fetching we can show a loader in the table body section.
Also if we pass the data as an empty array will it show a default text as "No Data"

For both above feature can we pass custom component and custom text.

Didn't find any doc related to this.

- Grommet version: Latest

[2020-08-19 16:59] IanKBovard commented on #4377
Looks like it was added with this pr to improve accessibility.
https://github.com/grommet/grommet/pull/2467

[2020-08-19 22:38] chancegraff commented on #4272
Just started using Grommet and I'm having a terrible time attempting to get the button theming to work properly. Is there a better resource for understanding how this is supposed to function?

[2020-08-20 18:17] #2660 closed

[2020-08-20 18:21] ShimiSun commented on #4432
DateInput wasn’t officially released yet, we were still gathering feedback on the user experience and API and provided it on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) (not on the latest yet) so you can use it on the stable branch for now. It will be available on our next official release which will be sooner than later :)

[2020-08-20 18:21] #4432 closed

[2020-08-20 21:59] ypinneka opened #4438 "Disabled prop on DateInput FormField is not disabling the field"
Hi,

Disabled prop on DateInput used inside a formfield is not working as expected.
Please check the attached sandbox, https://codesandbox.io/s/agitated-cdn-x7bsp?file=/src/App.js

[2020-08-20 21:59] #4438 closed

[2020-08-21 20:27] cliffhall opened #4439 "Clicked Menu item does not stay visible"
Menu item
### Expected Behavior

Clicking an item should not scroll away to a random location in the list

### Actual Behavior

When clicking on an item in a Menu/Drop that has enough content that it has to scroll, the list changes position unexpectedly. Scrolling back to the item you clicked will show that it is selected.

### URL, screen shot, or Codepen exhibiting the issue
![Menu Issue](https:

[2020-08-21 20:59] #4439 closed, assigned to nobody

[2020-08-24 14:43] IanKBovard commented on #3910
I no longer see this error in the current version of grommet(2.15). I believe this issue can be closed.

[2020-08-24 14:58] IanKBovard commented on #3925
@rohitkedari eric is correct. The field will not change because you're providing a static value to it. What you're experiencing isn't a bug, but an issue with implementation. Did you want to use it as an uncontrolled component?

[2020-08-24 15:33] IanKBovard commented on #4078
Padding is still there when textinput isn't wrapped.
https://codesandbox.io/s/textinput-plain-issue-forked-w4t6q?file=/index.js

[2020-08-24 16:13] matthieu-stacklabs opened #4441 "List onClickItem not raised"
Since version 2.15 (it used to work on 2.14)

In a List component with onClickItem handler, the expected event is not raised when the item is clicked.

### Expected Behavior

It should behave as documented: "When supplied, this function will be called with an event object that include a 'item' property containing the data value associated with the clicked item and an 'index' property containing th

[2020-08-24 16:44] taysea commented on #4441
Hey @matthieu-stacklabs, could you provide a sandbox demonstrating the bug?

I tried the storybook example locally and adjusted the onClickItem to be: `onClickItem={event => console.log(event)}` and the event properly logged out and contained the additional `event.item` as documented.

[2020-08-24 17:27] ShimiSun commented on #4433
Hi buddy, check out the Loaders and spinners template, and see if that helps. https://codesandbox.io/s/loaders-and-spinners-4jltk
Keep us posted

[2020-08-24 17:27] #4433 closed

[2020-08-24 17:28] ShimiSun commented on #4415
@IanKBovard any updates on this?

[2020-08-24 18:08] bhavin-r-shah opened #4442 "Datatable without header <thead>"
We have a requirement to show info as a table without header. Can DataTable support the same?

I played with DataTable and was able to remove the header names from the header column. But I need a way to remove the thead from the DOM and the border below it. Please refer https://codesandbox.io/s/grommet-datatable-without-header-fep05

I am using Grommet version 2.15.0.

[2020-08-24 18:12] bhavin-r-shah opened #4443 "DataTable with fixed header height"
Is there a way to provide fixed height to Grommet data table header?

[2020-08-24 18:25] bhavin-r-shah opened #4444 "Handle row selection within DataTable"
In the current DataTable, the consumer has to handle the checkbox and row selection logic. Reference - https://storybook.grommet.io/?path=/story/datatable--controlled

Since this is a common use case for most tables, can this be handled by the DataTable component internally?

Grommet version used - v2.15.0

Requirements:
Option to add row selection which provides:
1. Checkbox for header and each r

[2020-08-24 18:30] bhavin-r-shah opened #4445 "DataTable with col span"
Does DataTable support col span like HTML table?

Requirements:
1) Have different column headers but their data is combined into 1 cell.
2.a) Have grouped column header
2.b) Have 2 rows in column header

Requirement example - https://codepen.io/bhavin120986/pen/abNpxrw

Grommet version used - v2.15.0

[2020-08-24 18:32] ericsoderberghp commented on #4441
FYI, I am seeing this behavior on an app as well. The first click causes the List to receive focus but the `onClickItem` handler isn't called. The second click does call `onClickItem`.

[2020-08-24 18:56] bhavin-r-shah opened #4446 "Customizable sort icons for DataTable"
Can DataTable sort icons be customized?

Requirements:
1. Allow user to provide sort icon. 3 options - sort ascending, sort descending and icon to show column is sortable but not currently sorted upon.
2. Allow user to provide background color for the sorted column

Grommet version used - v2.15.0

[2020-08-24 19:01] ericsoderberghp commented on #4441
If I insert a `<Box height="medium" flex={false} />` above the List in the onClickItem story, the problem reproduces. It looks like if clicking will cause the List to scroll in some way, the onClickItem function isn't called.

[2020-08-24 19:01] bhavin-r-shah opened #4447 "DataTable height and column resizing"
The grommet spec mentions that if the size attribute is used to control the table height, it cannot be used in combination with column resizing. Also it will give same width to all cells.

Is there a plan to remove these constraints?

[2020-08-24 19:33] bhavin-r-shah opened #4449 "DataTable column resizing"
When data table column resizing is enabled:

1) The size provided to column acts as min-width when resizing the column. The column cannot be resized less than this size (width).
Can this be over-ridden? We want size to be the default width of the column when the table loads but allow re-sizing to change the column width irrespective of the size.

CodePen - https://codesandbox.io/s/grommet-resizabl

[2020-08-24 19:41] bhavin-r-shah opened #4450 "DataTable - hover style for row"
We need to provide style when we hover over a row like change background color. Is there a way to do the same?

[2020-08-24 19:54] matthieu-stacklabs commented on #4441
Hi Taysea, you're right it works well on simple example, but find below a little more complex one which raises the issue:

[code]

Actually, it's when the "primaryKey=..." attribute is present that the behaviour is odd: it seems that only the clicks on "b" are well received, many clicks on "a" or "c" go missing

Regards

[2020-08-24 21:59] jcfilben commented on #4450
@bhavin-r-shah Looking through the issues you've filed I think these questions would be better suited for discussion on the Grommet #help slack channel. Filing and issue usually means that there is a bug in Grommet or issues can also be filed for potential improvements to Grommet.

If you are new to Grommet I would encourage you to join the slack channel [here](http://slackin.grommet.io/). You can

[2020-08-24 23:06] ericsoderberghp commented on #4441
I'm wondering if the problem is tied to `listRef.current.focus();` inside `onFocus`. If I remove that, it seems to behave correctly.

[2020-08-24 23:27] taysea commented on #4441
Thanks for the updated examples and context on this @matthieu-stacklabs @ericsoderberghp. I'm going to take a look into that behavior.

[2020-08-24 23:37] taysea commented on #4272
@chancegraff If you change your code to `<Button label="Where is my border" primary />` then the theming will apply as expected. When you provide the content within Button as children, it is treating the button as "plain", so no border is being applied. Typically, you will want to utilize the `label` and `icon` props for button contents.

[2020-08-25 07:05] Repomn opened #4451 "[TS] Failed to set a number to Select value."
Grommet version: grommet@2.15.0

Select/index.d.ts should be

`value?: string | JSX.Element | number | object | (string | number | object)[];`

if options have number array type.

`options: (string | boolean | number | JSX.Element | object)[];`

[2020-08-25 16:25] ShimiSun commented on #4451
Thanks, would you like to make a TS contribution?

[2020-08-25 16:33] #3118 closed

[2020-08-25 16:53] halocline commented on #4450
Hi @bhavin-r-shah 👋 . Row hover style for DataTable can be defined in your theme at `table.row.hover`.
https://github.com/grommet/grommet/blob/03136c5e1a5fc55b20b41ddeb3162d2c096d25a9/src/js/themes/base.js#L1089

From there, you can specify `background` and `color` treatments.

Currently, DataTable only applies these hover styles when `onClickRow` prop is defined such as:
[code]

I believe the int

[2020-08-25 17:13] IanKBovard commented on #4274
@pLavrenov has the correct solution.  `<Box height={{ min: 'auto' }}>Hello</Box>` will fix this issue.
Currently, I don't think changing the default min-height within grommet would be a good idea because it would cause backwards compatibility issues.

[2020-08-25 17:15] ShimiSun commented on #4274
I agree with @IanKBovard , I'll be closing this issue. feel free to share more feedback.

[2020-08-25 17:15] #4274 closed

[2020-08-25 17:22] halocline commented on #4443
Hi @bhavin-r-shah. I believe the way to define this currently is in the theme via `theme.table.header.extend`.

https://github.com/grommet/grommet/blob/03136c5e1a5fc55b20b41ddeb3162d2c096d25a9/src/js/themes/base.js#L1072

You can do this by providing a fixed value:
[code]

Or, perhaps even better, by tying it to the theme's global sizing:
[code]

[2020-08-25 17:47] halocline commented on #4442
Hi  @bhavin-r-shah. Can you please elaborate on the need for removing `<thead />` from the DOM?

In your example, it looks as if this use case is to display a relatively static set of terms and definitions. If this is the case, using Grommet's `<Table />` component might be more suitable than `<DataTable />` which I would tend to reach for more in cases where I was displaying more "live" data.

ht

[2020-08-25 17:58] halocline commented on #4431
@SagarTrimukhe Would DataTable's `size` prop satisfy your needs? When provided, it defines the height of the table body and has a fixed header as the user scrolls.

https://v2.grommet.io/datatable?theme=hpe#size

[2020-08-25 18:05] halocline commented on #4444
@ShimiSun This seems like a reasonable and useful feature request. I'd recommend discussion to see if this functionality is something Grommet would like to support.

[2020-08-25 19:41] halocline commented on #4446
@bhavin-r-shah Sort icons may be defined via the theme at `theme.dataTable.icons`.

https://github.com/grommet/grommet/blob/03136c5e1a5fc55b20b41ddeb3162d2c096d25a9/src/js/themes/base.js#L683

This will take care of the "sort ascending" and "sort descending".

----------------------------------------

For "sortable, but not currently sorted upon," this would be a feature enhancement. The sort Icon

[2020-08-25 19:52] ShimiSun commented on #4446
Thank you @halocline, I think your suggestion of the existing icons API should work
https://github.com/grommet/grommet/blob/03136c5e1a5fc55b20b41ddeb3162d2c096d25a9/src/js/themes/base.js#L683

Regarding the 3rd option icon:

We would stick with the simple design of not showing an icon at all.
@bhavin-r-shah feel free to share screenshots that your team/designer thinks it will be useful to use a so

[2020-08-25 21:11] ShimiSun commented on #4392
Have you tried to see if the `replace` prop is useful in any way to serve your use case?

[2020-08-26 06:26] SagarTrimukhe commented on #4431
Size prop is not taking pixel/viewport values. The table size needs to be dynamic based on the screen resolution. Also, the constant column width is problematic for our use cases.

[2020-08-26 11:31] rohitkedari commented on #3925
Thank You Eric, Ian.

[2020-08-26 11:31] #3925 closed

[2020-08-26 15:26] chancegraff commented on #4272
Thank you so much for the information @taysea! I really appreciate it. Is this there somewhere I can read more about this in the docs? It would be super helpful to others in the future. I wasn't able to intuit that having direct descendants would flip the bit for the `plain` prop, and I suspect others would face the same issue moving forward. Making these available as composed elements would be am

[2020-08-26 16:00] halocline opened #4454 "DataTable - Ability to style table column header cell when behaving as a button"
### Expected Behavior

DataTable column header cells can have button-like actions such as sorting. For UI consistency, I would like to set the style of my column header cells to resemble my button treatments.

### Actual Behavior

Column header cells currently have default stylings, but somewhat limited ability to customize.

Specifically, I would like to achieve the following:
- Specify a cell ba

[2020-08-26 16:08] taysea commented on #4272
Thanks for the feedback @chancegraff, I will read through the docs and find an appropriate spot to add it.

[2020-08-26 16:29] IanKBovard commented on #4449
@bhavin-r-shah just trying to clarify. You want a min-width along with the use of the resizeable prop?

Is this something you're looking for?
https://codesandbox.io/s/grommet-resizable-datatable-forked-b6zs8?file=/index.js

[2020-08-26 16:34] IanKBovard commented on #4447
I assume it won't change for the reason stated in the grommet docs.

For questions like these, I recommend the [grommet slack channel](http://slackin.grommet.io/)

[2020-08-26 16:38] IanKBovard commented on #4445
@bhavin-r-shah have you checked out the storybook examples? These two examples look like they would be of use to you.

https://storybook.grommet.io/?path=/story/datatable--grouped
https://storybook.grommet.io/?path=/story/datatable--column-sizes-resizeable

[2020-08-26 18:32] ShimiSun commented on #4272
Thanks @taysea , great work! Can we close this issue or is there any other improvements we can apply for it?

[2020-08-26 18:36] taysea commented on #4272
I think a pass at the docs to specify which theme objects are available only when `button.default` is defined would be beneficial. I can do a pass at that this afternoon.

[2020-08-26 21:17] bhavin-r-shah opened #4459 "DataTable wrapped in Box"
When DataTable is wrapped within a Box, in Chrome the table takes entire width whereas in Firefox the table width is shorter. Please look into it.

Code pen - https://codesandbox.io/s/boring-fermat-msdmm?file=/src/DataTable.js
Chrome version - 84.0.4147.105
Firefox version - 78.0.2

[2020-08-26 21:25] bhavin-r-shah commented on #4449
The above sandbox solution works. The solution is to wrap the DataTable inside Grommet tag and pass the full={true} attribute. I would need to test the impact of using this attribute.

[2020-08-26 21:28] bhavin-r-shah commented on #4445
The examples are grouping rows. Our requirement is to combine cells in header and table body.

[2020-08-26 21:29] bhavin-r-shah commented on #4444
Thanks @ShimiSun . We had discussed this with Eric and he can help provide the context.

[2020-08-26 21:32] bhavin-r-shah commented on #4442
Thanks for the proposal. What use case suits best for DataTable and Table components? They look similar but the Table component looks more extensible by providing control over the table body, header etc.

[2020-08-26 21:55] halocline commented on #4442
DataTable is actually consuming Table, but enhancing it with functionality such as sorting, filtering, infinite scroll, grouping/collapsing, etc.

I would reach for DataTable the vast majority of the time. Any time a user is attempting to find a specific record, filter down a result set to records of interest (e.g. to perform batch actions), browse a data set for patterns, assemble a data set for

[2020-08-26 22:32] #4005 closed

[2020-08-26 22:37] deniselashlley opened #4460 "Tab - active props is no longer working"
We created a general tab style in the main theme, however want to override the active style in a specific component using props.active. It works fine in version 2.14.0. Updated to the latest version and no longer works with props.active

### Expected Behavior

The tab button should show the overriding background-color when active=true/false

### Actual Behavior

the background color uses the defau

[2020-08-27 01:26] ShimiSun opened #4461 "Preact support effort - we need your inputs"
Due to the [PR filed to improve Preact support](https://github.com/grommet/grommet/pull/4346)
We would like to understand what is the current demand for supporting Preact around the community.

Currently, we rather spend our efforts and resources on higher-profile requirements and enhancements, and unfortunately, Preact support isn't part of our backlog -- if you would like grommet to invest more

[2020-08-27 01:29] ShimiSun commented on #4460
Adding @jcfilben comment from [Slack](https://grommet.slack.com/archives/C04LMHN59/p1598483127016400?thread_ts=1598439935.015400&cid=C04LMHN59):

Hey Denise, I found this PR that was merged in the latest release. It mentions that previously active was passed to Tab as a prop via clone child. Now active is passed via TabsContext . I think that this is why props.active is not working. I think that t

[2020-08-27 01:35] ShimiSun commented on #4449
Feel free to reopen if needed.

[2020-08-27 01:35] #4449 closed

[2020-08-27 01:38] #4447 closed

[2020-08-27 01:39] ShimiSun commented on #4447
@bhavin-r-shah I agree with @IanKBovard, please bring up this issue on your call with eric to explain your use case and see how it can be addressed. Or file a new issue with the detailed use case and designs.

[2020-08-27 01:43] ShimiSun commented on #4431
@SagarTrimukhe this enhancement was addressed on the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F), feel free to give it a try and reopen the issue if needed. Here is a storybook example for reference https://storybook.grommet.io/?path=/story/datatable--fill-and-pin

[2020-08-27 01:43] #4431 closed

[2020-08-27 05:10] LiveFreeAndRoam opened #4462 ""Text truncate" requires it be enclosed in Box or similar"
Also see discussion at: https://grommet.slack.com/archives/C09QQEG69/p1598398016026100

Perhaps this is just a documentation problem, or perhaps the Grommet `Text` component ought to be fixed to apply the appropriate CSS to ensure truncate always works or maybe both documentation and bugfix :wink:.

### Expected Behavior

`<Text truncate>` will always truncate text.

### Actual Behavior

The `<Tex

[2020-08-27 11:03] moodele opened #4463 "DateInput and Calendar Bug"
### Expected Behavior

Navigating the DateInput / Calendar month and selecting a date should work perfectly

### Actual Behavior

When navigating forward the months of the calendar and going backwards to a previous month still shows calendar of the current navigated month.

### Steps to Reproduce

1. In calendar control click the forward arrow like twice or thrice
2. Try navigating backward by one

[2020-08-27 15:04] ericsoderberghp commented on #3771
What is the design scenario driving this? If the non-modal Layer is something like a notification toast, I don't see Esc or clicking outside being a reasonable way to close it. So, what is a scenario where the Layer isn't modal, meaning it doesn't have focus and the user is free to interact with the page underneath, where interacting with the page should make the Layer go away?

[2020-08-27 15:56] ericsoderberghp commented on #4460
It looks like we should have passed `active` onto StyledTab: `<StyledTab active={active} />`.

[2020-08-27 20:01] halocline opened #4465 "Ability to Specify RadioButton Check Size"
### Expected Behavior

Would like to be able to specify the check size of a RadioButton in my theme.

### Actual Behavior

My [design](https://www.figma.com/file/aZyY606ENQedz4FXugdzgS/HPE-Radio-Button-Group-Component?node-id=77%3A323) calls for a 16x16 check (r=8), but the default icon is 12x12 (r=6).

Related Issue: https://github.com/hpe-design/design-system/issues/851

[Proposal](https://githu